[2022-03-31 09:20] wangxinxin08 commented on #5538
除了num_max_boxes在PadBox中没有同步改过来之外，其他应该不影响训练。所以PaddleDetection的版本是什么？

[2022-03-31 09:21] wangxinxin08 commented on #5550
C:\Program Files\NVIDIA\TensorRT-7.2.1.6\**lib** 添加到环境变量试下

[2022-03-31 09:24] wangxinxin08 commented on #5551
你修改的是哪里的nms_thresh啊？另外这几个框(颜色有点难以区分)是同一个类别吗？

[2022-03-31 09:28] liuzimo opened #5552 "[BUG]"
## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?

(py36) F:\desk\PaddleDetection-release-2.4>python deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/picodet_s_320_pedestrian --keypoint_model_dir=output_inference/tinypose_128x96 --video_file=test.mp4 --device=GPU

fps: 30, frame_count: 961
detect frame: 1
detect frame: 2
detect frame: 3
detect frame: 4
d

[2022-03-31 09:43] Victoria-1 commented on #5546
我把从头开始训练的数据直接保存下来用excel画出来了，才4个epoch就已经这样了
![image](https://user-images.githubusercontent.com/35481439/161020305-4018a8fd-020e-4064-8f44-b47a850aaa23.png)

<img width="751" alt="image" src="https://user-images.githubusercontent.com/35481439/161020100-e2fcd721-c4e3-4c52-9308-96a7c7a4464b.png">
我的参数设置
![image](https://user-images.githubusercontent.com/35481439/161020588-77b41f4a-f7e9-4bd0-9bc9-44ceb

[2022-03-31 09:45] bzcl commented on #5538
请问您说的PaddleDetection的版本是指什么

[2022-03-31 10:12] Wei-JL opened #5554 "Nano开发板，安装系统后py3.7.1 与官方的最低3.6不匹配？ 一直安装不了推理库"
Nano开发板，安装系统后py3.7.1 与官方的 https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python
最低3.6不匹配，安装conda后指定安装py版本3.6.9同样不匹配，球球了，官方大大出一个py3.7的Nanogpu推理库吧

目前安装完成nano的系统后，自带的python版本是3.7.1，安装conda之后新建环境py3.6.9，pip导入一直显示非法指令(已转核心储存)，但新建3.7以上的环境就可以正常导入py的依赖包。但是安装3.7以上的py之后，又不能安装飞桨2.2.2 cp3.6的whl了，报错不支持导入。尝试过卸载系统自带的python版本是3.7.1，但是整个linux系统直接崩了，在conda里面又不能下载py3.6.9用pip指令或者conda指令卡主好

[2022-03-31 10:20] wangxinxin08 commented on #5538
release/2.3还是release/2.4?

[2022-03-31 10:31] dongyangli-del commented on #5542
我使用PaddleDetection-2.3Release,现在可以正常跨镜头行人跟踪了,但同样的操作在PaddleDetection-Develop的默认分支无法运行.

目前的一个问题是,对于某些场景尤其是单一目标的场景,算法运行会由于异常而中断,打印余弦度量矩阵发现很多地方爆nan了:
![image](https://user-images.githubusercontent.com/62006079/161034745-2af81c1f-c67d-4a9c-af63-9177d693abbc.png)
![image](https://user-images.githubusercontent.com/62006079/161034774-48838dd6-dc5e-47a7-bab7-4a2f44f01bfc.png)

当然上述问题只在部分场景中出现,这应该与代码的健壮性较差

[2022-03-31 10:33] dongyangli-del commented on #5542
报错场景:图中给出的是典型的少目标及检测因光线或遮挡而导致部分帧缺失的典型情况:
![image](https://user-images.githubusercontent.com/62006079/161035550-f7022964-a8c2-407a-9d7d-22828933e015.png)

[2022-03-31 10:34] dongyangli-del commented on #5542
这样就是正常的:这显然表明是项目的BUG:
![image](https://user-images.githubusercontent.com/62006079/161035838-54549bed-3308-4d11-860d-a428237f5d18.png)

[2022-03-31 10:36] dongyangli-del commented on #5542
不好意思,我是原来设置为False后无法正常运行,后来就改为True了,这一点我没有事先说明,抱歉.不过现在这个问题已经解决了,应该是paddle和项目版本不匹配.

[2022-03-31 10:39] dongyangli-del commented on #5529
问题已经解决了,是paddle(>=2.2.2)与项目版本不匹配导致的数据错位

[2022-03-31 10:40] dongyangli-del commented on #5540
多目标车辆跨境跟踪已经可以使用,问题的本质是paddle版本没有满足>2.2.2,话说paddle的向下兼容做的一点也不好,我2.1.1就完全用不了了,我以为小版本肯定兼容的....

[2022-03-31 10:41] dongyangli-del commented on #4688
3.31有人吗?这个专栏别沉啊

[2022-03-31 10:41] dongyangli-del commented on #4688
@[lilith-zy](https://github.com/lilith-zy)

[2022-03-31 10:42] dongyangli-del commented on #4688
@[jerrywgz](https://github.com/jerrywgz)

[2022-03-31 10:48] Liqq1 commented on #5551
Q1：我修改的是faster_rcnn_r50.yml里面的
![2C797CDD19AD09079F4E9F237B6A7A98](https://user-images.githubusercontent.com/54054113/161037920-cba2d3cf-a928-469b-a24a-b1ed1114da18.png)

Q2: 是同一个类别的（我整个就数据集就放了一个类别）

[2022-03-31 11:11] STUSER001 commented on #5537
还有一个问题 这里检测头 目标检测 用了 iou loss  是吧 那这个 点使用啥 获得的 是 l1 loss 么？？ 代码哪里体现了呢  我就看到 IOUloss 其他 一直找不到
![image](https://user-images.githubusercontent.com/88072901/161042328-3902e628-568f-4332-8ee0-ddb4602f4d79.png)
![image](https://user-images.githubusercontent.com/88072901/161042356-eb59fce8-dce1-4a33-a5f9-42ecacbcbe31.png)

[2022-03-31 11:56] Monday-Leo commented on #5544
感谢，可以跑通！

[2022-03-31 12:03] Monday-Leo commented on #5544
请问一下模型输出的8400*6有什么具体的含义吗，为什么是这个shape？

[2022-03-31 12:48] LiaoCC0323 opened #5556 "陣列出錯"
我照著PP-Tracking Python端预测部署去執行模型基于Python去做跨镜头跟踪
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/pptracking/python/README.md
但都出現IndexError: list index out of range
![擷取](https://user-images.githubusercontent.com/88362160/161058247-6388e0ad-b468-4c78-80cd-9553d80c9565.PNG)

[2022-03-31 14:51] zgwg commented on #5455
能给个例子吗

[2022-04-01 01:03] TTgogogo commented on #5550
添加了依然有这一问题呢

[2022-04-01 02:00] song121982 opened #5558 "YOLOv3_r34量化模型导出后失去效果"
**环境：**

win11
paddlepaddle-gpu    2.2.2.post112
paddledet           2.1.0
paddleslim          2.1.0

**配置文件**

以configs/yolov3/yolov3_r34_270e_coco.yml为基础，如下：

[code]

**slim文件：**

[code]

**事故描述：**

train结束得到的非部署模型可以正常得到预测结果，但是经过export_model之后的导出模型预测没有任何效果，也没报错

导出前预测：
python tools/infer.py -c configs/yolov3/r34_vehicle.yml --infer_file=demo/03239.jpg -o weights=output/r34_vehicle6000_qat/model_

[2022-04-01 02:33] song121982 opened #5559 "YOLOv3_r34量化模型导出后丧失效果"
环境：
win11
paddlepaddle-gpu    2.2.2.post112
paddledet           2.1.0
paddleslim          2.1.0

配置文件以configs/yolov3/yolov3_r34_270e_coco.yml为基础
slim：
`slim: QAT

QAT:
  quant_config: {
    'activation_preprocess_type': 'PACT',
    'weight_quantize_type': 'channel_wise_abs_max', 'activation_quantize_type': 'moving_average_abs_max',
    'weight_bits': 8, 'activation_bits': 8, 'dtype': 'int8', 'wind

[2022-04-01 02:47] nemonameless commented on #5542
请使用最新develop或release/2.4的代码。提供的模型是用MOT17数据集训练的，无法覆盖任意场景检测，最好是用你想测的场景数据集重新训练检测。

[2022-04-01 02:50] nemonameless commented on #5510
请使用最新develop或release/2.4的代码。

[2022-04-01 02:55] wangxinxin08 commented on #5550
@TTgogogo  你的报错是说tensorrt动态库无法加载，动态库一般存在于lib目录，你可以先检查下C:\Program Files\NVIDIA\TensorRT-7.2.1.6\lib 目录是否存在，再确认下路径设置成功，再运行试试

[2022-04-01 03:03] wangxinxin08 commented on #5544
这个是最大可能输出的框的数目，8400是anchor的个数

[2022-04-01 03:06] wangxinxin08 commented on #5537
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/losses/yolo_loss.py#L154 loss_xy和loss_wh表示的是l1 loss

[2022-04-01 03:19] jerrywgz commented on #5551
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/faster_rcnn/_base_/faster_rcnn_r50.yml#L66 可以修改这里的nms阈值，rpn部分的阈值只影响第一阶段产生的proposal，可以在网络后处理的地方调整

[2022-04-01 03:20] #5559 closed, assigned to nobody

[2022-04-01 03:23] wangxinxin08 commented on #5554
收到，我们向Paddle Inference反馈下

[2022-04-01 03:25] song121982 commented on #5554
同求jetson agx python3.7推理库，自已一直编译失败，jetson上面安装miniconda又只能新建3.7以上的python环境，而paddle官方又只出了3.6的预测库，只有jetpack原有的基环境是3.6.9的，一旦崩了就没了哇，，， @wangxinxin08

[2022-04-01 03:31] song121982 commented on #5476
同求注意力机制

[2022-04-01 03:39] Wangzheee commented on #5554
请问是用 JetPack 4.6.1 预装系统，发现jetson自带的python就是3.7吗？

[2022-04-01 03:40] zhiboniu commented on #5552
你好，请在det_keypoint_unite_infer.py的L45行检查一下records是否为空。
print(records)打印一下看看

[2022-04-01 03:50] LMR2018 opened #5561 "ImportError: /root/anaconda3/envs/py37/lib/python3.7/site-packages/paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE"
ImportError: /root/anaconda3/envs/py37/lib/python3.7/site-packages/paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE

怎么解决这个问题？以前能用的，后来Ubuntu系统有东西更新后就出这个问题了，当时模型还能继续训练

Error: Can not import avx core while this file exists: /root/anaconda3/envs/py37/lib/python3.7/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2022-04-01 03:51] LMR2018 commented on #5561
(py37) root@alg-ubuntu:/home/alg/ai# gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/8/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 8.5.0-0ubuntu4' --with-bugurl=file:///usr/share/doc/gcc-8/README.Bugs --enable-languages=c,ada,c++,go,brig,d,

[2022-04-01 04:22] jeyoucy opened #5562 "[ppyoloe] TypeError: __init__() got an unexpected keyword argument 'epochs'"
## 📖  ppyoloe 配置文件参数无法读入

在下载了官方的ppyoloe模型以及配置文件后，本地推理了一下，出现如下错误：
![2022-04-01 12-11-41屏幕截图](https://user-images.githubusercontent.com/41880505/161194125-b61df9b6-b96e-4689-830c-58a8442f929c.png)

于是查找了一下'epochs'在哪个位置，发现在如下位置：
![2022-04-01 12-11-56屏幕截图](https://user-images.githubusercontent.com/41880505/161194243-1bad06b9-7515-4d7f-9695-7c1d79aa1136.png)

本地的paddle版本都是没什么问题的(截至2022-4-1)：
![2022-04

[2022-04-01 04:23] nemonameless commented on #5540
paddle2.2大版本和2.1个别OP有较大差别，2.2以内的小版本差别不大。安装推荐按照官网的最新稳定版。

[2022-04-01 04:25] jeyoucy commented on #5562
推理使用的是tools里的infer.py  指定的ppyoloe_l模型及参数

[2022-04-01 04:38] nemonameless commented on #5556
配置文件有没有更改？几个测试视频的名字是什么呢？可能是视频名字和你配置的cameras_bias没有对应上。

[2022-04-01 05:15] wangxinxin08 commented on #5562
paddledet的版本太低了，这个参数是PaddleDetection 2.4引入的，可以考虑pip uninstall paddledet，并git clone最新的PaddleDetection/release/2.4试下

[2022-04-01 05:42] zzcgithub commented on #5535
![image](https://user-images.githubusercontent.com/13117136/161202161-7c3a40d8-ac64-45d5-8693-a65fef2606ac.png)

[2022-04-01 05:43] zzcgithub commented on #5535
nms之后的bbox数量是动态的，转为静态图后会报错，这种情况怎么解决呢？

[2022-04-01 05:54] LiaoCC0323 commented on #5556
我的配置文件和視頻都是用
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/pptracking/python/README.md
提供的沒有自己額外更動

![擷取](https://user-images.githubusercontent.com/88362160/161204472-9b9cc1da-713c-43ce-8ac3-09135a62f20a.PNG)

[2022-04-01 06:11] wangxinxin08 commented on #5561
是gcc版本原先是8.2吧，现在是更新到8.5了是吗？

[2022-04-01 06:19] LMR2018 commented on #5561
@wangxinxin08 以前是10.3.0的，后来我好像看到变成11点多的版本，后面网上看了一些帖子，我再降为8.5的，不过还是出现这个问题，不知道是什么原因出现的这个错误？

[2022-04-01 06:20] Wei-JL commented on #5554
您好，预装的系统是官方下载的，应该是最新的。能确定一点的是 系统自带的python就是3.7.1  而且删除后 整个linux会在15-20分钟崩了 无法进入系统

[2022-04-01 06:23] baoachun commented on #5535
麻烦提供下模型呢

[2022-04-01 06:37] violetweir opened #5563 "关于PPYOLOE的细节问题"
您好，我最近写了两个关于PPYOLOE的介绍项目，但是我害怕有一些地方讲的不太对，不知道能不能帮忙看一下，哪里不对的地方我去进行修改

[PPYOLOE 1 Backbone](https://aistudio.baidu.com/aistudio/projectdetail/3700074)
[PPYOLOe 2 Neck](https://aistudio.baidu.com/aistudio/projectdetail/3722610)

[2022-04-01 06:41] Wangzheee commented on #5428
哦哦，但这个log还是不完整，被封装了，可以去掉这一行https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/infer.py#L677，打开log，跑一下，麻烦提供一下完整的log~谢谢

[2022-04-01 06:41] violetweir commented on #5483
好的满麻烦您了

[2022-04-01 06:41] #5483 closed, assigned to ghostxsl, wangxinxin08

[2022-04-01 06:44] Wangzheee commented on #5554
哦哦，好的，由于jetpack最新更新，我们发布的包还没来得及更新，最近两周内我们会根据 jetson 最新的环境更新包，感谢支持~

[2022-04-01 06:46] wangxinxin08 commented on #5561
报错信息显示是GLIBC版本或者GCC版本问题，可以回退GLIBC版本试试

[2022-04-01 06:49] Wangzheee commented on #5554
刚问了下发版计划，2.3会在两周后发版，建议使用 paddle 2.3 + jetson最新的环境进行使用，python3.7的支持会在 2.3 同步发包

[2022-04-01 07:06] Wei-JL commented on #5554
太感谢了，我想了很多办法解决。一周了 实在解决不了  重装系统都有三次 ，多谢

[2022-04-01 07:43] #5550 closed, assigned to nobody

[2022-04-01 07:43] jiangxinufo commented on #4721
voc转coco数据集参数提供下呗，谢谢

[2022-04-01 07:52] TTgogogo opened #5565 "使用TRT模式时初始化CUDA失败"
Error Message Summary:
ExternalError: CUDA error(999), unknown error.

\paddle\fluid\platform\gpu_info.cc:108
请问是什么原因？有解决办法吗？

[2022-04-01 08:00] yghstill commented on #5558
@song121982 量化模型导出后，在GPU上预测请使用TensorRT，设置run_mode='trt_int8'即可。（需要安装带有TensroRT的Paddle）具体可以查看文档：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/TENSOR_RT.md

[2022-04-01 08:21] LMR2018 commented on #5561
@wangxinxin08 我现在的系统是Ubuntu21.10，能不能正常支持paddle-gpu的使用？

[2022-04-01 08:23] jeyoucy commented on #5562
paddledet更换为2.4.0后可用了，多谢

[2022-04-01 08:26] Dandelion111 opened #5566 "新版picodet简化时出错"
请问新版picodet简化出现如下错误是什么原因
![image](https://user-images.githubusercontent.com/48303408/161225489-7ca7e6c4-a3e7-4280-9d62-49ebb2631bfd.png)

[2022-04-01 08:35] dengxinlong opened #5567 "想用一下贵方的实验结果"
![image](https://user-images.githubusercontent.com/32217129/161226789-fe8fb964-0711-41d4-8f5e-f27ae6ff980e.png)
见 上图的结果，想在论文中用一下贵方上面圈出来的实验结果，不知道可不可以，如果可以的话是否需要进行引用（引用哪篇文章）

[2022-04-01 08:44] #5565 closed, assigned to nobody

[2022-04-01 08:46] TTgogogo opened #5568 "CPU模式切换为GPU模式，加速并不明显"
将PaddleDetection::ObjectDetector det(FLAGS_model_dir, "CPU");变为PaddleDetection::ObjectDetector det(FLAGS_model_dir, "GPU", false, 1, "trt_fp16");
推理变得更慢，半天都没有显示结果。是设置不对吗？

[2022-04-01 08:54] lyuwenyu commented on #5563
优秀 会安排同学看一下

[2022-04-01 08:56] lyuwenyu commented on #5567
直接引用ppdet库吧
[code]

[2022-04-01 08:59] lyuwenyu commented on #5567
可以直接ppdet库吧

[code]

[2022-04-01 09:00] lyuwenyu commented on #5568
用trt 推理的话会先进行engine的生成

[2022-04-01 09:06] TTgogogo commented on #5568
@lyuwenyu 改成PaddleDetection::ObjectDetector det(FLAGS_model_dir, "GPU", false, 1, "paddle");就没那么慢了，但是相比CPU模式，加速不是很明显的，还有加速的办法吗？

[2022-04-01 09:40] yghstill commented on #5566
由于新版PicoDet支持了batch size大于1，并且后处理操作放进了网络中，所以导出时需请指定动态shape：
[code]
PS：转出onnx的所有demo正在升级中，即将发布，之前的demo暂时无法使用，敬请关注~

[2022-04-01 11:55] song121982 commented on #5558
@yghstill 以前的量化导出模型在不使用‘run_mode='trt_int8'’指令的情况下，在没有tensorRT的设备上也是可以预测的啊，只不过没有加速而已，这次的导出模型不知道为什么一点效果都没有。

[2022-04-01 12:15] #5562 closed, assigned to nobody

[2022-04-01 12:17] wangxinxin08 commented on #5561
可以拉取docker，避免本地环境的问题https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html#linuxdocker

[2022-04-01 12:18] bbilixzc commented on #5355
遇到了相同的问题，请问您解决了吗？

[2022-04-01 12:26] Dandelion111 commented on #5566
我看那说明的意思后处理部分可以选择是否导出，如果选择导出的话，之前的demo可以用吗
![image](https://user-images.githubusercontent.com/48303408/161262904-af938022-e231-40ee-a147-4005d3814ac4.png)

[2022-04-01 12:55] bbilixzc opened #5572 "[BUG]敏感度分析脚本运行报错求助"
按照该文档进行卷积层敏感度分析：
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/static/slim/sensitive

在执行文档中的以下命令时报错：ImportError: cannot import name 'create_reader' from 'ppdet.data.reader'
![1648817635(1)](https://user-images.githubusercontent.com/40461420/161267506-daec22fc-ca91-4bd3-939f-c0f590ba59e7.png)

备注：我是在 AI studio 中使用的 PaddleDetection2.4 版本

[2022-04-02 01:56] qingqing01 commented on #5568
@TTgogogo

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/cpp/docs/linux_build.md

具体的设置参数参考这里。您设置没问题。但看速度，需要调过前几轮启动时间，再统计时间。 采用TensorRT启动时间较久，需要等一下。

[2022-04-02 02:15] Kus66 commented on #5286
有解决方案了吗

[2022-04-02 02:42] TTgogogo opened #5573 "Object detector开启TRT模式反而更慢"
设置ObjectDetector为GPU/TRT模式：PaddleDetection::ObjectDetector det(FLAGS_model_dir, "GPU", false, 1, "trt_fp16");

并将use_static设为true:     config.EnableTensorRtEngine(1 << 30,
                                  batch_size,
                                  this->min_subgraph_size_,
                                  precision,
                                  true, //false 改为 true

[2022-04-02 02:45] song121982 commented on #5558
@yghstill 我又在[https://www.paddlepaddle.org.cn/inference/v2.2/user_guides/download_lib.html#windows](url)重新下载名为`cuda11.2_cudnn8.1_avx_mkl-trt8.0.1.6`的python预测库，也完成了tensorRT下lib目录的环境变量添加。
`pip install -r requirements.txt`
`python setup.py install`
都执行完成，但在框架测试过程中报错：
`python ppdet/modeling/tests/test_architectures.py`

[code]

[2022-04-02 02:52] song121982 commented on #5558
换了一台win10电脑，同样下载的[https://www.paddlepaddle.org.cn/inference/v2.2/user_guides/download_lib.html#windows](url)中的`cuda11.2_cudnn8.1_avx_mkl-trt8.0.1.6`预测库，也是导出模型前可以正常预测，导出模型后预测没有任何效果，添加指令`--run_mode=trt_int8`报错，改用`--run_mode=trt_fp16`虽然不报错了，但是结果是下面这样的，预测框都变成了贯穿图像的横线，都是乱的

[2022-04-02 02:57] #5568 closed, assigned to nobody

[2022-04-02 03:04] yghstill commented on #5572
@bbilixzc 卸载paddledet再试下吧，另外可以不尽兴敏感度分析，直接使用L1和FPGM进行裁剪。

[2022-04-02 03:15] song121982 commented on #5558
又在[https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release](url)下载的`win-cuda11.2-cudnn8.2-mkl-vs2017-avx`的预测库同样卡在了`python ppdet/modeling/tests/test_architectures.py`
这次是另一种报错：
[code]

[2022-04-02 03:18] nemonameless commented on #5572
在static目录下的为原先的静态图代码。你安装的paddledet是动态图的，pip uninstall paddledet。
#5355

[2022-04-02 03:57] nemonameless commented on #5355
建议拉取最新代码，pip uninstall paddledet，然后再安装一下 python setup.py install。

[2022-04-02 06:03] m00nLi opened #5574 "[BUG]PPYOLOE训练问题"
训练yoloe_s报错,提示：
[code]

[2022-04-02 06:46] TTgogogo commented on #5390
@jerrywgz mask可视化后，请公告之~

[2022-04-02 08:05] zoooo0820 commented on #5552
该问题已修复，可以更新下代码再试试

[2022-04-02 08:08] nemonameless commented on #5574
请拉取最新代码运行，提供训练命令、版本信息、做了什么更改，以及更多的报错截图信息，谢谢。

[2022-04-02 08:48] bbilixzc commented on #5572
感谢回复！

我安装静态图版本试一下。

[2022-04-02 09:16] sdreamforchen commented on #5563
您好，从源代码class CSPResStage(nn.Layer)看，论文中的Figure 3(d)是否画错了。右边分支的输入应该就是x，而不是（1X1）后的值吧。

[2022-04-02 11:19] jiaowei123456 opened #5577 "SNIPER训练自己数据集显示类别错误"
![(GYE)IQM JHB(AOUT%P)5T3](https://user-images.githubusercontent.com/70888273/161380703-f70386de-a40b-4052-b485-773abeea39fb.png)
使用sniper训练成功，但是模型导出之后检测种类不是我想要的，而是开始的person，但是检测的位置是对的。是不是我配置哪里没有修改？
![W{O$X@6LG(4SWY4ZK}9C4HT](https://user-images.githubusercontent.com/70888273/161380789-b0f36c64-ed13-4b61-bea6-2e66396ba5a4.png)

[2022-04-02 12:27] nemonameless commented on #5577
导出是和TestDataset有关，需要保证TestDataset的anno_path配置正确。

[2022-04-03 01:36] jiaowei123456 commented on #5577
谢谢，已解决。原始TestDataset中没有anno_path，需自己添加

[2022-04-03 02:48] violetweir commented on #5563
这个我看了一下在训练的时候是tensor分别经过1x1和3x3的卷积后相加，在预测的时候只经过3x3的卷积好像是，这个是我个人的理解呀，我自己看的时候记得是这样的。

[2022-04-03 02:56] #5539 closed, assigned to wangxinxin08

[2022-04-03 03:32] yghstill commented on #5566
@Dandelion111 如果导出的话，之前的demo用不了了，目前能用的有：paddle lite和openvino，其他的正在更新中。

[2022-04-03 13:49] Mr-ind1fferent opened #5586 "可以同步更新gitee和github两个仓库吗"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-04 03:09] Dandelion111 commented on #5566
好的，谢谢大佬

[2022-04-04 14:56] jiaowei123456 commented on #5502
你好请问pp-yolov2蒸馏怎么写配置文件？

[2022-04-04 15:09] jiaowei123456 opened #5589 "[Other General Issues]想使用蒸馏压缩ppyolov2报错"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-04 15:34] jiaowei123456 commented on #3689
请问想要用蒸馏压缩ppyolov2，配置文件应该怎么写？我这样写报错，可以请教一下吗？
_BASE_: [
  '../../ppyoloe/ppyoloe_crn_m_300e_coco.yml',
]

pretrain_weights: https://paddledet.bj.bcebos.com/models/pretrained/CSPResNetb_m_pretrained.pdparams

slim: Distill
distill_loss: DistillYOLOv3Loss

DistillYOLOv3Loss:
  weight: 1000

[2022-04-05 00:21] y-x-x123 commented on #5499
终于找到答案了

[2022-04-05 01:57] #5577 closed, assigned to nobody

[2022-04-05 13:34] Wei-JL opened #5590 "Process finished with exit code -1073741819 (0xC0000005)"
复现yolov4 在计算iou损失的时候  代码调试 什么也没做 内存暴涨 直到报 **Process finished with exit code -1073741819 (0xC0000005)** 的错  非常奇怪  调试时 运行完paddle.argmax(self.calculate_iou(gt_box, anchor_shapes), axis=-1)  找到iou最大下标后 for循环完 卡主 什么也没见到执行 内存一直上涨到爆  知道是内存溢出 也看了复现指南https://github.com/PaddlePaddle/models/blob/release%2F2.2/tutorials/article-implementation/ArticleReproduction_CV.md
里面的几个方法  试过了 都没用

[2022-04-05 15:36] violetweir opened #5591 "新版本PPYOLOe出现问题·1[Other General Issues]"
<img width="1548" alt="image" src="https://user-images.githubusercontent.com/78856426/161791175-877e5ecf-5676-4335-9fa7-a9f57c57333e.png">
我尝试使用ppyoloe改了一个backbone把CSPResNet换成ConvNExt，ConvNext是我自己按照ppdet Backbone要求写的，在2.3没出过这种情况，换成2.4后就不行了

[2022-04-06 02:59] 1chang37 opened #5594 "kunlun K200报错 ：[target_wrapper.cc:27 Malloc] Check failed: (offset + size > size): 67!>18446744073709551612"
环境：ft2000+，kylinv10，python3.7
命令：python3.7 deploy/python/infer.py --model_dir=./output_inference/yolov3_r50vd_dcn_270e_coco --image_file=demo/road554.png  --device=XPU
错误信息：

XPURT /usr/local/lib64/python3.7/site-packages/paddle/fluid/../libs/libxpurt.so loaded
-----------  Running Arguments -----------
batch_size: 1
camera_id: -1
cpu_threads: 1
device: XPU
enable_mkldnn: False
image_dir: None
ima

[2022-04-06 03:11] zoooo0820 commented on #5590
这部分代码是自己写的吗？如果确定问题出在IOULoss相关的部分，可以尝试下其他使用相同Loss的模型，对比验证下具体问题的来源。

[2022-04-06 03:17] TTgogogo opened #5596 "能不能配合Cuda来加速推理过程？"
能不能自己修改部署的代码，配合Cuda来加速推理过程？有没有例子呢？

[2022-04-06 03:23] wangxinxin08 commented on #5591
如果方便的话，可以分享下代码吗？我们复现一下

[2022-04-06 03:26] wangxinxin08 commented on #5574
修改输入尺寸的话，需要在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/ppyoloe_reader.yml#L23 和 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/ppyoloe_crn.yml#L31 同步修改，或者你也可以拉取最新版的代码，最新版的代码里面对其做了易用性提升，只需修改一次即可

[2022-04-06 03:27] wangxinxin08 commented on #5589
你的slim_type不存在，可以检查下你的slim_config是否设置正确

[2022-04-06 03:30] wangxinxin08 commented on #5596
GPU模式也就是通过cuda来加速推理过程，你可以先按照官方文档https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/cpp 来运行cpu和gpu模型，之后再参考官方代码进行修改你自己的代码

[2022-04-06 03:53] m00nLi commented on #5574
1. 我那天是上午拉取的代码，用自己的数据训练，就出现上面的问题了，batch-size不一样时，上面报错的不匹配的维度也不一样。
输入尺寸没改，我那天试了我的数据集用picodet是可以正常训练的。
2. 今天早上重新拉取代码，可以正常训练了。但感觉训练有点慢，我的显卡是8*TiTan RTX 24G的，大概5万张图片，训练200轮提示大概要2天？你们用yoloe-l-640训练coco2017大概需要多长时间？

[2022-04-06 04:17] Wei-JL commented on #5590
没太明白诶~  其实在之前2个月前 我这个还能train起来  但是 中间有些轮次loss是nan  我找了很久没找出来 就先搁置了  现在知道官方有复现指南 我再打开了  发现train不起来了  内存暴涨  我也没改过代码

[2022-04-06 04:37] jiaowei123456 commented on #5589
谢谢你的回复，不过我的slim_config如下图：
![ZY~61XD(A_~ _KO@5HIZVNP](https://user-images.githubusercontent.com/70888273/161895752-3db24348-1e75-4d5c-8984-23bcc8108b47.png)
里面是有slim的。
而且我使用贵方提供案例对YOLOv3-MobileNetV1进行蒸馏，版本为paddle2.2.2，paddleslim2.2.2，config文件未修改，仅改变数据集路径，依旧报相同错误：
![QQ截图20220406123116](https://user-images.githubusercontent.com/70888273/161896179-112472cf-8a78-4605-b1b1-3505c9e88c76.png)
不知道是为什么？

[2022-04-06 04:46] jiaowei123456 commented on #5589
谢谢你的回复，不过我使用的slim_config如下图：
![ZY~61XD(A_~ _KO@5HIZVNP](https://user-images.githubusercontent.com/70888273/161897012-6cd8ac20-09d8-4fe7-b640-92a646899a9f.png)
里面是有slim的。
而且我使用贵方提供的案例以及slim_config对YOLOv3-MobileNetV1进行压缩，paddle版本2.2.2，paddleslim版本2.2.2，仅改变数据集路径其他config均未修改，命令行：
python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_270e_coco.yml --slim_config configs/slim/distill/yolov3_mobilen

[2022-04-06 04:56] jiaowei123456 commented on #5589
@wangxinxin08
感谢你的回复，不过我使用的slim_config如下图：
![ZY~61XD(A_~ _KO@5HIZVNP](https://user-images.githubusercontent.com/70888273/161898284-51be6062-a01e-431f-8513-5362893d88c0.png)
里面好像是有slim的。
然后我使用贵方提供的案例和slim_config对YOLOv3-MobileNetV1进行复现，paddle版本2.2.2，paddleslim版本2.2.2，仅修改数据集未改变其他config文件，命令行如下：
python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_270e_coco.yml --slim_config configs/slim/distil

[2022-04-06 05:28] 923629877 opened #5600 "正常训练一个epoch后，不能保存模型，直接结束训练"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-06 06:36] zoooo0820 commented on #5590
之前的训练和当前的区别在哪里，是代码做了改动，还是更新了Paddle版本或是PaddleDetection的版本呢。可以控制变量做一下对比

[2022-04-06 06:42] 923629877 commented on #2475
你好，请问解决了吗

[2022-04-06 07:07] wangxinxin08 commented on #5574
PP-YOLOE-l训练COCO大概需要4天多的时间

[2022-04-06 07:10] FAFUzxf opened #5602 "能否出一个带读paddlepaddledetction代码的教程"
paddlepaddledetction的代码对于中低阶玩家感觉是真的难读懂，都不了解他要干什么，大而全的模型库虽然啥都有，但是根本不利于新手在上面改模型，写创意。

[2022-04-06 07:14] Wei-JL commented on #5590
没有升级  我刚刚发现我c盘满了 全是python.exe.1168.dmp 这种文件  占几个G  系统缓存 应该就是我跑这个代码的问题
请问有见过吗

[2022-04-06 07:32] Wei-JL commented on #5590
请问我可以把项目给您看一下吗  我调试他都没见有问题 一直卡主  确实不知道怎么解决了   第一次遇见这样的问题  卡2天了  一般报错我还是能很快解决的  这个确实不知道问题在哪

[2022-04-06 07:56] Wei-JL commented on #5590
#!/usr/bin/env python3
# -*- coding:utf-8 -*-
# Copyright (c) Megvii, Inc. and its affiliates.

import paddle
import paddle.nn as nn
import paddle.nn.functional as F

class IOUloss(nn.Layer):
    def __init__(self, reduction="none", loss_type="iou"):
        super(IOUloss, self).__init__()
        self.reduction = reduction
        self.loss_type = loss_type

    def forward(self, pred, target):

[2022-04-06 08:19] shenjun1994 commented on #2475
没有，我的windows环境下，更新了PaddlePaddle和PaddleDetection，依旧是在第一轮的最后一个iter退出

[2022-04-06 08:20] shenjun1994 commented on #2475
没有，我的windows环境下，更新了PaddlePaddle和PaddleDetection，依旧是在第一轮的最后一个iter退出

[2022-04-06 09:25] jo-dean opened #5606 "在Jetson nano2g 推理时间慢"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/  硬件是Jetson nano 2g
paddle version

[2022-04-06 09:43] JoyFuture opened #5608 "可以将新版的代码同步到gitee上吗"
访问github速度不稳定，下载速度太慢。但是发现gitee上的内容比较滞后，可以及时更新吗

[2022-04-06 10:03] Ame04 opened #5611 "[Other General Issues] Concat error in eval script when using picodet with Widerface"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
I try to train pi

[2022-04-06 10:17] zoooo0820 commented on #5590
上面格式已经乱了，另外从代码很难直接看出问题在哪里。能否尽量给出最小化可复现这个问题的代码呢？另外可以提供一下具体的运行环境（paddle/paddledet版本，系統、cuda版本等等）

[2022-04-06 10:23] Wei-JL commented on #5590
系统win11 paddle版本如下
import paddle
print("paddleversion", paddle.__version__)
paddle.utils.run_check()

输出：
paddleversion 0.0.0
Running verify PaddlePaddle program ...
W0406 18:21:44.535634 18644 device_context.cc:479] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.2
W0406 18:21:44.543635 18644 device_context.cc:497] device: 0, cuDNN Version: 8

[2022-04-06 10:28] Wei-JL commented on #5590
paddle                        1.0.2                   pypi_0    pypi
paddlepaddle             2.2.0                   pypi_0    pypi
paddlepaddle-gpu      0.0.0.post112     pypi_0    pypi
这是我刚刚在anaconda上复制的

[2022-04-06 10:33] Wei-JL commented on #5590
您好，我把代码上传到了BML上，会报错 。不太清楚为什么自己电脑上不会 。可能跟python版本有关系  我试了3.6版本也会报错。我这个是3.8版本。

Traceback (most recent call last):
  File "train.py", line 231, in <module>
    epoch_step, epoch_step_val, gen, gen_val, end_epoch, Cuda)
  File "/home/aistudio/yolov4/utils/utils_fit.py", line 42, in fit_one_epoch
    loss_item, num_pos = yolo_loss(l, outputs[l], targets)
  File "/opt/conda/envs/python35-paddle120-env/

[2022-04-06 10:39] zoooo0820 commented on #5590
理论上python版本不会影响的，0.0.0通常是develop包无法确定paddle的版本情况，优先保证paddle版本一致。也可以先根据当前的报错信息debug。

[2022-04-06 10:41] Wei-JL commented on #5590
非常感谢~~  还有一个问题 就是我电脑一买来 对着视频安装了cuda11.4  最新的 然后发现paddle那时候最多出了11.2吧？   这样安装会有什么问题出现吗

[2022-04-06 10:50] zoooo0820 commented on #5590
目前官方支持的版本如下
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

从前述信息来看，win11,cuda11.4不在列表中，虽然仍然可以运行，但是并没有经过严格测试，可能会有未知的错误。

[2022-04-06 10:55] Wei-JL commented on #5590
非常感谢~~~ 我重新建了一个anaconda仓库 ，现在能报错了  不再是内存溢出异常终止了
paddleversion 2.2.2
Running verify PaddlePaddle program ...
W0406 18:49:31.769846 21912 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.2
W0406 18:49:32.035907 21912 device_context.cc:465] device: 0, cuDNN Version: 8.2.
PaddlePaddle works well on 1 GPU.
PaddlePaddle works w

[2022-04-06 10:58] Wei-JL commented on #5590
正好还有个问题~   我可以一起问了吗

torch : fg_mask[fg_mask.clone()] = fg_mask_inboxes
 paddle ： fg_mask[fg_mask.clone()] = fg_mask_inboxes

File "D:\PyCharm\YOLO\paddle_fuxian\yolox_paddle\nets\yolo_training.py", line 447, in dynamic_k_matching
    fg_mask[fg_mask.clone()] = fg_mask_inboxes
  File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\fluid\dygraph\varbase_patch_methods.py", line 637, in __se

[2022-04-06 11:18] zoooo0820 commented on #5590
2.2 的paddle应该是支持这种写法的，麻烦再确认一下版本是否对得上呢。如果还不行，请给出各变量具体的值供复现问题。

[2022-04-06 11:19] Wei-JL commented on #5590
好嘞~  我试试  刚刚试了不行的 看能不能最小化复现

[2022-04-06 14:18] violetweir commented on #5591
请问怎么分享呀

[2022-04-06 14:18] violetweir commented on #5591
请问怎么分享给您呀

[2022-04-06 14:26] dengxinlong opened #5613 "[Other General Issues] 利用paddle.summary打印模型参数量和计算量"
## 描述问题/Describe the bug
A clear and concise description of what the bug is.
利用paddle.summary打印模型参数量和计算量，但是打印失败，我的理解是在实例化模型之后使用该api，但是失败了，不知道应该把该代码插入到哪个位置处？

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?

[code]
3. 您是否更改过代码或配置文件？您是否理解您所更改的内容？还请您提供所更改的部分代码。/Did you make any modifications on the code or config? Did you understand what you have modified? Please provide the codes

[2022-04-07 02:07] yghstill commented on #5611
We will fix this soon.

[2022-04-07 02:22] jerrywgz commented on #5608
https://gitee.com/paddlepaddle/PaddleDetection/tree/release%2F2.4/ 已经更新到最新版，感谢反馈

[2022-04-07 02:23] jerrywgz commented on #5586
https://gitee.com/paddlepaddle/PaddleDetection/tree/release%2F2.4/ 已经更新到最新版，感谢反馈

[2022-04-07 02:25] WTtree-lz opened #5614 "picodet c++部署 使用tensortrt问题"
up！您好！
本人在使用win10，vs2019，部署picodet模型时，采用gpu和tensortrt加速！模型加载的时候报错！
对应的模型参数我也设置了，

mode: trt_fp16
draw_threshold: 0.5
metric: COCO
use_dynamic_shape: true
arch: GFL
min_subgraph_size: 3

config.FLAGS_run_mode = "trt_fp16";
config.FLAGS_batch_size = 1;
config.FLAGS_gpu_id = 0;
config.FLAGS_gpu_mem = 4000;
config.FLAGS_trt_min_shape = 1;
config.FLAGS_trt_max_shape = 1280;
config.FLAGS_trt_opt_shape =

[2022-04-07 02:37] heavengate commented on #5600
请问你训的哪个模型呢，是不是配置文件里把保存模型间隔的`snapshot_iter`设置得大于1了

[2022-04-07 03:17] wangxinxin08 commented on #5591
有相关的repo吗？我直接拉取代码或者直接把代码打包放到网盘里面

[2022-04-07 03:30] 923629877 commented on #5600
keypoint这个模型，应该是和系统不兼容，其他的电脑上可以保存，跟snapshot_iter应该没关系

[2022-04-07 04:58] jiaowei123456 commented on #5502
@mengjing556
你好，我也遇到这个问题：
![QQ截图20220407125657](https://user-images.githubusercontent.com/70888273/162123115-48446a69-8731-4971-82cb-f980f48884f4.png)
请问你解决了吗？望回复。

[2022-04-07 05:01] jiaowei123456 commented on #5589
@RachelXu7
你好，我发现在ppdet/slim/__init__.py下面39行处加入cfg['slim_type'] = cfg.slim可解决此报错，不过仍然报错：
![QQ截图20220407125657](https://user-images.githubusercontent.com/70888273/162123550-cb109121-ec0a-42b8-b5ee-3155e4944df5.png)
不知道应该怎么处理？

[2022-04-07 05:10] RachelXu7 commented on #5589
load_meanstd 应该是ppdet新增的，slim未来得及适配。如果你着急的话，可以先把这段注释掉，或者增加一条判断
elif 'slim' in cfg and cfg['slim_type'] == 'Distill':
            self.model.student_model.load_meanstd(cfg['TestReader'][
                'sample_transforms'])

[2022-04-07 05:23] jiaowei123456 commented on #5589
@RachelXu7
谢谢你的回复，请问可以使用之前版本的paddledetection可以完成压缩吗？比如2.3或2.2。

[2022-04-07 06:11] keyxuliang commented on #5574
请问这个是什么原因啊？只是换了自己的数据
`  pred_bboxes = self._bbox_decode(anchor_points_s, pred_distri)
  File "/ppdet/modeling/heads/ppyoloe_head.py", line 237, in _bbox_decode
    pred_dist = F.softmax(pred_dist.reshape([b, l, 4, self.reg_max + 1
  File "/python3.8/site-packages/paddle/tensor/linalg.py", line 139, in matmul
    return op(x, y, 'trans_x', transpose_x, 'trans_y', transpose_y)
OSError: (External) CU

[2022-04-07 06:34] wangxinxin08 commented on #5574
建议使用PaddlePaddle 2.2.2版本以及PaddleDetection release/2.4训练哈

[2022-04-07 06:45] keyxuliang commented on #5574
对的，两个版本都是和你说的是一致的，我训练solov2都没问题，同样的数据拿来训练ppyoloe就报这个错，今天上午才拉的最新的代码

[2022-04-07 06:52] RachelXu7 commented on #5589
2.2版本还没有load_meanstd，是可以的。

[2022-04-07 06:58] wangxinxin08 commented on #5574
我用上述版本并没有报错哈，刚刚验证过，建议先检查下环境，包括Paddle版本以及与cuda版本和cudnn版本是否匹配，PaddleDetection版本

[2022-04-07 07:44] Dandelion111 opened #5624 "picodetv2转openvino模型时出错"
错误如下：
![image](https://user-images.githubusercontent.com/48303408/162146927-c0d9d8af-bc9c-478e-b6ed-5c13d9d9b51f.png)
请问大佬如何解决？

[2022-04-07 08:33] sdreamforchen commented on #5563
这是一前一后，是串行，不是并行的可以re-parameter。

[2022-04-07 09:46] song121982 opened #5626 "ppyolo/yoloV3模型r34量化导出模型无法正常预测"
- 使用的功能：

使用ppyolo/yoloV3中r34模型搭配slim量化训练

- 环境：

paddlepaddle2.2
paddledetection2.1
paddleslim2.1

- 问题：

训练过程没有问题，边训练边评估mAP可以达到80+
模型导出前，使用训练得到的动态模型，指令`tools/infer.py xxxxxx`可以得到正确的预测结果。

但模型导出后
使用导出模型预测：`python deploy/python/infer.py --model_dir=inference_model/ppyolov2_r34vd_dcn_vehicletrain --image_file=demo/03237.jpg --use_gpu=True `

预测没有任何效果，没有任何预测框生成

后又尝试在导出模型过程中不配置slim文件，即不指定 `--slim_co

[2022-04-07 09:50] song121982 commented on #5626
附配置文件：
[code]

slim配置文件：

[code]

[2022-04-08 01:47] leiqing1 commented on #5554
你好，如果是nano自带的python是3.7， paddle inference下载的nano包是python3.6，这种情况可以直接在nano上再安装一个python3.6，然后设置成使用python3.6即可，linux系统多了python版本切换配置是很常见的操作。（注意：系统自带的python版本不能随便删除，因为很多系统文件会用到的）

[2022-04-08 01:54] Peter-weng opened #5628 "win10中使用deploy/cpp代码的tensorrt模式下，无法找到生成的engine文件，每次运行都会重新生成。"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-08 01:55] Peter-weng commented on #5628
![捕获](https://user-images.githubusercontent.com/52985674/162347823-702cec10-677e-48f7-900f-077602c391da.PNG)
engine生成的情况

[2022-04-08 03:03] TTgogogo commented on #5628
似乎很多人发现这个问题了

[2022-04-08 03:35] jerrywgz commented on #5628
这是windows下特有的问题，我们现在在高优解决了，有结论第一时间同步出来

[2022-04-08 04:06] jiaowei123456 commented on #5589
@RachelXu7
谢谢您的回复。

[2022-04-08 04:08] #5589 closed, assigned to RachelXu7

[2022-04-08 06:34] wangxinxin08 commented on #5606
在GPU设备上不推荐使用picodet，推荐使用PP-YOLOE适用于服务端GPU和边缘端GPU(jetson系列)

[2022-04-08 08:47] Disciple7 opened #5634 "[Feature Request]请求添加模型量化PTQ方法及教程"
## 🚀  新功能/Feature

目前PaddleDetection已经有QAT量化方式，希望引入PTQ量化方式。

## 需求原因&示例/Motivation & Examples

正在进行应急场景下的目标检测项目，在无人机场景下进行目标检测模型部署，需要尽可能减小模型大小、提升模型推理速度。
目前已经测试了QAT量化，希望能够引入PTQ量化，特别是PaddleSlim的动态离线量化方式。该量化方式与模型训练过程解耦，能够比较好的提升开发速度，以及降低后期引入新模型的难度。

[2022-04-08 08:54] yuexiayiren159aaa opened #5636 "picodet的网络输出"
# 这是picodet的网络输出，没有后处理的。
# 我想知道这个网络有8个输出，代表什么。我需要自己写后处理。
类似yolo的输出 （13,13,255),(26,26,255)(52,52,255),13*13的特征图，255=85*3 ,82=80 + 5 ,5 = x,y,w,h,c
![image](https://user-images.githubusercontent.com/102778714/162400704-de3f319a-9593-4efb-bf49-82f6bb88c92d.png)

[2022-04-08 08:58] yuexiayiren159aaa commented on #4420
# 我想知道picodet这个网络的输出代表什么，这里有8个输出，我需要自己写后处理
类似yolo的输出 （13,13,255),(26,26,255)(52,52,255),13x13的特征图，255=8x53 ,82=80 + 5 ,5 = x,y,w,h,c

![image](https://user-images.githubusercontent.com/102778714/162402071-54543d10-897b-4d69-80f8-dd443cd1a78c.png)

[2022-04-08 08:58] niancheng commented on #4420
您好！您的来信我已经收到，我会尽快查阅并回复您的！

[2022-04-08 09:01] heavengate commented on #5613
paddle.summary是Paddle框架提供的API，输入参数需要是nn.Layer类型，create出来的是的ppdet封装的Trainer，不能直接用summary哈，可以试下加载create出来的arch上
https://github.com/PaddlePaddle/PaddleDetection/blob/822c793345223e59d724e1f98f296b633de8f47c/ppdet/engine/trainer.py#L97

[2022-04-08 09:05] heavengate commented on #5626
你`tools/infer.py`预测有结果的命令和导出的全量命令麻烦发一下
还有你说导出了有框但是是乱的的预测结果麻烦也发一下

[2022-04-08 09:26] Dandelion111 commented on #5566
大佬你好，按照您的方法简化之后，无法转openvino模型，，转换命令和错误如下：
![image](https://user-images.githubusercontent.com/48303408/162407203-05a8d2eb-cea1-4dc1-8869-be981205df9a.png)

不加后面的input_shape也不对：
![image](https://user-images.githubusercontent.com/48303408/162407413-6a9970d5-9918-46dd-b666-07e1782c5f3c.png)

[2022-04-08 09:29] Asthestarsfalll opened #5637 "[Other General Issues] 如何直接得到预测的json文件"
很多时候用户都是需要直接得到对应格式的json文件，而infer.py只支持导出分散的txt，eval虽然能导出json但是需要对应的label json文件，十分不方便。

[2022-04-08 10:41] Nioolek opened #5639 "[BUG]ppyoloe中df_loss中，pred_dist.shape==[n,4,17]与target_left.shape==[n,4]使用F.cross_entropy进行计算，是不是有问题？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**
ppyoloe中df_loss中，pred_dist.shape==[n,4,17]与target_left.shape==[n,4]使用F.cross_entropy进行计算，是不是有问题？
## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readth

[2022-04-08 10:42] Nioolek opened #5640 "[BUG]ppyoloe中df_loss中，pred_dist.shape==[n,4,17]与target_left.shape==[n,4]使用F.cross_entropy进行计算，是不是有问题？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**
ppyoloe中df_loss中，pred_dist.shape==[n,4,17]与target_left.shape==[n,4]使用F.cross_entropy进行计算，是不是有问题？
## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readth

[2022-04-08 11:09] jerrywgz commented on #5634
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim#%E7%A6%BB%E7%BA%BF%E9%87%8F%E5%8C%96 这里面有一些离线量化的文档可以参考，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim/post_quant 这里面也提供了一些相关配置

[2022-04-08 11:13] jerrywgz commented on #5636
picodet如果不导出后处理，输出表示的是每一层对应的分数和box坐标https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/heads/pico_head.py#L532

[2022-04-08 11:14] jerrywgz commented on #5637
这里是希望将infer.py输出的结果已json的格式保存吗，可以将导出的txt已自己期望的格式转换成json

[2022-04-08 11:32] yghstill commented on #5624
@Dandelion111 参考这个demo试下吧：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/third_engine/demo_openvino/python

[2022-04-08 12:16] ghostxsl commented on #5639
这里没有问题，可以参考官方Cross Entropy Loss的文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/nn/CrossEntropyLoss_cn.html#crossentropyloss

[2022-04-08 21:15] SkyrimTB commented on #5482
same problem here

[2022-04-08 21:15] Rhett98 commented on #5482
这是来自QQ邮箱的自动回复邮件。你好，我已收到你的邮件，我查看后会尽快给你回复。

[2022-04-09 00:56] #5624 closed, assigned to nobody

[2022-04-09 01:55] Dandelion111 opened #5643 "picodet新版onnx模型简化之后，无法转openvino模型"
简化命令：
python3.7 -m onnxsim picodet_s_320_coco.onnx picodet_s_processed.onnx --dynamic-input-shape --input-shape image:1,3,320,320
转换openvino命令：
python "C:\Program Files (x86)\Intel\openvino_2021\deployment_tools\model_optimizer\mo_onnx.py" --input_model picodet_s_processed.onnx --output_dir . --mean_values [123.675,116.28,103.53] --scale_values [58.395,57.12,57.375]
报错：
![image](https://user-image

[2022-04-09 01:57] #5566 closed, assigned to nobody

[2022-04-09 02:15] zhong08090 opened #5644 "c++部署单次预测没问题，连续测试 predictor_->Run()这里报错"

[2022-04-09 02:18] yghstill commented on #5643
@Dandelion111 请升级openvino到2022.1，并使用新版demo进行测试，直接加载onnx模型进行预测。

[2022-04-09 02:18] #5644 closed, assigned to nobody

[2022-04-09 02:31] Dandelion111 commented on #5643
谢谢大佬回复，我升级一下openvino试试，我试过直接加载onnx模型，但是ReadNetwork这一步会报错，新版openvino demo是不是还没有c++版本？

[2022-04-09 11:22] yghstill commented on #5614
@WTtree-lz 在导出模型的时候设置`'GFL': 48试下吧：`https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/engine/export_utils.py#L47
或者在导出模型时不导出后处理，设置export.benchmark=True再试下。

[2022-04-09 11:23] yghstill commented on #5643
C++部署代码正在开发中，很快发布，可以先测试python的demo~

[2022-04-09 11:39] #4818 closed, assigned to nobody

[2022-04-09 11:41] Dandelion111 commented on #5643
谢谢！

[2022-04-09 11:42] Dandelion111 commented on #5643
新版的picodet是只能用openvino2022.1版本吧，以前版本不支持动态shape

[2022-04-09 13:30] code10086web opened #5645 "在用户数据转coco数据中（tools/x2coco.py）输入的json文件如何获得的，目前只有对应图片的xml文件"
![image](https://user-images.githubusercontent.com/53412966/162576216-2a1ecd65-9a5e-45f2-a459-ee113faa3ef0.png)

[2022-04-09 15:02] code10086web opened #5646 "关于pp-yoloe训练时长"
在自己数据集上训练，数据集训练集大小为2160张图片，设备为使用rtx3090，batch_size为每个gpu大小为4，预估时长一个epoch需要1天，训练的很慢是正常的吗？我使用coco数据集去测试了下，每个gpu的图片数量为1张时，训练一个epoch预估需要219天。。。，请问pp-yoloe训练时长很慢是什么原因呢

[2022-04-10 06:03] Wei-JL opened #5647 "matching_matrix[gt_idx][pos_idx] = 1 matching_matrix是一个tensor 为什么不能赋值"
gt_idx = 0
pos_idx = Tensor(shape=[8], dtype=int64, place=CUDAPlace(0), stop_gradient=True,
       [36, 37, 38, 32, 33, 27, 91, 42])
matching_matrix[gt_idx][pos_idx] = 1.0

为甚么[36, 37, 38, 32, 33, 27, 91, 42]这些索引的值还是0

[2022-04-10 06:41] Wei-JL commented on #5647
[code]

为甚么[36, 37, 38, 32, 33, 27, 91, 42]这些索引的值还是0，应该什么样才能改变tensor对应index值

[2022-04-10 08:39] LTXLetsee opened #5648 "[Other General Issues]"
there was an error entering this instruction
python setup.py install
running install
/home/ltx/.local/lib/python3.6/site-packages/setuptools/command/install.py:37: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
  setuptools.SetuptoolsDeprecationWarning,
/home/ltx/.local/lib/python3.6/site-packages/setuptools/command/easy_install.py:

[2022-04-10 09:53] yghstill commented on #5643
@Dandelion111 是的

[2022-04-10 10:37] #5643 closed, assigned to nobody

[2022-04-10 16:03] code10086web commented on #5574
你好，请问您的batch_size设置多大呀，我使用的8*RTX 3090 24g,大概2000张图片，batch_size设置的为4，但是训练一个epoch就预估一天左右，这太长了，想问下您有什么建议嘛，或者您那边可以试着设置batch_size比较小的情况观察下训练时长吗？实在麻烦了。

[2022-04-10 21:18] SkyrimTB commented on #5482
@Rhett98 Try set keep_ratio: true to keep_ratio: false fixed my problem.
You should try that as well.

[2022-04-11 01:38] jo-dean commented on #5606
那个Yolov3-mobilenetv1为什么也很慢呢？

[2022-04-11 02:38] song121982 commented on #5626
- 导出模型前预测：

`python tools/infer.py -c testtest/r34_qat/ppyolov2_r34vd_vehicletrain.yml --slim_config testtest/r34_qat/ppyolov2_r34vd_dcn_vehicletrain.yml --infer_img=demo/Visdrone_Vehicle00416.jpg -o weights=testtest/r34_qat/best_model.pdparams`
输出结果正常（这里标签值忘改了）:
![image](https://user-images.githubusercontent.com/74665518/162655032-2a562d2e-1f1a-4c6e-96e9-246f103d6463.png)

导出指令：
`python tools/exp

[2022-04-11 02:53] wangxinxin08 commented on #5606
YOLOV3-mobilenetv1也使用了depthwise卷积，另外neck的设计并不轻量

[2022-04-11 02:55] wangxinxin08 commented on #5574
训练一个epoch就1天不太正常，2000张图片应该几十分钟就训练完了，你说的一个epoch是指训练300个epoch吗？

[2022-04-11 02:57] code10086web commented on #5574
不是，就是单独一个epoch，想确定下您的每个gpu上的图片数量是多少

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月11日(星期一) 上午10:55
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]PPYOLOE训练问题 (Issue #5574)

我那天是上午拉取的代码，用自己的数据训练，就出现上面的问题了，batch-size不一样时，上面报错的不匹配的维度也不一样。
 输入尺寸没改，我那天试了我的数据集用picodet是可以正常训练的。

今天早上重新拉取代码，可以正常训练了。但感觉训练有点慢

[2022-04-11 04:10] wangxinxin08 commented on #5574
1个epoch 2000张图片训练一天是不可能的，建议先检查下训练环境是否正常吧

[2022-04-11 04:57] zsy1987 commented on #5646
请问你解决了吗？我训练没问题，但是推理没达到预计的速度

[2022-04-11 05:05] zsy1987 opened #5652 "ppyoloe的模型推理速度"
## ppyploe-s在论文中比yolox-s快约一倍，而我自己的数据集上测试速度却远比yolox-s慢（大约1/3），请问是测速时候要注意什么别的问题吗？

[2022-04-11 05:55] xiaoxifuhongse opened #5653 "有没有比较过PPYoloe和Picodet的精度和速度？"
如题，有没有对picodet进行对比测试？

[2022-04-11 06:01] lyuwenyu commented on #5653
这两个模型是根据不同领域设计的  是互补的关系， picodet是针对移动端设备 arm等，yoloe是是服务器端的高性能卡 n卡等.

具体的指标可以看技术文档
- [picodet](https://arxiv.org/abs/2111.00902)
- [yoloe](https://arxiv.org/pdf/2203.16250.pdf)

[2022-04-11 06:03] lyuwenyu commented on #5652
你测的是模型的速度嘛，导出时候去掉nms, 另外加上 --benchmark

[2022-04-11 06:21] jimmy133719 commented on #5511
@sdreamforchen 您好，我與您使用相同的下游環境，轉換時同樣出現"TypeError: 'str' object cannot be interpreted as an integer"報錯，想請問您是否已經解掉這個問題了？謝謝！

PS: 我有測試過eval.py和#5544中的示例，兩者皆沒問題。

[2022-04-11 06:42] jo-dean commented on #5606
好的，ppyolo确实快了很多

[2022-04-11 06:43] sdreamforchen commented on #5511
您好。并未解决。最近部署感觉问问题的人有点多，百度在优化吧。我先前picoDet部署都没问题，现在有了。感觉这次版本更新改了不少东西。至少先前导出onnx的batchsize都是1，目前是默认的-1.
另外，ppyoloE的onnx在服务器能跑通，但是会报两个警告，一个是constant_113无用，二个是，输出shape不匹配。这两个onnxruntime都可以自动修改，所以服务器能跑通。下游环境，应该编译转换能力没这么强的原因。反正我是没跑通的。

[2022-04-11 06:48] wangxinxin08 commented on #5511
@jimmy133719 @sdreamforchen 下游环境是什么？具体如何复现这一问题呢，可以给出一些方式我们可以帮忙定位一下问题

[2022-04-11 07:00] sdreamforchen commented on #5511
Vivante GPU，转换工具是acuity-tools

[2022-04-11 07:05] code10086web commented on #5646
还没有，想问下你是将自己数据集转换为coco格式训练的吗？

[2022-04-11 07:24] sdreamforchen commented on #5511
王老师，您好。我对底层环境实在不了解，不知道这个提议合理不？
现在GPU算是百花齐放，各个芯片IP和编译环境不相同，我们这边又是“工业GPU IP+No英伟达”，在性能、软件环境友好和成本方面，有时候选择比较无奈。
我们paddle生成onnx之类的open模型时，能否做到“极简化”呢？ 比如onnxruntime提示的两个警告在转换的时候（arm端未测试过），可以自动优化掉。
保证：
1 输入就是[b,3,w,h]，b根据需求可设置为1，或者n；
2 模型剩余部分就是conv，bn, act, linear之类的，如果存在在paddledetection上微改的情况，那就由用户自行编写函数或类就行了，这也是用户自己该做的；
3 输出nms可选;
4 模型最终输出时，各层shape、各种参数固定住，成一个没有多余的固定死的模型。
这样我想下游环境不管是啥，转换应该都是适配的。

[2022-04-11 07:25] sdreamforchen commented on #5511
王老师，您好。我对底层环境实在不了解，不知道这个提议合理不？
现在GPU算是百花齐放，各个芯片IP和编译环境不相同，我们这边又是“工业GPU IP+No英伟达”，在性能、软件环境友好和成本方面，有时候选择比较无奈。
我们paddle生成onnx之类的open模型时，能否做到“极简化”呢？ 比如onnxruntime提示的两个警告在转换的时候（arm端未测试过），可以自动优化掉。
保证：
1 输入就是[b,3,w,h]，b根据需求可设置为1，或者n；
2 模型剩余部分就是conv，bn, act, linear之类的，如果存在在paddledetection上微改的情况，那就由用户自行编写函数或类就行了，这也是用户自己该做的；
3 输出nms可选;
4 模型最终输出时，各层shape、各种参数固定住，成一个没有多余的固定死的模型。
这样我想下游环境不管是啥，转换应该都是适配的。

[2022-04-11 08:01] wangxinxin08 commented on #5511
@sdreamforchen 你的建议挺好的，考虑到nms可能下游硬件不支持的问题，所以可以设置成可选的情况，这一部分是可以操作的，你可以先试下在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/heads/ppyoloe_head.py#L377 这一行之后直接return pred_bboxes, pred_scores，然后再使用export_model导出模型，再转换成onnx试下还有没有其他的问题，再反馈，我们会跟据你反馈的问题来分析，设计以及支持这个需求的

[2022-04-11 08:19] Asthestarsfalll commented on #5637
自己转换确实可以，但是对于这种重复性的工作（比如很多比赛需要提交COCO格式的Json文件），每个用户都要自己写一遍，略显麻烦。我建议可以添加将推理结果保存为对应的格式（比如通过dataset来确定格式）的文件。方便且全面，这不正是一个优秀开发套件所要具备的嘛。

[2022-04-11 08:19] #5637 closed, assigned to nobody

[2022-04-11 09:09] sdreamforchen commented on #5511
问题一直不是nms的问题哈。 是多了这个constant_113(output)，多了一个input constant。这个constant编译的时候就会报"str.......的错。
当然
1 我刚也测试了下无nms的情况，问题一样，毕竟报错是input，所以后续应该都没有执行；
2 我们自己也在环境中找问题，看能否实现onnxruntime这种自行判断和优化；
3 另外，对onnx直接删除constant节点，发现还是报错，所以这条路我们否定了，集中精力找环境底层的一些问题（借鉴onnx处理上的一些好方法）。

[2022-04-11 09:45] jimmy133719 commented on #5511
我測試了無nms的情況，雖然還是有報錯，但原本""TypeError: 'str' object cannot be interpreted as an integer"的問題不再出現，後續matching時才跑出"TypeError: 'NoneType' object is not iterable"，我猜這應該是input constant的問題。不知道如果直接把constant節點寫進模型內再轉換成onnx是否可行？看起來這個節點還是必須，如果刪除會報錯應該是蠻合理的。

[2022-04-11 09:47] lyuwenyu commented on #5647
改成这样试一下 matching_matrix[gt_idx, pos_idx] = 1.0

[2022-04-11 09:47] chenhaohan88 opened #5656 "[BUG]训练集中加入负样本，训练ppyoloe会报错"
如题，训练集中加入负样本，训练ppyoloe会报错

[2022-04-11 09:49] lyuwenyu commented on #5656
具体说说你怎么做的  是加入了不带标签的数据嘛？

[2022-04-11 10:00] chenhaohan88 commented on #5656
数据集格式是voc，加入了负样本，把PaddleDetection/ppdet/data/source/voc.py第58行allow_empty改成True

[2022-04-11 10:07] Wei-JL commented on #5647
改成这样试一下 matching_matrix[gt_idx, pos_idx] = 1.0  似乎直接报错诶   matching_matrix， gt_idx ,  pos_idx需要改类型吗

[2022-04-11 10:10] chenhaohan88 commented on #5656
可能是dataloader读取负样本标签之后输入到one_hot函数的输入数据类型有问题

[2022-04-11 10:33] Wei-JL commented on #5647
matching_matrix[gt_idx, pos_idx] =1.0  这样可以赋值 ，但是不能查看，调试查看的话只能matching_matrix[gt_idx][pos_idx]，非常感谢 已经解决

[2022-04-11 11:19] yjhtc007 opened #5658 "关于多卡训练过程中，中途停止训练，显卡显存无法释放的问题[BUG]"
各位大佬好，我在使用PaddleDetection训练模型的时候遇到了一个bug，就是用多卡训练模型，如果中途出现错误的话，会出现训练进程无法结束的情况，人为用kill -9 命令杀死后显卡占据的显存仍不会释放。我用PaddleOCR进行多卡训练，中途报错或停止的话不会报这个错误。之前用PaddleClas进行多卡训练也出现过和PaddleDetection一样的错误，就是显存没法释放的问题，请问我该如何解决呢？

[2022-04-11 11:56] 923629877 opened #5659 "使用官网提供的tiny_pose128x96正常推理，把模型换成256x192，只推理一帧就停了"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-11 11:58] wangxinxin08 commented on #5511
@sdreamforchen constant的问题我们可以再看下哈，onnx是支持constant的，卷积中的bias是通过add_constant的形式添加的，输入的constant其实和bias类似，这个我们具体再看下是什么原因导致的

[2022-04-11 14:39] code10086web opened #5660 "想每隔几个epoch输出测试结果，请问有超参数设置？"

[2022-04-11 14:52] #5660 closed, assigned to nobody

[2022-04-12 01:34] yjhtc007 commented on #5658
![1649727078(1)](https://user-images.githubusercontent.com/52524345/162860933-fb0f9459-0530-40bc-8651-9b0fa04bbd86.png)
这个是报错的图片，在多卡训练中途出现了错误，但进程没有被杀死

[2022-04-12 02:02] nemonameless commented on #5640
same issue #5639

[2022-04-12 02:03] #5640 closed, assigned to nobody

[2022-04-12 02:14] yjhtc007 commented on #5658
![1649729640(1)](https://user-images.githubusercontent.com/52524345/162865556-4ec5d5c1-8dbe-44f1-b678-189c53c9f559.png)

[2022-04-12 02:20] nemonameless commented on #5594
PaddleDetection  和 Paddle版本分别是多少呢？换用最新的再试试，应该不会有问题

[2022-04-12 02:39] nemonameless commented on #5602
收到建议，谢谢反馈。可以先参考这几个文档 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/docs/advanced_tutorials

[2022-04-12 03:02] terrancraft opened #5664 "[Other General Issues] No kernel image is available for execution on the device."
## 描述问题/Describe the bug

我把训练好的模型部署到一台win10系统的机器中，执行eval或者inference推断时都会报错：

cudaErrorNoKernelImageDevice: no kernel image is available for execution on the device.

个人感觉是cuda driver 版本、cudatoolkit版本和paddle版本出现了不兼容的问题，但我不太确定，

想把具体情况复述给大佬们，能否帮我看一下如何解决这个问题？ 谢谢！

## 复现/Reproduction
python tools/eval.py -c *** -o weights=***
使用模型:
picodet_l_640

## 环境/Environment

虚拟环境:
python: 3.7
paddle-gpu: 2.2.2

[2022-04-12 03:14] terrancraft commented on #5664
上个图
![f29459f2be879afa4faa69a134688b4](https://user-images.githubusercontent.com/51820927/162872323-687b0882-a8a0-4e07-8c0d-106645f4c659.jpg)

[2022-04-12 03:24] m00nLi commented on #5574
还是提一下吧，一开始我看训练正常后没仔细看，但前几天训练了59轮后看一下ap情况，发现全是0，默认是每10轮eval一次，我发现前面的eval结果也都是0。用同样的数据训练picodet正常，ap也正常，可以排除数据及数据格式的问题吧

[2022-04-12 03:29] m00nLi commented on #5574
我设的batch-size是8，前些天训练了59轮看下情况，发现AP都是0，就没怎么看了

[2022-04-12 03:29] m00nLi commented on #5574
我设的batch-size是8，前些天训练了59轮看下情况，发现AP都是0，就没怎么看了

[2022-04-12 03:31] zoooo0820 commented on #5659
能提供下使用的命令吗

[2022-04-12 03:34] nemonameless commented on #5645
xml转coco格式，就把你的数据集做成VOC数据集相同的目录和格式，dataset_type选择voc，当成voc转coco去运行即可。
dataset_type为labelme时的json输入文件是标注工具做成的。

[2022-04-12 03:34] 923629877 commented on #5659
python deploy/python/keypoint_infer.py  --model_dir=D:\download\PaddleDetection\tinypose_256x192 --video_file=D:\download\datas\Charades\Charades_v1_480\1IIS5.mp4.mp4 --device=CPU
我重新用官网给的权重导出模型，已成功运行

[2022-04-12 03:36] zoooo0820 commented on #5659
好的，后续有其他问题可再沟通，这个issue先关闭了

[2022-04-12 03:36] #5659 closed, assigned to nobody

[2022-04-12 04:13] wangxinxin08 commented on #5574
@m00nLi 你的配置文件和log文件方便发下吗？我帮你看看是什么问题

[2022-04-12 04:16] wangxinxin08 commented on #5574
@m00nLi 这个明显不合理，初步判断可能是配置文件没有正确设置

[2022-04-12 04:16] wangxinxin08 commented on #5574
@m00nLi 这个明显不合理，初步判断可能是配置文件没有正确设置

[2022-04-12 04:32] wangxinxin08 commented on #5658
一般用`ps aux | grep config.yml | awk '{print $2}' | xargs kill -9`

[2022-04-12 05:12] code10086web commented on #5574
在pp-yoloe-l我的结果可以正常产生了，有问题就是模型的评估时间为什么只有11fps左右，在rtx 3090，测试时候batch_size=1,按理来说不该这么慢，这个速度是正常吗？

[2022-04-12 06:14] wangxinxin08 commented on #5574
不正常，rtx 3090建议使用TensorRT测速，测速方法参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/ppyoloe#speed-testing

[2022-04-12 06:15] ghostxsl commented on #5656
bug修复参考PR：#5665

[2022-04-12 07:10] dengxinlong commented on #5613
尝试了一下，还是不行，log：
[code]
下面是添加的代码：
[code]

[2022-04-12 07:15] m00nLi commented on #5574
1. 配置文件我没改什么的，除了dataset部分改成自己的数据之外，runtime、__base__里的三个yml都没改;
2. 之前AP是0的情况没有截屏，在log下看了workerlog
[workerlog.0.txt](https://github.com/PaddlePaddle/PaddleDetection/files/8470315/workerlog.0.txt)
部分如下：
![image](https://user-images.githubusercontent.com/102453574/162899390-51de1b55-c84c-4baf-874f-62097bad5a10.png)
从workerlog里可以看出，网络初始学习率0.06， 随着训练loss值变得越来越大。可能学习率太大了，但是我看你们文档说这个学习率是按照4卡设置的，我用的8卡，其实应该

[2022-04-12 07:34] cv-nlp commented on #4420
picodet  转成MNN最新版本输出的是transpose，以前版本输出的是save_infer_model/scale_4.tmp_1这种，现在demo mnn推理存在问题，能否帮忙看一下

[2022-04-12 07:52] wangxinxin08 commented on #5574
@m00nLi PP-YOLOE-s的学习率是按照8卡，每张卡batch_size是32设置的，你可以看ppyoloe的文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/README_cn.md ，按照学习率线性缩放准则，你如果设置为8卡，每张卡batch_size为8的话，你应该将学习率设置成 0.04 / (8 * 32) * (8 * 8)=0.01

[2022-04-12 08:03] yangnan456 opened #5667 "[BUG]训练自定义数据集时在数据增强部分挂掉，显示Error: Blocking queue is killed because the data reader raises an exception"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-12 08:17] 923629877 opened #5668 "ValueError: not enough values to unpack (expected 2, got 1) 不知道怎么回事"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-12 08:22] zhenzi0322 opened #5669 "导出模型有误"
![image](https://user-images.githubusercontent.com/34839719/162915260-164f5e1a-f575-4a2b-ac71-73a1518c0fa6.png)

我想要导出`https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/static/docs/featured_model/LARGE_SCALE_DET_MODEL.md`中的`ResNet50-vd-FPN-Dcnv2`模型，为什么导不出来呢？

[2022-04-12 09:29] nemonameless commented on #5667
建议换最新release/2.4分支，以及Paddle2.2.2去运行。如果你仍然要用这个版本，建议先跑下VOC数据集，确保没问题再跑自己做的数据集，大概率是数据集制作的问题建议仔细自查。

[2022-04-12 09:50] m00nLi commented on #5574
好的，我后面再试试

[2022-04-12 10:11] Wei-JL opened #5671 "(InvalidArgument) concat(): argument 'X' (position 0) must be list of Tensors, but got empty list"
[code]
  报错日志 : File "D:\PyCharm\YOLO\paddle_fuxian\yolox_paddle\nets\yolo_training.py", line 210, in get_losses
    cls_targets = paddle.concat(cls_targets, 0)
  File "D:\Anaconda3\envs\paddle2-2-2g\lib\site-packages\paddle\tensor\manipulation.py", line 345, in concat
    return paddle.fluid.layers.concat(input=x, axis=axis, name=name)

[2022-04-12 10:12] Wei-JL commented on #5671
您好，有什么解决方法吗？ 这边无法对Tensor(shape=[0, 4], dtype=float32, place=CUDAPlace(0), stop_gradient=True, []) concat

[2022-04-12 11:23] zoooo0820 commented on #5668
你好，这个bug是当前结果输出的格式没有统一好导致的，我们会尽快修复，修复后会在这里同步进展。

在我们修复之前，为了不影响使用，可以暂时将[这里](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/visualize.py#L243) 的`skeletons, scores = results['keypoint']` 替换为 `skeletons, scores = results['keypoint'], results['score']`

[2022-04-12 11:49] wangxinxin08 commented on #5648
It seems like you donot have the write access to /usr/local/lib/python3.6/dist-packages/, maybe you can try run the following command `sudo python setup.py install`

[2022-04-12 12:37] 923629877 opened #5673 "skeletons = np.array(skeletons) ValueError: could not broadcast input array from shape (17,3) into shape (1,)"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-12 15:33] nemonameless commented on #5673
#5668

[2022-04-12 15:35] nemonameless commented on #5671
试试设置假数据如全0。用的哪份代码？

[2022-04-12 15:48] cloud0sky opened #5674 "[BUG] 基于PaddleDetection2.4训练ppyoloe模型，当输入尺寸不是32整数倍时，模型训练正常，但是推理时会报错"
当输入图像尺寸不是32的整数倍时，会出错。比如我设置输入图像尺寸为640x320，先训练一个yoloe模型，然后推理时出错：

Traceback (most recent call last):
  File "C:\Users\87162\Documents\PyCharm\PaddleDetection\tools\infer.py", line 177, in <module>
    main()
  File "C:\Users\87162\Documents\PyCharm\PaddleDetection\tools\infer.py", line 173, in main
    run(FLAGS, cfg)
  File "C:\Users\87162\Documents\PyCharm\PaddleDetection\tools\infer.py", line 130

[2022-04-13 01:20] 923629877 opened #5675 "PP-YOLOE推理使用TensorRT出错"
`python deploy/python/infer.py --model_dir=D:\Yanglingyun\Github\model\ppyoloe_crn_m_300e_coco --image_file=D:\Yanglingyun\Github\datas\RGB\s08_e01\colorImg34.jpg --run_mode=trt_fp16 --device=gpu --run_benchmark=True`

推理执行出错:

`ValueError: (InvalidArgument) Pass tensorrt_subgraph_pass has not been registered. Please use the paddle inference library compiled with tensorrt or disable the tensorrt e

[2022-04-13 02:32] Mike-cell commented on #3656
请问解决了吗

[2022-04-13 02:51] wangxinxin08 commented on #5674
输入尺寸需要是32的整数倍哈，训练的时候会resize到32的整数倍的

[2022-04-13 02:54] wangxinxin08 commented on #5675
使用TensorRT需要安装带TensorRT编译的Paddle版本，可以参考官网文档https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python, 下载适用于你的cuda, cudnn和tensorrt的wheel包

[2022-04-13 02:56] 923629877 opened #5678 "预测多张图片，提示AssertionError: D:\Github\datas\RGB\s08_e01\ is not a file"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-13 03:12] changtimwu commented on #4688
Hi! Quite a lot of people are interested in pp-tracking.   Placing an expired wechat link here doesn't make any sense.   Please create a forum for it or close this issue immediately.

[2022-04-13 04:06] cv-nlp opened #5679 "picodet 转成MNN最新版本输出的是transpose，以前版本输出的是save_infer_model/scale_4.tmp_1这种，现在demo mnn推理存在问题，能否帮忙看一下[Other General Issues]"
结果对不上

[2022-04-13 05:18] tuodi opened #5680 "How to solve download error"
`ppdet.utils.download ERROR: Get config /home/ubuntu/.cache/paddle/configs/faster_rcnn/faster_rcnn_r50#_fpn_1x_coco.yml failed after download, please contact us on https://github.com/PaddlePaddle/PaddleDetection/issues`

[2022-04-13 05:21] will-wiki opened #5681 "AttributeError: 'PPYOLOEHead' object has no attribute 'mask_anchors'"
你好，我想用ppyolo导出图像的实体特征用于其他任务的训练，看了下源码应是对应 yolo.py中的 for_mot参数，尝试了下最新版本的ppyoloe模型，发现在调用infer.py时候会报错“AttributeError: 'PPYOLOEHead' object has no attribute 'mask_anchors'”，是因为ppyoloe模型不支持这个功能么？

[2022-04-13 05:48] ghostxsl commented on #5678
--image_file是指定输入图像文件不是文件夹，请使用--image_dir

[2022-04-13 05:50] ghostxsl commented on #5680
请尝试安装最新版本的ppdet

[2022-04-13 05:50] ghostxsl commented on #5681
是的

[2022-04-13 05:52] will-wiki commented on #5681
@ghostxsl 感谢回复，那想请问下目前PaddleDetection仓库中有支持这个功能的模型么，效果比较好的有推荐的嘛，之前一直用的faster-rcnn，但是它的速度太慢了

[2022-04-13 05:54] ghostxsl commented on #5681
想输出feature map，自己可以稍微改一下代码即可～

[2022-04-13 05:56] will-wiki commented on #5681
@ghostxsl 您的意思是改下ppyoloe的代码就可以得到具体bbox的feature map么，有没有修改建议呀

[2022-04-13 05:58] ghostxsl commented on #5681
我不太清楚你下游任务是要干什么，如果你是想要像类似roi_pool的那种操作的话，参考faster_rcnn的实现即可

[2022-04-13 06:08] aileenfun commented on #4205
你好，我也遇到了同样的问题。
平台是Win 10，rtx2060
现在我还没有做tensorRT联编，先尝试使用CPU进行推理，但是结果相同，没有报错，但是同样检测不到任何东西。

请问如果想用CPU进行部署的话，需要怎么调参数？

[code]

[2022-04-13 06:15] tuodi commented on #5680
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月13日(星期三) 中午1:50
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re:

[2022-04-13 06:29] sdreamforchen commented on #5511
1 去除掉NMS，
2去除掉与scale_factor相关部分（paddle2onnx输入参数中只设置input image的值），
3所有代码都在postprocess里面，注释掉：从scale_y, scale_x =....此行开始到结束，增加return pred_bboxes,pred_scores。

[2022-04-13 07:47] zoooo0820 commented on #5668
问题已修复，可以更新代码验证一下。

[2022-04-13 07:48] zoooo0820 commented on #5673
同#5668， 可以更新代码重新试下

[2022-04-13 09:25] tuodi opened #5684 "测试时为什么每次还得下载train2017.zip数据集,如何设置不下载，直接检测呢？"
` python tools/infer.py -c configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml -o weights=/home/ubuntu/workspace/work/faster_rcnn_r50_fpn_1x_coco.pdparams --infer_dir=/home/ubuntu/workspace/work/data/abnormal_action_frames --output_dir=/home/ubuntu/workspace/work/data/detection_result --draw_threshold 0.5 --save_txt True
`

测试时为什么每次还得下载train2017.zip数据集,如何设置不下载，直接检测呢？谢谢

[2022-04-13 09:53] weiluonika opened #5685 "[Other General Issues]在使用paddle进行训练的时候报错。"
<img width="759" alt="1649843568(1)" src="https://user-images.githubusercontent.com/50006064/163152731-cf067fb4-fd84-470f-95c4-9a47de197950.png">

[2022-04-13 10:09] ghostxsl commented on #5684
首先，dataset_dir的设置在：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/datasets/coco_detection.yml#L8，如果这个路径下没有相关数据，框架会自动启动下载。所以解决方法有两个，要么你软链接到这个目录，要么直接更改config里的路径

[2022-04-13 10:12] ghostxsl commented on #5685
发一下paddle版本和ppdet版本以及跑的什么模型？

[2022-04-13 11:49] STUSER001 opened #5686 "数据测试 异常"
遇到一种情况 就是 使用模型 做测试的数据 一批测试数据效果 很好  然后又增加了新的一批测试数据测试发现 效果较差 这个正常么？ 是什么原因呢？

[2022-04-13 12:23] aileenfun opened #5688 "训练后导出模型无法使用deploy部署正确推理"
训练后导出模型无法使用deploy正确推理

你好，我也遇到了同样的问题
训练过程跟你也是一样。平台是Win 10，rtx2060，使用显卡训练
使用 python tools/infer 可以检测到东西，没什么问题。
但是使用部署步骤，export_model.py，再使用 deploy/python/infer，就识别不到了。

看上面的回复说缺tensorRT联编，现在我还没有做tensorRT联编，想先尝试使用CPU进行推理，但是结果相同，没有报错，但是同样检测不到任何东西。
问题1：用联编可以解决这个问题吗？
问题2：如果想用CPU进行部署的话，需要怎么调？

[code]

_Originally posted by @aileenfun in https://github.com/PaddlePaddle/PaddleDetection/issues/4205#issueco

[2022-04-13 13:22] weiluonika commented on #5685
paddle 2.1.3  ppdet 2.4  mask-r-cnn _r50_fpn_1x_coco

[2022-04-14 01:02] qingqing01 commented on #5675
@923629877 感谢提issue反馈，修改您的issue标题和内容，建议精确描述~

[2022-04-14 01:08] #5656 closed, assigned to ghostxsl, wangxinxin08

[2022-04-14 01:19] tianrking commented on #4732
解決了嗎

[2022-04-14 01:57] nemonameless commented on #5684
有个简单办法就是  https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/data/source/dataset.py#L151  这个函数直接return

[2022-04-14 01:58] tuodi commented on #5684
好的，我试试哈 谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月14日(星期四) 上午9:57
***@***.***&gt;;
***@***.******@***.***&gt;;
主

[2022-04-14 02:20] yghstill commented on #5262
@xing5933 已修复

[2022-04-14 02:23] ghostxsl commented on #5685
请使用paddle 2.2.2版本

[2022-04-14 02:39] tuodi commented on #5684
您好，我直接对check_or_download_dataset(self)函数进行return 但是python tools/infer.py时还是在下载数据集呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&n

[2022-04-14 03:10] nemonameless commented on #5684
我自己试验过没有问题。你确定改对了吗？check_or_download_dataset函数只要一个return，其余都注释。
#5691 已提PR修复

[2022-04-14 03:31] tuodi commented on #5684
是的啊 全都注释了呀

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月14日(星期四) 中午11:10
***@***.***&gt;;
***@***.******@***.***&gt;;

[2022-04-14 04:08] song121982 opened #5692 "jetson部署"
请问支持NVIDIA jetson Orin嘛?

那个还有我之前的问题一直没被解答哇

[2022-04-14 04:53] nemonameless commented on #5684
是不是先前python setup install过了？先卸载吧 pip uninstall paddledet然后再重新安装

[2022-04-14 04:58] tuodi commented on #5684
是的 已经装过了的。我再试试，谢谢。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月14日(星期四) 中午12:53
***@***.***&gt;;
***@***.******@***.*

[2022-04-14 05:29] tuodi commented on #5684
我重新安装了一遍paddledetection，测试了一下，还是不行啊。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月14日(星期四) 中午12:53
***@***.***&gt;;
**

[2022-04-14 06:59] tuodi commented on #5684
可以了，我将dataset修改完，重新setup install一下，就不执行那个函数了。谢谢您了哈。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月14日(星期四) 上午9:57
***@*

[2022-04-14 07:43] tuodi opened #5693 "AiStudio异常检测摔倒案例视频文件/模型参数/配置文件下载"
大家好，想问一下，基于PPVideo的异常检测案例中的 /home/aistudio/work/data/abnormal_action_videos/abnormal_action.mp4视频文件和AVA_SlowFast_FastRcnn_best.pdparams.zip 预训练模型以及/home/aistudio/work/abnoraml_action.yaml配置文件在哪里下载呢？谢谢。

[2022-04-14 08:30] thrkingd opened #5694 "运行paddledetection /deploy/infer.py 无法启用tensorrt 加速"
环境：已安装tensorrt 7，paddlepaddle-gpu 2.1.1 ，cuda=11.1，cudnn=8.1，经测试都安装正常。
现象：
1）运行infer.py时输出警告：You are using Paddle compiled with TensorRT, but TensorRT dynamic library is not found. Ignore this if TensorRT is not needed.
但是已经设置了环境变量，而且也可以正常import tensorrt
2）设置--runmode = trt_fp32,可以正常跑完程序，但是log显示
：----------------------- Conf info -----------------------
2022-04-14 15:37:17,205 - benchmark_utils -

[2022-04-14 08:44] Pastuzo opened #5695 "trouble on installing paddle detection in paddle serving container"
Hi, I try to install paddle detection in the paddle serving container. The steps are

docker pull paddlepaddle/serving:0.7.0-devel
docker run -p 9292:9292 --name test -dit paddlepaddle/serving:0.7.0-devel bash
docker exec -it test bash
git clone https://github.com/PaddlePaddle/Serving
cd Serving
pip3 install -r python/requirements.txt
pip3 install paddlepaddle==2.2.0
git clone https://github.com/P

[2022-04-14 09:04] Disciple7 opened #5696 "[BUG]PaddleDetection对yolov3_darknet53进行PTQ量化时，调用paddle函数报错：AttributeError: 'Blocks' object has no attribute 'downsample.conv_bn_layer.conv'"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-14 09:38] zyl75391 opened #5697 "[BUG]华为昇腾910 训练"
使用华为昇腾910 训练
![e72bec62fb47ed9ef27195df56fdda3](https://user-images.githubusercontent.com/59155736/163358107-4d366aa5-7422-4519-8d00-450dd4642907.jpg)

模型加载在npu里但是使用率为0
![e2bc8ac53dde1b0cecac15bc8c498a1](https://user-images.githubusercontent.com/59155736/163358129-8c106d22-5128-4d4c-b894-a5ca11b6f95a.jpg)
使用半精度训练问题同样

[2022-04-14 09:46] peggyxpxu commented on #5073
请问能告知一下具体是什么问题，怎么解决吗？我也遇到了这个问题

[2022-04-14 11:43] wstchhwp commented on #5073
图片和标签可能存在问题

[2022-04-14 11:45] #5529 closed, assigned to nemonameless

[2022-04-14 11:45] #5362 closed, assigned to nemonameless

[2022-04-14 11:46] #5540 closed, assigned to nemonameless, yghstill

[2022-04-14 12:59] wangxinxin08 commented on #5692
jetson orin是新出的硬件，目前还没有验证过，目前在jetson tx2 agx nx nano上验证过是支持的

[2022-04-14 13:01] wangxinxin08 commented on #5686
新增的一批测试数据与训练集中的分布可能不太一致

[2022-04-14 13:04] STUSER001 commented on #5686
也就是说 新增的一批测试集 数据里 有 训练集数据集中 没有学习到 新的特征数据 可以这么理解么？

[2022-04-14 13:07] wangxinxin08 commented on #5686
可以这么理解

[2022-04-14 13:07] wangxinxin08 commented on #5688
可以发下配置文件，训练好的模型以及一张测试图片，我们协助定位一下

[2022-04-14 13:08] STUSER001 commented on #5686
好的 明白了 那么就需要 重新制作 数据集 然后 在训练 就可以解决这个问题吧

[2022-04-14 13:09] wangxinxin08 commented on #5694
请问，你使用的环境是windows环境吗？

[2022-04-14 13:11] thrkingd commented on #5694
ubuntu 16.04

[2022-04-15 02:02] world2025 opened #5702 "PP-Human属性识别模块"
请问如何训练PP-Human属性识别模块

[2022-04-15 02:15] peggyxpxu commented on #5073
具体是什么问题，应该怎么修改呢

[2022-04-15 02:51] wangxinxin08 commented on #5694
可以使用`echo $LD_LIBRARY_PATH`看下环境变量

[2022-04-15 02:51] wangxinxin08 commented on #5686
是的，注意不同分布的数据在熟练集和测试集要均衡

[2022-04-15 03:20] thrkingd commented on #5694
查看结果是正常的：
:/usr/local/cuda-11.1/lib64:/usr/local/TensorRT-7.2.3.4/lib:/usr/lib/x86_64-linux-gnu
跟gcc版本有关系吗？

[2022-04-15 03:47] peggyxpxu commented on #5073
请问能告知一下具体是什么问题，怎么解决吗？我也遇到了这个问题

[2022-04-15 04:12] song121982 commented on #5692
麻烦建议官方验证更新下，AGX已经停产了，现在做项目做设计只能用新出的Orin了。

[2022-04-15 04:13] song121982 commented on #5692
建议官方验证更新一下，现在AGX已经停产了，大众能买到的只有这个Orin了，感觉这个事情还是挺重要的，谢谢。 @wangxinxin08

[2022-04-15 04:16] song121982 commented on #5688
我之前也提过这个问题，里面有测试结果，还没被解决，麻烦看下谢谢
https://github.com/PaddlePaddle/PaddleDetection/issues/5626#issue-1195795538
@wangxinxin08

[2022-04-15 04:31] yghstill commented on #4420
@cv-nlp 好的我们修复下此问题。

[2022-04-15 05:09] #5684 closed, assigned to nemonameless

[2022-04-15 05:33] qingqing01 commented on #5693
@tuodi  注意规范提交PR，标题提炼、issue内容描述清晰，养成好习惯~  :)

[2022-04-15 05:34] tuodi commented on #5693
好的，谢谢您的提醒。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月15日(星期五) 中午1:33
***@***.***&gt;;
***@***.******@***.***&gt;;
主

[2022-04-15 06:12] zoooo0820 commented on #5702
目前PPhuman中属性识别部分的训练及评估暂时还没有开源，计划Q2会开源

[2022-04-15 06:21] QL-AR opened #5706 "rtsp推流"
请问PaddleDetection可以使用rtsp推流吗

[2022-04-15 06:51] wangxinxin08 commented on #5692
目前软件栈应该是ok的，CUDA, cuDNN以及TensorRT整个软件栈在jetson的其他系列已经验证过

[2022-04-15 06:53] wangxinxin08 commented on #5694
你的GCC版本是什么？

[2022-04-15 06:54] wangxinxin08 commented on #5626
麻烦发下配置文件，训练好的模型以及一张测试图片打包发一下，我们在本地测试下

[2022-04-15 07:00] Disciple7 opened #5709 "[Other General Issues]使用TensorRT选项进行yolov3_mobilenet_v1推理时报错"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
按照官方教程，在VOC数据集上训练

[2022-04-15 07:22] #5692 closed, assigned to nobody

[2022-04-15 08:12] jiujiangluck opened #5710 "ATSSAssigner 中的 _gather_topk_pyramid 好像有点问题"
https://github.com/PaddlePaddle/PaddleDetection/blob/0ba614a00848741d3cf52d2da8ffdea548bef235/ppdet/modeling/assigners/atss_assigner.py#L61-L71

`line67`中`topk_idxs`中填充gt对应的 `topk_idxs` 全部用`0`替代
`line69`中`is_in_topk`中填充gt经过one_hot操作后变成`[[1,0,0,0,...,0],...,[1,0,0,0,...,0]]`

`line70`中`is_in_topk > 1`去判断每个anchor是否在topk中，那么第`0`个`anchor`永远不会选上

不知道我理解的对不对？

[2022-04-15 08:15] song121982 commented on #5626
好像模型太大了，发不了。。 @wangxinxin08

[2022-04-15 08:21] zhiboniu commented on #5695
你好，看起来像是pandas版本问题，换个版本试试呢？

[2022-04-15 08:41] WooXinyi opened #5711 "[Feature Request] PP-Human动作识别模块"
目前动作识别模块只有跌倒这种动作，后续会考虑识别更多的动作吗？如果会，会有哪些动作呢？

[2022-04-15 08:44] thrkingd commented on #5694
我的gcc是ubuntu 16.04自带的5.4的版本。需要升级到8以上吗？感觉报的错误好像还是找不到库文件，不是运行错误

[2022-04-15 08:47] HDU-CarryStar opened #5712 "执行评估python tools/eval.py.....时的错误,求问如何解决？"
.
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/user/anaconda3/envs/PPt/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/home/user/anaconda3/envs/PPt/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/home/user/anaconda3/envs/PPt/lib/python3.7/site-packages/paddle/fluid/dataloader/d

[2022-04-15 09:09] Disciple7 commented on #5709
测试了TensorRT的sampleMNIST模型，可以运行，也可以用--int8运行。

[2022-04-15 09:24] wangxinxin08 commented on #5626
可以上传到百度网盘，分享下链接

[2022-04-15 09:26] wangxinxin08 commented on #5694
报错显示是找不到TensorRT的动态库，你安装的是带TensorRT的Paddle包和你的cuda, cudnn和TensorRT版本一致吗？

[2022-04-15 09:29] thrkingd commented on #5694
这3个版本是一致的，好像只有gcc不一样，paddle的安装包是在gcc 8下面编译的

[2022-04-15 09:42] wangxinxin08 commented on #5694
建议保持gcc版本一致，或者使用docker，这样可以避免很多环境问题https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

[2022-04-15 11:34] zoooo0820 commented on #5706
目前PaddleDetection里输入实质都是处理的图像，没有直接支持推流。

[2022-04-15 11:50] zoooo0820 commented on #5711
感谢关注。 扩充行为识别的动作已有计划，目前具体考虑新增的动作还在结合实际应用场景调研中。也十分欢迎提出您的需求或是建议。

[2022-04-15 11:57] zoooo0820 commented on #5712
能否补充一下这些信息，方便我们排查定位一下具体问题：
- Paddle 及 PaddleDetection的版本
- 完整的执行命令
- 使用的数据集情况（格式、是否是自定义的数据等）或是代码上改动了哪些位置

[2022-04-15 12:10] ghostxsl commented on #5710
因为这里是按batch进行操作的，而每张图像的gt_bbox的数量是不一样的，所以才会预先填充0，填充0的那些gt本身就是要去掉的，是不会参与计算的，所以这些填充的gt就是不会被选上

[2022-04-15 12:12] ghostxsl commented on #5710
这个地方没有问题，本身就是这么设计的

[2022-04-15 14:07] aileenfun commented on #5688
我今天重新训练了一遍，忽然又好了，也没改什么，就把epoch改大了一点，从200改成300了。
你还有这个问题的话，发一下你的模型给官方试试看？

[2022-04-15 14:21] jiujiangluck commented on #5710
感觉你没理解我的意思？我知道需要预先填充0去补足，但是后面`topk_idxs = paddle.where(pad_gt_mask, topk_idxs, paddle.zeros_like(topk_idxs)) ` 、`F.one_hot(topk_idxs, num_anchors).sum(axis=-2) `和`is_in_topk > 1`，这样会导致每层的第0个anchor永远选不上，因为填充的gt 总是对应每层第0个anchor, 所以对第二维求和后，其值永远大于 1

[2022-04-15 14:45] jiujiangluck commented on #5710
我认为可以改成下面这样
[code]

[2022-04-15 16:23] ghostxsl commented on #5710
可以提个PR

[2022-04-15 17:00] yuan-kai-design opened #5714 "[Other General Issues]paddle.utils.run_check()报错"
RuntimeError: (PreconditionNotMet) The third-party dynamic library (cublas64_111.dll;cublas64_11.dll) that Paddle depends on is not configured correctly. (error code is 126)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party dynamic library environment variable

[2022-04-15 17:12] STUSER001 commented on #5686
好的 谢谢

[2022-04-15 18:04] #5714 closed, assigned to nobody

[2022-04-16 01:41] ericCHxia commented on #5233
![image](https://user-images.githubusercontent.com/52739449/163656898-3e7b6150-773b-43af-bff6-a24a1d6a0e63.png)

这就离谱我刚开始训练7G内存训练13个EPOCH后上升到了22G

[2022-04-16 03:11] STUSER001 opened #5715 "训练过程 AP 变化"
训练过程 验证集的 AP 值 突然下降 又回复到原来大小 正常么？

[2022-04-16 04:16] song121982 commented on #5626
@wangxinxin08
模型和配置文件链接，谢谢
链接：https://pan.baidu.com/s/1sy0kuXi4nYzz9YiR8U_qoQ?pwd=rk98
提取码：rk98

[2022-04-16 06:12] kingbirdWc opened #5716 "PicoDet增强版有C++的部署教程吗？"
您好，请问PicoDet增强版有C++的部署教程吗？介绍上说各类硬件无需单独开发后处理模块，降低部署门槛，部署的代码还是以YOLO为例的。网站提供的onnx的模型有( w/ 后处理)( w/o 后处理)这两个的部署应该也是不一样的吧？不知有没有教程学习学习，谢谢

[2022-04-16 08:55] song121982 opened #5719 "jetsonAGX量化推理int8报错"
**环境：**
jetpack4.6
paddlepaddle2.2
使用的是官方预测库：https://www.paddlepaddle.org.cn/inference/v2.2/user_guides/download_lib.html
(Jetpack4.6：nv_jetson-cuda10.2-trt8-xavier)
ppdet2.1

模型为量化训练所得

**过程：**
fluid/trt_fp32/fp_16都可以正常运行，且trt_fp32/fp_16确实有小幅提升

trt_int8报错：
![微信图片_20220416165504](https://user-images.githubusercontent.com/74665518/163668804-7dd8f45d-62f4-48ca-adf1-444ea53bac4b.jpg)

[2022-04-16 09:58] yghstill commented on #5716
@kingbirdWc 可以参考Paddle Lite的移动端部署C++ demo：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/lite
openvino等其他预测库的C++ demo正在完善中，可参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/third_engine

[2022-04-16 10:03] yghstill commented on #5696
@Disciple7 感谢反馈，该问题我们修复下，请先使用QAT量化训练吧。

[2022-04-16 10:07] yghstill commented on #5719
@song121982 fp32精度模型只能使用trt_fp32/trt_fp16推理哈，使用trt_fp16最佳。trt_int8针对INT8精度量化模型才会使用。

[2022-04-16 10:08] yghstill commented on #5679
@cv-nlp 正在修复中~

[2022-04-16 10:42] song121982 commented on #5719
谢谢解答，可是训练过程中，确实使用了int8的压缩策略配置文件呀
[code]

最终得到的不是int8精度模型吗？如果不是的话，那么请问如何得到int8精度的模型哇？

而且这个之前有一段时间使用 ‘--run_mode=trt_int8’是可以运行的，现在就又不行了，我不知道这是板子自身的问题还是ppdet的问题。
@yghstill

[2022-04-16 16:10] yuanxiaohe opened #5720 "[BUG]转静态图报(InvalidArgument) end should greater than start, but received end = 5, start = 4. 求解决"
通过PP-PicoDet 训练自己的数据集voc
对已经训练好的动态图转静态图，执行：python tools/export_model.py -c configs/picodet/legacy_model/picodet_s_320_voc.yml  -o weights=output/picodet_s_320_voc/best_model.pdparams TestReader.inputs_def.image_shape=[3,320,320] --output_dir output/picodet_s_320_voc

ValueError: In transformed code:

    File "/tmp/tmpw2unlhke.py", line 98, in forward
        false_fn_5, (), (inputs, self), (out,)

[2022-04-17 02:58] wangxinit commented on #5558
numpy   版本的问题，安装 >=1.22.3

卸载numpy  ，pip uninstall numpy  -y
重新安装numpy ，    pip install numpy

[2022-04-17 03:00] wangxinit commented on #3656
numpy   版本的问题，安装 >=1.22.3

卸载numpy  ，pip uninstall numpy  -y
重新安装numpy ，    pip install numpy

[2022-04-17 03:18] thrkingd commented on #5694
已经解决：
1.手动在pycharm的环境变量中加入PYTHONUNBUFFERED=1;LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/TensorRT-7.2.3.4/lib，就不会再报动态库缺失，好像是pycharm不能导入系统的环境变量；
2. --run_mode trt_fp32 中间不能加=号，否则就无法识别这个参数。运行结果如下：
2022-04-17 21:27:27,366 - benchmark_utils - INFO - Paddle Inference benchmark log will be saved to /home/wj/disk/work/PaddleDetection/deploy/python/../../output/yolov3_mobilenet_v1_270e_voc.log
2022-04-17

[2022-04-17 03:32] song121982 commented on #5558
也不对呀，PIP安装过程中提示的是numpy<=1.19.3
[code]

[2022-04-17 04:22] song121982 commented on #5558
@wangxinit 谢谢解答，和这个描述的是一个问题https://github.com/PaddlePaddle/PaddleDetection/issues/5626#issue-1195795538
我按照您说的重新安装了numpy，但是
[code]
导出模型的检测还是没有效果，我重新训练一下看看吧。

[2022-04-17 09:13] yghstill commented on #5679
@cv-nlp 已修复，根据nerton可视化看下输出，然后修改`picodet_mnn.hpp`中相应`non_postprocess_heads_info`数组为正确的即可。

[2022-04-17 09:14] yghstill commented on #5716
@kingbirdWc 已更新ncnn和mnn的C++ demo~

[2022-04-17 09:54] yghstill opened #5723 "🌟 PP-PicoDet发布增强版模型"
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet
## 升级点一：更高精度
- **Backbone**：选用LCNet，CPU与ARM等移动端硬件上更通用的网络，网络更加简洁，更多硬件支持。
- **FPN**：使用LC-PAN替换CSP-PAN，带来了1个点的精度收益；
- **Head**：引入SE和ETA head模块，精度提升0.5；
- **Label Assign**：使用TAL采样策略，精度提升0.5。

<div align="center">
  <img src="https://user-images.githubusercontent.com/15628872/163708469-4f5d7437-5859-4ea3-aef7-5c652d73b649.

[2022-04-17 11:08] yghstill commented on #5720
@yuanxiaohe PaddlePaddle版本是2.2以上吗？

[2022-04-17 11:30] oldbowls opened #5724 "[BUG]使用python deploy/pphuman/pipeline.py --config deploy/pphuman/config/infer_cfg.yml --video_file=test_video.mp4 --device=gpu --enable_action=True ----run_mode=trt_fp16，在动作识别和姿态估计的opt_cache下会缓存加速后的模型，但是目标识别模型的opt_cache是空的"

[2022-04-17 12:05] song121982 commented on #5719
这是下载的paddle官方的量化模型，fp16和fp32都可以运行，trt_int8报错如下：
[code]

这是我自己训练的量化模型，fp16和fp32都可以运行，int8报错如下：
[code]

[2022-04-17 13:39] thrkingd commented on #5694
有没有在nvidia tx2上部署paddledetection的教程？

[2022-04-17 14:25] lip0041 opened #5725 "Picodet更换注意力模块后mAP骤降"
## 问题描述
在AIStudio上，搭配了paddlepaddle2.2，使用的picodet是backbone为esnet的版本，数据集是coco的验证集。

在esnet.py中增添了Coordinate Attention模块的代码，将原本的SEmodule更换为CAModule，进行训练，如图经过第一个10epoch后mAP比起原版本骤降

![p1](https://user-images.githubusercontent.com/53994773/163718297-29d669b9-61c5-4150-bbfc-d881958a55bc.png)
第一个10epoch原本第一个指标mAP(0.5, 0.95)应为约0.040，但这里仅有0.002。
更换注意力机制SEModule为CAModule应该效果会更好（根据Coordinate Attention论文中CA效果要

[2022-04-17 16:49] song121982 commented on #5719
@yghstill
我又训练了一遍，用的release/2.1中的配置文件和slim量化文件，没有改动，int8推理还是这个错误哇
[code]

打印输出：
[code]

[2022-04-18 01:12] yuanxiaohe commented on #5720
@yghstill 最新的2.4的版本

[2022-04-18 01:31] wangxinit commented on #5558
我之前遇到过这个问题“ValueError: numpy.ndarray has the wrong size, try recompiling. Expected 80, got 88”
我装好paddlepaddle-gpu
再装PaddleDetection

最后卸载numpy 1.19   重新安装numpy1.22 也是会报错，但是PaddleDetection运行正常

[2022-04-18 01:46] will-wiki commented on #5681
@ghostxsl 您好再次打扰一下，想问下ppyoloe模型有没有发布MSCOCO数据集之外的预训练模型版本呀。

[2022-04-18 01:50] Disciple7 opened #5726 "[Other General Issues]PaddleDetection使用TensorRT选项，对进行yolov3_mobilenet_v1_qat推理时报错"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
按照官方教程，在VOC数据集上训练

[2022-04-18 01:51] #5709 closed, assigned to nobody

[2022-04-18 01:52] song121982 commented on #5558
@wangxinit 谢谢，这个能用了

[2022-04-18 01:55] #5558 closed, assigned to nobody

[2022-04-18 01:56] yghstill commented on #5725
@lip0041 修改backbone结构后，预训练weight会失效，多训些轮数看下？或者对比下base config不加载pretrain的结果

[2022-04-18 02:00] yghstill commented on #5726
@Disciple7
- 确认下paddle serving的版本，看报错是nearest_interp_v2这个op不支持，可以咨询下paddle serving~
- 测试benchmark时，看报错是TRT_MIN_SUBGRAPH 不够，可以调整TRT_MIN_SUBGRAPH为40，然后重新导出模型试下：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/engine/export_utils.py#L31

[2022-04-18 02:31] ghostxsl commented on #5681
暂时没有，这个还在计划中

[2022-04-18 02:40] wangxinxin08 commented on #5694
可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy 下面的文档，部署基本和在服务器上一致，配置好环境即可

[2022-04-18 02:54] will-wiki commented on #5681
那之前发布的模型比如ppyolov2模型，有发布过除了MSCOCO数据集之外的预训练版本么

[2022-04-18 02:55] heavengate commented on #5724
你好，模型是需要手动下载保存在`output_inference`目录的

[2022-04-18 02:55] jerrywgz opened #5728 "🔥 实时行人分析系统PP-Human已发布，欢迎大家试用讨论"
🔥 PP-Human是基于飞桨深度学习框架的业界首个开源实时行人分析系统，具有以下特色：

功能丰富：覆盖三大功能、六大核心技术，支持属性识别、行为识别和流量计数
泛化能力强：通过丰富训练数据、优化网络结构及工程实现，模型具备较强泛化性，适应不同光线、视角、背景
极低使用门槛：兼容图片，单镜头视频，多镜头视频输入类型，一行命令功能即可快速实现
超高灵活度：六大核心技术灵活解耦，支持任意高效重组
详细细节请见：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/pphuman

为了方便大家交流沟通，欢迎扫码添加微信群，提出您的意见、建议或者使用中的疑问。
<img width="250" alt="tinypose_group" src="https://user-images.githubuser

[2022-04-18 02:56] ghostxsl commented on #5681
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/ppyolo#pp-yolo-on-pascal-voc
有VOC的

[2022-04-18 03:18] song121982 opened #5729 "trt_int8量化训练和离线量化均报错"
https://github.com/PaddlePaddle/PaddleDetection/issues/5719#issue-1206059590

延续上面的问题

换了ppdet2.2/2.3，推理过程分别使用了inference benchmark官方github提供量化导出模型和自己训练的模型，fp16和fp32都可以正常推理，只有int8不行。

训练过程中确定使用了slim配置文件

trt设置为固定尺寸输入，use_dynamic_shape: false

[code]

报错如下：

错误1（win10）：
[code]

错误2（jetson AGX）：
[code]

[2022-04-18 03:54] wangxinxin08 opened #5730 "🚀 PP-YOLOE高精度云边一体模型已经发布，欢迎大家试用讨论"
🚀  PP-YOLOE是基于PP-YOLOv2的卓越的单阶段Anchor-free模型，超越了多种流行的yolo模型，更多细节可以参考[**PP-YOLOE文档**](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/README_cn.md)以及技术报告[**PP-YOLOE论文**](https://arxiv.org/abs/2203.16250)。概括的说，PP-YOLOE具有以下特点：
1. **精度速度双高**
   - PP-YOLOE-l在COCO test-dev上精度可达**51.4 mAP**，速度可达**149FPS**
   - 精度速度性价比超越**YOLOv5, YOLOX**
2. **部署友好**
   - 具有**s/m/l/x**一系列的模型

[2022-04-18 04:33] lip0041 commented on #5725
base config不加载pretrain，结果也是骤降
![Screen Shot 2022-04-18 at 12 26 55](https://user-images.githubusercontent.com/53994773/163754378-03119ff2-99eb-467b-8ec8-b9c6ce50faf1.png)

多训练几轮的话（训练100个epoch），加载pretrain时mAP(0.5:0.95)应该达到近30%，不加载时100个epoch后仅能达到10%左右。

预训练权重这个东西，我们个人用户可能什么方式有效获取或修改吗？比如说baseconfig中加载到预训练权重是https://paddledet.bj.bcebos.com/models/pretrained/ESNet_x0_75_pretrained.pdparams。

有没有方法修改pdp

[2022-04-18 05:39] zhangdengp opened #5732 "hrnet现在不支持tensorrt推理，怎么才能支持呢"
目前hrnet关节点好像不支持trnsorrt推理，改怎么做呢？

[2022-04-18 05:48] jerrywgz commented on #5732
HRNet模型是可以跑通tensort推理的，可以参考这个文档https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/python#22-%E5%85%B3%E9%94%AE%E7%82%B9%E6%A3%80%E6%B5%8B
具体命令：`python deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/yolov3_darknet53_270e_coco/ --keypoint_model_dir=output_inference/hrnet_w32_384x288/ --video_file={your video name}.mp4  --device=GPU --run_model=trt_fp3

[2022-04-18 06:14] yghstill commented on #5725
@lip0041 请参考[PaddleClas](https://github.com/PaddlePaddle/PaddleClas)重新在imagenet上训练下pretrain，但PicoDet中使用的ESNet是搜索得到的，PaddleClas无法直接得到，建议使用PicoDet基于LCNet的增强版模型，PaddleClas可直接训练得到~

[2022-04-18 06:25] Pastuzo commented on #5695
paddle Serving 版本{v0.8.3}
PaddleDetection {release/2.4}
那pandas用什么版本呢

[2022-04-18 07:06] zyl75391 commented on #5697
还需要我补充别的信息吗

[2022-04-18 07:13] jimmy133719 opened #5735 "[BUG]單卡訓練pp-yoloe時卡住"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-18 09:13] LYHTZHANGJIANG opened #5738 "[BUG] 训练ppyoloE时，VOC数据，只采用单个分类，那么在loss.backward()的时候会卡住不动，查看了loss是4.49，不报错。"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-18 09:22] Disciple7 commented on #5726
paddleserving已经是最新版本了。
benchmark那里改了，也没有用，还是报同样的错误。

[2022-04-18 09:27] wangxinxin08 commented on #5738
麻烦贴一些相关信息，以帮助我们判断：
1. PaddlePaddle版本以及PaddleDetection版本
2. 如何修改的配置文件
3. 运行的命令是什么

[2022-04-18 09:32] Disciple7 commented on #5726
补充一下，我的paddle是直接安装的预编译库https://paddle-inference-lib.bj.bcebos.com/2.2.2/python/Linux/GPU/x86-64_gcc8.2_avx_mkl_cuda10.1_cudnn7.6.5_trt6.0.1.5/paddlepaddle_gpu-2.2.2.post101-cp37-cp37m-linux_x86_64.whl
和这个有关系吗？

[2022-04-18 09:39] LYHTZHANGJIANG commented on #5738
1、paddledet          2.4.0  paddlepaddle-gpu   2.2.2.post111
2、修改了voc.yml 中的num_class=1，还有把ppdet/data/source/voc.py  58行allow_empty=True，后面的119行
  detect_name = ["person"]
  for obj in objs:
      cname = obj.find('name').text
      if cname not in detect_name:
          continue
跳过其他的类别。
3、运行的命令：python -m paddle.distributed.launch --gpus 0,1,2,3 tools/train.py -c configs/ppyoloe/ppyoloe_crn_s_300

[2022-04-18 09:51] wangxinxin08 commented on #5735
可以发下你修改的配置文件吗？

[2022-04-18 09:56] jimmy133719 commented on #5735
我只改了ppyoloe_crn_s_300e_coco.yml，如下：
[code]

[2022-04-18 10:06] wangxinxin08 commented on #5735
@jimmy133719 只修改了学习率是吗?

[2022-04-18 10:13] wangxinxin08 commented on #5738
好的，我们验证下

[2022-04-18 10:14] jimmy133719 commented on #5735
@wangxinxin08 不好意思，忘了說我模型裡EffectiveSELayer的部份我將Hard Sigmoid置換成Sigmoid，不確定這部份會不會是原因。修改如下：
ppdet/modeling/backbones/cspresnet.py
[code]
其餘部份皆未修改，謝謝！

[2022-04-18 10:16] wangxinxin08 commented on #5735
@jimmy133719 这一部分可以先不修改，因为backbone的预训练是hardsigmoid，不过这里应该不会导致hang住

[2022-04-18 10:18] jimmy133719 commented on #5735
@wangxinxin08 這邊會修改的原因是因為後續部署的環境不支援hardsigmoid

[2022-04-18 10:46] lip0041 commented on #5725
好的，请问有什么工具或方法可以编辑pdparams文件吗

[2022-04-18 11:17] lip0041 commented on #5725
好的，我后续会考虑基于LCNet，另外请问有什么工具或方法可以编辑pdparams文件吗

[2022-04-18 11:18] LYHTZHANGJIANG commented on #5738
我刚刚测试了一下，我就从VOC2007中拿了128张图，4张卡，每张卡的batch是8，然后迭代到第6个epoch,也是在loss.backward（）那里卡住不动了，显卡的利用率都是100%了。

[2022-04-18 11:37] wangxinxin08 commented on #5735
可以的，训练300个epoch的话影响应该不大

[2022-04-18 12:25] wangxinxin08 commented on #5735
如果方便的话，可以分享下数据以便更好的定位bug哈

[2022-04-18 14:00] zhangdengp commented on #5732
我也用这个命令，但是报错：
ValueError: (InvalidArgument) Pass tensorrt_subgraph_pass has not been registered. Please use the paddle inference library compiled with tensorrt or disable the tensorrt engine in inference configuration!
  [Hint: Expected Has(pass_type) == true, but received Has(pass_type):0 != true:1.] (at /paddle/paddle/fluid/framework/ir/pass.h:236)

[2022-04-18 14:53] jimmy133719 commented on #5735
請問希望提供什麼數據?

[2022-04-18 15:11] wangxinxin08 commented on #5735
看错了，是COCO数据集，由于你是单卡训练的，按理说不会出现hang住的问题，你可以设置下worker_num为0进行训练，看下具体是什么原因导致的问题

[2022-04-19 00:30] Roly-Yang opened #5743 "AttributeError: 'Program' object has no attribute '_remove_training_info'[BUG]"
## 描述问题

在使用--export_serving_model时遇到如下报错：
Traceback (most recent call last):
  File "tools/export_model.py", line 115, in <module>
    main()
  File "tools/export_model.py", line 111, in main
    run(FLAGS, cfg)
  File "tools/export_model.py", line 90, in run
    params_filename="model.pdiparams")
  File "/home/phm/J/Anaconda3/envs/paddle_env/lib/python3.7/site-packages/paddle_serving_client/io/_

[2022-04-19 01:03] lixiangMindSpore commented on #5716
更新了

[2022-04-19 01:07] lixiangMindSpore opened #5744 "[BUG]win10安装requirements出现如图所示错误，麻烦专家帮忙解决一下"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-19 01:53] yghstill commented on #5725
@lip0041 可以参考https://github.com/yghstill/paddle_some_toolkit/blob/main/ppcls_to_ppdet/match_weight_name.py#L5
load weight后可以使用numpy处理

[2022-04-19 02:35] jerrywgz commented on #5732
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python 需要从这里面下载带tensorrt的paddle whl包

[2022-04-19 02:57] yghstill commented on #5726
@Disciple7 我们复现了这个问题，正在解决中。

[2022-04-19 03:01] wy1996-hub opened #5745 "PP-TinyPose在执行图片预测时，picodet_postprocess.py文件总是显示 cannot reshape array of size 1 into shape (4)"
!python deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/picodet_s_320_pedestrian \
        --keypoint_model_dir=output_inference/tinypose_128x96 \
        --image_file=demo/000000570688.jpg --device=GPU --keypoint_threshold=0.35

-----------  Running Arguments -----------
camera_id: -1
cpu_threads: 1
det_model_dir: output_inference/picodet_s_320_pedestrian
det_threshold:

[2022-04-19 03:33] huangch1024 opened #5746 "训练PP-YOLOE的时候 报错TypeError: list indices must be integers or slices, not str"
训练PP-YOLOE的时候出现这个报错，看这个应该是批处理数据的时候报错：
![image](https://user-images.githubusercontent.com/31469777/163914703-0333fd71-7ee4-44b9-b8e1-3fbdbd5585b6.png)
我看了下sampe输入是两个图片信息，请问这个是bug吗？

[2022-04-19 03:33] GMfatcat opened #5747 "ValueError: (InvalidArgument) Input(X) of GridSampleOp should be 4-D Tensor, but received X dimension size(5)[Other General Issues]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## 描述问题/Describe the bug
A clear and concise description of what the bug is.
訓練mask_rcnn_res2net50_vd_26w_4s_fpn_2x_coco時一切正常，但是在eval.py 和 infer.py時出現這個錯誤

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?
   python tools/eval.py -c configs/res2net/mask_rcnn_res2net50_vd_26w_4s_fpn_2x_coco.yml -o weight

[2022-04-19 03:40] wangxinxin08 commented on #5746
你修改了什么配置文件？

[2022-04-19 03:56] Dekadenc opened #5750 "PP-Picodet增强版疑问"
请问增强版是否有相关文档（改进部分的网络结构介绍），其次对于picodet有多少种型号，该如何进行选择。

[2022-04-19 04:41] huangch1024 commented on #5746
![image](https://user-images.githubusercontent.com/31469777/163921424-508753d1-78ea-40ff-a005-3f22fed84664.png)
这个是所有修改的配置，然后没有用gpu在测试。

[2022-04-19 04:41] huangch1024 commented on #5746
![image](https://user-images.githubusercontent.com/31469777/163921555-2afef82e-5b75-471a-aa0d-243b5366e1e8.png)
这个是所有修改的配置，然后没有用gpu在测试。

[2022-04-19 05:14] huangch1024 commented on #5746
去掉mixup_epoch：3这一行即可。
转述答案这里报错的原因是设置了mixup，但是预处理算子里面却没有，mixup在PP-YOLOE没有正向效果，所以配置中移除了这个预处理算子

[2022-04-19 05:15] #5746 closed, assigned to nobody

[2022-04-19 05:27] ShawnXsw opened #5751 "[BUG]dark postprocess container overflow"
dark postprocess vector container overflow

[2022-04-19 05:41] yghstill commented on #5750
@chenfancc 可以查看文档：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet
和模型升级解析：https://github.com/PaddlePaddle/PaddleDetection/issues/5723
PicoDet的model zoo中共9个模型，看你部署的设备情况，和实时性要求，如果比较低端的设备，建议使用xs和s系列模型，如果设备比较高端或者实时性要求不高，可使用m、L系列模型。

[2022-04-19 05:57] yghstill commented on #5745
@wy1996-hub 使用官方最新release/2.4代码试下呢？https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/keypoint_infer.py

[2022-04-19 05:59] yghstill commented on #5744
@lixiangMindSpore 先更新下pip试下：
[code]

[2022-04-19 06:07] ShiningZhang commented on #5743
请问使用的Paddle版本是多少？paddleserving 0.8.3应该配套使用PaddlePaddle 2.2.2版本

[2022-04-19 06:09] kingbirdWc commented on #5716
![image](https://user-images.githubusercontent.com/23066646/163937342-8415bbef-c9ee-436a-9de8-7123dd52d266.png)
请问这两列的含义是什么呢？

[2022-04-19 06:12] lixiangMindSpore commented on #5744
该问题已解决，但是有了新问题，如下图所示，麻烦专家了
![image](https://user-images.githubusercontent.com/78945582/163937686-af2bae6e-04f1-47cc-9f14-16580af2c135.png)

[2022-04-19 06:55] lip0041 commented on #5725
好的 谢谢

[2022-04-19 07:03] Aming1998 opened #5754 "能否对test_feed.dataset进行清空或是获取 loader 随机读取的图片路径"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-19 07:05] #3476 closed, assigned to nobody

[2022-04-19 07:05] #3558 closed, assigned to jerrywgz

[2022-04-19 07:05] #3771 closed, assigned to nobody

[2022-04-19 07:05] #4436 closed, assigned to nobody

[2022-04-19 07:05] #4647 closed, assigned to nobody

[2022-04-19 07:05] #4691 closed, assigned to jerrywgz

[2022-04-19 07:05] #4733 closed, assigned to nobody

[2022-04-19 07:05] #4809 closed, assigned to yghstill

[2022-04-19 07:05] #4875 closed, assigned to nemonameless, jerrywgz

[2022-04-19 07:05] #4906 closed, assigned to nobody

[2022-04-19 07:05] #4907 closed, assigned to nobody

[2022-04-19 07:05] #4911 closed, assigned to wangxinxin08

[2022-04-19 07:05] #4926 closed, assigned to yghstill

[2022-04-19 07:05] #4928 closed, assigned to nobody

[2022-04-19 07:06] #4930 closed, assigned to yghstill

[2022-04-19 07:06] #4931 closed, assigned to zoooo0820

[2022-04-19 07:06] #4932 closed, assigned to yghstill

[2022-04-19 07:06] #4933 closed, assigned to yghstill

[2022-04-19 07:06] #4939 closed, assigned to yghstill

[2022-04-19 07:06] #4940 closed, assigned to nobody

[2022-04-19 07:06] #4942 closed, assigned to yghstill

[2022-04-19 07:06] #4946 closed, assigned to yghstill

[2022-04-19 07:06] #4948 closed, assigned to nobody

[2022-04-19 07:06] #4951 closed, assigned to lyuwenyu

[2022-04-19 07:06] #4971 closed, assigned to nobody

[2022-04-19 07:06] #4973 closed, assigned to yghstill

[2022-04-19 07:06] #4985 closed, assigned to nobody

[2022-04-19 07:06] #4990 closed, assigned to nobody

[2022-04-19 07:06] #4991 closed, assigned to nobody

[2022-04-19 07:06] #4993 closed, assigned to wangxinxin08

[2022-04-19 07:06] #4994 closed, assigned to nobody

[2022-04-19 07:06] #4999 closed, assigned to nobody

[2022-04-19 07:06] #5000 closed, assigned to nemonameless

[2022-04-19 07:06] #5003 closed, assigned to ghostxsl

[2022-04-19 07:06] #5008 closed, assigned to nemonameless

[2022-04-19 07:06] #5012 closed, assigned to yghstill

[2022-04-19 07:06] #5015 closed, assigned to heavengate

[2022-04-19 07:06] #5021 closed, assigned to nemonameless

[2022-04-19 07:06] #5024 closed, assigned to wangxinxin08

[2022-04-19 07:06] #5028 closed, assigned to zhiboniu

[2022-04-19 07:06] #5029 closed, assigned to nobody

[2022-04-19 07:06] #5033 closed, assigned to nobody

[2022-04-19 07:06] #5034 closed, assigned to nobody

[2022-04-19 07:06] #5039 closed, assigned to nobody

[2022-04-19 07:06] #5054 closed, assigned to yghstill

[2022-04-19 07:06] #5057 closed, assigned to yghstill

[2022-04-19 07:06] #5058 closed, assigned to yghstill

[2022-04-19 07:06] #5060 closed, assigned to minghaoBD

[2022-04-19 07:06] #5064 closed, assigned to minghaoBD

[2022-04-19 07:06] #5066 closed, assigned to heavengate

[2022-04-19 07:06] #5070 closed, assigned to yghstill

[2022-04-19 07:06] #5072 closed, assigned to nobody

[2022-04-19 07:06] #5076 closed, assigned to nobody

[2022-04-19 07:06] #5080 closed, assigned to nobody

[2022-04-19 07:06] #5081 closed, assigned to nobody

[2022-04-19 07:06] #5085 closed, assigned to nobody

[2022-04-19 07:06] #5086 closed, assigned to nobody

[2022-04-19 07:06] #5087 closed, assigned to nobody

[2022-04-19 07:06] #5088 closed, assigned to nobody

[2022-04-19 07:06] #5091 closed, assigned to zhiboniu

[2022-04-19 07:06] #5092 closed, assigned to nobody

[2022-04-19 07:06] #5102 closed, assigned to heavengate

[2022-04-19 07:06] #5104 closed, assigned to heavengate

[2022-04-19 07:06] #5110 closed, assigned to wangxinxin08

[2022-04-19 07:06] #5112 closed, assigned to nobody

[2022-04-19 07:06] #5119 closed, assigned to zoooo0820, zhiboniu

[2022-04-19 07:06] #5121 closed, assigned to nobody

[2022-04-19 07:06] #5123 closed, assigned to nobody

[2022-04-19 07:11] wangxinxin08 commented on #5738
@LYHTZHANGJIANG 你好，你在configs/ppyoloe/ppyoloe_crn_s_300e_coco.yml添加下`find_unused_parameters: true`试下

[2022-04-19 07:12] Aming1998 commented on #5754
python 3.7
cuda10

[2022-04-19 07:13] Aming1998 commented on #5754
python 3.7
cuda10、
cudnn 7.6.5

[2022-04-19 07:32] LYHTZHANGJIANG commented on #5738
还是不行，我测试训练一个类别，每次都是固定在第6个epoch卡住，训练2个类别在第24个epoch卡住，还有我修改了use_shared_memory: false 这个会不会有影响，这个是因为报  “”ABORT!!! Out of all 4 trainers, the trainer process with rank=[3]
 was aborted. Please check its l“” 这个错误的时候修改的

[2022-04-19 07:34] wangxinxin08 commented on #5738
@LYHTZHANGJIANG 这个能发下workerlog.3的截图吗？修改use_shared_memory为false的话应该不影响hang住的问题的

[2022-04-19 07:38] LYHTZHANGJIANG commented on #5738
![image](https://user-images.githubusercontent.com/49071179/163950728-f33b94eb-b092-4005-8b63-7e2b65241743.png)

[2022-04-19 07:39] LYHTZHANGJIANG commented on #5738
那个打印的是损失值，后面也没提示报什么错

[2022-04-19 07:41] wangxinxin08 commented on #5738
@LYHTZHANGJIANG 这个截图中没有报错信息，不过use_shared_memory为false和训练hang住应该无关，你可以修改下https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/heads/ppyoloe_head.py#L295 为
[code]
试试还会不会hang住呢？

[2022-04-19 08:04] LYHTZHANGJIANG commented on #5738
可以跑通了，能够请教一下这是为什么吗？

[2022-04-19 08:19] wangxinxin08 commented on #5738
如果batch中全为负样本会导致没有loss计算，导致多卡下梯度回传出现hang住的问题，这里给了一个0梯度回去。另外，你只训练1～2个类别，为什么要把其他的数据都送到模型中训练呢，这样会导致模型每次接受的基本都是负样本？我理解可以不设置allow_empty=True

[2022-04-19 08:25] yghstill commented on #5754
@Aming1998 可以将image name加入fetch_list中返回即可

[2022-04-19 08:30] LYHTZHANGJIANG commented on #5738
1、就是当batch 全为负样本的时候，loss_iou = paddle.zeros([1])也是给的0回去的呀,这两者有什么区别吗？
2、由于在一些应用中，我们需要消除一些场景带来的误检，但是对应的场景图像中又没有我们的检测目标，但是也需要加进去学习的，它也会贡献出分类损失的。所以我这里不能把allow_empty=True

[2022-04-19 08:31] wangxinxin08 commented on #5738
paddle.zeros不会回传梯度的

[2022-04-19 08:33] LYHTZHANGJIANG commented on #5738
哦哦，明白了  十分感谢您！

[2022-04-19 08:50] Aming1998 commented on #5754
keys, values, _ = parse_fetches(test_fetches, infer_prog, extra_keys)

loader.start()
outs = exe.run(infer_prog,
               fetch_list=values,
               return_numpy=False)
res = {
    k: (np.array(v), v.recursive_sequence_lengths())
    for k, v in zip(keys, outs)
}

#logger.info('Infer iter {}'.format(iter_id))
loader.reset()根据您刚才的提示 我已经明白了valus应该就是指图片路径的意思？那么这个地方的keys是什么含义呢？ 需要修改吗？我感觉它

[2022-04-19 09:01] zyl75391 commented on #5697
<img width="265" alt="23cb749e8d3df966d061947181f7ad8" src="https://user-images.githubusercontent.com/59155736/163969161-6f0ac766-7e13-44ff-b182-80d850f10800.png">

环境信息
使用官方docker环境  paddlepaddle/paddle:latest-dev-cann5.0.2.alpha005-gcc82-aarch64

[2022-04-19 09:12] kingbirdWc opened #5756 "PicoDet的疑问"
您好，有两点疑问：
（1）官方文档里的onnx模型的w后处理和wo后处理的含义是什么？
![image](https://user-images.githubusercontent.com/23066646/163970458-284f7f78-53cf-4b6f-b2d6-f33b5776725e.png)
（2）我用python的PaddleDetection/deploy/third_engine/demo_onnxruntime/的代码运行了一下图片，使用s和xs模型，CPU下推理时间是100毫秒，不是官网介绍的6毫秒4毫秒，时间差的比较大，不知是什么原因？
希望得到指导，谢谢

[2022-04-19 09:12] Aming1998 commented on #5754
keys, values, _ = parse_fetches(test_fetches, infer_prog, extra_keys)

loader.start()
outs = exe.run(infer_prog,
               fetch_list=values,
               return_numpy=False)
res = {
    k: (np.array(v), v.recursive_sequence_lengths())
    for k, v in zip(keys, outs)
}

#logger.info('Infer iter {}'.format(iter_id))
loader.reset()根据您刚才的提示 我已经明白了valus应该就是指图片路径的意思？那么这个地方的keys是什么含义呢？ 需要修改吗？我感觉它

[2022-04-19 09:13] Aming1998 commented on #5754
save = FLAGS.save_dir + img_rename + '_' + str(slice_idx) + '.jpg'
                outs = exe.run(infer_prog,
                               fetch_list=save,
                               return_numpy=False)
                res = {
                    k: (np.array(v), v.recursive_sequence_lengths())
                    for k, v in zip(keys, outs)
                }
我直接将路径输入会出现这样的报错

/usr/local/lib

[2022-04-19 09:40] yghstill commented on #5726
@Disciple7 经排查，需要使用Paddle inference 2.3rc或者develop版本，2.3rc的包即将发布，请先手动编译下使用吧

[2022-04-19 10:10] yghstill commented on #5756
@kingbirdWc
1. w/ 后处理表示网络中带有后处理，w/o 表示网络中不带后处理
2. 官方测速使用https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/third_engine/demo_openvino/python ，可以详细看下文档，具体的测速要看CPU的型号，并且测速时确认下没有其他进程占用资源。

[2022-04-19 10:19] yghstill commented on #5754
@Aming1998 不是直接的图片路径，因为网络中无法输出图片路径，由于release/0.1的代码太老，你可以更新到0.2的分支吗？在0.2之后就支持了设置shuffle的字段：https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/configs/yolov3_reader.yml
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/ppdet/data/reader.py#L190

[2022-04-19 11:59] LYHTZHANGJIANG opened #5757 "您好，我这样修改了还是会有那个constant，请问还需要改哪里吗？"
1 去除掉NMS，
2去除掉与scale_factor相关部分（paddle2onnx输入参数中只设置input image的值），
3所有代码都在postprocess里面，注释掉：从scale_y, scale_x =....此行开始到结束，增加return pred_bboxes,pred_scores。

_Originally posted by @sdreamforchen in https://github.com/PaddlePaddle/PaddleDetection/issues/5511#issuecomment-1097608819_

[2022-04-19 12:04] #5757 closed, assigned to nobody

[2022-04-19 12:14] sdreamforchen commented on #5757
你按照3中说的都删除掉，应该是没问题的哈。你可以再将函数的输入变量scale_factor删除了，是不是这个你没有删除。

[2022-04-19 12:21] Roly-Yang commented on #5743
您好 以下是我的版本信息：
paddlepaddle              2.0.2
paddlepaddle-gpu          2.1.1

那么我现在是需要安装什么版本的paddleserving呢？我尝试安装0.7.0的依旧报错

[2022-04-19 13:47] ZHZhang-whu opened #5758 "模型剪裁 'NoneType' object has no attribute '_var'"
跑下面这个示例时（示例链接：https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/slim/prune/README.md），
python3 prune.py \

AttributeError: 'NoneType' object has no attribute '_var'

third@ubuntu:~/Desktop/base/PaddleDetection/static/slim/prune$ python3 prune.py \

/home/third/.local/lib/python3.8/site-packages/paddle/fluid/framework.py:744: DeprecationWarning: `np.bool` is a deprecated alias for th

[2022-04-19 14:56] wstchhwp commented on #5302
怎么解决的？

[2022-04-19 16:26] yanglilongss opened #5759 "关于使用paddle inference自己编写代码运行行人预测模型，输出出错"
![image](https://user-images.githubusercontent.com/84090682/164048080-b3143a29-f206-4fb2-9ccf-c2e3878fa370.png)
这是我用paddle inference自己编写代码进行行人检测模型的预测的输入和输出
输入我进行比对和给的infer.py中处理图片后的输入一致，但是输出结果不一样
无法得到可信度和预测框坐标
下图为我将infer.py中图片处理后的结果的print输出，还有模型的输出
![image](https://user-images.githubusercontent.com/84090682/164049827-404cd23b-bce4-4ceb-ae3b-a111df26c3b1.png)
再有就是我自己写的代码中获取input_names的元素个数为1，但是infe

[2022-04-19 16:27] yanglilongss commented on #5759
![image](https://user-images.githubusercontent.com/84090682/164050966-b177711b-69ed-4198-9c98-7954f30e1c1f.png)
最后再附上我的源代码
望解答

[2022-04-20 01:24] Aming1998 commented on #5754
好的 不过能请问一下 是否能够对test_feed.dataset 这个类进行清空操作呢 这样的话 对于我们来说可能会更加地方便一下？

[2022-04-20 01:24] Aming1998 commented on #5754
好的 不过能请问一下 是否能够对test_feed.dataset 这个类进行清空操作呢 这样的话 对于我们来说可能会更加地方便一些。

[2022-04-20 01:30] Roly-Yang commented on #5743
您好，我升级了paddlepaddle到2.2.2版本之后成功导出了模型，我想问一下：如何使用训练得到的model_final.pdparams文件，导出模型的文件是__model___和__params__？

我现在只能导出以下四个文件，万分感谢～
①infer_cfg.yml,
②model.pdiparams,
③model.pdiparams.info,
④model.pdmodel

[2022-04-20 01:36] kingbirdWc opened #5760 "PicoDet ONNX Runtime Demo缺少C++版"
您好，PicoDet ONNX Runtime Demo缺少C++版，希望得到更新，谢谢

[2022-04-20 01:39] Roly-Yang opened #5761 "如何使用PaddleDetection导出模型__model__和__params__? [Other General Issues]"
## 描述问题/Describe the bug

如何使用PaddleDetection训练获得的model_final.pdparams文件导出模型__model__和__params__?

## 复现/Reproduction

使用训练得到的model_final.pdparams文件，导出模型时只能导出以下四个文件：
①infer_cfg.yml,
②model.pdiparams,
③model.pdiparams.info,
④model.pdmodel

使用的命令是：
python tools/export_model.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml --output_dir=./inference_model -o weights=output/ssd_mobilenet_v1_300_120e_

[2022-04-20 02:03] yghstill commented on #5760
@kingbirdWc 感谢反馈，正在更新中~

[2022-04-20 02:05] yghstill commented on #5761
@Roly-Yang 文件内容一致，直接重命名即可
[code]

[2022-04-20 02:09] yghstill commented on #5758
@WITHBUG PaddleSlim的版本是多少？是<=1.0.1吗

[2022-04-20 02:11] Roly-Yang commented on #5761
谢谢 成功啦

[2022-04-20 02:11] #5761 closed, assigned to nobody

[2022-04-20 02:11] Roly-Yang commented on #5743
问题已解决

[2022-04-20 02:11] #5743 closed, assigned to nobody

[2022-04-20 02:13] LiQiang0307 commented on #5728
可支持多镜头视频输入，是否支持同时传入两个摄像头的实时视频流并实时显示结果？

[2022-04-20 02:44] wangxinxin08 commented on #5759
@yanglilongss scale_factor就是你在resize的时候，宽和高的缩放因子哈，[scale_y, scale_x]，你可以添加下这个输入

[2022-04-20 02:49] ZHZhang-whu commented on #5758
paddleslim版本为2.1.0，谢谢

[2022-04-20 02:55] hobeter opened #5762 "PP-yoloe 导出使用TestReader.fuse_normalize=true导致精度下降 [Other General Issues]"
PP-yoloe 导出使用TestReader.fuse_normalize=true，f1 score从0.8降至0.3，这是什么原因啊🤔？

[2022-04-20 02:56] jerrywgz commented on #5747
可以发下配置文件和infer的启动命令嘛，我这边测试了下coco数据集上mask_rcnn_res2net50_vd_26w_4s_fpn_2x_coco 模型的eval和infer是正常的，用的paddledet release/2.4 分支，paddle 2.2.2版本

[2022-04-20 03:15] song121982 opened #5763 "离线量化"
[paddleslim离线量化](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/slim/post_quant)和使用[trt Int8离线量化](https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html#)是一个东西吗？

使用paddleslim离线量化功能即post_quant.py得到的模型推理，需要执行’指定TensorRT配置时，将 precision_mode 设置为 paddle_infer.PrecisionType.Int8 并且设置 use_calib_mode 为 True‘的操作吗？

[2022-04-20 03:17] #5763 closed, assigned to nobody

[2022-04-20 03:45] GMfatcat commented on #5747
config檔(github 不支援.yml 所以用.txt)
mask_rcnn_res2net50_vd_26w_4s_fpn_2x_coco.yml:
[coco_yml.txt](https://github.com/PaddlePaddle/PaddleDetection/files/8518136/coco_yml.txt)

optimizer_1x:
[optimizer_1x.txt](https://github.com/PaddlePaddle/PaddleDetection/files/8518138/optimizer_1x.txt)

coco_instance:
[coco_instance_yml.txt](https://github.com/PaddlePaddle/PaddleDetection/files/8518139/coco_instance_

[2022-04-20 03:51] nine-city opened #5766 "[Other General Issues] ppyoloe的anchor在哪个文件里设置"
ppyoloe的anchor在哪个文件里设置

[2022-04-20 05:47] yghstill commented on #5758
@WITHBUG 你跑的代码有点老，ppdet和paddleslim升级会导致不兼容问题的发生，ppdet请更新到2。4版本，paddleslim更新到2.2再试下，Demo使用：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/static/slim

[2022-04-20 06:18] Dandelion111 opened #5767 "使用PaddleDetection突然报错"
一直用的好好的，今天训练突然报错，百度查不到什么原因，求大佬解答
<img width="701" alt="f64ab901895d248f2a78a35b969cda2" src="https://user-images.githubusercontent.com/48303408/164162994-3d5f56c0-5413-460b-b4c8-4b5fff7b28cd.png">

[2022-04-20 07:06] SeventhBlue opened #5768 "bad file"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 已查阅相关issues问题，但是没有给出具体解决方法；

## 描述问题：所有输出信息如下，
REGISTER_CLASS:paddlex
init PaddleXModel,model_type=paddlex
terminate called after throwing an instance of 'YAML::BadFile'
  what():  bad file
Aborted (core dumped)

## 问题描述

1. 早期训练的模型依然可以使用，这次是后期添加新数据重新训练后，在板子上加载时出现的错误。
2.使用paddlex版本2.1.0，paddlex可视化客户端2.1

[2022-04-20 07:27] Amanda-Barbara opened #5769 "在voc、roadsign数据集合上训练出来的pp-yoloe的精度很低"
[04/20 15:22:59] ppdet.metrics.metrics INFO: Accumulating evaluatation results...
[04/20 15:22:59] ppdet.metrics.metrics INFO: mAP(0.50, 11point) = 0.00%
[04/20 15:22:59] ppdet.engine INFO: Total sample number: 4952, averge FPS: 42.79540406530177
[04/20 15:22:59] ppdet.engine INFO: Best test bbox ap is 0.014.
[04/20 15:22:59] ppdet.engine INFO: Epoch: [2] [   0/4137] learning_rate: 0.016000 loss:

[2022-04-20 07:33] weiluonika opened #5770 "[Other General Issues]PaddleDetection有没有评估敏感度特异性准确率ROC曲线等指标的评估"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-20 07:50] LYHTZHANGJIANG opened #5771 "[Other General Issues]PPYOLOE采用640*640训练之后，想采用其他的输入尺寸导出onnx文件，paddle2onnx后面加上--input_shape_dict="{'image': [1,3,384,640]}"这样子会报错，有什么解决办法吗？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-20 07:56] #5771 closed, assigned to nobody

[2022-04-20 07:58] LYHTZHANGJIANG commented on #5771
可以了，要先在ppyoloe_reader.yml里面把尺寸修改了,再转过去。刚刚接触不太了解

[2022-04-20 08:09] #5762 closed, assigned to nobody

[2022-04-20 08:22] song121982 commented on #5729
错误3 ：使用paddleslim离线量化（tools/post_quant.py）模型预测

`python tools/post_quant.py -c configs/ppyolo/ppyolo_r50vd_dcn_post-quant-test.yml --slim_config=configs/slim/post_quant/ppyolo_r50vd_dcn_my_ptq.yml -o weights=output/ppyolo_r50vd_dcn_post-quant-test/best_model.pdparams`
导出离线量化模型log，输出没有错误：
[code]

推理指令：`python deploy/python/infer.py --model_dir=output_inference/ppyolo_r50vd_dcn_my_ptq --image_file=d

[2022-04-20 08:26] LYHTZHANGJIANG opened #5772 "【已解决】同样的输入尺寸下，在RV1126上面测试的时间快于YOLOX"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-20 08:32] wangxinxin08 commented on #5772
你是怎么测速的呢？

[2022-04-20 08:32] wangxinxin08 commented on #5769
这个应该是相关配置没有配置好，可以把修改的配置文件发一下，一般是学习率没有设置好

[2022-04-20 08:33] wangxinxin08 commented on #5766
ppyoloe是anchor-free的模型，不需要设置anchor哈

[2022-04-20 08:35] wangxinxin08 commented on #5768
应该是yaml文件路径错误哈

[2022-04-20 08:36] wangxinxin08 commented on #5770
ROC曲线目前还没有哈

[2022-04-20 08:38] LYHTZHANGJIANG commented on #5772
就是你这是在pc上面测试的，我是移植到硬件平台之后测试的。移植过去有什么加速的操作吗？

[2022-04-20 08:39] wangxinxin08 commented on #5772
@LYHTZHANGJIANG 怎么移植的，具体流程可以描述下，另外测速的方式是怎样的，两边统一吗？

[2022-04-20 08:42] LYHTZHANGJIANG commented on #5772
我是需要在RV1126这个硬件平台上面运行：
1、python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_s_300e_coco.yml --output_dir=output_inference -o weights=./output/ppyoloe_crn_s_300e_coco/0.pdparams
2、paddle2onnx --model_dir output_inference/ppyoloe_crn_s_300e_coco --model_filename model.pdmodel --params_filename model.pdiparams --opset_version 11 --save_file ppyoloe_crn_s_300e_coco.onnx
3、把onnx 转成.rknn文件
然后就可

[2022-04-20 08:43] wangxinxin08 commented on #5772
@LYHTZHANGJIANG
1. 这样导出PP-YOLOE是带NMS的，YOLOX导出是否带NMS可以确认下
2. 有一个小细节可以使得导出后的ONNX提速，就是在导出的时候将
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/ops.py#L49
修改成
[code]

[2022-04-20 08:46] wangxinxin08 commented on #5772
@LYHTZHANGJIANG 可以先确认下是否都带NMS，再确认下第二点

[2022-04-20 08:47] song121982 commented on #5729
问题4：使用trt自带离线量化功能，即使用普通模型，设置use_calib_mode 设为 True进行预测，并’run-mode=trt_int8‘，推理结果帧率极低。

[2022-04-20 08:50] LYHTZHANGJIANG commented on #5772
我在代码里面把NMS那部分给注释掉了，都不带NMS,NMS转模型的时候转换不过去。

![image](https://user-images.githubusercontent.com/49071179/164189786-2e930eb2-2caa-46d8-bc44-16bc3e97ce61.png)

[2022-04-20 08:52] LYHTZHANGJIANG commented on #5772
还有，我觉得可能是激活函数在这种硬件平台的支持度不是很好，所以就会运行比较慢.

[2022-04-20 08:53] wangxinxin08 commented on #5772
@LYHTZHANGJIANG 那你修改下第二点重新导出试试吧，从网络结构，参数量，计算量的角度来看，同等模型不可能比YOLOX慢的

[2022-04-20 08:53] wangxinxin08 commented on #5772
你是说哪一个激活函数呢？

[2022-04-20 08:55] wangxinxin08 commented on #5767
从报错信息上来看是GLIB版本不匹配，你可以描述下:
1. 操作系统的环境
2. PaddlePaddle的版本
3. GCC版本

[2022-04-20 08:56] #5767 closed, assigned to nobody

[2022-04-20 09:06] funykatebird opened #5773 "yaml.constructor.ConstructorError: could not determine a constructor for the tag '!DecodeImage' in "configs/face_detection/blazeface_keypoint.yml", line 57, column 5"
python 3.8

python tools/infer.py -c configs/face_detection/blazeface_keypoint.yml -o use_gpu=false weights=./blazeface_keypoint.pdparams --infer_img=demo/000000014439.jpg

**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/

[2022-04-20 09:17] LYHTZHANGJIANG commented on #5772
哦哦一样的，我当时看到是swish，以为这个会比较慢，看到参数为1，那么也就是silu,那么YOLOX和YOLOv5中也都是silu,   还有一点就是我把PPYOLOE中的有个hardsigmoid 转成了sigmoid,由于hardsigmoid这个算子不支持

[2022-04-20 09:25] SeventhBlue commented on #5768
[捂脸哭]哈哈哈，脑袋魔怔了，是路径问题。感谢答主耐心答复！

[2022-04-20 09:48] wangxinxin08 commented on #5772
sigmoid和hardsigmoid速度差异应该不会很大

[2022-04-20 09:58] LYHTZHANGJIANG commented on #5772
可以了，时间要比YOLOX要少了。时间是改之前的一半了,这里就是把swish 给换成silu了
就是我还有个问题如果把下面的hardsigmoid激活函数换成了sigmoid  这样影响大吗？
![image](https://user-images.githubusercontent.com/49071179/164202862-e88533b0-176c-4bd4-9f3d-41a97f3f7237.png)

[2022-04-20 10:00] Amanda-Barbara commented on #5769
TrainReader:
  batch_size: 4

LearningRate:
  base_lr: 0.04

epoch: 300

LearningRate:
  base_lr: 0.025
  schedulers:
    - !CosineDecay
      max_epochs: 360
    - !LinearWarmup
      start_factor: 0.
      epochs: 5

OptimizerBuilder:
  optimizer:
    momentum: 0.9
    type: Momentum
  regularizer:
    factor: 0.0005
    type: L2

architecture: YOLOv3
norm_type: sync_bn
use_ema: true
ema_decay:

[2022-04-20 10:16] jackwysxw commented on #5408
最后怎么处理的？

[2022-04-20 10:53] wangxinxin08 commented on #5772
@LYHTZHANGJIANG 训练精度会稍微有些影响，部署的话，速度差异不是很大，可以忽略

[2022-04-20 10:54] wangxinxin08 commented on #5769
你是几卡训练的？单卡训练的话，把学习率除以8

[2022-04-20 11:06] LYHTZHANGJIANG commented on #5772
好的，谢谢哈，主要是部署的hardsigmoid 转换不过去，硬件不支持这个算子，所以就修改了

[2022-04-20 11:18] yanglilongss commented on #5759
但是我自己的代码读取的input_names只有一个元素这是因为什么呢？

[2022-04-20 11:59] wangxinxin08 commented on #5759
@yanglilongss 这个和导出模型有关，如果你导出模型时没有导出scale_factor，这里应该就只有一个input_names

[2022-04-20 14:45] Pius-Z commented on #5408
请问最后怎么解决的？

[2022-04-21 00:47] Amanda-Barbara commented on #5769
好的，我试一试，多谢。

[2022-04-21 01:09] nine-city commented on #5766
还有个问题：在大尺寸图片下（4000x4000px），ppyoloe需要特别调什么参数吗。

[2022-04-21 01:45] Amanda-Barbara commented on #5769
@wangxinxin08
[04/21 09:35:32] ppdet.metrics.metrics INFO: Accumulating evaluatation results...
[04/21 09:35:32] ppdet.metrics.metrics INFO: mAP(0.50, 11point) = 44.33%
[04/21 09:35:32] ppdet.engine INFO: Total sample number: 4952, averge FPS: 26.31392836900017
[04/21 09:35:32] ppdet.engine INFO: Best test bbox ap is 0.443.
[04/21 09:35:33] ppdet.utils.checkpoint INFO: Save checkpoint: output/ppyo

[2022-04-21 01:45] #5769 closed, assigned to nobody

[2022-04-21 02:16] jerrywgz commented on #5728
目前多镜头视频还是以串联的方式依次读取

[2022-04-21 02:26] song121982 opened #5778 "r50vd_dcn剪枝问题"
paddlepaddle2.2
ppdet2.4
paddleslim2.2.2

剪枝策略文件：
[code]

**问题：**
使用剪枝训练得到模型，导出后的裁剪率pruned ratio: 0.0，剪枝前后参数量没变化

log：
[code]

还有就是想问下，剪枝和量化可以联合使用吗？剪枝对帧率有没有提升？

[2022-04-21 02:27] weiluonika commented on #5770
那如何开启敏感度特异性这些评估指标呢？没找到相关文档。我使用的是Mask-rcnn算法进行训练的

[2022-04-21 02:47] xiaoxiaolu1111 opened #5779 "RuntimeError: fileds number not same among samples in a batch"

[2022-04-21 03:23] #5779 closed, assigned to nobody

[2022-04-21 03:33] wzh326 commented on #5490
请问解决了么？我也遇到了同样的问题

[2022-04-21 05:09] AreckOVO commented on #5186
这是在哪个文件里修改呀

[2022-04-21 05:27] #5772 closed, assigned to nobody

[2022-04-21 05:30] #5768 closed, assigned to nobody

[2022-04-21 06:04] yghstill commented on #5778
@song121982
- 再挑选其他层进行剪裁试下吧，deformable_conv和一些特殊层不支持剪裁，只剪裁普通卷积试下；
- 剪枝可以使模型参数减少，提升预测速度，量化和剪枝可以一起使用，进一步提升预测速度。

[2022-04-21 06:21] song121982 commented on #5778
@yghstill

谢谢解答

- 请问‘量化和剪枝可以一起使用’，这里的量化指的是离线量化还是量化训练呢？
- 如果是量化训练的话，是将quant和pure放到一个slim配置文件中吗，还是两个配置文件分先后顺序训练？

还有就是我之前的量化报错还没有被解答，之前确实使用了slim的量化策略进行了训练，然而int8不行
#5729

[2022-04-21 08:23] LYHTZHANGJIANG opened #5789 "[用户训练问题待确认]测试对比发现PPYOLOE比YOLOX低了差不多10个点。差不多2w多张图像，只检测行人"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-21 08:36] LYHTZHANGJIANG commented on #5789
1、我就修改了hardsigmoid 改成sigmoid.（由于硬件原因）
2、初始化权重采用CSPResNetb_s_pretrained.pdparams和ppyoloe_crn_s_300e_coco.pdparams有没有区别呀？ 如果有采用哪个会好点？
3、还有一点 我把学习率     我是4卡batch为8，  按照我的配置应该改为0.04/(8*32)*(4*8)=0.005 ，但是发现刚开始有点跑飞的样子，就改为0.00125了。
其他的就没有改了

[2022-04-21 09:00] lip0041 commented on #5725
请问修改backbone，增加一些模块（如卷积）在原backbone对应的预训练权重正常加载的情况下，为什么训练后的模型mAP还是会下降很多呢？
请问在原有backbone基础上添加模块，需要遵循什么步骤或按照什么方法吗？

[2022-04-21 09:27] Aganlengzi commented on #5697
@zyl75391 hi，看你截图的信息，显存有占用，你是要使用「使用率」数据还是为了确定是在昇腾910卡上跑？

[2022-04-21 09:56] ZHZhang-whu commented on #5758
感谢感谢，问题已经解决 确实是ppdet版本与slim不兼容导致

[2022-04-21 09:57] #5758 closed, assigned to nobody

[2022-04-21 10:11] lyuwenyu commented on #5789
1. 这数据集上两个模型都用hardsigmoid对比过没，yoloe这个预训练参数都是在hardsigmoid下得到的 改完之后可能会有些diff
2. 有区别`CSPResNetb_s_pretrained `是backbone在imagenet上的预训练， `ppyoloe_crn_s_300e_coco `这是模型在coco上的预训练参数 ，，建议用`ppyoloe_crn_s_300e_coco`吧

[2022-04-21 11:48] wangxinxin08 commented on #5766
@nine-city 需要调整2处配置哈，另外，可以看下4000x4000是否有必要，是不是1024*1024就足够了
1. 多尺度训练时的尺寸，修改为eval尺寸0.5～1.2，每隔32取值: https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/ppyoloe_reader.yml#L14
2. 评估时的尺寸: https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/ppyoloe_reader.yml#L2

[2022-04-21 11:53] wangxinxin08 commented on #5770
目前的指标可以看Precision和Recall，Recall对应到Recall，特异性暂时没有哈

[2022-04-21 11:58] jerrywgz commented on #5773
configs/face_detection/blazeface_keypoint.yml  这份配置是static/ 文件夹下的，属于静态图模式下的配置，目前paddledetection使用动态图，人脸检测可以使用[configs/face_detection/blazeface_1000e.yml](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/face_detection/blazeface_1000e.yml)

[2022-04-21 12:04] wangxinxin08 commented on #5789
可以说下PP-YOLOE和YOLOX分别是怎么训练的吗？
1. 使用的数据集是什么？数据集做了什么特殊的处理？
2. 使用的模型分别是什么？配置进行了怎样的修改？

[2022-04-21 12:59] wangxinxin08 commented on #5789
我们对比过在COCO上的行人这一类别的指标，PP-YOLOE相比YOLOX在行人这个单一类别上的AP稍微高些，可以参考下。

[2022-04-21 14:17] trefoil0219 commented on #5730
![mmexport1650550595197](https://user-images.githubusercontent.com/55016894/164477993-83392f90-d544-4df6-a52d-839bed8a94b3.png)
从图上看不到这个节点的上下文，tvm解析时不知道该怎么做。

[2022-04-21 14:38] ysy070100 opened #5795 "[Other General Issues]安装过程中出现的问题，是不是可能和cuda版本有关？"
[code]
paddle.utils.run_check()后出现的上面的错误

本人系统ubuntu20.04 显卡是3060 是用的Conda的虚拟环境 cudnn是7.6.5 cudatoolkit=10.2 系统的cuda版本是11.6，是不是和cuda版本对不上有关呢
`conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch`

[2022-04-22 00:49] LYHTZHANGJIANG commented on #5789
1、替换hardsigmoid前后还没有对比精度掉了多少。
2、我用`ppyoloe_crn_s_300e_coco训练了一个版本，今天测试一下精度。
但是你们的这个权重ppyoloe_crn_s_300e_coco也是采用CSPResNetb_s_pretrained 初始化骨干训练出来的呀，我设置的epoch的个数为300,但是发现在190的时候就map就平稳了，在第20个epoch map为56，在190个epoch map69，在300个epoch map70

[2022-04-22 01:02] LYHTZHANGJIANG commented on #5789
1、数据集采用的VOC07、12、还有一部分自己采集的数据集。
2、没经过特殊处理，只是我训练单个类别人，然后把所有的负样本都加进来了，你们训练和测试的时候是只有目标的样本吗？
3、YOLOX  和PPYOLOE都用的S。
4、YOLOX没修改
5、ppyoloE的配置文件如下：

====ppyoloe_crns_300e_coco.yml
_BASE_: [
  '../datasets/voc.yml',
  '../runtime.yml',
  './_base_/optimizer_300e.yml',
  './_base_/ppyoloe_crn.yml',
  './_base_/ppyoloe_reader.yml',
]

log_iter: 20
snapshot_epoch: 10
weights: output/ppyoloe_crn_s_300e_coco/m

[2022-04-22 01:11] wstchhwp opened #5798 "如何从套件中将单个模型拆解出来"
有没有案例教程-如何从套件中将单个模型拆解出来？，像yolox,yolov5代码那样，想对某些网络做深入的研究和改进。发现套件集成的东西有点多，看的迷眼睛，单独拆解出来研究。

[2022-04-22 01:32] zyl75391 commented on #5697
@Aganlengzi      您好我是为了确认训练可以正常运行，我发现训练之后很长时间都没有跟新数据，所以我看了tpu的info，发现显存有明显的占用，说明模型加载在tpu中了      但是tpu使用率非常低，说明可能没有用tpu进行计算。

[2022-04-22 01:38] cutexiaokele opened #5799 "[Other General Issues]aistudio上单张图片检测耗费十几秒时间"
在百度的aistudio上运行官方提供的
![image](https://user-images.githubusercontent.com/60963646/164579410-9104bbb5-f95e-492d-a839-50991c673d41.png)

但图片检测耗费十几秒
![f9d2e5412ffca2c9b76943c6a181b81](https://user-images.githubusercontent.com/60963646/164579449-1fc57648-c800-4759-9ada-7828a9196ad9.png)

我想问一下，我本地开发也有这个问题，运行预测的代码，会加载很慢，耗费好久  这部分时间如何减少

![image](https://user-images.githubusercontent.com/60963646/1645795

[2022-04-22 01:40] nemonameless commented on #5798
可以删掉benchmark/  static/  test_tipc/文件夹代码。
configs/文件夹里只保留datasets  runtime.yml 和你想要的模型，
deploy/文件夹里只保留python/ 和 cpp/，
对照你想要的模型的config，一个个组件代码全局搜索去 ppdet/文件夹里按你自己需求拆解。

[2022-04-22 01:42] nemonameless commented on #5795
找不到/usr/local/cuda/lib64/libcudnn.so，是环境变量设置的问题，看看报错的Suggestions
[code]

[2022-04-22 01:49] Aganlengzi commented on #5697
@zyl75391 hi，我查了内部关于yolov3_darknet53_270e_voc.yml适配的记录，这个模型目前还没有提测。
根据记录，模型是跑在昇腾910芯片上的（check方法：打开export GLOG_v=4，查看输出日志是否有关键字`missing`将算子fallback到CPU）。
当时记录的性能数据比较差，与V100相比只有18%左右，不排除有些算子在昇腾910芯片内部跑在AI CPU上而非AI Core上；
另外，昇腾910芯片上训练有个冷启动阶段，开始可能会比较慢。

[2022-04-22 02:07] weiluonika commented on #5770
那有没有参考资料 可以让我自己开发一下ROC评估曲线、敏感度、特异性等指标

[2022-04-22 02:32] jingting-mountain commented on #5711
动作识别模块能够自己训练模型识别其他动作吗？如果可以，请问如何操作？

[2022-04-22 02:50] zoooo0820 commented on #5711
我们更新了自定义训练的文档，请参考[文档](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/pphuman/docs/action.md)的`自定义模型训练部分`

[2022-04-22 02:50] wangxinxin08 commented on #5789
1. **默认训练是不加负样本的，把allow_empty设置成false**
2. **学习率应该设置成0.005，参考ppyoloe的文档：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/README_cn.md**
3. **eval的时候把size改成长方形，多尺度训练的时候也建议改成长方形， BatchRandomResize这块也改成长方形，比如target_size: [[h1, w1], [h2, w2], [h3, w3], ...]**
4. **YOLOX默认使用640 * 640评估，你ppyoloe使用608 * 352评估，为什么这么对比呢？**

[2022-04-22 03:05] LYHTZHANGJIANG commented on #5789
1、就是我需要掺杂负样本进行训练一些场景消除误检的。
2、我当时设置成0.005在warmup阶段有点跑飞了，损失都涨了20-30了，然后我把学习率调小了就好了 就在7以下了。
3、这个我还没改。我还没仔细看数据处理这块，我以为跟YOLOX一样是对图像的尺寸的比例不变的。
4、YOLOX的我也改成同样的尺寸进行测试的，由于我最后需要测试的数据是16:9的，YOLOX和yolov5里面不是有个预测的时候都会对图像的宽高的比例不变，然后会用黑边进行填充补齐32倍数，所以我这里对输入的尺寸就直接按照608*352输入的。

[2022-04-22 03:07] wangxinxin08 commented on #5730
@populustremble 感谢反馈，该问题正在解决中

[2022-04-22 03:09] zyl75391 commented on #5697
@Aganlengzi
![图片](https://user-images.githubusercontent.com/59155736/164588648-2b73afe0-5486-4c80-8e2d-4a5c6606531b.png)

[2022-04-22 03:09] wangplin opened #5801 "关于PaddleDection量化文件yml的设置[Other General Issues]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-22 03:18] Aganlengzi commented on #5697
看日志算子是正常跑在昇腾910芯片上的。

[2022-04-22 03:21] zyl75391 commented on #5697
有测试过的目标检测模型吗。确实有一部分是在CPU上

![图片](https://user-images.githubusercontent.com/59155736/164589819-149a99b6-4a71-4b80-9b83-4028b3303549.png)

[2022-04-22 03:30] Aganlengzi commented on #5697
Host端框架逻辑肯定是CPU上跑，看你贴出的日志，算子是正常跑在昇腾910芯片上的；
昇腾910内部有AICore(DaVinci AI Core)和AICPU(Taishan Core)，我指的AI CPU是芯片内部的，这块我们看不到；如果输出的日志中没有missing、fallback字样，说明算子是跑在昇腾910芯片上的。

目标检测模型可尝试YoloV3-DarkNet53(静态图) 和 SSD-MobileNetV1(动态图)

[2022-04-22 03:32] LYHTZHANGJIANG commented on #5789
1、有个问题就是当我的卡、batch降低了，除了学习率是线性调整以外，那么还有epoch的个数是不是应该变多呢？  还有warmup阶段是不是也需要调整？ 其他的一些超参数应该也需要有所调整吧？
2、如果采用你的初始化骨干的权重，学习率设置为0.005就会跑飞，如果用你训练好的coco集上的权重，那么0.005就不会跑飞。
3、还有就是我能看一下你们的workerlog.0吗？下面是我的worklog.0,就是感觉的分类分类损失比回归损失大挺多的，这样是正常的吗？
![image](https://user-images.githubusercontent.com/49071179/164590410-2eefab68-a29d-469c-b032-d6f2b547e054.png)

4、昨天测试了一些图，就是感觉召回不是很好，还有特别是图像中目标比较多的时候。
5、有个问题就是你们有测

[2022-04-22 03:37] wangxinxin08 commented on #5789
@LYHTZHANGJIANG
1. epoch数目可以适当调这个，你把hardsigmoid改成sigmoid，预训练模型相当于不存在了，可以根据总的iter数目适当调整下
2. 可以加载coco预训练，学习率设置成0.005
3. **你感觉召回率不是很高，还要消除误检率？明显训练错误，加负样本可以，负样本的比例需要仔细看下，不要直接allow_empty为True**
4. 分类损失本身就比回归损失大，这是正常的
5. PP-YOLOE不是保持长宽比不变的，看配置文件keep_ratio为False，所以BatchRandomResize要修改成608和352这样的比例
6. mosaic尝试过，负向作用

[2022-04-22 03:49] zyl75391 commented on #5697
@Aganlengzi
大概半个小时  现在好像正常了   我想问下[PaddleDetection] 怎么做动和静态的转换  好像2.x版本后  我没看见过相关文档是默认转换的吗。
![图片](https://user-images.githubusercontent.com/59155736/164592368-4c590054-aad6-4ca6-af68-0ca94e9e66eb.png)

[2022-04-22 03:51] LYHTZHANGJIANG commented on #5789
1、虽然把hardsigmoid换成sigmoid 但是这两者的输出值的偏差不是很大呀，我觉得在训练的过程中是可以调整过来的。
2、你的第三点，我不是因为感觉召回不高，才加负样本=====是因为要消除一些场景的误检，所以把负样本加入进去了。和YOLOX采用的同样加入负样本的数据进行训练之后。 是对比YOLOX和YOLOE两者的精度，精确率差不多，但是召回相比就是低了许多。=====。

[2022-04-22 03:55] wangxinxin08 commented on #5789
**1. 训练过程可以调整过来，所以可以调整epoch数目，增大训练时间
2. 我感觉你理解错了召回率的含义，召回率和误检率是两个基本相反的指标，加负样本是为了减少误检率。你感觉召回不高，就是因为你负样本加多了**

[2022-04-22 03:55] Aganlengzi commented on #5697
@zyl75391 如果训练的问题解决 建议您另开个issue具体描述下您转换的需求，会有相关值班同学跟进，谢谢！

[2022-04-22 04:12] liuzimo opened #5803 "ModuleNotFoundError: No module named 'motmetrics'"
![image](https://user-images.githubusercontent.com/25811500/164599079-4cd43652-a3db-41ab-88d2-97b6cbd6bccd.png)

[2022-04-22 04:14] LYHTZHANGJIANG commented on #5789
1、可能我没表达清楚，就是YOLOX和PPYOLOE训练同一批数据，测试同一批数据，PPYOLOE的召回（检出率）要低一点。
这里的对比不是说对于PPYOLOE加入负样本的前后对比。
2、那么对于一个网络而言，为什么加入了负样本之后你的召回就一定变低了呢？ 如果你的容量够，你都能够拟合呀，可能你的泛化能力会更强了呀  我不知道我的理解有没有问题？

[2022-04-22 04:17] nemonameless commented on #5803
No module 问题安装即可。
pip install -r requirements.txt

[2022-04-22 04:18] #5803 closed, assigned to nobody

[2022-04-22 04:20] zyl75391 commented on #5697
@Aganlengzi  好的，非常感谢您的帮助

[2022-04-22 04:58] wangxinxin08 commented on #5789
**1. 你PP-YOLOE训练的有问题，负样本太多了，不管YOLOX怎么训练，PP-YOLOE不推荐使用这种训练方式
2. 你理解有问题，正常是期望召回率高，误检率低，但是召回率和误检率是冲突的，召回率高，误检率也会高。加负样本是为了降低误检率，导致召回率也下降。建议先理解下相关指标**

[2022-04-22 05:29] Aganlengzi commented on #5697
不客气，这个issue我关掉了，后续有问题再沟通~

[2022-04-22 05:29] #5697 closed, assigned to Aganlengzi

[2022-04-22 06:16] xihuanafeng commented on #5646
请问一下你的loss降低的速度如何？

[2022-04-22 06:35] wangxinxin08 commented on #5646
@loss下降不正常的话，可以参考文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/README_cn.md 注意调整学习率

[2022-04-22 07:05] wangxinxin08 commented on #5730
@populustremble paddle2onnx专门升级以修复了这个问题，请按照以下命令进行操作，稍后我们会加入到文档中
[code]

[2022-04-22 07:35] yghstill commented on #5801
- 默认是所有conv、fc进行量化，如果自定义量化节点的话，想跳过某一层，可以conv.skip_quant=True。
- 关于自定义权重处理方式那需要重新改写代码了，可以看下PaddleSlim中的实现。

[2022-04-22 07:47] Kenneth-X opened #5806 "instance segmentation to onnx/tensorRT"
Paddle有能支持导出onnx的instance segmentation 模型嘛？
最好不加自定义op，方便我用
/usr/src/tensorrt/bin/trtexec \
  --minShapes=input:1x3x1080x1920 \
  --optShapes=input:1x3x1080x1920 \
  --maxShapes=input:1x3x1080x1920 \
  --workspace=48000 \
  --onnx=xxxx.onnx  \
  --saveEngine=model.plan
  导出为tensorrt上线部署

[2022-04-22 08:04] LYHTZHANGJIANG commented on #5789
1、那你说你测试的精度在COCO上面要高，你是模型训练的80类别之后，然后对比的person的精度。还是模型单独训练person这个类别。
2、我理解，你说的是指模型训练好了之后，那么那两个指标是冲突的。所以我们找一个最佳的阈值来平衡。然而你有没有试验过如果你加了新数据之后你在原数据集上面的p、r都会有可能提高呢？ 我试验过。
3、那你说你们是怎么对比的  我只是想复现一下而已。

[2022-04-22 08:15] 1chang37 opened #5807 "[k200 麒麟并行问题]AttributeError: module 'paddle.fluid.core_noavx' has no attribute 'BKCLParallelContext'"
#python3 -m paddle.distributed.launch --log_dir=./ppyolo_dygraph/ --xpus 0,1 tools/train.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml
XPURT /usr/local/lib64/python3.7/site-packages/paddle/fluid/../libs/libxpurt.so loaded
/usr/lib/python3.7/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternat

[2022-04-22 08:24] wangxinxin08 commented on #5789
**1. coco上对比过，训练80个类别，对比person精度比YOLOX高，你直接评估就可以复现
2. 这两个指标是冲突的，现在加负样本的方式肯定是不行的，你看下训练中的输入就知道了，不会同时使召回率提升，误检率下降的。另外，p是precison，不是误检率, r是recall，是召回率。
3. 建议理解下相关指标，思考下，或者直接按照我给的建议训练试试呢**

[2022-04-22 10:21] LYHTZHANGJIANG commented on #5789
1、为什么加负样本的方式不行？ 可以细说吗？

[2022-04-22 12:07] wangxinxin08 commented on #5789
不是说加负样本不行，是你这种方式不合理，你先确定一个上下界，负样本全加进去这个实验已经跑了，再跑一个不加负样本的对比下，大致就能确定上下界了，说了这么多，为什么不试试呢(大无语)

[2022-04-22 13:29] will-wiki opened #5810 "[Other General Issues]nms输出index越界问题"
## 描述问题/Describe the bug
想通过faster rcnn模型抽取实体检测前一层的roi feature，根据代码改了下nms的参数，返回挑选的index下标，但是发现下标的值很大。

[具体代码位置](https://github.com/PaddlePaddle/PaddleDetection/blob/e9f8dfb57bdcbeb73b57b66041f7a34b9fc91c4a/ppdet/modeling/architectures/faster_rcnn.py#L81)

[code]

self.bbox_post_process函数中的self.nms调用信息如下
attrs参数
![image](https://user-images.githubusercontent.com/22003927/164723704-56f91795-aaa4-40e

[2022-04-22 14:49] crz-dg commented on #5801
请问如果是自定义量化权重处理方式，是修改slimQAT中对应调用的quanter.py函数吗？

[2022-04-22 14:54] nemonameless commented on #5807
paddle安装成功与否，输出下卡数看看？另外配置文件除了数据路径外还有什么改动吗？

[2022-04-23 02:27] hobeter opened #5811 "ppyoloe导出后nms的疑问[Other General Issues]"
感觉导出的模型把所有bbox都保留了。
<img width="263" alt="截屏2022-04-23 10 13 36" src="https://user-images.githubusercontent.com/55823642/164865481-d416f382-a870-4450-8cee-994dbc7e931b.png">
是因为导出的模型不带nms吗？
但我看ppyoloe结构中head里是有nms的(我没有调整nms参数)
https://github.com/PaddlePaddle/PaddleDetection/blob/bbb72659f27572c347e370bb31b89f5d882404da/configs/ppyoloe/_base_/ppyoloe_crn.yml#L40
请问该怎么解决啊👀？

[2022-04-23 04:27] nemonameless commented on #5806
mask rcnn和solov2 都有提供

[2022-04-23 04:37] nemonameless commented on #5799
检查下是否运行时GPU没有使用上，以及环境和版本已经报问题了不匹配，虽然能跑但也有可能会导致慢

[2022-04-23 08:17] Dekadenc opened #5812 "PP-Picodet增强版疑问"
问题1：请问下图红色框中的为普通版picodet的配置文件，而黄色框的为增强版里的配置文件吗？
![852f50aebc8391e2c5e3fb8de5501ca](https://user-images.githubusercontent.com/102035987/164886015-358e9719-68df-43b0-8e80-b48b8e16b76a.png)
问题2：pretrain_weights和weights有什么区别，执行训练时权重文件找的是该配置文件里的还是picodet_v2.yml中的，是否为终端配置文件>yml>picodet_v2的顺序
![ea401e1b4a2aaa65643b7c89d19da39](https://user-images.githubusercontent.com/102035987/164886144-86f21f21-0b61-45

[2022-04-23 09:59] Dtt-Lunatic commented on #3483
怎么更新代码啊

[2022-04-23 10:44] #5750 closed, assigned to nobody

[2022-04-23 11:47] timoxue opened #5813 "[C++ 多线程predictor] 代码中的threadpool predictor是否有其他推荐的多线程inference的办法"
我正在尝试多线程跑predictor
看到c++里有相关代码：
class PD_INFER_DECL PredictorPool {
 public:
  PredictorPool() = delete;
  PredictorPool(const PredictorPool&) = delete;
  PredictorPool& operator=(const PredictorPool&) = delete;

  /// \brief Construct the predictor pool with \param size predictor instances.
  explicit PredictorPool(const Config& config, size_t size = 1);

  /// \brief Get \param id-th predictor.

[2022-04-23 14:03] wstchhwp commented on #5798
注册器那些怎么去掉呢

[2022-04-23 14:24] weiluonika commented on #2718
我使用的是版本是2.4，但是在进行评估的时候 ，有些分类的评估参数AP是空的，造成这个原因是什么内？

[2022-04-23 14:34] weiluonika commented on #5770
在我添加--classwise true 参数后 发现评估得到的每一类的ap数据有些偏低 有些会有出现空的状态，是神魔原因造成的内？

[2022-04-24 02:21] yghstill commented on #5812
@Dekadenc
问题1：是的
问题2：pretrain_weights是指训练时的预训练模型，weights是指评估或导出模型时指定的训好的模型权重，一般如果是在下游任务上训练，建议pretrain_weights加载coco上训好的weight作为pretrain_weights。配置文件优先级确实是：终端配置文件>主yml文件>picodet_v2
问题3：不同尺度的模型预训练模型都不一样，预训练权重的作用是加快模型收敛
问题4：多卡训练时需要指定CUDA_VISIBLE_DEVICES的环境变量，一起执行和分开执行的作用是一样的。
问题5：你上方截图文档中也说了，PicoDet的模型都是4卡GPU训练的，如果变动卡数，按照线性调整学习率就行，比如8卡的话，学习率翻倍，2卡的话学习率减半。

[2022-04-24 02:38] will-wiki commented on #5810
hello，有人能帮助我一下吗

[2022-04-24 03:03] #5812 closed, assigned to nobody

[2022-04-24 03:05] Dekadenc commented on #5812
不同型号的预训练权重在哪可以看到，有没有专门的网址查看

[2022-04-24 03:13] ghostxsl commented on #5811
你导出的命令是什么？

[2022-04-24 03:20] hobeter commented on #5811
`python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_s_300e_coco.yml -o weights=best_model.pdparams TestReader.fuse_normalize=true`

[2022-04-24 03:25] ghostxsl commented on #5811
你检查一下输出的bbox的数量是不是100
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/ppyoloe_crn.yml#L43
这里有限定最多保留100个bbox，可以修改一下参数，也有可能模型没有收敛很好，可以排查一下

[2022-04-24 03:39] wzh326 opened #5814 "请问ppyoloe的模型压缩配置文件可以提供一下嘛"
ppyoloe的模型压缩配置文件可以提供一下嘛

[2022-04-24 04:05] wangxinxin08 commented on #5810
@will-wiki 一般情况下你一般不需要使用index，index的值是行对于输入到multiclass_nms中的bboxes，不只是nms_top_k，另外这个index是整个batch的index，不是单一图片的index

[2022-04-24 04:33] hobeter commented on #5811
好的，感谢

[2022-04-24 04:57] zhiboniu commented on #5813
你好，predictor本身的配置里就包含了线程设置。
另外，如果有实用多个predictor需求的话可以参考PredictorPool文档https://www.paddlepaddle.org.cn/inference/master/inference/api_reference/cxx_api_doc/PredictorPool.html

[2022-04-24 05:01] will-wiki commented on #5810
@wangxinxin08 是的，如果正常做实体检测是不需要用到index，但是我跑这个项目主要是为了把实体检测最后分类前的实体特征抽取出来，作为图像的特征表征用于其他任务的，所以我需要得到相应的index下标表示。有两个问题想问下吧
第一个问题：
想求证下抽取特征位置是否正确，希望抽取到的是实体分类前的最后一层特征，对应代码是
‘preds, _ = self.bbox_head(body_feats, rois, rois_num, None)’ 只要保留self.bbox_head函数里面的bbox_feat向量中，最终得到的实体预测下标位置的向量就可以了吧。
第二个问题：
看了下nms的官方例子，输入box[80,4]，score是[80],经过这个nms得到的index应该是[0,80]之内的
我这边输入的box[1000, 80, 4]，score是[1000, 80]，这个其

[2022-04-24 05:58] timoxue commented on #5813
非常感谢！ 但是链接失效了，麻烦提供个有效的参考链接吗。

[2022-04-24 05:58] wangxinxin08 commented on #5810
@will-wiki
1. `‘preds, _ = self.bbox_head(body_feats, rois, rois_num, None)` 这里是不要index的
2. [1000, 80, 4]这个1000怎么来的，一般是不可能只有1000的
3. paddle里面的算子本身就是对每个类别分别nms

[2022-04-24 06:04] wangxinxin08 commented on #5814
可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim 文档哈，相关的配置是通用的，如果有问题再沟通

[2022-04-24 06:18] will-wiki commented on #5810
@wangxinxin08
1.不是这个意思哈，我是打算抽取实体检测最后分类前的实体特征向量，所以需要获得两部分的值。
第一部分是实体检测最后分类前的所有实体特征，[对应代码位置]https://github.com/PaddlePaddle/PaddleDetection/blob/2702ef0f99758329f3d42c10fcf46b3bd84da5b4/ppdet/modeling/heads/bbox_head.py#L242
第二部分是实体检测分类结果经过nms过滤后的box下标，[对应代码位置]
https://github.com/PaddlePaddle/PaddleDetection/blob/23e9f24926f697299319d7319a00ce84cd89a023/ppdet/modeling/architectures/faster_rcnn.py#L8

[2022-04-24 06:59] wangxinxin08 commented on #5810
@will-wiki
1.index / 80试试，另外，返回的100个index，并不都是有效的，有效的数据可以看multiclass_nms的输出rois_num

[2022-04-24 07:11] will-wiki commented on #5810
@wangxinxin08 您指的rois_num是这里么
https://github.com/PaddlePaddle/PaddleDetection/blob/23e9f24926f697299319d7319a00ce84cd89a023/ppdet/modeling/ops.py#L1025
这个好像是一个标量，用于表示返回的nms过滤后的box个数吧，也就是首先对输入multiclass_nms的所有box按照score和box大小进行过滤，然后返回前nms_rois_num个最好box吧

[2022-04-24 07:21] yumlll opened #5818 "[BUG]使用PicoDet-S量化之后的模型精度很低"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## 描述问题/Describe the bug
A clear and concise description of what the bug is.
使用PaddleInference 加载 PicoDet-S  416*416尺寸 量化训练之后的模型精度很差。

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?
通过使用https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet/  页面的 PicoDet-S  416*416尺寸量化训练之后的模

[2022-04-24 07:58] wangxinxin08 commented on #5810
@will-wiki 是的，因该是一个list，表示每一张图片最终检测到的bbox数目

[2022-04-24 08:27] uuyymilkyl opened #5819 "[Other General Issues] S2ANET 推理生成检测框问题"
## 描述问题/Describe the bug
使用S2Anet训练后，导出模型，用infer.py 推理，得出的预测框都把中心点当做左上角开始框的，有没有办法输出cx cy w h angle信息让我判断到底是哪里出了问题， 有没有建议的解决方法
（并不是只有一种情况不准，而是所有类都出现了这个问题）

问题图片链接：https://i.postimg.cc/hGkJff1t/5752659c4f07f0caf084a64046e481a.png
https://i.postimg.cc/jd3SDDsY/20220424161809.png

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?
模型导出
python tools/export_model.py -c configs/dota/s2an

[2022-04-24 08:36] jiaerwang0328 opened #5820 "yolov4 敏感度分析，如何确定分析的网络层"
敏感度分析时，参数-pruned_params如何确定 ，是选择所有卷积层吗,-pruned_ratios 如何确定

[2022-04-24 08:50] LegendSun0 opened #5821 "PP-Tracking训练时进行eval报错"
运行命令：
CUDA_VISIBLE_DEVICES=3 python tools/train.py --config configs/mot/vehicle/fairmot_hrnetv2_w18_dlafpn_30e_576x320_bdd100kmot_vehicle.yml --use_vdl=True --vdl_log_dir=output/vdl_dir/scalar --eval

跑完一个epoch以后报错：
[04/24 08:52:26] ppdet.data.source.mot INFO: MOT dataset summary:
[04/24 08:52:26] ppdet.data.source.mot INFO: OrderedDict([('car1.train', 33)])
[04/24 08:52:26] ppdet.data.source.mot

[2022-04-24 09:04] LegendSun0 commented on #3179
请问是怎么在训练过程中评估成功的？

[2022-04-24 09:05] LegendSun0 commented on #5821
我在https://github.com/PaddlePaddle/PaddleDetection/issues/3179中找到相关问题，但没有找到解决方法。

[2022-04-24 09:08] LYHTZHANGJIANG opened #5822 "[BUG]卡退Process finished with exit code -1073741819 (0xC0000005)"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-24 09:18] 1chang37 commented on #5807
paddle 成功安装了，k200本身是一张卡，但是有2个xpu。配置文件只是修改了use_xpu

[2022-04-24 09:20] nine-city opened #5823 "训练可视化visualdl开启后 只有loss曲线图，没有map的曲线图"
![image](https://user-images.githubusercontent.com/20138490/164969457-c141da64-f59c-40be-8f9d-33a98f57bcb8.png)

命令如下：
python tools/train.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml --use_vdl=True --vdl_log_dir="./output" --amp --eval

[2022-04-24 09:32] LYHTZHANGJIANG commented on #5822
可以改成下面这样吗？对其他的有没有影响？
![image](https://user-images.githubusercontent.com/49071179/164969920-b77b0b8b-e6ae-44fe-823d-a33039f12bd3.png)

[2022-04-24 09:46] nemonameless commented on #5821
fairmot跟踪暂不支持--eval边训边验证，MOTA一般都最后epoch最高，建议训完后单独手动eval，
[code]

[2022-04-24 09:53] LegendSun0 commented on #5821
好的，感谢您的回复！

[2022-04-24 09:54] LegendSun0 commented on #5821
好，谢谢您的回复！

[2022-04-24 10:53] hobeter opened #5824 "用swin transformer作ppyoloe的backbone的疑问"
如果想要用swin transformer作ppyoloe的backbone，请问只需要仿照

https://github.com/PaddlePaddle/PaddleDetection/blob/b615336fe3a9ff740fdb1b889be7bc865b6d20fa/configs/faster_rcnn/_base_/faster_rcnn_swin_tiny_fpn.yml#L3-L20

修改ppyoloe配置文件中backbone内容↓即可吗？🧐

https://github.com/PaddlePaddle/PaddleDetection/blob/23e9f24926f697299319d7319a00ce84cd89a023/configs/ppyoloe/_base_/ppyoloe_crn.yml#L6-L17

另外请问除了这个规格↓

https:/

[2022-04-24 11:35] geekplusaa commented on #5747
训练的时候遇到同样的问题
训练脚本
python -u tools/train.py -c configs/mask_rcnn/mask_rcnn_r50_vd_fpn_2x_coco_yumi.yml \
                        --use_vdl=true \
                        --vdl_log_dir=vdl_dir/scalar \
                        --eval \
                        -o use_gpu=true

报错信息
Traceback (most recent call last):
  File "tools/train.py", line 177, in <module>
    main()
  File "tools/train.py", lin

[2022-04-24 11:37] geekplusaa commented on #5747
paddlepaddle-gpu   2.2.2.post112

[2022-04-24 11:59] will-wiki opened #5825 "[Other General Issues]faster rcnn训练问题"
查看了下faster rcnn的训练配置，几乎都是用的“faster_fpn_reader.yml”文件配置的，但是batchsize=1，base_lr=0.01，paddledetection项目里也没有对应的训练建议，想问下如果在多gpu下训练faster rcnn模型也是采用类似于下面ppyoloe一样的脚本去跑么。
[code]

[2022-04-24 12:04] gong-bit opened #5826 "[BUG]"
PPYOLOE训练时ValueError: (InvalidArgument) Currently, VarBase.__getitem__() only allows indexing by Integers, Slices, and tuples of these types, but received ellipsis in 1th slice item

/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` b

[2022-04-24 16:19] timoxue commented on #5813
checked: https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs/api_reference/python_api_doc/PredictorPool.md

[2022-04-24 16:20] #5813 closed, assigned to nobody

[2022-04-25 01:59] yghstill commented on #5818
@yumlll 量化模型需要使用trt_int8模式预测，或者直接在paddle lite的demo中测试。文档中我们再添加下测试环境要求，感谢反馈。

[2022-04-25 02:53] yumlll commented on #5818
是否意味着 量化模型只能在PC GPU 上运行，而不能在CPU上运行呢？

将量化之后的Paddle模型转为onnx， 进行预测也会有较大精度损失， 需要怎么操作才能保持精度呢？

[2022-04-25 03:17] ghostxsl commented on #5826
请升级Paddle版本到2.2.2

[2022-04-25 03:24] jerrywgz commented on #5825
faster rcnn的多卡训练启动方式和ppyoloe类似
[code]
目前给出的bs和学习率对应都是8卡的配置

[2022-04-25 03:27] lyuwenyu commented on #5824
是的 直接从faster那个config里的backbone   copy过去就行，， 规格的话还有只有 tiny和large

[2022-04-25 03:45] will-wiki commented on #5825
@jerrywgz 8卡，bs=1，lr=0.01么，为啥bs设置的这么小，ppyoloe的bs官方是16

[2022-04-25 04:27] hobeter commented on #5824
好的，感谢🙏

[2022-04-25 04:27] #5824 closed, assigned to nobody

[2022-04-25 06:50] Reatris commented on #5730
二维码过期辣

[2022-04-25 07:23] wangxinxin08 commented on #5730
已经更新

[2022-04-25 08:50] ysy070100 commented on #5795
后续用软连接换了一下cuda，就没有报错了，可能还是cuda11.6不匹配？

[2022-04-25 09:15] panp4n commented on #3942
![image](https://user-images.githubusercontent.com/40445051/165058571-841c48bc-cf8f-40ef-9ecc-b8abcaaa835e.png)
我也遇到了同样的问题，用了SOLOv2各种backbone 都尝试了，参数检查了，Loss如图。Paddledetection2.2-2.4也都试了。还是没有解决。单类别实例分割。

[2022-04-25 10:17] #5823 closed, assigned to nobody

[2022-04-25 10:42] wykkyle opened #5829 "[BUG]mask训练中的潜在bug。"
![image](https://user-images.githubusercontent.com/20754685/165071029-262f729f-ea4c-48be-9d21-913c4d28c61b.png)

阅读代码学习的时候发现一个代码上的bug，位于训练mask探测器的部分，如上截图。
来自文件https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/proposal_generator/target.py
中的generate_mask_target函数。

观察红框和蓝框圈出来的变量。fg_rois和bboxes是一个变量，只是储存位置分别在gpu/cpu上；fg_inds和fg_inds_new是一个变量，只是分别储存在gpu/cpu上。

fg_inds是一个

[2022-04-25 10:58] hobeter opened #5830 "关于#4264 中ema修改的疑问"
由 _@wangxinxin08 in https://github.com/PaddlePaddle/PaddleDetection/issues/4264#issuecomment-942895079_ 提到

但是在https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/optimizer.py#L296 和 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/optimizer.py#L306 中，均不位于循环内。我修改后也会报错 `'continue' not properly in loop`  。可能是由于代码更新了？请问这段代码应当添加在那里啊🫥

另外，想确认一下这里(https://github.com/Padd

[2022-04-25 11:13] wykkyle commented on #5798
组件都在这个文件夹里：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/ppdet/modeling。子文件夹architectures是整体网络。文件夹body，neck，head是次级组建，比如resnet，fpn，探测器等等都在这里面。其它文件夹是组件的组件。文件考出来把import语句相应改了就能跑的。改一改，跑一跑，print一下，第一个模型2个月能吃透吧。

注册器就是提供了默认参数。在create函数的最后一行前面，加print语句，把cls_kwargs打印出来，他用什么参数你也用什么参数，把类构造出来就可以了，能跑的。

[2022-04-25 11:27] wangxinxin08 commented on #5830
这个位置https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L379 修改为
[code]
在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L416 和 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L426 之后加入以下代码
[code]

[2022-04-25 11:42] hobeter commented on #5830
好的，感谢

[2022-04-25 12:51] ForBetterDl opened #5831 "PPYOLOE矩形训练及矩形推理问题"
1.矩形训练问题，训练自己的数据集1024*256，转换为coco格式

默认方形训练时ppyoloe_reader.yml中batch_transforms:
    - BatchRandomResize: {target_size: [320, 352, 384, 416, 448, 480, 512, 544, 576, 608, 640, 672, 704, 736, 768], random_size: True, random_interp: True, **keep_ratio: False**}
   **此时可以正常训练。**

改为矩形训练时，修改**keep_ratio: True，**其他不变。
batch_transforms:
    - BatchRandomResize: {target_size: [320, 352, 384, 416, 448, 48

[2022-04-25 13:08] hobeter commented on #5830
成功运行😀

[2022-04-25 13:08] #5830 closed, assigned to nobody

[2022-04-25 13:12] jerrywgz commented on #5829
感谢反馈，我这边循环条件修改成range(fg_inds_new.shape[0])训练验证下

[2022-04-25 13:13] jerrywgz commented on #5825
不同模型训练策略不同，faster rcnn本身输入网络的尺寸是[800,1333]，ppyoloe是[640,640]

[2022-04-25 14:07] zhigfu opened #5832 "[Other General Issues]PaddleDetection默认配置训练出来的ssd_mobilenet_v1模型如何使用敏感度分析？"
目的：使用敏感度分析的教程进行敏感度分析，进一步进行剪枝。
版本：paddle paddle2.2.2    paddledetection2.1.0     paddleslim2.1.1
问题：2.1.0版本的paddledetection的sensitive.py在static/slim/sensitive中，我按照教程去敏感度分析时报错无法读取动态图的yml文件，只能读取static下的configs。如果我使用动态剪裁，目前默认的slim/prune中还没有ssd的配置文件，如果我自己写配置文件则无法确定应该剪哪些部分，每一个部分剪多少。
        恳请解答指导。

[2022-04-26 02:13] #5811 closed, assigned to nobody

[2022-04-26 02:24] wangxinxin08 commented on #5831
1. 训练keep_ratio为True需要加padding，建议你将BatchRandomResize的target_size设置成[[h1, w1], [h2, w2], [h3, w3]]
2. 验证集推理直接修改eval_height和eval_width即可

[2022-04-26 03:40] usmile1234 commented on #5730
二维码过期了

[2022-04-26 04:34] ForBetterDl commented on #5831
您的意思是keep_ratio为True时，resize到前面target_size大小时，需要padding短边到32的倍数，而代码中时没有自动做这个操作的。
可以使用keep_ratio为False,target_size设置成[[h1, w1], [h2, w2], [h3, w3]],其中新设置的宽，高都为32的整倍数。达到不需padding即可实现矩形训练，我的理解对吗？

[2022-04-26 06:59] #4711 closed, assigned to zoooo0820

[2022-04-26 06:59] #4804 closed, assigned to nobody

[2022-04-26 06:59] #5131 closed, assigned to nobody

[2022-04-26 06:59] #5134 closed, assigned to nobody

[2022-04-26 06:59] #5142 closed, assigned to nobody

[2022-04-26 06:59] #5148 closed, assigned to yghstill

[2022-04-26 06:59] #5150 closed, assigned to nobody

[2022-04-26 06:59] #5154 closed, assigned to nobody

[2022-04-26 06:59] #5155 closed, assigned to nobody

[2022-04-26 06:59] #5156 closed, assigned to nobody

[2022-04-26 06:59] #5158 closed, assigned to nobody

[2022-04-26 06:59] #5160 closed, assigned to nobody

[2022-04-26 07:34] wangxinxin08 commented on #5831
@ForBetterDl 是的，keep_ratio为True的时候需要加上一个算子

[2022-04-26 08:37] jiaerwang0328 opened #5834 "[利用自己数据训练ppyoloe出错]ValueError: (InvalidArgument) Currently, VarBase.__getitem__() only allows indexing by Integers, Slices, and tuples of these types, but received ellipsis in 1th slice item"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
利用自己数据训练ppyoloe出错

[2022-04-26 11:38] #5834 closed, assigned to nobody

[2022-04-26 12:08] hobeter opened #5836 "关于由swin transformer作backbone的picodet导出及基于python预测的疑问"
尝试将picodet的backbone换成swin transformer。在`tools/train.py`以及`tools/eval.py`时训练、验证均正常(将得到的bbox可视化后认为应该是正常的)......但是在`tools/export.py`后，在基于python预测时，运行`deploy/python/infer.py`报错如下：

Traceback (most recent call last):

ValueError: In user code:

配置的EvalReader和TestReader如下：

EvalReader和TestReader基本一致，然而 tools/eval.py正常 但 导出后python/eval.py就报错了 ,,,
请问这是什么原因啊？是TestReader 的`image_shape: [1, 3, 320, 320]`有问题吗

[2022-04-26 14:16] hobeter commented on #5836
经查看，似乎大概可能好像是这里
https://github.com/PaddlePaddle/PaddleDetection/blob/d2cfe893d984b744981083fb5b6e9fae45fb015a/ppdet/modeling/backbones/swin_transformer.py#L121-L135
其中的B会出现问题(会出现0和-1)
我将https://github.com/PaddlePaddle/PaddleDetection/blob/d2cfe893d984b744981083fb5b6e9fae45fb015a/ppdet/modeling/backbones/swin_transformer.py#L131
替换成
`    B=1`
就可以正常运行(当然，是在确定batch为1的情况下)

不是很熟练掌握swin transformer的原理,

[2022-04-26 15:23] always-wo commented on #5832
同求

[2022-04-26 16:42] oziasly opened #5837 "[BUG]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-04-26 16:43] oziasly commented on #5837
ps: 在测试中运行正常，使用默认的加载模型的是可以的

[2022-04-27 02:20] yghstill commented on #5818
@yumlll 可以在CPU上部署哈，可以参考文档：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs/optimize/paddle_x86_cpu_int8.md

[2022-04-27 02:26] yghstill commented on #5778
@song121982 量化训练和剪枝可以一起使用，可以先剪枝再量化。

[2022-04-27 02:30] yghstill commented on #5729
@song121982 请使用量化训练，并且保证模型精度正常，如果模型训练不充分，nms的耗时很高，会导致预测速度变慢~，可以使用release的模型测试下性能情况：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim#coco%E4%B8%8Abenchmark-1

[2022-04-27 02:51] jerrywgz commented on #5730
二维码已更新

[2022-04-27 03:28] WeizXy commented on #5778
@yghstill   你好，请问先剪枝再量化是：
使用一个包含了剪枝与量化的一个配置文件例如([https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/slim/extensions/yolov3_mobilenet_v1_coco_distill_prune.yml](url))，如果是一个配置文件，文件开头关于压缩方式的一行应该怎么写(好像没有剪枝量化的配置文件)？
还是说需要使用剪枝、量化两个配置文件，剪枝训练后以剪枝的训练结果为基础进行量化训练。
谢谢！

[2022-04-27 03:52] jiaerwang0328 opened #5838 "[yolov4 训练时是否根据gpu使用个数，和batchsize 相应调整学习率]"
yolov4 训练时是否需要根据gpu使用个数，和batchsize 相应调整学习率

[2022-04-27 05:28] Maokaicheng0725 opened #5839 "自己训练的模型，再infer的时候出现解码的问题，"
UnicodeDecodeError: 'gbk' codec can't decode byte 0x9a in position 442: illegal multibyte sequence

[2022-04-27 05:34] gzsvip opened #5840 "调用picodet_l_640_aic21mtmct_vehicle模型出错"
python deploy/pptracking/python/mot_sde_infer.py  --device=CPU --model_dir=output_inference/picodet_l_640_aic21mtmct_vehicle/ --video_file=../../../Downloads/v/1.mp4 --tracker_config=deploy/pptracking/python/tracker_config.yml --reid_model_dir=output_inference/deepsort_pplcnet_vehicle

出现以下错误：
-----------  Model Configuration -----------
Model Arch: DeepSORT
Transform Order:
--transform op: Letter

[2022-04-27 06:38] mursance opened #5841 "去掉学习率衰减否定 trainpy文件无法运行"
！PiecewiseDecay 否定！去掉后!python tools/train.py -c ../configs/ppyolov2_r50vd_dcn_voc.yml 命令无法运行
LearningRate:
  base_lr: 0.00333
  schedulers:
  - PiecewiseDecay
    gamma: 0.1
    milestones:
    - 466
    - 516
  - !LinearWarmup
    start_factor: 0.
    steps: 4000
----------------------------------------------------------------------------------------------------------------
下面是报错
Traceback (most

[2022-04-27 07:11] WeizXy opened #5842 "关于模型裁剪与量化的问题"
PaddleDetection开发者你好，
在PaddleDetection中可以看到单独关于剪枝Purne或是量化Quant的配置文件，联合压缩策略也只有蒸馏+剪枝的配置文件，因此请问如果使用裁剪+量化的联合压缩策略时配置文件应该如何写？以联合压缩的配置文件 _PaddleDetection/configs/slim/extensions/yolov3_mobilenet_v1_coco_distill_prune.yml_ 为例该如何修改?

[code]
谢谢！

[2022-04-27 08:37] lixiangMindSpore opened #5844 "PicoDet和PP-YOLOE的网络问题"
## 描述问题/Describe the bug
A clear and concise description of what the bug is.
1  picodet和ppyoloe关于检测头head有没有类似于下图（YOLOX）这样的图解？如何与前面的csp-neck或者lc-neck连接？
![image](https://user-images.githubusercontent.com/78945582/165477244-6dfa23a4-0cb5-4834-9306-701edf6e7bb1.png)
2  在picodet的backbone中，96 192 384从哪里来的？对应代码在哪里？
![image](https://user-images.githubusercontent.com/78945582/165477566-64dc44a5-c34e-4d3c-

[2022-04-27 09:14] always-wo opened #5846 "ppedt利用ppslim进行剪枝量化"
我在使用ppdet2.1建立ssd_mobilenetv1模型时，想要对生成的模型进行剪枝以及8比特量化，好像是没有动态图版本的，有静态图版本的，请问是如何使用，并且对模型的卷积的敏感度分析好像也不太行。求大神指教

[2022-04-27 09:18] Maokaicheng0725 commented on #5428
我是直接报错，IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed。之前运行没问题，但是我换了一个trt以后就开始了

[2022-04-27 09:58] heavengate commented on #5838
需要的，调整方法见 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/FAQ/FAQ第零期.md#faq第零期

[2022-04-27 09:58] heavengate commented on #5839
是不是你的数据集label包含中文

[2022-04-27 11:41] fash120 commented on #2952
@EdwardVincentMa 我想请问一下是怎么解决的呢

[2022-04-27 14:42] always-wo opened #5848 "请问如何对ppdet生成的pdmodel模型进行卷积敏感度分析"
我对ssd_mobilenet_v1模型进行训练，现在想要进行剪枝，但是卷积层的敏感度不清楚。所以求教大家（ppdet 2.1 ppslim 2.1）

[2022-04-28 02:35] nemonameless commented on #5841
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L267
PiecewiseDecay是必选项，如果不想用衰减，可以设置 milestones 为一个巨大的或至少大于epoch数的值
https://github.com/PaddlePaddle/PaddleDetection/blob/f06c929055c6979f8b1ca2bb3e97751f18fcfb2c/ppdet/optimizer.py#L114

[2022-04-28 02:54] kingbirdWc opened #5849 "怎样在C++代码中直接调用检测模型"
怎样在C++代码中直接调用检测模型

[2022-04-28 03:19] light666111 opened #5850 "在jetson nano上部署PaddleDetection"
在jetson nano上使用paddle_inference库部署PaddleDetection时，在编译环节出现了如下问题：
`cc1plus:fatal error:CMakeFIles/main.dir/src/main.cc.d: 没有那个文件或目录`

应该如何解决？
谢谢

[2022-04-28 03:22] nemonameless commented on #5840
已复现，是因为picodet后处理输出和通用检测器不同，pptracking中暂时不支持，会尽快修复。

[2022-04-28 05:19] Disciple7 commented on #5726
我装了paddlepaddle-gpu 2.3.0rc0的包，paddleserving还是报一样的no OpConverter错误，直接推理报错变成了CUDA runtime和CUDA Driver不匹配：
[code]
但是我看nvidia-smi上面显示应该是匹配的，根据[这个issue](https://github.com/PaddlePaddle/Paddle/issues/35564)，CUDA 10.1对应的driver>=418.39即可：
[code]

[2022-04-28 05:39] heavengate commented on #5844
1. https://arxiv.org/pdf/2203.16250.pdf  paper里有head部分的图解，三个head是独立的，Neck部分有三个输出，分别连接三个head
2. backbone是ESNet，ESNet各层的channels是在这里计算，picodet取的三层的channels数分别是96 192 384

[2022-04-28 05:41] heavengate commented on #5846
量化可以使用这个配置文件  https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/slim/quant/ssd_mobilenet_v1_qat.yml
剪裁没有单独提供配置文件，可以参考yolov3, picodet这些配置文件修改

[2022-04-28 05:44] heavengate commented on #5842
裁剪、量化都是独立的，可以参考剪裁+蒸馏的那个配置文件，在配置文件里同时配置剪裁和量化就可以实现剪裁、量化联合策略

[2022-04-28 06:58] jimmy133719 commented on #5735
@wangxinxin08 您好，想另外請問關於訓練精度的問題。
我嘗試對官方提供ppyoloe_crn_s_300e_coco的pretrained weight去做finetune，修改的配置文件如上，訓練後的AP以及loss趨勢如下圖，AP收斂後與ppyoloe_crn_s_300e_coco約差10%。原本以為是Hard Sigmoid換成Sigmoid的問題，但在維持Hard Sigmoid的情況下finetune也是會有AP往下掉的問題，因此不確定是不是learning rate設置的影響，目前單卡訓練batch size=8，所以learning rate=0.04x(8x1)/(32x8)=0.00125。

![loss](https://user-images.githubusercontent.com/39381342/165687247-4ec5e8fe-9ce4-

[2022-04-28 07:07] songyuc opened #5851 "[Other General Issues] 关于复现PP-YOLOE-s在COCO数据集上效果的batch-size设置"
**We sincerely appreciate the assistance from PaddleDetection team~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
我们在阅读PP-YOLOE-s的配置时发现，这里

[2022-04-28 07:13] TTgogogo opened #5852 "使用paddle inference 2.3rc仍然重复生成trt_serialized文件"
听说2.3rc已经解决了重复生成trt_serialized文件的问题，但我的使用中仍然会不断重复地生成engine文件，用的是detection中deploy的例程，请问会是什么原因呢？麻烦提供解决方案。

[2022-04-28 07:19] fan-min-97 opened #5853 "如何用测试集评估模型"
PaddleDetection怎么用测试集来评估模型呢？需要将测试集的路径写在哪里呢？

[2022-04-28 07:28] wangxinxin08 commented on #5735
@jimmy133719 用coco pretrain去训练coco吗？我们一般不推荐这么做。因为coco的预训练模型已经收敛，如果重新训练的话，学习率会出现一个突然增大的情况，导致精度下降，如果训练完整的300个epoch应该会涨回来

[2022-04-28 08:30] lixiangMindSpore opened #5855 "为什么picodet在backbone上用SE注意力模块却不用CA注意力模块？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-04-28 09:20] wj1017090777 commented on #5747
我也遇到相同的问题

[2022-04-28 09:52] always-wo opened #5856 "卷积敏感性分析"
ppdet中训练好之后，如何利用pdparams，pdmodel，等文件进行敏感度分析。
如果不行的话是应该如何做呢？

[2022-04-28 10:48] always-wo commented on #5856
剪枝率又如何确定呢

[2022-04-28 11:36] Jiaweixu2012 commented on #5745
这个版本picodet不需要post-process，模型最后一层就输出np_boxes, np_boxes_num了

[2022-04-28 13:27] jerrywgz commented on #5853
可以参考这个文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/GETTING_STARTED_cn.md#5-%E8%AF%84%E4%BC%B0

[2022-04-28 13:28] jerrywgz commented on #5852
这里设置为True 看下https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/infer.py#L745

[2022-04-28 13:32] jerrywgz commented on #5851
目前ppdet配置中的batch size表示的是每张卡上的bs，我们在训练过程中为了最大限度利用gpu资源，s/m/l/x选择了不同的bs

[2022-04-28 13:33] jerrywgz commented on #5850
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/cpp/docs/Jetson_build.md 可以参考下这个文档编译呢

[2022-04-28 13:33] jerrywgz commented on #5849
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/cpp/README.md 可以参考下这个文档

[2022-04-28 13:35] jerrywgz commented on #5848
可以参考paddleslim的相关文档https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.0.0/docs/zh_cn/tutorials/pruning/dygraph/filter_pruning.md#41-%E5%8D%B7%E7%A7%AF%E9%87%8D%E8%A6%81%E6%80%A7%E5%88%86%E6%9E%90

[2022-04-28 14:00] always-wo commented on #5848
好像和我的要求不太一样，ppdet种export_model.py产生的是pdmodel。好像是可用使用paddle.load加载，类型是program的。我是想对这个模型进行卷积敏感度分析

[2022-04-28 14:28] ForBetterDl opened #5859 "PPYOLOE训练时visualDL可视化参数添加"
现有PPYOLOE训练时，visualDL可视化参数较少，无lr参数，map只有iou0.50:0.95,怎么添加有效的参数进去进行可视化呢？

[2022-04-28 14:29] always-wo commented on #5842
@842318337 请问这个问题解决了吗

[2022-04-28 14:33] always-wo commented on #5778
@yghstill 可以详细说一下吗，我试了一下好像不可以

[2022-04-29 00:17] WeizXy commented on #5842
@always-wo  你好。并不可以...loss不收敛，也无法测试

[2022-04-29 01:30] TTgogogo commented on #5852
@jerrywgz 已经是True的呢

[2022-04-29 02:18] hotbaby commented on #5349
镜像地址：registry.cn-hangzhou.aliyuncs.com/speechocean/paddle-detection:2.4.0

[code]

[2022-04-29 02:23] jerrywgz commented on #5852
请问下是什么环境呢，我们在windows和linux下验证2.3rc版本是可以的

[2022-04-29 02:55] sl3120 opened #5862 "BlazeFace C++推理结果错误"
使用PaddleDetection\deploy\cpp编译的main推理blazeface_fpn_ssh_1000e模型得到的结果不正确，推理blazeface_1000e模型也是类似的结果，但是推理ppyoloe_crn_l_300e_coco是正确的，想知道是哪里出错了。

[code]

附上导出模型的信息：

[code]

[code]

## 环境/Environment
Paddle:2.2.2；PaddleDetection:2.4
Windows 11
Python: 3.8.5
CUDA:10.2,CUDNN:7.6.5.

[2022-04-29 02:56] sl3120 commented on #5862
其他：VS2017 + opencv4.1.0

[2022-04-29 02:57] yghstill commented on #5855
@lixiangMindSpore 设计Backbone时做过消融实验，CA模块耗时会增加，精度提升不明显，并且SE更加通用些，为了综合选择了SE模块。

[2022-04-29 03:00] wstchhwp opened #5863 "backbone中swin transformer中冻住层数的代码有问题"
*![1651201175(1)](https://user-images.githubusercontent.com/40813430/165879011-59a22aff-9efb-499b-ba61-0f992f7a226f.png)

self.absolute_pos_embed.requires_grad = False的设置，模型层数冻住无效，改成self.absolute_pos_embed.stop_gradient = True正常运行没问题。

[2022-04-29 03:38] gsdust commented on #3795
您可以说说怎么解决的么？我们也遇到了类似的问题

[2022-04-29 03:51] lixiangMindSpore commented on #5855
CBAM模块有没有实验？也不如SE么？我看TPH-YOLOv5用的就是CBAM

[2022-04-29 04:39] chen-del commented on #5723
我想问一下，模型在onxx格式转出的时候出现了:   [WARNING]	Due to the operator:multiclass_nms3, the converted ONNX model will only supports input[batch_size] == 1. ;然而在上一个版本中并没有出现这个问题, onnx模型结构中还多出了一个constant 。
![微信图片_20220429123859](https://user-images.githubusercontent.com/58769772/165885931-f1a99c1f-4ba3-4383-92fd-33b3d0dbbb68.png)
这是什么原因?

[2022-04-29 05:34] TTgogogo commented on #5852
@jerrywgz win11+vs2019+vs qt tools

[2022-04-29 09:09] songyuc commented on #5851
@jerrywgz ，好的，谢谢你的解答~

[2022-04-29 09:09] #5851 closed, assigned to nobody

[2022-04-29 09:23] gsx1378 opened #5868 "YOLOE模型转onnx模型后，网络结构不一致问题"
![1](https://user-images.githubusercontent.com/44281534/165916312-6e72c068-b64c-4fff-bbd5-556cd4fb3fd5.png)
![2](https://user-images.githubusercontent.com/44281534/165916325-f34ec751-47df-4412-8154-4ae2b702ade6.png)

您好，我对比YOLOE开源模型(ppyoloe_crn_s_300e_coco)导出模型(图1)与转onnx模型(图2),发现转onnx之后网络同一个地方个的网络结构不一样了，最明显的差距就是图1中只有一个Transpose层，转onnx模型之后却变成了3个，请问是否是转onnx时候出现了问题呢？

还有一点疑惑是，如果修改网络，把图1中的Transpose层删除

[2022-04-29 09:34] kungkook opened #5869 "PaddleX部署找不到libpaddle_fluid.lib"
cuda11.2 cudnn8.2 下载官方的paddle-inference后，E:\projects\paddle_inference\paddle\lib中没有libpaddle_fluid.lib文件

[code]

[2022-04-29 09:59] ZhiXianZ opened #5870 "AIStudio上训练保存权重时出错"
## 描述问题/Describe the bug

在aistudio上使用train.py时候，在保存权重的时候出现问题。之前未出现这种情况。已经更换过paddle2.1、paddle2.2和paddle2.3

[code]

## 复现/Reproduction

[code]

修改内容: /只修改了config文件

数据: data142978、data138098

[2022-04-29 10:21] wzh326 opened #5871 "初始学习率设置"
请问所有配置文件里面的学习率设置都是默认对应八卡嘛？在bs不动的情况下我单卡训练的话是不是只需要将初始学习率除以8即可？

[2022-04-29 10:53] yghstill commented on #5723
@chen-del
- 现在的PicoDet默认导出时包含后处理，你可以在导出时指定export.benchmark=True来去除后处理，如果只去除multiclass_nms3，可以指定export.nms=False。
- 关于多一个constant op的问题，可能paddle2onnx版本有问题，paddle2onnx是>-0.9.2吗？

[2022-04-29 11:33] seekme-ai opened #5872 "[Other General Issues]pptracking AssertionError: Note that tracker_config should be set."
python deploy/pptracking/python/mot_sde_infer.py --model_dir=output_inference/ppyolov2_r50vd_dcn_365e_aic21mtmct_vehicle/ --reid_model_dir=output_inference/deepsort_pplcnet_vehicle/ --mtmct_dir=./mtmct-demo --device=GPU --mtmct_cfg=deploy/pptracking/python/mtmct_cfg.yml --scaled=True --save_mot_txts --save_images
-----------  Running Arguments -----------
batch_size: 1
camera_id: -1
cpu_threads: 1

[2022-04-29 13:31] always-wo opened #5874 "使用剪枝或量化后模型fps降低"
使用ppdet 不加任何slim_config 得到的fps是39
使用自带的量化配置训练后fps是26
使用自己写的剪枝配置训练后fps是34
请问这是什么原因？
不应该剪枝量化之后的fps会变快吗？为什么反而是越优化越慢呢？
这个问题好像挺多人都有的。

[2022-04-29 14:11] heiheiheiheiheihei commented on #5556
请问如何解决，我也遇到了同样的问题，使用了跟文档中一样的命令，一样的配置。

[2022-04-29 15:20] Kodp commented on #4401
我也有这个问题,在/home/aistudio/PaddleDetection/ppdet/data/source/voc.py里面111行 print(xml_file) 打印了一下文件,去找到对于的xml发现是没有标注好的数据集. 把这些没标好的数据集剔除就正常工作了
正常的vocxml:
[code]
出错的xml
[code]

[2022-04-30 00:42] seekme-ai commented on #4688
请更新二维码 谢谢

[2022-04-30 01:53] #5871 closed, assigned to nobody

[2022-04-30 02:18] WeizXy commented on #5842
@always-wo 你好，请问找到解决方法了么？

[2022-04-30 04:04] HaitaoWuTJU opened #5875 "PP-YOLO_2x如何训练不同输入尺寸的模型（默认608）"
如题

[2022-04-30 07:15] always-wo commented on #5842
@842318337 你好，并没有找到好的办法

[2022-04-30 08:25] dlq986 commented on #5871
我是这样做的

[2022-04-30 11:19] wzh326 commented on #5871
感谢帮助！！

[2022-04-30 12:13] wstchhwp commented on #3439
现在版本还是报错。。

[2022-04-30 13:43] ChenjieXu commented on #4068
我也遇到这个问题

[2022-04-30 15:39] seekme-ai commented on #5872
add --tracker_config=./deploy/pptracking/python/tracker_config.yml

[2022-04-30 15:39] #5872 closed, assigned to nobody

[2022-05-02 05:14] personqianduixue opened #5876 "敏感度分析无法生成敏感度文件"
## 描述问题/Describe the bug
按教程做敏感度分析无法生成敏感度文件

## 复现/Reproduction

运行环境：操作系统win10，python3.7，CUDA10.2/cuDNN7.6.5，paddledetection2.1和2.4，paddleslim2.2.2

敏感度分析教程 https://paddledetection.readthedocs.io/advanced_tutorials/slim/prune/SENSITIVE.html

按敏感度分析教程运行命令如下：

[code]

控制台输出如下：

[code]

这样就结束了

查看当前目录没有生成demo.data敏感度文件，试了paddledetection2.1和2.4版本都不行，请问打扰如何解决？

[2022-05-03 01:58] liutinglong opened #5877 "strongbaseline_r50_30e_pa100k人体属性识别使用的这个模型源码有开源吗？"
strongbaseline_r50_30e_pa100k人体属性识别使用的这个模型源码有开源吗？在paddleDetection源码中并没有找到模型结构，因为想修改模型和重新训练，加入一些人体新的属性

[2022-05-03 02:19] yghstill commented on #5874
@always-wo 模型预测时延请使用deploy下的脚本开启--run_benchmark=True测试速度，量化后模型需开启TensorRT int8模式

[2022-05-03 04:31] Indigo6 commented on #5728
您好，请问我是否可以将目标检测/姿态估计的模型替换为更大的模型来提升准确度呢？

[2022-05-03 05:34] jiangjiajun commented on #5868
- 关于提到的Paddle2ONNX转换过程中多出来两个transpose的原因
- - 第一个Transpose来源于原模型中的Transpose。 第二个和第三个Transpose是由SoftMax引入。 由于这个SoftMax中参数axis不是指向输入的最后一维，所以在过softmax前先transpose为最后一维，然后再transpose回来，因此你看到的多了两个transpose.

[2022-05-03 07:25] jiaerwang0328 opened #5878 "Bus error (core dumped)"
训练ppyoloe时，遇到错误
cuda10.2 paddle2.2

[code]

[2022-05-03 08:33] qingqing01 commented on #5878
从错误信息不太能看出什么问题。请问测试一个简单的Paddle程序，是否可以正常跑GPU？

[2022-05-03 08:34] qingqing01 commented on #5877
训练源码暂且没有开源，近期会开源。

[2022-05-03 08:35] #5877 closed, assigned to jerrywgz

[2022-05-03 08:36] liutinglong commented on #5877
ok

[2022-05-03 08:38] jiaerwang0328 commented on #5878
这个简单程序也会报同样错误

---Original---
From: ***@***.***&gt;
Date: Tue, May 3, 2022 16:33 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleDetection] [Other General Issues]  Bus error (core dumped) (Issue #5878)

从错误信息不太能看出什么问题。请问测试一个简单的Paddle程序，是否可以正常跑GPU？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored

[2022-05-03 08:40] qingqing01 commented on #5875
训练默认的是多尺度，参考:

https://github.com/PaddlePaddle/PaddleDetection/blob/bb4fbe84252608a3bb52dc794fec10af169b5c0e/configs/ppyolo/_base_/ppyolo_reader.yml#L13

测试的时候可以导出不同的测试尺寸，参考教程

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/EXPORT_MODEL.md#4%E8%AE%BE%E7%BD%AE%E5%AF%BC%E5%87%BA%E6%A8%A1%E5%9E%8B%E7%9A%84%E8%BE%93%E5%85%A5%E5%A4%A7%E5%B0%8F

[2022-05-03 08:43] qingqing01 commented on #5878
如果是简单程序也会报错的话，大概率是安装Paddle的问题。需要注意驱动、CUDA、cuDNN版本等正确。

[2022-05-03 08:45] qingqing01 commented on #5869
您是Windows部署，注意正确下载推理库。另外，PaddleX的问题需要到PaddleX repo下问下。

[2022-05-03 08:50] qingqing01 commented on #5862
@sl3120 感谢反馈，我们排查下。 @ghostxsl 请看下这个问题吧。

[2022-05-03 08:53] qingqing01 commented on #5859
添加其他的可视化信息，需要修改代码，具体的VisualDL的代码参考:

https://github.com/PaddlePaddle/PaddleDetection/blob/bb4fbe84252608a3bb52dc794fec10af169b5c0e/ppdet/engine/callbacks.py#L234

另外，LR在输出的log里其实会打印。

[2022-05-03 08:55] qingqing01 commented on #5856
@always-wo 目前剪枝的敏感度分析只提供了静态图、YOLOv3代码分析(也就是static文件下YOLOv3)代码。 PaddleDetection中动态图还不支持。需要参考PaddleSlim代码。

https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.0.0/docs/zh_cn/tutorials/pruning/dygraph/filter_pruning.md#41-%E5%8D%B7%E7%A7%AF%E9%87%8D%E8%A6%81%E6%80%A7%E5%88%86%E6%9E%90

另外，也可以不做敏感度分析，直接做剪枝。

[2022-05-03 08:58] qingqing01 commented on #5848
closed since duplicated with https://github.com/PaddlePaddle/PaddleDetection/issues/5848

[2022-05-03 08:58] #5848 closed, assigned to nobody

[2022-05-03 11:05] moneypi commented on #5758
[code]

[2022-05-03 16:35] moneypi commented on #5876
Xubuntu 20.04
python 3.9.7
[code]

[code]

[2022-05-03 16:40] moneypi commented on #5876
[code]

[2022-05-03 16:40] moneypi commented on #5876
[code]

[2022-05-04 04:32] qingqing01 commented on #5863
@wstchhwp 感谢反馈，我们会check并修复下。

[2022-05-04 12:42] zhly0 opened #5879 "训练时会卡住"
训练了3次，一次卡在第3个epoch，一次卡在第13个epcoh，第三次卡在第15个epoch，卡住不动，1天都不动，手动ctrl c出现如下提示：

SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at /paddle/paddle/fluid/operators/reader/blocking_queue.h:166)

补充：使用的是官网下载的coco原始数据，训练命令：
python tools/train.py -c configs/picodet/picodet_s_320_coco_lcnet.yml -

[2022-05-05 00:45] jiaerwang0328 commented on #5878
cuda 10.1,cudnn 7.5.0 驱动418，安装的是paddlepaddle_gpu-2.2.0.post101-cp37-cp37m-linux_x86_64.whl，没问题吧，我第一次训练时成功了，第二次训练时就报错了

[2022-05-05 01:37] kungkook commented on #5869
你好，我是在windows部署下下载的适配于cuda11.2的推理库，但是还是缺少文件。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月3日(星期二) 下午4:46
***@***.***&g

[2022-05-05 02:28] zouhan6806504 opened #5880 "请问有没有基于图片的时间序列预测的例子可以参考？"
比如给出前10分钟的图像序列，每秒1张图像，预测后1分钟内的图片情况

[2022-05-05 03:08] #5798 closed, assigned to nobody

[2022-05-05 03:08] wstchhwp commented on #5798
谢谢

[2022-05-05 03:21] cryboykevin opened #5881 "about imagenet pretrain"
I find that ppyolo-e use imagenet pretrain.

My question is that what the acc of imagenet pretrain is and how much mAP the imagenet pretrain improves ppyolo-e.

[2022-05-05 04:20] zoooo0820 commented on #5880
PaddleDetection内目前没有类似应用

[2022-05-05 04:24] qingqing01 commented on #5878
@jiaerwang0328  看你第一条回复CUDA 10.2。 请确认下CUDA版本吧。

[2022-05-05 05:06] qingqing01 commented on #5869
@kungkook 最新的Paddle Inference的lib名字是'libpaddle_inference.lib'，不叫'libpaddle_fluid.lib':

https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows

[code]

您要么更改编译代码，要么更换预测库

[2022-05-05 05:14] nemonameless commented on #5728
可以的，训练完后需要像这样[导出模型权重](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/python#1-%E5%AF%BC%E5%87%BA%E9%A2%84%E6%B5%8B%E6%A8%A1%E5%9E%8B)，然后更改配置文件里的路径为你的新的模型权重 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/pphuman/config/infer_cfg.yml

[2022-05-05 05:25] Indigo6 commented on #5728
好的，感谢您的回复~

[2022-05-05 06:08] zoooo0820 commented on #5881
The accuracy of pretrained model on Imagenet is about 79.7 (cspresnet-L). And we did not test the mAP without pretrained model.

[2022-05-05 06:43] jiaerwang0328 commented on #5878
是cuda 10.1

[2022-05-05 06:49] LMR2018 commented on #5842
@WeizXy 兄弟，你的方法可行吗？

[2022-05-05 07:11] cryboykevin commented on #5881
what about the acc of imagenet pretrain (ppyoloe-s)?

[2022-05-05 07:46] WeizXy commented on #5842
@LMR2018  不行啊兄弟....

[2022-05-05 08:15] Shengcheng-Ma opened #5884 "使用paddle2onnx转换onnx格式问题"
## 描述问题
使用paddle2onnx_v0.9.5将PaddleDetection_v2.4版本训练产生的faster-rcnn模型住哪换成onnx格式时，报以下错误:

NotImplementedError:
There's 7 ops are not supported yet
=========== tensor_array_to_tensor ===========
=========== while ===========
=========== select_input ===========
=========== conditional_block ===========
=========== generate_proposals_v2 ===========
=========== write_to_array ===========
=========== l

[2022-05-05 09:22] lixiangMindSpore commented on #5855
专家在吗？CBAM模块有没有实验？也不如SE么？我看TPH-YOLOv5用的就是CBAM

[2022-05-05 10:07] liupeng0606 commented on #5842
python slim/prune/prune.py -c ./configs/yolov3_mobilenet_v1_voc.yml --print_params

Traceback (most recent call last):
  File "slim/prune/prune.py", line 61, in <module>
    raise e
  File "slim/prune/prune.py", line 41, in <module>
    from ppdet.experimental import mixed_precision_context
ModuleNotFoundError: No module named 'ppdet.experimental'

这是几个意思？？？

[2022-05-05 10:08] liupeng0606 opened #5885 "执行剪枝命令出现问题"
在PaddleDetection的static目录下，执行 python slim/prune/prune.py -c ./configs/yolov3_mobilenet_v1_voc.yml --print_params

Traceback (most recent call last):
File "slim/prune/prune.py", line 61, in
raise e
File "slim/prune/prune.py", line 41, in
from ppdet.experimental import mixed_precision_context
ModuleNotFoundError: No module named 'ppdet.experimental'

请问这是什么问题？

[2022-05-05 10:18] WeizXy commented on #5842
@liupeng0606 这个还真没见过，而且你这个命令我也没见过@.@

[2022-05-05 10:26] yghstill commented on #5879
@zhly0 PaddlePaddle版本是多少？单卡训练还是多卡分布式启动的？hang住之后显存占用正常吗？

[2022-05-05 11:02] wangxinxin08 commented on #5881
@cryboykevin the acc of cspresnet-s is about 71

[2022-05-05 11:23] jiangjiajun commented on #5884
Duplicate of https://github.com/PaddlePaddle/Paddle2ONNX/issues/699
请参考这个issue的回复 https://github.com/PaddlePaddle/Paddle2ONNX/issues/699

[2022-05-05 12:24] zoooo0820 commented on #5885
尝试下`pip uninstall paddledet`

[2022-05-06 02:21] chen-del commented on #5723
我的paddle2onnx版本是0.9.1

[2022-05-06 02:31] wzh326 opened #5887 "yolox的预训练模型"
在官方给的标准配置文件中，并没有给出yolox的预训练模型。从其他配置文件上获取预模型的网址也没办法访问。请问yolox是还没有提供相应的预训练模型嘛？个人应该怎么获取呢？

[2022-05-06 02:48] nemonameless commented on #5887
YOLOX没有用预训练，是train from scratch即从头训练的。

[2022-05-06 02:51] chen-del opened #5888 "PicoDet 使用COCOJson格式训练出现问题"
在picodet使用coco数据训练，出现了KeyError: 'pad_gt_mask'，在ppyolo中训练时并没有出现，我想知道的是我json标注数据缺少的某一部分嘛

[新建 文本文档 (2).txt](https://github.com/PaddlePaddle/PaddleDetection/files/8637259/2.txt)

voc数据也是可以正常训练的

这个问题怎么解决？

[2022-05-06 03:56] zhly0 commented on #5879
@yghstill  你好，是单机训练，paddle版本2.2.2，训练hang住之后，用nvidia-smi看显存占用正常，对应进程还在，用top命令看已经找不到对应的进程了。cpu无占用，内存也无占用。

[2022-05-06 04:21] wzh326 commented on #5887
谢谢解答！感觉重头训练起来好慢呀，就想能不能有预训练模型加快一下速度

[2022-05-06 04:21] #5887 closed, assigned to nobody

[2022-05-06 05:40] yghstill commented on #5888
@chen-del reader的配置文件修改过吗？确认下reader cfg中`- PadGT: {}` 是否存在：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/picodet/_base_/picodet_416_reader.yml#L16

[2022-05-06 05:53] cryboykevin opened #5889 "About speed test"
First, I can reproduce the speed (4.8 ms) of ppyoloe-s model on V100 with fp32 precision and batch_size=1.

Then, I try to test the speed of ppyoloe-s model on V100 with fp32 precision and batch_size=32, and the results show that the latency of per image is 2.2 ms. Is my testing results right?

[2022-05-06 05:53] songyuc opened #5890 "[Document Improvement] 请问一下，在CPU上如何进行“快速体验”的测试呢？"
## 📖  文档优化/Documentation Improvement

**请简单说明文档存在问题/Please provide a concise and brief description of the documentation problem:**
[[快速体验]](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/INSTALL_cn.md#%E5%BF%AB%E9%80%9F%E4%BD%93%E9%AA%8C)没有提供CPU版本的测试指令。
**请提供有问题的文档部分截图及链接/Please provide the screen shoot and the link of the document:**
![image](https://user-images.g

[2022-05-06 05:53] yghstill commented on #5879
@zhly0 看你的描述，可能内存溢出环境因素，将worker_num调成0，再试下，看看还是否有hang住的情况：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/picodet/_base_/picodet_416_reader.yml#L1

[2022-05-06 07:17] nemonameless commented on #5887
可以试试ppyoloe，有预训练

[2022-05-06 07:20] wzh326 commented on #5887
谢谢帮助！之前用过ppyoloe，但是精度不够高。就想换其他模型试一下。但是不知道为啥，大模型的精度反而不如小模型精度高

[2022-05-06 07:29] bittergourd1224 opened #5891 "datasets下yml中，map_type的含义是什么？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## 描述问题/Describe the bug
A clear and concise description of what the bug is.

**对于自定义数据集，发现yml中map_type这个变量没有清晰的解释。**

**提供的例子中

configs\datasets\roadsign_voc.yml里map_type设置的是integral
configs\datasets\voc.yml里map_type设置的是11point
分别代表什么含义？对于我自己的数据集应该填写什么？

## 环境/Environment
1. 请提供您使用的Paddle和PaddleDetection的版本号/Please prov

[2022-05-06 08:57] malcolm-wang opened #5893 "SSD剪枝问题"
![166101578-9dd102a7-2bfb-46de-b841-90874148fdbd](https://user-images.githubusercontent.com/104298741/167100179-e311d0f6-356b-43a5-9b3f-b6f37198bfed.png)

为什么这个的pruned ratio 只有0.045左右啊，yolov3的这个都可以达到30%几。这个配置文件该怎么改呢？按照yolo的数据，最后的pruned ratio只有0.005，而改变参数和层数最多只有0.045，请问如何更改此配置文件使得在训练ssd时的pruned ratio达到0.1以上?
![167069608-86d7a5cd-85e3-4e64-9c49-a35f7d082b50](https://user-images.githubusercontent.com

[2022-05-06 09:00] qingqing01 commented on #5890
@songyuc  设置 `-o use_gpu=False`

[2022-05-06 09:03] wangxinxin08 commented on #5889
When batch size is greater than 1, the latency of ppyoloe-s is faster than that when batch size is 1.

[2022-05-06 09:13] qingqing01 commented on #5891
Pascal VOC数据集的mAP指标计算，包含内插11 point (内插AP)、integral (曲线下面积)两种，可以参考:

https://www.lijingle.com/article-73-1.html

https://datascience.stackexchange.com/questions/25119/how-to-calculate-map-for-detection-task-for-the-pascal-voc-challenge

https://homepages.inf.ed.ac.uk/ckiw/postscript/ijcv_voc09.pdf

您用默认值即可。

[2022-05-06 10:15] chen-del commented on #5888
@yghstill 好的谢谢！
应该是我修改配置文件的时候，将- PadGT: {}这个配置参数给遗漏掉了。

[2022-05-06 12:03] #5829 closed, assigned to jerrywgz

[2022-05-06 13:46] zeromasterfire commented on #5885
我也遇到了相同的问题，执行指令后 /home/server/anaconda3/lib/python3.9/site-packages/fontTools/misc/py23.py:11: DeprecationWarning: The py23 module has been deprecated and will be removed in a future release. Please update your code.
  warnings.warn(
/home/xt/paddle/PaddleDetection/static/ppdet/utils/voc_utils.py:67: DeprecationWarning: invalid escape sequence \.
  if re.match('trainval\.txt', fname):
/home/xt/pad

[2022-05-06 14:14] nemonameless commented on #5647
PaddleDetection中已经发布[YOLOX](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/yolox)，欢迎使用。

[2022-05-06 14:24] bittergourd1224 commented on #5891
好的，感谢~

[2022-05-06 14:24] #5891 closed, assigned to nobody

[2022-05-06 14:25] ahxiaofengzheng opened #5895 "使用自定义数据集训练solov2模型出现问题"
使用自定义数据集训练solov2模型，运行一个epoch报错。

[code]

1. 使用的命令是

[code]

3. 训练前修改的solov2中的solov2_reader.yml和datasets中的coco_instance.yml

solov2_reader.yml：

[code]
coco_instance.yml
[code]

5. 使用的数据集是使用labelme标注通过x2coco.py转化为coco格式的数据集：
文件分布：
![图片](https://user-images.githubusercontent.com/81721256/167151417-6944c807-2bc1-43c5-ac8a-006e8883482f.png)
json文件内部：
![图片](https://user-images.githubusercontent.com/817

[2022-05-06 14:59] ZRS0326 opened #5896 "导出静态图时，如何改变模型参数等的顺序，使模型预测时的计算顺序发生改变，提升速度"
目前模型部署到移动端后，可以发现模型的计算顺序是SSDHead与骨干混合计算的。也就是会在两者的计算间来回切换，影响硬件加速的性能。如何能够使它预测时的计算顺序变为：先把整个骨干网络（mobilenet）计算完成，然后再根据骨干的特定层结果计算SSDHead层。从而实现预测（加速）。目前的思路是在动态图导出静态图模型的过程解决此问题，但没有好的想法与思路（或者这个模型的计算顺序是由什么影响的）

[2022-05-06 15:26] liupeng0606 commented on #5758
可否贴出您的版本信息，我也遇到了这样的问题

[2022-05-07 02:00] wj1017090777 commented on #5747
@GMfatcat @jerrywgz 请问解决问题了吗  我是训练自己的数据集 出错，在类别为1，在训练时不会报错，只要一加上--eval就会报错，这使得我无法导出模型以及无法推理模型查看具体效果。有趣的是，我在验证时，将类别修改为2，就能导出模型并且 eval成功，但是map等为0

[2022-05-07 02:19] zoooo0820 commented on #5885
@zeromasterfire
使用的是cpu版本的paddle吧？
- 如果是gpu机器，可以装上paddlepaddle-gpu
- 或者在命令最后加上 `-o use_gpu=False`
- 或者直接在yml配置文件里，把`use_gpu`改成false

[2022-05-07 02:37] zeromasterfire commented on #5885
您好，我也试过了，

 python prune.py \-c ../../configs/ssd/ssd_mobilenet_v1_voc.yml \--print_params -o use_gpu=false
/home/server/anaconda3/envs/paddle_env/lib/python3.9/site-packages/paddle/tensor/creation.py:130: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated i

[2022-05-07 02:42] zoooo0820 commented on #5885
@zeromasterfire 请在`PaddleDetection/static`这个路径下执行哈

[2022-05-07 02:43] zeromasterfire commented on #5885
xt@server-System-Product-Name:~/paddle/PaddleDetection/static/slim/prune$
python prune.py -c ../../configs/ssd/ssd_mobilenet_v1_voc.yml --print_params -o use_gpu=false
/home/server/anaconda3/envs/paddle_env/lib/python3.9/site-packages/paddle/tensor/creation.py:130: DeprecationWarning: np.object is a deprecated alias for the builtin object. To silence this warning, use object by itself. Doing this

[2022-05-07 02:48] zoooo0820 commented on #5885
@zeromasterfire
在`PaddleDetection/static`目录下执行命令，`python slim/prune/prune.py -c ./configs/yolov3_mobilenet_v1_voc.yml --print_params -o use_gpu=False` 。上面的报错是已经位于`PaddleDetection/static/slim/prune`下了

[2022-05-07 02:48] cryboykevin commented on #5889
Can I test the speed of ppyoloe models on V100 with fp16 without trt?

[2022-05-07 03:04] zeromasterfire commented on #5885
是一样的，还是那个问题，我是paddledetection 的最新版本，默认动态图，是不是要开启什么东西进入静态图？
 xt@server-System-Product-Name:~/paddle/PaddleDetection/static$ python slim/prune/prune.py -c ./configs/yolov3_mobilenet_v1_voc.yml --print_params -o use_gpu=False
/home/server/anaconda3/envs/paddle_env/lib/python3.9/site-packages/paddle/tensor/creation.py:130: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`.

[2022-05-07 03:23] Dandelion111 opened #5897 "用picodet训练的模型在无目标图像产生误检"
数据集中有A和B两种目标，其中A目标是贴在B目标上面，用picodet训练了一个只检测A的模型，有A目标的图像检测效果比较好，但是没有A目标的图像会误检为B目标上面的某个区域，而且置信度还挺高，有的达到0.8以上，求大佬分析一下这是什么原因？应该如何改进？

[2022-05-07 03:30] jiaerwang0328 opened #5898 "[yolov4 裁减] RecursionError: maximum recursion depth exceeded in __subclasscheck__"
**PaddleDetection team appreciate any suggestion or problem you delivered~**
## 描述问题/Describe the bug
反复执行prune_walker中函数。

[code]

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?

[code]

2. 您是否更改过代码或配置文件？您是否理解您所更改的内容？还请您提供所更改的部分代码。/Did you make any modifications on the code or config? Did you understand what you have modified? Please provide the codes that you modified.

3. 您

[2022-05-07 03:31] zhly0 commented on #5879
@yghstill 你好，修改后，跑了37个epoch，截止目前没遇到问题，但是训练速度慢了2.5倍，关于训练速度，有什么进一步的建议吗

[2022-05-07 03:39] lihui669 opened #5899 "采用eval.py进行模型评估时，如何输出IOU=0.5时每个类的AP"
当测试时，在测试的命令行后加上 --classwise 时，显示的是IOU=0.50：0.95时每个类别的AP，如果想要显示IOU=0.5时每个类别的AP,应该修改哪些参数？

[2022-05-07 04:52] ZHZhang-whu commented on #5758
我的解决方式是 paddlepaddle和slim都换成了2.1版本 就不会报错了

[2022-05-07 05:35] liupeng0606 commented on #5885
在static下执行   export PYTHONPATH=`pwd`:$PYTHONPATH，我也遇到了这个问题，解决了

[2022-05-07 05:36] liupeng0606 commented on #5885
谢谢大家，我的解决了，在static下执行   export PYTHONPATH=`pwd`:$PYTHONPATH

[2022-05-07 05:36] liupeng0606 commented on #5885
谢谢大家，我的解决了，在static下执行 export PYTHONPATH=pwd:$PYTHONPATH

[2022-05-07 05:36] #5885 closed, assigned to wanghaoshuang, minghaoBD

[2022-05-07 05:38] liupeng0606 opened #5900 "敏感度分析 AttributeError: 'NoneType' object has no attribute '_var'"
执行文档中的

[code]

出现下面的问题：

[code]

[2022-05-07 06:46] #5898 closed, assigned to nobody

[2022-05-07 07:06] yeyupiaoling opened #5901 "训练的是突然出现(External) CUDA error(719),错误"
- PaddlePaddle 2.2.2
 - PaddleDetection 2.4
 - 模型：PPYOLOE

在训练的时候突然出以下错误，前面已经正常训练了50多轮。
[code]

[2022-05-07 07:57] ZHZhang-whu commented on #5842
请问有相关教程文档可以提供嘛？查看了ppdet的相关代码，并没有找到可以同时做量化和剪裁的方式，目前所了解的只有官方提供的distill和prune可以同时进行。

[2022-05-07 08:17] liupeng0606 commented on #5758
请问您的cuda是那个版本？paddledet是哪个版本？

[2022-05-07 10:20] ZHZhang-whu opened #5902 "剪裁后的模型量化处理问题"
您好，我在对于ssd_mobilenetv1网络进行了剪枝之后，查看了剪枝后模型的卷积通道数已经缩小，然后将这个剪枝后的模型进行了量化，量化后模型的卷积通道数又变成了剪枝前的数目（例如backbone.conv1._conv，剪枝前32×3×3×3，剪枝后23×3×3×3，量化后又变会了32×3×3×3）
1.请问这样的先剪枝后量化的操作是否会使剪枝无效？
2.官方有提供同时进行distillprune的配置，之前也有人提问quant和prune联合进行的配置如何去写，请问剪枝和量化联合飞桨是否支持，以及您对于之前那个问题的回答——“在配置文件里同时配置剪裁和量化就可以实现剪裁、量化联合策略”该如何去配置，有相关文档或者配置文件示例嘛？就我目前将两个配置放在同一个配置中，slim只会执行一个配置。
相关配置的源码我也查阅了，仍没有思路，诚恳的希望您给出一个解答，感谢！

[2022-05-07 10:25] ZHZhang-whu commented on #5902
#5842 这是之前那个问题，虽然得到了您们的解答，但是还是不知道如何去修改配置文件达到剪枝和量化联合的效果

[2022-05-07 12:08] yu-jie-cpu commented on #5902
遇到同样的问题

[2022-05-07 12:42] wzh326 opened #5903 "请问configs/slim里面的配置文件的初始学习率也是默认对标8卡嘛？"
请问configs/slim里面的配置文件的初始学习率也是默认对标8卡嘛？

[2022-05-08 02:36] qingqing01 commented on #5902
目前的配置还不太能同时支持剪枝后量化，代码中是if、else关系:

https://github.com/PaddlePaddle/PaddleDetection/blob/e9a5428f855a65480072e5c813949fba5f356eeb/ppdet/slim/__init__.py#L63-L76

如果自己修改的代码的话:

1. 一种方式，修改上面代码， 存在prune，先构建剪枝配置；存在quant，构建quant配置，顺序执行。但是否正确，可能要调试下。
2. 另一种方式，依据剪枝后的channel，更改源码，比较麻烦。

后续我们支持下这个需求。  @yghstill

[2022-05-08 02:40] qingqing01 commented on #5895
@ahxiaofengzheng

您将 `EvalReader` 和 `TestReader`中的batch_size改成1呢

[2022-05-08 02:43] qingqing01 commented on #5896
Python组网代码中默认的顺序是：先骨干网络 -> 后Head计算，您观察下导出后的图的顺序是否为：先骨干网络 -> 后Head计算？另外，您是用PaddleLite部署的吗？

[2022-05-08 02:44] qingqing01 commented on #5903
默认是和此模型原始配置(FP32)模型训练的配置卡数相同。

[2022-05-08 02:45] qingqing01 commented on #5901
看Log出NaN了，注意卡数变化后LR的调整。

[2022-05-08 04:05] liupeng0606 commented on #5856
请问一下，用自己的数据集做敏感度分析，
'yolo_block.0.0.0.conv.weights': {0.1: 0.13382355165646295, 0.2: -0.004217178131184262, 0.3: -0.193924454941663, 0.4: 0.010026633525619883, 0.5: -0.9559243586572177, 0.6: -0.6940631263022814, 0.7: -0.6875052277611886, 0.8: -0.34521514965152666, 0.9: -0.501086814443298}

出现了负值是怎么回事？

[2022-05-08 04:05] liupeng0606 commented on #5856
这种情况算正常吗？

[2022-05-08 05:52] ahxiaofengzheng commented on #5895
@qingqing01 谢谢 问题解决了 我还想问一下coco_instance.yml中的data_fields: ['image', 'gt_bbox', 'gt_class', 'gt_poly', 'is_crowd']对应的是什么

[2022-05-08 07:44] Kaitosama7 opened #5905 "PR曲线"
使用paddledection可以输出单个模型的PR曲线，但是现在需要将两个模型画到一起，怎么去找输出的y_true和y_pred的文档呢？

[2022-05-08 08:14] ZhiXianZ commented on #5302
你们可以这个问题排查出来了吗

[2022-05-08 08:34] lyuwenyu commented on #5302
在config里加上 `find_unused_parameters: True`

[2022-05-08 11:59] zoooo0820 commented on #5895
@ahxiaofengzheng
需要取标注文件中的哪些字段，包括图像、groudtruth的框、类别、mask以及拥挤标注，具体可以看一下coco标注文件以及coco官方的说明

[2022-05-08 12:44] Li-4 opened #5906 "PicoFeat use_se 时 assert share_cls_reg == True"
https://github.com/PaddlePaddle/PaddleDetection/blob/acaf10684d8e071e48098c660355d54981d93b7c/ppdet/modeling/heads/pico_head.py#L93

[code]

后面的描述和 assert 不符合吧？这里必须 share_cls_reg == True 才能通过。
但是 picodet_v2.yml 的配置文件中 share_cls_reg: True，use_se: True
搞不懂正确的情况是什么

[2022-05-08 12:56] ahxiaofengzheng commented on #5895
我的json文件中只有image，categories，annotations这三个字段，是不是也需要修改

[2022-05-08 12:58] ahxiaofengzheng commented on #5895
@zoooo0820
![图片](https://user-images.githubusercontent.com/81721256/167297258-1ce08b6b-d82a-480e-8e2b-eee5a4950331.png)
这是我数据集标注文件中的字段

[2022-05-08 13:39] chen-del commented on #5723
@yghstill 导出又一次出现了问题，我将预处理去除掉后

问题如下：
[05/08 21:18:40] ppdet.utils.checkpoint INFO: Finish loading model weights: ./output/picodet_xs_320_coco_lcnet_269/best_model.pdparams
loading annotations into memory...
Done (t=0.06s)
creating index...
index created!
[05/08 21:18:40] ppdet.engine INFO: Export inference config file to ./model_pdparams/deploy/picodet_xs_320_coco_lcnet/infer_cfg.yml
W0508 21:18:

[2022-05-09 01:30] ubikpkd opened #5907 "请问pp-human如何用于双人动作识别？"
在参考如何训练ST-GCN识别自定义动作的教程时（https://github.com/PaddlePaddle/PaddleVideo/tree/develop/applications/PPHuman），该教程只支持单人动作的识别，在准备数据集时，即使检测到多人，它也只选取第一人
![image](https://user-images.githubusercontent.com/49560974/167325559-9a7c9cef-b16a-4c0e-815c-99c9d118dafe.png)
训练的配置文件也指明只识别单人动作
![image](https://user-images.githubusercontent.com/49560974/167325657-c6092f77-362d-4d20-b1a0-6be4850afbbf.png)
请问应当如何修改才能使pphu

[2022-05-09 01:30] LeeLear commented on #5819
我也一样，看了几周也没找到原因

[2022-05-09 02:27] zoooo0820 commented on #5895
@ahxiaofengzheng
请看下`annotations`下属的每一个实例所包含的字段哈

[2022-05-09 02:41] zoooo0820 commented on #5907
目前pphuman中暂未直接提供多人共同定义的动作识别。关于在目前的方案中实现，可能需要修改较多的地方：
- 由于涉及到跟踪+关键点识别。在目前的pipeline的基于关键点识别的方案中，首先需要得到多个人物的跟踪结果（时序上要统一，即每人的动作在各帧上要对齐）。为了提升不同场景下的效果，最好将这些坐标调整到一个较为固定的坐标系下（可以参考NTU-RGB+D的双人动作，人物视角和位置是基本不变的）。
- 训练数据最后的维度以及配置文件将`person_nums`修改为最大支持人数即可，人数不足的动作数据用0补齐。

最后，我们目前也在补充一些多人动作的识别方案，预计在Q2可以放出

[2022-05-09 02:50] ubikpkd commented on #5907
好的，感谢回复。

[2022-05-09 02:50] #5907 closed, assigned to nobody

[2022-05-09 02:54] jerrywgz commented on #5905
每个模型eval的时候都会得到一个eval result，将两个模型的result分别画出来就可以，具体代码参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/metrics/map_utils.py#L324

[2022-05-09 03:16] nemonameless commented on #5899
#4673
这个是由cocoapi评估代码决定的。
首先pip安装pycocotools包
代码里会有
from pycocotools.coco import COCO
from pycocotools.cocoeval import COCOeval
ppdet里的打印调用在此：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/metrics/coco_utils.py#L112
cocoapi里的原始代码在此
https://github.com/cocodataset/cocoapi/blob/master/PythonAPI/pycocotools/cocoeval.py#L422

[2022-05-09 03:18] GMfatcat commented on #5747
@wj1017090777  我試了你的方法，類別修改之後還是不能跑。目前在ppdet已放棄訓練所有有mask的model，都訓練bbox而已

[2022-05-09 03:24] nine-city opened #5909 "想问一个关于部署的问题"
训练好的模型，部署在GPU服务器上
我当前采用了摄像头进行推流
服务器进行了拉流处理并同时进行了模型的调用
我怎么知道当前GPU的处理上限是多少呢
是需要一个GPU还是多个GPU
有没有可以参考的服务器硬件配置

[2022-05-09 04:14] ahxiaofengzheng commented on #5895
![图片](https://user-images.githubusercontent.com/81721256/167339392-0a410049-4e12-4971-8dbd-22e295a24cfb.png)
![图片](https://user-images.githubusercontent.com/81721256/167339432-424b6672-e2fa-44ed-b1d7-fdee0dbd8961.png)
@zoooo0820 这是我的json文件annotations中的内容

[2022-05-09 04:23] zoooo0820 commented on #5895
@ahxiaofengzheng 不用修改文件，直接训就好

[2022-05-09 05:01] ahxiaofengzheng commented on #5895
谢谢大佬

[2022-05-09 05:01] #5895 closed, assigned to qingqing01, zoooo0820

[2022-05-09 05:36] jerrywgz commented on #5870
可以发下训练使用的配置文件吗，cascade rcnn需要在预处理的时候将图片pad到32的倍数，具体可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/cascade_rcnn/_base_/cascade_fpn_reader.yml#L10 这里

[2022-05-09 05:36] moneypi commented on #5876
fix my problem by downgrade `paddleslim` to 2.1.0

[code]
run `sensitive.py` for 3.5 hours, and run `prune.py` for 2.2 hours

[2022-05-09 07:04] TTgogogo commented on #5852
@jerrywgz 找得到原因吗？

[2022-05-09 07:49] LUOrenjia commented on #5191
大佬你好！三月底的release中没有看到关键点标注工具，请问后面有计划推出关键点标注工具吗？

[2022-05-09 10:35] chen-del opened #5910 "[BUG] Picodet_xs 对于1280*720 或者1920*1080预测效果很差"
训练的时候采用的320*320 的输入，图片训练时大小基本是640*460，460*640，648*352等这种比例形式，还有少部分1280*720的图片，但是预测是有些是1280*1920 和1920*1080的预测，在这种情况下推理预测效果，出现了明显的漏检和误检。

因为是采用红外的数据YUV格式，彩色的比较少，这也造成了红外数据预测不到，彩色数据效果更差，我想知道的是训练过程中是自适应缩放比例，不同尺度嘛，还是说我要将模型输入改为16：9的比例输入，例如256*160输入训练等才能达到想要的效果。
还是说有其他的方法？

[2022-05-09 12:39] yghstill commented on #5906
@Li-4 是的，描述不符，已修改，非常感谢~

[2022-05-09 12:42] yghstill commented on #5909
Paddle Inference目前多进程不支持，部署使用单GPU环境即可，可以根据单个进程确定GPU显存占用，预估处理上限

[2022-05-09 12:44] yghstill commented on #5910
@chen-del PicoDet会自适应物体尺寸的，不用将图片resize成长方形，正方形即可。可能你测试的图片以及物体大小在训练中没有覆盖到，建议训练集再调整下，同时reader中multi scale train的尺度可以再多点：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/picodet/_base_/picodet_320_reader.yml#L13

[2022-05-09 12:45] yghstill commented on #5723
@chen-del 这个只是warning，不影响部署哈

[2022-05-10 00:49] nine-city commented on #5909
多路摄像头的情况下，需要自己去维护多线程，在各自线程内进行模型调用这样吗

[2022-05-10 01:31] nine-city opened #5912 "关于框的顺序问题"
目标检测，我的场景的固定拍摄某些物体，比如一个杯子A，然后加入了杯子B，他们同属一类东西，但是我需要记录一下他们进入摄像头视野的顺序，这种情况下有什么好的思路或者方案吗

[2022-05-10 01:46] yghstill commented on #5909
@nine-city 是的

[2022-05-10 01:47] Dandelion111 opened #5913 "请问有没有可以直接计算模型参数量和flops的工具？"

[2022-05-10 01:51] lazyn1997 commented on #5107
此问题在当前版本依然存在，请问这个颜色空间问题对结果的影响有多大，还望修复一下，保持视频与图片处理的一致性。
![image](https://user-images.githubusercontent.com/34644177/167526421-8a9d841e-f9d9-4229-9241-8de70c5cb505.png)

[2022-05-10 05:12] songyuc commented on #5890
@qingqing01 ，好的，谢谢你的回复！

[2022-05-10 05:12] #5890 closed, assigned to nobody

[2022-05-10 06:47] wangxinxin08 commented on #5107
感谢你的反馈，fixed by https://github.com/PaddlePaddle/PaddleDetection/pull/5918, https://github.com/PaddlePaddle/PaddleDetection/pull/5919

[2022-05-10 08:06] chen-del commented on #5910
@yghstill ,好的谢谢！就像你所说的输入是自适应缩放的，尺度在增加多一点，这样对最终的效果有影响吗，就是误解率

[2022-05-10 08:10] ubikpkd opened #5920 "请问pphuman的摔倒识别如何部署？"
目前的想法是通过paddle-serving部署。

paddle-serving部署时支持pipeline模式，可以通过定义op来进行多个模型的串联。

但是将模型转换为paddle-serving支持的模型时，目标检测与追踪的模型（pp-yoloe）输出包含两个结果，维度与关键点检测模型（HRNet）的输入并不匹配。并且最终需要通过stgcn来判断是否摔倒，而stgcn需要50帧图像才能判断。

请问有关于pp-human部署的教程吗？

提前感谢您的回答。

[2022-05-10 08:17] ubikpkd opened #5921 "请问pphuman的摔倒识别如何部署？"
目前的想法是通过paddle-serving部署。

paddle-serving部署时支持pipeline模式，可以通过定义op来进行多个模型的串联。

但是将模型转换为paddle-serving支持的模型时，目标检测与追踪的模型（pp-yoloe）输出包含两个结果，维度与关键点检测模型（HRNet）的输入并不匹配。并且最终需要通过stgcn来判断是否摔倒，而stgcn需要50帧图像才能判断。

请问有关于pp-human部署的教程吗？

提前感谢您的回答。

[2022-05-10 08:29] ubikpkd opened #5922 "请问pphuman的摔倒识别如何部署？"
目前的想法是通过paddle-serving部署。

paddle-serving部署时支持pipeline模式，可以通过定义op来进行多个模型的串联。

但是将模型转换为paddle-serving支持的模型时，目标检测与追踪的模型（pp-yoloe）输出包含两个结果，维度与关键点检测模型（HRNet）的输入并不匹配。并且最终需要通过stgcn来判断是否摔倒，而stgcn需要50帧图像才能判断。

请问有关于pp-human部署的教程吗？

提前感谢您的回答。

[2022-05-10 08:30] #5922 closed, assigned to nobody

[2022-05-10 08:30] #5921 closed, assigned to nobody

[2022-05-10 08:56] wangxinxin08 commented on #5912
可以尝试下跟踪的方法

[2022-05-10 08:58] #5842 closed, assigned to wanghaoshuang, minghaoBD

[2022-05-10 09:01] Dandelion111 opened #5923 "用picodet训练的模型严重误检"
数据集中有A和B两种目标，其中A目标是贴在B目标上面，用picodet训练了一个只检测A的模型，有A目标的图像检测效果比较好，但是没有A目标的图像会误检为B目标上面的某个区域，而且置信度还挺高，有的达到0.8以上，求大佬分析一下这是什么原因？应该如何改进？

[2022-05-10 09:01] #5902 closed, assigned to wanghaoshuang, yghstill, minghaoBD

[2022-05-10 09:02] Dandelion111 commented on #5723
数据集中有A和B两种目标，其中A目标是贴在B目标上面，用picodet训练了一个只检测A的模型，有A目标的图像检测效果比较好，但是没有A目标的图像会误检为B目标上面的某个区域，而且置信度还挺高，有的达到0.8以上，求大佬分析一下这是什么原因？应该如何改进？

[2022-05-10 09:08] Shengcheng-Ma commented on #5884
您好，我参考了您提供的这条答复链接，然后paddle2onnx也使用了https://github.com/PaddlePaddle/Paddle2ONNX/pull/636代码进行了转换。

然后我执行下面这行代码生成onnx文件的时候，会报错误。
python paddle2onnx/command.py --model_dir /home/msc/Paddle2onnx/Paddle2ONNX/my_output/faster_rcnn_r50_fpn_1x_coco  --model_filename model.pdmodel --params_filename model.pdiparams --opset_version 13 --save_file ./onnx_13/faster13.onnx

报错误如下：
Exception: Error happened when

[2022-05-10 09:11] wangxinxin08 commented on #5913
在configs/runtime.yml中设置print_flops为True，然后运行eval即可打印MACS，FLOPS等于MACS的两倍。参数量，直接加载权重，按照下面的方式统计下即可
[code]

[2022-05-10 09:12] wangxinxin08 commented on #5920
你可以看下pp-human的代码找一下检测或者跟踪的结果是怎么处理成关键点所需要的输入的，可以参考下其中的实现

[2022-05-10 10:02] lixiangMindSpore opened #5927 "[Other General Issues]置信度预测损失函数用VariFocalLoss一定比FocalLoss涨点么？在你们的消融实验中大概能涨多少？多谢专家！"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-05-10 10:13] y-u-y opened #5928 "ShuffleNetV2 结构配置小错误[BUG]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-05-10 10:36] Dandelion111 commented on #5913
多谢大佬

[2022-05-10 10:50] YixinKristy commented on #5920
您好，我是飞桨PaddleDetection的产品经理，为了进一步帮助您解决问题并且想深入了解您使用的情况，看是否方便添加我的微信交流呢？（微信号：18108656919）

[2022-05-10 11:34] wangxinxin08 commented on #5923
没有A目标的图像的误检确认是A目标的吗？如果确认的话，建议做一下数据增广：
1. A相对于B的位置的数据增广
2. 不包含A目标包含B目标的图像的数据增广

[2022-05-10 11:35] wangxinxin08 commented on #5927
能够涨点，涨点不多，我们最终的消融实验是0.1～0.2个点

[2022-05-10 11:36] wangxinxin08 commented on #5928
你发的两行代码是一样的啊？

[2022-05-10 11:38] fash120 opened #5929 "PaddleDetection量化训练中的QAT量化问题"
QAT量化的配置函数如下：
QAT:
  quant_config: {
    'weight_quantize_type': 'channel_wise_abs_max', 'activation_quantize_type': 'moving_average_abs_max',
    'weight_bits': 8, 'activation_bits': 8, 'dtype': 'int8', 'window_size': 10000, 'moving_rate': 0.9,
    'quantizable_layer_type': ['Conv2D', 'Linear']}
  print_model: True

我想请问以下 'quantizable_layer_type'这里可以对DW卷积也进行量化训练吗。还是说其实以及包括了DW卷积的量化训练了

[2022-05-10 11:41] #5913 closed, assigned to nobody

[2022-05-10 11:46] Dandelion111 commented on #5923
没有A目标时，会把B目标的某个区域识别成A。
A相对于B的位置的数据增广：这个是否可以用copypaste方法
不包含A目标包含B目标的图像的数据增广，意思是增加一些只有B目标的数据吗？我检测的时候没有检测B目标

[2022-05-10 11:46] #5897 closed, assigned to yghstill, lyuwenyu

[2022-05-10 12:31] Jiashuhao518 commented on #5856
我也遇到了相同的问题 现在不太清楚如何分析敏感度

[2022-05-10 12:32] Jiashuhao518 commented on #5856
我也遇到了相同的问题 现在不太清楚如何分析敏感度

[2022-05-10 12:58] janelu9 opened #5932 "关于ppyoloe部分代码的疑问"
疑问是这段代码https://github.com/PaddlePaddle/PaddleDetection/blob/e9a5428f855a65480072e5c813949fba5f356eeb/ppdet/modeling/assigners/atss_assigner.py#L175

[code]
这个地方 当一个anchor属于多个gt_box时 会选择iou最大的那个gt_box
但是这个写法在求每个anchor最大iou的gt_box时 没有考虑这个anchor属不属于gt_box的正样本
假设anchor甲iou最大的那个gt_box是乙  但是甲一定属于gt_box乙的正样本吗？有没有可能不属于 因为正样本是根据中心距离topk之后再根据iou确定的  但是iou最大的时候中心距离一定属于topk吗
就是当某个列j的mask_multiple_gts大于1时，is_m

[2022-05-10 13:05] janelu9 commented on #5730
https://github.com/PaddlePaddle/PaddleDetection/issues/5932
我有个问题在这里

[2022-05-10 14:19] y-u-y commented on #5928
224 => 244   不好意思，编辑状态看的清楚。

[2022-05-10 14:35] liupeng0606 opened #5933 "敏感度分析出现负值"
为什么分析敏感度之后，分析结果中出现负值？

[2022-05-11 00:42] lixiangMindSpore commented on #5927
你们在哪个数据集上进行的消融实验？

[2022-05-11 01:57] jiangjiajun commented on #5884
由于里面使用的roialign参数，所以需要高版本opset

[2022-05-11 02:18] wangxinxin08 commented on #5927
COCO

[2022-05-11 02:20] lixiangMindSpore commented on #5927
COCO2017？还有在别的数据集上做过消融实验吗？

[2022-05-11 02:22] voyag8r opened #5934 "运行代码后既没有报错产生，程序也不继续运行，ctrl+c也退出不了，只能用kill杀死进程"
GPU运行代码后既没有报错产生，程序也不继续运行，ctrl+c也退出不了，只能用kill杀死进程，请问会是什么原因？

centos7
cuda10.2
cudnn7.6.5
3080的显卡

[2022-05-11 02:23] wangxinxin08 commented on #5929
可以对Conv2D进行量化训练，Conv2D包含DW卷机的量化

[2022-05-11 02:34] wangxinxin08 commented on #5927
只在COCO上做过消融实验

[2022-05-11 02:34] ubikpkd commented on #5920
您好，pphuman处理视频输入的时候，多目标追踪模型mot返回的输入格式是这样的
![image](https://user-images.githubusercontent.com/49560974/167757376-859448e6-5f02-4614-b021-e7950dbe796b.png)

但是将对应模型转化为paddleserving能调用的模型后，对应的输出是这样的
![image](https://user-images.githubusercontent.com/49560974/167757124-f13e0a87-6608-4fec-9d65-ccff2f1dbe00.png)

用图片实际测试的结果如下：
![image](https://user-images.githubusercontent.com/49560974/167757263-ac98139

[2022-05-11 02:46] wangxinxin08 commented on #5928
这里确实是一个错误，你可以分别向develop和release/2.4提一个PR修复下，到时候发版时我们会在release note将你加入到contributer里面

[2022-05-11 02:59] xywlpo opened #5935 "训练关键点检测模型，如何配置加载预训练模型"
请问使用paddledetection 2.4时，训练关键点检测模型，LiteHRNet-18，backbone部分想使用预训练模型，在config中对应的配置文件应该如何修改啊？

[2022-05-11 03:27] lvjianjin001 opened #5936 "推理报错"
InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: the input's channels is 1191, the input's shape is [1, 1191, 811, 3]; the filter's channels is 3, the filter's shape is [16, 3, 3, 3]; the groups is 1, the data_format is NCHW. The error may come from wrong data_format setting.
      [Hint: Expected input_channels == filte

[2022-05-11 03:40] Gmgge commented on #4774
@Dandelion111  你好，我按照上面设置  keep_ratio: True ，在之后增加- PadBatch: {pad_to_stride: 32}，但是出现报错ValueError: operands could not be broadcast together with shapes (448,448,32) (1,1,3) (448,448,32) 这是因为最后一个维度也被pad到32了嘛？ 请问下当初有遇到这种情况嘛？

[2022-05-11 03:42] Dandelion111 commented on #4774
把PadBatch: {pad_to_stride: 32}放到最后试试

[2022-05-11 03:44] Dandelion111 commented on #4774
应该是先先resize再padbatch，具体我记不太清了

[2022-05-11 03:44] Dandelion111 commented on #4774
应该是先先resize再padbatch，具体我记不太清了

[2022-05-11 03:47] yeyupiaoling commented on #5901
嗯嗯，没有出现了。谢谢

[2022-05-11 03:47] #5901 closed, assigned to ghostxsl, wangxinxin08

[2022-05-11 05:25] ubikpkd commented on #5920
paddle-serving的输出结果是class，score， bbox，但是预测结果不准确，原始模型能准确识别出图中的行人，serving模型识别的结果，置信度最高只有0.16

原始模型识别结果：
<img width="467" alt="1f1ec00a45f3bd7bbc5f3951dc4a6dd" src="https://user-images.githubusercontent.com/49560974/167774970-a16fce94-9252-41ab-af38-9d738451737b.png">

可视化：
![b94a6f70a271d4621c9bcbed1ec7b47](https://user-images.githubusercontent.com/49560974/167775050-0122081d-fa13-42d6-8dc7-61f4bf57

[2022-05-11 05:53] Gmgge commented on #4774
你好，我也是先resize之后在padbatch
![image](https://user-images.githubusercontent.com/48548141/167777697-18105aaf-ed2f-460b-b88a-26429d93664d.png)
在NormalizeImage 时候报错 维度不匹配 无法计算
![image](https://user-images.githubusercontent.com/48548141/167777746-ddde47dd-ace9-4756-9ddb-27d763c75cfc.png)
@yghstill 你好，这边尝试PicoDet新版本开启keep_ratio训练报错，想请教下有什么其他设置问题嘛？

[2022-05-11 05:59] voyag8r commented on #5934
用的是picodet里面的infer.py 在别的机器上都可以

[2022-05-11 05:59] voyag8r commented on #5934
卡在了这一行
results = detector.predict([frame], FLAGS.threshold)

[2022-05-11 06:05] Gmgge opened #5937 "[Other General Issues] 新版本picodet 使用 keep_ratio: True 训练报错"
如果使用keep_ratio: False 训练正常；
如果使用keep_ratio: True，并根据先前问题讨论在resize之后添加- PadBatch: {pad_to_stride: 32}
依然报错
Traceback (most recent call last):
  File "/opt/anaconda3/envs/gm_py37/lib/python3.7/site-packages/paddle/fluid/dataloader/worker.py", line 329, in _worker_loop
    batch = fetcher.fetch(indices)
  File "/opt/anaconda3/envs/gm_py37/lib/python3.7/site-packages/paddle/fluid/dataloader/fetcher.py

[2022-05-11 06:08] Gmgge commented on #5937
#4774

[2022-05-11 06:17] Gmgge commented on #5723
想问下如何使用keep_ratio: True训练呢？增加- PadBatch: {pad_to_stride: 32}参数依然会报错
  File "/data0/gm/project/detect/PaddleDetection-release-2.4/ppdet/data/transform/operators.py", line 392, in apply
    im -= mean
ValueError: operands could not be broadcast together with shapes (448,448,32) (1,1,3) (448,448,32)