[2021-07-19 01:11] Andy546 commented on #3705
首先代码预测正常，模型没训练好实在是太宽泛了...请问下如果YOLO做这种文本检测模型文本标注、模型训练有什么技巧吗？

[2021-07-19 02:09] nemonameless commented on #3712
您是在static目录下使用的是静态图，静态图没有ppyolov2_r50vd_dcn_365e_coco这个模型的配置文件。运行的命令应该是动态图的，是在默认根目录下运行的。

[2021-07-19 02:18] itues commented on #3712
按照你说的运行了。但是又报下面错误，不知道这个怎么解决，相关路径下明明已经有这个文件了的。
![image](https://user-images.githubusercontent.com/86935392/126093397-640a28e1-949d-47bd-afa2-10bb8334bc9c.png)

[2021-07-19 02:33] jackie8310 opened #3713 "关于预训练模型问题："
以前的模型都是用静态图训练的，现在想用动态图训练，但想加载原来静态图的模型作为预训练模型，可以直接用加载静态图保存的模型断点吗？如不行，有其它方法吗？谢谢！

[2021-07-19 02:39] nemonameless commented on #3712
可能是python环境问题。可以pip install paddledet==2.1.0 或者 python setup.py install更新一下。pip和python的路径可以按自己的调整。

[2021-07-19 02:43] yumeng88 opened #3714 "训练时，加上--eval会报错AttributeError: object has no attribute 'map_type'"
训练时，加上--eval会报错 ，训练完成之后在运行python -u tools/eval.py -c configs/yolov3/yolov3_darknet53_270e_four.yml也会报错AttributeError: object has no attribute 'map_type'

[2021-07-19 02:55] nemonameless commented on #3714
您使用自定义的数据集吗？是VOC格式的？那需要指定评测指标的map_type是 '11point'或者'integral'，参考configs/datasets/voc.yml或者configs/datasets/roadsign_voc.yml开头

[2021-07-19 02:56] yumeng88 commented on #3714
@nemonameless 是的，用的是自定义数据集，VOC格式，我试一下

[2021-07-19 02:58] yumeng88 commented on #3714
@nemonameless 多谢问题解决了，我自定义数据集打开了configs/datasets/coco.yml的复制了一下，少了这个map_type这个评测指标。多谢多谢

[2021-07-19 03:15] #3714 closed, assigned to nobody

[2021-07-19 03:23] nemonameless commented on #3713
静态图和动态图模型的权重的key做下映射一一对应转过去是可以的，可以参考这个代码 https://github.com/nemonameless/weights_st2dy   。但是不保证所有静态图的权重的key映射都能对应上，静态图是把背景也训练了，动态图去背景类训的，而且现有动态图模型训出来的一般都比以前静态图更高，资源时间够的情况下建议还是直接训动态图版本。

[2021-07-19 05:32] wangxinxin08 commented on #3708
看起来是图片路径没有正确设置导致加载图片报错

[2021-07-19 05:42] itues commented on #3712
我使用了你上面提到的两种更新方法，都正常通过，但是运行命令还是提示：ModuleNotFoundError: No module named 'ppdet.engine'

[2021-07-19 06:43] nemonameless commented on #3712
应该还是python路径问题。import ppdet可以吗

[2021-07-19 07:20] nemonameless commented on #3711
建议切换到release/2.1或develop分支再试试。以及先单张图用tools/infer.py试试看能否检测出来，如果也不能可能就是数据集问题了。如果能则可能导出模型和deploy下infer某步有问题了。

[2021-07-19 07:55] yumeng88 commented on #3476
### 我的是faster_rcnn_r50_fpn_1x_coco.yml，训练到11个epoch跳出来的，然后模型保存了前十个的

[2021-07-19 07:56] Sharpiless opened #3717 "如何对CenterNet训练？"
我看到PPDet里面有CenterNet的结构，但是没有给出类似Gt2CenterNetTarget的读取数据接口

[2021-07-19 08:23] nemonameless commented on #3717
还在计划中，还没有实现Gt2CenterNetTarget。目前有的这个CenterNet是给跟踪模型FairMOT用的。

[2021-07-19 08:24] Sharpiless commented on #3717
好的感谢

[2021-07-19 08:24] #3717 closed, assigned to nobody

[2021-07-19 09:56] itues commented on #3712
你好，我在代码里进入了 import ppdet ，代码可以执行通过，依旧在上一个问题处报错。
![image](https://user-images.githubusercontent.com/86935392/126142287-0f2463bb-d1b1-4216-9aae-05de6745ece3.png)

[2021-07-19 12:32] NikolaTeslein commented on #3537
您好，我想报告一个paddlepaddle的BUG，我已经在gitee上提交了issue，但是没有得到回复：
https://gitee.com/paddlepaddle/Paddle/issues/I41C9H

------------------ 原始邮件 ------------------
发件人: qingqing01 ***@***.***&gt;
发送时间: 2021年7月2日 17:56
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: Teslein ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] export_model.py导出模型报错 (#3537)

Closed #3537.

—
You are

[2021-07-19 13:06] nemonameless commented on #3702
dcn_v2_stages: [-1]或者这一行注释即可

[2021-07-19 13:08] qingqing01 commented on #3700
辛苦提供下PaddleServing， PaddleDetection版本号吧

[2021-07-19 13:16] qingqing01 commented on #3698
@zyl112334

img看起来dtyle是uint8, 需要float32类型。您需要cv2.resize之后，将类型转换为float32。

[2021-07-19 13:20] qingqing01 commented on #3697
You can refer `COCODataSet`,  register your custom dataset:

[code]

Then, config the XXXDataset in the YML config, like:

https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/configs/datasets/coco_detection.yml#L4-L19

[2021-07-19 22:24] mosheliv commented on #3697
Thank you for your prompt reply. This answers only partially my question.
Perhaps I wasn't clear enough.
What I want to do is:

1. In a script, say "moshe.py",define the dataset (you answered this,
thanks)
2. Modify the config
3. Call the trainings.

On Tue, Jul 20, 2021, 01:21 qingqing01 ***@***.***> wrote:

[2021-07-20 00:25] gss-bai commented on #3700
paddledetection0.4   paddleserving0.3  模型是自己训练的

[2021-07-20 02:30] wangxinxin08 commented on #3537
@NikolaTeslein 最好在github上提交issue

[2021-07-20 02:42] Sharpiless opened #3721 "Gt2FairMOTTarget速度问题"
这个类处理样本的时间比训练时间都长，后续会解决这个问题吗

[2021-07-20 03:14] zoain-it opened #3722 "模型结果图片输出处理"
你好，我用 Paddle(1.7.2) 和 PaddleDetection(c7a1252f20f8c3d9979445f91dbe6706953efcee) 训练了人脸检测模型，可以正确识别并输出标记图片。我想仅输出识别到的人脸部分，但是我不知道需要怎么做。

[2021-07-20 03:41] raymondchu-z opened #3723 "模型蒸馏压缩问题"
按照文档进行训练和评估，蒸馏后的模型精度(13%)大幅低于原单独训练的同网络模型(68%)。怀疑是slim_config的问题，但是没有文档说明怎么改。求助

按照文档，训练和评估的命令：使用单独训练过的mAP为68%的模型权重作为预训练权重，训练好的PPYOLOv2_r50vd作为教师模型
[code]
训练过程如下。看loss还挺正常的，因为之前训练PPYOLOv2精度89%，loss也是30+

[07/17 13:00:16] ppdet.engine INFO: Epoch: [4] [16440/16496] learning_rate: 0.000000 loss_xy: 0.640538 loss_wh: 0.422117 loss_iou: 2.862279 loss_obj: 4.935560 loss_cls: 0.790083 loss: 18.715614 dis

[2021-07-20 06:21] nemonameless commented on #3721
后续会优化这个速度

[2021-07-20 06:24] Sharpiless commented on #3721
主要是生成2D高斯分布这一句h = np.exp(-(np.square(x) +np.square(y)) / (2 * np.square(sigma)))开销比较大

[2021-07-20 08:25] wyh669 opened #3724 "使用create_list生成trainval.txt和test.txt文件出错"
aistudio@jupyter-879124-2205815:~/work/PaddleDetection$ python dataset/voc/create_list.py -d ~/fire_dataset

[code]

[2021-07-20 08:35] Wei-JL opened #3725 "联合Hrnet模型推理报错 TopDownEvalAffine没定义 在.py内找不到这个参数"
[code]

[2021-07-20 09:26] xiaohuihui52309 opened #3727 "大规模检测数据集"
请问大规模检测数据集在哪里下载呢  试用了这个模型 效果不太好 想自己训练看看！
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/featured_model/LARGE_SCALE_DET_MODEL.md

[2021-07-20 09:35] Mr-ind1fferent opened #3728 "加载resnet50预训练模型单/多线程报错"
![image](https://user-images.githubusercontent.com/74087260/126299119-0d6fa4d4-365d-48b6-a7e7-1ea9b5184b49.png)

[2021-07-20 10:26] jesse01 opened #3729 "ppdet/data/transform/operators.py程序BUG (Version 2.1.0)"
![image](https://user-images.githubusercontent.com/6436061/126308219-739c80aa-7b43-4af9-a870-96b2d23c9de7.png)
该代码有3个BUG:
1、202行：变量名写错了，与参数名称不一致
2、648行：参数名写错了，mask写成了image
3、1273行：没有import情况下，直接使用logging

[2021-07-20 11:51] wddwzwhhxx commented on #3706
那么如何按照旧版create_list的方法来使用呢，该物件无法找到用户想处理的文件夹路径

[2021-07-20 13:35] nemonameless commented on #3727
融合Open Images V5和Objects365训练集数据的，并不开放。而且数据集太大了训练非常耗时，只下载objects365去训练一般也足够了，http://www.objects365.org/download.html

[2021-07-20 13:47] nemonameless commented on #3725
请拉取最新代码或切换到最新develop分支，现在是运行的 deploy/python/det_keypoint_unite_infer.py，自测没有问题。

[2021-07-20 13:57] nemonameless commented on #3729
谢谢反馈，已提pr修正，已经合入develop分支和release/2.2分支。

[2021-07-20 15:39] #3695 closed, assigned to nobody

[2021-07-21 00:42] yezechen opened #3734 "将自己的数据集转换成VOC格式以后，训练一轮出错"
将自己的数据集转换成VOC格式以后，使用yolov3_darknet53训练了一轮，然后直接python.exe停止运行，没有任何报错。
错误位置定位到

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/trainer.py里288行的for step_id, data in enumerate(self.loader):循环体，到一个epoch结束的时候就会自动停止运行

[2021-07-21 01:52] #3511 closed, assigned to heavengate

[2021-07-21 01:54] #3582 closed, assigned to nobody

[2021-07-21 01:55] #3434 closed, assigned to nobody

[2021-07-21 02:56] wenjie-yuan commented on #162
你好，我也遇到一样的问题，你说的“制作数据集时有bug”具体是什么bug，我的数据是比赛方给的，难道有坏数据吗？

[2021-07-21 03:43] qingqing01 commented on #3728
请具体描述下 什么检测模型、怎么加载R50预训练、有做什么改动。谢谢~

[2021-07-21 06:34] #3729 closed, assigned to nobody

[2021-07-21 06:40] coderShenhy commented on #2956
@a794133319 我也遇见了这个问题，最后怎么解决的呢，是因为配置文件的问题吗？

[2021-07-21 08:31] fsfing opened #3740 "run the python -u tools/train.py -c configs/cascade_rcnn/cascade_rcnn_r50_fpn_1x_coco.yml --eval error"
![75c6af499983fc5d022d375a31eb191](https://user-images.githubusercontent.com/57214227/126457308-2755defd-d40d-4678-a8f9-c710687b2877.png)
![image](https://user-images.githubusercontent.com/57214227/126457464-d776a803-8f1d-4dbc-96f8-0a4c4cdfb1e8.png)

run the python -u tools/train.py -c configs/cascade_rcnn/cascade_rcnn_r50_fpn_1x_coco.yml --eval

give a  error, I need  help

[2021-07-21 08:32] wddwzwhhxx commented on #3520
这个问题后面解决了吗

[2021-07-21 08:37] qingqing01 commented on #3722
您是说只输出检测坐标值，但不可视化到图片上吗？如果是tools/infer.py，最新的代码增加了save_txt的功能:

https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/tools/infer.py#L81

[2021-07-21 08:56] heavengate commented on #3734
yolov3_darknet53我们有提供VOC数据集上的配置的，你可以试下跑标准VOC能不能跑对比一下，如果能跑的话应该是你转的数据集格式有问题，看你报错情况像是转的数据集格式不太对导致dataset没有读到sample

[2021-07-21 09:01] heavengate commented on #3740
你好，你用的PaddleDetection和Paddle都是哪个版本呢

[2021-07-21 09:13] yghstill commented on #3723
@raymondchu-z 蒸馏加剪裁一般加载当前要剪裁的模型的训好的pretrain_weights，你再试下加载ppyolo_r18vd的模型再训下看看。如果只蒸馏，可以加载ppyolov2_r50vd的模型

[2021-07-21 09:22] Sharpiless opened #3741 "关于FairMot回归目标计算似乎有误"
[code]

这里ct是否应该改为：

[code]

[2021-07-21 09:22] fsfing commented on #3740
@heavengate
我的PaddlePaddle 2.1.0

[2021-07-21 09:25] fsfing commented on #3740
@heavengate
我看上面的报错，是Tensor问题，说的是，我本应该是[-1, 4],这个应该是pre_bbox,但是实际得到不是这样

[2021-07-21 09:28] #3741 closed, assigned to nobody

[2021-07-21 09:47] xzkzdx opened #3742 "闪退bug终于找到了，infer.py关于loader()的GeneratorLoader类__next__方法bug"
关于loader()的底层GeneratorLoader类__next__方法导致程序闪退问题：
当最后一个元素获取完毕后再调用self._reader.read_next()，StopIteration异常并不能捕获，反而是直接程序闪退

位置：infer.py
for iter_id, data in enumerate(loader()):

底层位置：paddle\fluid\reader.py

![image](https://user-images.githubusercontent.com/43203333/126469097-4968a9fb-ee91-4b8c-98b4-3a5af97b3a1d.png)

[2021-07-21 09:55] FlyingQianMM commented on #3721
生成2D高斯分布等预处理都在dataloader里面进行计算了，我们使用nvidia profile打印了训练阶段一个batch的运行时长为0.058s左右，其中dataloader的计算约为20ms。复现环境为V100，单卡，bs=6，测试将dataloader的use_shared_memory设置为True（见pr https://github.com/PaddlePaddle/PaddleDetection/pull/3737 ）。

根据我们的测试结果，预处理部分的时间还是很快的，您提到的 “处理样本的时间比训练时间都长 ” 具体是怎么测试得到的呢？

[2021-07-21 09:55] xzkzdx commented on #3684
终于找到异常位置 #3742

[2021-07-21 11:12] yezechen commented on #3734
好的，我试一下，谢谢

[2021-07-22 02:43] smallwhi opened #3743 "关于PP_YOLO_R50vd_slim训练结果预测没有框显示的是原图、模型不收敛问题"
**前言：**
在了解了PPYOLO的各种优化策略后，我用paddlex训练出一个PPYOLO模型，效果还不错，但是遗憾的是不能用paddlex裁剪量化PPYOLO模型，所以我转到PaddleDetection找到了一个基于COCO上benchmark如下：
![image](https://user-images.githubusercontent.com/66171021/126582343-383ff5c3-5616-4af9-800b-22eed6a9f8e4.png)
这个效果正是我理想中的模型，于是我开始着手训练，但是结果并不理想。训练的模型大小model_final.pdopt和model_final.pdparams每个大小都有将近300MB，预测结果没有框，显示的是原图，转化后的模型文件夹里总共也有200MB
**我训练的环境是：**
paddlepaddle-gpu==

[2021-07-22 02:58] heavengate commented on #3742
你好，你用的是哪个版本，是用的静态图模型么，还有Paddle版本和操作系统是啥呢

[2021-07-22 03:24] krisandchris opened #3746 "how can i add a bbox assigner?"

[2021-07-22 03:29] xzkzdx commented on #3742
windows10系统 cpu
Python 3.7.5
PaddleDetection：http://github.com/PaddlePaddle/PaddleDetection/tree/release/0.5
paddlepaddle==2.1.0

使用的物体识别的相关yml
python tools/infer.py -c configs/dcn/yolov3_r50vd_dcn_db_iouloss_obj365_pretrained_coco.yml
都是到GeneratorLoader类__next__方法导致自动退出

[2021-07-22 04:46] xiaoninn commented on #1689
提供一个思路，我在百度paddle上运行的，没有把paddle下载到系统里，也有这个错误，然后发现是模型保存的是用于预测而不是用于部署的。改了就可以生成.nb文件了
model.save('infer/zodiac')#模型用来预测
model_2.save('infer/zodiac', training=False)#模型用来部署

[2021-07-22 05:44] qingqing01 commented on #3724
确保VOC数据格式没问题吧。代码里没有 `img` 变量，建议voc_utils.py:84行debug看下。

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/utils/voc_utils.py#L84

[2021-07-22 06:04] coderShenhy commented on #2956
解决了，voc.yml中的data_fields 不能改

[2021-07-22 06:30] 670133189 opened #3750 "关于优化器配置"
我发现大部分.yml都是默认配置 **Momentum** 优化器，我有2点想请教一下：一是为何不添加 **use_nesterov** ，二是 **Momentum** 比 **Adam** 更适合目标检测么？

[2021-07-22 06:53] heavengate commented on #3742
目前windows上确实有C++端的exception报不到python端的情况，我们还在定位，预计下个发布Paddle版本能带出去

[2021-07-22 06:57] heavengate commented on #3740
PaddleDetection用的哪个版本呢，我本地跑了下没有报这个错

[2021-07-22 06:58] #3677 closed, assigned to heavengate

[2021-07-22 07:01] #3585 closed, assigned to heavengate

[2021-07-22 07:01] #3588 closed, assigned to heavengate

[2021-07-22 07:01] #3589 closed, assigned to heavengate

[2021-07-22 07:04] #3240 closed, assigned to nobody

[2021-07-22 07:16] jerrywgz commented on #3750
目前确实绝大部分优化器都使用momentum，也有个别网络使用adam，例如目标跟踪的fairmot；以及DETR使用了AdamW。我们还没有专门对比过不同优化器的效果

[2021-07-22 07:18] jerrywgz commented on #3746
Could you please specify your question？ Do you want to optimize the bbox assigner module in Faster RCNN?

[2021-07-22 08:43] lyuwenyu commented on #3750
默认优化器配置是参考原文的设置

[2021-07-22 08:43] #3750 closed, assigned to nobody

[2021-07-22 08:50] 827346462 opened #3751 "mask rcnn 如何使用"
我想知道如何使用paddleDetection套件的mask rcnn 。我去查看https://www.paddlepaddle.org.cn/modelbasedetail/maskrcnn的运行文档。1是文档失效2是操作命令明显有错
![image](https://user-images.githubusercontent.com/50097546/126612967-7a2843e5-c4c8-4beb-9e7e-bc08ef61b2e6.png)

[2021-07-22 09:00] 827346462 commented on #3751
![image](https://user-images.githubusercontent.com/50097546/126614206-a923cd86-6172-4d1d-bdb1-1d39388b24e0.png)

[2021-07-22 09:59] ximitiejiang opened #3754 "paddle inference c++ api连续预测报错"
你好，我采用paddle inference的c++ api进行多张图像连续预测时，如果中间有一张喂入的图像没有目标被检测到之后，shared_ptr<paddle_infer::Predictor> predictor就会产生错误，接下来预测任何图片都会在运行到predictor.Run()产生错误，该错误有时能被try-catch捕获有时不能。接着再预测就会报如下cuda访问错误：
[code]

我尝试了predictor的如下指令，没有效果
[code]
请问可能什么原因导致？如何改进？

我的软件版本：
paddle detection2.1训练模型导出部署模型
paddle inference2.1+trt7.0+cuda10.2

[2021-07-22 10:06] ximitiejiang commented on #3754
如果被预测的所有图片都有样本被检测，则不会产生上面的问题。
是不是因为没有检测到所以predictor内部部分驻留变量对后续检测产生了影响，才导致predictor.Run()无法运行？

[2021-07-22 11:18] jerrywgz commented on #3754
可以更新下Paddle版本，连续预测报错的问题在新版本已经解决了

[2021-07-22 11:19] jerrywgz commented on #3751
paddle官网中的教程对应的是静态图版本了，可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED_cn.md 这里的文档

[2021-07-22 11:42] zoain-it commented on #3722
好的，感谢，我自己切也可以

[2021-07-22 11:42] #3722 closed, assigned to nobody

[2021-07-22 12:58] thorory commented on #2924
同问：
我在jetson xavier nx上面使用darknet53模型，量化感知后使用trt_int8帧率比量化感知前使用trt_fp16慢一倍左右，配置使用的是config/slim里面的默认配置

[2021-07-22 13:06] 670133189 opened #3758 "关于默认配置Momentum"
默认配置的 Momentum 是 SGD + Momentum 还是仅仅 Momentum？

[2021-07-23 01:12] Sharpiless commented on #3721
抱歉我这边测试了是我复现有问题，没有对gt_bbox做normalize导致的

[2021-07-23 01:57] jerrywgz commented on #3758
是SGD + Momentum, 等价于torch中的optim.SGD(model.parameters(), lr=0.01, momentum=0.9)

[2021-07-23 02:07] 15162162323 opened #3759 "使用yolov3/_base_/yolov3_reader.yml 设置num worker=3 跑一段时间后报错，如何去分析这个错误呢？"
[07/23 09:38:44] ppdet.engine INFO: Epoch: [3] [ 0/10] learning_rate: 0.000053 loss_xy: 9.220256 loss_wh: 5.332484 loss_obj: 33.812561 loss_cls: 2.637844 loss: 51.312519 eta: 0:52:43 batch_cost: 6.8649 data_cost: 6.2173 ips: 1.1654 images/s
ERROR:root:DataLoader reader thread raised an exception!
Exception in thread Thread-4:
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist

[2021-07-23 02:07] 15162162323 commented on #3759
设置num_worker=1没问题

[2021-07-23 02:07] #3686 closed, assigned to nobody

[2021-07-23 02:08] #3666 closed, assigned to nobody

[2021-07-23 02:10] #3607 closed, assigned to nobody

[2021-07-23 02:11] Weilongxin commented on #1558
怎么解决的，能教一下吗？

[2021-07-23 02:13] #3490 closed, assigned to nobody

[2021-07-23 02:13] #3461 closed, assigned to nobody

[2021-07-23 02:36] 1667 opened #3760 "使用人脸检测模型出错，the module BlazeFace is not registered"
![image](https://user-images.githubusercontent.com/5113570/126731430-10e36e47-80d7-4ce5-8abe-25b4dae5e0ce.png)

[2021-07-23 02:48] 15162162323 commented on #3759
num worker数量和cpu的数量有关系吗？

[2021-07-23 03:04] 1667 commented on #3760
在modeling/architectures/__init__.py文件中添加from . import blazeface 即可

[2021-07-23 03:04] #3760 closed, assigned to nobody

[2021-07-23 04:22] thorory commented on #3475
同问，发生了一样的错误

[2021-07-23 04:33] thorory commented on #3759
同样的问题，现在有解吗？

[2021-07-23 04:54] yghstill commented on #3759
@15162162323 dataloader存在内存泄露的问题，目前已修复https://github.com/PaddlePaddle/Paddle/pull/34140 ，改下paddle安装路径中的fluid/dataloader/dataloader_iter.py文件，删掉以下内容试下：
[code]

[2021-07-23 05:32] 15162162323 commented on #3759
@yghstill 多谢指点~，那num_worker设置多少，怎么估算呢？

[2021-07-23 06:11] ximitiejiang commented on #3754
更新到paddle inference2.1.1搞定，thanks

[2021-07-23 06:11] #3754 closed, assigned to nobody

[2021-07-23 06:47] yghstill commented on #3759
@15162162323 没有一个内存与num_worker的映射关系，看你机器的内存大小，如果很小就设置成1就行

[2021-07-23 07:09] xzkzdx opened #3764 "模型导出与不导出时预测的class_id差1"
不导出模型的时候使用tools/infer.py识别的物体class_id正确，
python tools/export_model.py导出模型后，使用python deploy/python/infer.py --model_dir=模型导出位置发现class_id少1

[2021-07-23 08:10] fsfing commented on #3740
PaddleDetection-Release2.1 @heavengate

[2021-07-23 08:11] xlh9718 commented on #3476
我也遇到这个问题，还没有解决吗？

[2021-07-23 08:15] wexin-c commented on #3476
据说windows系统不兼容的问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年7月23日(星期五) 下午4:11
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 只训练一轮epoch就结束了 (#3476)

我也遇到这个问题，还没有解决吗？

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-23 08:31] yghstill commented on #3764
@xzkzdx 哪个模型？配置文件改过吗？

[2021-07-23 08:36] lao-xu opened #3765 "如何打印precision和recall值？"
加了classwise后可以输出每类的ap值，想输出precision和recall值，在ppdet/metrics/map_utils.py里多处添加print语句，却没有任何输出，难道map_utils.py没有被调用吗

[2021-07-23 08:55] heavengate commented on #3740
看你命令是单卡训练的？配置文件里的learning rate是按照8卡设置的，如果是单卡的话可以把lr除以8试下

[2021-07-23 09:03] liuhuiCNN commented on #3706
你好，我们测试是正常的，请使用ppdet  release2.1 试下。

[2021-07-23 09:04] liuhuiCNN commented on #3707
请问解决了吗？我们测试是正常的，请使用最新的 ppdet release 2.1 试下。

[2021-07-23 09:06] liuhuiCNN commented on #3705
试试设置anchor，请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/tools/anchor_cluster.py

[2021-07-23 09:10] nemonameless commented on #3659
还不支持和paddlelite一起使用

[2021-07-23 09:11] yghstill commented on #3765
@lao-xu classwise后会绘制pr曲线，具体的值可以在这里打印：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/map_utils.py#L250-L251

[2021-07-23 09:13] qingqing01 commented on #3654
@jrrry 您是什么系统，Linux，还是Windows?

[2021-07-23 09:16] jerrywgz commented on #3656
能否提供下lap和numpy的版本呢

[2021-07-23 09:18] jerrywgz commented on #3657
需要在新版本的paddledet上重新导出模型

[2021-07-23 09:18] liuhuiCNN commented on #3581
建议使用PaddleServing的docker：
`nvidia-docker pull registry.baidubce.com/paddlepaddle/serving:0.6.0-cuda10.2-cudnn8-devel`
文档可以参考：https://github.com/PaddlePaddle/Serving/blob/v0.6.0/README.md#installation

[2021-07-23 09:20] yghstill commented on #3743
@smallwhi ppyolo模型在你自己的数据上完整训练过吗？还是说你直接使用slim的config做量化？如果没有完整训练，请把模型训练收敛好，再加载到slim_config中开始量化
1. 看着是没有收敛好
2. num_classes设置真实类别数即可
3. batch_size根据显存大小来设置即可，如果batch_size减半，将lr减半即可

[2021-07-23 09:21] xlh9718 commented on #3476
非常感谢您的回复。
奇怪的是，我在家里的电脑也是 win10 系统，可以正常训练跑完指定的 epoch。
但在公司的电脑上，就是不行。
下载的模型，推理测试都正常的，说明 CUDA 驱动都 OK 的。
训练过程中，PaddleDet&nbsp; 内部记录的有 log 吗，可以帮助诊断这个问题？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"

[2021-07-23 09:21] jerrywgz commented on #3659
可以更新下paddlelite的版本，另外fairmot的后处理需要先自己加下，后面我们会补充lite的打通代码

[2021-07-23 09:22] heavengate commented on #3672
cascade模型比较大，如果采用大的输入尺寸的话对显存要求比较高，看报错是out of memory的话应该是你机器上线显存不够，可以尝试用小一点的batch size或者输入尺寸，或者可以尝试用个小一点的模型

[2021-07-23 09:23] wexin-c commented on #3476
动态图版本好像不行&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月23日(星期五) 下午5:21
***@***.***&gt;;
***@***.******@***.***&g

[2021-07-23 09:26] heavengate commented on #3671
有修改其他的配置么，看你log应该就是训练过程中出nan了，模型训飞了没有收敛，或者可以试下用我们提供的默认配置和coco数据集能否正常训练，如果可以训练的话应该是配置或者数据集的问题，可以排查一下你的数据集里有没有不合法的越界的标注之类的

[2021-07-23 09:27] qingqing01 commented on #3662
@XianrenYty  我们自测develop分支，动态图模型导出没问题。请说明下有什么修改、PaddlePaddle版本号、运行命令吧

[2021-07-23 09:28] lao-xu commented on #3765
需要2.0版本还是develop版本？

[2021-07-23 09:28] #3675 closed, assigned to liuhuiCNN

[2021-07-23 09:28] heavengate commented on #3670
除了数据集有修改其他的配置么，或者你先试下用我们提供的默认配置和coco数据集能否正常训练呢

[2021-07-23 09:29] qingqing01 commented on #3664
目前的676类别是否包含 "车牌、公交站牌、书籍"，您可查看下  https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/dataset/voc/generic_det_label_list_zh.txt  这里

有车辆拍照: https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/static/dataset/voc/generic_det_label_list_zh.txt#L14

书: https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729

[2021-07-23 09:34] heavengate commented on #3670
这个问题在release/2.1最新版本上已经修复，可以pull一下最新的release/2.1分支，`pip uninstall paddledet` 然后`python setup.py install`试下

[2021-07-23 09:35] liuhuiCNN commented on #3700
您好，paddledetection0.4依赖paddle==1.8.5，需要使用paddleserving0.4.0。

[2021-07-23 09:37] yghstill commented on #3765
@lao-xu release/2.1或者develop版本都可以

[2021-07-23 09:41] qingqing01 commented on #3679
@xiaotantongxue123

那您机器显存是多少？ 是哪个模型？

[2021-07-23 09:41] heavengate commented on #3679
cascade系列模型显存需求比较大，训练一般使用12G以上的显存，如果你的卡上显存不够的可以试下显存需求少一些的模型，比如faster rcnn之类的

[2021-07-23 09:42] lao-xu commented on #3765
好，谢谢！再请教下，precision数组的最后一个值就是整体数据的precision吗

[2021-07-23 09:42] bjjwwang commented on #3700
如果有0.4.0 PaddleDetection的本地预测更好，需要提前纪录下 本地预测前处理结束 预测之前的各个feed的shape还有value。
然后serving那一头也需要看看feed的shape还有value。
如果不一致的话要查前处理，一般来说可以直接从Detection搬过去用。

[2021-07-23 09:48] liuhuiCNN commented on #3682
看您使用代码跟deploy/serving/test_client.py不太一样，请参考这里：https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.5/deploy/serving/test_client.py

[2021-07-23 09:48] #3698 closed, assigned to nobody

[2021-07-23 09:50] #3702 closed, assigned to nobody

[2021-07-23 09:51] #3721 closed, assigned to nobody

[2021-07-23 09:58] qingqing01 commented on #3697
You can choose one model config, for example:

`configs/faster_rcnn/faster_rcnn_r50_1x_coco.yml`:

https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/configs/faster_rcnn/faster_rcnn_r50_1x_coco.yml#L1-L8

the dataset config in this faster_rcnn_r50_1x_coco.yml is here:

https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4

[2021-07-23 10:20] mosheliv commented on #3697
Thank you, I know that. in mmdetection I have a training file that looks
like this:

############## CODE START
from mmdet.datasets.builder import DATASETS

from mmdet.datasets.custom import CustomDataset

from mmdet.apis import set_random_seed

import cv2

@DATASETS.register_module()

class XXXDataset(CustomDataset):
.
.
.

from mmcv import Config

# cfg =
Config.fromfile('./configs/fcos/fcos_cent

[2021-07-23 11:06] yz302 commented on #3670
还有个问题， paddledet==2.1.0似乎并不对应PaddleDetection：release/2.1版本，聚类时会出现
`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject`错误，换成 paddledet==2.0.1则不会出现该问题，请问paddledet==2.1.0更新后对应的PaddleDetection版本是什么？

[2021-07-23 11:09] xzkzdx commented on #3764
cascade_rcnn_cls_aware_r200_vd_fpn_dcnv2_nonlocal_softnms.yml
architecture: CascadeRCNNClsAware
max_iters: 100000
snapshot_iter: 100000
use_gpu: true
log_iter: 100
save_dir: output
pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/ResNet200_vd_pretrained.tar
weights: output/cascade_rcnn_cls_aware_r200_vd_fpn_dcnv2_nonlocal_softnms/model_final
# obj365 dataset format and its eval

[2021-07-23 11:34] yz302 commented on #3654
@qingqing01在AIstudio环境下跑的。 windows下paddledet==2.1.0似乎并不对应PaddleDetection：release/2.1版本，聚类时会出现
ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject错误，paddledet改为2.0.1则正常了，这是怎么回事

[2021-07-23 13:23] fsfing commented on #3740
我尝试一下

[2021-07-24 00:39] 905390215 opened #3766 "下载的时候出现错误：RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 1"
下载之后，输入命令paddle.utils.run_check()后报错：
      RuntimeError: (PreconditionNotMet) The third-party dynamic library (cudnn64_7.dll) that Paddle depends on is not configured correctly. (error code is 126）
       Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party dynami

[2021-07-24 03:31] Mr-ind1fferent opened #3767 "paddlepaddle2.1对应numpy版本是什么"
如题

[2021-07-24 04:09] Weilongxin opened #3768 "eval评估出错"
W0723 16:30:03.859206  1127 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.0
W0723 16:30:03.864948  1127 device_context.cc:260] device: 0, cuDNN Version: 7.6.
2021-07-23 16:30:12,625-INFO: Test iter 0
2021-07-23 16:30:14,206-INFO: Test finish iter 91
2021-07-23 16:30:14,206-INFO: Total number of images: 91, inference time: 50.77

[2021-07-24 08:17] kelek2 opened #3769 "S2ANet 运行python3 setup.py install时报错ValueError: Not found CUDA runtime, please use `export CUDA_HOME=XXX` to specific it."

[2021-07-24 08:19] kelek2 commented on #3769
正常安装paddle环境，版本2.1.0，能否跑检测demo，现在想跑一下S2ANET，运行安装python3 setup.py install时报错ValueError: Not found CUDA runtime, please use `export CUDA_HOME=XXX` to specific it.求解答如何设置，多谢🙏

[2021-07-24 09:11] yghstill commented on #3764
@xzkzdx 将导出的infer_cfg.yml中label_list中的最后background放在第一位，再试下，这个问题我们跟进排查下。

[2021-07-24 09:25] yghstill commented on #3765
@lao-xu 不是的，没有整体的precision。precision和recall数组是二者对应的阈值下的连续的值，二者是成反比的。

[2021-07-24 10:47] ghost opened #3770 "为什么yolov3静态图的效果比动态图的好？"
为什么yolov3静态图的效果比动态图的好？

[2021-07-24 10:57] 15162162323 opened #3771 "ppyolo模型支持转openvino吗？使用预训练模型导出转换报错"

[2021-07-24 12:15] 15162162323 commented on #3771
➜  src_repo git:(master) python /opt/intel/openvino/deployment_tools/tools/benchmark_tool/benchmark_app.py -m /project/train/models/inference_model/onnx/model.onnx
[Step 1/11] Parsing and validating input arguments
[ WARNING ]  -nstreams default value is determined automatically for a device. Although the automatic selection usually provides a reasonable performance, but it still may be non-optima

[2021-07-24 12:15] 15162162323 commented on #3771
2021-07-24 19:43:39.628335: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
[ ERROR ]  Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.middle.UnsqueezeTileReshapeBlockToInterpolate.UnsqueezeTileReshapeBlockToInterpolate'>): After partial shape inference were found shape collision for node Reshape_

[2021-07-24 13:02] sinoboy168 opened #3772 "如果只做简单的分类，不需要位置标注，应该怎么弄"
各位大佬，是在VOC数据里面标注那个数据留空吗？谢谢

[2021-07-24 13:09] #3664 closed, assigned to nobody

[2021-07-24 13:15] smallwhi commented on #3743
请问在哪里把完整训练的模型加载进去？我之前是直接量化训练的

[2021-07-24 16:48] gathierry opened #3773 "数据下载函数返回值"
这个函数的返回值是不是应该在while外面，不然如果数据已经下载过的话，这里就会返回None

https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/ppdet/utils/download.py#L379

[2021-07-25 04:52] DQAA opened #3774 "为什么rcnn_enhance中fps说有61，而实际在eval时只有19？"
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/rcnn_enhance

[2021-07-25 05:06] liuhuiCNN commented on #3766
根据日志，提示CUDA 库没有找到，请先检查一下CUDA安装是否正常。

[2021-07-25 05:07] liuhuiCNN commented on #3768
你好，请问是用的静态图吗？如果是静态图的话，请使用`static/tools/eval.py`进行评估。

[2021-07-25 05:09] liuhuiCNN commented on #3769
根据错误提示，是没找到CUDA环境，请检查一下CUDA环境安装是否正常。develop分支中ext_op支持CPU和GPU，建议用develop代码。

[2021-07-25 05:14] liuhuiCNN commented on #3771
你好，请问你是怎样导出模型的呢？请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_MODEL.md
和 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_ONNX_MODEL.md 试试。

[2021-07-25 05:15] liuhuiCNN commented on #3772
如果是分类的话，请参考以下分类算法？您可以参考下：https://github.com/PaddlePaddle/Paddleclas

[2021-07-25 05:16] liuhuiCNN commented on #3773
你好，这里会判断路径是否存在，不存在的话才会调用下载数据的逻辑，所以这里没有影响。
https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/ppdet/utils/download.py#L275

[2021-07-25 05:39] heavengate commented on #3770
你好，release/2.1分支上YOLO系列模型训练收敛性有个bug，在develop分支上用已经修复了，你可以试下checkout到develop分支`pip uninstall paddledet`然后`python setup.py install`重新安装一下试下

[2021-07-25 06:19] 15162162323 commented on #3771
@liuhuiCNN @qingqing01

是的，我也是按照文档中的方式进行导出和转换的，前期已经完成了paddledetection的yolov3模型的导出转换（https://github.com/PaddlePaddle/PaddleDetection/issues/3667），踩了两个坑。但是用同样的的方法ppyolo模型不适用。
`➜  src_repo git:(master) ✗ python /opt/intel/openvino/deployment_tools/model_optimizer/mo.py --framework onnx \
--input_model /project/train/models/inference_model/pponnx/model.onnx \
--model_name ppyolo \
--output_dir /projec

[2021-07-25 06:41] sanmulab opened #3775 "有没有加载模型进行测试的API"
请问ppdet有像paddlex那样加载模型进行预测的API吗？例如下面几行代码。因为我用ppdet自带的infer.py脚本文件进行推理整个图片文件夹时，返回的save_txt没有全部保存到一个文件当中，并且返回的txt内容和我的需求不符合。所以我想自己写一个脚本，对得到的预测结果进行后续单独处理。
import paddlex as pdx
model = pdx.load_model('output/faster_rcnn_r101vd_fpn/best_model')
image_name = 'test_images/test1.jpg'
result = model.predict(image_name)
print("Predict Result: ", result)

[2021-07-25 09:15] kelek2 commented on #3769
多谢，重新设置了CUDA环境，OK跑通～但是测试DOTA图像时候出现下面问题
line 124, in draw_bbox
    text = "{} {:.2f}".format(catid2name[catid], score)
KeyError: 12

[2021-07-25 13:54] Weilongxin commented on #3768
对的，我试试，谢谢啦

[2021-07-25 13:59] Weilongxin commented on #3768
我用的就是static/tools/eval.py这个，就是有这个问题。

[2021-07-25 14:06] huilin16 opened #3776 "PaddleDetection与paddlepaddle-gpu使用问题"
您好
我在华为云服务器上使用PaddleDetection2.1时，安装paddlepaddle-gpu2.0.0时报错paddle.fluid.dataloader.collate不存在，安装paddlepaddle-gpu2.1.0时报错OSError: (External)  Cudnn error, CUDNN_STATUS_BAD_PARAM，请问应该如何解决

[2021-07-25 14:07] huilin16 commented on #3776
![paddle200安装](https://user-images.githubusercontent.com/36887207/126902043-5fc07c0f-654f-4f61-a362-4c36c68c42da.png)
![报错pd200](https://user-images.githubusercontent.com/36887207/126902046-fcf311f5-2413-4b61-a8d2-e0a22f803c00.png)
![paddle210安装](https://user-images.githubusercontent.com/36887207/126902052-de1ffaf1-47fb-470d-b9c3-2f2e9e2d049d.png)
![报错pd210](https://user-images.githubusercontent.c

[2021-07-25 14:51] liuhuiCNN commented on #3767
ppdet 2.1需要安装paddle>= 2.1.0，可以参考padd了对numpy版本要求：
https://github.com/PaddlePaddle/Paddle/blob/5e3ae97b62a971399638f61857bd32590bd802c6/python/requirements.txt#L3
ppdet目前对numpy无特别版本要求。

[2021-07-25 14:56] liuhuiCNN commented on #3769
你好，这是数据路径设置错误导致无法读取标签列表，请检查一下数据配置路径。请使用develop分支或者release2.2分支代码

[2021-07-25 14:57] #3769 closed, assigned to nobody

[2021-07-25 15:16] liuhuiCNN commented on #3768
模型和配置文件都是静态图的吗？
我在static文件夹下：
`python tools/eval.py -c configs/ppyolo/ppyolo_2x.yml -o weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams` 测试是正常的。

[2021-07-25 15:33] krisandchris commented on #3746
I want to use atss in paddle (https://github.com/sfzhang15/ATSS)

[2021-07-25 15:33] Weilongxin commented on #3768
都是静态的，就是这个键错误是为什么呢？

[2021-07-25 15:34] Weilongxin commented on #3768
!python -u /home/aistudio/work/PaddleDetection/static/tools/eval.py \
        -c /home/aistudio/work/PaddleDetection/static/configs/yolov3_mobilenet_v1_2.yml \
        -o weights=/home/aistudio/output/yolov3_mobilenet_v1_2/model_final

[2021-07-26 02:14] aishangmaxiaoming opened #3780 "同样的coco格式数据集，在mask rcnn上可以达到53%的ap,solov2是9%，相差巨大，想问下是不是2.0的版本solov2还有不完善的地方呢"
so lo
<img width="766" alt="image" src="https://user-images.githubusercontent.com/67897601/126923934-5fec5a57-888e-4596-8546-483b9c745a60.png">
mask
<img width="788" alt="image" src="https://user-images.githubusercontent.com/67897601/126923994-550a233d-20fe-4502-92ce-51ecd65d0b03.png">

[2021-07-26 02:24] ghost opened #3781 "paddledetection如何checkout到develop"
各位前辈们好，我试了checkout但是都失败了
<img width="652" alt="截屏2021-07-26 上午11 25 51" src="https://user-images.githubusercontent.com/87430649/126929096-796d7915-79df-4956-989d-c5a39a10c8fc.png">

[2021-07-26 02:26] yghstill commented on #3743
@smallwhi 先非量化训练好模型后，再进行量化训练

[2021-07-26 02:32] sinoboy168 commented on #3772
我去看过PaddleClas，那边说类别较少，建议用PaddleDetection啊

[2021-07-26 02:37] wangxinxin08 commented on #3774
你好，我们测试fps是使用deploy/python/infer.py下面的代码进行测试的，你可以参考这个链接：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy, 将模型导出后进行测试

[2021-07-26 02:41] wangxinxin08 commented on #3776
目前PaddleDetection已经发布了release/2.1版本，PaddlePaddle也已经更新到了2.1.1，建议安装这两个版本

[2021-07-26 02:56] huilin16 commented on #3776
您好，我使用PaddleDetection  release/2.1版本，PaddlePaddle  2.1.1版本，仍然报OSError: (External) Cudnn error, CUDNN_STATUS_BAD_PARAM，应该如何处理呢

![pd211报错](https://user-images.githubusercontent.com/36887207/126926919-fa975473-2ce2-48e3-9a5c-849e9d975dc4.png)

[2021-07-26 03:00] wangxinxin08 commented on #3776
你的系统环境，cuda版本和cudnn版本是什么？

[2021-07-26 03:02] smallwhi commented on #3743
嗯，我现在非量化训练了一个ppyolo模型（用paddlex训练好了一个ppyolo模型），接着想做量化训练，但是不知道在哪配置把训练好的模型文件加载进去训练。
所以想问下该怎么加载，现在已经将模型加载进去了，是将pretrain_weights改成模型的.pdparam文件路径就可以了。
非常感谢！

[2021-07-26 03:04] gathierry commented on #3773
了解了，谢谢回复。
因为我在本地下载了压缩包，但还没有解压，又不想等待下载，就直接把压缩包复制到`.cache/paddle`相应的目录下了，而`fullpath`是解压后的路径，所以我就遇到了这个报错。
确实是我的操作不太常规

[2021-07-26 03:04] #3773 closed, assigned to nobody

[2021-07-26 03:04] wangxinxin08 commented on #3775
参考https://github.com/PaddlePaddle/PaddleDetection/blob/d7383ad99c69e03f984ead52cc645d17f4729837/ppdet/model_zoo/tests/test_get_model.py#L32, 可以直接获取model，图片需要经过预处理保存在inputs这个字典里面(一般包含image, im_shape, scale_factor三个字段)，然后就可以使用model.get_pred进行预测了

[2021-07-26 03:11] huilin16 commented on #3776
cuda版本应该是10.0.130， cudnn版本应该是7.4

![image](https://user-images.githubusercontent.com/36887207/126927908-49a3d1ad-cbab-4be8-bfd1-16f1e969e757.png)
![image](https://user-images.githubusercontent.com/36887207/126927975-93bb43b0-b580-4b58-b80f-0b7fbb2766d3.png)

[2021-07-26 03:12] #3533 closed, assigned to wangxinxin08

[2021-07-26 03:13] #3727 closed, assigned to nobody

[2021-07-26 03:14] #3649 closed, assigned to nobody

[2021-07-26 03:16] #3615 closed, assigned to heavengate

[2021-07-26 03:16] #3508 closed, assigned to nobody

[2021-07-26 03:17] #3555 closed, assigned to nobody

[2021-07-26 03:17] #3534 closed, assigned to yghstill

[2021-07-26 03:18] #2683 closed, assigned to nobody

[2021-07-26 03:18] #3424 closed, assigned to jerrywgz

[2021-07-26 03:19] #3386 closed, assigned to nobody

[2021-07-26 03:19] wangxinxin08 commented on #3776
建议升级cudnn版本到7.6

[2021-07-26 03:21] huilin16 commented on #3776
您好，我这边使用的是云服务器，不太好升级cudnn，请问现有cuda及cudnn版本下，应该使用哪个paddle、paddledetection版本呢

[2021-07-26 03:24] lyuwenyu commented on #3780
看截图 一个是mask ap, 一个是bbox ap ？

[2021-07-26 03:27] lyuwenyu commented on #3776
![image](https://user-images.githubusercontent.com/17582080/126929093-76b7a7a5-d6ff-4554-8a15-e3ce3d8c0351.png)

可以试一下这两个版本的paddle，在官网选一下cuda版本 ，  安装之后 `paddle.utils.run_check()` 试一下
paddle能正确安装2.1的话  paddledetection建议使用develop

[2021-07-26 03:33] lyuwenyu commented on #3781
- 图里什么版本的Python,  另外建议直接使用 不要pip安装
---
- 如果是从官网直接clone的  `git fetch; git checkout -b xxx develop`
- 如果是从fork的repo clone的  `git remote add upstream https://github.com/PaddlePaddle/PaddleDetection.git; git fetch upstream; git checkout -b xxx upstream/develop`

[2021-07-26 03:39] huilin16 commented on #3776
好的，谢谢您，我试一下

[2021-07-26 03:44] Sharpiless opened #3783 "Cascade RCNN出现nan问题"
debug之后发现是这里：

[code]

没有考虑h=0，导致后处理出现÷0

[2021-07-26 03:46] wangxinxin08 commented on #3653
你好，我看你把EvalDataset的image_dir改成了train2017，这样会导致无法加载图片

[2021-07-26 05:46] lpj0711 opened #3784 "solov2训练问题"
[07/26 11:35:52] ppdet.engine INFO: Epoch: [0] [0/3] learning_rate: 0.000000 loss_ins: 2.967660 loss_cate: 1.131157 loss: 4.098817 eta: 0:00:43 batch_cost: 1.2100 data_cost: 0.0002 ips: 0.8265 images/s
[07/26 11:35:55] ppdet.utils.checkpoint INFO: Save checkpoint: output/solov2_r50_fpn_1x_my
[07/26 11:35:55] ppdet.engine INFO: Epoch: [1] [0/3] learning_rate: 0.000030 loss_ins: 2.933610 loss_cate:

[2021-07-26 05:47] lpj0711 commented on #3784
请问日志为什么一直是【0/3】，而且一个Epoch就一个模型，训练12个Epoch就12个模型

[2021-07-26 05:48] lpj0711 commented on #3784
yml配置信息：

num_classes: 3

TrainDataset:
  !COCODataSet
    image_dir: images
    anno_path: json/test.json
    dataset_dir: dataset/solov2_data/
    data_fields: ['image', 'gt_bbox', 'gt_class', 'gt_poly', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: images
    anno_path: json/val.json
    dataset_dir: dataset/solov2_data/

TestDataset:
  !ImageFolder
    anno_path: json/val.json

[2021-07-26 05:53] chenxuezhao commented on #3653
@wangxinxin08 你好，谢谢回复。我现在的问题是训练的时候即使不加 --eval，训练130-140个Epoch的时候，也会异常退出。错误信息请看之前的截图：
![image](https://user-images.githubusercontent.com/42796059/126939554-a4993a9b-96a9-40d3-83d6-da851beeb692.png)

[2021-07-26 06:00] lyuwenyu commented on #3783
多谢

你有兴趣在这块提个PR嘛 -.-

确实这块有bug 意思是改成下边这样吧
[code]

[2021-07-26 06:01] wangxinxin08 commented on #3653
那这个问题和加不加--eval应该是无关的，你使用的环境是什么？操作系统，PaddlePaddle和PaddleDetection版本等？

[2021-07-26 06:06] chenxuezhao commented on #3653
@wangxinxin Ubuntu 18.04.5 LTS / PaddlePaddle2.1.1 / PaddleDetection release 2.1

[2021-07-26 06:07] panlc2004 opened #3785 "使用PaddleLite搭建android示例时出错"
PaddleLite: v2.9
PaddlePaddle-gpu: 2.1.1
PaddleDetection: develop

**我使用PaddleLite加载自己训练好的模型（模型使用paddleDetection提供脚本训练），但运行时报，错如下：**
`
I/Paddle-Lite: [I 7/26 13: 8:14.737 ...ddle-Lite/lite/kernels/arm/conv_direct.h:207 PrepareForRun] param.filter:
A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 23320 (idu.paddle.lite), pid 23320 (idu.paddle.lite)
`
**请问是不是我的模型参数输入有问题

[2021-07-26 06:08] wangxinxin08 commented on #3653
看起来是dataloader的问题，你可以尝试从断点处resume，这个问题会在之后的PaddlePaddle版本中修复

[2021-07-26 06:09] lyuwenyu commented on #3784
log打印是按照log_iter间隔打印的
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/runtime.yml#L2

model是按照snapshot_epoch间隔保存的
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/runtime.yml#L4

[2021-07-26 06:11] Sharpiless commented on #3783
好的，稍等会提PR

[2021-07-26 06:20] jerrywgz commented on #3694
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/voc.py#L71 可以打印看下这里的label_list和label_path

[2021-07-26 06:20] lpj0711 commented on #3784
多谢大佬，可以训练了

[2021-07-26 06:21] huilin16 commented on #3776
谢谢您，使用paddle2.1、paddledetection2.1.1是可以运行的，再次感谢

[2021-07-26 06:30] lyuwenyu commented on #3783
嗯好,  提完之后 @我  给你review

[2021-07-26 06:35] lyuwenyu commented on #3776
👍
np~ , enjoy it~

[2021-07-26 06:42] huilin16 commented on #3776
我还想请教下这个警告是什么问题，我在aistudio里没有遇到过，但在现在的云服务器上出现了

WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data). For example, in following code:

import numpy as np
from paddle.io import DataLoader, Datas

[2021-07-26 06:58] lyuwenyu commented on #3776
这个是paddle版本问题 最新的paddle版本已经修复了，但是这些warning不影响使用 只是log看着比较多 -.-

[2021-07-26 07:04] huilin16 commented on #3776
嗯嗯好的，谢谢您了

[2021-07-26 07:04] 77h2l commented on #2270
请问paddle对yolov5的支持做的怎么样了？

[2021-07-26 07:06] Sharpiless commented on #2270
可以参考这个repo：https://github.com/Sharpiless/PaddleDetection-Yolov5

[2021-07-26 07:32] sinoboy168 opened #3789 "关于精度"
我看介绍文件上说精度有50%，是不是有点低啊？

[2021-07-26 07:37] sanmulab commented on #3775
你好，感谢回复！看了test_get_model.py文件后还是不知道怎么重写，能提供一份案例py脚本吗？只需加载训练好的模型，然后输入单张图片路径，最后打印出预测结果的文本信息的功能。例如下列代码
from mmdet.apis import init_detector, inference_detector
import mmcv

# Specify the path to model config and checkpoint file
config_file = 'configs/faster_rcnn/faster_rcnn_r101_fpn_2x_coco.py'
checkpoint_file = 'outfaster/latest.pth'

# build the model from a config file and a checkpoint file
model

[2021-07-26 07:47] lyuwenyu commented on #3789
那个模型 能不能放个链接？

[2021-07-26 07:56] panlc2004 commented on #3785
Tensor scaleFactor = predictor.getInput(2);
scaleFactor.resize(new long[]{1, 2});
imageShape.setData(new float[]{1f, 1f});

上面应该是 scaleFactor .setData(new float[]{1f, 1f});这里出错了，对不起了，我关闭问题。

[2021-07-26 07:56] #3785 closed, assigned to liuhuiCNN

[2021-07-26 08:35] smallwhi commented on #3743
训练了四个小时，发现loss在20几下不去了应该是没有配置成功，把训练停了。用生成的15.pdparam,15.pdpot进行测试，仍然没有框，请问我将pretrain_weights改成非量化训练好的模型的.pdparam文件路径是正确的方法吗？
还是说paddlex下训练的模型无法拿到paddlepaddle下进行训练？paddlex训练的生成模型文件结构如下：
![image](https://user-images.githubusercontent.com/66171021/126958864-5945bee6-b40a-4732-8c8c-e694c8e698c7.png)
这和paddlepaddle训练只有生成model.pdparam和model.pdopt有所不同
 @yghstill

[2021-07-26 08:36] Gaojun211 opened #3790 "无标签学习batch_size问题"
在configs/datasets下设置了 allow_empty: True 进行faster_rcnn模型的无标签学习，batch_size只能设为1，尝试大的batch_size提示显存不够，但是设为1时，
![image](https://user-images.githubusercontent.com/44492927/126959157-69604a0a-e17a-489d-810c-381b5aa6a7cf.png)
显存非常充足，请问这是哪里的问题？

[2021-07-26 08:41] lyuwenyu commented on #3790
输入size设置了多大， 多卡训练嘛 你得看占用显存最多的卡啊 都已经100%了

[2021-07-26 08:59] Gaojun211 commented on #3790
是多卡训练，但是我用的是0,1,6,7,8,9这六张卡。输入size在哪设置？

[2021-07-26 09:41] lyuwenyu commented on #3790
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/faster_rcnn/_base_/faster_reader.yml#L5

看你GPU显存占用非常不均衡  把你程序停了 看看GPU占用情况 如果没释放的话就先完全释放掉<用 kill -9>

[2021-07-26 11:23] xzkzdx commented on #3764
怎样配置多卡预测，文档里找不到

[2021-07-26 12:03] jiangjiajun commented on #3771
PPYOLO由于模型中存在DCN，这个OP比较复杂，转成ONNX后，涉及到多个OP组合实现，当前确实会从onnx转openvino出现问题。

-------------------------------------------------------------------

当前我们正计划OpenVINO原生支持Paddle模型，包括PPYOLO模型

[2021-07-26 14:31] 15162162323 commented on #3771
tks！我们项目上正在尝试paddle的模型转openvino，对于yolov3版本已经验证完成，当前在尝试ppyolo的转换

[2021-07-27 00:23] Gaojun211 commented on #3790
1、我用的是服务器上的显卡，也有其他人在用，但是在训练前，我用killall -u xx杀掉所有进程，也根据显卡使用情况载入合适的显卡，如上图使用0,1,6,7,8,9卡， export CUDA_VISIBLE_DEVICES=0,1,6,7,8,9。训练指令：python -m paddle.distributed.launch  --gpus 0,1,6,7,8,9  tools/train.py -c configs/faster_rcnn/faster_rcnn_r50_vd_fpn_ssld_2x_coco.yml --use_vdl=True  --vdl_log_dir=vdl_dir/scalar_fasterrcnn_1560/
2、输入size使用的是默认大小，没有修改。但是我训练集中的图像大小不一，大的有（2448，,364）小的有（307,440），是不是需要根据

[2021-07-27 01:12] #3667 closed, assigned to nobody

[2021-07-27 01:13] #3759 closed, assigned to nobody

[2021-07-27 01:32] Gaojun211 commented on #3790
我尝试batch_size=2时，两张显卡。报错
[code]
workerlog.0的报错：
[code]

[2021-07-27 01:46] ResonLee opened #3791 "训练可视化问题，服务器端训练模型，本地可视化训练指标变化，无法加载出变化趋势图"
训练的服务器系统：ubuntu
cuda:10.1
paddledetection：2.1
paddle：2.1
本地笔记本：windows
cuda:10.1
paddledetection:2.1
paddle:2.1

在ubuntu下训练得到的模型和训练日志文件，训练完成后将保存的权重文件和训练日志文件下载到本地Windows电脑上，使用可视化命令显示训练日志文件，想看下模型ap值及loss的变化趋势，运行命令后vdl可视化网页一直处于正在加载数据，但是总是加载不出来（网络没问题），记事本的方式打开log文件，发现里面全是乱码，是不是保存日志文件的时候不是按utf-8的编码来的啊？该怎么处理
![image](https://user-images.githubusercontent.com/54474938/127081376-caa0ff85-0d68-4600-97a1-dd

[2021-07-27 03:15] lyuwenyu commented on #3790
单卡然后bs=一张图会出错嘛

PadBatch: {pad_to_stride: -1}  改成 PadBatch: {pad_to_stride: 32} 试一下

[2021-07-27 03:34] Sharpiless opened #3792 "关于Cascade RCNN后处理的问题"
代码位置：ppdet/modeling/layers.py line 380

[code]
这一步是将box复制扩充到每个classes对吗

但是后续nms这相同的class num个box的iou为1.0，所以nms之后仍最多只剩下一个，为什么不直接对scores取argmax呢

[2021-07-27 03:37] 77h2l commented on #2270
推理部分的算子也支持了么，paddle引擎内部

[2021-07-27 03:38] Sharpiless commented on #3792
MultiClassNMS，明白了，打扰了

[2021-07-27 03:38] #3792 closed, assigned to nobody

[2021-07-27 05:38] Gaojun211 commented on #3790
只要把bs设为1，无论是单卡，多卡都能正常训练。设为2，单卡和多卡都会有一张显卡报错，
PadBatch: {pad_to_stride: 32} 改成32 还是-1 都是报 Operands could not be broadcast together with式的错误。
[code]
难道是因为我训练集中有的图像尺寸是奇数吗？有部分图像尺寸大小是（307，440）、（674,1023）的

[2021-07-27 07:32] Gaojun211 commented on #3790
我把训练集中尺寸width or height为奇数的图像都删掉后，还是报这样的维度不匹配的问题。
![image](https://user-images.githubusercontent.com/44492927/127114199-271722b0-dd29-4136-b32d-295fd41ae182.png)

[2021-07-27 08:08] #3783 closed, assigned to nobody

[2021-07-27 08:09] #3784 closed, assigned to nobody

[2021-07-27 08:18] #3725 closed, assigned to nobody

[2021-07-27 08:20] #3679 closed, assigned to heavengate

[2021-07-27 08:35] YixinKristy commented on #3791
1. 首先，【显示数据加载中】可能是您的浏览器版本问题，您可以使用chrome浏览器试试~
2. VDL保存的日志是以二进制格式保存，如需读取，可用【logreader】接口
![image](https://user-images.githubusercontent.com/48054808/127123097-64b584f7-248c-482f-b15d-0d8b8cb66d23.png)

具体使用方式请参考：https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/io/LogReader.md

VDL与框架、操作系统不绑定，您可以灵活使用~

[2021-07-27 08:52] ghost opened #3794 "在运行ppyolov2_r50vd_dcn_365e_coco.yml时，验证环节报错"
In Paddle <= 2.0, data is in format '[Tensor(shape=(1, 2, 3), dtype=float32)]', and in Paddle >= 2.1, data is in format 'Tensor(shape=(1, 2, 3), dtype=float32)'

ERROR:root:DataLoader reader thread raised an exception!
Traceback (most recent call last):
  File "tools/train.py", line 139, in <module>
    main()
  File "tools/train.py", line 135, in main
    Exception in thread Thread-11:
Traceback

[2021-07-27 08:53] ResonLee commented on #3791
使用的浏览器版本就是chrome浏览器，使用vdl后端loadReader可以将训练的日志文件可视化图形嘛？

[2021-07-27 08:57] ResonLee commented on #3791
使用的浏览器版本就是chrome浏览器，使用vdl后端loadReader可以将训练的日志文件可视化图形嘛？

[2021-07-27 09:02] sinoboy168 commented on #3789
就在PaddleDetection的首页里面就有啊：
PP-YOLO在COCO数据集精度45.9%，Tesla V100预测速度72.9FPS，精度速度均优于YOLOv4
PP-YOLO v2是对PP-YOLO模型的进一步优化，在COCO数据集精度49.5%，Tesla V100预测速度68.9FPS

[2021-07-27 09:59] ximitiejiang opened #3795 "cpp部署代码在windows端进行连续预测产生内存泄漏"
现象：
采用deploy cpp代码修改后部署到windows端基于GPU进行连续图像检测，运行过程中内存占用率逐渐增加，比如初始8G，预测500张图像之后内存会达到12G左右。

软件版本：
- paddle inference2.1.1+cuda10.2+cudnn7.6

参考了https://github.com/PaddlePaddle/PaddleDetection/issues/2417 尝试了如下两个修改
1. 在预测完成后增加清除中间tensor的指令
[code]
对内存泄漏没有效果

2. 不采用原始predictor而是拷贝之后再使用
[code]
对内存泄漏没有效果

还请指教，有什么可改进的地方？

[2021-07-27 09:59] YixinKristy commented on #3791
使用的vdl版本是？使用logreader只能看具体的数值数据，如果写入的数据无问题，是可以正常画出来的哈~

[2021-07-27 11:26] ghost opened #3796 "验证集的batchsize设大一点有影响嘛"
我看到很多网络训练的batchsize会设的比较大，但是验证集的batchsize始终为8，请问验证集的batchsize设大一点有影响嘛

[2021-07-27 12:34] ResonLee commented on #3791
2.2.0版本

[2021-07-27 13:26] nemonameless commented on #3796
对训练和eval的结果都没有影响。验证集的batchsize设大一点，eval的过程就会更快。但偶尔有某个网络可能还不支持bs>1的eval。

[2021-07-28 02:05] sinoboy168 opened #3797 "PaddleDetection的精度只有50%左右，在工业上可以落地吗？"
就在PaddleDetection的首页里面描述：
PP-YOLO在COCO数据集精度45.9%，Tesla V100预测速度72.9FPS，精度速度均优于YOLOv4
PP-YOLO v2是对PP-YOLO模型的进一步优化，在COCO数据集精度49.5%，Tesla V100预测速度68.9FPS

[2021-07-28 02:28] nemonameless commented on #3794
coco.yml改为voc.yml里种类数改了吗，modelzoo里训好的模型head上的参数是coco类别数的，不能这样eval，但是infer 任意图片是可以的。

[2021-07-28 02:29] nemonameless commented on #3797
可以落地。COCO数据集精度50%左右已经不低了吧

[2021-07-28 02:38] xzkzdx opened #3798 "怎样配置多卡预测，文档里都是指定一个GPU"
怎样配置多卡预测，文档里都是指定一个GPU

[2021-07-28 02:46] yghstill commented on #3795
@ximitiejiang 你的cudnn版本是多少？cudnn8.0.4 \ 8.0.5有内存泄漏的问题, cudnn7.6和cudnn8.1没问题.

[2021-07-28 03:21] yghstill commented on #3780
@aishangmaxiaoming 经沟通，切换release/2.2版本后SOLOv2模型收敛的问题已解决。

[2021-07-28 03:21] #3780 closed, assigned to yghstill

[2021-07-28 03:25] yghstill commented on #3798
@xzkzdx deploy下的预测部署，一个predictor只能在单卡上，可以多个predictor在多卡上跑，需修改下代码:https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/python/infer.py#L337。

[2021-07-28 03:51] ximitiejiang commented on #3795
更新：如果设置为cpu模式，由于预测速度下来了，在连续测试时内存上涨的速度慢下来了，但持续测试200张图后内存还是从8.2G涨到10个G...也说明内存泄漏应该跟当前我用的cuda10.2+cudnn7.6无关

[2021-07-28 04:42] sinoboy168 commented on #3797
这和数据集有关系吗？一般的理解，哪怕只是要达到辅助人工的左右，应该也要80%精度吧？

[2021-07-28 05:47] nemonameless commented on #3797
所谓的精度是指mAP(IoU=0.5:0.95): mean Average Precision，即各类别AP的平均值。而AP50为mAP(IoU=0.5)。
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/ppyolo/README_cn.md 建议再看下文档的表格以及表格下面的注解。

[2021-07-28 05:50] 1731368213 opened #3800 "PaddleDetection导出模型进行预测时，导出结果可否返回txt或者json文件啊而不是直接生成图片"
PaddleDetection导出模型进行预测时，导出结果可否返回txt或者json文件啊而不是直接生成图片

[2021-07-28 06:39] nemonameless commented on #3795
谢谢反馈，我们会尽快解决

[2021-07-28 07:40] seekFire commented on #3533
@wangxinxin08
您好, 添加iou aware head之后, 输出的每个分支的通道数是**anchor_num** * **(classes + 6)** 吗? 也就是 classes + (x, y, w, h, obj, iou) ?

[2021-07-28 07:47] ximitiejiang commented on #3795
更新：经过定位，基本确定是在predict()函数内，不跑这个函数，整个程序内存泄漏就没有了
[code]
尝试换了cuda10.1+cudnn7.6, cuda10.2+cudnn7.6, cuda11+cudnn8.0组合，都没有效果。

[2021-07-28 08:00] ghost commented on #3794
好像可以吧，已经运行成功了

[2021-07-28 08:02] wangxinxin08 commented on #3533
@seekFire 是的

[2021-07-28 08:21] LeonNerd opened #3802 "solov2 训练 coco数据集 FatalError: `Segmentation fault` is detected by the operating system."
## 描述问题/Describe the bug
使用solov2训练coco数据集时出现下面的报错
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by

[2021-07-28 08:28] firedent opened #3804 "测试paddle serving所使用的test_client.py是否应该对图像进行标准化"
https://github.com/PaddlePaddle/PaddleDetection/blob/f53e8f7f48d5f952d487da8ea75f6793086156da/deploy/serving/test_client.py#L20-L24
PaddleDetection大多数模型在训练时都对数据进行了归一化操作，在预测时也应该对传入的数据进行归一化。

[2021-07-28 08:32] seekFire commented on #3533
@wangxinxin08  谢谢您啦!

[2021-07-28 08:33] seekFire commented on #3533
@wangxinxin08 谢谢您啦!

[2021-07-28 09:15] yghstill commented on #3800
@1731368213 可以的，输出结果在可视化前输出至txt或json文件中，需要改造下代码，可以参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/json_results.py#L18

[2021-07-28 09:23] yghstill commented on #3802
@LeonNerd 训练其他模型有问题吗？看报错应该和环境有关。

[2021-07-28 09:24] yghstill commented on #3804
@firedent Div(255.0)就是归一化。

[2021-07-28 09:24] watertianyi opened #3806 "AssertionError: the module BlazeFace is not registered"
AssertionError: the module BlazeFace is not registered?
已经按照人脸检测的说明下载了模型，放到对应的目录下，为什么会出现上述情况呢，很着急

[2021-07-28 09:27] yghstill commented on #3795
@ximitiejiang 非常感谢反馈，我们正在定位修复中。cudnn8.0.4， 8.0.5明确有内存泄漏问题，暂时不要使用了。

[2021-07-28 09:34] watertianyi commented on #3760
没有效果，加了

[2021-07-28 09:52] yghstill commented on #3806
@hande6688 更新代码至release/2.1以上，如果本地安装了paddledet，卸载后再进行操作

[2021-07-28 09:53] firedent commented on #3804
@yghstill 应该说是缺少标准化（Standardization）。根据文档[3.1数据增强算子](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/advanced_tutorials/READER.md#31%E6%95%B0%E6%8D%AE%E5%A2%9E%E5%BC%BA%E7%AE%97%E5%AD%90)表格第四项：`NormalizeImage`，PaddleDetection在对数据预处理的时候，先对所有像素值除以255进行feature scaling，之后会对三个通道按照
https://github.com/PaddlePaddle/PaddleDetection/blob/f53e8f7f48d5f952d487da8ea75f6793086156da/configs

[2021-07-28 09:54] watertianyi commented on #3806
我的paddle就是2.1，docker部署的，验证了没有问题，就是人脸检测有问题

[2021-07-28 09:57] 1667 commented on #3760
加上以后再从源码重新安装一下，或者直接到安装目录修改添加

[2021-07-28 09:58] yghstill commented on #3806
@hande6688 运行命令是什么？PaddleDetection的代码是release/2.1分支吗？是否pip install paddledet?

[2021-07-28 09:59] hande6688 commented on #3806
运行命令：python tools/infer.py -c configs/face_detection/blazeface_1000e.yml -o use_gpu=true weights=output/blazeface_1000e.pdparams --infer_img=demo/hrnet_demo.jpg

[2021-07-28 10:01] hande6688 commented on #3806
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script

2.1.1
pip install paddledet==2.1.0 -i https://mirror.baidu.com/pypi/simple

[2021-07-28 10:01] hande6688 commented on #3806
git clone https://github.com/PaddlePaddle/PaddleDetection.git
cd PaddleDetection

[2021-07-28 10:03] liuhuiCNN commented on #3804
这里需要根据算法预处理自定义配置。

[2021-07-28 10:22] firedent commented on #3804
确实
在`PaddleDetection/configs/`里中一共有21个文件夹是实例配置文件，其中17个都用到了标准化，是不是应该把进行标准化作为test_client.py的默认选项？

[2021-07-28 10:56] yghstill commented on #3806
@hande6688 把paddledet卸载了，pip uninstall paddledet
因为BlazeFace的更新没有放入paddledet安装包中，直接源码运行即可

[2021-07-28 11:01] hande6688 commented on #3806
可以给个参考吗，怎么运行BlazeFace

[2021-07-28 11:09] watertianyi commented on #3806
可以运行了，谢谢！

[2021-07-28 11:51] LeonNerd commented on #3802
之前用ppyolov2训练road sign数据集是没有问题的

[2021-07-28 13:50] RenyanDiao opened #3807 "faster_rcnn量化推理报错"
paddledetection:release/2.1 paddlepaddle:2.1.0 paddleslim:2.1
根据教程https://github.com/PaddlePaddle/PaddleDetection/tree/99c7e3a75a955b4a4cb038679c8f88e170bb3b44/configs/slim
对frcnn_fpn量化：
![image](https://user-images.githubusercontent.com/52916011/127333580-0656b2e0-35c7-4a1e-a831-6f87c4fa471d.png)
用tools/infer使用原始组网可以预测得到结果，但用deploy使用export的静态图模型报错：
![image](https://user-images.githubusercontent.c

[2021-07-28 22:47] songrui2009 opened #3808 "LearningRate直接使用Paddle框架的MultiStepDecay"
在Optimizer.yml配置LearningRate使用Paddle的MultiStepDecay；框架中LearningRate.__call__依赖schedulers[0].use_warmup成员变量；Paddle的MultiStepDecay没有

[2021-07-29 00:07] lihui669 opened #3809 "paddle如何指定GPU进行训练？"
paddle默认GPU的序号为0，我想用GPU 2 来训练
我在train中加入了指令：os.environ["CUDA_VISIBLE_DEVICES"] = '2'，但是训练时依然用的是GPU0,请问在哪里指定GPU训练呢？

[2021-07-29 00:26] liuxi1007 opened #3810 "solov2 实现对单个类别的实例分割，训练过程中map一直为0"
### 数据集
对某单个类别进行实例分割，数据集标签只包含一个类别，一张图像中有多个此类别的物体，要求分割出来。
### 训练
PaddleDetection release/2.2版本，数据集标签只包含一个类别的样本，训练loss下降至0.07，可视化结果中mask-map始终为0.
### 疑问
请问这种现象是怎么回事，如何应对？这种情况下的map如何计算？请问是否这种现象与difficult参数有关，还是其他原因？

[2021-07-29 01:50] LeonNerd commented on #3802
@yghstill  之前用ppyolov2训练road sign数据集是没有问题的

[2021-07-29 02:05] RenyanDiao commented on #3807
转换用paddlepaddle==1.8.4,slim==1.1.1量化出来的faster rcnn可以成功，虽然仍然有Cannot quantize operator elementwise_add (type: elementwise_add, id: 816)这样的log
![image](https://user-images.githubusercontent.com/52916011/127420139-c60b4214-1482-48f8-a3d0-36e568602299.png)
可是转出来的模型在SkyLake Intel(R) Xeon(R) Gold 6148 CPU上推理报错，**operator < elementwise_add > error**
![image](https://user-images.githubusercontent.com/52916

[2021-07-29 02:45] lyuwenyu commented on #3790
你用的ppdet是那个版本 我用develop版本没问题啊

[2021-07-29 02:46] lyuwenyu commented on #3789
这 ，在这个FPS下 已经不低了  可以说是目前最好的模型之一

[2021-07-29 02:49] lidanqing-vv commented on #3807
Hi, I m investigating on this issue, will give some feedback in one or two days.

[2021-07-29 02:58] Weilongxin opened #3811 "eval时候报错"
W0723 16:30:03.859206 1127 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.0
W0723 16:30:03.864948 1127 device_context.cc:260] device: 0, cuDNN Version: 7.6.
2021-07-23 16:30:12,625-INFO: Test iter 0
2021-07-23 16:30:14,206-INFO: Test finish iter 91
2021-07-23 16:30:14,206-INFO: Total number of images: 91, inference time: 50.7731

[2021-07-29 03:00] yghstill commented on #3810
@liuxi1007 PaddleDetection是哪个版本？更新到最新release/2.2或者develop版本后再训练试下，修复了一个num_classes的问题

[2021-07-29 03:02] yghstill commented on #3802
@LeonNerd solov2修复了一个num_classes的问题，PaddleDetection更新到最新release/2.2或者develop版本，Paddle更新到2.1.1再试下还有问题没

[2021-07-29 03:04] Weilongxin commented on #3811
W0729 11:04:00.202333   215 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 70, Driver API Version: 10.1, Runtime API Version: 9.0
W0729 11:04:00.217445   215 device_context.cc:260] device: 0, cuDNN Version: 7.6.
2021-07-29 11:04:07,360-INFO: Test iter 0
2021-07-29 11:04:07,955-INFO: Test finish iter 91
2021-07-29 11:04:07,955-INFO: Total number of images: 91, inference time: 115.4

[2021-07-29 03:15] nemonameless commented on #3809
[code]
指定GPU训练和是什么框架无关的。

[2021-07-29 03:16] liuhuiCNN commented on #3804
感谢建议。本issue问题已解决，先关闭了。

[2021-07-29 03:16] #3804 closed, assigned to liuhuiCNN

[2021-07-29 03:21] yumeng88 opened #3814 "模型预测时报错：TypeError: join() argument must be str or bytes, not 'list'"
(pandle) asus@asus-System-Product-Name:/media/asus/225A6D42D4FA828F/2021Intern/renyumeng/PaddleDetection-release-2.2$ python tools/infer.py -c configs/dota/s2anet_SARplane.yml -o weights=output/s2anet_SARplane/300.pdparams --infer_img=dataset/SARplane/images/4.jpg  --draw_threshold=0.5 --save_txt=True  --output_dir=output
W0729 03:18:37.054687 20598 device_context.cc:404] Please NOTE: device: 0, G

[2021-07-29 03:24] Gaojun211 commented on #3790
我用的ppdet2.1版本，昨天我用develop试了下也是同样的问题：(

![image](https://user-images.githubusercontent.com/44492927/127428675-312b22b1-fae8-4c92-8af8-a5a48312e850.png)

[2021-07-29 03:52] zxsitu opened #3815 "对labelme转成coco数据集有疑惑"
开发者您好，我打算使用labelme去标注2000张图片，标注框的格式为矩形，但是这2000张图片我是设置好标注顺序的，所以不希望转换成coco格式时顺序被shuffle掉。
我打算使用[x2coco.py](https://github.com/PaddlePaddle/PaddleDetection/blob/f53e8f7f48d5f952d487da8ea75f6793086156da/tools/x2coco.py)将标注好的json文件分三次转换，第一次全部转成训练集1600张，第二次是验证集200张，第三次测试集200张。我看您的[教程](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/PrepareDataSet.md#%E7%94%A8%E6%88%B7%E6%

[2021-07-29 05:35] yumeng88 commented on #3814
使用的是最新的2.2版本

[2021-07-29 06:00] sinoboy168 commented on #3789
你好，谢谢你的答复，我还想问下，如果结果只要简单分类，不要标记具体位置，是不是在训练数据，voc标记时， bndbox不进行设置就可以了？多谢！

Wenyu ***@***.***> 于2021年7月29日周四 上午10:46写道：

[2021-07-29 06:20] youngstu opened #3818 "Yolov5 后处理层不支持"
问题描述：
1、pytorch训练模型，导出onnx，再转到paddle，paddle模型没有实现yolov5后处理部分（解码+nms），请问怎么实现呢？

[2021-07-29 06:32] firedent opened #3819 "test_client.py中scale_factor设置为固定数"
根据文档[导出模输入输出说明](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_MODEL.md#1%E5%AF%BC%E5%87%BA%E6%A8%A1%E8%BE%93%E5%85%A5%E8%BE%93%E5%87%BA%E8%AF%B4%E6%98%8E)，`scale_factor`应为输入图像大小与真实图像大小之比，虽然本示例将目标框长宽的转换移到了`RCNNPostprocess`里，但是直接把scale_factor定死很容易让使用者产生误解，而且和参数本意不符。
https://github.com/PaddlePaddle/PaddleDetection/blob/383ffa1491269c7aaa9f2df95029a82c028a7140/deploy/s

[2021-07-29 06:35] liuhuiCNN commented on #3814
请检查一下数据配置中数据路径是否正常。使用新版本代码时，记得uninstall之前通过python setup.py install 的库，请参考：https://stackoverflow.com/questions/1550226/python-setup-py-uninstall

[2021-07-29 07:28] yumeng88 commented on #3814
@liuhuiCNN 你好，检查过后数据路径正常，并且重新pip setup.py install ,使用develop版本进行预测的时候是没有问题的，这里不知道是哪里出了问题

[2021-07-29 07:47] yyyssq opened #3820 "在使用 python ppdet/modeling/tests/test_architectures.py 命令时出现这个问题 if data.dtype == np.object:"
aistudio@jupyter-701037-2225957:~/PaddleDetection-2.0/PaddleDetection-release-2.0$ python ppdet/modeling/tests/test_architectures.py
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior

[2021-07-29 08:07] liuhuiCNN commented on #3819
感谢反馈，这里是参考：https://github.com/PaddlePaddle/Serving/blob/8e88e89be0fc738f40be1f5b4722d09db88fb960/python/examples/detection/yolov3_darknet53_270e_coco/test_client.py#L37 ，后续我们会跟serving同步优化。

[2021-07-29 09:16] ibdong opened #3822 "v"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2021-07-29 09:26] #3822 closed, assigned to nobody

[2021-07-29 11:33] ibdong opened #3825 "v2.1版本运行python ppdet/modeling/tests/test_architectures.py后显示w0279后自动退出"
E:\study\target detection\PaddleDetection-release-2.1>python ppdet/modeling/tests/test_architectures.py
C:\Users\ibdong\AppData\Local\Programs\Python\Python36\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ibdong\AppData\Local\Programs\Python\Python36\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_a

[2021-07-29 11:57] carol510 opened #3826 "paddle2.0 static 量化模型支持 多batch预测吗？该如何测试。"
1、目前只支持batch=1 预测，paddle2.0 static 量化模型支持 多batch预测吗？该如何测试
2、量化模型测试，预处理时间过长
<preprocess.Resize object at 0x7f91c31b2190>
preInference: 0.4837512969970703 ms per batch image
<preprocess.Normalize object at 0x7f91c31b20d0>
preInference: 6.020545959472656 ms per batch image（如何降低时间）
<preprocess.Permute object at 0x7f91c31b2290>
preInference: 0.2448558807373047 ms per batch image
3、预处理时间  0.483751296997

[2021-07-29 12:06] hong19860320 commented on #3826
你推理使用的是executor，还是paddle inference的predictor的啊？能贴下相关代码或者链接吗？

[2021-07-29 12:24] heavengate commented on #3808
PaddleDetection里有队optimizer做一层封装，封装代码在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/optimizer.py
这个文件里面，如果你要用自定义optimizer的话可以在这个下面参考一下加一下封装。
另外，我们封装好的`PiecewiseDecay`是支持multi step decay，也可以用这个

[2021-07-29 12:26] heavengate commented on #3809
`export CUDA_VISIBLE_DEVICES=2`或者`CUDA_VISIBLE_DEVICES=2 python tools/train.py ...`

[2021-07-29 12:27] heavengate commented on #3811
你修改了配置么，看着是读取数据集的时候没有把gt_box带出来，是否修改了数据集相关的配置

[2021-07-29 12:31] yyyssq opened #3827 "tools/x2coco.py voc转coco数据格式，如果xml <obj>标签中检测目标名带空格，会报错，有待解决"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2021-07-29 12:34] heavengate commented on #3815
是想指定coco数据集的类别顺序么？这个确实没有支持，我们排期支持一下~ 目前的话是按图片输入顺序解析类别的，可以先调整一下图片顺序规避一下

[2021-07-29 12:51] heavengate commented on #3818
nms我们有MultiClassNMS，解码部分的话跟这个YOLOv3Head部分应该是基本一致的，如果要用的话可以结合这个组一下
https://github.com/PaddlePaddle/PaddleDetection/blob/f53e8f7f48d5f952d487da8ea75f6793086156da/ppdet/modeling/heads/yolo_head.py#L17
另外PaddleDetection里开源了PP-YOLOv2模型，精度速度也是由于yolov5，也可以试下这个

[2021-07-29 12:53] heavengate commented on #3820
[code]

测试是跑成功了的，上面那个是个warning，不影响模型正常运行。

[2021-07-29 12:55] heavengate commented on #3825
[code]

看报错信息是CUDNN没有正确安装CUDNN版本和CUDA版本不匹配，确认一下你的CUDNN安装情况呢

[2021-07-29 12:57] heavengate commented on #3827
你好，请问一下是什么应用场景需要类别里面带空格呢，我们确认一下支持一下~

[2021-07-29 13:26] ilem777 commented on #3815
@heavengate 嗯嗯，如果您能开发这个功能会更好，锦上添花。

另外咨询一下，我如果分三次运行tools/x2coco.py，其中第一次--train_proportion 1.0；第二次--val_proportion 1.0；第三次--test_proportion 1.0
请问一下可不可以正常的生成：instance_train.json，instance_val.json，instance_test.json文件呢？因为正如我前述的，我三个数据集拆开来放了，所以不清楚这样设置指令能不能正常运行。

[2021-07-29 14:03] ibdong commented on #3825
cuda 和cudnn已经跑过yolov4 的darknet gpu版的程序，没有一点问题，版本也是匹配的，版本号也在上面有写

[2021-07-29 14:27] Weilongxin commented on #3811
是在哪修改配置呢，好像是没修改数据集配置

[2021-07-29 15:42] carol510 commented on #3826
推理部署使用static/deploy/python/infer.py

[2021-07-29 15:44] yyyssq opened #3830 "ppdet.utils.download INFO: Downloading train2017.zip from http://images.cocodataset.org/zips/train2017.zip 0%|自动下载训练集"
我是voc 转的coco数据集 生成了voc_train.json 和 voc_test.json两个文件

数据Tree如下：

dataset
     coco
         annotations
             voc_train.json
             voc_test.json
         JPEGImages
             若干图片.jpeg

faster_fpn_reader.yml文件配置如下：

worker_num: 12
TrainReader:
  dataset:
     !COCODataSet
     image_dir: ./dataset/coco/JPEGImages/
     anno_path: annotations/voc_train.json
     dataset_dir: ./dat

[2021-07-29 15:54] carol510 commented on #3826
时间 在decode和normalize
decodeInference: 2.8066635131835938 ms per batch image

<preprocess.Resize object at 0x7f91c31b2190>

preInference: 0.4837512969970703 ms per batch image
<preprocess.Normalize object at 0x7f91c31b20d0>
preInference: 6.020545959472656 ms per batch image
<preprocess.Permute object at 0x7f91c31b2290>
preInference: 0.2448558807373047 ms per batch image
preInference: 10.70332527160

[2021-07-30 02:23] huilin16 opened #3831 "MultiscaleTestResize报错"
MultiscaleTestResize报错

配置如下：
EvalReader:
  sample_transforms:
  - Decode: {}
  - Resize: {interp: 2, target_size: [1600, 1333], keep_ratio: True}
  - MultiscaleTestResize: {origin_target_size: [1600, 1333], target_size: [[1280, 2666], [1344, 2666], [1408, 2666], [1472, 2666], [1536, 2666], [1600, 2666]]}

报错如下

/home/aistudio/PaddleDetection/ppdet/data/reader.py:80: DeprecationWarning: The 'warn'

[2021-07-30 02:36] yumeng88 commented on #3814
更新新的版本之后问题解决，多谢多谢

[2021-07-30 02:36] #3814 closed, assigned to liuhuiCNN

[2021-07-30 03:09] ximitiejiang commented on #3795
已解决，排除跟cuda/cudnn/paddle有关~
谢谢！

[2021-07-30 03:09] #3795 closed, assigned to ghostxsl

[2021-07-30 03:28] yyyssq commented on #2014
@PavoneB 大佬，自动下载数据集这个问题有解决吗？

[2021-07-30 03:34] yyyssq commented on #942
@Attackzzw 大佬，我也是用的coco数据集，就开始自动下载train2017那个数据集，目测是路径有些问题。可以了解以下您的dataset Tree和yml文件是如何配置的吗

[2021-07-30 03:39] Attackzzw commented on #942
不好意思，时间有点长，我也忘了那个放哪了，不过你可以检查下你的yml配置，我当初好像就是解压路径问题

[2021-07-30 03:49] Sharpiless opened #3833 "自定义OP转inference模型报错"
[code]

似乎是这样写的切片操作不支持？应该如何修改呢

原issue和repo地址：https://github.com/Sharpiless/PaddleDetection-Yolov5/issues/2

[2021-07-30 06:00] kingbirdWc opened #3836 "实例分割怎样准备数据集？"
您好，请问实例分割怎样准备数据集？谢谢

[2021-07-30 06:16] jerrywgz commented on #3836
可以参考coco的数据格式，实例分割的标注以多边形的形式存在gt_poly的字段

[2021-07-30 06:19] jerrywgz commented on #3831
请问使用的是哪个配置文件呢，我排查下

[2021-07-30 06:20] jerrywgz commented on #3830
TrainReader EvalReader的image_dir设置成JPEGImages即可

[2021-07-30 06:21] jerrywgz commented on #3830
在触发自动下载之前会有路径没有找到的日志，可以作为参考

[2021-07-30 06:25] jerrywgz commented on #3833
感谢反馈，对于这种复杂的切片场景的动转静我们现在还在做适配

[2021-07-30 06:34] Gaojun211 commented on #3790
在ppdet/data/source/coco.py 中将allow_empty改成True后能训练大的bs了，只在dataset下的配置文件中添加allow_empty=True不可以。

[2021-07-30 07:16] yyyssq commented on #3827
比如说虫子的英文名金针虫  Golden needle worm

[2021-07-30 07:16] yyyssq commented on #3827
比如说虫子的英文名金针虫 Golden needle worm

[2021-07-30 07:17] huilin16 commented on #3831
configs/cascade_rcnn/_base_/cascade_mask_fpn_reader.yml

[2021-07-30 07:45] yyyssq commented on #3830
在触发前确实有一条警告产生 警告如下
ppdet.utils.download WARNING: Config image_dir dataset/coco/train2017 is not a directory, dataset config is not valid

我在yml中没有关于这样的配置 image_dir 的配置是 这样的
TrainReader:
  dataset:
     !COCODataSet
     dataset_dir: ./dataset/coco/
     image_dir: JPEGImages
     anno_path: annotations/instances_train2017.json

EvalReader:
  dataset:
     !COCODataSet
     dataset_dir: ./dataset/c

[2021-07-30 08:27] yghstill commented on #3743
@smallwhi PaddleX训练的模型已经是导出的模型，无法在PaddleDetection中继续训练了，可以直接在PaddleDetection中进行实验。

[2021-07-30 08:29] liuhuiCNN commented on #3772
类别较少但是**没有标注框**的话，最推荐的还是用分类算法解决。

[2021-07-30 08:30] liuhuiCNN commented on #3768
你好，静态图下和动态图下读取数据字段有区别，请检查一下字段设置是否正确（参考静态图中配置）。

[2021-07-30 08:33] Weilongxin commented on #3768
好的谢谢，静态图的配置在哪个位置呢？

[2021-07-30 08:33] wangxinxin08 commented on #3775
可以直接参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python 用deploy的方式预测单张图片，

[2021-07-30 08:34] YixinKristy commented on #3791
可以将log日志发出来看下么？我们这边帮您看下~

[2021-07-30 08:35] #3794 closed, assigned to nobody

[2021-07-30 08:45] yghstill commented on #3746
@krisandchris atss already supports: https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/transform/atss_assigner.py
and released GFL model: https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/gfl

[2021-07-30 11:01] zzzfo commented on #3694
已经解决了，是我lable没写完

[2021-07-30 11:02] zzzfo commented on #3694
已经解决了，是我的数据集有问题

[2021-07-30 11:35] watertianyi opened #3838 "If you use your own data set, how should you use this code to evaluate accuracy and recall?"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2021-07-30 14:34] watertianyi opened #3845 "how to train your own custom dataset with blazeFace"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2021-07-31 03:14] yghstill commented on #3845
@hande6688 Please convert the custom dataset to a wider-face data format

[2021-07-31 03:18] yghstill commented on #3838
@hande6688 Please convert the custom data set to a `COCO or VOC` data format, and set metric :https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/datasets/coco_detection.yml#L1

[2021-07-31 13:04] watertianyi commented on #3838
我说的是人脸检测数据集如何评价呢与格式转换或者说标注

[2021-07-31 13:06] watertianyi commented on #3845
因为widerface数据集有太多的场景划分比如easy、hard，你们有没有做过自己数据集的训练，可以参考一下吗

[2021-07-31 15:01] huilin16 opened #3847 "[Other General Issues]关于在Paddledetection使用中遇到的问题"
最近在学习使用paddleDetection进行目标检测，十分感谢飞桨提供的paddleDetection，方便了我这种小白，但是在使用过程中还是遇到了一些问题，希望可以完善一下（我主要是在paddledetection2.1中使用cascade rcnn）。

### bug：
**MultiscaleTestResize出错**
复现方式：在配置文件configs/cascade_rcnn/_base_/cascade_rcnn_r50_fpn.yml中，
将Resize替换为MultiscaleTestResize: {origin_target_size: [1600, 1333], target_size: [[1280, 2666], [1344, 2666], [1408, 2666], [1472, 2666], [1536, 2666], [1600, 2666]]}

[2021-08-01 04:20] yghstill commented on #3847
@huilin16 非常感谢详细的反馈和建议，
1. 关于MultiscaleTestResize，目前在动态图中没有支持完善，我们后续将排期完善。
2. 关于Matrix NMS，在RCNN模型中也没有测试过，这个也作为一个需求进行补充。
3. 关于CBResNet的backbone 和backbone替换的教程文档的反馈我们也会后续支持。
4. 关键点等其他模型save_prediction_only这个功能也会增强下。
5. 关于缺失的功能SWA、多模型融合、DetectoRS等新的功能，也会后续调研下，如果可以会陆续支持。

[2021-08-01 04:34] yghstill commented on #3845
@hande6688 目前我们只提供了基于wider-face数据集的通用模型，没有在自定义数据集上做过实验

[2021-08-01 04:36] yghstill commented on #3838
@hande6688 将数据转换成wider-face数据格式，然后可以通过下面的方式评估：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/face_detection#%E5%9C%A8wider-face%E6%95%B0%E6%8D%AE%E9%9B%86%E4%B8%8A%E8%AF%84%E4%BC%B0

[2021-08-01 06:08] yyyssq opened #3850 "在使用eval.py时候遇到 no display name and no $DISPLAY environment variable错误"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2021-08-01 06:39] yyyssq commented on #3850
错误已解决，找到matplotlib的包，在import matplotlib这一段后面加入matplotlib.use(
        'Agg'
        ) 就好啦

[2021-08-01 08:40] jackie8310 opened #3851 "S2Anet训练问题："
用PaddleDetection-develop版本训练spine_coco数据集，配置文件仅调整LR，其它没变。出现如下问题：
[08/01 16:33:45] ppdet.utils.download INFO: Downloading ResNet50_vd_ssld_v2_pretrained.pdparams from https://paddledet.bj.bcebos.com/models/pretrained/ResNet50_vd_ssld_v2_pretrained.pdparams
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 139208/139

[2021-08-01 11:41] liuhuiCNN commented on #3851
你好，此bug是由paddle对`if (feat_labels >= 0).astype(paddle.int32).sum() > 0:`这行代码支持不完善造成的，请用最新的develop分支或release2.2分支。

[2021-08-01 12:01] jackie8310 commented on #3851
@liuhuiCNN ，是今天clone的最新develop分支训练的，另外，release2.2要多久发布？谢谢！

[2021-08-01 13:43] soHardToHaveAName commented on #2749
请问您是怎么解决的啊？

[2021-08-02 00:23] liuxi1007 commented on #3810
PaddleDetection release/2.2版本，数据集标签只包含一个类别的样本，训练loss下降至0.07，可视化结果中mask-map始终为0

[2021-08-02 00:27] liuxi1007 commented on #3810
请问是否这种现象与difficult参数有关，还是其他原因？

[2021-08-02 00:35] DRNOWI opened #3852 "tools/export_model.py"
Traceback (most recent call last):
  File "tools/export_model.py", line 108, in <module>
    main()
  File "tools/export_model.py", line 104, in main
    run(FLAGS, cfg)
  File "tools/export_model.py", line 72, in run
    trainer.export(FLAGS.output_dir)
  File "/usr/local/lib/python3.6/dist-packages/ppdet/engine/trainer.py", line 507, in export
    input_spec, static_model.forward.main_program,

[2021-08-02 01:58] jerrywgz commented on #3830
需要先确认下reader文件是否是你实际配置的，看起来用的还是默认coco的数据路径

[2021-08-02 02:14] ghost opened #3853 "[Other General Issues]TTFNet相关问题"
在TTF的训练中，TrainReader读入数据data后，打印data的内容为data:{'im_id', 'curr_iter', 'image', 'im_shape', 'scale_factor', 'ttf_heatmap', 'ttf_box_target', 'ttf_reg_weight'}。请问ttf_heatmap\ttf_box_target\ttf_reg_weight 这3者是根据标注得到的结果嘛？还有他们的计算写在哪里呢，我debug步进也没有看到，是预处理嘛？
THX！

[2021-08-02 02:22] cjt222 commented on #3852
应该是版本适配问题，paddle2.0.0版本是ok的

[2021-08-02 02:24] nemonameless commented on #3853
是预处理，Gt2TTFTarget，代码在https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/transform/batch_operators.py#L598
所有的预处理代码都位于ppdet/data/transform，可以全局搜ttf_heatmap就能找到相关代码了，static目录下的是以前的静态图代码可以不用看。

[2021-08-02 02:29] #3797 closed, assigned to nobody

[2021-08-02 02:31] ghost commented on #3853
好的，我去看看，十分感谢！

[2021-08-02 02:32] #3853 closed, assigned to nobody

[2021-08-02 02:32] thorory opened #3854 "[BUG]使用python/eval报Cuda error(700)"
## 描述问题/Describe the bug
训练完的模型使用eval进行模型评估时报 Cuad error（700）错误

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?

[code]

4. 请提供您出现的报错信息及相关log。

[code]

## 环境/Environment
1. 请提供您使用的Paddle和PaddleDetection的版本号/Please provide the version of Paddle and PaddleDetection you use：
paddlepaddle：2.1.1.post112
PaddleDetection：2.1.0
python：3.8.5
cuda： release 11.1, V11.1.74
cudnn：8.1.1
os：

[2021-08-02 05:34] wangxinxin08 commented on #3852
请按照issue模版提issue？描述自己的Paddle版本，PaddleDetection版本，运行命令等信息。另外，请使用PaddleDetection release/2.1以及PaddlePaddle 2.1.1版本，并注意保持gast版本为0.4.0(pip install gast==0.4.0)

[2021-08-02 05:40] wangxinxin08 commented on #3854
这个是由于标注的gt有问题导致的，建议自行检查下gt_boxes

[2021-08-02 06:36] edacgq opened #3858 "s2anet 如何导出模型给paddle inference 调用"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2021-08-02 07:37] xzkzdx commented on #3798
![image](https://user-images.githubusercontent.com/43203333/127821920-ebdbde45-11a4-4151-8151-0010412045cc.png)

指定device_id还是只用到设备0

[code]

[2021-08-02 07:38] yumeng88 opened #3861 "S2anet mAP=0"
S2anet   mAP=0
问题：使用s2anet训练多个数据集，数据集格式都保持一样，只有一个数据集的map可以达到4.8，其余数据集的map都是零，无论是边训练边评估还是训练完成后评估，想问一下可能的原因啊？检测效果也是没有。
边训练便评估会出现
![image](https://user-images.githubusercontent.com/56550062/127822091-ec8b1d0f-95eb-4467-9bf4-c74adab95437.png)
查询资料讲有可能是png格式导致的错误，但是我的图片全是.jpg

[2021-08-02 07:39] yumeng88 commented on #3861
![image](https://user-images.githubusercontent.com/56550062/127822333-83d21ddf-6a94-4c02-899d-36779f8ac0ac.png)

[2021-08-02 08:10] Wei-JL opened #3864 "[BUG]"
联合PP-YOLOV2与Hrnet模型推理
# [联合部署推理] 使用命令如下:
!python deploy/python/keypoint_det_unite_infer.py --det_model_dir=output_inference/ppyolov2_r50vd_dcn_voc/ \
--keypoint_model_dir=output_inference/hrnet_w32_384x288/ --video_file=../../Test/test.mp4  --use_gpu=True

报出日志
-----------  Running Arguments -----------
camera_id: -1
cpu_threads: 1
det_model_dir: output_inference/ppyolov2_r50vd_dcn_voc/
det_thresh

[2021-08-02 09:04] MUVGuan commented on #3343
请问您解决了吗？我也遇到同样的问题了，每次训练后自动保存模型参数文件时就报错

[2021-08-02 09:09] wujitiana commented on #3343
我后面不用GPU仅使用CPU可以正常训练 &nbsp;具体原因我也不太清楚 &nbsp;希望对你有帮助

------------------ 原始邮件 ------------------
发件人: MUVGuan ***@***.***&gt;
发送时间: 2021年8月2日 17:04
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLoader reader thread raised an exception (#3343)

请问解决了吗？我也遇到同样的问题。当我使用几张数据集运行时，是可以正常训练的，当数据

[2021-08-02 09:23] MUVGuan commented on #3343
好的，我去试试，多谢~

[2021-08-02 09:25] wangxinxin08 commented on #3858
请参考https://github.com/PaddlePaddle/PaddleDetection/blob/develop/deploy/EXPORT_MODEL.md 导出模型

[2021-08-02 09:29] wangxinxin08 commented on #3861
mAP为4.8也比较低，建议先检查下数据和标注文件，比如把标注文件可视化在图片上

[2021-08-02 09:29] huangdf97 commented on #3343
我升级了下paddle的版本就好了 用2.1以上的版本  希望对你有帮助

[2021-08-02 09:30] yhygta commented on #3852
我也遇到同样的问题，的确是需要保持gast版本为0.4.0，就解决了

[2021-08-02 09:37] wujitiana commented on #3343
我也是2.1的版本 &nbsp;不知道为什么有这问题

------------------ 原始邮件 ------------------
发件人: huangdf97 ***@***.***&gt;
发送时间: 2021年8月2日 17:29
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLoader reader thread raised an exception (#3343)

我后面不用GPU仅使用CPU可以正常训练具体原因我也不太清楚希望对你有帮助
 ...
 ------------------原始邮

[2021-08-02 09:55] MUVGuan commented on #3343
我用的是Paddle2.1，至尊GPU环境会报上述错误，换到CPU直接就内存泄漏项目被终止了，晕。。。

[2021-08-02 10:12] huangdf97 commented on #3343
你可以看看有没有读到数据 在读数据那里看看   之前我遇到读到的是空的  然后改了一部分代码

[2021-08-02 10:17] wujitiana commented on #3343
好的 &nbsp;等有时间我再看看代码

------------------ 原始邮件 ------------------
发件人: huangdf97 ***@***.***&gt;
发送时间: 2021年8月2日 18:12
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLoader reader thread raised an exception (#3343)

我也是 2.1 的版本不知道为什么有这个问题
 ...
 ------------------ 原始邮件 ------------------发

[2021-08-02 11:07] kaixin-bai commented on #3688
我把scipy的版本改成1.3.3还是会一直有warning信息打印出来
[code]

[2021-08-02 11:58] MUVGuan commented on #3343
找到问题所在了，我的数据集只分成了训练集和测试集，就把配置文件中评估集部分的代码注释掉了，但实际上模型是将评估集当作测试集验证效果的，所以它在验证时找不到评估数据的加载入口了，其实也可以理解为你提到的没有读到数据。非常感谢两位朋友的帮助！

[2021-08-02 12:18] wangxinxin08 commented on #3864
可以在deploy/python/keypoint_infer.py加上以下两行代码试下，检测和keypoint的联合部署将会在PaddleDectection release/2.2正式支持
[code]

[2021-08-02 12:20] Wei-JL commented on #3864
我试试看哦 稍等

[2021-08-02 12:31] #3796 closed, assigned to nobody

[2021-08-02 12:34] #2573 closed, assigned to nobody

[2021-08-02 12:37] #2424 closed, assigned to nobody

[2021-08-02 12:37] #2360 closed, assigned to nobody

[2021-08-02 13:10] wujitiana commented on #3343
好的 &nbsp;谢谢 &nbsp;我回头试试

------------------ 原始邮件 ------------------
发件人: MUVGuan ***@***.***&gt;
发送时间: 2021年8月2日 19:59
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLoader reader thread raised an exception (#3343)

我也是 2.1 的版本不知道为什么有这个问题
 ...
 ------------------ 原始邮件 -----------------

[2021-08-02 13:42] Wei-JL commented on #3864
谢谢 ，确实可以联合推理了 但是推理出来只有检测框没有关键点 ，是因为我的模型训练的不够好吗

[2021-08-03 01:18] #3475 closed, assigned to nobody

[2021-08-03 01:24] xupengao opened #3868 "动态图eval验证的时候报错"
训练自定义数据集 faster rcnn 用的paddledetection 2.1 环境3090服务器，cuda11.2

命令：python -m paddle.distributed.launch --gpus 1,2  tools/train.py -c configs/faster_rcnn/faster_rcnn_r50_vd_fpn_1x_coco.yml  --eval

报错：

Traceback (most recent call last):
  File "tools/train.py", line 139, in <module>
    main()
  File "tools/train.py", line 135, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 110, in run

[2021-08-03 02:23] wangxinxin08 commented on #3864
你可以试下是我们提供的官方模型，看下检测效果如何

[2021-08-03 02:33] lyuwenyu commented on #3868
这个你用最新的develop试一下

[2021-08-03 02:52] ghost opened #3869 "动态图ppyolo模型工业部署时报错"
![image](https://user-images.githubusercontent.com/87430649/127949996-b79c2966-fe52-4dfb-b25c-e00005b617e9.png)
![e1310c4b8ce67a05d6a143244d533a69](https://user-images.githubusercontent.com/87430649/127950044-ae9ba973-6a64-48b2-81f7-2e71daa3e915.jpg)

[2021-08-03 03:13] jackie8310 opened #3870 "s2anet问题："
用release2.2中s2anet_1x_spine.yml训练spine_coco数据集，配置文件如下：
_BASE_: [
  '../datasets/spine_coco.yml',
  '../runtime.yml',
  '_base_/s2anet_optimizer_1x.yml',
  '_base_/s2anet.yml',
  '_base_/s2anet_reader.yml',
]

weights: output/s2anet_1x_spine/model_final

# for 4 card
LearningRate:
  base_lr: 0.00125

S2ANetHead:
  anchor_strides: [8, 16, 32, 64, 128]
  anchor_scales: [4]
  anchor_ratios: [4.0]
  an

[2021-08-03 03:33] lilong-epfl commented on #3769
您好，我这边出现了个您一样的问题，请问您的问题解决了吗？

[2021-08-03 04:53] thorory commented on #3854
修复标注后，已验证通过，谢谢。

[2021-08-03 05:22] #3854 closed, assigned to nobody

[2021-08-03 05:31] lyuwenyu commented on #3869
export model使用的是deploy目录下的工具嘛？

[2021-08-03 05:50] TangJiamin opened #3871 "ttfnet_darkner53使用VOC数据集训练报错"
# 使用自己的VOC数据集训练ttfnet_darknet53时报错，报错如下：
[code]
# 配置文件
## config文件
[code]
## Reader文件
[code]
## Dataset文件
[code]

[2021-08-03 06:00] ghost commented on #3869
不是，我用的tool下面的export model

[2021-08-03 07:07] Gaojun211 commented on #3790
之前看错了。在ppdet/data/source/coco.py 中将allow_empty改成True（未在/configs/dataset/xx.yml配置文件添加allow_empty=True）后虽然能训练大的bs，但网络训练的时候并没有读取无标签的数据。在/configs/dataset/xx.yml配置文件添加allow_empty=True后，bs的问题仍然存在（只能设TrainReader:    batch_size: 1，这种情况下才读取全部的数据），即仍然不能训练大的bs，报

这样的错误。

@QingshuChen

[2021-08-03 07:24] edacgq commented on #3858
导出一直失败

[2021-08-03 07:28] nemonameless commented on #3871
您的Dataset config文件data_fields不需要改动就可以训起来的。改配置文件前请先确保直接训VOC数据集就可以训起来，然后使用自定义数据集如果报错则可能是转voc格式这步的问题了。建议还是转coco格式训练ttfnet稳妥点。

[2021-08-03 07:39] TangJiamin commented on #3871
直接训VOC也是报这个错，我就尝试改了config。我看了一下数据格式，我的VOC标签里面没有‘iscrowd’，但coco的标签里面有，把VOC转成COCO以后就可以训练了

[2021-08-03 07:45] #3871 closed, assigned to nobody

[2021-08-03 08:35] qingqing01 commented on #3503
@Breathless922 可以参考下面：

configs/datasets/dota.yml 文件

https://github.com/PaddlePaddle/PaddleDetection/blob/6e8607b4c042453dc8ea5c2ffb244cc7e792dbc6/configs/datasets/dota.yml#L1

[2021-08-03 08:35] lyuwenyu commented on #3869
导出之后 用benchmark测能跑通吗  `sh deploy/benchmark/benchmark.sh`

[2021-08-03 09:06] kelek2 commented on #3769
将CUDA的环境重配以下，需要重启电脑，我这里就可以了

[2021-08-03 09:25] ghost commented on #3869
没有试过

[2021-08-03 12:08] lilong-epfl commented on #3769
不好意思，我没有说清楚，我是说那个 KeyError:12 的问题。

[2021-08-03 13:17] kelek2 commented on #3769
text = "{} {:.2f}".format(catid2name[catid+1], score)
可能有两个原因，一个是标签没对上，看看你那里0开始还是1开始，还有一个可能你测试图像写标签的时候越界了，可以把置信度先调高点

[2021-08-03 14:37] ghost opened #3877 "TTFNet训练过程中hm_loss的疑问"
我最近在TTFNet的训练过程中遇到一些问题
当我使用1200张图片的单类别小数据集测试TTFNet时，同样的数据设置和训练配置，时而会出现hm_loss增大至9.208499并在之后的训练的过程中保持不变，在反复启动训练的过程中发现这种现象也可能不出现，loss稳定下降。此外好像在—eval指令下更为常见（或许是我记错了）
请问这是我数据集整理的问题还是代码中哪里需要进行设置？

[2021-08-03 14:59] nemonameless commented on #3877
你好，可以发下你改动的几个config配置文件吗？像这样的 #3871

[2021-08-04 00:49] ghost commented on #3877
感谢你的回复，我的config配置如下：
### ttfnet_darknet53_1×_coco.yml
![image](https://user-images.githubusercontent.com/59326436/128104298-9062fbb2-7ae5-409e-9499-774634eb455f.png)
### ttfnet_darknet53.yml
![image](https://user-images.githubusercontent.com/59326436/128104407-acd7db69-bdac-4eba-804b-0cceb1d0a1b9.png)
### ttfnet_reader.yml
![image](https://user-images.githubusercontent.com/59326436/128104345-b5901

[2021-08-04 00:50] liuxi1007 commented on #3810
PaddleDetection release/2.2版本，数据集标签只包含一个类别的样本，训练loss下降至0.07，可视化结果中mask-map始终为0
请问是否这种现象与difficult参数有关，还是其他原因？

[2021-08-04 00:53] ghost commented on #3877
其中部分训练log如下：
![image](https://user-images.githubusercontent.com/59326436/128104674-3c94f611-1729-444c-a513-7fa472f6bb66.png)

[2021-08-04 01:13] TangJiamin commented on #3877
我也是，训练到第4个epoch的时候hm_loss突然增大到9.208504，然后就不变了。而且我在训练中eval的时候一直显示ppdet.engine WARNING: Evaluation results empty, this may be due to training iterations being too few or not loading the correct weights.

[2021-08-04 01:18] ghost commented on #3877
我倒是没有这个Warning，我刚才有开启一次训练，又正常了。。。
就很奇怪

[2021-08-04 01:40] TangJiamin commented on #3877
你现在训的时候wh_loss有变化吗，我hm_loss变的时候wh_loss就一直是4.999999。还有一个很奇怪的事,训练到第4个epoch的时候eval报错，之前训练的时候没有出现过这个问题，报错如下：
[code]

[2021-08-04 01:42] wu-yakun opened #3878 "请问YOLOv4、PP-YOLOv2的配置文件何时发布呢"
请问PaddleDetection飞桨目标检测开发套件公布的代码中不包含YOLOv4、PP-YOLOv2吗？官方有发布YOLOv4和PP-YOLOv2的配置文件吗

[2021-08-04 01:55] nemonameless commented on #3549
已经支持自己设置帧率infer视频，请使用develop分支或release/2.2分支，命令如下：
[code]

[2021-08-04 01:56] #3549 closed, assigned to nemonameless

[2021-08-04 01:57] nemonameless commented on #3526
已经支持自己设置帧率infer视频，请使用develop分支或release/2.2分支，命令如下：
[code]

[2021-08-04 02:05] ghost commented on #3877
没有，我最新一次的训练正常结束了，loss整成下降至1.0左右，eval也正常，就是ap有点低

[2021-08-04 02:07] jerrywgz commented on #3877
想问下训练是使用的几卡呢，如果是单卡的话学习率需要对应降低8倍。另外ttfnet模型因为自身设置的学习率比较大，可能会出现其他数据集训练出现不稳定的情况。建议pretrain_weights加载官方release出的coco数据集上训练好的模型，然后将学习率再调低一些

[2021-08-04 02:07] TangJiamin commented on #3877
就很奇怪，我都不知道哪里出问题了

[2021-08-04 02:09] ghost commented on #3877
好的，我会尝试更改学习率，但是好像因为学习率过大导致hm_loss不变有些牵强，毕竟每一个label是不同的呀

[2021-08-04 02:11] ghost commented on #3877
更改学习率试试吧

[2021-08-04 03:19] lyuwenyu commented on #3870
```其中anchor_scales: [4]和 anchor_ratios: [1.0] ```
有尝试其他的比例嘛 也会出现这种错误？

[2021-08-04 04:42] soHardToHaveAName commented on #2970
你好，请问最后是怎么解决的啊？我也出现了一样的问题

[2021-08-04 05:25] nemonameless commented on #3878
https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/ppyolo ，PP-YOLO和v2
https://github.com/PaddlePaddle/PaddleDetection/tree/develop/static/configs/yolov4 ，YOLOv4暂时只有静态图版本
推荐直接使用PP-YOLOv2

[2021-08-04 05:49] wu-yakun opened #3882 "批量检测图片时，总是检测一部分图片就终止，也没有报错。"
批量检测图片时，总是检测一部分图片就终止，也没有报错。
debug定位出问题出在self.predictor.run() ，但不知问题出在何处。
求大佬指点！

[2021-08-04 06:08] gaorui999 commented on #3464
我也遇到了这个问题，请问现在解决了吗

[2021-08-04 06:11] zsbjmy commented on #3464
没有解决，暂时放弃发自我的荣耀手机-------- 原始邮件 --------发件人： gaorui999 ***@***.***>日期： 2021年8月4日周三 14:08收件人： PaddlePaddle/PaddleDetection ***@***.***>抄送： zsbjmy ***@***.***>, Author ***@***.***>主    题： Re: [PaddlePaddle/PaddleDetection] 打印模型的FLOPS (#3464)

我也遇到了这个问题，请问现在解决了吗

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications

[2021-08-04 07:10] nemonameless commented on #3882
你好，可以描述再详细点吗？哪个分支和版本，什么模型？self.predictor.run()是哪一个文件的哪一行的，方便的话最好提供运行出错的截图，谢谢

[2021-08-04 07:15] meng8407 opened #3883 "怎么加入负样本训练"
## 描述问题/Describe the bug
我将已经标注好的数据，制作coco数据集进行训练，发现FP特别高，很容易将错误的图像检测为正确，想要杀FP,加入大量的负样本进去，
问题一，我是直接将未标注的负样本图像放入coco数据集中，模型训练时候能读取空图当作背景图像读取吗，我用的是faster_rcnn.
问题二，还是我直接拼接负样本图像到原图中去，再次标注图像进行新的训练，这样的话比较麻烦，您有什么好的办法，将我的标注图像利用上吗？

3. 您使用的数据集是？/What dataset did you use?
自己根据数据集制作的coco数据。

## 环境/Environment
1. 请提供您使用的Paddle
PaddleDetection-master

3. 请提供您使用的操作系统信息，如Linux/Windows/MacOS /Please provide the

[2021-08-04 07:30] wu-yakun commented on #3882
PaddleDetection的2.1版本，YOLOv3的检测模型(配置文件为yolov3_darknet53_207e_voc.yml).
self.predictor.run()位于PaddleDetection中deploy/python/infer.py的第141行。
没有报错，只是批量检测时，总是检测一部分后，自动停止。

[2021-08-04 07:35] w2020 commented on #2970
哎，我也没找到为什么。。我就没用这个了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "wang chong ***@***.***&gt;;
发送时间: 2021年8月4日(星期三) 中午12:42
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 自定义的数据集loss值一直在三百到两百之间，然后预测的种类不是我自己数据集里面的十二个种类，好像是coco的种类。 (#2970)

你好，请问最后是怎么解决的啊？我也出现了一样的问题

—
You are receiving this because you authored the thread.
Reply to th

[2021-08-04 08:18] MengQiDWangChao commented on #3882
同样的问题，最新的2.1版本测试用的infer.py的trainer.predict(images,
                    draw_threshold=FLAGS.draw_threshold,
                    output_dir=FLAGS.output_dir,
                    save_txt=FLAGS.save_txt)函数无法正常结束运行，没有报错，在for step_id, data in enumerate(loader):这个循环里就结束了，原因不明

[2021-08-04 08:23] Gaojun211 opened #3884 "[BUG] 无标签学习训练遇到传两张以上的（bs>1），图片既有标注的又有没标注的，会传到bbox回归的loss里会报错"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2021-08-04 08:25] nemonameless commented on #3882
批量检测是多少张图，能定位到哪张图报错吗？用它单独infer有没有问题？另外请提供具体运行命令。如急用请使用develop分支或release/2.2分支，并使用paddlepaddle 2.1。

[2021-08-04 08:32] ghost opened #3885 "为什么静态图的ppyolo跑不过静态图的yolov3"
为什么静态图的ppyolo跑不过静态图的yolov3

[2021-08-04 09:08] lyuwenyu commented on #3870
另外用最新的develop试一下

[2021-08-04 09:11] lyuwenyu commented on #3870
建议用8卡的配置文件，4卡的话得修改optimizer的超参

[2021-08-04 09:36] mortal-Zero opened #3886 "Ubuntu18.04安装PaddleDetection环境时报错"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

环境:
   Ubuntu18.04
    python3.7
    CUDA10.1
    cudnn7.6.5
    PaddlePaddle2.1.1
    PaddleDetection2.1

执行命令:
从git上clone的paddledetection包，进行编译安装
cd PaddleDetection
执行"python setup.py install"命令时报错，
报错内容如下:
running install
running bdist_egg
running egg_info
writing paddledet.egg-info/PKG-INFO
writing dependency_links t

[2021-08-04 09:41] soHardToHaveAName commented on #2970
[https://github.com/PaddlePaddle/PaddleDetection/issues/970](url)

啊我找到原因了！就是因为路径写错了，写成绝对路径就没问题了

[2021-08-04 09:44] MengQiDWangChao commented on #3882
安装的paddlepaddle2.1.2, paddledetection2.1, 使用的就是教程的python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=false weights=https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams --infer_img=demo/000000014439.jpg的参数进行调试的，只是用的是cpu,调试的时候发现trainer.predict(images,
draw_threshold=FLAGS.draw_threshold,
output_dir=FLAGS.output_dir,
save_txt=FLAGS.save_txt)没有正常结束，我在看看

[2021-08-04 10:01] MengQiDWangChao commented on #3882
具体是这样的，我想在run(FLAGS, cfg)后面进行一些显示啥的，发现程序运行不到后面，在trainer.predict中貌似就退出了
run(FLAGS, cfg)
print(os.environ.get('CPU_NUM'))
print(os.environ.get('OMP_NUM_THREADS'))，我试了一下demo文件夹下的图像结果是都可以输出的，貌似是最后一次迭代的时候退出了，
PS D:\PaddleDetection-2.1.0>  d:; cd 'd:\PaddleDetection-2.1.0'; & 'C:\Users\iBird\anaconda3\envs\PaddleDetection\python.exe' 'c:\Users\iBird\.vscode\extensions\ms-python.python-2021.7.1060902895\

[2021-08-04 11:01] jackie8310 commented on #3870
@lyuwenyu ,用了最新的develop分支，单卡train，LR：0.00125，epoch:36，LOSS有下降，但**mAP(0.50, 11point) = 4.72%**
08/04 18:49:33] ppdet.engine INFO: Eval iter: 200
[08/04 18:49:45] ppdet.metrics.metrics INFO: The bbox result is saved to bbox.json.
[08/04 18:49:45] ppdet.metrics.metrics INFO: Accumulating evaluatation results...
[08/04 18:49:45] ppdet.metrics.metrics INFO: mAP(0.50, 11point) = 4.72%
修改ratios，如下：
ancho

[2021-08-04 11:18] wu-yakun commented on #3882
实测，不调用GPU去批量检测，没有问题，是OK的。当用GPU时，单张图片检测也没有问题，但是，调用GPU做批量检测总在检测几张后就出现无报错退出的问题。
运行指令：python deploy/python/infer.py --model_dir=./export_model/yolov3_darknet53_270e_character_voc  --use_gpu=True

问题排除1：用批量检测停止的照片去做单张检测，也没有问题；并且停止的图片是随机的，并且停止的图片均可以做单张检测。
问题排除2：8G的显卡，只占用了1.7G左右，CPU占用60%上下。因此，排除显存或内存爆炸的问题。
问题排除3：检测的出图片，结果都是正确的。

这个问题研究一天半了，也没解决，哎。好气哦。

[2021-08-04 14:00] MengQiDWangChao commented on #3882
下午花了点时间看了下代码，怀疑是ppdet/data/reader.py中的迭代的问题，这个里面的BaseDataLoader中的next函数貌似没有正常结束，我改成了根据样本数目个数停止迭代可以正常运行了，但不知道是不是本质上是不是这个原因导致的；
def __next__(self):
        try:
            return next(self.loader)
        except StopIteration:
            self.loader = iter(self.dataloader)
            six.reraise(*sys.exc_info())
改成了
def __next__(self):
	if self.iter_num <= len(self._batch_sampler):
		self.iter_nu

[2021-08-05 01:49] nemonameless commented on #3886
环境问题，可以事先手动安装lap试试，pip install lap

[2021-08-05 02:01] mortal-Zero commented on #3886
请问，我的gcc环境是gcc7.5.0，这个是没问题的吗？还是需要更高版本的gcc？

[2021-08-05 02:18] nemonameless commented on #3886
没有关系，4.8.5也可以。你先手动安装lap, lap版本无要求

[2021-08-05 02:27] thutran292 opened #3888 "How to use checkpoint and continue training"
I want to use checkpoint and continue training. How to do this?

[2021-08-05 02:33] nemonameless commented on #3883
FP特别高不一定要加入大量的负样本去解决，即使加那么其数量也没有标准控制吧。你说的两个问题做法都可以，个人建议使用更强的模型，也可以从数据增广角度入手更方便，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/rcnn_enhance/_base_/faster_rcnn_enhance_reader.yml   可以参考下

[2021-08-05 02:46] jerrywgz commented on #3884
问题已经复现，正在排查，感谢反馈～

[2021-08-05 02:46] nemonameless commented on #3888
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED.md
use `-r`
[code]
please make sure 100.pdopt and 100.pdparams exist.

[2021-08-05 03:22] nemonameless commented on #3882
正在排查，感谢反馈～

[2021-08-05 03:39] mortal-Zero commented on #3886
不好意思麻烦了，在"pip install lap"时也会报错，报错内容如下：
Collecting lap
  Using cached lap-0.4.0.tar.gz (1.5 MB)
Building wheels for collected packages: lap
  Building wheel for lap (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /home/mortal/miniconda3/envs/paddle_2.1.1/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-k0o367mf/lap_2c

[2021-08-05 03:51] #3851 closed, assigned to nobody

[2021-08-05 04:18] nemonameless commented on #3885
可以提供更多信息和指标数据吗？具体哪个模型和数据集，以及训练配置？谢谢

[2021-08-05 06:40] jerrywgz commented on #3884
https://github.com/PaddlePaddle/PaddleDetection/pull/3890 已修复

[2021-08-05 07:05] NewToolAI opened #3892 "使用tensorrt推理时报错"
显卡是3090，已经安装tensorrt和paddle包。--run_mode=trt_fp16时报如下错误

[code]

[2021-08-05 07:26] #3878 closed, assigned to nobody

[2021-08-05 07:36] qingqing01 commented on #3892
@Shulin-Zhang 你是使用Python预测、还是C++预测？ 使用的Paddle版本是多少？

[2021-08-05 07:40] nemonameless commented on #3882
@wu-yakun 您测的deploy下的导出模型的infer，打印日志每张都会输出坐标的吧
[code]
@MengQiDWangChao 您测的是tools下原模型的infer，是ppdet.engine INFO: Detection bbox results save in 的打印日志
[code]
我们这两句命令测coco val2017的5000张，都没有问题不会卡住，是在develop分支下。你们使用develop分支能复现问题吗？

[2021-08-05 07:45] Gaojun211 commented on #3884
运行几轮后出现新的error
[code]
咨询了同事，他觉得layer层，device和内存之间数据通信的过程有问题，不知道是否是这样？

[2021-08-05 08:09] 534114658 opened #3893 "图片分辨率非对称，差异较大的情况下，参数设置异常"
例如图片分辨率在3000 X  500   max_height等参数设置如下
![K)R76{50CW18PT Y45G UT5](https://user-images.githubusercontent.com/88479008/128313912-c22eebc2-a4e6-4ec1-a0e2-8489fef34d0f.jpg)
![C OAAXR)E9DM72P28KOBO2](https://user-images.githubusercontent.com/88479008/128314013-20cf58c4-261a-4351-a876-60be1f8cc8b8.jpg)
![ACYMRDL0% ~U4EKB7R9}P7](https://user-images.githubusercontent.com/88479008/128314025-44dcff70-d7d9-

[2021-08-05 08:26] MengQiDWangChao commented on #3882
我的问题不是卡住，是infer.py的main()中的run(FLAGS, cfg)函数不能结束，无法在这个函数后面进行操作，原因是在trainer.predict里面最后一张图片处理完之后没有正常退出，但是没有报错；你可以试一下用一张图调试，在run(FALGS, cfg)加一下代码看看能否执行到，我也去试下develop分支有没有这个问题

[2021-08-05 08:41] kaixin-bai opened #3894 "[Other General Issues]benchmark_utils.py文件代码静态检查warning"
使用pep8静态检查时出现warning：
[code]
代码：
[code]

[2021-08-05 08:50] thutran292 opened #3895 "which model is the best accuracy?"
After finishing the training,  I don't know which model is the best accuracy?

[2021-08-05 10:01] NewToolAI commented on #3892
使用python预测，paddle版本是2.1.1

[2021-08-05 10:30] #3895 closed, assigned to nobody

[2021-08-05 10:30] #3888 closed, assigned to nobody

[2021-08-05 11:42] lilong-epfl commented on #3769
好的，谢谢

[2021-08-05 11:46] yumeng88 commented on #3870
我遇到和你相同的问题，单卡训练，边训练边评估，训练的mAP也只有3.5左右，如果是训练完成在评估(我测试了好几个数据集，其中有一个的结果可以达到4.1，其余的全是0)，目前还没有解决这个问题。

[2021-08-05 12:57] qingqing01 commented on #3893
您C++推理，模型导出时输入H、W设置是多少？

[2021-08-05 12:58] qingqing01 commented on #3894
感谢指出。 @yghstill 请看下这个问题~

[2021-08-05 13:00] qingqing01 commented on #3892
@Shulin-Zhang  2.1.1默认Python包没有包含TensorRT编译，您需要从下面列表中依据您的CUDA、cuDNN、TensorRT版本号选择影响的PaddlePaddle whl包

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release

[2021-08-05 13:01] jerrywgz commented on #3884
我这边测试没有出现这样的问题，可能是和无标签数据导致某些计算访问越界导致的。可以先初步排查下：1.报错是否稳定复现，是不是每次报错都在相同位置；2.可以打印下输入图片的image_id,看下是不是每次报错对应的都是相同类型的图片；3.如果能稳定报错，可以打印下报错前的tensor shape

[2021-08-05 14:04] STUSER001 opened #3896 "新做的 coco 数据集 无法正常识别 新的目标种类 还是原先的目标种类"
用labelme 做了新的 coco数据集 并做了对应数据的两种 类别 标签 但是 训练完成后 infer 图片时候 目标种类还是 原来的 没能正常 识别新的 目标种类 这是什么情况？ 数据集修改后 已经修改了响应的配置文件
![04318f48027a39a237beb2951fc6413](https://user-images.githubusercontent.com/88072901/128363566-f6814ec7-6730-4bae-8286-b6af1ead7341.png)

[2021-08-05 14:18] meng8407 commented on #3883
您好：
1、我听从您的建议，使用了cascade rcnn 更强的模型结果，项目应用的话FP依旧是太高，
2、我准备尝试数据增广的方法，我有四个标签，15000张训练图像，数据增广的话，依据您的经验，数量扩大到一倍合适吗？

[2021-08-06 01:10] keweisong opened #3897 "paddle serving方式进行paddle detection的服务端部署后预测结果bbox.json位置信息问题"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2021-08-06 01:49] sannnyu commented on #3794
怎么成功的？改了哪？

[2021-08-06 02:38] wujitiana commented on #3343
你好 &nbsp;你是自定义的数据集吗 &nbsp;ppyolov2使用自定义的voc数据集训练 &nbsp;测试没效果是什么原因

------------------ 原始邮件 ------------------
发件人: MUVGuan ***@***.***&gt;
发送时间: 2021年8月2日 19:59
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLoader reader thread raised an exception (#3343)

我也是 2.1 的版本不知道为什么有这个问题
 ...

[2021-08-06 02:44] wujitiana opened #3898 "ppyolov2使用自定义的voc数据集，使用训练好的模型测试没有效果是什么原因，map为0.02%"
voc.yml配置
metric: VOC
map_type: 11point
num_classes: 1

TrainDataset:
  !VOCDataSet
    dataset_dir: dataset/voc
    anno_path: trainval.txt    #trainval.txt
    label_list: label_list.txt
    data_fields: ['image', 'gt_bbox', 'gt_class', 'difficult']

EvalDataset:
  !VOCDataSet
    dataset_dir: dataset/voc
    anno_path: test.txt
    label_list: label_list.txt
    data_fields: ['image', 'gt_bbox'

[2021-08-06 02:57] STUSER001 opened #3899 "数据集不够 会导致 无法 替换原来的 检测目标种类么？"
训练使用的 数据集 较少 会导致 最后 训练出来的 模型 在进行图片 检测时候 无法替换 原来的 目标种类

[2021-08-06 03:11] monkeycc opened #3900 "[BUG]安装报错问题"
python -m pip install paddlepaddle-gpu==2.1.1.post112 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

git clone https://github.com/PaddlePaddle/PaddleDetection.git
python setup.py install
pip install -r requirements.txt

deepin linux系统
anaconda python3.8   源码编译安装
--------------------------
问题1：
pip install -r requirements.txt
。。。。
Installed /media/hello/3bc7a812-b6eb-46b7-b538-8a31cfee047f/ana

[2021-08-06 03:15] qiyuezhiguang opened #3901 "[BUG]C++部署时图片的H和W不等，源代码将H和W弄反了"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2021-08-06 03:16] monkeycc commented on #3900
sudo apt-get install g++

已经解决

[2021-08-06 03:16] #3900 closed, assigned to nobody

[2021-08-06 03:58] DongChenwei2000 opened #3902 "在AI Studio上进行ppyolo tiny的训练和预测"
在AI Studio上进行ppyolo tiny的训练和预测，使用的是voc的数据集，在训练后进行预测，出现如下错误。
![image](https://user-images.githubusercontent.com/71364549/128453902-40311272-afdd-44b5-8fe2-3c630755055b.png)

[2021-08-06 04:27] yhygta opened #3903 "[Document Improvement]"
## 📖  文档优化/Documentation Improvement 咨询关于PP-YOLO模型页面的超参数设置问题

**请简单说明文档存在问题/Please provide a concise and brief description of the documentation problem:**
PP-YOLO 模型页面
提到的PP-YOLO tiny模型的320和416尺寸,对应的都是同一个配置文件(https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolo_tiny_650e_coco.yml),

但是实际训练使用的config_ppyolo_tiny.txt是本身自带的deploy/lite/下文件是320*320的,希望文档能注明如果需要调整为416尺寸的

[2021-08-06 05:09] monkeycc opened #3906 "numpy版本问题"
anaconda3
python   3.8
numpy    1.21.1
paddlepaddle-gpu    2.1.1.post112

--------------------------------------------

WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data). For example, in fol

[2021-08-06 05:56] lyuwenyu commented on #3906
这是waring不影响使用   升级一下paddle就行了

[2021-08-06 06:13] keweisong commented on #3897
感谢飞桨群友的答复.
自己回答下吧, 以帮助有同样问题的同学.

bbox中的位置信息需要根据Sequential中的处理进行转换.
比如我的sequential是:
`Sequential([
    File2Image(), BGR2RGB(), Resize(
        (608, 608), interpolation=cv2.INTER_LINEAR), Div(255.0), Transpose(
            (2, 0, 1))
])
`
则需要将bbox中的尺寸乘以原始图的尺寸再除以608.

另外注意bbox中的位置格式是xywh

[2021-08-06 06:26] monkeycc commented on #3906
paddlepaddle-gpu 2.1.1

最新版了  应该要怎么升级？

[2021-08-06 06:41] Gaojun211 commented on #3884
当前设置，单卡bs=4
1、报错不稳定，有时候遇到全存在标签，有时候混着无标签数据；
2、训练过程有时候出现lossNAN的情况，
[code]
![image](https://user-images.githubusercontent.com/44492927/128466343-d94c6674-765d-433b-8f02-9e73066be34c.png)
![image](https://user-images.githubusercontent.com/44492927/128466434-3086e6d0-2849-459b-a28e-a929fa05247c.png)
调小empty_ratio: 0.4->0.2或者bs4->3后报之前的error
您这边有什么建议吗

[2021-08-06 06:43] 534114658 commented on #3893
训练时的配置

![捕获](https://user-images.githubusercontent.com/88479008/128468084-15356522-b900-4c11-8a69-8ca4b5244531.PNG)

自动生成C++的配置文件
![捕获2](https://user-images.githubusercontent.com/88479008/128468096-7634253d-25e9-4932-bb07-18eed0266918.PNG)

[2021-08-06 06:50] MUVGuan commented on #3343
我是用的VOC格式数据集，不过没用ppyolov2，用的是yolov3.你说的测试没效果是指训练好的模型检测不出来目标物吗？

[2021-08-06 06:52] wujitiana commented on #3343
是的 &nbsp;评估了一下 &nbsp;map为0.02% &nbsp; &nbsp;完全没有检测到目标物 &nbsp;这是什么问题 &nbsp;YOLO和ppyolo训练都一样的应该 &nbsp;都是voc数据集

------------------ 原始邮件 ------------------
发件人: MUVGuan ***@***.***&gt;
发送时间: 2021年8月6日 14:50
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLoader reader thread raised an exce

[2021-08-06 07:17] #3526 closed, assigned to nemonameless

[2021-08-06 07:23] MUVGuan commented on #3343
你有改动PaddleDetection/ppdet/data/transform/operators.py吗？我之前debug时把里面的代码改了一下，出现了map特别低的情况，如果有改的话试试还原改动部分呢

[2021-08-06 07:27] wujitiana commented on #3343
没有改动 &nbsp;都是按照要求改的 &nbsp;已经读数据训练了 &nbsp;但是测试的时候 &nbsp;训练好的模型一点效果也没有 &nbsp;请问下labellist.txt除了换成自己的类别外 &nbsp;其他地方还有与这个有关的设置吗 &nbsp;总感觉哪里设置有点问题

------------------ 原始邮件 ------------------
发件人: MUVGuan ***@***.***&gt;
发送时间: 2021年8月6日 15:23
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: wujitiana ***@***.***&gt;, Comment ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 关键点检测模型评估的时候出现DataLo

[2021-08-06 07:46] heavengate commented on #3896
`TestDataset`里的`anno_path`指向你新做的数据集的annotation路径试下

[2021-08-06 07:47] heavengate commented on #3897
感谢更新，鉴于问题已经解决，当前issue就先关闭了，如果有问题可以reopen这个issue~

[2021-08-06 07:48] heavengate commented on #3811
看报错是没找到`gt_box`字段，如果你没修改配置的话是不是使用了自定义的数据集，数据集里没包含这个字段

[2021-08-06 07:49] STUSER001 commented on #3896
我上传的 图片 就是我自己 设置的 数据集 所在的路径

[2021-08-06 07:49] #3897 closed, assigned to nobody

[2021-08-06 07:51] heavengate commented on #3898
训练的log发一下看下呢，是不是训练过程还没有收敛，另外你是用的PaddleDetection是哪个版本，2.1.0版本有个收敛性问题，可以更新到develop版本试下

[2021-08-06 07:52] heavengate commented on #3899
没太理解你的意思，“无法替换原来的检测目标种类”是指啥呢

[2021-08-06 07:53] MUVGuan commented on #3343
1. label_list.txt和训练集、测试集是按照这里代码划分的吗？（链接最后部分）
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/PrepareDataSet.md
2. 其他需要修改的地方就是配置文件了，下面的链接都有介绍，主要需要我们改的就是数据集路径、batch_size这些，与label_list有关的话，在定义训练数据路径的yml文件中需要把num_classes改为你的类别数目，其他就没了
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED_cn.md
3. 如果你的训练能进行，除配置文件外都没改的话，我觉得可以再检查下

[2021-08-06 07:54] STUSER001 commented on #3899
比如 模型 刚开始 识别的 目标是 车 后来 我自己做的数据集 是识别动物的 可是 训练完后 图片 推理的时候 还是 识别 车 不识别 动物

[2021-08-06 07:56] MUVGuan commented on #3343
刚刚回复的没有引用，不知道系统会不会给你发邮件提醒，保险起见再发个哈哈

[2021-08-06 07:56] heavengate commented on #3901
1. 如果是自定义数据集，export的时候没有使用自定义数据集的分类，一般是因为`xxx_reader.yml`里`TestDataset`里的anno_path字段没有指向自定义数据集的annotation文件，导致程序找不到文件后使用了默认的coco分类
2. 我们确认一下，方便提供一下具体报什么错么
3. 你用的是哪个模型呢，HW反了的代码行数方便发一下么，我们排查一下
4. 感谢反馈，我们最近也在整理文档，针对代码结构的介绍我们也整理一下~

[2021-08-06 07:56] wujitiana commented on #3898
我训练了200个epoch这是最后两个迭代&nbsp; 我使用的是2.1版本的paddleDetection

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月6日(星期五) 下午3:51
***

[2021-08-06 07:57] heavengate commented on #3896
`TestDataset`里的anno_path是`annotations/val.json`这个路径应该不是annotation文件的路径吧

[2021-08-06 07:58] heavengate commented on #3902
你修改了配置文件里关于`num_classes`的配置么，或者你的数据集里的类别数跟`num_classes`不一致？

[2021-08-06 08:00] heavengate commented on #3903
感谢反馈，我们整理一下这部分的文档~

[2021-08-06 08:00] wujitiana commented on #3343
因为这个数据集在其他检测模型上训练过&nbsp; 没有什么问题&nbsp; 所以我才有点疑惑

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月6日(星期五) 下午3:54
***@***.***

[2021-08-06 08:02] heavengate commented on #3906
这个是warning，是针对数据集只有单个字段的时候报的，不影响模型运行，可以不用关注，另外把Paddle升级到2.1.2版本可以去掉这个warning
可以先`pip uninstall paddlepaddle-gpu`再`pip insstall paddlepaddle-gpu`重新安装一下~

[2021-08-06 08:04] wujitiana commented on #3343
我看了下我这训练日志&nbsp; 里面的loss收敛到30左右就不收敛了&nbsp; 但是检测时&nbsp; 什么框都没有

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月6日(星期五) 下午3

[2021-08-06 08:11] jerrywgz commented on #3831
确认了下，目前multiscaletest在动态图下还不支持，我们会计划排期做的

[2021-08-06 08:14] #3850 closed, assigned to nobody

[2021-08-06 08:21] MUVGuan commented on #3343
试一试把学习率调大一点？1.5倍或者2.0倍？我这边loss降到了2点多，map91%，检测的还行

[2021-08-06 08:25] wangxinxin08 commented on #3858
可以使用PaddleDetection develop试下

[2021-08-06 08:26] qingqing01 commented on #3893
您当前设置的 target_size: 512，推理的时候模型输入是512 x 512。
TestReader中image_shape的导出是[3, 512, 3008]，2个不一致。

您推理想用的输入是多少？(512x512推理速度会快， 512x3008推理速度慢，精度需要eval知道)

[2021-08-06 08:30] lyuwenyu commented on #3870
用develop试一下吧

[2021-08-06 08:40] STUSER001 commented on #3896
这个 可以 无视吧 因为我 检测图片 是用的 自定义目录下的图片 且是一张 一张 手动做推理的

[2021-08-06 08:40] wujitiana commented on #3343
但是也不至于map为0.02%&nbsp; &nbsp;有点迷人&nbsp; 哈哈&nbsp; 我再试试吧&nbsp; &nbsp;谢谢了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月6日(

[2021-08-06 08:44] nemonameless commented on #3886
建议换源再pip安装，或者下载lap的包后解压并手动编译安装。
或者我们的机器是4.5或者8.2的GCC，您有别的机器或换GCC版本试试？

[2021-08-06 08:55] wangxinxin08 commented on #3885
可以参考我们的文档：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/static/configs/ppyolo#pp-yolo-on-pascal-voc, https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/MODEL_ZOO_cn.md#ssd-%E5%9F%BA%E4%BA%8Epascal-voc%E6%95%B0%E6%8D%AE%E9%9B%86，yolov3 darkenet53 voc size=608的精度是83.5，ppyolo r50vd dcn voc size=608的精度是84.9

[2021-08-06 08:57] heavengate commented on #3896
infer图片的时候也是要读数据集类别的，读的就是`TestDataset`里anno_path指定的annotation里的类别，不配置的话就会因为找不到文件去读coco数据集的默认类别

[2021-08-06 09:01] mortal-Zero commented on #3886
好的，确实切换到gcc8.2之后没有报错。

[2021-08-06 09:05] STUSER001 commented on #3896
可是 刚刚下载 模型的时候  就是 这样的 只不过 我吧 原来 instance_val2017.json 修改成了 自己的 val.json 这个 里面也是 coco 数据集的 json 文件 所以类别用的 也是 一样的啊
 就是说 我又要 做 test.json 么？？

[2021-08-06 09:07] MUVGuan commented on #3343
没事儿，祝好运！

[2021-08-06 09:15] jerrywgz commented on #3884
能否提供一小部分可以复现的数据吗，看起来应该还是某个计算为空导致的异常

[2021-08-06 11:25] STUSER001 opened #3908 "训练出来的 模型 如何在 其他程序中使用"
![001](https://user-images.githubusercontent.com/88072901/128503650-f64dcfb4-aadd-4082-8811-1844dede53d1.png)

[2021-08-06 14:34] sannnyu commented on #2950
@tatianna0 您好，解决了吗？

[2021-08-06 17:13] STUSER001 opened #3909 "paddledetection 模型部署 出错"
如下图所示 运行后 提示 错误
![0002](https://user-images.githubusercontent.com/88072901/128547795-f4951580-1a98-4f03-925e-267a2a3c7928.PNG)

[2021-08-07 01:07] 534114658 commented on #3893
如果需要512x3008推理要怎么设置？
(512x512推理速度会快   但是推理效果不太好   很多检测框有较大偏移  重叠等现象

[2021-08-07 02:54] nemonameless commented on #3883
数据量扩大一倍可能还不够多。这些调优也是因数据集而异的，还有比如NMS阈值参数等也都可以调试试

[2021-08-07 05:16] Sencc commented on #591
请问你是怎么解决这个问题的？

[2021-08-07 07:53] DongChenwei2000 opened #3910 "ssd文档"
开发者你好，现在的ssd文档中没有对MobileNet v3和ghostnet的介绍，希望后续可以添加下，并且想要询问下这2个在几gpu的环境下训练的？在AI studio上的单GPU环境使用哪一个比较好？
![image](https://user-images.githubusercontent.com/71364549/128593073-aab55aa0-91e5-4c53-8967-43600c2a9f3a.png)

[2021-08-07 08:34] jackie8310 commented on #3870
@lyuwenyu ,  是用的最新develop分支，单卡train，LR：0.00125，epoch:36，LOSS有下降，推荐spine数据集和自己的数据集mAP(0.50, 11point) = 4.72%，这是最高的情况。

[2021-08-07 09:11] ghost commented on #3885
静态图ppyolo_voc.py,动态图ppyolo_r50vd_dcn_2x_coco.yml ，配置都没有改，数据集用自己的数据集

[2021-08-07 09:12] ghost commented on #3885
内部人员之前跟我在如流群里说没有跑过静态图的ppyolo

[2021-08-07 17:55] gp1322719830 opened #3914 "[BUG]PaddleDetection Slim模型量化报错"
Paddle2.1
PaddleDetection develop
量化报错如下：
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
-----------  Configuration Arguments -----------
gpus: 1,3
heter_worker_num: None
heter_workers:
http_port: None
ips: 127.0.0.1
log_dir: log
nproc_per_node: None
run_mode: None
server_num: None
servers:
training_script: tools/train.py
training_script_args: ['-c', 'configs/dota/s2anet_

[2021-08-07 17:56] gp1322719830 commented on #3914
量化配置文件s2anet_qat.yml内容如下
pretrain_weights: https://paddledet.bj.bcebos.com/models/pretrained/ResNet50_cos_pretrained.pdparams
slim: QAT

QAT:
  quant_config: {
    'activation_preprocess_type': 'PACT',
    'weight_quantize_type': 'channel_wise_abs_max', 'activation_quantize_type': 'moving_average_abs_max',
    'weight_bits': 8, 'activation_bits': 8, 'dtype': 'int8', 'window_size': 10000, 'moving_r

[2021-08-07 17:57] gp1322719830 commented on #3914
[code]

[2021-08-08 02:14] #3877 closed, assigned to jerrywgz

[2021-08-08 04:30] nemonameless commented on #3910
ssdlite 的 MobileNet v3和ghostnet是8卡训的，其实每卡占应该不到10G显存，但是训练周期非常非常长，不建议在AI studio或单卡训练。可以考虑使用静态图版本 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/static/configs/ssd    ，
或者其他小模型比如 https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/picodet

[2021-08-08 08:19] 827346462 opened #3915 "mask rcnn 训练自己数据集出现的错误"
用mask rcnn 训练自己的数据集出现加载模型出错。
我的环境 win10 cuda11.2 paddlepaddle-gpu=2.1.1.post112 RTX3060
是正常安装和使用paddleDetection

![image](https://user-images.githubusercontent.com/50097546/128625719-f1819b91-7a38-4e6b-802a-f17f83eacdeb.png)
请问这是什么问题

我主要是去修改了mask rcnn 的数据集配置文件。才用的小熊数据集
![image](https://user-images.githubusercontent.com/50097546/128625768-89570e28-50aa-44b1-8aa1-29173a02f580.png)
![image](https://

[2021-08-08 09:24] helloyan commented on #3836
labelme分割出来的如何转coco的，能给个例子吗
[48_00000001.000000.log](https://github.com/PaddlePaddle/PaddleDetection/files/6950483/48_00000001.000000.log)

[2021-08-08 09:58] jackie8310 opened #3916 "PR曲线绘制问题："
请教，目前评估时--classwise可以输出每类的AP和PR曲线，其中PR曲线只能是IOU0.5时的，如果想绘制每类在不同IOU时的PR曲线该如何处理，谢谢！

[2021-08-08 10:27] zxsitu commented on #3916
想咨询一下，请问如何绘制综合所有测试类别的一条PR曲线呢？
是把每一类的对应数据加起来取平均得到总的PR曲线呢？谢谢。

[2021-08-09 00:33] STUSER001 opened #3917 "每次 启动 配置好的 ppyolov2 环境 就提示安装pycocotools"
环境配置 完后 每次重启 就提示 安装pycocotools 这个 怎么回事儿？
![0000](https://user-images.githubusercontent.com/88072901/128650519-72ac0152-f4bb-4a4f-acea-7fce6fdadaf4.PNG)

[2021-08-09 02:10] yghstill commented on #3916
@jackie8310 VOC数据默认iou=0.5，如果想要评估不同iou，需要修改：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/metrics.py#L211
COCO数据绘制PR曲线也默认是iou=0.5，如果想评估不同iou，需要修改：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/coco_utils.py#L141

[2021-08-09 02:11] yghstill commented on #3916
@ilem777 绘制所有类别的PR曲线，将各类PR数据加权平均计算就行。

[2021-08-09 02:16] yeyupiaoling opened #3918 "在训练过程中随机出现错误：RuntimeError: DataLoader 1 workers exit unexpectedly"
- PaddlePaddle 2.1.2
 - Ubuntu 18.04
 - 2080ti CUDA 10.2

错误如下，设置1线程，2线程读取数据都会出错，2张显卡训练。
[code]

[2021-08-09 02:19] yghstill commented on #3914
@gp1322719830 看报错是由于显存不够，将batch size调小再试下，并且pretrain_weights请指定s2anet训好的weights

[2021-08-09 02:26] yghstill commented on #3915
@827346462 你使用的是多卡训练吗？启动命令是什么？

[2021-08-09 02:28] wangxinxin08 commented on #3885
静态图的ppyolo_voc是跑过的，如果你精度相差比较大，可能是没有设置好参数

[2021-08-09 02:29] jerrywgz commented on #3908
如果是其他程序调用是需要依赖paddle预测库的，deploy/python/infer.py是python调用的例子可以参考

[2021-08-09 02:33] jerrywgz commented on #3909
麻烦提供下Paddle版本，PaddleDetection版本，以及模型相关配置。另外看起来模型使用的是旧版本的接口，可以参考PaddleDetection新版本下的预测部署参考实例

[2021-08-09 02:49] zxsitu commented on #3916
好的谢谢，我明白了。

[2021-08-09 03:28] Gaojun211 commented on #3884
数据集地址：https://aistudio.baidu.com/aistudio/datasetdetail/103629
提取了部分训练集，原本有39506张有标签的图像。

[2021-08-09 04:18] qingqing01 commented on #3893
ResizeImage的参数设置为 target_size设置为list，[512, 3008], keep_ratio设置False。

https://github.com/PaddlePaddle/PaddleDetection/blob/ab6ca82d2af79384016d19e64daa5b19cc0691e9/deploy/python/preprocess.py#L49

不过看您是静态图，总之就是确保 Resize后输入的shape和您想要的匹配。

[2021-08-09 05:59] 827346462 commented on #3915
单卡训练
我昨天已经换了一个启动方式
有错的:python ./tools/train.py -c ./configs/mask_rcnn/mask_rcnn_r50_1x_coco.yml
可以启动训练的：python ./tools/train.py -c ./configs/mask_rcnn/mask_rcnn_r50_fpn_1x_coco.yml
但还是会出现警告，而且我改改动源码不会生效。
![image](https://user-images.githubusercontent.com/50097546/128665184-28ac29db-8ab9-45fa-b27b-2346e5e58e5e.png)
 例如。：
![image](https://user-images.githubusercontent.com/50097546/128665228-1ff1dae3

[2021-08-09 06:08] wangxinxin08 commented on #3917
这个提示是说你的环境没有安装pycocotools，需要先安装pycocotools

[2021-08-09 06:09] wangxinxin08 commented on #3918
可以把log_dir的workerlog.0发一下看下

[2021-08-09 06:18] yeyupiaoling commented on #3918
[workerlog.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6952444/workerlog.zip)

[2021-08-09 06:33] wangxinxin08 commented on #3918
看了下log文件缺乏有效的报错信息，可以贴下你运行的PaddlePaddle版本，PaddleDetection版本以及运行的命令，除此之外也可以贴下修改的内容

[2021-08-09 06:47] yeyupiaoling commented on #3918
- PaddlePaddle 2.1.2
 - PaddleDetection 2.2

[code]

配置文件train中的batch_size改为8

训练代码：
[code]

[2021-08-09 07:39] kaixin-bai opened #3919 "[Other General Issues] 训练完没有保存 model_final 模型"
## 遇到的问题
训练完成没有保存model_final模型，且loss还比较高。

## 疑问
训练完没有保存model_final模型是否说明模型效果不好，所以没有自动保存，还是因为我哪里做错了啊？

[2021-08-09 07:43] 827346462 commented on #3915
![image](https://user-images.githubusercontent.com/50097546/128673650-b4fd513d-b60a-4e67-9457-03d65e328cba.png)
训练可视化解析不出来

日志里面全是乱码

[2021-08-09 08:00] 827346462 commented on #3915
![image](https://user-images.githubusercontent.com/50097546/128675546-d7b0b716-6d46-4bd1-be8a-56616cfc2c35.png)
这个问题又出现了、
https://aistudio.baidu.com/paddle/forum/topic/show/988818 这个链接说最新的版本解决了 但是我就是最新的呀。还是出现了错误

[2021-08-09 08:46] Gaojun211 commented on #3884
不好意思，数据需要保密。

[2021-08-09 08:53] wangxinxin08 commented on #3919
使用的PaddlePaddle，PaddleDetection以及运行的命令是什么？model_final没有保存的话可以看下训练是否正常退出了？loss比较高，可以先检查下：1. 学习率的设置 2.数据集路径等设置以及num_classes的设置

[2021-08-09 11:06] #3919 closed, assigned to nobody

[2021-08-09 11:27] lihui669 opened #3921 "我用自己的COCO格式的数据集训练PPyolov2,为什么测试的结果全都接近于0"
我的损失函数收敛在23左右，测试结果为0是什么原因呢？训练的时候需要修改标签吗？在哪里修改标签？

[2021-08-09 12:13] TianpengBu opened #3922 "[模型蒸馏 Feature Map NMS 是否支持]"
如题，参考了PaddleDetection推荐的参考文章：Object detection at 200 Frames Per Second，上面在模型蒸馏中提出了两个方法：
1. objectness scaled distillation
2. feature map NMS

参考了Paddle的代码，看到代码中有用到1的方法，但是没有看到feature map NMS的方法。请问开发者，是因为这个方法对蒸馏效果不明显才弃用的吗？有无相关实验或者方法，想要参考一下～ 感谢

[2021-08-09 12:26] Jialiang123 opened #3923 "评估YOLOV3训练出来的模型"
想请问一下，我用的是VOC格式的数据集，用yolov3训练完模型后进行评估，在评估时PaddleDetection能否对每个不同的类生成一个相应评估结果的txt,
![image](https://user-images.githubusercontent.com/37236583/128705264-d16dcd7e-93f2-47ff-8927-f2cbeaead2fa.png)
每一行是一张测试图，最前面是对应的图片名无后缀，后面的数字依次是置信度、预测框的两个坐标值

[2021-08-09 14:01] heavengate commented on #3918
上面还有其他报错信息么？
另外可以看下`free -h`查下内存信息和`df -h`看下共享内存大小

[2021-08-10 00:30] zsffuture opened #3925 "模型对象作为参数传入到回调函数里无法调用GPU？"
业务需求中存在回调函数，数据源来源回调函数，因此需要把模型初始化放在主函数，推理部分通过传参进入回调函数进行推理，这样做代码可以跑，但是无法调用GPU，把推理函数放到主函数内推理就可以调用GPU，因此不知道如何解决在回调函数内进行推理无法调用GPU的问题如何解决？

[2021-08-10 01:11] yeyupiaoling commented on #3918
@heavengate 没有了，我已经把全部的日志都提供了。

[code]

[2021-08-10 01:19] yumeng88 opened #3926 "ppyolo_r50vd_dcn_2x_coco训练308个epoch停止，该怎么没解决？"
Process Process-660:
Traceback (most recent call last):
  File "/media/asus/225A6D42D4FA828F/2021Intern/renyumeng/PaddleDetection-release-2.2/ppdet/data/reader.py", line 210, in __next__
  File "/home/asus/anaconda3/envs/pandle/lib/python3.6/site-packages/paddle/fluid/dataloader/dataloader_iter.py", line 609, in __next__
  File "/home/asus/.local/lib/python3.6/site-packages/six.py", line 719, in r

[2021-08-10 02:43] lyuwenyu commented on #3921
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/category.py

建议可视化看一下

[2021-08-10 02:48] lyuwenyu commented on #3926
reusme继续从断得地方训练

`-r`

[2021-08-10 02:50] lyuwenyu commented on #3923
目前不支持  自己写个后处理？

[2021-08-10 03:04] yumeng88 commented on #3926
@lyuwenyu 谢谢，已经从断的地方开始训练，为什么会出现这种情况是dataloader的问题还是什么问题呀

[2021-08-10 03:18] yeyupiaoling commented on #3918
@heavengate 有时候还会突然出这种错，

[code]

[2021-08-10 03:40] smallwhi commented on #3743
直接训练ppyolo，没有量化或裁剪，仍然遇到相同的问题--训练出来的模型用来预测没有框，我在训练yolov3_darknet却不会发生这种问题

[2021-08-10 04:48] ResonLee opened #3927 "安装报错The original error is: No module named 'paddle.fluid.core_avx'"
## 描述问题/Describe the bug
Windows下安装配置PaddleDetection develop版本，CUDA版本为10.1，安装完成后验证安装情况，import paddle,报错The original error is: No module named 'paddle.fluid.core_avx'

## 复现/Reproduction

[code]

[2021-08-10 05:36] STUSER001 commented on #3917
这个 我知道 就是现在 问题是 我这次装好了 下次启动 又得在装一遍 也就是说我每次 启动 paddle 环境 就要装一遍

[2021-08-10 05:46] lyuwenyu commented on #3927
安装时候的命令是？

[2021-08-10 05:48] lyuwenyu commented on #3926
这个问题相关同学已经在处理了   后续有进展了会更新到QA列表里

[2021-08-10 05:52] lyuwenyu commented on #3927
`python -m pip install paddlepaddle-gpu==2.1.2.post101 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html`

[2021-08-10 05:52] yumeng88 commented on #3926
@lyuwenyu 好的，多谢

[2021-08-10 06:06] ResonLee commented on #3927
因为安装的是develop版本的，所示安装命令按教程给的是
python -m pip install paddlepaddle-gpu==0.0.0.post101 -f https://www.paddlepaddle.org.cn/whl/windows/gpu/develop.html

[2021-08-10 06:16] wangxinxin08 commented on #3917
AI studio每次重启都要安装依赖

[2021-08-10 06:22] STUSER001 commented on #3917
这样啊 那好吧 我还以为 我配置有问题呢 谢谢

[2021-08-10 06:31] ghost opened #3928 "在百度平台上运行infer.py出错"
2021-08-09 08:30:00,507-WARNING: config YOLOv3Loss.batch_size is deprecated, training batch size should be set by TrainReader.batch_size
/usr/local/python-3.7/lib/python3.7/site-packages/paddle/fluid/framework.py:689: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you

[2021-08-10 06:32] ghost commented on #3928
请问应该如何解决

[2021-08-10 07:08] lyuwenyu commented on #3925
那就先想办法在主函数里做吧

[2021-08-10 07:11] yghstill commented on #3922
@TianpengBu feature map NMS在实验中发现效果不明显，性价比不是很好，所以没有继续探索。

[2021-08-10 07:34] lyuwenyu commented on #3927
移步 ---> https://github.com/PaddlePaddle/Paddle/issues

[2021-08-10 07:45] #3815 closed, assigned to heavengate

[2021-08-10 08:09] sinoboy168 opened #3931 "train的结果保存路径如何修改"
各位大佬，默认将训练生成的模型保存在当前output文件夹下，如何修改这个保存路径，谢谢！

[2021-08-10 09:28] lyuwenyu commented on #3931
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/runtime.yml#L3

[2021-08-10 09:29] lyuwenyu commented on #3928
xml格式不对？

[2021-08-10 09:31] lyuwenyu commented on #3928
数据有问题？

[2021-08-10 09:31] lyuwenyu commented on #3928
执行的命令是啥？

[2021-08-10 09:43] Jialiang123 opened #3935 "yolov3推理时得到预测结果"
您好，请问一下YOLOV3进行推理预测时，加上参数--save_txt后，每一张推理得到的图片都会生成一个对应的txt文本，我想请问一下，对应的参数分别代表什么意思，尤其是最后面四个数，是xmin,ymin,xmax,ymax还是x,y,w,h呢，或者是处理后的数据？
![image](https://user-images.githubusercontent.com/37236583/128844321-6d2cb8eb-d0b1-445b-9488-548b80df1fb4.png)

[2021-08-10 10:04] lyuwenyu commented on #3935
画一下就知道了...  应该是 label_name  score  xmin ymin w h

https://github.com/PaddlePaddle/PaddleDetection/blob/ab6ca82d2af79384016d19e64daa5b19cc0691e9/ppdet/utils/visualizer.py#L103

[2021-08-10 14:32] youngstu opened #3939 "量化训练后模型速度几乎没有变快"
![image](https://user-images.githubusercontent.com/26452514/128885417-4e7e19dd-2711-4735-b592-1eee46be3146.png)

[2021-08-10 14:36] youngstu opened #3940 "性能相近的处理器同一网络性能数据差别很大"
![image](https://user-images.githubusercontent.com/26452514/128886267-6f419169-80a2-42ba-b9ee-7fe5da8f8719.png)
![image](https://user-images.githubusercontent.com/26452514/128886382-fa0821b3-d2da-44ec-8a5d-982637aa5e65.png)

[2021-08-10 14:43] youngstu opened #3941 "PPYolo_Tiny 是否支持量化训练？"
![image](https://user-images.githubusercontent.com/26452514/128887566-0c65d2a8-904c-4d47-9d4c-70cce7adffbe.png)

[2021-08-11 00:36] yeyupiaoling commented on #3918
@heavengate 如果用单卡也会出现这种情况：

[code]

[2021-08-11 01:51] #3810 closed, assigned to yghstill

[2021-08-11 01:52] liuxi1007 opened #3942 "[BUG]单类别实例分割 map一直为0"
### 数据集
对某单个类别进行实例分割，数据集标签只包含一个类别，一张图像中有多个此类别的物体，要求分割出来。
### 训练
PaddleDetection release/2.2版本，数据集标签只包含一个类别的样本，训练loss下降至0.07，可视化结果中mask-map始终为0.
### 疑问
请问这种现象是怎么回事，如何应对？这种情况下的map如何计算？请问是否这种现象与difficult参数有关，还是其他原因？

[2021-08-11 02:38] heavengate commented on #3899
如果是自定义的数据集，需要对应的`configs/datasets/xxx.yml`配置文件里`TestDataset`的anno_path指定到你的标注文件所在路径，否则会因为找不到标注文件而读取默认的COCO、VOC这些数据集的类别

[2021-08-11 02:39] heavengate commented on #3896
把`TestDataset`里的anno_path配置成你的val.json的绝对路径试下呢

[2021-08-11 02:51] ghost opened #3943 "ppyolo_r18vd.yml如何加入dcn"
我想给ppyolo_r18vd.yml加入dcn,是不是只需要在
![image](https://user-images.githubusercontent.com/87430649/128962095-60215a4f-dd87-4593-8e7b-2081bc5e155a.png)加入dcn_v2_stages: [3]这一句就可以了

[2021-08-11 03:13] sinoboy168 opened #3944 "30分钟快速上手PaddleDetection的预测结果为什么会这样啊？"
我按照文档上做的训练，数据集也是官网下载的，可是结果为什么会这样呢？路标的label里面就没有aeroplane啊。
谢谢大佬解答！
![road554](https://user-images.githubusercontent.com/41009721/128963694-1f0097c4-6f9a-431e-9f39-6a1fffe0984c.png)

[2021-08-11 03:47] youngstu opened #3945 "ppyolo_tiny 基于麒麟990处理器性能测试和文档相差30倍"
![Screenshot from 2021-08-11 11-47-19](https://user-images.githubusercontent.com/26452514/128966552-077ab439-6af0-42fe-92a0-e9b4063841b1.png)
![Screenshot from 2021-08-11 11-45-33](https://user-images.githubusercontent.com/26452514/128966558-34c4530c-cf71-4ba7-8000-27bea9785030.png)

测试环境：华为Mate30 5G版（麒麟990处理器）、armv8、4线程、320x320分辨率

[2021-08-11 05:10] smallwhi opened #3946 "Yolov3-darknet53预测结果的类别与数据集的类别不对应"
是预训练权重的问题吗？还是数据集的问题？
训练出来的类别和数据集不一样。如下
![image](https://user-images.githubusercontent.com/66171021/128972861-7a782abb-8cfe-4673-9d42-060c51e4bbc5.png)
而我的类别里明明是松鼠啊
![image](https://user-images.githubusercontent.com/66171021/128972929-1b4cbb45-bff1-4eae-a919-3240320e24c7.png)

[2021-08-11 06:02] STUSER001 commented on #3896
已解决 多谢

[2021-08-11 06:02] #3896 closed, assigned to heavengate

[2021-08-11 06:02] #3899 closed, assigned to heavengate

[2021-08-11 06:02] #3917 closed, assigned to nobody

[2021-08-11 07:28] zcswdt opened #3948 "训练找不到参数，"
您好我的训练命令是如下，但是会报错，解析不了config，帮忙看看，谢谢
![image](https://user-images.githubusercontent.com/43515926/128987718-79894364-7a33-4885-9d97-e21e97234335.png)

[2021-08-11 09:11] nemonameless commented on #3948
训练命令语句多加了一个`tools/train.py`

[2021-08-11 09:17] nemonameless commented on #3946
换数据集的话，你改动了哪个文件哪些地方吗？ https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/source/category.py    这里有没有加你自己改的类别？

[2021-08-11 09:20] nemonameless commented on #3944
请问你改动了哪个文件哪些地方吗？ 另外检测库版本是哪个？

[2021-08-11 09:22] zcswdt commented on #3948
谢谢回复

[2021-08-11 09:23] nemonameless commented on #3943
是的加上这一句
`dcn_v2_stages: [3]`
并且尽可能使用develop分支

[2021-08-11 09:25] zcswdt opened #3949 "batch-size和显卡爆满问题"
您好，我的显卡内存有8G，但是训练的显卡内存爆掉了，但是我看batch-size=2，如果设置成1的来训练就是单张图片来训练，请问会对训练有影响吗？
![image](https://user-images.githubusercontent.com/43515926/129004263-5e2c6046-13f4-4dd1-88d9-c650994c8484.png)

[2021-08-11 09:25] nemonameless commented on #3942
使用的哪个模型和训练命令？也可以提供下loss截图。另外可视化结果是否很乱，还是只是mask-map为0？

[2021-08-11 09:25] ghost commented on #3943
加了dcn,运行报错如下:
Traceback (most recent call last):
  File "tools/train.py", line 139, in <module>
    main()
  File "tools/train.py", line 135, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 101, in run
    trainer = Trainer(cfg, mode='train')
  File "/root/paddlejob/workspace/env_run/PaddleDetection/ppdet/engine/trainer.py", line 85, in __init__
    self.model = create(cfg.architecture)

[2021-08-11 09:26] ghost commented on #3943
Traceback (most recent call last):
  File "tools/train.py", line 139, in <module>
    main()
  File "tools/train.py", line 135, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 101, in run
    trainer = Trainer(cfg, mode='train')
  File "/root/paddlejob/workspace/env_run/PaddleDetection/ppdet/engine/trainer.py", line 85, in __init__
    self.model = create(cfg.architecture)
  File "/root/

[2021-08-11 09:29] nemonameless commented on #3943
改动已经合入develop分支

[2021-08-11 09:30] kaixin-bai commented on #3743
遇到的问题和 @smallwhi 一样，用yolov3_darknet可训练可收敛，类似的参数用ppyolo无法收敛

[2021-08-11 10:37] heavengate commented on #3941
这个不是量化训练，是训练完模型之后的后量化

[2021-08-11 10:38] nemonameless commented on #3949
batch-size减半，理论上相应lr也减半，训练精度才会和原先基本差不多

[2021-08-11 10:39] youngstu commented on #3941
是的，这个是动态离线量化，能否支持量化训练呢？

[2021-08-11 10:44] heavengate commented on #3945
可以排查一下这几个方面：
1. 手机是否处于激活状态，一般建议亮屏测试，保证CPU几个主核在正常运转
2. 手机是否有其他任务，建议请一下缓存任务
3. 测试的时候建议先跑10-20个左右的warmup step，然后再跑预测速度测试，头几次会有一些启动任务比较耗时
4. 模型权重是否正确加载了，预测出来的图片里有没有结果，如果模型权重没有正确加载，会导致输出乱码，nms耗时大幅增加

[2021-08-11 11:52] mortal-Zero opened #3952 "两卡训练ppyolo的报错"
环境：Ubuntu16.04
gcc            8.4.0
python       3.7
cuda          10.1
cudnn        7.6.5
paddle       2.1.1
paddledet  2.1.0

您好，我在尝试训练ppyolov2，当设置gpu=0,1时会报错，当改为gpu=0时，就可以正常训练。

终端命令如下：
python -m paddle.distributed.launch --gpus 0,1 tools/train.py -c configs/ppyolo/ppyolov2_r50vd_dcn_365e_coco.yml --eval

报错信息如下：
-----------  Configuration Arguments -----------
gpus: 0,1
heter_worker_num: None

[2021-08-11 12:02] zkf331 commented on #3922
@yghstill 您好，请教两个问题：
1、objectness scaled distillation 中的参数 weights 是大概怎么选择的呢。是根据 weights * distillation_loss 和 student_loss 在一个量级上吗
2、我在 pytorch 复现了 objectness scaled distillation 和 FM-map，两个方法一起使用比只使用 distillation 精度要高一点。但相同的 epochs，训练时间增加了一倍。你们也是这个原因吗

[2021-08-11 12:03] zkf331 commented on #3922
@yghstill 您好，可以请教您两个问题吗
1、objectness scaled distillation 中的参数 weights 是大概怎么选择的呢。是根据 weights * distillation_loss 和 student_loss 在一个量级上吗？
2、我在 pytorch 复现了 objectness scaled distillation 和 FM-map，两个方法一起使用比只使用 distillation 精度要高一点。但相同的 epochs，训练时间增加了一倍。你们也是这个原因吗？
期待您的回答，谢谢！

[2021-08-11 12:12] #3943 closed, assigned to nobody

[2021-08-11 14:01] smallwhi commented on #3946
我是在aistudio上训练的，只配置了如下文件：
![image](https://user-images.githubusercontent.com/66171021/129042567-bf2ff42b-3119-4727-acd5-3cc4c3b75479.png)
修改了coco_detections.yml中类别数为自己的
![image](https://user-images.githubusercontent.com/66171021/129042606-a6753363-5df1-49fd-8775-04b5677cc0e4.png)
似乎不能改动您说的这个文件
不过似乎id与这个文件对应
请问在aistudio上需要怎么修改？

[2021-08-11 15:01] Tolk5946 opened #3954 "ppyolov2第一次评估出错"
![QQ图片20210811225858](https://user-images.githubusercontent.com/79153269/129053424-db7382b9-1c11-40fb-b3dc-edc042417615.png)
使用ppyolov2_r101vd_dcn_365e_coco.yml训练，在第一个epoch结束之后报错，这是什么原因呢？

[2021-08-12 00:01] sinoboy168 commented on #3944
我改了configs里面的几个设置，训练集没有动。库版本是按照“30分钟快速上手”文档安装的。

[2021-08-12 00:16] liuxi1007 commented on #3942
模型：SOLOv2
训练命令：python tools/train.py -c ***.yml --use_vdl=True --eval
可视化结果：loss正常下降，只是mask-map一直为0

[2021-08-12 00:17] liuxi1007 commented on #3942
模型：SOLOv2
训练命令：python tools/train.py -c ***.yml --use_vdl=True --eval
可视化结果：loss正常下降，只是mask-map一直为0

[2021-08-12 01:56] yumeng88 commented on #3954
你试着把验证的batchsize改成1试试

[2021-08-12 01:59] Tolk5946 commented on #3954
好的谢谢

[2021-08-12 02:02] Tolk5946 opened #3955 "ppyolov2评估时间长"
![Snipaste_2021-08-12_10-00-34](https://user-images.githubusercontent.com/79153269/129127074-3c8ab176-2c1f-41b4-9985-dd6d5aed4949.jpg)
已将数据集改成voc数据集，用其他模型都很快，唯独ppyolov2非常慢，这正常吗？

[2021-08-12 02:08] #3948 closed, assigned to nobody

[2021-08-12 02:21] nemonameless commented on #3954
ppyolov2 一般前期效果差eval会很慢，建议snapshot_epoch 设置成 3~5epoch

[2021-08-12 02:22] nemonameless commented on #3955
mAP最终多少？
训完了还是刚开始几个epoch的eval ？ppyolov2 一般前期效果差eval会很慢，建议snapshot_epoch 设置成 3~5epoch

[2021-08-12 02:23] Tolk5946 commented on #3955
刚开始训，好的我去设置一下snapshot_epoch

[2021-08-12 02:32] yghstill commented on #3940
@youngstu 第一张图是在SD855上4线程测试结果，第二张图是kirin 990上单线程测试结果，SD855和kirin 990本身有性能差异，4线程和单线程也有性能差异

[2021-08-12 02:38] yghstill commented on #3939
@youngstu 由于量化训练只量化了conv等层，像后处理等无法量化，所以导致PPYOLO模型整体量化加速比不高。目前正在适配支持FP16预测，FP16支持更多的kernel，加速效果比int8好点。

[2021-08-12 02:39] yghstill commented on #3941
@youngstu 支持量化训练，参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/slim/quant/ppyolo_mbv3_large_qat.yml 修改即可训练

[2021-08-12 02:52] nemonameless commented on #3942
使用mask rcnn训练过吗精度正常吗？再检查下是否数据集制作方面没有问题？

[2021-08-12 02:55] youngstu commented on #3945
按上面要求，又重新测试了几次，结果如下，还是差几十倍

![Screenshot from 2021-08-12 10-51-19](https://user-images.githubusercontent.com/26452514/129131088-d1fb8aab-e17c-4a61-840f-f04f29edd714.png)

测试方法：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/lite

能否帮忙确认一下，文档中性能测试数据是不是有问题，不大可能差几十倍呢

[2021-08-12 03:23] zcswdt opened #3957 "coco格式的数据集改类别名字"
自己coco格式的数据集改类别名字在哪个文件改呢？ 我看voc会有个label_list.txt，我coco格式的训练完发现，类别没改，请问在哪修改？

[2021-08-12 03:51] ghostxsl commented on #3957
coco数据集的类别名在annotation的json文件里，你可以修改json文件里的categories字段去适配你自己的数据集。
参考x2coco的代码：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/tools/x2coco.py

[2021-08-12 04:32] zcswdt commented on #3957
那我测试的时候类别怎么改呢？现在测试完了类别直接是coco的类别，可视化展示的时候。

[2021-08-12 04:49] nemonameless commented on #3952
有改动其他配置文件吗？建议使用paddle2.1和PaddleDetection develop分支

[2021-08-12 04:53] ghostxsl commented on #3957
如果你用的metric是coco，并且在inference的时候没有指定anno_file的话，会默认加载coco对应的类别名，参考代码：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/category.py#L43

建议解决方案：
1. 生成自己数据集的anno_file，并修改对应的categories字段，在infer时指定anno_file
2. 直接修改default的类别名：_coco17_category()，参考代码：https://github.com/PaddlePaddle/PaddleDetection/blob/4c09bff65c5a2906b9059b328c1cf8fe31417c46/ppdet/data/source/category

[2021-08-12 04:55] zcswdt commented on #3957
我还是改一下voc格式的吧。谢谢了

[2021-08-12 06:37] mortal-Zero commented on #3952
改动了锚点框尺寸，训练批次大小改为了2，验证批次大小改为了1，以及数据集路径，应该不是导致这个问题的原因。
我按照您的建议使用了paddledetection的develop分支，同样是训练ppyolov2，还是出现上述问题，gpus改为0后，单卡训练还是正常，也确实使用了0序号卡
请问可能是我的机器本身的环境导致的吗？

[2021-08-12 06:38] #3886 closed, assigned to nemonameless

[2021-08-12 07:22] CY-GAO222 opened #3959 "GPU单卡训练报错"
![1628752427(1)](https://user-images.githubusercontent.com/70746768/129154872-0469bbfb-2dd4-409c-a574-d128cd9c8260.jpg)
根据教程先export CUDA_VISIBLE_DEVICES=1,
接着python tools/train.py -c configs/yolov3/yolov3_mobilenet_v3_large_270e_coco.yml  --slim configs/slim/quant/yolov3_mobilenet_v3_qat.yml

但是报错：ValueError: The device should not be 'gpu', since PaddlePaddle is not compiled with CUDA

[2021-08-12 07:54] ghostxsl commented on #3959
应该是你安装的paddle版本不对，需要安装带GPU预编译的版本。

参考官网上安装步骤：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html
如pip安装gpu版本命令：python -m pip install paddlepaddle-gpu==2.1.2.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

[2021-08-12 07:59] axiaochaochao opened #3960 "paddleslim 的prune.py会出现`Segmentation fault` is detected by the operating system.错误"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2021-08-12 08:10] zcswdt opened #3961 "训练报错"
![image](https://user-images.githubusercontent.com/43515926/129161951-fa1aeee2-47a1-4d0b-8f44-12b11e46ae8f.png)
很奇怪的是，我给voc.py里面的这些东西注释了，但是还是会报错，真是奇怪啊奇怪
![image](https://user-images.githubusercontent.com/43515926/129163087-b7cfd714-ace9-48c3-915e-5e68302bbad2.png)

[2021-08-12 08:21] ghostxsl commented on #3961
看报错提示的话应该是没有在您提供的val.txt发现annotations，您可以check一下 val.txt 中的数据格式是否正确。
你注释掉以后要卸载之前安装的paddledetection，重新pip install一下

[2021-08-12 09:11] yumeng88 opened #3965 "ValueError: fruit-dection is not valid and cannot parse dataset type 'fruit-dection' for automaticly downloading, which only supports 'voc' , 'coco', 'wider_face', 'fruit', 'roadsign_voc' and 'mot' currently"
两周前我拿训练好的模型是可以评估的，现在无法评估不知道除了什么问题。
已经参考上一个提问此问题的同志，注释掉ppdet/data/source/dataset.py里的函数
![image](https://user-images.githubusercontent.com/56550062/129170789-150251ae-589d-4e97-ae9d-9b655291e661.png)

想问一下还有可能是哪里的问题。期间数据集是没有改动的

(pandle) asus@asus-System-Product-Name:/media/asus/225A6D42D4FA828F/2021Intern/renyumeng/PaddleDetection-release-2.2$ python -u tools/eval.py -c configs/yolov3/yolov3_darkn

[2021-08-12 09:16] #3926 closed, assigned to nobody

[2021-08-12 09:18] zcswdt commented on #3961
谢谢回复，那训练数据的格式是这样的么？中间的fengefu分隔符是/t还是空格？
![image](https://user-images.githubusercontent.com/43515926/129171887-12fc06d1-f74c-4c7a-8145-0c9ce67d9f94.png)
为什么我在代码中注释了然后还会打印，还要卸载paddledection，那这个代码存在的意义是什么呢？

[2021-08-12 09:28] ghostxsl commented on #3961
你使用的paddle、paddledetection版本是多少？修改了什么？
你是通过pip install paddledetection以后使用的吗？

[2021-08-12 09:30] zcswdt commented on #3961
我拉取的镜像，完全按照文档来的，然后是2.1版本的，没用修改过，我是下载的源码使用的，不是pip install paddledection

[2021-08-12 09:33] JackDance opened #3966 "自定义数据增强算子，训练时报错"
我在paddledetection/ppdet/data/transform/operators.py新增加了一个自定义的数据增强算子，并在相应的reader.yml文件中加入了该算子名称，但是训练的时候直接报如下的错误，所有修改的地方如下图所示，请问是什么问题呢？
![image](https://user-images.githubusercontent.com/46999456/129172864-a7e13f42-cfc0-4b2c-b9d6-30d92566ff2e.png)
![image](https://user-images.githubusercontent.com/46999456/129174344-9ddbbee1-ede1-4232-b5ec-9a666185c5f7.png)
![image](https://user-images.githubusercon

[2021-08-12 09:34] ghostxsl commented on #3961
麻烦发一下你修改voc.py之后完整的代码

[2021-08-12 10:20] zcswdt commented on #3961
![image](https://user-images.githubusercontent.com/43515926/129180862-81c3f519-5e16-4738-a5ae-76f40922d1f0.png)
我就注释了，没修改任何东西，但是还是会打印。
[voc.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6974651/voc.zip)

[2021-08-12 10:29] ghostxsl commented on #3961
如果你注释了，执行时没生效，我感觉应该是你用的这个镜像原本就安装了ppdet，你可以先pip uninstall一下，再在你这个源码路径下运行一下看看呢

[2021-08-12 10:31] ghostxsl commented on #3960
我这边按照您提供的环境及命令复现了，没有报Segmentation fault的错误，能够正常运行，建议您可以check一下自己的数据集是否正确
![image](https://user-images.githubusercontent.com/23647349/129182223-ec5f84aa-b5b3-49d5-badd-93178df898f4.png)

[2021-08-12 10:52] ghostxsl commented on #3965
你要是跑tools/eval.py的话，得注释掉https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/dataset.py#L90-L91 这两行，再加上 return ，或者你确保 self.dataset_dir, self.anno_path, self.image_dir 这三个路径均存在的话，也不会调用check_or_download_dataset而导致报错

[2021-08-12 11:00] ghostxsl commented on #3966
我感觉你写的没问题
可以再检查一下是不是改动了代码其他的地方，或者pip list看一下你是否安装了ppdet，可以卸载后再重新执行一下看看呢

[2021-08-12 12:49] yumeng88 commented on #3965
好的，多谢同志搞好了 @ghostxsl

[2021-08-12 12:49] #3965 closed, assigned to nobody

[2021-08-12 13:51] kaixin-bai commented on #3100
我遇到同样的情况，更改了CUDNN的版本，改小了batch_size的大小，然后也用了`export FLAGS_allocator_strategy=auto_growth`后可以正常训练了

[2021-08-12 14:27] yeyupiaoling commented on #3918
我把图片缩放到相对比较小再训练好像就没有问题了

[2021-08-12 14:27] #3918 closed, assigned to heavengate

[2021-08-12 15:42] jhcgt4869 opened #3967 "文档某处超链接失效"
bug提交来源：https://aistudio.baidu.com/paddle/forum/topic/show/990235

问题地址：https://paddledetection.readthedocs.io/tutorials/Custom_DataSet.html#demo

准备数据里面的方法三中：**添加新数据源**的链接无法实现。

![image](https://user-images.githubusercontent.com/61859193/129225932-9871eb77-5f74-4e9a-8164-f643581c5822.png)

超链接地址：https://paddledetection.readthedocs.io/advanced_tutorials/READER.md#%E6%B7%BB%E5%8A%A0%E6%96%B0%E6%95%

[2021-08-13 00:38] axiaochaochao commented on #3960
谢谢您的回复，但是我的数据集可以用于MaskRcnn训练，训练过程没有报错，但是用于剪枝出现上述报错。

[2021-08-13 01:14] yangy996 opened #3968 "MaskRcnn量化训练正常，但是导出模型进行识别时候报错了"
[code]

[2021-08-13 02:03] zcswdt commented on #3961
那训练数据的格式是这样的么？中间的分隔符是/t还是空格‘ ’分隔符？
 ![image](https://user-images.githubusercontent.com/43515926/129171887-12fc06d1-f74c-4c7a-8145-0c9ce67d9f94.png)

[2021-08-13 02:20] zcswdt opened #3969 "Cascade-Faster-RCNN-CBResNet200vd-FPN"
请问这个文件在哪里压，我在config文件里面没有找到
![image](https://user-images.githubusercontent.com/43515926/129295222-03a896f3-cd9e-4b9c-b79c-a425b132977f.png)

[2021-08-13 02:43] ghostxsl commented on #3961
\t或者空格‘ ’分隔符都可以的

[2021-08-13 02:50] JackDance commented on #3966
@ghostxsl 感谢回复！根据你的提示，再结合我下图的报错，发现应该是模型训练的时候自动选择了虚拟环境中安装的paddledet，当将该包卸载之后，重新训练就可以了
![image](https://user-images.githubusercontent.com/46999456/129298162-c48dfce7-f9aa-47fb-85a8-f3864c0cd14f.png)

[2021-08-13 02:59] heavengate commented on #3967
你好，这个文档是之前静态图的文档，我们从2.0版本开始支持了动态图，动态图的文档还在整理，我们会在近期整理更新一版动态图的文档，可以关注一下~

[2021-08-13 03:01] ghostxsl commented on #3952
看报错信息，应该是你nccl没有正确安装，才导致了你单卡能跑通，多卡跑不起来的情况，再检查一下自己机器的环境呢

[2021-08-13 03:13] mortal-Zero commented on #3952
好的呢，多谢解答。

[2021-08-13 03:27] youngstu opened #3972 "picodet模型量化训练如何配置？"
picodet模型量化训练是否支持，需要如何配置？

[2021-08-13 05:14] nemonameless commented on #3969
在static目录下，是以前的静态图模型
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/MODEL_ZOO_cn.md
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/dcn/cascade_rcnn_cbr200_vd_fpn_dcnv2_nonlocal_softnms.yml
#3450

[2021-08-13 05:34] qingqing01 commented on #3972
配置参考这里：

https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/slim/quant/picodet_s_mbv3_320_quant_coco.yml

训练流程参考：

https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/slim#%E5%BF%AB%E9%80%9F%E5%BC%80%E5%A7%8B

[2021-08-13 05:36] zcswdt commented on #3969
我想用来这个项目参加一下比赛，请问推荐哪个呢，或者 是哪个组合最好呢。谢谢

[2021-08-13 05:39] qingqing01 commented on #3969
如果想选择COCO上表现较好的模型、速度也没有要求的话，可以考虑此模型训练base看下效果。

[2021-08-13 05:47] qingqing01 commented on #3968
量化推理时，run_mode需要设置为 trt_int8， GPU上量化推理需要使用带有TensorRT版本的Paddle版本。

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/python/README.md#2-%E5%9F%BA%E4%BA%8Epython%E7%9A%84%E9%A2%84%E6%B5%8B

[2021-08-13 06:09] lujx1024 opened #3973 "关于ppyolo多卡训练的报错问题"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## 相关issue:

1. [issue1263 ppyolo单卡可以训练，指定多卡训练就出错了](https://github.com/PaddlePaddle/PaddleDetection/issues/1263)
2. [两卡训练ppyolo的报错](https://github.com/PaddlePaddle/PaddleDetection/issues/3952)

## 描述问题/Describe the bug

如同上述issue中出现的情况类似，ppyolo在使用单卡GPU训练时正常，指定多卡GPU训练时报错

## 环境/Environment
1. Paddle和PaddleDetection的版本号：
[

[2021-08-13 06:48] #3910 closed, assigned to nobody

[2021-08-13 06:50] #3931 closed, assigned to nobody

[2021-08-13 06:57] 827346462 opened #3974 "mask rcnn 训练问题"
![image](https://user-images.githubusercontent.com/50097546/129317102-c58e6e4e-7c9b-4f3f-b897-b743bc33d43e.png)

我用自己训练的数据集在win10上可以进行训练。但是在ai studio 进行训练就出现这个问题

[2021-08-13 07:07] yangy996 commented on #3968
大佬，怎么判断Paddle版本是否带有TensorRT呢？

[2021-08-13 07:46] yghstill commented on #3915
@827346462
（1）修改不能生效的问题，请先uninstall卸载paddledet，再进行尝试
（2）visualDL不能加载，你是通过--use_vdl和--vdl_log_dir配置visualDL启动的吗？
（3）Mask-RCNN的这个问题，你更新ppdet到develop或release 2.2再试下呢？

[2021-08-13 07:52] #3916 closed, assigned to nobody

[2021-08-13 08:09] JackDance commented on #3944
配置文件中testdataset路径写错了

[2021-08-13 08:15] axiaochaochao commented on #3960
您好，我可以方柏霓看看您复现的configs文件吗？现在这个报错我还是没有解决，我的数据集使用tools/train.py训练的时候都是正常的，就是执行prune.py的时候报错。我的配置文件如下：
mask_rcnn.yml:
architecture: MaskRCNN
use_gpu: true
max_iters: 180000
snapshot_iter: 10000
log_iter: 20
save_dir: output
pretrain_weights: ./pretrained_model/ResNet50_cos_pretrained.pdparams
metric: COCO
weights: output/warning/model_final
num_classes: 4

MaskRCNN:
  backbone: ResNet
  fpn: FPN
  rp

[2021-08-13 08:47] 617475jordan opened #3975 "[BUG] When using infer.py to detect s2anet, which will loading datasets in release/2.2."
[code]

[2021-08-13 09:23] 827346462 commented on #3915
我启动mask rcnn 项目 。我去用infer.py进行测试。但是我想修改它的trainer.py和visualizer.py来适应我自己的需求。但是修改了没有效果。只要修改infer.py才能有效。请问这是什么原因

[2021-08-13 09:24] qingqing01 commented on #3968
1. 2.1.2版本安装待TensorRT，参考下面链接

https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

<img width="891" alt="图片" src="https://user-images.githubusercontent.com/7845005/129335599-dafc1ee6-d39f-4862-82e0-a4bdc3a07dbb.png">

2. < 2.1.1版本的从下面链接下载，有多个trt版本，选择CUDA, cuDNN版本对应的whl包安装

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html

[2021-08-13 09:25] #3952 closed, assigned to nobody

[2021-08-13 09:32] heavengate commented on #3898
可以试下develop分支或者release/2.2分支，可以`pip uninstall paddledet`之后`python setup.py install`重新安装一下，release/2.1上之前有个训练收敛性问题

[2021-08-13 09:33] yghstill commented on #3915
@827346462 卸载paddledet后重新尝试

[2021-08-13 09:36] lyuwenyu commented on #3925
解决了没

[2021-08-13 09:40] qingqing01 commented on #3974
麻烦描述下AiStudio上 PaddleDetection版本、以及您修改了啥？ PaddleDetection源码里没有API的输入参数有` pad_gt`，您看下是不是配置文件改错了~

[2021-08-13 09:44] heavengate commented on #3925
你的回调函数是以什么方式调用的呢，有开启子线程之类的么，还有你用GPU是会报错么，报错信息是啥样的呢

[2021-08-13 09:45] nemonameless commented on #3944
把TestDataset里的anno_path配置成你的val.json的绝对路径试下
#3896

[2021-08-13 09:45] yghstill commented on #3922
@zkf331
1. weights是根据经验调整的，像您说的为了让distillation_loss 和 student_loss 在一个量级上，这样设置超参训练效果好一点。
2. 一方面是训练时间的原因，另一方面是精度收益不明显，可能是实现的有问题，没有继续跟进FM-map这个了。

[2021-08-13 09:45] nemonameless commented on #3946
把TestDataset里的anno_path配置成你的val.json的绝对路径试下
#3896 #3944

[2021-08-13 09:45] qingqing01 commented on #3975
@617475jordan 直接使用S2ANet推理是，依赖TestDataset中的 `trainval_split/s2anet_trainval_paddle_coco.json` 读取类别标签，

https://github.com/PaddlePaddle/PaddleDetection/blob/4c09bff65c5a2906b9059b328c1cf8fe31417c46/configs/datasets/dota.yml#L19

您需要下载DOTA数据集，以便能获取到标签。 参考这里进行下载  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/dota#dota%E6%95%B0%E6%8D%AE%E9%9B%86

[2021-08-13 09:48] 617475jordan commented on #3975
Thank you for reading my bug. I will try it in the future.

[2021-08-13 09:48] zcswdt commented on #3969
我现在使用这个模型来训练，会报错，DecodeImage模块，这个如何解决呢？
![image](https://user-images.githubusercontent.com/43515926/129338879-5d3e3623-3a6e-4e8d-8e35-b81f390b2765.png)

[2021-08-13 09:55] nemonameless commented on #3942
拉取develop分支最新代码试试

[2021-08-13 09:55] qingqing01 commented on #3969
使用静态图static模型时，需要pip uninstall paddledet，卸载已安装的动态图PaddleDetection版本:
[code]

[2021-08-13 10:00] heavengate commented on #3945
已提供测试代码

[2021-08-13 10:00] #3945 closed, assigned to heavengate, yghstill

[2021-08-13 10:00] #3949 closed, assigned to nobody

[2021-08-13 10:02] #3954 closed, assigned to nobody

[2021-08-13 10:07] #3450 closed, assigned to nobody

[2021-08-13 10:10] smallwhi commented on #3946
感谢已经解决了！
这么说，训练的时候有dataset_dir参数，所以可以是相对路径，测试时无法加载anno_path这一个参数，所以加载了默认的分类文件。
那么coco训练识别的其实是id，id对应的name不一样就显示不一样的类别了

[2021-08-13 10:26] pangyoki commented on #3973
你好，确定安装nccl成功了吗？`find / -name libnccl*`用这个命令找下试试看？

[2021-08-13 11:40] yangy996 commented on #3968
好的，多谢大佬

[2021-08-13 13:43] ghostxsl commented on #3960
我这边复现用的是static/configs/mask_rcnn_r50_1x.yml，我再用一下你提供的config复现一下看看

[2021-08-14 01:11] STUSER001 opened #3976 "实际自己检测结果 和 评估出来的 AP 值 差距很大"
自己看infer来的的结果 准确率 很高 但是 评估出来后的 AP 值却很低 什么情况？
![image](https://user-images.githubusercontent.com/88072901/129430123-0241345e-14bb-42f5-9953-0f68ec503074.png)

[2021-08-14 09:24] youngstu opened #3977 "自己制作的coco数据集训练出错"
[code]

[2021-08-14 10:01] CY-GAO222 opened #3978 "[Other General Issues]"
安装好环境，执行python ppdet/modeling/tests/test_architectures.py
报错如下：
ImportError: cannot import name '_api' from 'matplotlib' (/home/gcy/.local/lib/python3.7/site-packages/pycocotools-2.0-py3.7-linux-x86_64.egg/matplotlib/__init__.py)

[2021-08-14 13:36] liu100286 opened #3979 "[Other General Issues]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

## 描述问题/Describe the bug
/home/aistudio/PaddleDetection
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/matplotlib/__init__.py:107: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from c

[2021-08-14 13:47] liu100286 commented on #3979
问题已解决  把PaddleDetection 下的ppnet 复制到 /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/目录下
把原来的覆盖掉即可

[2021-08-14 14:59] yang20085936 opened #3980 "[BUG]安装 PaddleDetection 后验证不能通过"
安装环境满足安装文档中的环境要求：
PaddlePaddle 2.1
OS 64位操作系统
Python 3(3.5.1+/3.6/3.7/3.8/3.9)，64位版本
pip/pip3(9.0.1+)，64位版本
CUDA >= 10.1
 cuDNN >= 7.6

安装完后运行测试代码
`python ppdet/modeling/tests/test_architectures.py `
时候报错：
`Ran 5 tests in 0.088s
FAILED (errors=5)`

更新paddlepaddle之后报错依旧。cuda和cudnn正常安装，机器上TF和torch可在GPU环境下正常运行。
详细报错代码如下：
`/home/usename/anaconda3/envs/paddle1/lib/python3.7/site-packages/paddle/tensor/

[2021-08-14 16:55] #3694 closed, assigned to nobody

[2021-08-15 08:43] 827346462 commented on #3915
还是改动没效果呀 。我下载了pd2.2 以及从新安装了paddledet2.1.0。infer.py可以修改。但是其他的.py文件改了依然没有用。我想输出maskrcnn识别的框的坐标和截图。修改了完全不起作用

[2021-08-15 08:44] 827346462 commented on #3915
还是改动没效果呀 。我下载了pd2.2 以及从新安装了paddledet2.1.0。infer.py可以修改。但是其他的.py文件改了依然没有用。我想输出maskrcnn识别的框的坐标和截图。修改了完全不起作用

[2021-08-15 11:25] heavengate commented on #3976
第一行那个是IoU=0.5:0.95的评估标准，这个标准比较严格，有53.8%就是挺高的精度了，一般情况下我们看第二行那个IoU=0.5的标准就可以了，96.2%的精度也挺高的了

[2021-08-15 11:27] heavengate commented on #3977
看报错信息是子进程出segmentfault了，把对应的`configs/xxx/_base_/xxx_reader.yml`里的`num_workers`设置成0跑下看看报不报错呢

[2021-08-15 11:29] heavengate commented on #3978
看报错信息是`pycocotools` import matplotlib._api出错了，是不是matplotlib没有正确安装呢，可以重新安装一下matplotlib和pycocotools试下

[2021-08-15 11:31] heavengate commented on #3979
如果修改了代码的话可以`pip uninstall paddledet`然后`python setup.py install`重新安装一下

[2021-08-15 11:31] #3979 closed, assigned to heavengate

[2021-08-15 11:33] heavengate commented on #3980
[code]
看报错信息是没找到cuDNN，可以排查一下cuDNN是否正确安装，以及安装的cuDNN版本和Paddle需求的cuDNN版本是否一致

[2021-08-15 11:33] youngstu commented on #3977
把num_workers=0还是同样的问题。在coco数据集上验证也一样

[2021-08-15 16:56] thunder95 opened #3981 "[论文复现] 请问有torchvision.ops.batched_nms这个算子对应的实现吗"
请问有torchvision.ops.batched_nms这个算子对应的实现吗， 比如Matrix NMS算子是否能够替代这个？

[2021-08-16 00:40] lujx1024 commented on #3973
@pangyoki 您好，执行这个指令后，是能够找到文件的，如下所示：
[code]
请问这个结果时表示安装成功了么？ 当时是使用rpm本地安装包的形式进行安装的，也仔细对比了版本的问题。

[2021-08-16 00:42] Joran1101 commented on #548
请问找到原因了嘛？   我也遇到了这样的情况

[2021-08-16 02:03] qingqing01 commented on #3981
`multiclass_nms` 对应`torchvision.ops.batched_nms`功能：

https://github.com/PaddlePaddle/PaddleDetection/blob/4c09bff65c5a2906b9059b328c1cf8fe31417c46/ppdet/modeling/ops.py#L873

输入:  注意输入shape不同、Paddle用rois_num表示每个样本的box长度。Paddle多了更多阈值控制的功能。
输出：multiclass_nms的直接输出了score、label、box，也可以输出indices。torchvision只输出indices。

https://github.com/PaddlePaddle/PaddleDetection/blob/4c09bff65c5a2906b9059b328c1cf8fe

[2021-08-16 02:46] pangyoki commented on #3973
嗯嗯，看起来可以。这个路径`/usr/lib64`有添加到环境变量里吗？可以`echo $LD_LIBRARY_PATH`看下。

[2021-08-16 02:48] zcswdt commented on #3969
您好，我在训练的时候还是报错，原因是我给这个Yaml的coco加载方式改成了voc的，但是会报错。如下是我的改动：
![image](https://user-images.githubusercontent.com/43515926/129504874-57f90af8-d197-439e-b3cb-b94cac970364.png)

![image](https://user-images.githubusercontent.com/43515926/129504912-48c8f533-23e9-4158-994b-daf2b2037c0d.png)

[2021-08-16 02:49] lujx1024 commented on #3973
指令执行后，结果如下：
[code]
这个应该是没有加入到环境变量么？

[2021-08-16 03:02] 15050188022 opened #3982 "关于S2ANet的问题"
在我使用sa2net训练一个obb目标检测数据集时发现，infer时同一个目标会有多于一个的预测框，并且置信度不同。不知道这种情况时是否在论文里就是如此？我理解或许应该取置信度最高的一个预测框
![Uploading 4.png…]()
[4.txt](https://github.com/PaddlePaddle/PaddleDetection/files/6989514/4.txt)

[2021-08-16 03:10] pangyoki commented on #3973
是的，用`export LD_LIBRARY_PATH=/usr/lib64:$LD_LIBRARY_PATH`把这个路径加到环境变量试试

[2021-08-16 03:16] youngstu commented on #3977
2.1+dev版本，picodet+ppyolo_tiny，coco+自己的数据集问题都存在

[2021-08-16 05:53] liuhuaguang opened #3984 "使用cascade_rcnn模型预测同一环境的图片，有时正常有时报错，elementwise_div参数不匹配"
1）PaddlePaddle版本：2.1
2）GPU：1080 ti， cuda 10.2，cudnn 7.6.5
3）系统环境：Windows 10 专业版19042.1165， python 3.9
我使用PaddleDetection中的cascade_rcnn训练了一个模型，数据集的数量在400张，数据集的类型为coco，预测好并导出到本地后，通过“python D:\PaddleDetection\deploy\python\infer.py --model_dir=D:\PaddleDetection\inference_model\cascade_rcnn_r50_fpn_1x_coco --image_file=D:\PaddleDetection\demo\4.png --use_gpu=True”（其中，D:\PaddleDetection为我存PaddleDetect

[2021-08-16 06:23] lujx1024 commented on #3973
添加环境变量:
[code]

更新配置:
[code]
查看结果
[code]

多卡训练仍然报错，请您再帮忙看一下，错误的原因会是在什么地方，谢谢、 报错信息详情如下：
[code]

[2021-08-16 06:40] zcswdt opened #3985 "stadic分支下训练数据coco格式改voc报错"
您好，我在训练的时候还是报错，原因是我给这个Yaml的coco加载方式改成了voc的，但是会报错。如下是我的改动：
![image](https://user-images.githubusercontent.com/43515926/129504874-57f90af8-d197-439e-b3cb-b94cac970364.png)

![image](https://user-images.githubusercontent.com/43515926/129504912-48c8f533-23e9-4158-994b-daf2b2037c0d.png)

[2021-08-16 07:10] Fate-Tesstarosa opened #3986 "数据集在读入的时候报KeyError"
1）PaddlePaddle版本：2.1.2
2）CPU/GPU：GPU、P100、cuda10.1
3）系统环境：AIstudio

VOC数据读入的时候，报错：KeyError'table'

![image](https://user-images.githubusercontent.com/61540018/129523482-26faefe5-19a8-4dd1-97cc-18a04a72b9ed.png)

这里检查了一下是数据集里面存在label_list.txt里面没有的classname

所以就想在源代码中改一下，跳过数据集中没有在lable_list里面标注的classname：

源代码：PaddleDetection/ppdet/data/source/voc.py
从119行起：
`for i, obj in enumerate(objs):

[2021-08-16 07:20] nemonameless commented on #3985
静态图下使用和动态图的配置略有不同，请参考静态图的相关voc的配置写法，比如 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/yolov3_darknet_voc.yml
#3969

[2021-08-16 08:24] zcswdt commented on #3985
您好，请教一下，在静态图分支里面的label_list这个参数怎么指定，还有就是use_default_label这个是什么意思呢？谢谢
![image](https://user-images.githubusercontent.com/43515926/129533987-735b0c8e-776b-4c69-846f-a7605ec9dad2.png)

[2021-08-16 08:44] wangxicoding commented on #3986
总结下问题，假如数据集是(a, b, c)，lable_list是(b, c, d)。那么你这边的需求是跳过 (a, b, c) - (b, c, d) = (a,)也即数据集中存在而lable_list中不存在的(a,)。
正常情况下数据集和lable_list的classname需要完全对应。不过由于用户数据集来源不同，可能导致不对应的情况，这时候训练就会报错。然后你这边希望可能处理这种情况不报错。
对于这个问题，我理解常规情况下是需要检查classname是否对应的。如果希望不检查，应该可以给数据预处理加一个开关，是否开启检查或者跳过。
鉴于这个问题是PaddleDetection的，我帮你转到PaddleDetection下吧~

[2021-08-16 08:51] wangxinxin08 commented on #3986
自定义voc数据集需要指定自己的label_list，参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/datasets/voc.yml#L9, 可以运行
[code]
生成自己数据集的label list

[2021-08-16 09:13] Fate-Tesstarosa commented on #3986
是这么个情况，可以改进一下嘛，数据集一般情况下都是很大的，特别像是打比赛的，训练模型很多时候都是直接拿VOC跟coco跑，有些标签有时用不上，不至于说还要每张图片来改我的标签
用户目标肯定是约简单约好嘛，我期望的classname就在lable_list写好了，输入的时候就不要考虑其他classname的问题了吧。。。

[2021-08-16 09:25] yuyangup opened #3987 "[BUG] cascadeRcnn进行目标检测模型训练时第二轮训练结束后报错"
在使用cascadeRcnn进行目标检测模型训练时，第二轮训练结束后，报如下错误：
![1123](https://user-images.githubusercontent.com/18167382/129540947-c54e139d-b866-4829-98d1-c97c70a30bc3.png)
查看了配置文件，感觉也没有哪里不妥，最后在群里大佬的指导下，根据错误提示，修改了配置文件中的
`BBoxPostProcess:
  decode:
    name: RCNNBox
    prior_box_var: [30.0, 30.0, 15.0, 15.0]
  nms:
    name: MultiClassNMS
    keep_top_k: 100
    score_threshold: 0.05
    nms_threshold: 0.5
`
将 score_

[2021-08-16 09:32] wangxinxin08 commented on #3986
@dr-yanl 自定义数据集需要用户自己生成label list，classname本身就是读取的label list里面的定义，你报错的原因是你没有修改label list为你自定义数据集的class name。label list定义好了，就不会再需要考虑class name的问题了

[2021-08-16 10:53] zsffuture commented on #3925
解决了，不能直接传入对象，作用域不同，mq接收的消息可以直接拿到，把回调函数封装起来为一个类，通过对象调用即可，具体看我的最近博客，百度搜索zsffuture

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年8月13日(周五) 下午5:37
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 模型对象作为参数传入到回调函数里无法调用GPU？ (#3925)

解决了没

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Tri

[2021-08-16 11:04] #3981 closed, assigned to nobody

[2021-08-16 12:33] STUSER001 commented on #3976
这个意思啊  那下面的 表格 为啥 显示的 Ap 这么低呢？？

[2021-08-16 12:34] youngstu commented on #3977
在一些机器上运行良好，在其他机器上运行出错，可能需要检查一下代码是否依赖机器环境

[2021-08-16 12:40] youngstu opened #3988 "cutmix 运行出错"
![Screenshot from 2021-08-16 20-36-24](https://user-images.githubusercontent.com/26452514/129565330-cced9f35-6dc5-47bf-9113-23e9f1809b28.png)

[code]

问题：
1、cutmix 功能在其他机器上验证OK，在这个机器上运行出错
2、配置文件中没有开启cutmix功能（cutmix_epoch=-1），只是打开mosaic(mosaic_epoch=15)，但结果却报cutmix错误（在其他机器上不会存在解析错误的问题）
3、代码运行逻辑很多依赖机器环境，可能这方面要多检查一下

[2021-08-16 13:48] sosan-nian opened #3989 "paddledetection 训练中断"
使用2.1 运行yolov3_mobilenet_v1_roadsign.yml训练过程中断
![图片](https://user-images.githubusercontent.com/82444943/129574007-e4498afe-e6f0-4b00-8ef4-01227833911e.png)

[2021-08-16 15:17] yghstill commented on #3984
@liuhuaguang 此问题应该已经修复，更新代码至最新release 2.2分支再试下吧

[2021-08-16 15:18] yghstill commented on #3985
@zcswdt use_default_label表示是否使用voc默认的label list，如果自定义数据集，这个字段设置成false就行

[2021-08-16 15:20] yghstill commented on #3988
@youngstu 多谢反馈，我们排查定位一下问题

[2021-08-17 01:10] xinsuinizhuan opened #3992 "商品识别模型中检测模型ppyolov2_r50vd_dcn_mainbody_v1.0_infer，转onnx，3个操作不支持"
(paddle) D:\vison_software\paddle\Paddle2ONNX-develop>paddle2onnx --model_dir D:\vison_software\paddle\Paddle2ONNX-develop\models\ppyolov2_r50vd_dcn_mainbody_v1.0_infer\  --save_file onnx_models/resnet50_onnx/det_model.onnx  --opset_version 11 --enable_onnx_checker True --model_filename inference.pdmodel --params_filename inference.pdiparams
Traceback (most recent call last):
  File "C:\ProgramDat

[2021-08-17 01:58] wenli1216cy commented on #3489
可以尝试把导出模型中的infer_cfg.yml中的min_subgraph_size调整一下

[2021-08-17 02:19] #3946 closed, assigned to nobody

[2021-08-17 02:27] wenli1216cy opened #3993 "Paddle-TRT 静态图版本的CascadeRCNN在fp16精度下速度没有提升，显存反而增大了"
paddlepaddle使用的2.1.1,显卡是3090，已经安装tensorrt和paddle包。--run_mode=trt_fp16

[2021-08-17 02:35] yghstill commented on #3987
@yuyangup 感谢反馈，我们测试定位下问题

[2021-08-17 02:37] yghstill commented on #3989
@sosan-nian Windows小部分环境 训练会出现中断的情况，目前这个问题仍在解决中

[2021-08-17 02:48] jerrywgz commented on #3987
我这边使用PaddleDetection release/2.2 分支测试cascade rcnn，只使用初始化权重进行预测，最终是没有报错的。看报错信息是后处理解码的时候报错，理论上还没有到nms的阶段。可以先试下release/2.2分支，如果还有问题可以提供下权重我再测下

[2021-08-17 02:55] pangyoki commented on #3973
看这个报错就是nccl的问题，用`paddle.utils.run_check()`会报啥问题？

[2021-08-17 02:56] pangyoki commented on #3973
gpu卡确定都是空闲可用的吗？

[2021-08-17 03:49] liuhuaguang commented on #3984
是的，尝试更新到release 2.2分支，已经解决，多谢

[2021-08-17 03:49] #3984 closed, assigned to nobody

[2021-08-17 05:25] lao-xu opened #3994 "使用训练好的模型评估fps时，batch_size必须设为1吗"
使用训练好的模型评估fps时，batch_size必须设为1吗？因为设置不同的batch_size得到的fps不同。哪个为准？

[2021-08-17 06:46] lcc157 opened #3997 "使用提供的solov2_r50_enhance_coco.pdparams 模型推理时，效果较差，参数应该如何设置？"
python tools/infer.py -c configs/solov2/solov2_r50_enhance_coco.yml -o weights=weights/solov2_r50_enhance_coco.pdparams --infer_img=demo/000000570688.jpg
![000000570688(1)](https://user-images.githubusercontent.com/69669353/129676822-dbeafcb2-46d3-47de-87d9-76b7d8736afa.jpg)

打印的推理时间（outs = self.model(data)）
[08/17 14:30:31] ppdet.engine INFO: forwoard times in 0.15596437454223633
[08/17 14:30:31]

[2021-08-17 06:51] lujx1024 commented on #3973
sorry，我仔细排查了一下，确实是NCCL的安装问题。
`paddle.utils.run_check()`运行的报错和`nccl_tests`一样都是`unhandled cuda error`。

## 主要原因
可能是这台机器此前被其他人安装了与当前CUDA版本不匹配的NCCL,执行`find / -name libnccl*` 指令的输出结果是：
[code]
可以看到`/usr/lib64` 文件夹下的NCCL版本是2.9.9，并非是我期望的 2.8.3.，而且从NVIDIA官方网站下载的RPM安装包，使用`rpm -ivh nccl-repo-rhel7-2.8.3-ga-cuda10.1-1-1.x86_64.rpm` 执行后，似乎并没有执行安装流程，而是解压成了三个RPM安装包(从结果推测的，并未在机器上验证)。 从而导致，调用的NCCL模块始终是`2.9.9 for c

[2021-08-17 08:49] huilin16 commented on #3987
我记得5月份好像出现过这个问题，原因是预测结果为空，处理空结果的代码位置错了，但后来这里的问题被修复了，空结果不会报错了应该

[2021-08-17 08:51] #3894 closed, assigned to yghstill

[2021-08-17 09:14] xlh9718 commented on #3476
PaddleDetection 2.2 版本解决了上面的问题，感谢！

[2021-08-17 10:05] wxh453751461 opened #3998 "使用faster_rcnn进行eval时，出现 received numel():-4 < 0 ,仅修改了config下datesets里面coco的文件路径"
Traceback (most recent call last):
  File "tools/train.py", line 139, in <module>
    main()
  File "tools/train.py", line 135, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 110, in run
    trainer.train(FLAGS.eval)
  File "/home/xddz/anaconda3/envs/wxh/lib/python3.6/site-packages/ppdet/engine/trainer.py", line 350, in train
    self._eval_with_loader(self._eval_loader)
  File "/home/x

[2021-08-17 11:59] lao-xu commented on #3765
谢谢！再请教下。一般论文里目标检测模型的precision和recall指f1最大时的precision和recall还是指平均值？

[2021-08-17 14:12] kingbirdWc opened #3999 "coco数据集的标注格式能直接用吗"
您好，coco数据集的标注格式能直接用吗？我按照coco官网的数据集格式准备了json文件，字段和官方的一样，如果用的话需要怎么改呢？ 谢谢
coco数据集的json格式如下。

{
"info": info,
"images": [image],
"annotations": [annotation],
"licenses": [license],
}

image{
"id": int, "width": int, "height": int, "file_name": str, "license": int, "flickr_url": str, "coco_url": str, "date_captured": datetime,
}

annotation{
"id": int,
"image_id": int,
"category_id": int,
"segmentation

[2021-08-18 01:27] songrui2009 opened #4000 "按照MODEL_TECHNICAL.md新增architecture无法使用tools/export_model.py导出"
如题，发现_dump_infer_config中对config['architecture']有检测，值必须是，TRT_MIN_SUBGRAPH中预定义的；自定义Architecture无法支持导出model?还是需要别的配置？

[2021-08-18 01:53] yumeng88 opened #4001 "ppyolo模型在预测图片时，有的图片是正常显示预测，有的图片是经过处理之后的。"
![53451180385503412](https://user-images.githubusercontent.com/56550062/129823873-7df774d1-4a8f-4a40-b5d8-7ceb480fc0be.png)
![56419621075202304](https://user-images.githubusercontent.com/56550062/129824005-6ac77789-a28f-4ade-9045-96cb83b7c264.png)

[2021-08-18 01:54] yumeng88 commented on #4001
这是同一个文件夹下面的图片，为什么图片显示的都不一样？？？

[2021-08-18 02:33] wangxinxin08 commented on #3994
一般使用deploy/python/infer.py去测速，大多数模型的测速结果是在bs=1下测的

[2021-08-18 02:36] wangxinxin08 commented on #3998
可以先检查下coco数据集路径是否设置正确

[2021-08-18 02:39] wxh453751461 commented on #3998
路径设置没有问题，训练过程可以正常进行，但是eval不可以，很奇怪

[2021-08-18 02:39] wangxinxin08 commented on #3999
如果格式与cooc一致，可以直接使用，实例分割可以在configs/datasets/coco_instance.yml上修改数据集的num_classes和相关路径，目标检测可以在configs/datasets/coco_detection.yml上修改数据集的num_classes和相关路径

[2021-08-18 02:41] wangxinxin08 commented on #3998
可以更新下PaddleDetection的版本到release/2.2试下

[2021-08-18 02:42] wxh453751461 commented on #3998
好 我试一下

[2021-08-18 02:44] kingbirdWc commented on #3999
您好，onfigs/datasets/coco_detection.yml的data_fields的字段gt_bbox gt_class在coco数据集上是没有的，我该改哪个呢？谢谢
TrainDataset:
  !COCODataSet
    image_dir: train2017
    anno_path: annotations/instances_train2017.json
    dataset_dir: dataset/coco
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

[2021-08-18 02:54] wangxinxin08 commented on #3999
不用修改，保持默认就行

[2021-08-18 02:59] wxh453751461 commented on #3998
在2.2下还是不行 (wxh) xddz@xddz:/devdata/wpz/PaddleDetection$ python tools/train.py -c configs/faster_rcnn/faster_rcnn_r50_1x_coco.yml --eval
loading annotations into memory...
Done (t=0.00s)
creating index...
index created!
[08/18 10:55:25] ppdet.data.source.coco WARNING: Illegal image file: dataset/coco/train2017/20200324230813-O_副本.jpg, and it will be ignored
W0818 10:55:25.800381 22507 device_contex

[2021-08-18 03:01] wangxinxin08 commented on #3982
这个是可能存在的，infer的时候并不知道哪些预测框对应于同一个目标，一般去除这种情况的方式是NMS，你可以调整下NMS的阈值看下

[2021-08-18 03:05] wangxinxin08 commented on #3998
你先直接用python tools/eval.py -c configs/xxx/xxx.yml -o weights=xxx.pdparams测试下看看能不能通过

[2021-08-18 03:07] wxh453751461 commented on #3998
还是同样的错误

[2021-08-18 03:09] wxh453751461 commented on #3998
metric: COCO
num_classes: 1

TrainDataset:
  !COCODataSet
    image_dir: train2017
    anno_path: annotations/instances_train2017.json
    dataset_dir: dataset/coco
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: val2017
    anno_path: annotations/instances_val2017.json
    dataset_dir: dataset/coco

TestDataset:
  !ImageFolder
    anno_pat

[2021-08-18 03:13] wangxinxin08 commented on #3998
看你图片数量比较少，建议使用coco的预训练吧，原因猜测是pred_bbox为空导致的，可以把snapshot_epoch设置大一些

[2021-08-18 03:17] wxh453751461 commented on #3998
谢谢 我尝试一下

[2021-08-18 03:24] wxh453751461 commented on #3998
我把snapshot_epoch从1->10，还是不太行，我可以把数据发给您，帮我看一下吗

[2021-08-18 03:24] wxh453751461 commented on #3998
我把snapshot_epoch从1->10，还是不太行，我可以把数据发给您，帮我看一下吗

[2021-08-18 05:02] STUSER001 opened #4004 "ppyolo_tiny 一个目标识别出 两个标签"
ppyolo_tiny 一个目标识别出 两个标签 是因为 数据集不够 没学习到 还是 什么情况？？

[2021-08-18 05:03] lyuwenyu commented on #4000
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/ppdet/engine/export_utils.py#L44

[2021-08-18 05:39] kingbirdWc commented on #3999
谢谢，可以运行了

[2021-08-18 05:39] #3999 closed, assigned to nobody

[2021-08-18 05:40] songrui2009 commented on #4000
就是这个文件

[2021-08-18 05:43] kingbirdWc opened #4005 "reader.yml中的数据增强配置的 { } 是按照默认参数增强吗？"
您好，请问reader.yml中的数据增强配置的 { } 是按照这个类的__init__函数里的默认参数增强吗？如下面的Decode RandomDistort RandomCrop RandomFlip。谢谢
 sample_transforms:
    - Decode: {}
    - Mixup: {alpha: 1.5, beta: 1.5}
    - RandomDistort: {}
    - RandomExpand: {fill_value: [123.675, 116.28, 103.53]}
    - RandomCrop: {}
    - RandomFlip: {}

[2021-08-18 05:53] wangxinxin08 commented on #3998
建议你先检查一下eval的数据，我们本地在coco上测试是没有问题的

[2021-08-18 05:58] kingbirdWc opened #4006 "如果一个图片没有任何对应的标注框，那么这个图在训练的时候会被自动舍弃吗？"
你会，如果一个图片没有任何对应的标注框，那么这个图在训练的时候会被自动舍弃吗？

[2021-08-18 06:20] TinyQi commented on #3300
@wangxinxin08 主要有些证件存在旋转或者透视变换的效果，不是矩形框和旋转矩形框的算法都不太好，我也想着用关键点检测，不知道方案可行嘛

[2021-08-18 06:24] 15050188022 commented on #3982
即使调整NMS的阈值，也会存在同一目标出现多个预测框。我记得NMS中有一步是比较摸个候选框与其他候选框的IOU，超过某个阈值则删去，不过我没找到你们代码里这部分的NMS在哪里，能指点一下吗

[2021-08-18 06:50] kingbirdWc opened #4007 "训练时使用 --eval 没有进行评估"
你好，使用命令python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_greenhouse.yml  -r output/yolov3_mobilenet_v1_greenhouse/60 --eval 进行训练时没有出现评估。听说 每个epoch结束时评估，但是没有出现。
![image](https://user-images.githubusercontent.com/23066646/129851415-d69e7a12-7a11-467b-91e2-3c6915b9830b.png)

[2021-08-18 06:52] #4007 closed, assigned to nobody

[2021-08-18 07:26] 15050188022 commented on #3982
![142](https://user-images.githubusercontent.com/30464411/129854555-6ef25bcf-2cd5-4dba-845e-bba7f0f9104b.png)
类似于这种情况，同一目标被预测为不同的类别，预测框之间的IOU极高，接近1，置信度也很接近，小于0.01，调整过nms阈值，哪怕设为0也无法解决。这时候是不是需要判断一下如果当IOU超过多少时比较一下类别置信度并且只取类别置信度大的那个框

[2021-08-18 07:38] wangxinxin08 commented on #3982
NMS的配哦指在这里https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/configs/dota/_base_/s2anet.yml#L51, 文档参考https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/layers_cn/multiclass_nms_cn.html#multiclass-nms，multiclass nms是对每一个类别分别进行NMS，是标准的NMS实现。你可能需要的cross class的NMS，可能需要自己修改一下代码，比如把所有的类别都设置成一样的。另外，你可以看一下为什么会出现score如此接近的情况？猜测是每一个class过于相近

[2021-08-18 08:04] lyuwenyu commented on #4000
没有其他特殊的配置了

[2021-08-18 08:05] lyuwenyu commented on #4001
看看reader里 有什么数据预处理没

[2021-08-18 08:06] lyuwenyu commented on #4004
贴个图？

[2021-08-18 08:07] yumeng88 commented on #4001
@lyuwenyu 谢谢你的回答，即使包含预处理的情况下，对于同一次预测的结果怎么有的是预处理有的不是预处理，这。。。。。

[2021-08-18 08:08] lyuwenyu commented on #4005
是

[2021-08-18 08:14] 15050188022 commented on #3982
谢谢你的耐心解答。的确是因为比较细粒度的检测，所以score会比较接近。关于cross class的NMS实现请问有什么参考吗？或者有没有考虑过将其加入到PaddleDetection中呢？感谢你们的开源贡献。

[2021-08-18 08:18] lyuwenyu commented on #4006
默认会舍弃 在`allow_empty`
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/ppdet/data/source/coco.py#L51

[2021-08-18 08:23] kingbirdWc commented on #4005
谢谢

[2021-08-18 08:23] #4005 closed, assigned to nobody

[2021-08-18 08:23] songrui2009 commented on #4000
那就是无法导出自定义architecture？还是说把自定义的architecture加入这个数组中？加入的话，对应的数字填多少？

[2021-08-18 08:23] kingbirdWc commented on #4006
谢谢

[2021-08-18 08:23] #4006 closed, assigned to nobody

[2021-08-18 08:25] songrui2009 commented on #4000
MODEL_TECHNICAL.md中增加自定义architecture的部分，应该没提到需要修改这个数组

[2021-08-18 08:28] kingbirdWc opened #4008 "训练yolov3_darknet53_27e的模型，为什么学习率会从0开始一直增加呢？"
您好，训练yolov3_darknet53_27e的模型，为什么学习率会从0开始一直增加呢？

[2021-08-18 08:55] wangxinxin08 commented on #3982
目前PaddleDetection里面暂时没有实现，你需要自己添加一些代码来实现，思路基本上是将[N, C, M]的score取max得到[N, 1, M]的score，取argmax得到[N, 1, M]类别信息cls，然后设置multiclass nms的return index获取keep_idx, 使用keep_idx索引cls，得到真实的类别

[2021-08-18 09:23] #3973 closed, assigned to nobody

[2021-08-18 09:39] zlszhonglongshen commented on #1517
请问你最后是怎么解决的啊？

[2021-08-18 09:56] 15050188022 commented on #3982
你们的代码封装程度太高啦，我尝试一下。谢谢你的耐心解答。

[2021-08-18 10:15] sdnusqy-art opened #4009 "profiling report怎么解读？"
开启config.EnableProfile()后，打印的profiling report看不懂，跟我打印的时间无法对应，能解释一下profiling report中时间主要是哪部分时间吗？
paddle: 2.1.1
paddledetection: cpp deploy
os: ubuntu 18.4.1
cuda: 10.2
cudnn:7.6.5
tensorRT:6.0.1.8
显卡：nvidia v100

![无标题](https://user-images.githubusercontent.com/73977336/129880992-747cac29-0a6b-4fad-b170-3ac5c3572d62.png)

[2021-08-18 10:45] youngstu opened #4010 "picodet量化训练一些epoch后mAP突变为0，loss开始突变大"
picodet量化训练一些epoch后mAP突变为0，loss开始突变大

[2021-08-18 10:57] lyuwenyu commented on #4001
预处理里会有random的操作嘛

[2021-08-18 10:58] lyuwenyu commented on #4000
官方支持的就是那个列表里的  其他的你可以加一下尝试一下

[2021-08-18 11:00] lyuwenyu commented on #4008
这个是warmup策略  LR先增后减

[2021-08-18 11:06] lao-xu commented on #3994
一定要用deploy吗，他与release分支有何差异？另外detection套件里提到推理时间(fps): 推理时间是在一张Tesla V100的GPU上通过'tools/eval.py'测试所有验证集得到，单位是fps(图片数/秒), cuDNN版本是7.5，包括数据加载、网络前向执行和后处理, batch size是1。
可是batch size是1时得到的fps就会很低，无法得到套件里基线模型表格所示的fps

[2021-08-18 11:11] wangxinxin08 commented on #3994
release分支包含deploy，推荐使用deploy测速，这个和部署时是一致的

[2021-08-18 11:46] lyuwenyu commented on #4010
这 信息不够多啊  1.是不是lr太大 2.检查数据有没有异常的 3. 加clip norm稳定一下？

[2021-08-18 12:11] monkeycc opened #4011 "模型导出报错，AttributeError: 'Assign' object has no attribute 'type_comment'"
python 3.8
paddlepaddle-gpu    2.1.1.post112

___________________

python tools/export_model.py -c configs/cascade_rcnn/cascade_rcnn_r50_vd_fpn_ssld_1x_coco.yml --output_dir=./inference_model_cascade_rcnn_r50_vd_fpn_ssld_1x  -o weights=/media/hello/3bc7a812-b6eb-46b7-b538-8a31cfee047f/PaddleDetection/output/cascade_rcnn_r50_vd_fpn_ssld_1x_coco/10.pdparams

______________________

`
python tools/ex

[2021-08-18 12:33] songrui2009 commented on #4000
想从整体结构上确认一下paddledetection默认支持就数组里的那些；但底层paddlepaddle是能够支持自定义的architecture的，对不？

[2021-08-18 13:22] youngstu commented on #4010
[code]

![Screenshot from 2021-08-18 21-21-04](https://user-images.githubusercontent.com/26452514/129905528-ae612a64-0358-4b16-8fe5-fc8a5e11966c.png)

前几个epoch 收敛很好，和float32模型基本上性能都是对齐的，但是从第7个epoch就逐渐学偏了

[2021-08-18 13:29] kingbirdWc commented on #4008
不过训练了几十个epoch后ap还是很小

[2021-08-18 13:35] kingbirdWc opened #4012 "读取图片路径为tensor的代码是哪个哦？"
您好。
我需要读取二十万行二十万列的遥感影像进行预测，因此需要使用gdal对这个影像进行分块读取并进行预测，不过一直没找到infer的时候在哪个位置将图片的路径变为tensor，希望能解答一下，谢谢

[2021-08-18 16:00] thunder95 opened #4013 "【论文复现】使用PaddleDetection套件运行报错thrust::system::system_error exception."
outputs[:, :, :2] = (outputs[:, :, :2] + grids)
SystemError: (Fatal) Operator set_value raises an thrust::system::system_error exception.
The exception content is
:parallel_for failed: cudaErrorInvalidConfiguration: invalid configuration argument. (at /paddle/paddle/fluid/imperative/tracer.cc:192)

运行一个普通的加法算子，在eval一定轮次之后就会报这个错，而且通常出现在batch_size>1的时候

如何解决， 请给点建议 @qingqing01

[2021-08-18 16:27] thunder95 commented on #4013
如果batch_size设置为1， 也会出现这个问题，只是出现的时间更晚一些

[2021-08-19 01:36] thunder95 commented on #4013
把代码中paddle相应的切片操作换成numpy后就没出现这样的错误。

但是batch设大了后，却出现下面错误：（batch设小就没有）

[code]

[2021-08-19 01:45] thunder95 opened #4014 "eval时batch_size大于1，在最后的时候会报错"
data = self._reader.read_next_var_list()

可能剩余数据不足1个batch， 可以怎么处理呢？

[2021-08-19 03:14] thunder95 commented on #4014
collate_batch: false

[2021-08-19 03:14] #4014 closed, assigned to nobody

[2021-08-19 03:23] lyuwenyu commented on #4012
1. https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/tools/infer.py#L132
2. https://github.com/PaddlePaddle/PaddleDetection/blob/0981e4ca0dde073a9ffca681ebc38f90a6600781/ppdet/engine/trainer.py#L454
3. TestReader -> transforms -> decode(numpy)

[2021-08-19 03:27] lyuwenyu commented on #4011
1. 查看一下 gast版本 高于0.4.0版本的话 请安装使用gast==0.4.0版本
2. 或者 升级paddle到2.1.2或者develop

[2021-08-19 03:37] TinyQi opened #4015 "关键点检测，支持C++推理预测了吗？"
rt

[2021-08-19 03:44] #3908 closed, assigned to nobody

[2021-08-19 03:45] #3909 closed, assigned to nobody

[2021-08-19 03:45] #4004 closed, assigned to nobody

[2021-08-19 04:55] STUSER001 opened #4016 "ppyolo_tiny 导出的模型 提示维度不一致 这什么情况 官方训练好的 模型 没有报错 自己训练后导出的却报错"
![06758056d18181030bcf7d11b99d9b6](https://user-images.githubusercontent.com/88072901/130009845-6e6aac3e-97f5-476d-9106-543e78926b7f.png)
上图是自己训练后 导出的模型 部署提示的错误 下图是 直接使用官方给的 训练好的 ppyolo_tiny后的结果
![image](https://user-images.githubusercontent.com/88072901/130009954-c3c3fd89-fdb4-4f29-96f7-f8009f088e1a.png)

部署在了树莓派 说可能维度不同导致的  但是 都是一个模型 我训练时候也就修改了 学习率 和 batchsize 为啥导出后就不能用呢 整了好几天 实在是不知道 错在哪里了 请大神解惑

[2021-08-19 05:06] nemonameless commented on #4015
感谢关注，预计在下一个版本。

[2021-08-19 05:57] thunder95 opened #4017 "关于Mosaic的疑问"
mosaic写得貌似跟其他transform不太一样，也没有看到示例怎么用
mosaic里的sample是基于一个batch的数据，还是全部数据集？

[2021-08-19 06:08] thunder95 commented on #4017
看源码之后貌似找到相关代码实现了

[2021-08-19 06:08] #4017 closed, assigned to nobody

[2021-08-19 06:36] ghost opened #4018 "运行ppyolov2_mbv3_small报错"
我运行github.com/wangxinxin08/PaddleDetection/里面的ppyolov2_mbv3_large可以运行，我将ppyolov2_mbv3_large改为small版本报错，改的代码如下
![截屏2021-08-19 下午2 35 27](https://user-images.githubusercontent.com/87430649/130019734-f91c6d2f-5297-4517-ac0b-8a1b14623dfb.png)
报错如下
<img width="1076" alt="截屏2021-08-19 下午2 36 00" src="https://user-images.githubusercontent.com/87430649/130019792-be908a04-e56b-4d37-adaa-b807bc791af7.png">

[2021-08-19 07:08] lazyn1997 commented on #3989
有同样的情况出现，使用配置文件ppyolov2_r50vd_dcn.yml

[2021-08-19 09:02] nemonameless commented on #4018
PPYOLOPAN 你这里配置的是两层，而head配置的是3层，head的输入通道列表和PPYOLOPAN输出通道列表是一致的，和PPYOLOPAN的输入通道列表对应。

[2021-08-19 09:06] nemonameless commented on #4016
是训的coco吗？官方训练好的模型你拿去预测的结果和你自己训的模型结果相近吗？
建议使用最新develop分支或release/2.2分支看看

[2021-08-19 09:17] STUSER001 commented on #4016
![image](https://user-images.githubusercontent.com/88072901/130043737-af471a64-ef60-4932-ada9-e61eb6a1d231.png)

是coco 预测的 在paddle 平台上都能正常 运行 就是导出来后 opt 转换后 就是第一张那样 提示错误 但是官方给的 就没问题上图是 官方给的模型 下载的地址 还有 用的 paddlelite  预测库 一直安装不了 就安装了 paddlelite 和 。whl 文件
![image](https://user-images.githubusercontent.com/88072901/130043227-948a1e74-6a83-486d-a00f-04a928a13fce.png)
图片是 日志 这样 然后 就 死机了

[2021-08-19 09:18] Fly-hub commented on #2701
报错解决方法是将paddle改成2.1版本，我使用2.0版本就报这个错改为2.1就好了

[2021-08-19 09:19] Fly-hub commented on #3471
报错解决方法是将paddle改成2.1版本，我使用2.0版本就报这个错改为2.1就好了

[2021-08-19 09:19] Fly-hub commented on #3471
我是在aistudio平台上运行的

[2021-08-19 09:20] Fly-hub commented on #2701
我是在aistudio平台上运行的

[2021-08-19 09:42] wxh453751461 commented on #3998
我换成了标准的官方数据集，还是会出现同样的错误

[2021-08-19 10:05] 534114658 commented on #3893
用动态图解决

[2021-08-19 13:31] huilin16 opened #4021 "请问训练自己数据的话，多目标跟踪应该如何配置文件。"
我已经根据https://gitee.com/zhao_huilin/PaddleDetection/blob/release/2.2/docs/tutorials/PrepareMOTDataSet_cn.md
将自己的数据集重组为如下格式：

custom_data
   |——————images
   |        └——————test
   |        └——————train
   |                └——————seq1
   |                |        └——————gt
   |                |        |       └——————gt.txt
   |                |        └——————img1
   |                |        |

[2021-08-19 13:36] yumeng88 commented on #4001
@lyuwenyu 是有这个操作,不明白为什么预测的时候还要进行预处理,还有一个文件夹全部是第一张图的情况...还有的文件夹是全部没有处理....我是将这个操作关掉就能解决问题吗?

[2021-08-20 01:50] nemonameless commented on #4021
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/configs/datasets/mot.yml#L8
制作image_lists并写在这里，以及数据集路径名字对应上即可

[2021-08-20 05:20] 534114658 opened #4022 "PPyolo c++推理报错"
生成的推理文件如下：

mode: fluid
draw_threshold: 0.5
metric: COCO
use_dynamic_shape: false
arch: YOLO
min_subgraph_size: 3
Preprocess:

interp: 2
keep_ratio: false
target_size:
128
1280
type: Resize
is_scale: true
mean:
0.485
0.456
0.406
std:
0.229
0.224
0.225
type: NormalizeImage
type: Permute
label_list:
person
bicycle

报错内容为：

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0820 13:10:

[2021-08-20 05:30] lyuwenyu commented on #4009
cpu和gpu是并行执行的，所以时间不能直接加。可以单独看cpu或gpu的时间，做op之间的性能比较。

[2021-08-20 07:15] ghostxsl commented on #4022
请问paddle，paddledetection版本是什么？运行命令是什么？

[2021-08-20 07:38] heavengate commented on #4016
看一下是不是你lite给的输入的shape不对，或者输入tensor的shape反了

[2021-08-20 07:44] #3977 closed, assigned to heavengate

[2021-08-20 07:44] heavengate commented on #3976
表格里的API也是mAP(0.5:0.95)这个维度的

[2021-08-20 08:03] hymanzhu1983 commented on #2420
请问这个bug有什么进展吗？

[2021-08-20 08:17] 534114658 commented on #4022
PaddleDetection-release-2.2生成的c++
.\main --model_dir=D:\\models\\yolov3_darknet --image_file=D:\\images\\test.jpeg
![image](https://user-images.githubusercontent.com/88479008/130202982-bb3f828c-e598-4124-b570-4d6656d78065.png)

主要是  target_size:   这个参数
如果训练为608   或者512   c++推理正常的

指定尺寸训练出的模型在c++推理报错
但是指定尺寸训练的模型用python可以正常推理

[2021-08-20 08:19] yghstill commented on #3997
@lcc157 预训练模型上传有问题，正在解决中

[2021-08-20 08:20] #3985 closed, assigned to nobody

[2021-08-20 08:21] #3969 closed, assigned to nobody

[2021-08-20 08:21] wangxinxin08 commented on #3988
如果不用cutmix，可以把cutmix这个字段去掉

[2021-08-20 08:24] #3992 closed, assigned to nobody

[2021-08-20 08:24] ghostxsl commented on #4022
C++ infer应该是支持正方形输入，size的H要等于W

[2021-08-20 08:27] 534114658 commented on #4022
这样的话   像128*1280这种长方形的图片推理效果很差

python都支持了   c++什么时候支持？

[2021-08-20 08:27] 534114658 commented on #4022
这样的话   像128*1280这种长方形的图片推理效果很差

python都支持了   c++什么时候支持？

[2021-08-20 08:32] STUSER001 commented on #3976
好的 明白了 谢谢

[2021-08-20 08:32] #3976 closed, assigned to heavengate

[2021-08-20 08:33] #3994 closed, assigned to nobody

[2021-08-20 08:34] wangxinxin08 commented on #3993
Paddle TRT静态图版本的TRT速度可以参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/static/docs/advanced_tutorials/deploy/BENCHMARK_INFER_cn.md

[2021-08-20 08:39] ghostxsl commented on #4022
收到您的反馈，我们会排期增加这个功能～

[2021-08-20 08:41] gitqinxinyu opened #4025 "[08/20 16:39:08] ppdet.engine.tracker INFO: Processing frame 0 (100000.00 fps)"
![image](https://user-images.githubusercontent.com/40631787/130206160-547f50e4-1da0-4764-b27c-1af0f014781c.png)

[2021-08-20 08:48] lyuwenyu commented on #4000
是的

[2021-08-20 08:52] nemonameless commented on #4025
确定抽出来图片了吗，看看当前目录下有没有test文件夹，里面有没有图片？另外cuda版本可以换成10.2 10.1试试？

[2021-08-20 08:56] gitqinxinyu commented on #4025
我是直接导的视频文件，写的绝对路径

[2021-08-20 10:02] tughv opened #4026 "paddledetection训练结束时报异常"
paddledetection在运行road_sign和水果数据集的最后结束时抛出线程和文件夹不存在的错误，但是能保存中间的训练过程参数，也能得到目标检测的结果框。

[
![image](https://user-images.githubusercontent.com/40344969/130218466-9c3d0c45-88ed-441f-8344-89f6feb6704c.png)
](url)
[
![image](https://user-images.githubusercontent.com/40344969/130218490-94361cb9-71c4-497d-9331-ecaf92a60462.png)
](url)

[2021-08-20 10:10] tughv commented on #4026
[](url)

[2021-08-20 10:10] #4026 closed, assigned to nobody

[2021-08-20 10:28] tughv opened #4027 "paddledetection结束时抛出异常"
paddledetection2.1, pddle2.1  在运行案例里面的路标数据和下载的水果数据集是在训练结束的时候会抛出线程和文件夹不存在的异常，但是不影响保存中间的过程参数和最后的预测
[
![image](https://user-images.githubusercontent.com/40344969/130220137-ec452f0e-59fd-40de-a971-d2d5983bb0e9.png)
](url)
[
![image](https://user-images.githubusercontent.com/40344969/130220140-65ae5918-59ab-4881-982a-7ad5cf8da469.png)
](url)

[2021-08-20 10:28] TinyQi opened #4028 "关键点检测的配置文件是否有参数说明文档呀？"
RT

btw，如果我训练我自己的数据集，需要改哪几个参数啊，我自己瞎改，训出来的模型好像最后输出的张量的shape还是17维（人体关键点数量）的，而不是我数据集的关键点类型数。

我的配置文件如下，我的数据集是证件，然后关键点我是按证件的4个角点作为关键点的。
谢谢各位

[code]

[2021-08-20 10:36] ghostxsl commented on #4027
建议您使用最新版本运行您的代码～

[2021-08-20 10:42] wangxinxin08 commented on #3998
我使用coco数据集eval没有遇到这个问题，你如果使用pip的方式安装了ppdet，可以先pip uninstall 一下，然后将PaddleDetection代码更新到release/2.2，PaddlePaddle版本2.1.2

[2021-08-20 10:45] tughv opened #4029 "信息显示"
希望在显示信息的时候显示是总轮数 如  30/80
[
![image](https://user-images.githubusercontent.com/40344969/130222100-496ad3a7-42f6-40ad-829d-602c96e7463f.png)
](url)

[2021-08-20 10:49] tughv commented on #4027
是最新版本
[
![image](https://user-images.githubusercontent.com/40344969/130222652-0363b91e-8ac0-4416-a859-04dd0b2aedf8.png)
](url)

[2021-08-20 10:51] ghostxsl commented on #4029
好的，感谢您的反馈～

[2021-08-20 10:53] ghostxsl commented on #4027
运行命令是什么？提供运行环境，我这边复现一下看看

[2021-08-20 11:09] ghostxsl commented on #4028
你好，暂时没有，我们正在加急更新一版readme，稍后会合入到develop分支

[2021-08-20 11:59] tughv commented on #4027
!python tools/eval.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml -o use_gpu=true

[2021-08-20 12:00] tughv commented on #4027
运行环境是aistudio最新版的paddle,pip 下载的paddledet,PaddleDetection文件是2.0

[2021-08-20 13:35] ghost commented on #4018
打印yolo_head.py出的通道列表是【480】，不知道怎么改了，你们能出这个网络嘛

[2021-08-20 14:29] tughv commented on #4027
现在有不报错了，太玄学了

[2021-08-20 14:52] violetweir opened #4031 "关于paddledetection resize的问题"
我想请问一下paddledetection在读入照片的时候的resize照片的源代码是哪里呀请问一下

[code]

[2021-08-21 10:24] mzxhzhp opened #4032 "为啥量化前后的模型大小没有变化？"
按照官方教程文档的指示进行操作。
1. 训练时使用如下命令：
python tools/train.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml  --use_vdl=true  --eval
2. 训练完成后，使用如下命令进行量化训练：
python tools/train.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml  --slim_config configs/slim/quant/ssd_mobilenet_v1_qat.yml  --use_vdl=true  --eval
（备注：ssd_mobilenet_v1_qat.yml中 pretrain_weights 改为第一步训练时生成的模型）

但是，奇怪的是，量化训练完成后的模型，和没有量化的模型，其大小一模一

[2021-08-22 00:26] songrui2009 opened #4034 "export_model.py导出模型库中的solov2_r50_fpn_3x_coco.pdparams失败"
****************************************
Paddle version: 2.1.2
Paddle With CUDA: True

OS: Deepin 20.2
Python version: 3.7.3

CUDA version: 9.2.148
cuDNN version: None.None.None
Nvidia driver version: 460.39
Paddle Detection version:2.1
****************************************
从https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/configs/solov2/ 页面
下载SOLOv2|R50-FPN|True|3x(https://padd

[2021-08-22 06:33] isLiuHao opened #4035 "版本选择"
想请问一下只识别静态图，选用哪个版本进行训练和预测?
release/2.2可以识别静态图吗，可以用静态图训练吗？

[2021-08-22 08:01] nemonameless commented on #4035
release/2.2分支可以训静态图。静态图版本在static文件夹下，仍然可以使用。请尽量选择PaddlePaddle和PaddleDetection最新版本。

[2021-08-22 08:50] heavengate commented on #4035
release/2.2版本支持静态图，的静态图在`static`目录下，PaddleDetection和PaddlePaddle的版本依赖关系请参考https://github.com/PaddlePaddle/PaddleDetection/pull/4024

[2021-08-22 09:25] ellinyang opened #4036 "训练Frcnn模型，显存溢出"
运行环境：
Linux
paddlepaddle-gpu=2.1.2
paddledetection 2.1
数据集：DOTA数据集，图片约4000*4000大小
参数配置：
模型选择：faster_rcnn_r50_vd_fpn_2x
batch_size：1
target_size:1344*1344

问题：
1.单卡训练Frcnn时，在第一个epoch,某固定step，显存溢出而失败；
2. 8卡V100进行训练，每个节点占用显存不同；在第一个epoch 固定的step，因为某节点显存溢出而失败；
![image](https://user-images.githubusercontent.com/20673237/130349858-c2c85476-490e-4a72-9a82-20322dc82fdb.png)

单卡报错细节：
[code]

多卡报错细节如下：
[code

[2021-08-22 17:51] weihongwei-zg opened #4037 "使用solov2中最新的配置文件solov2_r50_enhance_coco.yml，会出现报错，TypeError: __init__() got an unexpected keyword argument 'drop_block'"

[2021-08-22 17:52] weihongwei-zg commented on #4037
报错显示缺少该字段

[2021-08-23 00:42] #3993 closed, assigned to nobody

[2021-08-23 00:44] wenli1216cy commented on #3993
谢谢，我找到速度没有提升的原因了

[2021-08-23 02:02] qingqing01 commented on #4031
您贴的这段代码中，Resize操作是`BatchRandomResize`，参考如下，另外，数据预处理配置中的函数都在`PaddleDetection/ppdet/data` 中。

https://github.com/PaddlePaddle/PaddleDetection/blob/0981e4ca0dde073a9ffca681ebc38f90a6600781/ppdet/data/transform/batch_operators.py#L100

[2021-08-23 02:07] qingqing01 commented on #4032
量化完保存的模型格式还是FP32，如果是使用Paddle Lite部署的话， 使用Paddle Lite的opt工具，转换后，模型会保存为INT8，体积减小，参考：

https://paddle-lite.readthedocs.io/zh/latest/user_guides/quant_aware.html#id4

或者参考:

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/deploy/lite/README.md#211-%E5%AE%89%E8%A3%85paddle_lite_opt%E5%B7%A5%E5%85%B7

但，注意使用Paddle Lite opt工具转换后模型只能Paddle Lite加载。

[2021-08-23 02:11] qingqing01 commented on #4013
这个错误，有时候会因为变量的是空的导致的，请注意outputs、grids是否为空的。

下面换成Numpy后，错误不是很具体。

[2021-08-23 02:11] #3968 closed, assigned to nobody

[2021-08-23 02:12] #3972 closed, assigned to nobody

[2021-08-23 02:12] #3975 closed, assigned to nobody

[2021-08-23 02:16] #4027 closed, assigned to nobody

[2021-08-23 02:32] 827346462 commented on #3998
我觉得这个代码也有问题的。我用同一个数据集 同样的mask_rcnn的配置文件进行训练。epoch200次 就会出现这个问题。eval和test都出现tensors错误。之前以为是静态图的问题，但是我看源码加载模型就是用的paddle.load。  同样的我训练20epoch 就可以test和val（虽然结果很差）。所有为啥训练次数多了会出现这个问题？？我试过mask_rcnn的所有配置文件。
![image](https://user-images.githubusercontent.com/50097546/130381970-37340eb2-0c5b-4417-a596-5a4c3180d885.png)

都会有这个错误，甚至有的第一次可以。后面也出现同样的问题
我的配置是paddleDetection 2.2 paddlepaddle 2.1.1
我采用的是win10系统。

[2021-08-23 02:39] ghost opened #4038 "想问下PPYOLOPAN 与 PPYOLOFPN有什么区别"
PPYOLOPAN 与 PPYOLOFPN有什么区别

[2021-08-23 04:48] mzxhzhp commented on #4032
这么说倒是可以理解了。但是还有个疑问：
用PaddleDet训练完的模型，也可以用 Paddle Lite opt工具 进行量化转换，那为啥还要用PaddleDet进行量化训练呢？量化训练和不量化训练有啥区别？

[2021-08-23 05:15] mzxhzhp commented on #4010
我也遇到和你一样的问题了，量化训练的时候，本来loss是一点几，然后过了一段时间我再看，就突然变成一百多了，无语

[2021-08-23 06:46] qingqing01 commented on #4032
Paddle Lite的opt工具只是将 量化的模型 转换到符合Paddle Lite的格式。 opt会做图转换、融合等。
Paddle Lite是部署工具，不支持量化训练。

[2021-08-23 06:52] yghstill commented on #4034
@songrui2009
[code]
这行代码是你自定义的代码吧，在模型导出时，reshape不支持有两个维度都是-1，batch的维度默认是-1，你第二维定义的也是-1，在export的时候这样是不允许的。
解决方案：
（1）删除这行代码
（2）batch设置为固定的数值

[2021-08-23 06:53] mzxhzhp commented on #4032
那为啥没有经过量化训练，也可以使用 paddle_lite_opt  --quant_model=true --quant_type=QUANT_INT16 进行转换呢？我发现转换后，模型大小确实变小了。

[2021-08-23 06:57] qingqing01 commented on #4032
opt除了对量化模型转换外，也支持非量化的Paddle模型转换到Paddle Lite的nb格式。

[2021-08-23 07:01] yghstill commented on #4037
@wobushihuair 请问使用的是哪个版本代码呢？请使用PaddleDetection release/2.2最新代码试下还有问题吗？

[2021-08-23 07:05] weihongwei-zg commented on #4037
是昨天重新下载的paddledetection的2.2最新代码

[2021-08-23 07:06] weihongwei-zg commented on #4037
配置文件也是用这边提供的配置文件，然后就显示没有这个字段

[2021-08-23 07:08] lcc157 commented on #3997
------------------ Inference Time Info ----------------------
total_time(ms): 77568.20000000001, img_num: 484
average latency time(ms): 160.26, QPS: 6.239670sha
preprocess_time(ms): 81.70, inference_time(ms): 78.50, postprocess_time(ms): 0.00

这是在Tesla P40卡sha，基于python部署推理的时间消耗，inference_time大约12.7fps, 这是正常的吗？

[2021-08-23 07:08] weihongwei-zg commented on #4037
昨天傍晚，使用命令重新拉取后也依然是这样
git clone https://github.com/PaddlePaddle/PaddleDetection.git

# 编译安装paddledet
cd PaddleDetection
python setup.py install

# 安装其他依赖
pip install -r requirements.txt

[2021-08-23 07:10] bueredgirll opened #4039 "voc用训练好的模型训练自己的数据集检测图片，出现很多错误的检测框"
用aistudio上的paddledetection水果分类的yolov3模型，训练自己的数据集，检测图片出现许多错误的框框和标签。

[2021-08-23 07:10] lcc157 commented on #3997
------------------ Inference Time Info ----------------------
total_time(ms): 77568.20000000001, img_num: 484
average latency time(ms): 160.26, QPS: 6.239670sha
preprocess_time(ms): 81.70, inference_time(ms): 78.50, postprocess_time(ms): 0.00&nbsp;&nbsp;

您好，这是在Tesla P40卡，基于python部署推理的时间消耗（configs/weights:solov2_r50_enhance），inference_time大约12.7fps, 请问这是正常的吗？

------------------&nbsp;原始邮件&nbsp;---

[2021-08-23 07:11] bueredgirll commented on #4039
应该怎么改配置呢

[2021-08-23 07:12] mzxhzhp commented on #4032
嗯，我能理解你说的意思，也感谢解答。
但是我还是有疑问，对于非量化的Paddle模型，用 paddle_lite_opt 工具转换成 Paddle Lite格式，如果不加 --quant_model=true --quant_type=QUANT_INT16  参数的话，模型大小是没有变化的，加了 quant_type 参数模型大小确实会产生变化。我不理解的地方在于，既然都是非量化模型，那加的这个量化参数有什么意义呢？为啥模型大小也发生了改变？还有，使用量化的Paddle模型和非量化的Paddle模型，最终使用 paddle_lite_opt --quant_model=true --quant_type=QUANT_INT16 转换成的Paddle Lite模型，我没有看到明显的区别，不知道这个该怎么理解。

[2021-08-23 07:18] yghstill commented on #4032
@mzxhzhp 在转换模型时，当模型原本是fp32模型，直接设置--quant_model=true，模型将进行INT格式存储，模型大小确实小了，但是这样的模型是不能预测的，weights的数值直接从fp32->int，精度损失很大。所以才需要在PaddleDetection中进行量化训练后，模型weights适配过int再转换时精度就基本无损了。

[2021-08-23 07:23] mzxhzhp commented on #4032
嗯，理解了。感谢大佬解答！

[2021-08-23 07:24] yangy996 opened #4040 "solov2模型，边训练边评估时，评估的时候报错！！！"
我使用的是静态图模型，使用多卡进行训练，跑到评估的时候就会报错，但是设置export CUDA_VISIBLE_DEVICES=4为单卡的时候就不会报错

[2021-08-23 07:26] yghstill commented on #4032
@mzxhzhp 补充一下，最新版本PaddleLite，最新OPT不需要指定--quant_model了，会自动解析int8还是fp32模型

[2021-08-23 08:31] haozech commented on #4036
您好 能否提供下简单的业务无关可复现代码，方便排查问题

[2021-08-23 08:33] jerrywgz commented on #4038
这里是算法上的不同，PAN（Path Aggregation Network）相比于FPN多了一些特征融合的路径

[2021-08-23 08:34] jerrywgz commented on #4039
如果要训练自己的数据集，建议检查下数据类别数的设置，已经预训练权重的设置，可以加载coco预训练好的权重进行迁移学习

[2021-08-23 09:46] isLiuHao opened #4041 "use_gpu报错"
运行PaddleDetection/static/deploy/python/infer.py，出现以下错误

![1629711909(1)](https://user-images.githubusercontent.com/74350741/130426802-28db7690-2712-44a9-805b-ba3c80a0db4e.jpg)

改为use_gpu=False没问题，请问怎么解决

[2021-08-23 09:48] #4041 closed, assigned to nobody

[2021-08-23 09:53] bueredgirll commented on #4039
类别数设置是正确的，预训练权重应该怎么设置

[2021-08-23 09:55] Danvae opened #4042 "人脸检测训练报错"
使用版本：release-0.3代码；paddle=1.7.2
报错如下：
(paddle_env) E:\PaddleDetection-release-0.3>python -u ./tools/train.py -c ./configs/face_detection/blazeface.yml -o pretrain_weights=./blazeface_original
2021-08-23 17:48:21,246-WARNING: ./blazeface_original.pdparams not found, try to load model file saved with [ save_params, save_persistables, save_vars ]
2021-08-23 17:48:21,246-WARNING: ./blazeface_original.

[2021-08-23 10:26] songrui2009 commented on #4034
问下，如何设置batch为固定大小？在导出的文档里没找到固定batch大小的参数，配置文件里的TestReader和Eval Reader都设置了bath_size=1

[2021-08-23 10:28] jacksonqin037 opened #4043 "求助！！！S2ANet运行预测时报错：OSError: (External) Cublas error, `CUBLAS_STATUS_EXECUTION_FAILED`. The GPU program failed to execute. This is often caused by a launch failure of the kernel on the GPU, which can be caused by multiple reasons. (at /paddle/paddle/fluid/operators/math/blas_impl.cu.h:35)"
显卡：RTX3000
cuda:10.1
cudnn:7.6.3
python:3.6
更新gcc版本也没解决
谢谢大家

[2021-08-23 10:56] weihongwei-zg commented on #3942
我也是map一直很低，预测结果都没东西

[2021-08-23 11:44] #4032 closed, assigned to nobody

[2021-08-24 01:33] yuyangup opened #4046 "win10编译后，用命令行进行预测时，无任何输出"
[win10 C++预测编译过程.pdf](https://github.com/PaddlePaddle/PaddleDetection/files/7035777/win10.C%2B%2B.pdf)

具体编译过程，请看我上传的pdf文档，谢谢，主要的问题如下：
1、with gpu 选择了，后面还能用cpu进行预测吗？
2、with mkl 是cpu加速，我勾了with gpu后，不勾这个，报缺少libopenblas错误，因为官方下载的paddle_inference的third_party目录下根本没有这东西，导致后面在vs2019里编译失败
3、with tensorrt，勾不勾都没有用，而且非得安装tensorrt，不然后期运行时报"you are using  paddle compiled with tensorrt ,but tensorrt ... is not f

[2021-08-24 01:49] 534114658 commented on #4022
yolo 的图片尺寸为128*1280

target_size该怎么设置？

 - RandomResize: {target_size: [[128, 1280]], interp: 2, keep_ratio: True}

这样配置会报错
raise ValueError('all input arrays must have the same shape')
ValueError: all input arrays must have the same shape

[2021-08-24 02:26] ghostxsl commented on #4022
如果你只是想要resize图像，请不要用RandomResize，请使用Resize

[2021-08-24 03:23] newforrestgump001 opened #4048 "S2A模型python推理正常，精度理想，在运行export_model.py尝试用于c++推理程序时候导出模型出错，谢谢！"
错误提示如下(版本是最新同步的v2.2):
AssertionError: 'detach' only can be called by `paddle.Tensor` in dynamic graph mode. Suggestions:
  1. If you are in static graph mode, you can switch to dynamic graph mode by turning off `paddle.enable_static()` or calling `paddle.disable_static()`.
  2. If you are using `@paddle.jit.to_static`, you can turn off ProgramTranslator by calling `paddle.jit.ProgramTranslator().e

[2021-08-24 03:39] newforrestgump001 commented on #4048
尝试升级到2.1.2,然后再次尝试。升级后转换成功。

[2021-08-24 03:39] #4048 closed, assigned to nobody

[2021-08-24 03:45] jerrywgz commented on #4040
请问使用的Paddle和PaddleDetection版本分别是什么呢，然后麻烦贴下报错信息吗，也方便我们定位问题

[2021-08-24 03:46] jerrywgz commented on #4042
release/0.3分支的代码比较老了，建议迁移到PaddleDetection release/2.2版本以及Paddle 2.1.2版本。另外目前动态图也已经支持blazeface模型

[2021-08-24 03:47] jerrywgz commented on #4039
在pretrain_weight的字段设置coco上已经训练好的检测模型，比如如果是yolov3算法 可以使用这个里面的链接https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/configs/yolov3#yolov3

[2021-08-24 03:50] jerrywgz commented on #4043
如果是RTX30系列显卡，建议使用cuda11.0以上的版本，并安装配套的paddle版本

[2021-08-24 03:51] jerrywgz commented on #4036
通过线下沟通，问题属于显存不足，需要将模型中的一部分模块改写

[2021-08-24 07:43] thunder95 opened #4049 "【论文复现】fp16混合精度训练总是提示Found inf or nan"
不用fp16训练很正常， 用了fp16总是出现提示：
Found inf or nan, current scale is: 128.0, decrease to: 128.0*0.5

loss整体没有明显下降，反复震荡。

请问怎么解决？

[2021-08-24 08:54] yuyangup commented on #4046
补充一下信息：
’环境是win10、预测库是cuda11.0_cudnn8.0_avx_mkl_trt7、trt是TensorRT-7.2.3.4（TensorRT-8.0.1.6也试过），被预测的模型是fasterrcnn训练的模型，trt正常路径正常配置，相关的bin include和lib都放进了cuda对应目录，编译过程未报错，另外本机是cuda11.2，gpu是rtx2080ti

[2021-08-24 09:30] wenli1216cy commented on #581
@qingqing01 你好我还有个问题，我编译C++预测库的时候遇到这个问题，也是make不成功，都到100%了，没找到问题在哪
WITH_GPU=ON
WITH_MKL=ON
WITH_TENSORRT=ON
# paddle
PADDLE_LIB_NAME=libpaddle_inference
# TensorRT
TENSORRT_INC_DIR=/paddle/TensorRT-7.2.3.4/include
# TensorRT
TENSORRT_LIB_DIR=/paddle/TensorRT-7.2.3.4/lib
# Paddle
PADDLE_DIR=/paddle/paddle_inference
# CUDA
CUDA_LIB=/usr/local/cuda-11.2/lib64/
# CUDNN
CUDNN_LIB=/usr/local/cuda-11.2/li

[2021-08-24 09:32] wenli1216cy commented on #581
在Docker下编译的，nvidia-docker pull registry.baidubce.com/paddlepaddle/paddle:2.1.2-gpu-cuda11.2-cudnn8

[2021-08-24 09:35] Jialiang123 opened #4051 "static 下的 yolov4 训练时出问题"
在静态图下用yolov4训练自己的模型时跑个2000步就会报错，如下
![image](https://user-images.githubusercontent.com/37236583/130593810-522b526b-6d2a-4ba4-84de-c7ae18ba1543.png)

[2021-08-24 09:39] ghostxsl commented on #4046
1. 可以
2. 需要自己安装openblas，这个地方只有两个选项：MKL or openblas
3. 这个trt的我稍后看一下
4. 运行main的参数应该跟模型没关系
5. 应该就这一个，预处理主要依赖opencv库
6. 文档我check一下
7. 这个问题我复现一下看看

最后，感谢您的反馈～

[2021-08-24 09:51] kingbirdWc opened #4053 "学习率配置的含义"
您好，请教，下面的PiecewiseDecay gamma milestones， LinearWarmup start_factor steps里面的含义是什么呢？
[code]

[2021-08-24 11:20] yghstill commented on #4049
@thunder95 建议复现论文阶段用fp32训练，先复现论文。fp16混合精度训练不稳定，有些算子尚未支持，还需要针对模型去优化

[2021-08-24 11:22] yghstill commented on #4051
@Jialiang123 看报错是图片读取发生错误，请在decode阶段打印一些debug信息，将出问题的im_file找到并check下：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/static/ppdet/data/transform/operators.py#L114

[2021-08-24 12:23] yghstill commented on #3997
@lcc157 solov2_r50_enhance_coco.pdparams 已重新训练上传，mask AP：39.3

[2021-08-24 12:24] yghstill commented on #3997
@lcc157 P40上12.7FPS的预测耗时是符合预期的

[2021-08-24 12:46] yghstill commented on #4053
@kingbirdWc
（1）PiecewiseDecay是学习率衰减策略，在milestones指定的epoch时学习率lr会乘以gamma
（2）LinearWarmup表示起始学习率warmup，start_factor表示起始学习率，比如为0，然后steps表示warmup的轮数，这里4000表示前4000轮warmup，lr会从0线性增长到base_lr

[2021-08-25 01:48] kingbirdWc commented on #4053
@yghstill 谢谢。增长到base_lr之后才会按照PiecewiseDecay的设置再权重衰减进行训练吗？

[2021-08-25 02:01] jacksonqin037 commented on #4043
十分感谢，问题已经解决

[2021-08-25 03:14] yghstill commented on #4053
@kingbirdWc 是的

[2021-08-25 03:16] yghstill commented on #4034
@songrui2009 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.2/ppdet/engine/trainer.py#L557  此处None设置为1就行

[2021-08-25 03:40] songrui2009 commented on #4034
谢谢，辛苦了

[2021-08-25 05:03] sosan-nian opened #4057 "使用2.1 2.2训练一个 epoch就自动中断，弹应用程序错误"
在win10 conda环境下 paddle2.1.2 cuda10.02 gpu
在ppdet2.1和ppdet2.2使用同样的自定义coco数据集分别测试了ppyolov2和maskrcnn，都在一个epoch时就自动中断了，使用ppyolov2时没有弹python应用错误
![图片](https://user-images.githubusercontent.com/82444943/130727742-bfa43b9b-e685-47a4-b711-605a4b8f27d0.png)
![图片](https://user-images.githubusercontent.com/82444943/130728878-7b23d345-becf-42a1-9af0-ee1e595b7703.png)
在ppdet2.0下用同样的数据集使用ppyolov2训练预测都完成了，精度接近0.

[2021-08-25 05:16] #4043 closed, assigned to nobody

[2021-08-25 07:00] xiangfeidecao commented on #3259
请问你后来怎么解决的

[2021-08-25 07:00] xiangfeidecao commented on #3259
请问你后来怎么解决的

[2021-08-25 08:04] Jialiang123 opened #4059 "static下yolov4训练不收敛问题"
用自己的数据集跑一个yolov4的模型，已经跑了20万步以上了，loss值一直在10~20间徘徊，学习率调了一下效果不大，想请教一下这是什么原因呢？
![Uploading image.png…]()

[2021-08-25 08:17] bueredgirll opened #4060 "用paddleDetection训练yolov3模型，356张图片，CPU运行，batch_size=2,学习率，step,milestone,应该怎么设置。"
这是配置文件：训练的结果有许多错误框框
architecture: YOLOv3
use_gpu: false
max_iters: 2200
log_iter: 20
save_dir: output
snapshot_iter: 500
# metric=The type
metric: VOC
map_type: 11point
pretrain_weights: https://paddlemodels.bj.bcebos.com/object_detection/yolov3_mobilenet_v1.tar
weights: output/yolov3_mobilenet_v1_fruit/best_model
num_classes: 2
finetune_exclude_pretrained_params: ['yolo_output']
use_fine_grained_

[2021-08-25 08:18] bueredgirll commented on #4060
应该怎么修改呢，是不是图片的大小设置的不对

[2021-08-25 08:49] kingbirdWc opened #4061 "PaddleDetection支持旋转框标注的物体检测吗？"

[2021-08-25 08:50] tiandilinghuo opened #4062 "yolo目标检测怎样并行化"
有大批量图片url 需要从网上下载 并检测内容，怎么讲图片预处理【下载 ImageDecode resize等】 和 预测并行化，需要怎么编码？

[2021-08-25 08:52] tiandilinghuo commented on #4062
![image](https://user-images.githubusercontent.com/2712674/130759939-6a96e56f-f255-40ed-a9e3-6e03f75abc1b.png)
预测时候传入的是list  list中只能有一个元素（yi'zha一张图） 多个 图片会报错

[2021-08-25 09:08] lin-0015 opened #4063 "PGNet自定义完字典按官方提示修改完代码出现字符过多"
![image](https://user-images.githubusercontent.com/65577659/130761098-cd104a93-0c2a-4aa8-96a7-8a3a43f383f9.png)

配置文件中修改字典路径与字典填充长度
character_dict_path
![image](https://user-images.githubusercontent.com/65577659/130761288-84c6ff3a-c971-4c27-b972-d9d0d8556ded.png)

网络结构ppocr\modeling\heads\e2e_pg_head.py中修改:
![image](https://user-images.githubusercontent.com/65577659/130761588-ff33ffed-383d-4b9c-a9

[2021-08-25 09:13] #4063 closed, assigned to nobody

[2021-08-25 12:07] #4049 closed, assigned to nobody

[2021-08-25 13:26] XiongZhongxia opened #4064 "轻量级solov2"
您好，请问有轻量级的solov2吗？比如solov2 +GhostNet或者mobilenet，我自己替换backbone的时候遇到一些问题解决不了。。。。

[2021-08-26 00:41] yuyangup commented on #4046
1、如果勾选了with_mkl,我还需要下载openblas吗？这个openblas是做什么的？
2、最新测试情况，我使用paddlex的c++编译教程，编译成功了，但是使用main预测的时候，在命令行下面出现了"you are using paddle compiled with tensorrt ,but tensorrt ... is not found"错误，但是trt的环境变量、拷贝到的目录（cuda下的bin、lib、include）包括多trt版本测试，都有试过。依然是报此错误，但是paddledetection的编译，也是成功了，但是预测时，啥提示也没有，预测输出也没有
3、运行main的参数，是适用所有的模型吗？比如fasterrcnn、yolo、ppyolo系列训练处的模型，参数也是一样的吗？
4、运行main进行预测时，建议提供日志输出配置，让用户在测试模式下，能看到

[2021-08-26 00:42] yuyangup commented on #4046
还有一个问题，能不能不适用trt呢？不用trt加速不行吗？我看编译时那个with_tensorrt就是个摆设，勾和不勾都是需要trt。。。

[2021-08-26 01:46] monkeycc opened #4065 "有计划推出GUI版本吗"
PaddleX有GUI版本

PaddleDetection也可以弄一个GUI版本出来

[2021-08-26 02:10] wangxinxin08 commented on #4060
yolov3默认使用使用8卡训练，每张卡的batch_size为8，总的batch size等于8 * 8=64，如果你使用单卡batch size=2，是原来的2 / 64 = 1 / 32，学习率也要变成原来的1 / 32。另外，因为这是静态图，milestones和steps是指iter的数量，milestones应该设置成[216 * (365 / 2), 243 / (365 / 2)]，总共应该训练270个epoch, max_iters应该设置成270 * (365 / 2)，steps一般设置成5～10个epoch，这里不用修改也行

[2021-08-26 02:11] wangxinxin08 commented on #4061
支持的，可以参考S2ANet: https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/configs/dota

[2021-08-26 02:14] wangxinxin08 commented on #4062
现在动态图支持bs > 1, 你可以参考：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/deploy

[2021-08-26 02:17] wangxinxin08 commented on #4065
你的需求已经收到，我们需要内部讨论下，如果有必要的话，会排期推出GUI版本

[2021-08-26 02:21] #4022 closed, assigned to nobody

[2021-08-26 02:21] 534114658 commented on #4022
好的

[2021-08-26 02:24] wangxinxin08 commented on #4057
你的问题已经收到，这个问题我们原先也发现了，目前在定位中，感谢你的反馈！另外，你提到使用ppdet 2.0能够正常的训练ppyolov2，ppdet 2.1和2.2都不能正常训练，请问，能够正常训练的环境除了ppdet的版本不同之外，还有其他的差别吗？比如PaddlePaddle等其他依赖包和cuda，cudnn环境

[2021-08-26 02:26] wangxinxin08 commented on #4059
静态图的yolov4原先在coco上应该能达到40+的AP，你可以看一下eval的结果，另外，yolov4并没有做严格的复现，精度可能不能完全对齐，推荐你使用为我们自研的ppyolo系列模型，比yolov4更快，精度更高

[2021-08-26 02:27] zouxiaoshi opened #4066 "solov2 paddle serving 部署"
您好：

在用solov2 部署在 paddle serving 时出现了错误，请帮忙看下。

### test_client.py
[code]

### 报错信息：
[code]

环境如下：
paddle-serving-app        0.6.1
paddle-serving-client     0.6.1
paddle-serving-server-gpu 0.6.1.post102
paddlepaddle-gpu          2.1.2

[2021-08-26 02:45] ghostxsl commented on #4046
1. 两者选其一，openblas官网：http://www.openblas.net/  简单来讲这就是个计算库
2. 你这个情况，我复现了一下，我本地编译没有报这个错，按照你给出的错误信息提示的话，我觉得可能是你安装的paddle库是用trt编译的，如果你不指定trt的目录，在你运行的时候，会因为找不到runtime的环境而报这个错
3. 是的，main的参数是固定的，适用于所有paddledetection下的导出模型
4. 这个问题我这边复现时是可以打印日志信息的，怀疑是你的环境可能没配置好
运行成功：
![image](https://user-images.githubusercontent.com/23647349/130891535-4aff23e1-8bec-49af-be8b-99f852b63ead.png)
运行失败及错误原因：
![image](https://u

[2021-08-26 03:49] zouxiaoshi commented on #4066
试了各种preprocess，都是报上面的错误：
[code]

所以，感觉错误跟导出的模型相关，
训练环境：
paddledet                 2.2.0
paddlepaddle-gpu       2.1.2

通过*deploy/python/infer.py* 的方式，可以进行推理的，seving 导出的话，也是正常导出。
版本的话，基本都是全新的。
所以很迷惑，不知道问题出哪里了。

[2021-08-26 05:31] lyuwenyu commented on #4064
怎么替换的 遇到什么问题了

[2021-08-26 05:33] lyuwenyu commented on #4066
部署的是什么机器，sync_batch_norm在cpu上跑不了吧  报错信息时在cpu上了

[2021-08-26 05:41] zouxiaoshi commented on #4066
原来如此，GPU显存不够了，所以临时部署在CPU上，测试一下，然后就出现了
上述的报错。 好的，谢谢，我先用GPU试一下。

您帮我看看， 这个preprocess正确吗，我看 infer_cfg.yml 上还有个 PadStride, 但我引入padstride（stride为32）后会报错，信息如下：
[code]
附 上 solov2 的 infer_cfg.yml 文件
[code]

[2021-08-26 06:16] XiongZhongxia commented on #4064
solov2_r50中，backbone接FPN，需要有对应每一层的strides，但是ppdet中的mobilenet、ghostnet最后都没有把这个参数加进去，我不知道应该怎么修改。。。

[2021-08-26 07:49] zouxiaoshi commented on #4066
用GPU试了下，可以运行。
但是获取fetch values的时候出现了问题：
[code]
#### 当fetch 包含 "save_infer_model/scale_0.tmp_1" 时 报错如下：
[code]
#### 当fetch  包含 "save_infer_model/scale_3.tmp_1"时报错：
[code]
我看了下，缺少 "save_infer_model/scale_3.tmp_1" 的 fetch_type。

serving_server_conf.prototxt  文件如下：
[code]

[2021-08-26 08:21] liuxi1007 commented on #3942
请问map为0的问题解决了吗？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Wei Hongwei ***@***.***&gt;
发送时间: 2021年8月23日 18:56
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: liuxi1007 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] [BUG]单类别实例分割 map一直为0 (#3942)

我也是map一直很低，预测结果都没东西

—
You are receiving this because you authored the thread.
Reply to this email d

[2021-08-26 08:22] weihongwei-zg commented on #3942
解决了，我没有用最新的代码 ------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年8月26日(星期四) 下午4:21
***@***.***&gt;;
抄送:&nbsp;&quot;Wei ***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] [BUG]单类别实例分割 map一直为0 (#3942)

[2021-08-26 08:31] liuxi1007 commented on #3942
您好，请问您是怎么解决的？用的那个版本的代码？感谢～

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Wei Hongwei ***@***.***&gt;
发送时间: 2021年8月26日 16:23
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: liuxi1007 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] [BUG]单类别实例分割 map一直为0 (#3942)

 解决了，我没有用最新的代码 ------------------&amp;nbsp;原始邮件&amp;nbsp;------------------
 ***@***.***&

[2021-08-26 08:44] weihongwei-zg commented on #3942
就是最新版本，重新下载paddledetection，重新安装。如果没有重新安装，用的代码还是原来版本的代码------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年8月26日(星期四) 下午4:31
***@***.***&gt;;
抄送:&nbsp;&quot;Wei ***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] [BUG]单类别实例分割 map一直为0 (#3942)

[2021-08-26 08:53] liuxi1007 commented on #3942
请问安装的是release 2.2还是develop？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Wei Hongwei ***@***.***&gt;
发送时间: 2021年8月26日 16:44
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: liuxi1007 ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] [BUG]单类别实例分割 map一直为0 (#3942)

 就是最新版本，重新下载paddledetection，重新安装。如果没有重新安装，用的代码还是原来版本的代码------------------&amp;nbsp;原始邮件&

[2021-08-26 08:56] weihongwei-zg commented on #3942
2.2

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年8月26日(周四) 下午4:53
收件人: ***@***.***&gt;;
抄送: "Wei ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]单类别实例分割 map一直为0 (#3942)

 请问安装的是release 2.2还是develop？

 发自我的iPhone

 ------------------ 原始邮件 ------------------
 发件人: Wei Hongwei ***@***.***&amp;gt;
 发送时间: 2021年8月26日 16:44
 收件人: PaddlePaddle/PaddleDetection ***@***.***&amp;gt;
 抄送