[2021-06-17 08:44] DongChenwei2000 opened #3415 "关于添加backbone"
我在paddle detection中添加了自己的backbone，然后进行训练，出现了如下错误：
![D48QR0J$MO2Z1%JZW9H1B55](https://user-images.githubusercontent.com/71364549/122363057-3a45f880-cf8b-11eb-9300-52a4540b46e5.png)
这是什么原因呢

[2021-06-17 09:01] Dejavusd opened #3416 "fairmot使用训练好的pdparams预测视频"
在训练的时候已下载配置好训练集得到pdparams，后又创了新的项目，使用训练好的pdparams预测视频，会报数据集未下载的错误 NotImplementedError: Dataset mot is not valid for download automatically. Please apply and download the dataset following docs/tutorials/PrepareMOTDataSet.md
请问如何在不下载配置训练集下，使用自己训练好的pdparams预测视频

[2021-06-17 09:07] nemonameless commented on #3404
tracker.__all__ \ 已经修复，后两点我这试验没有出现你的问题。建议每换一个版本的PaddleDetection或者有改动ppdet文件夹里的代码后，重新python setup.py install 更新下。建议使用develop分支，实时更新和维护的，release/2.1分支很多改动还没有合入，之后会基于develop切换到2.1.1或2.2分支。

[2021-06-17 09:12] lyuwenyu commented on #3415
参数名字有重名的冲突  建议自己的`backbone`里的参数 不要指定名字 或者 名字加上特定前缀

[2021-06-17 09:18] #3397 closed, assigned to nobody

[2021-06-17 09:19] nemonameless commented on #3416
预测视频不需要下载数据集。训练和评估(tools/eval_mot.py)需要下载数据集。
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/mot/fairmot/README_cn.md
3. 预测
[code]

[2021-06-17 09:20] #3400 closed, assigned to nobody

[2021-06-17 09:29] lyuwenyu commented on #3410
-  你现在系统几个Python环境？ 确保pip 和 python 对应 <which pip / python>
- python import package是有顺序的，默认会优先搜索`site-packages`里的 而不是当前目录 <查看环境变量路径的顺序>

[2021-06-17 09:33] Dejavusd commented on #3416
这种相比 用develop 导出模型后来infer，有什么区别，预测视频速度之类的

[2021-06-17 09:36] lyuwenyu commented on #3409
检查一下dataset的data_fields配置对了没
参考 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/datasets/voc.yml#L17

[2021-06-17 09:40] Dejavusd commented on #3416
刚刚我试了一遍，还是会报错 NotImplementedError: Dataset mot is not valid for download automatically. Please apply and download the dataset following docs/tutorials/PrepareMOTDataSet.md
我使用的是 PaddleDetection-release-2.1
代码 CUDA_VISIBLE_DEVICES=0
!python  /home/aistudio/PD/tools/infer_mot.py -c  /home/aistudio/PD/configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml
-o weights=/home/aistudio/PD/output/fairmot/model

[2021-06-17 09:51] sanmulab opened #3417 "增加LVIS数据格式"
增加新的LVIS数据集格式等api，方便配置数据进行长尾数据训练

[2021-06-17 09:54] nemonameless commented on #3416
建议每换一个版本的PaddleDetection或者有改动ppdet文件夹里的代码后，重新python setup.py install 更新下。实验过没有出现你的问题。https://github.com/PaddlePaddle/PaddleDetection/releases 这里的zip包可能有改动没合入，建议拉取github上的release/2.1或develop。导出模型后deploy下的infer见文档  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python ，目前develop分支里的跟踪模型的deploy还待完善。

[2021-06-17 09:58] nemonameless commented on #3417
谢谢建议，之后可能会考虑列为计划中。

[2021-06-17 10:00] lhx123456-lang commented on #3409
确实是这个原因,已经解决,谢谢

[2021-06-17 10:01] nemonameless commented on #3414
是继承自nn.Layer的属性

[2021-06-17 10:10] PiggyJie opened #3418 "安装paddle没有报错，但是无法运行"
问题如题所述。安装完paddle后无法运行，使用官方提供的paddle.utils.run_check()方法后不出结果，提示信息如下：
`(paddle) PS C:\Users\jie> python
Python 3.8.10 (default, May 19 2021, 13:12:57) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Running verify PaddlePaddle program ...
W0617 18:00:22.433677 19572 device_context.cc:404] Please NOTE: device: 0, GPU Comp

[2021-06-17 10:10] GexLoong opened #3419 "关键点检测"
![9704`ZS(2QLT LV`U{EXH%K](https://user-images.githubusercontent.com/71758483/122376992-3ddf7c80-cf97-11eb-9693-65aea81851b1.png)
请问keypoints能用其他数据集吗，我用的posetrack官网的数据集报错

[2021-06-17 10:14] Dejavusd commented on #3416
两个我都试了 release/2.1或develop，setup 也更新过了，但还是报同样的错，是不是哪里我没有修改，如果能告诉我你那边使用的是哪个git实验的就好了。

[2021-06-17 10:16] Dejavusd commented on #3416
[06/17 18:11:32] ppdet.utils.download WARNING: Config dataset_dir dataset/mot is not exits, dataset config is not valid
[06/17 18:11:32] ppdet.utils.download INFO: Dataset /home/aistudio/dataset/mot is not valid for reason above, try searching /home/aistudio/.cache/paddle/dataset or downloading dataset...

[2021-06-17 10:16] nemonameless commented on #3419
目前KeyPoint模型基于coco数据集开发，其他数据集尚未验证。可以将posetrack的标注文件改成coco keypoint的格式。

[2021-06-17 10:18] Mandroide commented on #3394
I tried it, and it didn't make any difference. I am using the same configuration from [aicity2020-track4](https://github.com/PaddlePaddle/Research/tree/master/CV/AICity2020-Anomaly-Detection/det_code/aicity2020-track4) for this program.

You can see my notebook here: [Test_AICity2020-Anomaly-Detection](https://github.com/Mandroide/Test_AICity2020-Anomaly-Detection/blob/main/Test_AICity2020_Anomaly

[2021-06-17 10:21] nemonameless commented on #3416
请问你的数据集目录是？git  clone下来什么都不用改就运行即可。你是把dataset文件夹删掉了，还是改了configs/datasets/mot.yml的dataset_dir？

[2021-06-17 10:25] Dejavusd commented on #3416
对，我刚刚也发现到了这个问题，目前已经成功解决了。
configs/datasets/mot.yml下的全部dataset_dir要修改成自己的路径。

[2021-06-17 10:27] #3416 closed, assigned to nobody

[2021-06-17 11:04] wangxinxin08 commented on #3394
The config file from  [aicity2020-track4](https://github.com/PaddlePaddle/Research/tree/master/CV/AICity2020-Anomaly-Detection/det_code/aicity2020-track4) is used by static graph，you should change the directory to `det_code/PaddleDetection/static` to run the model defined by [aicity2020-track4](https://github.com/PaddlePaddle/Research/tree/master/CV/AICity2020-Anomaly-Detection/det_code/aicity2020

[2021-06-17 11:39] yghstill commented on #3412
@wflrz123 请参考slim的文档教程：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/slim
根据已有prune的配置文件，增加新的prune配置，执行：
[code]

[2021-06-17 12:02] wangxinxin08 commented on #3413
dropblock添加在YOLOv3Head里面，参考配置文件：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/dcn/yolov3_r50vd_dcn_db_iouaware_obj365_pretrained_coco.yml#L44，dropblock只在训练时存在，导出的模型不包含dropblock

[2021-06-17 12:48] zhude233 opened #3422 "paddle中使用自定义数据集，设置shuffle为False，显存溢出"
在shuffle设置为True时，显存占用约1.4g，下图为设置为True时
![$N )9I%C58V@1LSWZW{C~Q](https://user-images.githubusercontent.com/60126992/122398956-f663eb00-cfac-11eb-88ee-8ca3af40afe6.png)
在shuffle设置为False时，显存会溢出，下图为设置为False时
![O~UIMJP8S7`8T7S %Q(P{ 8](https://user-images.githubusercontent.com/60126992/122399093-1398b980-cfad-11eb-9134-9e94fa1c6a62.png)
两者均在同一环境下测试，以下为dataset定义
![image](https://user-images.githubuserc

[2021-06-17 12:48] zhude233 commented on #3422
![image](https://user-images.githubusercontent.com/60126992/122399439-61adbd00-cfad-11eb-9f17-db13067ff507.png)

[2021-06-17 12:49] zhude233 commented on #3422
最长的data返回仅为[3000+,800]

[2021-06-17 12:59] GexLoong commented on #3419
请问关键点检测能和多目标跟踪相结合吗，就是通过关键点检测提高跟踪识别的准确率和召回率，我看到官方给了一篇文章写着能结合使用，但是是先通过fairmot跟踪得到人的框，再通过关键点检测得到人的关键点标识，这样貌似不是提高跟踪的准确率和召回率吧。求教，谢谢！！

[2021-06-17 12:59] MyGitHub-G commented on #3419
请问关键点检测能和多目标跟踪相结合吗，就是通过关键点检测提高跟踪识别的准确率和召回率，我看到官方给了一篇文章写着能结合使用，但是是先通过fairmot跟踪得到人的框，再通过关键点检测得到人的关键点标识，这样貌似不是提高跟踪的准确率和召回率吧。求教，谢谢！！

[2021-06-17 13:07] zhude233 commented on #3422
paddlepaddle版本为2.0

[2021-06-17 13:12] nemonameless commented on #3422
建议换2.1版本，ppdet版本也拉取最新的develop或release/2.1分支试试

[2021-06-17 13:26] lazyn1997 opened #3423 "ppyolov2 训练速度慢"
![image](https://user-images.githubusercontent.com/34644177/122405420-a1c36e80-cfb2-11eb-87f4-9a465cb2bf66.png)

这个 ips 是指速度嘛，是现在对 cuda11 优化不好吗，为什么速度差这么多，cuda11.2 显卡是 3080，cuda10.2 显卡是 T4，理论上是不是 3080 更快啊？

[2021-06-17 13:32] nemonameless commented on #3419
我们官网的第2个demo就是关键点检测和多目标跟踪结合的，的确是先fairmot跟踪再hrnet得到人的keypoints。个人觉得看你的需求偏向于哪方面吧。跟踪的结果是多了个id标记的检测框，本质上是更加精确的框。而top-down的pose estimation最初来源于行人检测框架，依赖强检测器的性能可以获取较高的召回，得到检出框后，再在框中检测人体关键点，所以先跟踪后关键点的做法是比较直观的。bottom-up的方法是先检出所有人体关键点再重组成人形，和检测框关系不大，要么根据关键点结果对跟踪的框进行过滤或精修，感觉意义不是很大，跟踪的框一般已经是高置信度的了。

[2021-06-17 13:43] GexLoong commented on #3419
感谢您的解答！！！

[2021-06-17 16:00] PiggyJie commented on #3418
首先问一下，是不是paddle不能在win10家庭版上使用？因为尝试了各种方法，我的电脑上始终运行不起来paddle（运行check方法时会卡住，既出不了结果，也无法进行键盘操作）。如果能在家庭版中使用，那我实在找不出其他原因了。

更新：
各种方法都尝试过了，还是不行。应该不是操作上的问题，同样的操作，公司电脑上能正常使用，且是一次成功。
尝试的方法：
1、不同的cuda版本：10.2,10.1
2、重建虚拟环境
3、Pip、conda安装方式
4、彻底重装anaconda、pycharm
5、其他各种依赖的重装
6、。。。。

电脑型号：联想小新pro16 rtx3050版
CPU：AMD R75800H
显卡：RTX3050（laptop版本）
内存：16G
显存：4G

希望各位大佬能帮忙解答一波，本人感激不尽，实在困扰太久！！！

[2021-06-18 00:29] zhude233 commented on #3422
paddlepaddle2.1GPU版，根据paddlepaddle文档使用会出现训练异常，暂无法解决，并未使用ppdet

[2021-06-18 01:42] nemonameless commented on #3422
PaddleDetection是哪个分支？

[2021-06-18 01:43] zhude233 commented on #3422
并未使用paddledetection

[2021-06-18 01:54] nemonameless commented on #3422
建议给 https://github.com/PaddlePaddle/Paddle/issues/new/choose 也提个issue

[2021-06-18 01:55] zhude233 commented on #3422
好的，之前没找到paddle的😂

[2021-06-18 02:11] Anonymous-99999 opened #3424 "使用maskrcnn预测大于725*725的图片没有mask"
用的是2.0版本，使用2048\*2448的图去训练了一个maskrcnn的模型，预测的时候，如果输入的图仍然是2048\*2448的话，能画出不错的bbox，但是没有mask，mask数组都是0，后来测试，如果输入图片小于等于724*724，则有mask，如果大于等于725\*725，则mask就全为0，预测的结果图上就完全没有mask，这是什么原因呢？

[2021-06-18 02:22] nemonameless commented on #3407
两阶段模型训练时在RPNHead生成proposal是需要nms的，但你的改动只是head上和训练是无关的。你用同一个阈值训练用不同阈值测试，结果肯定也是不同的。另外数据集太小容易出现波动。

[2021-06-18 02:28] #3409 closed, assigned to nobody

[2021-06-18 02:32] nemonameless commented on #3410
可以pip uninstall paddledet试试。代码调试就能根据本地代码了。

[2021-06-18 02:37] weihongwei-zg commented on #3380
并未完全修复。优化器除了momentum，修复后sgd也是支持。但使用Adam，eval依然卡住------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年6月14日(星期一) 晚上10:43
***@***.***&gt;;
抄送:&nbsp;&quot;Wei ***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] optimizer中优化器支持哪几种？只有默认的Momentum优化器是正常的。 (#3380)

[2021-06-18 02:39] liuhuiCNN commented on #3408
你好，paddle预测库默认使用  /MT 模式进行编译，您可以自己重新编译一下Paddle预测库，windows编译预测库文档请参考：https://paddle-inference.readthedocs.io/en/latest/user_guides/source_compile.html

[2021-06-18 02:42] nemonameless commented on #3418
30系列的显卡应该要cuda11才行。
https://www.paddlepaddle.org.cn/install/quick/zh/2.0rc-linux-source?docurl=/documentation/docs/zh/install/pip/windows-pip.html
如果您使用的是安培架构的GPU，推荐使用CUDA11.2，执行以下命令安装：
[code]
如果您使用的是非安培架构的GPU，推荐使用CUDA10.2，性能更优。

[2021-06-18 02:46] #3387 closed, assigned to nobody

[2021-06-18 02:46] #3384 closed, assigned to nobody

[2021-06-18 02:47] #3382 closed, assigned to nobody

[2021-06-18 02:51] #3414 closed, assigned to nobody

[2021-06-18 03:10] raymondchu-z opened #3425 "ppyolov2_r50vd_dcn_voc配置问题求解"
我想使用ppyolov2_r50vd_dcn_voc为参考配置，在自定义数据集上训练，有几个问题不太清楚。
请问[ppyolov2_r50vd_dcn_voc](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolov2_r50vd_dcn_voc.yml)这个配置：
1. 是在voc哪个训练集上训练的？改训练集的样本数是多少？关乎于我根据自定义数据集计算epoch和相应的参数。
2. 这个配置有相应的权重模型供下载吗？

[2021-06-18 04:11] nemonameless commented on #3425
1. VOC 07+12，训练集有16551张，测试有4952张。
2. 暂时没有。但是有coco训好的模型可以作为一个极强的预训练，拿去finetune你的数据集。

[2021-06-18 05:05] qingqing01 commented on #3423
@lazyn1997 理论上是3080更快一些。您是单卡训练吗？

[2021-06-18 05:33] jerrywgz commented on #3424
可以尝试使用paddle develop版本，安装方法可以参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/windows-pip.html 近期paddle对mask rcnn预测使用的grid_mask做了修复

[2021-06-18 05:54] heavengate commented on #3363
单卡变多卡将lr对应调整就可以了，`warmup`和`epoch`不需要调整，warmup的初始lr是按比例设置的，比如说0或者初始lr的`1/3`这种

[2021-06-18 05:57] heavengate commented on #3345
你的配置文件发出来看下呢，还有你的Paddle和PaddleDetection用的是哪个版本呢，切换到最新版本试下呢

[2021-06-18 06:15] yeyupiaoling commented on #3396
@wangxinxin08 我用的是则个模型`ppyolo_tiny_650e_voc.yml`，这个`ppyolo_r50vd_dcn_1x_voc.yml`模型也出现，其他的没试过。

[2021-06-18 06:21] yinggo commented on #3407
@nemonameless 感谢！

[2021-06-18 06:21] #3407 closed, assigned to nobody

[2021-06-18 06:45] lazyn1997 commented on #3423
是的，两个结果都是单卡训练。

[2021-06-18 06:49] #3425 closed, assigned to nobody

[2021-06-18 06:50] #3363 closed, assigned to heavengate

[2021-06-18 06:57] raymondchu-z commented on #2974
你好，默认的worker_num是2，请问这个参数和什么有关？推荐设置成多少？

[2021-06-18 07:01] wxf764571829 opened #3426 "训练加了eval后报错 self.class_gt_counts[int(np.array(gtl))] += 1 IndexError: list index out of range"
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/paddle/PaddleDetection-release-2.1/ppdet/engine/trainer.py", line 350, in train
    self._eval_with_loader(self._eval_loader)
  File "/paddle/PaddleDetection-relea

[2021-06-18 07:12] #3426 closed, assigned to nobody

[2021-06-18 07:21] gaorui999 opened #3427 "建议增加一下RCNN、Fast-RCNN的模型"
在进行论文复现的时候发现这两个模型缺失，但在目标检测领域很重要，希望官方能复现下这两个模型加进去

[2021-06-18 07:30] SangerY commented on #3345
paddle和paddleDetection都是最新版。配置文件和数据集都已经发给qingqing01了

[2021-06-18 07:56] liuhuiCNN commented on #3275
fix in #3401

[2021-06-18 07:56] #3275 closed, assigned to liuhuiCNN

[2021-06-18 07:57] liuhuiCNN commented on #3308
fix in #3401

[2021-06-18 07:57] #3308 closed, assigned to nobody

[2021-06-18 07:57] liuhuiCNN commented on #3352
fix in #3401

[2021-06-18 07:57] #3352 closed, assigned to liuhuiCNN

[2021-06-18 08:45] FeiMa-REC opened #3428 "经过检查和搜索还是没有解决该问题：Not found any voc record in trainval.txt"
### 前提：
` %cd PaddleDetection/ `
` %env PYTHONPATH=/home/aistudio/PaddleDetection `
### 已经设置PaddleDetection为工作目录,且安装过程无误。

![图片](https://user-images.githubusercontent.com/62004245/122532026-aa6b8180-d052-11eb-98c8-3fd6bd9a0386.png)

**报错提示，没有识别到VOC格式，开始检查数据集结构。**

![图片](https://user-images.githubusercontent.com/62004245/122532306-f61e2b00-d052-11eb-9809-3a12fea81a96.png)

![图片](https://user-images

[2021-06-18 09:15] EdwardVincentMa opened #3429 "你好，如何把 ppyolo_tiny_650e_coco.pdparams 转为 onnx 模型"
你好，如何把 ppyolo_tiny_650e_coco.pdparams 转为 onnx 模型。非常感谢～

你好，这个模型属于动态图吧，我看了教程，没看懂。请问此模型如何转换

[2021-06-18 09:17] liuhuiCNN commented on #3378
目前不同算法的设置不完全一样，感觉您的建议，后面我们会考虑统一设置。
在coco数据集上结果浮动0.3以内是正常的，您的训练结果如果浮动在一定范围内是正常的。

[2021-06-18 09:18] ReverseSacle opened #3430 "关于FairMOT在window下的运行错误"
如题，目前有几处疑惑的地方。
![问题1](https://user-images.githubusercontent.com/73418195/122537852-9165cf00-d058-11eb-91ac-fa95876920be.png)
![问题2](https://user-images.githubusercontent.com/73418195/122537854-9165cf00-d058-11eb-9e9f-1a8974ff17ec.png)

另外是否是RGBReverse{}这个数据增强导致了下面的问题?
```InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: t

[2021-06-18 09:19] yghstill commented on #3381
@Wei-JL 预测为空报错了，此问题已经修复，更新一下最新develop分支代码吧。

[2021-06-18 09:41] FengHaobo opened #3432 "关于SSD添加FPN结构的问题"
支持SSD添加FPN结构吗，具体需要那些操作啊，谢谢！

[2021-06-18 09:42] #3393 closed, assigned to nobody

[2021-06-18 09:58] nemonameless commented on #3430
RGBReverse只是RGB转为BGR或者相反，与NCHW无关的。在linux运行有这个问题吗？

[2021-06-18 10:11] nemonameless commented on #3432
动态图暂未添加。静态图有，参照 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/static/configs/ssd/ssdlite_mobilenet_v3_large_fpn.yml

[2021-06-18 10:15] nemonameless commented on #3428
请确认下这个数据集格式是否和VOC严格一致，以及JPEGImages和Annotations是否和trainval.txt在同一级目录下。

[2021-06-18 10:27] ReverseSacle commented on #3430
目前还没在linux下测试。windows下重装了两次环境，依然都是 -1073741819(0xc0000005)这个错误，此外我想知道红色的地方是什么问题？

[2021-06-18 12:28] FeiMa-REC commented on #3428
数据集格式和目录结构在上面的截图有，检查过好几遍没有发现问题。

[2021-06-18 13:33] #3402 closed, assigned to nobody

[2021-06-18 13:46] callzhang opened #3434 "infer_mot.py 内存不够"
[code]
推理一个3分钟的视频会内存不够用，进程会静默挂掉（或被kill掉）。我的平台是 Ubuntu 32G内存，单卡。

[2021-06-18 14:45] Dejavusd opened #3435 "fairmot下的merge_config()函数"
使用fairmot预测视频时会加上 -o weights=output/fairmot_dla34_30e_1088x608/model_final.pdparams
然后我想在infer_mot.py 下main()函数里:
        merge_config(FLAGS.opt)
改成
        weights='output/fairmot_dla34_30e_1088x608/model_final.pdparams'（这里为我自己的pdparams路径）
        merge_config(weights)

但是会报错：
File "/home/aistudio/PD/fairmot.py", line 76, in runf
    merge_config(weights)
  File "/home/aistudio/PD/ppdet/core/work

[2021-06-18 14:58] Mandroide commented on #3394
I did what you asked, and it looks like it will work. But the part within [Test_AICity2020_Anomaly_Detection.ipynb](https://github.com/Mandroide/Test_AICity2020-Anomaly-Detection/blob/main/Test_AICity2020_Anomaly_Detection.ipynb) that has this stub of code:

[code]
outputs that No module named 'ppdet.utils.eval_utils'.

[2021-06-19 02:17] yghstill commented on #3429
@EdwardVincentMa 请参考模型转onnx教程文档：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_ONNX_MODEL.md

[2021-06-19 03:39] ReverseSacle commented on #3430
关于这个问题，我在paddle社区找到了相关问题的原因。想问问有什么解决方法？
<img width="702" alt="paddle_问题" src="https://user-images.githubusercontent.com/73418195/122629908-c4f53780-d0f2-11eb-9235-a348ac9c99ac.png">

[2021-06-19 05:40] ReverseSacle commented on #3430
经排查，发现问题出现在mot_infer.py的predict函数中，如下，当运行到```self.predictor.run()```时会报
[code]
之后才会报形状不匹配的错误。
[code]

[2021-06-19 07:15] FeiMa-REC commented on #3428
### 问题已经解决，自定义数据集的xml标注不规范。

[2021-06-19 07:15] #3428 closed, assigned to nobody

[2021-06-19 09:21] dhao-island commented on #3413
谢谢

[2021-06-19 09:23] dhao-island commented on #3413
谢谢

[2021-06-19 14:54] claudehotline opened #3437 "ppyolo_tiny模型使用自定义数据集训练loss不下降的问题"
paddle版本：2.1.0GPU版本
paddleDetection版本：release/2.1版本
使用train.py训练安全帽数据集的时候loss一直在37-40之间.
训练使用的配置文件为`ppyolo_tiny_650e_coco.yml`，GPU单卡训练，学习率改为了base_lr=0.000625. 训练命令为:  `python tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml`

---
#### 数据集配置为：
[code]
#### 数据集目录结构
![捕获](https://user-images.githubusercontent.com/12108736/122646268-dff69480-d150-11eb-84b7-bb1635147863.PNG)

[2021-06-19 15:09] nemonameless commented on #3434
请问总共几帧呢？是用的develop分支内存不够被kill？

[2021-06-19 15:44] nemonameless commented on #3435
FLAGS = parser.parse_args() 是解析config里的设置的，可以改这一行 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml#L10

[2021-06-20 03:45] andyzhongzxy opened #3438 "FairMot导出模型后，用deploy/python/mot_infer.py检测视频很慢"
%cd ~/PaddleDetection-develop
!CUDA_VISIBLE_DEVICES=0 python deploy/python/mot_infer.py --model_dir=output_inference/fairmot_dla34_30e_1088x608 --video_file=demo/2.avi --device=GPU --use_gpu=0
要好几秒才一帧，导出前用tools/infer_mot.py都能十帧每秒
![image](https://user-images.githubusercontent.com/55987753/122661427-9f346500-d1bc-11eb-9a4a-8cfa72e78af4.png)

[2021-06-20 05:10] nemonameless commented on #3438
--use_gpu=True

[2021-06-20 07:05] xmy0916 opened #3439 "Random Erasing bug"
https://github.com/PaddlePaddle/PaddleDetection/blob/86720c1fa0be0c36384faacfb3338eb37c05656b/ppdet/data/transform/operators.py#L203
这一行的heigher这个单词和init里面的变量名对不上，多了个‘e’，一跑就报错...
而且...这英语单词也拼错了吧...没有heigher这个单词，我理解应该是lower对应higher？？？怎么来个变量名heigher...

[2021-06-20 07:06] xmy0916 commented on #3439
代码对应文档里面heigher也拼错了...

[2021-06-20 07:10] xmy0916 commented on #3439
而且修改完后报错：
[code]
然后在paddledetection里面搜这个数据增强也没有一个配置文件用了，只有静态图有一个配置文件有示例配置...有点怀疑这个数据增强qa测试过能用吗？

[2021-06-20 07:47] andyzhongzxy opened #3440 "\deploy\python\mot_infer.py在win上读不出视频"
![image](https://user-images.githubusercontent.com/55987753/122666183-65745600-d1de-11eb-916a-e5995d537f6e.png)
视频是有图片的，在飞桨上可以读出视频图片，但是win上读不了
python mot_infer.py --model_dir=.\model\ --video_file=D:\Download\mot_images\3.mp4 --device=GPU --use_gpu=True

[2021-06-20 10:26] #3440 closed, assigned to nobody

[2021-06-20 10:35] wstchhwp opened #3442 "paddledetection读取VOC格式数据集报错"
![image](https://user-images.githubusercontent.com/40813430/122670649-af1c6b00-d1f5-11eb-907d-4120c56aa280.png)
如上图所示，根据roadsign_voc文件夹的格式建立了power_voc文件夹，并且修改了下面的yml文件：
![image](https://user-images.githubusercontent.com/40813430/122670729-12a69880-d1f6-11eb-9b5d-a39b2de32b7e.png)
![image](https://user-images.githubusercontent.com/40813430/122670738-1f2af100-d1f6-11eb-9df2-7092eb46e4ba.png)
但是运行代码p

[2021-06-20 11:13] andyzhongzxy opened #3443 "deploy/python/mot_infer.py的--threshold阈值不起作用"
![image](https://user-images.githubusercontent.com/55987753/122671795-eb9e9580-d1fa-11eb-87ab-e6a705aefe50.png)
python mot_infer.py --model_dir=.\model\ --video_file=D:\Download\mot_images\3.mp4 --device=GPU --use_gpu=True --threshold=0.5
依旧有很多分值小于0.5的出现

[2021-06-20 12:06] andyzhongzxy commented on #3443
不管是飞桨上还是本地，阈值都不起作用

[2021-06-20 12:22] andyzhongzxy commented on #3443
deploy/python的

[2021-06-20 14:45] jerrywgz commented on #3438
可以更新下代码，在最新的代码中使用gpu的方式修改--device=gpu

[2021-06-20 14:55] jerrywgz commented on #3439
可以更新下代码，目前我们已经修复了这个问题

[2021-06-20 14:59] jerrywgz commented on #3442
请问其他配置是否做过修改

[2021-06-20 15:33] andyzhongzxy commented on #3438
这个deploy/python/mot_infer.py里的--threshold是没效果吗，我在飞桨和本地都试过都不能像infer.py可以控制阈值

[2021-06-20 16:57] wstchhwp commented on #3442
没有做过相应修改

[2021-06-21 01:18] claudehotline commented on #3437
修改了训练的batchsize之后loss下降了

[2021-06-21 01:26] xupengao opened #3445 "优化器选择Adam优化器，会出现Corrupt JPEG data: premature end of data segment"
优化器参数设置，训练cascade rcnn模型，使用默认优化器并没有问题，换成Adam训练到一半就出问题了
OptimizerBuilder:
  optimizer:
    type: Adam
  regularizer:
    factor: 0.0
    type: L2

[2021-06-21 01:37] BurrowsWang commented on #2080
@jerrywgz 能看下这个问题么，我也遇到同样的问题了
paddlepaddle-gpu==2.1.0
visualdl==2.2.0
paddledetect==2.1
Chrome 74.0
如有必要，可以提供日志文件

[2021-06-21 01:39] jerrywgz commented on #3442
我这边在voc数据集上验证是能正常跑的，从报错信息来看是mixup的时候输入的gt box维度不一致导致的，可以在这里 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/transform/operators.py#L1619 打印下gt_box 看看标注信息上是否有问题。 另外调试过程建议将worker_num设置为1

[2021-06-21 01:40] jerrywgz commented on #3438
https://github.com/PaddlePaddle/PaddleDetection/issues/3443 same issue

[2021-06-21 01:40] jerrywgz commented on #3443
是的，当前threshold在mot预测的时候没有起作用，已经提pr修复了https://github.com/PaddlePaddle/PaddleDetection/pull/3444

[2021-06-21 01:44] jerrywgz commented on #3437
可以先尝试更新下代码，我们更正了ppyolo-tiny中ema的行为

[2021-06-21 01:57] jerrywgz commented on #3375
在PadBatch中只会对每张图内的gt做pad，同时将图片pad到stride的整倍数。在RCNN中，每张图的gt_box个数不同时，会直接以list的方式返回每张图的gt_box。在YOLO中，会首先使用[PadBox](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/transform/operators.py#L1702) 将gt_box pad到固定个数

[2021-06-21 01:58] #3395 closed, assigned to nobody

[2021-06-21 02:00] #3337 closed, assigned to nemonameless

[2021-06-21 02:02] #3300 closed, assigned to nobody

[2021-06-21 02:03] #3276 closed, assigned to jerrywgz

[2021-06-21 02:03] #3287 closed, assigned to nobody

[2021-06-21 02:11] claudehotline commented on #3437
是更新到develop版本吗？

[2021-06-21 02:12] yghstill commented on #3445
@xupengao 看报错是数据预处理出现问题，方便发下完整报错信息吗？

[2021-06-21 02:21] xupengao commented on #3445
只是训练过程中出现了这句话，但是loss还在正常更新，不过eval的时候会没有结果。数据增强我是新加了mixup和cutmix两个增强方式
  - !DecodeImage
    to_rgb: True
    with_mixup: True
    with_cutmix: True
  - !MixupImage
    alpha: 1.5
    beta: 1.5
  - !CutmixImage
    alpha: 1.5
    beta: 1.5

[2021-06-21 02:34] jerrywgz commented on #3437
develop和release/2.1版本都可以，另外如果是通过pip install paddledet的方式安装，需要先pip uninstall paddledet

[2021-06-21 02:39] ShenYuhan commented on #2080
Hi，可以尝试升级chrome浏览器到>=79的版本再试试是否满足需求，在这里可以看到VisualDL的所需环境https://github.com/PaddlePaddle/VisualDL#introduction

[2021-06-21 03:10] lhx123456-lang opened #3447 "采用eval.py进行模型评估时，只能出现总的map，请问可以通过什么方式得到每个类别的ap吗？"
采用eval.py进行模型评估时，只能出现总的map，请问可以通过什么方式得到每个类别的ap吗？

[2021-06-21 03:14] yghstill commented on #3447
@lhx123456-lang eval时加上`--classwise`即可

[2021-06-21 04:34] yghstill commented on #3445
@xupengao
- 加上mixup和cutmix后，收敛速度会变慢，看loss变化趋势是否能正常收敛？
- 之前没有在rcnn系列算法中验证过这两个算子，可以试下AutoAugment，这个效果很好：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/rcnn_enhance/cascade_rcnn_dcn_r50_vd_fpn_3x_server_side.yml#L126-L127

[2021-06-21 04:50] #3351 closed, assigned to nobody

[2021-06-21 04:51] #1742 closed

[2021-06-21 04:51] #1713 closed

[2021-06-21 04:53] qingqing01 commented on #1714
可以试用下最新的部署示例~

[2021-06-21 04:53] #1714 closed

[2021-06-21 04:54] qingqing01 commented on #1737
静态图设置环境变量即可。命令行和os.environ都可以

[2021-06-21 04:54] #1737 closed

[2021-06-21 06:51] JianJingGao opened #3449 "SOLOV2支持C++部署吗"
打算将Python部署的转到C++，现在可以吗

[2021-06-21 07:03] songyuc opened #3450 "请问一下，“CBResNet为Cascade-Faster-RCNN-CBResNet200vd-FPN模型，COCO数据集mAP高达53.3%”，这个模型的配置文件在哪里呢？"
尊敬的开发者，你好，
请问一下，请问一下，“CBResNet为Cascade-Faster-RCNN-CBResNet200vd-FPN模型，COCO数据集mAP高达53.3%”，这个模型的配置文件在哪里呢？

期待你的回复！

[2021-06-21 07:04] andycoder7 opened #3451 "迁移学习的选择数据问题"
我参照了官方文档：https://paddledetection.readthedocs.io/advanced_tutorials/TRANSFER_LEARNING_cn.html 尝试对模型进行迁移学习，版本：release/2.1，执行的命令是：

[code]

我按照文档在修改了 `configs/yolov3/yolov3_mobilenet_v3_large_ssld_270e_voc.yml` 中配置:

[code]

然后提示：unexpected keyword argument 'use_default_label'

之后我把 `yolov3_mobilenet_v3_large_ssld_270e_voc.yml` 恢复了默认的内容，并修改 configs/datasets/voc.yml 中对应的目录：

[code]
再次执行，得到以下报错信息：

![i

[2021-06-21 07:20] andycoder7 commented on #3451
想问一下在迁移学习的时候，是用自己的数据的话需要符合什么样的格式，是只要符合 COCO 或者 VOC 就可以么？自定义数据集的文档说明（ https://paddledetection.readthedocs.io/advanced_tutorials/READER.html ）好像也不是最新的

[2021-06-21 07:35] PiggyJie commented on #3418
首先，非常感谢大佬的回答。目前这个问题已经成功解决，的确是cuda版本的问题。现在安装了cuda11.2和cudnn8.2之后已经能够正常运行了。但是在此也希望官方能在官网上给出提示：
“RTX3050不支持cuda10.x系列版本使用”
其实RTX3050不支持cuda10也是我在安装pytorch时发现的，pytorch上很明确的说明了RTX3050是不支持cuda10的。
总之非常感谢回答，祝生活愉快！

[2021-06-21 07:36] BurrowsWang commented on #2080
确实是浏览器版本问题，Chrome或Edge升级到79以上能正常显示，感谢。

[2021-06-21 08:23] shen-wenxin opened #3452 "paddleDetection是否有数据扩充？"
您好，我想问一下：
PaddleDetection是否有在训练的时候默认给dataset做数据扩充呢（比如旋转、裁剪等），类似于pytorch种transform的功能

我是否还需要在训练之前自己做一次训练扩充呢(指单纯的旋转、裁剪、平移）？

[2021-06-21 08:32] andycoder7 commented on #3451
补充： docker 镜像：registry.baidubce.com/paddlepaddle/paddle:2.1.0，shared memory 调整为 2GB 后，相关 warn 消失，但是还是会报这个错

[2021-06-21 08:57] SangerY commented on #3345
@qingqing01 您好，数据集收到了吗？你们测试是否有问题？

[2021-06-21 09:42] lhx123456-lang opened #3454 "windows10下c++部署问题"
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0621 17:39:40.062985 21472 analysis_config.cc:424] use_dlnne_:0
I0621 17:39:40.063984 21472 analysis_config.cc:424] use_dlnne_:0
I0621 17:39:40.063984 21472 analysis_config.cc:424] use_dlnne_:0
I0621 17:39:40.063984 21472 analysis_config.cc:424] use_dlnne_:0
class=3 confidence=0.75 rect=[245 222 258 268]
class=3 confidence=0.51 rect

[2021-06-21 09:44] lhx123456-lang commented on #3447
谢谢，可用

[2021-06-21 10:19] nemonameless commented on #3450
在static目录下，是以前的静态图模型
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/MODEL_ZOO_cn.md
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/dcn/cascade_rcnn_cbr200_vd_fpn_dcnv2_nonlocal_softnms.yml

[2021-06-21 10:25] FL77N commented on #3375
懂了，谢谢你

[2021-06-21 11:12] 442616159 opened #3455 "ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'"
明明已经安装成功paddle-gpu了
在test时还是报错
ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'

[2021-06-21 11:39] 442616159 commented on #3455
File "ppdet/modeling/tests/test_architectures.py", line 20, in <module>
    import ppdet
  File "/home/cyd/.conda/envs/paddle1/lib/python3.6/site-packages/ppdet/__init__.py", line 15, in <module>
    from . import (core, data, engine, modeling, model_zoo, optimizer, metrics,
  File "/home/cyd/.conda/envs/paddle1/lib/python3.6/site-packages/ppdet/data/__init__.py", line 17, in <module>
    from . i

[2021-06-21 11:41] claudehotline opened #3456 "voc数据集执行eval.py命令报错"
paddle版本：2.1.0GPU版本
paddleDetection版本：release/2.1版本
[code]
---
#### ppyolo_tiny_reader.yml文件内容如下：
[code]

[2021-06-21 11:47] #3429 closed, assigned to nobody

[2021-06-21 11:48] EdwardVincentMa opened #3457 "ppyolo_tiny 转 mnn 失败"
你好，请问 ppyolo_tiny 转 onnx 成功了，但是，onnx 到 mnn 失败，请问是否 mnn 支持所有 op？

错误提示：TopK 为空值

[2021-06-21 11:51] yghstill commented on #3449
@JianJingGao 还没适配c++预测，正在排期支持中

[2021-06-21 11:55] liuhuiCNN commented on #3454
你好，感谢反馈，已经在 #3392 修复

[2021-06-21 11:59] yghstill commented on #3457
@EdwardVincentMa mnn可能TopK这个op还不支持，TopK是yolo_box这个API中的算子，可以在导出ppyolo_tiny模型时不导出yolo_box和nms，放在后处理中进行，不执行post_process 即可：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/architectures/yolo.py#L93

[2021-06-21 12:06] #3437 closed, assigned to nobody

[2021-06-21 12:06] yghstill commented on #3456
@claudehotline 数据集配置文件改过吗？是不是改成voc数据集了？

[2021-06-21 12:07] yghstill commented on #3455
@442616159 请安装paddlepaddle 2.1.0版本

[2021-06-21 12:08] yghstill commented on #3452
@shen-wenxin ppdet中有丰富的数据增强方法，可搭配使用：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/advanced_tutorials/READER.md#31%E6%95%B0%E6%8D%AE%E5%A2%9E%E5%BC%BA%E7%AE%97%E5%AD%90

[2021-06-21 12:11] 442616159 commented on #3455
可是我的cuda是11.1没有对应的2.1.0版本阿

[2021-06-21 12:12] 442616159 commented on #3455
可是我的cuda是11.1没有对应的2.1.0版本阿 @yghstill

[2021-06-21 12:15] claudehotline commented on #3456
是的 是voc数据集

[code]

[2021-06-21 12:15] yghstill commented on #3451
@andycoder7
1. 现在迁移学习不用指定finetune_exclude_pretrained_params参数了，直接加载预训练权重即可。
2. 你使用的是最新动态图的config文件，参考release 2.1最新代码及config
3. 迁移学习时符合coco格式或者voc中的一种就行
4. 更新一下最新代码吧，cpu下不支持sync_bn，这个问题我们在最新release 2.1或者develop代码中已经修复

[2021-06-21 12:17] yghstill commented on #3456
@claudehotline 配置文件中加上这两行：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolo_r50vd_dcn_voc.yml#L19-L20

[2021-06-21 12:19] yghstill commented on #3455
@442616159 https://www.paddlepaddle.org.cn/whl/mkl/stable.html 下载post110试下呢，或者回退paddleDetection版本到release 2.0

[2021-06-21 12:21] claudehotline commented on #3456
谢谢问题解决了。

[2021-06-21 12:22] 442616159 commented on #3455
我是linux系统这上面没有@yghstill

[2021-06-21 12:25] yghstill commented on #3455
@442616159 https://www.paddlepaddle.org.cn/whl/cu110/mkl/develop.html 选择合适的python版本下载即可

[2021-06-21 12:28] yghstill commented on #3454
@lhx123456-lang 请使用paddledetection develop分支最新代码编译cpp预测代码再试下。

[2021-06-21 12:38] 442616159 commented on #3455
pip 直接装吗@yghstill

[2021-06-21 12:41] 442616159 commented on #3455
比如pip install paddlepaddle-gpu==2.1.0.dev0.post110 -f https://www.paddlepaddle.org.cn/whl/mkl/stable.html

[2021-06-21 12:41] 442616159 commented on #3455
@yghstill 是这样吗

[2021-06-21 12:43] 442616159 commented on #3455
我不知道这个网址的版本我怎么下载下来

[2021-06-21 12:46] 442616159 commented on #3455
https://www.paddlepaddle.org.cn/whl/mkl/stable.html 点击不是下载啊@yghstill

[2021-06-21 12:47] 442616159 commented on #3455
https://www.paddlepaddle.org.cn/whl/cu110/mkl/develop.html 这个点击下载不了

[2021-06-21 13:24] Brumeux opened #3459 "Keypoint detection framerate"
Hey, I have successfully installed everything and inference works fine. However I am having issues using detector in real time, frame rate is very low.

I used the exemple inference line with exported models:
`python deploy/python/keypoint_det_unite_infer.py --det_model_dir=output_inference/ppyolo_r50vd_dcn_2x_coco/ --keypoint_model_dir=output_inference/hrnet_w32_384x288/ --video_file=../video/xxx

[2021-06-21 14:01] wflrz123 opened #3461 "PaddleDetection的maskrcnn训练时报错"
ValueError: (InvalidArgument) The rois_batch_size and imgs batch_size must be the same. But received rois_batch_size = 1, batch_size = 16
  [Hint: Expected rois_batch_size == batch_size, but received rois_batch_size:1 != batch_size:16.] (at /paddle/paddle/fluid/operators/roi_align_op.cu:277)
  [operator < roi_align > error]
我在配置文件里设置的batchsize是16，突然报rois_batch_size不等于batch_size的错误，什么是rois_batch_si

[2021-06-21 14:04] wflrz123 commented on #3461
worker_num: 2
TrainReader:
  sample_transforms:
  - Decode: {}
  - RandomResize: {target_size: [[640, 360]], interp: 2, keep_ratio: True}
  - RandomFlip: {prob: 0.5}
  - NormalizeImage: {is_scale: true, mean: [0.485,0.456,0.406], std: [0.229, 0.224,0.225]}
  - Permute: {}
  batch_transforms:
  - PadBatch: {pad_to_stride: 32}
  batch_size: 16
  shuffle: true
  drop_last: true
  collate_batch: false

[2021-06-21 14:42] sxlyiyiyi opened #3462 "预训练模型"
是只提供了部分的backbone的预训练模型吗，paddleclas提供的预训练权重没法直接使用，比如HRNet系列

[2021-06-22 02:19] JianJingGao commented on #3449
好的 谢谢

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Guanghua ***@***.***>
发送时间: 2021年6月21日 19:51
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#3449)

@JianJingGao<https://github.com/JianJingGao> 还没适配c++预测，正在排期支持中

―
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2021-06-22 02:20] EdwardVincentMa commented on #3457
你好，转模型如何选择输出节点？规避 nms 和 yolo_box

[2021-06-22 02:26] JianJingGao commented on #3449
Trt在solov2的gn优化应该怎么操作，目前加速还不是很明显，gtx2060下运行很慢。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Guanghua Yu ***@***.***>
发送时间: Monday, June 21, 2021 7:51:35 PM
收件人: PaddlePaddle/PaddleDetection ***@***.***>
抄送: JianJingGao ***@***.***>; Mention ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#3449)

@JianJingGao<https:

[2021-06-22 02:50] yghstill commented on #3449
@JianJingGao solov2在trt中刚支持gn，你安装的是否是paddlepaddle 2.1.0的包？加速不明显的问题我们也在验证问题中

[2021-06-22 02:51] yghstill commented on #3457
@EdwardVincentMa 在 nms 和 yolo_box之前直接return即可

[2021-06-22 02:53] JianJingGao commented on #3449
是的呀，我在window下编译的paddle 2.1。我用的trt_float运行速度和fluid没啥变化，int8需要量化模型才能用，所以没有试。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Guanghua ***@***.***>
发送时间: 2021年6月22日 10:51
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#3449)

@JianJingGao<https://github.com/JianJingGao> solov2在trt中刚支持gn，你安装的是否是paddlepaddle 2.1.0的包？加速

[2021-06-22 03:58] JianJingGao commented on #3449
并且Trt fp16之后启动速度特别慢

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Guanghua ***@***.***>
发送时间: 2021年6月22日 10:51
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#3449)

@JianJingGao<https://github.com/JianJingGao> solov2在trt中刚支持gn，你安装的是否是paddlepaddle 2.1.0的包？加速不明显的问题我们也在验证问题中

―
You are receiving this because you w

[2021-06-22 03:59] cslixin1997 opened #3463 "报错"
WARNING 2021-06-22 03:57:39,633 launch.py:357] Not found distinct arguments and compiled with cuda or xpu. Default use collective mode
launch train in GPU mode!
INFO 2021-06-22 03:57:39,634 launch_utils.py:621] Change selected_gpus into reletive values. --ips:0,1,2,3,4,5,6,7 will change into relative_ips:[0, 1, 2, 3, 4, 5, 6, 7] according to your CUDA_VISIBLE_DEVICES:['0', '1', '2', '3', '4', '5',

[2021-06-22 04:01] EdwardVincentMa commented on #3457
可是我之前遇到过问题，修改任何代码无效。不起作用，哪怕调用 setup.py

[2021-06-22 04:29] JianJingGao commented on #3449
@yghstill

[2021-06-22 04:39] yghstill commented on #3457
@EdwardVincentMa 卸载一下PaddleDetection：python setup.py uninstall ，然后再修改完再重新：python setup.py install

[2021-06-22 04:43] #3447 closed, assigned to nobody

[2021-06-22 04:44] yghstill commented on #3449
@JianJingGao trt初始化比较耗时，启动慢是正常现象，solov2 trt的问题我们验证下。

[2021-06-22 04:52] yghstill commented on #3455
@442616159 可以试下：
[code]
或者从链接中直接下载安装包到本地，然后安装。

[2021-06-22 04:54] #3456 closed, assigned to nobody

[2021-06-22 04:54] zsbjmy opened #3464 "打印模型的FLOPS"
我想打印出faster rcnn的网络结构和参数信息，使用了paddle.flops（）函数，在infer.py中修改如下：
`
def run(FLAGS, cfg):
    # build trainer
    trainer = Trainer(cfg, mode='test')

    # load weights
    trainer.load_weights(cfg.weights)

    # get inference images
    images = get_test_images(FLAGS.infer_dir, FLAGS.infer_img)

    # inference
    trainer.predict(
        images,
        draw_threshold=FLAGS.draw_threshold,

[2021-06-22 04:57] zsbjmy commented on #3464
`    # inference
    trainer.predict(
        images,
        draw_threshold=FLAGS.draw_threshold,
        output_dir=FLAGS.output_dir,
        save_txt=FLAGS.save_txt)
    #打印模型的基础结构和参数信息
    FLOPs = paddle.flops(trainer.model, [1, 3, 608, 608], custom_ops= {nn.LeakyReLU: trainer.predict}, print_detail=True)
    print(FLOPs)`
只在此处进行了修改，请问这个错误是什么原因，我该怎么处理？

[2021-06-22 05:19] liuhuiCNN commented on #3463
请问您使用的命令是什么呢？

[2021-06-22 05:25] liuhuiCNN commented on #3464
custom_ops用于实现对自定义网络层的统计，您给的参数应该不正确，请参考文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/flops_cn.html#flops

[2021-06-22 05:27] zhiboniu commented on #3459
The inference time depends much on person number per frame. The average inference time of hrnet(batchsize=1) is about 20ms, so the total cost of a frame is about 20xN(person number)+ det time.
And yes, the footbal exemple is not performed real time.
Does this help you?

[2021-06-22 05:33] cslixin1997 commented on #3463
CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 python -m paddle.distributed.launch --gpus 0,1,2,3,4,5,6,7 tools/train.py -c configs/solov2/solov2_r50_fpn_3x_coco.yml -o pretrain_weights=pre_weights/solov2_r50_fpn_3x_coco/solov2_r50_fpn_3x_coco.pdparams --vdl_log_dir=vdl_dir/scalar

[2021-06-22 05:34] cslixin1997 commented on #3463
我在另一个容器里面，同样命令，是可以训练的，但是在这个容器里就会报这个错误，请问这个错误是什么导致的

[2021-06-22 07:10] raymondchu-z opened #3466 "请问现在的版本有可视化GT的脚本了吗？"
需要可视化GT以及模型预测，之前有[issue](https://github.com/PaddlePaddle/PaddleDetection/issues/872)提过这个建议，请问现在有相应的接口或脚本了吗？

[2021-06-22 07:27] EdwardVincentMa commented on #3457
你好，我工程没这blob这个文件夹，只有ppdet/modeling/architectures/yolo.py

[2021-06-22 07:32] Brumeux commented on #3459
Hey, thanks yes it helps a lot. Would you know of any solution using PaddlePaddle (or anything else) that would run faster for multiple person on screen (max 5-10) ?
Thank you for your insight

[2021-06-22 07:39] JianJingGao commented on #3449
嗯嗯 我后来发现可以序列化保存磁盘，下次启动就不要那么长时间了。错误还是会有。#33716
Paddle-TensorRT使用中的问题 ・ Issue #33716 ・ PaddlePaddle/Paddle (github.com)<https://github.com/PaddlePaddle/Paddle/issues/33716>

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Guanghua ***@***.***>
发送时间: 2021年6月22日 12:45
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#344

[2021-06-22 07:58] liuhuiCNN commented on #3466
这里有数据处理后可视化函数，您可以参考下：https://github.com/PaddlePaddle/PaddleDetection/blob/e1e02efe93246c3f681c4e9605e44134a0aae72a/ppdet/data/transform/operators.py#L1754

[2021-06-22 08:21] wxf764571829 opened #3468 "目标特别小，但数据集足够情况下，目前哪些模型比较合适？"
目前使用的是fater-rcnn+FPN，也调了合适的anchor,但是结果仍然不太理想，选取一张：图像大小5472 * 3078  而目标大小仅有70*60,其余图大小和目标大小都差不多，针对该单类类别数据集有7W左右。

[2021-06-22 09:16] cslixin1997 opened #3469 "分布式训练报错！！！"
![image](https://user-images.githubusercontent.com/50700993/122898384-67c0e680-d37d-11eb-9a2b-72e7e2cac599.png)
正常跑训练代码 CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 python -m paddle.distributed.launch --gpus 0,1,2,3,4,5,6,7 tools/train.py -c configs/solov2/solov2_r50_fpn_3x_coco.yml -o pretrain_weights=pre_weights/solov2_r50_fpn_3x_coco/solov2_r50_fpn_3x_coco.pdparams --vdl_log_dir=vdl_dir/scalar
直接报错，有大佬

[2021-06-22 09:28] liuhuiCNN commented on #3463
那应该是跟环境有关系，两个容器环境是不是不一致？

[2021-06-22 09:28] liuhuiCNN commented on #3469
是否有没有kill掉的进程？

[2021-06-22 09:38] wflrz123 opened #3470 "solov2输出json问题"
![image](https://user-images.githubusercontent.com/48908943/122901778-71981900-d380-11eb-9e19-19a58854e9e3.png)
solov2输出json中的segementation是RLE格式的，能否修改为polygon多边形格式（坐标形式）？

[2021-06-22 09:40] cslixin1997 commented on #3469
![image](https://user-images.githubusercontent.com/50700993/122902206-e10e0880-d380-11eb-9892-a98970191ae5.png)
没有关于python的进程

[2021-06-22 09:44] raymondchu-z commented on #3466
好的谢谢。请问，我想在eval过程中将推理错误的的目标画出来，应该在哪个文件里面改？

[2021-06-22 10:11] Dejavusd opened #3471 "ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'"
我在本地pycharm运行的时候报错 ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'
但是运行 paddle.fluid.install_check.run_check()却可以：
Your Paddle Fluid is installed successfully! Let's start deep Learning with Paddle Fluid now

paddle gpu版本2.1.0

[2021-06-22 10:20] liuhuiCNN commented on #3471
卸载重新安装一下试试？

[2021-06-22 10:39] DongChenwei2000 opened #3472 "使用RandomDistort时候出现错误"
在动态图的cascade rcnn中使用RandomDistort出现如下错误：
![image](https://user-images.githubusercontent.com/71364549/122910765-29c9bf80-d389-11eb-9ebe-f05dbe6621c1.png)

[2021-06-22 13:00] shen-wenxin commented on #3452
这太有用了，非常感谢您

[2021-06-22 13:00] #3452 closed, assigned to nobody

[2021-06-22 13:29] Dejavusd commented on #3471
我刚刚试过了，重装了一遍，还是报错 ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'
我使用的是paddle官网里面的 pip install paddlepaddle-gpu -i https://mirror.baidu.com/pypi/simple （cuda10.2版本）

[2021-06-22 14:23] nemonameless commented on #3468
建议对数据集做处理，比如每张大图有交叠的切分成多个子图。

[2021-06-22 14:41] callzhang commented on #3434
大概3000多帧吧，我是git clone的release分支。是内存不够，我看在`_load_video_images`会保存图片数据因此爆内存了。

[2021-06-22 15:07] #3439 closed, assigned to nobody

[2021-06-22 15:53] nemonameless commented on #3434
release2.1分支还是opencv。试试develop分支，是用的decord

[2021-06-22 15:53] liuhuiCNN commented on #3471
从这里： https://paddlepaddle.org.cn/whl/mkl/stable.html 找到对应的paddle包，本地安装一下试一下。

[2021-06-22 15:57] liuhuiCNN commented on #3472
麻烦您提供一下配置文件，根据日志，是越界造成的。请检查一下RandomDistort给的参数都是否合理：https://github.com/PaddlePaddle/PaddleDetection/blob/86720c1fa0be0c36384faacfb3338eb37c05656b/ppdet/data/transform/operators.py#L343

[2021-06-22 15:57] 1450976314 commented on #3461
你好，我训练cascade rcnn时也遇到相同的问题。请问你解决了吗

[2021-06-22 16:05] liuhuiCNN commented on #3466
您可以eval时增加 `--json_eval` 参数 把eval结果保存下来，然后再可视化。

[2021-06-22 16:10] liuhuiCNN commented on #3469
请问paddle是哪个版本呢，建议用paddle2.1.0试试。

[2021-06-22 16:14] liuhuiCNN commented on #3470
https://github.com/PaddlePaddle/PaddleDetection/blob/e1e02efe93246c3f681c4e9605e44134a0aae72a/ppdet/metrics/json_results.py#L70 这里是显示分割结果函数，您可以在调用rle编码 `rle = mask_util.encodenp.array(mask[:, :, None], order="F", dtype="uint8"))[0]` 之前获取您需要的结果。

[2021-06-22 16:26] ResonLee opened #3474 "ubuntu16.04 CUDA9.2 安装paddlepaddle-gpu develop 和paddledetection develop ?"
系统：ubuntu 16.04 Cuda 9.2 cudnn7.6.3
1、安装paddlepaddle-gpu的语句是啥？在安装文档里找了半天也没找到
2、通过anaconda在虚拟环境里安装cudatoolkit 10.1 和cudnn7.6.5后，能在虚拟环境里安装cuda10.1 对应的paddlepaddle-gpu develop吗？或者通过其他办法在虚拟环境中安装10.1对应的版本吗？

[2021-06-22 17:06] callzhang commented on #3434
好的，我试试，谢谢！

[2021-06-23 00:37] yeyupiaoling opened #3475 "在Ubuntu训练中随机出现_shutdown的错误"
- PaddlePaddle 2.1.0
 - PaddeDetection 2.1.0
 - Python 3.7
 -

我用的是这个模型`ppyolo_tiny_650e_voc.yml`，这个`ppyolo_r50vd_dcn_1x_voc.yml`模型也出现，其他的没试过。

在训练过程中，前面已经训练100多个epoch了，然后随机出现下面的错误。
[code]

[2021-06-23 01:15] cslixin1997 commented on #3469
全是最新版本   cuda11.0的

[2021-06-23 01:19] cslixin1997 commented on #3463
能运行的容器在老集群中，不能运行的容器在升级后的集群中，两个容器我都是用conda创建的paddle2.1.0的独立环境，然后同样的程序、同样的环境、同样的数据，一个能跑，一个报错，但是这个错误不知道是什么原因导致，没办法去解决，这边你能告诉我是什么原因吗

[2021-06-23 01:39] cslixin1997 commented on #3463
@liuhuiCNN 能加上您的联系方式吗，我这边不知道问题，也不好跟集群工程师说明问题

[2021-06-23 02:13] zsbjmy commented on #3464
我改为FLOPs = paddle.flops(trainer.model, [1, 3, 608, 608]），依然不对。请问trainer.model这个参数设置的对吗？

[2021-06-23 02:14] JianJingGao commented on #3449
@yghstill  solov2在trt_fp16下单次识别一张图要0.35秒，图片大小1280*984。这个速度正常吗

[2021-06-23 02:18] yghstill commented on #3462
@sxlyiyiyi Readme中提供的预训练模型是训好的完整模型权重，paddleclas的预训练权重需要将weight的name转换适配后才可使用，我们提供了HRNet的转换好的预训练权重：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/hrnet/_base_/faster_rcnn_hrnetv2p_w18.yml#L2

[2021-06-23 02:22] sxlyiyiyi commented on #3462
但是只有w18的预训练模型，没有提供更大的模型权重

[2021-06-23 02:25] yuchen02 commented on #3415
@553548793 请问您是如何注册自定义模块的？我自定义后出现AssertionError: the module ResNet-1 is not registered的错误

[2021-06-23 02:27] #3435 closed, assigned to nobody

[2021-06-23 02:33] zhiboniu commented on #3459
There is some solutions to try:
1) You may try the DarkPose with half input size which supported by develop branch.
2) Use a light backbone which need a new pretrained model that you should prepare it youself. Or you can drop the pretrained model if you have extra train data.
3) Use the both two.

[2021-06-23 02:37] lizhenhanabc opened #3476 "只训练一轮epoch就结束了"
根据教程，输入 python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml ，只训练一轮就结束了，没有任何报错，环境python3.7，paddledetection是clone的2.1-gpu版本，epoch是默认的12。
![1](https://user-images.githubusercontent.com/60728647/123026379-a488ee00-d40e-11eb-8007-b45ae1c7e8a7.PNG)

[2021-06-23 02:44] RhythmF opened #3477 "套件中没没有注意力机制的模块吗？"

[2021-06-23 03:05] qingqing01 commented on #3345
@SangerY 收到了，排查问题后反馈您吧~

[2021-06-23 03:07] shishifang opened #3478 "PPYOLOV2训练数据"
请问， PPYOLOV2训练时，采用VOC数据格式，如果标记背景类别，那么.xml文件里面还有没有object字段？或者背景类别应该怎么标记？（背景类不是包含目标的图片！！！）

[2021-06-23 03:16] MyGitHub-G commented on #1775
请问这个问题解决了吗，我也报错ABORT!!! Out of all 2 trainers, the trainer process with rank=[0, 1] was aborted. Please check its log.

[2021-06-23 03:16] MyGitHub-G commented on #1775
请问问题解决了吗，我也报错ABORT!!! Out of all 2 trainers, the trainer process with rank=[0] was aborted. Please check its log.

[2021-06-23 03:19] GexLoong commented on #1775
请问这个问题解决了吗，我也报错ABORT!!! Out of all 1 trainers, the trainer process with rank=[0] was aborted. Please check its log.

[2021-06-23 03:26] #3457 closed, assigned to nobody

[2021-06-23 03:30] EdwardVincentMa commented on #3457
解决了，不能pip install paddledetection，只能源码安装

[2021-06-23 03:37] zsbjmy opened #3479 "计算FLOPs"
在tools/infer.py加入如下函数，得到FLOPs值为-1,请问原因？

`def ZSflops(FLAGS, cfg):
    # build trainer
    trainer = Trainer(cfg, mode='test')

    # load weights
    trainer.load_weights(cfg.weights)
    # get inference images
    images = get_test_images(FLAGS.infer_dir, FLAGS.infer_img)
    trainer.dataset.set_images(images)
    loader = create('TestReader')(trainer.dataset, 0)

    imid2path = trainer.dataset

[2021-06-23 03:46] GexLoong opened #3480 "单卡训练报错"
训练报错ABORT!!! Out of all 1 trainers, the trainer process with rank=[0] was aborted. Please check its log.

训练语句python -m paddle.distributed.launch --log_dir=./fairmot_dla34_30e_1088x608/ tools/train.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml --use_vdl=true --vdl_log_dir=output/fairmot_dla34_30e_1088x608/vdl_dir/scalar

[2021-06-23 05:34] wangxinxin08 commented on #3474
安装PaddlePaddle-gpu develop可以参考页面：https://www.paddlepaddle.org.cn/

[2021-06-23 05:35] wangxinxin08 commented on #3477
注意力机制的模块是指空间attetion吗？这个现在还没有

[2021-06-23 05:36] wangxinxin08 commented on #3478
背景类别不需要标记

[2021-06-23 05:53] shishifang commented on #3478
![123](https://user-images.githubusercontent.com/50400151/123042836-fb4ff100-d429-11eb-9117-ef2147468740.JPG)
不需要标记的话，如图train.txt中的格式（图片的路径 标记xml文件的路径），如果不标记就没有.xml文件，那么这里只有.jpg的路径，.xml的路径是什么呢？

[2021-06-23 05:55] wxf764571829 commented on #3468
每一个子图多大比较合适呢？这是我再网上看到一段再检测部分做这样处理的
为了处理高分辨率的图像，我们提出了一个segmentation-and-fusion(SF)的方法，如下图所示。每一张大图有交叠的切分成多个子图，每一个子图的分辨率为6000*6000，位于图像边缘的子图直接填充均值。为了防止较大的行人目标被切分成进两个子图，相邻的子图横向上重叠宽度为1000像素，纵向重叠宽度设置为2000像素。在融合子图检测结果时，我们采用一种基于子图重叠中线和检测框相交判定的规则。比如，对于一对横向有重叠的子图，如果基于左子图的检测框处于子图重叠中线的右侧，但与该中线相交，该检测框就被保留，反之则丢弃该检测框。通过segmentation-and-fusion方法，与直接合并进行NMS的方法相比, 我们在本地检测验证集取得了0.2AP的提升

[2021-06-23 05:56] shishifang commented on #3478
@wangxinxin08

[2021-06-23 06:00] wxf764571829 commented on #3468
另外如果训练的时候分块训练 那么检测部分的时候是否需要同样的方式分块输入模型 检测后再合并图像呢？

[2021-06-23 06:18] wangxinxin08 commented on #3478
需要有xml文件，xml文件中不需要包含object字段

[2021-06-23 06:26] jerrywgz commented on #3461
有修改过模型代码吗？另外paddle版本是多少？

[2021-06-23 06:53] 1450976314 commented on #3461
首先，感激你抽空回答我的问题。除了anchor_size，epoch参数外，就修改了batch_size为4。然后使用的是cascade rcnn。paddle版本为2.0.1。请问有不修改paddle版本的方法吗？------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年6月23日(星期三) 下午2:26
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] PaddleDetection的maskrcnn训练时报错 (#3461)

[2021-06-23 07:25] jerrywgz commented on #3461
如果使用paddle2.0.1版本，建议使用paddledetection release/2.0版本，我这边测试了cascade rcnn训练正常

[2021-06-23 07:29] shishifang commented on #3478
好的，谢谢

[2021-06-23 07:30] 1450976314 commented on #3461
我去尝试一下。感谢你的帮助------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年6月23日(星期三) 下午3:25
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] PaddleDetection的maskrcnn训练时报错 (#3461)

[2021-06-23 07:30] NLPOR commented on #2241
我也遇到了同样的问题，不使用multiprocess跑没问题，使用multiprocess.process多进程的时候就报同样的错误，表示没有看到怎么解决啊，怎么就closed了呢

[2021-06-23 07:54] nemonameless commented on #3480
单卡不需要 paddle.distributed.launch
[code]

[2021-06-23 08:13] cuesong opened #3483 "paddleDetection release/2.1 训练报错"
训练参数：边训练边评估
export CUDA_VISIBLE_DEVICES=0,4,5
python -m paddle.distributed.launch --gpus 0,4,5 tools/train.py -c configs/yolov3/mul_yolov3_darknet53_270e_voc.yml --eval -o use_gpu=true --use_vdl=True --vdl_log_dir=vdl_dir/scalar

保存模型时报错：

06/23 15:43:36] ppdet.engine INFO: Epoch: [0] [280/295] learning_rate: 0.000018 loss_xy: 10.935499 loss_wh: 7.782958 loss_obj: 33.818359 loss_cls: 9.891621 loss

[2021-06-23 08:26] Brumeux commented on #3459
Weights for DarkPose would be the same as hrnet ? For exemple hrnet_w32_256x192.pdparams with dark_hrnet_w32_256x192.yml config file ? Thanks a lot

[2021-06-23 08:27] cuesong commented on #3483
加上--eval就会报错，不加没事

[2021-06-23 08:28] cuesong commented on #3483
@ZeyuChen @QingshuChen

[2021-06-23 08:33] cuesong commented on #2488
同问

[2021-06-23 08:36] Mr-ind1fferent opened #3484 "单卡训练报错"
![H%9 I A}E1C}WOYB@I((XN](https://user-images.githubusercontent.com/74087260/123064825-34479000-d441-11eb-93dc-a8bc9a65eb0d.png)

[2021-06-23 08:53] Brumeux commented on #3459
After exporting model "configs/keypoint/hrnet/dark_hrnet_w32_256x192.yml", I tried inference with
`python deploy/python/keypoint_det_unite_infer.py --det_model_dir=output_inference/ppyolo_r50vd_dcn_2x_coco/ --keypoint_model_dir=output_inference/dark_hrnet_w32_256x192/ --camera_id=0`

But I get error:

-----------  Running Arguments -----------
camera_id: 0
cpu_threads: 1
det_model_dir: output_infe

[2021-06-23 09:36] zhiboniu commented on #3459
You should export inference model again because we update the code lately. The command to inference is update too(use_gpu=True --> device=gpu), you can reference to the new README.
And to get faster inference time, bigger batchsize may help which now is set to 1, we will update our code to support that soon.

[2021-06-23 10:11] futureisatyourhand commented on #2241
我也遇到这个问题了，你怎么解决的哦

[2021-06-23 10:27] EdwardVincentMa opened #3485 "post_process 中的 decode 代码在哪里？"
您好，我正在看 ppyolo_tiny 后处理代码，现在不知道 decode 函数在哪里。麻烦指点一下，感谢～

[2021-06-23 11:08] Brumeux commented on #3459
I exported inference model again and changed inference command as in the new readme from keypoint directory. I still get the error posted above. I also get same error with only infer.py and re-exported ppyolo model.
Also yes, I think bigger batch size would help a lot.
Thanks

[2021-06-23 13:06] zhiboniu commented on #3459
try add a line 'use_dynamic_shape: False' in your det yml file and then export model again

[2021-06-23 13:06] yghstill commented on #3459
@Brumeux Please add `use_dynamic_shape: False` in `output_inference/ppyolo_r50vd_dcn_2x_coco/infer_cfg.yml`

[2021-06-23 13:49] Brumeux commented on #3459
That worked, thanks. Performance are a bit better but still not enough for true real time with 3090 and multiple persons on screen. I'm not very sure how to setup another lighter backbone using paddlepaddle. I think I will wait for batch processing unless this is an easy step.
Thank you!

[2021-06-23 15:13] GexLoong opened #3486 "deepsort训练问题"
请问为什么deepsort不提供训练功能

[2021-06-23 15:34] wangxinxin08 commented on #3475
可以尝试减小下worker_num试下

[2021-06-23 15:36] wangxinxin08 commented on #3476
麻烦贴下Paddle版本，PaddleDetection版本，我明天找台windows机器复现一下

[2021-06-23 15:36] wangxinxin08 commented on #3479
目前这个API可能存在问题

[2021-06-23 15:38] wangxinxin08 commented on #3483
麻烦更新下代码试下，这个应该已经修复了

[2021-06-23 15:40] wangxinxin08 commented on #3484
opencv报错，可以检查下数据集路径等配置是否正确

[2021-06-23 15:41] wangxinxin08 commented on #3485
ppdet/modeling/post_process.py这个文件中，可以根据decode的name来找相应的类

[2021-06-23 17:16] nemonameless commented on #3486
DeepSORT相比SORT的一个改进是加入了一个深度特征提取网络也就是reid模块做跟踪，但本质上还是和检测器完全分离的，它所需要的reid模型，是用大规模行人reid数据集训好得到的，做跟踪只有在前向时提取特征用，只做测试用，它需要的只是检测框的结果。文档中说不用训练，是指不用像jde fairmot那样训练MOT跟踪数据集。要重训或换新的reid模型，是需要训reid数据集的。

[2021-06-23 17:19] #3208 closed, assigned to nemonameless

[2021-06-23 17:20] #3376 closed, assigned to nemonameless

[2021-06-23 19:03] #2718 closed, assigned to nobody

[2021-06-24 00:18] DongChenwei2000 commented on #3472
我使用的是默认的配置，其他的都没有改。

[2021-06-24 01:01] raymondchu-z commented on #3466
@liuhuiCNN你好，eval时增加 `--json_eval` 参数后报错`assert metric == 'COCO'`。我用的数据格式是VOC的，如何保存eval结果？
而且看输出提示， `--json_eval`是读取`output_eval`路径下的json文件进行评估，而不是保存评估结果？

[2021-06-24 01:10] #3445 closed, assigned to nobody

[2021-06-24 03:21] yeyupiaoling commented on #3475
我试试

[2021-06-24 03:25] lizhenhanabc commented on #3476
版本是2.1.0
![2](https://user-images.githubusercontent.com/60728647/123197194-c3a28100-d4dd-11eb-8cc6-c5e0bfda2e19.PNG)
之前这台电脑有用过darknet跑yolo4，这个显卡配置和驱动应该是没问题，然后用paddle训练的时候，设置了gpu训练，但是gpu算力占用只有2%左右，第一轮的训练完，还没保存就结束了（设置12个epoch，每个epoch保存一次）

[2021-06-24 03:33] wangxinxin08 commented on #3476
我们在linux下没遇到过这个问题，等下找台windows机器试下

[2021-06-24 03:44] lizhenhanabc commented on #3476
麻烦你了- ̗̀(๑ᵔ⌔ᵔ๑)

[2021-06-24 03:44] EdwardVincentMa commented on #3485
![Screenshot from 2021-06-24 11-42-41](https://user-images.githubusercontent.com/39480728/123199365-5133a000-d4e1-11eb-8a8d-cf3105880d7a.png)

您好，谢谢您的回答，我指的是第70行的self.decode函数的代码。

[2021-06-24 03:55] wangxinxin08 commented on #3485
上面已经说了看ppyolo_tiny的配置文件，找到decode的name对应的类对应的代码就能找到了，比如ppyolo_tiny: https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/_base_/ppyolo_tiny.yml#L45 对应的decode的name是YOLOBox，你去找YOLOBox这个类: https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/layers.py#L465
就找到对应的代码了

[2021-06-24 06:40] #3268 closed, assigned to wangxinxin08

[2021-06-24 06:51] wangxinxin08 commented on #3411
训练问题已经在https://github.com/PaddlePaddle/PaddleDetection/pull/3371 修复，可以拉取最新代码

[2021-06-24 06:53] #3455 closed, assigned to nobody

[2021-06-24 07:00] #3120 closed, assigned to nobody

[2021-06-24 07:01] #3143 closed, assigned to nobody

[2021-06-24 07:02] #3048 closed, assigned to nobody

[2021-06-24 07:05] #2864 closed, assigned to nobody

[2021-06-24 07:30] yghstill commented on #3471
@Dejavusd 需要安装paddlepaddle 2.1.0以上版本

[2021-06-24 07:36] wangxinxin08 commented on #3476
这个问题我同事有定位过问题，目前还没有一个确切的结论，不使用anaconda，直接使用python环境不会出现这个问题

[2021-06-24 07:42] Dejavusd commented on #3471
我安装的就是 官网里面的2.1版本

[2021-06-24 07:46] Dejavusd commented on #3471
这里面没我需要的cuda10.2的版本，该不会我需要重新安装cuda10.1版本来适应post101？
我本来是想安装10.1的可是看到官方那里 “如果你使用的是非安培架构的GPU，推荐使用CUDA10.2，性能更优。”才装的10.2（哭，小小抱怨一下）

[2021-06-24 08:51] EdwardVincentMa commented on #3485
感谢您的耐心解答，我看了您说的位置，最后转到了 ops.py 下的 yolo_box()函数。但是还是看不到具体代码～
![Screenshot from 2021-06-24 16-48-05](https://user-images.githubusercontent.com/39480728/123233061-53f7ba80-d50c-11eb-91e6-3c1d809c5de4.png)

[2021-06-24 08:56] wangxinxin08 commented on #3485
这个对应fluid.layers.yolo_box这个op，再往里面看就是Paddle的OP的代码，包含CPU和GPU的实现

[2021-06-24 09:01] songyuc commented on #3450
@nemonameless ，你好，可以在文档上加一个超链接吗，这个配置文件似乎与文档上面的名称不太一样，

[2021-06-24 09:41] ximitiejiang opened #3489 "paddle inference基于GPU/tensorRT进行推理报错"
你好，使用paddle inference的cpp部署代码进行模型推理时，采用gpu的run_mode为trt_int8时报错！

基本设置：
- paddle inference2.1.0 with cuda10.2/cudnn7.6.5/trt7.0.0.1

问题：
- 在设置为gpu使能，run_mode="fluid"条件下，cpp推理代码运行正常，在fasterrcnn下预测一张1k*1k的图片推理时间大概在450ms左右，这个时间貌似在gpu下有点久啊，不知道这算合理吗？
- 但设置gpu使能，run_mode=“trt_int8”条件下，就会报错如下信息:
[code]
我看了下python下面的export_model.py的代码，默认会导出image_shape=[3,-1,-1]也就是输入图像宽高为dynamic的。但在我的cpp推理代码中，我已经设置了use_dyn

[2021-06-24 09:49] ximitiejiang commented on #3408
临时方案还是用MT进行编译，禁用了冲突的库。

谢谢！

[2021-06-24 09:49] #3408 closed, assigned to nobody

[2021-06-24 09:50] ximitiejiang commented on #3398
解决了

[2021-06-24 09:50] #3398 closed, assigned to nobody

[2021-06-24 09:54] ximitiejiang commented on #3264
windows下不是有吗？这不是你们官方提供的带trt的库吗？
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows

[2021-06-24 11:24] Meryl-Fang commented on #3053
@jerrywgz 我们训练时eval也遇到了这个问题 手动改了align_corner=True也还是有Cuda700的错误, 请问大佬有什么见解吗？

cuda=10.2
cudnn=7.6
paddledet=2.0.1

[2021-06-24 11:45] liuhuiCNN commented on #3489
（1）硬件算力怎样呢，可以参考benchmark，这里是网络计算时间，不包括预处理：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/BENCHMARK_INFER.md
 （2）use_dynamic_shape =True，且需要根据实际输入范围设置最大最小尺寸。

[2021-06-24 12:10] lizhenhanabc commented on #3476
好的，我用python环境试一下，还有想问一下paddledetection的maskrcnn或者solov2能在C++上部署吗？

[2021-06-24 12:19] wangxinxin08 commented on #3476
mask rcnn可以，solov2之后会支持

[2021-06-24 13:36] zsbjmy opened #3490 "yolov3使用的损失函数公式"
请问，能把yolov3使用的损失函数公式具体写出来吗？求具体公式

[2021-06-24 13:52] EdwardVincentMa commented on #3485
您好，还是没找到 yolo_box 函数的源代码。

[2021-06-24 14:47] ximitiejiang commented on #3489
1. 预测时间：跟我的卡有关系，450ms这个时间使用MX250跑出来的，后来在1080Ti跑的时间大概在50-60ms，跟benchmark结果类似
2. 设置的最小最大范围如下，但始终报错。我用的是deploy_cpp的标准代码，基本没改什么。。。
[code]

[2021-06-24 22:18] zhangzhipan opened #3493 "为什么训练后不生成output文件"
根据3[0分钟快速上手PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED_cn.md#30%E5%88%86%E9%92%9F%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8Bpaddledetection)做训练，最后一步不生成output文件夹，没有任何训练结果保存。

[2021-06-25 01:09] caterwang13K73 opened #3494 "参照git说明执行keypoint_det_unite_infer.py报错“IndexError: tuple index out of range”"
参考：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/keypoint 部署预测部分

运行环境：
win10,cuda10.1,python3.8,opencv3.4.8(pip安装),1050TI(4G)显卡

参考以下代码：
#keypoint top-down模型 + detector 检测联合部署推理（联合推理只支持top-down方式）
python deploy/python/keypoint_det_unite_infer.py --det_model_dir=output_inference/ppyolo_r50vd_dcn_2x_coco/ --keypoint_model_dir=output_inference/hrnet_w32_384x288/ --video_fi

[2021-06-25 01:18] lhx123456-lang opened #3495 "windows上采用c++调用dll库的方式预测时间问题"
**一次预测一张图像的耗时：**
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0625 09:11:11.220824 18804 analysis_config.cc:424] use_dlnne_:0
I0625 09:11:11.221714 18804 analysis_config.cc:424] use_dlnne_:0
I0625 09:11:11.222712 18804 analysis_config.cc:424] use_dlnne_:0
I0625 09:11:11.222712 18804 analysis_config.cc:424] use_dlnne_:0
**Predict一次检测处理时间:1.55**
一次检测处理时间:1.55
第0张图像缺陷个数：2
result:

[2021-06-25 01:58] ghostxsl commented on #3345
@SangerY 你好，我按照您发来的数据及配置训了一遍模型，没有发现问题。
最终收敛情况：
![image](https://user-images.githubusercontent.com/23647349/123356890-29087780-d59b-11eb-8b3d-3076e9aee2fa.png)

我这边环境及配置：
单显卡：P40
CUDA：10.1
paddlepaddle版本：2.1.0
paddledet版本：2.1.0
epoch：650
训练batch_size：16
学习率设置：0.005 / 16=0.0003125
预训练模型：pretrain_weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo_tiny.pdparams
其他参数设置均未改动。

[2021-06-25 02:14] wangxinxin08 commented on #3485
在PaddlePaddle的源码里面：https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/detection/yolo_box_op.h

[2021-06-25 02:15] GexLoong commented on #3217
请问一下修改哪个配置文件的输入尺寸

[2021-06-25 02:16] #3396 closed, assigned to nobody

[2021-06-25 02:45] ximitiejiang commented on #3489
这是运行时我打印出来的一些信息，提示dynamic shape enabled，但报错始终还在
[code]

[2021-06-25 02:48] GexLoong opened #3496 "fairmot预测视频报错"
输入视频路径后用fairmot进行预测报错
[06/25 10:47:03] ppdet.utils.checkpoint INFO: Finish resuming model weights: output/fairmot_dla34_30e_1088x608/model_final.pdparams
[06/25 10:47:03] ppdet.engine.tracker INFO: Starting tracking dataset/test/mot_images/0.mp4
[06/25 10:47:03] ppdet.data.source.mot INFO: Length of the video: 300 frames
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/ppdet/data

[2021-06-25 02:59] lyuwenyu commented on #3490
- 建议查看论文 https://arxiv.org/pdf/1804.02767.pdf
- 或者查看paddle文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/yolo_loss_cn.html#yolo-loss
- 或者查看代码 https://github.com/PaddlePaddle/PaddleDetection/blob/e1e02efe93246c3f681c4e9605e44134a0aae72a/ppdet/modeling/losses/yolo_loss.py#L36

[2021-06-25 03:01] nemonameless commented on #3496
使用的版本和命令?

[2021-06-25 03:02] GexLoong commented on #3496
paddle2.1
!python tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=output/fairmot_dla34_30e_1088x608/model_final.pdparams --video_file=dataset/test/mot_images/0.mp4 --save_videos

[2021-06-25 03:10] nemonameless commented on #3496
更新下代码试试，PaddleDetection develop和release2.1分支最新代码自测均没有问题

[2021-06-25 03:18] shishifang opened #3497 "ppyolov2推理时间"
我的显卡是1080ti，ubuntu16.04，cuda10.2，cudnn7.6，测试自己训练的ppyolov2_r101vd_dcn_365e_coco.yml模型，显示推理时间60ms~65ms一张图片，直接用time.time()测试，代码如图：
![1111111111111](https://user-images.githubusercontent.com/50400151/123364421-f2d0f500-d5a6-11eb-8046-a769b9b9a6dc.jpg)
感觉这个时间和论文给出的时间有很大差距，想问这个时间正常吗？或者应该怎么测试？

[2021-06-25 03:48] raymondchu-z opened #3498 "关于评估时的TP和FP判定策略的疑问"
https://github.com/PaddlePaddle/PaddleDetection/blob/5e19955b011d47377a3f1443a6e592ddd9e5024a/ppdet/metrics/map_utils.py#L182-L183
这两行的分支是否合理？

下面这段代码我的理解是，对于一张图片的每个预测出的bbox，若`max_overlap > self.overlap_thresh`，说明这个bbox能对应上一个符合阈值的同类GT。但是当有多个框对应同一个GT时，score较低的被认为是FP。这是否合理？
[code]

目前用的NMS是PPYOLOv2中默认的配置，尚不清楚为什么经过了NMS的输出还是会有多个BBOX预测同一个GT的情况

[2021-06-25 04:00] EdwardVincentMa commented on #3485
您好，还是没找到 yolo_box 函数的源代码。

我当时打印了一下，in_dygraph_mode()是False， 所以，实际上是 ops.py  的 yolo_box 调用了 LayerHelper.py，然后怎么调用的这个yolo_box_op.h我就不知道了

[2021-06-25 04:02] EdwardVincentMa commented on #3485
谢谢您的解答，我当时打印了一下，in_dygraph_mode() 是 False， 所以，实际上是 ops.py 的 yolo_box 调用了 LayerHelper.py，然后通过 append_op。 然后怎么通过 append_op 调用的这个 yolo_box_op.h 我就不知道了。谢谢您的耐心解答，我直接看到了源码。

[2021-06-25 04:16] #3485 closed, assigned to nobody

[2021-06-25 05:16] xiegegege commented on #3423
@lazyn1997 你好，我这里一样的环境复现了下，结果跟你的不太一样。我的显存比较小，所以都设的batch_size=1，都是单卡训练
cuda11.2，显卡3080的结果：
<img width="962" alt="e19e4cd4c62bbc12e69413b17b2f8879" src="https://user-images.githubusercontent.com/46314656/123372827-de94f400-d5b6-11eb-9d19-bfa41f33a587.png">
cuda10.2，显卡T4的结果：
<img width="891" alt="f271d19b47ff4941eac36f3f2e273e9e" src="https://user-images.githubusercontent.com/46314656/123372950-2156c

[2021-06-25 06:58] EdwardVincentMa opened #3499 "paddledetection 中调用的 op 是 c++ 代码实现的.h文件，请问如何调用这些C++代码的？"
paddledetection 中调用的 op 是 c++ 代码实现的.h文件，请问如何调用这些C++代码的？ 通过什么途径？

[2021-06-25 07:57] nemonameless commented on #3493
训练log可以发下看看吗？设置的多少epoch保存一次？

[2021-06-25 08:20] ChengYi1996 opened #3500 "推理过程中，置信度过滤掉所有的框，推理报错"
Traceback (most recent call last):
  File "tools/eval.py", line 133, in <module>
    main()
  File "tools/eval.py", line 129, in main
    run(FLAGS, cfg)
  File "tools/eval.py", line 104, in run
    trainer.evaluate()
  File "/home/h410/anaconda3/envs/paddle/lib/python3.7/site-packages/paddledet-2.1.0-py3.7.egg/ppdet/engine/trainer.py", line 388, in evaluate
    self._eval_with_loader(self.loader)

[2021-06-25 08:58] Meryl-Fang commented on #3053
破案了，原来是没有设置PYTHONPATH所以一直在用site-package里的包

[2021-06-25 09:24] yghstill commented on #3449
@JianJingGao 使用最新PaddleDetection release 2.1再试下重新导出模型呢，solov2_r50_fpn预测速度在v100环境下trt预测可以在40ms左右。

[2021-06-25 09:41] yghstill commented on #3471
@Dejavusd 那你可以安装最新develop 的PaddlePaddle版本https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html

[2021-06-25 10:40] wangxinxin08 commented on #3497
请参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python使用deploy/python/infer.py进行测试，我们是在16G V100上bs=1进行测试的

[2021-06-25 11:04] zhiboniu commented on #3494
你好，keypoint_det_unite_infer.py中的下面这行frame2转成list：
results = detector.predict(frame2, FLAGS.det_threshold)
修改为
results = detector.predict([frame2], FLAGS.det_threshold)
，或者可以使用develop分支下的代码。

[2021-06-25 13:14] ZJH970922 opened #3503 "S2ANet develop版本中， unknown metric type RBOX"
对spinecoco数据集进行训练后，调用预测指令，反馈以下问题：
 G:\PaddleDetection\PaddleDetection-develop>python tools/infer.py -c configs/dota/s2anet_1x_spine.yml -o weitghts=output/s2anet_1x_spine/model_final.pdparams --infer_img=demo/39006.jpg
W0625 21:09:26.594723  9492 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0625 21:09:26.594723  94

[2021-06-25 14:24] caterwang13K73 commented on #3494
谢谢，问题解决了。

[2021-06-25 14:24] #3494 closed, assigned to zhiboniu

[2021-06-25 14:42] caterwang13K73 opened #3504 "多目标检测fairmot windows下演示代码问题"
参考： https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/mot 3. 预测
运行环境：
win10,cuda10.1,python3.8,opencv3.4.8(pip安装),1050TI(4G)显卡

参考以下代码：
# 预测一个视频
CUDA_VISIBLE_DEVICES=0 python tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=https://paddledet.bj.bcebos.com/models/mot/fairmot_dla34_30e_1088x608.pdparams --video_file={your video name}.mp4  --s

[2021-06-25 14:57] Dejavusd commented on #3471
呜，我的电脑是Windows系统的，而且我也不会用Linux

[2021-06-25 14:59] Dejavusd commented on #3471
我装的cuda10.1版的也出现同样的问题 : ModuleNotFoundError: No module named 'paddle.fluid.dataloader.collate'

[2021-06-26 03:40] Dejavusd opened #3505 "fairmot读取视频帧数"
想知道` release-2.1版本 的fairmot怎么设置每次读取视频的帧数
![QQ图片20210626114017](https://user-images.githubusercontent.com/80375767/123500816-4c9ef100-d673-11eb-8eca-4c4c68f422db.png)

[2021-06-26 03:41] Dejavusd commented on #3505
如果不是内存问题的话，请解答

[2021-06-26 06:10] Mr-ind1fferent opened #3506 "在训练pedestrain时，保存权重失败，"
如题

[2021-06-26 06:10] nemonameless commented on #3505
请使用develop分支也试试? aistudio机器配置不高

[2021-06-26 06:34] lizhenhanabc commented on #3476
我换成pycharm来弄，还是只训练一轮就结束了，output里面没有保存，我看到也有人在问，是不是在哪里return掉了？我换成CPU训练，也是只训练一轮，output没有保存。
![1](https://user-images.githubusercontent.com/60728647/123504376-6fd59a80-d68b-11eb-9009-c337aa8af681.PNG)
![2](https://user-images.githubusercontent.com/60728647/123504379-76641200-d68b-11eb-8c21-d1c7ebc91df1.PNG)

[2021-06-26 07:54] ichbing1 opened #3507 "exporting & deploying model with batch size > 1"
Hi,

I'm trying to do inference with a batch size of N > 1 (in this case, I tested with N = 4), by exporting `ppyolo_r50vd_dcn_1x_coco.yml` model with the following modification in `ppyolo_reader.yml`:
[code]

However, when I run inference with the exported model, I get an error that complains about shape mismatch. It seems the batch size of N > 1 is being ignored when exporting the model. I get s

[2021-06-26 09:31] bmfarer opened #3508 "Transfer Learning"
请问一下开发者大大下一个版本能够增加迁移学习方面的灵活性吗？因为现在就几个参数，在做小样本迁移学习的时候感觉有点回天乏术(〒▽〒)

* 说明：

1. pretrain\_weights的路径为COCO数据集上开源的faster RCNN模型链接，完整模型链接可参考[MODEL_ZOO](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/advanced_tutorials/TRANSFER_LEARNING_cn.md)
2. finetune\_exclude\_pretrained\_params中设置参数字段，如果参数名能够匹配以上参数字段（通配符匹配方式），则在模型加载时忽略该参数。

如果用户需要利用自己的数据进行finetune，模型结构不变，只需要忽略与类别数相关的参数

[2021-06-26 09:50] Dejavusd commented on #3505
这个是我在自己本地pycharm上面跑的报的错，先前在aistudio上面跑一样的代码并无问题，所以应该是我自己电脑的原因。
因此我想通过调小fairmot预测时每次读取的视频帧数来解决内存问题（不知道我的思路对不对）

[2021-06-26 11:06] liuhuiCNN commented on #3499
include .h文件就可以了

[2021-06-26 11:09] liuhuiCNN commented on #3495
在前面几次预测过程中，会与预热过程，导致预测时间较长。如果想准确评估网络时间，可以通过设置 run_benchmark=True，在预热一段时间后，再评估网络时间。不知道您这里时间是指哪些时间呢？

[2021-06-26 11:11] liuhuiCNN commented on #3503
请在数据集中设置`metric: RBOX`

[2021-06-26 14:08] qingqing01 commented on #3506
有具体的错误信息嘛？

[2021-06-26 14:11] Mr-ind1fferent commented on #3506
无，我设置了每一个epoch保存一次，但是没有

[2021-06-26 14:11] qingqing01 commented on #3508
@FallBlackMagic

静态图的的迁移学习，一种方式是直接加载，shape不匹配的参数可以直接忽略，请看文档：

<img width="957" alt="图片" src="https://user-images.githubusercontent.com/7845005/123515778-679d4f80-d6cb-11eb-9984-201298919898.png">

[2021-06-26 14:16] #3500 closed, assigned to nobody

[2021-06-26 14:18] qingqing01 commented on #3506
是动态图训练嘛？什么模型？log中是否有保存模型的日志? 正常都是没问题的。您有改动什么的？

具体的代码流程:

callbacks调用`on_epoch_end`:

https://github.com/PaddlePaddle/PaddleDetection/blob/e1e02efe93246c3f681c4e9605e44134a0aae72a/ppdet/engine/trainer.py#L334

->

Checkpointer :

https://github.com/PaddlePaddle/PaddleDetection/blob/e1e02efe93246c3f681c4e9605e44134a0aae72a/ppdet/engine/callbacks.py#L152

[2021-06-26 16:31] Fitz-Fitz opened #3509 "Deepsort使用eval_mot.py路径问题"
Deepsort使用eval_mot.py路径问题自己检测生成的txt文件和视频路径关系应该是什么样子的呢？对应配置文件中EvalMOTDataset:又该如何修改？

[2021-06-26 17:51] nemonameless commented on #3509
eval_mot.py只支持图片预测，生成的txt文件和视频图片路径可以自己设置--output_dir 默认是叫output。
infer_mot.py只支持视频预测，同理可设置--output_dir
请参考文档 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/mot/deepsort/README_cn.md
自定义数据集准备请参考 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/tutorials/PrepareMOTDataSet_cn.md
换MOT-17数据集测可修改为：
[code]

[2021-06-26 18:12] HelloSZS commented on #3118
我也遇到这个问题，改了模型参数stride和anchor_ratio、还有需要训练的epoch数之后，续训出现这个问题

[2021-06-27 02:22] DongChenwei2000 opened #3510 "关于reid模块"
开发者您好，我在使用官方的reid模块时遇到了模块未注册的问题，如下图：
![Q53)G8XCSTHJ6~`AZS3A1LV](https://user-images.githubusercontent.com/71364549/123530780-d4970080-d730-11eb-9e7c-1e19d3a31cff.png)
我们的环境是window10的paddle2.1.0，paddledetection也是最新的2.1，希望能帮助我们一下。

[2021-06-27 02:57] tianrking opened #3511 "跑多目标跟踪 时候每次都被kill"
百度飞奖2.1  至尊版 aistudio环境

[06/27 10:56:50] ppdet.utils.checkpoint INFO: Finish resuming model weights: /home/aistudio/.cache/paddle/weights/fairmot_dla34_30e_1088x608.pdparams
[06/27 10:56:51] ppdet.engine.tracker INFO: Starting tracking /home/aistudio/media/LongRoad.mp4
[06/27 10:56:51] ppdet.data.source.mot INFO: Length of the video: 7096 frames
killed

[2021-06-27 02:58] tianrking commented on #3511
提示
代码执行异常：内存溢出，执行已被中止。请检查相关代码。

[2021-06-27 02:59] tianrking commented on #3182
同样 被kill  百度飞奖 至尊版环境

[2021-06-27 03:39] MyGitHub-G commented on #3511
至尊版的也不行吗，那只能是7096frames的视频着实太大了

[2021-06-27 07:15] heavengate commented on #3510
你好，你是之前安装过2.0版本的`paddledet`的whl包么，`pip uninstall paddledet`之后重新安装试下呢，或者`python setup.py install`

[2021-06-27 07:16] heavengate commented on #3511
看着是视频有7096帧太大了，内存占用过大，换个小一点的视频或者分段预测试下呢

[2021-06-27 07:25] wobushihuair commented on #3411
新版本依然还是卡住，前面几次又是正常评估，中途突然又卡住了

[2021-06-27 08:14] tianrking commented on #3511
分割视频再合并的确是一种可行的方法 已实现  谢谢您

[2021-06-27 10:14] FallBlackMagic commented on #3508
@qingqing01 嗯嗯，主要是我想实时别的迁移学习方法，但是里面似乎没有合适的参数可以设置

[2021-06-27 10:16] bmfarer commented on #3508
@qingqing01 嗯嗯，主要是我想实现别的迁移学习方法，但是里面似乎没有合适的参数可以设置

[2021-06-27 11:11] nemonameless commented on #3511
建议试试develop分支，是用decord来读帧的，pip 安装一下decord，release/2.1分支还是opencv

[2021-06-27 13:42] lazyn1997 opened #3512 "大规模实用目标检测模型"
大规模实用目标检测模型有动态图版本吗，或者可以转换为动态图版本吗？

[2021-06-27 14:39] ghost opened #3513 "安装问题"
请问，那个paddledetection安装教程是针对AI Stutio的吗？在本地安装时，coco相关的总是安装失败

[2021-06-27 15:37] xinsuinizhuan opened #3514 "cpp里面的，阈值没有用，并且没有做nms过滤"
我是了yolov2转换了模型，c++加载，cpu库正常，但是gpu库有问题：
![图片](https://user-images.githubusercontent.com/40679769/123550519-70138a00-d7a0-11eb-9cec-a2bd393f068e.png)
![图片](https://user-images.githubusercontent.com/40679769/123550526-7e61a600-d7a0-11eb-957b-f41578aa734e.png)
![图片](https://user-images.githubusercontent.com/40679769/123550530-87527780-d7a0-11eb-82d3-cb00736ecc52.png)

同时，里面的阈值没有起作用，没有做nms过滤

[2021-06-28 01:19] lhx123456-lang commented on #3495
嗯，我做了一个循环测试，确实是第一次预测时间较长，应该确实是预热过程导致，测试结果如下：

**一次预测一张图，循环预测9次的耗时：**
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0628 09:15:26.525892 13668 analysis_config.cc:424] use_dlnne_:0
I0628 09:15:26.526892 13668 analysis_config.cc:424] use_dlnne_:0
I0628 09:15:26.526892 13668 analysis_config.cc:424] use_dlnne_:0
I0628 09:15:26.526892 13668 analysis_config.cc:424] use_dlnne_:0
第1次检测处

[2021-06-28 02:13] lazyn1997 commented on #3107
请问一下这个模型有办法转换为动态图版本吗

[2021-06-28 02:24] raymondchu-z commented on #3291
@yghstill 在PPYOLOv2里有吗

[2021-06-28 02:28] lazyn1997 commented on #3023
我测试infer也是无法使用静态图模型的，请问一下你的问题现在有解决吗？

[2021-06-28 02:35] lazyn1997 commented on #3423
那我清楚了，可能是因为我 batch_size 大小设置不一致造成的，因为 T4 的显存比 3080 大许多，所以我设置的就大一些，感谢解答。

[2021-06-28 02:35] #3423 closed, assigned to nobody

[2021-06-28 02:46] heavengate commented on #3512
你说的是哪个模型呢，目前主流的模型都已经迁移到动态图版本了

[2021-06-28 02:47] heavengate commented on #3513
`pycocotools`安装失败？具体报什么错呢

[2021-06-28 02:47] raymondchu-z commented on #2972
那这样的话，设置anchor的大小时-s的参数应该怎么设置？

[2021-06-28 02:49] heavengate commented on #3514
你好，ppyolov2模型里用的是matrix nms，不是multiclass nms，不是通过阈值来过滤的，可以参考这里
https://github.com/PaddlePaddle/PaddleDetection/blob/e1e02efe93246c3f681c4e9605e44134a0aae72a/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml#L59

[2021-06-28 02:54] raymondchu-z opened #3516 "训练时输入尺寸RandomResize应该怎么设置anchor的大小"
PPYOLOv2里
[code]
训练输入尺寸是抽样的，那么运行`anchor_cluster.py`时的-s参数应该怎么设？

[2021-06-28 03:23] #3410 closed, assigned to nobody

[2021-06-28 03:24] #3498 closed, assigned to nobody

[2021-06-28 03:39] xinsuinizhuan commented on #3514
那按您的意思，我外层，就不需要再做iou过滤了？ 第一个阈值我看到了，是在外层进行了阈值过滤，阈值传到了object_detector.h里面去了，但是里面没有使用。

[2021-06-28 03:43] wangxinxin08 commented on #2972
@raymondchu-z 根据推理时的尺寸进行选取

[2021-06-28 03:45] zhiboniu commented on #3459
You can try batch inference now, the pr is merged.

[2021-06-28 03:45] raymondchu-z commented on #2972
@wangxinxin08 好的 感谢回复

[2021-06-28 03:47] xinsuinizhuan commented on #3514
另外，yolov2的图像输入格式是啥样的，rgb,bgr？
![图片](https://user-images.githubusercontent.com/40679769/123577430-64f34500-d806-11eb-9816-d5ec5292cb93.png)
这个狗狗识别不了，得分阈值才0.22。我看cpp里面，都没有图像格式转换的步骤，图像直接读取格式为bgr格式

[2021-06-28 03:49] raymondchu-z opened #3518 "PPYOLOv2中有针对类别不均衡的方法吗"
如题。
或者有别的针对类别不均衡通用的方法能加到PPYOLOv2里吗

[2021-06-28 04:23] ZJH970922 commented on #3503
是把configs/datasets里面的yml文件设置为metric: RBOX吗？
还是将数据集转换成metric: RBOX？应该怎么转换呢？

[2021-06-28 05:29] Mr-ind1fferent commented on #3506
完全没有修改
![image](https://user-images.githubusercontent.com/74087260/123584932-d508c780-d814-11eb-97b4-8fe66a7517a7.png)

[2021-06-28 06:29] xinsuinizhuan opened #3519 "ppyolov2，训练自己的数据集，模型输入尺寸修改为1536，怎么操作？"
yolov2的训练文档并不多，我想训练自己的数据集，模型输入尺寸为1536*1536

[2021-06-28 06:50] nemonameless commented on #3497
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python

[2021-06-28 06:50] JianJingGao commented on #3449
好的，我看之前的版本有mobile版的， 为啥现在没了

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Guanghua ***@***.***>
发送时间: 2021年6月25日 17:24
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#3449)

@JianJingGao<https://github.com/JianJingGao> 使用最新PaddleDetection release 2.1再试下重新导出模型呢，solov2_r50_fpn预测速度在v100环境下trt预测可以在40ms左右。

―
You are

[2021-06-28 06:53] JianJingGao commented on #3449
是solov2_r50_fpn_3x_coco吗

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Guanghua ***@***.***>
发送时间: 2021年6月25日 17:24
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] SOLOV2支持C++部署吗 (#3449)

@JianJingGao<https://github.com/JianJingGao> 使用最新PaddleDetection release 2.1再试下重新导出模型呢，solov2_r50_fpn预测速度在v100环境下trt预测可以在40ms左右。

―
You are re

[2021-06-28 07:09] zhuqiang00099 commented on #3475
worker_num=4没用，RTX 2080ti  paddle 2.1.0    python3.6 ubuntu18.04     跑的ppyolo_tiny_650e那个 ，我也是这个 错误。

[2021-06-28 07:11] yeyupiaoling commented on #3475
@zhuqiang00099 我设置worker_num=2都不行。我也是ppyolo_tiny_650e这个模型

[2021-06-28 07:21] wangxinxin08 commented on #3475
@yeyupiaoling 所以减小worker_num能够解决你的问题吗？

[2021-06-28 07:26] lazyn1997 commented on #3512
![image](https://user-images.githubusercontent.com/34644177/123596741-202ad680-d825-11eb-8486-262ff6908038.png)
这一个模型，目前只有静态图版本

[2021-06-28 07:26] JianJingGao commented on #3449
@yghstill 请问你是用trt fp16跑的吗？还是int8跑出来的这个速度

[2021-06-28 07:34] crj0322 opened #3520 "visualdl无可视化结果展示"
http://localhost:8040/ 可以连接，但显示“无可视化结果展示”；

log内容：
自定义数据，即在data/source中注册新的Dataset，train/eval/infer都没有问题，
log由“python tools/train.py  -c ... --use_vdl=true --vdl_log_dir=vdl_log_dir/ppyolov2_r50vd_dcn_80e_custom”产生；

可视化命令：
visualdl --logdir vdl_dir/ppyolov2_r50vd_dcn_80e_custom/

浏览器：
Microsoft Edge 91.0.864.59

log文件：
[vdlrecords.1624845161.log](https://github.com/PaddlePaddle/PaddleDetection/fi

[2021-06-28 07:49] cslixin1997 opened #3521 "'Momentum' object has no attribute 'user_defined_optimizer'"
![image](https://user-images.githubusercontent.com/50700993/123599357-18b8fc80-d828-11eb-9b32-836bbc5aa596.png)

paddle2.1-gpu10.2的版本    python3.6   cuda11.2  gpu：Tesla v100

使用飞浆加速时报错：
![image](https://user-images.githubusercontent.com/50700993/123599633-67ff2d00-d828-11eb-8e68-7d1efcc901c5.png)

[2021-06-28 08:00] SangerY commented on #3345
我在2080SUPER上训练就会出现这个问题，跟显卡有关系吗？我先在aistudio上试试。

[2021-06-28 08:09] yeyupiaoling commented on #3475
@wangxinxin08 不能。

[2021-06-28 08:10] nemonameless commented on #3504
请更新下release/2.1 分支代码或使用develop分支。我们自测是正常的。

[2021-06-28 08:10] #3484 closed, assigned to nobody

[2021-06-28 08:11] #3483 closed, assigned to nobody

[2021-06-28 08:11] #3480 closed, assigned to nobody

[2021-06-28 08:13] #3486 closed, assigned to nobody

[2021-06-28 08:16] #3310 closed, assigned to nobody

[2021-06-28 08:19] MichaelZhero opened #3522 "yaml.constructor.ConstructorError和No module named 'ppdet.experimental'"
1、在window 10下面使用\PaddleDetection-release-2.1；
2、使用动态图训练时，报yaml.constructor.ConstructorError: could not determine a constructor for the tag '!DecodeImage'
3、切换成静态图训练时，报 File "tools/train.py", line 44, in <module>
    from ppdet.experimental import mixed_precision_context
ModuleNotFoundError: No module named 'ppdet.experimental'

(paddle) E:\github\PaddleDetection-release-2.1\PaddleDetection-release

[2021-06-28 08:24] huyhung411991 opened #3523 "Evaluating PP-YOLOv2 with COCO val2017 results in lower mAP than in published article"
I installed PaddlePaddle v2.1.1 and PaddleDetection v2.1 with:
`pip install paddlepaddle-gpu -f https://paddlepaddle.org.cn/whl/stable/tensorrt.html`
`pip install paddledet -i https://mirror.baidu.com/pypi/simple`

Then try to evaluate PP-YOLOv2 on COCO val2017 with provided pretrained weights and default configs with
`python tools/eval.py -c configs/ppyolo/ppyolov2_r101vd_dcn_365e_coco.yml -o wei

[2021-06-28 08:33] cpsu00 commented on #3476
我也在FRCNN遇到一樣的問題
python tools/train.py -c configs/faster_rcnn/faster_rcnn_r50_1x.yml --use_vdl=true --vdl_log_dir=vdl_dir/scalar

![image](https://user-images.githubusercontent.com/85643374/123605723-b9aab600-d82e-11eb-832b-11addf331116.png)

[2021-06-28 08:47] raymondchu-z opened #3524 "怎么保存eval的结果"
请问怎么保存eval的结果？
`--json_eval`这个接口是，是否通过已存在的bbox.json或者mask.json进行评估。而不是保存本次评估的结果。
看代码里，`COCOMetric`类下的`accumulate()`有保存eval的结果的代码，VOC格式就没有。
那VOC格式的评估结果怎么保存？

[2021-06-28 09:04] zhuqiang00099 commented on #3475
回退 到2.0.0好像 就可以，但是 如果 要导出 模型还是要用 2.1

[2021-06-28 09:06] yeyupiaoling commented on #3475
那这样有什么用，难道要搞两个环境？等他们修复吧

[2021-06-28 09:37] xinsuinizhuan commented on #3523
how to train with ppyolov2?

[2021-06-28 10:10] jackie8310 opened #3525 "数据处理流程问题："
请教：在YAML文件TrainReader下sample_transforms:中，增加了一些数据增强的配置，训练时数据处理的流程怎样？是直接对每张图像做对应增强后和原来数据一起train？还是保留数据重量不变，仅仅随机选择部分图像增强，然后与未增强数据一起train？请指教！！

[2021-06-28 11:51] Dejavusd opened #3526 "fairmot预测视频"
![QQ图片20210626114017](https://user-images.githubusercontent.com/80375767/123631786-b83ab700-d849-11eb-81b8-61c4a654d4e2.png)
在本地pycharm跑fairmot预测报了这个错，但是在aistudio上跑一样的代码可以正常运行
想知道在release-2.1版本中，怎么修改fairmot预测时每次读取视频的帧数（代码中在aistudio里面跑过好像是40帧每次），我想调小些。如果有更好解决这个报错的方法求告知

[2021-06-28 12:20] jerrywgz commented on #3526
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/tracker.py#L127 目前fairmot预测的帧数是固定的40，这里的代码可以进行修改，我们后面优化下。另外本地预测出错可能是图像过大，解码时间过长导致的。可以尝试减小视频大小，或者使用decord进行视频解码

[2021-06-28 12:23] jerrywgz commented on #3525
sample_transform表示的将一张图进行数据增强，最终进入网络训练的都是经过数据增强后的图像，原始图像不会参与训练

[2021-06-28 12:26] Dejavusd commented on #3526
关于这个decord？在哪里加找到paddle的和在哪加上

[2021-06-28 12:33] jerrywgz commented on #3524
目前只有COCO格式下会将结果保存成bbox.json或mask.json
VOC数据集通过DetectionMAP这个类统计评估结果，如果想保存voc的评估结果，需要在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/trainer.py#L368 这里保存输出结果和对应的gt信息

[2021-06-28 12:35] jerrywgz commented on #3526
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/source/mot.py#L327 可以参考这里的使用方法

[2021-06-28 12:35] Dejavusd commented on #3526
![微信图片_20210628203355](https://user-images.githubusercontent.com/80375767/123637097-326e

[2021-06-28 12:36] jerrywgz commented on #3522
动态图下的报错原因是，configs/rcnn_enhance/cascade_rcnn_dcn_r50_vd_fpn_3x_server_side1.yml 这个配置文件只支持静态图，在动态图下是不兼容的。可以尝试使用https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/rcnn_enhance/faster_rcnn_enhance_3x_coco.yml 这个配置。如果在动态图和静态图之间切换，建议先pip uninstall paddledet。

[2021-06-28 12:44] jerrywgz commented on #3520
请问使用的是哪个版本的visualdl呢

[2021-06-28 12:46] jerrywgz commented on #3519
模型输入大小可以通过https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/_base_/ppyolo_reader.yml#L13 这里来调整，可以改成```BatchRandomResize: {target_size: [1536], random_size: True, random_interp: True, keep_ratio: False}```

[2021-06-28 12:50] jerrywgz commented on #3518
目前还没有针对类别不均衡进行优化。目前有一些方法可以参考：
1. data部分设置采样逻辑，平衡类别不均衡, https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/coco.py#L81 中的record表示所有数据，可以设计不同方法调整数据分布
2. 设计loss，可以针对不同类别的loss敏感度对loss进行加权，实现均衡类别的目的

[2021-06-28 12:55] jerrywgz commented on #3516
anchor_cluster.py中设置的size是eval时输入模型的尺寸，例如608或者416

[2021-06-28 12:58] Dejavusd commented on #3526
按 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/source/mot.py# （L326-L349）这样处理后会报这样的错  缺少 frame_rate
![微信图片_20210628205525](https://user-images.githubusercontent.com/80375767/123640048-5d0dc200-d853-11eb-9c2c-51263e183ed8.png)

原代码中是这样
![微信截图_20210628205811](https://user-images.githubusercontent.com/80375767/123640272-93e3d800-d853-11eb-929c-68974da5a6b3.png)

[2021-06-28 12:59] jerrywgz commented on #3521
https://github.com/PaddlePaddle/PaddleDetection/pull/3527 问题已经提pr修复了，感谢反馈

[2021-06-28 13:03] Dejavusd commented on #3526
我想保留帧速率

[2021-06-28 13:10] jerrywgz commented on #3526
可以直接试下develop分支

[2021-06-28 13:22] jerrywgz commented on #3523
you need to set --bias at the stage of evaluation. Please refer to https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/README.md#2-evaluation

[2021-06-28 13:28] #3438 closed, assigned to nobody

[2021-06-28 13:29] #3422 closed, assigned to nobody

[2021-06-28 13:30] #3419 closed, assigned to nobody

[2021-06-28 13:30] #3418 closed, assigned to nobody

[2021-06-28 13:31] #3411 closed, assigned to nobody

[2021-06-28 13:31] MichaelZhero commented on #3522
使用pip uninstall paddledet后，可以正常训练。多谢。

在aistudio没有使用‘pip uninstall paddledet’
而采用下面这句命令，也可以完成正常训练
!export PYTHONPATH.=$PYTHONPATH
!export CUDA_VISIBLE_DEVICES=0

[2021-06-28 13:31] MichaelZhero commented on #3522
使用pip uninstall paddledet后，可以正常训练。多谢。

在aistudio没有使用‘pip uninstall paddledet’
而采用下面这句命令，也可以完成正常训练
!export PYTHONPATH.=$PYTHONPATH
!export CUDA_VISIBLE_DEVICES=0

[2021-06-28 13:31] MichaelZhero commented on #3522
使用pip uninstall paddledet后，可以正常训练。多谢。

在aistudio没有使用‘pip uninstall paddledet’
而采用下面这句命令，也可以完成正常训练
!export PYTHONPATH.=$PYTHONPATH
!export CUDA_VISIBLE_DEVICES=0

[2021-06-28 13:39] jackie8310 opened #3529 "把背景图片加入训练集中:"
请教：如何将背景图像（无标注框的正常图像）加入两阶段检测模型训练以降低误检率（数据标注格式是COCO的）？

[2021-06-28 13:47] Dejavusd commented on #3526
我试了一下，也会报错，会不会是PyQt的兼容的问题
参考 https://blog.csdn.net/wangguan9527/article/details/82845409

[2021-06-28 14:17] huyhung411991 commented on #3523
Just read again and recognized the note that I missed. Thank you for your help.

[2021-06-28 14:53] Dejavusd commented on #3526
可以运行，但是不会完全运行完。比方说就是我用一个300frame的视频，代码会保存预测结果的每一帧图片，但只保存到299张就没了，并且也没有预测好的视频文件生成（跑到第299张的时候又自己退了）
![1](https://user-images.githubusercontent.com/80375767/123657657-91897a00-d863-11eb-9176-b755831514b4.png)

imshow也总是显示未响应
![2](https://user-images.githubusercontent.com/80375767/123658472-563b7b00-d864-11eb-83b2-c4f0f3627b26.png)

[2021-06-28 15:00] xinsuinizhuan commented on #3519
![图片](https://user-images.githubusercontent.com/40679769/123658776-9c90da00-d864-11eb-8fee-e79ff994c323.png)
python tools/anchor_cluster.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml -n 9 -s 320 -m v2 -i 1000 这个命令是啥意思？

[2021-06-28 15:18] jerrywgz commented on #3529
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/coco.py#L51 可以在dataset中设置allow_empty字段来加入背景图像，同时可以设置empty_ratio来设置加入背景图像的比重

[2021-06-28 15:21] jerrywgz commented on #3519
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/tools/anchor_cluster.py#L284 具体参数可以参考这里，目的是为了生成训练所需的anchor。
n表示聚类个数；s表示anchor size（设置为eval是输入网络的size大小）；m表示模式，目前支持YOLOv2AnchorCluster和YOLOv5AnchorCluster两种。i表示迭代轮数

[2021-06-28 15:29] xinsuinizhuan commented on #3519
我的理解是，目标检测是，n标识检测的目标类别个数，s标识魔心输入大小，如果使用paddleyolov的话，m应该是哪个，v2?
还有就是，直接使用这个命令后，就不需要手动改输入尺寸了吧，我的模型输入是1536？

[2021-06-29 00:57] lizhenhanabc commented on #3476
@wangxinxin08 这个确实是个问题。。。有定位到问题所在吗？

[2021-06-29 01:05] raymondchu-z commented on #3516
好的谢谢回复。

[2021-06-29 01:05] #3516 closed, assigned to nobody

[2021-06-29 01:07] jackie8310 commented on #3525
@jerrywgz ，如果是将每一张图进行数据增强喂入训练，那增强的方法有几种，是对每张图随机选择一种增强方法，还是依次按照增强方法（一张图片变成多张图片）喂入训练？

[2021-06-29 01:14] crj0322 commented on #3520
python: 3.7.10
paddlepaddle-gpu 2.1.0
paddledet 2.1.0
visualdl 2.2.0

[2021-06-29 01:18] jackie8310 commented on #3529
@jerrywgz ，如果用静态图训练，加入接口在哪里呢？这个https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/ppdet/data/source/coco.py中没有？？

[2021-06-29 01:26] raymondchu-z commented on #3518
@jerrywgz
请问这两种方法有文档或者代码样例吗？

[2021-06-29 02:09] wangxinxin08 commented on #3476
@lizhenhanabc 不用anaconda创建的虚拟环境不会出现该问题，不是已经说过用原生python环境训练吗？

[2021-06-29 02:33] ximitiejiang opened #3531 "YOLOV3-训练自定义coco格式数据集报错"
该自定义数据集在fasterrcnn模型上已经跑过没有问题，但不知道为什么在yolov3上报错。
[code]

我的yolov3设置如下：
[code]
请问下可能是什么问题？

[2021-06-29 02:48] ximitiejiang commented on #3489
@lyuwenyu @liuhuiCNN
或者框架有什么接口可以输出我的use_dynamic_shape状态？我在外部已经改成true了，但怎么内部还在提示让我enable trt dynamic shape mode

[2021-06-29 02:56] xinsuinizhuan opened #3532 "使用conda 虚拟环境安装的 cudatookit包，是否可用？"

[2021-06-29 03:03] dhao-island opened #3533 "iou aware，在YOLOv3中增加一个通道预测iou"
请问这个通道加在那个位置呢，通道中是一个3*3卷积加一个sigmoid函数嘛（原文），
想画一下它的训练结构图

[2021-06-29 03:38] yghstill commented on #3531
@ximitiejiang 看你的配置文件应该没有问题，更新PaddleDetection版本到release-2.1，PaddlePaddle版本到2.1.0再试下训练，是否还出问题。

[2021-06-29 03:41] yghstill commented on #3532
@xinsuinizhuan 可以使用，安装好cudatookit和paddlepaddle后，check一下是否安装成功：
[code]

[2021-06-29 03:47] yghstill commented on #3471
@Dejavusd 安装的是PaddlePaddle 2.1.0吗？打印一下paddle版本看下：
[code]

[2021-06-29 05:36] wangxinxin08 commented on #3533
yolov3原先会预测每一个anchor的xwwh, obj, cls，这用一个输出通道为anchor_num * (classes + 1)的卷积来实现，现在iou aware就添加在这个卷积上

[2021-06-29 05:45] cslixin1997 opened #3534 "solov2训练中途报错"
[code]

paddle 2.1.0 cuda10.2 版本      服务器cuda11.2   gpu型号 TeslaV100     python版本3.6.8
gcc版本：
![image](https://user-images.githubusercontent.com/50700993/123743706-32b61600-d8e0-11eb-8bfc-217d9b62b4cc.png)

[2021-06-29 05:54] yghstill commented on #3534
@cslixin1997 训练到多少epoch出现这个错误？你服务器cuda版本是11.2，建议安装paddlepaddle 2.1.0的cuda11.2版本：
[code]

[2021-06-29 05:57] nemonameless commented on #3526
linux平台上应该都没这个问题。可以详细说下您windows平台环境吗？cuda cudnn python paddle等

[2021-06-29 06:06] cslixin1997 commented on #3534
@yghstill 写错了，cuda是11.0    我是跑版面分析，跑了大概一天，第7个epoch，就报错

[2021-06-29 06:07] yghstill commented on #3534
@cslixin1997 先重启一下试下吧

[2021-06-29 06:27] cslixin1997 commented on #3534
@yghstill 我上个礼拜就开始跑了，都是跑到大概1天多，就报这个错，重启服务几次了

[2021-06-29 06:41] wangxinxin08 commented on #3506
你在哪里修改的snapshot_epoch?

[2021-06-29 06:45] jerrywgz commented on #3529
静态图目前没有增加这个功能

[2021-06-29 06:47] jerrywgz commented on #3525
逻辑是一张图依次按照多种数据增强方法，得到最终的一张输入图训练

[2021-06-29 06:48] ximitiejiang commented on #3531
升级到paddledet2.1版本重新训练，原来在epoch14的报错就没有了，但到epoch36又报错了

[code]

[2021-06-29 06:52] ShenYuhan commented on #3520
![image](https://user-images.githubusercontent.com/28444161/123750834-9ee94780-d8e9-11eb-97b7-36bb45bac47f.png)

您好，日志文件没有问题，可以尝试使用更高版本的chrome浏览器，看是否可以看到数据。

[2021-06-29 06:55] jerrywgz commented on #3519
这个命令得到的只是用于生成anchor，如果期望模型输入就是1536，那用-s设置1536尺寸后，evalreader中的size可以不需要再修改。trainreader使用了多尺度训练，可以在1536这个尺寸的基础上再增加一些尺度来提升模型效果

[2021-06-29 06:57] jerrywgz commented on #3518
关于数据采样，可以静态图的一个实现，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/ppdet/data/reader.py#L256
 loss改动的这个暂时还没有

[2021-06-29 07:44] raymondchu-z opened #3535 "自定义数据集增加属性报错"
` def parse_dataset()`如下。原本是正常的，仿照difficult 尝试增加了 occluded 和 truncated 两个属性之后报错
`ValueError: all input arrays must have the same shape`。
代码中有检查 occluded 和 truncated的维度与其他一致。
[code]

[2021-06-29 07:50] Dejavusd commented on #3526
Windows10
cuda是10.1 cudnn是v7.6.5.32 python是3.8 paddle是gpu版2.1.0.post101
电脑版本的cuda是
![3](https://user-images.githubusercontent.com/80375767/123760430-6c444c80-d8f3-11eb-8638-14a9881fe047.png)

[2021-06-29 08:13] oldZhangYH commented on #3529
当前voc格式数据支持背景图训练吗

[2021-06-29 08:27] EdwardVincentMa opened #3536 "ppyolo_tiny 预处理除了 mean 和 std 之外还需要其他的处理吗？"
ppyolo_tiny 预处理除了 mean 和 std 之外还需要其他的处理吗？

[2021-06-29 08:32] yghstill commented on #3535
@raymondchu-z 你报错信息发下，报错位置是在这里吗？打印records看打印出来是否正确

[2021-06-29 08:36] yghstill commented on #3536
@EdwardVincentMa https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/_base_/ppyolo_tiny_reader.yml#L39-L41
有 resize、归一化(除255，减mean除std)，还有hwc->chw这三种

[2021-06-29 08:38] wangxinxin08 commented on #3507
I failed to reproduce the error. You can try PaddleDetection release/2.1 with PaddlePaddle 2.1.0, which is ok in my test!

[2021-06-29 08:41] yghstill commented on #3531
@ximitiejiang 再-r指定中间权重，重启下训练吧，DataLoader的queue出空的问题我们正在排查中

[2021-06-29 08:48] NikolaTeslein opened #3537 "export_model.py导出模型报错"
**使用的模型是configs\ppyolo\ppyolov2_r50vd_dcn_365e_coco.yml。

报错代码：**
ppdet.utils.checkpoint INFO: Finish loading model weights: PaddleDetection/Model/6-50.pdparams
[06/29 16:42:46] ppdet.engine INFO: Export inference config file to output_inference\ppyolov2_r50vd_dcn_365e_coco\infer_cfg.yml
**Traceback (most recent call last):**
  File "PaddleDetection/tools/export_model.py", line 105, in <module>

[2021-06-29 08:50] crj0322 commented on #3520
您好，改用chrome，
打开一直显示“数据载入中，请稍后”，点击“标量数据”后显示“无可视化结果展示”，
控制台有时会出现“[ERROR 2021-06-29 16:42:00,303 api.py:59] Internal server error. Retry later.”

![image](https://user-images.githubusercontent.com/17036914/123766989-b9c3b800-d8f9-11eb-9a27-63ca187cff61.png)

![image](https://user-images.githubusercontent.com/17036914/123767180-deb82b00-d8f9-11eb-8743-1ec44e27cba7.png)

[2021-06-29 08:59] wangxinxin08 commented on #3537
你应该修改了预测时的图像尺寸，这个错误是由于你指定的TestReader的image_shape不是32的整数倍导致的

[2021-06-29 09:00] intjun opened #3538 "人像圣诞特效自动生成里面这个长宽缩放因子怎么算的,比如我有一个新的帽子mask,怎么计算这些缩放因子?"
HAT_SCALES = {
    '1.png': [3.0, 0.9, .0],
    '2.png': [3.0, 1.3, .5],
    '3.png': [2.2, 1.5, .8],
    '4.png': [2.2, 1.8, .0],
    '5.png': [1.8, 1.2, .0],
}

[2021-06-29 09:01] yghstill commented on #3538
@intjun 这些scales参数是人工调的，你可以根据帽子具体形状手动调到最优。

[2021-06-29 09:08] ximitiejiang commented on #3531
我把数据集从机械硬盘搬到固态硬盘，且换成batchsize=8的原始设置，然后训练坚持到60个epoch退出，没有报错但还是训练不完
[code]

[2021-06-29 09:08] heavengate commented on #3531
你好，你Paddle用的哪个版本呢，另外看报错信息是进程被kill信号杀了，一般可能是内存不够或者手动kill 的情况，`free -h`看下空闲内存大小呢

[2021-06-29 09:09] raymondchu-z commented on #3535
在这里报错的。https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/trainer.py#L357\
报错信息如下：
[code]
这是record的一条：
[code]

[2021-06-29 09:17] yghstill commented on #3535
@raymondchu-z occluded和truncated的作用是什么？这两个组不了batch，所以会报错，这两个字段需要传入到网络中吗？

[2021-06-29 09:20] ximitiejiang commented on #3531
你好，我的paddle2.1, paddledet2.1.0，batchsize=8时：
- GPU显存占用率是比较高了(10.9G/11.17G)
- cpu的占比情况：
[code]

[2021-06-29 09:24] raymondchu-z commented on #3535
@yghstill 配置如下。这两个在评估的时候来用，训练不需要。

map_type: integral
num_classes: 7
TrainDataset:
  !DTODataSet
    dataset_dir: dataset/dto
    anno_path: train.txt
    label_list: label_list.txt
    # with_background: false
    data_fields: ['image', 'gt_bbox', 'gt_class', 'difficult']
EvalDataset:
  !DTODataSet
    dataset_dir: dataset/dto
    anno_path: test.txt
    label_list: label_list.txt
    # with_back

[2021-06-29 09:25] QQ39272490 commented on #1671
我也是碰上这问题了

[2021-06-29 09:32] youyuan-zhang opened #3539 "预测mask和原图片高宽反了报错"
我们用maskrcnn预测一个(2304, 3072, 3)大小的图片，但在visualize mask时候报错如下

我们打印了mask的shape，发现是(3072, 2304)；进一步打印test loader里这个图片的shape Tensor(shape=[1, 3, 1088, 800]）就发现长宽颠倒了。请问有什么解决办法吗？是在input resize的时候有些问题吗？

ppdet=2.1.0

报错如下
[code]

[2021-06-29 09:35] yghstill commented on #3535
@raymondchu-z 如果训练中不需要将你那两个字段在Gt2YoloTarget组target这里pop一下：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/transform/batch_operators.py#L265

[2021-06-29 10:04] raymondchu-z commented on #3535
不行嗷，
[code]

[2021-06-29 10:45] yghstill commented on #3535
@raymondchu-z 你是训练报错还是eval报错，eval的话加上这两行https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolo_r50vd_dcn_voc.yml#L19-L20

[2021-06-29 10:46] yghstill commented on #3539
@sophistz 是reader配置文件中TestReader改了什么内容吗？

[2021-06-29 11:26] ichbing1 commented on #3507
Thanks for your response, @wangxinxin08. However, I am already using PaddleDetection release/2.1 with PaddlePaddle 2.1.0.

Here's a more detailed step by step description of what I did. Is this the same procedure you used in your test? Or am I missing something?

1. Edit `configs/ppyolo/_base_/ppyolo_reader.yml` to modify `batch_size` of `TestReader` from 1 to 4
[code]

2. Export model
[code]

3.

[2021-06-29 11:34] Fitz-Fitz commented on #3509
嗯嗯根据官方文档是可以操作出来fairmot和jde，我想问的是针对deepsort，现在已有了检测的txt结果文件，如何构建结果txt文件和原图目录结构并修改对应的yml文件，期待您的回复

[2021-06-29 11:38] NikolaTeslein commented on #3537
看到之前已经解决了，不过还是要感谢一下~

[2021-06-29 11:43] NikolaTeslein commented on #3179
请问这是跑的什么模型哎

[2021-06-29 13:11] Fitz-Fitz opened #3540 "gen_labels_MOT.py不生成txt文件"
按照PrepareMOTDataSet_cn.md的用户数据准备中，构建目录结构，并按照要求有gt.txt文件，格式为：[frame_id],[identity],[bb_left],[bb_top],[width],[height],[x],[y],[z]，随后按操作切换目录，更换gen_labels_MOT.py文件中路径名称运行程序，不生产对应的labels_with_ids文件夹下的txt文件。
经验证，如使用MOT16原生数据集下的gt.txt文件，则可生成labels_with_ids文件夹下的txt文件，而原生数据集下的gt.txt文件内容如下：
1,1,912,484,97,109,0,7,1
2,1,912,484,97,109,0,7,1
3,1,912,484,97,109,0,7,1
4,1,912,484,97,109,0,7,1
5,1,912,484,97,1

[2021-06-30 00:54] xinsuinizhuan commented on #3519
那按照您的意思，BatchRandomResize: {target_size: 这个target_size就是训练时这里面的尺度都会进行训练，是吧？

[2021-06-30 00:54] #3522 closed, assigned to nobody

[2021-06-30 00:58] hrdwsong opened #3541 "paddledetection训练好faster RCNN后，使用命令行无法推理，使用pycharm run却可以"
您好！我使用paddledetection 2.1在自己的数据集上训练的faster RCNN，遇到以下问题：
1、训练完成后，在控制台中使用下面的命令运行预测函数，会报错。但将命令行参数写入到pycharm的RUN->edit configuration中，然后直接run，则运行OK；
[code]

2、将上述训练好的模型，导出后在另外的工程下调用。在win10 pycharm下运行良好，但将工程拷贝到linux环境中却会报错如下，报错信息中出现了windows路径。

[code]

3、上面两个问题只针对faster RCNN有报错，同样的流程对YOLOV3缺运行良好。

辛苦百度大佬看下，这可能是什么问题导致的？

[2021-06-30 01:09] hrdwsong commented on #3541
补充一下，faster RCNN训练也需要通过在pycharm中对RUN->edit configuration进行参数配置后执行训练。直接在命令行中敲入以下命令训练，还是会报错。
python tools/train.py -c configs/faster_rcnn/faster_rcnn_r50_vd_fpn_ssld_2x_kongtianbei_voc.yml -r output/faster_rcnn_r50_vd_fpn_ssld_2x_kongtianbei_voc/11

[2021-06-30 01:27] hrdwsong commented on #3541
问题2的完整报错LOG如下，这是在linux系统下的结果：

[code]

[2021-06-30 02:15] nemonameless commented on #3540
请确保您的数据集目录和格式都和MOT16保持一致。gt.txt的每一行就前6个数据是重点，[frame_id],[identity],[bb_left],[bb_top],[width],[height]

[2021-06-30 02:29] yghstill commented on #3534
@cslixin1997 可能是CUDA版本兼容性导致的问题，按照官网描述，Tesla V100是非安培架构的GPU，推荐使用CUDA10.2，性能更稳定些：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2021-06-30 02:31] zsffuture opened #3542 "Vehicle Detection c++版本使用fluid可以正常检测车辆，但是使用trt_fp16检测结果出现问题，使用trtint8无法使用，直接报错"
版本使用的paddledetection2.1版本，python调用Vehicle 检测模型可以正常使用，c++使用fluid，trt_fp32也可以正常使用，但是当使用trt_fp16时就出现问题了，问题如下：
1.返回的矩形框出现负值，
2.返回矩形框出现[0,0,0,0]值
3.图片显示结果为只有远处小目标可以检测到，近处的大目标无法检测
这是怎么回事？
![image](https://user-images.githubusercontent.com/39027951/123892867-f3de9980-d98d-11eb-99d9-929ac0ab5a25.png)
![image](https://user-images.githubusercontent.com/39027951/123893050-4324ca00-d98e-11eb-94bd-344d417b4c79

[2021-06-30 02:34] raymondchu-z commented on #3535
@yghstill  是在eval报错。

这两行已经加过了，这里和新添加的属性没关系。

[2021-06-30 02:38] #3296 closed, assigned to nobody

[2021-06-30 02:39] #3197 closed, assigned to nobody

[2021-06-30 02:42] yghstill commented on #2941
@dengxinlong https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/docs/MODEL_ZOO_cn.md#ssd
您图中的预训练权重是在coco上训好的

[2021-06-30 02:42] #2941 closed, assigned to nobody

[2021-06-30 02:43] #2865 closed, assigned to nobody

[2021-06-30 02:52] raymondchu-z commented on #3524
可以了。代码分享出来吧，虽然写的不咋地。
[code]

[2021-06-30 02:53] #3524 closed, assigned to nobody

[2021-06-30 03:52] sdnusqy-art commented on #1714
请问这个问题解决了吗？ 我也遇到了类似问题,C++部署gpu检测，用yolov3_mobilenet 训练的roadsign数据，单线程，初始化单个predictor,遍历检测多张不同图片，出现cuda error(700)错误；遍历检测同一张图片多次无错误。 paddle1.8.5无错误
PaddlePaddle:release/2.0
PaddleDetection: release/2.0
cuda：10.2
cudnn:7.6.5
os: centos7.8

[2021-06-30 03:56] sdnusqy-art opened #3545 "C++部署，GPU报错 Cuda error(700), an illegal memory access was encountered"
C++部署gpu检测报错，cpu正常。用yolov3_mobilenet_v1训练的roadsign数据，单线程，初始化单个predictor,遍历检测多张不同图片，出现cuda error(700)错误；遍历检测同一张图片多次无错误。
PaddlePaddle:release/2.0
PaddleDetection: release/2.0
cuda：10.2
cudnn:7.6.5
os: centos7.8

详细错误如下：
Error Message Summary:
----------------------
ExternalError:  Cuda error(700), an illegal memory access was encountered.
  [Advise: Please search for the error code(700) on website(

[2021-06-30 05:38] #3459 closed, assigned to zhiboniu

[2021-06-30 06:15] youyuan-zhang commented on #3539
不是的，我infer了一万多张图只有这一张是这样的，我猜应该是预处理的pipeline有一些大分别率的edge cases没有考虑到。

[2021-06-30 06:19] Mr-ind1fferent opened #3546 "pedstrain预测不了图片"
用了是官方给的命令，但是输出没有框，没有报错，没有修改yml

[2021-06-30 06:59] raymondchu-z opened #3548 "怎么修改yolov3_loss，使得其对某些类别更敏感？"
因为数据集中有类别不均衡的情况，想从loss入手，计算loss时给指定的类别乘上一个权重，使得这个类别的loss更大。
1. 现在想根据`yolov3_loss`这个函数里面，`pcls`和`tcls`的区别来针对某些类别计算。但是看不懂这两个张量的意义，希望能讲解一下。

2. 除了1还有别的更好改动loss的方法吗？
3.  应对类别不均衡还有别的方法吗？想过从data sampler入手，但是一张图里多类目标时是混在一起的，没有达到针对某类目标的目的。

[2021-06-30 07:00] liuhuiCNN commented on #3541
（1）问题1，release2.1中将pad_gt参数去掉了，您可以参考下release2.1的配置文件。
（2）请问使用的Paddle是release2.1.0吗？请使用Paddle release2.1试下。

[2021-06-30 07:06] liuhuiCNN commented on #3542
（1）应该是数据类型溢出，应该是个bug，我们尽快修复；
（2）检测为空时会返回classid=-1，rect=[0,0,0,0]的结果，这样表示检测为空；
（3）这根模型本身，以及具体训练时间有关。

[2021-06-30 07:16] liuhuiCNN commented on #3545
遍历检测多张不同图时，在每次预测结束后建议增加内存回收代码：
`// 释放中间Tensor
predictor->ClearIntermediateTensor();

// 释放内存池中的所有临时 Tensor
predictor->TryShrinkMemory();`
参考文档：https://paddle-inference.readthedocs.io/en/latest/api_reference/cxx_api_doc/Predictor.html

[2021-06-30 07:20] Fitz-Fitz commented on #3540
官方文档中说到：
gt.txt里是当前视频中所有图片的原始标注文件，每行都描述一个边界框，格式如下：[frame_id],[identity],[bb_left],[bb_top],[width],[height],[x],[y],[z]
注意:
·frame_id为当前图片帧序号
·identity是从0到num_identifies-1的整数(num_identifies是数据集中不同物体实例的总数)，如果此框没有identity标注，则为-1
·bb_left是目标框的左边界的x坐标
·bb_top是目标框的上边界的y坐标
·width，height是真实的像素宽高
·x,y,z是3D中用到的，在2D中默认为-1

自己生成的gt.txt截选如下：
1,-1,990.2231,795.45276,1050.9244,1014.5106,-1,-1,-1
1,-1,372.3353,6

[2021-06-30 07:23] Fitz-Fitz commented on #3540
我自己生成的gt.txt是无法生成labels_with_ids文件夹下的txt文件，但是MOT16-02就可以，但是MOT16-02下txt格式貌似和官网讲的有一点出入，没有理解的很清楚，还请小哥指点

[2021-06-30 07:28] liuhuiCNN commented on #3548
（1）https://github.com/PaddlePaddle/PaddleDetection/blob/12a38c7f2749534ba79f710c485c47ed179a97d3/ppdet/modeling/losses/yolo_loss.py#L120
这里p的维度是[bs, 3, h, w, c]，此时c的顺序是 x, y, w, h, pred_score, pred_cls。您可以将pcls乘以一个您需要的权重比例。
（2）（3）您可以试试在图中嵌入增加一些物体试试，或者生成一些样本，使数据分布均衡一些。

[2021-06-30 07:30] zsffuture commented on #3542
用的是你们训练好的车辆检测模型即vehicle_yolov3_darknet.pdparams，然后直接进行转换使用c++调用，我并没有训练，只是使用c++调用而已。
其中返回为空的置信度是有值得，不是-1，说明是有检测目标的，意味着这个是不是bug？

[2021-06-30 07:33] liuhuiCNN commented on #3546
请问您使用的paddle版本是2.1.0吗？我测试使用paddle==2.1.0是正常的：
![004](https://user-images.githubusercontent.com/25636152/123920303-649aab80-d9b8-11eb-8c3a-952a954df3d8.png)

[2021-06-30 07:37] liuhuiCNN commented on #3542
在预测为空时，我们会构造一个classid=-1的结果，用以表示检测为空的情况。
此外，int8需要使用paddleslim量化后的模型，或者使用tensorrt_int8量化校准的方式。我们会完善检测库的文档，paddle也有提供预测文档，您可以参考： https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html?highlight=int8#int8

[2021-06-30 07:44] hrdwsong commented on #3541
我的paddlepaddle和paddledetection都用的是2.1版本的。如果按您说的pad _gt参数去掉了，这个报错就很奇怪

[2021-06-30 07:44] raymondchu-z commented on #3548
@liuhuiCNN 感谢回复。
请问`tobj, tcls = t[:, :, :, :, 5:6], t[:, :, :, :, 6:]`中，tcls的顺序和pcls一样，都是num_classes个值吗？
我打印`print(tcls[0,0,0,0,:])`后，发现全是0.
如果希望当gt的类别是某几个类时，（比如预测7个类，类别1234需要关注），将这个预测框的loss乘上权重，应该再哪里改动？
对矩阵操作不太熟，可以的话请详细些， 谢谢！

[2021-06-30 07:56] sdnusqy-art commented on #3545
释放Tensor之后同样出现cuda error（700）错误， Traceback有变化：
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::memory::detail::BuddyAllocator::Release()
1   paddle::memory::detail::GPUAllocator::Free(void*, unsigned long, unsigned long)
2   paddle::platform::RecordedCudaFree(void*, unsigned long, int)
3   paddle::platform::EnforceNot

[2021-06-30 08:02] Dejavusd opened #3549 "develop分支下fairmot预测视频问题"
预测视频时不会完全运行完。比方说就是我用一个300frame的视频，代码会保存预测结果的每一帧图片，但只保存到299张就没了，并且也没有预测好的视频文件生成（跑到第299张的时候又自己退了）
![2](https://user-images.githubusercontent.com/80375767/123924311-6d8d7c00-d9bc-11eb-852c-8750d7d862cb.png)
imshow也是一直显示未响应
![3](https://user-images.githubusercontent.com/80375767/123924352-78481100-d9bc-11eb-9b00-748437248392.png)
Windows10环境
cuda是10.1 cudnn是v7.6.5.32 python是3.8 paddle是gpu版2.1.0.post10

[2021-06-30 08:03] Dejavusd commented on #3549
这个问题很着急QAQ

[2021-06-30 08:07] liuhuiCNN commented on #3549
收到，我们尽快查下问题

[2021-06-30 08:17] nemonameless commented on #3549
opencv版本是？

[2021-06-30 08:18] Dejavusd commented on #3549
![4](https://user-images.githubusercontent.com/80375767/123926775-ceb64f00-d9be-11eb-8643-c5fe3b961c8d.png)

[2021-06-30 08:24] nemonameless commented on #3540
您生成的gt.txt，第2列都是-1吗，那这个数据集只能做检测没法做跟踪。MOT16-02的gt.txt同一个物体的不同帧的标注放在一起，你的是同一帧的所有物体标注放在一起了。方便的话截图看看你的数据集的目录结构和文件命名，也可以对比着MOT16打印debug gen_labels_MOT.py看哪里有差异。
gt.txt文件每行意义这里解释有误，后3个应该是 mask, label, visibility ratio，表示目标轨迹是否进入考虑范围内的标志(0 忽略，1 active)，该轨迹对应的目标种类(7是static person类，自定义数据集默认类别应该是1)，目标运动时被其他目标box包含/覆盖的可见率。自定义数据集默认后3项应该是1，1，1

[2021-06-30 09:03] Dejavusd commented on #3549
我最想解决的就是它会运行到倒数第二帧然后自己断了，不会保存预测结果的视频，我需要的就是预测结果视频

[2021-06-30 09:19] AN-ZE commented on #3545
python版批量预测也是同样问题，2.0，2.1都是。2.0_rc和之前版本是没有问题的。

[2021-06-30 10:00] ximitiejiang commented on #3489
update:
同样代码，更换为固定输入尺寸的yolov3部署模型，可以连接trt做加速。现在的问题就是动态输入尺寸的模型(fasterrcnn)还是跑不通

[2021-06-30 10:04] raymondchu-z opened #3551 "ciou怎么用？"
模型是PPYOLOv2，
配置如下：

  loss_weight: 2.5
  loss_square: true
  ciou_term: true

报错如下：

[2021-06-30 10:12] zsffuture commented on #3542
大神，按照您给的链接，发现没有可以量化yolov3_darkNet的方法啊？你们有尝试吗

[2021-06-30 10:39] ximitiejiang opened #3552 "使用YOLOV3模型如何通过yml文件修改输入图片尺寸"
你好，现在yolov3输入图片尺寸通常是608/416或者更小，为了让yolov3能够检测更小的目标，我希望输入1k的图片作为训练图片，比如1280x1280，通常情况我是不是通过修改yml文件就可以实现这个需求？
比如下面这种修改是否可行：
[code]

初次尝试发现报错
[code]
关于这种需求，有什么建议吗？

[2021-06-30 10:40] nemonameless commented on #3549
无法复现你的问题。ffmpeg安装了吗？把视频裁小一点，100帧左右的小视频也是同样报错？

[2021-06-30 11:10] Mr-ind1fferent commented on #3546
对的

[2021-06-30 13:22] Enyu-Liu opened #3553 "ppyolov2部署时报错，视频读写错误"
Traceback (most recent call last):
  File "G:/竞赛/rc/桶/last/gpu_infence.py", line 110, in <module>
    predictor = predict_config(model_file, params_file)
  File "G:/竞赛/rc/桶/last/gpu_infence.py", line 54, in predict_config
    predictor = create_predictor(config)
ValueError: (InvalidArgument) Cannot parse tensor desc
  [Hint: Expected desc.ParseFromArray(buf.get(), size) == true, but received desc.

[2021-06-30 13:23] Enyu-Liu commented on #3553
您好，我是在aistudio上训练的模型，把模型文件下载后就没办法部署了，请问这是什么问题？

[2021-06-30 13:47] EdwardVincentMa opened #3554 "如何任意将一个节点当模型输出节点？"
如何任意将一个节点当模型输出节点？
您好，我将 ppyolo_tiny 转 mnn，发现 BBox 输出结果错误，想将模型的某些节点作为输出节点检查错误点的位置。想随笔输出一个节点。

[2021-06-30 14:11] liuhuiCNN commented on #3551
在动态图中，IouLoss参数名改为 ciou，请参考
https://github.com/PaddlePaddle/PaddleDetection/blob/5e19955b011d47377a3f1443a6e592ddd9e5024a/ppdet/modeling/losses/iou_loss.py#L47

[2021-06-30 14:14] wzwb opened #3555 "训练时--eval报错"
我希望在每一轮训练完进行验证，python tools/train.py --eval但是会出现报错如图。当我用python tools/eval.py进行测试时可以正常出结果。请问这是哪里的问题？
![image](https://user-images.githubusercontent.com/63113083/123976244-94fe3c00-d9f0-11eb-8d3e-550b852ae4f1.png)

[2021-06-30 14:24] liuhuiCNN commented on #3553
您好，请问是用 deploy 文件夹下代码进行部署吗？
使用 deploy 文件夹下代码进行部署需要先导出模型，直接下载的模型不能直接这样部署。
模型导出可以参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_MODEL.md

[2021-06-30 14:27] liuhuiCNN commented on #3554
可以在网络前向Forward中，在需要返回的地方return结果。这样构造的网络就是您需要的子网络了。然后再讲改子网络转成其他格式。

[2021-06-30 14:53] Enyu-Liu commented on #3553
您好，我又重新使用deploy文件夹下的infer.py文件进行了部署，但是我发现只能预测图片，视频和打开摄像头都不可以，请问这是什么问题？

[2021-06-30 14:55] Enyu-Liu commented on #3553
IndexError: tuple index out of range 打开设想头时的报错，
用视频预测的时候，没有报错，但预测结果的视频内存为0B,无法打开

[2021-06-30 15:02] Dejavusd opened #3556 "DLL"
用PyInstaller打包时，其中出现
WARNING: lib not found: mkldnn.dll dependency of d:\anaconda\ana\envs\paddle-10.1\lib\site-packages\paddle\fluid\core_avx.pyd
不知道有没有和paddle关系

[2021-06-30 15:33] liuhuiCNN commented on #3556
看起来是打包失败，看看是不是路径配置错误导致的。可以参考issue #3298。或者到Paddle repo提issue问下。

[2021-06-30 15:34] liuhuiCNN commented on #3555
根据日志，是检测结果为空而报错，在训练初期由于网络还未收敛，有可能预测结果是空。等训练完成后，在进行评估是正常的。请问您两次使用是同一个模型权重吗？

[2021-06-30 15:37] liuhuiCNN commented on #3541
去掉后还报错吗？

[2021-06-30 15:38] liuhuiCNN commented on #3542
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/slim

[2021-06-30 15:43] liuhuiCNN commented on #3545
cuda版本与paddle的版本匹配吗？

[2021-06-30 15:46] liuhuiCNN commented on #3546
请检查一下paddle版本，cuda版本是否匹配。paddle按照正常的话，是没有问题的。

[2021-06-30 15:51] liuhuiCNN commented on #3548
类别对应关系是一样的，都是（num_classes+1）个值，需要一个北京类。如果是7个类，loss乘上权重[1.2, 1.2, 1.2, 1.2, 1.0, 1.0, 1.0]就能增加前4类的重要性了。

[2021-06-30 15:58] liuhuiCNN commented on #3553
paddle 2.1.0 + ppdet 2.1.0 ppylov2 python视频预测我们测试是正常的。请您检测一下本地环境是否正确，尤其是检测ffmpeg安装是否正确。建议本地先写一个简单的视频读写单测测试一下看看。

[2021-06-30 20:54] Mandroide commented on #3394
Thank you for your help. I solved the "No module name 'ppdet.utils.eval_utils". It was only that the [PYTHONPATH](https://docs.python.org/3.7/using/cmdline.html#envvar-PYTHONPATH) environment wasn't correctly set. In Google Colab I had to do:
[code]

[2021-06-30 20:54] #3394 closed, assigned to nobody

[2021-06-30 22:01] Enyu-Liu commented on #3553
您好，我在aistudio上测试了一下，同样有报错IndexError: tuple index out of range，请问这是什么问题？

[2021-07-01 01:10] #3520 closed, assigned to nobody

[2021-07-01 01:11] raymondchu-z commented on #3535
@yghstill 您好，是否有进一步的解决方法？

[2021-07-01 01:11] raymondchu-z commented on #3551
好的谢谢。

[2021-07-01 01:11] #3551 closed, assigned to nobody

[2021-07-01 01:30] raymondchu-z commented on #3548
@liuhuiCNN 感谢回复。
1. 设置了`with_background: false`也会有背景类吗？

2. > 如果是7个类，loss乘上权重[1.2, 1.2, 1.2, 1.2, 1.0, 1.0, 1.0]就能增加前4类的重要性了。

    这里相乘的话是只影响`loss_cls`吗？
3. 如果希望不计算某个类（如ignore）的总损失（包括loss_cls，loss_iou_aware，loss_obj等等所有计算的损失）， 应该怎么根据`tcls`来判断？根据`labels_map`里类别的相对顺序找到t的对应位置，还是能根据`labels_map`里`'ignore': -1,`找到这个`-1`的值？

问题有点多，谢谢！

[2021-07-01 01:33] hrdwsong commented on #3541
手动删掉faster_fpn_reader.py中的pad_gt: true后，不报错了。这就引出个问题，之前为啥在pycharm中直接run没问题，命令行却有问题。这两个应该没有差异呀。

另外，关于问题2，目前尚未有解决思路。

[2021-07-01 01:34] sdnusqy-art commented on #3545
python版我测试2.0是没问题的

[2021-07-01 01:36] sdnusqy-art commented on #3545
目前C++版本的问题有人在跟踪吗？不行的话我只能用1.8版本了。 请教以下，1.8版本与2.0版本的gpu性能差别大吗？1.8版本的是不是不支持INT8量化？

[2021-07-01 01:56] qingqing01 commented on #3554
拿YOLO (含PP YOLO)来说，下面返回的是nms后的结果，您可以更改下面返回的内容:

https://github.com/PaddlePaddle/PaddleDetection/blob/8c6f05f5ea2933dad79e03855939514613949336/ppdet/modeling/architectures/yolo.py#L96

[2021-07-01 02:08] wzwb commented on #3555
您好，感谢您的回复，我这两个不使用的同一个模型权重，在训练的时候加上--eval是在第一个epoch训练完然后进行eval时出现报错，然后我把--eval去掉，在训练完12个epoch之后，使用最后一轮的模型权重进行python tools/eval.py进行验证可以正常出结果。我把报错的bbox.json进行输出，里面并不是空的。
![image](https://user-images.githubusercontent.com/63113083/124054255-39659a00-da54-11eb-82da-22ef71709679.png)

[2021-07-01 02:16] liuhuiCNN commented on #3555
我的意思是，--eval的时候，第一轮评估时，由于网络还没收敛，预测结果为空。

[2021-07-01 02:22] liuhuiCNN commented on #3541
请确认两个环境下代码是否完全一样？以及paddle版本 ppdet版本是否完全一致？按照正常情况，不应该出现这种情况的。

[2021-07-01 02:23] liuhuiCNN commented on #3553
请确认aistudio上ffmpeg环境是否正常，建议本地测试一下看看。

[2021-07-01 02:23] wzwb commented on #3555
您好，我这个截图就是第一轮训练后预测的结果。

[2021-07-01 02:24] liuhuiCNN commented on #3552
你好，配置文件看起来没问题的。（1）首先先用原来的配置文件，看是否能够正常训练；（2）然后再改配置文件，开始可以将尺寸改小点试试。

[2021-07-01 02:25] liuhuiCNN commented on #3548
那不如将预测类别减去1，去掉这个类。

[2021-07-01 02:30] Enyu-Liu commented on #3553
您好，请问ffmpeg需要怎么测试，我在本地读写了一下视频，是正常的

[2021-07-01 02:37] raymondchu-z commented on #3548
这样做的目的是，通过对部分图片的重采样解决类别不均衡问题，而且重采样过程不再引入不关注的类别。重采样时将不需要再关注的类别设为ignore，不计算他们的loss。

[2021-07-01 02:40] hrdwsong commented on #3541
两个环境的代码确认完全一样的。paddle版本不一样，windows使用的是paddlepaddle-gpu==2.1.0.post112，linux由于CUDA版本是10.1，所以安装的是paddlepaddle-gpu==2.1.0.post101。我把同样的工程放到aistudio上运行，也会报相同的错，我理解应该是工程代码问题。
下面这几行尤其不能理解：在调用faster RCNN模型的预测函数时，会出现运行时错误，指示调用了tools/export_model.py文件，执行推理过程为何调用这个文件？以及为何这个文件会响应的调用windows路径库文件？

[code]

[2021-07-01 03:15] wwwPADDLE commented on #3555
请问只能训练迭代一轮 就跳出是什么问题呢？ （试了环境用anaconda和python原声环境 都会出现这个问题）
![5736363ebd0ad6386099f9399fb408d](https://user-images.githubusercontent.com/57277333/124059328-7e41fe80-da5d-11eb-823c-c59e95ed1302.png)

[2021-07-01 03:17] wwwPADDLE opened #3558 "只能训练迭代一轮 就跳出 无法生成权重文件 进行下一轮迭代"
请问只能训练迭代一轮 就跳出是什么问题呢？ （试了环境用anaconda和python原声环境 都会出现这个问题）
![5736363ebd0ad6386099f9399fb408d](https://user-images.githubusercontent.com/57277333/124059587-e7297680-da5d-11eb-98d0-a1e655ef1b56.png)

[2021-07-01 03:20] wwwPADDLE commented on #3476
请问您解决这个问题了吗 我也是只能训练迭代一轮 就跳出是什么问题呢？ （试了环境用anaconda和python原声环境 都会出现这个问题）
![5736363ebd0ad6386099f9399fb408d](https://user-images.githubusercontent.com/57277333/124059849-5dc67400-da5e-11eb-9db8-e4a5ecbc7738.png)

[2021-07-01 03:25] fly2008begin opened #3559 "Fairmot切换custom_data跟踪其他目标"
您好 我想利用fairmot 训练跟踪车辆数据，现在我遇到了三个问题
（一）我现在整理好的目录是【custom_data/images/train/seq1/img1/xxx_01.jpg 】、【custom_data/labels_with_ids/train/seq1/xxx_01.txt 】和【custom_data.train】 三类 ，是不是有了labels_with_ids就不用管gt.txt和seqinfo.ini 了 ，原来的Caltech 应该就不往image_lists 放了吧？
（二）我还需要更改什么文件比如configs/datasets/mot.yml 或者configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml 什么的
（三）因为我只有一块GPU，所以我迁移fairmot_dla34_30e_1088x608.pdpa

[2021-07-01 04:45] hrdwsong commented on #3541
我分析是self.predictor.run()函数调用了我在windows下的库，所以在windows下能够顺利执行，而linux下会报运行时错误，但单步调试无法跟踪到该函数的子操作。

[2021-07-01 04:50] nemonameless commented on #3526
#3549

[2021-07-01 05:31] wzwb commented on #3555
应该是2.0-rc本身代码的问题，在--eval和eval.py的时候少了一步更改self.mode的步骤。当进入trainer.py中的train方法之后，如果是--eval此时validate=True。下面需要用到self._metrics,这个self._metrics是在初始化Trainer类的时候进行初始化的，因为现在是训练过程，所以初始化的时候self.mode='train'，self.dataset是训练集的dataset,所以在_init_metrics方法中，COCOMetric(
                    anno_file=self.dataset.get_anno(),
                    bias=bias）的时候获取的就是训练集的标注数据。应该在train中多加一步操作：
![image](https://user-imag

[2021-07-01 06:12] nemonameless commented on #3559
（一）gt.txt和seqinfo.ini 在eval和infer时有用，建议还是制作下。训自定义数据集，原来的Caltech等都可以不放的。
（二）configs/datasets/mot.yml 里需要改：
[code]
（三）只有一块GPU，fairmot_dla34_30e_1088x608.pdparams 进行迁移学习也可以，batch size不变时学习率需要调整为默认8卡的lr的1/8，epoch数尽可能多吧按理说应8倍，如果数据集相近finetune也可以不用这么多epoch，batch size在`configs/mot/fairmot/_base_/fairmot_reader_1088x608.yml`的TrainReader最后

[2021-07-01 06:35] hrdwsong commented on #3541
我的paddledetection是2.0版本的，按github上的命令拉取的版本，默认拉取的是2.0不是2.1。这个问题请修正。
现在准备更新2.1后，重新在windows上训练，看是否出现问题（2）

[2021-07-01 06:44] robisly commented on #3476
同样遇到这个问题，也同样试了环境用anaconda和python原生环境  都没有解决这个问题

[2021-07-01 06:48] 670133189 opened #3560 "关于特色垂类检查模型的行人与汽车的训练数据集"
官网：[https://paddledetection.readthedocs.io/featured_model/CONTRIB_cn.html#pedestrian-detection](url)

请问能开源特色垂类检查模型的行人与汽车的训练数据集吗？还有两者的训练图片数量大概是多少？

[2021-07-01 07:11] lizhenhanabc commented on #3476
我的问题还没解决，我试了用pycharm创建的python环境，也是不行。

[2021-07-01 07:12] lizhenhanabc commented on #3476
@wangxinxin08 有定位到吗？确实很多人都遇到。。。

[2021-07-01 07:13] lizhenhanabc commented on #3558
我也遇到了，还没解决

[2021-07-01 07:21] ZiQiangXie opened #3561 "模型库中未找到Readme中介绍的模型CBResNet"
Cascade-Faster-RCNN-CBResNet200vd-FPN，这个模型在模型库和配置文件中均未找到，readme中介绍说是模型库中都有。
另外backbone里面没有看到cbresnet的网络文件，想问一下，有没有支持？

[2021-07-01 07:41] chenxuezhao opened #3562 "训练ppyolo_tiny模型时报错"
执行如下命令时报错：`python3 -m paddle.distributed.launch --log_dir=./ppyolo_dygraph/  tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml --use_gpu=False`

Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  def convert_to_list(value, n, name, dtype=np.int):
-----------  Configuration Arguments -----------
gpus: None
heter_worke

[2021-07-01 07:46] nemonameless commented on #3561
#3450
在static目录下，是以前的静态图模型
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/MODEL_ZOO_cn.md
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/dcn/cascade_rcnn_cbr200_vd_fpn_dcnv2_nonlocal_softnms.yml
暂时只有静态图版本。后期动态图应该也会支持。

[2021-07-01 07:54] fly2008begin commented on #3559
大概loss降到多少后我停止epoch呢

[2021-07-01 08:01] gujingxiao commented on #3507
I got the same error after I exported FCOS model and run deploy infer. Batch size 1 is okay but 2,4,8 and other number got error.

[2021-07-01 08:22] gujingxiao commented on #3507
@wangxinxin08  I use AIstudio environment(Python3.7 & V100) and git clone PaddleDetection2.1. Model is FCOS. When I do deploy infer with bs=8, the error is as below. However, bs=1 is okay.

      return true_fn(*true_args) if pred else false_fn(*false_args)
    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/ppdet/modeling/architectures/fcos.py", line 74, in _forward

[2021-07-01 08:23] shenjun1994 commented on #3558
遇到同样问题，好几个月前就遇到了，今天又重新安装环境试试，还是一样在第一轮最后一个batchsize就自动退出了。

[2021-07-01 08:29] wangxinxin08 commented on #3507
@ichbing1 It is confirmed that deplolying exported ppyolo model is not well supported, which will be resolved in the future!

[2021-07-01 08:32] wangxinxin08 commented on #3507
@gujingxiao Thanks for your feedback! Deploying FCOS with `batch_size=2` will be supported in the future!

[2021-07-01 09:01] DongLZY commented on #3100
你好，我用的PPyolov2训练出现了同样情况，我看显存应该是够的呀！batchsize改成1了都不行

[2021-07-01 09:02] jerrywgz commented on #3100
export FLAGS_allocator_strategy=auto_growth
尝试下这个FLAG呢

[2021-07-01 09:08] jerrywgz commented on #3558
目前我们正在解决这个问题，从复现情况来看，会在某些windows环境下出现这个问题，我们本地的环境还都没有复现这个问题，想请问下能否提供下远程协助的环境呢，我们可以登录看下具体情况。

对现在出现的问题很抱歉，我们尽快解决～

[2021-07-01 09:21] DongLZY opened #3563 "gpu0在占用，能不能指定其他gpu训练？"

[2021-07-01 09:32] wangxinxin08 commented on #3560
你好，训练数据集不公开

[2021-07-01 09:33] wangxinxin08 commented on #3562
单卡训练或者不使用GPU训练直接运行`python3 tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml --use_gpu=False`

[2021-07-01 09:35] wangxinxin08 commented on #3563
可以使用`CUDA_VISIBLE_DEVICES=1 python tools/train.py -c config_file`来指定使用第一张卡进行训练

[2021-07-01 09:46] chenxuezhao commented on #3562
ok,谢谢

[2021-07-01 09:48] chenxuezhao commented on #3562
你好，训练的时候有个警告：
`WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data). `
请问这会对训练结果造成影响吗？

[2021-07-01 09:54] raymondchu-z opened #3564 "paddle2.1.0安装问题"
系统为centos7，
conda虚拟环境中，pip list中 有paddlepaddle-gpu    2.1.0.post101，但是
[code]

[2021-07-01 09:59] #3564 closed, assigned to nobody

[2021-07-01 10:41] wangxinxin08 commented on #3562
没有影响

[2021-07-01 10:51] #3562 closed, assigned to nobody

[2021-07-01 13:53] nemonameless commented on #3559
loss不再下降变得稳定为止吧，没有数值上的标准，由于loss计算公式最后甚至可能为负，可以测测看可视化效果。

[2021-07-01 23:58] ichbing1 commented on #3507
@wangxinxin08 Thanks for the confirmation! I hope it gets fixed soon. :)

[2021-07-02 02:36] ichbing1 opened #3566 "is it possible to perform QAT on pruned models?"
Hi,

I trained a pruned model with `python tools/train.py --slim_config configs/slim/prune/ppyolo_r50vd_prune_fpgm.yml` using a custom dataset.

For further acceleration, I applied `int8` post-training quantization with 500 calibration images, but the detection accuracy got considerably worse than `fp16` (about 4-5 mAP points lower).

To minimize the drop in accuracy, I would like to perform quant

[2021-07-02 03:35] Yikunzhang opened #3567 "ppyolov2部署后推理报错cuda error(77)"
用自己的训练数据训练了ppyolov2模型，然后导出模型后用deploy/python/infer.py进行推理，在少量数据集上测试没有问题，但对3万张数据集进行预测时会在中途报错。
报错信息如下：
save result to: /home/zyk/aaa/000031-2021-06-25_18-19-23-255.jpg
Traceback (most recent call last):
  File "deploy/python/infer.py", line 582, in <module>
    main()
  File "deploy/python/infer.py", line 506, in main
    predict_image(detector)
  File "deploy/python/infer.py", line 424, in predict_i

[2021-07-02 04:40] #3478 closed, assigned to nobody

[2021-07-02 04:42] #3413 closed, assigned to nobody

[2021-07-02 04:45] #3290 closed, assigned to nobody

[2021-07-02 04:45] #3263 closed, assigned to nobody

[2021-07-02 04:47] #3203 closed, assigned to nobody

[2021-07-02 05:36] lyuwenyu commented on #3567
- 什么版本的paddle 和 ppdet

[2021-07-02 05:44] liuhuiCNN commented on #3567
每次预测结束后建议增加内存回收代码：
`// 释放中间Tensor
predictor->ClearIntermediateTensor();

// 释放内存池中的所有临时 Tensor
predictor->TryShrinkMemory();`
参考文档：https://paddle-inference.readthedocs.io/en/latest/api_reference/cxx_api_doc/Predictor.html

[2021-07-02 05:48] yghstill commented on #3566
@ichbing1 Thanks for your feedback, now there is only a combined strategy of distillation and pruning in PaddleDetection, and we will support the combined strategy of pruning and quantification in the future. You can modify the code about slim to increase the mode of `PruneQAT`:
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/slim/__init__.py#L50

[2021-07-02 06:24] XiongZhongxia opened #3569 "Data parallel and memory sharing"
Hi there. During training, I found memory cost often increases which may break the training procedure. In addition, I only have a PC of 4×12GB GPUs, I cannot train large models such as Res101 even using batch_size=1. So can I use these 4 GPUs to share just 1 image when training? In other words, I assume using batch_size=1 on 4 GPUs leads to totall batch_size=4, but can I training on these GPUs usi

[2021-07-02 06:57] EdwardVincentMa commented on #3554
![image](https://user-images.githubusercontent.com/39480728/124233646-a0af4700-db45-11eb-8b38-0eb5020b725d.png)，yolo_box 中有很多节点，但是这些节点貌似被paddlepaddle 封装了，我是想看其中任意一个小节点。不是 yolo_box 返回的节点

[2021-07-02 07:08] liuhuiCNN commented on #3567
你好，方便提供一个可以复现的环境和代码吗？方便我们调试。

[2021-07-02 07:35] lyuwenyu commented on #3569
`四张卡共享一张图片，总的batch_size=1` torch怎么操作的?

我觉得你应该 把graph的不同部分 放到不同的卡上做计算

[2021-07-02 07:57] EdwardVincentMa commented on #3554
![image](https://user-images.githubusercontent.com/39480728/124233646-a0af4700-db45-11eb-8b38-0eb5020b725d.png)，yolo_box 中有很多节点，但是这些节点貌似被paddlepaddle 封装了，我是想看其中任意一个小节点。不是 yolo_box 返回的节点

[2021-07-02 08:05] EdwardVincentMa commented on #3554
因为 yolo_box 是 paddlepaddle封装的库吧，想返回 yolo_box 中的某一个小节点，可以做到吗？

[2021-07-02 08:11] 642721838 commented on #3085
老师您好，请问paddleseg里面训练好的模型导出来之后，用Python预测，提示安装opencv依赖库，但是没有windows系统下的安装命令，请问是不支持该系统吗，另外，我模型训练用的尺寸为256*256，请问我在预测的时候可不可以512*512。谢谢？祝好！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"

[2021-07-02 08:19] hrdwsong commented on #3541
重新训练后仍然出现问题，问题似乎是使用export.py导出模型后，inference阶段执行predictor.run()时出的问题。问题只发生在linux上（aistudio和我的linux虚拟机都复现）。目前实在没有思路了，看上去像是paddledetection的bug，因为yolo_v3没有问题，其他yam文件配置除了训练数据外，其他都没有变过。

[2021-07-02 08:37] liuhuiCNN commented on #3541
建议用最新的paddle==2.1.0 + 最新的 ppdet develop

[2021-07-02 08:39] liuhuiCNN commented on #3553
如果本地测试正常的话，说明代码是OK的。可能是云服务器环境问题，不支持视频读写。建议您在云服务器训练模型，本地预测。

[2021-07-02 08:40] liuhuiCNN commented on #3555
文件内容是否是空的呢？

[2021-07-02 08:44] wzwb commented on #3555
您好，我之前跟您的回复截图就是bbox.json内容，您可以看一下。并不是空的

[2021-07-02 08:47] qingqing01 commented on #3554
yolo_box是个完整的算子，无法返回中间的某个小节点，只能返回yolo_box之前的节点。

[2021-07-02 09:06] jerrywgz commented on #3519
嗯嗯是的

[2021-07-02 09:06] #3521 closed, assigned to nobody

[2021-07-02 09:08] Yikunzhang commented on #3567
@lyuwenyu 不好意思忘说了
环境是
paddledet           2.0.1
paddlepaddle-gpu    2.0.2.

[2021-07-02 09:09] nemonameless commented on #3496
是否还有问题？如果有问题可以继续跟进，没问题可以关了issue？

[2021-07-02 09:16] Yikunzhang commented on #3567
@liuhuiCNN 环境就是paddle2.0.2环境，用的是/deploy/python/infer.py，做了一点修改其实就是加了for循环，用于推理整个文件夹内的图片。代码可能不是很方便，我先尝试一下在每次预测完单张图片后回收内存，非常感谢！

[2021-07-02 09:19] Yikunzhang commented on #3567
@liuhuiCNN
可能是由于infer.py内
input_tensor.copy_from_cpu(inputs[input_names[i]])
中的copy_from_cpu函数出现的问题

[2021-07-02 09:28] qingqing01 commented on #3508
@FallBlackMagic  您如果是一些参数能加载的也想忽略，可以把模型里的参数名字打印看下，依据名字指定就行。

[2021-07-02 09:37] qingqing01 commented on #3512
@lazyn1997  您先用静态图吧。你想用动态图来做啥？

[2021-07-02 09:38] jerrywgz commented on #3513
可以尝试升级下numpy版本

[2021-07-02 09:39] heavengate commented on #3514
是的

[2021-07-02 09:40] nemonameless commented on #3509
请先确保结果txt文件的每行格式是`[frame_id],[bb_left],[bb_top],[width],[height],[conf]`，txt文件夹放哪里都可以，只要你运行的时候`python tools/eval_mot.py -c configs/mot/deepsort/deepsort_pcb_pyramid_r101.yml --det_results_dir` --det_results_dir指定你放的路径即可。

修改对应的yml文件建议修改`configs/mot/deepsort/deepsort_yolov3_pcb_pyramid_r101.yml`或`configs/mot/deepsort/deepsort_pcb_pyramid_r101.yml`的
[code]
主要是改task和data_root

请先参考文档 https://github.c

[2021-07-02 09:41] heavengate commented on #3514
https://github.com/PaddlePaddle/PaddleDetection/blob/b97fc1d9e3fb831ad9cf2a41ca849e8d41fa1ecf/ppdet/data/transform/operators.py#L127
读图的时候直接做了

[2021-07-02 09:51] yghstill commented on #3534
@cslixin1997 可以试下加上显存优化FLAG还有问题没：
[code]

[2021-07-02 09:56] #3537 closed, assigned to nobody

[2021-07-02 10:08] liuhuiCNN commented on #3545
你好，之前有类似bug，paddle==2.1.1已经修复，请您试下。

[2021-07-02 10:17] ichbing1 commented on #3566
Oh, I had originally thought of modifying the code before giving up, but looking at the code again, it does seem possible to modify it to make it work, by first calling `cfg.pruner` on the model, loading weights, and then setting `cfg.slim = 'QAT'` to slim the model. I also built a config file by combining pruning and QAT, and now the training works well. Thanks a lot for your help!

[2021-07-02 10:55] yghstill commented on #3535
@raymondchu-z 加上
[code]
后在Gt2YoloTarget中打印下sample里这两个字段是否真的还存在

[2021-07-02 11:01] lazyn1997 commented on #3512
用作 paddleclas 的目标检测器，目前他只支持动态图的目标检测器。如下图所示。
![image](https://user-images.githubusercontent.com/34644177/124265011-c51c1b00-db67-11eb-84d7-a522747bfbe2.png)
还有我如果用这个模型只为了检测 fish 这一个类，应该怎么操作呢，是进行模型裁剪吗？

[2021-07-02 11:12] XiongZhongxia commented on #3569
你说的对，torch里也是把不同部分放在不同的GPU上。看来得自己改了啊。。。

[2021-07-02 12:05] wenjie-yuan opened #3574 "迁移学习finetune，冻结网络层（按理停止计算梯度）为什么训练速度不增加？"
我试着冻结网络前面层的参数更新，采用的方法是在tools/train.py里将参数的stop_gradient的值设置为True：
![image](https://user-images.githubusercontent.com/67451272/124270665-18459c00-db6f-11eb-991c-5b3f6dfaf314.png)
对于参数的冻结是实现了：
![image](https://user-images.githubusercontent.com/67451272/124271746-6b6c1e80-db70-11eb-851a-5c8fff8c8d9a.png)
loss是很快就趋于平稳，但是速度上，并没有提升，是因为梯度还是求导了吗，还是因为抑制求导对训练速度的提升没有那么明显（只是节省内存）？

[2021-07-02 12:39] JunLei01 opened #3575 "windows端运行模型"
在AI studio上训练好的模型放到Windows本地端效果就很差，模型是修改过的，但是在AIstudio上运行效果不错，一旦在本地端运行效果就很差，而且差距很明显。

[2021-07-02 13:24] LiangYong1216 opened #3576 "ValueError: Dataset dataset/Gun_detection is not valid and cannot parse dataset type 'Gun_detection' for automaticly downloading, which only supports 'voc ' , 'coco', 'wider_face', 'fruit', 'roadsign_voc' and 'mot' currently"
当我训练我数据集的时候出现了问题，
![image](https://user-images.githubusercontent.com/66230782/124280928-cfe0ab00-db7b-11eb-8ae8-2c4b89b2cc23.png)
我知道配置除了问题，可是不论怎么修改都不对

我的环境：win10  paddledetection2.1

[2021-07-03 01:31] huilin16 commented on #3271
请问有人可以解答下吗

[2021-07-03 04:35] Wei-JL opened #3577 "脚本任务运行先导杯使用2.1版本detection Finish loading model weights后不运行，直接显示失败 ，前面也没报错"
[07/03 04:22:51] ppdet.data.source.coco WARNING: Found an invalid bbox in annotations: im_id: 5213, area: 0.0 x1: 387.0, y1: 113.0, x2: 391.0, y2: 113.0.
[07/03 04:22:51] ppdet.data.source.coco WARNING: Found an invalid bbox in annotations: im_id: 5810, area: 0.0 x1: 552.0, y1: 54.0, x2: 553.0, y2: 54.0.
[07/03 04:22:52] ppdet.data.source.coco WARNING: Found an invalid bbox in annotations: im_id:

[2021-07-03 06:25] #3507 closed, assigned to wangxinxin08

[2021-07-03 06:25] #3566 closed, assigned to nobody

[2021-07-03 06:39] nemonameless commented on #3575
PaddlePaddle 和 PaddleDetection 版本是否两边一致呢？改动代码后最好pip setup.py install 更新一下

[2021-07-03 06:48] learningpro commented on #3471
直接安装cuda11和cudnn8，再使用paddle的2.1.1-cuda11那个docker，完美运行

[2021-07-03 06:56] nemonameless commented on #3576
这本来是为了方便刚开始使用时自动下载经典数据集。自定义数据集没有注册名字就不行了。您可以注释掉这个函数 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/source/dataset.py#L151   ，然后python setup.py install更新一下，就可以运行了。

[2021-07-03 06:59] nemonameless commented on #3577
数据集的标注先检查一下？你的标注每个框的y1 y2都是一样的，area是0，先确保正确了再使用吧。最好使用2.1版本的PaddlePaddle和PaddleDetection

[2021-07-03 07:08] Wei-JL commented on #3577
您好，数据集是直接挂载的官方的，没有做修改，确实有点奇怪，area 0 纵坐标相等，我开始以为是示例呢。没太在意，本来也是比赛官方发出的数据集，正常。脚本官方给出的也是正常运行，但是我自己新建，在单卡的notebook环境下跑正常训练 放入2.1版本的Detection就不能运行了，也没有报错信息。

[2021-07-03 07:08] oldZhangYH commented on #3531
您好，请问自定义coco数据的配置文件中吗，下面加粗的`dataset_dir`具体指什么？
TrainDataset:
  !COCODataSet
    image_dir: train
    anno_path: annotations/instance_train.json
    **`dataset_dir: ../dataset/Package/coco_format`**
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

[2021-07-03 07:13] ichbing1 opened #3578 "exporting QAT-trained model for deployment"
Hi,

I ran into 2 issues while trying to export & deploy a model trained with quantization-aware-training.

1. When I try to do inference with the exported model using `deploy/python/infer.py`, I get the following error. I set `trt_calib_mode` to `False` because this model wasn't produced by offline quantization, as per the comment in https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.

[2021-07-03 07:31] oldZhangYH opened #3579 "自定义coco数据集的问题"
这是报错信息，在数据预处理的时候报错了。
![image](https://user-images.githubusercontent.com/44888861/124346679-c0f90780-dc12-11eb-9797-f0185dbee8c5.png)
这是报错时`sample`的值
![image](https://user-images.githubusercontent.com/44888861/124346815-88a5f900-dc13-11eb-8a4e-aadd7f8c339f.png)
这是我的配置文件
![image](https://user-images.githubusercontent.com/44888861/124346718-edad1f00-dc12-11eb-90b3-0b126e2b62bf.png)
请问是什么原因？

[2021-07-03 08:32] nemonameless commented on #3579
Mixup使用不当，reader里有改动吗？用的哪个模型，请截图一下类似以下内容看看。
[code]

[2021-07-03 08:54] oldZhangYH commented on #3579
我发现问题了，我把decode注释掉了（捂脸）

[2021-07-03 08:55] yghstill commented on #3578
@ichbing1
1. You need set `--trt_calib_mode False` when do inference.
2. Please check you model, is it a quantitative model? You can test the pre-trained model we trained to see whether it works: https://paddledet.bj.bcebos.com/models/slim/ppyolo_r50vd_qat_pact.tar

[2021-07-03 09:40] ichbing1 commented on #3578
@yghstill Thanks for your prompt feedback.

Yes, that's what I am doing. In fact, using `--trt_calib_mode False` results in `trt_calib_mode` being set to `True`, so I omitted `--trt_calib_mode` option instead. I think it's a bug that should be fixed by modifying https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/python/utils.py#L98 to `type=ast.literal_eval`.

Yes, I also test

[2021-07-03 10:55] learningpro opened #3581 "按照教程部署到最后一步接口调用出错"
**复现步骤：**

参考官方说明 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/serving  进行服务端预测部署
从第一步到第三步都顺利通过
第四步的时候gpu版本不能用，遂选择cpu版本

[code]

使用的是dockerhub上的 paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8  镜像，按照https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/INSTALL_cn.md 快速体验最后的图片能用GPU跑出正确结果
[code]

**出现问题：**
接着按照教程进行到第五步，test_client.py第36行将  im_size 改

[2021-07-03 15:15] zouzhuo777 opened #3582 "FairMOT模型，用MOT20的测试集进行评估出问题。"
我用MOT20数据集训练了FariMOT模型
- 用MOT20训练集评估模型，生成的日志是正常的。
![image](https://user-images.githubusercontent.com/81903241/124358765-5a94d900-dc54-11eb-9c88-c3ea77ce137d.png)

- 但是用MOT20测试集评估模型，生成的日志的[identity]不是从1开始。
![image](https://user-images.githubusercontent.com/81903241/124358752-4d77ea00-dc54-11eb-95d3-a2569c36b0d5.png)

mot.yml配置文件内容如下:
[code]

[2021-07-03 18:10] nemonameless commented on #3582
试验过modelzoo里提供的fairmot权重，没有复现你的问题。建议更新代码为develop分支试试

[2021-07-04 09:40] liuhuiCNN commented on #3581
如果镜像CUDA是11.2，您安装的paddle-serving-server-gpu是10.2的，请问这个是否正常？建议您paddle，paddledetection，paddleserving的CUDA先保持一致。

[2021-07-04 12:16] lyuwenyu commented on #3574
没有提升是指变化多少啊
理论上会有加速的 但是训练的瓶颈可能不在这块

建议在trainer的打印一下forward, backward 和 optimizer.step分别耗时多少 以及 前后的对比
或者
使用profiler查看整个过程的不同阶段的精确耗时

[2021-07-04 18:05] #3579 closed, assigned to nobody

[2021-07-04 18:11] #3493 closed, assigned to nobody

[2021-07-04 18:11] #3477 closed, assigned to nobody

[2021-07-04 18:12] #3538 closed, assigned to nobody

[2021-07-04 18:12] #3432 closed, assigned to nobody

[2021-07-05 01:13] LiangYong1216 opened #3583 "训练前出现的问题： cv2.error: error: (-215:Assertion failed) !buf.empty() in function 'imdecode_' 下面是完整的报错信息"
(PP-YOLO) wtc@wtc-All-Series:~/PaddleDetection$ python tools/train.py -c configs/ppyolo/ppyolo_r50vd_dcn_voc.yml

[code]

我的环境：paddlepaddle-gpu    2.1.1.post110         cuda 11.0
我需要怎么处理？新手还请多多指教，感谢

[2021-07-05 01:15] LiangYong1216 commented on #3576
感谢感谢，已经解决了，但是出现了新的问题，我又提问了，还清多多指教

[2021-07-05 01:59] qingqing01 commented on #3583
@LiangYong1216 像是图片读取不正确，您可以在这里检查下输入图片:

[code]

[2021-07-05 02:01] TianQingX opened #3585 "bottom-top higherhrnet预测视频报错"
看了 #2173 不知道是不是windows环境的问题

[code]

[code]

[2021-07-05 03:16] ZiQiangXie commented on #3561
@wangxinxin08 好的 谢谢

[2021-07-05 03:16] #3561 closed, assigned to nobody

[2021-07-05 04:15] oldZhangYH commented on #3476
我也遇到了这个问题，ubuntu上没有问题。但是在windows上训练一轮就跳出也不保存模型

[2021-07-05 06:12] chenxuezhao opened #3588 "自训练的ppyolo_tiny模型，predict的score非常小"
训练流程：
1、根据自己已标定过的图片(100张），生成coco格式的数据。（生成instances_train2017.json和instances_val2017.json）
2、开启训练：python3  tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml
3、训练完成（650 轮），且生成了output/ppyolo_tiny_650e_coco/model_final.pdopt 和 output/ppyolo_tiny_650e_coco/model_final.pdparams
4、predict一张训练过程当中使用过的图片，发现predict的score非常小，导致最后生成的检测结果的图片没有任何结果框。predict的命令：
`python3 tools/infer.py -c configs/ppyolo

[2021-07-05 06:15] wxf764571829 opened #3589 "图片完整，推理时出现OSError: broken data stream when reading image file"
01/YFwxf01/2021缺陷result/5010.JPG
Traceback (most recent call last):
  File "tools/infer.py", line 158, in <module>
    main()
  File "tools/infer.py", line 154, in main
    run(FLAGS, cfg)
  File "tools/infer.py", line 128, in run
    trainer.predict(
  File "/home/ubuntu01/anaconda3/envs/paddle/lib/python3.8/site-packages/paddledet-2.1.0-py3.8.egg/ppdet/engine/trainer.py", line 424, in predict

[2021-07-05 06:17] chenxuezhao commented on #3588
训练开启之前，主要修改了以下配置文件：
configs/datasets/coco_detection.yml
`将num_classes: 80，改为：num_classes: 5`
因为我只需要检测5种类型的物体；instances_train2017.json文件中的categories也定义了5种类型。

[2021-07-05 06:22] chenxuezhao commented on #3588
按照我的理解，predict一张训练过程中使用的图片，即使训练的数据比较少，但最后的识别结果应该也是比较好的，不是吗？

[2021-07-05 07:05] raymondchu-z opened #3591 "请教导出ONNX后如何验证"
使用的模型是PPYOLOv2，根据[文档](https://github.com/PaddlePaddle/PaddleDetection/blob/5e19955b011d47377a3f1443a6e592ddd9e5024a/deploy/EXPORT_ONNX_MODEL.md)导出了PPYOLOv2.onnx文件。
请问我应该怎样去验证这个导出的文件是正确的？

[2021-07-05 07:20] zhengzhe97 opened #3593 "ppyolo导出tensorRT"
请问下这里的ppyolo导出tensorRT并测试AP，有写好的脚本吗
<img width="529" alt="微信图片_20210705151909" src="https://user-images.githubusercontent.com/26462054/124432748-89ba6000-dda4-11eb-8df5-7d3a6d485579.png">

[2021-07-05 08:06] #3569 closed, assigned to nobody

[2021-07-05 08:33] heavengate commented on #3585
看报错是你环境配置的问题，OMP有多个版本的样子，可以按提示试下`set KMP_DUPLICATE_LIB_OK=TRUE`

[2021-07-05 08:46] raymondchu-z commented on #3591
用[netron](https://netron.app/)查看这个模型，信息如下。这是正常的吗？

format
ONNX v7
producer
PaddlePaddle
imports
ai.onnx v11
im_shape
name: im_shape
type: float32[-1,2]
image
name: image
type: float32[-1,3,640,640]
scale_factor
name: scale_factor
type: float32[-1,2]
save_infer_model/scale_0.tmp_1
name: save_infer_model/scale_0.tmp_1
type: float32[25200,6]
save_infer_model/scale_1.tmp_1
name: save_infer_model/scale

[2021-07-05 09:14] heavengate commented on #3588
你用的哪个版本呢，PP-YOLO系列最近修复过一个训练上收敛性的问题，可以更新到最新develop分支，`python setup.py install`试下
参考 https://github.com/PaddlePaddle/PaddleDetection/issues/3411

[2021-07-05 09:16] heavengate commented on #3589
看报错在PIL库里读图片的时候，直接用python命令行里里`Image.open(image_path)`试下呢

[2021-07-05 09:16] chenxuezhao commented on #3588
我用的是release/2.1

[2021-07-05 09:17] chenxuezhao commented on #3588
![image](https://user-images.githubusercontent.com/42796059/124448275-d7d75f80-ddb4-11eb-8020-689047d10b84.png)

[2021-07-05 09:17] heavengate commented on #3591
导出成功后就是ONNX的部署模型，要验证的话可以通过ONNX部署的方式，可以参考 https://aistudio.baidu.com/aistudio/projectdetail/1479970

[2021-07-05 09:19] heavengate commented on #3593
导出模型是不需要指定TensorRT，TensorRT是部署的时候使用的加速方法，和模型导出过程无关，模型导出就直接用 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/ppyolo#4-inferece-deployment  这里的导出方法就可以了，部署的时候可以指定使用TensorRT加速，可以参考   https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/TENSOR_RT.md

[2021-07-05 09:20] 670133189 opened #3596 "请教关于YOLOv3+DarkNet53训练后的误识别：比如将黄色系的东西识别成火苗。请教如何解决？"
请教关于YOLOv3+DarkNet53训练后的误识别：比如将黄色系的东西识别成火苗。请教如何解决？

[2021-07-05 09:23] heavengate commented on #3596
这个需要结合具体数据和场景判断的，可以尝试的方法有
1. 增加火苗和黄色的样本
2. 给火苗较高的接受阈值
3. 如果确实对分类精度要求很高，也可以考虑把检测的框抠出来再过一个分类器的方案

[2021-07-05 09:30] FeiMa-REC opened #3597 "训练过程开启eval,但是一直显示ppdet.engine INFO: Eval iter: 0"
训练开始：
![图片](https://user-images.githubusercontent.com/62004245/124450016-98aa0e00-ddb6-11eb-8562-acd49c570cd6.png)

训练途中：
![图片](https://user-images.githubusercontent.com/62004245/124450048-a2cc0c80-ddb6-11eb-9ffd-afddadeba0e9.png)

[2021-07-05 09:37] 670133189 commented on #3596
感谢您的回答，您提到的“增加黄色的样本”是指负样本么？如果是的话那该如何添加？我的理解是往训练集添加即可，而且也得有“仅有负样本路径”的Annotations文件。添加负样本图片后，模型里还需要调整代码么？我不知道这样理解对不对 ^ ^

[2021-07-05 09:47] 670133189 opened #3598 "请教如何添加负样本？"
我的理解是往训练集添加负样本图片即可，而且也得有“仅有负样本路径”的Annotations文件。添加负样本图片后，模型里还需要调整代码么？我不知道这样理解对不对 ^ ^

[2021-07-05 09:51] #3598 closed, assigned to nobody

[2021-07-05 10:07] chenxuezhao commented on #3588
checkout到develop分支后，模型需要重新训练吗？

[2021-07-05 10:19] chenxuezhao commented on #3588
我的instances_train2017.json文件是格式是这样的，请帮忙确认一下，是不是instances_train2017.json文件的格式错误导致的这个问题：
![image](https://user-images.githubusercontent.com/42796059/124455914-b24e5400-ddbc-11eb-9257-48325c24456b.png)
![image](https://user-images.githubusercontent.com/42796059/124456617-7ebff980-ddbd-11eb-8db5-888452928579.png)

[2021-07-05 11:52] sallenhandong commented on #2241
同问

[2021-07-05 13:06] zhengzhe97 commented on #3593
@heavengate 可能是我表达不清楚。想知道ppyolo的参数如何转化成tensorRT

[2021-07-05 14:38] #3576 closed, assigned to nobody

[2021-07-05 15:04] learningpro commented on #3581
感谢回复，我看https://github.com/PaddlePaddle/Serving/blob/develop/README_CN.md 这里并没有cuda11的对应版本paddle serving gpu，可能不能直接pip install了，我再试试这个  https://github.com/PaddlePaddle/Serving/blob/develop/doc/LATEST_PACKAGES.md

[2021-07-05 15:25] learningpro commented on #3581
卸载了旧版本paddle-serving-*之后，用最新的whl包安装了一遍，同样的问题，gpu版本提示找不到Module

[code]
检查了一下各个包都安装成功了
[code]

于是执行了一下CPU版
有趣的是他下载了gpu的压缩包，但是报错了
[code]

于是找了一下这个丢失的so文件相关的文件名

[code]

发现他需要的是11.1，但是这个CUDA11.2版本的docker里只有11.2的，在docker hub 页面https://hub.docker.com/r/paddlepaddle/paddle/tags?page=1&ordering=last_updated 并没有11.1

请教一下这种情况应该怎么办呢，如果把现有的libnvrtc.so.11.2 软连接为 11.1，依然会报错，不能这么改

[code]

求助 💖

[2021-07-05 19:47] addicter2017 commented on #3593
同问, 目前知道在线量化训练可以得到Tensorrt的int8模型,那有没有办法得到tensorrt的Float32或者float16模型呢?

[2021-07-06 01:15] yeyupiaoling commented on #3535
在我的项目中报同一的错，安装上面说的，加上：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolo_r50vd_dcn_voc.yml#L19-L20
解决问题。因为我的图片大小是不唯一的。

[2021-07-06 01:36] chenxuezhao commented on #3588
@heavengate 你好，我从COCO数据集当中选取了10张图片进行训练，训练40轮之后，将训练当中用到的一张图片送入生成的模型做predict，predict的结果是这样的：
![test1](https://user-images.githubusercontent.com/42796059/124529465-43fda600-de3d-11eb-85df-128c3a955377.jpg)
按照我的理解，predict一张训练过程中使用的图片，即使训练的数据比较少，但最后的识别结果应该也是比较好的，但现在看起来好像不是这样的（我用的develope版本），请问是不是我理解的不对？

[2021-07-06 01:38] raymondchu-z commented on #3535
@yghstill我单步调试都走不到Gt2YoloTarget()就已经报错了，在这里报错，读不到下一个loader：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/trainer.py#L361

[2021-07-06 01:53] raymondchu-z commented on #3591
@heavengate 感谢回复
1. 我希望将`ai.onnx::ll::NonMaxSuppression`这个算子从模型中剥离出来，应该怎么操作？
2. `ai.onnx::ll::NonZero`算子相关的资料文档应该在哪里找？

[2021-07-06 02:31] heavengate commented on #3597
eval过程每100个iter才会打印一次log，如果你的eval iter数不足100就会只打印0

[2021-07-06 02:33] heavengate commented on #3593
不需要转换，导出模型正常导出，预测部署的时候开启tensorrt就可以了

[2021-07-06 02:35] heavengate commented on #3593
fp32和fp16的不需要转换，设置`--run_mode=trt_fp32或者trt_fp16`就可以了

[2021-07-06 02:35] heavengate commented on #3588
需要重新训练下

[2021-07-06 02:36] heavengate commented on #3588
格式看着没什么问题，或者可以可视化看下

[2021-07-06 02:43] heavengate commented on #3531
看你free内存比较少，应该是内存不够了进程被操作系统kill了，可以把对应`configs/yolov3/_base_/xxx_reader.yml`里的`num_workers`设小一点试下

[2021-07-06 02:43] #2080 closed

[2021-07-06 02:46] #2167 closed

[2021-07-06 02:47] #3443 closed, assigned to nobody

[2021-07-06 02:47] #3302 closed, assigned to nobody

[2021-07-06 02:48] #3247 closed, assigned to nobody

[2021-07-06 04:12] chenxuezhao commented on #3588
你好，我把coco的5000张val数据当做train数据来训练ppyolo的tiny模型，训练十几轮之后，用训练的图片进行predict,predict的结果score还是非常小，导致结果图片没有画出任何框。
我用的是develop的代码：
![image](https://user-images.githubusercontent.com/42796059/124541059-3e12bf80-de53-11eb-8d0e-44aeab615c5b.png)

[2021-07-06 04:14] chenxuezhao commented on #3588
按照我的理解，predict一张训练过程中使用的图片，即使训练的数据比较少，但最后的识别结果应该也是比较好的。是不是我的理解有偏差？

[2021-07-06 04:24] ichbing1 commented on #3578
Also, instead of downloading the pre-trained model directly, I downloaded the .pdparams file from https://paddledet.bj.bcebos.com/models/slim/ppyolo_r50vd_qat_pact.pdparams and exported it myself with following command:
[code]

Then I get a different error message when I run `deploy/python/infer.py`:

[code]

[2021-07-06 06:18] zhengzhe97 opened #3602 "pickle读取.pdparams文件出错"
<img width="402" alt="5ee590936910e43dfdf0a2e7f6ece33" src="https://user-images.githubusercontent.com/26462054/124551629-044ab480-de65-11eb-8464-6ab7783a0ebf.png">

[2021-07-06 06:21] zhengzhe97 opened #3603 "pickle读取.pdparams文件出错"
<img width="402" alt="5ee590936910e43dfdf0a2e7f6ece33" src="https://user-images.githubusercontent.com/26462054/124551629-044ab480-de65-11eb-8464-6ab7783a0ebf.png">

[2021-07-06 06:27] liyongchao911 opened #3604 "如何准备训练数据章节生成label_list示例代码有误"
该目录下PaddleDetection/docs/tutorials/PrepareDataSet.md
数据准备说明文件中，用户数据数据转换示例部分，示例在终端下生成label_list示例代码为：

应该为： echo  -e "speedlimit\ncrosswalk\ntrafficlight\nstop" > label_list.txt

[2021-07-06 06:40] FeiMa-REC commented on #3597
@heavengate 明白了，谢谢~

[2021-07-06 06:40] #3597 closed, assigned to heavengate

[2021-07-06 06:41] LiangYong1216 commented on #3583
检查了一波，确实这块读取的时候   f.read() = b' ',所以导致sample['image'] = b' ' ,这是为什么阿？我贴一下我的配置，您帮我看看，不胜感激！！
![Screenshot from 2021-07-06 14-39-22](https://user-images.githubusercontent.com/66230782/124553992-09f5c980-de68-11eb-85de-cbae4c817463.png)

[2021-07-06 06:57] fantasysee opened #3605 "在训练过程中，如何设置参数使得仅保留最新的几个checkpoint以及最优的checkpoint呢？"
PaddleDetection团队的同学好，请问我在训练模型的过程中，如何设置参数使得仅保留最新的几个checkpoint以及最优的checkpoint呢？

我查看了一下 `runtime.yml` 文件，里面仅有 `snapshot_epoch ` 一个参数，并且设置这个并不能实现上述功能。另，请问如何查看所有可配置的命令行参数呢？我找了好久没有找到相应的文档，麻烦了！

[2021-07-06 07:18] #3603 closed, assigned to nobody

[2021-07-06 07:30] AN-ZE opened #3606 "训练过程无法保存"
环境： win10 + cuda10.2 + paddle2.1.1 + paddledet2.1（今天刚clone）

运行 blazeface 使用voc格式数据训练，训练过程如下
[code]

[2021-07-06 07:38] #3466 closed, assigned to nobody

[2021-07-06 07:38] #3548 closed, assigned to nobody

[2021-07-06 07:38] #3591 closed, assigned to heavengate

[2021-07-06 07:39] raymondchu-z opened #3607 "如何使export_model保存的模型不包含NMS"
请教一下，如何修改PaddleDetection的代码，使它export_model保存的模型不包含NMS？

[2021-07-06 07:54] fantasysee commented on #3483
更新了确实有效。已经不会报 Segmentation Fault 了。感谢！！！

[2021-07-06 08:27] raymondchu-z opened #3608 "如何固定export_model的batchsize为1"
如题。如何固定export_model的batchsize为1？

[2021-07-06 08:53] jerrywgz commented on #3602
可以用这种方式读取权重，pickle.load(open('xxx.pdparams', 'rb'))
另外，可以直接使用paddle.load('xxx.pdparams')

[2021-07-06 08:55] wxf764571829 opened #3609 "win10下编译cmake报错"
F:\code\Paddle\build>cmake .. -G "Visual Studio 14 2015 Win64"  -DWITH_GPU=OFF -DWITH_TESTING=OFF -DON_INFER=ON
-- Found Paddle host system: win32, version:
-- Found Paddle host system's CPU: 8 cores
-- Selecting Windows SDK version  to target Windows 10.0.19042.
CMake Error at CMakeLists.txt:23 (project):
  Generator

    Visual Studio 14 2015 Win64

  does not support platform specification, but

[2021-07-06 08:59] zhengzhe97 commented on #3602
@jerrywgz 还是会报错
`EOFError: Ran out of input`

[2021-07-06 09:06] jerrywgz commented on #3604
感谢反馈

[2021-07-06 09:10] jerrywgz commented on #3605
目前还没有支持这样的功能，如果开启--eval，是可以保存最优的checkpoint, 可以在ppdet/engine/callbacks.py下的Checkpointer中修改模型保存的逻辑

[2021-07-06 09:11] jerrywgz commented on #3606
请问下windows环境中是否使用了conda呢，目前在某些windows环境下确实存在这个问题

[2021-07-06 09:14] jerrywgz commented on #3607
![image](https://user-images.githubusercontent.com/22989727/124574911-83e47d80-de7d-11eb-913c-e35999764b54.png)
动态图下暂时还没有增加配置项来控制是否包含NMS,可以在模型导出的时候把配置文件中nms的相关配置删除

[2021-07-06 09:15] AN-ZE commented on #3606
没有使用conda，python使用3.6

[code]

[2021-07-06 09:16] jerrywgz commented on #3608
模型导出与batch size无关，直接导出即可，在deploy中可以指定--batch_size

[2021-07-06 09:18] raymondchu-z commented on #3608
@jerrywgz 导出后转成ONNX，查看模型输入为[-1,3,640,640].我直接修改trainer.py里改成1了。

[2021-07-06 09:18] jerrywgz commented on #3609
Paddle编译安装的问题转到Paddle repo的issue下吧～https://github.com/PaddlePaddle/Paddle/issues

[2021-07-06 09:18] #3608 closed, assigned to nobody

[2021-07-06 09:24] raymondchu-z commented on #3607
感谢回复，可以了。

[2021-07-06 09:28] raymondchu-z opened #3611 "转ONNX后deformable_conv相关参数为空"
比如reshape_4里的data是` deformable_conv0_deformable_conv0_pad2d_0.tmp_0`，就是空的。
有关于deformable_conv转ONNX的更多文档吗？

[2021-07-06 09:35] yangy996 commented on #3259
我也报这个错误，也是最新的代码release/2.1

[2021-07-06 13:42] jiangjiajun commented on #3611
当前转换后的模型无法进行inference吗？

[2021-07-07 00:53] chenxuezhao opened #3615 "develop版本，ppyolo_tiny训练时异常退出"
![image](https://user-images.githubusercontent.com/42796059/124683948-c69b6980-df00-11eb-997a-44ad8cdcaa22.png)

[2021-07-07 01:11] raymondchu-z commented on #3607
转出来后ONNX模型的输出是：

name: save_infer_model/scale_0.tmp_1
type: float32[1,25200,4]
save_infer_model/scale_1.tmp_1
name: save_infer_model/scale_1.tmp_1
type: float32[1,7,25200]

请问这些维度的含义是什么？@jerrywgz

[2021-07-07 01:36] #3567 closed, assigned to nobody

[2021-07-07 01:56] jerrywgz commented on #3607
1表示batch size, 25200表示box的个数，7表示类别数

[2021-07-07 01:58] raymondchu-z commented on #3607
谢谢。4是什么？

[2021-07-07 01:59] qingqing01 commented on #3583
您单独用cv2对 dataset/voc/JPEGImages/P05123.jpg 读取看下:

[code]

看下能否正确读取，从错误，很大可能这张图片有问题。

[2021-07-07 01:59] #3604 closed, assigned to nobody

[2021-07-07 02:05] #3525 closed, assigned to nobody

[2021-07-07 02:06] #3523 closed, assigned to nobody

[2021-07-07 02:06] #3519 closed, assigned to nobody

[2021-07-07 02:07] raymondchu-z commented on #3535
@yghstill 我将eval的batchsize设置为1就不报错。但是我的验证集很大，这样会很慢。
请问怎么在batchsize>1时，解决这个问题？

[2021-07-07 02:10] #3375 closed, assigned to nobody

[2021-07-07 02:13] yghstill commented on #3615
@chenxuezhao 看报错可能是内存爆了，将worker_num 调小再试下：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/_base_/ppyolo_tiny_reader.yml#L1

[2021-07-07 02:14] #3206 closed, assigned to nobody

[2021-07-07 02:19] chenxuezhao commented on #3615
@yghstill ppyolo_tiny训练70轮之后（训练数据是是从coco官网下载的coco val数据，总共5000张图片），predict一张训练用过的图片，检测结果很差，没有识别出任何物体。predict命令：
`python tools/infer.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml -o weights=output/ppyolo_tiny_650e_coco/69.pdparams use_gpu=false --infer_img=./test.jpg`
加载的预训练权重是：
![image](https://user-images.githubusercontent.com/42796059/124690771-3f082780-df0d-11eb-9d68-44f00c7fea9a.png)

[2021-07-07 02:52] chenxuezhao commented on #3091
@heavengate 你好，我在训练ppyolo_tiny的时候也遇到了同样的问题，请问这个问题最后解决了吗？怎么解决的？[https://github.com/PaddlePaddle/PaddleDetection/issues/3588](url)

[2021-07-07 03:20] yghstill commented on #3615
@chenxuezhao ppyolo_tiny收敛很慢，同时，你单卡训练的话，学习率需要调低8倍

[2021-07-07 03:33] chenxuezhao commented on #3615
@yghstill 这样设置吗？一般最后loss会收敛到多大？
![image](https://user-images.githubusercontent.com/42796059/124696161-2735a100-df17-11eb-850a-3e1b6711bff1.png)

[2021-07-07 03:49] chenxuezhao commented on #3615
调整了configs/ppyolo/_base_/optimizer_650e.yml中的base_lr：0.000625，epoch:52000, 收敛确实慢。
![image](https://user-images.githubusercontent.com/42796059/124697426-4af9e680-df19-11eb-8716-9522dd2895bf.png)
请问有什么办法加能快收敛速度吗？

[2021-07-07 05:04] yghstill commented on #3615
@chenxuezhao epoch不用调整，保持650即可，yolo系列模型收敛本身会比较慢，目前我们正在调优训练速度，同时近期将推出anchor free对标ppyolo-tiny的小模型，收敛更快，训练时长更短，可以关注下

[2021-07-07 06:04] wenjie-yuan commented on #3574
一个epoch25分钟的样子，冻结参数与不冻结差别在一分钟之内，是不是属于正常？但是我冻结所有层参数更新，按理不是应该等同于预测了吗，速度应该提升很大，训练过程耗时主要不是参数更新吗？

[2021-07-07 06:20] hhxdestiny commented on #3091
@chenxuezhao
推理的时候带上这个参数，如果数据集比较发散或者训练轮数不够，就不能用默认值了，改小点试试
[code]

[2021-07-07 06:22] chenxuezhao commented on #3615
@yghstill 有个问题我一直搞不清楚。是不是模型如果没有进行充分的训练（比如，只训练个2、3轮，而且训练的数据很少（100张图片）），这是即使用训练过的图片去predict,检测结果也会很差？

[2021-07-07 06:31] yghstill commented on #3615
@chenxuezhao 是的，在图片很少的情况下，训练前期模型收敛不是很好，需要多训一段时间再评测

[2021-07-07 06:39] chenxuezhao commented on #3091
@hhxdestiny 改小了，识别的结果是这样的：
![test1](https://user-images.githubusercontent.com/42796059/124711817-1bef6f00-df31-11eb-8c5d-8def03cc6351.jpg)
不知道这个算不算正常？总感觉不太对

[2021-07-07 08:10] LiangYong1216 commented on #3583
已经解决，谢谢您，原因是由于将数据从Windows下拷贝到linux系统下，不知道为什么只有文件名称， .jpg文件为空，所以才导致出现了问题，感谢您的耐心解答！感谢！

[2021-07-07 09:50] MrWcy opened #3625 "请问有pafnet-lite的FLOPs数据吗？使用Paddle提供的API计算FLOPs报错"

[2021-07-07 10:07] ximitiejiang commented on #3531
@kekekahuatian dataset_dir就是数据集根目录

[2021-07-07 10:14] zhwesky2010 commented on #3558
@wangbo-git 您好，我们内部的Windows环境是 `Windows 10专业版 版本号：21H1、CUDA10.1、Python3.7、显卡2080Ti`，无法复现问题，请问与这个环境有什么差异吗

[2021-07-07 10:17] #3583 closed, assigned to nobody

[2021-07-07 12:15] shenjun1994 commented on #3558
windows10版本号一样，我的是cuda10.2， 其他一样，“https://github.com/PaddlePaddle/PaddleDetection/issues/2475”，这是我以前训练时遇到的同样问题，换了现在的版本代码后，现在的情况和#3558一样

[2021-07-07 12:37] yghstill commented on #3625
@MrWcy 已提交PR，请参考 #3629

[2021-07-07 14:56] Mr-ind1fferent opened #3630 "加载自定义数据集报错"
![image](https://user-images.githubusercontent.com/74087260/124782098-88d92800-df76-11eb-8d4d-c3fea2cc9026.png)

[2021-07-08 02:00] yghstill commented on #3630
@Mr-ind1fferent 完整的报错发下，是coco数据集还是voc数据？

[2021-07-08 02:11] chenxuezhao commented on #3615
@yghstill  worker_num从4改为了2，但随着训练时间的增长，训练主机的内存也一直在增长，最后内存全部被占用后，训练异常终止。训练主机内存32G。

[2021-07-08 02:45] sdnusqy-art opened #3633 "2.1.0版本单卡训练报错"
paddlepaddle:2.1.1
paddleDetection2.1.0
cuda 10.2   cudnn 7.6.5
显卡：T4
OS: centos7.8
训练 roadsign    yolov3_mobilenet_v1_roadsign.yml  报以下错误：

[code]

[2021-07-08 03:23] heavengate commented on #3615
Paddle用的是2.1.0版本么，可以换成2.0.2版本试下，2.1.0上有个内存泄漏问题正在定位

[2021-07-08 03:32] chenxuezhao commented on #3615
用的是develop版本

[2021-07-08 03:33] heavengate commented on #3615
不是PaddleDetection版本，是Paddle版本

[2021-07-08 03:49] #3536 closed, assigned to nobody

[2021-07-08 03:49] #3532 closed, assigned to nobody

[2021-07-08 03:51] yghstill commented on #3479
@zsbjmy 已提交PR支持FLOPs计算：https://github.com/PaddlePaddle/PaddleDetection/pull/3629

[2021-07-08 03:53] yghstill commented on #3240
@Harry-675 目前已支持计算FLOPs功能：#3629

[2021-07-08 03:54] #3024 closed, assigned to nobody

[2021-07-08 03:54] #2808 closed, assigned to nobody

[2021-07-08 05:46] liuhuiCNN commented on #3633
感谢反馈，我们确认下。请您检查下环境是否正常。

[2021-07-08 06:37] ZiQiangXie opened #3637 "cascade系列模型能不能用PAN"
cascadercnn系列的模型，能不能把默认的FPN变成PAN，看到ppyolo里面用到了PAN，但是是针对yolo的PPYOLOPAN，好像不能直接用到其他模型里面吧，直接放进去好像会报错。

[2021-07-08 06:38] chenxuezhao commented on #3615
@heavengate 用2.0.2版本后报错：
![image](https://user-images.githubusercontent.com/42796059/124874230-10b44600-dffa-11eb-8891-3788b48de7e8.png)

[2021-07-08 07:07] liuhuiCNN commented on #3637
你好，要把PAN应用到cascade rcnn，需要改动地方比较多，主要涉及特征融合的feature map的数量。您可以参考PPYOLO-PAN来改。

[2021-07-08 07:37] chenxuezhao commented on #3615
paddleDetection回退到release2.0后可以了。

[2021-07-08 08:02] TinyQi opened #3639 "啥时候支持负样本？目前怎么去除误检呢？"
rt
这个负样本训练在模型优化中起到关键的作用，竟然不支持？那么问题来了，如果遇到误检的话，我该怎么操作呢？

[2021-07-08 08:06] TinyQi commented on #3639
难道只有改源码这一条路了吗。。。。。

[2021-07-08 08:37] ZiQiangXie commented on #3637
好的谢谢！另外请问一下，百度在The 1st Tiny Object Detection Challenge这个比赛中取得第一名，请问有没有开源方案，谢谢！

[2021-07-08 08:59] jackie8310 opened #3640 "模型eval时报错："
静态图采用边train边eval，eval时报错后停止train，于是将--eval去除，待train完成后，采用python tools/eval.py ,仍然报错如下，请指教？
W0708 16:51:21.206642 17238 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0708 16:51:21.212035 17238 device_context.cc:372] device: 0, cuDNN Version: 7.6.
2021-07-08 16:51:29,216 - INFO - Test iter 0
2021-07-08 16:51:38,996 -

[2021-07-08 09:03] ZiQiangXie commented on #3637
@liuhuiCNN
好的谢谢！另外请问一下，百度在The 1st Tiny Object Detection Challenge这个比赛中取得第一名，请问有没有开源方案，谢谢！

[2021-07-08 09:05] #3640 closed, assigned to nobody

[2021-07-08 09:06] jackie8310 commented on #3640
已发现问题，类别数不对。

[2021-07-08 09:11] chenxuezhao commented on #3516
@jerrywgz 请问eval时输入模型的尺寸指的是这个吗？
![image](https://user-images.githubusercontent.com/42796059/124895633-4ca5d600-e00f-11eb-9b84-5f01f3e8790a.png)
这个 值可以修改吗？我训练用的图片比较大（且大小不一），感觉320有点小，怕影响模型的效果

[2021-07-08 09:13] jackie8310 opened #3641 "关于迁移学习的问题："
各位大神，咨询一个问题：已训练好的模型包括10个类别，现在其中有5个类又新增了部分数据准备训练，是将5新增的数据加入原来数据集，在原有拟合好模型上进行迁移训练? 还是直接训练新增数据？如果直接训练新增数据，将原来拟合好模型作为pretrain_weights，单类别数量不一样，切label的序号也与原来不一样，哪种带来的效果会好些？谢谢！

[2021-07-08 09:14] ZiQiangXie commented on #3637
@liuhuiCNN
好的，再问一下，百度在The 1st Tiny Object Detection Challenge这个比赛中取得第一名，请问有没有开源具体的方案？

[2021-07-08 09:20] liuhuiCNN commented on #3641
你好，建议是将5新增的数据加入原来数据集进行训练。直接训练新增数据的话，数据分布与原来数据不同（5类 vs 10类）。

[2021-07-08 09:21] chenxuezhao opened #3642 "训练时输入尺寸RandomResize应该怎么设置anchor的大小"
[https://github.com/PaddlePaddle/PaddleDetection/issues/3516](url)
里面说：anchor_cluster.py中设置的size是eval时输入模型的尺寸
请问，eval时输入模型的尺寸指的是这个吗？
![image](https://user-images.githubusercontent.com/42796059/124897383-d6a26e80-e010-11eb-931e-4c7d4bdc6f21.png)
这个 值可以修改吗？我训练用的图片比较大（且大小不一），感觉320有点小，怕影响模型的效果

[2021-07-08 09:26] jackie8310 commented on #3641
@liuhuiCNN ，谢谢！那如果将5新增的数据是加入原来训练，将原来拟合好模型作为pretrain_weights，如何控制再次训练不使得先前拟合好的模型性能不下降，同时还能学习到新加入数据的特征？除了减小learning rate，还有其它的trick吗？谢谢！

[2021-07-08 09:51] cuesong commented on #3639
竟然不支持？

[2021-07-08 12:13] liuhuiCNN commented on #3641
可以考虑给每个类别设置一个权重。

[2021-07-08 12:16] liuhuiCNN commented on #3642
是的，可以修改。当设置keep_ratio=True时，这里的resize将长边resize到尺寸，短边进行pad，保持长宽比不变。

[2021-07-08 12:23] liuhuiCNN commented on #3639
Faster RCNN中，可以在dataset里设置allow_empty=True。也可以考虑将检测出来的过再过一个分类器。

[2021-07-08 12:38] tjpulfn opened #3645 "请问先导杯比赛的qq群是哪个，我找不到了"
如题

[2021-07-09 00:55] jackie8310 commented on #3641
@liuhuiCNN ，加入的类别标签和原数据集中标签一样，设置类别权重是加大新加入数据的训练占比吗？可以指教在哪个文件位置进行设置？谢谢！

[2021-07-09 01:36] wxf764571829 opened #3646 "模型训练完成并导出后 如何在windows下使用python进行预测，我在windows下安装了paddle后直接调用./deploy/python/infer.py进行预测报了以下错误"
[code]

[2021-07-09 02:06] Flyingdog-Huang opened #3647 "FairMOT预测视频被killed"
CUDA_VISIBLE_DEVICES=0 python tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=https://paddledet.bj.bcebos.com/models/mot/fairmot_dla34_30e_1088x608.pdparams --video_file=cam0.mp4  --save_videos
/home/hlx/anaconda3/envs/paddle_env/lib/python3.7/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `obje

[2021-07-09 02:14] LeDuySon opened #3648 "Evaluation code is not running"
When i run eval.py to evaluate my dataset with ppyolov2_r50vd_dcn_365e_coco.yml config, its just stuck in Eval iter:0.
![Screenshot from 2021-07-09 09-07-01](https://user-images.githubusercontent.com/33374938/125012974-3f332f00-e095-11eb-837c-97c4b7312082.png)

but when i run with ppyolo_r50vd_dcn_1x_coco.yml config, it runs normally and i got bbox.json after the evaluation finished.
What happend

[2021-07-09 02:28] Flyingdog-Huang commented on #3511
您好，我按照您的方法操作后，有如下报错：
git branch -vv
* develop     6eed850 [origin/develop] update (#3638)
  release/2.1 89d1478 [origin/release/2.1] Replace deprecated methods 'warn' and 'getargspec' (#3600)
(paddle_env) hlx@hlx:~/objectDetection/ht/project/PaddleDetection$ CUDA_VISIBLE_DEVICES=0 python tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=https://paddledet.bj.bcebos

[2021-07-09 02:51] Abris-087 opened #3649 "关于模型导出"
你好，我初次使用Paddle Detection套件。我记得之前用老版本导出的模型都是__model__和__params__文件。昨天我使用ppdet2.0版本的tools/export_model.py导出的模型文件变得不一样了（.pdmodel和.pdiparams）。我想将预测模型部署到嵌入式设备上，请问如何才能生成上述两个文件？

[2021-07-09 03:51] learningpro commented on #3581
求助，any idea？

[2021-07-09 04:00] liuhuiCNN commented on #3641
请参考：https://github.com/PaddlePaddle/PaddleDetection/issues/3641#issuecomment-876835835

[2021-07-09 04:02] liuhuiCNN commented on #3645
874329295

[2021-07-09 06:14] chenxuezhao commented on #3642
@liuhuiCNN  paddle-gpu2.0.2 + paddleDetection release2.0,训练ppyolo_tiny模型：
`python3  tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml `
总共400张图片，物体识别种类5种，650轮后（15个小时），把一张训练用的图片送入生成的模型去predict,不能检测出任何种类的物体。不知道是不是因为没有重新设置anchor的大小导致的？
用同样的数据，在darknet上训练yolo-tiny模型，3个小时后，生成的权重文件已经能够很好地检测到图片中需要识别的物体。

[2021-07-09 06:21] xiegegege commented on #3646
@wxf764571829 麻烦问下你的paddle版本是什么呢？可以更新到2.1.1重新导出下，我试了可以跑。python deploy/python/infer.py --model_dir=./inference_model/faster_rcnn_r101_vd_fpn_1x_coco/ --image_file=demo/000000570688.jpg --use_gpu=True --run_mode=fluid

[2021-07-09 06:35] wxf764571829 commented on #3646
windows下的版本是paddlepaddle-gpu 2.0.0   好的 我更新尝试以下

[2021-07-09 06:56] xiaotantongxue123 opened #3651 "训练自己的数据集时报错"
/work/PaddleDetection$ python3 tools/train.py -c ~/work/cascade_mask_rcnn_dcnv2_se154_vd_fpn_gn_s1x.yml -o use_gpu=true --use_vdl=true --vdl_log_dir=~/work/vdl_dir/scalar
2021-07-09 03:58:34,311-INFO: If regularizer of a Parameter has been set by 'fluid.ParamAttr' or 'fluid.WeightNormParamAttr' already. The Regularization[L2Decay, regularization_coeff=0.000100] in Optimizer will not take effect, a

[2021-07-09 07:03] xiaotantongxue123 commented on #3651
使用的是csv2coco进行的数据转换，生成coco数据格式：
![image](https://user-images.githubusercontent.com/87167917/125037320-91407880-e0c6-11eb-8343-db09fc9dc84e.png)
![image](https://user-images.githubusercontent.com/87167917/125037349-9998b380-e0c6-11eb-996c-212c23e49a8e.png)
想问一下生成的coco数据为啥还是不能进行训练？

[2021-07-09 07:11] #3611 closed, assigned to jiangjiajun, jerrywgz

[2021-07-09 07:12] #3518 closed, assigned to nobody

[2021-07-09 08:24] raymondchu-z commented on #3607
@jerrywgz 你好，我的理解是：
[1,25200,4]是表示对于1张图片，预测出了25200个框，每个框的坐标是xyxy；
[1,7,25200]是表示对于1张图片，对于7个类别，这25200个预测框针对每个类别都有一个置信度分数。
是这样吗？
25200是怎么来的？

[2021-07-09 08:34] nemonameless commented on #3647
建议切分成小视频 #3511

[2021-07-09 08:37] nemonameless commented on #3511
draw_threshold很早在develop分支里加了的，release/2.1分支很久未更新。切换分支后，python setup.py install 重新安装下

[2021-07-09 08:37] gujingxiao commented on #3332
@smslit 您好，最新版的develop分支确实修复了cascade rcnn在eval时bs大于1的问题，但是当使用export model将模型进行输出，再使用deploy下infer的时候，当bs大于1时，依然会报同样的错误，还请进行排查。

    InvalidArgumentError: The rois_batch_size and imgs batch_size must be the same. But received rois_batch_size = 1, batch_size = 4
      [Hint: Expected rois_batch_size == batch_size, but received rois_batch_size:1 != batch_size:4.] (at /paddle/paddle/fluid/operators/roi

[2021-07-09 08:44] chenxuezhao opened #3653 "训练时 加上--eval后报错"
paddle-gpu2.0.2 + paddleDetection release2.0,训练ppyolo_tiny模型时，如果加上--eval会报错，报错信息如下：
![image](https://user-images.githubusercontent.com/42796059/125050648-bc31c900-e0d4-11eb-8f20-6180d8f8ea2c.png)

[2021-07-09 09:12] #3542 closed, assigned to nobody

[2021-07-09 09:14] yz302 opened #3654 "PPYOLO v2训练时数据集不同尺寸会导致训练一轮后自动停止"
PPYOLO v2训练时数据集不同尺寸会导致训练一轮后会自动停止，我测试了尺寸一致时没有问题，数据集中如果有多个尺寸的图片，应该怎样设置才能正常训练？或者说这是这个版本的局限性？望解答，谢谢！

[2021-07-09 09:16] wangxinxin08 commented on #3648
It seem like that you want to eval the model defined by ppyolo_r50vd_dcn_1x_coco.yml but load the wrong weights, which you should use [ppyolo_r50vd_dcn_1x_cooco.pdparams](https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams)

[2021-07-09 09:17] wangxinxin08 commented on #3649
你需要使用新的部署方式，可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy

[2021-07-09 09:18] wangxinxin08 commented on #3651
数据集路径没有正确配置，导致找不到coco数据集

[2021-07-09 09:20] wangxinxin08 commented on #3653
可以将Paddle版本更新到Paddle 2.1.1，将PaddleDetection版本更新到release/2.1试下

[2021-07-09 09:23] chenxuezhao commented on #3653
@wangxinxin08
![image](https://user-images.githubusercontent.com/42796059/125055982-5c3e2100-e0da-11eb-89bf-3d210ea474da.png)

[2021-07-09 09:26] LeDuySon commented on #3648
the image above its when i run ppyolov2_r50vd_dcn_365e_coco.yml so the pretrained model is ppyolov2_r50vd_dcn_365e_coco.pdparams. I think i load the right weights...

[2021-07-09 09:26] xiegegege commented on #3553
@YuEn-git camera_id这个参数可以设置成0 - (摄像头数目-1)，如果超过摄像头个数-1就会报你这个错

[2021-07-09 09:29] liuhuiCNN commented on #3555
（1）你好，请更新一下代码试试；
（2）请检查一下配置中EvalReader中数据路径是否正确。

[2021-07-09 09:31] #3560 closed, assigned to nobody

[2021-07-09 09:32] #3563 closed, assigned to nobody

[2021-07-09 09:33] chenxuezhao commented on #3653
![image](https://user-images.githubusercontent.com/42796059/125057396-c2777380-e0db-11eb-823b-b048ea7d22c5.png)

[2021-07-09 09:34] liuhuiCNN commented on #3637
目前还未开源。

[2021-07-09 09:35] yghstill commented on #3578
@ichbing1 We will test to see is there a problem

[2021-07-09 09:37] wzwb commented on #3555
更新成2.1应该没问题，但是比赛环境是2.0-rc。。。

[2021-07-09 09:37] lyuwenyu commented on #3574
理论上是这样子  全都freeze的话loss应该也是stop_gradient=True,   你可以需要确认一下那样设置 loss的stop_gradient是True还是False

[2021-07-09 09:38] liuhuiCNN commented on #3581
为了较方便解决环境问题，建议使用docker，https://github.com/PaddlePaddle/Serving/blob/develop/README.md#installation

[2021-07-09 09:44] #3602 closed, assigned to nobody

[2021-07-09 09:46] heavengate commented on #3588
即使是预测原图，训练十几个iter也没有收敛的，甚至训练网络都没有过一遍这5000张图，如果想预测训练的数据看看效果，至少要训练到loss收敛到比较低的水平，5000张图的话一般可以训练几千个iter，并且对应调整learning rate的decay

[2021-07-09 09:50] wenjie-yuan commented on #3574
我打印了loss，全冻结的时候，loss是一直在1000左右，只有少许波动，但是降不下来，应该是实现了冻结吧。你说的“理论上说这样”是指速度提升很大吗？但是我对单张图片调用infer.py去预测，也是需要3秒钟，是不是说其实这个时候冻结了，已经等同预测了，但是速度就是很慢，冻结对速度影响不大？当我把模型保存成静态图的时候，一秒钟就预测7张这样，速度明显快了，这是我的理解

[2021-07-09 09:51] wangxinxin08 commented on #3653
pip install paddlepaddle-gpu==2.1，可以参考Paddle 官网安装文档https://www.paddlepaddle.org.cn/

[2021-07-09 09:54] #3645 closed, assigned to nobody

[2021-07-09 09:55] liuhuiCNN commented on #3642
你好，anchor中尺寸跟eval的size是相关的，需要同步修改。

[2021-07-09 09:56] liuhuiCNN commented on #3633
你好，这个是已知问题，已解决，请拉取最新的PaddleDetection release2.1 分支代码，或者使用使用develop分支代码。

[2021-07-09 12:58] LISIJIA0629 commented on #1775
有解决吗！我也是兄弟

[2021-07-09 21:45] chenxuezhao commented on #3642
你好，训练的时候不加eval可以吗？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: cnn ***@***.***&gt;
发送时间: 2021年7月9日 17:55
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: chenxuezhao ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] 训练时输入尺寸RandomResize应该怎么设置anchor的大小 (#3642)

@liuhuiCNN paddle-gpu2.0.2 + paddleDetection release2.0,训练ppyolo_tiny模型：
 python3 tools/tr

[2021-07-09 23:56] python-bookworm opened #3656 "windows下安装环境报错ValueError: numpy.ndarray has the wrong size, try recompiling. Expected 80, got 88"
环境：win10 conda环境，python3.7，paddlepaddle-gpu ==2.1.0.post101,numpy==1.19.3
编译安装paddledet之后验证报错：
ValueError: numpy.ndarray has the wrong size, try recompiling. Expected 80, got 88
相关的安装配置：
appdirs             1.4.4
astor               0.8.1
atomicwrites        1.4.0
attrs               21.2.0
Babel               2.9.1
bce-python-sdk      0.8.61
certifi             2021.5.30
cfgv                3.3.0

[2021-07-10 03:08] zshuang80826 opened #3657 "关键点检测keypoint_infer.py 时出现EvalAffine未定义错误"
执行页面上例程代码：
#部署推理
#keypoint top-down/bottom-up 单独推理，该模式下top-down模型只支持单人截图预测。
python deploy/python/keypoint_infer.py --model_dir=output_inference/higherhrnet_hrnet_w32_512/ --image_file=./demo/000000014439_640x640.jpg --use_gpu=True --threshold=0.5

出现如下错误：
Traceback (most recent call last):
  File "deploy/python/keypoint_infer.py", line 428, in <module>
    main()
  File "deploy/python/keypoint_inf

[2021-07-10 03:54] e-vist opened #3658 "C++调用python时，包含paddle库出现, 会出现首次 import paddle 弹出重复界面的情况"
in7电脑配置了paddlepaddle的GPU环境，实验了一个AI studio上的模型，用cmd运行起来没问题，之后就想用C++去调用python。

但是因为python程序中import了paddle库，引发了一些调用问题。就是以下这两句。

import paddle
import paddle.fluid as fluid
在.cpp文件中调用语句如下，编译没问题，运行有问题，问题语句在

PyImport_ImportModule()
源程序如下，包含在一个MFC的按钮中

PyObject* pFunc = NULL;
PyObject* Strin = NULL;
PyObject* pReturn = NULL;
//main命令行参数
int argc = 1;
wchar_t * argv[] = { L" " };
PySys_SetArgv(argc, argv

[2021-07-10 05:02] lyuwenyu commented on #3654
ppyolov2 同一个batch里的不同尺寸的图 都会resize到同一size的 正常情况下是没有问题的

- 报什么错误 是在train自动停止还是eval阶段 ？
- ppdet时什么版本 ？

[2021-07-10 05:42] lyuwenyu commented on #3656
在你上边那个环境下可以试一下单独import lap会出错嘛？
如果有问题的话 可以尝试一下不同 python numpy的环境

[2021-07-10 08:26] #3637 closed, assigned to nobody

[2021-07-10 09:15] Wei-JL opened #3659 "FairMOT is not supported for exporting model now"
[07/10 17:07:11] ppdet.utils.checkpoint INFO: Finish loading model weights: output/fairmot_dla34_30e_1088x608/model_final.pdparams
[07/10 17:07:11] ppdet.engine ERROR: Architecture: FairMOT is not supported for exporting model now

[2021-07-10 13:38] fantasysee commented on #3605
好的，感谢解答！

[2021-07-10 13:38] #3605 closed, assigned to nobody

[2021-07-10 23:56] chenxuezhao commented on #3653
![image](https://user-images.githubusercontent.com/42796059/125179082-703e6b80-e21d-11eb-8b56-eb8a904a7578.png)
paddle升级到2.1.1后，训练中报如上错误。

[2021-07-11 00:59] chenxuezhao commented on #3642
另外，是先修改配置文件ppyolo_tiny_reader.yml 中eval时输入模型的尺寸，还是先用anchor_cluster生成anchor的大小？我试着，如果eval时输入模型的尺寸不一样，用anchor_cluster生成anchor的大小也不一样。
而且，好像ppyolo_tiny_reader.yml 和ppyolo_tiny.yml 中的anchor的值发生了变化，即使 eval时输入模型的尺寸相同，用anchor_cluster生成anchor的大小也不一样

[2021-07-11 01:45] wexin-c commented on #3476
![image](https://user-images.githubusercontent.com/78461277/125180435-ad5e2a00-e22c-11eb-92a1-4cf6304a94b7.png)
我也遇到这个情况，请问解决了吗

[2021-07-11 01:59] oldZhangYH commented on #3476
没

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年7月11日(周日) 上午9:45
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 只训练一轮epoch就结束了 (#3476)

 我也遇到这个情况，请问解决了吗

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-11 03:06] lyuwenyu commented on #3659
现在FairMOT还不支持导出   请关注下个版本

[2021-07-11 04:17] CHNingMing commented on #2296
我也遇到了相同问题，他是使用了gflags，在源码main.cc添加#include <gflags/gflags.h>解决问题

[2021-07-11 05:02] CHNingMing opened #3661 "Linux(debian) 执行build.sh编译问题"
1. 报错1:

[code]
解决:
[code]

2. 报错2:

[code]

解决:

下载libjpeg库
    wget http://archive.ubuntu.com/ubuntu/pool/main/libj/libjpeg-turbo/libjpeg-turbo8_2.0.6-0ubuntu2_amd64.deb
    由于本机安装更高版本libjpeg，直接安装会冲突，所以手动解压拿到的libjpeg.so.8
实在找不到这个版本的库(libpng12.so.0)，全局搜索，发现snap也用到了12版本的libpng，就拷贝到ldd查找库路径中了 /snap/core/11316/lib/x86_64-linux-gnu/libpng12.so.0

希望可以做对应调整,解决这两种问题.如果是源码问题，希望尽快解决，毕竟没有人会怀疑源码会出现问题。

虽然我

[2021-07-11 10:16] wflrz123 opened #3662 "solov2的输出模型格式"
solov2 inference部署后的输出格式为什么不是pdiparams的类型

[2021-07-11 10:18] wflrz123 commented on #3662
![QQ图片20210711181535](https://user-images.githubusercontent.com/48908943/125191304-46fcfa00-e274-11eb-975f-c23ffdb74a47.png)
是这种格式，能否转成pdiparams的格式呢

[2021-07-11 10:19] wflrz123 commented on #3662
![QQ图片20210711181535](https://user-images.githubusercontent.com/48908943/125191304-46fcfa00-e274-11eb-975f-c23ffdb74a47.png)
是这种格式，能否转成pdiparams的格式呢

[2021-07-11 11:07] NikolaTeslein opened #3663 "运行图像分割时，AutoAugment并默认没有自动开启，请问如何开启？"
![image](https://user-images.githubusercontent.com/84836583/125192460-98a88300-e27a-11eb-8f7a-c4b256297683.png)
我在Lib\site-packages\paddledet-2.0.1-py3.6.egg\ppdet\data\transform\autoaugment_utils.py中插入了多句打印，但是都没有效果，因此判断我运行的ppyolo并没有启动这些数据增强脚本，configs下的yaml是默认设置，【请问如何方便地开启该脚本的数据增强一功能】，还是说这一部分代码目前实际并不能用？

[2021-07-11 14:33] nemonameless commented on #3659
develop分支已经支持，欢迎使用

[2021-07-11 15:21] wanghaisheng opened #3664 "文本图片和非文本图片二分类"
我的任务很简单，连续采集的视频流检测当前帧是否包含文字，不需要关心文字位置、文字内容，能回答有无即可，需要考虑多语种。
请教下，如果想基于目前paaddledetection已有的预训练模型，轻量级的实现最佳实践能指点下吗
看了下大规模实用目标检测模型的576类别中并没有文本这一类别

[2021-07-12 01:56] chenxuezhao opened #3665 "训练的模型predict时报错"
paddlepaddle-gpu=2.1.1,paddleDectection=release2.1,用自己的数据训练ppyolo_tiny模型时，修改了ppyolo_tiny.yml和ppyolo_tiny_reader.yml的anchors和size值，修改的地方如下：
![image](https://user-images.githubusercontent.com/42796059/125219315-304bb700-e2f7-11eb-91bc-20c493ec1a1d.png)
![image](https://user-images.githubusercontent.com/42796059/125219345-36419800-e2f7-11eb-8802-44ced809e2b1.png)
用训练的模型，predict一张训练用的图片时，报了如下错误：
![ima

[2021-07-12 02:09] Flyingdog-Huang commented on #3647
谢谢，已解决

[2021-07-12 02:22] nemonameless commented on #3657
建议使用develop分支，以及重新python setup.py install更新下。另外--use_gpu=True已不支持，可使用--device=GPU
[code]
自测没有问题。

[2021-07-12 02:35] qingqing01 commented on #3661
感谢您指出!

问题1最新代码已经增加了:

https://github.com/PaddlePaddle/PaddleDetection/blob/89d147823b99dead0d6cc644c8aaf852be2e49c3/deploy/cpp/src/main.cc#L36

问题2我们看下。

[2021-07-12 02:41] qingqing01 commented on #3658
456行是什么呢？

[2021-07-12 03:03] #3647 closed, assigned to nobody

[2021-07-12 03:08] wangxinxin08 commented on #3648
The INFO says that there are a lot of unmatched parameters, so obviously you load the wrong weights. Maybe you should upgrade PaddleDetection to release/2.1.1 and try it agian!

[2021-07-12 03:15] raymondchu-z opened #3666 "export_model保存的模型删除NMS后，模型的输出是什么含义？"
name: save_infer_model/scale_0.tmp_1
type: float32[1,25200,4]

name: save_infer_model/scale_1.tmp_1
type: float32[1,7,25200]

我的理解是：
[1,25200,4]是表示对于1张图片，预测出了25200个框，每个框的坐标是xyxy；
[1,7,25200]是表示对于1张图片，对于7个类别，这25200个预测框针对每个类别都有一个置信度分数。
是这样吗？
25200是怎么来的？

[2021-07-12 03:15] nemonameless commented on #3662
您截图里使用的是静态图版本，在默认github release/2.1分支或develop分支下是在static文件夹里了，暂时不能转成pdiparams的格式。更推荐使用动态图版本，git clone release/2.1分支或develop分支下来根目录默认就是使用动态图的。

[2021-07-12 03:22] #3651 closed, assigned to nobody

[2021-07-12 03:24] wangxinxin08 commented on #3653
配置文件有修改过吗？看起来是你某些tensor不一致导致无法组batch

[2021-07-12 03:30] #3264 closed, assigned to heavengate

[2021-07-12 03:31] Wei-JL commented on #3659
from collections import Sized
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release

[2021-07-12 03:33] #3194 closed, assigned to nobody

[2021-07-12 03:34] 15162162323 opened #3667 "模型导出onnx后转openvino ir模型报错"
**模型转ir格式报错**
**另外下面这段说明中的参数定义在转openvino时如何设置呢？** @liuhuiCNN @wangxinxin08
<html>
<body>
<h3 style="box-sizing: border-box; margin-bottom: 16px; margin-top: 24px; font-size: 1.25em; font-weight: 600; line-height: 1.25; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;

[2021-07-12 03:37] #3052 closed, assigned to nobody

[2021-07-12 03:40] #3016 closed, assigned to nobody

[2021-07-12 03:41] #2988 closed, assigned to nobody

[2021-07-12 05:21] chenxuezhao commented on #3653
现在可以训练了（不加--eval），但训练出来的模型，不能用：
[https://github.com/PaddlePaddle/PaddleDetection/issues/3665](url)

[2021-07-12 05:32] qingqing01 commented on #3667
您ONNX转OpenVINO IR参考文档发下？

[2021-07-12 05:35] qingqing01 commented on #3666
您的理解没错，25200是推理得到的所有bbox的个数。

[2021-07-12 05:37] lyuwenyu commented on #3659
切换到develop分支了没？（git clone拉取的默认不是develop分支 ）

[2021-07-12 05:39] Wei-JL commented on #3659
不好意思，我没在本地，想问问在虚拟环境下如何切换分支

[2021-07-12 05:46] Wei-JL commented on #3659
就是在Ai studio上 怎么切换呀

[2021-07-12 05:47] qingqing01 commented on #3664
@wanghaisheng

PaddleDetection提供的预训练模型是基于COCO、Object365、PascalVOC等物体检测识别的模型。
针对文本检测的话，您可以考虑采用 PaddleOCR的文字检测模型 https://github.com/PaddlePaddle/PaddleOCR

[2021-07-12 05:49] qingqing01 commented on #3663
@NikolaTeslein

AutoAugment在PPYOLO中没有使用。您可以参考下面RCNN模型配置，在PP YOLO的reader的配置中增加。

https://github.com/PaddlePaddle/PaddleDetection/blob/89d147823b99dead0d6cc644c8aaf852be2e49c3/configs/rcnn_enhance/_base_/faster_rcnn_enhance_reader.yml#L7

[2021-07-12 06:13] heavengate commented on #3665
你好，`Resize:  {keep_ratio: False}` 里 `keep_ratio`需要配置为False，是将图片resize成416*416的，不是保持原图片宽高比resize

[2021-07-12 06:18] raymondchu-z commented on #3666
@qingqing01 好的谢谢。25200是怎么来的？或者换个问法，修改配置或代码的哪些参数会影响这个25200？和输入尺寸有关吗？

[2021-07-12 06:35] qingqing01 commented on #3666
如果是YOLO系列模型的话，和anchor数量、图片大小都有关系，可以参考 https://github.com/PaddlePaddle/PaddleDetection/issues/1356

[2021-07-12 07:56] hymanzhu1983 commented on #2420
请问这个bug修复了吗？

[2021-07-12 08:38] 15162162323 commented on #3667
@qingqing01

1.参考的这个介绍paddle转onnx，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_ONNX_MODEL.md
`paddle2onnx --model_dir /project/train/models/inference_model/yolov3_darknet53_270e_coco \
            --model_filename model.pdmodel \
            --params_filename model.pdiparams \
            --opset_version 11 \
            --save_file /project/train/models/inference

[2021-07-12 08:43] wflrz123 commented on #3662
我下载develop版本推理部署的时候会报错

[2021-07-12 09:29] chenxuezhao commented on #3653
训练过程中还会报错：
![image](https://user-images.githubusercontent.com/42796059/125263135-5abc6500-e335-11eb-8e76-c59ff9d6ed4a.png)
修改了如下的配置文件：
configs/ppyolo/ppyolo_tiny_650e_coco.yml：
![image](https://user-images.githubusercontent.com/42796059/125263302-7f184180-e335-11eb-8c6b-f6fce6d7568f.png)

configs/ppyolo/../datasets/coco_detection.yml：
![image](https://user-images.githubusercontent.com/42796059/125

[2021-07-12 09:44] zzzfo commented on #3576
怎么我注释掉也更新了，还是有这个错误啊

[2021-07-12 10:21] #3430 closed, assigned to nemonameless

[2021-07-12 10:21] #3404 closed, assigned to nemonameless

[2021-07-12 10:55] LiangYong1216 commented on #3576
你整理好数据集后好好检查一下图片，我那个是 因为只复制了图片名字导致的错误

[2021-07-12 11:09] Wei-JL opened #3669 "win10 导入 pycocotools一直报错"
[code]

[2021-07-12 12:09] jiangjiajun commented on #3667
openvino在做推理时，需要每个节点的shape都是固定的，因此我们在转openvino进行部署时需要一些trick来解决。

当前主要原因是yolov3模型中最后一个NMS的输入shape虽然是固定的，但是输出的box数量是不确定的，因此会导致转OpenVINO IR时失败，你可以在导出yolov3模型时，去掉最后的NMS来解决这个问题

[2021-07-12 12:52] #3496 closed, assigned to nemonameless

[2021-07-12 13:15] nemonameless commented on #3659
git checkout develop或者git clone https://github.com/PaddlePaddle/PaddleDetection.git -b develop，然后python setup.py install 更新一下覆盖以前安装的paddledet。

[2021-07-12 13:20] Wei-JL commented on #3659
多谢多谢

[2021-07-12 13:59] zzzfo commented on #2979
请问你解决这个问题了吗，我也遇到了这样的问题，我使用ppyolov2训练自己的数据集
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 102, in run
    trainer = Trainer(cfg, mode='train')
  File "/home/wumei/anaconda3/envs/pp/lib/python3.7/site-packages/paddledet-2.1.0-py3.7.egg/ppdet/engine/trainer.py",

[2021-07-12 14:10] yz302 opened #3670 "yolo v3 训练时--eval出现Segmentation fault (core dumped)"
yolo v3 训练时--eval出现Segmentation fault (core dumped)
Python版本：python 3.7
框架版本：PaddlePaddle 2.1.0
PaddleDetection：release/2.1
请开发大哥帮忙分析下log，看看出错的原因
log:
[code]

[2021-07-12 14:13] Wei-JL commented on #3659
Installed /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddledet-2.1.0-py3.7.egg
Processing dependencies for paddledet==2.1.0
Searching for decord
Reading https://pypi.org/simple/decord/
Downloading https://files.pythonhosted.org/packages/11/79/936af42edf90a7bd4e41a6cac89c913d4b47fa48a26b042d5129a9242ee3/decord-0.6.0-py3-none-manylinux2010_x86_64.whl#sha256=51997f20be8958e23b

[2021-07-12 14:34] nemonameless commented on #3662
什么报错呢？动态图版本release/2.1分支或develop我们都自测过可以的。

[2021-07-12 14:41] #3510 closed, assigned to heavengate

[2021-07-12 14:41] #3504 closed, assigned to nemonameless

[2021-07-12 14:42] #3559 closed, assigned to nobody

[2021-07-12 14:43] #3546 closed, assigned to nobody

[2021-07-12 14:43] #3552 closed, assigned to nobody

[2021-07-12 14:44] #3499 closed, assigned to nobody

[2021-07-12 15:10] nemonameless commented on #3659
手动安装 pip install decord，或者源码安装参考 https://github.com/dmlc/decord#installation

[2021-07-13 00:48] gaooolianggg commented on #2061
@JimXu1989 dsznb

[2021-07-13 01:07] ResonLee opened #3671 "使用develop版本的paddledetection边训练边评估mask-rcnn,无评估结果"
cuda：10.1
paddlepaddle：develop版本
paddledetection：develop版本
显卡：2080Ti*2
系统：ubuntu 16.04
使用paddle mask-Rcnn训练自己的数据集，（数据集没问题，用solov2训练过的）模型使用mask_rcnn_r50_fpn_1x_coco.yml，使用对应的预训练权重文件mask_rcnn_r50_fpn_1x_coco.pdparams，训练配置文件如下：
epoch: 36
LearningRate:
  base_lr: 0.0025
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones: [24, 32]
  - !LinearWarmup
    start_factor: 0.001
    steps: 2000
O

[2021-07-13 01:17] ZiQiangXie opened #3672 "OOM问题，多尺度训练没有问题，但是测试时采用大尺度会报错。"
CascadeRCNN模型，训练时采用了7个尺度进行多尺度训练，训练完成后，采用最大的前两个尺度进行验证集的评估，都会出现out of memory的问题，采用中间尺度也几乎将gpu占满；
环境：Ubuntu18.04，1080ti单卡，paddle2.0.1，没有同时跑其他模型，训练没有使用fp16；
训练过多个模型，目前发现两个模型出现问题，采用中间尺度生成的结果是对的，而且效果较好，所以网络结构和训练都应该没有问题。

[2021-07-13 01:23] 15162162323 commented on #3667
@jiangjiajun

您的意思是需要去掉yml中的 nms吗？我使用的是yolov3_darknet53_270e_coco 这个配置，export_model.py导出模型，然后pd-->onnx-->ir，最后还是有同样的报错
`[ ERROR ]  Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.front.user_data_repack.UserDataRepack'>): Original placeholders: 'im_shape, image, scale_factor'. Freezing was requested for ''. --input_shape was provided without --input. Can not deduce w

[2021-07-13 02:32] nemonameless commented on #3671
是训练了几个epoch测的？可能是训练早期效果太低。建议可以用训好的coco模型去finetune，效果会比从头开始训要好很多，一开始精度也很高了。

[2021-07-13 02:38] JackLee-Python commented on #3671
训练36个epoch, 训练效果低的话也不至于最后一轮也是这样吧，而且训练完后检测自己的数据，任何目标都检测不出来啊
在说mask-rcnn的mask_rcnn_r50_fpn_1x_coco网络性能应该也可以吧，半个月前用还是能训练出来的，但是这次是任何东西都训练不出来

[2021-07-13 03:07] ResonLee commented on #3671
@nemonameless 训练36个epoch, 训练效果低的话也不至于最后一轮也是这样吧，而且训练完后检测自己的数据，任何目标都检测不出来啊
说mask-rcnn的mask_rcnn_r50_fpn_1x_coco网络性能应该也可以吧，半个月前用还是能训练出来的，但是这次是任何东西都训练不出来

[2021-07-13 03:14] Wei-JL commented on #3659
代码：
!paddle_lite_opt \
    --model_file=output_inference/fairmot_dla34_30e_1088x608/model.pdmodel \
    --param_file=output_inference/fairmot_dla34_30e_1088x608/model.pdiparams \
    --optimize_out=output_inference/fairmot_dla34_30e_1088x608 \
    --optimize_out_type=naive_buffer \
    --valid_targets=arm

Loading topology data from output_inference/fairmot_dla34_30e_1088x608/model.pdmodel
Loading

[2021-07-13 03:18] Feeyao opened #3673 "deploy/cpp 测试一张图片, result重复输出一组object"

[2021-07-13 03:22] wddwzwhhxx opened #3674 "cascade-rcnn什么时候支持多batch_size推理？"
# rpn proposals
        rpn_rois = self.rpn_head.get_proposals(body_feats, im_info, mode=mode)

        if mode == 'train':
            #fluid.layers.Print(gt_bbox)
            #fluid.layers.Print(is_crowd)
            rpn_loss = self.rpn_head.get_loss(im_info, gt_bbox, is_crowd)
        else:
            if self.rpn_only:
                im_scale = fluid.layers.slice(
                    im_info,

[2021-07-13 03:22] nemonameless commented on #3671
训练log最后方便截图看看吗?半个月前训代码是同一个分支同一份吗？

[2021-07-13 03:26] #3673 closed, assigned to nobody

[2021-07-13 03:30] lizhangling1 opened #3675 "目标检测 Serving http响应问题"
给予PaddleDetection 进行目标检测训练，之后进行serving模型部署。

发起http请求：
curl -H "Content-Type:application/json" -X POST -d '{"feed":[{"image":  "/Users/lizhangling/Downloads/beizi608.jpeg"}], "fetch":["save_infer_model/scale_0.tmp_1"]}' http://127.0.0.1:9292/detection/prediction
返回：
{"result":"cannot reshape array of size 1 into shape (3,608,608)"}

请问该如何解决？

[2021-07-13 03:37] Flyingdog-Huang commented on #3511
您好，按照您的指导操作后依旧报错，切换分支后我也重新安装了，您看是什么原因，谢谢

git checkout develop
Already on 'develop'
Your branch is up to date with 'origin/develop'.
(paddle_env) hlx@hlx:~/objectDetection/ht/project/PaddleDetection$ python setup.py install
Using /home/hlx/anaconda3/envs/paddle_env/lib/python3.7/site-packages
Finished processing dependencies for paddledet==2.1.0
(paddle_env) hlx@hlx:~/objectDetection/ht/project/Pa

[2021-07-13 04:09] ResonLee commented on #3671
@nemonameless
![image](https://user-images.githubusercontent.com/54474938/125388858-da4c4180-e3d2-11eb-8234-9efee4333477.png)
最后训练训练日志大概都是这样，今天又试了两次，还是这样，这次训练到17轮就让它停下来了。
同一个develop分支，这次训练的环境是重新配的。

[2021-07-13 05:43] nemonameless commented on #3671
训练过程不正常，几个loss是什么时候开始变成nan的？在某个loss变nan之前的那个epoch可以测下看是多少。loss为nan的原因很多不易排查，急用的话建议可以用训好的coco模型去finetune。

[2021-07-13 05:56] ResonLee commented on #3671
@nemonameless 从第一个epoch开始，就出现了nan,如下图， 我就是加载官方的预训练模型做finetune训练的，训练命令为“CUDA_VISIBLE_DEVICES=6,7 python tools/train.py -c configs/mask_rcnn/mask_rcnn_r50_fpn_1x_coco.yml --use_vdl=true --vdl_log_dir=vdl_log_dir/scalar -o pretrain_weights=weights/mask_rcnn_r50_fpn_1x_coco.pdparams --eval”
![image](https://user-images.githubusercontent.com/54474938/125398533-08854d80-e3e2-11eb-859f-42863825c8d2.png)

[2021-07-13 06:12] learningpro commented on #3581
of course in docker, please see the first post
使用的是dockerhub上的 paddlepaddle/paddle:2.1.1-gpu-cuda11.2-cudnn8 镜像

[2021-07-13 08:21] heavengate commented on #3671
看你训练过程中出nan了，看训练命令是两卡跑的，有可能是现在配置的针对8卡的学习率对于两卡来说过高了，可以参考FAQ调整一下学习率试一下
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/FAQ.md

[2021-07-13 08:22] heavengate commented on #3672
具体用的哪个模型哪个尺度呢，可以把`EvalReader`里的batch size调小一点试下

[2021-07-13 08:23] heavengate commented on #3674
你好，cascade rcnn的batch size > 1推理还在验证，faster rcnn和mask rcnn用最新的develop是支持的

[2021-07-13 08:25] heavengate commented on #3670
你好，你用的哪个配置文件呢，有做什么修改么，还有这个问题是必现的么

[2021-07-13 08:27] liuhuiCNN commented on #3675
你好，这里需要feed的是图像内容数据，并不是图像文件。您可以参考下deploy下代码或者PaddleServing的示例。

[2021-07-13 08:29] heavengate commented on #3669
[code]
看报错信息是你Microsoft Visual C++版本太低，需要安装14.0版本
参考 https://blog.csdn.net/weixin_40547993/article/details/89399825

[2021-07-13 08:36] zsffuture opened #3677 "ttfnet推理出现问题"
本人没有训练直接使用官方提供的模型进行测试，发现输出存在问题，检测目标框不正确：
1.输入的命令：
python tools/infer.py -c configs/ttfnet/ttfnet_darknet53_1x_coco.yml --infer_dir E:\yc\image2 -o weights=configs/ttfnet/pafnet_10x_coco.pdparams  --draw_threshold 0.2 --output_dir E:\yc/ttt
2.经过测试使用yolov3的模型测试可以通过
3.ttfnet 的检测结果如下，明明有车和人检测不出来：
![image](https://user-images.githubusercontent.com/39027951/125419616-c271f02e-1940-4c57-9331-0ecd02ecbba2

[2021-07-13 08:37] yz302 commented on #3670
@heavengate 使用的是官方提供的yaml,改了datsset的路径，训练自己的数据，经过测试，bech_size=1时会出现问题，改为2后正常训练

[2021-07-13 08:43] wang-hao-feng opened #3678 "ppyolo v2训练时加载完参数就退出"
使用ppyolo v2训练时，加载完resnet的参数后，报提示

输出完几秒后程序退出

现在定位到退出发生在ppdet/engine/trainer.py第307行处的语句
`
outputs = model(data)
`

[2021-07-13 08:46] xiaotantongxue123 opened #3679 "paddleDetection在训练时出现Out of memory error on GPU 0. Cannot allocate 39.062744MB memory on GPU 0, 7.900513GB memory has been allocated and available memory is only 29.437500MB."
loading annotations into memory...
Done (t=0.10s)
creating index...
index created!
2021-07-13 16:34:21,130-INFO: iter: 0, lr: 0.000012, 'loss_cls_0': '1.152286', 'loss_loc_0': '0.000001', 'loss_cls_1': '0.545614', 'loss_loc_1': '0.000001', 'loss_cls_2': '0.289684', 'loss_loc_2': '0.000000', 'loss_rpn_cls': '0.694718', 'loss_rpn_bbox': '0.003722', 'loss': '2.686026', eta: 0:00:00, batch_cost: 0.000

[2021-07-13 09:00] nemonameless commented on #3677
你的运行命令-c config和-o weights不一致

[2021-07-13 09:14] nemonameless commented on #3679
先检查0号卡是否已被其他程序任务占满，若显卡不够用可以减小batchsize或减小输入图尺寸，一般在configs/xxx/_base_/xxx_reader.yml里的TrainReader修改 RandomResize的target_size 以及batch_size等相关数值

[2021-07-13 09:55] jiangjiajun commented on #3667
1. 导出不含nms的yolov3模型

2. 安装Paddle2ONNX

3. 转为ONNX格式

4. 转为OpenVINO IR，注意指定shape信息

[2021-07-13 10:22] xiaotantongxue123 commented on #3679
batch_size改为1，target_size下面为三个数：- 640 - 800 - 1024改为- 512 - 640  - 800，查了显存没有被占用，出现错误：
RuntimeError: ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 49.000244MB memory on GPU 0, 7.916138GB memory has been allocated and available memory is only 13.437500MB.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on anot

[2021-07-13 11:25] yumeng88 commented on #2198
我也是这个错误，请问你是如何解决的？ @thomas-yanxin

[2021-07-13 11:46] yumeng88 commented on #2198
@AngZhai

[2021-07-13 14:07] Mr-ind1fferent opened #3680 "paddle detection 里的ppdet/modeling/reid怎么用"
如题

[2021-07-13 14:41] 15162162323 commented on #3667
多谢大佬，此方法实测有效，悟了！

[2021-07-13 14:52] ResonLee commented on #3671
@nemonameless 训练前学习率按这个改了，2个GPU设置学习率0.0025，训练batch_szie为4

[2021-07-13 14:54] nemonameless commented on #3680
这个是作为多目标跟踪的reid部分或者类似reid功能的部分的代码。fairmot_embedding_head.py和jde_embedding_head.py顾名思义是fairmot jde的和检测并行的reid分支，pyramidal_embedding.py是deepsort的，采用PCBPyramid (PCB + Pyramidal)，resnet.py是pyramidal_embedding的主干网络，和检测的backbone略有不同，PCBPyramid ResNet101是paddleclas训好的精度极高的行人reid模型，所以可以直接用于deepsort的行人跟踪。

[2021-07-13 14:57] Mr-ind1fferent commented on #3680
该如何使用pyramidal这个py文件实现行人reid

[2021-07-13 15:12] nemonameless commented on #3680
这部分是网络主体。可以参考 PaddleClas的reid模型，比如https://github.com/PaddlePaddle/PaddleClas/blob/develop/docs/zh_CN/application/vehicle_recognition.md

[2021-07-13 15:13] nemonameless commented on #3678
建议使用Paddle 2.1，PaddleDetection 2.1或develop分支

[2021-07-13 15:18] Mr-ind1fferent commented on #3680
可以更改为清华大学的行人reid数据集完成行人reid吗

[2021-07-13 15:23] nemonameless commented on #3680
做reid的思路是基本统一的，换数据集从头训应该是可以的。

[2021-07-13 15:28] Mr-ind1fferent commented on #3680
有具体的readme介绍如何训练吗，没有找到> > > > > > 如题

[2021-07-13 15:28] Mr-ind1fferent commented on #3680
有具体的readme介绍吗，如何训练

[2021-07-13 15:33] XianrenYty commented on #3662
我也是develop分支导出模型报错
[code]

[2021-07-14 02:01] ZiQiangXie commented on #3672
模型自己做了一点点的修改，下面是配置文件的一些信息。

_BASE_: [
  'cascade_rcnn_dcn_r50_fpn_1x_coco.yml',
]
pretrain_weights: pretrained_weights/ResNeXt152_64x4d_pretrained.pdparams
weights: output/cascade_rcnn_dcn_x152_vd_64x4d_fpn_1x_coco/model_final

ResNet:
  depth: 152
  groups: 64
  base_width: 4
  variant: d
  norm_type: bn
  freeze_at: -1
  return_idx: [0,1,2,3]
  num_stages: 4
  dcn_v2_stages: [1,2,3]

RPNHead:

[2021-07-14 02:54] heavengate commented on #3677
你好，你用的`ttfnet_darknet53_1x_coco`的配置文件但是用的`pafnet_10x_coco.pdparams`的权重，权重需要与配置文件对应

[2021-07-14 02:54] wang-hao-feng commented on #3678
使用的就是2.1版本

[2021-07-14 02:56] heavengate commented on #3678
`outputs = model(data)`
是跑到这一行退出了？把data打印出来看下呢

[2021-07-14 02:57] heavengate commented on #3679
这个是显存不够的报错，可以看看卡上是不是有其他任务，或者调小`TrainReader.batch_size`试下

[2021-07-14 03:04] blackxer opened #3682 "PaddleServing 运行出错"
问题：
按官方文档导出模型：python tools/export_model.py -c configs/yolov3/yolov3_darknet53_270e_coco.yml -o weights=weights/yolov3_darknet53_270e_coco.pdparams --export_serving_model=True
开启server服务，运行客户端测试代码
python ../../deploy/serving/test_client.py ../../demo/000000014439.jpg
服务端报错：
Error Message Summary:
----------------------
InvalidArgumentError: The Tensor in the elementwise_div Op's Input Variable Y(sc

[2021-07-14 03:04] wang-hao-feng commented on #3678
https://paste.ubuntu.com/p/TCRSNw2GhZ/
（data）
进入model函数后都是在跑forward的时候退出，昨天调出来的

[2021-07-14 03:43] xiaotantongxue123 commented on #3679
查看卡上没有其他任务，batch_size=1，出现错误：
index created!
2021-07-14 11:41:08,006-INFO: iter: 0, lr: 0.000012, 'loss_cls_0': '1.105609', 'loss_loc_0': '0.000000', 'loss_cls_1': '0.540752', 'loss_loc_1': '0.000000', 'loss_cls_2': '0.235018', 'loss_loc_2': '0.000000', 'loss_rpn_cls': '0.701424', 'loss_rpn_bbox': '0.009759', 'loss': '2.592563', eta: 0:00:00, batch_cost: 0.00003 sec, ips: 38479.85321 images/sec
W0

[2021-07-14 04:00] ziyanyang opened #3683 "关于oidv5模型相关的一些问题"
你好！
我尝试着用一部分google open image dataset来train这个模型
（https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/oidv5/cascade_rcnn_cls_aware_r200_vd_fpn_dcnv2_nonlocal_softnms.yml)
关于configuration file有几点疑问：
1.在Train Reader中：
  dataset:
      !COCODataSet
      dataset_dir: dataset/oid
      anno_path: train.json
      image_dir: train
是不是意味着你们在train的时候先把数据集转换成coco的形式然后做的training？

[2021-07-14 05:46] xzkzdx opened #3684 "为什么程序执行过程中有时候Process finished with exit code -1073741819，没有报错程序自动退出了"
isinstance(merge_dct[k], collections.Mapping)):
2021-07-14 13:44:02,054-INFO: Found 1 inference images in total.
2021-07-14 13:44:07,022-INFO: Not found annotation file annotations/instances_val2017.json, load coco17 categories.
2021-07-14 13:44:12,082-INFO: Infer iter 0
2021-07-14 13:44:12,095-INFO: Detection bbox results save in output/images\32.jpg

Process finished with exit code -1073741819 (

[2021-07-14 05:56] Mr-ind1fferent opened #3686 "请问pedestrian在paddledetection里的预训练模型用了什么数据集"
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/pedestrian/README_cn.md这里的

[2021-07-14 06:10] JianJingGao commented on #3264
C++的，不是Pyhon的

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Liang ***@***.***>
发送时间: 2021年6月24日 17:55
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] Pass tensorrt_subgraph_pass has not been registered. (#3264)

windows下不是有吗？这不是你们官方提供的带trt的库吗？
https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows

―
Y

[2021-07-14 06:10] RaidenCJ commented on #3520
遇到同样问题，有人能解答下吗？

[2021-07-14 07:03] aishangmaxiaoming commented on #2420
我也遇到这个问题

[2021-07-14 07:03] aishangmaxiaoming commented on #2420
请问解决啦吗

[2021-07-14 07:13] aiwenzhu opened #3688 "ppyolov2训练失败"
[code]

直接就停掉了，没开始训练

[2021-07-14 07:17] raymondchu-z opened #3689 "关于PPYOLOv2模型压缩"
请问现在有针对paddle2.1版本，PPYOLOv2的模型压缩相关的文档和实验数据吗？
想通过对训练好的PPYOLOv2模型（backbone为R50vd）蒸馏得到一个较小的模型，降低推理时延。

[2021-07-14 07:40] aishangmaxiaoming commented on #2420
我是内部的同学，能拉个群解决下吗

[2021-07-14 08:09] wangxinxin08 commented on #3264
@JianJingGao windows下面暂时没有trt的python包

[2021-07-14 08:11] JianJingGao commented on #3264
嗯嗯 我已经自行编译了 这个问题可以关掉了，谢谢。
期待SOLOV2在trt的加速和Swin Transformer推出

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ***@***.***>
发送时间: 2021年7月14日 16:10
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] Pass tensorrt_subgraph_pass has not been registered. (#3264)

@JianJingGao<https://github.com/JianJingGao> windows下面暂时没有trt的python包

―
You

[2021-07-14 08:14] chenxuezhao commented on #3653
@wangxinxin08 请问，能帮忙看下这个问题吗？

[2021-07-14 08:17] chenxuezhao opened #3692 "paddle=2.1.1 ,paddleDetecton=release2.1训练时异常退出。"
请帮忙看下这个问题
[https://github.com/PaddlePaddle/PaddleDetection/issues/3653](url)

[2021-07-14 09:00] zzzfo commented on #3576
ok,感谢

[2021-07-14 09:52] MatchX commented on #3688
你查看你的scipy版本如果高于1.3.3 可以尝试安装1.3.3版本

[2021-07-14 09:54] MatchX commented on #3678
你查看你的scipy版本如果高于1.3.3 可以尝试安装1.3.3版本

[2021-07-14 10:06] aiwenzhu commented on #3688
谢谢，可以了，不过我3080的卡bathsize只能设2，而且看log打印的速度比fastrcnn和yolov3慢好多，训练完一个epoch会弹出那段warning，这正常吗

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年7月14日(周三) 下午5:53
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] ppyolov2训练失败 (#3688)

你查看你的scipy版本如果高于1.3.3 可以尝试安装1.3.3版本

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2021-07-14 12:24] jerrywgz commented on #3692
https://github.com/PaddlePaddle/PaddleDetection/issues/3653 继续跟进

[2021-07-14 12:24] #3692 closed, assigned to nobody

[2021-07-14 12:25] jerrywgz commented on #3653
单独eval是否会有问题呢，另外能否提供下配置文件

[2021-07-14 12:29] jerrywgz commented on #3689
https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/slim 可以先参考这个文档，目前我们验证了yolov3_r34蒸馏yolov3_mobilenetv1模型

[2021-07-14 12:30] zzzfo commented on #812
我使用ppyolo训练自己的数据集也出现了这个问题，配置文件中没有use_default_label:呀

[2021-07-14 12:31] jerrywgz commented on #3688
warning目前已经在Paddle develop分支隐藏掉了，后续发布的paddle whl中里不会再出现这些warning，本身是不影响训练的

[2021-07-14 12:32] jerrywgz commented on #3686
使用的是内部业务数据集，是不开源的

[2021-07-14 12:33] jerrywgz commented on #3684
保存的检测图片是否正常呢，使用的是哪个模型？

[2021-07-14 12:37] jerrywgz commented on #3683
是的，这里是会对数据集格式提前进行转换，暂时应该是需要把oid数据的metric改成COCO做evaluation

[2021-07-14 12:38] jerrywgz commented on #3682
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/serving 可以先参考这里的文档对相应文件做下修改

[2021-07-14 13:37] zzzfo opened #3694 "使用ppyolo训练出错"
输入训练命令以后出现这个错误，数据集的路径都已经设置好了，label_list也只有fire

[code]

[2021-07-14 13:40] ghost opened #3695 "请问paddle2.0.1可以运行动态图版的ppyolov2模型嘛"
请问paddle2.0.1可以运行动态图版的ppyolov2模型嘛

[2021-07-14 13:42] zzzfo commented on #767
请问在voc.py中怎么修改呀，我使用ppyolo训练也遇到了类似的问题，我所训练的数据集使用yolov5成功训练过，应该不是数据集有问题吧

[2021-07-14 14:42] chenxuezhao commented on #3653
@jerrywgz 训练的时候，不加--eval也报错。报错信息如下：
![image](https://user-images.githubusercontent.com/42796059/125641622-b6ac5124-f75a-41b1-9482-c69e936d27bd.png)
配置文件请看之前的截图，用红框框出来的地方，是我修改过的。

[2021-07-14 18:50] ziyanyang commented on #3683
好的，明白了。
还有一个问题是关于参数num_classes，这个OIDV5的num_classes设置的是501，是不是就是原来的500个加上一个background？那么with_background这个参数（这个configuration里没出现）默认值是不是True？

[2021-07-14 22:49] mosheliv opened #3697 "python api"
do you have python api like mmdetection that easily allows you to configure new dataset and modify configuration using code?

in mmdetection you can do something like:

@DATASETS.register_module()
class XXXDataset(CustomDataset):

    CLASSES = ("ignored regions", ...., "others")

    def load_annotations(self, ann_file):
.
.

and modify the config like this:
cfg = Config.fromfile('./configs/fp16/

[2021-07-15 00:32] chenxuezhao commented on #3653
配置文件我也上传一下（coco/ppyolo_tiny）：
[ppyolo.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6819551/ppyolo.zip)

[2021-07-15 02:31] jerrywgz commented on #3694
person这个字段是voc数据集下的字段，label_list的路径需要设置为dataset_dir的相对路径，也就是绝对路径为os.path.join(self.dataset_dir, self.label_list)

[2021-07-15 02:32] jerrywgz commented on #3695
建议使用Paddle2.1版本 + PaddleDetection release/2.1分支训练ppyolov2模型

[2021-07-15 02:34] jerrywgz commented on #3683
在静态图下，with_background默认为True, 同时num_classes也还是需要设置为501

[2021-07-15 02:42] #3596 closed, assigned to heavengate

[2021-07-15 02:43] #3639 closed, assigned to nobody

[2021-07-15 02:43] zyl112334 opened #3698 "ppyolo tiny转onnx后，Unexpected input data type. Actual: (tensor(uint8)) , expected: (tensor(float))"
转为onnx后，查看onnx模型的图，输入如下：
im_shape
name: im_shape
type: float32[-1,2]
image
name: image
type: float32[-1,3,608,608]
scale_factor
name: scale_factor
type: float32[-1,2]

代码：
img = cv2.resize(img, (608, 608))
img = img.transpose((2, 0, 1))
img = np.expand_dims(img, axis=0)
input_dict = {"image":img, "im_shape":np.array([[608, 608]],dtype=np.float32), "scale_factor": np.array([[1, 1]],dtype=np.float32

[2021-07-15 02:43] #3633 closed, assigned to nobody

[2021-07-15 02:45] #3509 closed, assigned to nemonameless

[2021-07-15 02:45] jerrywgz commented on #3529
目前已经支持voc数据集训练

[2021-07-15 02:45] #3529 closed, assigned to nobody

[2021-07-15 03:21] xzkzdx commented on #3684
obj365, infer_dir里几万张图，识别几百张时候就退出了，也不报错

[2021-07-15 03:25] zzzfo commented on #3694
我改了也没有用呀，而且运行anchor_cluster.py也是报这个错。。。

[2021-07-15 03:34] zzzfo commented on #3694
这是我的配置文件

[code]

label_list.txt,test.txt,train.txt,,trainval.txt,,val.txt均在dataset/fire_detection/VOCdevkit/VOC2007目录下

[2021-07-15 06:15] z0y1 commented on #3657
关键点推理，同样出现EvalAffine未定义错误。
切换到develop分支后，执行python setup.py install。再次运行推理
python deploy/python/keypoint_infer.py --model_dir=./output_inference/higherhrnet_hrnet_w32_512_swahr --device=CPU --camera_id=0

出现如下错误:
------------------------------------------
Traceback (most recent call last):
  File "deploy/python/keypoint_infer.py", line 378, in <module>
    main()
  File "deploy/python/keypoint_infe

[2021-07-15 08:08] gss-bai opened #3700 "paddle serving部署faster rcnn模型出错"
infer_cfg.yml文件如下：

[code]

执行客户端预测报错：

[code]

请问该问题如何解决？

[2021-07-15 08:46] zzzfo commented on #3694
我改了label_list的路径，没有用，而且运行anchor_cluster.py也是报这个错。。。

[2021-07-15 10:13] wanghaisheng commented on #3664
@qingqing01 如果要了解具体文字内容 ocr我是知道
我想请问下 车牌、公交站牌、书籍这些属于物体检测的类别吗 还是说压根就不属于
或者问题是目前的676类别中包含文本字符的类别有哪些 我的关注点可能偏了 字符在这些类别区分的特征中贡献度应该很低

[2021-07-15 10:48] yuanwei0908 opened #3702 "想把ppyolo训练的模型部署在华为海思的开发板上，但是海思的nnie引擎不支持DCN可变形卷积，请问如何用常规卷积进行替代"

[2021-07-15 11:45] ghost opened #3703 "训练ppyolo完后显存没有释放应该怎么解决"
训练ppyolo完后显存没有释放应该怎么解决，也没有找到对应的id
<img width="599" alt="截屏2021-07-15 下午7 44 53" src="https://user-images.githubusercontent.com/87430649/125782798-694cb764-8642-4106-94b5-183c7bcaa1b9.png">

[2021-07-15 12:20] ghost opened #3704 "单卡可以训练，多卡训练不了如何解决"
<img width="1032" alt="截屏2021-07-15 下午8 19 26" src="https://user-images.githubusercontent.com/87430649/125786995-4dfd55db-a492-4faa-b093-c4c0c8316319.png">
<img width="1309" alt="截屏2021-07-15 下午8 17 16" src="https://user-images.githubusercontent.com/87430649/125787005-6060a5d6-6d45-42db-81f7-cea6d003be47.png">

[2021-07-15 12:41] wujitiana commented on #3343
请问解决了吗？我也遇到同样的问题。当我使用几张数据集运行时，是可以正常训练的，当数据集多点时就报这个错。

[2021-07-16 02:58] raymondchu-z commented on #3702
配置里面dcn

  depth: 50
  variant: d
  return_idx: [1, 2, 3]
  dcn_v2_stages: [-1]

dcn_v2_stages: [-1]这个设-1就行

[2021-07-16 03:00] raymondchu-z commented on #3689
@jerrywgz 请问，`split_distiil`和`DistillPrune`分别指的什么？
我看split_distiil的teacher模型是可以用不同的backbone的大模型的，那DistillPrune也可以吗？

[2021-07-16 03:12] hymanzhu1983 commented on #2420
这个bug已经几个月了，是该解决了吧

[2021-07-16 03:16] Andy546 opened #3705 "YOLOV3训练的文本检测模型，经常出现偏差"
【黄埔学院】
使用yolov3_mobilenet_v1.yml配置文件进行训练的模型，场景为检测发票的特定信息，如发票代码、发票号码。
在数据标注时只标注了发票代码、发票号码，但是测试时发现检测框经常出现偏移，框出其他区域或者少框一部分信息，如下图，有没有大佬遇到过这种情况？求助
![20190509133722769](https://user-images.githubusercontent.com/10570127/125886262-4c23cea7-6f01-43f9-aeb3-ad775cc35a71.jpg)

[2021-07-16 03:46] raymondchu-z commented on #3689
@jerrywgz
1. distill的教师模型是需要训练好的吗？
2. 这个压缩策略的[配置文件](https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/slim/extensions/yolov3_mobilenet_v1_coco_distill_prune.yml)改怎么解读？pruned_params指的是student模型还是teacher模型的？

[2021-07-16 06:14] raymondchu-z commented on #3689
@jerrywgz
压缩的训练能使用多卡吗？

[2021-07-16 08:02] NLPOR commented on #2241
与paddle相关的初始化模块不要在主进程import，全部在子进程中进行import就可以

[2021-07-16 08:33] wddwzwhhxx opened #3706 "dataset/voc/create_list.py 文件运行不通"
import sys
import os.path as osp
import logging
# add python path of PadleDetection to sys.path
parent_path = osp.abspath(osp.join(__file__, *(['..'] * 3)))
if parent_path not in sys.path:
    sys.path.append(parent_path)

from ppdet.utils.download import create_voc_list

logging.basicConfig(level=logging.INFO)

voc_path = osp.split(osp.realpath(sys.argv[0]))[0]
create_voc_list(voc_path)
---------

[2021-07-16 09:05] JensenGao commented on #2797
最新的工程在“[源码编译安装](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/INSTALL_cn.md)”（release 2.1）的时候也会报上面相同的问题；
我的解决方法是：先安装工程依赖（requirements.txt），再继续执行 “python setup.py install” 就ok了，这里好像是 shellcheck-py有个依赖问题。
你们可以验证下，我遇到了就提一下。

[2021-07-16 10:25] NikolaTeslein commented on #3663
您好！
我在paddledtection的rcnn系列configs配置文件里并没有找到可以设置开启autoaugment的地方，请问还可以更具体一些嘛？我在使用的ppdet是2.0.1版本。&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2021.7.16

------------------ 原始邮件 ------------------
发件人: qingqing01 ***@***.***&gt;
发送时间: 2021年7月12日 13:49
收件人: PaddlePa

[2021-07-16 14:20] Madfoid opened #3707 "安装完成后使用cpu测试报错TypeError: predict() got an unexpected keyword argument 'save_txt'"
python infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=false weights=C:\Users\user1\Downloads\ppyolo_r50vd_dcn_1x_coco.pdparams --infer_img=demo/000000014439.jpg
Traceback (most recent call last):
  File "infer.py", line 162, in <module>
    main()
  File "infer.py", line 158, in main
    run(FLAGS, cfg)
  File "infer.py", line 137, in run
    savetxt=FLAGS.savetxt)
TypeError: p

[2021-07-16 16:10] qqwantu opened #3708 "尝试在aistudio上使用paddle_detection时报错"
alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if data.dtype == np.object:
W0716 23:29:34.475000   349 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API

[2021-07-17 01:36] LiangYong1216 opened #3709 "训练完成后效果很差"
我的数据集有400+张图片，五个类别，我训练了2000个epoch，训练最终的损失为19，进行推测的时候显示的最高的置信度只有0.06，这个需要怎么解决？

[2021-07-17 03:03] JensenGao commented on #3535
俺也一样，设置batch size = 1就可以

[2021-07-17 17:17] laodu233 commented on #2044
您好，请问您是怎么解决的鸭

[2021-07-17 18:09] ChengzhenDu commented on #2044
将cudnn64_7.dll保存至CUDA\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin目录下

[2021-07-18 04:38] lyuwenyu commented on #3703
可以用 `ps aux` 查看下

[2021-07-18 04:43] lyuwenyu commented on #3704
可以在指定的`--log_dir`目录里查看`workerlog.1`具体的报错信息

[2021-07-18 04:49] lyuwenyu commented on #3709
数据少了点，训练时间多了点
建议
1. 在官方提供的coco模型的基础上fineturn
2. \+ freeze backbone <或者这个部分lr调小点>
3. \+ 数据

[2021-07-18 07:28] LiangYong1216 commented on #3709
好的好的，我加大数据量再试试，谢谢啦😊------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年7月18日(星期天) 中午12:49
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] 训练完成后效果很差 (#3709)

[2021-07-18 07:29] dhao-island opened #3711 "检测视频时，检测不到目标"
下面是输出，希望大佬能指出问题和解决思路，谢谢
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If

[2021-07-18 07:33] dhao-island commented on #3711
环境是在ai studio，下面是命令代码
! python PaddleDetection-release-2.0-rc/deploy/python/infer.py --model_dir=inference_model/faster_rcnn_r50_1x/ --video_file=fire_test/fire.mp4 --use_gpu=True  --thresh=0.2

[2021-07-18 11:42] liuhuiCNN commented on #3707
请在命令行中指定 save_txt参，以官方ppyolo为例：
`python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_2x_coco.yml -o weights=ppyolo_r50vd_dcn_1x_coco.pdparams  --infer_img=demo/000000014439_640x640.jpg --save_txt=True`

[2021-07-18 11:49] liuhuiCNN commented on #3706
是的

[2021-07-18 11:52] liuhuiCNN commented on #3705
不太明白您的问题，可以再详细说明一下吗？
如果预测结果错误，（1）先用官方模型看下预测代码是否正常；（2）如果预测代码正常，那就是模型没有训练好。

[2021-07-18 14:12] Madfoid commented on #3707
修改后依然报错TypeError: predict() got an unexpected keyword argument 'save_txt'

[2021-07-18 14:16] Madfoid commented on #3707
修改后依旧报错TypeError: predict() got an unexpected keyword argument 'save_txt'
(venv) C:\Users\user1\Downloads\PaddleDetection-release-2.1\venv\Scripts\PaddleDetection\tools>python infer.py -c C:\Users\user1\Downloads\PaddleDetection-release-2.1\configs\ppyolo\ppyolo_r50vd_dcn_2x_coco.yml -o use_gpu=false weights=ppyolo_r50vd_dcn_1x_coco.pdparams --infer_img=demo\000000014439_640x640.jpg --save_txt=Tru

[2021-07-18 16:00] itues opened #3712 "ppyolov2_r50vd_dcn_365e_coco 模型无法运行"
win10  python3.6.4 paddleDetection2.1
无法运行ppyolov2_r50vd_dcn_365e_coco模型，报错如下，但是配置文件本来就没有那个参数，不知道怎么解决
![image](https://user-images.githubusercontent.com/86935392/126073947-a74a625d-5aaa-4c8c-993b-9544147c9c3a.png)

[2021-07-18 21:47] alicekillen commented on #3500
我也遇见了这个问题，可以问下您的解决方法吗