[2021-05-20 11:57] heavengate commented on #3089
你好，由于`ppyolo_mobilenet_v3_large`模型比较小，而YOLO系列模型的预处理数据增强比较复杂，所以一般是CPU是性能瓶颈，才出现了你上面的表现，如果你的CPU使用率还有余量，可以通过增大`num_workers`的方法来提升训练速度

[2021-05-20 13:02] heavengate commented on #3090
你好，把`configs/faster_rcnn/_base_/faster_reader.yml`里`num_workers`改成0看下具体报啥错呢

[2021-05-20 13:04] heavengate commented on #3091
你好，这个原因比较多，可以排查下：
1. 是不是训练轮数不够，模型还没有收敛，如果是训练自己的数据集，可以试下加载我们发布好的coco数据集上的预训练权重来finetune来加速收敛
2. 可以排查一下预测的时候加载权重是否正确
3. 可以把`--draw_threshold`设置小一点试下

[2021-05-20 13:43] JustinHuang1984 commented on #3089
我的CPU是有富足的，但是感觉把workers_num改大一点效果也没有啊

[2021-05-20 14:33] zhude233 commented on #3091
同样的模型，在不同的机子上，有的有框，有的没有，请问是什么原因？

[2021-05-21 01:46] ximitiejiang commented on #3090
config里边我训练时已经是设成0
[code]

[2021-05-21 01:51] luuuyi commented on #3087
@heavengate 了解

[2021-05-21 01:51] #3087 closed, assigned to nobody

[2021-05-21 01:54] 642721838 commented on #3085
老师您好，谢谢您的解答，但是你说的yolov3_mobilenet_v1_coco.yml和configs/datasets/coco_detection.yml两个文件我都没找到，是因为版本的问题吗，我用的是PaddleDetection-release-0.5 这个版本的。谢谢，祝好！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"

[2021-05-21 02:27] liuhuiCNN commented on #3091
不同机器上环境是否一致？

[2021-05-21 02:55] heavengate commented on #3085
release/0.5这个版本比较老了，我们发布了release/2.1版本，可以更新一下版本试下

[2021-05-21 03:04] quhaohao opened #3098 "不同版本的预训练模型"
您好，注意到2.1版本和2.0-rc版本里关于 solov2的预训练模型数量不一样https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/solov2/README.md
以及 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0-rc/configs/solov2/README.md
它们之间可以相互转化吗？
另外 ，我是2.0-rc版本里的solov2在cpu上推理时，为何只使用了一个线程，怎样改线程呢？

最后，PaddleDetection YYDS

[2021-05-21 03:15] AN-ZE opened #3099 "数据输入上的提问"
使用cascade rcnn训练，我只能想修改输入数据的通道维度，在进入网络前进行修改。
例如 将图像预处理之后，将数据修改为1维数据或者四维数据，只修改NormalizeImage就可以把。bbox的信息是不会变化的，只是增加或减少一维图像数据。
感谢！

[2021-05-21 03:15] heavengate commented on #3090
上面还有其他报错信息么

[2021-05-21 03:19] heavengate commented on #2820
你好，develop及新发布的release/2.0上已修复~

[2021-05-21 03:19] #2820 closed, assigned to nobody

[2021-05-21 03:20] heavengate commented on #2814
你好，鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-21 03:20] #2814 closed

[2021-05-21 03:21] heavengate commented on #2806
你好，最新发布的release/2.1已经解决了此问题~

[2021-05-21 03:21] #2806 closed, assigned to heavengate

[2021-05-21 03:23] heavengate commented on #2774
你好，鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-21 03:23] #2774 closed, assigned to nobody

[2021-05-21 03:24] heavengate commented on #2726
你好，鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-21 03:24] #2726 closed, assigned to nobody

[2021-05-21 03:30] #3029 closed, assigned to nobody

[2021-05-21 04:10] xuanyuanbao opened #3100 "Out of memory erroe on GPU0"
Out of memory error on GPU 0. Cannot allocate 18.062744MB memory on GPU 0, available memory is only 17.537501MB.

Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease the batch size of your model.

 (at D:\v2.0.1\paddle\paddle\fluid\memory\allocation\cuda_allocator.cc:69)
. (at D:\v2.0.1\paddle\pad

[2021-05-21 05:25] usuixingyili commented on #2999
谢谢。我这边在静态图模型下可以预测完所有帧。

[2021-05-21 05:39] jerrywgz commented on #3098
2.0-rc中的版本为静态图solov2，2.1版本中为动态图版本，两份权重不能直接转化，但是精度是等价的，也推荐使用2.1动态图版本～
在2.1版本中，可以设置--cpu_threads来改cpu推理线程

[2021-05-21 05:44] jerrywgz commented on #3099
在输入方面，还需要修改Permute，目前我们会在Permute中将图片做这种操作```im = im.transpose((2, 0, 1))```
另外backbone第一个卷积需要设置in_channels为实际输入图像的channel数

[2021-05-21 05:51] jerrywgz commented on #3100
You could try ```export FLAGS_allocator_strategy=auto_growth ```
And you need to check whether the GPU is able to carry your model.

[2021-05-21 05:52] xuanyuanbao commented on #3100
谢谢，我已经改了batch_size的大小了

[2021-05-21 06:26] AN-ZE commented on #3099
![图片](https://user-images.githubusercontent.com/29450812/119091419-a0e4fe80-ba3f-11eb-8005-51db0c28307c.png)

是这里是吧，数据到这里应该是 [batch size, 3通道，h, w], 我修改成我需要的1通道，或者4通道就可以吧。

数据方面，我只是人工删除或添加了数据通道，数据 还是 (h,w,c) 只是c变了，Permute应该不用修改。

[2021-05-21 06:42] linyangsdu opened #3105 "关于 find_unused_parameters 的含义和影响"
我在训练过程中遇到了如下错误:

Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/root/paddlejob/workspace/code/PaddleDetection/ppdet/engine/trainer.py", line 307, in train
    outputs = model(data)
  File "/opt/conda/lib/python

[2021-05-21 06:49] Cristhine opened #3106 "ppyolov2训练异常"
背景：使用ppyolov2 voc数据格式进行训练 训练到199epoch hang住 无进展(四卡训练) log无错误信息 只是卡住
![image](https://user-images.githubusercontent.com/26667855/119094472-a6dcde80-ba43-11eb-9ad5-45e98b7c4022.png)

[2021-05-21 07:18] ximitiejiang commented on #3090
重试了一下，有时候还有一段如下。
但这段之后还会继续运行直到我前面的报错出现。
[code]

[2021-05-21 07:27] jinhaoyang007 opened #3107 "使用676类提供的yaml进行预测，yaml读取失败"
File "/opt/conda/envs/yolo5_py3.8/lib/python3.8/site-packages/yaml/constructor.py", line 412, in construct_undefined
    raise ConstructorError(None, None,
yaml.constructor.ConstructorError: could not determine a constructor for the tag '!DecodeImage'
  in "/676/cascade_rcnn_cbr101_vd_fpn_server_side.yml", line 123, column 5

[2021-05-21 08:01] AN-ZE commented on #3099
另外，首页README中 推理部署，lite部署和server部署，超链接地址写反了

[2021-05-21 08:46] jerrywgz commented on #3100
使用的是哪个模型呢，我这边测试下

[2021-05-21 09:14] jerrywgz commented on #3099
截图中的修改位置是对的，关于permute，这个op我们现在是统一放在normalize后面了，所以如果normalize的输出结果变了，permute也需要做相应调整的

[2021-05-21 09:14] jerrywgz commented on #3099
感谢反馈，已经修复了

[2021-05-21 09:17] jerrywgz commented on #3105
请问是哪个模型遇到了这个问题呢，目前可以在配置文件中设置find_unused_parameters, 可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/mot/jde/_base_/jde_darknet53.yml#L3
关于这个参数的含义和影响，可以参考这个pr中的说明https://github.com/PaddlePaddle/Paddle/pull/32826

[2021-05-21 09:18] jerrywgz commented on #3106
可以尝试将配置文件中的worker_num减少至0观察下是否出错

[2021-05-21 09:19] jerrywgz commented on #3107
目前cascade_rcnn_cbr101_vd_fpn_server_side.yml只在静态图中集成，需要想要使用请在static目录下运行，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/static

[2021-05-21 09:29] AN-ZE commented on #3099
感谢！

[2021-05-21 09:29] #3099 closed, assigned to nobody

[2021-05-21 10:15] JustinHuang1984 opened #3117 "2,0版的anchor_cluster.py写不进数据到yml文件里了吗"
![1621591978(1)](https://user-images.githubusercontent.com/59753769/119121824-748daa00-ba60-11eb-9ccd-5b4af5d63163.png)

[2021-05-21 10:38] Mr-ind1fferent opened #3118 "更新后续训错误"
name 'item' is not defined

[2021-05-21 10:40] 1429392157 commented on #3118
![image](https://user-images.githubusercontent.com/74087260/119125131-0519b980-ba64-11eb-8162-3b1a0bce608c.png)

[2021-05-21 11:56] zhude233 commented on #3118
使用2.0版本的ppYOLOv2权重无法在2.1版本的paddleDetection上继续训练

[2021-05-21 12:06] jinhaoyang007 commented on #3107
谢谢，static中检测ok。

[2021-05-21 12:10] lao-xu opened #3119 "ssd eval时会出错"
动态图下ssd训练，执行
!python tools/train.py -c configs/ssd/ssd_vgg16_300_240e_voc.yml --eval -o use_gpu=true
eval时报错：
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/home/aistudio/PaddleDetection/ppdet/engine/trainer.py

[2021-05-21 12:54] linyangsdu commented on #3105
是在训练 cascadercnn r50 dcn的时候遇到的问题，在aistudio中训练的，链接为:
https://aistudio.baidu.com/studio/project/partial/verify/1849265/49507f7ab6544a4fad12a10436560701

[2021-05-21 12:59] 1429392157 commented on #3118
![Uploading image.png…]()

[2021-05-21 12:59] Mr-ind1fferent commented on #3118
![image](https://user-images.githubusercontent.com/74087260/119141067-6b5c0780-ba77-11eb-9e55-733eee53800f.png)

[2021-05-21 13:11] xuanyuanbao opened #3120 "raise Exception("File {} is not a paddle parameter file""
Traceback (most recent call last):
  File "D:/develop/PythonProject/MyPaddleX/FasterRCNN01.py", line 50, in <module>
2021-05-21 21:07:14 [INFO]	Load pretrain weights from output/faster_rcnn_hrnet_fpn\pretrain\HRNet_W18.
    model.train(
  File "D:\develop\PythonProject\venv\lib\site-packages\paddlex\cv\models\faster_rcnn.py", line 355, in train
    self.net_initialize(
  File "D:\develop\PythonPro

[2021-05-21 13:18] xuanyuanbao commented on #3100
在  README_cn.md    文件中的
                 快速开始.md中的一段代码
python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml --eval -o use_gpu=true

batch_size默认是8，我将其改成了4就可以啦

[2021-05-21 13:37] JustinHuang1984 commented on #3117
解决了

[2021-05-21 13:37] #3117 closed, assigned to nobody

[2021-05-21 13:56] quhaohao commented on #3098
嗯嗯，我尝试了2.1版本，里边使用多线程可以进行加速。然而，2.0-rc版本中有公开了101的solov2模型，2.1版本还没公开。
请问101会在接下来更新吗

[2021-05-21 13:58] lao-xu commented on #3119
抱歉，已经解决了

[2021-05-21 13:58] #3119 closed, assigned to nobody

[2021-05-21 14:23] ANewAnonymous opened #3121 "关于ppyolov2训练网络模型的输入大小"
如果我的预测目标是1920*1080的图像，我不想图片被resize到608x608，这样会造成拉伸，我是否可以将他除以2以 960x544的输入大小进行模型训练和预测
如下配置:
[code]

[2021-05-22 03:04] yunchangxiaoguan opened #3123 "多目标跟踪预测报错AttributeError: 'NoneType' object has no attribute 'shape'"
CUDA_VISIBLE_DEVICES=0 python3 tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=models/fairmot_dla34_30e_1088x608.pdparams --video_file=docs/abc.mp4  --save_videos
W0522 11:01:55.408041 29704 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.0, Driver API Version: 10.2, Runtime API Version: 10.2
W0522 11:01:55.413640 29704 device_context.cc

[2021-05-22 03:16] ANewAnonymous commented on #3123
和你一样的问题  应该是bug  我还没有解决方法

[2021-05-22 03:19] yunchangxiaoguan commented on #3123
原来是这样，我还搞了好半天，windows，linux都试了

[2021-05-22 04:41] huilin16 opened #3124 "动态图使用相关问题"
请问动态图中如何使用res2net作为backbone，CBResNet应如何在动态图中使用

[2021-05-22 05:12] Mr-ind1fferent commented on #3118
need help !!!!!!!!!

[2021-05-22 08:33] fujianhai opened #3125 "多目标跟踪deploy代码"
您好，多目标跟踪（Multi-Object Tracking）只有训练代码，部署代码 c++ 请问会提供吗？

[2021-05-22 09:34] #3057 closed, assigned to nobody

[2021-05-22 09:38] xupengao opened #3126 "fcos训练自定义数据集，loss正常下降，但是map值上升到一定值后，一直下降"
ap值很低，0.5以上只有0.56，是因为过拟合了么

[2021-05-22 10:10] zxsitu opened #3127 "Paddle框架和Pytorch框架，在检测速度方面的差距大？"
开发者您好，我因为使用Win10系统，所以没法使用主流的目标检测框架（detectron2或者mmdetection等），考虑使用paddledetection完成我的研究。paddle框架下的模型训练很正常，检测精度也很高，但为什么检测速度会比pytorch框架的模型或代码差那么多呢？
我使用
1、[YOLOv5](https://github.com/ultralytics/yolov5)进行YOLOv5的训练，200个epoch，其中YOLOv5s的检测精度AP为0.231，FPS为80.0（批大小为1）；YOLOv5x的检测精度AP为0.311，FPS为18.5（批大小为1）。
2、[YOLOv4](https://github.com/WongKinYiu/PyTorch_YOLOv4)进行YOLOv4的训练，200个epoch，检测精度AP为0.266，FPS为22.6（批大小

[2021-05-22 11:34] #2956 closed, assigned to nobody

[2021-05-22 14:09] quhaohao opened #3128 "deploy/python/infer.py 的seg结果和原图大小不一致"
您好，我在使用solov2推测时，结果的seg和原图大小不一致，似乎是padding的那部分没有考虑？
![image](https://user-images.githubusercontent.com/65381750/119229348-28b72f80-bb4a-11eb-8379-c174b91398f1.png)
如图，左边是seg的大小，后边是原图的大小。

[2021-05-22 14:31] jerrywgz commented on #3120
这里从代码上看应该是需要在output/faster_rcnn_hrnet_fpn\pretrain\ 下添加HRNet_W18预训练权重，详细问题可以在https://github.com/PaddlePaddle/PaddleX/issues 中提问～

[2021-05-22 14:54] JustinHuang1984 opened #3129 "请问目前2.0支持ppyolo,ppyoloV2 Anchor聚类方法吗"
请问目前2.0支持ppyolo,ppyoloV2 Anchor聚类方法，发现在ppyolov2_r50vd_dcn模型使用Anchor聚类方法V2,精度反而更差，默认的anchors反而精度更高

[2021-05-22 15:07] jerrywgz commented on #3125
目前我们还在做deploy代码的适配，预计会在6月份提供

[2021-05-22 16:41] nemonameless commented on #3123
@ANewAnonymous @yunchangxiaoguan   已修复了

[2021-05-22 17:09] jerrywgz commented on #3121
https://github.com/PaddlePaddle/PaddleDetection/pull/3132 这个pr修复了BatchRandomResize中两维输入的问题，合入后即可支持960x544的输入大小进行模型训练和预测

[2021-05-23 12:09] yghstill commented on #3124
@huilin16
- res2net可以参考配置文件：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/res2net
- CBResNet在动态图下还没集成，我们会最近看下排期支持一下CBResNet，感谢反馈。

[2021-05-23 12:13] yghstill commented on #3126
@xupengao 看你的mAP先升后降的现象，应该是过拟合，建议增加一些数据增强方法，或者不宜训练过多epoch

[2021-05-23 14:10] JustinHuang1984 opened #3133 "使用自定义coco数据集训练，可以正常训练，但label list里的label不会变成自定义的label"
使用自定义coco数据集训练，可以正常训练，训练出来的模型也是能正常推理的，检查json文件也是没问题的，但infer_cfg.yml文件里的label list里的label不会变成自定义的label,想问下这样是正常吗？
![1621778620(1)](https://user-images.githubusercontent.com/59753769/119263864-5f0cb180-bc13-11eb-9581-5972c77dcc10.png)

[2021-05-24 01:28] CandyCook opened #3134 "使用fairMot进行检测视频时失败"
使用ffmpeg将mot图片以每秒25帧的速度合成为一个视频，进行预测时会报错

[05/24 09:27:40] ppdet.engine.tracker INFO: Starting tracking out.mp4
[mov,mp4,m4a,3gp,3g2,mj2 @ 0x5615b4c5f800] moov atom not found
VIDIOC_REQBUFS: Inappropriate ioctl for device
[05/24 09:27:40] ppdet.data.source.mot INFO: Length of the video: 0 frames
Traceback (most recent call last):
  File "tools/infer_mot.py", line 115, in <module>
    main()
  File

[2021-05-24 01:51] liuhuiCNN commented on #3134
你， 提示的问题是读取video失败，去掉视频脚本是： https://github.com/PaddlePaddle/PaddleDetection/blob/653ebe9fa2a15d966797153fe47d5aa4af2604bc/ppdet/data/source/mot.py#L325
（1）请检查video路径是否正确；（2）请写个简单读取视频脚本，测试一下cv2是否能够正常读取视频文件（确认下解码库安装是否正常）。

[2021-05-24 01:53] liuhuiCNN commented on #3133
请您检查一下 config.yml 中的TestReader中数据路径配置是否正确。

[2021-05-24 02:07] wangxinxin08 commented on #3127
你好，请问各个模型给出的FPS是怎么测量得到的？

[2021-05-24 02:10] jerrywgz commented on #3118
Please check the weight you want to resume has the same class num with your model. The error message actually means the shape of loaded weight and model weight is not same. And I verify that PPYOLOv2 is correct when resuming

[2021-05-24 02:15] JustinHuang1984 commented on #3133
是的，这个地方的路径填写错了，感谢回复

[2021-05-24 02:15] #3133 closed, assigned to nobody

[2021-05-24 02:22] JustinHuang1984 commented on #3089
我发现把batch_size调到1，显存使用量会下降，但是cuda使用率就提高了，速度就起来了

[2021-05-24 02:22] #3089 closed, assigned to nobody

[2021-05-24 02:28] #3019 closed, assigned to nobody

[2021-05-24 02:28] FL77N opened #3136 "模型保存设置"
你好，请问关于模型保存的 epoch 在哪设置呢，比如我想10个epoch保存一次，而且只保存最好的，如果精度没提高就不保存，应该怎么设置呢？

[2021-05-24 02:34] jerrywgz commented on #3098
嗯会的，我们后续会更新下solov2的动态图model zoo

[2021-05-24 02:42] FL77N commented on #3136
还有一个问题需要请教，就是随机种子在哪设置呢

[2021-05-24 02:43] #3107 closed, assigned to nobody

[2021-05-24 02:46] jerrywgz commented on #3105
能否贴下添加find_unused_parameters后的报错信息呢

[2021-05-24 02:48] liuhuiCNN commented on #3129
您好，ppdet中ppyolov2 和 ppylo使用的anchor聚类方法是一样的，请问您说的两个聚类方法指的是ppdet中的聚类方法吗？请您再检查一下参数设置是否正确？训练时是否有其他参数不一样？

[2021-05-24 02:53] liuhuiCNN commented on #3133
好的，本issue先关闭了。

[2021-05-24 02:54] #1851 closed

[2021-05-24 02:56] #3068 closed, assigned to nobody

[2021-05-24 02:58] #3041 closed, assigned to nobody

[2021-05-24 02:59] #1789 closed

[2021-05-24 03:02] #1671 closed

[2021-05-24 03:02] #1701 closed

[2021-05-24 03:02] TingquanGao opened #3137 "bug"
使用摄像头时报错，此时`image_list`似乎不是list类型。
https://github.com/PaddlePaddle/PaddleDetection/blob/653ebe9fa2a15d966797153fe47d5aa4af2604bc/deploy/python/infer.py#L101

[2021-05-24 03:05] #1915 closed

[2021-05-24 03:08] #2050 closed

[2021-05-24 03:10] #2280 closed, assigned to nobody

[2021-05-24 03:17] yghstill commented on #3128
@quhaohao 感谢反馈，是padding的部分没考虑到，我们定位下问题

[2021-05-24 03:27] #3062 closed, assigned to nobody

[2021-05-24 03:29] WonDaniel opened #3139 "Too many open files"
在跑训练的时候，第二天发现类似如下出现报错，
W0523 11:10:54.705610 843051 default_variables.cpp:429] Fail to open /proc/self/io: Too many open files [24]
以及
OSError: [Errno 24] Too many open files
Exception ignored in: <bound method _DataLoaderIterMultiProcess.__del__ of <paddle.fluid.dataloader.dataloader_iter._DataLoaderIterMultiProcess object at 0x7f48802afc88>>
Traceback (most recent call last):
  File "/home/lesma

[2021-05-24 03:29] jerrywgz commented on #3053
能否提供少量测试数据呢，我本地验证下，可以发我邮箱jerrywgz@126.com

[2021-05-24 03:31] yghstill commented on #2999
@usuixingyili 行人车辆检测YOLOv3模型cuda error的问题已定位解决，请利用release/2.1分支最新代码重新导出模型再进行测试吧，感谢反馈。

[2021-05-24 03:31] #2999 closed, assigned to heavengate

[2021-05-24 03:31] #2995 closed, assigned to nobody

[2021-05-24 03:31] xialei2821212670 commented on #3053
mask_rcnn_x101_vd_64x4d_fpn_2x_coco也是这个问题，目前我直接注释eval,不知道如何选取bestmodel

[2021-05-24 03:32] #2962 closed, assigned to nobody

[2021-05-24 03:33] #2931 closed, assigned to nobody

[2021-05-24 03:43] JustinHuang1984 commented on #3129
是一样的，参数是 v-n 9 -s 416 -m v5 -i 1000，会生成一个anchors，填入这个anchors精度还没默认的anchors精度高，训练时其它参数完全一模一样

[2021-05-24 04:57] #3010 closed, assigned to nobody

[2021-05-24 05:21] zxsitu commented on #3127
@wangxinxin08 对于YOLOv3、v4、v5都是一样的测试代码，使用[test.py](https://github.com/ultralytics/yolov5/blob/9f3a388cea66ca71b9bbe057929eed8fbc920a7e/test.py)。
举例：
测试YOLOv5s的代码如下`python test.py --data data/coco128.yaml --weights runs/train/yolov5s-ch/weights/best.pt --verbose --save-txt --batch-size 1 --name yolov5s-ch-inference-b1`
[code]

而测试PP-YOLO系列时，我使用[tools/eval.py](https://github.com/PaddlePaddle/PaddleDe

[2021-05-24 05:32] CandyCook commented on #3134
在本地windows执行测试脚本OK，在AI STUDIO里面运行测试脚本报错
aistudio@jupyter-801182-1980974:~/PaddleDetection-release-2.1$ python testcv2.py
[mov,mp4,m4a,3gp,3g2,mj2 @ 0x5557c56d5340] moov atom not found
VIDIOC_REQBUFS: Inappropriate ioctl for device
false

[2021-05-24 05:50] JustinHuang1984 commented on #3047
Cuda更新到10.2就行了

[2021-05-24 05:50] #3047 closed, assigned to wangxinxin08

[2021-05-24 05:58] wangxinxin08 commented on #3127
1. 请使用deploy/python/infer.py进行测速, 一般不使用tools/eval.py进行测速，yolov5的测速方式其实有些tricky，也就是不同的图片被resize到了不同的尺寸
2. 如果重新训练了模型的话，进行精度评估的时候不要使用--bias选项
3.  看tiny，ppyolo以及ppyolov2精度的差距，认为ppyolo应当没有设置合理的参数，精度偏低，ppyolov2_r50vd精度应当略低于yolov5x

[2021-05-24 06:37] xuanxiaoliqu opened #3140 "infer.py mask_rcnn"
Traceback (most recent call last):
  File "infer.py", line 640, in <module>
    main()
  File "infer.py", line 601, in main
    predict_video(detector, FLAGS.camera_id)
  File "infer.py", line 556, in predict_video
    im = visualize_box_mask(
  File "D:\projects\PaddleDetection\deploy\python\visualize.py", line 42, in visualize_box_mask
    im = draw_mask(
  File "D:\projects\PaddleDetection\depl

[2021-05-24 07:35] AlexDish opened #3143 "PaddleDetection有没有提供导出为预训练模型的方法？"
如题，PaddleDetection有没有提供导出为预训练模型的方法？

目前已经掌握PaddleDetecton导出推理模型。
现在想导出自己的预训练模型，以便以后直接使用。
不知道目前的PaddleDetection有没有提供？

[2021-05-24 08:25] bbbxixixixi opened #3146 "ppdet release2.1 ppyolo eval阶段卡住不动了"
aistudio环境
删了自带的paddle，装了2.1版本
!pip uninstall paddlepaddle-gpu -y
!python -m pip install paddlepaddle-gpu==2.1.0.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html

打印到这里停住了
[05/24 16:15:44] ppdet.engine INFO: Epoch: [0] [ 80/111] learning_rate: 0.000003 loss_xy: 6.073504 loss_wh: 17.499689 loss_iou: 22.053421 loss_iou_aware: 4.175320 loss_obj: 22606.914062 loss_cls: 20.444160 loss: 22664.

[2021-05-24 08:31] bbbxixixixi commented on #3146
看了下https://github.com/PaddlePaddle/PaddleDetection/issues/3106
work_num改成0 也卡

[2021-05-24 08:44] swx954068967 opened #3147 "mask rcnn训练出错 ValueError: (InvalidArgument) Broadcast dimension mismatch."
尝试mask rcnn训练出错，报错如下：

windows系统
python 3.8

paddledet                          2.1.0
paddleocr                          2.0.2
paddlepaddle-gpu                   2.1.0.post112
paddleseg                          2.0.0rc0

(Paddle) D:\Paddle\PaddleDetection\PaddleDetection>python tools/train.py -c configs/mask_rcnn/mask_rcnn_r50_vd_fpn_2x_wfyc0524.yml --eval --use_vdl=True --vdl_log_dir="./output" -

[2021-05-24 09:13] AN-ZE opened #3148 "2.1安装失败"
[code]
[code]
### 在paddle2.1官网api搜索，也没找到这个 'paddle.fluid.dataloader.collate'

paddledet安装方式是使用

[code]

[2021-05-24 09:16] jerrywgz commented on #3053
已经定位到问题，https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/modeling/post_process.py#L165 可以现在这一行的align_corner设置为True.align_corner为False是会有越界的情况，我们会在下版本的paddle中修复

[2021-05-24 09:39] AN-ZE commented on #3136
新版本的在runtime.yml中设置
snapshot_epoch: 1

旧版本在每个配置文件中设置
snapshot_iter: 29715

训练的时候加入验证集，就会自动生成应该base_model, 用来保存val集中mAP最高的一个。

[2021-05-24 09:45] AN-ZE commented on #3143
导出模型，作为预训练模型？
不需要导出，直接修改配置文件中 预训练模型权重
修改成自己训练生成的模型，作为预训练模型，也算是迁移学习了
[code]

[2021-05-24 10:56] xialei2821212670 commented on #3053
好的，之前训练的如何评估啊

[2021-05-24 11:14] zxsitu commented on #3127
@wangxinxin08 非常感谢您详细的解释！
1、我使用`deploy/python/infer.py`重新进行测速了，以下的结果应该很准确了：
PP-YOLO：Inference: 43.99475574493408 ms per batch image
PP-YOLOv2：Inference: 46.183576583862305 ms per batch image
PP-YOLO-tiny：Inference: 8.215279579162598 ms per batch image
[code]
2、我取消了`--bias`重新测试了PP-YOLO和PP-YOLO-tiny（PP-YOLOv2我没有设置bias选项），感觉差距不大，没关系了。
PP-YOLO的AP从0.226→0.227
PP-YOLO-tiny的AP从0.173→0.174

3、我的PP-YOLO的配置

[2021-05-24 11:18] dzz416 opened #3149 "怎么用训练模型接着训练？？？？？"
用paddledetection 中的pygraph中的config更改了预训练模型得地址:
pretrain_weights: ./output/faster_rcnn_x101_vd_64x4d_fpn_1x_coco/9
#pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/ResNeXt101_vd_64x4d_pretrained.tar
为什么还是从头开始训练？

[2021-05-24 11:19] dzz416 commented on #2842
为什么我试了没有用呢

[2021-05-24 11:31] wangxinxin08 commented on #3127
1. 关于ppyolo的训练，lr / (batch_size * num_of_gpus)应当等于定值，如果是8卡，bs=2的话，需要/12， warmup的step可以再调整一下，其他的配置文件看起来没有太大问题，请问你是用的paddle版本和paddledetection版本是什么？
2. 关于测速，补充下，yolov5其实是fp16的速度，所以一般比fp32的速度快

[2021-05-24 11:49] dzz416 opened #3150 "加载了自己训练的预训练模型为什么没有用？"

[2021-05-24 11:53] wangxinxin08 commented on #3137
感谢你的反馈，你可以在https://github.com/PaddlePaddle/PaddleDetection/blob/653ebe9fa2a15d966797153fe47d5aa4af2604bc/deploy/python/infer.py#L553 修改frame为[frame]，将其变为image_list，后续我们会修复这个bug

[2021-05-24 11:56] wangxinxin08 commented on #3146
这个是由于模型训练不充分导致后处理非常慢，可以拉一下最新的代码或者把--eval去掉

[2021-05-24 11:58] wangxinxin08 commented on #3147
看起来是fpn过程出错，应该是没有pad到32的整整数倍，可以贴一下reader的配置文件

[2021-05-24 11:59] quhaohao commented on #3140
是padding的问题，代码对于seg没有考虑padding的部分，因此seg的大小大于原图

[2021-05-24 11:59] wangxinxin08 commented on #3148
安装paddle 2.1应该能解决这个问题，这个api的文档暂时没有暴漏出来

[2021-05-24 12:02] wangxinxin08 commented on #3149
resume请参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/tools/train.py#L51，即指定-r /path/to/your/weights来resume

[2021-05-24 12:03] wangxinxin08 commented on #3150
可能的原因为：
1.没有正确的指定预训练模型的路径
2.如果需要resume训练的话，需要使用--resume /path/to/your/weights来加载原先的模型

[2021-05-24 12:04] wangxinxin08 commented on #3148
参考这里https://www.paddlepaddle.org.cn/安装paddlepaddle_gpu==2.1.0

[2021-05-24 12:06] zxsitu commented on #3127
@wangxinxin08 谢谢指教。
1、请问我因为怕运行GPU内存过大，所以设置`batch-size=2`，单卡，所以`学习率=默认值/（单卡×批大小）＝0.01/（8×12）=0.00010417`吗？我看以前的教程，说，如果加载预训练模型的话，有必要可以再调低一点点的学习率，不然loss会出现nan。
我的paddle版本是`paddlepaddle-gpu 2.0.2.post110`
paddledetection版本是`release/2.0`
2、明白，谢谢您的提醒，我会加以备注。

[2021-05-24 12:07] wangxinxin08 commented on #3136
可以使用paddle.seed, random.seed设置随机种子，可以参考此处进行修改https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/env.py#L33

[2021-05-24 12:23] wangxinxin08 commented on #3127
是的，学习率可以先按照0.0001进行设置，如果出nan，可以再调整学习率

[2021-05-24 12:36] zxsitu commented on #3127
好的，非常感谢您专业详细的解释。

[2021-05-24 12:45] FL77N commented on #3136
谢谢，我在使用 paddledetection 2.0.2 源码，在aistudio 脚本任务进行单机四卡训练一直出现以下错误

INFO 2021-05-24 17:17:14,611 launch_utils.py:307] terminate all the procs
ERROR 2021-05-24 17:17:14,611 launch_utils.py:545] ABORT!!! Out of all 4 trainers, the trainer process with rank=[3] was aborted. Please check its log.
INFO 2021-05-24 17:17:17,615 launch_utils.py:307] terminate all the procs
[INFO]: train job failed! train_ret

[2021-05-24 12:47] wangxinxin08 commented on #3136
@FL77N 可以减小reader中的worker_num，猜测是由于共享内存不够导致的

[2021-05-24 12:50] FL77N commented on #3136
额，我已经由8减为了4仍会出错，还需要继续减小吗

[2021-05-24 12:52] wangxinxin08 commented on #3136
可以继续减小下

[2021-05-24 12:53] FL77N commented on #3136
嗯嗯我直接设置为1试试

[2021-05-24 13:07] FL77N commented on #3136
依然会报错

[2021-05-24 13:28] FL77N commented on #3136
你好，我减小了batch_size 不会报错了，但是报了显存不够，请教一下，config设置的batch_size，比如4，在多卡训练的时候是每张卡都是4，还是每张卡为 4/num_gpu呢？

[2021-05-24 13:42] Darki-luo opened #3154 "ValueError: (InvalidArgument) : yml配置None识别为str"

[2021-05-24 13:43] Darki-luo commented on #3154
这个是套件里本身的yml，没有改动的

[2021-05-24 13:50] liwang54321 opened #3155 "jetson使用paddle inference部署ppyolov出错"

[2021-05-24 14:04] liwang54321 commented on #3155
输入搞错了，打扰了，不好意思

[2021-05-24 15:11] GlennLoveZhen0124 opened #3156 "paddleDetection训练时，显存有占用，但是浮点计算一直是0%，而且训练速度很慢"
请问这个问题怎么解决

[2021-05-24 15:39] AlexDish commented on #3143
了解，我先试试，不过目前尝试使用A数据集训练出的模型加载后，重新训练回A数据集本尊的，再到eval时，mAP只有0.1%，loss也是从很大开始。
我再研究研究。

[2021-05-25 01:36] dzz416 commented on #3149
train.py: error: unrecognized arguments: -r output/faster_rcnn_x101_vd_64x4d_fpn_1x_coco/9还是不行

[2021-05-25 01:37] dzz416 commented on #3150
train.py: error: unrecognized arguments: --resume output/faster_rcnn_x101_vd_64x4d_fpn_1x_coco/9还是不行

[2021-05-25 01:47] gss-bai opened #3157 "paddledetection预测为0"
paddledetection2.0中使用faster_rcnn_r55_vd_fpn_2x，train很正常，loss在下降。但eval时map一直全是0，可视化预测结果是原图，没有标注框，请问这个是什么原因造成的？同样的数据在paddledetection0.4上的faster_rcnn_r55_vd_fpn_2x可以用，在2.0版本的yolov3上也可以用

[2021-05-25 02:11] lyuwenyu commented on #3154
代码方便贴一下嘛，   （ 另外paddle版本是哪个， 2.1 Tensor/VarBase支持indexing包括Integers Slices tuples

[2021-05-25 02:35] Darki-luo commented on #3154
paddle版本2.1.0 det套件2.1.0

贴错代码了：
ValueError: (InvalidArgument) Cannot get attribute (value) by type float, its type is class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> >. (at C:\home\workspace\Paddle_release\paddle/fluid/framework/attribute.h:164)

我在backbone添加了自定义的swintransformer, 单独测试backbone的时候是正常输出的，但是使用套件里大测试backbone就会出错。
已经初步确定了bug的地方：

网络结构windows attent

[2021-05-25 02:39] lyuwenyu commented on #3156
1. 查看一下是哪些进程占用GPU资源

2. 建议kill掉占用资源的程序 重新起一下训练过程  另外make-sure是GPU训练

[2021-05-25 02:48] Darki-luo commented on #3154
我把 self.scale = qk_scale or head_dim ** -0.5 调换了一下顺序就正常了，就是self.scale =  head_dim ** -0.5  or qk_scale

[2021-05-25 02:59] lyuwenyu commented on #3157
1. faster_rcnn train 多长时间eval的呢 有没有用pretrained参数初始化
2. eval 数据是否配置正常呢 和 train数据 match
3. 同样的数据配置文件yaml 在yolov3没问题? 建议把脱敏之后的yaml贴一下？

[2021-05-25 03:09] wangxinxin08 commented on #3149
你使用的应该是release/2.0-rc分支吧，可以参考tools/train.py里面的flag设置，如--weight_type=resume -o pretrain_weights=/path/to/weights

[2021-05-25 03:12] OneOneLiu commented on #2241
你好,我也遇到了这个问题,我这边上面的链接打开是会自动跳转到paddle教程首页,没有问题相关信息,请问应该去哪里找呢.

[2021-05-25 03:24] gss-bai commented on #3157
3. yolov3_r50vd_dcn_270e_coco ymal文件如下：
_BASE_: [
  '../datasets/coco_detection.yml',
  '../runtime.yml',
  '_base_/optimizer_270e.yml',
  '_base_/yolov3_r50vd_dcn.yml',
  '_base_/yolov3_reader.yml',
]

snapshot_epoch: 20
weights: output/yolov3_r50vd_dcn_270e_coco/best_model

''coco_detection.yml''
metric: COCO
# num_classes: 80
num_classes: 2

TrainDataset:
  !COCODataSet
    image_dir: train_ima

[2021-05-25 03:25] gss-bai commented on #3157
3. yolov3_r50vd_dcn_270e_coco ymal文件如下：
_BASE_: [
  '../datasets/coco_detection.yml',
  '../runtime.yml',
  '_base_/optimizer_270e.yml',
  '_base_/yolov3_r50vd_dcn.yml',
  '_base_/yolov3_reader.yml',
]

snapshot_epoch: 20
weights: output/yolov3_r50vd_dcn_270e_coco/best_model

''coco_detection.yml''
metric: COCO
num_classes: 2

TrainDataset:
  !COCODataSet
    image_dir: train_images
    anno_path:

[2021-05-25 03:34] wangxinxin08 commented on #3136
每张卡都是4

[2021-05-25 03:36] wangxinxin08 commented on #3139
感谢你的反馈，我们之后定位下问题

[2021-05-25 03:40] qjing666 opened #3159 "保存模型用于预测"
请问训练PaddleDetection模型时使用 save_inference_model保存了模型后，要怎么用这个模型来做预测呢？有相关教程的链接么？

[2021-05-25 03:47] wangxinxin08 commented on #3136
鉴于问题已经解决，此issue将被关闭

[2021-05-25 03:47] #3136 closed, assigned to nobody

[2021-05-25 03:47] wangxinxin08 commented on #3137
鉴于问题已经解决，此问题将被关闭

[2021-05-25 03:47] #3137 closed, assigned to nobody

[2021-05-25 03:58] wangxinxin08 commented on #3150
参考https://github.com/PaddlePaddle/PaddleDetection/issues/3149来解决

[2021-05-25 03:59] #1797 closed

[2021-05-25 04:03] #2329 closed, assigned to nobody

[2021-05-25 04:04] FL77N commented on #3136
谢谢你，提醒了我可能是显存不够，解决了问题

[2021-05-25 04:04] #2273 closed, assigned to nobody

[2021-05-25 05:37] lyuwenyu commented on #3159
参考下边的脚本
- https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python

[code]

[2021-05-25 06:29] ximitiejiang opened #3161 "c++预测部署报错"
你好，
我用自定义数据集训练的模型导出部署模型，预测时报错。
单步进去后在object_detector.cc的line237报错：`predictor_->Run();`
这个模型我之前也在其他数据集训练导出部署过，部署代码应该是ok的，请问下可能是什么原因？
报错信息如下：
[code]

谢谢！

[2021-05-25 06:31] ximitiejiang commented on #3161
模型使用的是fasterrcnn
cuda10.2
cudnn7.6.5
trt6
paddle inference库的版本信息如下
[code]

[2021-05-25 06:58] Williamlizl opened #3162 "ppyolo tensorRT trt_fp16推理相比fluid模式未加速，yolov3加速明显，"

[2021-05-25 07:14] jerryandjune commented on #3053
手动修改为True解决了问题，谢谢！！

[2021-05-25 08:45] ayicherry opened #3163 "yaml.constructor.ConstructorError"
我自定义了一个数据集，继承DetDataSet，也进行了注册和序列化，然后在windows环境下，用pycharm训练自己的数据没有问题。但是在linux端，我在Paddle根目录下，通过python tools/train.py 进行训练的时候，会出现无法解析我定义的数据集的错误yaml.constructor.ConstructorError: could not determine a constructor for the tag '!JsonDataSet'。
       怀疑是不是linux中还需要设置路径什么的？不知道有没有小伙伴知道怎么操作，求指导，谢谢。

[2021-05-25 08:58] lyuwenyu commented on #3163
建议check一下数据路径对不
查考一下

另外数据软连或者放到 `PaddleDetection/dataset`下面

[2021-05-25 09:00] lmk123568 commented on #3022
谢谢，已解决，不过我还是没明白pip install paddledet，和pip install -r requirement.txt区别，为什么这样做就能运行了，以后如果基于paddledet开发新模型，该选择pip安装还是源码编译安装

[2021-05-25 09:08] ayicherry commented on #3163
我检查过了，相对路径和绝对路径我都试过，还是报同样的错。而且如果是数据集路径问题，应该会报类似什么文件不存在这种错误吧，这个yaml的错误感觉是不是import的时候哪个路径有问题，导致这个DataSet类无法实例化？

[2021-05-25 09:36] #3126 closed, assigned to nobody

[2021-05-25 10:45] lyuwenyu commented on #3162
- ppyolo 有部分dcn模块不支持trt，会导致yolov3速度提升比ppyolo明显

- 具体trt对比参考benchmark

[2021-05-25 10:46] liuhuiCNN commented on #3162
请您确认以下几点：（1）硬件是否支持trt16；（2）ppyolo 和 yolov3测试命令是否一致？
如上回复，您可以参考下 ppdet benchmark： https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/BENCHMARK_INFER.md

[2021-05-25 10:51] lyuwenyu commented on #3161
- 训练结果正确嘛 能够正常eval或者inference嘛
- 看着像没有ROI

[2021-05-25 12:45] ANewAnonymous commented on #3121
我没有看到与此相关的文档，我应该怎么修改配置来使用960x544的输入大小进行模型训练，非常感谢您的帮助
[code]

[2021-05-25 12:50] lyuwenyu commented on #3154
好的, Python里 (a or b)
- a等价True的时候  b就不执行了 返回a的结果,  or语句就结束了
- a等价False的时候直接返回b执行的结果，
- or里等价False的一般都是 0 None []等

- 使用 if else直观点  -.-

[2021-05-25 12:52] lyuwenyu commented on #3163
Windows直接可以用  linux不可以用就很奇怪 -.-
方便贴个代码啥的吗

[2021-05-25 13:01] Darki-luo commented on #3154
我理解这个语法，我是觉得套件里存在bug，我单独运行测试模型的时候（a代指原代码里的self.qkv ,本来就没赋值，默认就是None）a=None(等价False）就是返回b（代指原代码的head_dim ** -0.5）的结果，就是原来测试的0.17左右的值，但是在det套件里运行就是返回的None(不等价False)

[2021-05-25 15:45] #3155 closed, assigned to nobody

[2021-05-25 15:48] liwang54321 opened #3165 "jetson使用deploy中的cpp代码进行部署，使用cpu没有问题，但是用gpu时报错了；"
我编译了paddle inference，在jetson上面，然后使用paddledetection中的deploy中的cpp代码进行部署，使用cpu进行推理没有问题，但是使用gpu参数进行推理时，就报错了，说可能cudaMemcpyAsync failed，请问这个是什么原因呢？
[code]

[2021-05-25 15:50] liwang54321 commented on #3165
使用的模型时ppyolov2在x86上面训练的，部署使用的是jetson nx 搭配编译的paddle inference，使用cpu没有问题，
[code]

[2021-05-25 15:57] pipishaw commented on #3017
paddle-serving-app==0.3.1一开始就安装了的

[2021-05-26 00:34] bbbxixixixi opened #3166 "master分支上的配置文件，学习率都是8gpu为准的吗？"
https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/MODEL_ZOO_cn.md
这一页不改变训练轮数的基础上

比如CBResNet200-vd-FPN-Nonlocal  学习率策略2.5x
https://github.com/PaddlePaddle/PaddleDetection/tree/master/configs/dcn/cascade_rcnn_cbr200_vd_fpn_dcnv2_nonlocal_softnms.yml
base_lr: 0.005

如果用单卡，那lr改成 0.000625

SENet154-vd-FPN  学习率策略1.44x
https://github.com/PaddlePaddle/PaddleDetection/tree/master/configs/dc

[2021-05-26 01:05] PeterJaq opened #3167 "多卡训练ppyolo时出现 std::runtime_error"
我在训练多卡的ppyolo时出现了下列问题，尝试了3次 都会在训练了数百个epoch后出现下列问题，复现100%
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/usr/src/app/pd_detection/ppdet/engine/trainer.py", line 307, in train
    outputs = model(data)
  File "/u

[2021-05-26 01:28] bbbxixixixi opened #3168 "如果数据集的annotation只有bbox，没有segment，mask信息，是不是就不能用maskrcnn了？"
inputs_def:
fields: ['image', 'im_info', 'im_id', 'gt_bbox', 'gt_class', 'is_crowd', 'gt_mask']

相比其他模型会多一个gt_mask

这种情况下，不能默认用bbox当做mask吗？

[2021-05-26 01:44] AN-ZE commented on #3148
谢谢，已解决

[2021-05-26 01:44] #3148 closed, assigned to nobody

[2021-05-26 02:18] CandyCook opened #3169 "使用预训练模型进行infer报错"
![image](https://user-images.githubusercontent.com/50972451/119592733-a067b180-be0b-11eb-8c19-7c8974510f8b.png)

[2021-05-26 02:19] CandyCook opened #3170 "使用预训练模型进行infer报错"
![image](https://user-images.githubusercontent.com/50972451/119592733-a067b180-be0b-11eb-8c19-7c8974510f8b.png)

[2021-05-26 02:23] lyuwenyu commented on #3154
你有打印出来self.qkv是什么嘛

[2021-05-26 02:25] huilin16 commented on #3124
十分感谢，另外，还想请问下MultiClassSoftNMS应该在如何动态图中使用

[2021-05-26 02:26] Darki-luo commented on #3154
有啊，
单独测试模型的时候
self.scale: 0.1767766952966369

在套件里运行的时候：
错误信息：
self.scale: None

[2021-05-26 02:30] wangxinxin08 commented on #3167
收到，可以贴一下你的PaddlePaddle版本，PaddleDetection版本，cuda版本以及cudnn版本吗？我们定位下问题

[2021-05-26 02:38] nemonameless commented on #3166
是的，少于8卡时lr可根据比例调整。推荐使用默认的release/2.1分支或者develop分支，默认使用动态图版本，原先的静态图版本位于static文件夹中。而master分支已很久未更新，默认使用静态图版本，动态图版本位于dygraph文件夹中。

[2021-05-26 02:51] nemonameless commented on #3168
相比于改检测库代码，改数据集标注制作可能更方便实用。在数据集COCO格式的json标注制作时，假设每个框annotation的bbox字段为[x0, y0, w, h]，则新加segmentation字段为[[x0, y0, x0+w, y0+h]]，检测库代码应该不用修改就可以训练Mask R-CNN。

[2021-05-26 02:52] bbbxixixixi commented on #3168
试了下根据bbox生成segment（四个点），也运行不了
配置文件和报错信息如下
paddle master， aistudio 2.1

architecture: CascadeMaskRCNN
max_iters: 300000
snapshot_iter: 10
use_gpu: true
log_iter: 20
save_dir: output
pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/SENet154_vd_caffe_pretrained.tar
weights: output/cascade_mask_rcnn_dcn_se154_vd_fpn_gn_s1x/model_final
metric: COCO
num_classes: 9

CascadeMaskRCNN:

[2021-05-26 02:56] #3170 closed, assigned to nobody

[2021-05-26 02:57] #3166 closed, assigned to nobody

[2021-05-26 02:59] nemonameless commented on #3169
可以提供下运行脚本和PaddlePaddle的版本吗？另外推荐使用release/2.1分支或者develop分支，默认使用动态图版本，原先的静态图版本位于static文件夹中。

[2021-05-26 03:01] nemonameless commented on #3134
可能是AI STUDIO的环境下，cv2不能正常读取视频文件，可以尝试升级或更换cv2版本。

[2021-05-26 03:17] CandyCook commented on #3169
PaddleDetection-release-2.0-rc 以及自带的config/ppyolo/ppyolo.yml

[2021-05-26 04:16] shishi369 opened #3171 "服务器部署debug模式"
请问windows的预测库fluid_inference_install_dir支持debug调试模式吗？
具体地，检测模型进行服务器c++部署时，使用debug生成会报错，与paddle中libpaddle_fluid.lib相关的错误。

[2021-05-26 04:49] nemonameless commented on #3169
请问paddle版本是？我使用paddle 2.1和PaddleDetection的release/2.0-rc版本(默认是静态图)，tools/infer.py和tools/eval.py均可正常运行config/ppyolo/ppyolo.yml。如急需使用可直接使用release/2.1分支或者develop分支。可以再提供更多可复现这个问题的环境或配置细节。

[2021-05-26 04:53] PeterJaq commented on #3146
应该是模型训练不好，导致候选框太多后处理会非常长且缓慢。
可以重新训练或者更新下模型，如果不想的话 matrixNMS里的th score改高一点可以提速，但是可能不一定能有较好的结果

[2021-05-26 05:05] PeterJaq commented on #3167
这是我的

收到，paddleDetection版本为 v2.1.0  通过release下载的https://github.com/PaddlePaddle/PaddleDetection/releases/tag/v2.1.0
paddlepaddle 版本 2.1.0
cuda 11.2

[2021-05-26 05:48] liuhuiCNN commented on #3171
(1) windows的预测库fluid_inference_install_dir是release版本的，不支持debug，若需要debug，您可以自己编译paddle。

[2021-05-26 05:56] shishi369 commented on #3171
请问，有没有预测库fluid_inference_install_dir的编译教程呢？

[2021-05-26 06:12] ayicherry commented on #3163
其实代码端改动也不多，就是自己创建了一个数据集的类，大致如下：
@register
@serializable
class JsonDataSet(DetDataset):
    def __init__(self,
                 dataset_dir,
                 image_dir=None,
                 anno_path=None,
                 data_fields=None,
                 sample_num=-1,
                 label_list=None):
        super(JsonDataSet, self).__init__(dataset_dir, image_dir, anno_path,

[2021-05-26 06:32] liuhuiCNN commented on #3171
https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/windows-compile.html

[2021-05-26 06:40] shishi369 commented on #3171
好的，谢谢

[2021-05-26 06:41] bbbxixixixi commented on #3168
我照着这方法做了，能训练和评估，但是在生成结果的时候报异常了

Evaluate annotation type *segm*
Traceback (most recent call last):
  File "/home/aistudio/PaddleDetection-master/tools/train.py", line 405, in <module>
    main()
  File "/home/aistudio/PaddleDetection-master/tools/train.py", line 326, in main
    cfg['EvalReader']['dataset'])
  File "/home/aistudio/PaddleDetection-master/ppdet/utils/eval_utils.py", line 248, in eva

[2021-05-26 06:54] bbbxixixixi commented on #3168
我看别的实例检测的segment是[x,y,x,y,x,y.....x,y]这样的格式，按照这种生成4个点，又无法运行起来

[2021-05-26 06:56] dzz416 opened #3172 "release 分支测试时生成的json文件没有保存filename怎么可视化"

[2021-05-26 07:00] a2824256 opened #3173 "关于ppyolo-v2的自定义数据集的anchor提取"
根据[官方教程](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/README_cn.md)，使用指定脚本提取anchor的尺寸，-m的参数ppyolo-v2是选择v2还是v5？
`
python tools/anchor_cluster.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml -n 9 -s 320 -m v2 -i 1000
`

[2021-05-26 07:04] a2824256 commented on #3173
使用v5提取的结果如下, 只需要修改ppyolov2_reader.yml的Gt2YoloTarget的anchors部分吗？还是连anchor_masks和downsample_ratios也要修改？
------------------------------输出结果----------------------------------
loading annotations into memory...
Done (t=0.05s)
creating index...
index created!
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████

[2021-05-26 07:50] bbbxixixixi commented on #3168
改成segment;[[x,y,x,y,x,y]]这样的就行了，里面是个list，然后长度不能等于4，cocoapi里面的一个坑

[2021-05-26 07:50] #3168 closed, assigned to nobody

[2021-05-26 08:01] lyuwenyu commented on #3154
我测试了一下 结果时符合预期的啊
- https://github.com/lyuwenyu/PaddleDetection/blob/test_create_v1/tetst_swin.py

- 是不是有同样的名字 导致参数覆盖了

[2021-05-26 08:04] fanweiya opened #3175 "TypeError: Argument 'bb' has incorrect type (expected numpy.ndarray, got list)"
同一批数据使用maskrcnn可以训练，使用solov2报错，2.1和rc2.0版本都是同一个错误
[code]

[2021-05-26 08:15] nemonameless commented on #3105
可以使用paddle2.1版本，否则之前的paddle版本可能没有这个find_unused_parameters，会报错

[2021-05-26 08:37] nemonameless commented on #3175
推荐使用PaddlePaddle2.1版本，和PaddleDetection目前默认的分支release/2.1或者develop分支，默认是动态图，原先静态图在static文件夹下。可以再给出详细点的环境或配置细节。

[2021-05-26 08:43] AN-ZE opened #3176 "paddledetection安装问题"
win10 or linux
2.0-rc 及以前的版本，我习惯是修改源码，满足自己的训练要求进行训练的。
2.1现在发现，训练工程代码中的调用的是包？
例如：
[code]
调用的不是当前目录文件下的 ppdet.utils.download.py
而是paddledet包中的。
应该怎么修改，或者设置。

是不是卸载了paddledet就可以。以前旧版本是没有安装过的。

[2021-05-26 08:51] yinyimoshushi opened #3177 "多目标跟踪运行推理脚本报错没有paddle.fluid.dataloader.collate"
运行命令  python tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=https://paddledet.bj.bcebos.com/models/mot/fairmot_dla34_30e_1088x608.pdparams --video_file=MOT16-03.mp4 --save_videos

 if data.dtype == np.object:
Traceback (most recent call last):
  File "tools/infer_mot.py", line 31, in <module>
    from ppdet.core.workspace import load_config, merge_config
  File

[2021-05-26 09:01] AN-ZE commented on #3176
已解决，卸载了之后确实正常了。
只是不太明白这样设置的目的是什么

[2021-05-26 09:05] AN-ZE commented on #3176
已解决，卸载了之后确实正常了。
只是不太明白这样设置的目的是什么

[2021-05-26 09:06] #3177 closed, assigned to nobody

[2021-05-26 09:35] yghstill commented on #3175
@fanweiya 由于SOLOv2需要将poly转成mask，和mask-rcnn有些不同。这个报错是由于你的标注文件中segmentation字段只有4维，pycocotools解析成了box，导致转换mask过程报错：https://github.com/cocodataset/cocoapi/blob/master/PythonAPI/pycocotools/_mask.pyx#L292
建议重新标注一下segmentation信息，每个标注最好多于4个点

[2021-05-26 09:39] fanweiya commented on #3175
@yghstill 我的标注都是超过4个点的，标注在这[train.json](https://gist.github.com/fanweiya/4d65072a099f4600f2843040c945550f)

[2021-05-26 09:41] fanweiya commented on #3175
@nemonameless 就是最新的，还是不行
[code]

[2021-05-26 10:36] lmk123568 commented on #3022
谢谢，已解决，不过我还是没明白pip install paddledet，和pip install -r requirement.txt区别，为什么这样做就能运行了，以后如果基于paddledet开发新模型，该选择pip安装还是源码编译安装

[2021-05-26 11:02] 617475jordan opened #3178 "s2anet在release2.1上出现检测框混乱问题"
![samples_0](https://user-images.githubusercontent.com/26131654/119649302-0f1d2d00-be55-11eb-889d-17ab820276b4.png)
![samples_2](https://user-images.githubusercontent.com/26131654/119649345-17756800-be55-11eb-8c44-9f46a7c73450.png)

[2021-05-26 11:09] lyuwenyu commented on #3163
上边的两个问题在Linux机器上测试了一下

1.  新增加数据集
一般增加数据需要更改下边几个文件 简单测试了一下没有出现问题 可以参考看一下修改的文件
https://github.com/lyuwenyu/PaddleDetection/blob/test_dataset_create_v1/test_dataset.py
[code]

2. 修改VOC名字问题
https://github.com/lyuwenyu/PaddleDetection/blob/test_dataset_create_v1/ppdet/data/source/voc.py
https://github.com/lyuwenyu/PaddleDetection/blob/test_dataset_create_v1/test_dataset.py
在Linux下同样没有出现你描述的问题

[code]

[2021-05-26 11:36] Monday-Leo opened #3179 "MOT数据集问题"
请问这里五个数据集分别是什么意思？和普通的detection数据集不太一样
![6}J%`0QNAHBH`CHWIEMNQ8E](https://user-images.githubusercontent.com/53975909/119653221-a6847f00-be59-11eb-883b-9bb0ddf50f85.png)

[2021-05-26 11:45] Darki-luo commented on #3154
实际的模型要比你仓库的要复杂一些，在windowsattention函数里没有覆盖的情况，这个是我在AS上的链接，打印会出现None。共享链接: https://aistudio.baidu.com/studio/project/partial/verify/1988508/187a27f615ae4a40b0ff8b4191830c56

[2021-05-26 11:48] CandyCook commented on #3169
paddle vision是2.1.0的,是在百度ai studio上发现出现的这个问题，可能是2.0-rc上传上去的压缩包文件损坏导致的

[2021-05-26 11:50] liuhuiCNN commented on #3178
请问您使用的命令是什么呢？ 我刚测试是正常的：
`python tools/infer.py -c configs/dota/s2anet_1x_dota.yml -o weights=s2anet_conv_1x_dota.pdparams --infer_img=demo/P0072__1.0__0___0.png`

[2021-05-26 12:01] wangxinxin08 commented on #3173
选用YOLOv2或者YOLOv5的anchor都可以，可以尝试一下

[2021-05-26 12:04] wangxinxin08 commented on #3173
至于要替换anchors的部分，不过模型配置文件中YOLOv3Head的anchors也需要做相应的修改

[2021-05-26 12:06] a2824256 commented on #3173
YOLOv3Head的anchors也修改了，已经生成成功，谢谢

[2021-05-26 12:06] #3173 closed, assigned to nobody

[2021-05-26 12:27] yghstill commented on #3175
@fanweiya
再检查下这个json文件吧，我根据你提供的json文件，利用下面脚本测试：
[code]
结果如下：
[code]
修改到正确的json文件后再启动训练吧。

[2021-05-26 13:28] nemonameless commented on #3179
TrainDataset是训练的数据配置，EvalDataset是eval的数据配置(单独评估跟踪的detection任务或reid任务)，TestDataset是单独inference检测任务的数据配置，可以是一张图或一个图片文件夹。EvalMOTDataset是专门评估跟踪效果的MOTA指标的，TestMOTDataset是专门inference一个待跟踪的视频。

EvalDataset是按照JDE原论文设置的。JDE论文中评估检测指标只使用'citypersons.val'和'caltech.val'，而且metric和COCO VOC的不同。JDE论文评估ReID指标只使用'caltech.10k.val', 'cuhksysu.val', 'prw.val'。MOT任务中评估检测指标和ReID指标在PaddleDetection中并不常用，后期会删除EvalDataset和Te

[2021-05-26 13:33] nemonameless commented on #3172
可以贴一下你的PaddlePaddle版本，PaddleDetection版本，以及命令行吗？推荐使用release/2.1分支或者develop分支，默认使用动态图版本，原先的静态图版本位于static文件夹中。

[2021-05-26 13:34] heavengate commented on #3176
如果想修改源码的话可以`pip uninstall paddledet`在PaddleDetection下
[code]
这样可以直接引用改动的文件

另外也可以修改完之后，`python setup.py install `重新安装一下也可以~

[2021-05-26 13:34] #3176 closed, assigned to heavengate

[2021-05-26 14:55] 617475jordan commented on #3178
我刚看了，如何采用你运行的命令会出现     image = draw_bbox(image, im_id, catid2name, bbox_res, threshold)
  File "D:\nihongjie\PaddleDetection\ppdet\utils\visualizer.py", line 124, in draw_bbox
    text = "{} {:.2f}".format(catid2name[catid], score)
KeyError: 12
我特地仔细看了一下你的配置文件跟你的模型是不一致的，应该都需要使用s2anet_conv_1x_dota。
还有我是把模型下载后，改为model.pdparams ,分别再release/2.0跟2.1测试了。仅存在与release/2.1版本

[2021-05-26 19:24] #3123 closed, assigned to nobody

[2021-05-27 01:29] Monday-Leo commented on #3179
如果我只想训练MOT20的数据集，该怎么修改？

[2021-05-27 01:48] nemonameless commented on #3179
[code]

[2021-05-27 01:56] fanweiya commented on #3175
@yghstill 好的，谢谢提醒，一直没发现

[2021-05-27 01:56] #3175 closed, assigned to yghstill

[2021-05-27 02:28] AN-ZE opened #3180 "paddledet2.1训练中断"
环境 win10 + cuda10.1 + paddle2.1+ paddledet2.1
训练ppyolov2，没有任何报错就中断停止了
![图片](https://user-images.githubusercontent.com/29450812/119756469-2ea86a00-bed6-11eb-94cc-f07976e800c8.png)

一会测试一下别的算法是否也是类似。

[2021-05-27 03:09] yunchangxiaoguan opened #3182 "多目标跟踪推理，加载后报killed"
CUDA_VISIBLE_DEVICES=0 python3 tools/infer_mot.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=models/fairmot_dla34_30e_1088x608.pdparams --video_file=docs/abc.mp4 --save_videos
W0527 11:07:29.327987 13446 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 6.0, Driver API Version: 10.2, Runtime API Version: 10.2
W0527 11:07:29.623159 13446 device_context.cc:

[2021-05-27 03:20] CandyCook opened #3183 "请问该如何加载PaddleDetection模型进行finetune"
尝试过使用PaddleHub进行finetune，但没有成功，有什么新的方法吗

[2021-05-27 03:24] #3053 closed, assigned to nobody

[2021-05-27 03:32] AaronDavis2020 commented on #3180
also have the same question

[2021-05-27 03:36] jerryandjune opened #3184 "使用mask_rcnn_r50_vd_fpn_ssld_2x_coco做实例分割时，eval报错"
训练过程没有问题，到eval时，就会报以下错误，我训练的是coco格式的数据集，类别为1,2,3,4,5
我打印了category_id = label_to_cat_id_map[int(num_id)]中的label_to_cat_id_map为{0:1, 1:2, 2:3, 3:4, 4:5}
eval是key为5，就报这个错误了，我尝试使用其他的实例分割，都出现类似的问题

[05/27 11:24:45] ppdet.utils.checkpoint INFO: Save checkpoint: output/mask_rcnn_r50_vd_fpn_ssld_2x_coco
loading annotations into memory...
Done (t=0.01s)
creating index...
index created!
[05/27 11:24:46] ppd

[2021-05-27 04:16] nemonameless commented on #3182
可以给下机器环境？看起来像是内存不足，但是980帧也不算多

[2021-05-27 05:41] AN-ZE commented on #3180
其它算法也是一样的。同事测试linux环境，也是跑不起来。

[2021-05-27 07:34] ayicherry commented on #3163
你好，我找到问题点了，已经可以正常使用自定义数据接口了。谢谢帮忙分析和验证，十分感谢。

[2021-05-27 07:34] #3163 closed, assigned to nobody

[2021-05-27 08:33] Monday-Leo commented on #3179
我的数据集格式如下
MOT20
            |——————images
            |        └——————train
            |        └——————test
            └——————labels_with_ids
                        └——————train
训练的时候报错：
File "G:\code\PaddleDetection-release-2.1\ppdet\data\source\mot.py", line 108, in parse_dataset
    "The {} is not a directory.".format(image_lists_dir)
AssertionError: The dataset/mot\image_lists is not a dire

[2021-05-27 08:38] Monday-Leo commented on #3179
并没有image_lists和Caltech文件夹，是不是缺少数据，完成的数据集下载链接有吗？

[2021-05-27 08:48] nemonameless commented on #3179
数据集准备和目录请参照 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/mot/README_cn.md
image_lists.zip已提供下载链接，下载并解压放在dataset/mot目录下：
[code]
如果只训练MOT20，不用下载其他几个数据集的

[2021-05-27 09:02] jerrywgz commented on #3022
如果需要基于源码二次开发，建议使用源码安装

[2021-05-27 09:03] jerrywgz commented on #3017
@bjjwwang 麻烦再帮忙看下吧

[2021-05-27 09:04] jerrywgz commented on #3121
```- BatchRandomResize: {target_size: [[544, 960], [384, 416]]} ```这样配置训练reader即可

[2021-05-27 09:05] heavengate commented on #3180
你好，磁盘，内存空闲空间大小多少呢，有没有修改配置文件之类的，看着是训练完一个epoch退出了

[2021-05-27 09:09] heavengate commented on #3183
训练的时候使用`-o pretrain_weights=xxx`指定需要加载的finetune权重即可，这里的教程里面包含`Fine-tune训练`的介绍
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED_cn.md
我们发布的权重可以在MODEL ZOO里获取https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/MODEL_ZOO_cn.md
你这边失败是报什么错了么

[2021-05-27 09:12] heavengate commented on #3184
你好，你使用的是自己的数据集么，数据集只有5类的话吧对应的`configs/datasets/xxx.yml`里的`num_classes`修改成5，如
https://github.com/PaddlePaddle/PaddleDetection/blob/4c18e94b5dcdb9426f5ac0bbafc403de126215f8/configs/datasets/coco_instance.yml#L2
也可以在你使用的`mask_rcnn_r50_vd_fpn_ssld_2x_coco.yml`里加一行`num_classes: 5`

[2021-05-27 09:55] AN-ZE commented on #3180
这个是什么问题，paddledet2.0出现的，使用python/infer.py 测试图片。
cuda10.1+ cudnn7.6.5 + paddle2.1+ paddledet2.0
[code]

将报错路径的图找到，图像是正常可以打开的。
这是在批量测试图片，已经过了2000多张图了

[2021-05-27 10:03] a2824256 opened #3187 "【代码问题反馈】单图像数据增强算子代码变量名称不一致"
PaddleDetection版本: 2.1
文件路径：ppdet/data/transform/operators.py

210行IDE提示异常，__init__函数参数higher未被使用
![image](https://user-images.githubusercontent.com/7108023/119806028-6a622480-bf14-11eb-9189-157c168b245c.png)
根据__init__函数参数higher和230行self.higher
`
target_area = random.uniform(self.lower, self.higher) * area
`
应该将210行下面代码，统一名称为higher
`
self.heigher=heigher
`
改为
`
self.higher=higher
`
解决变量名称不一致导致的问题

[2021-05-27 10:21] AN-ZE commented on #3180
paddledet2.0 训练是可以的，没中断，配置文件设置是一样的。
paddledet2.1 如图所示。  batch size 2，显存5G。

![图片](https://user-images.githubusercontent.com/29450812/119810071-456fb080-bf18-11eb-8621-662bc23493a8.png)

[2021-05-27 10:32] AN-ZE commented on #3180
这个是yolov3 也是不行。
![图片](https://user-images.githubusercontent.com/29450812/119811482-b9f71f00-bf19-11eb-8298-7aaca013388c.png)

听同事说，她在linux上训练detection2.1也是跑不起来了，没有任何报错信息的中断。

[2021-05-27 10:38] CandyCook commented on #3183
我想通过paddle框架查看fairmot的网络结构，并且进行修改，固定一些网络结构进行调整，有什么办法可以固定网络结构，进行微调呢？期待回答ing

[2021-05-27 11:16] yangsuhui opened #3188 "Config dataset_dir /mnt/PaddleDetection/dataset/data_movie is not exits!"
我的路径设置是对的，为什么跑训练时报路径找不到的错误和下面的错误？
ValueError: Dataset /mnt/PaddleDetection/dataset/data_movie is not valid and cannot parse dataset type 'data_movie' for automaticly downloading, which only supports 'voc' , 'coco', 'wider_face', 'fruit' and 'roadsign_voc' currently

[2021-05-27 11:46] 08183080 opened #3189 "fairmot无法导出模型"
ppdet.engine ERROR:Architecture:FairMOT is not supported for exporting model now

[2021-05-27 13:59] heavengate commented on #3183
是指固定一部分的网络不训练，只训练其余的网络？那个固定结构的输出特征图`x.stop_gradient=True`就可以了

[2021-05-27 14:01] heavengate commented on #3187
好的，感谢指出，我们修复一下~

[2021-05-27 14:02] heavengate commented on #3188
这条日志上面应该还有日志提示是为什么这个数据集路径没有识别到

[2021-05-27 14:20] heavengate commented on #3146
模型还没有正常收敛的时候预测的bbox是比较乱的，导致nms排序耗时，可以加大`snapshot_epoch`数或不使用`--eval`

[2021-05-27 14:20] #3146 closed, assigned to nobody

[2021-05-27 14:21] heavengate commented on #3127
鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-27 14:21] #3127 closed, assigned to wangxinxin08

[2021-05-27 14:24] heavengate commented on #2958
鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-27 14:24] #2958 closed, assigned to nobody

[2021-05-27 14:26] heavengate commented on #2912
鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-27 14:26] #2912 closed, assigned to nobody

[2021-05-27 14:26] heavengate commented on #2908
鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-27 14:26] #2908 closed, assigned to nobody

[2021-05-27 14:28] heavengate commented on #2786
鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-05-27 14:28] #2786 closed, assigned to nobody

[2021-05-27 15:04] Monday-Leo commented on #3179
metric: MOT
num_classes: 1

MOTDataZoo: {
  'MOT15_train': ['ADL-Rundle-6', 'ADL-Rundle-8', 'ETH-Bahnhof', 'ETH-Pedcross2', 'ETH-Sunnyday', 'KITTI-13', 'KITTI-17', 'PETS09-S2L1', 'TUD-Campus', 'TUD-Stadtmitte', 'Venice-2'],
  'MOT15_test': ['ADL-Rundle-1', 'ADL-Rundle-3', 'AVG-TownCentre', 'ETH-Crossing', 'ETH-Jelmoli', 'ETH-Linthescher', 'KITTI-16', 'KITTI-19', 'PETS09-S2L2', 'TUD-Crossing', 'Ven

[2021-05-27 15:22] #3183 closed, assigned to heavengate

[2021-05-27 15:28] lmk123568 commented on #3022
源码安装之后，修改代码后，还需要再次安装吗，或者运行pip setup.py develop

[2021-05-27 15:29] lmk123568 commented on #3022
源码安装之后，修改代码后，还需要再次安装吗，或者运行pip setup.py develop

[2021-05-27 18:18] nemonameless commented on #3179
mot模型训练早期效果不够好，而且评估比较耗时，不建议开--eval 边训边验证，看loss稳定下降即可，即使开了也是评估纯检测性能或者纯reid性能。训完的模型单独跑tools/eval_mot.py即可评估MOTA，是EvalMOTDataset设置的评估具体哪个数据集的MOTA。而EvalDataset在mot模型中是评估纯检测性能或者纯reid性能用的，是JDE论文中的做法，其实不太常用，FairMOT里也没用到。

[2021-05-28 01:51] gpsherry opened #3191 "SOLOV2训练config_solov2 num_class很小时，训练不收敛"
https://github.com/PaddlePaddle/PaddleDetection/blob/effbad5db4f1a046dd63cdf14ae49412ba4a836f/ppdet/modeling/anchor_heads/solov2_head.py#L370
cate_score_idx =paddle.add(inds[:, 0] * 80, cate_labels)应该改成下面的写法
cate_score_idx = paddle.add(inds[:, 0] * self.num_classes, cate_labels)
改完后类别数量较小时训练一样收敛

[2021-05-28 02:16] funhacke-png commented on #3139
我也遇到了相同的问题
Traceback (most recent call last):
  File "tools/train.py", line 142, in <module>
    main()
  File "tools/train.py", line 138, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 113, in run
    trainer.train(FLAGS.eval)
  File "/home/ps/Desktop/PaddleDetection-release-2.0/ppdet/engine/trainer.py", line 256, in train
    for step_id, data in enumerate(self.loader):
  File "/home/

[2021-05-28 02:20] lyuwenyu commented on #3154
- 跑你的config确实能够复现你说的问题

- 原因是
  - `type(self.scale) == <class 'str'>` 也就是yml传进来的None是str

- yml语法中None  对应 ` `, `null`, `~`

- 参考下边配置
[code]

[2021-05-28 02:23] CandyCook opened #3192 "调用finetune时出现问题"
!python -m paddle.distributed.launch --gpus 0 PaddleDetection-release-2.1/tools/train.py \
    -c PaddleDetection-release-2.1/configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml \
    -o pretrain_weights=https://paddledet.bj.bcebos.com/models/pretrained/fairmot_dla34_crowdhuman_pretrained.pdparams

[log.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6557734/log.zip)

-----------  Config

[2021-05-28 02:36] yangsuhui commented on #3188
@heavengate 这是完整的提示信息
2021-05-27 12:19:57,179-INFO: If regularizer of a Parameter has been set by 'fluid.ParamAttr' or 'fluid.WeightNormParamAttr' already. The Regularization[L2Decay, regularization_coeff=0.000100] in Optimizer will not take effect, and it will only be applied to other Parameters!
W0527 12:19:57.332414   565 device_context.cc:252] Please NOTE: device: 0, CUDA Capability: 61, Drive

[2021-05-28 03:43] Harry-675 opened #3194 "BatchRandomResize 设置keep_ratio 为true时报错"
如标题所述，想要保持图像长宽比进行训练，keep_ratio设置为true时报错如下：
ERROR:root:DataLoader reader thread raised an exception!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/baidu/anaconda2/envs/paddle/lib/python3.9/threading.py", line 954, in _bootstrap_inner
    self.run()
  File "/home/baidu/anaconda2/envs/paddle/lib/python3.9/threading.py", line 892, in run
    self._target(*self._args,

[2021-05-28 03:45] yunchangxiaoguan commented on #3182
![image](https://user-images.githubusercontent.com/47582901/119926212-819f2180-bfa9-11eb-91c2-ec3cc2a50be2.png)
![image](https://user-images.githubusercontent.com/47582901/119926403-f1ada780-bfa9-11eb-8980-82be669eeca3.png)
![image](https://user-images.githubusercontent.com/47582901/119926476-16098400-bfaa-11eb-8380-86ecc7b1ec87.png)

云环境，之前跑过一个很小的视频倒是能跑通，这个占用资源很大嘛，推荐什么配置阿，感谢大佬

[2021-05-28 05:22] yghstill commented on #3191
@gpsherry 感谢反馈，已修复。

[2021-05-28 05:22] #3191 closed, assigned to nobody

[2021-05-28 05:24] lyuwenyu commented on #3154
@Darki-luo
另外辛苦改一下issue的名字啊 -.-  方便其他人遇到同样问题时候 找到相关的讨论

[2021-05-28 05:27] Darki-luo commented on #3154
好的

[2021-05-28 05:56] jerrywgz commented on #3194
如果使用batch random resize + keep_ratio=true的方式，每张图都会等比例resize成不同大小，而并没有将他们的尺寸做统一，导致dataloader组batch的过程中报错。解决方式可以考虑在batch random resize后增加PadBatch解决

[2021-05-28 08:12] #3188 closed, assigned to heavengate

[2021-05-28 08:14] JianJingGao opened #3195 "SOLOV2模型导出后在Deploy中infer出错"
错误信息如下，请帮忙看一下谢谢
![image](https://user-images.githubusercontent.com/51236891/119952575-bf16a580-bfcf-11eb-924d-e689f7e2aba7.png)

[2021-05-28 08:45] JianJingGao commented on #3195
![image](https://user-images.githubusercontent.com/51236891/119956750-00a94f80-bfd4-11eb-8241-afb2b1981667.png)
![image](https://user-images.githubusercontent.com/51236891/119956794-09018a80-bfd4-11eb-961e-66a27572a936.png)
并没有boxes_num的主键，版本更新了？？

[2021-05-28 09:31] FL77N opened #3197 "关于 coco 数据集评估"
您好，请问在 ppdet 的 coco eval 里面，假如一张图的 gt 有 20 个，我预测并经过后处理的最终结果有 30 个，最后 eval 的时候会选出分数在 top 20 的框与 gt 进行 eval，其余框不会产生影响吗？

[2021-05-28 09:49] shyn opened #3199 "C++ deploy 样例，开始 tensorrt 推理失败"
默认的 run_mode=“fluid" 正常，使用 trt_fp32，长时间生成tensorrt 相关优化后，程序直接退出, 没有任何输出，持久化优化后，运行显示序列化错误，也就是第一次生成应该失败了，但没有任何日志，不知道如何定位。

操作系统：Windows 10 最新版
paddledetection 版本：release/2.0 分支
C++ 版本均使用默认配置。
CUDA 环境：10.0.130
tensorrt: 7.0.0.11
CUDNN: 7.4

paddle_inference 环境：

[code]

硬件：

GTX 2080 8G

[2021-05-28 09:56] jerrywgz commented on #3195
https://github.com/PaddlePaddle/PaddleDetection/pull/3200 已经在pr中修复，感谢反馈

[2021-05-28 12:11] ANewAnonymous commented on #3121
thanks

[2021-05-28 12:11] #3121 closed, assigned to nobody

[2021-05-28 13:51] gong-bit opened #3201 "infer_mot.py AttributeError: 'NoneType' object has no attribute 'shape' File "/home/aistudio/PaddleDetection/ppdet/engine/tracker.py", line 359, in mot_predict Exception in thread Thread-1:"
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/matplotlib/__init__.py:107: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import MutableMapping
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/matplotlib/rcsetup.py:20: DeprecationWarning: Usi

[2021-05-28 14:24] #3201 closed, assigned to nobody

[2021-05-28 14:54] Monday-Leo commented on #3179
已经成功训练，也评估成功了，评估是针对训练的图片，现在想要预测测试集，并保存结果，是使用infer_mot.py一个个视频预测吗？但是发现infer_mot.py只能保存图片视频，没有最终的结果文件，有没有直接预测训练集的脚步？

[2021-05-28 16:53] blank-97 opened #3202 "voc eval problem"
eval的时候只会有显示迭代次数，然后并不会输出eval结果。

[2021-05-29 01:06] shyn commented on #3199
补充：

使用的模型为 YOLOv3 + Darknet53

[2021-05-29 01:49] lvrh2018 opened #3203 "在jetson NX平台上，哪个检测模型最佳"
综合速度和精度，用哪个检测模型最好，最高能达多少帧/秒？

[2021-05-29 03:51] shyn commented on #3199
目前发现是自己问题，输入图设置与模型不匹配，配置文件里没有写正确。不过不开 tensorrt 竟然没啥影响：）

目前的问题的有线程安全问题，多线程预测，每个独立实例，必崩溃……

[2021-05-29 03:51] #3199 closed, assigned to nobody

[2021-05-29 04:52] DongChenwei2000 opened #3204 "DCN模型在2.0版本训好在2.1版本无法加载"
从前在2.0版本训练的模型在2.1版本无法加载，使用的是faster_rcnn_dcn_x101_vd_64x4d_fpn_1x_coco.yml
![image](https://user-images.githubusercontent.com/71364549/120058335-a2847700-c07c-11eb-8f15-8d585231f62d.png)

[2021-05-29 05:51] 17076372880 opened #3205 "《fairmot错误： 》yaml.constructor.ConstructorError: could not determine a constructor for the tag '!MOTDataSet'"
我在用fairMOT的时候出现了这个问题
`yaml.constructor.ConstructorError: could not determine a constructor for the tag '!MOTDataSet'
  in "configs/mot/fairmot/../../datasets/mot.yml", line 17, column 3`
请问是什么原因呢？
mot.yml 如下：
`TrainDataset:
  !MOTDataSet
    dataset_dir: dataset/mot
    image_lists: ['mot20.train']
    data_fields: ['image', 'gt_bbox', 'gt_class', 'gt_ide']

# for detection or reid evaluation, no

[2021-05-29 05:51] #3205 closed, assigned to nobody

[2021-05-29 07:15] 617475jordan opened #3206 "release/2.1分支 delpy/python/infer.py视频推理bug"
当使用infer.py对视频进行推理时，**在infer.py代码段100行如下**
 for im_path in image_list:
                im, im_info = preprocess(im_path, preprocess_ops,
                                        self.pred_config.input_shape)
此时im_path 以路径方式传递，而在实际中video 中Im_path,它的shape大小为3，如果不修改会出现如下问题。
Exception has occurred: IndexError
tuple index out of range
  File "/media/me/65F33762C14D581B/NI/PaddleDetection/release_2.1/dep

[2021-05-29 07:17] huilin16 opened #3207 "动态图使用相关问题"
请问在动态图中MultiClassSoftNMS、grid_mask应该如何使用

[2021-05-29 08:09] jerrywgz commented on #3197
其余的框也是会加入计算的

[2021-05-29 08:11] jerrywgz commented on #3192
如果是单卡训练，可以使用```CUDA_VISIBLE_DEVICES=0 python tools/train.py
-c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml
-o pretrain_weights=https://paddledet.bj.bcebos.com/models/pretrained/fairmot_dla34_crowdhuman_pretrained.pdparams```
这样可以看到具体的报错信息，或者在```log/workerlog.0```中也可以查看

[2021-05-29 12:04] gong-bit opened #3208 "eval时报错：ppdet/modeling/backbones/dla.py line 237, in forward im = inputs['image'] KeyError: 'image'"
-----------  Configuration Arguments -----------
gpus: 0
heter_worker_num: None
heter_workers:
http_port: None
ips: 127.0.0.1
log_dir: ./fairmot_dla34_30e_1088x608QianY/
nproc_per_node: None
run_mode: None
server_num: None
servers:
training_script: tools/eval.py
training_script_args: ['-c', 'configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml', '-o', 'use_gpu=True', 'weights=/home/aistudio/model_fi

[2021-05-29 15:23] nemonameless commented on #3208
您好，可以发一下config配置文件以及运行的命令，以及paddle和paddledetection的版本？方便我们复现该问题，谢谢

[2021-05-29 16:02] gong-bit commented on #3208
!python -m paddle.distributed.launch --log_dir=./fairmot_dla34_30e_1088x608QianY/ --gpus 0 tools/eval.py\
-c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml\
-o use_gpu=True weights=/home/aistudio/model_final.pdparams
运行命令。model_final.pdparams自己训练出的结果，已在train.py测试是可以正常使用的
然后配置文件里就修改了一下/dataset/mot.yml:
TrainDataset:
  !MOTDataSet
    dataset_dir: dataset/mot
    image_lists: ['mot20.train']

[2021-05-30 01:06] FL77N commented on #3197
那会影响最后的 ap 吗？如果 gt 有 20 个，我输入了 100 个，但是这 100 个里面有 20 个刚好和 gt match，其他的框会影响 ap 吗

[2021-05-30 01:43] FL77N commented on #3197
还请教您一个问题，在 ppdet coco eval 时未转为 coco 类别前，class_id 是从 0 到 80 还是 1 到 81 呢（左闭右开）

[2021-05-30 02:50] zhengzhe97 opened #3209 "边训练边测试时存在bug"
使用训练边测试，在评估mAP时出现如下报错。开始以为是没有生成正确coco类型的json，排查后发现格式无误，使用./tools/eval.py直接验证，正确输出。
<img width="854" alt="wrong" src="https://user-images.githubusercontent.com/26462054/120090391-b25f9200-c134-11eb-8d90-14a509d801dd.png">
<img width="705" alt="right" src="https://user-images.githubusercontent.com/26462054/120090392-b55a8280-c134-11eb-9622-a46f91152ea3.png">

coco_detection.yml如下：
[code]

[2021-05-30 02:53] luqihui opened #3210 "我想计算模型在测试集上的精度，有没有方法"
计算模型在测试集上的精度，如ap,map.

[2021-05-30 02:54] zhengzhe97 commented on #3209
后来发现是边训练边测试和单测试，两次读取的anno_path不同，边训练边测试会读取TrainDataset下的anno_path。

个人认为可能是如下代码存在问题：self.dataset.get_anno() TrainDataset下的anno_path

./ppdet/engine/trainer.py
[code]

[2021-05-30 02:55] zhengzhe97 commented on #3209
不知道是不是只有我有这个问题 - -，

[2021-05-30 03:04] yghstill commented on #3202
@blank-97 在eval结束时应该会输出mAP(0.5)的数值，没有输出的话方便发下截图吗

[2021-05-30 03:07] yghstill commented on #3203
@lvrh2018 推荐你使用ppyolo-tiny模型，是经过优化的轻量级模型：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/ppyolo#pp-yolo-tiny

[2021-05-30 03:17] yghstill commented on #3206
@617475jordan 感谢反馈，此问题应该在develop分支下已修复 #3158 ，可以试下是否可行。

[2021-05-30 03:21] yghstill commented on #3207
@huilin16 感谢反馈，MultiClassSoftNMS和grid_mask目前在动态图中尚未支持，我们梳理下排期支持下。

[2021-05-30 03:25] yghstill commented on #3204
@553548793 由于2.1中统一修改了dcn模块的命名规则，所以模型需要重新训练或者使用如下脚本进行权重转换：
[code]

[2021-05-30 03:26] 617475jordan commented on #3206
好的，谢谢回复 james NI ***@***.*** 签名由 网易邮箱大师 定制 在2021年05月30日 11:18，Guanghua Yu 写道： @617475jordan 感谢反馈，此问题应该在develop分支下已修复 #3158 ，可以试下是否可行。 — You are receiving this because you were mentioned. Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-30 03:29] jerrywgz commented on #3197
通常来说会有一定影响，但是如果这个预测出来match的20个框的分数是最大的20个时，影响不大。
在网络中class_id是0-80的，其中80是背景类

[2021-05-30 03:33] #1709 closed

[2021-05-30 03:34] #1696 closed

[2021-05-30 03:34] #1694 closed

[2021-05-30 03:38] jerrywgz commented on #1930
目前已经在最新的develop分支上修复了该问题 https://github.com/PaddlePaddle/PaddleDetection/pull/3193

[2021-05-30 03:38] #1930 closed

[2021-05-30 03:47] jerrywgz commented on #2057
目前在2.1版本下已经提供了多目标跟踪算法，包括deepsort，JDE，FairMot三种

[2021-05-30 03:47] #2057 closed

[2021-05-30 03:53] #3195 closed, assigned to nobody

[2021-05-30 06:40] blank-97 commented on #3202
@yghstill
![QQ图片20210530143921](https://user-images.githubusercontent.com/69951071/120094753-dc28b100-c154-11eb-87e8-9de09a04f7b6.png)

[2021-05-30 10:22] yghstill commented on #3202
@blank-97 我本地测试voc eval是能打印mAP的，你在计算mAP的位置加上debug的调试信息看是否能打印出来再试下：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/metrics.py#L273

[2021-05-30 12:25] blank-97 commented on #3202
@yghstill 我有在你给的位置直接加print语句，但是并不能打印出来，我还有在这个位置加调试语句，也没有打印出来：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/trainer.py#L386，感觉就是没有进入evaluate阶段。

[2021-05-30 14:03] liuhuiCNN commented on #3210
测试集有标签吗？有标签的话，您可以试下， `python tools/eval.py`

[2021-05-30 14:04] liuhuiCNN commented on #3209
感谢反馈，我们确认下这个问题。

[2021-05-30 14:43] agumon2020 opened #3211 "用pp-yolo-v2训练自己的数据集出错"
我用pp-yolo-v2训练自己的数据集，数据集格式是coco类型，报以下错误
SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at /paddle/paddle/fluid/operators/reader/blocking_queue.h:158)
在此错误之前还有很多这种警告
ppdet.data.source.coco WARNING: Found an invalid bbox in annotations: im_id: 560, area: 0.0 x1: 634.0, y1: 347.0, x2: 63

[2021-05-30 14:57] luqihui commented on #3210
好的，有标签的，我去试试。

[2021-05-30 15:10] lazyn1997 opened #3212 "模型选择及优化问题"
我的需求是识别同一种鱼的不同个体，训练集为连续两日的1分钟时长的视频，测试集为第三日30秒时长的视频，仅凭肉眼观察，难以分辨出不同个体，且采集到的视频鱼的姿态变化不大，配合度也较低，同时也存在鱼缸这样一些背景，我之前用卷积神经网络对整张图片做训练，效果很差，考虑到可能是背景有一些影响，开始采用目标检测算法只对鱼做训练。

1. 首先请问理论上用目标检测比单纯的图像分类正确率会有提升吗。

其次，我选用的 PPYOLOV2 模型，对视频的每一帧都做了标注进行训练，总共有5个类别，16593张训练图片，每张图片只有一个个体，原图是1080P，评估及测试图像的目标尺寸设置为 [640, 640] 和接近原比例的 [640, 352] 我都有尝试，训练迭代几次后，loss 值都在3左右波动，不会有大的下降，那么，

2. 对于这样的训练集，缩放成正方形更利于收敛还是缩放成接近原比例效果更好？
3.

[2021-05-31 01:47] thomas-yanxin opened #3213 "x2coco.py转换报错"
在使用x2coco.py将VOC格式的数据集转COCO格式时报如下错误：
Traceback (most recent call last):
  File "x2coco.py", line 474, in <module>
    main()
  File "x2coco.py", line 360, in main
    output_file=args.voc_out_name)
  File "x2coco.py", line 274, in voc_xmls_to_cocojson
    ann = voc_get_coco_annotation(obj=obj, label2id=label2id)
  File "x2coco.py", line 233, in voc_get_coco_annotation
    assert label in label2id,

[2021-05-31 02:06] nemonameless commented on #3208
@gong-bit  您的命令改成运行tools/eval_mot.py就可以跑了。
对跟踪MOTA指标的eval命令，不需要python -m paddle.distributed.launch --log_dir= ，使用的是tools/eval_mot.py，而tools/eval.py是检测模型的eval代码。运行跟踪模型的eval过程请参照文档 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/mot
[code]
eval跟踪指标要改数据集，可以改configs/datasets/mot.yml：
[code]
主要是改task和data_root。

EvalMOTDataset和EvalDataset的区别是，后者只是验证纯检测能力mAP或者纯reid指标用的，是JDE论文里的做

[2021-05-31 02:13] nemonameless commented on #3179
后期会修复。您急用的话可以暂时先用eval_mot.py跑出结果，虽然最后由于没有gt MOTA指标会-inf%，但不影响保存结果。

[2021-05-31 02:30] yghstill commented on #3202
@blank-97 没进evaluate的话不会打印`Eval iter`的信息，eval时evaluate函数是一定会执行的，可能和环境有关，你在cmd中执行看能否打印？https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/tools/eval.py#L105

[2021-05-31 03:08] liuhuiCNN commented on #3211
（1）警告里的信息是说该数据标签中，矩形框面积是0，标记是有问题的，请您核实一下这条数据；
（2）发生的错误在reader中，从错误提示信息中没法判断错误具体位置，建议您关闭多线程，设置worker_num: 0，减小batch_size试试。

[2021-05-31 03:12] liuhuiCNN commented on #3212
（1）如果您需要识别同一种鱼的不同个体，建议您试试reid，ppdet中追踪算法中是有这个模块的；
（2）不建议您缩放成正方形，建议安装比例缩放，并把短边pad到长边相同尺寸；
（3）数据集不仅需要量大，而且尽量保证数据多样性，建议您多采集几段视频，每段时间随机选取一些图像进行标注；
（4）同一类别不同个体，建议您试试reid算法。

[2021-05-31 03:19] liuhuiCNN commented on #3209
感谢反馈，请问两次测试使用的是同一个模型吗？边训练边测试时，由于第一轮训练的模型效果比较差，可能会导致评估时间很长，或者预测结果为空的情况，这个问题已经修复，建议您用最新的代码试试。

[2021-05-31 03:32] #3005 closed, assigned to nobody

[2021-05-31 03:33] #2991 closed, assigned to nobody

[2021-05-31 03:33] #2970 closed, assigned to nobody

[2021-05-31 03:33] #2928 closed, assigned to nobody

[2021-05-31 03:36] #2915 closed, assigned to nobody

[2021-05-31 03:39] JianJingGao opened #3216 "SOLOV2输入视频检测报错"
![image](https://user-images.githubusercontent.com/51236891/120136482-d2f71d00-c204-11eb-98e5-17832e407580.png)
![image](https://user-images.githubusercontent.com/51236891/120136499-e0140c00-c204-11eb-80f3-6204e125d764.png)

请问该如何解决

[2021-05-31 03:48] yghstill commented on #3216
视频预测问题在develop下已经修复，建议使用最新develop分支代码再试下

[2021-05-31 03:52] yghstill commented on #3202
@blank-97 使用logger.info调试再试下呢？print可能由于多线程的影响打印不出。

[2021-05-31 04:25] llO-Oll opened #3217 "fairmot预测视频出错"
已经检测到视频路径，还是报错
![image](https://user-images.githubusercontent.com/57003610/120140763-cc20d800-c20d-11eb-8b47-30758e0dfcef.png)

![image](https://user-images.githubusercontent.com/57003610/120139581-5451ae00-c20b-11eb-9124-82e416874693.png)

![image](https://user-images.githubusercontent.com/57003610/120139516-3dab5700-c20b-11eb-9f83-6321da7ca652.png)

[2021-05-31 05:19] zhengzhe97 commented on #3209
是同一个模型，我用的是2.0-rc分支。两种验证方式读取的anno_path不一样，我手动调整了下验证时的路径。最新的代码还没尝试

[2021-05-31 05:45] nemonameless commented on #3217
请问是每个视频都预测不了吗？可以给下机器环境? 或者可以试试很短的小视频预测看能否跑通

[2021-05-31 06:11] llO-Oll commented on #3217
我测试18帧的视频还是不行，一样的错误，就是aistudio上的环境

[2021-05-31 06:38] llO-Oll commented on #3217
已解决，修改配置文件的输入尺寸

[2021-05-31 06:49] luqihui commented on #3015
您解决了吗？我也遇到了这个问题。

[2021-05-31 08:11] jolt2017 commented on #3021
为啥 我遇到这样的情况能？
![image](https://user-images.githubusercontent.com/45425532/120162332-da312180-c22a-11eb-8fec-f0daba5b40ed.png)

[2021-05-31 08:59] jerry90 commented on #2488
同问 怎么解决的 一样问题

[2021-05-31 09:19] JianJingGao commented on #3216
把frame 改成了[frame]，正常运行了一会儿报错

![image](https://user-images.githubusercontent.com/51236891/120171192-59772300-c234-11eb-917f-5ae77d6aec88.png)

[2021-05-31 09:24] AN-ZE opened #3219 "2.1RCNN配置文件问题"
RCNN配置文件中是不是没有背景类这个了，隐藏起来了？
我看在更新说明中没有体现，现在训练还是按以前的方式修改的config文件，cls num + bg。是不是错误的，但是也不报错。

[2021-05-31 11:46] lazyn1997 commented on #3212
十分感谢你的回复，我去看看 reid 算法，有问题再来请教。

[2021-05-31 15:08] #3217 closed, assigned to nobody

[2021-05-31 15:44] qiyuezhiguang opened #3221 "多卡训练报错"
Ubuntu18,2080Ti2块，cuda10.1， cudnn7.6.5，nccl2.7.8，paddledetection2.1
按照官方例子
export CUDA_VISIBLE_DEVICES=0 #windows和Mac下不需要执行该命令
python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml
正常运行

但使用多卡训练
export CUDA_VISIBLE_DEVICES=0,1
python -m paddle.distributed.launch --gpus 0,1 tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml
就会报如下错误：
--------------------------------

[2021-06-01 01:17] PeterJaq opened #3223 "动态图使用softnms 或者 matrixNMS"
想在动态图版本使用softnms 和 matrix nms 不知道有没有什么解决方案

[2021-06-01 01:51] wangxinxin08 commented on #3213
这个代码好像不是最新的代码，麻烦拉一下最新的代码

[2021-06-01 01:53] wangxinxin08 commented on #3219
rcnn的配置现在没有背景类别了，使用class num + bg类不会报错，但是训练出来的结果应该是不对的

[2021-06-01 02:00] AN-ZE commented on #3219
好的，谢谢，我测试下

[2021-06-01 02:00] #3219 closed, assigned to nobody

[2021-06-01 02:02] lleesg commented on #3165
更新至2.1，fp32能运行，fp16、int8还有问题

[2021-06-01 02:09] lleesg commented on #2264
现在发布的包有带TRT了，该问题就解决了

[2021-06-01 02:10] wangxinxin08 commented on #3223
动态图版本支持Matrix NMS，可以参考ppyolo的配置文件，soft nms目前动态图不支持，可以使用matrix nms替代

[2021-06-01 02:13] wangxinxin08 commented on #3221
你好，无法复现你的问题，可以echo $CUDA_VISIBLE_DEVICES看下可见的gpu有哪些？或者使用unset CUDA_VISIBLE_DEVICES取消环境变量试下

[2021-06-01 02:13] lyuwenyu commented on #3221
- 从错误信息看 只能发现一张卡
- 建议
  1. `重新起一个bash`
  2. 查看一下设置是否起作用了 `echo $CUDA_VISIBLE_DEVICES`
  3. 如果你只有2快卡 去掉这行`export CUDA_VISIBLE_DEVICES=0,1 `

[2021-06-01 02:15] PeterJaq commented on #3223
你好，我参照ppyolo中的matrixNMS配置了cascade rcnn
BBoxPostProcess:
  decode:
    name: RCNNBox
    prior_box_var: [15.0, 15.0, 30.0, 30.0]
  nms:
    name: MatrixNMS
    keep_top_k: 100
    score_threshold: 0.01
    post_threshold: 0.01
    nms_top_k: -1
    background_label: -1

推理时报错 ：
ValueError: (InvalidArgument) The rank of Input(Scores) must be 3. But received rank = 2.
  [Hint: Expected score_size ==

[2021-06-01 02:18] quhaohao opened #3224 "mot 可以在cpu的环境中运行吗"
请问 2.1版本的Mot可以cpu的环境中运行吗？

[2021-06-01 02:22] Harry-675 opened #3225 "评估时batch_size只能设置为1，否则报图像尺寸不一致。"
配置文件如下：这样配置我理解应该是都会resize到（192，384），图像尺寸应该一致才对，为什么会报错？
EvalReader:
  sample_transforms:
    - Decode: {}
    - Resize: {target_size: [192, 384], keep_ratio: False, interp: 2}
    - NormalizeImage: {mean: [0.485, 0.456, 0.406], std: [0.229, 0.224, 0.225], is_scale: True}
    - Permute: {}
  batch_size: 1

[2021-06-01 02:32] wangxinxin08 commented on #3223
目前MatrixNMS暂时不支持RCNN系列的输出，你可以使用Paddle细粒度Op组装出soft nms或者matrix nms，放在ppdet/modeling/layers.py，以供调用

[2021-06-01 02:47] lyuwenyu commented on #3225
1. 报什么错 错误信息能否贴一下?
2. 示例配置 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/_base_/ppyolo_reader.yml#L32

[2021-06-01 02:52] lyuwenyu commented on #3224
- 训练+预测 是可以的
- 部署现在还没有打通

[2021-06-01 03:20] xinsuinizhuan opened #3227 "关键点检测和多目标跟踪，是否支持C++推理预测？"

[2021-06-01 03:27] lyuwenyu commented on #3227
- 暂时还不支持的

[2021-06-01 03:32] quhaohao commented on #3224
你说的部署指的是？ 我现在使用cpu的主机可以完成对一段视频的跟踪吗

[2021-06-01 04:05] lleesg commented on #3023
在2.1下用__model__和__params__会报错
使用量化模型ppyolo_tiny_quant.tar，在2.1下用deploy/python/infer.py预测报错：
(NotFound) Cannot open file ..\model.pdmodel, please confirm whether the file is normal.[Hint: Expected static_cast<bool>(fin.is_open()) == true, but received static_cast<bool>(fin.is_open()):0 != true:1.]

model_dir参数指定新格式目录：model.pdmodel、model.pdiparams就没问题

[2021-06-01 04:44] #2934 closed, assigned to nobody

[2021-06-01 04:48] #2281 closed, assigned to nobody

[2021-06-01 04:48] #2278 closed, assigned to nobody

[2021-06-01 04:50] #2265 closed, assigned to nobody

[2021-06-01 04:55] #2437 closed, assigned to liuhuiCNN

[2021-06-01 04:56] #2528 closed, assigned to nobody

[2021-06-01 04:57] #2547 closed, assigned to nobody

[2021-06-01 05:19] lyuwenyu commented on #3224
可以的 使用tools下边的infer_mot是没问题的

[2021-06-01 07:17] quhaohao commented on #3224
ok  非常感谢

[2021-06-01 07:36] qiyuezhiguang commented on #3221
paddle版本的问题。之前我下载了一个支持tensorrt的whl的paddle进行安装，paddlepaddle_gpu-2.1.0.post101-cp37-cp37m-linux_x86_64.whl，进行离线安装使用，用于paddleseg的tensorrt推理。目前更换为在线安装版本即可正常使用。感谢回复。如果你们有时间，可以去看看原因。

[2021-06-01 07:52] lfxx opened #3232 "多目标跟踪只能用于跟踪行人吗"
1.是否支持基于目标模板的不限类别跟踪?
2.是否支持long-term tracking?

[2021-06-01 08:08] xinsuinizhuan commented on #3227
希望尽快支持起来。

[2021-06-01 08:10] lyuwenyu commented on #3232
- 是的 不限制类别的, 但是目前只支持单类

[2021-06-01 08:16] lfxx commented on #3232
目前的多目标跟踪难点在于目标重叠或者丢失后的重识别。基于目标模板的跟踪更实用些吧，
https://github.com/visionml/pytracking  这个项目做的就是这种，不过它的long-term tracking做的不是很好。想知道百度官方会考虑实现该方向的目标跟踪算法吗？

[2021-06-01 08:26] lyuwenyu commented on #3232
- 好的 多谢建议，后期会讨论是否加入基于模板的tracker

[2021-06-01 08:28] lfxx commented on #3232
期待项目更新!

[2021-06-01 08:28] #3232 closed, assigned to nobody

[2021-06-01 08:36] qiyuezhiguang commented on #3221
又发生一件很怪异的事情，在训练的时候增加评估，发现运行时报错，之后完全按照教程中的：python -m paddle.distributed.launch --gpus 0,1 tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml --eval
依然报错：
[06/01 16:12:08] ppdet.engine INFO: Epoch: [0] [ 0/43] learning_rate: 0.000033 loss_xy: 4.433845 loss_wh: 5.362845 loss_obj: 18005.015625 loss_cls: 4.765846 loss: 18019.578125 eta: 0:22:29 batch_cost: 0.7847 data_cost: 0.4470 ips: 1

[2021-06-01 08:55] lyuwenyu commented on #3227
好的 已反馈,   请持续关注

[2021-06-01 09:33] jerrywgz commented on #3227
目前关键点检测支持了python的推理预测，跟踪的python推理也即将支持，c++推理这两个方向后面都会继续做，本身后处理部分也较为复杂，需要一定开发时间，也请继续关注～

[2021-06-01 09:47] xinsuinizhuan commented on #3227
感谢，会持续关注。C++要做离线本地化。

[2021-06-01 10:39] wangxinxin08 commented on #3221
可以将batch_size设置成>1，后续我们会修复这个问题

[2021-06-01 11:13] Harry-675 commented on #3225
@lyuwenyu
如下图所示：是否将192，384看成了两个不同的尺寸，我是想输入大小为（192，384）
![image](https://user-images.githubusercontent.com/29157861/120314046-6582e380-c30d-11eb-8bd0-111d17dbf543.png)

[2021-06-01 11:19] lfxx opened #3234 "多目标跟踪在我自己视频上测试效果很差"
使用命令如下：
[code]
结果如下：

https://user-images.githubusercontent.com/27956643/120314658-125d6080-c30e-11eb-9a27-7c209e477c4e.mp4

是不是我用的不对，这效果也太差了;跟踪错了可以理解，检测不到人就很奇怪
附上原视频，希望官方可以测试下：

https://user-images.githubusercontent.com/27956643/120314807-33be4c80-c30e-11eb-8aae-5c7a799d367a.mp4

另外视频长一点就爆内存，希望官方可以优化下

[2021-06-01 12:34] nemonameless commented on #3234
收到建议，近期会优化。换数据集测效果是可能会变差的，毕竟数据集之间差异很大。可以试下调一些参数，例如configs/mot/fairmot/_base_/fairmot_dla34.yml里
[code]

[2021-06-01 13:37] YangLuLu-0806 opened #3235 "cascade rcnn模型验证出现种类不匹配问题"
在训练时，我设置种类为6类或7类（加了背景类），然后验证时计算AP输出时**q6种类AP一直不显示**，如下图：

下图是label_list种类设置文件：
![2021-06-01 21-28-22 的屏幕截图](https://user-images.githubusercontent.com/51730731/120332664-8e14d880-c321-11eb-859e-0054ac20e3b7.png)

下图时验证输出时q6显示为none
![2021-06-01 21-24-45 的屏幕截图](https://user-images.githubusercontent.com/51730731/120332697-92d98c80-c321-11eb-8704-d91f13204ec0.png)

计算不同种类的AP是否在ppdet/metrics/map_utils.p

[2021-06-01 13:57] qiyuezhiguang commented on #3221
使用paddledetection2.1版本只要添加--eval就报错，并且代码错误后显存依然存在。
报错如下：
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::imperative::Tracer::TraceOp(std::string const&, paddle::imperative::NameVarBaseMap const&, paddle::imperative::NameVarBaseMap const&, paddle::framework::AttributeMap, std::map<std::string, std::string, std::less<st

[2021-06-01 14:08] qiyuezhiguang commented on #3221
paddledetection版本为
python -m pip install paddlepaddle-gpu==2.1.0.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html
感谢回复

[2021-06-01 23:47] YmanChris opened #3236 "FairMot Loss为负数是什么原因？其他loss还挺正常的"
![image](https://user-images.githubusercontent.com/18142592/120403405-b1b63e00-c376-11eb-99ee-1f085de43319.png)

[2021-06-02 00:19] #3066 closed, assigned to nobody

[2021-06-02 00:20] #2745 closed, assigned to nobody

[2021-06-02 01:49] nemonameless commented on #3236
你好，fairmot loss计算[代码](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/losses/fairmot_loss.py#L37)，总loss是可能为负数的。另外可以给下运行命令，数据集以及配置文件？

[2021-06-02 01:57] YmanChris commented on #3236
用的MOT20数据集，python tools/train.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml,配置文件是release2.1分支里没有改过的，训练几轮之后就负数了，请问可以从何处优化？

[2021-06-02 01:59] AN-ZE opened #3237 "2.0 python infer报错"
使用的是paddledet2.0 + cuda10.1 + paddle2.0.1
导出模型后，使用python/infer.py 进行推理预测。对预测代码做了下需要，可以批量预测文件夹下的图片。
在之前的0.3，0.4 也是这么使用的，没有问题。
这次出现报错，应该怎么修改。
报错信息为
[code]
附修改后的代码

[code]

[2021-06-02 02:12] #3224 closed, assigned to nobody

[2021-06-02 02:13] JianJingGao opened #3238 "SOLOV2在JETSON AGX上如何部署？"
PaddlePaddle和Paddle Infer啥关系，我应该怎么开始部署。网上的教程有点乱，以及预编译库的作用。

[2021-06-02 02:13] #3210 closed, assigned to nobody

[2021-06-02 02:38] liuhuiCNN commented on #3238
（1）PaddlePaddle包括训练推理功能，Paddle Infer是仅有推理功能的预测库。预测部署请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/inference_cn.html
（2）如果您是用python预测，按照好paddle后，请参考这里部署文档：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python
（3）如果您是用cpp预测，需要先准备对应的 paddle 预测库，请参考这里部署文档：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deplo

[2021-06-02 02:47] FlyingQianMM commented on #3236
![image](https://user-images.githubusercontent.com/22235422/120416430-b5a28a00-c38f-11eb-9a64-3a052c98ea0f.png)

使用mot20.train，bs=6，lr=0.00005，单卡，没有复现出负loss的情况，请问对config配置文件都做了哪些修改呢？另外是怎么运行命令的？

[2021-06-02 03:06] menggui1993 opened #3239 "Question about pp-yolov2 network structure"
In pp-yolov2, dropblock and spp are used in the PAN. In the paper, it seems that dropblock and spp are inserted after the second Conv Block in the Detection Block.
![Screenshot from 2021-06-02 10-58-16](https://user-images.githubusercontent.com/13851918/120417920-36fb1c00-c392-11eb-921e-8f33c60eda7c.png)

However, in your code, it seems they are inserted after the third Conv Block.
https://github.

[2021-06-02 03:12] Harry-675 opened #3240 "计算模型计算量输出负值"
如下图所示，计算模型计算量时输出负值。
（注，直接使用2.1版本计算量函数有报错，因此修改了dynamic_flops里面的函数，将图像尺寸变换成了词典，修改如图1 所示）
图1：
![image](https://user-images.githubusercontent.com/29157861/120418772-ba693d00-c393-11eb-96a3-197bdcfbed5e.png)
图2：计算量错误，好像是数值范围越界了，但是64位的python为什么最大值是32位
![image](https://user-images.githubusercontent.com/29157861/120418477-31ea9c80-c393-11eb-8e20-0f049a456297.png)

[2021-06-02 03:17] JianJingGao commented on #3216
有人能看看么

[2021-06-02 03:22] wangxinxin08 commented on #3239
Each conv block contains two conv layers，so dropblock is inserted after the second conv block. And SPP is inserted after the first layer of the second block.

[2021-06-02 03:33] menggui1993 commented on #3239
Is SPP inserted or replacing the conv? In the code, it seems that it will replace the second conv of the second block.

[2021-06-02 03:37] yu3040158915 commented on #2957
我也是一样的问题

[2021-06-02 03:41] wangxinxin08 commented on #3239
In fact, the SPP module is consisted of spp layer and a  conv layer, so the SPP module replaces the second conv of the second layer while ths spp layer is inserted the first layer of the second block.

[2021-06-02 03:43] JianJingGao opened #3241 "solov2支持TensorRT吗，有没有什么办法可以加速"
环境：WIN10
          GTX2060
版本：Paddle 2.0
模型：solov2_r50_fpn_3x_coco
运行视频尺寸1024*540，速度很慢，请教一下提升方法

[2021-06-02 03:51] menggui1993 commented on #3239
Thanks.

[2021-06-02 03:51] #3239 closed, assigned to wangxinxin08

[2021-06-02 04:33] Mr-ind1fferent opened #3242 "关于ppyolov2的save_txt问题"
tools/infer.py里的save_txt，是以类别，置信度，后面四个位置信息输出，后面四个位置信息具体代表了什么意思？

[2021-06-02 04:51] yghstill commented on #3235
@Aterlayer 设置num_classes是否是真实的类别数？可以在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/map_utils.py#L247 打印看下具体评估结果。
我使用原始voc数据进行classwise评估，结果是正确的：
[code]

[2021-06-02 04:54] yghstill commented on #3241
@JianJingGao solov2由于有group norm，gn在trt中不支持，所以在trt下加速不明显，可以使用PaddleDetection release 2.1分支代码重新导出模型再试下，现在对输出segm类型int32-->uint8做了优化，进一步提升了预测速度：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/heads/solov2_head.py#L530

[2021-06-02 05:34] hhxdestiny commented on #2959
什么原因呢

[2021-06-02 05:38] hhxdestiny opened #3243 "自定义COCO格式数据集，训练完标签不对"
自定义COCO格式数据集，训练完标签不对，还是COCO的标签，请教是配置文件哪里出错了？

* `optimizer_365e.yml`

[code]

* `coco_detection.yml`

[code]

* `runtime.yml`

[code]

* `ppyolov2_reader.yml`

[code]

* `ppyolov2_r50vd_dcn.yml`

[code]

* `ppyolov2_r50vd_dcn_365e_coco.yml`

[code]

[2021-06-02 06:20] JianJingGao commented on #3241
@yghstill 缩小视频图片尺寸对检测准确率影响大吗，会提速吗

[2021-06-02 07:05] JianJingGao opened #3245 "SOLOV2如何只识别COCO数据集80类中的其中一两类？"
RT

[2021-06-02 07:45] Lutl opened #3246 "PPYOLO 训练 VOC 数据集，评估卡死"
- PaddleDetection版本是2.0.1
- 使用 ppyolo_r50vd_dcn_voc.yml 对 VOC2007 数据集进行训练

在对模型进行评估时，长时间等待，没有评估进度提高，就是出现以下终端输出后就没了反应，应该是卡死了
[code]

[2021-06-02 08:08] terrancraft opened #3247 "关于reader抛出异常的错误"
自己标注的数据集转换成voc数据之后产生如下错误：
![Screenshot from 2021-06-02 16-00-44](https://user-images.githubusercontent.com/51820927/120447177-e816ac00-c3bc-11eb-830d-12376a08f3df.png)

[2021-06-02 08:10] terrancraft commented on #3247
这是我的标签格式和tree结构，感觉没有什么问题
![Screenshot from 2021-06-02 16-03-21](https://user-images.githubusercontent.com/51820927/120447298-0c728880-c3bd-11eb-8497-48b648f63a45.png)
![Screenshot from 2021-06-02 16-06-20](https://user-images.githubusercontent.com/51820927/120447306-10060f80-c3bd-11eb-90d0-c57d420dfd6a.png)

[2021-06-02 08:11] terrancraft commented on #3247
感觉数据没有什么问题，但是reader总是抛出
typeerror的异常，请问是不是需要自己定义自己的reader才行？
望解答，多谢~

[2021-06-02 08:16] thomas-yanxin commented on #3213
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/tools/x2coco.py
我尝试了一下上面这个链接中的x2coco.py代码，报同样的错误。

[2021-06-02 08:21] JianJingGao commented on #3241
@yghstill  有办法从GPU中拷贝我感兴趣的那几类数据信息出来吗

![image](https://user-images.githubusercontent.com/51236891/120448918-9d962f00-c3be-11eb-8889-aee66a78b41a.png)

[2021-06-02 09:10] nianyush opened #3249 "yolov3评估时报错"
在[这里](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/yolov3)下载的pdparams，
yolov3_mobilenet_v1_270e_voc.pdparams

eval reader里输入尺寸为608，320都能正确评估，但416就会报错
![image](https://user-images.githubusercontent.com/5505684/120453079-4d6e9b00-c3c5-11eb-97cd-20639e9259b2.png)

错误信息：
![image](https://user-images.githubusercontent.com/5505684/120452718-fbc61080-c3c4-11eb-91d4-237483fca8e

[2021-06-02 09:25] YmanChris commented on #3236
运行命令上面已发，mot20需要多训几十轮才会出现，默认的config，自制数据集就很快出现这个问题了。
![image](https://user-images.githubusercontent.com/18142592/120455631-83ad1a00-c3c7-11eb-9599-129ef1906117.png)

[2021-06-02 09:52] nemonameless commented on #3236
请问训完测了吗结果是否符合预期？总loss从计算公式上看是可能出现为负的。

[2021-06-02 09:55] nemonameless commented on #3237
推荐使用paddledetection 的release/2.1  + paddle2.1试试。之前的0.3，0.4版本已经很久了可能会不一样

[2021-06-02 10:09] AN-ZE commented on #3237
@nemonameless 2.1版本训练不起来，所以回退回2.0版本训练的
[ #3180](https://github.com/PaddlePaddle/PaddleDetection/issues/3180)
-_- 麻烦帮忙看下

[2021-06-02 10:36] #3242 closed, assigned to nobody

[2021-06-02 10:37] Mr-ind1fferent opened #3250 "如何使用ppyolov2对视频流生成检测的txt文件"
如题，

[2021-06-02 11:35] yghstill commented on #3241
@JianJingGao
- 缩小视频图片的尺寸会有加速，精度会下降。
- 模型会将所有类别的信息输出，如果想只输出个别类别的信息，需要在网络中进行筛选，取出cate_labels 后加上判断是哪个类别，然后筛选出：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/heads/solov2_head.py#L510
- 目前PaddlePaddle 2.1支持trt中gn的预测，可以再尝试下，预期加速40%左右。

[2021-06-02 11:43] wangxinxin08 commented on #3180
这个数据是什么数据？如果可以公开的话，可以发出来以供定位，如果不能公开的话，可以说一下是什么格式的数据吗？COCO还是VOC？

[2021-06-02 11:44] wangxinxin08 commented on #3213
可以先打印下label2id的内容确认下问题，报错信息是说当前的label不在label2id这个字典里面

[2021-06-02 11:44] yghstill commented on #3245
@JianJingGao 可以在数据后处理中只可视化或选择固定的label的输出，或者修改网络，参考 #3241 ，或者重新修改类别进行训练。

[2021-06-02 11:51] nemonameless commented on #3246
请问是边训边验证？前几个epoch的评估吗？ppyolo训练前期精度较低nms非常慢，建议不开启--eval的 边训边验证，或者可以多训几个epoch后自己手动eval

[2021-06-02 12:01] nemonameless commented on #3240
看起来是flops计算逻辑的问题，建议可以到paddle提个issue？ https://github.com/PaddlePaddle/Paddle/issues

[2021-06-02 12:02] qiyuezhiguang commented on #3221
echo $CUDA_VISIBLE_DEVICES命令无显示，unset CUDA_VISIBLE_DEVICES后运行依然报错。单卡运行正常。

[2021-06-02 12:09] nemonameless commented on #3243
你好，可以首先检查下您制作的json标注category字段是否是你设定了的种类，还可以检查这里，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/source/category.py#L56

[2021-06-02 12:11] nemonameless commented on #3247
你好，可以提供一下几个config配置信息吗？方便查原因

[2021-06-02 12:14] terrancraft commented on #3247
当然可以～ 明早打印出来给您看

[2021-06-02 12:35] zhude233 commented on #3250
如题，在部署推理过程中生存txt文件

[2021-06-02 12:58] lleesg opened #3254 "在TX2部署PPYOLO-tiny，在cpu、fluid、trt_fp32、trt_fp16、trt_int8下的问题"
环境：TX2、Ubuntu18.04、CUDA10.2、cudnn 8.0.0、jetpack 4.4、python3.6、Paddle2.1.0

代码：导出PPYOLO-tiny模型后，使用https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/python/infer.py进行预测

- CPU：一切正常
- fluid：正常运行，但检测不到结果（No object detected）
- trt_fp32：一切正常
- trt_fp16：报错
![2021-06-02_205821](https://user-images.githubusercontent.com/16949144/120483992-36d83c00-c3e5-11eb-84ea-3e9f73e329c1.jpg)

- t

[2021-06-02 13:08] nemonameless commented on #3249
#2731 已修复
[code]

[2021-06-02 13:17] liuhuiCNN commented on #3254
看起来是资源不足引起的错误，请问有打开最大性能模型吗？使用命令 `sudo nvpmodel -m 0`试下。
您还可以参考文档：https://paddle-inference.readthedocs.io/en/latest/demo_tutorial/cuda_jetson_demo.html

[2021-06-02 13:47] wangxinxin08 commented on #3237
现有信息无法定位，建议不要修改代码去跑预测

[2021-06-02 13:53] wangxinxin08 commented on #3249
可以把eval的batch_size设置成>1的数，如果还报错请参考上面2731这个链接或者拉取较新的代码

[2021-06-02 13:54] jerrywgz commented on #3249
https://github.com/PaddlePaddle/PaddleDetection/pull/3255 bs=1的问题已修复

[2021-06-02 15:20] k-radlak opened #3256 "PP-YOLO - performance issue"
Hi,
we have tested the pretreined model on COCO dataset and we received only ~11 FPS using Tesla V100. We used the pretrained COCO model, which performance is reported as 72.9 FPS. We used this model:

![image](https://user-images.githubusercontent.com/32595686/120505964-c79f1f80-c3c5-11eb-9ffb-8a235609d2fe.png)

Could you give us any hints how we can reproduce your performance?
We called the infe

[2021-06-03 00:14] Zzhenh opened #3257 "关于mot_pose_demo_640x360.gif骨架识别是由哪个算法实现的"
想学习应用一下骨架识别，但是只看到了效果图片，没有找到对应算法

[2021-06-03 01:03] huilin16 opened #3258 "静态图使用问题"
请问静态图中，跟动态图RandomResize一样，可以设置多个图片的**长宽**尺寸随机resize的算子是哪一个呢，静态图中的Resize、RandomShape似乎只能给定int值、将图片resize成正方形吧

[2021-06-03 01:17] lleesg commented on #3254
打开了最大性能模式也报这个错，fluid、trt_fp16的两个错能帮忙看下么？3q~~

[2021-06-03 01:18] AN-ZE commented on #3180
使用的是VOC的数据格式，数据方面，同事使用的是案例中的交通标识牌VOC数据集，也是训练不起来。大部分测试的是ppyolov2模型。有时候训练出来的模型，预测也检测不大东西。

[2021-06-03 01:18] AN-ZE commented on #3237
使用2.1infer原生的批量预测，跑到一半的时候也是会有这个错误。显存方面只使用了3G。

[2021-06-03 01:27] Lutl commented on #3246
是训练后，用 tools/eval.py 手动评估的，特别慢，15个小时，也就评了100张吧，龟速，不知道怎么回事

[2021-06-03 02:13] nemonameless commented on #3257
人体姿态估计算法HRNet + 多目标跟踪算法FairMOT，算法分别在 [configs/keypoint](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/keypoint)  和 [configs/mot](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/mot)

[2021-06-03 02:52] JianJingGao commented on #3241
@yghstill 改完head类的代码我想调试一下，运行deploy/python/infer.py，没有我在head打印的信息，请问应该怎么样才能看到，改完如何应用到deploy中的infer呢？谢谢

[2021-06-03 02:52] terrancraft commented on #3247
![Screenshot from 2021-06-03 10-50-34](https://user-images.githubusercontent.com/51820927/120579281-d33c2600-c459-11eb-957e-447609b69728.png)

[2021-06-03 02:53] terrancraft commented on #3247
![Screenshot from 2021-06-03 10-49-22](https://user-images.githubusercontent.com/51820927/120579298-dc2cf780-c459-11eb-9e5d-9583f7b5da54.png)

[2021-06-03 02:53] terrancraft commented on #3247
![Screenshot from 2021-06-03 10-48-57](https://user-images.githubusercontent.com/51820927/120579319-e2bb6f00-c459-11eb-9cab-45d7cbf9c96c.png)

[2021-06-03 02:54] terrancraft commented on #3247
用的是ppyolov2 数据放在dataset/voc_data下面

[2021-06-03 02:57] JianJingGao commented on #3241
@yghstill 我在solov2_head中get_seg_single打印了label信息，运行infer没有显示
![image](https://user-images.githubusercontent.com/51236891/120579568-53628b80-c45a-11eb-8e62-005bffeb65ce.png)

[2021-06-03 03:12] 1220985305 opened #3259 "训练SSD_mobilenetv1 模型出错"
λ 87851cdca26b /opt/LiangXS/PaddleDetection_ssd python3.7 tools/train.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
W0602 16:29:25.165112 17192 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 10.2, Runtime API Version: 10.2
W0602 16:29:25.169080 17192 device_context.cc:372

[2021-06-03 03:23] nemonameless commented on #3259
亲测可以训练，看起来你的代码没有更新到最新，建议拉下最新代码，以及卸载旧版本ppdet和重装ppdet `python setup.py install`

[2021-06-03 03:23] 1220985305 commented on #3259
配置文件
architecture: SSD
pretrain_weights: pretain_model/ssd_mobilenet_v1_300_120e_voc.pdparams

SSD:
  backbone: MobileNet
  ssd_head: SSDHead
  post_process: BBoxPostProcess

MobileNet:
  norm_decay: 0.
  scale: 1
  conv_learning_rate: 0.1
  extra_block_filters: [[256, 512], [128, 256], [128, 256], [64, 128]]
  with_extra_blocks: true
  feature_maps: [11, 13, 14, 15, 16, 17]

SSDHead:
  kernel_siz

[2021-06-03 05:42] hhxdestiny commented on #3243
您好，貌似配置文件中的相对路径有问题，改成绝对路径就好了，感谢。

[2021-06-03 06:05] wxf764571829 opened #3260 "paddle2.1中使用faster-rcnn_r50_fpn_1x_coco.yml训练时出现Please set find_unused_parameters=True 错误"
(paddle) ubuntu01@ubuntu01-System-Product-Name:/home/code/paddle/PaddleDetection-release-2.1$ python -m paddle.distributed.                                                                               launch --gpus 0,1 tools/train.py -c /home/code/paddle/PaddleDetection-release-2.1/configs/faster_rcnn/faster_rcnn_r50_fpn_1

[2021-06-03 06:23] wxf764571829 commented on #3260
参照设置后 没问题：https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/mot/jde/_base_/jde_darknet53.yml#L3

[2021-06-03 06:23] #3260 closed, assigned to nobody

[2021-06-03 06:30] 1220985305 commented on #3259
已更新代码，问题仍未解决

[2021-06-03 06:57] 1220985305 commented on #3259
有无训练步骤教程？

[2021-06-03 07:04] zhangming8 opened #3262 "PAFnet 前向出错"
使用pafnet时，当执行 python tools/eval.py -c configs/ttfnet/pafnet_10x_coco.yml -o weights=https://paddledet.bj.bcebos.com/models/pafnet_10x_coco.pdparams --bias

出现了如下报错：
W0603 14:48:51.690886 12064 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.2, Runtime API Version: 10.1
W0603 14:48:51.696866 12064 device_context.cc:422] device: 0, cuDNN Version: 7.

[2021-06-03 07:20] PiggyJie opened #3263 "关键点检测能否用自己的数据集进行训练？"
如题，各位大佬，我想知道关键点检测能否训练自己的数据集（非人体姿态）？主要用于检测其他类别关键点，如果可以的话应该怎么做？然后现在的关键点检测速度能达到多少呢？如果是多目标情况下的表现又如何？刚接触深度学习，还有很多地方不懂，望各位大佬不吝赐教，感谢！

[2021-06-03 07:25] JianJingGao opened #3264 "Pass tensorrt_subgraph_pass has not been registered."
改了一下run mode报出
![image](https://user-images.githubusercontent.com/51236891/120604708-e235cf00-c47f-11eb-95cb-fb4891a6a0a9.png)
然后我安装了tensorrt7.0，系统win10，Paddle2.1

请问咋注册这个？

[2021-06-03 07:28] heavengate commented on #3259
训练步骤参考 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED_cn.md

[2021-06-03 07:32] heavengate commented on #3262
你好，你用的是哪个版本的代码，我本地测了下应该是可以跑通的

[2021-06-03 07:41] heavengate commented on #3264
TensorRT预测需要安装带TensorRT编译的Paddle包，可以在这里获取 https://www.paddlepaddle.org.cn/whl/stable/tensorrt.html

[2021-06-03 07:46] heavengate commented on #3263
1. 可以的，我们发布的关键点检测模型都是支持训练的，你可以将你的数据集标注为coco的格式，在配置文件里修改训练数据集路径到你自己的数据集就可以训练
https://github.com/PaddlePaddle/PaddleDetection/blob/df6ce20c25a4c5319039b2beb5a5f7973ff580af/configs/keypoint/hrnet/hrnet_w32_256x192.yml#L60

2. 关键点检测的部署及benchmark我们还在测试中
3. 现在发布的关键点检测都是针对多目标人体关键点检测

[2021-06-03 07:50] meng8407 opened #3265 "Error when construct COCODataSet instance from yaml config"
感谢分享好文章，我遇到问题，安装在linux中，训练出现问题，转换数据集和yml文件都报以下错误
[code]
#########################这是我的yml#####################################
#####################################基础配置#####################################
[code]

期待回复！！！

[2021-06-03 07:54] xupengao opened #3266 "EfficientDet 检测类别包括背景么"
在模型配置文件中，num_classes=81，EfficientDet单阶段检测，怎么会带有背景类别，这个是不是弄错了

[2021-06-03 07:54] JianJingGao commented on #3264
@heavengate windows有办法吗，我看你给的包都是Linux的呢

[2021-06-03 07:58] JianJingGao commented on #3264
@heavengate 带TensorRT编译的包之中有适合jetson agx的包吗

[2021-06-03 08:01] 1220985305 commented on #3259
THX

[2021-06-03 08:16] nemonameless commented on #3262
建议使用最新的release/2.1分支

[2021-06-03 08:34] liuhuiCNN commented on #3264
有的，请参考这里： https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release

[2021-06-03 08:39] liuhuiCNN commented on #3254
根据提示错误，结合我们在Nano设备上PPYOLO是正常的，看起来像是opencv错的，请问使用的opencv版本是多少呢？测试图像是demo文件夹下的示例图像吗？
之前有遇到过图像尺寸过大，导致错误，也是提示resource的问题。您测试图像尺寸多大呢？

[2021-06-03 08:41] zhangming8 commented on #3262
解决了，是我的代码版本问题

[2021-06-03 08:41] #3262 closed, assigned to nobody

[2021-06-03 08:44] PiggyJie commented on #3263
感谢您的回复。您说是支持自定义训练的，但是如果训练种类不是person的话还支持吗？比如说猫、狗等其他类别的数据（甚至是不属于80个coco类别中的其他类），当然，这些数据都会标注成coco格式。如果支持的话，是不是要修改很多地方？还是只需要修改一些简单的参数就行。
因为现在在做一个关键点检测的课题，但是没有找到合适的模型，所以希望您能进一步解答我的疑问。非常感谢！！！

[2021-06-03 08:47] Harry-675 opened #3268 "PPYOLO MobileNetV3评估报错"
如图所示，训练没问题，评估时报错，使用ppyolo_tiny训练评估都没有问题，但是large就不行。
![image](https://user-images.githubusercontent.com/29157861/120615982-693c7480-c48b-11eb-8b35-1ec3960c0185.png)

[2021-06-03 08:54] liuhuiCNN commented on #3264
您好，windows下官方没有提供whl包，需要您重新编译。编译的文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/windows-compile.html

[2021-06-03 08:56] liuhuiCNN commented on #3265
您好，感谢反馈，请问您是使用的静态图模式吗？paddledetection2.0后，with_background 这个参数不需要在配置文件中指定。与静态图不同。

[2021-06-03 08:57] quhaohao commented on #3128
请问修复了吗？

[2021-06-03 09:19] zhude233 opened #3269 "deepsort中的视频读取转换出错"
![image](https://user-images.githubusercontent.com/60126992/120620633-bde1ee80-c48f-11eb-85ae-6bb16e8f55ba.png)
如图在126中返回的im为空值

[2021-06-03 09:34] nemonameless commented on #3269
可以git clone release/2.1分支的代码试试，以及请提供运行命令和环境版本等信息。

[2021-06-03 09:38] zhude233 commented on #3269
![image](https://user-images.githubusercontent.com/60126992/120623445-51b4ba00-c492-11eb-8946-66fa6eb54347.png)环境为paddlepaddle2.1  paddledet2.1.0 paddleDetection2.1
![image](https://user-images.githubusercontent.com/60126992/120623727-8fb1de00-c492-11eb-825f-b8d4d9f39372.png)

[2021-06-03 09:55] zhude233 commented on #3269
在注释掉126行后能够正常运行，不知道是否对其他地方造成什么影响

[2021-06-03 10:49] hhxdestiny commented on #3243
@nemonameless 您好，上面的问提解决了，但遇到另一个问提：单卡训练，学习率降到了默认的1/8，没使用预训练模型，epoch是默认的365，现在炼丹到288了，loss最小值12.296，而bbox-mAP最大值0.0012823，这个值应该不可用，参数见最上面，您觉得可能是什么原因呢？

[2021-06-03 11:02] JianJingGao opened #3270 "SOLOV2出现Infer报错的情况"
系统：Ubuntu 18.04
平台：Jetson AGX Xavier
系统版本：Jetpack 4.4
——————————————————————————
1.切换infer中run_mode的值为trt_int8时报错，打印信息如下：
2.run_mode值为trt_fp16时，如果不将dyname_shape设为True的话，也会报错，打印信息如下：
3.运行速度慢，有办法提升吗，trt_fp16模式下每帧比pc的fluid慢了700ms,达到了1.5s

[2021-06-03 11:03] JianJingGao commented on #3270
1.
![image](https://user-images.githubusercontent.com/51236891/120634870-57180180-c49e-11eb-9930-d9eb173c91b1.png)

[2021-06-03 11:03] JianJingGao commented on #3270
2.
![image](https://user-images.githubusercontent.com/51236891/120634911-65feb400-c49e-11eb-8763-70f5812adec1.png)

[2021-06-03 11:04] JianJingGao commented on #3270
网络问题，图片不能和文字一起发上来，请见谅

[2021-06-03 11:26] lyuwenyu commented on #3225
paddle是什么版本

1. 不是两个size, 是识别成（h, w）的 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/transform/operators.py#L614
2. 这个建议你打印一下 出错时候 batch里的image的size

[2021-06-03 11:33] huilin16 opened #3271 "请问动态图中如何使用MultiscaleTestResize"
请问动态图中如何使用MultiscaleTestResize，可以给个配置的示例吗

[2021-06-03 14:19] YmanChris commented on #3236
我增强了数据集，目前负数情况减少了。问题已解决，多谢。

[2021-06-03 14:19] #3236 closed, assigned to nobody

[2021-06-04 02:38] wangxinxin08 commented on #3268
fixed by https://github.com/PaddlePaddle/PaddleDetection/pull/3255! 可以更新最新的代码或者手动修改下

[2021-06-04 02:56] qiyuezhiguang opened #3275 "s2anet训练的几个小bug"
1数据转化bug
（1）在dataset文件夹下的dota_coco中的data_to_coco.py中，30行from ppdet.modeling.bbox_utils import poly_to_rbox，但提示无poly_to_rbox函数，后查看bbox_utils发现该函数命名为poly2rbox，将名字统一后不再报错。
（2）data_to_coco.py脚本中第135行和139行都为data_dict['annotations'].append(single_obj)，这样会导致每个annotations会保存2个，且第一个annotations缺少id，故将135行注释掉正常运行。
（3）该脚本中后续的json.dump(data_dict, f, indent=4)，建议增加indent=4，会自动对齐格式。
2训练中的bug
（1）无论单卡还是多卡训练，当把trai

[2021-06-04 03:03] xupengao opened #3276 "如何在训练和推理中VisualDL可视化图片过程，如何配置"
目前用VisualDL只能训练时可视化loss和map曲线吗，我看infer,py时可以参数配置VisualDL logging directory for image，但是我运行后，visualdl网也打开不显示结果，是空白的。我检查是有保存下来的log文件的，但是没有可视化的图片结果

[2021-06-04 05:31] xdg2016 opened #3277 "paddle2.1 windows下训练完JDE模型保存模型出错"
![image](https://user-images.githubusercontent.com/16351823/120750371-d65a1380-c538-11eb-807a-e88acf9f2fd7.png)
如图，训练完第一个epoch,保存模型的时候提示 memory error,查看了下保存路径：
![image](https://user-images.githubusercontent.com/16351823/120750509-0dc8c000-c539-11eb-9d8e-0c7f621a0839.png)
文件夹已经新建，模型保存了37.9M，突然中断，请问什么情况会出现这种错误

[2021-06-04 05:49] liuhuiCNN commented on #3275
您好，感谢反馈。（1）脚本中问题develop中已修复；（2）bs>1功能正在适配；（3）目前s2anet暂不支持边训练边测试，您可以通过`dataset/dota_coco/dota_generate_test_result.py`生成测试文件，上传网站测评。

[2021-06-04 06:09] lleesg commented on #3254
Opencv 4.1.1
测试图像用的demo下的示例图像（跟这个应该关系不大）
测试尺寸是608

[2021-06-04 06:21] Mr-ind1fferent opened #3278 "尝试训练farimot时错误"
![image](https://user-images.githubusercontent.com/74087260/120755186-3607ed00-c540-11eb-9930-32d2bc05e5d1.png)

[2021-06-04 06:43] heavengate commented on #3265
你用的配置文件是从哪里获取的，PaddleDetection 2.0之后的版本删除了`with_background` 把配置文件里的`with_background` 删掉就可以了

[2021-06-04 06:45] heavengate commented on #3266
最后bbox的分类上是需要区分出来是前景的还是背景的，背景的需要被删除掉，所以分类上需要带上一个背景，和SSD及RetinaNet同理

[2021-06-04 06:46] heavengate commented on #3258
静态图里还没有添加指定长宽尺寸resize，目前我们模型基本都迁移到了动态图，可以实现动态图跑模型哈~

[2021-06-04 06:51] heavengate commented on #3270
看报错信息是你的cuda，TensorRT，paddle这些版本不匹配或者没有安装带TensorRT版本的Paddle

[2021-06-04 06:53] heavengate commented on #3263
支持的，只需要标注成coco的格式就可以了

[2021-06-04 06:54] heavengate commented on #3259
鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen此issue~

[2021-06-04 06:54] #3259 closed, assigned to heavengate

[2021-06-04 06:55] #3265 closed, assigned to nobody

[2021-06-04 06:59] #2845 closed, assigned to nobody

[2021-06-04 07:01] heavengate commented on #2797
你好，最新的代码上修复了这个问题~

[2021-06-04 07:01] #2797 closed, assigned to nobody

[2021-06-04 07:02] #2733 closed, assigned to nobody

[2021-06-04 07:03] xupengao commented on #3266
有一些配置参数想请教一下，想调大输入尺寸，
 - !TargetAssign
    image_size: 512
是只需要改这个么，但是efficient有分辨率的对应比例，是不是需要调整scale，
EfficientNet:
  norm_type: bn
  scale: b0
而且我自定义训练数据的效果较差，map值不到0.5

[2021-06-04 07:13] 1220985305 commented on #3259
问题未解决，使用最新代码训练，并未解决问题，仍然报错

[2021-06-04 07:14] huilin16 commented on #3258
可是paddledetection的动态图既没有MultiClassSoftNMS和grid_mask，也没有CBResNet啊

[2021-06-04 07:19] huilin16 commented on #3258
而且使用4卡跑动态图，还总是跑一会就断掉，
![image](https://user-images.githubusercontent.com/36887207/120761904-40c68000-c548-11eb-85af-441dba240442.png)

[2021-06-04 07:55] Lutl opened #3279 "yolov3 模型训练过程中，报错 No space left on device"
[code]
使用双卡训练，训练过程中间报错 No space left on device，但是硬盘空间是够的，不太清楚是哪里的问题，请问要修改哪些文件配置才能解决这个问题吗

[2021-06-04 08:07] nemonameless commented on #3278
您好，我们这边亲测可以训练
[code]
请git clone release/2.1分支的最新代码试试，以及请提供运行命令和环境版本等信息以便我们复现您提的问题。

[2021-06-04 08:19] nemonameless commented on #3277
看起来可能是机器环境问题，请提供运行命令和环境版本等信息以便我们复现您提的问题。

[2021-06-04 08:27] 2hyes opened #3281 "how can I change the backbone ?"
MOT>
how can I change the backbone ?
Because I want to test the performance and FPS of the FairMot and DeepSort on the same backbone.

[2021-06-04 08:42] heavengate commented on #3279
你好，`df -h`看下硬盘空间占用情况呢

[2021-06-04 09:10] yghstill commented on #3225
@Harry-675 是voc数据集吗？config里加上这两行：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolo_r50vd_dcn_voc.yml#L19-L20

[2021-06-04 09:11] xdg2016 commented on #3277
查到了原因，后台运行了一个很占内存的软件，导致保存模型时内存不足，所以提示 memory error。关掉了其他程序，重新训练就可以保存了

[2021-06-04 09:15] wangxinxin08 commented on #3221
可以检验下你nccl的安装是否正常

[2021-06-04 09:15] yghstill commented on #3216
@JianJingGao 你的视频可以发下吗，我测试调试下，本地的视频没有复现这个报错

[2021-06-04 09:17] Lutl commented on #3279
[code]
因为是内网环境，所以直接pull的docker，然后自己装的paddledetection，空间都肯定够的啊

[2021-06-04 10:07] JianJingGao commented on #3270
@heavengate  trt_fp16可以使用是什么情况

[2021-06-04 10:07] JianJingGao commented on #3238
好的，多谢，我试试

[2021-06-04 10:53] Mr-ind1fferent commented on #3278
![image](https://user-images.githubusercontent.com/74087260/120790874-12f03400-c566-11eb-98e6-5c0c5f601ee4.png)

[2021-06-04 10:54] Mr-ind1fferent commented on #3278
python tools/train.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml
这个是运行命令，python3.7

[2021-06-04 16:38] Mr-ind1fferent opened #3287 "使用mot20训练集训练fairmot偏置矩阵不匹配"
![image](https://user-images.githubusercontent.com/74087260/120834935-477be400-c596-11eb-8fd3-91bf24aa07cd.png)

[2021-06-04 18:02] Becomebright opened #3288 "如何处理DOTA数据集"
您好，请问是否有现成的脚本，可以从DOTA标注得到训练 s2anet 所需的 trainval_split/s2anet_trainval_paddle_coco.json ？

[2021-06-05 01:58] hhxdestiny commented on #3091
你好，我复现了同样的问题。我的流程是：使用x2coco.py把roadsign_voc转成了roadsign_coco，修改配置后开始训练（aistudio训练的，学习率降了1/8，未使用预训练模型，训练了365轮），loss后面降到25左右下不去了，loss_obj在13左右。

可以通过我aistudio的项目[【ppyolo_v2_test】](https://aistudio.baidu.com/aistudio/projectdetail/2031218?shared=1)复现此问题。

[2021-06-05 02:07] nemonameless commented on #3287
fairmot的预训练权重是crowdhuman上训练过的，reid的FC层维度是数据集中id的总数。换数据集finetune训练，FC层维度会按数据集而变，自然就加载不上这一层FC的权重了，也就是和分类任务使用imagenet预训练做迁移学习不加载FC层一个道理，不影响训练，结果也基本不会有差别。

[2021-06-05 02:08] #3277 closed, assigned to nemonameless

[2021-06-05 06:09] Mr-ind1fferent opened #3289 "farimot训练时报错"
![image](https://user-images.githubusercontent.com/74087260/120881998-901fb580-c607-11eb-8275-072fc9c04fcc.png)

[2021-06-05 06:12] #3250 closed, assigned to nobody

[2021-06-05 06:24] liuhuiCNN commented on #3288
develop中增加了脚本：https://github.com/PaddlePaddle/PaddleDetection/blob/develop/dataset/dota_coco/dota_to_coco.py

[2021-06-05 06:40] meng8407 commented on #3265
谢谢，问题已经解决，是配置版本和配置文件不对应。

[2021-06-05 06:48] meng8407 opened #3290 "训练中图像大小的问题，一直提示以下内容The actual image width: 3000 is not equal to the width: 4000.0 in annotation, and update sample['w'] by actual image width."
感谢paddledetection让我的训练方便很多，我有些问题请教
1，The actual image width: 3000 is not equal to the width: 4000.0 in annotation, and update sample['w'] by actual image width.
2， DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead
  "image height.".format(im.shape[0], sample['h']))

![2021-06-04 19-36-14屏幕截图](https://user-images.githubusercontent.com/69879311/120882783-7765ce80-c60c-11eb-8

[2021-06-05 07:45] greathope opened #3291 "本repo有针对性处理类目不均衡的方法吗"
如题

[2021-06-05 08:32] Becomebright commented on #3288
该脚本得到的json文件包含 'category_id' 和 'bbox' 两个字段 (113-124行)，但 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/dota/s2anet_conv_1x_dota.yml 第9行 `data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd', 'gt_rbox']` 中是 gt_bbox, gt_rbox 和 gt_class，为什么这样呢？

[2021-06-05 12:12] nemonameless commented on #3289
你好，请根据 JDE原论文给的数据集[链接](https://github.com/Zhongdao/Towards-Realtime-MOT/blob/master/DATASET_ZOO.md)下载，我们也是这么下载使用的，应该没有问题。

[2021-06-05 12:14] Mr-ind1fferent commented on #3289
所有的数据都要准备好吗

[2021-06-05 12:18] nemonameless commented on #3289
你想训哪个就下载哪个，对应改配置文件configs/datasets/mot.yml即可。mot模型不建议开启--eval 边训边验证，而且只是验证检测的结果而不是MOT指标，前期效果差速度慢，可以多训几个epoch后手动eval

[2021-06-05 12:22] Mr-ind1fferent commented on #3289
对应的配置文件该如何修改？只想用mot20的train和test

[2021-06-05 12:30] nemonameless commented on #3289
[code]

mot20 test数据集也可以直接eval，由于没有gt指标会全-1或-inf，但是会生成符合格式的结果txt文件，需要交到[MOT官网](MOT官网) 才能出mot20 test的MOTA指标。

[2021-06-05 12:41] Mr-ind1fferent commented on #3289
- - EvalMotDataset下面的task如果我用mot20数据集训练，是不是需要改成mot20_test

[2021-06-05 13:03] sxlyiyiyi opened #3292 "多尺度测试"
当我尝试使用多尺度测试时，出现以下错误

[06/05 21:01:13] reader WARNING: fail to map op [PadBatch_f39505] with error: list indices must be integers or slices, not str and stack:
Traceback (most recent call last):
  File "E:\PaddleDetection\ppdet\data\reader.py", line 75, in __call__
    data = f(data)
  File "E:\PaddleDetection\ppdet\data\transform\batch_operators.py", line 62, in __call__
    max_shape = np.array([

[2021-06-05 14:10] yghstill commented on #3290
@meng8407 就是你的实际图像尺寸和你标注文件中w、h不一致，可以重新输出一下标注文件，让实际图片尺寸和标注文件中匹配

[2021-06-05 14:36] yghstill commented on #3291
@greathope 不同模型有不同的处理方法，比如SSD中有难样本挖掘，anchor free模型中大多数都用focal loss等。

[2021-06-05 14:47] yghstill commented on #3292
@sxlyiyiyi 是release/2.0或者2.1中动态图模型使用MultiscaleTestResize时报错吗？动态图下多尺度测试支持还不完备，我们近期会高优支持下，可以暂时先使用单尺度预测。

[2021-06-05 14:49] liuhuiCNN commented on #3288
两者不影响，data_fields是训练时需要准备的字段。确切的说，dota数据集训练的时候需要gt_rbox，并不需要gt_bbox，但是营部影响训练。

[2021-06-05 14:49] jerrywgz commented on #3281
FairMot allows the backbone of DLA34 only and DeepSort could fit for any detector. Now we plan to release the CenterNet in FairMot and deploy code for MOT models on next version.

[2021-06-05 14:59] #1925 closed

[2021-06-05 15:01] #3249 closed, assigned to nobody

[2021-06-05 15:03] yghstill commented on #3243
@nemonameless 应该使用预训练模型，不然收敛会很慢

[2021-06-05 15:03] #3187 closed, assigned to heavengate

[2021-06-05 15:04] #3171 closed, assigned to nobody

[2021-06-05 15:25] jerrywgz commented on #1790
Now you could set cpu_threads in v2.1 to enable multiple CPU threads https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/python/utils.py#L77

[2021-06-05 15:25] #1790 closed

[2021-06-05 15:27] #1955 closed

[2021-06-05 15:30] #2264 closed, assigned to nobody

[2021-06-05 15:32] #2189 closed

[2021-06-06 01:45] sxlyiyiyi commented on #3292
是的，是在动态图模型下使用的

[2021-06-06 05:35] hitsz-zuoqi opened #3293 "ppdet2.0rc 的 solov2 在CPU推理的时候如何修改使用多线程推理？"
在pytorch里面torch.set_num_threads(n)可以设置cpu推理时使用的线程数，但是看2.0rc的inference脚本好像没有这个参数？

[2021-06-06 09:43] RhythmF opened #3294 "使用tools中的x2coco.py进行voc转coco时出错"
输入与报错如下，有没有大佬帮我看一下

(base) PS F:\pd\PaddleDetection> python tools/x2coco.py \

所在位置 行:2 字符: 11
+         --dataset_type voc \
+           ~
一元运算符“--”后面缺少表达式。
所在位置 行:2 字符: 11
+         --dataset_type voc \
+           ~~~~~~~~~~~~
表达式或语句中包含意外的标记“dataset_type”。
所在位置 行:3 字符: 11
+         --voc_anno_dir dataset/VOCdevkit/VOC2007/Annotations/ \
+           ~
一元运算符“--”后面缺少表达式。
所在位置 行:3 字符: 11
+

[2021-06-06 10:22] fdong0598 opened #3295 "solov2 infer单张图片耗时700多毫秒其中loader耗时300多毫秒，啥意思，loader都做了啥操作？"
![image](https://user-images.githubusercontent.com/37216947/120920940-e407c880-c6f3-11eb-9d03-c0276580218f.png)
![image](https://user-images.githubusercontent.com/37216947/120920991-14e7fd80-c6f4-11eb-9ad0-8d545ea5caf2.png)

[2021-06-06 10:23] sxlyiyiyi opened #3296 "数据增广"
PaddleDetection/ppdet/data/transform/operators.py

hue (list): hue settings. in [lower, upper, probability] format.
saturation (list): saturation settings. in [lower, upper, probability] format.
contrast (list): contrast settings. in [lower, upper, probability] format.
brightness (list): brightness settings. in [lower, upper, probability] format.
随机数据增广概率的设定是不是应该理解为发生的概率？
def apply_hue(self, img):

[2021-06-06 10:38] sxlyiyiyi commented on #3296
而且里面实现的逻辑很奇怪，例如lower和upper，用图像直接乘delta，这就会出现全为0的图像，
例如：
delta = np.random.uniform(low, high)
img = img.astype(np.float32)
img *= delta

[2021-06-06 10:51] sxlyiyiyi commented on #3296
亮度，对比度等的实现是不是有问题，这不是会出现全为0的图像吗，
low 和 high的定义是不是在原图的基础上增加或减少这些值，例如img *= (1 + delta)
delta = np.random.uniform(low, high)
        img = img.astype(np.float32)
        img *= delta

[2021-06-06 11:33] linyangsdu opened #3297 "关于静态图中 MultiScaleTest时遇到的问题"
我在使用Cascade RCNN的结构，在测试时发现 multi scale的效果会变得很差很差，而single scale每个scale的效果都还算可以，在debug过程中我有如下几个问题:
1. 为什么mutli scale过程中，每个尺度调用 self.bbox_head.get_prediction 的结果个数都为1000，而single scale 中调用 self.bbox_head.get_prediction的过程中结果为NMS之后的个数。请问这是什么原因造成mutli scale中bbox_head中的nms没有生效的呢？
2. 为何 performance会下降的很厉害，我试过将 mutli scale中每个scale 单独测试再用 soft_nms对所有结果 进行nms，发现performance 并没有变化太多，所以应该是 mutli scale 这里的细节问题。

[2021-06-06 13:13] #3291 closed, assigned to nobody

[2021-06-06 14:53] ANewAnonymous opened #3298 "打包问题"
使用pyinstaller打包后发现程序目录下生成了paddle/fluid/core_avx.pyd文件，发现该文件大小为1.23GB。这实在是太大了  是否有缩减的方法

[2021-06-06 15:22] liuhuiCNN commented on #3293
您可以通过 `config.set_cpu_math_library_num_threads(4)` 设置CPU线程数，请参考文档： https://paddle-inference.readthedocs.io/en/latest/api_reference/python_api_doc/Config/CPUConfig.html#id1

[2021-06-06 15:36] liuhuiCNN commented on #3296
(1) hue中概率是不发生的概率；（2）设置low high参数时可以通过设置合理参数避免您提到的情况。

[2021-06-06 15:39] liuhuiCNN commented on #3298
这个是paddle生成的，文件大小是正常的，您可以参考下文档： https://docs.nvidia.com/cuda/cuda-binary-utilities/#nvprune

[2021-06-06 15:45] liuhuiCNN commented on #3297
感谢反馈，这个问题我们确认一下。此外动态图下也会增加多尺度测试工作，请您关注一下。
#3292

[2021-06-06 16:06] liuhuiCNN commented on #3294
您好，请问您用的是release2.1版本吗？release2.1版本是正常的，请您检查一下各个参数是否正确。请注意voc_anno_list参数给的是id的list，建议您打印一下中间结果调试一下。

[2021-06-06 17:01] ko440124 opened #3299 "HRNet + detector 检测联合部署推理出错, im_channel = im.shape[2] IndexError: tuple index out of range"
使用HigherHRnet infer成功。
转向HRNet + PPyolo联合部署时报错，主要步骤为:
1.导出ppyolo模型至 output_inference/ppyolo_r50vd_dcn_2x_coco/
2.导出hrnet模型至 output_inference/hrnet_w32_384x288/
3.运行
`CUDA_VISIBLE_DEVICES=0 python deploy/python/keypoint_det_unite_infer.py --det_model_dir=output_inference/ppyolo_r50vd_dcn_2x_coco/ --keypoint_model_dir=output_inference/hrnet_w32_384x288/ --image_file=/home/chill/software/data_set/赛道2

[2021-06-07 02:10] yghstill commented on #3295
@Fei-dong 使用tools/infer评估有初始化等耗时，计算结果有偏差，如果想计算预处理、inference、后处理分别的耗时，请使用预测部署脚本测试deploy/python/infer.py，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python 同时设置`--run_benchmark=True`计算的更准确.

[2021-06-07 02:19] bikerr opened #3300 "是否可以进行文档 证件类的四点或者多点检测？"

[2021-06-07 02:23] hhxdestiny commented on #3243
使用了预训练模型收敛是挺快的，感谢！但是我想训练的模型是size是160的，没有对应的预训练模型，这种情况如果要单卡训练到收敛，参数设置上，除了image_shape、target_size、anchors，还有什么需要关注的点吗？

[2021-06-07 02:32] nemonameless commented on #3269
deepsort读视频还在完善中，因为涉及到部署问题可能代码还需要稍微改动，近期会尽快更新上去。

[2021-06-07 03:27] hitsz-zuoqi commented on #3293
仔细看了一下deploy模块，确实很好用，但有一点疑惑：
1、2.1版本的infer.py脚本是否支持2.0rc的模型，比如说solov2_r101_vd_fpn_3x.yml？
2、如果可以，2.0版本导出的是__model__  __params__  infer_cfg.yml,而2.1版本导出的是四个文件infer_cfg.yml, model.pdiparams, model.pdiparams.info, model.pdmodel，请问我可以替换infer脚本为2.1版本的但是可以使用solov2_r101_vd_fpn_3x.yml这个模型嘛？？我发现r101在2.1的ppdet还没有pretrained

[2021-06-07 03:31] ghost commented on #2797
谢谢

[2021-06-07 03:31] hitsz-zuoqi commented on #3293
# 引用 paddle inference 预测库
import paddle.inference as paddle_infer

# 创建 config
config = paddle_infer.Config()

# 通过 API 设置模型文件夹路径
config.set_prog_file("./mobilenet_v2/__model__")
config.set_params_file("./mobilenet_v2/__params__")

# 通过 API 获取 config 中的模型文件和参数文件路径
print(config.prog_file())
print(config.params_file())

# 根据 config 创建 predictor
predictor = paddle_infer.create_predictor(config)

我在pa

[2021-06-07 03:48] jerrywgz commented on #3276
我这边测试visualdl是可以正确显示的
![image](https://user-images.githubusercontent.com/22989727/120956437-1f52d780-c786-11eb-9769-587f9fe8fc52.png)
可以确认下visualdl的端口设置是否正确，以及是否增加了--use_vdl=True的命令。在infer完成之后，默认会在vdl_log_dir/image/ 下生成文件

[2021-06-07 05:04] hitsz-zuoqi commented on #3293
Traceback (most recent call last):
  File "inference.py", line 24, in <module>
    predictor.run()
ValueError: In user code:

    File "tools/export_model.py", line 89, in <module>
      main()
    File "tools/export_model.py", line 63, in main
      test_fetches = model.test(feed_vars, exclude_nms=FLAGS.exclude_nms)
    File "/workspace/PaddleDetection-release-2.0-rc/ppdet/modeling/architectures/

[2021-06-07 05:06] hitsz-zuoqi commented on #3293
inference.py
`import paddle.inference as paddle_infer
import numpy
config = paddle_infer.Config("./inference_model/solov2_r101_vd_fpn_3x/__model__","./inference_model/solov2_r101_vd_fpn_3x/__params__")

#config.set_prog_file("./inference_model/solov2_r101_vd_fpn_3x/__model__")
#config.set_params_file("./inference_model/solov2_r101_vd_fpn_3x/__params__")

print(config.prog_file())
print(config.para

[2021-06-07 05:30] xupengao opened #3302 "efficient 调大分辨率和缩放比例，eval会报错"
aspect_ratios如何重新定义，一直显示报错

[2021-06-07 05:30] xupengao opened #3303 "efficient 调大分辨率和缩放比例，eval会报错"
aspect_ratios如何重新定义，一直显示报错

[2021-06-07 05:50] ulanbator opened #3304 "调整学习率和迭代次数的文档地址找不到了。"
(https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/FAQ.md)调整学习率和迭代次数。

[2021-06-07 05:55] wangxinxin08 commented on #3300
可以具体描述下你的问题？如果只是检测出举行物体的四个顶点，可以考虑检测算法，如果要检测数物体的多个关键点可以考虑关键点的算法

[2021-06-07 05:55] wangxinxin08 commented on #3302
麻烦具体描述下修改了什么，以及给一下报错的截图

[2021-06-07 05:58] xupengao commented on #3302
这是我配置的yaml文件
architecture: EfficientDet
max_iters: 200000
use_gpu: true
pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/EfficientNetB3_pretrained.tar   #B0
weights: output/efficientdet_d0/model_final
log_smooth_window: 20
snapshot_iter: 5000
metric: COCO
save_dir: output
num_classes: 3  #81
use_ema: true
ema_decay: 0.9998

EfficientDet:
  backbone: EfficientNet
  fpn: BiFPN
  e

[2021-06-07 05:59] xmy0916 opened #3305 "文档bug"
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/featured_model/LARGE_SCALE_DET_MODEL.md
这个链接下面的配置文件链接全挂了~

[2021-06-07 06:14] xupengao commented on #3302
![Uploading image.png…]()

[2021-06-07 06:15] zhiboniu commented on #3299
results = detector.predict(image, FLAGS.det_threshold)
这行改成results = detector.predict([image], FLAGS.det_threshold)试一下，这里有过改动

[2021-06-07 07:23] wangxinxin08 commented on #3305
感谢你的反馈，我们马上修复下

[2021-06-07 08:11] #3303 closed, assigned to nobody

[2021-06-07 09:55] ko440124 commented on #3299
这样改确实有效

[2021-06-07 12:35] wangxinxin08 commented on #3302
我按照你提供的配置文件改了一遍，没有出现问题，请问你运行的命令是什么？

[2021-06-07 12:46] xupengao commented on #3302
就是正常的命令，我是在release/0.4下运行的 服务器3090，paddle2.1版本。是paddledetection代码太老了么
python tools/train.py -c configs/efficientdet_d0.yml --eval  --use_vdl=True --vdl_log_dir=vdl_dir/scalar

[2021-06-07 12:47] wangxinxin08 commented on #3302
可以更新到PaddleDetection的2.1版本试试

[2021-06-07 12:47] wangxinxin08 commented on #3304
可以参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/FAQ.md 或者https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/docs/FAQ.md

[2021-06-07 12:58] ZJH970922 opened #3308 "S2ANet网络自制数据集，训练没问题，但是到了推理阶段报错。"
(paddle) G:\PaddleDetection\PaddleDetection-release-2.1>python tools/infer.py -c configs/dota/s2anet_1x_GIS.yml -o weights=G:\PaddleDetection\PaddleDetection-release-2.1\output\s2anet_1x_GIS\model_final.pdparams --infer_dir=G:\PaddleDetection\GIS_images\test --draw_threshold=0.05 --save_txt=True --output_dir=output
G:\Anaconda\envs\paddle\lib\site-packages\paddle\tensor\creation.py:125: Deprecatio

[2021-06-07 12:58] ulanbator commented on #3304
谢谢！

[2021-06-07 12:58] #3304 closed, assigned to nobody

[2021-06-07 13:58] wzwb opened #3309 "说明文档问题"
您好，2.0rc版本的rcnn说明文档格式好像还是老版本的，其中的类别数是不是应该写成不带背景的数量，按照您的文档写的加上背景（81）测试的时候会出现问题。

[2021-06-07 14:16] zouzhuo777 commented on #3278
请问你这个问题解决了吗，我在aistudio上用FairMOT训练MOT20数据集，也出现了这个问题。
paddledet是2.1.0

[2021-06-07 14:38] zouzhuo777 opened #3310 "FairMOT训练：在Aistudio上，用MOT20作为训练集时，训练报错。"
修改configs/datasets/mot.yaml如下：
TrainDataset:
  !MOTDataSet
    dataset_dir: /home/aistudio/MOT20
    image_lists: ['mot20.train']
    data_fields: ['image', 'gt_bbox', 'gt_class', 'gt_ide']

用GPU单卡训练：
CUDA_VISIBLE_DEVICES=0 python tools/train.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml

报错信息为：
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()

[2021-06-07 14:41] zouzhuo777 commented on #3310
安装的paddledetection版本为2.1.0，安装步骤为：
! pip install paddledet==2.1.0 -i https://mirror.baidu.com/pypi/simple
由于git clone速度慢，我把paddleDetection 2.1.0版本的压缩包上传到AiStudio并解压，代替了git clone。

[2021-06-07 14:41] zouzhuo777 commented on #3310
奇怪的是，单独运行：
from ppdet.data.transform import RGBReverse
没有报错

[2021-06-07 15:24] shen-wenxin commented on #3180
OSError: (External)  Cuda error(700), an illegal memory access was encountered.
  [Advise: Please search for the error code(700) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038 ) to get Nvidia's official solution about CUDA Error.] (at /paddle/paddle/fluid/platform/gpu_info.cc:382)
  [operator

[2021-06-07 15:32] shen-wenxin opened #3311 "利用mask_rcnn_r50_vd_fpn_ssld_2x_coco训练时报错"
环境：cuda 10.1 / cudnn 7.6.4

利用以下命令进行训练
python tools/train.py -c configs/mask_rcnn/mask_rcnn_r50_vd_fpn_ssld_2x_coco.yml --eval

然后训练的时候没问题，但是eval的时候报错如下：
loading annotations into memory...
Done (t=0.01s)
creating index...
index created!
[06/07 23:20:33] ppdet.engine INFO: Eval iter: 0
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.p

[2021-06-07 15:45] bbbxixixixi opened #3312 "Hybrid Task RCNN需要的semantic数据有生成的api吗？"
目前数据集中有bbox和segmentation
{
            "segmentation": [
                [
                    416.6666666666667,
                    299.6666666666667,
                    408.6666666666667,
                    309.6666666666667,
                    411.3333333333333,
                    316.3333333333333,
                    412.0,
                    329.0,
                    419.3333333333333

[2021-06-07 16:10] linyangsdu commented on #3297
我找到了问题，是CascadeRCNN 中多尺度代码测试的问题，他复用了两个i,
PaddleDetection/static/ppdet/modeling/architectures/cascade_rcnn.py 中的190行以及212行左右
请确认别的arch中是否也有这样问题

[2021-06-08 00:52] Dorablank opened #3313 "result"

[2021-06-08 00:53] #3313 closed, assigned to nobody

[2021-06-08 01:07] VantastyChen opened #3314 "Win10环境下C++端TensorRT推理部署问题"
Win10环境下使用Paddle-TensorRT库预测，将--use_static设置为true，按照文档说明应该是会自动加载已经保存的序列化文件进行推理，但是实际上会重新生成新的序列化文件而不是加载已经保存的文件，导致每次重新预测都会重新生成序列化文件，速度非常慢。在ubuntu环境下测试没有这个bug。

[2021-06-08 01:14] bbbxixixixi opened #3315 "请问如何通过统计得到的bbox信息（宽高比，大小，类别）来调整fpn，使得检测结果更加准确？"
以常见的FPNRPNHead为例
FPNRPNHead:
  anchor_generator:
    anchor_sizes: [32, 64, 128, 256, 512]
    aspect_ratios: [0.5, 1.0, 2.0]
    stride: [16.0, 16.0]
    variance: [1.0, 1.0, 1.0, 1.0]
  anchor_start_size: 32
  min_level: 2
  max_level: 6
  num_chan: 256
  rpn_target_assign:
    rpn_batch_size_per_im: 256
    rpn_fg_fraction: 0.5
    rpn_positive_overlap: 0.7
    rpn_negative_overlap: 0.3
    rpn

[2021-06-08 02:26] liuhuiCNN commented on #3161
建议您用paddle2.1.0 ppdet2.1.0 试下

[2021-06-08 02:29] liuhuiCNN commented on #3308
请问您test reader中数据路径配置正确吗？

[2021-06-08 02:31] nemonameless commented on #3310
#3278 你好，可以尝试卸载重装paddledet。paddleDetection 2.1.0版本的压缩包解压后，运行`python setup.py install` 安装。

[2021-06-08 02:38] lyuwenyu commented on #3315
- 如果bbox分布有比较集中的统计特征 可以按照你说的调整aspect_ratios
- anchor的大小 可以通过 anchor_sizes 调整

[2021-06-08 02:40] lyuwenyu commented on #3314
请 @liuhuiCNN 来帮忙解答一下 部署得问题

[2021-06-08 03:03] lyuwenyu commented on #3312
- 你说的`semantic` 是指 `binary mask` 嘛

- 可以使用Coco的API
[code]

[2021-06-08 03:16] bbbxixixixi commented on #3315
这个anchor_sizes 的大小映射到原图的大小之间有什么计算公式吗？比如anchor_sizes 32，对应到输入原图是多少？

[2021-06-08 03:24] liuhuiCNN commented on #3314
请问您使用的模型和paddle预测库版本是多少呢？

[2021-06-08 03:26] VantastyChen commented on #3314
都是最新版，模型是转换后的2.1版本的ppyolov2，预测库是2.1版本的cuda10.2_cudnn7_avx_mkl_trt7。

[2021-06-08 03:32] lyuwenyu commented on #3311
也提供一下paddle和ppdet的版本信息吧

[2021-06-08 03:33] bbbxixixixi commented on #3312
不是这个，而是HybridTaskCascade训练时需要的stuffthingmaps，长下图这样，每张图片对应一个stuffthingmaps
![20200314113931187](https://user-images.githubusercontent.com/24725986/121118874-33154100-c84d-11eb-8d67-0c9903cb7632.png)

[2021-06-08 03:36] lyuwenyu commented on #3315
- 这里的size就是对应输入的尺寸

[2021-06-08 03:38] shen-wenxin commented on #3311
您好
paddle:2.1.0
ppdet的版本号该怎么查看呢

谢谢

[2021-06-08 03:54] lyuwenyu commented on #3311
看一下分支信息  `git branch`

[2021-06-08 04:01] shen-wenxin commented on #3311
您好，paddleDetection的分支是release/2.1
然后是根据快速安装教程配的环境
其中paddledet==2.1.0

谢谢

[2021-06-08 04:13] #3315 closed, assigned to nobody

[2021-06-08 05:16] lyuwenyu commented on #3311
我使用下边的配置 没有复现你这个错误，建议你单独eval试一下
- driver 418.67
- cuda 10.1
- cuDNN 7.6
- paddle 2.1
- ppdet branch release/2.1

[2021-06-08 05:17] xmy0916 opened #3317 "配置文件问题"
ppyolov2的配置文件：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolov2_r50vd_dcn_voc.yml#L9
这里有一个snapshot_epoch。
在runtime.yml里面：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/runtime.yml#L4
这里也有一个snapshot_epoch。

感觉有点乱。到底用的哪个呢？还是两个不一样的作用？

[2021-06-08 05:25] lyuwenyu commented on #3317
- 后出现的snapshot_epoch起作用 <这个例子就是ppyolov2里的>
- 框架的逻辑是
  - 同一级别的参数 后出现的覆盖之前的
  - 这个例子可以认为`runtime.yml`里的是默认的公用的  如果想要修改在自己的配置文件yml里重新写就行了

[2021-06-08 05:33] #3317 closed, assigned to nobody

[2021-06-08 05:35] shen-wenxin opened #3320 "想问一下paddleDetection 2.0版本可以infer的时候只输出.json文件而不需要可视化吗"
如题，我半年前用过paddleDetection 2.0训练过一些模型
现在想在其基础上接着训练
但是我现在想要infer img的时候，output文件夹里只输出了可视化后的图片
然而我想要的是.json格式的输出文件
请问有什么办法实现吗

[2021-06-08 05:38] Mr-ind1fferent commented on #3278
我本地没解决，但是aistudio可以跑，完全一样的环境，我发现了在yml文件下，对应的不一样，同样是我git clone的

[2021-06-08 05:42] wangxinxin08 commented on #3305
fixed by https://github.com/PaddlePaddle/PaddleDetection/pull/3318

[2021-06-08 05:44] #3305 closed, assigned to nobody

[2021-06-08 05:44] lyuwenyu commented on #3312
- 这个可以认为是多个binary-mask合在一起的<不同的class 对应不同的非0值 加在一起就可以 可视化时不同值对应不同的cmap>
- paddledet暂时没有这样的接口
- 可以去paddleseg问问
  - https://github.com/PaddlePaddle/PaddleSeg

[2021-06-08 05:50] Mr-ind1fferent opened #3321 "JDE模型export出错"
![image](https://user-images.githubusercontent.com/74087260/121130092-79c06680-c860-11eb-8a0e-01de309e9e7c.png)

[2021-06-08 05:51] Mr-ind1fferent commented on #3321
![image](https://user-images.githubusercontent.com/74087260/121130163-95c40800-c860-11eb-844c-29ef48d21213.png)
运行命令

[2021-06-08 05:57] #3321 closed, assigned to nobody

[2021-06-08 05:59] Mr-ind1fferent opened #3322 "JDE模型如何支持export？"
如题

[2021-06-08 06:04] #2101 closed

[2021-06-08 06:04] nemonameless commented on #3322
暂时还没有支持，会尽快支持

[2021-06-08 06:07] #2279 closed, assigned to nobody

[2021-06-08 06:10] #3159 closed, assigned to nobody

[2021-06-08 06:11] #3154 closed, assigned to nobody

[2021-06-08 06:12] #3288 closed, assigned to nobody

[2021-06-08 06:13] bikerr commented on #3300
@wangxinxin08  文档证件类的四个顶点的检测  你说的检测算法主要是哪个呢？

[2021-06-08 06:15] liuwenhua6666 opened #3323 "模型在训练过程中评估时会报错，修改bachsize==1,报错为图1，其他为图2，paddle 版本2.1.0"
![image](https://user-images.githubusercontent.com/58496976/121132581-e5580300-c863-11eb-91a4-fc689ef00f43.png)
![image](https://user-images.githubusercontent.com/58496976/121132631-f43eb580-c863-11eb-89b5-91944d2384b5.png)

[2021-06-08 06:17] wangxinxin08 commented on #3300
如果是矩形框，PaddleDection中的大多数算法都能满足你的需求，你可以根据实际情况选用

[2021-06-08 06:20] #3299 closed, assigned to nobody

[2021-06-08 06:21] Mr-ind1fferent commented on #3322
怎样用自己训练的模型进行视频预测

[2021-06-08 06:22] lyuwenyu commented on #3323
问题1. 可以使用develop分支 这个问题已经修复了
问题2. 参考 https://github.com/PaddlePaddle/PaddleDetection/issues/3225

[2021-06-08 06:25] lyuwenyu commented on #3320
1. 建议迁移到最新版本
2. 如果老版本不支持的话 可以在trainer里 predict添加你想要的实现 https://github.com/PaddlePaddle/PaddleDetection/blob/457f649abaad14809ad344269f982bf00cc752b4/ppdet/engine/trainer.py#L390

[2021-06-08 07:03] hhxdestiny commented on #3243
推理没有预测框，先检查阈值是不是太高（默认0.5）

[2021-06-08 07:03] #3243 closed, assigned to nobody

[2021-06-08 07:28] nemonameless commented on #3322
请参考文档：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/mot/jde
[code]

[2021-06-08 07:42] VJoer opened #3324 "模型在边训练边评估时报错。paddlepaddle==2.0.0 paddleDetection==2.0.0"
在跑完第一轮训练后进入验证就会出现这样的错误
![image](https://user-images.githubusercontent.com/41233036/121143901-163e3500-c870-11eb-869a-f7c61502a790.png)
这是我的配置文件参数
![image](https://user-images.githubusercontent.com/41233036/121144644-c449df00-c870-11eb-8dd1-3bbd0510c236.png)
![image](https://user-images.githubusercontent.com/41233036/121144706-d3c92800-c870-11eb-93b1-b6d7151dccc6.png)
![image](https://user-images.g

[2021-06-08 07:49] lyuwenyu commented on #3324
- 单独eval会报错嘛？ 是自己的数据集嘛 检查一下数据生成是否正确
![image](https://user-images.githubusercontent.com/17582080/121144917-02df9980-c871-11eb-9ab3-6a51f87f2275.png)

ps. 建议都升级到2.1

[2021-06-08 08:03] VJoer commented on #3324
数据集是使用labelme自己标注的，再用x2coco.py生成coco格式的数据集，请问如何检查数据集是否转化错误？
单独eval也会报错
![image](https://user-images.githubusercontent.com/41233036/121146809-df1d5300-c872-11eb-924d-ce3bd942057d.png)

[2021-06-08 08:09] lyuwenyu commented on #3324
- 你的数据一共几个类别
- 如果train时候可以 你eval时候用train.json试一下

[2021-06-08 08:12] lyuwenyu commented on #3309
- 好的 多谢建议

ps. 建议之后都用新版本 -.-

[2021-06-08 08:15] wzwb commented on #3309
嗯嗯，就是想用dygraph中的版本，但是打开对应的说明文档格式都对不上。

[2021-06-08 08:18] VJoer commented on #3324
数据集一共5个类别
将eval.json换成train.json还是会报相同的错误
![image](https://user-images.githubusercontent.com/41233036/121149153-ff4e1180-c874-11eb-8393-a6dffd9a02d7.png)
![image](https://user-images.githubusercontent.com/41233036/121149352-2b699280-c875-11eb-8967-90c2382751a0.png)

[2021-06-08 08:27] lyuwenyu commented on #3324
五个类别的编号是什么

[2021-06-08 08:31] VJoer commented on #3324
使用的标签是1到5

[2021-06-08 08:33] lyuwenyu commented on #3324
改成 0-4

类别是从0开始计数的

[2021-06-08 08:39] VJoer commented on #3324
好的，感谢

[2021-06-08 08:39] lyuwenyu commented on #3309
嗯现在release/2.1默认就是dygraph的

[2021-06-08 08:41] wzwb commented on #3309
嗯，我用的是2.0-rc里面的rcnn说明文档跟dygraph中的yml文件格式不太一样

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年6月8日(星期二) 下午4:39
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 说明文档问题 (#3309)

嗯嗯，就是想用dygraph中的版本，但是打开对应的说明文档格式都对不上。

嗯现在release/2.1默认就是dygraph的

—
You are receiving this because you authored the thread.
Reply to th

[2021-06-08 09:01] wxf764571829 opened #3326 "学习率的疑惑，loss随着学习不断变大，最终为nan ，2.1版本，2GPU，lr0.00025，其余除了类个数均未修改"
[06/08 16:58:10] ppdet.utils.checkpoint INFO: Finish loading model weights: /home/ubuntu01/.cache/paddle/weights/ResNet50_cos_pretrained.pdparams
[06/08 16:58:12] ppdet.engine INFO: Epoch: [0] [   0/3308] learning_rate: 0.000025 loss_rpn_cls: 0.698832 loss_rpn_reg: 0.319019 loss_bbox_cls: 1.223035 loss_bbox_reg: 0.000154 loss: 2.241040 eta: 13:33:58 batch_cost: 1.2303 data_cost: 0.0002 ips: 0.8128

[2021-06-08 09:04] wxf764571829 commented on #3326
数据集本身是之前在faster-rcnn训练没问题的voc数据

[2021-06-08 09:11] DongChenwei2000 opened #3327 "关于训练"
我在aistudio上进行训练，GPU使用时间到时，我将最后一个保存的模型转移到另一个号上，想继续训练，使用-r，但是出现如下错误。
![image](https://user-images.githubusercontent.com/71364549/121157972-94083d80-c87c-11eb-9746-c9350e820116.png)

[2021-06-08 09:37] Nehcknarf opened #3328 "PP-YOLOv2 使用自定义的 VOC 数据集训练，部分 loss 指标不收敛是正常情况吗？"
总loss在下降，cls和obj下降很快，但wh, xy, iou的loss一直在波动，没有下降的意思。
是不是因为VOC标注格式的问题？若转换为COCO格式是不是就正常了？如果不转换应该也不影响训练吧

配置文件为 ppyolov2_r50vd_dcn_voc.yml

[2021-06-08 10:19] VJoer commented on #3324
你好，我使用脚本文件将labelme标注的标注改为0-4，再使用x2cool.py进行数据集格式转换，配置文件中num_classes==5，但是还是会报相同的错误
这是train.json文件中categories类别对应关系
![image](https://user-images.githubusercontent.com/41233036/121170361-b05da780-c887-11eb-8fd0-a3148d550ba9.png)

[2021-06-08 10:37] lyuwenyu commented on #3326
- 现在用的那个算法  faster rcnn嘛
- 可以尝试
  - 增加warmup的iter数
  - 去掉warmup
  - 减小学习率

[2021-06-08 10:46] lyuwenyu commented on #3327
你转移了几个文件?  是需要<xx.pdopt 和 xx.pdparams>这两个

[2021-06-08 10:48] lyuwenyu commented on #3328
数据格式不影响的训练的  保证dataset.yml里设置正确就行

[2021-06-08 13:49] ZJH970922 commented on #3308
test reader中数据路径配置是正确的，
在 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/dota/README.md 中，进行 python tools/infer.py -c configs/dota/s2anet_1x_dota.yml -o weights=model.pdparams --infer_img=demo/P0072__1.0__0___0.png 可以输出相应的结果。
同时，我的数据集制作是根据 https://aistudio.baidu.com/aistudio/projectdetail/1890589?channelType=0&channel=0 进行的，但是到了最后一步的推理，出现了以上的问题...

[2021-06-08 14:26] ulanbator opened #3330 "PP-YOLOv3最后回归目标框是按左下角、右上角的格式输出的吗？"
coco的dataset代码中对于非旋转框生成的标签是左下角和右上角，那么yolov3最后输出的也是左下角和右下角吗？
is_rbox_anno = True if len(inst['bbox']) == 5 else False
                    if is_rbox_anno:
                        xc, yc, box_w, box_h, angle = inst['bbox']
                        x1 = xc - box_w / 2.0
                        y1 = yc - box_h / 2.0
                        x2 = x1 + box_w
                        y2 = y1 + box_h

[2021-06-08 15:32] kaixin-bai opened #3331 "The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.4, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version."
## 问题描述：
安装paddlepallde后，在python解释器中进行测试，出现警告信息：
[code]
## Steps to reproduce
paddlepaddle安装方式为如下命令，其中`cuda`的版本选择的是`101`，安装命令中没有指定cudnn版本的位置。
[code]
我的本机GPU对应的cuda version为10.1。
[code]

## 问题
这个报错是否会影响paddlepaddle的使用？如果会影响使用，正确的安装方式应该是如何安装，哪里可以指定cudnn的版本。

[2021-06-08 16:48] bbbxixixixi commented on #3312
写了个简单的函数解决了这个问题
coco = COCO(anno_file_path)
annids = coco.getAnnIds()
anns = coco.loadAnns(annids)
imgids = coco.getImgIds()
imgid2annos = {}
for im_id in imgids:
    imgid2annos[im_id] = []
for anno in anns:
    imgid2annos[anno['image_id']].append(anno)

for im_id in imgids:
    target_anns = imgid2annos[im_id]
    img_info = coco.loadImgs([im_id])[0]
    height, width, im_fname = img_info['heig

[2021-06-09 01:09] okooo5km opened #3332 "ValueError: (InvalidArgument) The rois_batch_size and imgs batch_size must be the same"
# 配置

使用 `cascade_rcnn_r50_fpn_1x_voc.yml` 进行评估，尝试 EvalReader 中设置大于 **1** 的 **batch_size**，其中 `EvalReader `自定义配置如下:

[code]

进行评估：

[code]

# 报错

[code]

[2021-06-09 01:27] wxf764571829 commented on #3326
采用的是faster_rcnn_r50_fpn_1x_coco   学习率试过不断减少但依旧nan,未见warmup参数的iter参数，仅有statr_factor 和step

[2021-06-09 01:28] wxf764571829 commented on #3326
采用的是faster_rcnn_r50_fpn_1x_coco 学习率试过不断减少但依旧nan,未见warmup参数的iter参数，仅有statr_factor 和step

[2021-06-09 03:08] xupengao commented on #3302
我用2.1版本测试过了，还是出现同样的问题，维度不对应。
    InvalidArgumentError: The 1st dimension of each Variables in Input(Anchors) must be equal to the 2nd dimension of corresponding Variables in Input(BBoxes), which repres
ents the number of the predicted boxes, but received Anchors 1st dimension is:36864, BBoxes 2nd dimension is:112896.
      [Hint: Expected anchor_dims[0] == bbox_dims[1], but received anchor_dims[0]

[2021-06-09 03:39] lyuwenyu commented on #3330
- 经过`BBoxPostProcess`处理后 是的

[2021-06-09 03:48] lyuwenyu commented on #3331
- 上边是 warning  不是 error, 应该不影响使用
- 检查paddle是否按照成功
[code]

- 不过可以按照建议 安装cudnn-7.6 替代你现在系统里的cudnn-7.4   避免不必要的潜在问题
- cudnn可以去nvidia官网下载

[2021-06-09 03:50] lyuwenyu commented on #3326
- 可以适当增大step
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/faster_rcnn/_base_/optimizer_1x.yml#L11

[2021-06-09 04:07] lyuwenyu commented on #3330
是的

参考

- https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/layers.py#L465
- https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/ppdet/modeling/ops.py#L600

[2021-06-09 04:26] nemonameless commented on #3278
请使用git clone这样能保持实时最新的代码，之前pip install上传的那个包可能会有点小的差异

[2021-06-09 04:45] wxf764571829 commented on #3326
step从1000增加到10W lr从0.0025到0.00000025 均无明显效果， 我的环境python3.8 cuda10.1 ubuntu16.04 paddle2.1

step从1000增加到10W lr从0.0025到0.00000025 均无明显效果， 我的环境python3.8 cuda10.1 ubuntu16.04 paddle2.1

[2021-06-09 05:12] lyuwenyu commented on #3326
step值

[2021-06-09 05:21] sicklife commented on #2241
我也遇到了这个问题。但是莫名其妙地解决了。似乎是和引用paddle的顺序有关系。

[2021-06-09 05:36] liuhuiCNN commented on #3332
develop分支最新代码已支持faster rcnn bs>1，请用develop分支试下。

[2021-06-09 05:50] wxf764571829 commented on #3326
epoch: 12

LearningRate:
  base_lr: 0.0025
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones: [8, 11]
  - !LinearWarmup
    start_factor: 0.025
    steps: 3000

OptimizerBuilder:
  optimizer:
    momentum: 0.9
    type: Momentum
  regularizer:
    factor: 0.0001
    type: L2
您好，step指的是这里的Warmup下的steps吧？这个值我修改过，不断增大，但实际loss还是会变成nan

[2021-06-09 05:58] smslit commented on #2485
同问，如何调用部署的 Detection 模型 HTTP 服务，找遍了也没找到 demo（examples）

[2021-06-09 06:08] lyuwenyu commented on #3324
改id 不是改name

[2021-06-09 06:12] VJoer commented on #3324
这个id是x2coco.py文件自动生成的，请问要怎么修改？
还有介绍中提到CBResNet为Cascade-Faster-RCNN-CBResNet200vd-FPN模型，但是我在configs文件夹下并没有找到这个模型配置文件，请问这个模型配置文件在哪？

[2021-06-09 06:40] jerrywgz commented on #3326
![image](https://user-images.githubusercontent.com/22989727/121305580-54029280-c930-11eb-8261-65731bcee6e9.png)
我这边在两卡的环境下使用faster_rcnn_r50_fpn_1x_coco跑VOC数据集，是可以正常训练的，你这边可以尝试先使用单卡训练，然后将reader配置文件中的shuffle设置为false，观察是否每次训练都是同一张图导致的训练异常。另外也可以使用finetune的方式，也就是加载coco数据集上训练好的模型作为pretrain_weights

[2021-06-09 06:46] wxf764571829 commented on #3326
我测试过单卡 也是一样的，这边数据集是我自己的数据集 但是在win10下（cpu）跑paddlex 都没问题 同样数据集拿到ubuntu下 改了对应配置lr和 warmup下的steps 尝试了yolo和rcnn等 均出现典型梯度爆炸现象

[2021-06-09 06:58] wxf764571829 commented on #3326
修改了shuffle设置为false，训练测试，loss_bbox_cls，loss_bbox_reg，loss随着迭代越来越大，最终变成nan，多次测试，出现nan的位置不同，均为第一轮：[ 580/3308] 时出现一次，[ 80/3308]出现一次，[ 20/3308]出现一次

[2021-06-09 06:59] sunpeng1114 opened #3334 "主干网络更换"
如何将yolov3中的resnet更换成senet使用呢

[2021-06-09 07:03] sunpeng1114 commented on #3334
不好意思 输错了

[2021-06-09 07:03] #3334 closed, assigned to nobody

[2021-06-09 07:07] ResonLee opened #3335 "solov2训练自己的数据，训练结果显示ap为0，模型测试图像标签显示错误"
在使用paddle 实现的 solov2训练自己的数据集，数据集使用labelme标注，数据类别一共5类(G、GD、GS、GJ、car)，标注的的时候同一张图像上多个同类目标物的时候，标签为（G1、G2...GD1、GD2、GD3...),
1、按文档教程，运行x2coco.py转化为coco数据结构如下
---dataset/Guarid
------annotations
---------instance_train.json
---------instance_val.json
------train
         .......jpg
------val
         .......jpg
2、在coco_instance.yml中配置如下
`metric: COCO
num_classes: 5

TrainDataset:
  !COCODataSet
    ima

[2021-06-09 07:11] IamNaQi opened #3336 "Training not saving any check points or model result in output folder and stopped after 1 or 2 epochs"
![image](https://user-images.githubusercontent.com/76849182/121308833-57593800-c8b6-11eb-8cc3-09d4c86f7147.png)

and getting some outputs on another computer.  Only one difference is that this computer that having some results use CPU and the first one having error using GPU

[2021-06-09 07:14] IamNaQi commented on #3336
![image](https://user-images.githubusercontent.com/76849182/121309795-7b694900-c8b7-11eb-8b32-49a37fcc2af5.png)

here on CPU pc getting results to output folder but nothing in GPU

[2021-06-09 07:17] jerrywgz commented on #3326
可以麻烦提供下少量的复现数据和配置文件吗

[2021-06-09 07:27] lyuwenyu commented on #3324
哦好吧 我以为是你标注文件

解释的链接在哪里

[2021-06-09 07:27] ReverseSacle opened #3337 "FairMOT打印问题"
看了FairMOT的相关代码，关于ppdet/engine/tracker的代码中有打印文本的代码块，但使用其预测视频时最终并未生成相应的类似于（'{frame},{id},{x1},{y1},{w},{h},1,-1,-1,-1\n'）这种格式内容的txt文件，想问下是否是并未支持打印输出功能？

[2021-06-09 07:42] VJoer commented on #3324
[在README_cn.md文件模型概览中说明的第一点](https://github.com/PaddlePaddle/PaddleDetection#%E6%A8%A1%E5%9E%8B%E6%80%A7%E8%83%BD%E6%A6%82%E8%A7%88)

![image](https://user-images.githubusercontent.com/41233036/121313195-ba8bae80-c938-11eb-80f9-6b226eed981a.png)

[2021-06-09 08:02] #3331 closed, assigned to nobody

[2021-06-09 08:07] wxf764571829 commented on #3326
大概需要多少数据？

[2021-06-09 08:24] wxf764571829 commented on #3326
部分数据及配置文件
链接：https://pan.baidu.com/s/1K4AhWZA_fpPG8FIY4ECnlw
提取码：vl1c

[2021-06-09 08:27] wxf764571829 commented on #3326
这边是对应的部分数据和配置文件
链接：https://pan.baidu.com/share/init?surl=K4AhWZA_fpPG8FIY4ECnlw
提取码：vl1c

[2021-06-09 08:28] wxf764571829 commented on #3326
这边是对应的部分数据和配置文件
链接：https://pan.baidu.com/share/init?surl=K4AhWZA_fpPG8FIY4ECnlw
提取码：vl1c

[2021-06-09 08:30] TinyQi opened #3338 "C++推理时，结果框循环重复，是否有bug？"
我最近在用C++做服务端的部署，当我完成编译工作时，发现打印的结果框有问题了，都是循环重复的，无论是我自己只调用predict的函数的方式，还是调用原生代码里的main函数打印的方式，得到结果框都是重复的。
麻烦有知道的同学解释一下这个原因呗，循环重复是正常的还是不正常的。。如果不正常是否有修改的办法呢？

下面是我GDB打印的中间调试信息

![image](https://user-images.githubusercontent.com/28993936/121320645-ec544380-c93f-11eb-92d1-81f9e718c1cc.png)

[2021-06-09 08:31] lyuwenyu commented on #3324
- 不是你标注的问题
  - 建议升级到2.1
  - https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/metrics/json_results.py#L32
- Cascade-Faster-RCNN-CBResNet200vd-FPN
  - https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/configs/dcn/cascade_rcnn_cbr200_vd_fpn_dcnv2_nonlocal_softnms.yml

[2021-06-09 08:31] TinyQi commented on #3338
部分打印信息

[2021-06-09 08:31] #3338 closed, assigned to nobody

[2021-06-09 08:33] nemonameless commented on #3337
之前考虑预测视频时，并没有把视频抽帧图片保存下来，就没有记录txt文件。后面会尽快支持。可以暂时先用eval_mot.py跑出结果(需事先抽成图片)，虽然最后由于没有gt导致MOTA指标会-inf或0，但不影响保存结果。

[2021-06-09 08:38] TinyQi opened #3339 "C++部署推理时，结果中的检测框信息是循环重复的，是不是bug呢？"
我在使用C++进行推理的时候，发现打印信息里的检测框的信息是循环重复的，下面我加粗的字体就是重复的，突然不能传图片了，大家将就看看吧。
(gdb) c
Continuing.
**class=0 confidence=0.9869 rect=[107 11 252 391]**
class=32 confidence=0.9356 rect=[42 357 88 400]
**class=0 confidence=0.9869 rect=[107 11 252 391]**
class=32 confidence=0.9356 rect=[42 357 88 400]
Visualized output saved as output/hrnet_demo.jpg
WARNING: Logging before InitGoogleLogging() is written to STDER

[2021-06-09 08:44] TinyQi commented on #3339
@willthefrog @ZeyuChen

[2021-06-09 08:46] #3324 closed, assigned to nobody

[2021-06-09 09:04] wxf764571829 commented on #3326
对应的部分数据和配置文件，刚刚有部分配置文件忘记给出来了 这个是完整的
链接：https://pan.baidu.com/share/init?surl=_uPu7T5ZNhOtlt3fm3pPsQ
提取码：myyk

[2021-06-09 09:11] okooo5km commented on #3332
好的，谢谢！

[2021-06-09 09:11] #3332 closed, assigned to nobody

[2021-06-09 09:20] wxf764571829 commented on #3326
对应的部分数据和配置文件，刚刚有部分配置文件忘记给出来了 这个是完整的
链接：https://pan.baidu.com/share/init?surl=_uPu7T5ZNhOtlt3fm3pPsQ
提取码：myyk

[2021-06-09 09:41] meng8407 commented on #3290
您好,针对您的回答，我做了测试，同样的数据集，在aistudio上训练就不会出现这种提示，是我物理机在装环境种出现的问题吗？我应该怎么修改。

[2021-06-09 09:42] meng8407 commented on #3290
![b3504fe86b7b918f28f8aec3ebda5e2](https://user-images.githubusercontent.com/69879311/121331926-ec594100-c949-11eb-92c7-40a590cc72d0.png)
这是在aistudio上训练的截图，这个就不会提示The actual image width: 3000 is not equal to the width: 4000.0 in annotation, and update sample['w'] by actual image width.

[2021-06-09 10:02] yghstill commented on #3335
@JackLee-Python
1. 实例分割中类别只给统一的标签
2. TestDataset的anno_path指定你自己的标注json绝对路径

[2021-06-09 10:14] JackLee-Python commented on #3335
即是标注的时候只按G、GD、GS、GJ、car来标注，而不是多个同一类加序号？
TestDataset的anno_path指定的json文件同样也是将test数据集所有图像标签文件信息写到一个json文件中？还是说可以每张图像各自对应一个json文件？

[2021-06-09 10:15] ResonLee commented on #3335
@yghstill
谢谢，即是标注的时候只按G、GD、GS、GJ、car来标注，而不是多个同一类加序号？
TestDataset的anno_path指定的json文件同样也是将test数据集所有图像标签文件信息写到一个json文件中？还是说可以每张图像各自对应一个json文件？

[2021-06-09 10:17] TigerKylin opened #3340 "PaddleX训练的检测模型，在PaddleDetection里怎么用?"
二者的模型文件不一样，有什么转换工具吗？

[2021-06-09 10:24] nemonameless commented on #3247
建议按照`configs/ppyolo/_base_/ppyolov2_reader.yml`的sample_transforms的顺序
[code]
如果不使用mixup，只要设置  mixup_epoch: -1，不用删除Mixup: {alpha: 1.5, beta: 1.5}这一行

[2021-06-09 10:42] ReverseSacle commented on #3337
这个抽帧图片是指预测视频后保存的图片吗？要是这个，infer_mot之后就有生成了有带框的图片集了。还有一个问题，对于eval_mot，这个能评估自己的测试集吗。试了下，就报错：丢失seqinfo.ini。这个要自己生成吗？

[2021-06-09 10:54] yghstill commented on #3335
@JackLee-Python (1)只按G、GD、GS、GJ、car来标注，(2)anno写到一个json文件

[2021-06-09 11:00] lyuwenyu commented on #3336
- Can you give more information
  - paddledetection branch
  - training command, custom arguments and yml.
  - dataset information

- about problem in title
  - `snapshot_epoch` controls checkpoint behavior. And see example beblow
  - https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/ppyolo_mbv3_small_coco.yml#L9

[2021-06-09 11:46] nemonameless commented on #3337
抽帧图片是指输入视频抽出来的一帧帧，写入结果txt要区分第几帧的，最好也是把图片集生成了这样更直观。可以在 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/tracker.py#L369 加上
[code]

对于eval_mot.py，可以自制数据集，按照MOT16的目录和格式，seqinfo.ini这个仿照着MOT16的自己制作也是可以的。

[2021-06-09 11:53] jerrywgz commented on #3326
看了下你的数据类别是只有一类吗？

[2021-06-09 12:51] nemonameless commented on #3336
#3180

[2021-06-09 13:26] ZJH970922 commented on #3308
同时，我对num_id和label_to_cat_id_map进行了打印，输出结果如下：
(paddle) G:\PaddleDetection\PaddleDetection-release-2.1>python tools/infer.py -c configs/dota/s2anet_1x_GIS.yml -o weights=G:\PaddleDetection\PaddleDetection-release-2.1\output\s2anet_1x_GIS\model_final.pdparams --infer_img=G:\Paddl
eDetection\GIS_images\test\0004.jpg
W0609 21:24:59.169337 12080 device_context.cc:404] Please NOTE: device: 0, GPU Compute

[2021-06-09 13:39] cpene1 commented on #2241
Check this:

https://github.com/PaddlePaddle/PaddleOCR/issues/3070#issuecomment-857698911

[2021-06-10 01:02] IamNaQi commented on #3336
python tools/train.py -c "C:\Users\Jing\PD\configs\ppyolo\ppyolo_mbv3_small_coco.yml"

this is the command that tried just now. Snapshot_epoch are 10 but again it stopped after the first epoch

![image](https://user-images.githubusercontent.com/76849182/121448468-91751900-c94c-11eb-82fb-a10353ff7bca.png)

I am using a custom dataset in COCO format, the same dataset working fine in other (CPU) pc.

[2021-06-10 01:12] bbbxixixixi opened #3342 "data.transform.operators的resizeimage，参数里面resize_box默认值为false"
图片缩放不是应该同步操作gtbbox吗？大部分配置文件中都没更改。或者后续有步骤隐式的处理过了？

[2021-06-10 01:18] wxf764571829 commented on #3326
是的 只有一类，num_class那里最开始设置的是一类，后面看到issue上，有大佬说要包含背景类 就改成了两类

[2021-06-10 01:32] #3223 closed, assigned to nobody

[2021-06-10 01:58] xinsuinizhuan commented on #3227
C++推理上线了没？

[2021-06-10 02:16] jerrywgz commented on #3326
![image](https://user-images.githubusercontent.com/22989727/121453933-8cf44300-c9d4-11eb-837e-11fab2cb6071.png)
类别数在动态图下统一是不包含背景类的，在静态图下类别数需要加1。调整成1之后，在你给的小数据集下训练正常。看上去bbox回归分支还比较小，可能受数据少的影响，模型还没有比较好的学习到正样本.
建议在大数据集下尝试，或者使用coco数据集上训好的模型https://paddledet.bj.bcebos.com/models/faster_rcnn_r50_fpn_1x_coco.pdparams 作为pretrain_weights

[2021-06-10 02:46] wxf764571829 commented on #3326
这是我修改后和您一致的单卡训练，只不过是在打数据下，然而他依旧梯度爆炸，我在想这是否与我环境有关 ubuntu16.04
(paddle) ubuntu01@ubuntu01-System-Product-Name:/home/code/paddle/PaddleDetection-release-2.1$ python tools/train.py -c  configs/faster_rcnn/faster_rcnn_r50_fpn_
1x_coco.yml
/home/ubuntu01/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin

[2021-06-10 02:46] wxf764571829 commented on #3326
这是我修改后和您一致的单卡训练，只不过是在打数据下，然而他依旧梯度爆炸，我在想这是否与我环境有关 ubuntu16.04
(paddle) ubuntu01@ubuntu01-System-Product-Name:/home/code/paddle/PaddleDetection-release-2.1$ python tools/train.py -c  configs/faster_rcnn/faster_rcnn_r50_fpn_
1x_coco.yml
/home/ubuntu01/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin

[2021-06-10 02:52] wxf764571829 commented on #3326
(paddle) ubuntu01@ubuntu01-System-Product-Name:/home/code/paddle/PaddleDetection-release-2.1$ python tools/train.py -c  configs/faster_rcnn/faster_rcnn_r50_fpn_
1x_coco.yml
/home/ubuntu01/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Do

[2021-06-10 02:53] wxf764571829 commented on #3326
这是我修改后num_class==1其余保持和您一致的单卡训练，只不过是在大数据下，然而他依旧梯度爆炸，我在想这是否与我环境有关 ubuntu16.04

(paddle) ubuntu01@ubuntu01-System-Product-Name:/home/code/paddle/PaddleDetection-release-2.1$ python tools/train.py -c  configs/faster_rcnn/faster_rcnn_r50_fpn_
1x_coco.yml
/home/ubuntu01/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias

[2021-06-10 03:26] #3328 closed, assigned to nobody

[2021-06-10 03:27] huangdf97 opened #3343 "关键点检测模型评估的时候出现DataLoader reader thread raised an exception"
[code]

这里应该填入的是什么数据啊

[2021-06-10 05:17] SangerY opened #3345 "ppdet.engine WARNING: Evaluation results empty, this may be due to training iterations ..."
ppyolo tiny训练
单显卡：1080Ti
paddlepaddle版本：2.1.0
paddledet版本：2.1.0
epoch：650
训练batch_size：16
学习率设置：0.005/8=0.000625
开始训练还有评估值
![image](https://user-images.githubusercontent.com/12136347/121468590-a48bf580-c9ed-11eb-9fff-e7ec309fb739.png)
后面就报
WARNING: Evaluation results empty, this may be due to training iterations being  too few or not loading the correct weights.
后面又报这个错误程序终止
![image](https://user-

[2021-06-10 05:42] #3335 closed, assigned to nobody

[2021-06-10 05:44] #3330 closed, assigned to nobody

[2021-06-10 05:45] #3327 closed, assigned to nobody

[2021-06-10 05:48] #3323 closed, assigned to nobody

[2021-06-10 05:50] #3322 closed, assigned to nemonameless

[2021-06-10 05:51] #3320 closed, assigned to nobody

[2021-06-10 05:53] #3312 closed, assigned to nobody

[2021-06-10 05:55] #3309 closed, assigned to nobody

[2021-06-10 06:00] jerrywgz commented on #3326
链接: https://pan.baidu.com/s/15XAGG_VIgJG97MOQXMmcLg  密码: rp0v
这是我调试之后的数据，可以放在PaddleDetection的目录下，然后执行 python tools/train.py -c test_data/configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml

[2021-06-10 06:04] qingqing01 commented on #3340
@TigerKylin 请问具体是什么模型？有可能需要依据模型名字对应关系，转换下名字。没有直接的转换工具。

[2021-06-10 06:10] qingqing01 commented on #3345
@SangerY  Tiny模型默认的总batch-size是32 * 8，您当前的总batch-size是16，lr需要除以16。

https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/configs/ppyolo/_base_/ppyolo_tiny_reader.yml#L20

您是训练自己数据的话，也可以加载COCO模型作为预训练看下收敛情况。

[2021-06-10 06:12] qingqing01 commented on #3343
@huangdf97 您训练正常吗？具体是那个模型？是tools/eval.py评估吗？看样子数据格式不太正确。

[2021-06-10 06:19] qingqing01 commented on #3342
@bbbxixixixi

在静态图中是您提到这样，一些配置，有显示的配置gt bbox的normalize操作。Resize图片时就没有对gt box做normalize。

在动态图中，做了统一的处理，对图片做什么操作，对gt bbox也做什么操作。比如Resze可以参考如下:

https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/ppdet/data/transform/operators.py#L720

[2021-06-10 06:19] wxf764571829 commented on #3326
结果如下：依然梯度爆炸
(paddle) ubuntu01@ubuntu01-System-Product-Name:/home/code/paddle/PaddleDetection-release-2.1$ python tools/train.py -c  test_data/configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml
/home/ubuntu01/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `

[2021-06-10 06:31] SangerY commented on #3345
@qingqing01 对，是训练的自己的数据。我用的ppyolo_tiny.yml默认的预训练模型，这不是在coco上的预训练模型吗
![image](https://user-images.githubusercontent.com/12136347/121475755-69db8a80-c9f8-11eb-957e-9664189a38d2.png)

[2021-06-10 06:57] #3342 closed, assigned to nobody

[2021-06-10 07:15] jerrywgz commented on #3326
确认没有修改过其他代码吗？看上去如果bbox_reg分支过大，后续的训练肯定会影响其他分支，但是看起来rpn分支和bbox_cls分支的loss看起来还正常

[2021-06-10 07:26] wxf764571829 commented on #3326
确认没有修改过任何代码部分，我连代码的py文件都没有点开过，以下是最终的收尾：
[06/10 14:22:31] ppdet.engine INFO: Epoch: [10] [ 0/30] learning_rate: 0.000019 loss_rpn_cls: 0.604167 loss_rpn_reg: 0.014151 loss_bbox_cls: 0.053558 loss_bbox_reg: 7307942676923507792863324798976.000000 loss: 7307942676923507792863324798976.000000 eta: 0:00:13 batch_cost: 0.2378 data_cost: 0.0001 ips: 4.2050 images/s
[06/10 14:22:36] ppdet.engine INFO: Epoc

[2021-06-10 07:27] wxf764571829 commented on #3326
所以我一直找不到原因，然后2.1版本更新了ubuntu16.04环境，所以才在想是不是我本身环境哪里有问题

[2021-06-10 07:27] oldZhangYH opened #3348 "怎么获得骨干网络输出的特征图？"
我看源代码是直接将data丢到model里然后返回了各种loss`outputs=model(data)`，骨干网络输出的特征图怎么获得呢？

[2021-06-10 07:35] wxf764571829 commented on #3326
而且我在快速体验目标检测案例中也有问题：
# 在GPU上预测一张图片
export CUDA_VISIBLE_DEVICES=0
python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams --infer_img=demo/000000014439.jpg
输出结果与案例结果完全不一致，以下是我的输出结果
![000000014439](https://user-images.githubusercontent.com/46362180/121483985-613b8200-ca01-11eb-8314-07be605b9

[2021-06-10 08:07] wxf764571829 commented on #3326
为了确认没有修改代码，我重新按照快速按装文档操作了一遍，用您那边给我传回的数据来训练，依然出现梯度爆炸

[2021-06-10 08:18] RhythmF opened #3349 "使用ppyolo训练自己的数据集在第一轮结束时报错"
第一轮训练结束时报错如下：
IndexError: index 1 is out of bounds for axis 0 with size 1

自己的数据集格式是voc的，此前调用了conflgs中的其他模型可以正常训练和预测
这次调用的是ppyolo_r50vd_dcn_voc.yml(好像只有这一个支持VOC)
训练大概在第一轮要结束时出现如下报错

[code]

求大佬解答

[2021-06-10 08:33] heavengate commented on #3345
这个是ImageNet上训练的backbone模型的pretrain，如果你是训练自己的数据集的话建议加载我们发布好的权重做finetune，可以通过`-o pretrain_weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo_tiny.pdparams`

[2021-06-10 08:39] zsbjmy opened #3350 "请问这个target怎么预先初始化？"
[code]

[2021-06-10 08:54] garyggyy opened #3351 "车辆检测数据集"
请问专门做车辆检测的模型是在哪个数据集上训练出来的？

[2021-06-10 08:55] k-radlak commented on #3256
Ok. I found the solution. The model needs to be run using https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy and TensorRT

[2021-06-10 08:55] #3256 closed, assigned to wangxinxin08

[2021-06-10 09:50] TigerKylin commented on #3340
@qingqing01
FasterRCNN模型
ResNet50  backBone
做检测训练，导出模型文件夹里有：  ' ____model____'  、  '____params____'   、 ' model.yml '
![image](https://user-images.githubusercontent.com/73530861/121504693-c8aefd00-ca14-11eb-866b-e81e19a5674d.png)

这个和paddledetection用到的模型文件不一样，要怎么改名字？

[2021-06-10 10:02] qingqing01 commented on #3348
@kekekahuatian

需要在源码里获取，ppdet/modeling/architectures下面每类算法的主体框架里，forward()内部获取骨干网络输出的特征图，拿YOLO来说，下面 ` body_feats = self.backbone(self.inputs)` 返回就可以得到骨干网络输出的特征图。可以打印看下。

https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/ppdet/modeling/architectures/yolo.py#L63

[2021-06-10 10:05] qingqing01 commented on #3340
@TigerKylin  您发的paddlex导出来的是给推理用的模型。您是想训练finetune，还是用PaddleDetection部署呢？

咨询了下PaddleX实现的同学，说模型结构和权重名字和PaddleDetection的静态图一致。当前PaddleX导出的模型还是静态图的格式，导出非推理的模型，在PaddleDetection里可以直接加载试下。

[2021-06-10 10:11] qingqing01 commented on #3349
@RhythmF 您使用的PaddleDetection版本是多少？

您看下yml配置里是否包含:

https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/configs/ppyolo/ppyolo_r50vd_dcn_voc.yml#L20

[2021-06-10 10:15] qingqing01 commented on #3350
请问您有改动什么吗？数据集是COCO还是VOC？理论上数据集准备正确的话，不会出错

[2021-06-10 10:16] qingqing01 commented on #3351
这个是内部数据集训练的，非开源数据集。

[2021-06-10 10:27] TigerKylin commented on #3340
我是想直接作为推理模型，在PaddleDetection上部署。

[2021-06-10 11:14] zsbjmy commented on #3350
您好,ppyolo骨干我使用resent50，骨干返回【0，1，2，3】四个特征层，想使用4倍降采样的特征层。我想对网络进行适当的更改，请问我应该更改哪个路径下的源文件？

[2021-06-10 12:23] ZJH970922 opened #3352 "S2ANet测试中发现的问题。"
我在制作数据集的时候，利用rolabelimg工具打标签，分类只有一类，在configs\datasets的yml文件中，num_classes为1。结果发现，可以进行正常训练，但是到了利用训练好的模型推理图片时，出现以下错误：

[code]

当我利用相同数据集，在configs\datasets的yml文件中，将num_classes改为2时，依然可进行训练，并可顺利进行图片推理，但是图里输出的结果没有检测框。

[2021-06-10 12:37] ANewAnonymous opened #3353 "打包后出现大量进程"
对ppyolov2推理程序打包后生成exe，在创建detection后，出现大量进程
打包工具:pyinstaller                      ver:4.3
paddle版本:paddlepaddle-gpu     ver:2.0.0
命令:pyinstaller -D -w sss1.py

![QQ图片20210610203448](https://user-images.githubusercontent.com/17308906/121525810-5ac20000-ca2b-11eb-9707-e8f6b3a6819d.png)
![QQ图片20210610203454](https://user-images.githubusercontent.com/17308906/121525817-5d245a00-ca2b-11eb-98ad-ffac549a3

[2021-06-10 12:51] ReverseSacle opened #3354 "关于FairMOT的result问题"
目标：在预测中输出每个被框住的人的框的置信度。想问下，FairMOT在预测时，它的result中有保存置信度吗？还是在检测部分中才有置信度，要是这样该怎样输出对应框的置信度。

[2021-06-10 13:07] ANewAnonymous commented on #2144
使用pyInstaller打包后出现大量进程，即使loadModel没有运行也会这样
![QQ图片20210610203448](https://user-images.githubusercontent.com/17308906/121529714-408a2100-ca2f-11eb-82c9-e86067a2cbac.png)
![QQ图片20210610203454](https://user-images.githubusercontent.com/17308906/121529727-4253e480-ca2f-11eb-858d-d398290a76ec.png)
![QQ图片20210610203459](https://user-images.githubusercontent.com/17308906/121529734-441da800-ca2f-11eb-9853-

[2021-06-10 14:50] nemonameless commented on #3354
在检测部分中才有置信度，按一定阈值过滤后送入跟踪后处理的，后面这个置信度就没有用到了。近期会添加跟踪结果也输出对应框的置信度。

[2021-06-10 19:22] AyushExel opened #3358 "Support for wandb experiment management"
Hi, I'm an engineer at [W&B](https://wandb.ai/site) and I'm interested in building an integration with this tool. [Here's an example](https://wandb.ai/cayush/yolov5-dsviz-demo/reports/Object-Detection-with-YOLO-and-Weights-Biases--Vmlldzo0NTgzMjk) how integration can enhance the features of the tool. I don't know the official process of feature requests, so I thought I should ask the maintainers v

[2021-06-11 00:17] SangerY commented on #3345
@heavengate 还是不能收敛，使用的ppyolo_tiny.pdparams作为预训练权重，学习率改为除以16，还是和之前一样的现象，最后报一样的错，object has no attribute '_shutdown'，终止。我用yolov3训练没有问题。

[2021-06-11 00:19] terrancraft commented on #3247
OK 再试试

[2021-06-11 00:45] ResonLee commented on #3335
@yghstill 谢谢，问题已经解决了，这个训练没有详细的教程嘛？你们发布的上手教程看了很多遍，可是还有很多坑，但是上手训练这一步就是诸多波折，比如所之前用的mask-rcnn的训练标签是同类按序号分开的，直接过渡到solov2自然而然地以为是这样。

[2021-06-11 01:42] ResonLee opened #3359 "solov2训练map值宽幅震荡，无上升趋势，检测效果不好，检测置信度超过了偏高"
windows下单卡GPU训练，batch_size=1,原图尺寸1242*2208，resize图像尺寸（640， 800）paddlepaddle 2.0.2, paddledetection2.0.0
自定义的数据，目标实例分为5类，图像数量1000张，
训练配置如下：
epoch: 36

LearningRate:
  base_lr: 0.00125
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones: [24, 33]
  - !LinearWarmup
    start_factor: 0.
    steps: 2000

OptimizerBuilder:
  optimizer:
    momentum: 0.9
    type: Momentum
  regularizer:

[2021-06-11 02:18] #3340 closed, assigned to nobody

[2021-06-11 05:10] qingqing01 commented on #3350
@zsbjmy 您如果是将ppyolo原先的3个尺度改成4个尺度的话:

YOLOHead中的anchor需要调整支持4个尺度:

https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/configs/ppyolo/_base_/ppyolo_r50vd_dcn.yml#L29

预处理产出生target的地方，也需要相应调整:
https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/configs/ppyolo/_base_/ppyolo_reader.yml#L19

[2021-06-11 05:41] idreamerhx opened #3361 "ssd_mobilenet_v1_voc.pdparams to load model not exists"
(pyvenv) λ 6194893dc6c0 /opt/PaddleDetection {release/2.1} python tools/export_model.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml         --output_dir=./inference_model         -o weights=https://paddlemodels.bj.bcebos.com/object_detection/ssd_mobilenet_v1_voc.tar            TestReader.inputs_def.image_shape=[3,300,300]
grep: warning: GREP_OPTIONS is deprecated; please use an alias or scrip

[2021-06-11 05:49] qingqing01 commented on #3351
@garyggyy 您有什么需求吗？

[2021-06-11 05:52] liuhuiCNN commented on #3352
您好，感谢反馈，请问您数据中标签是从0开始还是从1开始的呢？

[2021-06-11 05:54] qingqing01 commented on #1609
最新动态图推理接口已支持MaskRCNN。

旋转框预测，已提供新的模型。

[2021-06-11 05:54] #1609 closed

[2021-06-11 05:54] qingqing01 commented on #1524
可以试用下最新的动态图版本~

[2021-06-11 05:54] #1524 closed

[2021-06-11 05:55] #1611 closed

[2021-06-11 05:55] #1633 closed

[2021-06-11 05:56] qingqing01 commented on #1623
可以试用下最新版本，如果还有问题，我们继续解决~

[2021-06-11 05:56] #1623 closed

[2021-06-11 06:04] qingqing01 commented on #3345
@SangerY 你数据方便提供吗？我们测试看下，我们在一些业务数据上也用ppyolo tiny，没问题。

[2021-06-11 06:09] nemonameless commented on #3337
已经支持infer_mot之后生成txt

[2021-06-11 06:13] zsbjmy commented on #3350
非常感谢您的帮助！请问如果我想在neck:YOLOV3FPN中加入注意力机制，我可以修改哪个文件？

[2021-06-11 06:23] ZJH970922 commented on #3352
您好，数据集的标签应该是从1开始的。
数据集的制作采用的是rolabelimg工具，生成的xml文件如下：
<annotation verified="yes">
  <folder>data</folder>
  <filename>1</filename>
  <path>G:\PaddleDetection\GIS_images\data\1.jpg</path>
  <source>
    <database>Unknown</database>
  </source>
  <size>
    <width>640</width>
    <height>480</height>
    <depth>3</depth>
  </size>
  <segmented>0</segmented>
  <object>
    <type>robndbox</type>
    <

[2021-06-11 06:27] wxf764571829 commented on #3326
想问下，您那边整体环境是多少，这边如果确实没办法 我就尝试重新按照环境了

[2021-06-11 06:32] nemonameless commented on #3269
@zhude233 已经支持

[2021-06-11 06:33] nemonameless commented on #3182
@yunchangxiaoguan 已经换decord来读取视频，应该比opencv更加高效了

[2021-06-11 06:35] nemonameless commented on #3361
您好，建议使用release/2.1或develop分支的最新代码，默认使用动态图。您好像使用是权重是旧版的静态图的，动态图权重为`https://paddledet.bj.bcebos.com/models/ssd_mobilenet_v1_300_120e_voc.pdparams`

[2021-06-11 06:35] zhiboniu commented on #3343
你好，请打印一下训练数据的type看看，是否在支持的列表里

[2021-06-11 06:51] #3289 closed, assigned to nobody

[2021-06-11 06:51] #3278 closed, assigned to nemonameless

[2021-06-11 06:52] #3269 closed, assigned to nemonameless

[2021-06-11 06:52] #3257 closed, assigned to nemonameless

[2021-06-11 06:53] raymondchu-z opened #3363 "快速开始文档中多卡精度如何对齐单卡"
版本信息：
PaddleDetection2.1，ubantu16.04，paddlepaddle_gpu-2.1.0.post101-cp36-cp36m-linux_x86_64.whl

[快速开始](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/QUICK_STARTED_cn.md)中提供了单卡的训练命令和配置，我测试后mAP=0.88，没有问题。但该文档并没有说如何多卡训练，于是我参考[30分钟快速上手PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/GETTING_STARTED_cn.md)中的说明，使用同样的配置执行8

[2021-06-11 06:54] nemonameless commented on #3281
DeepSort support load yolov3 and reid model at the same time, see `configs/mot/deepsort/deepsort_yolov3_pcb_pyramid_r101.yml`, you can test the performance and FPS of the JDE and DeepSort on the same backbone now.

[2021-06-11 06:56] liuhuiCNN commented on #3339
感谢反馈，问题正在排查中。

[2021-06-11 07:32] aiwenzhu opened #3365 "C++部署paddledetection2.1和cuda10.2windows预测库 报错，搞了3天了，求助一下"
cmake和使用vs2019编译均一切正常，最后点击main.exe什么都没有出现，也没有创建output文件夹
调试C++代码发现PaddleDetection::ObjectDetector det 这里初始化失败，卡在了下边这个函数
 bool load_config(const std::string& model_dir,
                   const std::string& cfg = "infer_cfg.yml") {
    // Load as a YAML::Node
    YAML::Node config;
    config = YAML::LoadFile(model_dir + OS_PATH_SEP + cfg);   //这里需要加载infer_cfg.yml,为什么？？？？？？？？我路径下也

[2021-06-11 07:34] Lutl opened #3366 "voc数据集模型评估，eval iter 不同"
# 使用 yolov3_darknet_270e 训练
[code]

# 使用 ppyolo_r50vd_dcn 训练
[code]

使用的是官方 VOC2007 数据集
现有几个问题想请教一下
1. yolov3 训练 274 轮比 ppyolo 训练 582 轮效果要好很多，不知道为什么？
2. 评估时，yolov3 评估迭代轮数 4900，ppyolo 评估迭代轮数只有 600，为什么会有这个差异，修改哪个参数能达到调整迭代轮数的目的？

[2021-06-11 07:35] ResonLee commented on #3311
@shen-wenxin @lyuwenyu 问题解决的吗？出现了同样的问题，训练完第一轮后在第一次评估的时候报错，我以为是图片尺寸太大，改为target_size[600,800]还是出错，paddle2.0.1 paddledetection2.0.0

[2021-06-11 07:36] shen-wenxin commented on #3311
没解决，我回退到2.0版本了，然后我用2.0版本已经做完项目了。
你可以回退到2.0版本试试，感觉还不错。

[2021-06-11 07:38] shen-wenxin commented on #3311
噢你原来就是2.0版本……那没事了……

[2021-06-11 07:43] ResonLee commented on #3311
@lyuwenyu OSError: (External)  Cuda error(700), an illegal memory access was encountered.
  [Advise: Please search for the error code(700) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038 ) to get Nvidia's official solution about CUDA Error.] (at D:\v2.0.2\paddle\paddle\fluid\platform\gpu_info.c

[2021-06-11 07:52] SLLiu-111 opened #3367 "安装PaddleDetection时报错"
我用的远程服务器，系统Ubuntu，cudn10.2-cudnn7.6.5，anacinda下的python3.8，按照教程成功安装PaddlePaddle，但在安装PaddleDetection时，通过pip安装，在终端执行pip install paddledet==2.1.0 -i https://mirror.baidu.com/pypi/simple时报错，如下：
[code]
，求大佬指导，感谢

[2021-06-11 07:58] zsbjmy opened #3368 "如何修改PPYOLO neck:YOLOV3FPN的结构"
YOLOv3:
  backbone: ResNet
  neck: YOLOv3FPN
  yolo_head: YOLOv3Head
  post_process: BBoxPostProcess
我想在YOLOv3FPN的浅层特征与深层特征之间加入注意力机制，请问我应该修改哪些源文件？
我尝试直接修改PaddleDetection/ppdet/modeling/necks/yolo_fpn.py这个文件，但是修改的部分并没有被添加进去，请问我该怎么修改？

[2021-06-11 08:19] qingqing01 commented on #3350
FPN相关的实现都在 `ppdet/modeling/necks` 下面:

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/modeling/necks/yolo_fpn.py#L429

modeling下面的结构，看名字:

[code]

[2021-06-11 08:24] heavengate commented on #3363
1. 快速开始文档里对应的是单卡配置，如果使用多卡的话，可以对应把learning rate乘以卡数，训练的epoch数可以对应调小一些
2. OOM是cuda的error，python程序端没法捕捉并退出子进程，这个目前暂时没有其他解决办法，只能手动kill一下，其他错误或者ctrl+c一般子进程是可以退出的
3. 我本地没有复现这个segmentfault，你看下吧`configs/yolov3/_base_/yolov3_reader.yml`里`EvalReader`的batch_szie改成1试下呢

[2021-06-11 08:27] heavengate commented on #3365
你好，你用的是`PaddleDetection/deploy`下的代码还是`PaddleDetection/static/deploy`下的，另外部署需要先通过`tools/export_model.py`导出模型，导出模型的时候会生成`infer_cfg.yml`的，`Cannot open file
./models/\model.pdmodel, please confirm whether the file is normal.`看着像是Windows上的目录分隔符`/`和`\`的问题，排查一下路径设置是否符合windows规范呢

[2021-06-11 08:29] heavengate commented on #3366
1. ppyolo_r50vd_dcn模型比较大，收敛比较慢，仅对比训练几百轮的结果意义不到，可以多训练一些epoch对比下
2. yolov3配置里eval的batch_size=1,  ppyolo配置里eval的batch_size=8是，所以评估轮数不同

[2021-06-11 08:29] liuhuiCNN commented on #3308
感谢反馈，这个问题是由于label_to_cat_id_map字段错误导致的，我们近期会解决。

[2021-06-11 08:30] heavengate commented on #3367
看报错是编译安装`pycocotools`的时候编译出错了，先`pip install pycocotools`再跑安装脚本试下呢

[2021-06-11 08:34] heavengate commented on #3368
https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/configs/ppyolo/_base_/ppyolo_r50vd_dcn.yml#L9

PP-YOLO模型的neck结构是PPYOLOFPN，需要修改这个类
https://github.com/PaddlePaddle/PaddleDetection/blob/27d4a24d31c9c68160acf77eeb1b33575aed7333/ppdet/modeling/necks/yolo_fpn.py#L532

[2021-06-11 08:35] heavengate commented on #3279
看着你的`/dev/shm/`下空间不太够，修改下`configs/yolov3/_base_/yolov3_reader.yml`里面的`use_shared_memroy`设置为False试下呢

[2021-06-11 08:35] aiwenzhu commented on #3365
我没有用到static/deploy下的代码，我是参考readme里推荐的PaddleDetection在windows下的部署（一）这篇文章部署的，另外您说的导出模型如何操作，我看了几篇博客都是直接用下载的权重就好了，就我遇到了这个问题

[2021-06-11 08:36] qingqing01 commented on #3352
related https://github.com/PaddlePaddle/PaddleDetection/issues/3308

[2021-06-11 08:40] SLLiu-111 commented on #3367
使用pip install pycocotools.安装，但还是报错，而且报和之前一样，这该怎么解决呢？

---原始邮件---
发件人: "Kaipeng ***@***.***&gt;
发送时间: 2021年6月11日(周五) 下午4:31
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 安装PaddleDetection时报错 (#3367)

看报错是编译安装pycocotools的时候编译出错了，先pip install pycocotools再跑安装脚本试下呢

—
You are receiving this because you authored the thread.
Reply to this email directly, vie

[2021-06-11 08:43] wangxinxin08 commented on #3302
如果是自定义数据集的话，可以检查下数据集的类别是否正确的设置了

[2021-06-11 08:43] heavengate commented on #3367
可以参考这个 https://www.freesion.com/article/6185412672/

[2021-06-11 08:43] lyuwenyu commented on #3311
- 请使用paddle develop 或者 等paddle2.1.1发版

[2021-06-11 08:46] yghstill commented on #3290
@meng8407 aistudio上和本地环境不太一样，这个只是警告，会将image width修改成真实的size，但最好建议你修改标注文件为正确的。

[2021-06-11 08:59] liuhuiCNN commented on #3365
deploy下部署需要先导出模型，导出模型文件夹中有 infer_cfg.yml，请参考文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/EXPORT_MODEL.md

[2021-06-11 08:59] raymondchu-z commented on #3363
感谢回复。
1. 请问有使用多卡训练的文档或配置文件，能达到单卡相当的精度吗？
2. 关于segmentfault，测试发现几次，只改了学习率也会报错。具体是多卡训练不报错，当单卡评估时该错误。
3. 怀疑可能是ppdet版本问题，现在用ppdet2.0.0版本试一下。请问怎么查看ppdet的版本？除了安装时的指定`pip install paddledet==2.0.0`

[2021-06-11 09:02] aiwenzhu commented on #3365
@heave

[2021-06-11 09:02] #3365 closed, assigned to heavengate

[2021-06-11 09:06] yghstill commented on #3359
@JackLee-Python
1. 前几天修复了num_classes的一个小问题 #3193 ，请使用https://github.com/PaddlePaddle/PaddleDetection/tree/develop 代码，然后将https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/datasets/coco_instance.yml#L2 num_classes修改成5类，同时由于你数据集较小，建议直接加载coco训好的预训练权重https://paddledet.bj.bcebos.com/models/solov2_r50_fpn_1x_coco.pdparams
2. 置信度超过1我们再定位排查下问题，第二个检测结果中整张图都误检成了一个物体，还是模型收敛不充分的问题，再安装1中重新训练看

[2021-06-11 09:11] qingqing01 commented on #3353
@ANewAnonymous 像是运行了很多次，进程没有正确退出

[2021-06-11 09:13] qingqing01 commented on #3350
related to https://github.com/PaddlePaddle/PaddleDetection/issues/3368

[2021-06-11 09:13] #3350 closed, assigned to nobody

[2021-06-11 09:16] SLLiu-111 commented on #3367
你好，按照您给的链接，pycocotools安装成功,并且把之前报错未安装的安装分别pip单独安装，但在pip安装pycocotools, lap, paddledet时还是报错，而且使用pip install paddledet==2.1.0 -i https://mirror.baidu.com/pypi/simple
再次安装时，还是显示：（总结下面报错，依然显示Failed to build pycocotools lap
Installing collected packages: pycocotools, lap, paddledet），您看该怎么解决啊？感谢感谢

报错：
[code]

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-06-11 09:19] Lutl commented on #3366
还有个问题想请教一下，训练ppyolo模型时，我调整了 `optimizer_1x.yml` 文件中的 `epoch` 数值，但是训练的轮数并没有按照我设置的 epoch 值停止，这是什么情况吗

[2021-06-11 09:20] qingqing01 commented on #3358
Thanks! Good job. We are interested in your job.  Let's study first.

[2021-06-11 09:21] heavengate commented on #3345
你好，这个报错你有修改什么代码或者配置么，看报错是子进程数据创建超标了的错误

[2021-06-11 09:26] AyushExel commented on #3358
@qingqing01 awesome. Would you like to do a quick call where we can go through the features and discuss the process of integration? Or would you prefer a PR directly?

[2021-06-11 09:52] #3353 closed, assigned to nobody

[2021-06-11 11:23] ReverseSacle opened #3372 "关于Paddle_detection静态图和动态图的转换问题"
想问下，能否仿造paddle_detection_2.1版本中的yolov3的格式，从static中把yolov4配置出来。要是通过这样弄出了yolov4，能用paddle_detection_2.1版本跑通训练吗？

[2021-06-11 12:38] ZJH970922 commented on #3308
不客气，如果完善好了，也和我说一声，非常感谢。

[2021-06-11 12:58] zsbjmy opened #3373 "PPYOLOFPN结构修改"
我在PaddleDetection/ppdet/modeling/necks/yolo_fpn.py 做了如下修改：
【在forward中加入 block = ChannelAttention(block)； block = SpatialAttention()】
[code]

[code]

[2021-06-11 13:01] #3368 closed, assigned to heavengate

[2021-06-11 15:10] ReverseSacle commented on #3337
今天我重新下载了paddle_detection,在百度ai studio试了下infer_mot,但结果并未生成txt。

已重新下载paddle_detection并在百度ai studio中测试，但并未生成txt文件。

[2021-06-12 02:09] FL77N opened #3375 "关于 2.1.0 gt 处理"
你好，我注意到 PadBatch 是去除了 pad_gt，那这个操作是被移到了其他地方，还是整体去除了呢？如果是去除了，我们现在新版本有其他替代的操作吗？谢谢

[2021-06-12 11:10] Tolk5946 opened #3376 "Fairmot训练MOT20数据集"
如何配置mot.yml里面的dataset才可以训练mot20数据集呢，里面的参数不是很懂。

[2021-06-13 03:14] jerrywgz commented on #3375
新版本整体去除了pad_gt字段，在预处理操作中默认对sample中的gt字段进行pad

[2021-06-13 03:21] jerrywgz commented on #3376
可以先参考https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/tutorials/PrepareMOTDataSet_cn.md#labels_with_ids%E6%96%87%E4%BB%B6%E5%A4%B9 这里的文档生成MOT20需要的label list，然后在configs/dataset/mot.yml中修改为对应的image_lists

[2021-06-13 03:27] #1711 closed

[2021-06-13 03:30] #2171 closed

[2021-06-13 03:32] jerrywgz commented on #3326
我这边是CUDA10.2 cuDNN7.6.5 Paddle 2.1版本训练的，可以尝试到AI Studio上或者使用docker进行训练，环境相对稳定一些

[2021-06-13 03:38] #2963 closed, assigned to nobody

[2021-06-13 03:40] #2913 closed, assigned to nobody

[2021-06-13 03:40] #2869 closed, assigned to nobody

[2021-06-13 04:40] #3372 closed, assigned to nobody

[2021-06-13 09:47] ShawnDong98 opened #3378 "无法复现结果"
固定 paddle.seed(), random.seed(), np.random.seed()

设置 export FLAGS_cudnn_deterministic=True;

相同的数据集， 相同的配置文件， 每次训练结果不一样。

paddledetection version: 2.0
paddle version: 2.0.2

[2021-06-13 11:25] Tolk5946 commented on #3376
那如果我需要一边训练一边评估，image_lists里面的评估数据集也要下载是吗，我能不能用mot20的test去评估？

[2021-06-13 14:09] Tolk5946 opened #3379 "cuda报错"
![QQ图片20210613220116](https://user-images.githubusercontent.com/79153269/121810561-fe154e00-cc93-11eb-8a97-610ac289b736.png)
请问这是什么原因？从来未见过这个报错。。

[2021-06-13 16:33] liuhuiCNN commented on #3378
请问是哪个模型呢？部分算法在数据增强，anchor匹配过程中会有随机操作，这些操作也需要去掉随机性。比如是否随机翻转，需要设置random为False。

[2021-06-13 16:35] liuhuiCNN commented on #3379
报错在CUDA中，请您检查一下使用的CUDA版本与paddle要求的CUDA版本是否一致。此外，请您提供下paddle 版本、CUDA环境、ppdet版本、硬件设备等信息，方便我们查看问题，谢谢。

[2021-06-14 01:10] #3379 closed, assigned to nobody

[2021-06-14 02:07] FL77N commented on #3375
3QU

[2021-06-14 02:28] FL77N commented on #3375
您好，可以指一下在哪段代码吗

[2021-06-14 06:14] nemonameless commented on #3376
#3289  跟踪不建议边训边评估，前期效果差而且耗时。mot20-test不开放gt无法评估，只能交到官网才能出结果

[2021-06-14 06:17] nemonameless commented on #3337
请拉取最新develop分支

[2021-06-14 06:19] nemonameless commented on #3337
请拉取最新develop分支，这个分支是会有最新改动的。也可以自行在 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/engine/tracker.py#L369 加上
[code]

[2021-06-14 09:44] weihongwei-zg opened #3380 "optimizer中优化器支持哪几种？只有默认的Momentum优化器是正常的。"
optimizer中优化器支持哪几种？只有默认的Momentum优化器是正常的。将.yml配置文件中的优化器改成Adam会出现训练正常但评估过程“卡住”，不报错就一直卡在评估过程中。

[2021-06-14 11:02] Wei-JL opened #3381 "VOC格式，训练一个3分类问题，一直出现C++ Traceback (most recent call last): （0-7）"
ppyolov2_r50vd_dcn_voc.yml   ，yolov3_mobilenet_v3_large_ssld_270e_voc.yml ，  ppyolo_r50vd_dcn_voc.yml三个模型去训练都是输出时出现这个报错：
[code]

[2021-06-14 14:18] yghstill commented on #3380
@wobushihuair 你训练的是ppyolo的模型吗？

[2021-06-14 14:27] weihongwei-zg commented on #3380
是的 ------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年6月14日(星期一) 晚上10:18
***@***.***&gt;;
抄送:&nbsp;&quot;Wei ***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] optimizer中优化器支持哪几种？只有默认的Momentum优化器是正常的。 (#3380)

[2021-06-14 14:37] yghstill commented on #3381
@Wei-JL 你在训练中加了--eval了吧？paddlepaddle的版本是多少？PaddleDetection的版本是release 2.1吗？ 建议paddlepaddle升级至2.1，PaddleDetection在release 2.1下再实验下，这个问题在新版本环境中没出现过。

[2021-06-14 14:42] yghstill commented on #3380
@wobushihuair eval卡住是由于模型收敛有问题，nms耗时很严重，ppyolo模型收敛有问题已经在#3371 中修复，请拉取最新代码再尝试一下

[2021-06-15 00:29] SangerY commented on #3345
@heavengate 没有修改代码，配置就是官方的配置，只是改了batch_size、学习率、训练数据集路径等，有个worker_num默认的是4，报这个错，我改成2，还是报这个错。

[2021-06-15 01:03] bbbxixixixi opened #3382 "AttributeError: 'HybridTaskCascade' object has no attribute 'build_multi_scale'"
似乎目前不支持多维度预测？

[2021-06-15 01:37] jerrywgz commented on #3375
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/ppdet/data/transform/batch_operators.py#L41 可以参考这里

[2021-06-15 01:37] shishifang opened #3383 "包含背景类别的数据准备及训练"
你好，我想请教一下，包含背景类别的VOC格式数据，label_list.txt中是否需要添加背景类别名字？
是否需要建立背景类的.xml文件？如果建立.xml文件的话，里面的内容是什么样的？包含背景类别
时生成的train.txt中包含背景类别.jpg和.xml文件的路径名吗？

[2021-06-15 01:58] yghstill commented on #3373
@zsbjmy good job. 欢迎提交PR

[2021-06-15 02:03] SangerY commented on #3345
数据集稍后我问下看可不可以提供

[2021-06-15 02:07] #3245 closed, assigned to nobody

[2021-06-15 02:08] #3204 closed, assigned to nobody

[2021-06-15 02:09] yghstill commented on #3098
@quhaohao develop分支下solov2 r101模型已更新

[2021-06-15 02:09] #3098 closed, assigned to yghstill, jerrywgz

[2021-06-15 02:10] #3045 closed, assigned to nobody

[2021-06-15 02:10] zsbjmy commented on #3373
您好，请问我这样修改是有效的吗？我的logger.info("进入ChannelA")在notebook中没有打印出来，是不是说明没有进入到我添加的 ChannelAttention(nn.Layer)函数中？

[2021-06-15 02:10] #2907 closed, assigned to nobody

[2021-06-15 02:17] idreamerhx commented on #3361
收到，已验证转换可用。谢谢。还请更新文档。

[2021-06-15 02:17] #3361 closed, assigned to heavengate

[2021-06-15 02:19] zsbjmy commented on #3348
请问如何打印骨干网络输出的特征图，能具体说明调用什么方法吗？

[2021-06-15 02:21] wxf764571829 commented on #3326
这边因为驱动原因只能安装CUDA10.1  其余环境和您的保持一致后训练，问题依旧存在

[2021-06-15 02:21] qingqing01 commented on #3348
@zsbjmy 直接print打印上面body_feats就可以了。您是想怎么打印呢？

[2021-06-15 02:23] wangxinxin08 commented on #3373
这种写法是无效的，所有的模块都需要在__init__函数中初始化，另外SpitialAttention的结构好像也有点问题，这个模块的输出channel直接变成1了，我理解你现在实现的SpitialAttention的输出只是注意力分数

[2021-06-15 02:23] zsbjmy commented on #3348
我想得到特征图的可视化图片

[2021-06-15 02:27] zsbjmy commented on #3373
我在PaddleDetection/ppdet/modeling/necks/yolo_fpn.py 这个文件中直接加入了ChannelAttention(nn.Layer)这个函数，

import paddle
import paddle.nn as nn
import paddle.nn.functional as F
from paddle import ParamAttr
from ppdet.core.workspace import register, serializable
from ..backbones.darknet import ConvBNLayer
import numpy as np

from ..shape_spec import ShapeSpec

from .logger import setup_logger
logger = setup_log

[2021-06-15 02:29] zsbjmy commented on #3373
还需要在初始化中倒入模块吗？

[2021-06-15 02:34] qingqing01 commented on #3348
@zsbjmy 骨干网络特征图可视化，您需要从body_feats里取出，写代码可视化。

[2021-06-15 03:13] zsbjmy commented on #3348
谢谢！

[2021-06-15 03:14] EdwardVincentMa commented on #2930
您好，这个问题至今没有解决，后面即使build setup 也不行 @yghstill

[2021-06-15 03:26] EdwardVincentMa commented on #2930
任何paddle除了main函数之外的代码添加打印或者删除打印信息都没用，即便使用命令python setup.py build

[2021-06-15 04:09] Wei-JL commented on #3381
您好，这个我加了--eval  paddle版本是2.1 ，就是官方的虚拟环境

[2021-06-15 04:14] EdwardVincentMa opened #3384 "你好，我找不到ppyolo-tiny后处理的代码在哪里，想知道位置"
你好，我找不到ppyolo-tiny后处理的代码，想知道位置

[2021-06-15 04:38] wangxinxin08 commented on #3373
需要在初始化中倒入模块，所有继承自nn.Layer类都需要在初始化中倒入模块，类似nn.Conv2D等内置层

[2021-06-15 05:25] d2623587501 opened #3385 "fairmot验证报错"
执行下述语句，训练正常运行，验证时报错
# 训练
CUDA_VISIBLE_DEVICES=0
!python -u tools/train.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml --use_vdl True --eval

`Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/home/aistud

[2021-06-15 05:56] zsbjmy commented on #3373
![111](https://user-images.githubusercontent.com/62825744/122000291-26f72980-cde1-11eb-8d05-998487196a44.png)
![222](https://user-images.githubusercontent.com/62825744/122000323-35454580-cde1-11eb-8cf3-60385ceeff79.png)
![333](https://user-images.githubusercontent.com/62825744/122000342-38d8cc80-cde1-11eb-82f8-c45df541e2e4.png)
![555](https://user-images.githubusercontent.com/62825744/122000355-3c

[2021-06-15 06:01] zsbjmy commented on #3373
你帮我看看，这样初始化对吗？
在AT.py中有我想添加的类SELayer(),我在__init__()中 from . import AT ,  from .AT import *
在yolo_fpn.py中 from .AT import ChannelAttention, SELayer, SpatialAttention
最后在ppyoloFPN的forward()中使用了SELayer（）
但是，notebook中依然没有打印出logger.info('Hello ZS SELayer')内容，请问我该怎么办？

[2021-06-15 06:02] zsbjmy commented on #3373
您帮我看看，这样初始化对吗？
在AT.py中有我想添加的类SELayer(),我在__init__()中 from . import AT , from .AT import *
在yolo_fpn.py中 from .AT import ChannelAttention, SELayer, SpatialAttention
最后在ppyoloFPN的forward()中使用了SELayer（）
但是，notebook中依然没有打印出logger.info('Hello ZS SELayer')内容，请问我该怎么办？

[2021-06-15 06:15] wangxinxin08 commented on #3373
不对，上面已经说过了在__init__函数中初始化

[2021-06-15 06:35] nemonameless commented on #3385
fairmot暂时不支持边训边eval，近期会考虑增加该功能。不过跟踪模型也不建议边训边eval，前期精度低耗时多。可以单独跑eval_mot.py去评估验证

[2021-06-15 06:58] #3266 closed, assigned to heavengate

[2021-06-15 07:03] xupengao opened #3386 "重新聚类anchor的时候，会报错TypeError: __init__() got an unexpected keyword argument 'with_background'"
用的是release/2.1的代码，在3090服务器上，在static内使用静态图进行anchor聚类，命令python tools/anchor_cluster.py -c configs/ppyolo/ppyolo.yml  -n 9 -s 640 -m v5 -i 1000
无法正常运行，出现
Traceback (most recent call last):
  File "tools/anchor_cluster.py", line 376, in <module>
    main()
  File "tools/anchor_cluster.py", line 339, in main
    cfg = load_config(FLAGS.config)
  File "/data/xupengao/anaconda3/envs/py3.7/lib/python3.7/s

[2021-06-15 07:08] FL77N commented on #3375
您好，这里面只有对 img 进行 pad 的代码，没看到对 gt 进行 pad 的呀

[2021-06-15 07:36] ResonLee opened #3387 "安装编译paddledetection-develop的代码bug"
代码bug,[[之前使用paddledetection2.0.2做mask-rcnn的训练，训练完一轮后，评估的时候出错，（）](https://github.com/PaddlePaddle/PaddleDetection/issues/3311)，大佬说试下paddledetection-develop版或2.1.1版本，今天在安装验证的时候报了一个错误，` from . import (core, data, engine, modeling, model_zoo, optimizer, metrics,
  File "D:\Anaconda\anaconda\envs\Paddle\lib\site-packages\paddledet-2.1.0-py3.8.egg\ppdet\engine\__init__.py", line 30
    __all__ = __all__

[2021-06-15 07:57] nemonameless commented on #3387
typo，会尽快修正

[2021-06-15 08:06] zsbjmy commented on #3373
![1](https://user-images.githubusercontent.com/62825744/122016334-8cecac80-cdf3-11eb-8e0a-7a9c94456b7c.jpg)
![2](https://user-images.githubusercontent.com/62825744/122016345-8e1dd980-cdf3-11eb-8988-05189e5b8d5e.jpg)
![3](https://user-images.githubusercontent.com/62825744/122016349-8f4f0680-cdf3-11eb-864e-2c0aa39bd0c9.png)
![4](https://user-images.githubusercontent.com/62825744/122016353-9118ca00-c

[2021-06-15 08:08] wangxinxin08 commented on #3373
这个写法是ok的

[2021-06-15 08:09] JianJingGao opened #3388 "windows编译PaddleTensort版错误，麻烦指点一下"
编译器VS2015 UPDATE3，CUDA10.2
![image](https://user-images.githubusercontent.com/51236891/122016827-f967ab80-cdf3-11eb-9a70-b622eb9652ee.png)

30>------ 已启动生成: 项目: framework_py_proto, 配置: Release x64 ------
28>  broadcast.cc
28>d:\work\build\paddle\build\third_party\eigen3\src\extern_eigen3\eigen\src/Core/ArithmeticSequence.h(345): fatal error C1001: 编译器中发生内部错误。
28>  (编译器文件“f:\dd\vctools\compiler\cxx

[2021-06-15 08:11] zsbjmy commented on #3373
非常感谢！请问在__init__()函数中的下面这句，参数block是任意变量，还是必须在上面代码中出现过的变量？
if self.se:
       self.at = SELayer(block)

[2021-06-15 08:16] zsbjmy commented on #3373
我这个self.at = SELayer(block)中的block实际上是骨干网络输出的特征层，但是在__init__()函数中没有对应的变量

[2021-06-15 08:18] zsbjmy commented on #3373
在forward()中有骨干网络输出的特征层
    def forward(self, blocks):
        assert len(blocks) == self.num_blocks
        blocks = blocks[::-1]
        yolo_feats = []
        for i, block in enumerate(blocks):
            if i > 0:
                if self.data_format == 'NCHW':
                    if self.se:
                        logger.info('Hello ZS SELayer')
                        block = self.at(block)

[2021-06-15 08:29] zsbjmy commented on #3373
![5](https://user-images.githubusercontent.com/62825744/122019440-59f7e800-cdf6-11eb-8ceb-e1641b9fb63a.png)
请问为什么我的print语句的内容在notebook中打印不出来，我想看代码的中间参数的内容，但是，无论是用logger.info（）还是用print（）语句都不能进行打印？

[2021-06-15 08:34] wangxinxin08 commented on #3373
在其他位置能打印吗？

[2021-06-15 08:35] heavengate commented on #3363
1. 理论上来说是可以达到的，实际可能有少许波动，不过波动应该不大，0.x的样子
2. paddledet 2.1.0版本已经发布了，可以更新一下paddledet或者在develop分支`python setup.py install`安装试下

[2021-06-15 08:36] heavengate commented on #3366
确认一下你用的配置文件里用的是不是`optimizer_1x.yml`这个配置文件，还有配置文件里面有没有对epoch做配置，主配置文件的优先级高于引用的配置文件

[2021-06-15 08:43] heavengate commented on #3367
看报错信息还是pycocotools安装有问题，你确定pycocotools正常安装了？

[2021-06-15 08:46] raymondchu-z commented on #3363
1. 经多次测试，8卡时，将`lr*8，warmup_step*8，epoch*2`，使用CosineDecay；这样的修改下能达到84.16%（单卡88%）。能否提供一对单卡和多卡对应的配置文件供参考？
2. 上述测试用的是paddledet 2.1.0。
3. segmentfault的报错是我修改了batchsize后没有满足`warmup_steps <= lr_decay_epochs[0] * num_steps_each_epoch`的要求。
4. 探讨一个问题：如果需要提高显存使用率（目的是提高准确率和减少训练时间），就需要增大batchsize。但是增大batchsiz导致lr需要对应增大（否则收敛慢）。lr增大会使得warmup的step不变时的初始学习率也增大，导致模型发散。此时如果增加warmup的step，也需要增加相应的epoch，来避免warmup占用的epo

[2021-06-15 08:46] zsbjmy commented on #3373
![6](https://user-images.githubusercontent.com/62825744/122022486-36826c80-cdf9-11eb-9fe7-498412b9d659.png)
其他位置也不能打印print

[2021-06-15 08:47] SLLiu-111 commented on #3367
是啊，按照您之前发我的链接，单独安装，如上图，这也显示成功了，但在安装时还是会显示之前的错误

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月15日(星期二) 下午4:43
***@***.**

[2021-06-15 09:02] SangerY commented on #3345
麻烦您提供下邮箱，数据发给您。

[2021-06-15 09:04] zsbjmy commented on #3373
我怀疑在PaddleDetection/ppdet/modeling/necks/yolo_fpn.py这个文件里改代码不起作用，因为我将PPYOLOFPN这个类整体注释掉，模型依然能够跑起来

[2021-06-15 09:06] wangxinxin08 commented on #3373
那你用到PPYOLOFPN这个类了吗？你运行的是什么模型？

[2021-06-15 09:08] zsbjmy commented on #3373
architecture: YOLOv3
pretrain_weights: https://paddledet.bj.bcebos.com/models/pretrained/ResNet50_vd_ssld_pretrained.pdparams
norm_type: sync_bn
use_ema: true
ema_decay: 0.9998

YOLOv3:
  backbone: ResNet
  neck: PPYOLOFPN
  yolo_head: YOLOv3Head
  post_process: BBoxPostProcess
用到了

[2021-06-15 09:09] zsbjmy commented on #3373
请问我想改源代码，应该怎么办？

[2021-06-15 09:35] wxf764571829 opened #3389 "bbox_reg分支过大，影响其他分支，最终loss 为nan"
环境faster_rcnn_r50_fpn_1x_coco.yml lr0.0001  ubuntu16.04,cuda10.1,cudnn7.6.5,

![image](https://user-images.githubusercontent.com/46362180/122029849-d3480880-cdff-11eb-8181-05c711fe1bfa.png)

[2021-06-15 10:10] lx-rookie opened #3390 "farimot转onnx"
请问现在支持fairmot转onnx吗

[2021-06-15 10:15] nemonameless commented on #3390
暂时还不支持

[2021-06-15 10:32] SLLiu-111 commented on #3367
通过源码编译安装的方式也一样，显示Installing collected packages: pycocotools, lap
    Running setup.py install for pycocotools ... error，还是这两个安装包安装不了pycocotools, lap，真不知道问题出在哪里了

[2021-06-15 11:13] wangxinxin08 commented on #3373
1. 先确保你改的代码和你运行的代码是同一个路径下的代码
2. 确保你代码改完之后保存了
3. 最后可以清除下__pycache__文件夹

[2021-06-15 13:28] bbbxixixixi commented on #3378
这些其实也是通过random来设置的吧，为啥不能统一一个seed？

[2021-06-15 15:08] JoyFuture opened #3393 "使用x2coco.py将voc格式的数据集转为coco，报错"
![image](https://user-images.githubusercontent.com/35593546/122076666-a579b880-ce2d-11eb-96d5-48d82717be09.png)
![image](https://user-images.githubusercontent.com/35593546/122077097-03a69b80-ce2e-11eb-9d27-c7010b54a9eb.png)
都是按照文档写的，为什么会报错呢？帮忙看看 感谢

[2021-06-15 15:08] ResonLee commented on #3311
@lyuwenyu ，使用paddle develop 还是出现同样的问题，到底该怎么样解决啊？崩溃！
`OSError: (External)  Cuda error(700), an illegal memory access was encountered.
  [Advise: Please search for the error code(700) on website( https://docs.nvidia.com/cuda/archive/10.0/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES_1g3f51e3575c2178246db0a94a430e0038 ) to get Nvidia's official solution about CUDA Error.] (at C:\hom

[2021-06-15 15:49] ResonLee commented on #3311
@lyuwenyu 完整报错如下
`Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "D:\Anaconda\anaconda\envs\Paddle\lib\site-packages\paddledet-2.1.0-py3.8.egg\ppdet\engine\trainer.py", line 358, in train
    self._eval_with_load

[2021-06-15 16:28] DragonGongY commented on #1671
该问题有人解决了吗？

[2021-06-15 17:51] Mandroide opened #3394 "KeyError: 'TestDataset' when running configuration"
After I move the configurations of [AICity2020-Anomaly-Detection](https://github.com/PaddlePaddle/Research/tree/master/CV/AICity2020-Anomaly-Detection/det_code) to the configs directory of PaddleDetection and run the following code, it happens the following in Google Colab:

[code]
![Traceback](https://user-images.githubusercontent.com/31109774/122099281-d59a6a80-cddf-11eb-95d5-e05c384f7c8d.png)

[2021-06-16 00:17] zsbjmy commented on #3373
非常感谢您的帮助！
1. 我想和您确认一下，修改PaddleDetection/ppdet/modeling/necks/yolo_fpn.py这个文件里的代码确实可以对源代码进行修改，对吗？
2. 请问__pycache__这个文件夹的具体路径能帮我指明吗？

[2021-06-16 01:17] wexin-c opened #3395 "用mask_rcnn模型训练自己的数据集时报错，之后用官方的coco数据集也报一样的错误"
(paddle) D:\PaddleDetection-release-2.1>python tools/train.py -c configs/dcn/mask_rcnn_dcn_r50_vd_fpn_2x_6000.yml -o use_gpu=true --eval --use_vdl=true --vdl_log_dir=vdl_dir/6000/
loading annotations into memory...
Done (t=0.31s)
creating index...
index created!
W0616 09:12:18.372654 10096 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.2, Runtime

[2021-06-16 02:06] yeyupiaoling opened #3396 "训练过程中出现_shutdown错误"
是随机出现的。前面已经训练100多个epoch了，Ubuntu才出现，windows没有出现过。
[code]

[2021-06-16 02:16] wangxinxin08 commented on #3383
label_list不需要添加背景类别，voc格式可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/docs/tutorials/PrepareDataSet.md#voc%E6%95%B0%E6%8D%AE%E6%A0%87%E6%B3%A8%E6%96%87%E4%BB%B6%E4%BB%8B%E7%BB%8D, 更详细的信息可以参考官网

[2021-06-16 02:17] wangxinxin08 commented on #3384
这里定义了https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/ppyolo/_base_/ppyolo_tiny.yml#L43 后处理的模块，可以在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/static/ppdet/utils/post_process.py 中找到

[2021-06-16 02:22] wangxinxin08 commented on #3386
问题报错原因应该是TrainReader中的dataset的with_background的缩进不对导致的

[2021-06-16 02:29] wangxinxin08 commented on #3395
mask_rcnn需要使用datasets/coco_instance.yml这一个配置文件，你可以贴一下你的配置文件

[2021-06-16 02:30] wangxinxin08 commented on #3396
可以贴一下Paddle版本，PaddleDetection版本，我们定位下问题

[2021-06-16 02:33] wexin-c commented on #3395
###########6000_detection.yml
metric: COCO
num_classes: 13

TrainDataset:
  !COCODataSet
    image_dir: train
    anno_path: annotations/instance_train.json
    dataset_dir: dataset/liuqian
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: val
    anno_path: annotations/instance_val.json
    dataset_dir: dataset/liuqian

TestDataset:
  !Image

[2021-06-16 02:35] wangxinxin08 commented on #3395
你使用的是coco_detection的配置文件，不是coco_instance的配置文件，参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/configs/datasets/coco_instance.yml#L9，里面的data_fields是不一样的

[2021-06-16 02:37] wexin-c commented on #3395
好的  谢谢 我试试

[2021-06-16 02:38] wangxinxin08 commented on #3373
1. 可以对源码进行修改
2. find . -name "*__pycache__*" 可以搜索下，一般当前目录下

[2021-06-16 02:46] wangxinxin08 commented on #3388
可以下载对应的windows TRT预测库：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows，如果需要重新编译Paddle TRT预测库参考: https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html#windows-10，如果依旧出现问题可以到https://github.com/PaddlePaddle/Paddle/issues 中提问

[2021-06-16 02:51] JianJingGao commented on #3388
请问Python环境应该怎么使用Windows Trt库，我解压下来发现是C++直接用的头文件和DLL

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ***@***.***>
发送时间: 2021年6月16日 10:46
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] windows编译PaddleTensort版错误，麻烦指点一下 (#3388)

可以下载对应的windows TRT预测库：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows，如果

[2021-06-16 02:52] yeyupiaoling commented on #3396
@wangxinxin08
 - PaddlePaddle 2.1.0
 - PaddleDetection 2.1.0

[2021-06-16 02:57] wangxinxin08 commented on #3388
windows下面使用python库的话需要自己编译，可以参考: https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html#windows-10, 如果依旧出现问题可以到Paddle的repo下面提issue：https://github.com/PaddlePaddle/Paddle/issues

[2021-06-16 03:12] JianJingGao commented on #3388
好的，已经去那个地方发了issues，谢谢

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ***@***.***>
发送时间: 2021年6月16日 10:57
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [PaddlePaddle/PaddleDetection] windows编译PaddleTensort版错误，麻烦指点一下 (#3388)

windows下面使用python库的话需要自己编译，可以参考: https://paddleinference.paddlepaddle.org.cn/user_guides/source_compile.html#windows-10，<https://paddlei

[2021-06-16 03:13] lyuwenyu commented on #3393
trainval.txt格式不对吧，应该只有xml文件

ps. 方便把文档链接贴一下？ `都是按照文档写的，为什么会报错呢？帮忙看看 感谢`

[2021-06-16 03:14] ResonLee opened #3397 "paddledetection Mask-Rcnn 单卡GPU训练数据eval和推理报错！"
GPU：RTX 2060
paddlepaddle: 2.1.0
paddledetection: paddledetection-develop
错误承接上次使用paddlepaddle2.0.0时的报错，[https://github.com/PaddlePaddle/PaddleDetection/issues/3311#issuecomment-861615195](url),更改版本后依然报错，尝试train和eval分开，训练是正常的没问题，eval出现错误，尝试使用infe推理，同样卡在这一错误的地方，查了下相关的资料，还是没搞清楚该怎么消除，请问官方怎么处理，能否给点建议，这边也在尝试解决！
eval报错：
`Traceback (most recent call last):
  File "tools/eval.py", line 134, in <module>

[2021-06-16 03:17] ResonLee commented on #3397
cuda :10.1
cudnn:7.6.5

[2021-06-16 03:27] lyuwenyu commented on #3397
- 使用paddle的 develop版本

[2021-06-16 03:29] wangxinxin08 commented on #3394
you can change the directiry to `det_code` using the follwing command`cd det_code`，and try it agian. if there is still the same error, please post your config file because the error information shows that there is noe TestDataset in your config file

[2021-06-16 03:33] ximitiejiang opened #3398 "paddle_detection2.10 在windows下报错找不到<dirent.h>"
如题，windows下，最新版的paddle detection2.1 release版本下用vs2019编译报错：
`
错误	C1083	无法打开包括文件: “dirent.h”: No such file or directory	main
`
旧版paddle_detection2.0没有用这个库，请问该库哪里有

[2021-06-16 03:35] wangxinxin08 commented on #3382
是的，目前HTC不支持多尺度预测

[2021-06-16 03:46] #3354 closed, assigned to nemonameless

[2021-06-16 03:46] lyuwenyu commented on #3393
- trainval.txt 应该是只能包含xml数据  https://github.com/PaddlePaddle/PaddleDetection/blob/b87a1ea86fa18ce69e44a17ad1b49c1326f19ff9/tools/x2coco.py#L200
- 重新建一个只包含xml的文件

[2021-06-16 03:46] #3348 closed, assigned to nobody

[2021-06-16 03:49] #3281 closed, assigned to nemonameless

[2021-06-16 03:52] #3149 closed, assigned to nobody

[2021-06-16 03:52] #3150 closed, assigned to nobody

[2021-06-16 03:56] wangxinxin08 commented on #3389
我们无法复现你的问题，可以检查下标注框的坐标是否正确

[2021-06-16 04:14] qinxianyuzi opened #3400 "ppyolov2会出MobileNetV3版的吗？"
你好，ppyolov2的工作很出色，请问会出MobileNetV3版的吗？ppyolov2可以转到paddlelite吗？谢谢。

[2021-06-16 04:41] JoyFuture commented on #3393
PaddleDetection\static\docs\tutorials\PrepareDataSet.md
中的voc数据格式说明
![image](https://user-images.githubusercontent.com/35593546/122154382-7861f000-ce97-11eb-8b3c-b0473018ae7e.png)
下面的用户数据转为voc格式
![image](https://user-images.githubusercontent.com/35593546/122154713-240b4000-ce98-11eb-87f5-8fa5c9a11c84.png)
再下面的用户数据转为coco的第二点voc转coco
![image](https://user-images.githubusercontent.com/35593546/122154

[2021-06-16 05:08] qingqing01 commented on #3345
@SangerY  dangqingqing@baidu.com  如果数据太大，可以百度云网盘。 另外，从训练的AP来看，觉得数据标注格式问题需要查下，先确保数据格式正确。

[2021-06-16 05:24] lyuwenyu commented on #3393
好的 多谢建议

[2021-06-16 05:26] xupengao commented on #3386
我检查了，缩进是没有问题的，我在别的服务器上测试，cuda10,release/2.1版本的就没有问题，但是在3090服务器上，静态图cuda11.2，就出问题
| |
徐鹏翱
|
|
***@***.***
|
签名由网易邮箱大师定制
在2021年6月16日 ***@***.***> 写道：

问题报错原因应该是TrainReader中的dataset的with_background的缩进不对导致的

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-16 05:36] ximitiejiang commented on #3398
dirent.h似乎是linux的头文件，在https://github.com/tronkko/dirent找了一个windows兼容的头文件放上去不报这个错了。
不过还是报错无法识别lstate()函数，貌似这是linux独有的函数，windows不支持，需要注释掉这个GetAllFiles()和main函数中调用这个函数的地方。

[2021-06-16 05:37] lyuwenyu commented on #3400
- MobileNetV3会按照计划发布的」
- 可以使用paddlelite部署的
  - 参考 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/lite

[2021-06-16 05:41] liuhuiCNN commented on #3398
感谢反馈，我们尽快修复。

[2021-06-16 05:49] ximitiejiang commented on #3398
编译还是过不了，报了一堆LNK2019，和LNK2001/LNK1120，不知道还有别的什么原因吗

[2021-06-16 06:04] d2623587501 commented on #3385
好的 谢谢

[2021-06-16 06:04] #3385 closed, assigned to nemonameless

[2021-06-16 06:34] wxf764571829 commented on #3389
数据是没问题的，同样数据在你们的环境训练都没出现这个问题

[2021-06-16 06:44] wangxinxin08 commented on #3386
你可以贴下出错的机器上的ppyolo.yml

[2021-06-16 06:48] xupengao commented on #3386
完整的我已经放到附件中，我把部分贴在下面，我觉得Trainreader没出错
| |
徐鹏翱
|
|
***@***.***
|
签名由网易邮箱大师定制
在2021年6月16日 ***@***.***> 写道：

你可以贴下出错的机器上的ppyolo.yml

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-16 07:05] wobushihuair commented on #3380
感谢，这个问题解决了。但还想问一下，paddledetection的话，训练出来的模型。map达到0.95。但mar却只有0.75。这个会是什么原因呢。同样的数据集，用torch的yolov5跑。map和mar全部都是0.95左右。ppyolo的mar就很低。------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年6月14日(星期一) 晚上10:43
***@***.***&gt;;
抄送:&nbsp;&quot;Wei ***@***.******@***.***&gt;;
主题:&nbsp;Re: [PaddlePaddle/PaddleDetection] optimizer中优化器支持哪几种？只有默认的Momentum优化器是正常的。 (#3380)

[2021-06-16 07:40] nemonameless commented on #3247
如果想删除Mixup: {alpha: 1.5, beta: 1.5}这一行，则必须也把mixup_epoch设置为-1或者注释掉就是默认值-1了

[2021-06-16 08:09] wangxinxin08 commented on #3386
没有看到这个贴的附件，如果TrainReader没有问题的话，那可能的原因是你用动态图下的anchor_clustor.py加载了静态图下的配置文件，否则不会报你截图显示的错误的

[2021-06-16 08:16] ximitiejiang commented on #3161
更新一下解决方案：
paddle inference更新成最新版本cuda10.2_cudnn7_avx_mkl_trt7
[code]
然后编译时对应的tensorRT链接到trt7的版本，报错就没有了

[2021-06-16 08:16] 1220985305 commented on #2425
model.pdmodel，model.pdiparams如何转成nb模型？

[2021-06-16 08:17] #3161 closed, assigned to nobody

[2021-06-16 08:40] 1220985305 commented on #2171
model.pdmodel，model.pdiparams如何转成nb模型？

[2021-06-16 08:51] xupengao opened #3402 "数据增强方式，我配置MixupImage，在源码中加断点debug,调试class MixupImage,怎么不运行类内的函数呢"
我想把增强后的图片保存下来，可视化下效果，但是没找打增强后的图片，只有DecodeImage解码图片才有输入图片，没有增强后的图片。

[2021-06-16 08:56] liuhuiCNN commented on #3339
fix #3392

[2021-06-16 08:56] #3339 closed, assigned to nobody

[2021-06-16 09:57] cslixin1997 opened #3403 "paddle solov2 内存释放"
paddle solov2 不能ctrl+c直接中断杀死吗?     我这边在训练中 ctrl+c中断训练后  gpu显示程序还在后台跑着，gpu使用率100%，显存也占着，只有我用kill强制杀进程才行

[2021-06-16 10:10] lyuwenyu commented on #3403
会有这个问题 建议手动kill
` ps -aux | grep tools/train.py | awk '{print $2}' | uniq | xargs kill -9 `

[2021-06-16 10:17] ReverseSacle opened #3404 "关于ppdet FairMOT中的问题"
如题，本想在windows下运行develop版中的FairMOT,结果报错了，去看了官方paddle文档，文档中没有这个函数。
<img width="730" alt="报错" src="https://user-images.githubusercontent.com/73418195/122201750-efff4180-cece-11eb-9dd5-d0c597e2062e.png">

[2021-06-16 10:45] nemonameless commented on #3404
请安装paddlepaddle 2.1版本 https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/tutorials/INSTALL_cn.md
文档不一定更新及时

[2021-06-16 11:29] lyuwenyu commented on #3402
- 暂时还没有这样的功能
- 不过你可以
  - 首先worker设置成1，并且用单卡启动程序
  - 然后 可以在你需要debug的位置 插入save的代码

[2021-06-16 13:28] ReverseSacle commented on #3404
还有个问题，我用paddle_detection2.1版本训练好了FairMOT，并用develop版本的export_model.py导出了2.1版本的fairmot模型，但报错提示输出的是NCHW格式，可能是格式错误，这是版本导致的错误吗？
```InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: the input's channels is 608, the input's shape is [1, 608, 1088, 3]; the filter's channels is 3, the filter's shape is [16, 3, 7, 7]; the groups is

[2021-06-16 13:43] nemonameless commented on #3404
请问你的paddle_detection2.1版本是什么时候拉取和训练的，config的TrainReader里有 - RGBReverse: {}吗？ 用modelzoo里提供的fairmot权重是可以export_model的。以及请发下export_model.py的命令。

[2021-06-16 13:43] nemonameless commented on #3404
paddle_detection2.1
请问你的paddle_detection2.1版本是什么时候拉取和训练的，config的TrainReader里有 - RGBReverse: {}吗？ 用modelzoo里提供的fairmot权重是可以export_model的。以及请发下export_model.py的命令。

[2021-06-16 13:55] ReverseSacle commented on #3404
paddle_detection2.1版本是上个星期一左右拉取的，上个星期三左右开始训练，TrainReader里面有RGBReverse: {}，用自己训练好的模型权重来export_model。
[code]

[2021-06-16 13:59] nemonameless commented on #3404
modelzoo里的模型链接 https://paddledet.bj.bcebos.com/models/mot/fairmot_dla34_30e_1088x608.pdparams ，你导出也会有这个问题吗？建议重新拉取最新的并且 python setup.py install。modelzoo里这个权重是在加RGBReverse之前训的，这个理论上也不会有影响。

[2021-06-16 14:06] nemonameless commented on #3404
导出模型后可以直接infer video，注意需要先python setup.py install，暂时不支持infer单张图，单张图跟踪也没意义。
[code]

[2021-06-16 14:22] ReverseSacle commented on #3404
我是在win10的pycharm里运行mot_infer.py的，之前是把FairMOT相关文件整合加上完整的ppdet来运行deploy里的mot_infer.py,结果就报错了。刚刚以完整的paddle_detection的develop版重新试了一边，可以导入权重。但报了OpenCV的错误。
[code]

[2021-06-16 17:10] LucasVillarroelR opened #3406 "running inference in jetson nano"
Hi, I'm trying to run the inference demo with pre-trained models in a jetson nano.
I modified infer.py to get the time of each detection

I'm having a couple of troubles now, first, the inference is not drawing in output.
Second, the time of the inferences is too high.

Is there a solution for this?

![Captura de pantalla de 2021-06-15 17-39-56](https://user-images.githubusercontent.com/55993714/1

[2021-06-16 23:32] 1450976314 commented on #3332
你好，我想问一下为什么会出现这个问题？

[2021-06-17 00:50] okooo5km commented on #3332
@1450976314 具体为什么，没有调试去细查原因，这应该是 bug，之前旧版本可以 eval batch_size 大于 1 的

[2021-06-17 01:00] yinggo opened #3407 "NMS的阈值是否会影响模型训练"
请教下，NMS的阈值会影响模型训练吗？实验结果来看，不同阈值训练出来的模型检测效果会有一些小的差别，但原理上想不明白，感觉应该是没有影响的，NMS是在最后做的(具体我用的是这个[class MultiClassDiouNMS(object):](https://github.com/PaddlePaddle/PaddleDetection/blob/5e19955b011d47377a3f1443a6e592ddd9e5024a/static/ppdet/modeling/ops.py#L676)，貌似并没有参与训练过程？

[2021-06-17 01:06] shishifang commented on #3383
如果是背景类，.xml文件里面还有没有object字段？

[2021-06-17 01:18] xupengao commented on #3402
我尝试过了，插入了save的代码，图片没有保存下来，因为不走那一块函数，print打印字符串也不起作用，是不支持mixup这个数据增强的方式么，数据处理的流程是怎么走的。

[2021-06-17 01:31] ximitiejiang opened #3408 "c++部署代码和第三方库嵌入到其他程序报错: 值“MT_StaticRelease”不匹配值"MD_DynamicRelease""
你好，我尝试在windows下把部署代码deploy cpp移植到另一个主程序中集成编译，在编译时报错：
[code]
搜索了下有如下猜测：
- 部署代码deploy cpp所使用的所有第三方库(paddle inference/mkldnn/...)都基于/MT选项进行编译，链接的运行时库为LIBCMT.lib
-  我的主程序以及之前使用的第三方库都基于默认的/MD选项，链接的运行时库为MSVCRT.lib/MSVCRT.dll
- 不同第三方库所使用的运行时库不同，导致冲突

我的问题是，我当前所用的其他库文件没有替代的MT编译版本，当前windows端貌似很多库也都是基于默认MD选项编译，我们的paddle inference库编译是否也可以提供基于/MD编译的版本？

或者是我的理解有错误，那么针对我的问题，是否有什么建议的解决方案？

[2021-06-17 01:53] nemonameless commented on #3407
请问你训的是什么模型？另外不同阈值训练出来的模型，你测试的时候是用同一个阈值吗？

[2021-06-17 01:55] SangerY commented on #3345
数据量不大，只有几百张。同样的标注数据，ppyolo tiny有问题，yolov3训练没问题，不知道是不是参数设的不对。数据集已发您邮箱。

[2021-06-17 02:02] raymondchu-z commented on #2930
同问，怎么调试？断点也无效 @yghstill

[2021-06-17 02:03] yinggo commented on #3407
您好，我训练是基于cascade_rcnn_dcn_r50_fpn_1x_coco修改使用了MultiClassDiouNMS，训练的其他检测数据集
测试和训练使用同样的阈值，测试过0.3和0.5，不同case下（eg, reasonable case/occluded case/small case）的实验结果有一些变动。。
请问这个模型训练的过程是否有用到nms？

[2021-06-17 02:09] ximitiejiang commented on #3408
补充一下：
- 如果基于默认编译设置：代码生成/MD，则会报上面的不匹配错误
- 如果修改编译设置：代码生成/MT，则会报"C1189: #error: Please use the /MD switch for _AFXDLL builds."

大佬们，何解？

[2021-06-17 02:13] raymondchu-z commented on #3402
请问如何添加断点调试或者打印信息。

[2021-06-17 02:29] lhx123456-lang opened #3409 "ppyolov2 voc tools/eval.py KeyError: 'difficult'"
(env37) root@c-MS-7C39:/home/c/DL/PPYOLOV2# python tools/eval.py -c configs/ppyolo/ppyolov2_r50vd_dcn_voc.yml -o weights=/media/c/DLImage/PPYOLOV2output/ppyolov2_r50vd_dcn_voc/98.pdparams
/root/miniconda3/envs/env37/lib/python3.7/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itse

[2021-06-17 03:22] #3389 closed, assigned to nobody

[2021-06-17 03:39] raymondchu-z commented on #3402
安装时无论使用pip安装还是源码编译安装，都会使用`/home/*/anaconda3/envs/paddle_env/lib/python3.6/site-packages/easy-install.pth`里的ppdet，而不是下载的源码。想要使用git clone下来的代码调试，需要删除上述问题里的路径，然后添加`/home/*/anaconda3/envs/paddle_env/lib/python3.6/site-packages/mypath.pth`文件，文件中写`/home/*/PaddleDetection`

[2021-06-17 03:40] raymondchu-z opened #3410 "关于断点/打印信息调试无效的问题"
安装时无论使用pip安装还是源码编译安装，都会使用`/home/*/anaconda3/envs/paddle_env/lib/python3.6/site-packages/easy-install.pth`里的ppdet，而不是下载的源码。想要使用git clone下来的代码调试，需要删除上述问题里的路径，然后添加`/home/*/anaconda3/envs/paddle_env/lib/python3.6/site-packages/mypath.pth`文件，文件中写`/home/*/PaddleDetection`

[2021-06-17 03:59] lyuwenyu commented on #3402
支持mixup的
save代码放到哪里了,  放到这个类的__call__里

[2021-06-17 04:03] lyuwenyu commented on #3402
这个是Python的语法问题 包的使用顺序是按照环境变量的顺序来的 优先搜索安装路径->当前路径
1. 要么卸载之前按照的ppdet
2. 要么修改 sys.path

[2021-06-17 04:05] lyuwenyu commented on #3406
- try to set `run_benchmakr=True` to test inference time
- referenece https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/deploy/python

[2021-06-17 04:26] ReverseSacle commented on #3404
之前那个是我设置路径的问题，昨天我用develop版重新训练了，发现了几个问题。
 一.Win10运行setup.py安装，有一处警告是ppdet/engine文件夹下的__init__.py中最后一行```__all__ = __all__ + tracker.__all__ \```多了个'\'。
二.另外我训练了一个epoch后用mot_infer.py生成的一个视频中全部是第一张截取的图片的总和（相当于把第一张图片拼接了n次合成的视频)
三.在win10中使用deploy下的mot_infer.py会报错提示关键字错误，这是infer_cfg.yml中的to_rgb的错误，删除后，又提示之前这个错误了。
```The number of input's channels should be equal to filter's channels * groups for Op(Con

[2021-06-17 04:34] Wei-JL opened #3411 "使用新版ppyolo V2 一直卡在验证集 卡1小时多也不动，也不报错"
yolov3 ppyolo都可以正常训练，但无论是VOC还是COCO 不同的数据集 都是卡住不动，日志如下：

[06/17 12:08:40] ppdet.utils.checkpoint INFO: Save checkpoint: output/**ppyolov2_r50vd_dcn_365e_coco**
loading annotations into memory...
Done (t=0.00s)
creating index...
index created!
[06/17 12:10:13] ppdet.engine INFO: Eval iter: 0

[06/17 11:54:25] ppdet.utils.checkpoint INFO: Save checkpoint: output/**ppyolov2_r50vd_dcn_voc**
[06/17 12:0

[2021-06-17 04:53] ReverseSacle commented on #3404
我试了下，将paddle_detection2.1版中的ppdet/engine文件夹下的tracker.py文件替换了develop对应文件，既能生成正常的视频还生成了对应的txt文件。

[2021-06-17 05:35] nemonameless commented on #3411
请拉取最新develop分支代码训练试试？是--eval 开了边训边评估吗？训练前期精度低nms耗时极多不建议开--eval。可以试试单独跑tools/eval.py去评估这个训好的权重看是否也是卡住不动？

[2021-06-17 05:38] Wei-JL commented on #3411
对，我开了 --eval   我试试您的方法吧

[2021-06-17 06:06] xupengao commented on #3402
好的，已经解决。

| |
徐鹏翱
|
|
***@***.***
|
签名由网易邮箱大师定制
在2021年6月17日 ***@***.***> 写道：

我尝试过了，插入了save的代码，图片没有保存下来，因为不走那一块函数，print打印字符串也不起作用，是不支持mixup这个数据增强的方式么，数据处理的流程是怎么走的。

支持mixup的
save代码放到哪里了, 放到这个类的__call__里

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-17 07:39] wflrz123 opened #3412 "paddleslim剪枝问题"
!python prune.py \
-c /home/aistudio/PaddleDetection/configs/ppyolo/ppyolov2_r101vd_dcn_365e_coco.yml \
--print_params
使用paddleslim里的prune确定待分析参数时报错：ModuleNotFoundError: No module named 'ppdet.experimental'
ppdet是否已更新，导致没有experimental该函数

[2021-06-17 07:45] dhao-island opened #3413 "请问一下，在yolov3_r50vd_dcn_db_iouaware_obj365_pretrained_coco.yml中，dropblock加在什么位置呢？"
为什么加在这个位置合适呢？我可视化模型后，没有找到。所以想来问一下大佬们。

[2021-06-17 08:31] iotctech opened #3414 "BaseArch类里的self.training是从哪里传进来的"
![image](https://user-images.githubusercontent.com/55570310/122360772-3d3fe980-cf89-11eb-9d68-afa991224bda.png)

meta_arch.py文件中，BaseArch类中，self.training是怎么传进来的？