[2021-04-21 02:18] #2491 closed, assigned to nobody

[2021-04-21 02:18] jerrywgz commented on #2718
你使用的是coco数据集格式，评估时会使用cocoapi，具体代码可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/metrics/metrics.py#L117 这里

[2021-04-21 02:23] heavengate commented on #2062
您好，鉴于问题已经解决，当前issue关闭，如果还有问题，可以reopen这个issue

[2021-04-21 02:23] #2062 closed

[2021-04-21 02:24] heavengate commented on #2049
您好，鉴于问题已经解决，当前issue关闭，如果还有问题，可以reopen这个issue~

[2021-04-21 02:24] #2049 closed

[2021-04-21 03:04] Monday-Leo commented on #2717
请问有哪些方式可以提高精度，小白求教！

[2021-04-21 03:11] #2658 closed, assigned to nobody

[2021-04-21 03:45] #2612 closed, assigned to yghstill

[2021-04-21 03:46] #2682 closed, assigned to yghstill

[2021-04-21 03:57] guotongjian opened #2721 "paddleslim"
`python slim/prune/prune.py -c configs/dcn/yolo3_r50vd_dcn_iou_loss.yml \ --pruned_params "conv1_1_weights,conv1_2_weights,res2a_branch2a_weights,res2a_branch2b_weights,res2b_branch2a_weights,res2b_branch2b_weights,res2c_branch2a_weights,res2c_branch2b_weights,res3a_branch2a_weights,res3a_branch2b_weights,res3b_branch2a_weights,res3b_branch2b_weights,res3c_branch2a_weights,res3c_branch2b_weights,r

[2021-04-21 04:24] zxsitu commented on #2718
@jerrywgz 我看了这部分代码了，请问使用coco的数据集格式，只能能按它的评价格式输出吗，包括整体AP和各类AP值？没法print（precision或者recall）了吗？
我想导出整体的precision和recall，请问能插入print语句吗？谢谢 :(

[2021-04-21 07:36] bbbxixixixi opened #2722 "CACascadeRCNN.md中训练报异常"
https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/featured_model/champion_model/CACascadeRCNN.md
这个文档中，用python tools/train.py -c configs/obj365/cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas.yml训练
环境是aistudio
第一次报异常No module named 'paddle.fluid.dataloader.collate' 将paddlepaddle改成了develop版本，然后又报了异常ModuleNotFoundError: No module named 'ppdet.experimental'
paddledet用的是master分支

[2021-04-21 07:40] nblib opened #2723 "AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'sync_batch_norm'"
# env
* Paddle >= 2.0.0
* PaddleDetection branch release/2.0
* Win10
* CPU
* model ppyolov2

[2021-04-21 09:03] thzyyx opened #2725 "yolov3_enhance_reader.yml中的is_scale参数问题"
configs/dcn/yolov3_enhance_reader.yml中使用is_scale为false会导致图像不会进行归一化，而使用的mean和std明显是归一化后的（mean: [0.485, 0.456, 0.406]      std: [0.229, 0.224, 0.225]），这种预处理方法处理过的图像像素值超过255，这种做法是否合理？还是说本身就这么设计的？

[2021-04-21 10:00] lmk123568 opened #2726 "关于新版本optimizer"
optimizer_1x 代表什么意思，不同文件的base中1x epoch不一样，请问1x具体代表什么意思呢，如果能回复将不胜感激

[2021-04-21 10:24] bbbxixixixi commented on #2722
是我装了pip paddledet之后又运行master包里的train导致的。。。

[2021-04-21 10:24] #2722 closed, assigned to nobody

[2021-04-21 12:59] DongChenwei2000 opened #2727 "关于voc格式的yaml文件"
你好，paddle detection支持voc和coco格式的数据集，但是voc的yaml配置文件却很少，请问如何coco格式yaml配置文件变成voc格式也能使用的呢？我现在使用动态图版的faster_rcnn，以faster_rcnn_r50_fpn_1x_coco.yaml为例，我修改了_BASE_中的'../datasets/coco_detection.yml'为'../datasets/voc.yml'，出现了如下错误：
![CI3NQ@%A D3LA_S4Z$Y3D5D](https://user-images.githubusercontent.com/71364549/115557585-6bd07980-a2e4-11eb-9d37-bbb1c2107fef.png)

[2021-04-21 13:28] CharlesYXW opened #2728 "PaddlePaddle2.0.2版本，No module named 'paddle.fluid.dataloader.collate'问题"
您好！我今天刚刚安装了PaddlePaddle2.0.2版本，PaddleDetection也是最新的版本，按照教程进行测试的时候报了如下错误，无论是在默认文件夹下还是static文件夹下都会出现 No module named 'paddle.fluid.dataloader.collate'，请问该如何解决呢？
 python tools/infer.py -c configs/ppyolo/ppyolo.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams --infer_img=demo/000000014439.jpg
/home/amax/anaconda3/envs/paddle/lib/python3.6/site-packages/pa

[2021-04-21 13:30] guotongjian opened #2729 "关于新版本剪裁的问题"
新版本，剪裁命令为`python tools/train.py -c configs/{MODEL.yml} --slim_config configs/slim/{SLIM_CONFIG.yml}`
我想做的事：**训练自己的模型然后剪裁**。
流程：按理说，**先训练好我的模型**，得到一个权重文件，**然后再用剪裁命令剪裁**这个权重文件。
**Question**:1、现在这个命令的意思就是一步完成了，**直接得到剪裁后的权重吗**？
                2、还是说我需要**先训练好一个模型**，**然后再把训练得到的权重来当做剪裁的预训练权重**，**再运行这个命令**？
               3、因为我在看**slim里的配置文件**时，yml文件里需要填写**剪裁层的名字和剪裁率**，这个应当是先训练好一个模型，然后打印

[2021-04-21 13:36] CharlesYXW commented on #2728
PaddleDetection版本为2.0

[2021-04-21 15:30] wanggp01 commented on #2712
我按照你说的方法试了，还是不行，我对比了这俩文件，是一模一样的 @heavengate

[2021-04-21 15:56] jerrywgz commented on #2718
在评估的时候可以增加--classwise得到各类的AP值，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/metrics/coco_utils.py#L99

[2021-04-21 15:59] jerrywgz commented on #2717
可以尝试增加数据预处理，使用sync_bn，ema，增大batch size等方式提升精度

[2021-04-21 17:19] shuxsu commented on #2680
您能给我解答下为什么这么慢的原因吗？

[2021-04-21 17:20] shuxsu commented on #2680
[code]

[2021-04-21 17:20] shuxsu commented on #2680
[code]

[2021-04-21 17:21] shuxsu commented on #2680
batch size=1能快点  但是效果很差，batch size=4
<img width="1184" alt="image" src="https://user-images.githubusercontent.com/45937014/115595038-09d63b00-a309-11eb-8584-f486d8e9a437.png">
如何能加速啊

[2021-04-21 17:22] shuxsu opened #2730 "关于ppyolo训练很巨慢 慢的无奈的问题 希望能解答一下"
[https://github.com/PaddlePaddle/PaddleDetection/issues/2680](url)

[2021-04-21 17:51] jerrywgz commented on #2719
https://github.com/PaddlePaddle/PaddleDetection/pull/2731
https://github.com/PaddlePaddle/PaddleDetection/pull/2732
感谢反馈，目前问题已经在pr中修复

[2021-04-21 17:53] jerrywgz commented on #2723
Now ppyolov2 is only supports on GPU and you could change norm_type to bn if you want to try ppyolov2 on CPU.

[2021-04-21 17:59] jerrywgz commented on #2725
yolov3_enhance_reader中的配置是为了对齐预训练模型中使用的预处理方式（本身确实存在问题，但是对结果没有影响）
另外可以尝试使用ppyolo模型，效果要优于yolov3_enhance模型

[2021-04-21 18:02] jerrywgz commented on #2726
optimizer_1x通常表示为12epoch，ppyolo中1x对应的epoch为405，这里我们修改下名称以便于理解

[2021-04-21 18:03] jerrywgz commented on #2727
https://github.com/PaddlePaddle/PaddleDetection/pull/2732
可以按照这里的pr进行修改

[2021-04-21 18:05] jerrywgz commented on #2728
PaddleDetection develop分支需要依赖PaddlePaddle develop版本；可以切换PaddleDetection到release/2.0分支

[2021-04-22 01:09] thzyyx commented on #2725
感谢@jerrywgz

[2021-04-22 01:09] #2725 closed, assigned to nobody

[2021-04-22 01:26] CharlesYXW commented on #2728
我安装的就是
PaddleDetection release/2.0 版本呀

------------------ 原始邮件 ------------------
发件人: wangguanzhong ***@***.***&gt;
发送时间: 2021年4月22日 02:05
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: CharlesYXW ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleDetection] PaddlePaddle2.0.2版本，No module named 'paddle.fluid.dataloader.collate'问题 (#2728)

[2021-04-22 02:10] LDX17 commented on #2718
在map_utils.py的56行开始加print语句，可以输出
![image](https://user-images.githubusercontent.com/66930694/115645327-bdafe880-a352-11eb-9c30-d40e1a341e28.png)

[2021-04-22 02:27] jerrywgz commented on #2728
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/data/reader.py#L27
在2.0分支下是没有from paddle.fluid.dataloader.collate import default_collate_fn 的，你是不是在develop分支使用了setup.py install然后再切到了2.0分支

[2021-04-22 02:30] yghstill commented on #2729
@guotongjian
1.是一步完成，直接得到剪裁后权重
2.先训好模型得到权重，然后再作为预训练模型进行剪裁
3.剪裁的层可以通过print_params: True来打印后选择要剪裁的层

[2021-04-22 02:32] CharlesYXW commented on #2728
我是按照教程的第一种方法直接通过pip安装的
# pip安装paddledet pip install paddledet==2.0.0 -i https://pypi.tuna.tsinghua.edu.cn/simple # 下载使用源码中的配置文件和代码示例 git clone https://github.com/PaddlePaddle/PaddleDetection.git cd PaddleDetection

------------------ 原始邮件 ------------------
发件人: wangguanzhong ***@***.***&gt;
发送时间: 2021年4月22日 10:27
收件人: PaddlePaddle/PaddleDetection ***@***.***&gt;
抄送: CharlesYXW ***@***.***&gt;, Au

[2021-04-22 02:41] jerrywgz commented on #2646
是的

[2021-04-22 02:42] #2616 closed, assigned to nobody

[2021-04-22 02:43] #2565 closed, assigned to nobody

[2021-04-22 02:46] #2497 closed, assigned to yghstill

[2021-04-22 02:46] yghstill commented on #2721
@guotongjian 先加上--print_params参数打印网络中所有层的名称等信息，然后选择网络中存在的conv的name。yolo算法一般剪裁head部分，也可以进行敏感度分析，选择更合适的层：https://github.com/PaddlePaddle/PaddleDetection/blob/master/slim/sensitive/README.md

[2021-04-22 02:47] #2390 closed, assigned to heavengate, jerrywgz

[2021-04-22 02:56] yghstill commented on #2680
@shuxsu 看你的描述全部都一样的数据集，一个慢一个快，图像大小前后有变化吗，图片size越大，数据预处理越耗时？评估训练快慢，看ips的指标，ips越高，训练速度越快。
看你的配置文件，将TrainReader中worker_num设置成8或16、bufsize设成8或16看是否有提速。

[2021-04-22 02:57] yghstill commented on #2730
Reply in #2680

[2021-04-22 03:00] shuxsu commented on #2680
ips&nbsp;&nbsp;6.03316 images/sec 问题是我训练cityscape那个尺寸大 1024x2048 但是时间还好
我训练自定义数据集 那个尺寸都没cityscape的大 但是反而时间更长 &nbsp;总batch size不是等于bf size x batch size吗
我bf size大 总batch size更大 那不是更耗时吗。。。

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.ips

[2021-04-22 03:41] ybc-ybc opened #2733 "ppyolo_v2评估验证集出错，最新版本"
[code]

训练一轮后开始评估，出错；
 python tools/train.py -c configs/ayml/my.yml --eval
单独提取模型评估也是同样的错误；

只进行训练没有问题

[2021-04-22 03:47] songyuc commented on #2646
@jerrywgz ，好的，谢谢您的解答！

[2021-04-22 03:47] #2646 closed, assigned to nobody

[2021-04-22 03:57] 2hyes opened #2734 "deformable conv layer?"
I read pp-yolo paper.

This is what the paper said. And I wonder that you modified the last **_**one** 3x3 conv layer_** to deformable conv layer or the last **_**three** 3x3 conv layer_**(last stage)?

And In which source file can I check this?

[2021-04-22 04:03] yghstill commented on #2680
bufsize只是数据预处理的缓存大小，和batch size相关，可以等于总batch size。总的bacth size=batch_size * gpu卡数。
可以`top -c`看下运行时CPU利用率，ppyolo训练因为数据预处理多，本身比较耗时。

[2021-04-22 04:04] lmk123568 commented on #2726
thanks for your response

[2021-04-22 04:26] ilem777 commented on #2718
@Lxiaom123 嗯嗯，我尝试一下。

[2021-04-22 04:47] guotongjian opened #2735 "新版本训练报错"
![1619066600(1)](https://user-images.githubusercontent.com/73452319/115656827-73d1fd00-a368-11eb-8e6e-def740717296.jpg)
![1619066612(1)](https://user-images.githubusercontent.com/73452319/115656829-75032a00-a368-11eb-94cb-cc351b88c2a9.jpg)
设置了每5个epoch评价一次，5个epoch后模型评价不大对劲，map都是0，然后训练到10个epoch，评估的时候报错了。我配置文件的信息跟以前老版本用的参数都是一样的，是不是我哪里配置错的原因

[2021-04-22 04:54] qingqing01 commented on #2680
@shuxsu 两个迭代轮数一样嘛？ 默认的PP-YOLO在COCO上训练迭代轮数非常多，自己数据可以依据epoch数调少一些。 另外，如果数据可以公开的话，也可以发出来，我们测试看下。

[2021-04-22 04:54] bbbxixixixi opened #2736 "有设置随机数，以便复现结果的功能吗？"
看了一下Objects365 2019 Challenge夺冠模型的配置，没看到seed的设置，另外在paddlex那儿也说目前没设定随机数以便复现结果的方法

[2021-04-22 05:07] yghstill commented on #2733
@ybc-ybc 是自定义数据集吗？是COCO格式吗？ 看报错信息是EvalReader或者EvalDataset设置错误，可以发下相关配置信息吗

[2021-04-22 05:11] shuxsu commented on #2680
所有配置信息一模一样 &nbsp;除了数据集不一样
自定义数据集和cityscape数据集的链接如下
cityscape：https://aistudio.baidu.com/aistudio/datasetdetail/79240
green：https://aistudio.baidu.com/aistudio/datasetdetail/80823

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-22 05:14] yghstill commented on #2734
@2hyes last one 3x3 conv layer in C3-C5, three in total. Please refer:
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/modeling/backbones/resnet.py#L334-L345

[2021-04-22 05:16] guotongjian commented on #2729
好的谢谢

[2021-04-22 05:16] #2729 closed, assigned to nobody

[2021-04-22 05:17] #2721 closed, assigned to nobody

[2021-04-22 05:18] #2734 closed, assigned to nobody

[2021-04-22 05:23] yghstill commented on #2735
@guotongjian 哪个模型？是用的release 2.0分支最新代码吗

[2021-04-22 05:25] guotongjian commented on #2735
yolov3加强版的模型，最新2.0的代码

[2021-04-22 05:26] guotongjian commented on #2735
![1619069160(1)](https://user-images.githubusercontent.com/73452319/115660234-50aa4c00-a36e-11eb-97cb-6c39f162bc45.jpg)

[2021-04-22 05:28] yghstill commented on #2735
@guotongjian 感谢反馈，这个问题我们排查下

[2021-04-22 06:12] wangxinxin08 commented on #2735
看你的模型训练的很差，如果方便的话可以发一下你的配置文件并描述下你的数据集(类别数目，特点)吗？

[2021-04-22 06:17] #2700 closed, assigned to liuhuiCNN

[2021-04-22 06:17] ybc-ybc commented on #2733
voc格式自定义的训练集，把coco的yml换成voc的，其他的没动：
_BASE_: [
  './voc.yml',
  './runtime.yml',
  './ppyolov2_r50vd_dcn.yml',
  './optimizer_365e.yml',
  './ppyolov2_reader.yml',
]

worker_num: 4
TrainReader:
  inputs_def:
    num_max_boxes: 100
  sample_transforms:
    - Decode: {}
    - Mixup: {alpha: 1.5, beta: 1.5}
    - RandomDistort: {}
    - RandomExpand: {fill_value: [123.675, 116.28, 103.53]}
    - Rando

[2021-04-22 06:18] #2699 closed, assigned to qingqing01

[2021-04-22 06:28] guotongjian commented on #2735
类别我只有4类，用以前老版本训练几个epoch的时候都有10几的map了，不是这样的00000，效果还是有的。
配置文件我给您看下：
**总的一个配置**：
[code]
**my_coco_detection**：
[code]
**runtime**
[code]
**yolov3_reader:**
[code]
**optimizer:**
[code]

**mynet:**
[code]

[2021-04-22 06:44] wangxinxin08 commented on #2735
看你的配置基本上是没有问题，你可以从以下两个方面去排查：
1. 可以查看下数据和标注文件
2. 可以查看下log中预训练模型是否正常加载

[2021-04-22 07:30] lmk123568 commented on #2726
您好，请问ppyolov2论文什么时候出来

[2021-04-22 07:45] guotongjian commented on #2735
您好，我的数据以及标注应该是没有问题的，老版本我也是用同样的数据训练的，没有问题。
预训练模型加载好像也没什么问题，log如下
![WN)2ME 8~A}`PH4%OTR48T5](https://user-images.githubusercontent.com/73452319/115675156-eb138b00-a380-11eb-97cd-57f2522377a8.png)

![8@4A60VPCLYQLP`0SI`N5YU](https://user-images.githubusercontent.com/73452319/115675185-f49cf300-a380-11eb-97e2-869721b98757.png)

接下来出现epoch【0】，epoch【0】，训练完，评估了一次，这个不能理解，我设置的间隔为5,这个epoch【0】，是指？
![EYS D }P

[2021-04-22 07:57] xinliyangguang opened #2738 "PPYOLO将训练图片resize会造成失真吗？原图是4096*2106的，貌似源码中是resize为正方形？"
如题，想要自己修改resize方式的话在哪个函数里呢？

[2021-04-22 08:10] yghstill commented on #2735
fix in #2720 ,再更新下代码吧，一开始模型收敛效果差，得到的mAP很小，可以训练一段时间再看结果。

[2021-04-22 08:14] guotongjian commented on #2735
您好，您提到的这个我看过，代码我是用的更新过的，我再继续训练看看吧，谢谢回答。

[2021-04-22 08:14] #2735 closed, assigned to wangxinxin08

[2021-04-22 08:14] yghstill commented on #2736
@bbbxixixixi 你指的是复现训练精度吗？训练不需要设置随机数，加载预训练模型后，其他权重随机初始化训练就能复现精度

[2021-04-22 08:15] yghstill commented on #2733
@ybc-ybc fixed in #2720 ，再更新下代码试下吧

[2021-04-22 08:34] ybc-ybc commented on #2733
错误依旧，应该不是数据集问题，把训练集和验证集交换下，训练没问题，验证就出错

[2021-04-22 08:36] yghstill commented on #2738
@xinliyangguang 你的原图很大，resize到608左右的话可能会失真，如果resize成长方形，可以在将配置https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/_base_/ppyolo_reader.yml#L13 从BatchRandomResize: {target_size: [320, 352, 384, ... 改成BatchRandomResize: {target_size: [[640, 320], [704, 352], [768,384],...
图像尺寸需要是32的倍数

[2021-04-22 10:26] GZHUZhao opened #2739 "请教一个问题：ssd的aspect_ratios如何设置？"
论文中的aspect_ratios = {1,2,3,1/2,1/3}，默认的ssd_mobilenet_v1_voc.yml里的是[[2.], [2., 3.], [2., 3.], [2., 3.], [2., 3.], [2., 3.]]，
我是用了自己的数据集，分析到数据集中的目标的宽/高主要集中于0.8左右，请问如何设置？
还有，配置文件中的2是宽/高 = 2，还是宽/高 = 2和高/宽 = 2两种？，宽/高 = 1:1的呢？
十分感谢您的耐心回答，谢谢！

[2021-04-22 11:24] yghstill commented on #2733
@ybc-ybc 好的，之前修复的不全，这个是已知问题，修复后会告知你，谢谢反馈

[2021-04-22 12:10] yghstill commented on #2739
@GZHUZhao aspect_ratios是高/宽比，在prior_box中默认是1，在ssd只有`1, 2, 3, 1/2, 1/3`这五种，1是默认就包含的，如果aspect_ratios中有[2., 3.]，并且设置flip=True，那么候选框将会做翻转，长宽比就是[ 1/2, 1/3]，配置文件中这五种比例都包含的哈，具体API可以看文档了解下：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/prior_box_cn.html#prior-box

[2021-04-22 12:30] netidol commented on #2727
哈哈，我写了一个coco2voc的工具，需要可以交流

[2021-04-22 12:40] netidol commented on #2657
已经提交pr

[2021-04-22 12:40] #2657 closed, assigned to nobody

[2021-04-22 13:07] GZHUZhao commented on #2739
感谢您的回答，谢谢！

[2021-04-22 13:18] bbbxixixixi commented on #2736
不是，最近打比赛要训练模型，需要能够通过提交的代码复现结果。如果提交的结果和复现的结果差太多就不好了

[2021-04-22 13:23] jackie8310 commented on #2716
@jerrywgz ,检测结果中会出现漏检吴检，输入相同照片，有时可以检测出来，有时不能检测出里面的目标，目标框内容是一样的。

[2021-04-23 00:54] guotongjian opened #2742 "请教新版本问题"
1、为什么同样的数据，同样的配置文件，新版本跑出来的，map要比旧版本低（iou=0.5下低的太多），coco评价方式总体map低了两个点。而且训练同样的轮数，老版本loss最后降到2点几，新版本只能降到7点几，这是什么原因呢
2、旧版本训练的模型权重放到新版本测试还能用吗，我eval了一下出现一连串的 Redundant weight conv1_1_weights and ignore it。这种类似语句，map评价都是0，请问这是什么原因呢，模型都是一样的。
3、新版本训练好，用`python -u tools/eval.py -c configs/yolov3/model.yml -o weights=output/260.pdparams --classwise`预测，报错如下，网上查了一下，貌似是matplotlib的问题？不加--classwise是可以正常运行的，后又在本地

[2021-04-23 01:14] guotongjian commented on #2742
3、新版本训练好，用`python -u tools/eval.py -c configs/yolov3/model.yml -o weights=output/260.pdparams --classwise`预测，报错如下，网上查了一下，貌似是matplotlib的问题？不加--classwise是可以正常运行的
![1619140342(1)](https://user-images.githubusercontent.com/73452319/115803718-0b405a00-a414-11eb-8eb2-8e50701fb7c2.jpg)

[2021-04-23 02:05] #2723 closed, assigned to nobody

[2021-04-23 02:16] #2739 closed, assigned to nobody

[2021-04-23 02:22] yghstill commented on #2736
@bbbxixixixi 可参考paddle.seed的API：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/framework/random/seed_cn.html#seed

[2021-04-23 02:36] yghstill commented on #2728
@CharlesYXW 从https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html  这里安装最新的develop PaddlePaddle版本再试下吧

[2021-04-23 02:40] heavengate commented on #2680
看你`TrainReader.worker_num`和`TrainReader.bufsize`都配置的1，YOLO系列模型预处理比较复杂，强依赖预处理多子进程并发加速，可以试下把`worker_num`和`bufsize`开大一些，`worker_num`可以根据你的机器的CPU核数，不超过核数可以尽量开发，`bufsuze`可以设置为训练卡数或者卡数的两倍
另外，如果是小数据集，建议不开始image mixup，可以把`TrainReader.mixup_epoch`设置为0

[2021-04-23 02:52] #2214 closed

[2021-04-23 02:52] #2183 closed

[2021-04-23 02:52] #2182 closed

[2021-04-23 02:53] #2178 closed

[2021-04-23 02:56] liuhuiCNN commented on #2420
你好，请问问题是否解决？

[2021-04-23 02:57] yghstill commented on #2047
已经在最新release 2.0分支中支持此功能。eval时指定--classwise即可

[2021-04-23 02:57] #2047 closed

[2021-04-23 02:57] 617475jordan commented on #2591
请问使用默认s2anet_conv_1x_dota.pdparams，其类型对应id在哪儿看到，代码中没有找到，网上找到的类型与id对应不上

[2021-04-23 05:46] liuhuiCNN commented on #2742
(1) 请问是哪个模型呢？yolo系列部分模型在评估时需要加bias参数，请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/README_cn.md
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/yolov3
(2) 旧版本、新版本分别是指哪个版本呢？
(3) 如果需要matplotlib画图的话，需要设置 matplotlib 的env，请参考：https://blog.csdn.net/ydyang1126/article/details/77247654
(4) 建议使用bench_mark结果作为速度评价指标

[2021-04-23 06:25] guotongjian commented on #2742
您好，（1）是yolov3_dcn的模型，未使用bias字段，是参考训练时的eval日志，得出的对比结果。另外，想问一下，loss比较高大概在7点几，这样应该如何去调参呢，loss_xy,loss_obj,loss_iou这三个在2.几，loss_wh，loss_cls在0.几
（2）旧版本是指之前的2.0-beta，2.0-rc的静态图版本，新版本是指刚刚发布的2.0动态图版本。
另外在剪裁时报错，看这个意思是必须用训练的最后一次的模型作为预训练模型？
![1619158796(1)](https://user-images.githubusercontent.com/73452319/115827985-a6025e00-a43f-11eb-8210-c05d3a97e8ab.jpg)
**感谢您的回答**。

[2021-04-23 07:18] Simon-liusheng commented on #2733
出现了同样的错误，静静等待

[2021-04-23 07:30] wanggp01 opened #2743 "cascade-rcnn 多GPU训练时，eval出错，KeyError: 'mask'"
使用的训练指令：python -m paddle.distributed.launch --gpus 6,7 tools/train.py -c configs/dcn/cascade_rcnn_dcn_r50_fpn_1x_coco.yml --eval --use_vdl True --vdl_log_dir vdl_log_dir/scalar
错误信息：
[04/23 13:58:08] ppdet.engine INFO: Total sample number: 3471, averge FPS: 6.7864325083890105
Traceback (most recent call last):
  File "tools/train.py", line 137, in <module>
    main()
  File "tools/train.py", line

[2021-04-23 08:37] longegit opened #2744 "cpp demo 错误"
./build/main --model_dir=/home/ubuntu/下载/PaddleDetection-release-2.0/inference_model/yolov3_darknet53_270e_coco --image_path=/home/huitou/test/testpic/1.jpg

错误如下
terminate called after throwing an instance of 'paddle::platform::EnforceNotMet'
  what():

  Compile Traceback (most recent call last):
    File "tools/export_model.py", line 105, in <module>
      main()
    File "tools/export_model.py

[2021-04-23 08:59] liuhuiCNN commented on #2744
请问您使用的模型是哪个呢？预测库版本是多少？

[2021-04-23 09:01] liuhuiCNN commented on #2743
感谢反馈，根据报错信息，应该是检测结果为空导致的，请检查学习率是否正确。

[2021-04-23 09:12] longegit commented on #2744
paddle用的是开发版 python -m pip install --pre paddlepaddle-gpu==2.1.0.dev0.post101 -f https://paddlepaddle.org.cn/whl/cu101/mkl/develop.html
模型用的是 https://paddledet.bj.bcebos.com/models/yolov3_darknet53_270e_coco.pdparams，用export_model.py导出

[2021-04-23 09:14] longegit commented on #2744
我c++编译的库是2.0.2版本，然后我想导出模型的时候，export_model.py只能用在开发版上，所以python安装的开发版，两个版本不一样

[2021-04-23 09:20] zouxiaoshi commented on #2485
您好：
我使用paddle serving 对 识别模型 进行部署，
用grpc调用是OK的，但是用HTTP的方式就不行，麻烦帮我看下，哪里出了问题：

[code]

问题出现在
[code]
每次调用时候，都报错，信息如下：
[code]

后来又尝试了直接传输图片
[code]
结果还是报相同的错误
[code]

[2021-04-23 09:34] SovereignRemedy commented on #2728
亲测 pip install paddledet==2.0.0 -i https://pypi.tuna.tsinghua.edu.cn/simple  源里上传的包不是release/2.0分支的  建议修复一下

[2021-04-23 09:48] ilem777 commented on #2728
我建议您还是新建一个环境，按要求重新安装，不然你重装时卸载又不卸干净，反反复复安装都会失败的。

[2021-04-23 11:32] bbbxixixixi opened #2745 "更改cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas.yml中batch_transforms的配置，使用develop训练异常"
aistudio环境

第一种是配置成
batch_transforms:
  - BatchRandomResize: {target_size: [[512, 256], [512, 416], [640, 352], [640, 512], [768, 416], [768, 608], [896, 480], [896, 704], [1024, 544], [1024, 832], [1152, 640], [1152, 928], [1280, 704], [1280, 1024], [1408, 768], [1408, 1152], [1536, 832], [1536, 1248]], random_size: True, random_interp: True, keep_ratio: False}
  - Permute: {}
  - !PadBatch
    p

[2021-04-23 13:02] 1431241631 opened #2746 "S2ANet模型 旋转目标 标注工具有吗"
旋转目标标注工具

[2021-04-23 15:10] liuhuiCNN commented on #2746
增加了4点标注转旋转框标注的脚本，请参考PR： https://github.com/PaddlePaddle/PaddleDetection/pull/2724。

[2021-04-23 15:21] liuhuiCNN commented on #2745
（1）BatchRandomResize 是支持非正方形的尺寸设置的。
（2）如果您用的是动态图，请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/85a82d9b15a5df73c5a638e62c6835072844c75f/configs/rcnn_enhance/_base_/faster_rcnn_enhance_reader.yml#L5

[2021-04-23 15:37] liuhuiCNN commented on #2744
您好，ppdet release/2.0，paddle 2.0.1，paddle预测库2.0.1是正常的。建议您用相同版本的paddle导出模型。

[2021-04-23 16:02] #2118 closed

[2021-04-23 16:02] #1970 closed

[2021-04-23 16:02] #1866 closed

[2021-04-23 16:03] #1705 closed

[2021-04-23 16:04] #1691 closed

[2021-04-23 16:59] hei898 commented on #2733
我也是，在训练的时候和你的错误一样

[2021-04-24 02:57] MaYiLong1998 opened #2749 "PaddleDetection最新版本训练报错"
**报错信息：**

[04/24 10:40:18] ppdet.engine INFO: Epoch: [7] [160/314] learning_rate: 0.000590 loss_xy: 3.623086 loss_wh: 1.737175 loss_obj: 10.704334 loss_cls: 0.043341 loss: 15.800271 eta: 16:53:57 batch_cost: 0.6720 data_cost: 0.5524 ips: 2.9763 images/s
2021-04-24 10:40:33,822 - ERROR - DataLoader reader thread raised an exception!
Traceback (most recent call last):
  File "tools/train.py", line

[2021-04-24 05:08] #2749 closed, assigned to nobody

[2021-04-24 10:23] ybc-ybc opened #2750 "ppyolo_v2迁移训练后，模型导出出错"
采用ppyolov2_r50vd_dcn_365e_coco.pdparams作为预训练模型在新的数据集训练，
如下：
[code]
训练的输出模型，导出出错
[code]

[2021-04-24 15:05] wangxinxin08 commented on #2750
1. 第一张图是由于你的类别与coco类别不一致导致最后一层输出的channel不一致，是正常的
2. 第二个模型报错推测是由于你的权重文件的路径没有正确指定，需要提供模型文件和配置文件做进一步确认

[2021-04-24 15:10] #1558 closed

[2021-04-24 15:12] #1513 closed

[2021-04-24 15:13] #1426 closed

[2021-04-24 15:13] #1402 closed

[2021-04-24 15:14] #1399 closed

[2021-04-24 15:30] zouxiaoshi opened #2751 "s2anet 用cpu训练"
您好：
准备尝试用CPU训练S2ANET，在编译 ppdet/ext_op时报错：
[code]

paddle版本如下：
paddlepaddle==2.0.2   [CPU 版]

[2021-04-24 15:41] zouxiaoshi opened #2752 "ppyolo_v2 支持批量预测吗"
ppyolo_v2 支持批量预测吗？

[2021-04-24 16:08] zxsitu commented on #2718
@Lxiaom123 您好，我成功打印出precision和recall值了。但我想问一下，请问我想从中挑选出一个计算F1-score值最大时的（precision值，recall值），如何进行后续print代码的修改呢？谢谢

举其中一个打印值，请问如何计算呢？
[code]

[2021-04-25 01:20] ybc-ybc commented on #2750
感谢

[2021-04-25 01:20] #2750 closed, assigned to nobody

[2021-04-25 02:03] dengxinlong opened #2753 "关于在SSDLite_mobienet_v3中添加FPN"
我看到贵方的实现中有将FPN添加到SSDLite_MobilenetV3中，但是好像对于小目标的检测效果不是太好，下面是检测截图，和贵方的AP值是一致的，我想问的就是是贵方的实现采用比较简便的做法还是说就算对这个模型添加FPN效果也就那样？
![image](https://user-images.githubusercontent.com/32217129/115977757-7b361800-a5ad-11eb-85ca-96dec048f017.png)

[2021-04-25 02:24] bbbxixixixi commented on #2745
这个使用的时候有些问题，cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas.yml这个里面的配置是!ResizeImage这种形式的，而faster_rcnn_enhance_reader.yml是dict形式的，我尝试把dict形式的加入cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas.yml，出现异常
2021-04-25 10:17:09,647 - WARNING - fail to map op [{'RandomResize': {'target_size': [[416, 224], [416, 320], [448, 224], [448, 352], [480, 256], [480, 384], [512, 256], [512, 416], [544, 288], [544, 416][1248, 992], [1

[2021-04-25 02:32] qingqing01 commented on #2751
@liuhuiCNN 看下是否只支持CPU环境。

[2021-04-25 02:33] qingqing01 commented on #2752
@zouxiaoshi

是deploy下面的批量预测吗？ 模型本身支持，代码还没添加，后续会添加下。

[2021-04-25 02:48] guotongjian commented on #2742
@liuhuiCNN @

[2021-04-25 02:48] #2742 closed, assigned to nobody

[2021-04-25 02:49] guotongjian opened #2757 "请教新版本的问题"
旧版本：2.0beta静态图，新版本：2.0动态图版本
1、为什么同样的数据，同样的配置文件，新版本跑出来的，map要比旧版本低（iou=0.5下低的太多），coco评价方式总体map低了两个点。而且训练同样的轮数，老版本loss最后降到2点几，新版本只能降到7点几，这样应该如何去调参呢，loss_xy,loss_obj,loss_iou这三个在2.几，loss_wh，loss_cls在0.几。
2、旧版本训练的模型权重放到新版本测试还能用吗。
3、在剪裁时报错，看这个意思是必须用训练的最后一次的模型作为预训练模型？
![1619158796(1)](https://user-images.githubusercontent.com/73452319/115827985-a6025e00-a43f-11eb-8210-c05d3a97e8ab.jpg)

[2021-04-25 02:57] heavengate commented on #2733
`worker_num`设置为0看下会报错么

[2021-04-25 02:58] zouxiaoshi commented on #2752
嗯。
好的，多谢。

[2021-04-25 03:02] 617475jordan opened #2760 "ppyolov2训练完，infer出现图像尺度不匹配"
[code]

导致无法进行infer.py 验证

[2021-04-25 03:05] qingqing01 commented on #2757
@guotongjian

您具体是YOLO的那个模型？2.0动态图中是按照epoch数设置的。

旧版本模型，放到新版动态图无法用。 放到2.0的静态图中可以用 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static

不是最后一次的模型，任意中间的模型就可以。

[2021-04-25 03:08] qingqing01 commented on #2760
@617475jordan 您是自定义数据吗？ 有更改啥吗？具体是那个配置？

[2021-04-25 03:10] yghstill commented on #2757
@guotongjian 看剪裁报错是没有根据name找到要剪裁的层，在剪裁时，先将slim_config中的print_params设为True打印网络中所有层信息，选取正确的名称。

[2021-04-25 03:13] wangxinxin08 commented on #2760
看了下是w的维度不匹配，一个是135，一个是136，这是由于输入图像的尺寸不是32的整数倍导致的，你infer的时候是修改了图像的输入尺寸吗？

[2021-04-25 03:29] wangxinxin08 commented on #2733
请参考这个PR:https://github.com/PaddlePaddle/PaddleDetection/pull/2731 进行修改

[2021-04-25 03:55] liuhuiCNN commented on #2751
(1) op是支持CPU设备的，您将setup.py文件中 `CUDAExtension ` 替换成 `CppExtension` 就可以了。

[2021-04-25 04:05] zouxiaoshi commented on #2746
开源免费的工具目前用的最广的是：rolabelimg
https://github.com/cgvict/roLabelImg
在https://github.com/cgvict/roLabelImg/blob/master/libs/pascal_voc_io.py 中有其相应的坐标格式，默认两种，
如果是横向的框，直接是 (xmin,ymin,xmax,ymax)
如果是旋转的框，会是（xc,yc,width,height,angel）
你可以改下这个文件，把坐标格式转换成 (x1,y1,x2,y2,x3,y3,x4,y4) ，【文件里面已经写好函数了，直接用就好了】
然后再利用官方提供的PASCALVOC转COCO的脚本就可以了。

[2021-04-25 05:33] qingqing01 commented on #2753
@dengxinlong

SSDLite-MobileNetv3中FPN的是标准的加法，可能在COCO上效果就这样。

[2021-04-25 05:33] guotongjian commented on #2757
您好，我就是先打印然后再选的名称，为什么还是报错呢

[2021-04-25 05:35] qingqing01 commented on #2751
@liuhuiCNN 这个需要改进下，自动化依据环境进行编译。

[2021-04-25 05:41] guotongjian commented on #2757
您好，是yolo增强版的模型

[2021-04-25 06:13] #2744 closed, assigned to nobody

[2021-04-25 06:14] zouxiaoshi commented on #2751
您好，经替换好，依然报错：
替换后的代码如下：
[code]

完整报错信息如下：
[code]

其中核心部分依旧是：
[code]

[2021-04-25 06:46] zouxiaoshi commented on #2751
可以编译了，多谢。
改动后如下：【cpu版本只编译rbox_iou_op.cc，不编译rbox_iou_op.cu】
[code]

[2021-04-25 06:59] guotongjian commented on #2757
您好，这个报错的意思是必须剪裁所有层吗，也就是必须把所有层的名字都打上去？

[2021-04-25 07:00] guotongjian commented on #2757
您好，这个报错的意思是必须剪裁所有层吗，也就是必须把所有层的名字都打上去？

[2021-04-25 07:01] qingqing01 commented on #2757
@guotongjian 不是裁剪所有层。 您是参考 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/slim 这里吗？

[2021-04-25 07:12] zouxiaoshi commented on #2751
不好意思，我又回来了。。。
刚才在用test.py 进行测试时，出现了错误：
[code]
类似 undefined symbol 网上有人说 重装一下试试，我后来又重新编译了下，编译成功，再执行test.py依旧是这个错误。

[2021-04-25 07:28] guotongjian commented on #2757
您好，我就是按着这个教程剪裁的，我有把slim_config中的print_params设为True打印网络中所有层信息，然后选取正确的名称。但是还是报错。

[2021-04-25 07:37] 617475jordan commented on #2760
明白了，谢谢。是的。我在训练的时候调整了输图片的尺寸

[2021-04-25 08:20] liuhuiCNN commented on #2751
您好，感谢反馈，经过测试实验CPU OP时，会报 one_hot op错误，我们正在排查。如果条件允许的话，建议使用GPU进行训练。

[2021-04-25 08:53] zouxiaoshi commented on #2751
好的。好的。解决好后，麻烦再@我一下。

[2021-04-25 09:03] thzyyx commented on #2452
@yghstill  我在使用python接口推理时遇到相同的情况，是不是2.0版本的paddle-inference库不支持多batch推理
补充：eval.py脚本修改配置文件中的 EvalReader:下的batch_size:字段，fps始终无明显变化，是不是eval.py底层本身也调用inference接口，而inference接口本身无法支持多batch推理？

[2021-04-25 10:15] yghstill commented on #2757
@guotongjian 把你的slim_config发一下，我们复现下问题，谢谢

[2021-04-25 11:01] qingqing01 commented on #2760
@617475jordan 如果问题已解决，就关闭了此issue

[2021-04-25 11:03] #2760 closed, assigned to wangxinxin08

[2021-04-25 11:05] qingqing01 commented on #1314
@qiyuezhiguang 感谢~

[2021-04-25 11:05] #1314 closed

[2021-04-25 11:08] qingqing01 commented on #1351
@SangerY @Fauny @HelloAI-twj 抱歉，由于问题较久。不知道使用最新的是否有解决？另外，最新2.0版本支持动态图，也支持了剪枝和蒸馏，可以试用

[2021-04-25 11:08] #1351 closed

[2021-04-25 11:10] qingqing01 commented on #1365
@aboutmei 不知道问题是否已经解决，觉得还是数据格式那里不太对，如果还有问题，可以开新的issue

[2021-04-25 11:10] #1365 closed

[2021-04-25 11:18] qingqing01 commented on #1366
@mc261670164 看起来是deformable_conv里出的错，建议尽量使用GPU训练。CPU我们排查下~

[2021-04-25 11:18] #1366 closed

[2021-04-25 11:20] qingqing01 commented on #1509
@AN-ZE @781458112 最新的版本有做一些修复，建议使用最新的版本再试下

[2021-04-25 11:20] #1509 closed

[2021-04-25 11:33] guotongjian commented on #2757
pretrain_weights: weights/260.pdparams#选取训练的第260个epoch的权重作为预训练
slim: Pruner

Pruner:
  criterion: fpgm
  pruned_params: ['conv2d_0.w_0', 'conv2d_1.w_0', 'conv2d_2.w_0',
                  'conv2d_3.w_0', 'conv2d_4.w_0', 'conv2d_5.w_0',
                  'conv2d_6.w_0', 'conv2d_7.w_0', 'conv2d_8.w_0',
                  'conv2d_9.w_0', 'conv2d_10.w_0', 'conv2d_11.w_0',
                  'conv2d_12.w_

[2021-04-25 14:14] heavengate commented on #2728
您好，感谢反馈~ 之前发布版本包有问题，更新发布了2.0.1，自测通过并且安装文档也做了更新，您可以尝试一下`pip uninstall paddledet`然后重新`pip install paddledet==2.0.1`试下
修复PR： https://github.com/PaddlePaddle/PaddleDetection/pull/2755

[2021-04-25 15:45] jackie8310 opened #2762 "输出结果不一致问题"
训练用JPG格式图片，导出模型推理时用不同格式图片（BMP、JPG），但同一张图片，得出的结果不一样，分值和类别都不一样，请大神指教！！

[2021-04-26 01:44] bbbxixixixi commented on #2736
试了一下，似乎并不能固定，会有波动
两次结果
总epoch/最优epoch/最优map
40/6 0.37092
40/9 0.37330
使用的是cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas.yml模型，除了学习率改到了0.00167，其他都一致，但是无法完全复现彼此的结果

[2021-04-26 02:11] qingqing01 commented on #2762
@jackie8310 差异大吗？ 如果同一张JPG图片，输出结果一样吗？是GPU推理，还是CPU推理？

[2021-04-26 02:45] gunshi3 opened #2763 "yolov3训练"
![image](https://user-images.githubusercontent.com/62952611/116021754-632cca00-a67b-11eb-9268-8876ba831a9f.png)
请问这个报错是为什么呢？
是在用yolov3训练自定义数据集是出现的。
命令行命令为python -u tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_car.yml --use_vdl=True --vdl_log_dir=tb_car_dir/scalar --eval
配置文件都已修改
car_voc.yml
![image](https://user-images.githubusercontent.com/62952611/116021996-e9491080-a67b-11eb-97ce-022654

[2021-04-26 04:23] hymanzhu1983 commented on #2420
没有解决的，建议你复现一下，我现在的walkaround是设置use_python_inference=1

[2021-04-26 07:00] GZHUZhao commented on #2681
@yghstill 请问有最新消息了吗

[2021-04-26 07:45] bbbxixixixi commented on #2736
又试了固定随机数，再以!export FLAGS_cudnn_deterministic=True; python3   /home/aistudio/PaddleDetection-master/tools/train.py  的方式启动，依然有波动

[2021-04-26 07:53] zxsitu opened #2770 "请问为什么运行tools/infer.py检测出来的图片框预测值都是1.0，而且几乎跟我手工标注没有区别？"
您好，我训练完成了faster_rcnn_r50_fpn模型，然后进行测试
`python tools/eval.py -c configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml --classwise -o weights=output/faster_rcnn_r50_fpn_1x_coco/model_final`
以下是测试的结果：
[code]
然后我就运行tools/infer.py文件，去测试一些图片看看效果，
`python tools/infer.py -c configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml -o use_gpu=true weights=output/faster_rcnn_r50_fpn_1x_coco/model_final --infer_dir=

[2021-04-26 08:29] thzyyx opened #2771 "paddle2.0 开启enable_profile耗时统计不准问题"
在利用进行性能评估时，我出现了一个问题，报告中的测试数据与我自己用time函数统计的耗时不一致。

测试说明：测试数据集coco val2017，其中包含5000张图片，测试耗时统计方法如下：
`start = time.time()
predictor.run()
end = time.time()
total_time += (end - start)`
统一到的平均耗时为26.76ms
推理一张图会调用 1次nms + 6次trt
开启enable_profile接口，获得到的性能报告如下，通过分析，对可平均调用耗时求和（如：multiclass_nms + tensorrt_engine = 27.4ms），这个数值大于26.76ms。
想请教下这个报告怎么看，跟人工统计的时间有什么区别？
![image](https://user-images.githubusercontent

[2021-04-26 08:41] jackie8310 commented on #2762
@qingqing01 ,GPU推理，同一张图片用JPG推理结果一样，如用原始图像BMP格式，结果就不一样，差别比较大的！

[2021-04-26 09:21] futureflsl opened #2772 "最新版本的paddledet安装后测试出问题"
按照官方文档，安装都没有错误。环境是
unbuntu18.04
paddlepaddle-gpu==2.0.1
paddledet==2.0.1
安装后直接使用官方提供命令：
python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams --infer_img=demo/000000014439.jpg
提示结果保存在output中我打开图片，box乱七八糟，如下，尝试将paddlepaddle-gpu==2.0.2情况一样
![000000014439](https://user-images.githubusercontent.c

[2021-04-26 12:29] guotongjian commented on #2757
您好，以下是我的slim_config
pretrain_weights: weights/260.pdparams#选取训练的第260个epoch的权重作为预训练
slim: Pruner

Pruner:
criterion: fpgm
pruned_params: ['conv2d_0.w_0', 'conv2d_1.w_0', 'conv2d_2.w_0',
'conv2d_3.w_0', 'conv2d_4.w_0', 'conv2d_5.w_0',
'conv2d_6.w_0', 'conv2d_7.w_0', 'conv2d_8.w_0',
'conv2d_9.w_0', 'conv2d_10.w_0', 'conv2d_11.w_0',
'conv2d_12.w_0', 'conv2d_13.w_0', 'conv2d_14.w_0',
'conv2d_15.w_0', '

[2021-04-26 18:35] thugbobby opened #2774 "使用最新版PaddleDetection训练SOLOV2出现问题"
你好，我想请问你一下我用最新版PaddleDetection训练SOLOV2时，请问为什么训练一个epoch这么快？不到五分钟就训练完了，而且没有任何效果。。。输出信息如下
[code]

我的配置信息如下：
runtime.yml
[code]
optimizer_1x.yml
[code]
本机配置为win10，GTX1660和I7处理器

[2021-04-27 02:23] heavengate commented on #2762
cv2把两张图读进来看看有没有diff呢

[2021-04-27 02:24] heavengate commented on #2763
是否是自定义数据集里的`label_list.txt`里的类别和数据集里的类别不匹配

[2021-04-27 02:26] heavengate commented on #2770
可以排查一下你选取的图像是不是放到了训练集里面，一般训练集里的图像拟合得会好一些

[2021-04-27 02:31] heavengate commented on #2771
这个profile一般统计的是GPU kernel的计算时间，框架底层OP执行是可有可能并发的，数值大于26.76ms应该是正常现象。
这个报告主要用来看各个op kernel的耗时，分析性能瓶颈在哪

[2021-04-27 02:34] heavengate commented on #2772
看你使用的是动态图的代码版本和配置文件，权重指定的是静态图的权重，动态图的权重在  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/ppyolo   这个README里面有，你使用的配置文件对应的权重链接是  https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams

[2021-04-27 02:37] gunshi3 commented on #2763
匹配的呀

[2021-04-27 02:38] heavengate commented on #2763
报错是在数据集里面读到了`heavy truck`这个类，但是在`label_list.txt`里面没有找到

[2021-04-27 02:39] heavengate commented on #2241
您好，鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen这个issue~

[2021-04-27 02:41] heavengate commented on #2142
您好，鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen这个issue~

[2021-04-27 02:41] #2142 closed

[2021-04-27 02:43] heavengate commented on #2045
finetune训练的时候类别配置和你的数据集里的配置一致就可以了，程序会自动跳过输出层(类别数不匹配的层)的权重加载

[2021-04-27 02:43] #2045 closed

[2021-04-27 02:43] heavengate commented on #2024
您好，鉴于问题已经解决，当前issue关闭，如果还有问题可以reopen这个issue~

[2021-04-27 02:43] #2024 closed

[2021-04-27 02:45] #2241 closed

[2021-04-27 02:45] #2772 closed

[2021-04-27 02:57] gunshi3 commented on #2763
匹配的呀

[2021-04-27 02:57] gunshi3 commented on #2763
已解决，非常感谢！

[2021-04-27 02:57] #2763 closed, assigned to heavengate

[2021-04-27 03:12] thzyyx commented on #2771
@heavengate  截图中有些API（Evnet）开头有空格，例如：
thread0::multiclass_nms
  GpuMemcpySync:GPU->CPU
这个表示multiclass_nms算子中调用了GpuMemcpySync:GPU->CPU接口，数据从GPU拷贝CPU。
这个说法是正确的吗？
截图中的：multiclass_nms、deformable_conv、yolo_box、concat、nearest_interp、transpose2和scale层实现在GPU上？

[2021-04-27 05:20] ilem777 commented on #2770
@heavengate
我使用验证集去生成检测图片，检测出来的框预测值都还是很高，感觉跟COCO评价表的数值不一致，为什么都那么高呢？`python tools/infer.py -c configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml -o use_gpu=true weights=output/faster_rcnn_r50_fpn_1x_coco/model_final --infer_dir=../sewer-defects-210val --draw_threshold=0.5`
下面是用验证集生成的检测图片，您看看预测值还是很高。
![val (2)](https://user-images.githubusercontent.com/61718945/116189057-f8eb5680-a75a-11eb-8d8b-300

[2021-04-27 05:37] yghstill commented on #2757
@guotongjian 网络输入第一层是不能裁剪的，将`conv2d_0.w_0`去掉，并且不是网络里所有层都要裁剪，一般像yolo系列模型，只裁剪head部分。改下pruned_params的参数再试下吧。之后我们会开源敏感度分析脚本，选取敏感度最低的一些层裁剪就行。

[2021-04-27 07:42] shuxsu opened #2777 "如何固定检测框颜色为红色 加粗检测框线条？"
代码在哪里呢  线条粗细是修改`# draw bbox
        draw.line(
            [(xmin, ymin), (xmin, ymax), (xmax, ymax), (xmax, ymin),
             (xmin, ymin)],
            width=8,
            fill=color)`
修改这个width是修改线条粗细吗？
颜色如何固定为红色呢  colormap里那么多数值那个是红色呢

[2021-04-27 07:47] lao-xu opened #2778 "训练速度问题"
旧版本ssd训练12w轮，相当于120epoch，需要8-9小时
新版本ssd训练120epoch，却需要17小时多，这速度差的太远了，不知道是什么原因，不应该差这么多啊
[04/27 15:36:53] ppdet.engine INFO: Epoch: [0] [   0/1034] learning_rate: 0.000333 loss: 26.950333 eta: 16:56:21 batch_cost: 0.4915 data_cost: 0.0022 ips: 32.5557 images/s
[04/27 15:37:03] ppdet.engine INFO: Epoch: [0] [  20/1034] learning_rate: 0.000360 loss: 17.336845 eta: 17:22:26 batch_cost: 0.5048 data_cost:

[2021-04-27 10:27] Monday-Leo opened #2779 "预训练模型"
yolo算法backbone部分能使用paddleclas的预训练模型吗？paddledetection本身的预训练模型是在哪个数据集上训练的，预训练模型参数只包括backbone部分还是neck，head部分都会包括？

[2021-04-27 11:40] jerrywgz commented on #2778
https://github.com/PaddlePaddle/PaddleDetection/pull/2761 目前我们已经基于Paddle develop版本对ssd模型训练速度做了优化，待pr merge后动态图速度可以超过静态图

[2021-04-27 11:41] jerrywgz commented on #2779
目前PaddleDetection的算法是通过paddleclas的预训练模型转换来的，都是基于imagenet训练的

[2021-04-27 11:45] jerrywgz commented on #2777
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/utils/visualizer.py#L91 这里给定固定的颜色顺序即可，width是修改线条粗细的

[2021-04-27 11:46] jerrywgz commented on #2774
新版本的PaddleDetection以epoch进行训练计数，一个epoch训练快说明训练数据规模较小；另外从配置文件来看这个模型是会训练12个epoch的。而且如果warmup的step数有2000的话，说明一开始的训练对应的学习率是很低的，效果不好也符合预期

[2021-04-27 11:49] Monday-Leo commented on #2779
那neck部分，fpn部分，这些部分的参数都是不加载预训练模型里面的参数的吗？

[2021-04-27 11:52] jerrywgz commented on #2779
训练有两种方式吧，一个是基于imagenet的预训练模型，这样neck，head部分的参数不会加载；另一种是使用paddledetection基于coco/voc等检测数据集训练好的模型finetune，这样模型中的大部分参数都会被加载

[2021-04-27 12:03] Monday-Leo commented on #2779
好的，谢谢

[2021-04-27 12:57] lao-xu commented on #2778
太好了，不知道何时能放出来，我们正在基于detection做开发，希望能快点

[2021-04-27 13:40] Monday-Leo opened #2780 "模型转化"
模型pdparams怎么转化为非combined的形式？

[2021-04-27 15:26] jerrywgz commented on #2780
现在的pdparams格式使用paddle.load加载进来就是字典，其中key就是原来非combined的字段

[2021-04-27 15:26] jerrywgz commented on #2778
预计本周可以合入

[2021-04-27 15:59] #2780 closed, assigned to nobody

[2021-04-27 16:01] Monday-Leo opened #2786 "yolo训练数据集的anchor生成"
tools/anchor_cluster.py中指定的size是指训练集还是测试集，应该在哪里看输入的大小，数据增强随机缩放会影响这个anchor吗？

[2021-04-27 16:19] thugbobby commented on #2774
那请问可以怎么调整呢？

[2021-04-27 17:03] bbbxixixixi opened #2787 "使用cascade_rcnn_cbr200_vd_fpn_dcnv2_nonlocal_softnms.yml训练的时候打印了一堆warning"
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/io.py:2358: UserWarning: This list is not set, Because of Paramerter not found in program. There are: bn4b15_branch2b_scale_2 res4b25_branch2c_weights_2 res4b46_branch2a_weights_2 bn4b31_branch2b_scale_2 bn4b25_branch2a_scale_2 bn4b20_branch2b_scale_2 bn4b43_branch2b_offset_2 bn4b19_branch2a_mean_2 bn4b36_branch2b_vari

[2021-04-28 01:37] vulyon opened #2790 "Out of memory error on GPU 0. Cannot allocate 4.000244MB memory on GPU 0, available memory is only 5.187500MB."
单gpu训练设置   batchsize:4
会报如下错误：
/home/wuliang/anaconda3/envs/paddle_env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the preci

[2021-04-28 02:37] #2779 closed, assigned to nobody

[2021-04-28 02:39] #2717 closed, assigned to nobody

[2021-04-28 02:40] #2713 closed, assigned to heavengate

[2021-04-28 02:40] #2655 closed, assigned to nobody

[2021-04-28 02:41] #2563 closed, assigned to nobody

[2021-04-28 02:42] 617475jordan opened #2793 "有关ppyolo loss问题"
训练后发现loss一直处于500多，降不下来。

[2021-04-28 02:42] #2486 closed, assigned to nobody

[2021-04-28 02:46] jerrywgz commented on #2774
可以先减少warmup step，减少到100试下，然后多训练几个epoch观察下效果

[2021-04-28 02:46] yghstill commented on #2787
@bbbxixixixi 这是由于backbone部分设置了DCN的权重都没有加载进来，是正常的，可以继续训练。

[2021-04-28 02:47] wangxinxin08 commented on #2786
一般是指测试时的尺寸，比如你测试时期望的尺寸是320， 那你就用320作为anchor聚类的尺寸，这与TestReader中的image_shape或者EvalReader中Resize的target_size是一致的

[2021-04-28 02:47] yghstill commented on #2790
@kwuliang 显存还是不足，要将batch size设置的再小些，是哪个模型？显存大小多少？

[2021-04-28 02:49] yghstill commented on #2793
@617475jordan 训练集是自定义的吗？训练多少轮loss一直处于500多？

[2021-04-28 03:00] shuxsu commented on #2777
修改标签类别大小的地方在哪里啊  如何而修改呢

[2021-04-28 03:07] 617475jordan commented on #2793
对的，训练集自定义的，训练了20,000轮多，我猜是不是因为我送的图片太大了，5616*3744

[2021-04-28 03:50] yghstill commented on #2793
@617475jordan 你resize到多少？https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/configs/ppyolo/ppyolo_reader.yml#L31  这里有改过吗？
可能resize到这么小后，图像失真，导致模型无法正常收敛

[2021-04-28 04:03] abanger opened #2796 "PaddleDetection模型导到paddlex部署C++环境使用吗？"
PaddleDetection模型导到paddlex部署C++环境使用吗？

[2021-04-28 04:14] 617475jordan commented on #2793
这个没有改过，我是用的是默认，我现在试试看

[2021-04-28 06:05] ilem777 commented on #2770
@heavengate 请问
test_proposal:
   min_size: 0.0
   nms_thresh: 0.7
   pre_nms_top_n: 1000
   post_nms_top_n: 1000
这些需要做调整吗？调低一些还是调高一些好呢？谢谢您。

[2021-04-28 06:08] ghost opened #2797 "python setup.py install , UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfb in..."
...
/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import fnmatch, glob, traceback, errno, sys, atexit, locale, imp, stat
Traceback (most recent call last):
  File "setup.py", line 76, in <module>
    setup(
  File "/home/ubuntu/.local/lib/python3.8/site-packages/setu

[2021-04-28 06:24] vulyon commented on #2790
ppyolov2,batchsize最后设为了2

[2021-04-28 06:28] yghstill commented on #2790
显存是多少呢？改完batch_size后同时需要将学习率按比例减小。

[2021-04-28 06:37] yzl19940819 commented on #2796
X本周会合入对部署代码的修改文档，届时可以支持detection的模型直接使用X进行部署，不过会先支持的是yolo和rcnn系列的。我是paddlecv的产品经理，有相关部署需求，可以加我微信yzl819819 有相关X的部署群

[2021-04-28 06:44] VJoer commented on #2738
我的原图尺寸并不是很大，是2784, 1856，我按照你的进行配置resize，
batch_transforms:
    - BatchRandomResize: {target_size: [[1392, 928], [1740, 1160], [2088, 1392], [2436, 1624], [2784, 1856]], random_size: True, random_interp: True, keep_ratio: False}
出现这样的问题
 File "mtrand.pyx", line 904, in numpy.random.mtrand.RandomState.choice
ValueError: a must be 1-dimensional
请问现在还是不支持resize长方形吗？

[2021-04-28 07:08] yghstill commented on #2797
@ynzzxc 感谢反馈，您是下载的最新代码吗？我们先复现一下这个问题。

[2021-04-28 07:39] #2787 closed, assigned to nobody

[2021-04-28 08:59] Monday-Leo commented on #2786
修改config文件是修改yolov3head还是Gt2YoloTarget？

[2021-04-28 09:24] futureflsl opened #2800 "paddle2.0.1训练窗口日志参数哪里有详细介绍吗"
第一次用这个，不知道这些参数含义，还有看什么参数可以停止训练，哪个loss呢
[04/28 17:21:56] ppdet.engine INFO: Epoch: [21] [120/141] learning_rate: 0.000770 loss_xy: 2.849720 loss_wh: 1.324514 loss_obj: 8.690937 loss_cls: 0.525484 loss: 14.034956 eta: 1:32:21 batch_cost: 0.1700 data_cost: 0.0012 ips: 5.8828 images/s
[04/28 17:21:59] ppdet.engine INFO: Epoch: [21] [140/141] learning_rate: 0.000775 loss_xy: 2.995280 loss_wh: 1.634839

[2021-04-28 09:36] yghstill commented on #2800
@futureflsl
- `learning_rate `: 学习率
- `loss_xy `: 预测左上坐标loss
- `loss_wh `: 预测框宽高loss
- `loss_obj `: object loss
- `loss_cls `: 分类loss
- `loss`: 总loss

一般看总loss收敛是否平稳，或者加上--eval边训练边eval，看mAP变化决定什么时候停止训练。

[2021-04-28 10:54] wangxinxin08 commented on #2786
需要修改的是配置文件，包含配置文件中YOLOv3Head的anchor和Gt2YoloTarget中的anchor两处修改

[2021-04-28 11:22] futureflsl opened #2802 "paddledet2.0.1使用yolov3_darknet53_270e_voc.yml训练怎么设置初始学习率？"
我用yolov3_darknet53_270e_voc.yml训练但是学习率很低，本来我的数据很小，我想设置大一点，加快收敛，但是窗口打印都是0.000几的学习率，几个epoch下来map上升很慢

[2021-04-28 11:24] MrWcy opened #2803 "请问动态图版本还会出以前静态图版本上的组件吗？比如BiFPN，CIoU之类的？"
如果出的话，大概是什么时候呢？

[2021-04-28 11:30] #2800 closed

[2021-04-28 11:39] GreenValue opened #2804 "PPYOLO模型单卡训练自制数据时报错：fail to map op [Gt2YoloTarget_dbee5d] with error: index 834 is out of bounds for axis 1 with size 56 and stack:"
- Error
[code]
- Environment

1. Docker Image
 hub.baidubce.com/paddlepaddle/paddle:1.8.5-gpu-cuda10.0-cudnn7

2.  PaddleDetection
[code]
-ppyolo.yml，ppyolo_reader.yml 修改说明
![image](https://user-images.githubusercontent.com/16701660/116397234-ef481880-a858-11eb-9ab4-eec0326ef5eb.png)

-  ppyolo.yml
[code]

-  ppyolo_reader.yml
[code]
- Output log

[code]

[2021-04-28 11:46] GreenValue commented on #2804
- [图片源](https://drive.google.com/open?id=0B7EVK8r0v71pQ2FuZ0k0QnhBQnc)

![img_00000001](https://user-images.githubusercontent.com/16701660/116398173-14895680-a85a-11eb-9625-9e64f86015d7.jpg)

- [coco标注文件 my_annotations.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6391559/my_annotations.zip)

[2021-04-28 12:00] GreenValue opened #2805 "PPYOLO模型单卡训练instances_train2017.json，不久就Killed"
PPYOLO模型单卡训练instances_train2017.json，不久就Killed。
那怎么设置呢？

- PC Perfomance

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.80.02    Driver Version: 450.80.02    CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan

[2021-04-28 12:13] dengxinlong opened #2806 "在集群的环境下测试test_architectures.py"
我这边的服务器是集群的，所以目前在集群的环境下安装paddle的，但是在测试官方的测试用例的时候出现了问题。
[code]
问题如上，提示没有一些模块，但是这是存在的啊，首先测试 paddle.utils.run_check()是成功的。

[2021-04-28 13:05] yghstill commented on #2802
yolov3收敛本身比较慢，本身的配置文件是8卡下的，学习率设置根据gpu卡数和batch size调节就行，可以参考FAQ：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/docs/FAQ.md

[2021-04-28 13:09] yghstill commented on #2803
CIoU目前在yolo系列中已经支持https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/modeling/losses/iou_loss.py#L47
BiFPN我们会在下个版本支持，预计下个月。

[2021-04-28 13:10] yghstill commented on #2805
将reader中use_process 设为false再试下：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/configs/ppyolo/ppyolo_reader.yml#L56

[2021-04-28 14:21] pipishaw opened #2808 "yolov3模型用infer.py预测正常，但是部署到Serving后报cannot reshape array of size 1 into shape (3,608,608)错"
yolov3模型用infer.py预测正常，但是部署到Serving后报cannot reshape array of size 1 into shape (3,608,608)错

[2021-04-28 15:17] abanger commented on #2796
谢谢，建议优先X不支持的模型。

[2021-04-28 16:01] Monday-Leo commented on #2786
请问怎么计算模型总的参数，包括backbone，neck，head，paddle.summary()怎么一下包括这三大部分？

[2021-04-29 01:33] Hyper-Devil commented on #2797
Using /home/sy/anaconda3/envs/paddle/lib/python3.7/site-packages
Searching for shellcheck-py==0.7.2.1
Best match: shellcheck-py 0.7.2.1
Processing shellcheck_py-0.7.2.1-py3.7-linux-x86_64.egg
shellcheck-py 0.7.2.1 is already the active version in easy-install.pth
Traceback (most recent call last):
  File "setup.py", line 93, in <module>
    ext_modules=[])
  File "/home/sy/anaconda3/envs/paddle/li

[2021-04-29 02:13] wangxinxin08 commented on #2804
看了下你的标注文件，不能使用pycocotools加载, annotations缺少id，应该是转换成coco格式有点问题，另外，你可以可视化一下你的标注文件，coco bbox的格式是x,y,w,h

[2021-04-29 02:21] GreenValue commented on #2804
标注没有问题。因为标注有问题，训练跑不到这里。
![image](https://user-images.githubusercontent.com/16701660/116494935-80100a00-a8d4-11eb-9be1-c37a5f6c9404.png)

[2021-04-29 02:25] GreenValue commented on #2804
对不起，昨天传的annotations传错了。这才是我实验用的。之前因为没有id报错了，所以我追加了id.
这个id和ppyolo.yml里面的num_classes没关系吧？
[my_annotations_new.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6395935/my_annotations_new.zip)

[2021-04-29 02:56] wangxinxin08 commented on #2804
id和class没有关系，但要与img对应，不然标注是错的，也就是id不能是随便设置的

[2021-04-29 03:03] GreenValue commented on #2804
我是一一对应的。拜托您看下我my_annotations_new.zip这个定义。

[2021-04-29 03:06] wangxinxin08 commented on #2804
能贴一下你的bbox在图片上的可视化的结果吗？上面那个报错是说你的坐标超出了图像范围，可以先可视化排查一下

[2021-04-29 03:11] GreenValue commented on #2804
坐标没有问题。我用自己的工具把BBox都框出来了。
我都图宽高：300x300以内。是不是图片太小？
![image](https://user-images.githubusercontent.com/16701660/116498072-763dd500-a8db-11eb-9f18-423f0b609c63.png)

[2021-04-29 03:23] GreenValue commented on #2804
@wangxinxin08 id和class没有关系，但要与img对应，不然标注是错的，也就是id不能是随便设置的
annotations的image_id 对应 images的id。
annotations的 id 对应 images的？？

[2021-04-29 03:23] yghstill commented on #2806
@dengxinlong 目前安装了paddledet之后，这个test_architectures.py执行会有import路径问题，可以直接跑程序，这个问题我们修复下

[2021-04-29 03:25] dengxinlong commented on #2806
我这边的确安装了paddledet，当时没有注意到分支不同，其他的模型是可以直接跑是吧。

[2021-04-29 03:26] yghstill commented on #2806
@dengxinlong 没有影响，其他可以正常跑

[2021-04-29 03:27] dengxinlong commented on #2806
好的，谢谢了

[2021-04-29 03:35] dengxinlong commented on #2806
不对啊，还是有问题。我现在跑ssdliteMobilenet_v3_large模型，导入模块还是失败。
[code]

[2021-04-29 03:36] dengxinlong commented on #2806
也就是说tools/train.py这个文件导入还是存在问题啊

[2021-04-29 03:45] wangxinxin08 commented on #2804
id对应自身，一版coco是通过指定image_id来获取anno_id的，通过指定anno_id来获取anno的

[2021-04-29 03:47] GreenValue commented on #2804
那我定义的anno_id就没有问题。不和images，categories产生任何关系。

[2021-04-29 03:53] wangxinxin08 commented on #2804
你的json文件对应的数据集是云盘里面的哪些？

[2021-04-29 03:55] GreenValue commented on #2804
我整理一下，传给您。稍后

[2021-04-29 03:57] liuhuiCNN commented on #2808
部署到Serving后输入尺寸是否正确？根据提示，是说输入尺寸报错。

[2021-04-29 05:51] GreenValue commented on #2804
图片。[cloth_images.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6396523/cloth_images.zip)
标注 [my_annotations_new](https://github.com/PaddlePaddle/PaddleDetection/files/6395935/my_annotations_new.zip)

[2021-04-29 05:51] GreenValue commented on #2804
我只是先拿998张跑跑看，结果就报错了

[2021-04-29 05:52] liuzheng081 opened #2810 "PP-YOLO tiny 模型如何 做量化"
PP-YOLO tiny 模型如何 做量化 减少模型的大小

[2021-04-29 06:03] Dushuhui opened #2811 "Eval评估没有json文件"
您好，请问!python tools/eval.py -c configs/cascade_rcnn/cascade_rcnn_r50_fpn_1x_coco.yml -o weights=output/cascade_rcnn_r50_fpn_1x_coco/model_final.pdparams EvalReader.batch_size=1 --save_prediction_only 测试后没有json文件出现是什么原因？

[2021-04-29 06:13] GreenValue commented on #2805
use_process设置为false就可以了。
use_process是啥意思？没有找到说明。请教一下。

[2021-04-29 06:43] GZHUZhao opened #2812 "如何查看模型基础结构和参数信息？"
paddle.summary()报错。
![image](https://user-images.githubusercontent.com/78419361/116511579-38e84000-a8f9-11eb-9ef8-2fe5b6df5739.png)

请问使用paddle.summary()怎么查看模型的结构和参数信息？
或者有没有其他方法查看？

[2021-04-29 06:48] futureflsl opened #2813 "官方的目标检测676类权重推理出问题，could not determine a constructor for the tag"
python tools/infer.py -c configs/rcnn_enhance/generic/cascade_rcnn_cbr101_vd_fpn_server_side.yml -o use_gpu=true weights=weights/cascade_rcnn_cbr101_vd_fpn_server_side.pdparams --infer_img=/000000012764.jpg

测试环境：
ubuntu18.04
paddlepaddle-gpu==2.0.1
paddledet==2.0.1

提示错误：
  File "tools/infer.py", line 155, in <module>
    main()
  File "tools/infer.py", line 137, in main
    cfg = load_config(FLA

[2021-04-29 07:02] futureflsl opened #2814 "paddledet2.0.1可以运行静态图的权重吗"
paddledet2.0.1可以运行静态图的权重吗，如果不行，要用以前哪个版本呢，刚学小白一个，请指教

[2021-04-29 07:15] baoxin1100 commented on #2723
I got the wrong output if I change norm_type to bn, I test the ppyolo and ppyolov2, the output is very confused, do you know why?

[2021-04-29 07:15] liuzheng081 opened #2815 "PP-YOLO tiny 模型导出报错"
(paddle2.0) (base) [root@vm10-70-61-171 PaddleDetection]# python tools/export_model.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml -o weights=./output/ppyolo_tiny_650e_coco_bak/model_final
[04/29 14:54:07] ppdet.utils.checkpoint INFO: Finish loading model weights: ./output/ppyolo_tiny_650e_coco_bak/model_final.pdparams
loading annotations into memory...
Done (t=0.11s)
creating index...
index creat

[2021-04-29 07:17] baoxin1100 commented on #2723
I test the code in my macbookpro where no gpu, Paddle == 2.0.2

[2021-04-29 07:19] baoxin1100 commented on #2723
I guess some other config need be modified except norm_type? beg your apply

[2021-04-29 07:20] baoxin1100 commented on #2723
I got the wrong output if I change norm_type to bn, I test the ppyolo and ppyolov2, the output is very confused, I guess some other config need be modified except norm_type? beg your apply

[2021-04-29 07:31] kaikaizhu commented on #2723
I have the same problem. Have you solved it？@baoxin1100  @nblib

[2021-04-29 08:33] liuhuiCNN commented on #2810
你好，我们最新发布了新的PP-YOLO tiny，请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/README_cn.md
如果需要量化，请参考： https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/slim

[2021-04-29 08:37] dengxinlong commented on #2806
我重新安装了paddlepaddle，没有安装paddledet，就没有问题了。粗暴解决吧

[2021-04-29 08:39] liuhuiCNN commented on #2814
（1）Paddle 2.0.1是支持静态图预测的；
（2）paddledet2.0.1 是动态图，代码也是动态图风格的，不能直接加载静态图权重。最新的 paddle detetection release2.0中的static文件夹中存放静态图版本代码。

[2021-04-29 08:40] liuhuiCNN commented on #2815
（1）请问您使用的paddle版本，以及ppdet版本分别是多少呢？
（2）看日志您是用的Paddle2.0版本吗？ppdet release/2.0 需要paddle 版本>= 2.0.1 [版本依赖](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/INSTALL_cn.md) ，建议您使用最新的Paddle版本试一下。

[2021-04-29 08:48] justiceeem commented on #2815
我也遇到了相同的问题...

[2021-04-29 08:48] liuhuiCNN commented on #2815
Paddle 版本是2.0.1及以后吗？

[2021-04-29 08:50] dengxinlong opened #2818 "关于使用 YoLov3 MobilenetV3训练新数据"
我使用YOLOv3_mobilenetV3来训练自定义数据集（训练集图片张数为20232），本来直接使用贵方的配置文件中的学习率，但是直接Nan了，一开始损失就非常高，达到了几万；但是使用这个数据集训练SSD_mobilenet_v3一开始的损失也就几十，所以应该还是学习率的问题，或者预训练权重；下面是我的配置：
[code]
单卡，Tesla V100(显存为16G)，这里主要是我不知道贵方采用了几张显卡？所以学习率不太好计算。

[2021-04-29 08:50] futureflsl commented on #2814
Paddle 2.0.1是支持静态图预测的,不能直接加载静态图权重,这不是矛盾吗。我尝试运行676目标检测，提示
File "/home/fut/miniconda3/envs/paddle/lib/python3.7/site-packages/yaml/constructor.py", line 429, in construct_undefined
    node.start_mark)
yaml.constructor.ConstructorError: could not determine a constructor for the tag '!DecodeImage'
  in "static/configs/rcnn_enhance/generic/cascade_rcnn_cbr101_vd_fpn_server_side.yml", line 123, column

[2021-04-29 08:54] liuhuiCNN commented on #2813
您好，cascade_rcnn_cbr101_vd_fpn_server_side模型还未迁移到动态图下，属于静态模型，需用静态图模型代码运行。
您可以使用最新的 PaddleDetection release2.0代码，进入到 static 文件夹，再用这个命令进行预测。

[2021-04-29 08:55] justiceeem commented on #2815
@liuhuiCNN 是版本问题。更新后可以导出了！谢谢

[2021-04-29 09:01] futureflsl commented on #2813
谢谢大佬，我尝试了一下确实可以，在问以下有没有对单个视频预测代码，那个tools/infer.py看起来改成视频文件预测不容易

[2021-04-29 09:02] liuhuiCNN commented on #2818
（1）默认使用8卡训训练，如果您是1卡的话，学习率除以8就可以了；
（2）您使用的预训练模型是分类的backbone模型权重还是检测模型权重？如果是检测模型权重，需要将学习率设置更小一些；
（3）如果还有问题，需要确认数据的标注是否正确。

[2021-04-29 09:03] futureflsl commented on #2814
我用staic下tools/infer.py可以跑，但是deploy/infer.py提示上面类似错误，请问这个可以视频预测吗

[2021-04-29 09:05] dengxinlong commented on #2818
1. 这个数据集在ssdlite_mobilenet_v3上训练，下面是结果
[code]
也就是说我这个数据集是没有问题的。

2. Yolov3+MobileNetv3，目标检测

[2021-04-29 09:07] liuhuiCNN commented on #2818
学习率的问题排查了吗？

[2021-04-29 09:07] dengxinlong commented on #2818
调小一些是吧？

[2021-04-29 09:11] liuhuiCNN commented on #2818
看到您之前问过类似问题：https://github.com/PaddlePaddle/PaddleDetection/issues/2333 。
更正一下：ssd模型是4卡训练。
建议您：（1）根据batch_size和卡数，调整学习率；（2）可以参考[FAQ](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0-rc/docs/FAQ.md)；

[2021-04-29 09:12] liuhuiCNN commented on #2815
@liuzheng081 您的问题解决了吗，如果解决麻烦close一下 iusse，谢谢~

[2021-04-29 09:12] hablee opened #2819 "快速开始的第二步就走不通"
下载PaddleDetection
下载数据集
什么都没改都走不通。
报错信息：
`Traceback (most recent call last):
  File "tools/train.py", line 137, in <module>
    main()
  File "tools/train.py", line 133, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/home/jp/lihaibaoProjects/tmp/new_projects/demo/ppdet/engine/trainer.py", line 274, in train
    outputs = model(data)
  F

[2021-04-29 09:14] dengxinlong commented on #2818
目前是YolovV3模型，不是SSD，也就是说你们的模型SSD是4卡训练，Yolo是8卡训练的，如果是这样的话，那我知道了。对了，变化结点和迭代次数之间是什么关系啊？？

[2021-04-29 09:14] liuhuiCNN commented on #2819
（1）请问您是用的是CPU训练的吗？您使用的Paddle 版本，ppdet版本分别是多少呢？
（2）sync_batch_norm 在CPU上报错是已知问题，建议您用GPU试一下。[AIStudio](https://aistudio.baidu.com/aistudio/index) 上有免费GPU可以使用，且环境是配置好的，建议您使用一下看看。

[2021-04-29 09:17] liuhuiCNN commented on #2812
（1）您是参考这个文档： [summary](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model_summary/summary_cn.html#summary ) 写的吗？
（2）您可以通过 `tools/export_model.py` 导出模型，然后使用模型可视化工具（如 [PaddleVDL](https://github.com/PaddlePaddle/VisualDL)）查看模型结构。

[2021-04-29 09:24] liuzheng081 commented on #2810
能详细说一下吗？我现在是有了PP-YOLO tiny的 模型了 需要量化裁剪

[2021-04-29 09:25] yisampi commented on #2810
有具体的量化步骤或者文档吗 针对ppyolo-tiny的？谢谢

[2021-04-29 09:26] liuhuiCNN commented on #2811
您好，使用 PaddleDetection release/2.0 是可以的，建议您用这个版本试试。

[2021-04-29 09:29] liuhuiCNN commented on #2813
deploy/python/infer.py支持视频的，您可以参考下。若无其他问题，麻烦关闭一下iussue。

[2021-04-29 09:31] liuhuiCNN commented on #2818
变化结点就是学习率变化点，一般设置为总训练轮数的 8/12 和 11/12 位置处。 您可以参考若无其他问题，麻烦关闭本issue，谢谢。

[2021-04-29 09:34] #2813 closed

[2021-04-29 09:37] liuhuiCNN commented on #2814
（1）PaddleDetection 根目录是动态图模式，static文件夹下是静态图模式，两者无法混用；
（2）deploy/infer.py 需要首先将模型导出，静态图请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/advanced_tutorials/deploy/EXPORT_MODEL.md

[2021-04-29 09:55] qingqing01 commented on #2814
@futureflsl  deploy也先使用`static/deploy `下面的呢？  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static/deploy

[2021-04-29 09:56] wangxinxin08 commented on #2819
如果使用cpu训练，需要设置norm_type为bn，如下所示：
python tools/train.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=false norm_type=bn

[2021-04-29 10:26] kaikaizhu opened #2820 "目前PPYOLO和PPYOLOV2不能在CPU上运行么？"

[2021-04-29 10:26] kaikaizhu commented on #2820
会出现如下错误
AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'sync_batch_norm'

[2021-04-29 10:35] GZHUZhao commented on #2812
是用的paddle.summary()的。
paddleVDL显示的模型结构太复杂了，我需要的是每一层的尺寸和参数大小这些。

[2021-04-29 10:37] yghstill commented on #2810
@liuzheng081 目前PP-YOLO tiny的模型是通过离线量化得到的，代码如下：
[code]
通过`tools/export_model.py`导出Inference model，然后执行上述离线量化代码，可以直接得到量化模型。

[2021-04-29 10:42] yghstill commented on #2805
@GreenValue `use_process`表示是否使用多进程，在硬件资源有限的情况下，建议关闭多进程。

[2021-04-29 11:00] wangxinxin08 commented on #2804
看了下你的数据，你的json文件中有900+的类别，并不是50类，首先有两处你需要更改：
1. ppyolo.yml中的num_classes需要修改成你的类别
2. Gt2YoloTraget中需要修改num_classes为你的类别数目，不包含背景
另外，推荐你使用release/2.0分支，默认动态图开发啊，更容易定位问题

[2021-04-29 11:09] GreenValue commented on #2804
![image](https://user-images.githubusercontent.com/16701660/116541735-6e535480-a91e-11eb-8b0a-eae2910b503b.png)

[2021-04-29 11:13] GreenValue commented on #2805
Out of memory error on GPU 0. Cannot allocate 22.474609MB memory on GPU 0, available memory is only 19.625000MB.
怎么处理？

- Error output
[code]

- all output

[code]

[2021-04-29 11:19] ybc-ybc opened #2821 "修改模型推理输出结果个数问题，num_max_boxes"
使用PPYOLOv2训练，设置num_max_boxes: 200；推理时输出仍然是默认的100个。
训练设置：

[code]

推理代码：

[code]

[2021-04-29 11:20] qingqing01 commented on #2820
@kaikaizhu https://github.com/PaddlePaddle/PaddleDetection/issues/2819#issuecomment-829098871

可以参考这里，我们尽快修复下

[2021-04-29 11:20] DongChenwei2000 opened #2822 "不使用预训练模型"
不使用预训练模型，冲头开始训练的话是否只要将yaml文件中的pretrain_weights去掉就好了呢？我将pretrain_weights的值去掉，然后进行训练，训练后进行评估，map值一直为0.16%，又进行预测，出现如下错误：
![`0 @2)$30RWM(2`BR9L$8 P](https://user-images.githubusercontent.com/71364549/116543075-ff76fb00-a91f-11eb-8c46-f37dc5a7a26d.png)

[2021-04-29 11:23] wangxinxin08 commented on #2804
不是的，num_classes是总的类别数目，不是最大值，你这个应该是993

[2021-04-29 11:25] liuhuiCNN commented on #2821
你好，TrainReader 里面的 num_max_boxes 是指训练的时候最大box个数。如果您需要推理时设置最多的bbox数，可以在结果中按score排序取前N个即可。

[2021-04-29 11:26] qingqing01 commented on #2821
@ybc-ybc

num_max_boxes 是训练时bbox的最大个数，不够的padding到这个长度。控制输出bbox个数的是nms处理的参数  https://github.com/PaddlePaddle/PaddleDetection/blob/34098ae445b982a529ae7912c1c26eee77096ca8/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml#L61

[2021-04-29 11:34] ybc-ybc commented on #2821
感谢！还有个问题，这两个参数要不要同步修改

[2021-04-29 11:34] sxlyiyiyi opened #2823 "cascade_rcnn无输出"
使用cascade_rcnn网络训练自己的数据，训练过程有loss，但是使用eval时，输出均为0

[2021-04-29 11:42] sxlyiyiyi commented on #2823
{'bbox': Tensor(shape=[1, 6], dtype=float32, place=CUDAPlace(0), stop_gradient=True,
       [[-1.,  0.,  0.,  0.,  0.,  0.]]), 'bbox_num': Tensor(shape=[1], dtype=int32, place=CUDAPlace(0), stop_gradient=True,
       [1])}

[2021-04-29 11:47] liuhuiCNN commented on #2822
（1）配置文件中去掉 pretrain_weights 字段就可以了；
（2）您也可以将加载预训练模型的代码注释掉： https://github.com/PaddlePaddle/PaddleDetection/blob/34098ae445b982a529ae7912c1c26eee77096ca8/tools/train.py#L108
（3）shape 不匹配的问题，建议您检查一下模型设置是否正确，预测的时候加载的模型路径是否正确。

[2021-04-29 11:49] liuhuiCNN commented on #2823
（1）这个数据应该是在检测结果为空时，构造的假数据。说明您训练的模型没有收敛，请您再仔细检查一下数据格式是否正确，模型参数设置是否合理。

[2021-04-29 11:54] sxlyiyiyi commented on #2823
我发现body_feats的输出均为nan，但是计算的rois，rois_num, rpn_loss确是有值的，请问是数据的问题，还是学习率的问题

[2021-04-29 11:54] sxlyiyiyi commented on #2823
![image](https://user-images.githubusercontent.com/53137071/116546874-becdb080-a924-11eb-9bdb-99eda8578e61.png)

[2021-04-29 11:55] sxlyiyiyi commented on #2823
![image](https://user-images.githubusercontent.com/53137071/116546939-d5740780-a924-11eb-8536-dad326038db2.png)

[2021-04-29 12:03] czyczyczy commented on #2797
同样的问题

[2021-04-29 12:05] liuzheng081 commented on #2810
好的 我试试 谢谢

[2021-04-29 12:11] 2-mo opened #2824 "AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'sync_batch_norm'"
使用CPU跑实例文件时出现以下属性错误，具体报错如下：
Traceback (most recent call last):
  File "tools/infer.py", line 160, in <module>
    main()
  File "tools/infer.py", line 156, in main
    run(FLAGS, cfg)
  File "tools/infer.py", line 132, in run
    save_txt=FLAGS.save_txt)
  File "/Users/tiumo/opt/anaconda3/envs/master36/lib/python3.6/site-packages/ppdet/engine/trainer.py", line 375, in predict
    outs = self.model

[2021-04-29 12:13] liuhuiCNN commented on #2824
你好，感谢反馈，这是已知bug，请参考 #2819，我们尽快修复。
命令：`python tools/train.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=false norm_type=bn`

[2021-04-29 12:19] sxlyiyiyi commented on #2823
不是学习率的问题，我测试了一下，训练到第二个batch就会变为nan，配置又使用了cascade_rcnn_r50_vd_fpn_ssld_2x_coco.yml尝试了下，只是更换了我的数据集，这是不是说明有大概率是数据集的格式问题

[2021-04-29 12:20] liuhuiCNN commented on #2821
不需要的，num_max_boxes 是训练时候的参数，keep_top_k 是预测过程中NMS的参数。

[2021-04-29 12:23] sxlyiyiyi commented on #2823
{"images": [{"file_name": "u000711.jpg", "height": 2160.0, "width": 3840.0, "id": 0}, {"file_name": "u005430.jpg", "height": 2160.0, "width": 3840.0, "id": 1},

"type": "instances", "annotations": [{"area": 73840.0, "iscrowd": 0, "bbox": [820.0, 1235.0, 355.0, 208.0], "category_id": 3, "ignore": 0, "image_id": 0, "id": 1}, {"area": 4532.0, "iscrowd": 0, "bbox": [2722.0, 9.0, 103.0, 44.0], "categor

[2021-04-29 12:27] liuhuiCNN commented on #2823
（1）数据问题排查，将您的数据替换为coco或者是路标数据集，类别数设置正确，训练一下看看。如果其他数据可以正常训练说明您的数据可能是有问题的；
（2）注意设置正确的学习率，配置文件中提供的学习率默认是8卡的，如果您是单卡，需要同比例减小学习率。

[2021-04-29 12:28] 2-mo commented on #2824
谢谢！已解决。

[2021-04-29 12:45] rishikeshF commented on #2824
I tried aforementioned command, it gave me below error :

Traceback (most recent call last):
  File "tools/train.py", line 137, in <module>
    main()
  File "tools/train.py", line 133, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111, in run
    trainer.train(FLAGS.eval)
  File "/usr/local/lib/python3.7/dist-packages/ppdet/engine/trainer.py", line 274, in train
    outputs = model(da

[2021-04-29 12:47] sxlyiyiyi commented on #2823
减小过学习率，都是从第二个或第三个变为nan，请问body_feats为nan是正常的吗，更换了其他的数据集，还是这种现象，更换的数据集是正确的格式

[2021-04-29 13:35] NicholasIrving opened #2827 "显存不足，请问有没有类似mmdetection的 gpu_assign_thr 的功能?"
显存不足，请问有没有类似mmdetection的 gpu_assign_thr 的功能?

[2021-04-29 13:41] liuzheng081 commented on #2815
解决了 是版本问题 谢谢了

[2021-04-29 13:41] #2815 closed, assigned to nobody

[2021-04-29 13:58] yghstill commented on #2819
@hablee 问题已修复，请重新下载或clone最新代码再试下吧

[2021-04-29 13:58] #2819 closed, assigned to nobody

[2021-04-29 14:31] guotongjian commented on #2757
去掉conv2d_0.w_0还是报同样的错误。。。。我只是想先试一下能不能跑起来，剪裁的层和剪裁率都是随便定的

[2021-04-29 15:04] #2821 closed, assigned to nobody

[2021-04-29 15:26] liuhuiCNN commented on #2827
您可以参考下： https://www.paddlepaddle.org.cn/documentation/docs/zh/faq/train_cn.html#wenti-xunlianshibaocuotishixiancunbuzu-ruhejiejue
可以使用以下几个选项：
`#一旦不再使用即释放内存垃圾，=1.0 垃圾占用内存大小达到10G时，释放内存垃圾
export FLAGS_eager_delete_tensor_gb=0.0

#启用快速垃圾回收策略，不等待cuda kernel 结束，直接释放显存
export FLAGS_fast_eager_deletion_mode=1

#该环境变量设置只占用0%的显存
export FLAGS_fraction_of_gpu_memory_to_use=0`

[2021-04-29 15:30] #2267 closed, assigned to liuhuiCNN

[2021-04-29 15:45] Monday-Leo commented on #2786
@wangxinxin08

[2021-04-29 23:38] duolabmeng6 opened #2828 "window Serving提示NameError: name 'fcntl' is not defined"
系统环境是win10 请问一下怎么解决

[2021-04-29 23:38] duolabmeng6 commented on #2828
docker下正常

[2021-04-29 23:39] duolabmeng6 commented on #1644
请问怎么解决

[2021-04-30 01:10] gengyanlei opened #2829 "readme错误"
![image](https://user-images.githubusercontent.com/22360785/116636410-d3955d00-a993-11eb-9170-3927406c7446.png)

[2021-04-30 01:21] VJoer commented on #2738
我把keep_ratio: False 改为 keep_ratio: True 就会得到下面错误，请问这个是不是保持图像原来的长宽比？
SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at D:\v2.0.2\paddle\paddle/fluid/operators/reader/blocking_queue.h:158)

[2021-04-30 01:45] ghost commented on #2797
是最新的代码，自己鼓捣了好久都没解决问题

[2021-04-30 02:28] liuzheng081 commented on #2810
报错需要 __model__  但是这个版本的导出的是 model.pdiparams这些文件 。需要将版本降到0.3 再生成导出模型？
有没有直接模型转换的脚本？？？

[2021-04-30 02:35] kaikaizhu commented on #2819
@yghstill
非常感谢，目前不报错了，但是直接按照教程跑测试的话，满图都是框

[2021-04-30 02:35] liuzheng081 commented on #2810
报错!! 需要_ model _ 但是这个版本的导出的是 model.pdiparams这些文件 。需要将版本降到0.3 再生成导出模型？
有没有直接模型转换的脚本？？？

[2021-04-30 02:51] Joran1101 commented on #2770
python tools/infer.py -c configs/faster_rcnn/faster_rcnn_r50_fpn_1x_coco.yml -o use_gpu=true weights=output/faster_rcnn_r50_fpn_1x_coco/model_final.pdparams --infer_dir=../sewer-defects-1050whole --draw_threshold=0.5

[2021-04-30 03:08] xinsuinizhuan opened #2830 "人脸关键点的模型有没有？"

[2021-04-30 03:16] zyzjly opened #2831 "训练自己制作的coco数据集出问题"
$ python tools/train.py -c configs/ppyolo/ppyolov2_r101vd_dcn_365e_coco.yml -o use_gpu=true
[04/30 10:55:31] ppdet.utils.download INFO: Dataset C:\Users\ADMIN\PaddleDetection\dataset\coco is not valid for reason above, try searching C:\Users\ADMIN/.cache/paddle/dataset or downloading dataset...
loading annotations into memory...
Done (t=0.00s)
creating index...
index created!
[04/30 10:55:33] ppde

[2021-04-30 03:26] kaikaizhu commented on #2820
@yghstill
非常感谢，但是我直接执行测试，不报错，满图框是什么原因？

[2021-04-30 03:38] liuzheng081 commented on #2810
![Uploading image.png…]()
增加了参数，可以了

[2021-04-30 03:40] liuzheng081 commented on #2810
![image](https://user-images.githubusercontent.com/10113362/116645480-8d96c400-a9a8-11eb-9557-d34353100b97.png)
增加了参数，可以了

[2021-04-30 03:45] wangxinxin08 commented on #2786
请直接尝试在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/tools/train.py#L102 这一行之后添加paddle.summary(trainer.model)试一试

[2021-04-30 04:05] liuhuiCNN commented on #2829
感谢反馈，这里镜像地址是正确的，您可以通过命令：`docker pull registry.baidubce.com/paddlepaddle/paddle:2.0.1-gpu-cuda10.1-cudnn7` 来下载镜像。

[2021-04-30 05:24] GreenValue commented on #2804
感谢。修改num_classes之后，就可以train了。

[2021-04-30 05:24] #2804 closed, assigned to wangxinxin08

[2021-04-30 05:36] GreenValue opened #2832 "PPYOLO模型单卡训练自制数据，image evaluation时. KeyError: 'area'"
- Environment，Images 同 #2804
- 我该如何在annotations中定义area呢？
![image](https://user-images.githubusercontent.com/16701660/116653036-f9812880-a9b8-11eb-945c-789ee30ab336.png)

- Output
[code]

[2021-04-30 05:41] wangxinxin08 commented on #2832
生成的coco数据集的标注文件中没有area字段，请按照coco的标注格式为每一个annotations添加area字段

[2021-04-30 05:42] wangxinxin08 commented on #2831
这个错误是由于自制的数据集的样本数目小于一个iter的大小，导致模型一个iter都没有运行，不过后续会修掉这个报错

[2021-04-30 05:43] GreenValue commented on #2832
annotations添加area字段，当然可以。area的值是多少呢？

[2021-04-30 05:44] wangxinxin08 commented on #2830
人脸关键点的模型现在尚未迁移到动态图，可以使用static目录下的静态图版本https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static/configs/face_detection

[2021-04-30 05:59] zyzjly commented on #2831
我设置use_ema为false后，模型训练起来了。请问可以直接设置iter的大小吗？ @wangxinxin08

[2021-04-30 06:00] bbbxixixixi opened #2833 "EfficientNet b7 测试时image ResizeAndPad target_dim不是512就报异常"
试过1024，800，608，480，都报错

architecture: EfficientDet
max_iters: 14000
use_gpu: true
pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/EfficientNetB7_pretrained.tar
weights: output/efficientdet_d7/model_final
log_iter: 20
snapshot_iter: 280
metric: COCO
save_dir: output
num_classes: 5
use_ema: true
ema_decay: 0.9998

EfficientDet:
  backbone: EfficientNet
  fpn: BiFPN
  efficient_he

[2021-04-30 06:05] soeaver commented on #2797
遇到了一样的问题

[2021-04-30 06:05] lao-xu commented on #2778
好，并入后请告知下，谢谢

[2021-04-30 06:41] futureflsl opened #2834 "关于训练学习率调整问题"
看到

默认学习率是适配多GPU训练(8x GPU)，若使用单GPU训练，须对应调整学习率（例如，除以8）。 计算规则表如下所示，它们是等价的，表中变化节点即为piecewise decay里的boundaries:
GPU数 | 学习率 | 最大轮数 | 变化节点
-- | -- | -- | --
2 | 0.0025 | 720000 | [480000, 640000]
4 | 0.005 | 360000 | [240000, 320000]
8 | 0.01 | 180000 | [120000, 160000]
piecewise decay里的boundaries这个具体怎么设置呢，能给个例子吗，我在代码没看到
boundaries，关键词piecewisedecay倒是有

[2021-04-30 07:13] GreenValue commented on #2832
有何高见？area是啥意思？也没找打相关的注释。

[2021-04-30 07:16] jesen8 commented on #2452
@thzyyx c++肯定时可以的

[2021-04-30 07:39] eminem171333491 commented on #2797
我也遇到了同样的问题

[2021-04-30 07:42] Sharpiless opened #2837 "关于模型蒸馏策略精度问题"
我尝试在VOC上面使用PaddleDetection提供的蒸馏代码

实验环境如下：

数据集：VOC2012

GPU：V100*1

Batch Size：8

Epoches：70000

精度为：

教师模型 | 学生模型 | 蒸馏算法 | mAP on VOC
-- | -- | -- | --
Yolov3-R34 | Yolov3-MobileNetV1 | 无 | 52.07660724
Yolov3-R34 | Yolov3-MobileNetV2 | L2 | 55.30384024
Yolov3-R34 | Yolov3-MobileNetV3 | FineGained | 44.40395831

发现结果比原模型精度还低，请问这是复现问题吗？

项目连接：https://aistudio.baidu.com/aistudio/projectdetail/18788

[2021-04-30 08:12] wangxinxin08 commented on #2832
请仔细查阅coco数据集的定义https://cocodataset.org/#format-data，或者利用别人验证过的脚本生成coco数据。area字段的意思是bbox的面积。

[2021-04-30 08:14] wangxinxin08 commented on #2834
对应于代码中的milestones

[2021-04-30 08:23] wangxinxin08 commented on #2831
不能直接设置iter的大小，可以直接设置epoch的大小，你可以在configs/ppyolo/optimizer_365e里面修改epoch，或者在训练时使用python tools/train.py -c configs/ppyolo/ppyolov2_r101vd_dcn_365e_coco.yml -o use_gpu=true epoch=1来指定epoch的数目。
你报这个错误的原因应该是样本的总数量小于总的batch_size的大小，设置成ema为false，虽然没有报错，但是其实并没有训练。

[2021-04-30 09:05] GreenValue commented on #2832
instances_train2017.json中 area != width * heigth
那该怎么计算area呢？
![image](https://user-images.githubusercontent.com/16701660/116673563-21cb5000-a9d6-11eb-85cf-65460e898e7d.png)

[2021-04-30 09:08] liuzheng081 commented on #2810
追加一个问题 ，生成压缩模型，用2.0.1版本的预测脚本报错。需要model.pdiparams这样的文件，这个怎么解决？

[2021-04-30 09:14] liuhuiCNN commented on #2828
新版本的PaddleServing已修复，参考：https://github.com/PaddlePaddle/Serving/issues/867 。请使用最新版本的PaddleServing。

[2021-04-30 10:23] xinsuinizhuan commented on #2830
此版本的，之前测试有问题，人脸5点，乱标。希望动态图版本可以更正、

[2021-04-30 11:41] ilem777 commented on #2770
请问您有好的建议或意见吗😂

[2021-04-30 15:01] wangxinxin08 commented on #2837
收到，这个问题我们定位下

[2021-04-30 15:43] hopesala opened #2841 "快速开始能执行，但检测结果不对，会是什么原因呢，cuda10.1 cudnn 7.6都安装好了"
python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams --infer_img=demo/000000014439.jpg

D:\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp, sys, os

[2021-04-30 15:48] hopesala commented on #2841
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/INSTALL_cn.md#%E5%BF%AB%E9%80%9F%E4%BD%93%E9%AA%8C
![微信截图_20210430234204](https://user-images.githubusercontent.com/8850257/116719933-3297b800-aa0e-11eb-9629-708362224f9a.png)

[2021-04-30 15:57] wangxinxin08 commented on #2833
请问使用PaddleDetection版本是什么？

[2021-04-30 15:59] wangxinxin08 commented on #2841
你加载的权重不对，你运行的是PaddleDetction的动态图模式，但是权重的链接确实静态图的链接

[2021-04-30 16:02] hopesala commented on #2841
我是直接拷贝的readme里面的命令，不过这个响应速度也太快了！非常感谢

[2021-04-30 16:11] #1302 closed

[2021-04-30 16:11] #1373 closed

[2021-04-30 16:11] #1400 closed

[2021-04-30 16:12] #1525 closed

[2021-04-30 16:13] #1592 closed

[2021-04-30 16:21] bbbxixixixi commented on #2833
paddle master， aistudio环境，换了devolop版本的paddlepaddle_gpu-2.1.0.dev0.post101-cp37-cp37m-linux_x86_64.whl

[2021-05-01 00:42] DongChenwei2000 opened #2842 "关于训练"
我想要一直训练同一个训练集，有什么办法可以做到呢？是否只能用导出模型将其作为预训练模型呢？

[2021-05-01 01:39] hopesala opened #2843 "快速开始训练过程中，Python已停止工作，看了配置文件，没有找到修改batch_szie类似的调小的东西，会是什么原因呢"
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/QUICK_STARTED_cn.md#%E4%B8%89%E8%AE%AD%E7%BB%83%E8%AF%84%E4%BC%B0%E9%A2%84%E6%B5%8B

[code]

运行了三次都这样

[code]

![微信截图_20210501093743](https://user-images.githubusercontent.com/8850257/116767174-00637600-aa61-11eb-847c-067f2d97cd66.png)

[2021-05-01 03:40] duolabmeng6 commented on #2828
[code]

请问一下这个怎么解决

[2021-05-01 03:41] duolabmeng6 opened #2845 "请问一下在阿里云函数计算上部署提示version `GLIBCXX_3.4.22' not found 怎么解决"
ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /code/.fun/python/lib/python3.6/site-packages/paddle/fluid/core_avx.so)

[2021-05-01 03:41] duolabmeng6 commented on #2845
···
python -m pip install paddlepaddle==2.0.2 -i https://mirror.baidu.com/pypi/simple
···

安装了以后无法运行~~~

[2021-05-01 03:56] qingqing01 commented on #2842
@553548793 没有明白您的意思。正常训练就是只训练一个数据集，比如COCO， VOC。 您是说说只训练一个样本呢？还是？

[2021-05-01 04:01] qingqing01 commented on #2843
@hopesala

您机器的显存多大？看样子似乎第一个epoch训练完，要评估时出错。

1. 您可以试下不加--eval，

[code]

2. batch_size的位置:

配置文件复用的reader:

https://github.com/PaddlePaddle/PaddleDetection/blob/2f6a0ad9a1cf4625e280da11f83997f85374c3c4/configs/yolov3/yolov3_mobilenet_v1_roadsign.yml#L5

->

https://github.com/PaddlePaddle/PaddleDetection/blob/2f6a0ad9a1cf4625e280da11f83997f85374c3c4/configs/yolov3/_base_/yolov3_reader.yml#L20

[2021-05-01 04:06] qingqing01 commented on #2845
@duolabmeng6

阿里云上GCC版本是多少？您最好用GCC 8

[2021-05-01 04:08] duolabmeng6 commented on #2845
![image](https://user-images.githubusercontent.com/59047063/116770371-f009c600-aa75-11eb-816b-88b14ecae493.png)

[2021-05-01 04:09] duolabmeng6 commented on #2845
容器内看到版本是 3.4.20
飞浆说要 3.4.22 不知道怎么办了~

[2021-05-01 04:11] qingqing01 commented on #2837
@Sharpiless 看您的实验情况，L2损失蒸馏有优于原模型。

PaddleDetection中针对VOC和COCO确实使用了2种不同的蒸馏方法

https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static/slim/distillation#%E8%92%B8%E9%A6%8F%E7%AD%96%E7%95%A5%E8%AF%B4%E6%98%8E

[2021-05-01 04:12] qingqing01 commented on #2845
GLIBC找不到的问题，一版都是GCC版本不对。您可以:

[code]

查看下GCC版本。

另外，如果有docker的话，可以使用飞桨docker镜像，进行安装:

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/docker/linux-docker.html

[2021-05-01 04:14] duolabmeng6 commented on #2845
[code]

[2021-05-01 04:15] duolabmeng6 commented on #2845
没有docker 是 阿里云的函数计算 还有 腾讯云的云函数
都没成功

[2021-05-01 07:03] 670133189 opened #2846 "报错：ValueError: Module class already registered: ImageFolder"
最新版，执行“快速体验”的infer.py，提示：
`
Traceback (most recent call last):
  File "/Library/yinian/python/function/paddlepaddle/paddle_detection/tools/train.py", line 38, in <module>
    from python.function.paddlepaddle.paddle_detection.ppdet.core.workspace import (
  File "/Library/yinian/python/function/paddlepaddle/paddle_detection/ppdet/__init__.py", line 15, in <module>
    from . import (core, data, en

[2021-05-01 07:11] futureflsl commented on #2834
我用yolov3单卡训练的话需要修改configs\yolov3\_base_\optimizer_270e.yml的参数如下，这个对吗，为什么原来是[216,243]这个和默认8卡对不上
原来的
epoch: 270

LearningRate:
  base_lr: 0.001
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones:
    - 216
    - 243
  - !LinearWarmup
    start_factor: 0.
    steps: 4000

OptimizerBuilder:
  optimizer:
    momentum: 0.9
    type: Momentum
  regularizer:
    factor: 0.0005
    type: L2
修改

[2021-05-01 07:12] futureflsl commented on #2834
我用yolov3单卡训练的话需要修改configs\yolov3\_base_\optimizer_270e.yml的参数如下，这个对吗，为什么原来是[216,243]这个和默认8卡对不上
原来的
epoch: 270

LearningRate:
  base_lr: 0.001
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones:
    - 216
    - 243
  - !LinearWarmup
    start_factor: 0.
    steps: 4000

OptimizerBuilder:
  optimizer:
    momentum: 0.9
    type: Momentum
  regularizer:
    factor: 0.0005
    type: L2
修改

[2021-05-01 07:17] duolabmeng6 commented on #2845
使用这个镜像安装了依赖可以用了 但是镜像文件 1.7G 太大了。请问有办法减小吗
[code]

[2021-05-01 07:24] #2846 closed, assigned to nobody

[2021-05-01 08:11] Sharpiless commented on #2837
好的，感谢。

[2021-05-01 08:30] DongChenwei2000 commented on #2842
一般训练完一个训练集后，会获得一个model_final的模型，我想要在这个模型的基础上再使用同一个训练集进行训练，是否只能用导出模型将其作为预训练模型呢？

[2021-05-01 09:05] claudehotline opened #2847 "c++部署main.exe执行报错"
paddlepaddle 2.0.1
paddleDetection 2.0
cmake version 3.20.0
Microsoft Visual Studio Community 2019
python 3.8

编译生成main.exe，在终端执行后报错：

[code]

[2021-05-01 09:14] qingqing01 commented on #2847
从错误信息看，您选择了TensorRT的推理库，但本地没有安装TensorRT，编译时您打开了TensorRT的开关吗？如果是，需要安装TensorRT的lib。

如果本地没有安装TensorRT, 请选择 下面推理库的前2行。

https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/windows_cpp_inference.html#windows

[2021-05-01 09:18] qingqing01 commented on #2842
@553548793

无需导出模型。您可以通过 -r 恢复训练 (也会加载优化器等状态参数，接着之前的训练继续训练)

或

通过 -o pretrain_weights=xx/model_final.pdparams 加载模型参数继续训练即可 (不会加载优化器等状态参数，只会加载模型参数)。

[2021-05-01 10:59] claudehotline commented on #2847
cmke编译的时候设置了-DWITH_TENSORRT=OFF，vs编译完运行main.exe还是报这个错

[2021-05-01 11:18] claudehotline commented on #2847
换了不带TensorRT的推理库就好了，看前一个推理库必须要装TensorRT。

[2021-05-01 12:07] vulyon commented on #2790
模型是ppyolov2，显卡内存是12g，batchsize设置1，,我测试：python tools/eval.py -c configs/ppyolo/ppyolov2_r50vd_dcn_365e_coco.yml -o
weights=/home/wuliang/weights/ppyolov2_r50vd_dcn_365e_coco.pdparams
报错，显卡
SystemError: (Fatal) Operator gaussian_random raises an paddle::memory::allocation::BadAlloc exception.
The exception content is
:ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 4.000244MB

[2021-05-01 12:56] futureflsl opened #2849 "coco数据集训练后检测不出框，训练窗口日志打印基本都0"
测试环境：
python3.8/python3.7
ubuntu18.04
paddlepaddle-gpu==2.0.2
paddledet==2.0.1
问题描述：
使用了猫狗数据集300张，其中训练集270张，测试集30张，coco数据集格式，即json文件，训练日志看起来都是正常的，没有出现NAN等情况，但是ap显示基本是0，训练后检测训练集图片都空的，没有框，训练有270 eopch，其中对best等中间生成模型测试都是检测不出，安装的2个python版本都测试这样的问题，使用的是yolov3 coco训练
![360截图20210501205111105](https://user-images.githubusercontent.com/23259315/116783072-4843c680-aa7c-11eb-8002-248fd7b5ad25.jpg)
![360截图20

[2021-05-01 13:15] hopesala commented on #2843
显存11G

[2021-05-01 13:23] hopesala commented on #2843
batch_size: 8 改成4还是这样，去掉--eval也是
显卡为nvidia GeForce GTX 1080Ti 11G
nvidia-smi
Sat May  1 21:20:04 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.93       Driver Version: 460.93       CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | V

[2021-05-01 15:23] duolabmeng6 commented on #2845
解决了 不能使用阿里云函数计算的默认环境 需要自行配置 镜像大概 1.7gb
部署 ppocr 成功~
不知道有没有办法可以缩小一点这个镜像。太大了~

[2021-05-01 15:28] duolabmeng6 commented on #2828
解决了 阿里云函数计算可以部署了~

[2021-05-02 01:57] qingqing01 commented on #2849
@futureflsl 您是单卡训练吗？如果是单卡训练，需要注意调整学习效率  https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/docs/FAQ.md 。另外，建议使用COCO预训练做初始化。

另外，您是否有公开数据？如果有，我这边也可以试下。

[2021-05-02 02:01] qingqing01 commented on #2845
@duolabmeng6 您期望镜像多大？要缩小的话，需要重新对Paddle制作镜像，减少一些依赖。

[2021-05-02 02:02] qingqing01 commented on #2847
@claudehotline 对的，推理库版本、环境需要正确安装。

[2021-05-02 02:06] qingqing01 commented on #2820
@kaikaizhu 您是用什么模型测试？自己训练的，还是我们提供的COCO预训练。 满图框的原因还是模型没有训练好。

[2021-05-02 04:00] DongChenwei2000 opened #2850 "在windows端运行代码"
在windows端运行代码时，出现了如下错误，是什么原因呢？
![4EQLQ@82}HS P8OW )QR)J5](https://user-images.githubusercontent.com/71364549/116801594-f1062a80-ab3d-11eb-81d2-568892854392.png)

[2021-05-02 08:37] guotongjian opened #2851 "请问2.0版本的yolo_loss是否做过修改呢"
同样的数据集，同样的模型，2.0版本的yolo3的loss训练了400个epoch后还是比较高，在7-8左右。2.0-beta版本的loss在2左右，这是什么原因呢，
![image](https://user-images.githubusercontent.com/73452319/116807224-9502cc80-ab64-11eb-992d-97db32af041c.png)
![image](https://user-images.githubusercontent.com/73452319/116807229-98965380-ab64-11eb-97aa-a223b9be5b3c.png)
![image](https://user-images.githubusercontent.com/73452319/116807232-9b914400-ab64-11eb-9c3

[2021-05-02 13:09] JunLei01 opened #2853 "关于ppyolov2"
开发者你好，我最近在使用aistudio上使用ppyolov2，我在训练的过程中发现效果并不理想，由于我使用的是voc的数据集，我只修改了base中的coco为voc，训练可以正常进行，但无法进行评估，infer刚开始没有预测框，将执行度调低后才有，但接着训练，哪怕将置信度调低也没有预测框。github上关于ppyolo的问题也很多了，ppyolo是使用8卡训练的，不知百度官方能否出一个ppyolov2的单卡调整yaml文件呢？还有能否更新一下yolov4的动态图版本呢？

[2021-05-02 13:11] JunLei01 opened #2854 "关于ppyolov2"

[2021-05-02 16:47] 670133189 opened #2855 "PP-YOLO-Tiny系列配置需要 650 epoint这么多吗？"
请教：
YOLO-MobileNet是12e或24e，再高容易过拟合，
而PP-YOLO-Tiny系列需要650e这么高吗？

[2021-05-02 18:36] ghost opened #2856 "请问如何在dygraph中运行Cascade-Faster-RCNN-CBResNet200vd-FPN"
我使用2.0rc版本的PaddleDetection，当我在dygraph尝试运行Cascade-Faster-RCNN-CBResNet200vd-FPN的算例时，出现了AssertionError: the module CBResNet is not registered，检查了一下dygraph下的backbones路径，确实没有cb_resnet.py，而在PaddleDetection/ppdet/modeling/backbones/下存在cb_resnet.py。因此我想问下如何在dygraph中运行Cascade-Faster-RCNN-CBResNet200vd-FPN呢？简单替换ppdet的方法已测试过，会出现其他的问题。

[2021-05-02 18:46] #2847 closed, assigned to nobody

[2021-05-03 04:47] duolabmeng6 commented on #2845
镜像大小的开销主要是在 paddlepaddle 直接700mb 没了。还有opencv的依赖
···
pip install paddlepaddle==2.0.2 -i https://mirror.baidu.com/pypi/simple
pip install opencv-python==4.2.0.32
···
这两个安装好了以后。镜像大概 1gb 了。
不知道有什么办法可以减小

手把手教你使用ONNXRunTime部署PP-OCR
看了教程
https://aistudio.baidu.com/aistudio/projectdetail/1479970

我再研究一下怎么处理 我不是很熟悉飞浆部署推理的过程 还在看文档，希望有专业的建议~~

镜像大小如果能在500m以内最好了，函数计算上部署容器越大，冷启动时间越长

我部署在函数计算的ppocr冷启动时间大概在 50

[2021-05-03 05:51] ANewAnonymous opened #2857 "ppyolov2训练一轮后出现暂停"
我使用静态图中config/ppyolo/ppyolov2_r101vd_dcn.yml配置文件训练自定义的VOC类型数据集，在完成第一轮训练后，评估时卡住了，无任何提示，程序仍然在继续运行，但没有进行训练。
如下情况:
`[INFO 2021-05-03 13:19:13,491 train.py:299] iter: 1000, lr: 0.000250, 'loss_xy': '11.308865', 'loss_wh': '28.035952', 'loss_obj': '230.639816', 'loss_cls': '7.170611', 'loss_iou': '43.606972', 'loss_iou_aware': '8.102552', 'loss': '308.150330', eta: 1 day, 10:12:40, batch_cost: 0.82658 s

[2021-05-03 08:22] jackie8310 opened #2858 "训练和推理问题："
训练时考虑到数据量问题，图片均保存成JPG，模型train好了，上线实时推理时，相机直接输出为BMP，直接用BMP喂入模型预测，结果与保存成JPG不一致，请大神指导！

[2021-05-03 11:56] DongChenwei2000 opened #2859 "关于voc的is_crowd"
按照https://github.com/PaddlePaddle/PaddleDetection/pull/2732 进行了修改，在训练fcos的时候，仍然出现了同样的错误。
![VIBP MXXII@UC_TJO(%_{TF](https://user-images.githubusercontent.com/71364549/116873013-8b06c980-ac49-11eb-9869-28659ab53fc7.png)

[2021-05-03 14:04] Monday-Leo opened #2860 "visualdl不能正常显示"
已经保存了可视化的文件，文件夹内也可以找到，命令行输入visualdl --logdir vdl_dir/scalar/，能够正常访问127.0.0.1，但是白屏，请问是什么原因？

[2021-05-03 14:16] dengxinlong opened #2861 "量化相关文档跳转失败"
直接看截图吧，用箭头指出的地方能提供足够的信息。
![image](https://user-images.githubusercontent.com/32217129/116883256-f9528880-ac57-11eb-93ed-02b1814d1431.png)
在release 2.0-rc分支下点击关于slim的链接都直接404？？？

[2021-05-04 01:19] xjrelc opened #2862 "s2anet batch>1情况与--eval时报错"
batch>1时
Hint: Expected killed_ != true, but received killed_:1 == true:1
似乎是训练数据得自行事先预处理统一成相同大小才行

训练 --eval时
Exception: list input can be bounding box(Nx4) or RLEs([RLE])
似乎eval的[xc, yc, bow_w, bow_h, angle]还未适配

[2021-05-04 05:40] GZHUZhao opened #2863 "请教一个问题：预测时需要一个延时操作，但是使用python多线程和多进程没有用"
命令：
multiprocessing.Process(target=Alert()).start()
print("do main")
config = Config(FLAGS.model_dir)
detector = Detector(
        config, FLAGS.model_dir, use_gpu=FLAGS.use_gpu, run_mode=FLAGS.run_mode)

就是在预测进程中启动另一个进程进行其他操作，需要延时time.sleep(),但是实际是预测进程等待这个延时操作结束后才接着执行。查看了下图，发现只有一个CPU在工作，其他cpu不怎么动。
![image](https://user-images.githubusercontent.com/78419361/116964442-1cc01680-acde-11eb-8b92-f973cd

[2021-05-04 06:40] ANewAnonymous commented on #2821
如果训练时设置的
keep_top_k=100

预测时修改
keep_top_k=200
是否会有效果？还是说在训练时就要修改keep_top_k=200 非常感谢你的回答

[2021-05-04 07:23] JIANG-CX opened #2864 "请问介绍页中的足球视频检测是用的什么模型呢？是否能提供训练好的模型呢？"
请问介绍页中的足球视频检测是用的什么模型呢？是否能提供训练好的模型呢？

[2021-05-04 09:32] duolabmeng6 commented on #2845
请问一下 onnx部署的话 可以脱离 import paddle 吗 因为不是特别熟悉 希望有大佬解答一下 图像预处理 输入 这一块 还有输出处理这一块

[2021-05-04 10:15] duolabmeng6 opened #2865 "请问一下转换到onnx模块报错的问题怎么处理"
[code]

请问一下这个报错怎么解决 看不懂~~

[2021-05-04 11:16] DongChenwei2000 opened #2866 "请问paddledetection支持onnx的部署吗"
打算训练一个模型，是否只有静态图才支持转成onnx呢？paddledetection是否支持onnx的部署预测呢？

[2021-05-04 12:01] Monday-Leo opened #2867 "anchor差别太大"
用paddle detection的anchor_cluster.py跑voc2017数据集跑出来的结果与yolov3官方结果差别很大，请问是什么原因？

[2021-05-04 13:58] DongChenwei2000 opened #2868 "不使用预训练模型"
在使用静态图的faster rcnn中不使用预训练模型进行训练，按照 https://github.com/PaddlePaddle/PaddleDetection/issues/2822#issue-870902731  ，我将yaml文件中的pretrain_weights注释掉。
![)@3LKKJ$HKT 9R98@O6U{57](https://user-images.githubusercontent.com/71364549/117014507-7434a580-ad23-11eb-8ba8-62c89c1dfb5a.png)
然后进行训练，出现如下错误。
![}H3M%O6BM0_XPAU FPDF3H1](https://user-images.githubusercontent.com/71364549/117014676-9af2dc00-ad23-11eb-8ede

[2021-05-04 17:08] Monday-Leo opened #2869 "interpretDL可视化"
训练好模型之后，如何使用paddle的interpretDL可视化，尝试之后，model(data)一直报错，应该是paddledetection和interpretDL的数据预处理不一致，paddle detection能不能直接输入tensor数据，如yolov3(data)，detection中data需要有['image_shape']等值，直接输入tensor导致报错？

[2021-05-05 01:10] yghstill commented on #2860
@lhy823436493 visualdl网页显示正常，没有找到可视化的视图吗？先确认下输出的log文件大小等是否正常。

[2021-05-05 01:12] yghstill commented on #2861
@dengxinlong 感谢反馈，这个链接我们修复下，您先参考最新的PaddleSlim文档吧：https://paddleslim.readthedocs.io/zh_CN/latest/

[2021-05-05 02:15] yghstill commented on #2863
@GZHUZhao 可以看下使用PredictorPool 是否能解决你的问题：https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/native_infer.html#a-name-predictorpool-predictorpool-a

[2021-05-05 02:15] yghstill commented on #2864
@JIANG-CX 使用的是ppyolo模型，有训练好的预训练模型：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/ppyolo

[2021-05-05 02:17] kali20gakki opened #2870 "Paddle 2.0.2.rocm-post 和 PaddleDetection2.0rc"
Paddle 2.0.2.rocm-post版本不支持PaddleDetection2.0rc里面的静态图的模型吗

[2021-05-05 02:18] yghstill commented on #2865
@duolabmeng6 目前动态图模型转onnx有个别两三个OP不支持，我们正在适配中，可以先使用静态图模型：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static

[2021-05-05 02:19] yghstill commented on #2866
@553548793 支持模型转onnx部署预测，目前动态图模型转onnx有个别OP不支持，正在适配中，可以先使用静态图模型

[2021-05-05 02:20] yghstill commented on #2867
yolov3是在coco上聚类得到的anchor，voc和coco数据分布有很多不同，所以会导致anchor差别很大。

[2021-05-05 02:21] yghstill commented on #2868
@553548793 改成`pretrain_weights: None` ,注释掉报错的问题我们再修复下，感谢反馈

[2021-05-05 02:31] DongChenwei2000 commented on #2868
改成None后出现如下错误。
![6@JB~0)V}RY(UF16Q{Q 9WK](https://user-images.githubusercontent.com/71364549/117091194-1341b780-ad8d-11eb-8b98-a878d18a7b95.png)
![C6WD9IIBS~H)8VR`YEILI69](https://user-images.githubusercontent.com/71364549/117091198-16d53e80-ad8d-11eb-8c1f-7f28c8dfa633.png)

[2021-05-05 04:25] Monday-Leo commented on #2860
![ZXKDA_MUN3{M`@K}`FE)4ZK](https://user-images.githubusercontent.com/53975909/117096925-f9a86c00-ad9c-11eb-9d38-6f558edcb193.png)
![2`S%QPT9}A40NST N6(_E12](https://user-images.githubusercontent.com/53975909/117096929-fc0ac600-ad9c-11eb-897f-724297f7b2c8.png)
![7@ X3@PKYENWJAY~_X}S@@3](https://user-images.githubusercontent.com/53975909/117096936-fdd48980-ad9c-11eb-8f26-e4b01fc40406.png)

[2021-05-05 05:52] bbbxixixixi opened #2871 "如何输出预测数据集的bbox等信息？"
tools/infer.py似乎只有输出图片

[2021-05-05 11:24] lmk123568 opened #2872 "关于pp-yolov2一些问题"
- fps是不包括后续nms处理吗
- 关于yolov5，论文测试的速度是在fp32下测试得吗，为什么和官方测试不一样

[2021-05-05 15:16] duolabmeng6 commented on #2845
![image](https://user-images.githubusercontent.com/59047063/117165147-d19a2680-adf7-11eb-96f3-28637f8f927e.png)
关于阿里云函数计算和腾讯云云函数的部署PP-OCR性能数据 2021年5月5日
已经解决并且做了性能测试

[2021-05-05 15:30] liuhuiCNN commented on #2871
你好，tools/infer.py是只输出图片，如果您需要检测结果，可以参考：https://github.com/PaddlePaddle/PaddleDetection/blob/015c090dc4e8161f00269094d004e2953d38be4e/ppdet/utils/visualizer.py#L83

[2021-05-05 15:31] liuhuiCNN commented on #2872
您说的fps是指 benchmark 中的fps吗？

[2021-05-05 15:35] liuhuiCNN commented on #2862
您好，感谢反馈，bs>1和--eval的功能正在完善，请您继续关注我们的工作进展。

[2021-05-05 15:57] lmk123568 commented on #2872
是的，如图所示

![批注](https://user-images.githubusercontent.com/60082702/117169953-2770cd80-adfc-11eb-853b-a601aa5555fd.png)

在FPS(v100)下 非TensorRT，比如PPYOLOv2的FPS是68.9，这个数据请问是不是不包括NMS和decodebox？还有yolov5l官方测试的数据是3.8ms/img，折合FPS约为263，请问为什么和实验图不太一样

这问题困扰我了一天，如果能回复将不胜感激！！！

[2021-05-05 18:21] #2871 closed, assigned to nobody

[2021-05-06 02:07] qingqing01 commented on #2850
@553548793

您安装的PaddlePaddle是CPU版本，如果您要CPU训练，需要设置  `-o use_gpu=False`  参考：

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/GETTING_STARTED_cn.md#%E5%8F%82%E6%95%B0%E5%88%97%E8%A1%A8

[2021-05-06 02:09] Chen-Song commented on #2872
@lmk123568 你好，请问你这个图是从哪里截过来的呢？

[2021-05-06 02:14] qingqing01 commented on #2851
@guotongjian

2.0动态图的yolo_loss和静态图是一致的，这个做过对齐。

您有调整过其他参数吗？
2.0版本用的是默认的动态图吗？如果是动态图，是以epoch数设置总共步长的。2.0-beta以及静态图是设置总共的step数，需要注意训练的步长差异。

[2021-05-06 02:15] #2854 closed, assigned to nobody

[2021-05-06 02:16] ximitiejiang opened #2873 "train和infer在创建reader后无法单步调试"
你好，我在使用paddlepaddle跑算法的单步debug时，只要创建完reader，单步就会卡死无法进行下去。我尝试修改config设置worker_num=0来关闭dataloader的多进程但貌似也没有效果。

请问，这种单步调试卡死的原因是什么，如何解决？

[2021-05-06 02:30] qingqing01 commented on #2853
@JunLei01

关于单卡，这里的lr可以除以8。 我们验证下单卡的VOC数据训练吧。

https://github.com/PaddlePaddle/PaddleDetection/blob/015c090dc4e8161f00269094d004e2953d38be4e/configs/yolov3/_base_/optimizer_270e.yml#L4

另外，您想使用YOLOv4的原因是？

[2021-05-06 02:34] dengxinlong opened #2874 "感知量化训练"
贵方的paddleslim中有感知量化训练的手段，想问一下贵方具体的实现原理，有没有相关的文档啊。

[2021-05-06 02:35] qingqing01 commented on #2855
@670133189

单阶段模型在COCO上一版都是300 epoch以上。PP-YOLO Tiny的650 epoch也是实验中发现更多的epoch数，在COCO上效果还可以。如果是自己的数据集，epoch数可以适当的调整看。

[2021-05-06 02:35] yghstill commented on #2873
@ximitiejiang 你是基于哪个分支代码进行调试？最新release/2.0吗？

[2021-05-06 02:37] jerrywgz commented on #2856
目前在PaddleDetection 2.0版本下还没有集成动态图版本的cb_resnet，如果想使用这个模型可以先到static文件夹下使用静态图版本，后续我们会增加动态图版本

[2021-05-06 02:43] #2855 closed, assigned to nobody

[2021-05-06 02:44] yghstill commented on #2874
@dengxinlong slim文档：https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.0.0/docs/zh_cn/tutorials/quant/overview.md
也可以直接再PaddleDetection中体验：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/slim

[2021-05-06 02:45] qingqing01 commented on #2845
@duolabmeng6 转成ONNX部署可以脱离Paddle。如果是OCR问题，也可以OCR的repo提问哈。

[2021-05-06 02:46] Huihuihh commented on #2790
这个ppyolo的训练，我也是修改了batch_size才能成功利用gpu训练。这个学习率按比例减小是指，原有的batch_size: 24，base_lr: 0.01。然后batch_size: 8，base_lr: 0.0033是吗

[2021-05-06 02:49] qili93 commented on #2870
ROCM支持静态图，已经经过验证的PaddleDetection的静态图模型有3个：FaceBoxes, LibraRCNN, RetinaNet

具体可以查看这里的支持模型列表：

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/rocm_docs/paddle_rocm_cn.html

@kali20gakki 您说的静态图模型具体是指哪一个呢？

[2021-05-06 02:51] jerrywgz commented on #2857
可以先使用top -c看下cpu占用率，如果卡住的时候占用率较高，可以尝试将trainreader中的use_process设置为false

[2021-05-06 02:52] ximitiejiang commented on #2873
你好，我的paddle是2.0.1，paddledetection是2.0.0

[2021-05-06 02:55] jerrywgz commented on #2858
这里的不一致是在可接受范围内吗，可以首先使用deploy/python 同时使用相同图片的jpg输入和bmp输入，分析下数据预处理的结果以及最终预测结果是否一致

[2021-05-06 02:58] dengxinlong commented on #2874
嗯嗯，这些我基本看过了，现在也在进行感知量化训练。但是，想问一下，你们的量化策略或者说关于感知量化你们所参考的文献？？

[2021-05-06 02:59] yghstill commented on #2869
refer to https://github.com/PaddlePaddle/InterpretDL/issues/10

[2021-05-06 03:00] jerrywgz commented on #2859
https://github.com/PaddlePaddle/PaddleDetection/pull/2875 fcos原先没有支持voc数据格式的训练，可以参考这个pr的改动，本地测试是可以跑通的

[2021-05-06 03:00] yghstill commented on #2874
可以看下这篇静态图下的量化教程文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/slim/quantization/README.md

[2021-05-06 03:02] qingqing01 commented on #2872
@lmk123568

PPYOLOv2是不包括NMS和decode box。

YOLOv5l官方的数据是BatchSize=16，FP16测试。

我们在论文里的数据是，利用YOLOv5官方测试代码，测试BatchSize=1，不包含NMS和decode box时间。

[2021-05-06 03:11] yzl19940819 commented on #2858
请问，这个是工业相机拍摄出的彩色图片不，可能是在进行格式转化的过程中，通道的顺序发生了变化把？

[2021-05-06 03:16] dengxinlong commented on #2874
不想，我想问的是贵方的感知量化训练是不是参考这篇论文的？
![image](https://user-images.githubusercontent.com/32217129/117236976-777f7c80-ae5c-11eb-9496-8c365bbab0db.png)

[2021-05-06 03:39] juncaipeng commented on #2874
对的，原理就是这篇论文。

[2021-05-06 03:45] dengxinlong commented on #2874
嗯嗯，好的，非常感谢！！

[2021-05-06 03:49] yghstill commented on #2873
@ximitiejiang 是在哪个位置会卡住，是这里吗？https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/engine/trainer.py#L73

[2021-05-06 03:56] lmk123568 commented on #2872
感谢回复，就是说论文给出yolov5数据是，在fps32下测试的batchsize=1的数据是吗，想问一下你们怎么测试fps32的，官方是fps16推理的，谢谢

[2021-05-06 04:23] #2851 closed, assigned to nobody

[2021-05-06 04:59] yghstill commented on #2868
@553548793 参考blazeface的配置文件：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/configs/face_detection/blazeface.yml#L3
改成：
[code]

[2021-05-06 05:01] ximitiejiang commented on #2873
在trian任务时，就是在你说的这里会卡住（debug模式卡住，run模式正常）；在infer任务时，是卡在
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/engine/trainer.py#L362，都是create()函数

[2021-05-06 05:02] yghstill commented on #2860
@lhy823436493 访问`127.0.0.1:8040`可以访问到吗？

[2021-05-06 05:08] yghstill commented on #2873
@ximitiejiang 取消所有断点再使用debug模式试下看是否可以，另外推荐使用gdb断点调试工具。

[2021-05-06 06:37] ximitiejiang commented on #2873
依然不行。你这边能复现这个问题吗还是说已知暂不能解决？
我稍后试试gdb...

[2021-05-06 06:50] YuEn-git commented on #2849
您好，我也遇到了类似的情况我用的ppyolo训练coco数据集，但是几乎所有eval的结果都为0，我感觉我虽然定义好了coco数据集，但他每次训练的时候使用均非我定义的数据集，请问这是怎么回事？？我这有数据集，可以麻烦您试一试吗？

[2021-05-06 07:09] jackie8310 commented on #2858
@jerrywgz , 使用deploy/python/infer.py预测，将相机保存的原始图片.BMP和通过cv2.imencode和cv2.imdecode转换成jpg同时进行预测后，前者得到 confidence:0.6640，后者：confidence:0.5808。

[2021-05-06 07:12] jackie8310 commented on #2858
@syzl19940819

是彩色图片， 使用deploy/python/infer.py预测，将相机保存的原始图片.BMP和通过cv2.imencode和cv2.imdecode转换成jpg同时进行预测后，前者得到 confidence:0.6640，后者：confidence:0.5808。

[2021-05-06 07:15] gengyanlei commented on #2829
哦，习惯性的点击打不开，我以为你们像docker.hub那样可以去网上查阅呢，知道如何安装了。tks

[2021-05-06 07:16] #2829 closed, assigned to nobody

[2021-05-06 07:34] qingqing01 commented on #2849
@YuEn-git 可以提供一个数据集下载链接，我试下。

[2021-05-06 07:51] Monday-Leo commented on #2860
上面的图片就是访问了127.0.0.1:8040，图标都出来了，只是没有读取到数据吧，显示白屏

[2021-05-06 08:22] qingqing01 commented on #2872
@lmk123568

是的，论文里YOLOv5是FP32, BS=1的测试数据，不包含nms和解码。
YOLOv5的FP32数据，这里不设置half即可:

https://github.com/ultralytics/yolov5/blob/b18ca31ff5412d30ee56eb9c4adbe731f9d2148e/test.py#L68

[2021-05-06 08:39] Huihuihh opened #2878 "ppyolo训练模型，使用paddlelite报错"
利用ppyolo训练的模型，导出模型__model__和__params__文件，将其在paddlelite中使用推理，报错“Segmentation fault”
针对ppyolo训练的模型，进行推理时，是否和yolov3的处理代码一样，还是有其他改变，能否提供个实例。或者paddlelite是否支持ppyolo模型推理

[2021-05-06 08:42] 670133189 opened #2879 "除了人脸外，还有更多基于ppdet网络搜索的案例吗？"
关于网络搜索的案例，除了blazeface，还有其它吗？比如：ReNet, MobileNet ...

[2021-05-06 08:43] #2857 closed, assigned to nobody

[2021-05-06 08:47] lmk123568 commented on #2872
感谢回复，问题已解决

[2021-05-06 08:48] hymanzhu1983 commented on #2420
有人跟进吗？又过了10天了。还是你们复现不了？

[2021-05-06 09:41] xiegegege commented on #2843
@hopesala 你好~ 我这里试着复现了下，在windows, cuda11 上跑的paddle2.0.2+ detection release/2.0是能正常运行 python tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml --eval -o use_gpu=true 这个命令的

[2021-05-06 09:50] YuEn-git commented on #2849
数据集：https://aistudio.baidu.com/aistudio/datasetdetail/86787
我训练时发现他的警告‘ ppdet.data.source.coco WARNING: Illegal image file: /home/aistudio/PaddleDetection-release-2.0/dataset/coco/train2017/00865.png, and it will be ignored  ’  其中00865.png根本不是我定义训练集，不知道是不是这个原因，训练正常，但最后预测出问题。
麻烦您了，谢谢 #

[2021-05-06 10:13] LMerCy opened #2880 "AGS module hasn't been implemented?"
I haven't seen the ags module in PAFNet?

[2021-05-06 11:46] guotongjian opened #2881 "剪裁不能用啊"
之前用自己改动的一个模型剪裁一直不成功，又用原版的yolov3试了一下剪裁，还是报错，这个老说我名字不一样是为啥啊，我不知道我到底哪里错了。。。
![image](https://user-images.githubusercontent.com/73452319/117292756-25ae1500-aea3-11eb-87fb-2879e4e95470.png)
下面是我打印出来的部分参数名称截图
![image](https://user-images.githubusercontent.com/73452319/117292892-49715b00-aea3-11eb-8395-5a6263e300b9.png)
配置文件是这么写的，是我pretrain_weights的地址写错了吗？还是pruned_params的名称写错了？。。。。
[code]

[2021-05-06 12:26] abanger commented on #2811
用release/2.0版本一样不生成json文件，同样用ppyolo模型可以生成json，麻烦查查什么原因？

[2021-05-06 12:28] Dushuhui commented on #2811
已经解决了，是我自己配置文件搞错了。另外请问cascadercnn eval 的bachsize我设置成1才能运行，否则会出现和roi-bach不匹配，请问是什么原因？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&

[2021-05-06 12:34] abanger commented on #2811
那里配置出错？我也同样问题

[2021-05-06 12:42] kali20gakki commented on #2870
@qili93 感谢回复了解了，ROCM动态图里面的现在预训练模型太少（res2net等等还没有支持），所以去尝试静态图里面的模型结果计算都是nan。现在只能等对ROCM动态图模型的支持了。

[2021-05-06 12:42] #2870 closed, assigned to nobody

[2021-05-06 12:53] Dushuhui commented on #2811
具体我也没有详细看，我是直接重新解压了PaddleDetection release/2.0。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月6日(星期四) 晚上8:34
***@***.**

[2021-05-06 15:51] lmk123568 opened #2883 "Paddle是否支持马赛克数据增强mosaic"

[2021-05-07 01:21] #2771 closed, assigned to heavengate

[2021-05-07 02:04] dengxinlong commented on #2874
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0-rc/slim/quantization
问一下，关于感知量化训练，预训练权重是不是不能使用之前没有采用量化时的预训练权重？

[2021-05-07 03:02] GreenValue opened #2884 "PPYOLO模型单卡 训练&评估 自制数据时，评估时被Killed"
- Environment，Images 同 #2804
- [ppyolo_config.zip](https://github.com/PaddlePaddle/PaddleDetection/files/6438726/ppyolo_config.zip)
- Error
[code]
- All Error
[ppyolo_评估_error.txt](https://github.com/PaddlePaddle/PaddleDetection/files/6438743/ppyolo_._error.txt)

[2021-05-07 03:18] YuEn-git commented on #2849
您好，请问您的问题找到解决方法了吗？

[2021-05-07 03:25] Chen-Song commented on #1382
@LLeeSG 在https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/slim/README.md里面提到“YOLOv3模型主要剪裁yolo_head部分”。但是我也不明白为什么不裁剪backbone。

[2021-05-07 03:26] Chen-Song commented on #1382
@LLeeSG [在](https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.2/slim/README.md) 里面提到“YOLOv3模型主要剪裁yolo_head部分”。但是我也不明白为什么不裁剪backbone。

[2021-05-07 03:33] jerrywgz commented on #2880
https://github.com/PaddlePaddle/PaddleDetection/pull/2885 ags module is implemented here and it has slighly improvement when the precision reaches above 42

[2021-05-07 03:36] dhao-island opened #2886 "提个请求，想请百度大佬们帮忙把yolov3_r50vd_dcn_db_iouaware_obj365_pretrained_coco这个模型文件导出来"
自己再用Visual DL时，因为模型太大，难以打开。所以想请大佬们帮忙把yolov3_r50vd_dcn_db_iouaware_obj365_pretrained_coco这个模型文件导出来成为个压缩包，让我下载下来，再上传到Visual DL中查看，加深对模型的理解。谢谢！

[2021-05-07 03:56] qingqing01 commented on #2883
@lmk123568

可以参考 https://github.com/PaddlePaddle/PaddleDetection/issues/2251#issuecomment-784010772

后续我们增加下吧。

[2021-05-07 03:58] qingqing01 commented on #2884
@GreenValue 从log来看，loss是NAN，怀疑模型训练的不好，需要排查下模型正确性。

[2021-05-07 04:36] GreenValue commented on #2884
怎么排查？
我用的就是ppyolo

[2021-05-07 05:06] yghstill commented on #2881
@guotongjian 上面的配置是yolov3_mbv1的，yolov3_darknet的剪裁配置参考如下：
[code]

[2021-05-07 05:11] yghstill commented on #2878
@Huihuihh Lite的demo已发布，目前支持动态图模型，欢迎使用：https://github.com/PaddlePaddle/PaddleDetection/tree/develop/deploy/lite

ppyolo支持paddlelite预测，静态图模型的lite demo可参考：https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/yolov3_detection

[2021-05-07 05:13] yzl19940819 commented on #2858
好的，方便加一下微信，我们具体看看这个问题不？ yzl819819 余志良 paddledetection产品经理

[2021-05-07 05:13] qingqing01 commented on #2884
可以先看下训练的loss是否正常，如果正常，可以先对一张图片做下infer，看下可视化结果咋样。
如果可视化结果正常，如果可视化效果混乱，模型训练的效果可能较差。否则，可视化效果正常，那模型可能ok，看下评估的数据集格式是否正确，否则loss不应该为NAN。

[2021-05-07 05:56] LMerCy commented on #2880
Ok, thanks! Just curious, why haven't you compared such method of weighted loss and softlabel with centerness target and quality focal loss?

[2021-05-07 06:20] #2879 closed, assigned to nobody

[2021-05-07 06:32] guotongjian commented on #2881
您好，意思是只能剪裁特定的层吗，请问有针对yolov3增强版的配置吗

[2021-05-07 07:01] 670133189 opened #2887 "通过paddleSlim网络搜索获得模型结构后，如何添加至paddleDetection训练？"
在paddleDetection只有人脸nas的案例（static/slim/nas/search_space/blazefacespace_nas.py）
执行后会得到如下配置，可以直接添加至（static/configs/face_detection/blazeface.yml）进行训练：
[code]

如果是其它网络的nas，比如MobileNet v2，最后得到网络结构比如：**var mobilenetv2_last_pool.tmp_0 : paddle.VarType.LOD_TENSOR.shape(-1, 1280, 1, 1).astype(VarType.FP32)**

该如何添加至paddleDetection的.yml中训练？

[2021-05-07 07:36] ximitiejiang opened #2888 "采用导出模型进行部署，python预测报错FatalError: `Segmentation fault` is detected by the operating system."
你好，搜到如下一些帖子，貌似都是版本匹配或者操作系统匹配问题，但我的os和版本应该是跟paddle匹配的。
https://github.com/PaddlePaddle/PaddleDetection/issues/2265
https://github.com/PaddlePaddle/PaddleDetection/issues/1871

我的软件版本:
os: ubuntu18.04
Paddle version: 2.0.1 (gpu version)
cuda version: 10.2
cudnn version: 7.6.5
paddledet version: 2.0

现象:
1. tools/infer.py：可在gpu端运行，结果正确
2. deploy/python/infer.py：可在cpu端运行，结果正确
3. deploy/python/infer.py

[2021-05-07 08:20] qingqing01 commented on #2887
@670133189

需要重新定义搜索空间， 在BlazeFace的搜索实验中，有重写利用搜索出来的网络结构构造新的BlazeFace模型。

https://github.com/PaddlePaddle/PaddleDetection/blob/6b94eb302105669c06806bdecce8d1bc3fc65aca/static/slim/nas/search_space/blazefacespace_nas.py#L97

如果是其他模型搜索，也可以类似的方式。

[2021-05-07 08:45] qingqing01 commented on #2888
@ximitiejiang

可以注释下面代码，打开log信息，再看下具体错误吧:

https://github.com/PaddlePaddle/PaddleDetection/blob/38bcedb4126cf5e8d4fd2bca367324cd7a5a8220/deploy/python/infer.py#L374

[2021-05-07 09:02] ximitiejiang commented on #2888
results as below:

/home/suliang/anaconda3/envs/paddle_env/bin/python /home/suliang/suliang_git/deploy_python/infer.py --model_dir /home/suliang/suliang_git/PaddleDetection-2.0.0/sl_big/output_inference/sl_big_faster_rcnn_r50_fpn_1x_coco_13kss --image_file /home/suliang/MyDatasets/BIG13kss/img_dir/test/3m0ijor8wy_image.png --use_gpu True

[code]

有点看不大明白，是我的版本问题吗？
补充一下，我是在conda创建了一个独立虚拟环境安装的paddle

[2021-05-07 09:05] qingqing01 commented on #2849
@YuEn-git

数据集的annotations/instances_*有问题。导致很多数据找不到

[code]

比如, `annotations/instances_train2017.json`中 "file_name": "1.jpg" ， 但在`coco/train2017/`下是命名是: "00001.jpg"。 json也有'WIN_20210330_21_47_09_Pro.jpg'这样的命名，图片路径也下都不存在。

需要先解决annotations的制作问题。

[2021-05-07 09:09] qingqing01 commented on #2888
@ximitiejiang 看起来是cuDNN版本不对应，环境问题。

[2021-05-07 09:14] qingqing01 commented on #2886
@dinghao19960829  Visual DL查看模型结构的话，导出模型后，加载 model模型结构即可，这个挺小的。不大。另外，这个模型结构基本就是YOLOv3，只不过增加了dcn, drop-block, iou-aware，和COCO上YOLOv3模型结构类似。

[2021-05-07 09:41] hei898 opened #2891 "为什么刚开始训练的loss就这么小，几乎接近零？"
**这个是训练时的loss**
![image](https://user-images.githubusercontent.com/79127047/117430163-6cab1180-af5a-11eb-9980-1d2aad28d002.png)
**这个是配置文件**

[code]

[2021-05-07 09:43] hei898 commented on #2891
我配置文件哪里写错了？我用ppyolo训练的时候是正常的。
ps：类别确实就一个，不包含背景类。

[2021-05-07 09:46] ximitiejiang commented on #2888
删掉原来的cudnn8.1，重新下载cudnn7.6.5放到cuda对应路径，不报错了！
谢谢！

[2021-05-07 09:46] #2888 closed, assigned to nobody

[2021-05-07 10:48] 670133189 commented on #2887
通过paddleSlim得到新的模型结构MobileNet v2后，下一步如何配置到paddleDetection的.yml里面？
比如blaze_filters、double_blaze_filters、use_5x5kernel等参数，我该如何操作？

[2021-05-07 10:55] Monday-Leo opened #2892 "yolov3 backbone输出shape问题"
yolov3三个输出shape分别是52 * 52，26 * 26，13 * 13，我能不能修改这三个输出shape大小？想修改为一个26 * 26，两个13*13,请问neck，head,loss三部分怎么修改参数？

[2021-05-07 12:04] DeathKnightChen opened #2893 "PP-YOLO的模型部署失败"
在按照README进行PP-YOLO的模型部署时报错，报错信息似乎是动态图转静态图失败，但是不太清楚原因。环境配置是拉取的docker环境进行的配置。报错信息如下：

λ afe5ee05416f /home/ubt/detection/PaddleDetection python tools/export_model.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o weights=./models/ppyolo_r50vd_dcn_1x_coco.pdparams

[code]

期待回复，感谢。

[2021-05-07 14:20] YuEn-git commented on #2849
收到，谢谢

[2021-05-07 15:11] DongChenwei2000 opened #2894 "关于ppyolo-tiny的训练时间"
运行环境是ai studio的单卡环境，由于有要求因此不使用预训练模型，按文档将学习率将调小8倍。
![2~V3WF2)P8P5_UQ{P54B8NI](https://user-images.githubusercontent.com/71364549/117470269-320c9d80-af89-11eb-982b-64869fe1b646.png)
但是训练时间很长，需要6至7天，请问这是正常的吗。还有在学习率调下8倍并且不使用预训练模型的情况下拟合速度是否会很慢呢？
![H~ (2R@8`W@)}HS4(PJ`~~3](https://user-images.githubusercontent.com/71364549/117470657-9f203300-af89-11eb-9a50-ce6e8cb80fdc.png)

[2021-05-08 01:53] Cristhine opened #2895 "ppyolo使用voc数据在eval时报错"
训练过程中报错，看起来是进行验证的时候报错，验证测试集当训练集也正常运行一个epoch，理论上没有脏数据才对，所以这个错误还有可能是什么呢
![image](https://user-images.githubusercontent.com/26667855/117521977-3fef0c80-afe3-11eb-87ce-fb324731d46b.png)

[2021-05-08 01:57] qingqing01 commented on #2891
@hei898 你使用的是静态图，FasterRCNN的类别数是 背景类 + 类别数，需要设置成2。

[2021-05-08 02:14] qingqing01 commented on #2893
@DeathKnightChen 看样子是模型导出时失败，您Paddle版本是多少？需要Paddle >= 2.0.1。

[code]

[2021-05-08 02:17] DeathKnightChen commented on #2893
@qingqing01 是的，模型导出失败，paddle版本2.0.2，我是参照https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/README_cn.md 操作的。

[2021-05-08 02:17] qingqing01 commented on #2894
@553548793

如果单卡训练，以及自己数据的话，可以考虑减少epoch数，以及适当减少预处理操作，提升速度。

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/_base_/ppyolo_tiny_reader.yml

[2021-05-08 02:19] qingqing01 commented on #2893
参考这个文档没错。我本地使用上面我贴的命令是可以导出。你试下上面命令呢？

[2021-05-08 02:26] #2883 closed, assigned to nobody

[2021-05-08 02:36] hei898 commented on #2891
@qingqing01 你好，谢谢解答。
FasterRCNN必须包含背景类吗？但是我在trainreader里面设置了不包含背景类了，是还要在配置文件开头也加上吗？

[2021-05-08 02:36] qingqing01 commented on #2887
@670133189 你是指先通过PaddleSlim，直接对MobileNet v2 + ImageNet分类进行搜索，再用到BlazeFace里，2个过程是吗？
 上面是直接一个过程在检测里，配置backbone为你想要的搜索空间，直接一步搜索。

另外，您是想换个搜索得到的backbone吗？没有明白的意思，如果是换个搜索的backbone，也不一定存在blaze_filters，double_blaze_filters，use_5x5kernel这些参数，因为这些参数已依据Blazeface里backbone(我们内部称作BlazeNet)。

如果是2个步骤，可能需要手动配置个搜索的模型结构，依据MobileNet v2的search space + token，类似backbone的添加方式进行添加。如果是1个步骤，参考上面即可。

[2021-05-08 02:41] DeathKnightChen commented on #2893
@qingqing01 试了下一样的命令还是不行，我之前只是把.pdparams的模型下载下来然后跑，其实是一样的

[2021-05-08 02:46] DeathKnightChen commented on #2893
补充下，我执行的是python tools/export_model.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o weights=https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams

[2021-05-08 02:46] qingqing01 commented on #2891
静态图的FasterRCNN必须包含背景类。num_classes: 2。其他可以参考COCO的设置，不用改变。

[2021-05-08 02:48] 617475jordan opened #2896 "ppyolov2在大分辨率上速度远低于yolov4 和yolov5"
在i9-10000k 内存128g，显卡3080 。windows10平台，cuda11。发现同样1920*1080图片，ppyolov2，训练模型608 单张检测耗时需要接近300ms，而采用yolov5训练模型1280，最慢是50ms左右。

[2021-05-08 02:49] hei898 commented on #2891
@qingqing01 好的，谢谢解答

[2021-05-08 02:51] qingqing01 commented on #2892
看样子您需要修改backbone的输出，让feature map输出有2个13*13。 neck,head, loss会自动依据输入进行适配。 但由于尺度改变，anchor大小也需要调整

https://github.com/PaddlePaddle/PaddleDetection/blob/38bcedb4126cf5e8d4fd2bca367324cd7a5a8220/static/configs/yolov3_darknet.yml#L24

[2021-05-08 02:57] Aurelius84 commented on #2893
@DeathKnightChen 可以看下pip list 中gast的版本是多少么？pip install gast==0.4.0 试下

[2021-05-08 02:59] #1557 closed

[2021-05-08 03:00] qingqing01 commented on #1560
@CVdand

[2021-05-08 03:00] #1560 closed

[2021-05-08 03:00] #1573 closed

[2021-05-08 03:02] qingqing01 commented on #1597
@CVdandelion eval.py测试全量的数据，数据大小不一致，预处理耗时也不统一，reader里还有多线程/进程之类的加速。deploy/python/infer.py测试的是固定图片。因为图片大小、预处理等会有点差异。

[2021-05-08 03:02] #1597 closed

[2021-05-08 03:02] #1574 closed

[2021-05-08 03:07] yghstill commented on #2881
@guotongjian yolo系列算法的剪裁一般只剪裁head部分，您可以利用敏感度分析脚本进行分析，我们之前分析yolo head部分敏感度最低，所以剪裁这部分。https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static/slim/sensitive

[2021-05-08 03:10] Cristhine commented on #2895
ppyolov2更换成官方voc数据报错同样错误 应该是ppyolov2代码不能适配voc

[2021-05-08 03:32] yghstill commented on #2895
@Cristhine 问题已在#2731 修复，更新最新develop代码再试下吧。

[2021-05-08 03:32] Monday-Leo commented on #2892
是这个需求没错，但是在neck部分维度报错
![P(%BJ3O`BIFYN%7(AMSJ}10](https://user-images.githubusercontent.com/53975909/117524703-15a44b80-aff1-11eb-941b-50f1236c2820.png)

[2021-05-08 03:52] DeathKnightChen commented on #2893
@Aurelius84 我看了下，我这边已经是0.4.0了，还是不可以：
![image](https://user-images.githubusercontent.com/11343387/117525223-cd3a5d00-aff3-11eb-85e8-2f750f9dd1eb.png)

[2021-05-08 04:55] dhao-island commented on #2886
导出模型了，谢谢

[2021-05-08 05:03] Monday-Leo commented on #2892
已经能够正常跑通了，请问一下anchor如果有两层输出大小一样的话，该怎么修改

[2021-05-08 05:31] #2886 closed, assigned to nobody

[2021-05-08 05:35] #2891 closed, assigned to nobody

[2021-05-08 05:36] #2872 closed, assigned to nobody

[2021-05-08 05:38] guotongjian commented on #2881
您好，我想让程序能跑起来，现在不是剪哪个层的问题，为什么老报错呢跑不起来，这个跟剪哪个层应该无关吧

[2021-05-08 06:02] Aurelius84 commented on #2893
pip install gast==0.3.3 试下呢？ @DeathKnightChen

[2021-05-08 06:07] DeathKnightChen commented on #2893
@Aurelius84 换成gast==0.3.3之后解决了，感谢！

[2021-05-08 06:08] #2893 closed, assigned to nobody

[2021-05-08 07:32] gftd opened #2900 "ppyolo_tiny 训练速度非常慢，gpu基本不动"
![125769a44595c2e78d4ad2d6ebbb94a](https://user-images.githubusercontent.com/7836059/117530883-34ffa080-b012-11eb-88e0-27ab2e476ec5.png)
![dc58f117bb5557fd49fbffd69a17c2a](https://user-images.githubusercontent.com/7836059/117530884-36c96400-b012-11eb-8df1-35c67703feee.png)

使用单卡训练ppyolo，配置就改了worker_num: 32，其他默认的配置：

`worker_num: 32
TrainReader:
  inputs_def:
    num_max_boxes: 100
  sample_transfo

[2021-05-08 07:33] EdwardVincentMa opened #2901 "infer.py 有问题"
环境：
ubuntu20.04,
cuda11.0 和 cuda11.1，
cudnn8.2.0

有两个问题：
![image](https://user-images.githubusercontent.com/39480728/117531000-d686f200-b012-11eb-8c55-d95888f9cc4c.png)

1. 执行 python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams --infer_img=demo/000000014439.jpg

(base) mayc1@xt021pc2101001:

[2021-05-08 08:08] DongChenwei2000 commented on #2900
我也是单卡使用ppyolo_tiny，我把学习率除8，一共要训练5天，我是cpu拉满，gpu也是10%左右，现存拉到9G这样，不知道是不是正常情况

[2021-05-08 08:10] gftd commented on #2900
我觉得不正常呀，要是这样，要gpu干嘛呢，直接cpu干就好了啊。

[2021-05-08 08:12] DongChenwei2000 commented on #2900
https://github.com/PaddlePaddle/PaddleDetection/issues/2894#issue-879186337   你可以看下我提的这个问题，虽然感觉没什么用

[2021-05-08 08:37] gftd commented on #2900
和我的问题差不多，刚才看过了的

[2021-05-08 08:54] DeathKnightChen opened #2904 "请问下ppyolov2是否支持转onnx"
我想将ppyolov2转换为onnx模型，过程中遇到如下问题：

我首先执行如下命令将ppyolov2成功导出模型
python3 tools/export_model.py -c configs/ppyolo/ppyolov2_r50vd_dcn_365e_coco.yml -o weights=./models/ppyolov2_r50vd_dcn_365e_coco.pdparams

然后参照https://github.com/PaddlePaddle/Paddle2ONNX/blob/develop/README_zh.md，执行如下命令：
paddle2onnx --model_dir output_inference/ppyolov2_r50vd_dcn_365e_coco/  --model_filename model.pdmodel --params_filename

[2021-05-08 09:40] 013292 commented on #2873
@ximitiejiang  @yghstill @QingshuChen In `/ppdet/reader.py`
[code]

[2021-05-08 10:50] DongChenwei2000 opened #2905 "ppyolo_tiny模型量化"
使用静态图的ppyolo_tiny，在ppyolo_tiny模型做量化后模型体积的确减小到1.3M左右，但是将其转为onnx后又变回原来的4M大小，是否有办法将其体积缩小呢？还是说onnx本来就是这个大小呢？

[2021-05-08 15:08] lao-xu commented on #2000
我也在搞这个，感觉不太对。label里是类别的序号，不是01值

[2021-05-08 16:23] ANewAnonymous opened #2906 "用PP YOLOV3 训练自己的数据集时报错，数据集为VOC格式"
`[05/09 00:10:24] ppdet.utils.checkpoint INFO: Finish loading model weights: C:\Users\Administrator/.cache/paddle/weights\MobileNetV3_large_x1_0_ssld_pretrained.pdparams
[05/09 00:10:24] ppdet.engine INFO: Epoch: [0] [   0/9253] learning_rate: 0.000000 loss_xy: 2.381373 loss_wh: 1.357681 loss_obj: 5604.918945 loss_cls: 94.689812 loss: 5703.348145 eta: 12 days, 16:13:11 batch_cost: 0.4384 data_cost

[2021-05-09 05:11] ANewAnonymous commented on #2906
我发现了，是由于我的数据集中的图片格式问题，部分图片格式为gif格式，所以导致训练时出错

[2021-05-09 05:11] #2906 closed, assigned to nobody

[2021-05-09 05:47] 670133189 opened #2907 "关于新版ppdet的pretrain_weights链接"
旧版ppdet的obj365预训练模型链接是【https://paddlemodels.bj.bcebos.com/object_detection/ResNet50_vd_dcn_db_obj365_pretrained.tar】，即xxx.tar

新版是xxx.pdparams

请教：我如何在新版填写obj365预训练模型的链接？

[2021-05-09 07:43] aishangmaxiaoming opened #2908 "ppyolov2 评估时报错KeyError: 36"
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/67897601/117564149-33e77580-b0dd-11eb-9445-a105b0706567.png">

[2021-05-09 07:44] aishangmaxiaoming opened #2909 "MASKrcnn 评估时爆粗"
<img width="1227" alt="image" src="https://user-images.githubusercontent.com/67897601/117564186-6e511280-b0dd-11eb-91e5-74c8e58b3423.png">

[2021-05-09 08:20] bbbxixixixi opened #2910 "目标检测CascadeRCNNClsAware现在支持转onnx了吗？"
看了下之前的帖子
“此外，转ONNX的模型支持中，对于检测模型目前只支持YOLOv3和SSD系列，RCNN暂不支持。”

现在是否可以，有示例吗?

[2021-05-09 09:58] jerrywgz commented on #2909
请问下使用得到ppdet版本和paddle版本是什么呢，另外能否打印下对应位置（expand）的输入shape呢

[2021-05-09 10:05] jerrywgz commented on #2908
需要检查anno_file中对应的数据集类别和设置的数据集类别是否一致

[2021-05-09 10:06] jerrywgz commented on #2907
新版xxx.pdparams格式的权重也是可以被正常加载的，obj365这个预训练模型目前我们只提供了.tar的格式，而且在ppdet2.0版本中，该权重只能在静态图下使用

[2021-05-09 11:31] aishangmaxiaoming commented on #2908
设置的数据集类别在哪里设置

[2021-05-09 11:31] aishangmaxiaoming commented on #2909
ppdet 2.0。paddle2.0.1

[2021-05-09 11:42] heavengate commented on #2896
您好，ppyolov2是采用的哪种速度测试方法呢，包含预处理和后处理么，还有Paddle和PaddleDetection版本是多少呢

[2021-05-09 11:46] heavengate commented on #2904
您好，这些op是onnx不支持的op，PP-YOLOv2组网中用到了这些op，目前看应该是没法转onnx的，你如果需要部署上线可以考虑使用Paddle 的预测库，我们也在`deploy`文件夹下提供了python和c++的部署方案
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/deploy

[2021-05-09 11:49] heavengate commented on #2900
单卡上应该不至于这么慢，单卡的话`num_workers`设置到8-16就差不多了，另外如果还是比较慢的话可以试下不开mixup，即把`mixup_epoch`设置成-1

[2021-05-09 11:54] heavengate commented on #2901
你好，你用的是动态图的模型和配置文件，加载的是静态图的权重，所以权重没有加载进来报了哪些日志，动态图的权重在  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/ppyolo#model-zoo
你使用的配置文件对应的权重是 https://paddledet.bj.bcebos.com/models/ppyolov2_r50vd_dcn_365e_coco.pdparams

[2021-05-09 11:54] #2901 closed, assigned to nobody

[2021-05-09 11:55] heavengate commented on #2905
模型原始大小是4M，通过后量化保存的的权重是量化后的int8的权重，压缩到1.3M，看情况像是你转onnx之后权重又回退到float32的权重，可以排查一下onnx的权重配置

[2021-05-09 12:47] w2020 opened #2911 "训练错误AttributeError: object has no attribute 'architecture'，请问这个怎么解决啊，我在anchor-cluster也遇到了这个错误。"
(base) user@user-B404-2:/media/user/新加卷/吴子运1/PaddleDetection-release-2.0$ python tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml
/home/user/anaconda3/lib/python3.7/site-packages/socks.py:58: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Callable
configs/ppyolo/

[2021-05-09 13:19] #2895 closed, assigned to yghstill

[2021-05-09 13:24] heavengate commented on #2873
develop分支上对DataLoader部分的逻辑做了优化，需要使用Paddle 2.0.2版本，可以更新PaddleDetection代码和Paddle版本试下

[2021-05-09 13:24] #2873 closed, assigned to nobody

[2021-05-09 13:25] heavengate commented on #2841
加载的权重不对，可以参考  https://github.com/PaddlePaddle/PaddleDetection/issues/2901

[2021-05-09 13:25] #2841 closed, assigned to nobody

[2021-05-09 13:26] heavengate commented on #2824
https://github.com/PaddlePaddle/PaddleDetection/pull/2825  修复pr已合入，可以更新develop代码试下~

[2021-05-09 13:26] #2824 closed, assigned to nobody

[2021-05-09 14:10] guotongjian opened #2912 "请问用cco格式数据的话，paddledetecion里可以查看acc这个指标是多少吗"

[2021-05-09 14:17] Chen-Song commented on #1382
@Fauny 请问你剪完之后，ppyolo模型还有多大呢？

[2021-05-09 14:55] huilin16 opened #2913 "如何找预训练模型"
请问paddle detection有哪些预训练模型呢，有没有汇总呢，想要换backbone的预训练一直找不到！

[2021-05-09 15:13] kali20gakki opened #2914 "关于TrainReader中sample['gt_class']字段问题"
请问sample['gt_class']中的类别序号是从0开始的吗，假设有3类，在BBoxAssigner阶段生成的512个target_label中[0,1,2,3,3,3,3,3,3......3],其中这个3是背景类吗？

[2021-05-10 02:06] jiangjiajun commented on #2905
目前Paddle2ONNX还不支持转换量化的模型，如有需求量化，建议使用Paddle2ONNX转ppyolo_tiny的非量化模型，然后使用目标推理引擎的离线量化工具对转换后的ONNX模型进行量化

[2021-05-10 02:08] jerrywgz commented on #2908
在configs/dataset/coco_detection.yml下

[2021-05-10 02:17] jerrywgz commented on #2909
使用的是自定义的数据集吗，有这么几种方法可以先试下：
1. 首先在对应报错位置，也就是ppdet/modeling/post_process.py 99行处看下expand对应的输入[bbox_num[i], 2]是否有异常，从log来看可能是某张输入图片的问题
2. 在eval过程中将batch size设置为1，在ppdet/modeling/architectures/mask_rcnn.py中打印下self.inputs['im_id']，然后可以通过这个im_id找到对应的输入图片信息

如果以上方法没有找到问题，可以提供下复现的模型和数据我们来看下

[2021-05-10 02:18] jerrywgz commented on #2910
这个模型目前只在静态图模式下，同时也支持了转onnx

[2021-05-10 02:20] yghstill commented on #2914
@kali20gakki  是的，目前背景类都在最后一维

[2021-05-10 02:24] yghstill commented on #2913
请问是哪个模型？现在backbone的预训练模型都写在config文件中了，比如faster rcnn：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/faster_rcnn/_base_/faster_rcnn_r50.yml#L2

这些backbone都可以在 https://github.com/PaddlePaddle/PaddleClas 中找到，PaddleDetection做了一些封装

[2021-05-10 02:27] jerrywgz commented on #2911
请问是否有修改过配置文件或ppdet代码呢，我这边测试ppdet 2.0分支是能正常训练的

[2021-05-10 02:29] jerrywgz commented on #2912
目前paddledetection里还只支持coco数据集格式和voc数据集格式的评估，指标的话是mAP，需要将cco格式数据转换为coco或voc数据格式

[2021-05-10 02:31] guotongjian commented on #2912
如果我要算acc的话，加代码要在哪个地方加呢

[2021-05-10 02:32] jerrywgz commented on #2912
我确认下，是希望看coco数据格式的准确率吗

[2021-05-10 02:34] guotongjian commented on #2912
您好，对的，就是准确率，具体的公式应该是TP+TN/ALL这样算的

[2021-05-10 02:42] w2020 commented on #2911
改过配置文件中的numclass为12，因为改过数据集，换成了自己制作的coco的数据集，用过x2coco.py，然后就想生成自己的anchor，运行anchor-cluster，我用命令跑的时候它说找不到配置文件—c--config,然后在ppdet—utils-cli.py里面填的那个——config路径，然后在用命令也只能加载1000个iter的12%来计算新的anchor，还是会说没有architecture。
如果你没问题，那我再重新下一个代码，在试试。谢谢啦

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月10日(星期一) 上午10:27
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&g

[2021-05-10 02:55] jerrywgz commented on #2912
coco数据集可以使用cocoapi评测，测试结果中红框的部分就是不同IOU对应的准确率的值
![image](https://user-images.githubusercontent.com/22989727/117600251-2fbf6480-b17e-11eb-8fc6-ba32dcbf86f7.png)

[2021-05-10 03:03] guotongjian commented on #2912
您好，我想问的不是这个AP值，我想问的是Accuracy=（TP+TN）/（TP+FP+TN+FN），就是基本都是百分之90几，很高的那个值。

[2021-05-10 03:03] dengxinlong opened #2915 "怎么查看一个目标检测模型的计算量？？"
paddle.summay()好像只能查看模型的参数量，如果我想看模型的所需计算量，该怎么查看啊？？

[2021-05-10 03:12] kaikaizhu commented on #2820
用的时网站提供的模型测试的

[2021-05-10 03:19] yghstill commented on #2915
@dengxinlong 如果想查看模型flops，安装paddleslim，使用flops接口可以打印，可以参考如下代码：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/slim/prune.py#L68

[2021-05-10 03:20] zouxiaoshi opened #2917 "s2anet 设置anchor"
如何设置 s2anet中的anchor 配置
[code]
如何配置上述的  anchor_strides anchor_scales 以及 anchor_ratios，可否提供相应的脚本. [类似于yolo生成anchor配置那种]

[2021-05-10 03:21] pixeli99 opened #2918 "请问近期会支持swin作为backbone吗"
请问近期会支持swin作为backbone吗？

[2021-05-10 03:30] yghstill commented on #2918
@lpxgis 感谢关注，Swin Transformer网络正在PaddleClas中开发支持中，应该很快就能推出，之后在检测任务上我们会及时跟进支持这个backbone

[2021-05-10 04:08] #2859 closed, assigned to jerrywgz

[2021-05-10 04:20] #1646 closed

[2021-05-10 04:21] #1689 closed

[2021-05-10 04:21] #1653 closed

[2021-05-10 04:22] #1777 closed

[2021-05-10 04:42] DongChenwei2000 commented on #2905
请问这个离线量化工具是什么？ 是类似于这种方法对onnx模型量化吗https://github.com/PaddlePaddle/PaddleDetection/issues/2810#issuecomment-829122895
还是说其他的离线量化工具？

[2021-05-10 04:48] jiangjiajun commented on #2905
例如TensorRT就有自己的量化工具

[2021-05-10 05:05] yghstill commented on #2881
@guotongjian 现在还有问题吗，是哪个模型有问题？我发的yolov3_darknet的剪裁配置可以跑起来吗？

[2021-05-10 05:42] yghstill commented on #2912
@guotongjian 在eval的时候指定--classwise，可输出PR曲线，具体的值也可以在代码中打印https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/metrics/coco_utils.py#L125

[2021-05-10 06:29] create-li opened #2922 "OSError: (External) Cublas error, `CUBLAS_STATUS_INVALID_VALUE`. 测试推理出错"
OSError: (External)  Cublas error, `CUBLAS_STATUS_INVALID_VALUE`. An unsupported value or parameter was passed to the function (a negative vector size, for example).  (at /paddle/paddle/fluid/platform/cuda_helper.h:93)
PaddleDetection安装成功
但是执行
python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/dygraph/ppy

[2021-05-10 06:37] ximitiejiang opened #2923 "deploy/cpp编译成功但运行时报错error while loading shared libraries: libiomp5.so"
你好！我基于deploy/cpp进行修改的部署框架，在编译过程中没有报错，但运行main时报错了。

系统配置：
- os=ubuntu18.04
- gcc=7.5.0
- cuda=10.2
- cudnn=7.6.5
- tensorRT=6.0.1.8
- paddleinference下载的预编译版本ubuntu14.04_cuda10.1_cudnn7.6_avx_mkl_trt6_gcc82

这里paddleinference版本没有采用ubuntu14.04_cuda10.2_cudnn8_avx_mkl_trt7_gcc82主要因为deploy/python运行时cuda10.2+cudnn8在我机器报错，只能基于cud10.2+cudnn7才能成功(参考issue2888)

代码修改的部分：
- cmakelist中find_package从opencv3改成本机编

[2021-05-10 07:00] ximitiejiang commented on #2923
初步解决了。

在predict.sh中增加了2行，就不报缺库问题
[code]

会有如下预测信息输出了：预测结果基本对了
[code]

[2021-05-10 07:00] #2923 closed, assigned to nobody

[2021-05-10 07:18] dengxinlong opened #2924 "关于量化，量化之后测试出来的帧率反而更低了？？"
![image](https://user-images.githubusercontent.com/32217129/117620064-a8381c80-b1a2-11eb-8896-58085b4e2c80.png)
 上面是采用感知量化训练出来的结果。命令为： python slim/quantization/eval.py -c configs/ssd/ssdlite_mobilenet_v3_large_fpn.yml -o weights=experiment/best_model/

![image](https://user-images.githubusercontent.com/32217129/117620178-caca3580-b1a2-11eb-975e-657127cc73bc.png)
这个是没有量化之后的结果。

可以看见，采用感知量化的fps：27.1

[2021-05-10 07:19] EdwardVincentMa opened #2925 "infer.py"
你好，之前是静态图动态图的问题。
然后我用了你给的全重和参数文件，文什么报这个错误？

(base) mayc1@xt021pc2101001:~/PyProject/PaddleDetection$ python3 tools/infer.py -c configs/ppyolo/ppyolov2_r50vd_dcn_365e_coco.yml -o use_gpu=true weights=config/ppyolo/ppyolov2_r50vd_dcn_365e_coco.pdparams --infer_img=demo/000000014439.jpg

W0510 15:11:36.582141 1675283 device_context.cc:362] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver A

[2021-05-10 07:21] #2925 closed, assigned to nobody

[2021-05-10 07:21] yghstill commented on #2922
@create-li 其他模型有问题吗？确认下在infer的时候显存有多少？可能和版本或显存有关，是否可以先换到cuda 11.0上？

[2021-05-10 07:33] zhenjiaa opened #2926 "tool/infer.py评测没有nms过程吗？"
调低阈值后明显很多类有重复框

[2021-05-10 07:40] dengxinlong opened #2927 "在jetson xavier nx上测试ssd_vgg16_300出现段错误"
[code]
上面是打印的日志，看最后的显示信息是由于某个模块导致了，所以想问一下官方，这是什么问题？？

[2021-05-10 07:49] kali20gakki opened #2928 "2.0rc中dygraph下的gn在rocm平台下loss出错"
环境：paddlepaddle-rocm  2.0.2-rocm-post
           ppdet                        2.0rc0

问题：在rocm平台下，定位到CascadeHead中使用CascadeXConvNormHead时，如果norm_type设为gn，则loss第一步就为nan，学习率设置正确，输出log如下：
ppdet.engine.callbacks INFO: Epoch: [0] [    0/13653] learning_rate: 0.000001 loss_rpn_cls: 0.692172 loss_rpn_reg: 0.012241 loss_bbox_cls_stage0: 97998976.000000 loss_bbox_reg_stage0: 0.039062 loss_bbox_cls_stage1: 0

[2021-05-10 07:52] dengxinlong commented on #2812
老哥，你是怎么看模型的参数大小的啊，就是比如你上面用的SSD，在哪里嵌入代码啊，我尝试了一下，和你一样的错误

[2021-05-10 07:52] #2914 closed, assigned to nobody

[2021-05-10 07:52] dengxinlong commented on #2812
老哥，你是怎么看模型的参数大小的啊，就是比如你上面用的SSD，在哪里嵌入代码啊，我尝试了一下，和你一样的错误

[2021-05-10 08:13] ximitiejiang commented on #2923
同样方法把trt的lib添加一下，就可以用trt加速了。
export LD_LIBRARY_PATH=/home/suliang/MySoftware/TensorRT-6.0.1.8/lib:$LD_LIBRARY_PATH
export PATH=/home/suliang/MySoftware/TensorRT-6.0.1.8/bin:$PATH

[2021-05-10 08:35] kaikaizhu commented on #2820
@qingqing01
我下载的是release2.0的代码，配置如下
paddledet==2.0.1
device: 0, GPU Compute Capability: 6.1, Driver API Version: 10.2, Runtime API Version: 10.2

执行指令python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddlemodels.bj.bcebos.com/object_detection/ppyolo.pdparams --infer_img=demo/000000014439.jpg
得到的结果图是满图的框

尝试了cpu运行，结果也是满图框。
到底是我哪里出了问题，求大佬指点一下

[2021-05-10 08:42] pixeli99 commented on #2918
了解，感谢您的回复🙏

[2021-05-10 08:42] #2918 closed, assigned to nobody

[2021-05-10 09:07] #2910 closed, assigned to nobody

[2021-05-10 10:09] yghstill commented on #2924
@dengxinlong 你直接eval，模型的精度还是fp32，是没有加速的，并且量化后精度下降，会导致nms耗时增加，预测速度反而降低了，量化后模型测速，建议你使用paddle-lite或tensorRT int预测：
- PaddleLite：demo：https://github.com/PaddlePaddle/PaddleDetection/tree/develop/static/deploy/lite
 由于目前只适配了yolo系列，ssd系列cpp文件可参考：https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/ssd_detection
- trt int8：https://github.com/PaddlePaddle/PaddleDetection/tree/develop/sta

[2021-05-10 10:12] yghstill commented on #2926
@lizhenjia1 nms在网络内部，每个模型基本都会有，你确认一下配置文件中nms的nms_threshold设置的是多少，以及重复框的交并比达到多少

[2021-05-10 10:16] yghstill commented on #2927
@dengxinlong 其他模型跑程序正常吗？之前测试deploy/python/infer.py预测是没有问题的，不确定是不是你的paddle版本是否有问题。

[2021-05-10 10:31] yghstill commented on #2928
@kali20gakki 目前gn模型在rocm中支持的不是很好，我们将排期支持下，请先使用bn吧

[2021-05-10 11:08] EdwardVincentMa opened #2930 "trainer.py 添加打印代码无效阿"
想调试 添加删除打印信息无效，为什么

[2021-05-10 11:17] liuhuiCNN commented on #2917
你好，感谢反馈，这个功能我们后续添加。S2ANet中anchor设置参数跟数据相关的是anchor_ratios，您可以通过对数据中物体框的长宽比进行聚类，根据聚类结果设置anchor_ratios这个参数即可。聚类您可以先参考下yolo生成anchor的代码。

[2021-05-10 11:54] dengxinlong commented on #2927
您好，我的paddle是最新的，其他模型（ssdlite-mobilenetv3_large）是正常的，paddledetection是release 2.0-rc的

[2021-05-10 11:56] dengxinlong commented on #2927
您好，我的paddle是最新的，其他模型（ssdlite-mobilenetv3_large）是正常的，paddledetection是release 2.0-rc的

这个模型我是从

这个模型我是用自定义数据训练好了，我用这个模型在coco数据集上跑一下试试。

[2021-05-10 12:02] dengxinlong commented on #2924
这里的话我主要是想在jetson xavier nx上做量化，但是你们文档好像是针对android的啊

[2021-05-10 12:43] yghstill commented on #2930
@EdwardVincentMa 具体想在哪里打印？ppdet中打印log等都使用callback的形式打印。

[2021-05-10 12:53] yghstill commented on #2924
@dengxinlong jetson上使用trt int8模式预测即可

[2021-05-10 12:59] dengxinlong commented on #2924
感谢您的回复，我看您给的文档中的是infer.py，但我想运行的是eval

[2021-05-10 13:02] #2598 closed, assigned to qingqing01

[2021-05-10 13:02] #2494 closed, assigned to qingqing01

[2021-05-10 13:03] #2415 closed, assigned to nobody

[2021-05-10 13:03] #2370 closed, assigned to nobody

[2021-05-10 13:03] #2339 closed, assigned to nobody

[2021-05-10 13:29] dengxinlong commented on #2924
同时，主要是我想使用量化来测试模型，就是不知道paddlelite是否支持jetson xavier nx？？

[2021-05-10 13:31] Hanqingliu-radiology opened #2931 "请问是否可以使用多个FPN的融合？"
例如我想在libra rcnn中将BFP和HRFPN融合起来应该如何操作？

[2021-05-10 15:31] dengxinlong commented on #2924
我在jetson xavier nx上编译安装paddlelite是出现了问题。是不是说paddlelite无法在jetson xavier nx上安装啊？
报错信息： unrecognized command line option '-m16'

[2021-05-11 01:32] DeathKnightChen commented on #2904
@heavengate 我看ppyolov2里有公开tensorrt的性能，这个好像也是paddle预测库跑的，但是我看了下tensorrt好像不支持deformable conv操作，那用paddle预测库跑ppyolov2的tensorrt是如何跑起来的呢，想请教下

[2021-05-11 02:52] Dushuhui opened #2932 "mixup_epoch 训练报错"
![image](https://user-images.githubusercontent.com/33934457/117750869-bb9cc380-b246-11eb-9efb-a61ba172b830.png)
会报如下错误，和我设置的mixup_epoch的数值有关
![image](https://user-images.githubusercontent.com/33934457/117751010-f999e780-b246-11eb-8898-703ebc8139a1.png)

[2021-05-11 03:23] ANewAnonymous opened #2934 "如何修改ppyolov2的输入大小"
目前我看到的输入大小是640x640,如果我想要修改成1280x1280应该修改哪些地方？

[2021-05-11 03:37] Apokar opened #2936 "No matching distribution found for paddlepaddle-gpu==2.0.1.post101"
系统环境:
docker中的Ubuntu18
cuda版本10.1

根据安装文档第一步 python -m pip install paddlepaddle-gpu==2.0.1.post101 -i https://mirror.baidu.com/pypi/simple

pip 提示没有找到符合描述的
[code]

post后面只有107 和 97 这是什么情况呢

[2021-05-11 03:42] wangxinxin08 commented on #2932
可以将worker_num设置成0看下具体的报错原因吧

[2021-05-11 03:43] liuhuiCNN commented on #2934
主要是预处理中的Resize（BatchRandomResize或者Resize）。如有需要可以将TestReader.inputs_def.image_shape 默认值改成您的尺寸。

[2021-05-11 03:46] liuhuiCNN commented on #2936
您试下这个看看：
 `python -m pip install paddlepaddle-gpu==2.0.1.post101 -f https://paddlepaddle.org.cn/whl/mkl/stable.html`

[2021-05-11 04:40] EdwardVincentMa commented on #2930
![Screenshot from 2021-05-11 12-38-48](https://user-images.githubusercontent.com/39480728/117759316-2acde400-b256-11eb-9742-4e191d8077ac.png)
您好，打印如图中第376行：

[2021-05-11 05:07] yghstill commented on #2931
@visionary0421 可以使用HRFPN的架构，然后在refine阶段使用non-local，做到两者的融合https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/ppdet/modeling/backbones/bfp.py#L113

[2021-05-11 05:49] Apokar commented on #2936
哇 这个好耶 解决了 谢谢大佬!

[2021-05-11 05:49] #2936 closed, assigned to nobody

[2021-05-11 06:03] tatianna0 opened #2938 "快速体验报错"
前面安装并没有报错，但在快速体验中最后结果如下图，请问可能因为哪些原因导致
![image](https://user-images.githubusercontent.com/38658920/117766059-8e114380-b261-11eb-916a-14c2d8195662.png)

[2021-05-11 06:29] Apokar commented on #2938
俺也一样,不知道咋回事

[2021-05-11 06:36] yghstill commented on #2930
@EdwardVincentMa 你执行的是tools/infer.py吗，理论上执行tools/infer.py这里print会打印出来

[2021-05-11 07:06] dengxinlong commented on #2924
您说的在jetson xavier nx上直接使用tensorRT，但是我导出模型进行预测后，报错说不支持tensorRT int8。

[code]

[2021-05-11 07:08] yghstill commented on #2924
@dengxinlong 请使用release/2.0或develop分支最新代码：https://github.com/PaddlePaddle/PaddleDetection/blob/develop/static/deploy/python/infer.py

[2021-05-11 07:40] dengxinlong opened #2941 "SSD在coco上训练好的模型是不是没有啊？？"
![image](https://user-images.githubusercontent.com/32217129/117777439-2e219980-b26f-11eb-8df6-7ac177149110.png)
在 上图的链接中下载的是关于SSD-VGG16的预训练模型，我想问一下有没有在coco数据集上训练好的模型啊？？

[2021-05-11 07:53] dengxinlong commented on #2924
在release/2.0上能不能使用 release 2.0-rc上的配置文件(.yml文件)啊？？

[2021-05-11 07:56] Apokar commented on #2938
@tatianna0 哥们我试出来原因了 你换个weights 比如:
`python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o weights=https://paddledet.bj.bcebos.com/models/ppyolo_r50vd_dcn_1x_coco.pdparams --infer_img=demo/000000014439.jpg`

[2021-05-11 08:01] yuemengrui opened #2942 "训练问题：一开始训练应该是正常的，后面loss就全是nan"
![image](https://user-images.githubusercontent.com/24349763/117780371-244d6580-b272-11eb-9af2-89d192f394f9.png)

[2021-05-11 08:06] #2719 closed, assigned to nobody

[2021-05-11 08:12] DongChenwei2000 commented on #2942
+1，请问你是ppyolov2吗

[2021-05-11 08:13] fly8764 opened #2943 "使用PaddleDetection中的ppyolo_mbv3_large_coco模型，进行冻结部分网络层的微调训练"
选用PaddleDetection套件中的ppyolo_mbv3_large_coco模型，使用自己的数据集，进行微调训练，但是想冻结网络的部分层，训练时冻结层的参数不可变。套件中的ppyolo_r50vd_dcn_1x_coco中使用的backbone是resn50，配置文件中有freeze_at来选择冻结至resnet中的第几个stage，但是ppyolo_mbv3_large_coco中没有这个配置参数，自己手动加上会报错，说不存在这个参数。在ppyolo_mbv3_large_coco的yml配置文件中该如何修改呢？

[2021-05-11 08:14] yuemengrui commented on #2942
是的

[2021-05-11 08:20] DongChenwei2000 opened #2944 "ppyolo训练"
在aistudio上训练ppyolov2，开始时可以正常训练，后面就变成nan了。
![MCY Q05{UG@{6((@8HBV~_1](https://user-images.githubusercontent.com/71364549/117782238-04b73c80-b274-11eb-8990-1f1c2de9507a.png)
我按照文档将学习率除以8，然后将batch size调成4，请问是我的修改有错吗？

[2021-05-11 08:58] tatianna0 commented on #2938
谢谢哈~

[2021-05-11 08:58] #2938 closed, assigned to nobody

[2021-05-11 09:11] fly8764 commented on #2842
您好，我想问一下冻结网络层进行训练的问题，能帮忙解答一下吗？
https://github.com/PaddlePaddle/PaddleDetection/issues/2943

[2021-05-11 09:20] dengxinlong commented on #2924
有个重要的问题就是，能否用release/2.0中静态图的代码来使用 tensorRT int8？？

[2021-05-11 09:25] kaikaizhu commented on #2820
readme里的命令weights地址可能不太对，我把命令按照model Zoo里面的地址改了一下，现在可以了

[2021-05-11 10:35] xiegegege commented on #2860
@lhy823436493 是不是浏览器的问题，现在只支持chrome浏览器

[2021-05-11 10:39] liuhuiCNN commented on #2944
默认的learning_rate是8卡训练的，如果您用1卡，学习率除以8，batch_size从12调成4，学习率需要载除以3

[2021-05-11 10:45] liuhuiCNN commented on #2943
您好，ppyolo_mbv3_large_coco使用的backbone是MobileNetV3，没有提供freeze_at参数。您可以打印网络结构和参数，找到您想冻结的layer的参数，通过设置参数属性stop_gradient=True。参数属性stop_gradient=True设置后，在这个参数之前的参数都将冻结。

[2021-05-11 11:09] tatianna0 opened #2950 "voc数据集设置"
请问use_default_label这个在哪
![image](https://user-images.githubusercontent.com/38658920/117806041-5966b180-b28c-11eb-8099-29243a546812.png)

[2021-05-11 11:28] DongChenwei2000 opened #2951 "ppyolov2的评估问题"
评估ppyolov2时出现如下错误。
![{ME`O QF~QS% OBW1VISIR1](https://user-images.githubusercontent.com/71364549/117808102-10642c80-b28f-11eb-950c-9558acc178a1.png)

[2021-05-11 11:30] liuhuiCNN commented on #2951
请您检查一下数据路径配置是否正确？

[2021-05-11 11:33] liuhuiCNN commented on #2950
是的，use_default_label=True，使用默认的voc数据集label。use_default_label=False，从label_list.txt读取类别列表。自定义数据需要设置为False，并提供数据的 label_list.txt 文件。

[2021-05-11 11:40] tatianna0 commented on #2950
非常不好意思打扰一下，use_default_label这个属性是需要自己在reader中添加吗，还是在哪个文件里面

[2021-05-11 11:57] DongChenwei2000 commented on #2944
除以3后还是同样的问题。
![6_8HLE{3~_K)FSNP9FGZ_8W](https://user-images.githubusercontent.com/71364549/117811418-1bb95700-b293-11eb-8c0c-6e47f042c804.png)

[2021-05-11 12:03] DongChenwei2000 commented on #2951
是正确的，这个issue也是同样的问题。https://github.com/PaddlePaddle/PaddleDetection/issues/2733#issue-864508304 我看有人说develop版修复了，是release没修复吗？这个pr： https://github.com/PaddlePaddle/PaddleDetection/pull/2731#issue-620411685 中的文件和release中的完全不一样，我不大清楚如何修改。

[2021-05-11 12:19] GreenValue commented on #2884
- only train

`python tools/train.py -c configs/ppyolo/ppyolo.yml`
train log :[ppyolo_log_only_train.txt](https://github.com/PaddlePaddle/PaddleDetection/files/6458990/ppyolo_log_only_train.txt)

- infer(预测)

CUDA_VISIBLE_DEVICES=0 python tools/infer.py -c configs/ppyolo/ppyolo.yml -o weights=output/ppyolo/model_final.pdparams --infer_dir=demo/cloth
输出：预测出的图，是整个input。效果不好。
![image](https://user-im

[2021-05-11 12:21] EdwardVincentMa opened #2952 "训练voc 数据集如何重置下载？"
你好，我在训练ppyolo_tiny时，因为又开了一个训练，显示错误。然后voc 数据集下载一半报错了，我就把.cache文件夹下的voc图像删除了，想重新下载训练，只删除了一个。可以看到，一个数据集删除后确实从头下载了，但另一个数据集还是从81%开始。但我想全部都删除。
 1%|          | 15193/1952773 [00:32<2:30:55, 213.96KB/s]
 81%|████████▏ | 358091/440450 [14:31<11:37, 118.14KB/s]

我想问问下载的数据集如何全部删除并重新下载训练。

只删除.cache\VOC 文件夹会显示：
No such file or directory: '/home/mayc1/.cache/paddle/dataset/voc/VOCtest_06-Nov-2007.tar_tmp'

[2021-05-11 13:05] dengxinlong opened #2953 "在jetson xavier nx上使用trt_int8出现段错误"
说明：这里是使用的paddleDetection版本是 release 2.0。paddlepaddle：2.0.0。
这里下载好官方的已经训练好的模型参数yolov3_mobilenet_v3_large_270e_coco.pdparams。
使用export_model.py 导出模型：python tools/export_model.py -c configs/yolov3/yolov3_mobilenet_v3_large_270e_coco.yml --output_dir=./inferModel/ -o weights=./model/yolov3_mobilenet_v3_large_270e_coco.pdparams。
使用deploy/python/infer.py 预测模型：python deploy/python/infer.py --model_dir=./

[2021-05-11 13:17] ANewAnonymous commented on #2934
你可以帮我看看我修改的是否正确吗？非常感谢您的帮助！

默认为640x640的输入大小，配置文件如下
[code]
如果我想修改他的输入大小为1024，对他进行了下列修改

[code]
我的修改是否正确？

[2021-05-11 13:24] ANewAnonymous commented on #2951
2.0版本存在着voc数据评估时的bug  建议使用develop版本

[2021-05-11 13:29] ANewAnonymous commented on #2942
你的初始学习率是多少？是否因为太高导致的？如果默认的学习率是为8卡GPU训练配置的，请尝试将学习率除以8

[2021-05-11 13:33] tatianna0 commented on #2950
那请问在数据配置中这个错误的原因是什么
![image](https://user-images.githubusercontent.com/38658920/117823395-01d24100-b2a0-11eb-80a8-e615f8818221.png)

[2021-05-11 13:37] ANewAnonymous opened #2954 "ppyolov2对于小目标检测效果如何？"
如果我想对小目标，比如监控下密集的人群进行检测，该怎么调参优化训练？对于小而密集的目标，我使用ppyolov2训练往往达不到预期的效果

[2021-05-11 14:36] a794133319 opened #2956 "reader WARNING: fail to map op [Decode_6e15d6] with error: 'im_file' and stack:"
![image](https://user-images.githubusercontent.com/55074811/117833945-5928df00-b2a9-11eb-868e-933f16dee6c5.png)
如图，头秃死了

[2021-05-11 14:37] a794133319 commented on #2956
这是使用ppyolo-tiny报的错，使用的是自己的voc数据集

[2021-05-11 14:57] ANewAnonymous commented on #2950
提供一下你的yml配置文件

[2021-05-11 15:54] tatianna0 commented on #2950
我想要用ppyolo_r50vd_dcn_voc.yml做训练，然后可能做得不太对，ppyolo_reader.yml里面斜体加粗的dataset是我自己加的
ppyolo_reader.yml文件如下

worker_num: 2
TrainReader:
  inputs_def:
    num_max_boxes: 50
  _**dataset:
      !VOCDataSet
      anno_path: trainval.txt
      dataset_dir: dataset/voc
      use_default_label: false
      with_background: false**_
  sample_transforms:
    - Decode: {}
    - Mixup: {alpha: 1.5, beta: 1.5}

[2021-05-11 16:27] zhang-xufeng commented on #2715
同样的问题，换了develop版本还是不行，windows环境 pip develop 安装，但是paddle版本还是2.0.2 linx版本应该是2.1，是否是windows给出的安装包没更新

[2021-05-11 18:00] #2770 closed, assigned to heavengate

[2021-05-11 18:01] thugbobby opened #2957 "mask_rcnn执行eval报错"
在训练完成之后执行验证程序时报错，请问如何解决？执行指令为：
`python .\tools\eval.py -c .\configs\mask_rcnn\mask_rcnn_r50_1x_coco.yml -o use_gpu=True`
报错信息如下：
[code]
验证集代码为：
[code]
看报错信息是提示显存不足，但查看显存是基本没有使用的
![image](https://user-images.githubusercontent.com/68416779/117862845-b16dda00-b2c5-11eb-86e7-cc9014a3d69a.png)
运行环境为：GTX1660+WIN10+python3.7+paddleDetection2.0最新版

[2021-05-12 01:51] lessw2020 opened #2958 "Unable to install paddledet, (windows and linux) - receive 'no module named paddle'"
Hi there,
I've attempted to install paddledet on both a Windows10 and a Linux server and both end up with the same final issue.
1 - I installed via the instructions here:
https://aistudio.baidu.com/aistudio/projectdetail/1885319

(paddle) C:\Users\ls\PaddleDetection>python ppdet/modeling/tests/test_architectures.py
Traceback (most recent call last):
  File "C:\Users\ls\PaddleDetection\ppdet\modeli

[2021-05-12 01:51] xupengao opened #2959 "paddledetectiion2.0动态版推理，直接官网安装的测试推理出问题，推理出来的框和标签不对"

[2021-05-12 02:18] jiamingming-004 opened #2960 "使用自己的数据集来训练，出现类别关键字错误"
环境： Aistudio
版本 ：1.84
使用 如下配置： python -u tools/train.py -c configs/hw_configs/yolov3_mobilenet_v1_voc_rats1_template.yml -o use_gpu=True --eval
yml中 路径以改，类别改为： 2
train.txt  ;   valid.txt 格式： ./images/DSC_6101.png ./annotations/DSC_6101.xml
label_list.txt : 1 rats
                     2 others
出现如下错误：
 File "tools/train.py", line 372, in <module>
    main()
  File "tools/train.py", line 148, in mai

[2021-05-12 02:29] luuuyi opened #2961 "retinanet"
你好，问一下，目前动态图版本是不是还不支持retinanet

[2021-05-12 02:33] DeathKnightChen opened #2962 "关于PP-YOLOV2的TensorRT推理"
ppyolov2里有公开tensorrt的性能，似乎是paddle预测库跑的，但是我看了下tensorrt好像不支持deformable conv操作，那用paddle预测库跑ppyolov2的tensorrt是如何跑起来的呢，想请教下

[2021-05-12 02:35] liuhuiCNN commented on #2953
你好，tensorRT_int8请参考文档：
（1）https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html
（2）https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/deploy/TENSOR_RT.md
（3）如果您使用量化前的模型，需要使用校准功能；
（4）如果您使用量化后的模型，需要输入量化后的模型，PaddleDetection提供模型：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/slim

[2021-05-12 02:36] liuhuiCNN commented on #2957
您好，反馈为GPU显存不够，请您检查是否有僵尸进程没有杀掉。

[2021-05-12 02:37] liuhuiCNN commented on #2956
建议您参考这个配置文件进行修改：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/ppyolo_r50vd_dcn_voc.yml

[2021-05-12 02:38] liuhuiCNN commented on #2954
（1）对于小而密集的目标，建议您设置小的anchor，增加一些数据增强策略；
（2）您可以参考行人检测算法：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/pedestrian

[2021-05-12 02:58] liuhuiCNN commented on #2934
这个配置文件是OK的。

[2021-05-12 02:59] a794133319 commented on #2956
我后来尝试使用路标voc数据集跑，配置改为roadsign_voc.yml,能够正常运行，发现是跟voc.yml中的map_type不同，后来改掉map_type跟roadsign的相同后，发现说数据集验证失败，那么map_type代表什么意思啊？

[2021-05-12 02:59] liuhuiCNN commented on #2941
你好，静态图下SSD有coco训练模型，请参考：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static/configs/ssd

[2021-05-12 03:00] liuhuiCNN commented on #2942
请检查学习率是否正确，配置文件中默认是采用8卡训练，如果您用1卡的话，学习率需要除以8

[2021-05-12 03:02] a794133319 commented on #2956
参照这个修改的话,voc.yml里的map_type需要更改吗

[2021-05-12 03:04] liuhuiCNN commented on #2956
不需要了。

[2021-05-12 03:06] a794133319 commented on #2956
更改后又报了新的错误
Traceback (most recent call last):
  File "tools/anchor_cluster.py", line 363, in <module>
    main()
  File "tools/anchor_cluster.py", line 359, in main
    anchors = cluster()
  File "tools/anchor_cluster.py", line 95, in __call__
    self.get_whs()
  File "tools/anchor_cluster.py", line 73, in get_whs
    h, w = rec['h'], rec['w']
KeyError: 'h'

[2021-05-12 03:08] a794133319 commented on #2956
![image](https://user-images.githubusercontent.com/55074811/117912526-426aa280-b312-11eb-9c86-3bcf1d007d8d.png)
![image](https://user-images.githubusercontent.com/55074811/117912544-48f91a00-b312-11eb-8d18-5fc83a7180c0.png)
![image](https://user-images.githubusercontent.com/55074811/117912572-51e9eb80-b312-11eb-9081-fe9176914004.png)
更改后还是报错

[2021-05-12 03:08] ANewAnonymous opened #2963 "PaddleDetection垂直领域中行人检测"
行人检测算法：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/configs/pedestrian
我想知道他的数据集在哪？可否提供？我想复现他

[2021-05-12 03:09] liuhuiCNN commented on #2952
(1) 等数据下载完后再开始训练

[2021-05-12 03:12] #2314 closed, assigned to yzl19940819

[2021-05-12 03:13] #2340 closed, assigned to nobody

[2021-05-12 03:13] EdwardVincentMa commented on #2952
会出现找不到label_list.txt这样的错误:
base) mayc1@xt021pc2101001:~/PyProject/PaddleDetection$ python -m paddle.distributed.launch --log_dir=./ppyolo_dygraph/ --gpus 0 tools/train.py -c configs/ppyolo/ppyolo_tiny_650e_voc.yml |&tee train_ppyolo_tiny_voc_20210511.log
WARNING 2021-05-12 10:52:58,445 launch.py:315] Not found distinct arguments and compiled with cuda. Default use collective mode
INFO 2021-05-12 1

[2021-05-12 03:13] #2373 closed, assigned to nobody

[2021-05-12 03:14] #2523 closed, assigned to nobody

[2021-05-12 03:15] #2752 closed, assigned to heavengate, liuhuiCNN, wangxinxin08

[2021-05-12 03:28] #2952 closed, assigned to nobody

[2021-05-12 03:33] ayicherry opened #2967 "Cublas error, `CUBLAS_STATUS_NOT_INITIALIZED`"
电脑环境：乌班图，CUDA10.1  cudnn8.0  python3.8

在安装paddlePaddle时用的是 python -m pip install paddlepaddle-gpu==2.0.1.post101 -f https://mirror.baidu.com/pypi/simple
安装成功，但是在运行验证代码paddle.utils.run_check()时报错，错误信息是
OSError: (External)  Cublas error, `CUBLAS_STATUS_NOT_INITIALIZED`. The cuBLAS library was not initialized.  (at /paddle/paddle/fluid/platform/cuda_helper.h:84)

请问cuBlas是需要单独安装吗？

[2021-05-12 03:38] #2967 closed, assigned to nobody

[2021-05-12 03:38] ayicherry commented on #2967
暂时搞定了

[2021-05-12 05:06] yghstill commented on #2962
@DeathKnightChen paddle预测库在预测时遇到deformable conv会跳过，不会进trt中计算

[2021-05-12 05:07] yghstill commented on #2924
静态图代码可以使用 TensorRT int8

[2021-05-12 06:39] #2959 closed, assigned to nobody

[2021-05-12 08:04] chuanfuye opened #2969 "自定奕数据集找不到"
系统：Ubuntu18.04
ppdet.utils.download INFO: Dataset /home/wt_yechuanfu/work_code/2weima is not valid for reason above, try searching /home/wt_yechuanfu/.cache/paddle/dataset or downloading dataset...
Traceback (most recent call last):
  File "tools/train.py", line 137, in <module>
    main()
  File "tools/train.py", line 133, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 102, in run

[2021-05-12 08:20] fly8764 commented on #2943
您好，PaddleDetection中使用create()的方式，根据yml文件中的配置信息创建模型，这种方式生成的模型该如何将网络结构可视化？查阅Paddle API，使用modle.summary()和paddle.summary()两种方式。在model = create(cfg.architecture)的代码下面使用上面两种可视化的API，都报错。所以该如何可视化呢？

第二个问题：
找到需要冻结的layer参数，比如是out，需要将out.stop_gredient = True 放到 trainer.py文件对应的文件中，还是对应的yml配置文件中？
麻烦解答一下，不胜感激 :)

[2021-05-12 08:24] dengxinlong commented on #2924
哎，你们这边的文档能不能稍微写清楚一点啊，感觉很乱！！！！！！！

[2021-05-12 08:37] wangxinxin08 commented on #2969
自定义数据集需要修改configs/datasets/里面的配置文件，如果是voc数据集需要修改configs/datasets/voc.yml，如果是coco数据集，需要修改configs/datasets/coco_detection.yml或者configs/datasets/coco_instance.yml

[2021-05-12 08:38] wangxinxin08 commented on #2963
数据集不开源，目前只开源模型

[2021-05-12 08:39] wangxinxin08 commented on #2961
目前动态图中没有retinanet，你可以使用static目录下面静态图的retinanet

[2021-05-12 08:42] dengxinlong commented on #2953
您提到校准，怎么校准，有文档吗？？

[2021-05-12 08:46] wangxinxin08 commented on #2960
在静态图版本下，自定义的voc数据集需要生成labels_list.txt，并将其放在dataset_dir下面，还需要修改配置文件中的use_default_label为false

[2021-05-12 08:50] wangxinxin08 commented on #2958
please refer to https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/INSTALL.md#1-install-paddlepaddle. First, you should install PaddlePaddle, which is a deep learning framework.

[2021-05-12 08:57] chuanfuye commented on #2969
metric: COCO
num_classes: 4

TrainDataset:
  !COCODataSet
    image_dir: images
    anno_path: annotations/instances_train.json
    dataset_dir: /home/wt_yechuanfu/work_code/2weima/
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: images
    anno_path: annotations/instances_val.json
    dataset_dir: /home/wt_yechuanfu/work_code/2weima/

Test

[2021-05-12 09:02] wangxinxin08 commented on #2969
这个格式好像有问题，有缩进的

[2021-05-12 09:07] chuanfuye commented on #2969
和下面的图一样，复制成文字会变成这样格式问题。
![image](https://user-images.githubusercontent.com/55446206/117949103-59c28380-b344-11eb-9b53-9009ff98b2d7.png)

[2021-05-12 09:12] wangxinxin08 commented on #2969
可以贴一下 /home/wt_yechuanfu/work_code/2weima 文件下的文件可以贴个截图吗

[2021-05-12 09:14] chuanfuye commented on #2969
![image](https://user-images.githubusercontent.com/55446206/117950121-71e6d280-b345-11eb-901a-3d34d78c6c2e.png)
![image](https://user-images.githubusercontent.com/55446206/117950160-7ca16780-b345-11eb-8026-8022abe922ef.png)

[2021-05-12 09:22] chuanfuye commented on #2969
路径错了。打扰了。。。。

[2021-05-12 09:22] #2969 closed, assigned to nobody

[2021-05-12 09:23] zhenjiaa commented on #2926
ppyolov2_r50vd_dcn.yml 的nms里没有这个参数，我手动加上后,报错：__init__() got an unexpected keyword argument 'nms_threshold'

[2021-05-12 09:23] chuanfuye commented on #2969
instance--instances

[2021-05-12 09:29] w2020 opened #2970 "自定义的数据集loss值一直在三百到两百之间，然后预测的种类不是我自己数据集里面的十二个种类，好像是coco的种类。"
我的十二个种类
pedestrian
people
bicycle
car
van
truck
tricycle
awning-tricycle
bus
motor
ignored-regions
others
预测了一个汽车car的图片，结果种类是motorcycle，这是怎么回事呀，我的种类里面没有这一项呀，应该预测car才对。
下面是我的loss
Accumulating evaluation results...
DONE (t=0.62s).
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.004
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.014
 Average Pr

[2021-05-12 10:22] EdwardVincentMa opened #2971 "如何训练自己的数据集（voc格式）"
你好，请问有训练自己数据集的文档吗，我现在可以训练voc数据集，他会download voc然后训练，但是我想训练自己的数据集，我将ppyolo_tiny_650e_voc_bdd.yml文件修改如下：
![Screenshot from 2021-05-12 18-08-40](https://user-images.githubusercontent.com/39480728/117957980-2506fa00-b34d-11eb-9743-9c1d03e9d2dc.png)

下面是bdd.yml也修改了：
![Screenshot from 2021-05-12 18-09-43](https://user-images.githubusercontent.com/39480728/117958217-626b8780-b34d-11eb-8363-91fcff79fb74.pn

[2021-05-12 10:26] #2971 closed, assigned to nobody

[2021-05-12 10:27] EdwardVincentMa commented on #2971
可以训练了，数据集不能放到.cache下面，要放到paddledetetion/dataset下面。

[2021-05-12 10:37] EdwardVincentMa opened #2972 "ppyolo_tiny 如何调整训练图像输入尺寸"
你好，我找到了测试图像输入尺寸，没找到训练尺寸：
worker_num: 4
TrainReader:
  inputs_def:
    num_max_boxes: 100
  sample_transforms:
    - Decode: {}
    - Mixup: {alpha: 1.5, beta: 1.5}
    - RandomDistort: {}
    - RandomExpand: {fill_value: [123.675, 116.28, 103.53]}
    - RandomCrop: {}
    - RandomFlip: {}
  batch_transforms:
    - BatchRandomResize: {target_size: [192, 224, 256, 288, 320, 352, 384, 416, 448, 480,

[2021-05-12 14:35] syswyl opened #2974 "ppyolov2 Dygraph 训练极慢"
- 使用最新发布的动态图版本，针对ppyolov2在自定义数据集上训练，使用[ppyolov2](https://paddledet.bj.bcebos.com/models/ppyolov2_r101vd_dcn_365e_coco.pdparams)模型和对应config文件。
- 数据集参照readme准备为[VOC](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/PrepareDataSet.md#%E7%94%A8%E6%88%B7%E6%95%B0%E6%8D%AE%E8%BD%AC%E6%88%90voc%E6%95%B0%E6%8D%AE)格式。
- 集群配置： 因为我配置NCCL似乎没有成功，所以使用单卡训练

cpu 关键信息
Architecture:

[2021-05-12 14:37] syswyl commented on #2974
补充：图像大概2W张，大小为1280*1080 或者640*360

[2021-05-12 16:03] #2950 closed, assigned to nobody

[2021-05-12 16:38] thugbobby commented on #2957
检查过了 并没有僵尸进程哦

[2021-05-12 16:43] wangxinxin08 commented on #2970
自定义数据集需要修改相应的数据配置文件，coco格式的数据集需要修改configs/datasets/coco_detection.yml或者configs/datasets/coco_instance.yml

[2021-05-12 16:44] wangxinxin08 commented on #2972
训练时图像的尺寸是Random选取的，可以在BatchRandomResize里面设置，里面的每一个size都会被均匀采样

[2021-05-12 16:48] wangxinxin08 commented on #2974
建议使用多卡进行训练，ppyolov2模型默认使用8卡训练，另外可以尽可能地把worker_num开的大一些，ppyolo总的训练时长确实比较长，另外可以考虑使用ppyolov2_r50vd_dcn这个模型，这个会相对快一些，精度也不会下降多少，至于ppyolo训练时长的问题，后续会排期优化

[2021-05-13 01:20] w2020 commented on #2970
路径我都改了，numberclass设置的12，然后还改了category.py 里面的 _coco17_category():的clsid2catid和catid2name，改成自己的种类了。 这个也是loss值降不下来，只能识别car。

[2021-05-13 01:36] luuuyi commented on #2961
@wangxinxin08
目前静态图里面所有的模型后续都会在动态图里面支持么

[2021-05-13 01:53] shendaw opened #2978 "ppyolo量化训练map一直为0"
release 0.5 版本
任务训练完成后，map为0.88。加载该模型进行量化感知训练：
[code]
量化训练一万步，每2000步eval一次，每次eval的map都是0：
![e8452c2bf8386497cdf1d7ce8afa763](https://user-images.githubusercontent.com/68847312/118066458-59bc9500-b3d1-11eb-838a-766c7780bf2c.jpg)

加载产出的量化模型进行推理，debug发现维度本应该是[N*6]的输出，结果却是1维的，不论什么输入，值一直为-1。
求解答！

[2021-05-13 02:13] HAOCHENYE commented on #2797
pip uninstall shellcheck-py。
pip install shellcheck-py.
手动重装就好了

[2021-05-13 02:46] #1684 closed

[2021-05-13 02:46] #1593 closed

[2021-05-13 02:47] #1681 closed

[2021-05-13 02:47] #1675 closed

[2021-05-13 02:48] yghstill commented on #2978
@shendaw ppyolo量化要drop_block设为false，因为量化子图构建drop_block会对训练造成很大的干扰：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/configs/ppyolo/ppyolo.yml#L43

[2021-05-13 03:03] #1699 closed

[2021-05-13 03:03] wangxinxin08 commented on #2970
发一下相关的配置文件吧

[2021-05-13 03:09] shendaw commented on #2978
我日，真解决了，跪谢大佬！

[2021-05-13 03:09] w2020 commented on #2970
metric: COCO
num_classes: 12

TrainDataset:
  !COCODataSet
    image_dir: train2017
    anno_path: annotations/instances_train2017.json
    dataset_dir: dataset/coco
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: val2017
    anno_path: annotations/instances_val2017.json
    dataset_dir: dataset/coco

TestDataset:
  !ImageFolder
    anno_pa

[2021-05-13 03:09] #2978 closed, assigned to nobody

[2021-05-13 03:14] wangxinxin08 commented on #2970
看配置文件应该没问题，应该是数据集比较少吧，而car的占比比较大，建议调整学习率试试

[2021-05-13 03:21] w2020 commented on #2970
好的，数据集有六千多张图片。
那ppdet/data/source/category.py 的这个种类是要改的吗？我不改的话好像就会识别到coco上的motorcycle,改了现在是没有，但是还是只能识别car，其他种类的车型是识别不出来，可能是数据集小了。 学习率还要往小了调么，我是单GPU。谢谢啦
def _coco17_category():
    """
    Get class id to category id map and category id
    to category name map of COCO2017 dataset

    """
    clsid2catid = {
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,

[2021-05-13 03:38] 255isWhite opened #2979 "ppyolov2 keyerror"
[code]

[2021-05-13 03:39] wangxinxin08 commented on #2970
正确地设置了数据集的路径这个应该不需要修改，学习率也可以调大试试

[2021-05-13 03:48] wangxinxin08 commented on #2961
有些可能不会支持了，retinanet我们原先考虑的结论是不迁移到动态图

[2021-05-13 06:01] Chen-Song commented on #1391
@Fauny 你好，请问使用ppyolo剪枝后表现掉点多吗

[2021-05-13 06:14] #2972 closed, assigned to nobody

[2021-05-13 06:19] lleesg commented on #2348
请问该bug修复了么？

[2021-05-13 06:24] lleesg commented on #2293
+1

[2021-05-13 06:32] DragonGongY commented on #2348
Nano上一直都有这个问题，建议使用pytorch->onnx，再转到tensorrt部署

[2021-05-13 06:36] dengxinlong opened #2983 "如果想使用paddle-inference是不是的安装paddle-inference，只是安装了paddlepaddle无法使用paddle-inference啊？？"

[2021-05-13 06:52] HAOCHENYE opened #2985 "请问ppdet里的logger，为什么在那么多个文件里被创建了那么多次？并且明明预留了output接口，来存放log，却不给用。"
感觉十分的蛋疼不解。logger的定义又是在import阶段完成的，global_config信息未导入，也没办法根据config信息来指定log save的位置。是有意为之还是啥情况。搞得十分蛋疼

[2021-05-13 06:53] qingqing01 commented on #2979
@billie7 您是自定义数据集吗？看起来是VOC格式，像是label格式不太对

[2021-05-13 06:57] qingqing01 commented on #2983
@dengxinlong

如果是PaddleInference的Python推理，只安装paddlepaddle即可。
如果是PaddleInference的C++推理，需要安装Paddle-inference推理库。

[2021-05-13 06:57] qili93 commented on #2928
@kali20gakki 我们在最新的develop分支代码上验证了一下已经没有loss nan了，你如果是自己的环境，可以尝试使用一下“源码编译”从develop分支或者release/v2.1分支编一个wheel包出来，或者再等一周左右很快会有v2.1.0的ROCM新包发布。

如果你用的是AIStudio的环境，那也要稍等几天，AIStudio那边很快会上ROCM v2.1.0的新包，这个新包里面是没有loss nan的问题的。

[2021-05-13 07:00] dengxinlong commented on #2983
唉，感觉你们的文档说的不清楚啊，并且文档有点乱。在一篇文档中说着说着，就需要跳到另一个文档中，这个文档可能又需要调到再另一个文档，无限递归。。。。。。

[2021-05-13 07:01] qingqing01 commented on #2985
@HAOCHENYE 感谢很好的建议，我们增强下。

[2021-05-13 07:07] qingqing01 commented on #2983
@dengxinlong  文档会优化下，部署文档也在优化。

[2021-05-13 07:08] 255isWhite commented on #2979
@qingqing01  检查了发现确实是label问题,但在跑完一个epoch后就会自动停止,并出现这个问题
[ERROR 2021-05-13 15:02:23,502 dataloader_iter.py:605] DataLoader reader thread raised an exception!
SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
  [Hint: Expected killed_ != true, but received killed_:1 == true:1.] (at /paddle/paddle/fluid/operators/reader/blocking_queue.h:158)

[2021-05-13 07:12] dengxinlong commented on #2983
还有个问题就是，文档中给的demo是图像分类的，如果是目标检测，也是同样的使用流程是吗？？

[2021-05-13 07:14] dengxinlong commented on #2983
[code]
运行的命令：python model_test.py --model_file ../inferModel/ssdlite_mobilenet_v3_large_fpn/ --params_file ../inferModel/ssdlite_mobilenet_v3_large_fpn/ --img_path ../dataset/Udacity/coco/images/1478896958643831455.jpg

报错：std::bad_alloc，也就是无法分配所需要的内存？？

[2021-05-13 07:15] syswyl commented on #2979
这个问题在其他issue中有人提到过，可以搜索来参考着改改

[2021-05-13 07:15] qingqing01 commented on #2983
你具体指的哪个文档？

[2021-05-13 07:16] 255isWhite commented on #2979
@syswyl 自己试了下去掉--eval就可以训练了,我去搜搜改进吧,感谢

[2021-05-13 07:16] qingqing01 commented on #2983
这又是哪个文档？ Paddle Inference的Python部署参考 https://github.com/PaddlePaddle/PaddleDetection/tree/develop/deploy/python 这个即可。

[2021-05-13 07:20] dengxinlong commented on #2983
https://paddleinference.paddlepaddle.org.cn/demo_tutorial/cuda_jetson_demo.html
![image](https://user-images.githubusercontent.com/32217129/118092424-ae2a3980-b3fe-11eb-8afe-918c92ca0958.png)
我看的是这篇文档

[2021-05-13 07:20] HAOCHENYE commented on #2985
希望paddledet越来越好，另外建议每个config里readme发布的模型，能够附带一个log信息，这样用户在训练的时候就能大致知道自己的训练loss是否在一个正常水平了

[2021-05-13 07:28] dengxinlong commented on #2983
不是，主要是你们一下这个文档，一下哪个文档，我想在jetson xavier nx上使用tensorRT，但是这几天我这几个文档来回跳，问题始终没有解决。
我使用的paddleDetection 是 release 2.0-rc分支。
https://github.com/PaddlePaddle/PaddleDetection/tree/develop/deploy/python 这个是你发的文档。
然后因为在jetson xavier nx上使用，所以又有这篇文档：https://paddleinference.paddlepaddle.org.cn/demo_tutorial/cuda_jetson_demo.html

[2021-05-13 07:36] qingqing01 commented on #2983
检测也提供了Jetson部署示例，只不过是TX上的，静态图训练模型的版本  https://github.com/PaddlePaddle/PaddleDetection/blob/develop/static/deploy/cpp/docs/Jetson_build.md   。

[2021-05-13 07:37] EdwardVincentMa commented on #2930
打印不出来的 @yghstill

[2021-05-13 07:38] EdwardVincentMa commented on #2930
是infer.py

[2021-05-13 07:46] dengxinlong commented on #2983
文档中提供的python预测部署也是可以在jetson xavier nx做目标检测的吧。

![image](https://user-images.githubusercontent.com/32217129/118095178-555ca000-b402-11eb-8413-b39212be63a2.png)
在 paddleDetection release 2.0-rc 上使用trt_int8是不是不支持啊？

[2021-05-13 07:48] Williamlizl opened #2988 "paddle paddle 编译tensorRT cmake 报错,cuda=10.0.3 paddle=2.0.2 cmake=3.16.8"
`CMake Error at cmake/configure.cmake:101 (message):
  Paddle needs CUDA >= 10.1 to compile
Call Stack (most recent call first):
  CMakeLists.txt:306 (include)`

[2021-05-13 07:52] dengxinlong commented on #2983
是我使用paddleDetection 版本的问题导致不支持trt-int8还是其他问题？？

[2021-05-13 08:07] lleesg commented on #2597
试了下2.0，还是同样问题，这个问题很多issue提到一直没得到彻底解决。

[2021-05-13 08:10] lleesg commented on #2348
TX2上也一样，paddledetection更新到2.0问题依旧

[2021-05-13 08:34] dengxinlong opened #2989 "如果想使用tensorRT来对模型进行评估，有没有参考文档，我找了好几天都没有找到"
详细描述：能不能使用官方的eval.py，然后使用tensorRT来对模型进行评估，也就是最终得出在tensorRT加速的情况下的mAP值和FPS？？

[2021-05-13 08:46] dengxinlong opened #2990 "使用trt_int8预测一张图片，推理时间比trt_fp16方向差了非常多？？"
trt_fp16的输出：
[code]
推理时间为94.6ms。

下面是trt_int8的输出：
[code]
可以看到，推理时间为33997ms，这是不是反向差的太离谱了啊？？
并且如果我不使用tensor加速是1377ms，反向加速吗？？

[2021-05-13 08:53] aiyodiulehuner opened #2991 "图片旋转后加入训练出现问题"
[code]

[2021-05-13 12:37] qingqing01 commented on #2988
首先这个问题，提示需要CUDA版本>=10.1，您需要检查CUDA版本。

您也可以不源码编译:

如果您是Paddle-Inference C++推理，可以 这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/05_inference_deployment/inference/build_and_install_lib_cn.html#linux  下载TensorRT (trt)的包。

如果是Paddle-Inference Python推理，可以 这里  https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html#whl-release 下载带trt的PaddlePaddle Python  whl安装包。

[2021-05-13 12:38] qingqing01 commented on #2989
@dengxinlong 暂且没有提供，一个方法需要自己基于 deploy/infer.py进行改造，或者讲输出结果保存文件。 再加载文件、组织评估mAP的代码，进行。

您这样做的目的是？

[2021-05-13 12:41] qingqing01 commented on #2990
@dengxinlong 您使用的是Paddle那个版本？PaddleDetection是那个分支？ 您的GPU型号是多少？

[2021-05-13 12:46] qingqing01 commented on #2990
Related to https://github.com/PaddlePaddle/PaddleDetection/issues/2983 。关于INT8推理 @yghstill 最近也在测试量化情况。 可以等我们更新下benchmark后，您再试下也行，最近就会更新下。

[2021-05-13 12:51] qingqing01 commented on #2991
您标注框不太对，目前VOC的数据格式按照 正的标注框读入，下面检查不通过:

https://github.com/PaddlePaddle/PaddleDetection/blob/f0a30f3ba6095ebfdc8fffb6d02766406afc438a/ppdet/data/source/voc.py#L134-L143

x1, y1, x2,y2是左上和右下坐标吗？ 构成正方形的框吗？如果是 需要 x2 > x1, y2 > y1，您上面很多y2 < y1的存在。

[2021-05-13 12:51] dengxinlong commented on #2990
忘了写了。jetson xavier nx。paddleDetection release 2.0 /static 下进行测试的

[2021-05-13 12:53] dengxinlong commented on #2990
之前使用的paddleDetection release 2.0-rc，但是无法使用trt_int8，就换成了PaddleDetection release 2.0版本了

[2021-05-13 14:46] luuuyi commented on #2961
@wangxinxin08 啊 这样么 那些不考虑迁到动态图的方法是出于什么考量么 我理解paddlepaddle之后应该会主推动态了 按道理应该是都迁到动态才符合大方向才对？

[2021-05-14 00:56] RhythmF opened #2995 "模型库里没有yolov4吗？"
介绍里写支持的套件里有v4，但是模型库里没有啊

[2021-05-14 01:31] pixeli99 commented on #2995
应该是在静态图版本里

[2021-05-14 02:06] dengxinlong commented on #2924
您好，之前按照你的建议，使用了deploy/python/infer.py 不过使用的是static下的。
运行输出：
[code]
上面是trt_fp16，但模型是经过感知量化之后的。

下面是trt_int8的输出：
[code]
trt_fp16的推理时间为57.6ms，而trt_int8的推理时间为30000多ms，这实在不合理啊。
问题：
1. 两者差别太大，并且我的模型是经过感知量化之后的，为什么？
2. 在对模型训练完之后，使用tools/eval.py进行评估的时候，fps在30多，但这里推理的时间是不是太长了，不管是哪种方式，是不是计算方式不一致？
环境：jetson xavier nx，测试模型：ssdlite-mobilenetv3_large_fpn，数据集：自定义数据集

[2021-05-14 02:07] RhythmF commented on #2995
没有找到啊

[2021-05-14 02:10] qingqing01 commented on #2995
静态图里有，动态里没有，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.0/static/configs/yolov4

[2021-05-14 02:24] wangxinxin08 commented on #2961
主要看模型的需求情况，从issue上来看，retinanet的需求比较少，因此考虑不迁移到动态图，如果后续需求增加，也会考虑支持

[2021-05-14 02:59] Flyooofly opened #2997 "自定义数据集训练完后，推理时显示的全是coco的类别，自定义的类别一个没有。。。"
configs/datasets/coco_detection.yml如下
metric: COCO
num_classes: 2

TrainDataset:
  !COCODataSet
    image_dir: train
    anno_path: annotations/trainbelt.json     //自定义数据集的json
    dataset_dir: dataset/coco/
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: val
    anno_path:  annotations/valbelt.json
    dataset_dir: dataset/coco/

TestDatas

[2021-05-14 03:04] EdwardVincentMa opened #2998 "ppyolo_tiny 训练，learning rate 不变"
learning late初始值是0.001，起初慢慢增长到0.001， 训练迭代到81个epoch， 显示还是 0.001，没变化。

训练图像 16666张，batchsize: 4。

step: 4000
gamma：0.1

[2021-05-14 03:16] #2818 closed, assigned to nobody

[2021-05-14 03:20] usuixingyili opened #2999 "导出行人检测模型预测视频中途报错"
CUDA 10.2,  CUDNN 7.6.5， PaddlePaddle 2.0.2
预测时长为30 min左右的视频在第3帧报错，导出该帧图片预测没有报错。另外预测一个时长为4 h的视频在2 w多帧也报错。
![屏幕截图 2021-05-14 111149](https://user-images.githubusercontent.com/74706568/118216539-4a5b4b80-b4a6-11eb-9e5d-6220d895a06c.png)
![屏幕截图 2021-05-14 111243](https://user-images.githubusercontent.com/74706568/118216542-4b8c7880-b4a6-11eb-8e23-2ebdf7d466e4.png)
![屏幕截图 2021-05-14 102132](https://us

[2021-05-14 05:42] kali20gakki opened #3000 "关于动态图的MultiscaleTestResize使用问题"
关于动态图的MultiscaleTestResize使用，静态图里面有使用示例，动态图里貌似现在还没有示例，直接添加到EvalReader里也不行

[2021-05-14 06:04] qingqing01 commented on #2420
@hymanzhu1983 抱歉，之前没有及时跟进，您如果是内部同学，我们拉个群解决下~

[2021-05-14 06:38] Williamlizl commented on #2488
解决了吗

[2021-05-14 07:37] Williamlizl opened #3002 "ExternalError: Cudnn error, CUDNN_STATUS_BAD_PARAM (at /paddle/paddle/fluid/operators/batch_norm_op.cu:199) [operator < batch_norm > error]"
`ExternalError:  Cudnn error, CUDNN_STATUS_BAD_PARAM  (at /paddle/paddle/fluid/operators/batch_norm_op.cu:199)
      [operator < batch_norm > error]`

--use_gpu=True, 报错; False, 可以运行

安装环境；
ubantu: 16.04.6
cudnn: 7.6.5
cuda: 10.0.130
paddlepaddle:  cuda10.0-cudnn7.6-trt6.0.1.5(paddlepaddle_gpu-2.0.2.post100-cp36-cp36m-linux_x86_64.whl)

[2021-05-14 08:11] Williamlizl commented on #2988
按照说明安装了cuda10.0-cudnn7.6-trt6.0.1.5，尝试后：
`FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1620979626 (unix time) try "date -d @1620979626" if you are using GNU date ***]`
--run_mode trt_fp16 报错；fluid 正常
cudnn: 7.5.0
cuda: 10.0.130

[2021-05-14 08:17] ghost opened #3004 "关于类间不平衡"
请问PaddleDetection中有提供处理数据集类间不平衡的工具或者接口么？

[2021-05-14 08:45] hablee commented on #2723
我也有同样的问题，虽然我用的不是ppyolov2，用的是yolov3_mobilenet_v1_roadsign.yml

[2021-05-14 09:00] hablee opened #3005 "AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'sync_batch_norm'"
在[这里](https://aistudio.baidu.com/aistudio/projectdetail/1261400)学习使用paddleDetection的时候，使用`python -u tools/train.py -c configs/yolov3/yolov3_mobilenet_v1_roadsign.yml -o use_g
pu=False --eval` 报错：
`AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'sync_batch_norm'` 请问是什么原因呢

[2021-05-14 09:02] xupengao opened #3006 "训练coco数据集卡死，if isinstance(item, collections.Sequence) and len(item) == 0: 一直卡住"
[code]

一直卡死在这里，并且GPU显存都占满了

[2021-05-14 10:17] qingqing01 commented on #2988
cuDNN的版本也需要对应

[2021-05-14 10:36] oldZhangYH commented on #2893
万分感谢！

[2021-05-14 10:38] oldZhangYH commented on #2893
万分感谢！

[2021-05-14 12:16] yghstill opened #3010 "PaddleDetection登github Trending Python榜第一"
![image](https://user-images.githubusercontent.com/15628872/118269160-f32e9880-b4f0-11eb-846b-0b71e873ec04.png)
要继续冲呀~

[2021-05-14 12:23] heavengate commented on #3010
冲鸭！！！

[2021-05-14 12:27] heavengate commented on #2997
你好，推理的时候使用的是`TestDataset` 需要修改一下`TestDataset`里的anno配置，看你配置文件里面没修改
[code]

[2021-05-14 12:28] qingqing01 commented on #3006
@xupengao 还有其他错误信息吗？您是官网的COCO数据集吗？ 机器环境是咋样的？

[2021-05-14 12:28] heavengate commented on #2998
你好，你使用的是静态图还是动态图的配置呢，麻烦贴一下你的配置文件我们确认一下

[2021-05-14 12:29] qingqing01 commented on #3005
@hablee 最新2.0分支代码已经修复。您可以参考 https://github.com/PaddlePaddle/PaddleDetection/commit/6af489978e1d26f845a65cb6ee14b534cabb07d5 这里改下

[2021-05-14 12:30] heavengate commented on #2999
你好，批量预测先少量CUDA 显存泄漏问题，我们在紧急定位中，2w帧图像看报错是显存泄漏了，可以减小预测帧数试下，我们也会在第一时间修复这个问题

[2021-05-14 12:31] heavengate commented on #3000
你好，你添加之后的配置文件是怎么样的呢，已经报错信息麻烦给一下

[2021-05-14 12:31] qingqing01 commented on #3002
@wilhelmzh

你本地cuDNN版本是多少？ 一开始一般会打印环境信息，如果安装的PaddlePaddle的cuDNN版本和本地的版本不匹配，会有信息打印，您看下是否匹配

[2021-05-14 12:32] heavengate commented on #3002
看报错信息像是cuDNN版本不匹配，程序启动的时候应该会打出warning信息，可以看先有没有cuDNN版本的warning信息

[2021-05-14 12:34] kali20gakki commented on #3000
@heavengate 感谢回复，
我是按下面这样添加：
EvalReader:
  sample_transforms:
  - Decode: {}
  #- Resize: {interp: 2, target_size: [800, 1333], keep_ratio: True}
  - MultiscaleTestResize: {interp: 2, target_size: [[640, 1333], [672, 1333], [720, 1280], [800, 1333]]}
  - NormalizeImage: {is_scale: true, mean: [0.485,0.456,0.406], std: [0.229, 0.224,0.225]}
  - Permute: {}
  batch_transforms:
  - PadBatch: {pad_to_

[2021-05-14 12:34] heavengate commented on #3004
静态图里有个class aware sampling解决类间不平衡问题，可以参考下
https://github.com/PaddlePaddle/PaddleDetection/blob/8968a22fb06a8a7a313ee9b4bdde7d8a58e33f0d/static/configs/cascade_rcnn_cls_aware_r101_vd_fpn_1x_softnms.yml#L75

[2021-05-14 12:36] heavengate commented on #3006
你好，训练的是哪个模型呢，以及是自定义数据集么，数据集有啥特点么，看着像是数据集一直没有读出来合法样本

[2021-05-14 12:38] heavengate commented on #3000
你好，麻烦`reader.yml`里`num_worker: 0`设置一下看看具体报什么错

[2021-05-14 12:39] shfsidh commented on #3004
谢谢，我去看一下，顺便问一下这个模型16G的卡可以跑的吧，如果bs=1的话

[2021-05-14 12:42] xupengao commented on #3006
没有报错，是自定义数据集转的coco, 用的cuda11, 显卡是3090

[2021-05-14 12:42] ghost commented on #2856
非常感谢您，我已经在静态图版本跑起来了，只是所需的显存比较大

[2021-05-14 12:43] kali20gakki commented on #3000
@heavengate  已经设置了 worker_num: 0， 但是报的错貌似和上面一样：
Traceback (most recent call last):
  File "tools/eval.py", line 113, in <module>
    main()
  File "tools/eval.py", line 109, in main
    run(FLAGS, cfg)
  File "tools/eval.py", line 88, in run
    trainer.evaluate()
  File "C:\Users\Mrtutu\anaconda3\envs\paddle\lib\site-packages\ppdet-2.0rc0-py3.7.egg\ppdet\engine\trainer.py", line 283, in evaluate

[2021-05-14 12:45] xupengao commented on #3006
训练的PPYOLOV2，自定义数据集，转的coco格式，数据集没什么特点，显存占用很大，我把僵死进程杀死，释放显存可以训练，但是偶尔还是会卡住

[2021-05-14 13:14] xiao-f-y opened #3011 "生成模型预测时报错KeyError: 'image_shape'"
![image](https://user-images.githubusercontent.com/79433100/118275667-515f7980-b4f9-11eb-8add-e41047007ad9.png)

[2021-05-14 13:29] Williamlizl commented on #3002
--use_gpu=True, 报错; False, 可以运行

安装环境；
ubantu: 16.04.6
cudnn: 7.6.5
cuda: 10.0.130
paddlepaddle: cuda10.0-cudnn7.6-trt6.0.1.5(paddlepaddle_gpu-2.0.2.post100-cp36-cp36m-linux_x86_64.whl)

[2021-05-14 14:03] Williamlizl commented on #3002
`Traceback (most recent call last):
  File "deploy/python/infer.py", line 552, in <module>
    main()
  File "deploy/python/infer.py", line 481, in main
    predict_image(detector)
  File "deploy/python/infer.py", line 410, in predict_image
    results = detector.predict(FLAGS.image_file, FLAGS.threshold)
  File "deploy/python/infer.py", line 139, in predict
    self.predictor.run()
OSError: In us

[2021-05-14 14:26] HAOCHENYE opened #3012 "复现ViTransFormer发现LayerNorm出现Nan的问题"
你好，目前我正打算尝试移植ViT,复现过程中我发现了以下问题，还望能够解惑：

[code]

我在本地运行这段代码，发现res_pd出现了很多的NaN，经过调试nan是在layernorm层中出现的，但是据我观察，我认为layernorm不应该出现nan才对，生成的随机数方差不至于是0，至于eps也是默认的1e-5，咋能出现nan呢。我尝试在AI Studio中运行这部分代码，发现cpu服务器情况下结果并未出现nan(代码是从pytorch移植，torch也未出现nan)。我一开始以为可能是数据不同步造成的，使用paddlepaddle gpu版，在cpu端和gpu端进行测试，仍然出现了Nan，请问这是怎么回事呢？希望能解答

[2021-05-14 14:57] Flyooofly commented on #2997
你好，感谢回答！
然后我把这里改成和val那里的一样了可以吗，但还是不太懂推理的时候为什么还跟这个有关系呢，我给他需要测试的图片的文件路径和训练过的权重不就好了吗，为啥还要这个呀。
另外，我用ppyolov2-101那个训练了200个epoch,为啥效果很差呀。。我其实是要框人。。但框出来一堆别的东西而且准确率都在0.2作用
还有个问题，
![image](https://user-images.githubusercontent.com/31236750/118289342-d5206280-b507-11eb-90fe-035372aab238.png)

就这种训练时候的输出，Epoch[199][0/7]后面的[0/7]是啥意思啊。。是根据batchsize算的吗？总以为接下来会出现Epoch[0][1/7]。。。
麻烦了！

[2021-05-14 15:35] gzf11 opened #3013 "使用源码编译，运行python setup.py install 报错ImportError: cannot import name 'cpp_extension' from 'paddle.utils'"
查看安装的paddle.utils内没有cpp_extension，将cpp_extension注释后可成功运行，这是我漏安了cpp_extension还是，在setup.py中多写了一句from paddle.utils import cpp_extension

[2021-05-14 15:44] ouxinyu opened #3014 "PPDet训练PCB数据集，YOLO系列无法输出eval结果"
在使用PaddleDetection2.0进行PCB数据集训练的时候，使用FasterRCNN模型是正确的，使用YOLOv3和PPYOLO模型训练的时候，eval功能不起作用，不会输出recall和precision，直接使用eval对生成的模型进行验证的时候也是一样的，不会输出召回率和精确率。
结果如下：

- **PPYOLO**
[05/14 23:03:28] ppdet.utils.checkpoint INFO: Finish loading model weights: C:\Users\Administrator/.cache/paddle/weights\ResNet18_vd_pretrained.pdparams
loading annotations into memory...
Done (t=0.00s)
creating index...
index crea

[2021-05-14 19:17] ghost opened #3015 "有关faster_rcnn_cbr101_vd_dual_fpn_1x.yml运行问题"
我想使用最新版PD中static/configs/faster_rcnn_cbr101_vd_dual_fpn_1x.yml，且修改了数据集的内容。但当我尝试运行时，出现了如下错误：
`Traceback (most recent call last):
  File "tools/train.py", line 412, in <module>
    main()
  File "tools/train.py", line 239, in main
    exe, train_prog, cfg.pretrain_weights, ignore_params=ignore_params)
  File "/home/work/mnt/project/PaddleDetection_old/static/ppdet/utils/checkpoint.py", line 115, in

[2021-05-14 19:19] ghost commented on #3004
非常感谢，已经开始训练了

[2021-05-14 20:06] shfsidh commented on #2849
你好，请问你解决这个问题了么，我和你遇到了类似的问题，怀疑也是annotations的问题，所以想参考下。

[2021-05-15 00:06] GreenValue opened #3016 "PaddleDetecton install error"
- Enviroment
paddlepaddle/paddle:2.0.1-gpu-cuda10.0-cudnn7

- cmd

[code]

- Output
`https://github.com/koalaman/shellcheck/releases/download/` ， 无法访问该url

[code]

[2021-05-15 04:23] pipishaw opened #3017 "export_model导出模型报错"
PaddleDetection2.0用export_model导出Serving
params_filename设为“model.pdiparams”导出正常，但是在Serving运行客户端的时候报错：
[code]

[2021-05-15 05:59] jerrywgz commented on #3017
导出serving模型时，需要设置export_serving_model为True

[2021-05-15 06:03] jerrywgz commented on #3016
you could refer to https://github.com/koalaman/shellcheck/issues/1803 this issue and try python >=3.6

[2021-05-15 07:03] pixeli99 opened #3018 "关于文件格式问题"
![image](https://user-images.githubusercontent.com/46072190/118351441-a7cac780-b58e-11eb-8411-024c8b345828.png)
请问一下，这个图片里MOT16-02.txt里面内容应该是什么格式的呀，这是develop分支里的。

[2021-05-15 08:32] zhangming8 opened #3019 "anchor based VS anchor free"
Hi，感谢百度研究人员的贡献。
我有两个问题请教一下：
    1. 这里改进的PAFnet的mAP是42.2(512x512, resnet50-vd)。目前的anchor free的mAp已经到50了，当然这里面会有输入尺寸、backbone大小、fpn等的影响。所以我想问一下PAF的最好结果是多少有试过吗？
    2. 从FCOS、ATSS中的结果看anchor based和anchor free结果相差不大。但是从你们的实验结果看似乎anchor based更好(ppyolov2)？

[2021-05-15 08:35] JustinHuang1984 opened #3020 "复现ppyolov2_r50vd_dcn和ppyolov2_r101vd_dcn时都出现卡死"
[复现训练ppyolov2_r50vd_dcn和ppyolov2_r101vd_dcn模型时出现卡死，比如说我max_iters设定为1000，基本上训练到300多就不动了。另外奇怪的是我使用2080ti和1060ti的显卡训练没问题，但是使用1080ti和rtx2070就会出现这个问题，不知道为什么挑显卡

[2021-05-15 09:36] bbbxixixixi opened #3021 "断点训练会先验证一次再接着训练，并且冲掉了真正的best model"
从-r output/cascade_rcnn_dcnv2_se154_vd_fpn_gn_cas/40000接着训练，本意是接着后面40001训练下去，可是却会先验证一次，并且会以这一次的结果保存为best model。但有时候又不会验证这一次

2021-05-15 15:45:21,652 - INFO - iter: 40000, lr: 0.001840, 'loss_cls_0': '0.064016', 'loss_loc_0': '0.035267', 'loss_cls_1': '0.045407', 'loss_loc_1': '0.056999', 'loss_cls_2': '0.026054', 'loss_loc_2': '0.043186', 'loss_rpn_cls': '0.002512', 'loss_rpn_bbox': '0.010408', 'l

[2021-05-15 09:52] shyn commented on #2974
希望早日优化，同样单卡，r50 也是很慢。

windows 10 环境，rtx 2080 8G，ppyolov2_r50vd_dcn
观察 cuda 使用情况，没有完全利用， 60% 左右，独立显存使用大概 6G。

cmd 有时似乎卡死，cuda 使用降到 0.

[2021-05-15 15:00] lmk123568 opened #3022 "关于新增模型遇到的问题"
需要基于paddle开发新的检测模型，新增了shufflenetv2魔改的模型`shufflenet_v2.py`
[code]
在backbone文件下`__init__`增加
[code]
然后在YOLOv3配置下`__base__`新增文件`yolov3_shufflenet_v2`
[code]
运行`yolov3_shufflenet_v2_roadsign.yaml`
[code]
报错
![45414bb4d2b9ef7e76242d6e0b5b5ee](https://user-images.githubusercontent.com/60082702/118365828-dc5f7300-b5d0-11eb-8409-a4a4868257c5.png)

[2021-05-15 15:04] Monday-Leo opened #3023 "模型转换"
动态图导出的模型，如何转成以前静态图的__model__和__params__?

[2021-05-15 15:38] luqihui opened #3024 "新版本怎么使用数据增强啊？"
以前的版本yml配置文件里都有sample_transforms和batch_transforms的，更新之后怎么没了，要自己写吗？

[2021-05-16 02:41] yghstill commented on #3024
@luqihui 还有的，每个配置文件会指定reader的配置，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml#L6

在reader的配置文件里还有sample_transforms和batch_transforms： https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/ppyolo/_base_/ppyolo_reader.yml#L5

[2021-05-16 02:49] luqihui commented on #3024
@yghstill 好的我看到了，谢谢您

[2021-05-16 03:07] pipishaw commented on #3017
配了

[2021-05-16 03:54] Flyooofly opened #3026 "ppyolov2效果很差，我聚类了锚效果也不好"
我用ppyolov2-101那个训练了200个epoch,为啥效果很差呀。。我其实是要框人。。但框出来一堆别的东西而且准确率都在0.2作用
还有个问题，
训练时候的输出，Epoch[199][0/7]后面的[0/7]是啥意思啊。。是根据batchsize算的吗？总以为接下来会出现Epoch[0][1/7]。。。

[2021-05-16 07:40] shyn opened #3027 "训练到中途会出现 cuda error 退出"
两次训练两次复现。

环境：
Windows 10
cuda 10.0
paddledetection release/2.0 分支
自己准备的训练集，分布使用 ppyolo_r50vd_dcn_1x_coco 和 ppyolov2_r50vd_dcn_365e_coco 的配置，配置仅针对单卡修改了batch_size 和 lr

每次训练 GPU 使用率都基本不超过 60%，中途无人值守，没做任何操作。
错误信息(for SEO)：

OSError: (External) Cuda error(77), an illegal memory access was encountered.
paddle\fluid\platform\gpu_info.cc:301

![屏幕截图ppyolo 2021-05-15 181713](https://user-images.githubuse

[2021-05-16 12:44] heavengate commented on #2997
1. 预测的时候也需要读annotation里的类别信息，程序才知道预测的类别是啥再可视化画图，如果没给默认给的是coco数据集的类别信息
2. 可以排查一下`num_classes`配置是否跟你数据集的配置一致，`0/7`是指每个epoch训练7个iter，就是`数据集样本数/卡数/每卡batch_size`，你这个数据集应该比较小，YOLO系列模型收敛比较慢，可以多训练些轮次试试

[2021-05-16 12:45] heavengate commented on #3000
看着是数据集里数据读取有问题，不加`MultiscaleTestResize`能正常跑么

[2021-05-16 12:47] heavengate commented on #3002
看报错信息里是`batch_norm`里获取cuDNN的状态出错，一般是cuDNN版本不对或者cuDNN没有正确安装之类的问题，可以参考安装文档排查一下cuDNN的安装
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html

[2021-05-16 12:48] heavengate commented on #3004
鉴于问题已经解决，当前issue就先关闭了，如果还有问题可以reopen此issue~

[2021-05-16 12:48] #3004 closed, assigned to nobody

[2021-05-16 12:48] kali20gakki commented on #3000
使用Resize: {interp: 2, target_size: [800, 1333], keep_ratio: True}是可以正常eval的，使用MultiscaleTestResize就报错了

[2021-05-16 12:49] heavengate commented on #3006
PP-YOLOv2的默认配置是在32G V100上训练的，如果你使用的显卡内存低于32G，可以对应调小一下batch size

[2021-05-16 12:50] heavengate commented on #3011
模型导出的时候`TestReader`里面配置了`image_shape`么

[2021-05-16 12:52] heavengate commented on #3012
你好，你这个问题可以在  https://github.com/PaddlePaddle/Paddle/issues  这里提一下issue，会有LayerNorm的负责研发跟进一下~

[2021-05-16 12:53] heavengate commented on #3013
我们提供的`setup.py`里面应该是没有`from paddle.utils import cpp_extension`，另外如果是`paddle.utils`内没有`cpp_extension`应该是Paddle版本比较老，可以安装最新的Paddle版本试试

[2021-05-16 12:53] #3013 closed, assigned to heavengate

[2021-05-16 12:54] heavengate commented on #3014
评估信息不是已经输出了么，前一半`Average Precision`是准确率，后一半`Average Recall`是召回率
[code]

[2021-05-16 12:56] heavengate commented on #3015
麻烦贴一下你的修改配置信息，另外看报错是下载预训练权重时报的错，你是否修改了预训练权重的配置

[2021-05-16 12:59] #3012 closed, assigned to heavengate

[2021-05-16 12:59] #3014 closed, assigned to heavengate

[2021-05-16 13:04] heavengate commented on #2837
鉴于问题已经解决，当前issue就先关闭了，如果还有问题可以reopen此issue~

[2021-05-16 13:04] #2837 closed, assigned to yghstill

[2021-05-16 13:10] JustinHuang1984 commented on #3027
我用1080ti和rtx2070显卡也会出现这个问题，换2080ti和1060没问题

[2021-05-16 13:13] heavengate commented on #3011
@liuhuiCNN 关注一下是否是动态`image_shape`导出引入的问题

[2021-05-16 13:52] linyangsdu opened #3029 "关于动态图中 MultiScaleTest 以及 MultiClassSoftNMS 的使用"
1.  MultiClassSoftNMS 只在静态图中，请问动态图中有无替代
2. MultiScaleTest 在动态图版本中有无示例
3. 动态图版本模型是否可以直接在静态图中使用

[2021-05-16 14:04] yghstill commented on #3026
@Flyooofly
- 看你描述，你的数据集应该很小吧？Epoch[199]表示当前训练epoch数，[0/7]表示当前epoch下的`训练轮数/总轮数`。效果差可能是由于你数据集太小，不易收敛，将数据增强方法去掉再试下吧。
- 默认log_iter是20，即每隔20轮打印一次log：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/runtime.yml#L2 ，如果想要每轮都打印log，则将log_iter设为1即可。

[2021-05-16 15:09] dengxinlong opened #3030 "在jetson xavier nx上使用trt_int8推理ssdlite_mobilenet_v3模型，推理时间反而比不使用trt_int8更大？？"
使用了static/deploy/python/infer.py 不过使用的是**static**下的。推理模型是ssdlite_mobilenet_v3。
说明：推理的模型是经过感知量化训练之后的。但是，没有经过感知量化训练的模型我也测试了，数值有差别，但是trt_int8的推理时间仍然比不使用trt_int8更长。
运行输出：
[code]
上面是trt_fp16，但模型是经过感知量化之后的。

下面是trt_int8的输出：
[code]
trt_fp16的推理时间为57.6ms，而trt_int8的推理时间为30000多ms，这实在不合理啊。
问题：

两者差别太大，并且我的模型是经过感知量化之后的，为什么？
在对模型训练完之后，使用tools/eval.py进行评估的时候，fps在30多，但这里推理的时间是不是太长了，不管是哪种方式，是不是计算方式不一致？
环境：jetson x

[2021-05-16 15:41] luqihui commented on #3024
@yghstill 你好，我想将每种数据增强后的效果展示出来，需要自定义数据增强方法吗？

[2021-05-16 16:06] lao-xu opened #3031 "动态图ssd的loss问题"
ssd_loss文件更新后虽然比之前速度提升一倍，经测试仍然明显慢于静态图约25%，感觉还是有问题
此外2.0版本的静态图准确率似乎低于之前的静态图版本，但这没有测试，只是个大致感觉

[2021-05-17 00:54] xupengao commented on #3006
已经调的很小了，现在不知怎么回事，什么也没改，在静态图上可以训练了，但是迭代一千多次，突然loss都成nan了

[INFO 2021-05-17 08:31:51,932 train.py:302] iter: 1100, lr: 0.005000, 'loss_xy': '1.190825', 'loss_wh': '2.728956', 'loss_obj': '11.797029', 'loss_cls': '
0.496593', 'loss_iou': '4.351842', 'loss_iou_aware': '0.794992', 'loss': '21.993271', eta: 14:52:15, batch_cost: 0.54131 sec, ips: 3.69473 images/sec
2021-05-17 08:32:02,620 - INFO - iter:

[2021-05-17 01:47] #2990 closed, assigned to yghstill

[2021-05-17 01:59] yghstill commented on #3027
@shyn 你的显卡型号和cuda版本是多少，此前没有测试出cuda error的问题，我们定位复现下

[2021-05-17 02:00] yghstill commented on #3024
@luqihui 使用DebugVisibleImage 看能不能满足你的需求：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/data/transform/operators.py#L1743

[2021-05-17 02:29] qingqing01 commented on #2849
@shfsidh  如果在运行中有报很多warning，注意检查下数据annotations的格式。 上面YuEn-git的问题，需要把annotations重写制作下，file_name需要保持和图片路径下名字一致。

[2021-05-17 02:32] Williamlizl commented on #3002
如果服务器中有多版本cuda,包括10.0,10.1,10.2，怎样才能确保paddle 使用的某一个版本的cuda

[2021-05-17 02:51] jundongAI opened #3032 "ppyolov2训练官方指定roadsign数据集loss不下降"
根据官方教程跑了ppyolov2模型，利用roadsign数据集训练，Loss训练到最后一直卡在10几不下降，AP不到0.1
单卡训练，学习率也缩小了10倍

_BASE_: [
  '../datasets/coco_detection.yml',
  '../runtime.yml',
  './_base_/ppyolov2_r50vd_dcn.yml',
  './_base_/optimizer_365e.yml',
  './_base_/ppyolov2_reader.yml',
]

snapshot_epoch: 8
weights: output/ppyolov2_r50vd_dcn_365e_coco/model_final

architecture: YOLOv3
pretrain_weights: https://paddledet.bj.bcebos.com/

[2021-05-17 02:53] #2927 closed, assigned to nobody

[2021-05-17 02:54] jerrywgz commented on #3018
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/source/mot.py#L209 在标注文件中需要以此给出类别，id，中心点坐标，w，h这几个信息，需要注意的是，MOT数据集中中心点坐标和w,h这几个信息是归一化到[0,1]之间的

[2021-05-17 03:05] jerrywgz commented on #3019
目前PAFNet的效果是基于ResNet50的backbone做优化的，还没有使用更大的backbone实验
从算法上而言，anchor free的方法跟单阶段的方式本质上是类似的，目前看ppyolov2是优化效果最好的模型，我们目前也还在继续探索anchor free的算法

[2021-05-17 03:10] jerrywgz commented on #3020
可以尝试下将https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/ppyolo/_base_/ppyolov2_reader.yml#L1 这里的worker_num减小为2试下

[2021-05-17 03:11] jerrywgz commented on #3021
感谢反馈，这个问题我们验证下

[2021-05-17 03:22] jerrywgz commented on #3022
我这里用你的代码验证了下，是register成功的，你的paddledet是否通过pip的方式安装了，可以pip uninstall paddledet 然后再运行训练代码

[2021-05-17 03:24] jerrywgz commented on #3023
现在动态图导出模型均使用paddle.jit.save的方式导出，格式和原先静态图方式不同，在预测部署阶段，两种格式的导出模型都是可以被正确加载的

[2021-05-17 03:31] yghstill commented on #3029
@linyangsdu
1. 动态图下只有MultiClassNMS，MultiClassSoftNMS还未做迁移，可以先使用MultiClassNMS
2. MultiScaleTest也还没来得及迁移至动态图中
3. 动态图模型和静态图模型组网设计完全不一致，不可以直接融合

[2021-05-17 03:34] yghstill commented on #3030
@dengxinlong 你将use_calib_mode 设为False再测试下呢，use_calib_mode只在trt离线量化才会有效，否则会影响预测速度，这个问题在develop分支的代码下修复了：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/deploy/python/infer.py#L420

[2021-05-17 03:38] yghstill commented on #3032
@jundongAI 你的paddle版本是多少呢？训练ppyolov2推荐使用paddle 2.0.2版本，其他版本我们正在定位不收敛的问题

[2021-05-17 03:38] #2911 closed, assigned to nobody

[2021-05-17 03:38] 617475jordan commented on #2896
模型是ppyolov2 骨干网络ResNet50vd，网络缩放图像尺寸是640，推理包含图像保存，paddle版本是paddlepaddle-gpu    2.0.2.post110，paddledetection版本是release/2.0

[2021-05-17 03:40] #2828 closed, assigned to nobody

[2021-05-17 03:43] #2728 closed, assigned to heavengate

[2021-05-17 03:43] #2727 closed, assigned to nobody

[2021-05-17 03:44] #2568 closed, assigned to liuhuiCNN, yzl19940819

[2021-05-17 03:52] bjjwwang commented on #3017
[code]
然后再试试看。

[2021-05-17 03:56] shyn commented on #3027
工作站配置 GTX 2080 8GB，不是 Super 不是 Ti
CUDA 版本 10.0

[2021-05-17 04:14] linyangsdu commented on #3029
#3023 我看到这个有说“在预测部署阶段，两种格式的导出模型都是可以被正确加载的”，那是否说明可以在静态图inference阶段直接 load 动态图的模型

[2021-05-17 04:45] lmk123568 commented on #3022
感谢回复，是通过pip安装paddledet，没懂后半段，是uninstall之后再install paddledet吗

[2021-05-17 05:18] yghstill commented on #3031
@lao-xu ssd_mobilenet_v1_300_120e_voc这个模型静态图训练稍快，ssdlite模型动态图优化后训练速度比静态图快，目前关于速度问题还在优化中，精度的话之前是对齐的，应该不会低于静态图版本。

[2021-05-17 06:14] hymanzhu1983 commented on #2420
不是内部的，我们尝试基于paddleDetection做产品，目前遇到的这个问题，有问题交流群吗？

[2021-05-17 06:16] Lie-huo commented on #2488
已经解决了，谢谢

[2021-05-17 06:16] #2488 closed, assigned to nobody

[2021-05-17 06:18] Williamlizl commented on #2488
你好，请问怎么解决的，我也是同样问题

[2021-05-17 06:33] yghstill commented on #3027
好的，我们验证下。
@JustinHuang1984 你在2080ti上训练没问题的cuda版本是多少呢

[2021-05-17 07:20] dengxinlong commented on #3030
目前我用的就是这个。上次应该是我测错了，刚刚我测试了一下。一样是反效果。
ssdlite_mobilenet_v3模型：直接训练得到的模型，未使用感知训练量化。
trt_int8: 105ms
trt_fp16: 90.23ms
trt_fp32: 90.73ms
效果还是反向的。
想请教的问题：
1. 是不是我哪里没有注意，测试错了？
2. 在对模型直接eval.py 的时候，得到的模型在测试集下的FPS为35，但这里对上述时间换算成fps差别较大（这张图片只是估算，实际肯定是计算均值，但差别太大了，差了有20帧），为什么？

[2021-05-17 09:10] qingqing01 commented on #2420
@hymanzhu1983 已有同学定位到 https://github.com/PaddlePaddle/Paddle/blob/c809530eff4beb46329c5d6e1025fc50231c2a2b/paddle/fluid/framework/operator.cc#L1535 这里引起了，正在看怎么解决。

[2021-05-17 09:10] JustinHuang1984 commented on #3027
也是10.0的

[2021-05-17 09:18] Williamlizl opened #3041 "tools/infer.py 中怎么修改代码，显示每张图片的预测时间，"

[2021-05-17 09:45] liuhuiCNN commented on #3041
（1） 调用的是这个函数，您在这个函数中增加计时代码即可。 https://github.com/PaddlePaddle/PaddleDetection/blob/f0a30f3ba6095ebfdc8fffb6d02766406afc438a/ppdet/engine/trainer.py#L356
（2）deploy/infer.py中带有预测时间benchmark的代码，请参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/deploy/python/README.md

[2021-05-17 13:23] KKIverson opened #3045 "PPdet release 2.0版本不支持多GPU吗？"
RT.
gitee上下载下来的pppdet 2.0 版本，tools里面只有train.py没有multi版本，而且我参照教程https://aistudio.baidu.com/aistudio/projectdetail/1922155

训练ppyolov2，多卡指令CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 python tools/train.py -c configs/ppyolo/ppyolo.yml --eval也没有用。。。

[2021-05-17 13:27] liuhuiCNN commented on #3045
你好，pppdet 2.0 版本多卡启动命令： `python3.7 -m paddle.distributed.launch --gpus 0,1,2,3 tools/train.py -c xxx.yml`

[2021-05-17 13:35] lmk123568 commented on #3022
试了很多遍，还是不行

[2021-05-17 13:47] JustinHuang1984 commented on #3020
确实是这样，把这个值改成4后已经可以训练了，谢谢 @jerrywgz

[2021-05-17 14:09] KKIverson commented on #3045
![image](https://user-images.githubusercontent.com/49222488/118502411-42c4cc80-b75c-11eb-870d-32c52fb10deb.png)
多谢，按照你说的方法跑起来了ppyolo（不是ppyolov2），但是gpu0多出来的几个进程，是跟其他卡进行通信的么。貌似还挺占显存的。因为我开4张卡是可以跑的，开8张卡就不行了。

还有，ppyolov2 r50在2080Ti上的建议batch size 和learning rate是多少呢？

[2021-05-17 14:48] dengxinlong commented on #3030
我重新测试例一下，这里使用的是前几天刚clone下来的PaddleDetection release 2.0版本代码，使用static/deploy/python/infer.py来推理，使用的模型就是训练好的ssdlite_mobilenet_v3_large_fpn，没有经过感知量化，就是tools/train.py训练好的模型。
说明：测试2226张图片，统计总的时间，然后计算均值，也就是每张图片推理大约需要多少时间。
**trt_int8: 29.82ms
trt_fp16: 26.64ms
trt_fp32: 27.58ms**
想请教的问题：
       效果还是反向的？？

[2021-05-17 15:37] liuhuiCNN commented on #3045
（1）是正常现象；（2）默认学习率是8卡的，如果您用1卡的，学习率除以8。batch size根据您的显存、内存合理设置，在硬件可承受范围内越大越好，batch size变化时，学习率同比例变化。

[2021-05-17 15:43] #2001 closed

[2021-05-17 15:44] #2248 closed

[2021-05-17 15:44] #2296 closed, assigned to liuhuiCNN

[2021-05-17 15:45] #2861 closed, assigned to nobody

[2021-05-17 15:45] #2860 closed, assigned to nobody

[2021-05-17 16:02] Flyooofly commented on #2997
好的谢谢回答

[2021-05-17 16:02] #2997 closed, assigned to nobody

[2021-05-17 16:03] Flyooofly commented on #3026
好的谢谢回答

[2021-05-17 16:03] #3026 closed, assigned to nobody

[2021-05-18 01:05] KKIverson commented on #3045
![image](https://user-images.githubusercontent.com/49222488/118574968-19398e80-b7b8-11eb-993c-05cbf46f3c45.png)

好的。不过程序一直卡在这里是咋回事啊？GPU还在用，但是很不正常
![image](https://user-images.githubusercontent.com/49222488/118575066-2fdfe580-b7b8-11eb-8cad-df4035d4865c.png)

[2021-05-18 01:51] JustinHuang1984 opened #3047 "训练ppyolov2_r50vd_dcn时卡死"
系统：win10
cuda:10.0
python:3.6
显卡：1080ti

2021-05-18 09:24:06,216-INFO: iter: 160, lr: 0.000200, 'loss_xy': '0.742226', 'loss_wh': '0.229603', 'loss_obj': '5.617375', 'loss_cls': '0.070135', 'loss_iou': '0.986559', 'loss_iou_aware': '0.428487', 'loss': '7.547791', eta: 0:03:02, batch_cost: 0.21682 sec, ips: 4.61212 images/sec
Traceback (most recent call last):
  File "E:/workspace/a/tools/train.py"

[2021-05-18 02:10] di-dii opened #3048 "请问怎么修改单图数据增强的输入example数量呢，例如mixup输入是两张图"

[2021-05-18 02:31] wangxinxin08 commented on #3048
可以参考这一部分的逻辑进行修改https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/data/source/dataset.py#L66

[2021-05-18 02:32] di-dii commented on #3048
@wangxinxin08  知道了，感谢

[2021-05-18 02:49] linyangsdu opened #3051 "运行静态图遇到的问题"
--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString()

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1621305939

[2021-05-18 02:51] jerrywgz commented on #3022
可以先pip uninstall paddledet， 然后pip install -r requirement.txt 之后直接启动训练

[2021-05-18 02:52] jerrywgz commented on #3020
嗯我们现在也在修复该默认值，感谢反馈

[2021-05-18 02:52] #3020 closed, assigned to nobody

[2021-05-18 02:59] hong3731 opened #3052 "请问怎么修改图片的通道数量呢？"
大佬好，我的数据集的图片是单通道图片，请问这个可以直接用来训练吗？还是需要设置图片的通道数量的呢？

[2021-05-18 03:37] linyangsdu commented on #3051
大部分情况下是多卡遇到的问题，命令如下:
python -m paddle.distributed.launch --selected_gpus 0,1,2,3 tools/train.py -c my_configs/cascade_rcnn_dcn_r50_fpn_1x.yml

这条命令也试了:
python -m paddle.distributed.launch --gpus 0,1,2,3 tools/train.py -c my_configs/cascade_rcnn_dcn_r50_fpn_1x.yml

[2021-05-18 03:44] jerryandjune opened #3053 "使用mask_rcnn_r50_vd_fpn_ssld_2x_coco时，eval时报错"
在aistudio.baidu.com上训练实例分割模型，一边训练一边验证，就会出现这个错误，
PaddleDetection   release/2.0  版本
使用PaddleDetection-develop   也是一样的

env: CUDA_VISIBLE_DEVICES=0
/home/aistudio/PaddleDetection
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doin

[2021-05-18 06:43] ghost commented on #3015
你好，这个问题已经解决了，我换了个运行环境，就没有出现这个问题，不过在训练时又出现了新的问题：
	Error: /workspace/Paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:536 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of label[513] expected >= 0 and < 3, or == -100,but got 3. Please check input value.
	Error: /workspace/Paddle/paddle/fluid/operators/softmax_with_cross_e

[2021-05-18 06:47] shfsidh commented on #2849
我的的确有一些warning，不过数量大概有100多条，这样也会造成影响的么？我的数据集有数万张图片

[2021-05-18 06:57] wangxinxin08 commented on #3047
请提供下Paddle版本，PaddleDetection的版本以及运行的命令？

[2021-05-18 06:58] wangxinxin08 commented on #3052
建议将单通道复制成3个通道，这样就可以正常训练了

[2021-05-18 07:02] wangxinxin08 commented on #3045
@KKIverson 这个应该是第一个epoch之后进行eval的缘故，因为数据较少，模型尚未训练好，导致后处理过程非常慢，可以考虑将将训练时eval去掉

[2021-05-18 07:05] jundongAI commented on #3032
paddle版本是最新的2.0.2

[2021-05-18 07:18] wangxinxin08 commented on #3053
你好，问题正在定位中

[2021-05-18 07:36] Williamlizl commented on #3002
有针对cudnn 10.5 编译的paddle trt版本吗，cuda =10.0.130

[2021-05-18 07:52] LIU-FAYANG opened #3056 "PP yolo 部署批量预测和精度测量"
你好，请问现在有支持ppyolo tensorrt部署批量预测的方法吗？有没有可以直接run tensorrt 精度测量的方法呢？

[2021-05-18 08:54] xupengao opened #3057 "fcos训练自定义数据集，eval时一直为0，但是loss是一直下降的，参数都在更新，检查验证集路径没有出错"
[INFO 2021-05-18 16:22:34,796 train.py:299] iter: 25000, lr: 0.010000, 'loss_centerness': '0.677505', 'loss_cls': '0.903113', 'loss_box': '0.496348', 'loss': '2.080264', eta: 2 days, 13:38:26, batch_cost: 0.80693 sec, ips: 2.47852 images/sec
2021-05-18 16:22:34,796 - INFO - Save model to output/fire_fcos_dcn_r50_fpn_1x/25000.
[INFO 2021-05-18 16:22:34,796 checkpoint.py:199] Save model to output/fi

[2021-05-18 08:55] jolt2017 commented on #733
这里我用 coco格式也遇到同样的问题 ，但是 annotation 里面有 segmentation 字段啊 ，所以从你说的角度讲 是不是不会又 gt_poly 问题

[2021-05-18 08:58] wangxinxin08 commented on #3056
使用TensorRT进行批量预测的方式集讲支持，精度测量在规划中，我理解使用TensorRT测试精度应该没有必要把

[2021-05-18 09:05] Williamlizl opened #3059 "ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /home/lbc/.local/lib/python3.6/site-packages/paddle/fluid/core_avx.so)"
ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by /home/lbc/.local/lib/python3.6/site-packages/paddle/fluid/core_avx.so)

[2021-05-18 09:08] LIU-FAYANG commented on #3056
你好，感谢回复。
我稍微改了一下deploy/python/infer.py尝试批量预测，一部分成功预测，之后出现这个error，请问有遇到过类似的问题吗？

command:
CUDA_VISIBLE_DEVICE=0 python3 deploy/python/infer.py --model_dir=output_inference/ppyolo_r50vd_dcn_1x_coco/ --infer_dir=/home/psl/Desktop/coco2017/val2017_img/ --use_gpu=True --run_mode=trt_int8

Environment: Ubuntu18.04 Cuda 11.1 Tensorrt 7.2.3 Cudnn8 GPU Nvidia Titan X

Inference: 15.664339065551758 ms per b

[2021-05-18 09:14] JustinHuang1984 commented on #3047
Paddle:2.0.0
PaddleDetection:release2.0
运行的命令:python E:/workspace/2021_05_14_09_10_20/tools/train.py -c E:/workspace/2021_05_14_09_10_20/ppyolov2_r50vd_dcn.yml

[2021-05-18 09:39] wangxinxin08 commented on #3056
可能存在数组越界，bs>1的预测在develop已经支持，你可以切到develop试下

[2021-05-18 09:45] LIU-FAYANG commented on #3056
请问切到develop是指什么，要重新安装paddle吗？

[2021-05-18 09:48] wangxinxin08 commented on #3056
在PaddleDetetcion的目录下面使用git checkout -b develop origin/develop切换得到develop分支

[2021-05-18 10:52] zxsitu commented on #3047
@wangxinxin08 您好，我使用最新版的paddledetection，训练ppyolov2也卡住了。
系统：win10
cuda: 10.2
python: 3.8
显卡：Quadro P5000 16G
[code]
程序运行到`ppdet.engine INFO: Eval iter: 0`这一个语句时就卡住了，不进行下去了。
我已经将worker_num修改为1
https://github.com/PaddlePaddle/PaddleDetection/blob/3903e78c728b2afa40f813bad272a6a941db9a0d/configs/ppyolo/_base_/ppyolov2_reader.yml#L1
batch_size也改为1了
https://github.com/PaddlePaddle/PaddleDetection/blob/3

[2021-05-18 11:28] wangxinxin08 commented on #3047
@ilem777 这个卡住是由于模型没有充分训练，后处理过慢导致的。你先把batch_size变成默认的12，如果是单卡训练，需要将学习率设置成原先的1/8

[2021-05-18 11:29] wangxinxin08 commented on #3047
收到，我们定位下

[2021-05-18 11:30] wangxinxin08 commented on #3047
@JustinHuang1984 收到，我们定位下

[2021-05-18 12:43] Cristhine opened #3060 "log 显示steps计算方法"
训练的log中总steps的计算公式是 steps * batchsize *（gpu nums）= 图片总数吗？
![image](https://user-images.githubusercontent.com/26667855/118652806-88939a80-b819-11eb-9832-a1dd5339e169.png)
如果这个结果计算跟图片数目不符合怎么定位，图片路劲以及图片是否存在都进行check没有问题

[2021-05-18 13:24] #3060 closed, assigned to nobody

[2021-05-18 13:40] Chen-Song commented on #1612
@a2824256 请问怎么解决的呢？

[2021-05-18 14:43] #3059 closed, assigned to nobody

[2021-05-18 16:38] lao-xu opened #3062 "静态图怎么打印出tensor的值，怎么create一个tensor"
请问静态图怎么打印出tensor的值，怎么创造一个tensor?动态图用惯了，很不适应静态图

[2021-05-18 23:14] ilem777 commented on #3047
@wangxinxin08 您好，我的GPU内存没这么大，改成12无法运行，所以我只改为6，num_worker改为2重新训练了，但不幸还是卡在第0个epoch的验证上（上述情况），所以我放弃了边训练边验证`--eval --use_vdl=true --vdl_log_dir vdl_log_dir/scalar`，希望进行test时不会再被卡住了。

[2021-05-19 02:22] yghstill commented on #3029
@linyangsdu 动转静后模型是能够被正确加载的，只是现在动态图模型与静态图模型输入不一样，动态图模型输入有image, im_ahep和scale_factor，但是静态图模型只有image, im_ahep两个输入，这个需要适配一下二者才可兼容

[2021-05-19 02:24] wangxinxin08 commented on #3062
PaddlePaddle 2.0已经支持动态图，你可以使用PaddleDetection release/2.0版本，默认使用动态图

[2021-05-19 02:26] LIU-FAYANG commented on #3056
你好，我试了一下问题依旧存在。

[2021-05-19 02:29] wangxinxin08 commented on #3057
如果验证集数据路径没问题的话，可能的原因是：
1. 学习率设置不正确，导致模型没有收敛。默认学习率为8卡的配置，如果你为单卡，请将学习率/8
2. 可以可视化一下训练集，看是否标注有问题，比如coco的标注应当是x,y,w,h，以及class的标注等
3. 自定义数据集需要设置num_classes，你可以看一下num_classes是否等于你的数据集中的类别

[2021-05-19 02:31] wangxinxin08 commented on #3051
可以考虑调小worker_num

[2021-05-19 02:50] wangxinxin08 commented on #3062
如果你仍有相关需要，可以考虑使用fluid.layers.Print(tensor)打印出tensor的名字，然后将其加入到fetch_list里面，参考https://github.com/wangxinxin08/PaddleDetection/blob/ppyolo_debug/tools/train.py#L288，创建一个tensor的话可以从numpy创建， 参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/static/ppdet/modeling/anchor_heads/yolo_head.py#L102

[2021-05-19 02:59] wangxinxin08 commented on #3056
可以给一下PaddleDetection的commit hash，我们定位下

[2021-05-19 03:02] gengyanlei opened #3065 "s2anet docker出错"
[code]
搞不定，请教一下，我运行docker.hub上面的nvidia的都没问题；是显卡的型号问题么？

[2021-05-19 03:05] LIU-FAYANG commented on #3056
commit f0a30f3ba6095ebfdc8fffb6d02766406afc438a

[2021-05-19 03:11] qingqing01 commented on #3065
@gengyanlei 上面看起来是docker环境问题。您跑其他模型，比如快速开始的路标检测能跑起来吗？ 或者PaddlePaddle安装后能显示成功吗？

[2021-05-19 03:18] LIU-FAYANG commented on #3056
你好，这个问题可能和检测目标为空有关，当连续三张图片检测目标为空时这个问题就会出现，移除这些图片后可以跑。请定位一下问题出在哪

[2021-05-19 03:24] #1874 closed

[2021-05-19 03:24] gengyanlei commented on #3065
哦，知道了，是显卡版本的问题，我的是Driver Version: 384.130；

[2021-05-19 03:24] #1901 closed

[2021-05-19 03:28] #2043 closed

[2021-05-19 03:32] #2036 closed

[2021-05-19 03:34] #1974 closed

[2021-05-19 03:36] #2197 closed

[2021-05-19 03:47] gengyanlei commented on #3065
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/docs/tutorials/INSTALL_cn.md
直接按照官方的安装好PaddleDetection后，能直接用s2anet么

[2021-05-19 04:37] hymanzhu1983 commented on #2420
修复了麻烦告之一下，谢谢

[2021-05-19 05:31] qingqing01 commented on #3065
@gengyanlei 理论上可以的。  也按照这个 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/dota/README.md 教程安装下自定义算子吧。

[2021-05-19 06:05] bbbxixixixi opened #3066 "libra_rcnn_r101_vd_fpn_1x multisacletest 报异常'FasterRCNN' object has no attribute 'im_info_names'"
!CUDA_VISIBLE_DEVICES=0 python3 /home/aistudio/PaddleDetection-master/tools/eval.py -c /home/aistudio/libra_rcnn_r101_vd_fpn_1x.yml -o use_gpu=true weights=best_bak/best_model10_10

配置文件

[code]

异常信息

[code]

[2021-05-19 07:04] Williamlizl opened #3068 "使用deploy/python/infer.py，PAFNet模型推理时，报错，"
[code]

模型导出代码为：
[code]

[2021-05-19 07:18] qingqing01 commented on #3066
@bbbxixixixi 您的PaddleDetection是那个版本？

[2021-05-19 07:22] qingqing01 commented on #3068
您推理时打开了TensorRT是吗？ 试下打开 use_dynamic_shape参数呢？

https://github.com/PaddlePaddle/PaddleDetection/blob/3903e78c728b2afa40f813bad272a6a941db9a0d/deploy/python/infer.py#L529

[2021-05-19 07:35] Williamlizl commented on #3068
打开了trt_fp16, --use_dynamic_shape = True，还是报错

`use_dynamic_shape
trt set dynamic shape done!
Traceback (most recent call last):
  File "deploy/python/infer.py", line 552, in <module>
    main()
  File "deploy/python/infer.py", line 468, in main
    trt_opt_shape=FLAGS.trt_opt_shape)
  File "deploy/python/infer.py", line 76, in __init__
    trt_opt_shape=trt_opt_shape)
  File "deploy/python/infer.p

[2021-05-19 07:44] liuhuiCNN commented on #3068
（1）使用动态尺寸输入时，需要设置：--use_dynamic_shape=True --trt_max_shape=1280 --trt_min_shape=800 --trt_opt_shape=960
可以参考文档：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/deploy/TENSOR_RT.md
（2）如果设置之后还出错，请参考 TRT  FAQ文档：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/deploy/TENSOR_RT.md#4%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98qa ，增大配置文件中的min_subgraph_size试下。

[2021-05-19 07:51] gengyanlei commented on #3065
@qingqing01
请问你们实现的s2anet基于的DOTAv1.5？还是DOTAv1.0呢，能在readme中声名么，tks

[2021-05-19 08:07] Williamlizl commented on #3068
https://github.com/PaddlePaddle/PaddleDetection/blob/3903e78c728b2afa40f813bad272a6a941db9a0d/deploy/python/infer.py#L315
这行改为10,20，还是报同样问题；导出模型命令没错误吧

[2021-05-19 08:36] bbbxixixixi commented on #3066
paddlepaddle gpu-2.1.0.dev0 post101
paddledetection master
aistudio删了自带版本重装了上面的

[2021-05-19 09:20] gengyanlei commented on #3065
![image](https://user-images.githubusercontent.com/22360785/118788324-42484500-b8c6-11eb-976f-e17b32afff6d.png)

paddleDetection的s2anet的测试效果，还报错，哎，感觉paddle体验不太好。

[2021-05-19 09:39] math-yyj opened #3072 "faster/cascade rcnn的每卡batch只能为1？"
我在训练这个数据集的时候
https://aistudio.baidu.com/aistudio/datasetdetail/79834

使用ppdet2.0下，config/rcnn_enhance的原始配置进行训练

发现loss_bbox_reg完全为0，一点变化都没有，但是把配置里的batch从2改成1，lossboxreg就正常变化，不是0

这是什么原因

[2021-05-19 14:06] linyangsdu commented on #3051
worker_num设为1解决

[2021-05-19 14:06] #3051 closed, assigned to nobody

[2021-05-19 16:35] lao-xu opened #3075 "动态图里有Retinanet的实现吗"
静态图里都有，但动态图里没有

[2021-05-19 16:35] lao-xu commented on #3062
好的，谢谢

[2021-05-20 01:18] gengyanlei opened #3076 "s2anet bug"
按照教程搭建好镜像-容器，执行如下命令，下载paddle提供的s2anet模型为s2anet_conv_1x_dota.pdparams，并非是s2anet_1x_dota.pdparams，报错且标签错误

CUDA_VISIBLE_DEVICES=3 python3.7 tools/infer.py -c configs/dota/s2anet_conv_1x_dota.yml -o weights=/mnt/data/gengyanlei/Packages/s2anet_conv_1x_dota.pdparams --infer_dir=/mnt/data/gengyanlei/OBB_dataset/DOTA/val1/images --draw_threshold=0.45 --save_txt=True --output_dir=/mnt/data/gengyanlei/OBB

[2021-05-20 01:24] gengyanlei commented on #3065
哦，nms阈值啥的都在这里
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/configs/dota/_base_/s2anet.yml
共15类，应该是DOTAv1.0

[2021-05-20 01:45] qingqing01 commented on #3068
@jerrywgz @liuhuiCNN 验证下这个模型的动转静推理吧

[2021-05-20 01:46] qingqing01 commented on #3066
@bbbxixixixi PaddleDetection现在master分支已废弃，建议使用release稳定分支。 develop是开发分支。

[2021-05-20 01:48] qingqing01 commented on #3065
@gengyanlei 您上面报错指的是什么？是说label错了？ 您用的是DOTA数据吗？

[2021-05-20 01:54] qingqing01 commented on #3072
@mathyyj 默认的配置是 按照8卡的配置，每个卡的batch size是2。总共的batch size是16。

https://github.com/PaddlePaddle/PaddleDetection/blob/3903e78c728b2afa40f813bad272a6a941db9a0d/configs/rcnn_enhance/_base_/faster_rcnn_enhance_reader.yml#L12

如果卡数、batch size变化，比如总共的batch size减少到2，那学习率需要除以8。

[2021-05-20 01:55] qingqing01 commented on #3075
@lao-xu 动态图里暂且没有RetinaNet。您什么场景下需求，在COCO上YOLO综合精度、速度评估都比RetinaNet的要好。看下是否可以作为选择。 还是什么场景必须用RetinaNet。

[2021-05-20 01:57] musingxu commented on #2178
如果同一个物体被遮挡分成了多份，这要怎么标注

[2021-05-20 02:00] qingqing01 commented on #3076
@gengyanlei 关于标签的问题，您是DOTA官方数据吗？标签是从TestReader的anno_path里读取的。 需要注意正确设置

https://github.com/PaddlePaddle/PaddleDetection/blob/3903e78c728b2afa40f813bad272a6a941db9a0d/configs/datasets/dota.yml#L19

[2021-05-20 02:00] zhchma51 commented on #2979
你可以把ppyolov2_reader.yml里的batch_size改为1，我测试的也可以运行。

[2021-05-20 02:08] qingqing01 commented on #858
这个不影响使用。最新的动态图版本里有改善。

[2021-05-20 02:08] #858 closed

[2021-05-20 02:09] gengyanlei commented on #3076
好吧，你们居然不把这些参数单独传参，我只是想单纯的测试一下你们的模型，没想到还要处理dota数据，尴尬。

[2021-05-20 02:33] #3065 closed, assigned to nobody

[2021-05-20 03:46] qingqing01 commented on #3076
@gengyanlei 这个模型是用DOTA训练得到的，标签默认都是DOTA数据中的。

[2021-05-20 03:51] 617475jordan commented on #2680
我也发现了，用ppyolo_r50vd_dc_voc,yml训练只要三四个小时，而ppyolov2_r50vd_dcn_voc.yml需要一天多，不知道什么原因。机器配置是i9-10900k，rtx3090，128g内存

[2021-05-20 03:54] jerrywgz commented on #3068
目前验证python inference, 不使用tensorrt的情况下，pafnet_10x_coco的预测部署是正常的

[2021-05-20 03:59] qingqing01 commented on #1516
即将发布的2.1会支持batch推理、支持mkldnn加速~  大家有问题，可以提新的issue~

[2021-05-20 03:59] #1516 closed

[2021-05-20 04:03] qingqing01 commented on #1527
建议还是训练完后，选特定模型导出。

[2021-05-20 04:03] #1527 closed

[2021-05-20 04:03] #1599 closed

[2021-05-20 04:04] #1606 closed

[2021-05-20 04:08] Williamlizl commented on #3068
开了trt_fp16后就报错了，不开正常

[2021-05-20 04:35] gengyanlei commented on #3076
嗯嗯，我把DOTA全下载下来了，然后跑个json文件，现在终于可以全解决了。
tks，本来想改你们的代码的，但有点不清楚具体怎么设计的，还是直接默认吧https://github.com/PaddlePaddle/PaddleDetection/blob/3903e78c728b2afa40f813bad272a6a941db9a0d/ppdet/engine/trainer.py#L367

[2021-05-20 04:38] #3076 closed, assigned to nobody

[2021-05-20 04:41] gengyanlei commented on #3076
@qingqing01
你们采用的是DOTAv1.0，期待v1.5版本的，因为v1.5增补了小目标；这个很重要；

[2021-05-20 05:04] qingqing01 commented on #3076
@gengyanlei 您上述贴的代码确实是类别标签解析的。 感谢建议，我们会尽快补充的。

[2021-05-20 05:22] lao-xu commented on #3075
@qingqing01 谢谢，我们主要是搞模型研究用的，需要比对RetinaNet等一些模型及其改进的结果

[2021-05-20 05:40] jerrywgz commented on #3053
可以更新下develop版本，目前已经尝试修复训练过程中可能出现的空box情况，导致出现cuda error

[2021-05-20 08:03] jerryandjune commented on #3053
已经更新到最新的develop版本，训练过程中，还是在--eval 时出现cuda error，报错信息如下：
不添加--eval的话，训练时过程没有报错

loading annotations into memory...
Done (t=0.01s)
creating index...
index created!
[05/20 15:56:51] ppdet.engine INFO: Eval iter: 0
Traceback (most recent call last):
  File "tools/train.py", line 140, in <module>
    main()
  File "tools/train.py", line 136, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 111

[2021-05-20 08:42] jerryandjune commented on #3053
!python -u tools/train.py -c configs/mask_rcnn/mask_rcnn_r50_vd_fpn_ssld_2x_coco.yml \
                        --use_vdl=true \
                        --vdl_log_dir=vdl_dir/scalar \
                        --eval \
                        # -r output/mask_rcnn_r50_vd_fpn_ssld_2x_coco/75.pdparams
使用以上命令训练时，--eval 不注释，就会出现

[2021-05-20 08:58] 642721838 opened #3085 "目标检测模型咨询"
老师你好，python tools/train.py -c configs/yolov3_mobilenet_v1_roadsign.yml --eval -o use_gpu=true。我在用这个命令加入自己的数据集进行模型训练时，模型要自己下载数据集，如果要用我自己的数据集，怎么设置不让他下载而直接读取现有的呢，还有就是labelme软件生成的标注格式是json格式的，而样例数据集的格式都是xml。请问是需要转换吗，如果需要用什么工具转换最简单啊。谢谢

[2021-05-20 09:11] LIU-FAYANG opened #3086 "ppyoloTensorrt deployment on Jetson nano"
Environment:
Jetpack 4.5 Cuda10.2 TensorRT 7.2.3

1.你好，在Jetson Nano上跑ppyolo tensorrt的时候卡在这里了，code在pc端跑速度和精度都是正常的，请问有什么解决办法吗？

2.请问

WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/usr/local/lib/python3.6/dist-packages/paddle/utils/cpp_extension/extension_utils.py:461: UserWarning: Not found CUDA runtime, please use `ex

[2021-05-20 09:16] luuuyi opened #3087 "静态图的multiscale test"
请问一下，在静态图下想用multiscale test的话应该怎么用，有例子么

[2021-05-20 09:54] jerrywgz commented on #3068
https://github.com/PaddlePaddle/PaddleDetection/pull/3088 已修复

[2021-05-20 10:01] JustinHuang1984 opened #3089 "怎样提高训练速度，提升cuda使用率"
PaddleDetection训练ppyolo_mobilenet_v3_large和ppyolov2_r50vd_dcn模型，ppyolov2_r50vd_dcn反倒训练速度快，ppyolo_mobilenet_v3_large反倒慢，看了下cuda利用率如图，想问下大神要怎么设定参数才能把cuda利用率提高，也就是把训练速度提高来
![ppyolo_mobilenet_v3_large](https://user-images.githubusercontent.com/59753769/118959908-5313bc00-b995-11eb-9656-99d6db27803e.png)
![ppyolov2_r50vd_dcn](https://user-images.githubusercontent.com/59753769/118959919-55761600-b995-11

[2021-05-20 10:16] ximitiejiang opened #3090 "fasterrcnn inference报错-(Fatal) Blocking queue is killed because the data reader raises an exception."
你好:
我训练的fasterrcnn模型在infer时偶然报错，一共200张图像进行预测，到中间才报错。
错误提示不太理解，请问可能是什么原因？
[code]

[2021-05-20 11:07] luqihui opened #3091 "使用ppyolov2和ppyolotiny训练模型，推理时图片中没有框"
使用ppyolov2和ppyolo tiny都训练了模型，推理时图片中都没有框，跟原图一样，可能是什么原因？

[2021-05-20 11:49] heavengate commented on #3085
`configs/yolov3_mobilenet_v1_roadsign.yml`这个配置文件数据集使用的是VOC数据集格式，你使用json标注文件应该是COCO数据集的格式，可以参考`configs/yolov3_mobilenet_v1_coco.yml`这个配置文件，和roadsign那个除了数据集是COCO其余都是一致的。另外如果你需要使用自定义数据集，可以修改`configs/datasets/coco_detection.yml`中的路径配置指定向你的数据集，就不会触发自动下载

[2021-05-20 11:51] heavengate commented on #3086
你好，我们刚发布了PaddleDetection v2.1.0版本，优化了部署的代码，并且提供了Jetson上的部署指南，你可以参考一下这个部署文档 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.1/deploy/cpp/docs/Jetson_build.md

[2021-05-20 11:54] heavengate commented on #3087
你好，静态图使用multiscale test只需要在配置文件中加上`MultiScaleTEST`配置段就可以了，可以参考 https://github.com/PaddlePaddle/PaddleDetection/blob/5e19955b011d47377a3f1443a6e592ddd9e5024a/static/configs/cascade_rcnn_r50_fpn_1x_ms_test.yml#L86