[2021-12-17 02:43] nemonameless commented on #4925
首先建议先自查数据集标注转化，可视化你转的coco格式json文件的gt框看是否正确。最好贴下第一个epoch的log看loss
ppdet提供了很多快速轻量级模型如ppyolo picodet，快2022年了不推荐ssd...

[2021-12-17 02:51] codedlong commented on #4925
ssd在现阶段确实不太合适，我这边主要是想尝试一下。
第一个epoch的log：
[code]

[2021-12-17 02:53] wangxinxin08 commented on #4900
1. 我们测速的方法是使用deloy/python/infer.py进行测速，使用V100进行测速，并打开run_benchmark
2. 目前PaddleDetection中暂时没有计算Parameters的方法，后续会考虑添加该功能，你可以加载权重，然后使用python执行
[code]
3. F和G的参数量应该有误，参数量应该相较于E增加了少量参数，GFLOPS应该也同比增加了，增加的部分为3个DCN引入的参数量和计算量，Infer time应该测试是准确的

[2021-12-17 02:54] zoooo0820 commented on #4915
@cena001plus
It looks like you want to specify the model path directly in the code file. This error is thrown by `argsparse`, you should change the terms `required`  of `det_model_dir` and `keypoint_model_dir` to False (at https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/python/det_keypoint_unite_utils.py#L27 ).

[2021-12-17 02:54] dengxinlong commented on #4925
visdrone这个数据集转换为coco格式是没有问题的，因为利用这个转换后的数据集在faster_rcnn_r50_fpn_1x_visdrone.yml模型中进行训练是没有问题的。
ssd在现阶段确实不太合适，我这边主要是想尝试一下。
第一个epoch的log：
[code]

[2021-12-17 02:59] ghost commented on #4900
感谢您的回复！

[2021-12-17 02:59] #4900 closed, assigned to nobody

[2021-12-17 03:01] lyuwenyu commented on #4916
这个模型暂时不支持导出

[2021-12-17 03:02] lyuwenyu commented on #4913
先检查下单独使用摄像头可以不

[2021-12-17 03:06] lyuwenyu commented on #4922
优化器改成Adamw  参考 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/faster_rcnn/_base_/optimizer_swin_1x.yml

[2021-12-17 03:06] LMR2018 opened #4926 "pp-picodet怎么用摄像头实时推断输出？"
pp-picodet怎么用摄像头实时推断输出？

[2021-12-17 03:07] yzqxy opened #4927 "跨境头跟踪，reid"
跨镜头跟踪，原版提供测试的reid模型deepsort_pplcnet_vehicle，正常运行的结果如下
![image](https://user-images.githubusercontent.com/51917814/146481345-cabb262b-aeb6-40f9-b946-ba5d47235ecb.png)

然后我那paddleClas的pplcnet重新训练了个ried模型，并且对比了paddledetection中的reid框架，修改过paddleclas中的backbone进行训练的，然后出现以下问题。input_names从crops变成了x，
![image](https://user-images.githubusercontent.com/51917814/146481145-ab624f9f-58e8-4978-8b75-ae1c95411d77.p

[2021-12-17 03:07] nemonameless commented on #4925
base_lr: 0.0001 可能太小了。建议参考ssd_vgg16_300的 optimizer_240e.yml 设置。
没有使用vgg的预训练，也是可能的原因。
此外anchor设置不确定有没有问题。

[2021-12-17 03:14] wangxinxin08 commented on #4911
1. 我们做实验的结果是缩放成640 * 640不会影响我们的性能，只要你在训练和测试时保持一致即可。比如，你训练时使用不保持比例训练，测试时也不保持比例训练
2. loss出现断崖式下降主要和学习率decay有关，loss断崖式下降是符合预期的，一般lr decay之后会出现这个现象，map不增反降，说明可能最终的学习率太低，导致收敛到了局部最优。
3. 你可以使用ppyolov2_r50vd_dcn_365e_coco默认的学习率策略试下,  8卡下lr=0.005，学习率只decay一次，注意设置成350(只有前350个epoch使用mixup)或者mixup_epcoh设置成365(表示一直使用mixup)，另外，由于mixup的存在，PadBox的num_max_boxes最好设置成接近数据集中最大的bbox数量的2倍，最后，可以加载ppyolov2_r50vd_dcn在coco

[2021-12-17 03:18] Chunssu commented on #4913
单独使用是可以的

[2021-12-17 03:18] dengxinlong commented on #4925
base_lr: 之前尝试过0.001，loss训练一个epoch后为nan，所以改写为了0.0001；anchor的设置我这边再看看有没有问题；关于vgg的预训练，因为输入的图像尺寸为512x512，应该不能直接拿来用吧？

[2021-12-17 03:29] insoliang commented on #4922
改成Adamw过，也是一样的结果，昨天忘记说啦

[2021-12-17 03:30] dengxinlong commented on #4925
在不使用vgg预训练模型的情况下，将base_lr调整为0.001、0.0005、0.00025、0.0002，都会导致loss为nan。
[code]
所以我这里还是得将base_lr调整为0.0001。

[2021-12-17 03:34] lixiangMindSpore opened #4928 "[Other General Issues]PicoDet-MobileNetv3-large 1x如何显示参数量？当前只有GFLOPs"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2021-12-17 03:40] LMR2018 opened #4929 "pip install paddle2onnx安装好0.9版本后，window10运行转化命令，显示'paddle2onnx' 不是内部或外部命令，也不是可运行的程序"
pip install paddle2onnx安装好0.9版本后，window10运行转化命令，显示'paddle2onnx' 不是内部或外部命令，也不是可运行的程序，怎么解决？

[2021-12-17 03:52] yghstill commented on #4924
@moshanshan 先将print_flops关闭吧，这个问题我们看下

[2021-12-17 03:58] #4929 closed, assigned to nobody

[2021-12-17 03:59] LMR2018 opened #4930 "pp-picodet模型 paddle2onnx转化出来的onnx模型，输入输出张量分别是什么？"
pp-picodet模型 paddle2onnx转化出来的onnx模型，输入输出张量分别是什么？

[2021-12-17 04:09] nemonameless commented on #4927
导出模型的过程是在ppdet还是clas下导出的呢？

[2021-12-17 06:08] yghstill commented on #4928
@lixiangMindSpore 请参考FAQ中的`How to count model parameters.`部分：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/picodet#faq

[2021-12-17 06:19] incklaw-working opened #4931 "[Other General Issues]在jetson nano上关键点预测不准确"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2021-12-17 06:21] yzqxy commented on #4927
我是在clas下导出的，我刚用下面的命令在ppdet下试了下，生成了可以用的模型，不过好像跟下载的一样，跟我训练的初始best_model无关？您看是在ppdet这么导出么
python tools/export_model.py -c configs/mot/deepsort/reid/deepsort_pplcnet_vehicle.yml  -o Global.pretrained_model="output/best_model"

[2021-12-17 06:40] LMR2018 opened #4932 "pp-picodet 用转化成的onnx来推断的图片跟直接训练得到的模型推断结果不一样"
pp-picodet 用paddle2onnx --model_dir inference_model/picodet_s_320_voc/ --model_filename model.pdmodel  --params_filename model.pdiparams --opset_version 11 --save_file picodet_s_320_voc.onnx
转化成的onnx模型来推断的图片结果，跟直接训练得到的模型推断图片结果不一样，得到的outputs张量好像也没对应上

[2021-12-17 06:42] LMR2018 opened #4933 "pp-picodet paddle2onnx转化成的onnx模型能转化成rknn模型用于npu推断吗？他们的输入张量inputs和输出张量outputs分别是什么？"
pp-picodet paddle2onnx转化成的onnx模型能转化成rknn模型用于npu推断吗？他们的输入张量inputs和输出张量outputs分别是什么？

[2021-12-17 06:44] LMR2018 commented on #4932
pp-picodet  paddle2onnx转化得到的onnx模型的输入张量inputs和输出张量outputs分别是什么？能不能在paddle2onnx转化的时候指定好输出张量outputs？

[2021-12-17 06:48] se7enXF opened #4934 "[BUG] 使用GPU推理出现Segmentation fault"
## 描述问题/Describe the bug
在服务器上，使用PaddleClas+PaddlePaddle-gpu（使用pip安装）训练模型是正常的，将模型导出后，在本地机器上使用predict_cls.py进行预测，CPU上执行正常。下载了你们提供的检测模型，在本地机器上使用predict_det.py进行预测，CPU上执行正常，推理结果正确。但是在服务器上，使用GPU来运行predict脚本就会出现段错误，检测和分类都会错。

1. 您使用的命令是？
直接使用python执行推理脚本

2. 您是否更改过代码或配置文件？您是否理解您所更改的内容？还请您提供所更改的部分代码。
理解，按需修改，训练模型无问题，CPU推理无问题，GPU推理段错误。

3. 您使用的数据集是？
私有数据集

4. 请提供您出现的报错信息及相关log。.
[code]

## 环境
1. 请提供您使用的P

[2021-12-17 07:08] nemonameless commented on #4927
需要在ppdet下导出，导出模型在ppdet和clas下的通路是不同的。
另外可以先用tools/infer_mot.py的过程跑通一下，结果正常了才说明是没问题的。然后再导出模型去deploy下部署infer使用。

[2021-12-17 07:12] nemonameless commented on #4934
可以再提供一下更详细的截图报错信息吗？predict_cls.py和predict_det.py是您自己写的代码？可以再PaddleClas下也提issue问下看？

[2021-12-17 07:13] nemonameless commented on #4933
#4932 #4930  same issue

[2021-12-17 07:14] se7enXF commented on #4932
两种方法：
1. 使用Netron打开网络文件查看输入、输出节点信息
2. 使用onnx直接读取网络输入输出节点，参考我的代码：
[code]

[2021-12-17 07:17] insoliang commented on #4922
您好，还有别的改动意见吗，这个方法也不行

[2021-12-17 07:21] #3182 closed, assigned to nemonameless

[2021-12-17 07:21] se7enXF commented on #4934
错误就这些，没有其他报错。脚本是paddleclas的文件，在[这里](https://github.com/PaddlePaddle/PaddleClas/tree/release/2.3/deploy/python)。这个问题应该是paddlepaddle-gpu内部错误，没必要再去paddleclas踢皮球了。python脚本并没有报错。

[2021-12-17 07:22] nemonameless commented on #3182
目前使用视频infer时会提前抽成图片帧，不会出现此问题。支持自己设置frame_rate。
CUDA_VISIBLE_DEVICES=0 python3.7 tools/infer_mot.py -c ${config} -o weights=model_final.pdparams --video_file=test_demo.mp4 --frame_rate=20 --save_videos

[2021-12-17 07:23] #3505 closed, assigned to nemonameless

[2021-12-17 07:24] #3540 closed, assigned to nemonameless

[2021-12-17 07:24] #4801 closed, assigned to nemonameless

[2021-12-17 07:27] LMR2018 commented on #4932
@yghstill  @se7enXF 我查看他们的输出张量outputs命名并不相同，onnx的输出张量是['transpose_10.tmp_0', 'transpose_12.tmp_0', 'transpose_14.tmp_0', 'transpose_16.tmp_0', 'transpose_11.tmp_0', 'transpose_13.tmp_0', 'transpose_15.tmp_0', 'transpose_17.tmp_0']
模型直接训练得到的实际是['bbox', 'bbox_num']，onnx转化的时候我能直接指定输出张量吗？

[2021-12-17 07:29] nemonameless commented on #3680
请参照PaddleClas 去训练reid。
以pplcent为例：

https://github.com/PaddlePaddle/PaddleClas/blob/develop/ppcls/configs/GeneralRecognition/GeneralRecognition_PPLCNet_x2_5.yaml#L26    可以看这个配置文件，本质上ppdet里的reid是从clas移植过去的，就是backbone+neck复制过去，neck就是在backbone的特征flatten后再加一层FC变到128或512等维度

原版pplcnet网络在这里
https://github.com/PaddlePaddle/PaddleClas/blob/release/2.3/ppcls/arch/backbone/legendary_models/pp_lcnet.py    pa

[2021-12-17 07:29] #3680 closed, assigned to nemonameless

[2021-12-17 07:31] se7enXF commented on #4932
bbox的维度一般是[?, 6]，bbox_num的维度一般是[?, 1]，所以你要看输出节点的维度，你只需要拿到符合预期的节点输出，然后后处理一下就可以。

[2021-12-17 07:37] LMR2018 commented on #4932
@se7enXF   onnx模型 outputs的那几个输出张量的shape没看到有符合的啊 [1, 1600, 10]
[1, 400, 10]
[1, 100, 10]
[1, 25, 10]
[1, 1600, 32]
[1, 400, 32]
[1, 100, 32]
[1, 25, 32]

[2021-12-17 08:01] moshanshan commented on #4924
非常感谢，print_flops改为false之后就可以了

[2021-12-17 08:15] insoliang opened #4938 "ssd-r34相关问题"
我想请问为什么ssd-r34的配置文件里
ResNet:
  # index 0 stands for res2
  depth: 34
  norm_type: bn
  freeze_norm: False
  freeze_at: -1
  return_idx: [2]
  num_stages: 3

return_idx只输出了【2】特征图 而不是像vgg一样输出2层再生成4层

还有为什么通道数只能是256呢？

[2021-12-17 08:26] nemonameless commented on #4938
对标[MLPerf Training Benchmark](https://github.com/mlcommons/training/tree/master/single_stage_detector/ssd)

return_idx: [2] 是指layer4，[0,1,2,3]分别对应layer2,3,4,5，因为是res34使用的就是BasicBlock而不是BottleNeck，输出通道就只是256，res50才是1024（256 * expansion=4）。
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/backbones/resnet.py#L532

[2021-12-17 08:29] yzqxy commented on #4927
是按照PaddleDetection给的示例这样做么
![image](https://user-images.githubusercontent.com/51917814/146513300-8fb02186-749f-43ef-8d78-12e77d4c2057.png)
我吧从clas中训练到的best_model,赋值到了det的目录下
![image](https://user-images.githubusercontent.com/51917814/146513447-61b4e523-6c18-4ff9-a0f2-1ef35deec85b.png)
然后按照示例的代码格式跑了下
![image](https://user-images.githubusercontent.com/51917814/146513538-f9884103-6e8f-494b-a5eb-88a99

[2021-12-17 08:32] xiaofeixuan opened #4939 "picodet 在安卓端识别精准度很低怎么调整？？"
https://github.com/marsplus-wjh/Picodet-PaddleLite-AndroidDemo ，示例中，自定义训练的数据集模型，电脑端执行预测命令，infer.py 精准度很高，通过export_model.py 导出的nb文件放置assets对应模型文件中，识别度很低，并且需要拿着手机离图片很近，远了识别不了，需要调整哪里的参数？picodet中picodet_s_320_voc.yml训练的，使用的默认参数，只更改了voc.yml跟batch_size,其他都是默认参数

[2021-12-17 08:33] xiaofeixuan opened #4940 "训练自定义数据集，选取预训练模型时选择问题？"
通过train.py训练自定义数据集，怎么选择对应的模型，根据自己 识别物体大小还是其他？选择哪个模型进行训练比较合适问题

[2021-12-17 08:44] insoliang commented on #4938
谢谢回复！，我想问一下为什么resnetz只用layer4 而不用layer5呀？

[2021-12-17 08:50] insoliang commented on #4938
谢谢回复！，我想问一下为什么resnetz只用layer4 而不用layer5呀？

[2021-12-17 09:02] LMR2018 opened #4941 "pp-picodet模型转化成picodet_s_320_coco.onnx后，怎么演示出box那些东西？"
pp-picodet模型转化成picodet_s_320_coco.onnx后，怎么演示出box那些东西？outputs张量有太多了

[2021-12-17 09:27] hello3281 commented on #4921
这是我的数据集路径，我把tqdm去掉了，上个问题没有出现了，但是出现了新的问题，我不确定是需要更改代码，还是我下
载的json文件的有问题，因为我查看我的json文件里没有videoname，和labels标签，我的json文件是和每一张图片对应的
![2021-12-17 17-16-15 的屏幕截图](https://user-images.githubusercontent.com/91302837/146521631-bbeb30ef-0bc2-4e42-8a7a-a8708b2d536d.png)

[2021-12-17 10:18] nemonameless commented on #4940
推荐ppyolo或picodet，都有不同输出尺度的大模型小模型。
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/ppyolo
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/picodet

[2021-12-17 10:23] nemonameless commented on #4927
请参照deepsort导出模型的文档，pptracking里的[doc](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/pptracking/python#2-%E5%AF%B9deepsort%E6%A8%A1%E5%9E%8B%E7%9A%84%E5%AF%BC%E5%87%BA%E5%92%8C%E9%A2%84%E6%B5%8B) 或者config里的 [doc](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/mot/deepsort#3-%E5%AF%BC%E5%87%BA%E9%A2%84%E6%B5%8B%E6%A8%A1%E5%9E%8B) 。
可以先用tools/infer_m

[2021-12-17 10:30] yzqxy commented on #4927
好的，谢谢大佬！

[2021-12-17 10:40] nemonameless commented on #4925
vgg的预训练可以直接拿来用的，和512x512无关，你试试看。精度低的原因应该是没加载预训练训

[2021-12-17 11:04] zoooo0820 commented on #4931
应该和paddle框架的版本有关系，麻烦按照文档描述的将paddle更换到v2.2以上呢

[2021-12-17 11:10] yghstill commented on #4939
@xiaofeixuan
1. 训练时的AP50是多少？使用tools/eval.py评估下模型精度看看。infer.py测试的图片和手机端测试的场景一样吗？训练时的物体大小和测试时最后差不多，如果部署在手机上，多用手机采集一些数据来训练模型。
2. 几卡训练的呢？默认的配置文件是4卡，如果改变卡数的话，需要线性调整学习率。改变batch_size，学习率也需要调低

[2021-12-17 11:12] cqlyiyeshu commented on #4934
我也跟你碰到一样的问题，是在跑paddledetection的pptracking，导出来的模型，用cpu推断没错，用gpu就报这个错：
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1639733973 (unix time) try "date -d @1639733973" if you are using GNU date ***]
  [SignalInfo: *** SIGSEGV (@0x0) received by PID 24825 (TID 0x7fbdc7749740) from PID 0 ***]

[2021-12-17 11:14] cqlyiyeshu commented on #4875
我也遇到一样的问题，在paddledetection的pptracking模型
CUDA_VISIBLE_DEVICES=0 python tools/export_model.py -c configs/mot/fairmot/fairmot_dla34_30e_1088x608.yml -o weights=~/.cache/paddle/weights/fairmot_dla34_30e_1088x608.pdparams
用上面导出的模型，用cpu推断没错
python deploy/pptracking/python/mot_jde_infer.py --model_dir=output_inference/fairmot_dla34_30e_1088x608 --video_file=demo/person.mp4
加了--device=GPU，就出现这个错误
FatalErr

[2021-12-17 11:18] yghstill commented on #4932
@LMR2018
1. 转成onnx后你是用什么预测库部署的呢？看下这里面的demo可以满足你的需求吗？https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/picodet#deploy
2. PicoDet的模型输出比较特殊，有8个输出，前4个是每个head输出的class分支，后四个是bbox分支，还需要单独的后处理解码和nms操作，可以看上面的后处理如何做的。
3. 关于output name对应的问题，可以使用netron打开确认下name，在你的预测程序中适配下不同output对应的name即可。

[2021-12-17 11:20] yghstill commented on #4926
https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/picodet#deploy 这里面有Paddle Lite和ncnn的Android demo可以实时预测手机摄像头数据。cpp或者python demo可以接收电脑摄像头数据。

[2021-12-17 11:21] yghstill commented on #4930
@LMR2018 见 #4932

[2021-12-17 11:23] yghstill commented on #4941
@LMR2018 https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/picodet#deploy  可以参考下NCNN、MNN、openvino的demo~

[2021-12-17 11:26] se7enXF commented on #4875
我和你遇到一样的问题#4934

[2021-12-17 12:36] QL-AR commented on #4912
不是很明白。 可视化时才转为中文怎么搞的？

[2021-12-17 12:36] QL-AR commented on #4912
具体流程

[2021-12-17 13:46] nemonameless commented on #4921
已整理好，36G左右预存好空间，wget https://bj.bcebos.com/v1/paddledet/data/mot/bdd100kmot_vehicle.zip

[2021-12-17 13:50] nemonameless commented on #4912
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/data/source/category.py#L235
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/utils/visualizer.py#L123
可自行修改。

[2021-12-18 02:22] lazyn1997 commented on #4911
8卡0.005学习率的batchsize是12吗？还有ppyolov2_r50vd_dcn在coco上的预训练模型是[https://paddledet.bj.bcebos.com/models/pretrained/ResNet50_vd_ssld_pretrained.pdparams](url)网址下的模型吗？我看ppyolov2_r50vd_dcn.yml配置文件中是这么写的。

[2021-12-18 02:24] weyoung0 opened #4942 "开启print_flops,_flops函数会导致验证跳过第一个batch[BUG]"
## 描述问题/Describe the bug
print_flops参数设为True时，eval过程会调用一次self._flops函数，导致验证时跳过第一个batch的数据。
执行到self._eval_with_loader函数(trainer.py, line464)有如下操作：
[code]
而在self._flops函数中，self.loader,704行有如下取值操作：
[code]
此时loader的第一个batch已被取出，这导致 for step_id, data in enumerate(loader)操作的取值是从第2个batch开始的，因此最终的Total Sample num数值始终会少一个batch的数量。batch越大，可能对指标的影响越大。
## 复现/Reproduction

1. 您使用的命令是？/What command or script di

[2021-12-18 06:34] cena001plus commented on #4915
you are right

[2021-12-18 06:34] #4915 closed, assigned to zoooo0820

[2021-12-18 09:25] LMR2018 opened #4943 "configs/picodet/picodet_s_320_coco.yml配置的AutoAugment: {autoaug_type: v1}训练出错"
configs/picodet/picodet_s_320_coco.yml配置的
TrainReader:
     sample_transforms:
          - AutoAugment: {autoaug_type: v1}
 在训练的时候出错了，怎么解决？

训练命令： python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval

(base) F:\murong\projects1\PaddleDetection-release-2.3>python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval
C:\Users\Dev16\Anaconda3\lib\site-packages\socks.py:58:

[2021-12-18 09:43] monkeycc opened #4944 "python要怎么调用voc.yml"
想进行调用yml，修改yml
但是报错

`configs\datasets\voc.yml`

[code]

[code]

[2021-12-18 10:31] LMR2018 opened #4945 "window系统是不是不支持pp-picodet模型多卡训练？"
window系统是不是不支持pp-picodet模型多卡训练？

[2021-12-18 10:33] LMR2018 opened #4946 "pp-picodet模型window单卡训练，gpu的内存已经用满了，但gpu利用率和占比很低，cpu和内存还有很多"
pp-picodet模型window单卡训练，gpu的内存已经用满了，但gpu利用率和占比很低，cpu和内存还有很多

[2021-12-18 11:15] LMR2018 commented on #4918
@yghstill
   1、电脑内存没占满，worker_num我也调大到12了，图片和标签本地我也缩放为320*320了
   2、单卡的学习率我也调低为0.01了
   3、训练自己的模型我也用coco上训好的预训练模型了，python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval

我做完这些后速度提升了一些，但我还是感觉不够快，还能做什么可以提升训练速度吗？在window上2080的显卡要训练4个小时，我数据才1800张图片，但picodet_s_320_coco.yml配置中加了TrainReader:

  sample_transforms:
    - Decode: {}
    - Mixup: {alpha: 1.5, beta: 1.5}
    - RandomDistort: {

[2021-12-18 11:49] #4916 closed, assigned to lyuwenyu

[2021-12-18 11:49] #4914 closed, assigned to nobody

[2021-12-18 12:22] yangrisheng commented on #4752
这个issue为什么关闭了

[2021-12-18 12:33] yangrisheng opened #4947 "[BUG]AttributeError: 'dict' object has no attribute 'dtype'"
Traceback (most recent call last):
  File "tools/train.py", line 171, in <module>
    main()
  File "tools/train.py", line 167, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 118, in run
    trainer = Trainer(cfg, mode='train')
  File "/home/aistudio/work/PaddleDetection/ppdet/engine/trainer.py", line 121, in __init__
    self.optimizer = create('OptimizerBuilder')(self.lr, self.model)

[2021-12-19 05:08] nemonameless commented on #4944
在你的总的yml里写下数据集的修改配置，会覆盖掉原先voc的配置的。

[2021-12-19 05:15] nemonameless commented on #4938
对标[MLPerf Training Benchmark](https://github.com/mlcommons/training/tree/master/single_stage_detector/ssd)
一般认为 layer4的1/16下采样已经足够，SSD论文发的比FPN论文更早，Faster R-CNN最初也只取layer4一层。

[2021-12-19 05:20] nemonameless commented on #4943
用法参照 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/rcnn_enhance/_base_/faster_rcnn_enhance_reader.yml#L7
所有模型的reader里，Decode都必须是最先做的。

[2021-12-19 08:01] monkeycc commented on #4944
PaddleDetection  数据集的格式是
!VOCDataSet
前面带着!

正常的yml格式 读取不了

总的yml里写下数据集的修改配置
也就是改为 哪个数据集文件

但是不能直接修改里面的参数
比如 anno_path 和 label_list
[code]

[2021-12-19 08:17] JoyFuture opened #4948 "[Other General Issues] 评估模型时只能看系统给出的指标，比如ap50 ap75这些，如果我想看ap25，应该怎么做"
![image](https://user-images.githubusercontent.com/35593546/146668300-152ba116-4a23-4094-acf9-eb02ad1c9c73.png)

[2021-12-19 10:04] yangrisheng commented on #4947
最新版本的paddle没有问题。paddle2.2.1.我之前用的paddle2.1.2。

[2021-12-19 10:04] #4947 closed, assigned to lyuwenyu

[2021-12-19 18:04] vbvg2008 opened #4949 "[BUG] Resize 当 keep_ratio=True 时的目标大小计算存在潜在的问题"
你们好！我刚刚发现了Resize的目标大小计算可能存在潜在问题， 想和你们分享并确定一下。

可能出现问题的代码在以下几行： https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/data/transform/operators.py#L805-L820 ：
[code]
假设原始图片大小为100x50, 目标(target_size)大小为500x800, `keep_ratio`=True

#### 理想的情况
根据图片的高和宽 __分别__ 计算scale, 取最小的scale从而最终可以让图片放在500x800的目标框架中。 在这个例子中，最终目标大小应该从100x50 -> 500x250:
[code]

#### 代码中的情况
在目前的代码中， scale的计算将宽和高混淆在一块， 这样

[2021-12-19 22:16] QL-AR commented on #4313
具体怎么操作的

[2021-12-19 22:18] QL-AR commented on #4912
怎么改能说具体点吗，改那一块，我是个新手，

[2021-12-20 01:25] LMR2018 commented on #4943
@nemonameless   我已经加上了Decode，但还是报了这个错误，知道什么原因吗？ sample_transforms:
    - Decode: {}
    - Mixup: {alpha: 1.5, beta: 1.5}
    - RandomDistort: {}
    - RandomExpand: {fill_value: [123.675, 116.28, 103.53]}
    - RandomCrop: {}
    - RandomFlip: {}
    - AutoAugment: {autoaug_type: v1}

[2021-12-20 01:39] LMR2018 opened #4950 "我改用自己的数据训练后，用python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval命令运行，跑完的模型识别不出东西"
我改用自己的数据训练后，用python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval命令运行，跑完的模型识别不出东西，我修改了picodet_s_320_coco.yml配置和read.py的num_classes、category.py的clsid2catid、catid2name

[12/19 10:05:55] ppdet.engine INFO: Epoch: [299] [180/208] learning_rate: 0.000000 loss_vfl: 0.017243 loss_bbox: 0.191480 loss_dfl: 0.008528 loss: 0.220344 eta: 0:00:12 batch_cost: 0.4152 data_cost: 0.0003 ips: 19.2

[2021-12-20 01:48] hello3281 commented on #4921
非常感谢，现在我想用这个数据集训练做fairmot的跨境追踪可以吗，我只找到了deepsort的跨境

[2021-12-20 02:44] wangxinxin08 commented on #4911
8卡0.005的学习率的batchsize是12，coco预训练的链接是https://paddledet.bj.bcebos.com/models/ppyolov2_r50vd_dcn_365e_coco.pdparams, 默认的是resnet50vd的预训练模型

[2021-12-20 03:07] insoliang opened #4951 "关于将swin 放进ssd的backbone，loss不收敛的问题"
https://github.com/PaddlePaddle/PaddleDetection/issues/4922#issue-1082114111
这是之前提的issue，已经尝试改为adamw，还是不收敛，请问还有其他的办法吗？

[2021-12-20 03:08] insoliang commented on #4938
好的，十分感谢！！

[2021-12-20 03:08] #4938 closed, assigned to nobody

[2021-12-20 06:00] Jzzzr opened #4953 "复现静态图mask-rcnn，指标低"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2021-12-20 06:28] LMR2018 opened #4957 "pp-picodet模型转化为paddle-lite模型用于安卓部署时，出现这个错误Error: This model is not supported, because kernel for 'calib' is not supported by Paddle-Lite."
pp-picodet模型转化为paddle-lite模型用于安卓部署时，出现这个错误Error: This model is not supported, because kernel for 'calib' is not supported by Paddle-Lite.   ，怎么解决啊？

2021-11-01 17:26:46.023 263-263/? E/HWComposer: getPresentFence failed for invalid display -1
2021-11-01 17:26:46.036 672-898/com.android.systemui E/ResourcesManager: failed to add asset path /data/app/com.baidu.paddledetection.detection-My2Bwk8gI2Gh-

[2021-12-20 06:31] yghstill commented on #4957
@LMR2018 paddleLite版本是多少？执行命令是什么？

[2021-12-20 06:35] yghstill commented on #4950
@LMR2018 需要用PicoDet官方的reader配置哈，batch_transforms配置不能使用yolo的，PicoDet的预处理和其他模型不一样，不能混用。

[2021-12-20 06:38] yghstill commented on #4946
@LMR2018 训练时的性能瓶颈在数据IO和预处理，gpu空闲等待较多导致利用率低下，可减少数据预处理方法，或调大worker num

[2021-12-20 06:38] yghstill commented on #4945
@LMR2018 支持的哈

[2021-12-20 06:42] yghstill commented on #4942
@weyoung0 感谢反馈，正在修复

[2021-12-20 06:51] LMR2018 commented on #4957
@yghstill 版本是2.10rc，执行命令：paddle_lite_opt --model_dir=inference_model/picodet_s_320_coco --valid_targets=arm --optimize_out=picodet_s_320_coco_fp16 --enable_fp16=true

[2021-12-20 06:52] dengxinlong commented on #4925
使用预训练模型跑了两天，还是不行，mAP值始终为0，应该不是预训练的问题。学习率调整为0.001。
[code]

[code]

[2021-12-20 06:57] LMR2018 commented on #4945
@yghstill 那window系统怎么多卡训练啊？能详细说下吗？

[2021-12-20 07:04] cloudsurging opened #4958 "基于ttfnet做个anchor free的实力分割模型"
本来想基于ttfnet做个anchor free的实力分割模型，可是能力不够，还是请大神们来帮忙吧。

本人看半天paddledetection源码，也没找到数据处理与加载在哪里做的，怎么就加载出来dict_keys(['im_id', 'curr_iter', 'image', 'im_shape', 'scale_factor', 'ttf_heatmap', 'ttf_box_target', 'ttf_reg_weight', 'epoch_id'])这样结构的数据呢，大神们能讲解一下吗？

[2021-12-20 07:15] LMR2018 commented on #4950
@yghstill     batch_transforms配置不能使用yolo的，那PicoDet的batch_transforms配置预处理是怎样的？能不能发我一份详细的？

[2021-12-20 07:19] #4953 closed, assigned to nobody

[2021-12-20 08:50] nemonameless commented on #4958
代码全局搜 ttf_heatmap
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/data/transform/batch_operators.py#L614

建议先看下 [reader的文档 ](https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/advanced_tutorials/READER.md#3%E6%95%B0%E6%8D%AE%E9%A2%84%E5%A4%84%E7%90%86)

[2021-12-20 08:52] yghstill commented on #4942
@weyoung0 已修复

[2021-12-20 09:01] codedlong opened #4961 "PaddleDetection模型搭建"
## 描述问题/Describe the bug
我想给ssdlite_mobilenet_v3_large添加一个neck模块，也就是FPN，但是给的提示是 ”该模块为注册“

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run

[code]
2. 您是否更改过代码或配置文件？您是否理解您所更改的内容？还请您提供所更改的部分代码。/Did you make any modifications on the code or config? Did you understand what you have modified? Please provide the codes that you modified.

[code]

[code]
说明：就在ssdlite_mobilenet_v3_large_f

[2021-12-20 09:26] JoyFuture opened #4963 "[Other General Issues]voc格式的数据集评估模型时，使用的iou为50，如何修改这个值，比如我想看ap 0.75 应该如何解决"
![image](https://user-images.githubusercontent.com/35593546/146744193-529bbfd2-a134-4016-8482-ff1ba8fab4af.png)

[2021-12-20 09:36] LMR2018 commented on #4957
@yghstill 知道什么原因吗？paddle-lite的版本是2.10rc，使用的是这个项目https://github.com/marsplus-wjh/Picodet-PaddleLite-AndroidDemo

[2021-12-20 09:42] LushZY3300 opened #4964 "导出模型设置了参数TestReader.fuse_normalize=true,模型部署后无输出结果"
在导出模型时使用了TestReader.fuse_normalize=true， 865上模型无输出结果，没有使用TestReader.fuse_normalize=true的时候，有输出结果，请问是什么原因，应该修改哪些地方

[2021-12-20 10:04] LMR2018 commented on #4957
@yghstill 后面我用这个命令也还是哪个错误：paddle_lite_opt  --valid_targets=arm --model_file=output_inference/picodet_s_320_voc/model.pdmodel --param_file=output_inference/picodet_s_320_voc/model.pdiparams --optimize_out=output_inference/picodet_s_320_voc/model

[2021-12-20 10:28] nemonameless commented on #4961
```ppdet/modeling/necks/__init__.py```  有没有写
[code]

[2021-12-20 10:32] nemonameless commented on #4948
#4657
#4673
coco格式评估使用的是pycocotools包，源码在此
https://github.com/cocodataset/cocoapi/blob/master/PythonAPI/pycocotools/cocoeval.py#L462

[2021-12-20 10:36] nemonameless commented on #4963
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/metrics/map_utils.py#L174

#4826

[2021-12-20 10:51] cao1124 opened #4965 "OIDV5的模型评估AssertionError: the module CascadeRCNNClsAware is not registered"
按照 OIDV5_BASELINE_MODEL.md中的方法去预测，python -u tools/infer.py -c configs/oidv5/cascade_rcnn_cls_aware_r200_vd_fpn_dcnv2_nonlocal_softnms.yml -o weights=./oidv5_cascade_rcnn_cls_aware_r200_vd_fpn_dcnv2_nonlocal_softnms/ --infer_img=demo/000000570688.jpg
报错：AssertionError: the module CascadeRCNNClsAware is not registered？

[2021-12-20 12:07] codedlong commented on #4961
![image](https://user-images.githubusercontent.com/95610779/146764960-95fa3d6e-07b7-4a43-ad52-29a694d5aaf3.png)
做了相应的修改，已经按照官方提供的文档进行编写了，但是还是出现上面的问题觉得很困惑，不知道是不是还有哪个地方遗漏了？

[2021-12-20 12:58] STUSER001 opened #4967 "验证集和测试集评估结果差距很大，什么问题？"
用ppyolo-tiny 做了 目标检测的二分类，训练后的模型 对验证集的 评估结果Iou=0.5:0.95 时51.4 但是测试集则才16.4左右 ，然后自己一张一张图去infer后看 分类结果都正确。
这个是什么情况呢？？
测试集
![image](https://user-images.githubusercontent.com/88072901/146770590-83ef3a8d-e4a7-450c-bd93-bc8497fbe99f.png)
验证集
![image](https://user-images.githubusercontent.com/88072901/146770733-8e9f4425-9f8e-4ae9-b99b-399ed426df77.png)

[2021-12-20 13:57] #2521 closed, assigned to nobody

[2021-12-20 14:10] dengxinlong commented on #4647
你好，我想请问一下这个问题你解决了吗，paddle提供了paddle.summary()来打印模型的结构，但是我没找到应该加在哪里？

[2021-12-20 14:10] RhythmF opened #4968 "[Other General Issues]如何更换模型里的neck部分？"
比如说我想把ppyolo中的yolofpn更换为BIFPN（其在modeling文件中已存在），应该修改哪些yml文件？
谢谢~

[2021-12-20 14:53] edwinlong95 opened #4970 "使用paddle.summary()显示模型结构参数等信息"
利用paddle.summary()函数数想显示ppyolo_r50vd_dcn_1x_visdrone（configs/sniper/ppyolo_r50vd_dcn_1x_visdrone.yml）模型的参数，但是给出了下面的错误提示：
[code]
添加的代码为：
[code]
就是最后几行代码，从print()函数到结束。我也查过贵方的issue中关于打印模型结构的问题，但是仍然没有找到怎么解决。
参考的api文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/summary_cn.html。
问题：想知道应该怎么使用这个函数来显示模型结构，就那上面这个ppyolo_r50vd_dcn_1x_visdrone模型来举例？

paddlepaddle：2.2.0；PaddleDetection：2.3

[2021-12-20 15:13] yghstill commented on #4957
@LMR2018 --enable_fp16这个先不要指定，目前这个demo不支持fp16。你的手机型号是什么？使用官方的模型可以跑通吗？

[2021-12-20 15:15] yghstill commented on #4950
@LMR2018
在配置文件开头你可以看到：
[code]
这样的配置，表示该模型的配置拆解到了不同的子配置文件中，reader就需要查看`_base_/picodet_320_reader.yml`：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/_base_/picodet_320_reader.yml

[2021-12-20 15:17] yghstill commented on #4945
@LMR2018 看下详细的使用文档教程哈：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/README_cn.md#%E5%85%A5%E9%97%A8%E6%95%99%E7%A8%8B

[2021-12-20 15:33] thunder95 commented on #4666
@zoooo0820
CUDA 10.2, CUDNN 8.0.2, PaddlePaddle-GPU 2.2.1
仍旧无法运行成功，日志信息太少，无法定位哪部分原因。在conda虚拟环境也无法运行。

[2021-12-21 01:30] JoyFuture opened #4971 "voc和coco的map50指标计算方法不同吗？"
同一个模型，相同测试集。
这是coco的评估结果
![image](https://user-images.githubusercontent.com/35593546/146855359-d9ad10be-a11d-4ad0-9212-54b48223c38f.png)
zh这是voc的评估结果
![image](https://user-images.githubusercontent.com/35593546/146855385-71f192a2-b063-496c-8675-63779e5894f5.png)
这是什么原因

[2021-12-21 02:52] lyuwenyu commented on #4951
怎么设置的 把optimizer贴出来看下

[2021-12-21 02:54] heavengate commented on #4961
你是不是`pip install paddledet`，本地修改代码的话记得`pip uninstall paddledet`然后`export PYTHONPATH=`pwd`:$PYTHONPATH`

[2021-12-21 02:55] insoliang commented on #4951
OptimizerBuilder:
  clip_grad_by_norm: 1.0
  optimizer:
    type: AdamW
    weight_decay: 0.05
    without_weight_decay_params: ['absolute_pos_embed', 'relative_posit
ion_bias_table', 'norm']

[2021-12-21 02:56] heavengate commented on #4964
`fuse_normalize`是将normalize部分放到网络里，这样的话预处理里面不需要做normalize，如果`TestReader.fuse_normalize=true` 部署的时候需要删掉预处理里的normalize部分

[2021-12-21 02:58] heavengate commented on #4965
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/static/docs/featured_model/champion_model/OIDV5_BASELINE_MODEL.md
这个文档是静态图下的文档，对应使用静态图下的模型，需要`cd static`到static目录下运行，运行前可以`export PYTHONPATH=`pwd`:$PYTHONPATH`

[2021-12-21 03:00] insoliang commented on #4951
@lyuwenyu
是这样的：
OptimizerBuilder:
clip_grad_by_norm: 1.0
optimizer:
type: AdamW
weight_decay: 0.05
without_weight_decay_params: ['absolute_pos_embed', 'relative_posit
ion_bias_table', 'norm']

[2021-12-21 03:02] heavengate commented on #4967
你的验证集是只用来做eval还是参与训练了，如果参与训练了精度高是正常的，测试集上精度高可能是因为模型还没有训练拟合好，yolo系列模型收敛速度比较慢，建议训练epoch设置得大一些或者使用我们发布的在coco数据集上训练好的权重做finetune

[2021-12-21 03:05] heavengate commented on #4968
先修改配置文件里的neck部分使用BiFPN段，例如
https://github.com/PaddlePaddle/PaddleDetection/blob/5e9fc1ffc45821d1344048006f06ab96276d91e6/configs/ppyolo/_base_/ppyolo_r50vd_dcn.yml#L9
再添加BiFPN段的配置，或者将原来PPYOLOFPN的配置修改成BiFPN端的配置
https://github.com/PaddlePaddle/PaddleDetection/blob/5e9fc1ffc45821d1344048006f06ab96276d91e6/configs/ppyolo/_base_/ppyolo_r50vd_dcn.yml#L22
修改过程中需要保证配置使输入输出特征图的shape跟前面的backbone和后面的head能匹配上

[2021-12-21 03:11] heavengate commented on #4970
`__init__`里的backbone是str类型，是在初始化之后通过配置invoke的方法才把他初始化出来的，要打印backbone的话不要在`__init__`里打印，可以在其他函数里比如说`_forward`里打印

[2021-12-21 03:12] STUSER001 commented on #4967
预训练用 官方权重试一试对吧 可是这样训练 每周给的算力时间不够 迭代1000 次 用5天多的时间。。。

[2021-12-21 03:16] heavengate commented on #4949
感谢反馈，我们修复一下~

[2021-12-21 03:18] LMR2018 commented on #4957
@yghstill 我在rk3399上跑的，在官方的模型上跑的通，但我看到他们的包不是1.6版本的就是1.9版本的，但现在的pp-picodet用的都是1.10以上的版本啊，我安装的也是1.10rc版本的，我不指定--enable_fp16，用这个命令也报错啊：paddle_lite_opt --valid_targets=arm --model_file=output_inference/picodet_s_320_voc/model.pdmodel --param_file=output_inference/picodet_s_320_voc/model.pdiparams --optimize_out=output_inference/picodet_s_320_voc/model

[2021-12-21 03:22] LushZY3300 opened #4973 "865上picodet推理时间相比官方时间慢很多"
picodet_320_s的模型在865上的平均时间为13ms，官方给出的时间为7ms，想咨询下是哪里出了问题，因为tinypose在865上的时间基本和官方时间相同，还有picodet训练速度很慢，单卡，多卡都有实验，结果很慢，和nanodet相比训练时间显著是卡顿的感觉

[2021-12-21 03:30] LushZY3300 commented on #4964
nb文件有看到normalize合并在模型中，yml文件转json后确实少了normalize，时间还慢，请问这个预处理是读取的json进行的还是在部署代码中写死了需要手动修改？

[2021-12-21 03:34] codedlong commented on #4961
我尝试了下面两种方式：
1. 我重新使用 `python setup.py install` 安装了一下`paddledet`（我好像忘记安装paddledet了），但还是这个问题，`my_fpn`没有注册。
2. 您上面提到的`pip uninstall paddledet`，然后`export PYTHONPATH=pwd:$PYTHONPATH`，还是不行，同样的问题。

log:
[code]

[2021-12-21 03:42] Dandelion111 opened #4974 "请问TinyPose的c++demo在哪里可以找到？"

[2021-12-21 03:53] Dandelion111 opened #4975 "labelme标注的关键点数据集用paddledection如何转为coco格式"
请问paddledection有可以把labelme标注的关键点数据集转为coco格式的功能吗

[2021-12-21 03:56] LMR2018 commented on #4957
@yghstill 我Ubuntu里的paddle-lite的版本明明是  paddlelite==2.10rc0，怎么现在显示说我的转化模型版本是2.10了？      warning: the version of opt that transformed this model is not consistent with current Paddle-Lite version.
          version of opt:v2.10
          version of current Paddle-Lite:v2.10-rc
A/Paddle-Lite: [F 11/ 1 16:57:47.377 ...e_210rc/Paddle-Lite/lite/core/program.cc:356 RuntimeProgram] Check failed: (kernels.s

[2021-12-21 05:43] lyuwenyu commented on #4951
lr呢  贴个完整的吧

[2021-12-21 05:53] insoliang commented on #4951
@lyuwenyu

metric: VOC
map_type: 11point
num_classes: 3

#runtime
use_gpu: true
log_iter: 20
save_dir: output
print_flops: false

#optimizer_240e.yml
epoch: 100
LearningRate:
base_lr: 0.0001
schedulers:

!PiecewiseDecay
gamma: 0.1
milestones:
70
90
!LinearWarmup
start_factor: 0.1
steps: 4000

OptimizerBuilder:
clip_grad_by_norm: 1.0
optimizer:
type: AdamW
weight_decay: 0.05
without_weight_decay_pa

[2021-12-21 06:03] LushZY3300 commented on #4973
用的paddle lite进行的部署

[2021-12-21 06:33] lyuwenyu commented on #4951
把swin的pretrained params加上吧

[2021-12-21 07:23] edwinlong95 commented on #4970
好像还是不行，采用了一下几种方式：
[code]
body_feats出来的是list对象，不能传入到paddle.summary()中；直接model = self.backbone，仍然是str啊？

[2021-12-21 08:27] LMR2018 commented on #4950
@yghstill   TrainReader   sample_transforms:加 - AutoAugment: {autoaug_type: v1}报错呢，

[12/21 16:17:28] reader WARNING: fail to map sample transform [AutoAugment_149faa] with error: Cannot handle this data type: (1, 1, 4), <f4 and stack:
Traceback (most recent call last):
  File "C:\Users\Dev16\Anaconda3\lib\site-packages\PIL\Image.py", line 2835, in fromarray
    mode, rawmode = _fromarray_typemap[

[2021-12-21 09:07] LMR2018 commented on #4945
@yghstill  window多卡训练python -m paddle.distributed.launch --gpus 0,1 tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval  出现这个错误 AttributeError: module 'paddle.fluid.core_avx' has no attribute 'NCCLParallelContext ，怎么解决？

[2021-12-21 09:27] jerrywgz commented on #4975
目前还没有提供转换脚本，近期会提供

[2021-12-21 09:28] Dandelion111 commented on #4975
好的，谢谢大佬

[2021-12-21 09:28] jerrywgz commented on #4974
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/cpp/src/main_keypoint.cc 可以参考这里

[2021-12-21 09:33] yghstill commented on #4973
@LushZY3300
1. 测试速度是使用fp16预测的吗？
2. 由于数据预处理比较复杂，耗时增加，同时simOTA动态采样方法和ATSS相比慢30%，所以导致整体训练时间慢了。

[2021-12-21 09:34] jerrywgz commented on #4971
coco和voc的计算方式不同，coco使用的cocoapi计算评估结果，voc使用的是这里的计算方法https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/metrics/map_utils.py#L149

[2021-12-21 10:10] RhythmF commented on #4968
按照要求修改了yml文件配置之后，训练报错
AssertionError: the module BIFPN is not registered
是还要改哪部分的内容吗？

[2021-12-21 10:23] LMR2018 commented on #4896
@wangxinxin08 你训练配置上尝试过这个参数吗？AutoAugment: {autoaug_type: v1}，我的使用这个配置会报错，[12/18 17:13:32] reader WARNING: fail to map sample transform [AutoAugment_f7f412] with error: Cannot handle this data type: (1, 1, 4), <f4 and stack:
Traceback (most recent call last):
File "C:\Users\Dev16\Anaconda3\lib\site-packages\PIL\Image.py", line 2680, in fromarray
mode, rawmode = _fromarray_typemap[typekey]
KeyError:

[2021-12-21 11:54] codedlong commented on #4961
这次我又尝试重新下载`PaddleDetection`，由于我再之前的`PaddleDetection`中创建了一个新的`git`分支，为防止这种情况，所以重新下载然后跑上面的模型，还是为注册`MyFPN`模块。

[2021-12-21 12:07] JoyFuture opened #4976 "cascade_rcnn_r50_fpn_1x_coco.yml 如何去掉fpn模块"
想去掉fpn部分做个对比实验，但是paddledetection里面没有现成的，看到fasterrcnn的文件夹里面有类似的。所以按照fasterrcnn的样子修改以后，算法直接失效了，请问应该如何修改。
![image](https://user-images.githubusercontent.com/35593546/146927162-54a6aaac-9d8c-4044-99fb-bc4cbd56b4df.png)
![image](https://user-images.githubusercontent.com/35593546/146927181-d424a99c-4a48-4661-aa1b-a1c71e038293.png)
这是我按照faster配置文件修改的两个地方
![a4ce43a0c00b1946c69d9913dd29df3](https://user-im

[2021-12-21 13:31] lazyn1997 commented on #4911
那我如果单卡，batchsize为4的话设置成0.005/8/3=0.000208最好吗，会不会太小呢？因为我之前就是严格按照计算公式设置成0.0001375出现了上述的陷入局部最优的情况。

[2021-12-21 15:24] luckychay opened #4978 "检测速度慢，fps数值低导致结果显示特别卡顿"
## 描述问题/Describe the bug
A clear and concise description of what the bug is.

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?
根据readme中的以下部分：
[code]
2. 您是否更改过代码或配置文件？您是否理解您所更改的内容？还请您提供所更改的部分代码。/Did you make any modifications on the code or config? Did you understand what you have modified? Please provide the codes that you modified.
未做任何更改

3. 您使用的数据集是？/What dataset did you use

[2021-12-22 00:55] Dandelion111 opened #4979 "目标检测模型picodet和关键点检测模型是训练数据集问题"
请问，关键点检测模型用的数据是用目标检测模型扣出来之后再进行标注和训练吗？

[2021-12-22 01:58] nemonameless commented on #4978
这个只是极短的一个demo视频，fps可能还在上涨阶段。另外您使用的GPU机器是什么呢？

[2021-12-22 02:00] nemonameless commented on #4961
建议分享下你的分支，我们帮你debug下

[2021-12-22 02:12] luckychay commented on #4978
谢谢您的回复。
我的GPU是1050Ti， 换用了其他更长的视频仍然一样， 换用其他模型甚至fps只有4左右 。
另外我是使用的官方docker 镜像，在容器内运行。

`W1221 14:11:47.844183  6438 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.0, Runtime API Version: 10.2
W1221 14:11:47.844204  6438 device_context.cc:465] device: 0, cuDNN Version: 7.6.
`

Wed Dec 22 02:10:50 2021
+-----------------------------------------------

[2021-12-22 02:15] #4974 closed, assigned to nobody

[2021-12-22 02:20] Dandelion111 commented on #4975
请问大佬，如果我用自己的数据集训练，转为coco格式的，那我自己的数据集也需要标注17个关键点并且关键点名称和顺序要和coco的保持一致吗，实例的bbox也必须提供吗，我的目标是用picodet扣出来的

[2021-12-22 02:25] wangxinxin08 commented on #4911
按照学习率linear rule的法则，应该设置成0.000208，不过如果你的数据集不是coco的话，可以适当调整一下

[2021-12-22 02:46] zoooo0820 commented on #4979
@Dandelion111
以COCO数据集为例，详细解释可以见[这里](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/PrepareKeypointDataSet_cn.md)。

标注上，是按实例进行标注的（即一个人为一个单位）。直接标注该实例每一个部位的点（如左肩，右膝等）在原图尺寸上的坐标，同时也会有该实例对应的boundingbox。
训练上，根据模型不同会有差异，top-down的模型是根据上面标注的检测框抠出来之后再送入网络（相应会有个坐标变换的过程）；bottom-up则一般是原图直接送入网络。但两类模型所用的标注文件是共通的。

[2021-12-22 02:52] Dandelion111 commented on #4979
谢谢大佬回复，我想用TinyPose进行训练，现在已经训练好了检测模型picodet，不过在标注检测模型的时候没有标注关键点，我如果用TinyPose训练关键点检测模型的话，是再把之前标注的数据标上关键点信息，还是用扣好的目标图像呢？

[2021-12-22 02:55] zoooo0820 commented on #4979
@Dandelion111
直接在之前的数据中增加关键点标注即可，然后检测模型和关键点模型可以共用一份标注文件

[2021-12-22 02:56] Dandelion111 commented on #4979
好的，谢谢大佬的指导

[2021-12-22 06:08] LMR2018 opened #4981 "我自己训练得到的picodet_s_320_coco模型，在rk3399安卓上运行速度很慢，只有7FPS左右，在华为mate 30e pro上是30FPS左右，这是正常的吗？"
我自己训练得到的picodet_s_320_coco模型，在rk3399安卓上运行速度很慢，只有7FPS左右，在华为mate 30e pro上是30FPS左右，这是正常的吗？主要是模型的 predict 时间太多

相关命令：
python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --eval

python tools/export_model.py -c configs/picodet/picodet_s_320_coco.yml -o weights=output/picodet_s_320_coco/model_final.pdparams --output_dir=inference_model

paddle_lite_opt  --valid_targets=arm --model_file=picod

[2021-12-22 06:18] pussss opened #4982 "使用自己的数据集做目标跟踪训练报错"
![image](https://user-images.githubusercontent.com/86936794/147045100-8f2bc702-6e6c-4ba3-9d62-ea85b3273a32.png)

[2021-12-22 06:43] chen0928622 opened #4983 "[Other General Issues]picodet"

[2021-12-22 06:43] #4983 closed, assigned to nobody

[2021-12-22 06:43] chen0928622 commented on #4983
error

[2021-12-22 06:45] chen0928622 opened #4984 "[Other General Issues]picodet模型使用export_model导出模型后，预测时最多得到64个目标框，此限制怎么去除？"

[2021-12-22 07:00] LMR2018 opened #4985 "paddle_lite_opt --model_dir=inference_model/picodet_s_320_coco --valid_targets=arm --optimize_out=picodet_s_320_coco_fp16 --enable_fp16=true 这个命令导出的.nb模型，现在安卓上是使用不了吗？"
paddle_lite_opt --model_dir=inference_model/picodet_s_320_coco --valid_targets=arm --optimize_out=picodet_s_320_coco_fp16 --enable_fp16=true 这个命令导出的.nb模型，现在安卓上是使用不了吗？

[2021-12-22 07:27] nemonameless commented on #4982
可以截图一下你制作的labels_with_ids里的txt吗

[2021-12-22 07:35] Dandelion111 opened #4986 "TinyPose训练自己的数据集转为coco格式问题"
![image](https://user-images.githubusercontent.com/48303408/147053232-69e2a766-3623-4886-a0b6-4ee8a90efe65.png)
请问这个步骤的意思是把自己的数据集关键点的顺序和名称搞成和coco一模一样的吗？Right Shoulder的序号由0变为13是啥意思呢，coco中序号13的名字也不是Right Shoulder啊，我自己的数据集名字和coco中的完全不一样，个数也不一样应该怎么搞呢？

[2021-12-22 07:40] pussss commented on #4982
谢谢，我确实发现是labels_with_ids里txt的错误

[2021-12-22 07:58] RhythmF commented on #4968
@heavengate 请大佬解答一下，谢谢！

[2021-12-22 08:07] yghstill commented on #4981
@LMR2018  看着是正常的，这个预测速度是fp32的，如果是fp16和int8的话速度更快些。可以试下模型量化训练或者非结构化剪枝，加快模型推理速度：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/picodet#quantization

[2021-12-22 08:11] yghstill commented on #4984
@chen0928622 该模型输出远远不止64个box，你导出的步骤和使用的方法是什么样的？看下是什么其他原因导致的？

[2021-12-22 08:16] codedlong commented on #4961
不好意思，我这边在使用PaddleDetection 2.0/rc版本进行修改看看行不行，没有看到这条消息。
这是我新建的仓库：https://github.com/codedlong/PaddleDetection_tmp
还是说我提交一个新分支给你们那边？

[2021-12-22 08:22] yghstill commented on #4985
@LMR2018 可以使用，但是现在官方的Android demo只提供了fp32的预测，fp16预测还在适配中。可以先使用https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/lite 测速，这里支持fp16

[2021-12-22 08:37] zoooo0820 commented on #4986
@Dandelion111
这个文档中是因为模型本身用到了coco数据集，因此在加入其他数据的时候要对齐coco，否则同序号点意义不一样导致模型没法训练。
如果是完全自定义的数据集且不考虑用coco原本的数据训练，只需要自己先规定好各点的序号，同序号点的语义是一致的就行。这里参考上面的文档，保证标注的json文件的字段、格式和coco一致，从而让代码能顺利解析标注文件。而字段里的内容则按照实际的标注（如bbox坐标，keypoint坐标、文件名等）填写。

举个例子：如果自定义一个4点的数据集，那么对应在`annotations`中的`keypoint`中按序号将这4个点的坐标和标志位填入即可。对应在模型config文件中的num_joints改为4。

[2021-12-22 09:05] codedlong commented on #4961
上面我提到了在PaddleDetection 2.0/rc, paddlepaddle: 2.2.0中添加模块，经过测试，是可以的。
训练初始log:
[code]
### 配置文件

[code]
说明：也就是将原来FPN模块改写成了自己书写BackwardFusion模块，数据集换成了Visdrone

### 具体代码

[code]
说明：上面书写的代码虽然和前面的my_fpn有区别，但是按照官方给的自己添加模块的教程，PaddleDetection 2.0/rc 和 PaddleDetection 2.3有一些差别，但不至于出现没有注册现象。

ssd.py这个代码没有任何改动。

[2021-12-22 09:11] chen0928622 commented on #4984
我是直接使用export_model.py进行转换的，使用命令为python tools/export_model.py -c configs/picodet/picodet_s_416_coco.yml -o weights=output/picodet_s_416_coco/best_model.pdparams --output_dir=inference_model，其余均为更改，直接使用训练得到的模型结果是正常的。

[2021-12-22 09:12] chen0928622 commented on #4984
我是直接使用export_model.py进行转换的，使用命令为python tools/export_model.py -c configs/picodet/picodet_s_416_coco.yml -o weights=output/picodet_s_416_coco/best_model.pdparams --output_dir=inference_model，其余均为更改，直接使用训练得到的模型结果是正常的。

[2021-12-22 09:14] mjanddy commented on #3548
您好，请问你的第三个问题解决了吗？

[2021-12-22 09:33] pussss opened #4987 "使用自己的数据集训练目标跟踪，推理的时候没有结果?"

[2021-12-22 11:19] nemonameless commented on #4987
请再详细描述。
可以首先调低得分阈值看下效果。
最好给下训练开阶段和训完结束的loss截图，以及你最后运行命令。

[2021-12-22 11:19] #4982 closed, assigned to nobody

[2021-12-22 11:22] nemonameless commented on #4971
#4826 #4963 #4657 #4673 #4948

[2021-12-22 11:23] nemonameless commented on #4976
是coco数据集还是自己的数据集？
请提供一下你的代码分支，方便查看代码debug。

[2021-12-22 11:33] pussss commented on #4987
![image](https://user-images.githubusercontent.com/86936794/147086558-cdefb65d-47da-4f1e-a0ed-773278db95a7.png)
![image](https://user-images.githubusercontent.com/86936794/147086591-9510ffe1-2970-40e2-8aae-504d8b824c24.png)
![image](https://user-images.githubusercontent.com/86936794/147086615-260ce435-3343-47c4-a9b3-42bb8a36d502.png)

[2021-12-22 11:45] nemonameless commented on #4987
你这个是eval过程。
gt你有制作吗？参照MOT17/images/train/MOT17-02-SDP/gt/gt.txt 制作下，参照 [mot数据文档](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/PrepareMOTDataSet_cn.md#%E7%94%A8%E6%88%B7%E6%95%B0%E6%8D%AE%E5%87%86%E5%A4%87)

建议直接用infer_mot.py看看效果

[2021-12-22 11:58] pussss commented on #4987
这是我的gt，我之前用infer_mot.py推理也是没有结果，数据的制作是根据 mot数据文档来的

[2021-12-22 13:30] nemonameless commented on #4987
你的gt没有看到
另外请截图看下最终的结果txt文件   output/mot_results/MOT18-02.txt

[2021-12-22 13:31] nemonameless commented on #4968
请提供一下你的代码分支，方便查看代码debug。

[2021-12-22 13:34] pussss commented on #4987
![image](https://user-images.githubusercontent.com/86936794/147100639-30422a33-29eb-4f78-9b2a-74d348fe540d.png)
这是我的gt文件
推理的时候最终的结果txt文件 output/mot_results/MOT18-02.txt 这个文件是空的，什么也没有

[2021-12-22 15:29] RhythmF commented on #4968
@nemonameless
运行环境为百度的AI Studio的BML ,训练代码为
`!python tools/train.py -c configs/ppyolo/ppyolov2_r50vd_dcn_voc.yml.yml --eval --use_vdl=True --vdl_log_dir="./output"`

只修改了yml了文件  PaddleDetection/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml 中的
第9行 neck: PPYOLOPAN 修改为 neck: BIFPN
与第22行
PPYOLOPAN:
  drop_block: true
  block_size: 3
  keep_prob: 0.9
  spp: true
改为
BIFPN:
    norm_type: bn
    num_stacks

[2021-12-23 00:37] jeffzhengye commented on #4869
以一个意想不到的方式解决了
是cudnn 的问题，cudnn以deb形式安装就没有问题，不要直接解压tar.gz安装包然后拷贝。

以前在纯linux环境（非wsl2 linux），直接解压都没有问题。

[2021-12-23 01:45] #4986 closed, assigned to zoooo0820

[2021-12-23 01:45] #4979 closed, assigned to nobody

[2021-12-23 01:46] #4975 closed, assigned to nobody

[2021-12-23 01:50] nemonameless commented on #4968
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml#L9 这里也要改
[code]
另外BiFPN  i是小写字母

[2021-12-23 02:04] yghstill commented on #4984
@chen0928622 导出后模型预测代码使用的是？

[2021-12-23 02:10] #4080 closed, assigned to yghstill

[2021-12-23 02:13] chen0928622 commented on #4984
使用的是deploy/python/infer.py

[2021-12-23 02:33] #3806 closed, assigned to nobody

[2021-12-23 02:47] wangxinxin08 commented on #4949
@vbvg2008 你应该理解错了，keep_ratio为True时，应该是长边/长边，短边/短边，所以最终im_scale应该是8

[2021-12-23 02:57] Dandelion111 opened #4988 "请问TinyPose用预训练模型做迁移学习大概需要多少数据集呢？"

[2021-12-23 03:00] JoyFuture commented on #4976
如何在配置文件中去掉fpn模块

[2021-12-23 04:30] RhythmF commented on #4968
@nemonameless

已修改
然后报错
Traceback (most recent call last):
  File "tools/train.py", line 171, in <module>
    main()
  File "tools/train.py", line 167, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 127, in run
    trainer.train(FLAGS.eval)
  File "/home/aistudio/PaddleDetection/ppdet/engine/trainer.py", line 398, in train
    outputs = model(data)
  File "/opt/conda/envs/python35-paddl

[2021-12-23 05:27] nemonameless commented on #4968
参数个数没对上。
参考 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/necks/yolo_fpn.py#L444
去修改 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/necks/bifpn.py#L289
就是加个 for_mot=False

[2021-12-23 06:33] zhiboniu commented on #4988
是指的在自己的数据集上继续训练吗？
看问题难度，一般几千张图片就可以，可以根据效果调整。

[2021-12-23 06:34] Dandelion111 commented on #4988
好的，谢谢回复

[2021-12-23 06:38] RhythmF commented on #4968
@nemonameless
加了 for_mot=False

报错
Traceback (most recent call last):
  File "tools/train.py", line 171, in <module>
    main()
  File "tools/train.py", line 167, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 127, in run
    trainer.train(FLAGS.eval)
  File "/home/aistudio/PaddleDetection/ppdet/engine/trainer.py", line 398, in train
    outputs = model(data)
  File "/opt/conda/envs/pyt

[2021-12-23 06:45] JoyFuture commented on #4976
如何在配置文件中去掉fpn模块

[2021-12-23 07:10] #4988 closed, assigned to nobody

[2021-12-23 07:50] zkailinzhang opened #4989 "pptracking mot_sde_infer.py 已经选择cpu 报gpu错"
File "/home/aistudio/PaddleDetection/deploy/pptracking/python/det_infer.py", line 462, in load_predictor
    predictor = create_predictor(config)
ValueError: (InvalidArgument) Device id must be less than GPU count, but received id is: 0. GPU count is: 0.
  [Hint: Expected id < GetCUDADeviceCount(), but received id:0 >= GetCUDADeviceCount():0.] (at /paddle/paddle/fluid/platform/gpu_info.cc:350)

!c

[2021-12-23 08:03] zkailinzhang opened #4990 "[实时跟踪系统PP-Tracking 多摄像头reid可视化]"
## 🚀  新功能/Feature
![52f71d14145bdbd9c2f06e274d850ef](https://user-images.githubusercontent.com/10251153/147208374-b3eabd11-128f-4e5f-95c6-0c116e2f2627.png)
pptracking 多个摄像头的reid能这样可视化吗，多路相机 同时画出reid结果，
PaddleDetection欢迎大家以清晰简洁的语言提出新功能需求。

A clear and concise description of the feature proposal.

## 需求原因&示例/Motivation & Examples

请描述这个需求的必要性。

Tell us why the feature is useful.

请描述这个需求可实现的具体功能，如果可

[2021-12-23 08:21] wangxinxin08 commented on #4989
你这边后面又加了一个--device=GPU

[2021-12-23 08:44] nemonameless commented on #4990
理论上可行的，跨镜头效果非常依赖训练数据，而且镜头越多难度越大。我们会讨论排期。

[2021-12-23 08:52] zkailinzhang commented on #4989
是的 多写了

[2021-12-23 08:52] #4989 closed, assigned to nobody

[2021-12-23 09:19] SunYiLing123 opened #4991 "Jetson平台编译指南"
我配置好环境路径执行
root@fniot-desktop:/data/download/PaddleDetection/deploy/cpp#   sh ./scripts/build.sh
报错如下：
[ 71%] Building CXX object CMakeFiles/main.dir/src/preprocess_op.cc.o
[ 78%] Building CXX object CMakeFiles/main.dir/src/object_detector.cc.o
[ 85%] Building CXX object CMakeFiles/main.dir/src/picodet_postprocess.cc.o
[ 92%] Building CXX object CMakeFiles/main.dir/src/utils.cc.o
make[2]: *** No r

[2021-12-23 09:52] chen0928622 commented on #4984
请问使用tools/infer.py 预测与使用deploy/python/infer.py 预测的后处理是否是一致的？

[2021-12-23 09:52] chen0928622 commented on #4984
@yghstill 请问使用tools/infer.py 预测与使用deploy/python/infer.py 预测的后处理是否是一致的？

[2021-12-23 10:27] mjanddy opened #4992 "使用picodet的ncnn编译错误"
![image](https://user-images.githubusercontent.com/27938658/147227084-24cbad4c-de58-42ac-8c7d-6bd294565730.png)
我在使用ncnn过程中编译demo,但是显示路径不对，这个报错应该设置哪个环境变量，已设置ncnn_DIR，但ncnnConfig.cmake不在ncnn_DIR路径下

[2021-12-23 11:30] wangxinxin08 commented on #4991
你好，根据报错信息显示，可能的原因是scripts/build.sh中相关的配置文件没有填写正确，需要将scripts/build.sh相关的配置正确设置

[2021-12-23 16:01] jackiezzq opened #4993 "s2anet训练 mAP过低"
## 描述问题/Describe the bug
A clear and concise description of what the bug is.

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?
使用s2anet_1x_spine.yml配置，只修改了学习率
python tools/train.py -c configs/dota/s2anet_1x_spine.yml --eval

4. 请提供您出现的报错信息及相关log。/Please provide the error messages or relevant log information.
loss 在下降但是mAP反而更低了
![image](https://user-images.githubusercontent.com/1

[2021-12-23 19:09] vbvg2008 commented on #4949
@wangxinxin08 我觉得这个取决于 `target_size` 的定义。

如果是长边/长边， 短边/短边的话，`target_size` 的定义就是 (短边目标长度, 长边允许的最大长度)。这也解释了为什么很多模型的config中 `target_size` 是 (800, 1333) 。 因为这个的确和 Detectron 中 Resize 的逻辑一致 https://github.com/facebookresearch/Detectron/blob/main/detectron/utils/blob.py#L111-L116  只不过在Detectron中 这两个数是明确分开的： `target_size` 为 800， `max_size` 是 1333 。现有代码将两个意义完全不同的数一起变成 `target_size` 会给用户带来很多疑惑。

还有当keep_ra

[2021-12-24 01:32] chen0928622 commented on #4984
@yghstill 问题已解决，原因是在picodet_postprocess程序中，nms是candidate_size默认值为200，导致一些得分相对稍低的框子被过滤掉。

[2021-12-24 02:03] yghstill commented on #4992
@mjanddy 请重新检查下ncnn的安装步骤，确保ncnnConfig.cmake存在

[2021-12-24 02:13] mjanddy commented on #4992
ncnnConfig.cmake存在，但是不和ncnn.cmake在同一目录下；ncnn安装步骤是按官方的步骤来的

[2021-12-24 03:33] lyuwenyu commented on #4993
训练完了嘛，  用的什么数据 ， 几个卡训练的， 学习率改成了多少

[2021-12-24 04:03] wangxinxin08 commented on #4949
@vbvg2008 确实这两个逻辑现在是并用的一套逻辑，容易造成混淆，后续我们看看是否把这两种逻辑解耦出来，或者添加文档以及注释以帮助用户理解

[2021-12-24 04:05] wangxinxin08 commented on #4993
你好，你是直接训练spine这个数据集吗？使用的PaddlePaddle和PaddleDetection版本是什么？

[2021-12-24 04:11] #4944 closed, assigned to nobody

[2021-12-24 04:20] jackiezzq commented on #4993
自己标注的旋转数据，发票混贴场景。
aistudio paddle2.2.1 ppdet develop版本，单卡学习率0.00125

[2021-12-24 06:17] LMR2018 opened #4994 "我在安卓上跑的模型，我怎么修改Java代码和c++代码，才能用Java返回c++预测结果的results值而不是boolean值？"
我在安卓上跑的模型，我怎么修改Java代码和c++代码，才能用Java返回c++预测结果的results值而不是boolean值？
官方的代码是直接返回boolean类型的true和false，我想在c++那边直接把目标检测的结果返回到Java中来进行下一步的处理，我该如何修改？

Java所在的代码是：
CameraFragment.java 中的：
 boolean predictor.process(inTextureId, outTextureId, textureWidth, textureHeight, savedImagePath);
Native.java 中的：
 return nativeProcess(ctx, inTextureId, outTextureId, textureWidth, textureHeight, savedImagePath);
c++所在的

[2021-12-24 06:22] lyuwenyu commented on #4994
这代码从哪来的  你可以修改一下预测的代码吧

[2021-12-24 06:25] LMR2018 commented on #4994
@lyuwenyu   从这里拿来的 https://github.com/marsplus-wjh/Picodet-PaddleLite-AndroidDemo，我在c++那里可以用struct返回多个返回值，但是我要在Java中对应修改他们的返回值类型呢？

[2021-12-24 06:53] wangxinxin08 commented on #4993
你好，使用自定义数据集的话，需要修改数据集配置文件，如`configs/datasets/spine_coco.yml`，并注意修改num_classes为你所使用的类别，同时注意在`configs/dota/s2anet_1x_spine.yml`修改**S2ANetHead**的num_classes，最后可以加载dota的预训练模型，可以在[S2ANet文档](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/dota)中找到，你需要加载alignconv的预训练模型，即https://paddledet.bj.bcebos.com/models/s2anet_alignconv_2x_dota.pdparams

[2021-12-24 07:02] jackiezzq commented on #4993
![image](https://user-images.githubusercontent.com/18511799/147327188-fb3799b2-8d61-4dda-a7b8-2ef2a770f75f.png)
自定义数据集这两个个改了的，忘说了。
然后我直接s2anet_1x_spine.yml改学习率0.00125，spine_coco数据集，训练完的mAP也巨低

[2021-12-24 07:02] canghaiyunfan opened #4995 "[BUG]tiny-pose python 和C++ 预处理代码不一致"
发现tiny-pose python 和C++ 预处理代码有不一致的地方，请确认下是否有问题

具体在get_affine_transform 函数中
1.
![image](https://user-images.githubusercontent.com/21115878/147327243-19e05452-89ac-494c-a04e-800a1c854fc9.png)
![image](https://user-images.githubusercontent.com/21115878/147327203-151a9cf5-0a08-48ee-a691-65ee1c3178ac.png)
2.
![image](https://user-images.githubusercontent.com/21115878/147327311-4485b81f-d809-4f21-a164-

[2021-12-24 07:28] wangxinxin08 commented on #4993
稍等，我试下

[2021-12-24 07:53] cao1124 commented on #4965
您好，按照您讲的执行成功了，谢谢~
大佬，牛逼~

[2021-12-24 07:57] lyuwenyu commented on #4994
那相关的repo下也提个issue吧

[2021-12-24 08:20] SunYiLing123 commented on #4991
WITH_GPU=ON

WITH_MKL=OFF

WITH_TENSORRT=ON

PADDLE_LIB_NAME=fluid_inference

TENSORRT_INC_DIR=/usr/src/tensorrt/include

TENSORRT_LIB_DIR=/usr/src/tensorrt/lib

PADDLE_DIR=../fluid_inference/

CUDA_LIB=/usr/local/cuda-10.2/lib64/

CUDNN_LIB=/usr/lib/aarch64-linux-gnu/

WITH_KEYPOINT=OFF

MACHINE_TYPE=`uname -m`
echo "MACHINE_TYPE: "${MACHINE_TYPE}

if [ "$MACHINE_TYPE" = "x86_64" ]
then
  echo "s

[2021-12-24 08:32] zhiboniu commented on #4995
这个差别不影响效果

[2021-12-24 08:46] Dandelion111 opened #4998 "labelme标注的数据集训练TinyPose如何转为COCO格式"
请问各位大佬，我用labelme标注的关键点数据集，其中目标检测标注了4类，我在目标检测之后对其中的一个目标类进行关键点检测，在标注好了框和关键点，目前不知道应该如何转为coco格式，官方有没有相关的脚本呢？

[2021-12-24 08:55] canghaiyunfan commented on #4995
好的，感谢

[2021-12-24 08:55] #4995 closed, assigned to nobody

[2021-12-24 09:11] wangxinxin08 commented on #4991
这个应该是PADDLE_LIB_NAME和PADDLE_DIR这两个参数没设置好，首先PADDLE_DIR要设置成下载的PaddleInference的绝对路径，比如paddle_inference.tgz解压到paddle_inference文件夹，就指定paddle_inference的绝对路径，PADDLE_LIB_NAME可以查看paddle_inference/paddle/lib里面中的.so文件去掉后缀，比如如果是libpaddle_inference.so就填libpaddle_inference

[2021-12-24 09:12] xiaofeixuan opened #4999 "飞桨有图像差异化模型训练吗"
请假一下，飞桨对比两张图片里面的差异功能，输出不一样的地方，有这块的套件吗？

[2021-12-24 10:14] lyuwenyu commented on #4998
参考这个脚本 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/tools/x2coco.py

[2021-12-24 10:15] lyuwenyu commented on #4999
目前没有这个功能

[2021-12-24 11:06] wangxinxin08 commented on #4993
可以尝试可视化下效果，这个训练的精度确实相对较低，但是可视化效果还行，另外加在dota预训练精度会更好一些

[2021-12-24 11:47] ponycloud235 commented on #4465
支持的，是我使用了模型paddleslim导致的

[2021-12-24 11:47] #4465 closed, assigned to nobody

[2021-12-24 14:40] #4949 closed, assigned to heavengate

[2021-12-25 01:03] bppps opened #5000 "多类别目标跟踪训练自己的数据集， eval过程得到的只有0cls的物体轨迹，并且物体轨迹的坐标为负数"
## 描述问题/Describe the bug
多类别目标跟踪训练自己的数据集， eval过程得到的只有0cls的物体轨迹，并且物体轨迹的坐标为负数

## 复现/Reproduction

[code]
 CUDA_VISIBLE_DEVICES=0 python tools/eval_mot.py -c configs/mot/mcfairmot/mcfairmot_dla34_30e_1088x608_visdrone.yml -o weights=output/mcfairmot_dla34_30e_1088x608_visdrone/0.pdparams

2. 更改代码处：配置文件的类数更改， batchsize改为1

3. eval得到的轨迹
293,1,-142.29570692881188,-146.90969255778572,280.57317224147255,

[2021-12-25 08:55] RhythmF commented on #4968
@heavengate
感谢此前不厌其烦的解答，希望可以继续得到帮助，解答上述问题。谢谢！

[2021-12-25 09:30] Dandelion111 opened #5001 "训练TinyPose时开启--eval参数，出现问题"
各位大佬，我在训练TinyPose时出现如下错误，
<img width="556" alt="1640424422" src="https://user-images.githubusercontent.com/48303408/147382115-632b2334-4b79-46c6-b099-f2edebaab6cd.png">
我的关键点个数是13个，我已经在配置文件把num_join改为13，coco的个数是17，请问还有别的地方需要改吗
不开启--eval参数可以训练，就是loss开始就很低，只有0.002，最终下降到0.001左右

[2021-12-25 09:32] #4998 closed, assigned to nobody

[2021-12-25 09:54] Dandelion111 commented on #4691
大佬，关键点检测配置文件参数说明更新了吗

[2021-12-26 06:05] nemonameless commented on #5000
第一个epoch还没训的很好，起码10epoch再eval看看。
bs=1太小了，lr需要跟着改下的，和默认bs算下线性比例改下再训。
自定义数据集，以及多类别时，请仔细检查gt制作过程，可视化确认下框和id种类有没有对上。
另外请提供loss截图(刚开始阶段和训完时的阶段的)，以便分析原因，谢谢。

[2021-12-26 06:48] nemonameless commented on #4968
请提供一下你的代码分支，方便我们帮查看代码debug。

[2021-12-26 06:52] bppps commented on #5000
感谢您的回复！gt的制作应该没有问题，但是在dataset初始化的时候出现了这些信息，是否指示类别有问题？
![批注 2021-12-26 144430](https://user-images.githubusercontent.com/44322223/147401177-29582b5c-8dc3-44f8-88e9-1ee301c8fde0.jpg)

[2021-12-26 07:05] bppps commented on #5000
loss变化如下
![批注 2021-12-26 144900](https://user-images.githubusercontent.com/44322223/147401430-fea26258-03a6-487c-92bb-67eb6083618f.jpg)
![批注 2021-12-26 144312](https://user-images.githubusercontent.com/44322223/147401431-7e833d14-fc67-49ce-b3e1-baf079546110.jpg)

：

[2021-12-26 08:41] nemonameless commented on #4921
本质上跨镜头跟踪是多个单镜头跟踪结果的融合，但是严格意义上的跨镜头数据集很难找，推荐使用deepsort方案训bdd100k，然后到你自己的几个不同视角的视频去测下。

[2021-12-26 09:01] RhythmF commented on #4968
@nemonameless 不好意思，不太会用github，请问是不是这样的？
https://github.com/RhythmF/PaddleDetection

一共只修改了 https://github.com/RhythmF/PaddleDetection/blob/release/2.3/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml#L9
https://github.com/RhythmF/PaddleDetection/blob/release/2.3/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml#L22-L26
https://github.com/RhythmF/PaddleDetection/blob/release/2.3/ppdet/modeling/necks/bifpn.p

[2021-12-26 12:38] nemonameless commented on #5000
你要跟踪的目标的类别有20类吗？这个打印是区分联合数据集时每个数据集对应类别的开始id号的。如果只有1个数据集，这样每个类别的开始id就都是0。

[2021-12-27 02:22] jackiezzq commented on #4993
大概的框是对的，但是角度有点差距，这个训练应该往哪个方向调整？
![image](https://user-images.githubusercontent.com/18511799/147427924-f69f89e0-873d-4fdf-ac70-2681bd04a5b2.png)

[2021-12-27 02:25] jackiezzq commented on #4993
大概的框是对的，但是角度有点差距，这个训练应该往哪个方向调整？
![image](https://user-images.githubusercontent.com/18511799/147428084-9502068f-72dd-4ce0-9850-44898ba4acff.png)

[2021-12-27 02:28] ponycloud235 opened #5002 "训练开启多卡训练开启--eval 验证会卡死"
## 描述问题/Describe the bug
1. 主要会卡死
2. 训练日志无相关loss
训练中无法开启--eval验证，一开启训练会之间卡死; 关闭训练，相关的loss都没有打印输出

日志位于log/workerlog.0
![image](https://user-images.githubusercontent.com/2733701/147428129-21c96d1a-65d7-4db1-8fde-63b74c51a26a.png)

## 复现/Reproduction

1. 您使用的命令是？/What command or script did you run?

[code]

4. 请提供您出现的报错信息及相关log。/Please provide the error messages or relevant log information.

## 环境/E

[2021-12-27 02:50] zoooo0820 commented on #4691
@Dandelion111  可以参考这里：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/KeyPointConfigGuide_cn.md

[2021-12-27 02:52] Songjingze commented on #4666
二维码失效了。

[2021-12-27 02:52] zoooo0820 commented on #5001
@Dandelion111  请问配置文件中train / eval的对应文件路径是否都更改了呢？

[2021-12-27 03:14] insoliang opened #5003 "detr 训练过程中，验证结果一直是0"
使用自己的数据集，单卡训练，在defomable detr上可以得到90%的map。
在detr上，学习率分别改为0.0001，0.000003，0.00001，结果一直是0。请问是什么原因呢，麻烦帮我看看谢谢！
配置文件如下

[code]

[2021-12-27 03:15] insoliang commented on #5003
大概是跑了250多个epoch仍然是0，所以停掉了。

[2021-12-27 03:38] Dandelion111 commented on #5001
你好，train和eval都已经改成了我自己的数据集路径
![294)PK04~{_ 8G7FZIQPKUD](https://user-images.githubusercontent.com/48303408/147431910-76d8d9ae-9b91-420f-ae6e-62c2c0e34f4f.png)
难道目前TinyPose只能训练17个点的数据集吗，oks_iou函数中的vars是用来干嘛的呢

[2021-12-27 05:40] wangxinxin08 commented on #4993
可以加载dota预训练模型，以及适当地提高一下回归loss的权重，如果有更多的数据来训练，应该会有更好的效果

[2021-12-27 05:43] nemonameless commented on #5000
确定是跟踪20类？建议再检查下gt的id号和类别号。你的loss刚开始感觉太大了有点不正常。

[2021-12-27 05:57] Songjingze commented on #4666
在pc上开启trt加速后，模型初始化的时间太长了，一个模型10分钟。

[2021-12-27 06:20] nemonameless commented on #4968
ppyolo 只有3个head，resnet backbone一般出3层特征送入yolo_fpn。而bifpn原本是 EfficientNet为backbone的，出backbone的3层后还加了额外的两层输出，所以是总共5层送入bifpn里的。
此外代码里普通yolo_fpn出来是分辨率小的在先，如20x20 40x40 80x80，而代码里bifpn出来的特征是分辨率大的在先，你改下倒序即可。
但是，只能训通，不保证能训的很高。

改动在此：
[code]
和  https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/modeling/necks/bifpn.py#L300
[code]

[2021-12-27 06:28] #4965 closed, assigned to heavengate

[2021-12-27 06:48] jackiezzq commented on #4993
![image](https://user-images.githubusercontent.com/18511799/147443097-c0351760-2949-4428-973a-81d2adcbde26.png)
具体调哪个权重呢

[2021-12-27 06:58] Songjingze opened #5005 "开启trt加速后，模型初始化这一步非常慢"
## 描述问题/Describe the bug
开启trt加速后，模型初始化这一步非常慢，需要10分钟。
定位到具体代码在 deploy/python/infer.py  564行
    ‘’‘predictor = create_predictor(config)’‘’
## 复现/Reproduction

[code]

## 环境/Environment
win10
python3.8 cuda 11.2 cudnn 8.1.1 tensorrt 8.0.1.6

[2021-12-27 06:59] hello3281 opened #5006 "关于训练的问题"
我尝试去训练bdd100k2mot，但是出现了这样的错误AssertionError: The dataset/mot/image_lists is not a directory.，我用的数据是提供的zip包，配置文件如下，我用val评估是没问题的，这是训练执行语句  CUDA_VISIBLE_DEVICES=0 python tools/train.py -c configs/mot/vehicle/fairmot_dla34_30e_1088x608_bdd100kmot_vehicle.yml -o weights=https://paddledet.bj.bcebos.com/models/mot/fairmot_dla34_30e_1088x608_bdd100kmot_vehicle.pdparams

TrainDataset:
  !MOTDataSet
    data

[2021-12-27 07:21] wangxinxin08 commented on #4993
reg_loss_weight可以都适当增加一下

[2021-12-27 07:23] nemonameless commented on #5006
参考文档
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/mot#%E6%95%B0%E6%8D%AE%E9%9B%86%E7%9B%AE%E5%BD%95

首先按照以下命令下载image_lists.zip并解压放在PaddleDetection/dataset/mot目录下：
[code]

[2021-12-27 08:37] qingqing01 commented on #5005
Paddle-TRT在加载时确实耗时。

[2021-12-27 08:39] qingqing01 commented on #5003
相比Defomable DETR，您在使用DETR时做了哪些改动呢？

[2021-12-27 08:41] qingqing01 commented on #5002
@yihuiluo235 看起来训练时出NAN了，您在使用4卡训练时，需要调整学习率，另外如果训练自定义数据，建议加载COCO预训练，先确保无NAN，再看训练中eval是否有问题吧。

[2021-12-27 08:41] insoliang commented on #5003
@qingqing01
您好，结构上没有做任何的改动，配置文件全部在上面里了。

[2021-12-27 08:44] ghostxsl commented on #5003
你为什么要用这么小的学习率来训练？

[2021-12-27 08:45] Songjingze commented on #5005
感谢回复，在win10 2060 gpu 上跑tiny_pose不用trt加速很难达到实时，用trt的话，加载很慢。我想实时检测肢体关键点，有解决方法吗？

[2021-12-27 08:50] ghostxsl commented on #5003
建议您先用0.0001的学习率，缩小数据集到2张图像跑一下，看看模型能否收敛

[2021-12-27 09:18] ponycloud235 commented on #5002
好的，目前设置的为0.005的学习率，我调低试试。 感谢

[2021-12-27 10:05] wstchhwp opened #5007 "infer推断时，保存的置信度最小是0.01？"
你好，我这边infer的时候，发现可视化结果或者是保存的txt中，最小的置信度均为0.01，不可以设置为更小的吗，比如0.0001。我这边尝试将draw_threshold调整为0.0001，最小的置信度仍然为0.01，是模型训练的问题还是nms中卡阈值了？？

[2021-12-27 10:31] LingyvKong opened #5008 "MOT模型中哪些是支持多类别的"
## 📖  文档优化/Documentation Improvement

请问MOT模型中哪些是支持多类别的？
除了mcfairmot之外，deepsort和JDE是否支持多类别呢？

此外，以下两个链接有矛盾，链接1的数据格式写到支持多类别，链接2写到 "目前仅支持单类别多目标跟踪", 希望可以统一。

链接1：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/mot/README.md
链接2：https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/tutorials/PrepareMOTDataSet_cn.md

[2021-12-27 11:19] zhiboniu commented on #5001
当然可以训练非17个点的，但是不仅仅是改num_joint。
这里的sigma数量也要改的，而且sigmas里的值也应该根据实际点位的可靠范围来估计一个，位置越精确值越小，可以跟coco关键点对应起来看。
还有upper_body_ids、flip_perm还有可视化函数里的关键点链接关系，都是应该根据你自己的点定义做修改的

[2021-12-27 11:37] Dandelion111 commented on #5001
感谢大佬的回复，num_joint、upper_body_ids、flip_perm我都已经改过了，但是不太明白大佬说的sigma数量如何修改，配置文件默认的sigma为2
![image](https://user-images.githubusercontent.com/48303408/147467979-a4d93a92-6930-4267-9ea3-cf735dbc2d2a.png)
如果我训练13个关键点，这个值应该如何修改呢？
大佬说的sigmas是这个吗？
![image](https://user-images.githubusercontent.com/48303408/147468096-e47e74bc-856a-469d-972a-56395ff5fed6.png)

这里面的值根据实际点位的可靠范围来估计一个，是啥意思呢，我是一个小白，对这方面不太明白，希望大佬

[2021-12-27 12:14] insoliang commented on #5003
@qingqing01 我试了一下 训练集和验证集同样的2张图像，结果有较小的值，换成原来的数据集就又没有值了...

[2021-12-27 12:26] ghostxsl commented on #5003
你先去掉复杂的data aug，直接resize进网络训练一下看看

[2021-12-27 13:23] nemonameless commented on #5008
目前只有MCFairMOT 支持多类别跟踪，考虑到单类别行人跟踪FairMOT已经超越JDE很多，所以JDE就没有支持多类别。
DeepSORT受限于ReID权重(一般只用人或车的ReID数据集训的)，故也没有支持多类别。
文档会尽快修复，感谢建议。

[2021-12-27 13:30] nemonameless commented on #5007
nms中卡阈值了，可自行检查nms配置，搜索下```score_threshold: ```。你所说的情况应该就是设置0.01

[2021-12-27 14:29] #4927 closed, assigned to nemonameless

[2021-12-27 14:29] #4898 closed, assigned to nemonameless

[2021-12-27 14:29] #4921 closed, assigned to nemonameless

[2021-12-27 14:52] nemonameless commented on #3179
infer_mot.py目前已经默认跑出结果视频加txt文件了

[2021-12-27 14:52] #3179 closed, assigned to nemonameless

[2021-12-28 01:17] LMR2018 opened #5012 "pp-picodet使用安卓案例，当安卓用异步线程时cpp文件夹中的Pipeline.h用glReadPixels方法获取像素失败"
pp-picodet使用安卓案例，当安卓用异步线程时cpp文件夹中的Pipeline.h用glReadPixels方法获取像素失败，没法正常获取缓存数据data，我应该如何解决？

rgbaImage->create(textureHeight, textureWidth, CV_8UC4);
glReadPixels(0, 0, textureWidth, textureHeight, GL_RGBA, GL_UNSIGNED_BYTE, rgbaImage->data);

[2021-12-28 01:35] wstchhwp commented on #5007
好的，谢谢！建议这个可以给个配置，因为计算map时这个值很关键

[2021-12-28 02:04] edwardnguyen1705 opened #5013 "PicoDet: how to freeze some layers, such as backbone?"
Dear authors,
Thanks for sharing your great work,
When finetuning the Picodet model, what is the correct way to freeze some layers?
I have tried the following, but the training process will take longer (before eta: 2.5 days, after modification eta: 5 days).
https://github.com/PaddlePaddle/PaddleDetection/blob/543ecb9153795f1502c2339e9fea256c2dc225ba/ppdet/optimizer.py#L264

[code]

If I tried to a

[2021-12-28 02:05] yghstill commented on #5012
@LMR2018 android及JNI调用应该保持在同一线程吧，可以检索下有没有解决方案。

[2021-12-28 02:12] #4992 closed, assigned to yghstill

[2021-12-28 04:25] nemonameless commented on #5007
模型配置文件里都有设置，例如 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ppyolo/_base_/ppyolov2_r50vd_dcn.yml#L62
开放的模型的配置默认是coco数据集上最佳的设置了。

[2021-12-28 06:02] wjplove8 commented on #2003
这个是fasterrcnn模型的要求还是说是paddledetection这样要求的？在哪里查这些参数要求

[2021-12-28 06:27] yghstill commented on #5013
@edwardnguyen1705 You should set `stop_gradient=True` for parameters only once in the backbone's init. If you set it for each iteration, training will slow down. You can refer to:
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/backbones/resnet.py#L118

[2021-12-28 06:56] LFeightyFour opened #5015 "PaddleDetection如何以数据流形式进行预测而非调用文件[Feature Request]"
目前paddledetection的infer.py文件中，是通过ImageFolder的方式加载图像，即只能通过文件输入，这对使用摄像头实时预测带来困难。我想要直接给numpy数据，以数据流形式输入。
我看到今年二月份有类似的提问，我看到回复是两种处理方式。
方式一是使用旧的infer.py代码，但其中使用了fluid模块，这个模块现在已不提倡使用。
方式二是自行增加数据流形式的DataSet，替换原有的方式，这个实现起来又较为困难。
请问现在官方有没有提供新的demo，可以方便的以数据流形式输入呢？

[2021-12-28 07:38] bppps commented on #5000
感谢您的回复， 跟踪的类别一共是43类（一共4w4k张图片）。通过打印MOTDataSet中存储的roidb中的内容， 存储的和labelswithid的内容是一致的，并且也包含了多类别，标注的内容也是正确的。数据集的图片size不规则（480 * 640等等），这会对模型的收敛有影响吗，我看到即使是训练很久的权重文件，在训练集上的输出的坐标都是正的，但是置信度很低(小于0.1）

[2021-12-28 08:19] taochongyue opened #5016 "使用solov2训练自己的数据集出现问题"
根据数据转换教程，我将自己使用labelme标注的数据集转换成coco格式的数据集后，使用ppyolo进行目标检测时没有出现问题，但是使用solov2进行实例分割训练时，出现了如下问题，自己尝试好多次了，都没解决，望指点，不胜感激，555~
![image](https://user-images.githubusercontent.com/92715968/147544781-322dbcb9-5915-432d-b264-f6fdf07a773e.png)
![image](https://user-images.githubusercontent.com/92715968/147544852-26cfa28d-d9ce-42ea-a233-845d103a5e61.png)

[2021-12-28 08:42] hello3281 commented on #5006
感谢已经可以了，但是训练速度很慢，显示eta两百多天，batchsize为16，work_num=16,rtx3090

[2021-12-28 09:30] SunYiLing123 commented on #4991
@wangxinxin08
/data/download/PaddleDetection/deploy/cpp/src/main.cc:265:15:
          steps);
               ^
[ 71%] Building CXX object CMakeFiles/main.dir/src/preprocess_op.cc.o
[ 78%] Building CXX object CMakeFiles/main.dir/src/object_detector.cc.o
[ 85%] Building CXX object CMakeFiles/main.dir/src/picodet_postprocess.cc.o
[ 92%] Building CXX object CMakeFiles/main.dir/src/utils.cc.o
[100%] Li

[2021-12-28 10:17] edwardnguyen1705 commented on #5013
Thanks for your suggestion, but when I put

[code]
to
https://github.com/PaddlePaddle/PaddleDetection/blob/b6f4099fa788644043dc5140803b3d92b99bd2cd/ppdet/modeling/backbones/esnet.py#L272

ETA is still very large.

[2021-12-28 10:24] LingyvKong opened #5017 "[Document Improvement]MOT数据集缺少visdrone_mcmot"
## 📖  文档优化/Documentation Improvement

**请简单说明文档存在问题/Please provide a concise and brief description of the documentation problem:**
在mcmot.yml中默认评估visdrone_mcmot数据集，请问可以提供这个数据集的下载链接吗？我想参考它的数据格式
非常感谢

**请提供有问题的文档部分截图及链接/Please provide the screen shoot and the link of the document:**

这个文档中没有这个数据集，如有需要，可以考虑添加到这里
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/PrepareMO

[2021-12-28 10:31] Xinjun-Wu opened #5018 "[BUG]the nums of out channel is not equal to the declaration of the class in the darknet module"
**the nums of out channel is not equal to the declaration of the class in the darknet module**

## LOCATION:
PaddleDetection/ppdet/modeling/backbones/darknet.py >>> class BasicBlock(nn.Layer)

## VERSION
release 2.3

## 描述问题/Describe the bug
below is the definition codes about the BasicBlock
[code]
Suppose that i have a input variable with **shape [5,10,9,9]** and a **BasicBlock** instance named *

[2021-12-28 11:14] Dandelion111 opened #5019 "TinyPose更改关键点个数，如何修改配置文件"
各位大佬，请教一个问题，我想用TinyPose训练一个13个关键点的数据，num_joint、upper_body_ids、flip_perm我都已经改过了，但是不太明白sigma数量如何修改，配置文件默认的sigma为2
![image](https://user-images.githubusercontent.com/48303408/147560578-11f687f3-55b9-4ec8-96e8-dca432fbd868.png)
如果我训练13个关键点，这个值应该如何修改呢？
还有源码中的sigmas也需要修改吗，这个应该如何修改呢？
![image](https://user-images.githubusercontent.com/48303408/147560615-6576da92-b3c6-4c0f-907d-9207087e1958.png)

[2021-12-28 12:26] qingchunnianshao opened #5020 "[Other General Issues]tools/infer.py 提示显存不足，但模型tools/train.py能够正常训练，tools/eval.py验证能正常运行"
## 描述问题/Describe the bug

使用paddleDetection fastercnn 训练自己的数据集，tool/train.py 训练能够正常完成 tool/eval.py 也能正常验证
但是tool/infer.py 测试数据时需要分配大量显存导致显存空间不足无法预测。

执行tools/eval.py能够正常执行log如下：
[12/28 20:23:34] ppdet.utils.checkpoint INFO: Finish loading model weights: output/faster_rcnn_r50_1x_voc_bydouble/model_final.pdparams
[12/28 20:23:35] ppdet.engine INFO: Eval iter: 0
[12/28 20:24:23] ppdet.engine INFO: E

[2021-12-28 12:34] yghstill commented on #5016
@taochongyue 已沟通解决，configs/datasets/coco_instance.yml配置文件的data_fields没有gt_poly字段引起的，正确的应该是：data_fields: ['image', 'gt_bbox', 'gt_class', 'gt_poly', 'is_crowd']

[2021-12-28 12:41] taochongyue commented on #5016
感谢，已解决，configs/datasets/coco_instance.yml配置文件的data_fields没有gt_poly字段引起的，正确的应该是：data_fields: ['image', 'gt_bbox', 'gt_class', 'gt_poly', 'is_crowd']

[2021-12-28 12:45] yghstill commented on #5013
@edwardnguyen1705
If you want to freeze all backbone, you can set here:
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/architectures/picodet.py#L39
[code]

[2021-12-28 13:23] heavengate commented on #5015
https://github.com/PaddlePaddle/PaddleDetection/blob/b6f4099fa788644043dc5140803b3d92b99bd2cd/deploy/python/infer.py#L667
视频流的预测一般是预测部署时候的需求，我们在部署的deploy下实现了video的预测部署方法，可以使用这个或者和参考这个适配一下你的数据流形式~

[2021-12-28 13:25] nemonameless commented on #5017
https://bj.bcebos.com/v1/paddledet/data/mot/visdrone_mcmot.zip
文档和数据集下载链接 之后会整理更新

[2021-12-28 13:31] heavengate commented on #5020
你好，你的显存多大呢，是否是卡上面有其他任务占了显存，一般训练能跑的话infer应该没问题的

[2021-12-28 13:32] zhiboniu commented on #5019
上面那个sigma:2不用改，下面这个list可以看一下数量跟关键点数量是一样的，而且是对应的。表示的是高斯核的方差，对应是一个点位定位的精准度，这个需要根据自己定义的关键点特性估计一下大小。

[2021-12-28 13:38] heavengate commented on #5018
`ch_out` config the output channel of `conv1` currently， output channel number of `conv2` is twice as `conv1`, if we set `ch_out` to config the output channel of `conv2`， which means output channel of `conv1` will be `ch_out / 2`， this will introduce a restriction that `chi_out` should be a even number, which is not user friendly

[2021-12-28 13:45] qingchunnianshao commented on #5020
显卡是12G的，没有其他程序在这个卡上运行，是执行infer.py的时候监控显卡使用情况发现在测试的时候显存分配超出12G，所以现在比较疑惑，为什么能够训练，验证就是测试的时候提示显存不够

[2021-12-28 13:50] LingyvKong opened #5021 "[Other General Issues]mcfairmot验证时没有第一帧的结果"
您好，我在使用 tools/eval_mot.py 验证 mcfairmot 模型时，

发现得到的txt结果都是从第二帧开始的，生成的图片在第一帧时也没有结果，

请问我可以修改哪里或者有什么参数可以让模型在第一帧就输出结果吗？

期待回复，非常感谢！

[2021-12-29 01:33] qingchunnianshao commented on #5020
你好能协助帮忙分析一下问题吧,为了防止有其他程序占用显存,也进行了重启操作,对程序也进行了单步调试,基本上定位就是outs = self.model(data) 执行预测的这句话时,显存上涨明显

[2021-12-29 01:56] edwardnguyen1705 commented on #5013
Hello @yghstill ,
I already tried, but it is still slow. Do you have another suggestion? Thanks for your time:

[code]

[2021-12-29 02:13] Xinjun-Wu commented on #5018
@heavengate, thanks your explanations about the design of the block from the user view, but actually these is still a implicit restriction that user just allowed to init a block  with `ch_out` is equal to the half of `ch_in`, which is result from the implementations of `conv2`  and  `forward` function:
You can see that `conv2` implement a process that double the channels,
[code]
and the `output` o

[2021-12-29 02:18] Xinjun-Wu commented on #4688
@YixinKristy 二维码还能再更新一个么？*-^

[2021-12-29 03:34] dawnzhang0 opened #5022 "怎样将paddledetection的动态图模型放在脚本文件中运行？"
类似于静态图的模型文件有"__model__","__params__",我可以在脚本文件中使用下面的命令进行运行：
place = fluid.CUDAPlace(0) if train_parameters['use_gpu'] else fluid.CPUPlace()
exe = fluid.Executor(place)
path = "../output/ppyolo"
[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model(dirname=path, executor=exe,
                                                                                      model_f

[2021-12-29 03:37] dawnzhang0 commented on #5022
我该怎么在脚本中调用动态图的模型呢

[2021-12-29 06:38] #5006 closed, assigned to nemonameless

[2021-12-29 07:32] marsbzp opened #5024 "ppyolo fp16训练报错[BUG]"
![image](https://user-images.githubusercontent.com/20138766/147637864-d308f94c-de1a-4285-bac0-a292e5a780c3.png)

[2021-12-29 07:57] SunYiLing123 commented on #4991
@wangxinxin08
hello，能帮忙看看吗

[2021-12-29 09:06] taochongyue opened #5025 "将自己的数据集转换为coco格式的数据集时出现问题"
请问我应该如何准备使用solov2进行分割的数据，我用labelme标注四边形的四个点后，把它转换成矩形后，能够转换成coco格式的数据集，但是实例不是矩形的；如果我直接使用四边形，则转换出来的coco格式的标注如下，什么信息都没有，请问该怎么解决？有没有使用solov2分割自己数据集的教程啊？
![image](https://user-images.githubusercontent.com/92715968/147645277-1f92d879-86a9-4c9f-a94e-dbbe60a6ae37.png)

[2021-12-29 09:45] LMR2018 opened #5026 "怎么固定nvidia-smi的GPU的性能状态为P0？"
怎么固定nvidia-smi的GPU的性能状态为P0？网上没找到，望告知

[2021-12-29 10:55] chenjw1009 opened #5027 "visdrone2mot.py"
where is the python file for trackinig???

is somebody know???

[2021-12-29 11:48] Dandelion111 commented on #5019
谢谢大佬的解答，我直接在源码中修改了一下，但是验证ap一直为0，不知这是什么原因呢？
![2}DD$_1F~ 3A4W5Q4P`80`W](https://user-images.githubusercontent.com/48303408/147659203-81ec69ed-7957-4580-828e-67a252bcc2fb.png)
![6)K5X7 E4E~RK)HX3HZPF1V](https://user-images.githubusercontent.com/48303408/147659220-04eba2d4-a0d5-492a-b5fa-9ca19afe2ea2.png)

[2021-12-29 11:57] nemonameless commented on #5027
configs/mot/vehicle/tools/visdrone/visdrone2mot.py
configs/mot/pedestrian/tools/visdrone/visdrone2mot.py

[2021-12-29 13:39] desertfex opened #5028 "致泊老师在《轻量级关键点算法的产业应用》课程中说会公开“机房人员摔倒检测”代码，请问还更新吗？谢谢"
致泊老师在《轻量级关键点算法的产业应用》课程中说会公开“机房人员摔倒检测”代码，请问还更新吗？谢谢

[2021-12-30 01:09] Hold-on-li opened #5029 "关于Detection检测缺陷"
请问一下，PaddleDetection检测瑕疵用哪些模型？还有就是用LabelME进行标注的时候，那些OK品该如何标注？

[2021-12-30 02:33] wangxinxin08 commented on #4991
@SunYiLing123 ok，等下我看下能不能复现你的问题

[2021-12-30 02:33] zhiboniu commented on #5028
摔倒检测Demo项目：https://aistudio.baidu.com/aistudio/projectdetail/3147220
我们之前已经在aistudio上公开了，可以加入paddledetection交流群，有利于及时了解相关信息

[2021-12-30 02:33] yghstill commented on #5029
@18362890185 你需要检测的瑕疵在图中所占多大？项目部署在服务器端还是移动端，服务器端可以使用PP-YOLO模型，移动端可使用PP-PicoDet模型。OK品应该属于负样本，不用标注，只标注瑕疵所在区域即可。

[2021-12-30 02:43] nemonameless commented on #5021
遗留问题待修复。

[2021-12-30 02:49] RhythmF commented on #4968
@nemonameless 十分感谢解答，能跑通了。
还想再问一个问题，训练的时候为什么会出现loss=Nan，我把学习率降低后，也只是稍微延后了出现nan的轮次

[2021-12-30 02:57] Hold-on-li commented on #5029
占比不大，属于小的那种瑕疵，离线部署在本地电脑中。还有一点疑问，那OK品需要训练吗？

[2021-12-30 03:02] yghstill commented on #5013
@edwardnguyen1705 I experimented, and the following are the results.
- Original model training:
[code]
- After set `param.trainable = False`:
[code]
Training hasn't slowed down, are you using PaddlePaddle 2.2?

[2021-12-30 03:26] mjanddy opened #5030 "centernet使用自定义的backbone，得不到结果"
训练centernet时，将dla34替换成自己的backone时，训练的结果都为0，请问是哪里出了问题

[2021-12-30 03:51] xiuyangleiasp opened #5031 "关于picodet模型计算量的疑问"
请教一下，
在arxiv的论文中，PP-PicoDet-S 模型在320x320分辨率下的计算量为**0.73Gflops**，
但我在paddleDetection中，通过在**picodet_s_320_coco.yml**中增加了**print_flops:true** 字段，打印出的计算量为**0.3573Gflops**，
故，应该以哪个数据为准？
![image](https://user-images.githubusercontent.com/9282338/147720275-5141bb93-76be-42a6-808a-26e2d224316c.png)
![image](https://user-images.githubusercontent.com/9282338/147720299-59209f1c-352e-447b-a4a2-f5de5ea229a4.pn

[2021-12-30 04:15] nemonameless commented on #5030
请提供代码改动和loss截图，以便分析问题谢谢。

[2021-12-30 04:48] yghstill commented on #5031
@xiuyangleiasp print_flops:true打印出来的是macs，flops=2*macs，另外print_flops是调用的PaddleSlim封装的接口，和arxiv中计算的方式稍微有点差别，不过误差不是很大。

[2021-12-30 04:58] yghstill commented on #5025
@taochongyue 需要将实例标注掉转换为`segmentation`信息，具体可以看下COCO数据标注的格式，如果是labelme数据，可以参考教程转换成coco格式：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/PrepareDataSet.md#%E7%94%A8%E6%88%B7%E6%95%B0%E6%8D%AE%E8%BD%AC%E6%88%90COCO%E6%95%B0%E6%8D%AE

[2021-12-30 05:10] mjanddy commented on #5030
![image](https://user-images.githubusercontent.com/27938658/147723293-0e8b2917-0ddc-47ce-ac2d-9ae99a95fdd5.png)
![image](https://user-images.githubusercontent.com/27938658/147723311-27a9cca8-0796-4223-a9ad-d3976f8b7130.png)

[2021-12-30 05:11] mjanddy commented on #5030
修改的yml和loss以及eval结果，之前第0个epoch结果都是0，目前是在个位数

[2021-12-30 05:14] yghstill commented on #5026
@LMR2018 可以试下`nvidia-smi -pl`能不能解决你的问题，或者查看nvidia-smi --help

[2021-12-30 05:16] yghstill commented on #5029
@18362890185 建议先使用PP-YOLO看能不能解决你的问题。如果只为了检测有瑕疵的，那么OK品不需要训练，如果为了更好的拟合数据，也可以OK品作为一个类别进行标注，参与训练

[2021-12-30 05:19] xiuyangleiasp commented on #5031
好的，谢谢

[2021-12-30 05:19] #5031 closed, assigned to nobody

[2021-12-30 05:31] SunYiLing123 commented on #4991
我的TX2上环境如下：
root@fniot-desktop:/data/download/PaddleDetection/deploy/cpp# deepstream-app --version-all
deepstream-app version 5.0.0
DeepStreamSDK 5.0.0
CUDA Driver Version: 10.2
CUDA Runtime Version: 10.2
TensorRT Version: 7.1
cuDNN Version: 8.0
Dewarper: not found

paddle_inference中version.txt如下：
GIT COMMIT ID: a5cf2e305b744e3ebd2f2210341f88d349d4ec5e
WITH_MKL: OFF
WITH_MKLDNN: OFF
WITH_GPU: ON
W

[2021-12-30 05:46] nemonameless commented on #5030
看你eval的图片数，训和测的数据集不是COCO？请先确认数据集制作没有问题，可以先拿centernet dla34原版训看mAP正常与否。
你写的simplenet 和dla34结构一样吗？如果不一样用centernet dla34 coco预训练就没啥用相当于train from scratch，刚开始几个epoch很低是正常的。

[2021-12-30 05:49] #5019 closed, assigned to zhiboniu

[2021-12-30 05:49] #5001 closed, assigned to zoooo0820

[2021-12-30 05:50] Hold-on-li opened #5033 "关于LabelMe转coco格式数据集"
![image](https://user-images.githubusercontent.com/87969070/147725090-f4963468-caac-4785-b973-8ab6e66013ea.png)
请问一下，我用LabelME标注了30张图像，但是生成的train加val下只有15张，请问是怎么回事？下图是命令行
![image](https://user-images.githubusercontent.com/87969070/147725267-18e17d09-4165-4ed3-9b67-f20963d3c984.png)

[2021-12-30 06:43] mjanddy commented on #5030
我再测试一下吧，之前是使用了自己的基干和neck，然后训练30多个epoch,结果也不正常，基本为0，所以现在只是替换了基干

[2021-12-30 06:50] taochongyue commented on #5025
我是按照教程https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/PrepareDataSet.md#%E7%94%A8%E6%88%B7%E6%95%B0%E6%8D%AE%E8%BD%AC%E6%88%90COCO%E6%95%B0%E6%8D%AE
将自己用labelme标注的数据转换为coco格式的数据，但是只有我标注的四个点是矩形时，才会有正确的结果，这样就不是我想要的分割数据的格式了，所以我应该如何将分割格式的数据转换成coco数据格式中对应的分割数据呢

[2021-12-30 06:51] taochongyue commented on #5025
我是按照教程https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/PrepareDataSet.md#%E7%94%A8%E6%88%B7%E6%95%B0%E6%8D%AE%E8%BD%AC%E6%88%90COCO%E6%95%B0%E6%8D%AE
将自己用labelme标注的数据转换为coco格式的数据，但是只有我标注的四个点是矩形时，才会有正确的结果，这样就不是我想要的分割数据的格式了，所以我应该如何将分割格式的数据转换成coco数据格式中对应的分割数据呢？

[2021-12-30 07:27] Victoria-1 commented on #5020
我用来训练关键点检测也遇到同样的问题，能正常训练，但用infer推断时内存分配出错

[2021-12-30 07:48] wangxinxin08 commented on #5024
你好，我们在PaddleDetection release/2.3中已经修复了这个问题，请直接使用PaddleDetection release/2.3

[2021-12-30 08:06] yuwoyizhan opened #5034 "跪求det项目合集"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2021-12-30 08:20] yuwoyizhan commented on #5034
1.https://aistudio.baidu.com/aistudio/projectdetail/450925?channelType=0&channel=0 ,paddlex等很多套件已经出了一个项目合集,并且有静态图和动态图版本,项目合集中蕴含了paddlex的4个主要方向,图像分类,目标检测,语义分割,实例分割,每个方向都至少有一个项目,项目里面包含项目代码,一些参数和代码的解释,注释等.
希望det也可以出一个项目合集,蕴含det目前所包含的所有比较不同的方向,比如根据目标检测,关键点检测,实时跟踪系统,Sniper小目标检测优化模型,Transformer检测系列模型,人头、车辆跟踪垂类模型,多目标跟踪,人脸检测,旋转框检测,模型有较大差异,知识蒸馏,量化等方向做一个项目合集,最好是包含静态图和动态图版本,如果你们没精力的话,只做个动态图版本也行,这样我们这些学习者就不用到

[2021-12-30 08:24] xiuyangleiasp opened #5035 "picoDet量化报错 ValueError: (InvalidArgument) The variable to insert is NULL."
如题，当我使用https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/README.md
中的命令：python tools/train.py -c configs/picodet/picodet_s_320_coco.yml \
          --slim_config configs/slim/quant/picodet_s_quant.yml --eval
尝试对picodet_s_320_coco量化时，
报如下错误：

/home/lxy/anaconda3/envs/paddle/lib/python3.9/site-packages/paddle/tensor/creation.py:130: DeprecationWarning: `np.object` is a

[2021-12-30 08:34] wstchhwp opened #5036 "__inject__和__shared__这两个参数是啥意思呢？"
这是原始的训练reader代码
class TrainReader(BaseDataLoader):
   ` __shared__ = ['num_classes']`
    def` __init__`(self, sample_transforms=[], batch_transforms=[], batch_size=1, shuffle=True, drop_last=True, num_classes=80, collate_batch=True, **kwargs):
        super(TrainReader, self).__init__(sample_transforms, batch_transforms, batch_size, shuffle, drop_last, num_classes, collate_batch, **kwargs)

传完参数之

[2021-12-30 08:35] yghstill commented on #5035
@xiuyangleiasp 量化训练PaddlePaddle版本要求2.2以上，你的PaddlePaddle版本是多少？

[2021-12-30 08:39] xiuyangleiasp commented on #5035
@yghstill 我的paddlepaddle版本是2.2.0

[2021-12-30 08:45] yghstill commented on #5035
@xiuyangleiasp 我验证了如下环境的picodet量化训练，是正常的，再更新下试试
[code]

[2021-12-30 08:54] chenjw1009 commented on #5000
可以截图看下评估的数据集的格式吗

[2021-12-30 08:59] xiuyangleiasp commented on #5035
@yghstill 更新到和你的一样了之后，QAT还是不行
![image](https://user-images.githubusercontent.com/9282338/147736930-7b6a3a28-6ff4-4123-b98a-c885c5d68aa5.png)

不过，刚试验了下，post_quant可以正常运行
我的cuda是10.2 cudnn是7.6

[2021-12-30 09:55] Victoria-1 commented on #5020
我改成use_gpu=false, 用cpu去infer是可以的，用gpu依然提示出错

[2021-12-30 09:55] yghstill commented on #5035
@xiuyangleiasp post_quant离线量化精度有问题，现在还在适配，先用量化训练吧，量化训练可以跑通了吗？

[2021-12-30 10:04] xiuyangleiasp commented on #5035
@yghstill 重新pull代码后，QAT跑你们官方的picodet模型跑通了，不过跑我自己“魔改”的backbone还是一样的问题。

[2021-12-30 10:26] wstchhwp opened #5037 "paddleserving部署出错"
报了如下的错误，案例跑不通

 File "../../deploy/serving/test_client.py", line 13, in <module>
    client = Client()
  File "/home/easyits/anaconda3/envs/paddleserving/lib/python3.7/site-packages/paddle_serving_client/client.py", line 149, in __init__
    from .serving_client import PredictorRes
ImportError: /lib64/libk5crypto.so.3: undefined symbol: EVP_KDF_ctrl, version OPENSSL_1_1_1b

[2021-12-30 11:50] Feng1909 opened #5038 "catkin build error"
您好，我将deploy目录下的 `config_parser.h` `object_detector.h` `picodet_postprocess.h` `preprocess_op.h` `utils.h`等文件加入到ros功能包内，使用`catkin build`命令出现如下报错

[code]

CMakeLists.txt文件如下
[code]

[项目地址](https://github.com/Feng1909/cone-detection)

[2021-12-30 13:05] nemonameless commented on #4688
![image](https://user-images.githubusercontent.com/13104100/147754584-cd695dd9-4572-496e-a9d3-41ddcd91e713.png)

[2021-12-30 13:06] nemonameless commented on #4688
![image](https://user-images.githubusercontent.com/13104100/147754678-c1a3d35a-5521-4392-aae6-c5a31fc99f87.png)

[2021-12-30 13:51] nemonameless commented on #5036
__inject__表示引入全局字典中已经封装好的模块
__shared__表示实现一些参数的配置全局共享。
文档 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/advanced_tutorials/MODEL_TECHNICAL.md

[2021-12-31 01:51] wstchhwp opened #5039 "register注册器机制的疑问？"
[code]
逐步打印global_config发现，字典里面元素原来越多，但是全是空的key-value。但是我在看模式提取函数extract_schema的时候，发现里面是把init参数逐渐添加到字典里面的，为啥返回的字典key_value中，value全是空的。
{'ImageFolder': {}, 'COCODataSet': {}, 'VOCDataSet': {}, 'WIDERFaceDataSet': {}, 'KeypointBottomUpCocoDataset': {}, 'KeypointBottomUpCrowdPoseDataset': {}, 'KeypointTopDownCocoDataset': {}, 'KeypointTopDownMPIIDatase
t': {}, 'MOTDataSet': {}, 'MCMOTDataSet': {}, 'M

[2021-12-31 02:49] chenjw1009 opened #5040 "[BUG] 视频追踪infer时，输入不能为视频，ffmpeg erroe"
ffmpeg -y -loglevel error -i yourvideo.mp4 -r 0 -f image2 ../../xx.png

[2021-12-31 02:51] chenjw1009 opened #5041 "[BUG]python deploy/pptracking/python/mot_jde_infer.py --model_dir=output_inference/fairmot_dla34_30e_1088x608 --video_file=person.mp4 --device=GPU"
模型导出后，infer error,预测视频时，没有任何输出。

[2021-12-31 03:04] LMR2018 opened #5042 "pp-picodet量化训练和量化校准后，rk3399上安卓示例的Detector predict costs 时间变化不大，才降10-20ms左右，这是正常的吗？如何能将Detector predict costs时间大幅降低？"
pp-picodet量化训练和量化校准后，rk3399上安卓示例的Detector predict costs 时间变化不大，才降10-20ms左右，这是正常的吗？如何能将Detector predict costs时间大幅降低？为什么rk3399上picodet_s_320_coco模型的Detector predict costs时间需要100多ms，怎么才能降低时间？
python tools/train.py -c configs/picodet/picodet_s_320_coco.yml \
          --slim_config configs/slim/quant/picodet_s_quant.yml --eval

python tools/post_quant.py -c configs/picodet/picodet_s_320_coco.yml \

[2021-12-31 03:04] yghstill commented on #5037
@wstchhwp paddleserving的版本是多少？是>0.7吗？

[2021-12-31 03:07] yghstill commented on #5033
@18362890185 可以确认下是否每张图里都有标注，然后x2coco脚本中debug下没有生成标注的图片和json的原因是什么，可能标注字段有问题

[2021-12-31 03:17] #5026 closed, assigned to nobody

[2021-12-31 03:55] nemonameless commented on #5041
调低阈值--threshold=0.2试试。
模型是你自己训的自己数据集的然后导出的，还是直接使用的modelzoo里的？请提供一下运行完的截图或person.mp4视频，以便排查问题谢谢

[2021-12-31 03:59] nemonameless commented on #5040
是这句命令运行不了吗？请先自查ffmpeg单独抽图命令能否执行 或更新ffmpeg版本

[2021-12-31 04:07] wstchhwp commented on #5037
paddle-serving-app        0.7.0                    pypi_0    pypi
paddle-serving-client     0.7.0                    pypi_0    pypi
paddle-serving-server     0.7.0                    pypi_0    pypi
paddlepaddle-gpu          2.2.1                    pypi_0    pypi

这个等于可以吗

[2021-12-31 06:13] chenjw1009 commented on #5041
opencv 版本问题。

[2021-12-31 06:13] #5041 closed, assigned to nemonameless

[2021-12-31 06:14] chenjw1009 commented on #5040
已解决

[2021-12-31 06:14] #5040 closed, assigned to nemonameless

[2021-12-31 06:30] wangxinxin08 commented on #4991
@SunYiLing123 我这边能够正常编译，看你报错的原因是**../paddle_inference/third_party/install/openblas/lib/libopenblas.a: file not recognized: File truncated**，你可以尝试重新下载下PaddleInference的包试下

[2021-12-31 06:43] wangxinxin08 commented on #5039
这个里面不是空，只不过没有定义内容的`__repr__`方法，所以没有显示

[2021-12-31 06:59] yghstill commented on #5042
@LMR2018 方便profile看看哪个算子耗时比较严重吗？之前有开发者反馈rk系列芯片可能对transpose算子支持不是很友好，但是PicoDet的backbone（ESNet）中有一些transpose算子，建议再使用PicoDet-LCNet再训练模型测试下速度情况呢？关于各类芯片适配问题我们也在持续优化中，你有最新进展也烦请同步下~
PP-PicoDet-LCNet配置文件：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/more_config/picodet_lcnet_1_5x_416_coco.yml
可改为输入320训练，或者使用LCNet 1x进行训练，预训练地址：https://bj.bcebos.com/v1/paddledet/models/pre

[2021-12-31 07:03] yghstill commented on #5038
@Feng1909 CPP infer中使用了yaml的库，你需要把这个的编译也加入：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/cpp/CMakeLists.txt#L19

[2021-12-31 07:04] chenjw1009 opened #5043 "多类别多目标跟踪，用训练模型评估时，报错。"
# 使用训练保存的checkpoint
CUDA_VISIBLE_DEVICES=0 python tools/eval_mot.py -c configs/mot/mcfairmot/mcfairmot_dla34_30e_1088x608_visdrone.yml -o weights=output/mcfairmot_dla34_30e_1088x608_visdrone/model_final.pdparams

mcmot.yml ： 评估数据集设置
<img width="511" alt="1640933878" src="https://user-images.githubusercontent.com/83409851/147808598-bd70b7be-d79f-4f5b-b7d7-6e394a9c2ec5.png">

gt.txt : groundtruth文本

[2021-12-31 07:15] nemonameless commented on #5043
没有对应多类别MOT格式的gt标注。
多类别模型暂时只支持visdrone数据集，多类别[metric](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/metrics/mcmot_metrics.py)和MOT16的[metric](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/metrics/mot_metrics.py)是不一样的，其gt标注也不一样。
而且MOT16 test本来就没有开放gt，需要到motchallenge官网提交。

[2021-12-31 07:23] chenjw1009 commented on #5043
你好，我只不过路径名字用的MOT16，里面的数据都是visdrone的，难道和路径名称有关系吗？

[2021-12-31 07:28] C-ZR commented on #4906
我试了一下你提供的另外两个YOLOBox的函数，和paddle提供的YOLOBox函数的原理是不一样的，而且不能使用

[2021-12-31 07:29] chenjw1009 commented on #5043
@nemonameless 你好，我只不过路径名字用的MOT16，里面的数据都是visdrone的，难道和路径名称有关系吗？

[2021-12-31 07:34] LMR2018 commented on #5042
@yghstill   你好，如何profile看哪个算子耗时比较严重？

[2021-12-31 08:00] chenjw1009 commented on #5000
@SFEcoder 你好，你多类别的gt.txt 是什么样子的，可以截图看下吗

[2021-12-31 10:01] LMR2018 commented on #4858
@gaorui999   你好，请问你解决这个问题了吗？我也碰到你第一个问题，你最终是怎么解决的？

[2021-12-31 10:58] Feng1909 commented on #5038
我在加入该语句，并加入
[code]
语句后，仍出现以下报错

[code]

非常感谢您的答复，请问还有什么解决方法吗

[2021-12-31 12:28] wangxinxin08 commented on #4906
是的，我的意思是你可以参考这个代码写一个解码的函数

[2022-01-01 05:17] yghstill commented on #5042
@LMR2018 需要重新编译下PaddleLite，并且打开`--with_profile=ON`，详情可以查看[Paddle Lite文档](https://paddle-lite.readthedocs.io/zh/latest/performance/benchmark_tools.html?highlight=profile#id1)
[code]

[2022-01-01 07:43] nemonameless commented on #5034
非常感谢建议，您的反馈我们已经收到，我们会讨论排期安排。

[2022-01-02 06:48] HWSQHL opened #5045 "[Other General Issues]执行安装指南的Inference demo没有任何输出（没有检测结果图片），也没有任何报错"
Inference demo：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/docs/tutorials/INSTALL.md#inference-demo

[2022-01-02 08:22] nemonameless commented on #5043
https://bj.bcebos.com/v1/paddledet/data/mot/visdrone_mcmot.zip 这是我们处理后的数据集，格式请参照这个，gt的txt是在sequences文件夹里的，是visdrone原本验证集数据集的gt。

[2022-01-02 08:27] nemonameless commented on #5045
前面的环境各个步骤确定没问题了吧？前面的步骤是否能跑通？
可以在 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/architectures/yolo.py#L118 加上print(output) 看看究竟有没有结果框，最好截图下Inference demo命令后的控制台输出信息谢谢。

[2022-01-02 08:35] HWSQHL commented on #5045
![1](https://user-images.githubusercontent.com/39974747/147870461-130766af-b9ed-4c4d-bd1f-7c9b6348c849.jpg)
前面环境没问题

[2022-01-02 08:37] HWSQHL commented on #5045
添加了print(output),运行如上图，还是没有检测画框的输出图片

[2022-01-02 09:20] nemonameless commented on #5045
linux上没有这个问题。正常来讲网络里print(output)应该至少有信息打印的。
建议换paddle最新版本试试。

[2022-01-03 02:29] #5007 closed, assigned to nobody

[2022-01-03 02:30] #4958 closed, assigned to heavengate

[2022-01-03 02:30] #4963 closed, assigned to nobody

[2022-01-03 05:30] yangrisheng opened #5046 "关于fasterrcnn swin模型这个eval的keep_ratio和test的keep_ratio为什么不一样呀？"
https://aistudio.baidu.com/paddle/forum/topic/show/993130

[2022-01-03 10:25] thunder95 commented on #4934
遇到同样的问题，请问解决了吗?

[2022-01-03 12:09] yangrisheng opened #5047 "请问yolox，yolop啥时候会有。yolo系列"
请问yolox，yolop啥时候会有。yolo系列

[2022-01-03 13:04] nemonameless commented on #5047
本月底预计会上新pp-yolov3版本，另外yolox预计也本月底，yolop暂无计划支持。
感谢关注，敬请期待~

[2022-01-03 13:31] ShawnXsw opened #5048 "[BUG]dcn系列等训练异常无详细报错退出"
## 描述问题/Describe the bug
网络：cascade_rcnn_dcn_x101_vd_64x4d_fpn_1x、cascade_rcnn_r50_vd_fpn_ssld_2x、faster_rcnn_dcn_x101_vd_64x4d_fpn_1x，使用相同数据集训练退出，同数据集ppyolov2训练正常。

## 复现/Reproduction
1. 您使用的命令是？/What command or script did you run?
python  tools/train.py -c  cascade_rcnn_dcn_x101_vd_64x4d_fpn_1x.yml  --use_vdl=true     --vdl_log_dir=./cascade_rcnn/vdl_dir_cascade_rcnn_dcn_x101_vd_64x4d_fpn_1x/sca

[2022-01-03 14:47] ghostxsl commented on #5048
请问paddle版本是多少？看报错信息，应该是环境的问题：  No stack trace in paddle, may be caused by external reasons.

[2022-01-03 14:50] ghostxsl commented on #5048
建议您更新一下paddle版本，检查一下log/worklog.1、log/worklog.2、log/worklog.3的日志

[2022-01-03 15:12] ShawnXsw commented on #5048
@ghostxsl

1、针对多卡，当batchsize=1，正常训练半个epoch左右后异常退出，我调整了LinearWarmup后坚持训练完1一个完整epoch了

2、针对batchsize>1的单卡报错：检查worklog发现（我当前已经是paddlepaddle-gpu v2.2.0，我需要切在2.2.1或者dev？）：

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
0   paddle::imperative::Tracer::TraceOp(std::string const&, paddle::imperative::NameVarBaseMap const&, paddle::impe

[2022-01-03 15:13] ghostxsl commented on #5048
切一下dev试试

[2022-01-03 16:05] ShawnXsw commented on #5048
@ghostxsl
1、针对多卡，当batchsize=1，正常训练半个epoch左右后异常退出，我调整了LinearWarmup后坚持训练完1一个完整epoch了，但在下一个epoch报：
[code]

2、针对batchsize>1的单卡报错，切换到paddlepaddle-gpu dev，保持paddleDetection 2.3， 仍报错，worklog中没有什么有效日志，仍是：
[code]

[2022-01-04 02:18] codedlong opened #5050 "利用PaddleDetection 2.3 增加新模块，历史问题，还没有解决？"
https://github.com/PaddlePaddle/PaddleDetection/issues/4961#issue-1084528879
上面是链接，主要是实在不知道怎么解决，尝试了好几次仍然不行。

[2022-01-04 02:46] changgege195 commented on #4993
请问map增高了么 我训练了 训练效果还不错 但map也是很低

[2022-01-04 03:03] nemonameless commented on #5050
yml解析的问题。你的模型配置文件里需要像这样写
[code]
如果MyFPN全用默认参数，也可以不用单独写MyFPN:的配置。如果要写，就至少要有一个参数值指定。
不能单独这样空着写
[code]

[2022-01-04 03:14] codedlong commented on #5050
这样啊，还真没有注意到这点，非常感谢，我再试试

[2022-01-04 03:17] chenjw1009 commented on #5043
可以了，谢谢。

[2022-01-04 03:17] #5043 closed, assigned to nemonameless

[2022-01-04 03:34] lyuwenyu commented on #5046
这块 eval test 应该是一样的   已经提PR修改，  👍

[2022-01-04 03:35] se7enXF commented on #4934
使用cuda10.1，cudnn7.6.5，就可以正常使用了

[2022-01-04 03:35] #4934 closed, assigned to nobody

[2022-01-04 03:37] yangrisheng commented on #5046
好的谢谢

[2022-01-04 03:38] yangrisheng commented on #5047
yolor会有吗？如果想复现的话，有没有什么教程能参考一下？难度大不大？有点想尝试。。

[2022-01-04 03:47] ghostxsl commented on #5048
请在执行命令中添加 `--fleet -o find_unused_parameters=True` 参数

[2022-01-04 05:07] ShawnXsw commented on #5048
@ghostxsl
好，我在batch=1实验中试试。 but batch>1 报错这个是什么情况呢？

[2022-01-04 05:11] ghostxsl commented on #5048
一般报这个错误不是paddle框架的错误，应该是系统级的错误，所以框架本身无法捕获，就会往外抛出`No stack trace in paddle, may be caused by external reasons.`这个异常

[2022-01-04 05:52] LMR2018 commented on #5042
@yghstill   我重新编译了PaddleLite，并且打开--with_profile=ON，在rk3399安卓上得到的conv2d算子耗时最多，我该如何降低它的耗时，它的耗时太高了
![Snipaste_2022-01-04_13-48-25](https://user-images.githubusercontent.com/37955893/148015351-5e97deb8-0b1d-4ff7-a870-4be065d4ecdf.png)

[2022-01-04 06:21] ShawnXsw commented on #5048
@ghostxsl   请问有排查方向的建议吗，我尝试一下，主要控制变量到batchsize了就会完全复现。

[2022-01-04 06:28] ghostxsl commented on #5048
我之前也碰到过一样的报错，我当时是怀疑oom了，但是他没报oom的错，我一样的配置切到32G V100下就跑通了，当然也有可能是环境的问题，具体的原因我当时也没排查出来。。。

[2022-01-04 06:30] ShawnXsw commented on #5048
我128G  不太可能OOM，卡是24G Titan RTX *4，显存也够。。有点晕

[2022-01-04 07:24] nemonameless commented on #5047
yolor暂无计划支持。复现看起来难度应该不大。

[2022-01-04 07:25] yangrisheng commented on #5047
想在paddle上面复现。那请问有没有一些教程参考参考？

[2022-01-04 07:32] nemonameless commented on #5047
可以参考这个帖子，https://aistudio.baidu.com/aistudio/projectdetail/2459470  ，但是他没有复现精度，很多代码也和torch原版雷同。复现并不等同于模型搭起来跑通，而是需要完整训练对齐精度，在PaddleDetection里公布的话还需要代码重构，还需要适配部署。此外也有人将torch的源码全篇改用paddle api，类似"全文翻译"，这种严格来说也不算复现，但也算一种方式。

[2022-01-04 07:34] yangrisheng commented on #5047
明白了。谢谢大佬！那这个意思是不是其实在paddle上面实现，其实基本相当于一个新作了。。

[2022-01-04 08:24] yangrisheng commented on #5046
请问一下，还有一个问题。为什么testreader里面图片大小要给640呢？
![testreader](https://user-images.githubusercontent.com/39787375/148029940-20516c0a-a9d8-4fc3-a4c4-b0fc2358a45c.png)

[2022-01-04 08:26] ZhuGeRoastedFish opened #5053 "PicoDet模型c++后处理部分整数除法精度丢失bug"
deploy/cpp/src/picodet_postprocess.cc 94,95行处
int feature_h = in_h / fpn_stride[i];
int feature_w = in_w / fpn_stride[i];
in_w和fpn_stride都是整数,当出现416/64时,精度丢失得到6,在后续6*6=36, 无法遍历含49个结果的输出维度. 实际部署时发现少遍历这13个输出可能会导致出现一个不合理的框
需要改成
int feature_h  = ceil((float)in_h / fpn_stride[i]);
int feature_w = ceil((float)in_w / fpn_stride[i]);
这样可以避免这个问题. 得到正常的推理结果
本来是要提PR的,但我还不会弄,暂且先以isuue的形式提出来~

[2022-01-04 08:27] LMR2018 commented on #5042
@yghstill 我使用PicoDet-LCNet再训练模型， /picodet_lcnet_1_5x_416_coco.yml 也改为输入320训练，训练得到的模型测试使用时间更多，模型大小更大，这是怎么回事？以前的100多ms，现在的变成200多ms，以前量化训练校准的模型才1.8M左右，现在3.8M左右了
![Snipaste_2022-01-04_16-07-59](https://user-images.githubusercontent.com/37955893/148030150-c38df6ab-0bb1-4c00-8a28-dd35774b15cb.png)
![Snipaste_2022-01-04_16-07-08](https://user-images.githubusercontent.com/37955893/148030189-685a0016-0bee-

[2022-01-04 08:33] ZhuGeRoastedFish commented on #5053
paddle lite的demo后处理用的也是这个代码,都得跟着改哈

[2022-01-04 09:36] LMR2018 opened #5054 "pp-picodet float16模型的安卓应用示例有没有啊？"
pp-picodet float16模型的安卓应用示例有没有啊？float32的太耗时了

[2022-01-04 09:48] yghstill commented on #5053
@ZhuGeRoastedFish 感谢~ 我们更新下

[2022-01-04 09:58] yghstill commented on #5054
@LMR2018  Paddle Lite的FP16 Android demo正在适配中，可以先使用ncnn的安卓demo，默认fp16预测：https://github.com/JiweiMaster/PP-PicoDet-Android-Demo

[2022-01-04 09:59] ghostxsl commented on #5048
应该是环境的问题，建议您换个环境尝试一下～

[2022-01-04 10:27] LMR2018 opened #5056 "pp-picodet 模型剪枝训练出错，TypeError: __init__() got an unexpected keyword argument 'local_sparsity'"
python -m paddle.distributed.launch --log_dir=log_test --gpus 0,1 tools/train.py -c configs/picodet/pruner/picodet_s_320_coco_pruner.yml --slim_config configs/slim/prune/picodet_s_unstructured_prune_75.yml --eval

PaddleSlim==2.2.1
是什么原因？怎么解决这个错误？

[code]

[2022-01-04 10:40] LMR2018 commented on #3566
@ichbing1    你好，请问能具体分享一下你的做法吗？还有你的配置文件

[2022-01-04 10:49] LMR2018 opened #5057 "pp-picodet模型如何进行蒸馏剪裁联合策略训练？"
pp-picodet模型如何进行蒸馏剪裁联合策略训练？

[2022-01-04 10:50] LMR2018 opened #5058 "pp-picodet模型如何进行剪裁、离线量化联合策略训练？"
pp-picodet模型如何进行剪裁、离线量化联合策略训练？

[2022-01-04 11:28] LMR2018 opened #5060 "如何添加稀疏化训练所需的 4 行代码？"
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/pruner/README.md

如何添加稀疏化训练所需的 4 行代码？

[code]
# Pruner Step2: construct a pruner object
[code]
（ 添加这个参数报错，   local_sparsity=True， 怎么解决？）

这一步在哪个文件下的哪个位置添加？

[code]

[2022-01-04 11:54] minghaoBD commented on #5056
您好，请按以下命令安装develop版本的PaddleSlim。
git clone https://github.com/PaddlePaddle/PaddleSlim
git checkout develop
pip install -r requirements.txt
python setup.py build && python setup.py install

[2022-01-04 12:09] yghstill commented on #5058
@LMR2018 目前还不支持联合策略压缩，如果你模型量化的加速效果不明显，建议使用非结构化稀疏试下吧：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/pruner/README.md

[2022-01-04 12:17] minghaoBD commented on #5060
您好，谢谢您对于飞桨非结构化稀疏工作的关注。

问题1: 如何添加稀疏化训练所需的 4 行代码？
回答: 目前改功能已经集成在PaddleDection repo中，可以参照[这里](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/picodet/pruner#61-%E7%9B%B4%E6%8E%A5%E4%BD%BF%E7%94%A8)直接使用。

问题2: 添加这个参数报错， local_sparsity=True， 怎么解决？
回答: https://github.com/PaddlePaddle/PaddleDetection/issues/5056

问题3: 这一步（step3 & step4）在哪个文件下的哪个位置添加？
回答:
step1: https://github.co

[2022-01-04 12:39] yghstill commented on #5053
@ZhuGeRoastedFish 已在 #5061 中修复，感谢~

[2022-01-04 13:28] HWSQHL commented on #5045
liunx没有问题，在windows环境下，我在这里
[https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/engine/trainer.py#L58](url)
前面添加print("----")结果没有输出----，
这个Trainer在[https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/tools/infer.py#L33](url)被import
我觉得可能的原因是不同级目录下import不成功导致的。

[2022-01-04 14:51] thunder95 commented on #4666
通过官网的安装方式解决这个问题 python -m pip install paddlepaddle-gpu==2.2.1.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

[2022-01-05 01:43] LMR2018 commented on #5056
@minghaoBD  你这方法不行啊，出现新的错误
2022-01-05 09:39:34,208-WARNING: load() missing 1 required positional argument: 'Loader'
2022-01-05 09:39:34,208-WARNING: If you want to use training-aware and post-training quantization, please use Paddle >= 1.8.4 or develop version
Traceback (most recent call last):
  File "tools/train.py", line 171, in <module>
    main()
  File "tools/train.py", line 167, in main

[2022-01-05 01:58] wstchhwp opened #5062 "paddleserving部署精度损失较大"
infer_cfg.yml的配置如下：
[code]
![db310db7b4b241395bea58d96629e76](https://user-images.githubusercontent.com/40813430/148148020-fa1b90d8-e494-436b-8f22-aa5200c21522.png)

这是test_client.py的代码如下：
[code]
![9bf332f1e9246c6ad8dcc6369a99149](https://user-images.githubusercontent.com/40813430/148148365-e7c323f3-dfdb-4531-ae22-4c0b06162587.png)
这个最大置信度0.427，且框的坐标相差较大。

这个精度损失为啥会如此之大？是因为数据增强的原因吗？

 我之前做paddlecl

[2022-01-05 02:06] yghstill commented on #5056
@LMR2018 你的PaddlePaddle版本是多少？更新到2.2.1再试下呢

[2022-01-05 02:12] LMR2018 commented on #5056
@yghstill   我的版本是paddledet==2.3.0，paddlelite==2.10，paddlepaddle-gpu==2.2.0.post110，
 安照这个方法安装有问题 git clone https://github.com/PaddlePaddle/PaddleSlim
git checkout develop
pip install -r requirements.txt
python setup.py build && python setup.py install

我估计这一步下去，它直接调用的PaddlePaddle不是我本身安装的paddlepaddle-gpu==2.2.0.post110，而是1.0了，因为安装的PaddleSlim==1.0

[2022-01-05 02:16] yghstill commented on #5056
@LMR2018 不编译安装PaddleSlim，通过下面指定python路径的方式指定最新PaddleSlim路径试试：
[code]

[2022-01-05 02:16] minghaoBD commented on #5056
@LMR2018 请问安装PaddleSlim有什么问题呢？

另外，PaddleSlim==1.0.0就是develop版本安装成功了，和2.2.0的paddle可以共存。我这边在这个环境下测试了启动命令，可以正常训练。
![image](https://user-images.githubusercontent.com/79566150/148150035-e12ea30e-4bd9-4edc-ab60-4b64b2a21e4d.png)

[2022-01-05 02:26] LMR2018 commented on #5056
@minghaoBD  我按你的方法安装完是这样的，但是就是出现了这个错误
2022-01-05 10:23:14,986-WARNING: load() missing 1 required positional argument: 'Loader'
2022-01-05 10:23:14,986-WARNING: If you want to use training-aware and post-training quantization, please use Paddle >= 1.8.4 or develop version
Traceback (most recent call last):
  File "tools/train.py", line 171, in <module>
    main()
  File "tools/train.py", line 167,

[2022-01-05 02:47] LMR2018 commented on #5056
@yghstill   @minghaoBD   我的版本是paddlelite==2.10，paddlepaddle-gpu==2.2.1，
paddleslim==1.0.0，现在可以跑了，之前的错误是因为我改了picodet_s_320_coco_pruner.yml和picodet_s_unstructured_prune_75.yml配置的预训练模型，我将他们改为已经剪枝训练过的模型了

2022-01-05 10:23:14,986-WARNING: load() missing 1 required positional argument: 'Loader'
2022-01-05 10:23:14,986-WARNING: If you want to use training-aware and post-training quantization, please use

[2022-01-05 03:45] hello3281 opened #5063 "deepsort跨境追踪"
如何使用fairmot做跨境追踪，可以提供详细操作步骤吗，类似deepsort的readme。是否需要重新去做训练

[2022-01-05 03:55] LMR2018 opened #5064 "pp-picodet非结构化稀疏训练比正常训练得到的模型更大，速度更慢，这是怎么回事？"
pp-picodet非结构化稀疏训练比正常训练得到的模型更大，速度更慢，这是怎么回事？
用下面命令正常训练得到的模型3.8M左右：
python tools/train.py -c configs/picodet/picodet_s_320_coco.yml
正常量化训练得到的模型也是3.8M左右：
python tools/train.py -c configs/picodet/picodet_s_320_coco.yml --slim_config configs/slim/quant/picodet_s_quant.yml
非结构化稀疏训练训练得到的模型是11M左右：
python -m paddle.distributed.launch --log_dir=log_test --gpus 0,1 tools/train.py -c configs/picodet/pruner/pi

[2022-01-05 04:30] nemonameless commented on #5063
fairmot不推荐用于跨境跟踪，相比于deepsort来说鲁棒性不高，对数据集场景更敏感，且要求数据集里有gt reid的标注。
训练可以当单镜头MOT去训，测试的时候也是对每个不同视角拍摄的待测视频做单镜头MOT infer，最后把结果轨迹融合起来，需要改下跨镜头结果轨迹融合的地方的输入即可，总之并不推荐fairmot。
如果真的要用fairmot去做，就需要重新训练。

[2022-01-05 06:32] hello3281 commented on #5063
是分别把不同镜头的推断结果输入到轨迹融合那里吗，具体的轨迹融合输入是在哪里，需要更改些什么

[2022-01-05 07:11] nemonameless commented on #5063
[trajectory_fusion](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/pptracking/python/mot_sde_infer.py#L896)
deploy/pptracking/python/mot_sde_infer.py主要改这个代码，搜下predict_mtmct_seq 和postprocess_mtmct这两个函数重点看下吧

[2022-01-05 07:44] xiuyangleiasp commented on #5035
@yghstill hello，我想问下：https://github.com/PaddlePaddle/Paddle/blob/81e702ac835964227bbab0f4ac49ffddb6ff0a6d/python/paddle/nn/quant/quant_layers.py#L179
中的 is_test字段需要在哪里配置？
因为，根据我的debug，用你们官方的模型QAT时，self.training为True，即is_test为False，而用自己魔改的模型，则self.training为false，故我初步怀疑是此问题导致无法量化训练。

[2022-01-05 08:12] xiuyangleiasp commented on #5035
目前跟踪到，发现QAT是走了了paddle/fluid/dygraph/layers.py中的eval函数，而不是train函数；
但奇怪的是build_slim_model中的mode=="train"

[2022-01-05 11:39] yghstill commented on #5057
@LMR2018 目前PP-PicoDet尚未适配蒸馏剪裁联合策略，目前的蒸馏方法只适合在yolo系列模型。

[2022-01-05 11:39] #5053 closed, assigned to yghstill

[2022-01-05 11:44] lilith-zy commented on #5064
您好，因为你您这边问题还需要更多信息才好判断，您看是否方便添加一下微信即时交流？
我的微信号是lilith_yy

[2022-01-05 11:46] minghaoBD commented on #5064
@LMR2018 这是因为非结构化稀疏保存了一些mask variable（基本每个op的weights都有对应一个mask），所以变大是正常的。（保存这些mask variable也是为了继续训练的方便）

我这边训练的中间结果（pdparams文件）也是11MB。经过export_model.py和opt转换后，可以看到体积显著减小到小于FP32模型。

[2022-01-05 11:49] minghaoBD commented on #5064
@LMR2018 另外，11MB对于s模型来说可能有点大，建议排查下是否稀疏的s模型。
我这边m模型的中间结果，pdparams文件大小为11MB。

[2022-01-05 12:04] heavengate commented on #5062
数据增强是训练的时候使用的，预测的时候只需要做简单的resize和normalize就可以了，不能做数据增强，做了数据增强之后会改变输入图片，预测结果肯定跟原始图片的有区别

[2022-01-06 01:35] wstchhwp commented on #5062
是的，你看下这两个都没有做数据增强啊

[2022-01-06 02:01] nemonameless commented on #5045
这个paddle版本是什么呢？换用最新的2.2.1或develop版本后试试还有没有这个问题呢？

[2022-01-06 02:06] wstchhwp opened #5066 "paddledetetion最近有更新检测模型的计划吗？"
感觉检测的模型有点少，有更新更多模型的计划吗

[2022-01-06 02:43] HWSQHL commented on #5045
换用最新的2.2.1或develop版本后依然有这个问题，请问其他人有在windows上安装成功的吗，我同学也出现了这个问题

[2022-01-06 03:25] guohuanguohuan opened #5067 "使用的是最新版本的pp-picodet想要复现得到展示的结果，请问除了设置enable_ce和输入export FLAGS_cudnn_deterministic=True，还需要如何设置其他的随机量才行，这些随机量都在哪里？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-06 03:28] guohuanguohuan commented on #5067
我知道需要固定模型本身的一些随机性和数据预处理的随机性，但是具体在哪里？

[2022-01-06 03:44] xiaoxifuhongse commented on #5042
你好为什么量化训练之后的模型大小跟之前的一样，怎么看不出有什么变化？

[2022-01-06 03:48] xiaoxifuhongse commented on #4032
@yghstill  那量化训练完了之后我不想用PaddleLite去推理怎么用这个模型呢，比如我想转Onnx然后在去OnnxRuntime运行

[2022-01-06 03:48] LMR2018 commented on #5042
@xiaoxifuhongse   你运行量化校准之后模型就变小了

[2022-01-06 04:20] xiaoxifuhongse commented on #5042
@LMR2018 量化校准是不是只能用paddlelite去加载，我想把模型转onnx用其他去加载呢？

[2022-01-06 05:45] LMR2018 commented on #5042
@xiaoxifuhongse 可以

[2022-01-06 06:29] Dandelion111 opened #5068 "picodet最小的模型在工控机上速度很慢"
请问大佬，用picodet最小模型在i7的8代工控机上耗时20ms，比笔记本要慢好多，是什么原因呢？

[2022-01-06 07:31] #4961 closed, assigned to nobody

[2022-01-06 08:19] heavengate commented on #5066
您好，您这边是需求哪些模型呢，我们也在调研和整理待支持的模型进行排期~

[2022-01-06 08:42] Dandelion111 opened #5069 "TinyPose应用在别的场景上，效果不佳"
各位大佬，我把TinyPose应用在别的场景上，用训练集拿来测试，测试效果依然不太好，只有少部分图像能得到合理结果，训练数据大概200多张，请问如果用预训练模型应用在别的场景上大概需要多少数据能保证基本的效果，另外，有什么提升精度的技巧可以尝试吗？

[2022-01-06 08:44] xiaoxifuhongse commented on #5042
@LMR2018 能详细说下吗？paddlelite 优化nb文件然后再转onnx？有什么方法吗？谢谢

[2022-01-06 08:47] LMR2018 commented on #5042
@xiaoxifuhongse 转化成nb文件后不能再转成onnx了吧，没试过，不清楚，可以直接在官网新建一个问题来问

[2022-01-06 09:27] xiaoxifuhongse opened #5070 "[BUG]利用paddlelite opt 把picodet量化训练的模型转换nb的时候 指定目标平台为arm和opencl的时候报错"
1. Model is successfully loaded!
[F  1/ 6 17:15:49.431 ...optimizer/mir/static_kernel_pick_pass.cc:126 Apply] Check failed: one_adj_instruct.op_info()->HasInputScale(out_node_name):
Aborted (core dumped)

[2022-01-06 09:29] wstchhwp commented on #5066
比如经典的yolov4, cascade rcnn系列的模型有点少 还有就是那边给的libe rcnn找不到配置文件

[2022-01-06 09:37] yghstill commented on #5068
@Dandelion111 你的预测库用的Paddle Inference还是openvino？ i7的8代工控机上可以开启mkldnn加速吗？

[2022-01-06 09:40] yghstill commented on #5067
@helloyizhengjun 还需要将reader配置中的[worker_num](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/_base_/picodet_320_reader.yml#L1) 设为0，dataloader的[shuffle](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/_base_/picodet_320_reader.yml#L13) 设为False

[2022-01-06 09:41] yghstill commented on #5067
@helloyizhengjun 如果你只是想复现Readme中的精度，无需设置这些参数，直接训练即可，之前验证训练抖动误差不超过0.1%

[2022-01-06 09:42] yghstill commented on #5070
@xiaoxifuhongse 请发下执行指令，我们复现下

[2022-01-06 09:50] LMR2018 commented on #5042
@xiaoxifuhongse 量化后不能转onnx模型了

[2022-01-06 09:52] chenjw1009 opened #5071 "OSError: (External) Cublas error, CUBLAS_STATUS_INVALID_VALUE. An unsupported value or parameter was passed to the function (a negative vector size, for example). (at /paddle/paddle/fluid/platform/cuda_helper.h:93)"
在服务器上训练、预测都没有问题，但docker images 中执行就报上面的错误？？？

[2022-01-06 10:11] helloyizhengjun commented on #5067
谢谢，我会尝试。还有问题：在什么都不设置的情况下，我在两台机器上用完全相同的pp-picodet_320_s_voc.yml训练相同的单种类数据集，得到的结果相差超过了10%，其中数据集的训练集超过2000张图片，验证集和测试集超过1000张图片，我不知道究竟是数据集的问题还是机器的问题？请问代码中是否有与机器或者进程相关的数据设置？

[2022-01-06 10:11] xiaoxifuhongse commented on #5070
paddle_lite_opt --model_file=/home/xxx/PaddleDetection/tools/output_inference/picodet_s_ptq/model.pdmodel --param_file=/home/xxx/PaddleDetection/tools/output_inference/picodet_s_ptq/model.pdiparams --valid_targets=arm,opencl  --optimize_out=picodet_tiny

[2022-01-06 10:19] guohuanguohuan commented on #5067
谢谢，还有一个问题，如果将预训练权重pretrain_weights去掉，从头开始训练，如何才能得到与readme中接近的、稳定的训练结果。

[2022-01-06 10:19] guohuanguohuan commented on #5067
也是需要设置enable_ce和输入export FLAGS_cudnn_deterministic=True、worker_num 设为0，dataloader的shuffle 设为False吗？是否还有别的？

[2022-01-06 10:57] nemonameless commented on #5066
yolov4, htc, libera rcnn都有静态图版本，在PaddleDetection/static目录下，动态图版本暂未开发，主要会从工业界应用面考虑复现的计划。

[2022-01-06 10:57] MatrixLyz0623 opened #5072 "使用cascade-mask-rcnn训练模型，能否在预测的时候得到物体的边缘框呢？"
如上图所示，标注数据是围绕物体的边缘标注的，有什么办法可以在预测的时候预测的是物体的边缘框呢
![1](https://user-images.githubusercontent.com/43607268/148372309-2185bf45-1a24-458e-9392-8321fdcba60d.jpg)
转化成coco训练数据一条标注信息如下
{
            "segmentation": [
                [
                    590,
                    358,
                    1090,
                    484,
                    1085,
                    669,
                    580

[2022-01-06 11:00] Dandelion111 commented on #5068
大佬你好，用的openvino，用openvino的时候也能同时用mkldnn吗？我在i7的10代笔记本上测得最小模型大概10ms多一点，在工控机上用的重新用cooc数据集训练的LCNet0.5骨干网络，按理说速度不应该这么慢呢？大佬在pc端cpu上测试过吗

[2022-01-06 12:04] pengwei1024 commented on #4934
我也遇到了这个问题，出问题的版本是 cuda10.2 + cudnn8, 改成10.2 + cudnn 7.6.5 就可以了。
在 https://developer.nvidia.com/rdp/cudnn-archive 下载 cudnn 的 tar 包

[2022-01-06 13:03] zoooo0820 commented on #5069
能否具体说明一下场景和目前的做法呢，方便进一步分析

[2022-01-06 23:39] wstchhwp opened #5073 "运行报错CUBLAS_STATUS_INVALID_VALUE'. An unsupported value or parameter was passed to the function (a negative vector size, for example"
loading annotations into memory...
Done (t=0.02s)
creating index...
index created!
W0107 07:35:36.109134 3202509 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.2, Runtime API Version: 11.0
W0107 07:35:36.111485 3202509 device_context.cc:465] device: 0, cuDNN Version: 8.1.
Traceback (most recent call last):
  File "tools/train.py", line 126, in <m

[2022-01-07 00:44] Dandelion111 commented on #5069
这位大佬看着面熟，我之前因为验证ap为0的问题，在微信给您看过我的数据集，目前怎么调参，效果都差太多

[2022-01-07 02:03] nemonameless commented on #5073
#5071
运行命令以及环境版本信息也请发下？谢谢

[2022-01-07 02:07] nemonameless commented on #5071
#2922
环境版本信息也请发下？谢谢

[2022-01-07 02:11] nemonameless commented on #5072
mask-rcnn 预测的时候是先出框再在框内出mask的，所以预测物体的边缘框这个事本来就能做到的吧。
你的数据集虽然符合coco格式，不过segmentation字段只有4个点的坐标有点少，这样mask就是个四边形了。

[2022-01-07 03:38] yghstill commented on #5070
@xiaoxifuhongse 你是使用离线量化还是量化训练产出的模型，PicoDet请使用量化训练吧，离线量化的精度很差，暂不建议使用。 同时导出量化模型请使用Paddle 2.1.2版本，2.2的问题刚修复，还未发布。 Paddle-Lite使用v2.10版本。

[2022-01-07 03:56] #5068 closed, assigned to nobody

[2022-01-07 05:19] yghstill commented on #5067
@helloyizhengjun 如果不加载预训练模型从头训练，精度会低一个点左右~

[2022-01-07 05:22] guohuanguohuan commented on #5067
谢谢。

[2022-01-07 05:33] 205418367 opened #5076 "有两个问题请教"
１、有没有可以借鉴的blazeface c++推理代码？
２、能不能用通用目标检测算法训练人脸检测？效果会与blazeface相当还差一些？

[2022-01-07 05:42] mjanddy opened #5077 "paddle2onnx 不支持输入hw不一致的情况吗？"
![image](https://user-images.githubusercontent.com/27938658/148497633-1246b809-0d33-47a6-bed5-1d33c3595255.png)
输入是352*576，报错；变成512*512就可以了

[2022-01-07 06:16] qingzwang commented on #2925
Have the same problem, can any one help to solve it?

[2022-01-07 06:42] yghstill commented on #5077
@mjanddy 请问是哪个模型导出onnx？

[2022-01-07 06:44] yghstill commented on #5076
@205418367
- C++ 推理代码可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/cpp ，和普通检测模型后处理一致。
- 可以使用其他目标检测算法训练人脸检测，blazeface只是一个非常轻量级的人脸算法，可以试下PicoDet、ppyolo-tiny等，也有不错的效果。

[2022-01-07 06:59] Septembit commented on #5073
你好 我也相同的情况
 GPU Compute Capability: 7.0, Driver API Version: 11.0, Runtime API Version: 11.0
 cuDNN Version: 7.6.
请问解决了吗

[2022-01-07 07:44] wstchhwp opened #5078 "paddleserving部署出问题"
feed_var {
  name: "im_shape"
  alias_name: "im_shape"
  is_lod_tensor: false
  feed_type: 1
  shape: 2
}
feed_var {
  name: "image"
  alias_name: "image"
  is_lod_tensor: false
  feed_type: 1
  shape: 3
}
feed_var {
  name: "scale_factor"
  alias_name: "scale_factor"
  is_lod_tensor: false
  feed_type: 1
  shape: 2
}
fetch_var {
  name: "concat_12.tmp_0"
  alias_name: "concat_12.tmp_0"
  is_lod_t

[2022-01-07 07:54] Septembit commented on #5073
解决了是安装的版本跟cuda版本不匹配

[2022-01-07 08:13] #5069 closed, assigned to zoooo0820, zhiboniu

[2022-01-07 09:01] ShawnXsw commented on #5019
@Dandelion111   请问如何解决的呢？

[2022-01-07 09:20] chenjw1009 commented on #5073
是的，CUDA：11.0 ，cudnn：8.0.5
报错是版本不匹配。

[2022-01-07 09:22] chenjw1009 commented on #5071
cuda 和cudnn 版本不匹配造成的。

[2022-01-07 09:22] #5071 closed, assigned to nobody

[2022-01-07 10:12] #5078 closed, assigned to nobody

[2022-01-07 10:17] wstchhwp commented on #5062
已经解决，谢谢

[2022-01-07 10:17] #5062 closed, assigned to nobody

[2022-01-07 16:16] xinliyangguang opened #5079 "自定义数据集配置方式"
使用paddleDetection-release-2.0中的ppyolo训练时使用的是自定义的coco数据集：
coco_detection如下：
metric: COCO
num_classes: 3 # 80

TrainDataset:
  !COCODataSet
    image_dir: 20210525train # train2017
    anno_path: 20210525annotations/train.json # annotations/instances_train2017.json
    dataset_dir: /root/paddlejob/workspace/env_run/afs/zhaoxin34/user/ad-hdmap/benchmark/zhaoxin34/dataset/coco # dataset/coco
    data_

[2022-01-08 06:54] FAFUzxf commented on #4436
请问您们有解决这个问题吗？我也遇到了这种情况

[2022-01-08 06:56] FAFUzxf commented on #3558
请问你们现在有解决这个问题吗？

[2022-01-08 07:00] FAFUzxf commented on #3476
我用的是最新的2.3版本，也出现了这个问题，请问具体是什么原因造成的？

[2022-01-08 08:02] lfxx commented on #3771
你好，请问ppyolov2转换成功了吗，我转换成功了，但检测结果是混乱的

[2022-01-08 08:02] lfxx commented on #3771
你好，请问ppyolov2转换成功了吗，我转换成功了，但检测结果是混乱的

[2022-01-08 08:02] lfxx commented on #3771
你好，请问ppyolov2转换成功了吗，我转换成功了，但检测结果是混乱的

[2022-01-08 10:35] RhythmF opened #5080 "[Other General Issues]如何调用mosic数据增强"
你好，我看到介绍文档里提到，内置了许多tricks，比如mosic数据增强，请问如何调用该方法？

[2022-01-08 12:59] Madfoid opened #5081 "每次使用infer.py检测结果的检测框颜色都不同 请问怎么设置固定颜色和检测框粗细 版本是2.1"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-08 13:56] #5036 closed, assigned to nobody

[2022-01-08 13:56] wstchhwp commented on #5036
谢谢

[2022-01-09 01:35] monkeycc opened #5082 "[Other General Issues]paddle\nn\layer\norm.py:653: UserWarning: When training, we now always track global mean and variance."
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-09 05:20] nemonameless commented on #5081
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/utils/visualizer.py#L98 画框可视化相关代码在这里，可自行按需更改。

[2022-01-09 05:22] nemonameless commented on #5079
cfg里数据集的路径设置对了吗？找不到数据集默认就会下载coco，你这个报错信息是网络问题下载没成功。

[2022-01-09 07:01] xinliyangguang commented on #5079
具体是哪个cfg呢？我就是修改了coco_detection.yml，optmizer_1x.yml，ppyolo_reader.yml，ppyolo_r50_dcn.yml，runtime.yml。

[2022-01-09 09:20] xinliyangguang commented on #5079
好的，通过检查coco_detection.yml的配置，已经成功开始运行了。

[2022-01-09 09:20] #5079 closed, assigned to nobody

[2022-01-09 12:14] monkeycc opened #5083 "[Other General Issues]export_model.py: error: unrecognized arguments: -c configs/picodet/picodet_s_320_voc.yml"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-09 12:34] wangxinxin08 commented on #5080
目前我们移除了mosiac的数据增强，你如果需要使用的话，可以通过自定义数据增强算子的方式实现一下

[2022-01-09 14:08] xinliyangguang opened #5084 "如何在源码中安全地添加代码以实现读取图片数据时若图片数据不存在就跳过这一功能？"
使用paddlecloud训练paddledetection-release-2.0时，由于使用挂载的方式将集群上的数据挂载到paddlecloud的目录下，但是由于网络不稳定的原因，数据常常存在读不到的情况，导致transform/operators.py中报错
![image](https://user-images.githubusercontent.com/53338761/148685511-120df8be-7bbe-4546-800a-bb4806eeaab8.png)
如何安全地添加数据不存在就跳过，直接读取下一张这个逻辑呢？

[2022-01-10 00:44] Hold-on-li opened #5085 "PaddleDetection预测"
你好，请问一下，detection预测单次只支持一张图像预测吗？无法加载文件夹

[2022-01-10 02:19] nemonameless commented on #5084
[代码](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0/ppdet/data/source/coco.py#L83)中本来就有跳过的处理，这步的检查已经在 Decode函数之前的。
建议先看看打印的这个报错的路径是否真的存在，先检查下数据集制作是否没问题。另外建议使用PaddleDetection最新develop或2.3版本的代码。

[2022-01-10 02:38] nemonameless commented on #5082
W0109 10:45:30.732800 18196 device_context.h:397] WARNING: device: 0. The installed Paddle is compiled with CUDNN 8.2, but CUDNN version in your machine is 8.1, which may cause serious incompatible bug. Please recompile or reinstall Paddle with compatible CUDNN version.

安装的paddle依赖的cudnn是8.2，但你本地的cudnn是8.1，请先确保版本一致。

[2022-01-10 02:44] nemonameless commented on #5083
换到linux上试试？
另外你的命令中权重是coco模型但是cfg是voc，这样head部分维度会对不上的会报新的错。

[2022-01-10 02:47] mjanddy commented on #5077
centernet

[2022-01-10 03:01] nemonameless commented on #5085
都支持的。
单张图片是--infer_img，文件夹是--infer_dir。
infer_img的优先级更高，设置了infer_dir就不能设置infer_img。
文件夹读入是会处理成图片list然后一张张去过网络，相关[code](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/tools/infer.py#L88)。
deploy部署同理，是指定--image_file或--image_dir。

[2022-01-10 03:19] Hold-on-li opened #5086 "关于获得检测的方向信息"
如何通道检测获得方向信息呢？

[2022-01-10 04:17] nemonameless commented on #5086
#4908
请详细描述您的需求和想法谢谢。方向信息具体指什么？是旋转框检测？参照[s2anet](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/dota)

[2022-01-10 04:18] xinliyangguang commented on #5084
数据是从paddledetection0.5就开始使用的，数据是没有问题的；业务上要求不能升到太高；这个错是已经开始训练之后才突然报的，不知道内部逻辑是什么样的，应该是先读取挂载之后的数据生成了sample列表，但是训练的时候可能引起网络不稳定而导致读取数据失败，这个逻辑是不是还有完善的可能？可以在hi里拉群处理一下？

| |
赵鑫
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | Feng ***@***.***> |
| 日期 | 2022年01月10日 10:19 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleDetection] 如何在源码中安全地添加代码以实现读取图片数据时若图片数据不存在就跳过这一功能？ (

[2022-01-10 05:05] Hold-on-li commented on #5086
Detection应该获得的是检测框的四点坐标信息，能否获得物体的方向信息呢？例如抓取项目是需要方向的

[2022-01-10 06:13] nemonameless commented on #5086
方向信息是指同一个框在下一帧里偏移的方向？这个应该是视频检测和跟踪的问题，但即使如此也很难从网络输出就获得所谓的方向信息，最多只是对结果框进行坐标位置判断的后处理。

[2022-01-10 06:45] zf900 opened #5087 "请问S2ANet的conv版本（非alignconv）是否支持量化剪枝？是否支持移动端部署？"
请问S2ANet的conv版本（非alignconv）是否支持量化剪枝？是否支持移动端部署？

[2022-01-10 07:28] xiuyangleiasp commented on #5035
@yghstill 问题找到了，将模型配置文件中，将"print_flops:True"字段删除，即可正常QAT；一般而言，打印模型的参数量，不应该影响到模型是“train”模式或者“eval”模式才对。

[2022-01-10 07:28] #5035 closed, assigned to nobody

[2022-01-10 07:34] Hold-on-li opened #5088 "roLabelImg标注的图像转coco格式"
请问一下，roLabelImg标注的图像如何转coco格式？

[2022-01-10 10:51] chenjw1009 commented on #5027
ok

[2022-01-10 10:51] #5027 closed, assigned to nobody

[2022-01-10 10:59] nemonameless commented on #5088
比普通检测多了角度信息，coco格式 json文件里多加个字段。自定义数据文档 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/dota#%E8%87%AA%E5%AE%9A%E4%B9%89%E6%95%B0%E6%8D%AE
做好后的格式参照 https://paddledet.bj.bcebos.com/data/spine_coco.tar

[2022-01-10 12:38] monkeycc commented on #5082
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/windows-pip.html
CUDA 工具包11.2配合cuDNN v8.1.1

你们paddlepaddle 官方文档
就是要我们安装 cuDNN v8.1.1

@nemonameless

[2022-01-10 12:43] monkeycc commented on #5083
我的是VOC数据集

不能调用COCO模型吗
也没VOC模型嘛

是不是要VOC转COCO数据集
@nemonameless

[2022-01-10 13:46] nemonameless commented on #5087
量化剪枝目前没有适配过。没有特殊操作的话移动端部署应该是可以的，但是速度不一定很快。

[2022-01-10 14:42] qmoji commented on #4666
请问有多人的行人检测部署模型吗？现在只看到有PicoDet-S-Pedestrian

[2022-01-11 02:41] edwardnguyen1705 commented on #5013
Thanks @yghstill , I am using ver. 2.3

[2022-01-11 02:41] #5013 closed, assigned to yghstill

[2022-01-11 02:46] wangxinxin08 commented on #5087
目前是可以移动端部署的，不过因为速度会相对比较差

[2022-01-11 02:47] wangxinxin08 commented on #5088
可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/dataset/dota_coco/dota_to_coco.py 转换下格式

[2022-01-11 03:11] zf900 commented on #5087
那么这个算法的AlignConv版本，现在是否支持移动端部署呢？

[2022-01-11 03:15] wangxinxin08 commented on #5087
AlignConv需要使用DCN，应该不支持移动端部署

[2022-01-11 03:26] nemonameless commented on #5083
VOC和COCO种类数不同，cfg里的num_classes设置不同的，训好的模型head的通道数不一样的。建议直接使用COCO模型。

[2022-01-11 03:33] nemonameless commented on #5082
建议换cuDNN版本或cuda版本试试

[2022-01-11 03:36] yghstill commented on #5083
@monkeycc 你是想导出PicoDet模型来测试吗？
可以通过以下命令进行导出：
[code]
我们只发布了COCO上的预训练模型，VOC的配置文件只是一个demo。
看你上面的用法应该是命令输入有误，不是代码的原因，在终端shell下，输入指令后检查下-c前后的空格等是否正确。

[2022-01-11 07:24] violetweir opened #5090 "如何在PaddleDetection中获取目标检测模型的参数和GFLOPs"
我使用PaddleDetection改进了一下网络，想测试一下我新的模型的参数量和GFLOPs，请问应该如何做呀

[2022-01-11 08:10] cv-nlp opened #5091 "请问下关键点检测压缩的demo后面会有吗？（蒸馏和剪枝）"

[2022-01-11 08:39] zf900 commented on #5087
您好，我用opt转换工具转换训练好的 Conv 版本的S2ANet模型时，出现了如下的错误，您知道怎么解决的吗？
./opt_backup  --valid_targets=arm --model_file=inference_model/jdx_s2anet_conv_2x_dota/model.pdmodel --param_file=inference_model/jdx_s2anet_conv_2x_dota/model.pdiparams --optimize_out=output_inference/jdx_s2anet_conv_2x_dota/model --optimize_out_type=naive_buffer --quant_model=false

**[W  1/11  8:27:29.544 .../dskj/xiexie/Paddle-Lite/lite/

[2022-01-11 08:57] hello3281 commented on #5063
deepsort跑的demo可以实时显示吗

[2022-01-11 08:58] wangxinxin08 commented on #5087
出现这个原因是某些算子不支持

[2022-01-11 09:04] ghostxsl commented on #5090
请参考FAQ中的How to count model parameters.部分：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/picodet#faq

[2022-01-11 09:06] ghostxsl commented on #5090
你可以在yml文件里设置print_flops: True来获得GFLOPs

[2022-01-11 09:12] zhiboniu commented on #5091
会的，有同事已经开始这方面的实验了

[2022-01-11 12:16] monkeycc commented on #5082
[code]

cudnn 改为cudnn8.2了

threading.Thread()
我用了一个线程来跑 出现这些错误信息
@nemonameless

[2022-01-11 12:52] xinliyangguang opened #5092 "多卡训练失败[Other General Issues]"
多卡训练设置失败，显示只用了一张卡：
![image](https://user-images.githubusercontent.com/53338761/148945461-059a2eb0-4d98-4e20-8503-6a15e1579972.png)

训练开始脚本如下：
export CUDA_VISIBLE_DEVICES=0,1,2,3
python3 -m paddle.distributed.launch --log_dir=./ppyolo_dygraph/ --gpus 0,1,2,3 /root/paddlejob/workspace/env_run/zhaoxin34/baidu/personal-code/icoding/PaddleDetection-release-2.0/configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.ym

[2022-01-11 13:37] ghostxsl commented on #5092
请给出详细的运行命令以及报错信息

[2022-01-12 01:04] incklaw-working commented on #4931
请问要如何在jetson上配置paddle v2.2？我常识安装whl的时候他告诉我说不兼容这个平台
![sendpix0](https://user-images.githubusercontent.com/78078409/149045593-b5f463e9-0613-48f0-9f5d-07715370d467.jpg)

[2022-01-12 02:15] sk8boi opened #5093 "在Ai Studio上训练时遇到ValueError，"
如题，在Aistudio上运行python -u tools/train.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml
开始训练模型时，
![image](https://user-images.githubusercontent.com/73382519/149051685-50045c9f-ffd4-4290-a552-4b1507d3acb4.png)
弹出错误
![image](https://user-images.githubusercontent.com/73382519/149051725-9f3b2ef2-74a9-446e-adcf-4f5d99caf36b.png)
我想知道是什么原因，是图片数据的问题，梯度下降达到极限的意思吗

[2022-01-12 02:21] sk8boi commented on #5093
已解决，是我类别配置的问题
![image](https://user-images.githubusercontent.com/73382519/149052341-2cf88d8c-33d8-4079-a99e-9d97e3dc5481.png)

[2022-01-12 02:22] sk8boi commented on #5093
已解决，类别配置与label_list.txt不一致

[2022-01-12 04:13] ZuoDaHai opened #5094 "无法导出__model__文件"
使用export_model.py导出yolov3_mobilenet_v1_270e模型只能导出如下文件：
_infer_cfg.yml
model.pdiparams
model.pdiparams.info
model.pdmodel_

没有导出`__model__`文件，麻烦问一下如何才能导出`__model__`文件

[2022-01-12 05:37] nemonameless commented on #5094
目前默认是动态图导出，结果就是那4个文件。
__model__是静态图导出，请在PaddleDetection/static中使用。

[2022-01-12 07:51] kkhuangzekai opened #5097 "[BUG]请问CPU可以运行pp-detection gui吗，我10S的视频导入后一直让我“模型运行中请等待“”，等了很久也没有进行下一步"
**PaddleDetection team appreciate any suggestion or problem you delivered~**
![541215c82191b9a94c70f38d7cf40ba](https://user-images.githubusercontent.com/82854498/149085832-2087a25f-bbde-4132-9dc3-09e3b14d1b03.png)
run了main.py后选择行人单检测模式，选择导入视频后一直在这步
## Checklist:
![541215c82191b9a94c70f38d7cf40ba](https://user-images.githubusercontent.com/82854498/149085791-e51b0829-e215-4158-9d2b-5510eee63192.png

[2022-01-12 09:15] xinliyangguang commented on #5092
您好，运行脚本就是
export CUDA_VISIBLE_DEVICES=0,1,2,3
python3 -m paddle.distributed.launch --log_dir=./ppyolo_dygraph/ --gpus 0,1,2,3 /root/paddlejob/workspace/env_run/zhaoxin34/baidu/personal-code/icoding/PaddleDetection-release-2.0/configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml

运行的时候就是watch查看显卡的利用率就是只用了一张卡

[2022-01-12 09:32] axdo opened #5099 "[Other General Issues]使用自定义数据集coco格式 导出模型预测时候标签不对/mobiledetbenchmark-demo"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## 描述问题/Describe the bug
两个问题：
1.使用自定义的coco格式的数据集(用voc格式转换的) 然后能训练 但是导出模型后发现infer_cfg.yml的label_list下面都是coco的80个类别，然后预测时候框出来的都错了，我又尝试运行https://aistudio.baidu.com/aistudio/projectdetail/2882573?channelType=0&channel=0 这个项目里的 结果就检测不出来图片里的内容 生成的结果图片没有标注框
还有一个现象就是 同样的数据集voc格式和coco格式训练完效果相差很多 我感觉也是上述label_list出现问题导致的 voc导出的la

[2022-01-12 09:41] ghostxsl commented on #5092
是报错停止了吗？还是说可以正常运行？如果报错了，请问错误是什么？如果没报错，可以正常运行，但是只有一块卡在跑的话，建议您确认一下您的paddle版本

[2022-01-12 11:27] zoooo0820 commented on #4931
@incklaw-working 可以在[这里](https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html) ，根据环境选择下安装包。

[2022-01-13 02:07] guohuanguohuan commented on #5067
你好，去掉权重之后结果变得非常不稳定，也就是每次训练结束的预测结果相差非常大，相差大概10%，请问除了上述设置之外还有什么设置方法可以让训练结果稳定。

[2022-01-13 02:31] ghost opened #5100 "‎"

[2022-01-13 03:48] wxf764571829 opened #5102 "paddleserving 下的Pipeline下测试案例将获取的json格式的矩形框位置合成框图出现的结果与实际结果相差很大"
预测结果合成如下：
![4351399025921794af9ee8b5c818f07](https://user-images.githubusercontent.com/46362180/149262525-2602a144-b4cb-46f7-82e7-46e38eeab8e4.png)

serving版本0.7.0，paddle版本2.2.1
测试案例地址：https://github.com/PaddlePaddle/Serving/tree/v0.7.0/examples/Pipeline/PaddleDetection/ppyolo_mbv3
我不知道是我合成图片的代码问题还是什么问题。合成代码是根据PaddleDetection中修改的，我在想合成图的偏差是不是和resize有关，如果是我应该如何修改，劳烦前辈们贴一下代码
def draw_box(im, np_boxe

[2022-01-13 03:50] wxf764571829 commented on #5102
合成代码
![image](https://user-images.githubusercontent.com/46362180/149262679-b054be4b-35ec-470e-aaa3-d0a8ed9fff19.png)

[2022-01-13 05:00] curryJ opened #5103 "评估是会报内存oom异常"
在执行eval.py时，内存占用很高，请问这是为什么呢？我在PaddleSeg和PaddleDetection都遇到了这个问题。显存和GPU都正常，内存一直在增长，最后程序崩溃

[2022-01-13 06:02] Hold-on-li opened #5104 "关于S2ANet旋转模型"
![image](https://user-images.githubusercontent.com/87969070/149274192-65e26710-3878-455a-8727-1834435ab87e.png)
请问一下，检测上图中的三种目标，同时显示正确的方向，目前训练集是45张。检测结果中方向一直存在着问题，请问有什么优化策略吗？
![image](https://user-images.githubusercontent.com/87969070/149274485-eb2c51b4-9042-4a3d-a695-3b88b763be49.png)
num_classes设置为3

[2022-01-13 07:54] Jiangyangya opened #5105 "执行python ppdet/modeling/tests/test_architectures.py失败，GFL和PicoDet未注册"
bml@jupyter-54f38f93977838f0-0:~/storage/mnt/v-algorithm/org/jiangyang/PaddleDetection-release-2.3$ python ppdet/modeling/tests/test_architectures.py
W0113 15:16:02.753834    71 device_context.cc:447] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1
W0113 15:16:02.757192    71 device_context.cc:465] device: 0, cuDNN Version: 7.6.
..F.F..
====

[2022-01-13 10:31] heavengate commented on #5097
CPU可以运行的，不过PP-Tracking目前的模型是针对GPU设计的，计算量比较大，所以CPU上跑起来速度比较慢，如果你要CPU跑的话可以试下把视频时长缩短看看效果

[2022-01-13 10:53] kkhuangzekai commented on #5097
请问paddletracking.gui的打印行人轨迹功能能够在linux上运行吗？

---原始邮件---
发件人: "Kaipeng ***@***.***&gt;
发送时间: 2022年1月13日(周四) 晚上6:32
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]请问CPU可以运行pp-detection gui吗，我10S的视频导入后一直让我“模型运行中请等待“”，等了很久也没有进行下一步 (Issue #5097)

CPU可以运行的，不过PP-Tracking目前的模型是针对GPU设计的，计算量比较大，所以CPU上跑起来速度比较慢，如果你要CPU跑的话可以试下把视频时长缩短看看效果

—
Reply to this email

[2022-01-13 10:54] heavengate commented on #5102
你在哪里做了resize，看你贴的代码是画框的代码，没有resize的代码

[2022-01-13 10:55] heavengate commented on #5103
你好，你跑eval的是哪个模型呢，以及PaddleDetection版本还是你机器上的内存大小是多少呢

[2022-01-13 10:58] heavengate commented on #5104
你好，贴一下你的检测效果图看一下呢
如果你训练集只有45张的话，你可以把你要检测的图也加到训练集中做训练，来过拟合你要检测的图，来确认一下是什么问题，如果过拟合训练之后能正确检测出你的图，那说明可能是训练数据不够或者训练iter不够之类的问题，如果过拟合训练都不能检测出正确的结果，可能就是配置错误了

[2022-01-13 10:58] curryJ commented on #5103
您好 我使用的就是aistudio，PaddleDetection为2.3 内存16G 显存16G&nbsp; eval用过deeplabc3p测试cityscapes，yolov4测试bdd100k&nbsp; 都报了同样的问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月13日(星期四) 晚上6:55
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 评估是会报内存oom异常 (Issue #5103)

你好，你跑eval的是哪个模型呢，以及PaddleDetection版本还是你机器上的内存大小是多少呢

[2022-01-13 10:59] yghstill commented on #5100
@awl-vuong-nguyen The quantitative model does not support exporting to onnx format, please use Paddle Lite to predict deployment

[2022-01-13 11:00] heavengate commented on #5105
你是否是pip安装了你paddledet的，可以试下`pip uninstall paddledet`试下，确保你用的是当前目录下的代码

[2022-01-13 11:01] heavengate commented on #5097
可以的，pptracking下的功能都可以在linux下运行

[2022-01-13 11:04] heavengate commented on #5099
1. 可以确认一下你的数据集配置里`TestDataset.anno_path`有没有指向你自定义数据集的annotation文件，会默认先读这个文件，这个文件读不到才会去读coco数据集默认的类别
2. 没太理解你是怎么操作的，方便贴一下命令或者代码呢

[2022-01-13 11:17] Hold-on-li commented on #5104
![image](https://user-images.githubusercontent.com/87969070/149320519-ebc4b310-f41d-4c4c-8c3e-1287620d6c4d.png)
结果如上图
但是我label的时候
![image](https://user-images.githubusercontent.com/87969070/149320600-af50362d-d5ca-4e28-949a-fdc471bcfbb1.png)
是这样的

[2022-01-13 11:26] kkhuangzekai commented on #5097
请问配置模型是直接把模型文件下载下来放到model文件夹里面就行了吗？需不需要调整代码中的文件夹路径参数？

---原始邮件---
发件人: "Kaipeng ***@***.***&gt;
发送时间: 2022年1月13日(周四) 晚上7:01
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]请问CPU可以运行pp-detection gui吗，我10S的视频导入后一直让我“模型运行中请等待“”，等了很久也没有进行下一步 (Issue #5097)

可以的，pptracking下的功能都可以在linux下运行

—
Reply to this email directly, view it on GitHub, or unsubscribe

[2022-01-13 11:27] heavengate commented on #5104
看着框位置基本正确，角度大致方向也对，角度精度不太好，应该是训练不足导致的，可以试下能否加大一下数据集，多训一个epoch，可以根据你的卡数调整一下learning rate
另外，这个loss_weight的第5位就是角度的loss weight，也可以调大一点试下
https://github.com/PaddlePaddle/PaddleDetection/blob/635e3e0a80f3d05751cdcfca8af04ee17c601a92/configs/dota/s2anet_alignconv_2x_dota.yml#L24

[2022-01-13 11:30] heavengate commented on #5097
GUI界面是不需要下载模型文件，如果是用代码的方式可以参考 https://aistudio.baidu.com/aistudio/projectdetail/3022582

[2022-01-13 11:36] axdo commented on #5099
第二个问题
这个是我生成的param的文件 第三行Input 后面是image
![image](https://user-images.githubusercontent.com/46195295/149322271-eca08508-a9e8-4254-8b96-7d44cc5219b5.png)
这个是mobiledetbenchmark里面的给的例子的param 第三行对应上面我自己生成的部分都是data
![image](https://user-images.githubusercontent.com/46195295/149322570-d7d7882d-cad1-48e4-8454-7c272eb2edea.png)
我只有把我的image 这些改成data后 才不会点击run出现unkown shape

然后我接下来又有别的问题了 我感觉可能也和转换有关 具体是这样的：

[2022-01-13 11:43] kkhuangzekai commented on #5097
请问注释里说建议使用windows环境进行运行是为什么呢？是linux运行效果不好吗？

---原始邮件---
发件人: "Kaipeng ***@***.***&gt;
发送时间: 2022年1月13日(周四) 晚上7:30
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]请问CPU可以运行pp-detection gui吗，我10S的视频导入后一直让我“模型运行中请等待“”，等了很久也没有进行下一步 (Issue #5097)

GUI界面是不需要下载模型文件，如果是用代码的方式可以参考 https://aistudio.baidu.com/aistudio/projectdetail/3022582

—
Reply to this em

[2022-01-13 11:45] heavengate commented on #5103
https://github.com/PaddlePaddle/PaddleDetection/blob/6e65f11d8ec0169655b5ec7614a6360b25090ae3/static/configs/yolov4/yolov4_cspdarknet.yml#L98
可以在这行下面加一个`num_workers: 0`的配置试下

[2022-01-13 11:47] curryJ commented on #5103
好的谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月13日(星期四) 晚上7:45
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] 评估是会报内存oom异常 (Issue #5103)

https://github.com/PaddlePaddle/PaddleDetection/blob/6e65f11d8ec0169655b5ec7614a6360b25090ae3/static/configs/yolov4/yolov4_cspdarknet.yml#L98
 可以在这行下面加一个num_worker

[2022-01-13 12:35] curryJ commented on #5103
我将number workers改成了1之后 我发现只是读取速度变慢了一些 然后我又将我的验证集的图片规模缩小 但是到这里loading annotations  又开始了内存的暴涨 最后程序崩溃 我觉得是代码的问题  不是配置文件的问题
![Uploading image.png…]()

[2022-01-13 12:35] curryJ commented on #5103
![image](https://user-images.githubusercontent.com/23001027/149331230-45e95fe5-e178-4e03-a896-9073cce27e6d.png)

[2022-01-13 14:33] lazyn1997 opened #5107 "[BUG]preprocess对视频与图片的处理不一致"
## 描述问题/Describe the bug
preprocess操作对视频与图片的处理不一致，如果预测图片，则用opencv读入图片后要进行BGR到RGB颜色空间的转换，如果预测视频，则对帧图片不做任何处理就返回，
![image](https://user-images.githubusercontent.com/34644177/149349291-075e48a0-713c-4576-ae61-cab0a8a76de7.png)
preprocess.py中处理部分如下图所示：
![image](https://user-images.githubusercontent.com/34644177/149348478-4530e91b-841f-4bed-9012-73cffdb6af3e.png)

这样的话，预测视频与预测图片传入detector的数据的颜色空间根本不一致，预

[2022-01-14 01:23] pureloveljc commented on #4420
自己训练的picodet模型　怎么转化成ncnn　的模型？？？

[2022-01-14 02:39] yeliang2258 commented on #5100
Paddle2ONNX is working on to support quantize model, please pull this PR to test: https://github.com/PaddlePaddle/Paddle2ONNX/pull/399 this code is still under experiment

[2022-01-14 02:47] Jiangyangya commented on #5105
好的谢谢，已经解决了，paddledet版本问题

[2022-01-14 02:47] #5105 closed, assigned to heavengate

[2022-01-14 10:05] yangjian1218 opened #5108 "[Other General Issues]windows安装requirements的cython_bbox包报错cl.exe不存在"
我电脑系统为win11,在安装paddleDetection前,安装requirements的cython_bbox包,报错:
error: command 'cl.exe' failed: No such file or directory.
我使用的是vs2019, cl.exe所在的目录也添加到系统环境变量中了.在终端输入cl是有信息输出的. 用prompt管理者打开进行安装也是报错.跪求大神来解决这个bug,同理,在安装其他python包或者编译其他库,比如insightface最新包等或者编译seetaface也是这个问题. 到底是我电脑系统问题还是vs2019不支持的问题?
![image](https://user-images.githubusercontent.com/66234937/149497557-2e6170a4-151e-466a-a786-6fe89cf3e

[2022-01-14 10:20] edwardnguyen1705 commented on #4733
Dear @yghstill ,

Could you take a look at this? Thanks for your time.

[2022-01-14 16:02] #5082 closed, assigned to nobody

[2022-01-14 16:09] monkeycc commented on #5083
用了spine_coco数据集

`python  tools/export_model.py  -c  configs/picodet/picodet_s_320_coco.yml  -o  weights=https://paddledet.bj.bcebos.com/models/picodet_s_320_coco.pdparams  --output_dir=inference_model`

[code]

win环境
命令行 空格没问题
改为绝对路径 也是一样
@nemonameless  @yghstill

[2022-01-14 16:26] #5083 closed, assigned to nobody

[2022-01-15 01:08] #5048 closed, assigned to nobody

[2022-01-15 02:19] STUSER001 opened #5109 "ppyolo_tiny2.0 如何画val的 loss 以及 每个类的AP值？"
如何 修改 eval 评估时候 后面 添加 --classwise 后
![Uploading 捕获.PNG…]()
显示的 各类的 AP 值 是 IOU =0.5的呢

[2022-01-15 04:02] Feng1909 commented on #5038
已解决该问题，是yaml-cpp在CMakiLists.txt中的问题，需要在CMakeLists.txt中补充
[code]

[2022-01-15 04:02] #5038 closed, assigned to nobody

[2022-01-15 12:22] q774740909 opened #5110 "[Other General Issues]使用gpu预测达不到预期效果"
有个项目我在tensorflow上能达到70ms一次检测，并且gpu的内存使用是5个G左右，比cpu块7倍。但是最近我用ppyolov2重新训练并部署，在和tensorflow同一个机器下，只能达到500ms一次，gpu使用率是1.5个G，并且用GPU的检测速度只比CPU块两倍而已。请问这是什么原因吗？

[2022-01-15 13:03] nemonameless commented on #5108
windons安装可以
[code]
或参考这个链接 https://stackoverflow.com/questions/60349980/is-there-a-way-to-install-cython-bbox-for-windows
您想跑什么模型呢？如果不是实用跟踪模型的话，是不需要cython_bbox包的，也可以注释相关代码。

[2022-01-15 14:09] Alex28132 opened #5111 "ModuleNotFoundError: No module named 'ppdet.utils.export_utils'"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-15 16:42] ElieenAndBella opened #5112 "onnx相关问题"
为什么导出的onnx的input_feed会有scale_factor这个参数，压根就没见过

[2022-01-15 16:45] ElieenAndBella commented on #5112
有没有paddledetection导出的onnx调用的相关文章啊

[2022-01-15 16:46] ElieenAndBella commented on #5112
我的模型是Yolov3模型

[2022-01-16 02:54] yghstill commented on #4420
@pureloveljc 可以根据文档中部署部分导出onnx模型，然后使用在线工具转成ncnn格式即可：https://convertmodel.com/

[2022-01-16 03:17] yghstill commented on #5109
@STUSER001 利用coco api得到的mAP和单类AP是0.5：0.95，如果想获取iou=0.5的值，可以改成VOC的评估方式，或者修改classwise逻辑：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/metrics/coco_utils.py#L115

[2022-01-16 03:20] yghstill commented on #5111
@Alex28132 请问PaddleDetectiion版本是多少？指定python路径为当前路径再试下呢？

[2022-01-16 03:22] yghstill commented on #5112
@ElieenAndBella scale_factor这个参数是真是图片尺寸和resize后图片尺寸的比例因子，用来后处理解码，具体可参考预测部署的预处理代码：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/python/preprocess.py#L77

[2022-01-16 03:55] Alex28132 commented on #5111
PaddleDetectiion2.3   指定路径为static路径，然后运行的代码

[2022-01-16 03:55] STUSER001 opened #5113 "ppyolo_tiny2.0 评估 过拟合问题"
在自定义数据集的 验证集 map 比 测试集 大2倍 这个怎么解决 训练越多 验证集的 map 提高 测试集的反而 越来越下降

[2022-01-16 05:32] Alex28132 commented on #5111
PaddleDetectiion2.3 指定路径为static路径，然后运行的代码

[2022-01-16 07:03] nemonameless commented on #5107
建议以图片预测的为准

[2022-01-16 07:14] lazyn1997 commented on #5107
首先是明确了这是bug吗，其次意思是视频那里也需要加一句下面的语句是吗？
![image](https://user-images.githubusercontent.com/34644177/149650908-7dac28eb-b638-4782-978a-b174006a14dc.png)

[2022-01-16 08:29] mutouoa opened #5115 "训练tinypose出现报NAN错误"
fail to map sample transform [<ppdet.data.transform.keypoint_operators.ToHeatmapsTopDown_DARK object at 0x7f6d3008ff70>] with error: cannot convert float NaN to integer and stack:
Traceback (most recent call last):
  File "/data/qyh/code/keypoints/new/PaddleDetection/ppdet/data/reader.py", line 54, in __call__
    data = f(data)
  File "/data/qyh/code/keypoints/new/PaddleDetection/ppdet/data/trans

[2022-01-16 08:30] mutouoa commented on #5115
@ZeyuChen @QingshuChen

[2022-01-16 09:25] sfx-666 opened #5116 "tools里边并没有这些程序"
# bdd100kmot
tools/bdd100kmot/gen_bdd100kmot_vehicle.sh：通过执行bdd100k2mot.py和gen_labels_MOT.py生成bdd100kmot_vehicle 数据集
tools/bdd100kmot/bdd100k2mot.py：将bdd100k全集转换成mot格式
tools/bdd100kmot/gen_labels_MOT.py：生成单类别的labels_with_ids文件
# visdrone
tools/visdrone/visdrone2mot.py：生成visdrone_vehicle

[2022-01-16 09:26] sfx-666 opened #5117 "tools里没有这些代码"
# bdd100kmot
tools/bdd100kmot/gen_bdd100kmot_vehicle.sh：通过执行bdd100k2mot.py和gen_labels_MOT.py生成bdd100kmot_vehicle 数据集
tools/bdd100kmot/bdd100k2mot.py：将bdd100k全集转换成mot格式
tools/bdd100kmot/gen_labels_MOT.py：生成单类别的labels_with_ids文件
# visdrone
tools/visdrone/visdrone2mot.py：生成visdrone_vehicle

[2022-01-16 09:26] sfx-666 opened #5118 "tools里没有这些代码"
# bdd100kmot
tools/bdd100kmot/gen_bdd100kmot_vehicle.sh：通过执行bdd100k2mot.py和gen_labels_MOT.py生成bdd100kmot_vehicle 数据集
tools/bdd100kmot/bdd100k2mot.py：将bdd100k全集转换成mot格式
tools/bdd100kmot/gen_labels_MOT.py：生成单类别的labels_with_ids文件
# visdrone
tools/visdrone/visdrone2mot.py：生成visdrone_vehicle

[2022-01-17 02:18] wangxinxin08 commented on #5110
请问你GPU的机器是什么？如何进行部署的？

[2022-01-17 02:19] wangxinxin08 commented on #5113
你的数据量是多少？如果数据量过少的话，可以加强一下数据增广，另外，可以增加weight decay

[2022-01-17 02:23] wangxinxin08 commented on #5116
你好，请问你说的这些工具是在哪个文档中介绍的？

[2022-01-17 02:26] sfx-666 commented on #5116
你好，在车辆跟踪中提到的，已经找到了，在configs/mot/vehivle/tools里

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月17日(星期一) 上午10:23
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] tools里边并没有这些程序 (Issue #5116)

你好，请问你说的这些工具是在哪个文档中介绍的？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on th

[2022-01-17 02:28] #5118 closed, assigned to nobody

[2022-01-17 02:30] nemonameless commented on #5118
在configs/mot/vehicle/tools下~

[2022-01-17 02:31] nemonameless commented on #5117
在configs/mot/vehicle/tools下~

[2022-01-17 02:31] #5116 closed, assigned to nobody

[2022-01-17 02:31] #5117 closed, assigned to nobody

[2022-01-17 02:31] sfx-666 commented on #5118
收到，谢谢，已经找到了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Feng ***@***.***&gt;;
发送时间: 2022年1月17日(星期一) 上午10:30
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; "State ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] tools里没有这些代码 (Issue #5118)

在configs/mot/vehicle/tools下~

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mo

[2022-01-17 02:37] wangxinxin08 commented on #5107
确实是一个问题，需要加下面的语句转化为RGB，后续我们会修复这个问题

[2022-01-17 03:11] terrancraft commented on #4420
您好，我启动训练picodet640发现产生如下报错：
![Screenshot from 2021-08-16 11-29-32](https://user-images.githubusercontent.com/51820927/149702445-c0af2795-a064-48e5-bfbd-0058df0d32b7.png)

[2022-01-17 03:13] terrancraft commented on #4420
您好，我启动picodet640l训练发现产生如下报错：
![Screenshot from 2022-01-17 11-09-55](https://user-images.githubusercontent.com/51820927/149702518-bcde7e36-9433-4f54-842f-b5db5bab309d.png)

[2022-01-17 05:42] desertfex opened #5119 "致泊老师在aistudio上公开的“基于关键点检测的摔倒识别”的例子是离线检测，如何做到在线检测？"
请教如何通过笔记本电脑的摄像头或者手机摄像头做到实时的摔倒检测？有可以参考的例子、代码吗？谢谢

我目前已经通过笔记本电脑的内置摄像头实现了实时的关键点检测，可是老师的摔倒检测需要读取一个已有的.json的文件，而该文件似乎无法实时生成，这样就做不到无法实时进行摔倒检测。求老师指导！本人微信：mingjialia

[2022-01-17 05:51] desertfex commented on #5119
python deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/ppyolo_r50vd_dcn_2x_coco/ --keypoint_model_dir=output_inference/hrnet_w32_256x192/ --camera_id 0  --device=gpu --save_res=True

我用的上面这个命令就可以做到实时的关键点检测，我现在想做到实时的摔倒检测

[2022-01-17 06:39] lpkoh opened #5120 "Which model was used for MOT17?"
Hi,

I see that paddle has the state of the art tracker on MOT17:

![image](https://user-images.githubusercontent.com/48631399/149719901-58808806-91c4-4d74-a645-2d5f6eff252d.png)

Can I check which is the mot model that was used? I cannot find the score of **79.4** on any of the provided trackers in https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/mot

[2022-01-17 06:50] francislinker opened #5121 "pptiny-pose 这个模型可以移植到英伟达jetson 设备吗"
请问pptiny-pose 这个模型可以移植到英伟达jetson 设备吗，如果可以，有相关教程没有呢

[2022-01-17 06:59] nemonameless commented on #5120
It will be released at the end of the month，and it is based on ByteTrack with interpolation postprocessing. Thanks for your attention.

[2022-01-17 07:15] nemonameless commented on #5119
#4666  可以加入paddledetection交流群。

[2022-01-17 07:37] lpkoh commented on #5120
Thank you! Your repo is amazing.

Can I clarify if:
1. You have a paper for it?
2. If I can use my own detector?
3. Is it online method?
4. Does it support multi class (my own classes - like cat, dog, pig)

[2022-01-17 08:52] awl-vuong-nguyen commented on #5056
@LMR2018 how did you fix it?
I am evaluating trained model using configs picodet_s_320_voc_yml and slim_config picodet_s_320_unstructured_prune.yml.
Error: Variable dtype not match, Variable [ generated_tensor_18 ] need tensor with dtype float32  but load tensor with dtype bool

[2022-01-17 09:09] minghaoBD commented on #5056
@awl-vuong-nguyen
I am fixing this issue in this PR https://github.com/PaddlePaddle/PaddleDetection/pull/5122.
Thanks for your question about unstructured pruner.

[2022-01-17 09:14] zoooo0820 commented on #5121
@francislinker
jetson设备上部署模型需要在[这里](https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html)根据具体设备安装对应预测库，其他使用流程可以参考模型所在文档。

[2022-01-17 09:42] nemonameless commented on #5120
Thanks again for your attention and support.
1. Currently no plan for a paper.
2. Private detection, and can be adapted to any detector.
3. Online.
4. In process.

By the way, it is also continuously improving.

[2022-01-17 10:01] Xinjun-Wu commented on #5086
也许他是想要提取人物的面部朝向或者身体朝向吧，类似拓展到其他有常规正面定义的物体，比如汽车

[2022-01-17 12:36] kkhuangzekai opened #5123 "--run_benchmark这个功能是用来将输入的图片和benchmark数据集对比并且输出测试精度的吗？实在没搞清楚这个的功能，因为我只生成了一个log文件：记录了GPU的运行占用率数据。"
**PaddleDetection team appreciate any suggestion or problem you delivered~**
--run_benchmark这个功能是用来将输入的图片和benchmark数据集对比并且输出测试精度的吗？实在没搞清楚这个的功能，因为我只生成了一个log文件：记录了GPU的运行占用率数据。
## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation

[2022-01-17 12:39] kkhuangzekai opened #5124 "请问MTMCT跨镜头追踪有配置文档吗？我在PPtracking找了很久都没有找到[Other General Issues]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-17 13:15] nemonameless commented on #5124
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/pptracking/python/mtmct_cfg.yml
请参考[文档](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/pptracking/python#32-%E7%94%A8%E5%AF%BC%E5%87%BA%E7%9A%84%E6%A8%A1%E5%9E%8B%E5%9F%BA%E4%BA%8Epython%E5%8E%BB%E5%81%9A%E8%B7%A8%E9%95%9C%E5%A4%B4%E8%B7%9F%E8%B8%AA)

[2022-01-17 13:58] nemonameless commented on #5123
--run_benchmark 表示是否重复预测来进行benchmark测速，是专门测速用的，测速指标在此[doc](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/BENCHMARK_INFER.md)。
可以全局搜'--run_benchmark'来查看相关代码和文档说明。请参考文档[doc](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/python#2-%E5%9F%BA%E4%BA%8Epython%E7%9A%84%E9%A2%84%E6%B5%8B)
--run_benchmark默认False，如果设置为True，则需要安装依赖```pip install pynvml psutil

[2022-01-17 14:38] kkhuangzekai commented on #5123
所以run benchmark是用来对模型进行测速的是吗？

---原始邮件---
发件人: "Feng ***@***.***&gt;
发送时间: 2022年1月17日(周一) 晚上9:58
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] --run_benchmark这个功能是用来将输入的图片和benchmark数据集对比并且输出测试精度的吗？实在没搞清楚这个的功能，因为我只生成了一个log文件：记录了GPU的运行占用率数据。 (Issue #5123)

--run_benchmark 是否重复预测来进行benchmark测速。
 请参考文档doc
 --run_benchmark默认False，如果设置为True，则需要安装依赖pip insta

[2022-01-18 01:52] yghstill commented on #4420
@terrancraft PaddlePaddle的版本是多少？是否是2.1.2以上版本？

[2022-01-18 03:13] zoooo0820 commented on #5119
@desertfex
json的文件实际只是存储了一下预测结果，而本身的预测结果在[这里](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/python/det_keypoint_unite_infer.py#L193-L223)给出。可以自己修改一下这个脚本，将摔倒检测的代码函数功能加进来，将`keypoint_res`的相关内容作为下一步的输入实现摔倒检测。

[2022-01-18 03:18] nemonameless commented on #5123
是的

[2022-01-18 03:22] kkhuangzekai commented on #5123
请问-runmode 使用GPU时，默认为paddle，可选（paddle/trt_fp32/trt_fp16/trt_int8），/trt_fp32/trt_fp16/trt_int8和paddle模式使用时区别在哪里呢？是paddle模式的模型的运行速度会更快吗？
还有--batch_size设置为8的时候，与设置为1时相比反而运行慢了0.1S，按理来说不是应该更快吗？我的图片数量是68张。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDe

[2022-01-18 03:58] terrancraft commented on #4420
更新到2.2.0 可以训练了
此外simOTA 的iou weight 一般经验上设为多少？
谢谢！

[2022-01-18 04:13] nemonameless commented on #5123
测速指标、环境、设置等都在此文档[doc](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/deploy/BENCHMARK_INFER.md)，开trt预测会加速，一般trt_fp16更快。业界测速默认都是统一batch_size为1去测，普通推理或eval可以开任意bs去测。

[2022-01-18 06:04] cena001plus opened #5125 "please provide complete configuration file for picodet_m"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-18 06:32] cena001plus opened #5126 "training detection model in voc format"
When training the detection model in voc format, the pictures and paths and label xml paths in train.txt in the provided example are relative paths. My question is:
(1) Is it possible to make an absolute path so that my data storage address doesn't need to be moved
(2) Does data storage have to be in VOC format? I mean, the absolute paths of the images and labels in my train.txt already exist, so

[2022-01-18 09:15] nemonameless commented on #5125
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/picodet_m_416_coco.yml
you can also merge all the ymls  in```_BASE_``` and picodet_m_416_coco.yml  by yourself
[code]

[2022-01-18 09:18] STUSER001 commented on #5113
2.3万 weight decay 怎么加啊？ 这个算法 刚刚接触 有些地方 还没有太看懂

[2022-01-18 09:27] nemonameless commented on #5126
(1) You can design it yourself, as long as you can read the data images according to the path. We recommend following the VOC or COCO dataset( format, directory, and img/label path), just change the dataset_dir path in yml file of the dataset ([coco_detection.yml](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/datasets/coco_detection.yml) or [voc.yml](https://github.com/P

[2022-01-18 09:29] wangxinxin08 commented on #5113
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ppyolo/_base_/optimizer_650e.yml#L21 这里可以增大下weight decay，另外小模型在数据集上过拟合有点奇怪，而且你的数据量并不算小，可以看下测试集，验证集和训练集切分的是否合理？

[2022-01-18 09:32] STUSER001 commented on #5113
我的数据分配比例 是 8:1:1 这样分配的

[2022-01-18 09:37] STUSER001 commented on #5113
还有一个 问题是 自己写了 一个根据 标签 看检测分类准不准的 代码 这里分类准确率99% 在不看 iou的时候

[2022-01-18 10:11] cena001plus commented on #5125
Why is the format of the configuration file not uniform? It takes half an hour for one person, and 2 days for 100 people.

[2022-01-18 10:11] #5125 closed, assigned to nobody

[2022-01-18 10:11] violetweir opened #5127 "报错问题[Other General Issues]"
<img width="981" alt="iShot2022-01-18 18 09 54" src="https://user-images.githubusercontent.com/78856426/149916853-a5600ad0-5ddc-4ab1-a2f3-798abe9eef03.png">
请问这个报错是怎么回事呀

[2022-01-18 10:13] cena001plus commented on #5126
You did not answer my question

[2022-01-18 10:13] cena001plus commented on #5126
You did not answer my question

[2022-01-18 10:20] cena001plus opened #5128 "When training the model, add the option "--eval", error"
python -m paddle.distributed.launch --gpus 0,1,2,3 tools/train.py -c configs/picodet/picodet_s_416_voc_m.yml --eval
When training the model, add the option "--eval", an error occurs, after the model is saved, and the verification starts, the following problem will be prompted. I analyzed and found that gt_boxes is caused by a null value, but I don't know how this happened.

[code]

[2022-01-18 10:38] cena001plus commented on #5126
TrainDataset:
  !VOCDataSet
    dataset_dir: /
    anno_path: dir1/dir2/dir3/trainval.txt
    label_list: /dir1/dir2/dir3/label_list.txt
    data_fields: ['image', 'gt_bbox', 'gt_class', 'difficult']

[2022-01-18 10:39] cena001plus commented on #5126
Is that right?

[2022-01-18 10:51] wangxinxin08 commented on #5113
你这属于数据不均衡，可以考虑的一种方法是：对数据量的比较多的类别进行采样，或者对数据量比较少的类别手动进行数据增广，使其数量接近匹配

[2022-01-18 10:57] yghstill commented on #5128
@cena001plus The model is not trained well, and there is no result output. If the data set is small, increase [snapshot_epoch](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/picodet/picodet_s_416_coco.yml#L14), or load the pre-trained model on coco:
[code]

[2022-01-18 11:00] yghstill commented on #4420
@terrancraft 保持配置文件中默认即可，这个我们经过实验，目前的比例是比较好的。

[2022-01-18 11:03] STUSER001 commented on #5113
我现在做的是 二分类 的 类别数据量是 5:5  只不过 训练的时候  训练集，验证集，测试集 比例 设置了 8:1:1： 且每个数据集 类别分配也是 5：5 的 没有那个类别数据多的情况啊

[2022-01-18 11:53] nemonameless commented on #5127
根据报错提示，可以在cfg文件里添加```find_unused_parameters: True```试试。
提问请发下运行命令，以及说明下如何复现这个问题谢谢。

[2022-01-18 12:12] TinyQi opened #5130 "不同的分支，训练同一套配置文件，产生不同的模型结构？？？[Other General Issues]"
我今天测试了一下发现2.0的paddledetection分支和2.2的paddledetection分支训练出来的模型结构很不一样，这是正常的吗？

[2022-01-18 12:47] youqingxiaozhua commented on #4809
+1, 关键paddle已经安装了paddlepaddle-gpu==2.2.1

[2022-01-18 14:10] zzcgithub opened #5131 "如何根据修改已有inference模型的输入为“动态shape” ？"
目前已有一些导出的模型参数（model/__params）, 可以通过paddle框架进行正常的推理，但是因为输入的shape已经固定，导致无法进行动态推理/无法使用tensorrt。具体问题如下，模型的输入输出截图截图均由netron可视化得出。

1. 使用paddledetection导出的faster-rcnn检测模型，paddle版本1.8.4，只有model和params参数。
如何将输入的shape从（[?,3,?,?]）转化为（?x3x512x512)， 以便支持tensorrt的推理加速

![image](https://user-images.githubusercontent.com/13117136/149952959-15f8985b-d4f6-426d-8bc7-5869a5ddaf61.png)

2. 使用paddledetection导出ppyolo的检

[2022-01-18 15:33] STUSER001 opened #5132 "官方给的 ppyolo_tiny 是 ppyolov1的吧 我看neck 还是 FPN 我想改成PAN 是改这个部分是么？"
![捕获yml](https://user-images.githubusercontent.com/88072901/149967740-af0f378e-440d-4aba-9219-0961ed2fa8de.PNG)
如上图所示 修改这个部分就可以吧

[2022-01-18 15:48] DLNovice opened #5133 "如何在源码中安全地添加代码以实现预测而不是在终端指定（那个模型相关的文件不知道怎么在infer.py中直接指定，而不是在终端指定）"
在终端运行代码是可以正常输出的
python tools/infer.py --model_dir=inference_model_final/ssd_mobilenet_v1_300_120e_voc --image_file=dataset_augment/JPEGImages/58.jpg  --use_gpu=True
但我想将在终端指定的文件添入源码中，而不是每次预测都在终端，我看在终端运行infer.py只需要指定模型包的位置、预测图片、是否使用GPU，后面俩好指定，就是指定模型包位置不知道怎么修改源码，尝试修改过ppdet.utils.cli下的ArgsParser，但不行，请问怎么修改啊

[2022-01-18 18:08] wenchima opened #5134 "在做MCFairMOT时用export_model.py导出的模型后，用post dynamic量化得出如下结果， 这个结果可以用于TensorRT的部署吗？"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## 描述问题/Describe the bug
在做MCFairMOT时用export_model.py导出的模型后，用post dynamic量化得出如下结果， 这个结果可以用于TensorRT的部署吗？

## 复现/Reproduction

1. 您使用的命令是？

paddleslim.quant.quant_post_dynamic

原始的用export_model.py导出的模型文件夹下包括如下文件/：

infer_cfg.yml  model.pdiparams  model.pdiparams.info  model.pdmodel

2. 生成的模型文件中包含如下信息：
batch_norm2d_0.b_0

[2022-01-19 01:03] cena001plus commented on #5126
solved

[2022-01-19 01:03] #5126 closed, assigned to nobody

[2022-01-19 02:22] nemonameless commented on #5130
具体哪个模型？可以在2.2分支下那个模型相关的代码查看commit改动日志

[2022-01-19 02:25] nemonameless commented on #5134
MCFairMOT等跟踪系列模型还没有做过量化，导出的模型目前只支持trt16或trt32预测。

[2022-01-19 02:43] TinyQi commented on #5130
模型是：ppyolo_r50vd_dcn_voc

具体两个训练环境如下
1. 训练工程的分支：PaddleDetection-release-2.3，paddlepaddle-gpu：2.1.3
2. devlop分支：具体记不住了，半年前的版本，paddlepaddle-gpu：2.0.1

昨天也具体测试了一下，发现很不一样

[2022-01-19 02:46] TinyQi commented on #5130
模型结构不一样，这是正常的嘛？不应该呀

[2022-01-19 03:58] mjanddy opened #5135 "loss中加入一个替换值的操作后，gpu需要内存暴增"
![image](https://user-images.githubusercontent.com/27938658/150061360-3f4e4529-619d-4acd-92d6-dbc96210237d.png)
r如图所示，加入红框中的代码后，所需要gpu达到43G,没法训练了

[2022-01-19 06:55] wangxinxin08 commented on #5130
模型结构不一样是指哪一部分啊？

[2022-01-19 07:08] ghostxsl commented on #5131
想用动态shape的话，1. 重新导出，导出的时候指定TestReader.inputs_def.image_shape: [3, -1, 1]。2. 在导出后的文件infer_cfg.yml里，设置use_dynamic_shape: true

[2022-01-19 07:08] ghostxsl commented on #5132
是的

[2022-01-19 07:09] lazyn1997 commented on #5107
训练的时候是用RGB进行训练的是吗？

[2022-01-19 07:10] ghostxsl commented on #5133
啥意思？你想要干嘛？自己修改源码，不用命令行传参嘛？

[2022-01-19 07:12] ghostxsl commented on #5135
你不要用inplace的方式对节点进行赋值，建议使用op组合的方式实现你的想法

[2022-01-19 07:17] wangxinxin08 commented on #5107
是的

[2022-01-19 08:18] mjanddy commented on #5135
可以再详细说一下吗？具体要怎么写？

[2022-01-19 08:18] DLNovice commented on #5133
是的，不用命令行的形式预测，直接运行脚本进行预测

[2022-01-19 08:19] ghostxsl commented on #5135
我没看懂你是想要干嘛？先说一下你的想法，你想改成什么样子的？

[2022-01-19 08:24] mjanddy commented on #5135
target是label的值；fg_map是选择出来索引值；ious是pred计算的iou值; 想要实现的想法就是将target中属于fg_map位置的值替换为ious对应位置的值

[2022-01-19 08:25] DLNovice commented on #5133
传参只需要指定模型包的位置、预测图片、是否使用GPU，后面俩好改，就是传模型包位置有点懵，我尝试我根据错误提示找到ppdet.utils.cli 中的ArgsParser，并尝试修改，报了些奇怪的错误

[2022-01-19 08:26] mjanddy commented on #5135
就是类似于numpy中数组的操作   a[b>1]=c[b>1]

[2022-01-19 08:41] ghostxsl commented on #5135
那建议您可以使用一下gather：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/gather_cn.html#gather 和 scatter：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/scatter_cn.html#scatter 来实现你的想法

[2022-01-19 08:42] ghostxsl commented on #5135
你确定你是只改了这一行才报错的嘛？我感觉你这个操作本身没问题

[2022-01-19 08:43] ghostxsl commented on #5133
那你直接在代码里修改你想要修改的变量就行了，不用管ArgsParser

[2022-01-19 08:47] mjanddy commented on #5135
去掉了就不报错了

[2022-01-19 08:48] mjanddy commented on #5135
好的，我去看一下，多谢

[2022-01-19 09:05] Alex28132 commented on #5111
各位大佬们有知道的吗。。。。。。

[2022-01-19 09:05] TinyQi commented on #5130
我把模型导出成图片了，可以看看

这是2.1.3的
![2 1 3](https://user-images.githubusercontent.com/28993936/150097884-3fa49b84-73a3-4dfe-b509-d82e287610c0.png)

这是2.0.1的
![2 0 1](https://user-images.githubusercontent.com/28993936/150097644-4ce054b9-af7b-4029-8bee-abc1fcbb24a9.png)

[2022-01-19 09:05] #5130 closed, assigned to wangxinxin08

[2022-01-19 09:07] TinyQi commented on #5130
主要就是下面的结构就不一样了，具体我还真说不清楚

我把模型导出成图片了，可以看看

这是2.1.3的模型图
![2 1 3](https://user-images.githubusercontent.com/28993936/150098599-3aad238b-5423-4442-8788-f7f161304598.png)

这是2.0.1的模型图
![2 0 1](https://user-images.githubusercontent.com/28993936/150098769-dc99c982-645b-4eb1-9e59-39eb412b2a7b.png)

[2022-01-19 10:31] awl-vuong-nguyen commented on #5056
@LMR2018 Why is the model heavier after pruner. Did I train wrong somewhere?

[2022-01-19 11:32] cena001plus opened #5136 "Why does it take so long to load data before training?"
If the training data is 1000 images, it takes about 1 minute to load the data, but my actual data is about 50W, and it has been loaded for 5 hours, and now it still does not start training, I want to know what is this process doing?

like this。
`INFO 2022-01-19 14:08:35,416 launch_utils.py:531] details abouts PADDLE_TRAINER_ENDPOINTS can be found in log/endpoints.log, and detail running logs maybe

[2022-01-19 11:33] lazyn1997 commented on #5107
好的，感谢

[2022-01-19 11:34] cena001plus commented on #5136
After hours of waiting, the training finally started.

[2022-01-19 11:34] #5136 closed, assigned to nobody

[2022-01-19 11:37] minghaoBD commented on #5056
Please open a new issue for further discussion : )
I will help you there.

[2022-01-19 11:38] minghaoBD commented on #5056
@awl-vuong-nguyen Please open a new issue for further discussion : )
I will help you there.

[2022-01-19 11:43] #5124 closed, assigned to nobody

[2022-01-19 11:51] DLNovice commented on #5133
非常抱歉，打扰您了，我应该用deploy/python下的infer.py而不是tools下的infer.py，我说怎么改那么麻烦，抱歉

[2022-01-19 12:51] cena001plus opened #5137 "why loss_bbox=0 and loss_dfl=0?"
`[01/19 18:01:47] ppdet.engine INFO: Epoch: [0] [  60/605] learning_rate: 0.028000 loss_vfl: 0.187070 loss_bbox: 0.000000 loss_dfl: 0.000000 loss: 0.187070 eta: 3 days, 2:44:43 batch_cost: 3.6914 data_cost: 0.0013 ips: 6.5015 images/s

[01/19 18:02:58] ppdet.engine INFO: Epoch: [0] [  80/605] learning_rate: 0.034000 loss_vfl: 0.120860 loss_bbox: 0.000000 loss_dfl: 0.000000 loss: 0.120860 eta: 3 da

[2022-01-19 13:30] manongXT commented on #4711
我的也是虚拟环境是7.6.5，但是跑起来后却是8.2，请问这个问题你解决了吗？

[2022-01-19 13:51] ghost opened #5138 "‎"

[2022-01-19 16:02] JiehangXie opened #5139 "PaddleDetection是否支持多标签检测?"
## 🚀  新功能/Feature

PaddleDetection欢迎大家以清晰简洁的语言提出新功能需求。

A clear and concise description of the feature proposal.

## 需求原因&示例/Motivation & Examples

我目前有一个任务需求,除了检测出图片中的人之外,还要识别检测这个人的年龄/性别/是否戴眼镜等等属性
想问下PaddleDetection目前能支持多标签检测任务吗?或者能否提供其他的解决思路,谢谢了!
https://www.sohu.com/a/396686780_610522

[2022-01-20 00:28] deepthman commented on #4711
完全卸载重装就行了

[2022-01-20 00:34] manongXT commented on #4711
是卸载重装cudnn，还是说重搭虚拟环境？

[2022-01-20 00:41] deepthman commented on #4711
把cudn,cudnn都卸载了再装，我也不熟练只能这样确保能用。最好找个详细点的教程

[2022-01-20 00:50] cena001plus commented on #5128
The complete data set is used for training, 500,000 data, but the problem still exists, do I still need to add the following commands?
`-o pretrain_weights=https://paddledet.bj.bcebos.com/models/picodet_s_416_coco.pdparams`

still wrong when add this commdand,
`trainer.train(FLAGS.eval)
  File "/home/work/detection/PaddleDetection/ppdet/engine/trainer.py", line 450, in train
    self._eval_with_lo

[2022-01-20 00:55] manongXT commented on #4711
谢谢解答

[2022-01-20 01:31] cena001plus commented on #5128
Should I modify your code? But I don't know if the problem arises?
It often leads to other problems after modification. In short, it cannot be solved. when len(gt_bboxes) not 0, but gt_boxes[i] is null?:

/PaddleDetection/ppdet/metrics/metrics.py"

**`         if len(gt_boxes)==0:  #add
            print("no")
        else:
            print("yes, gt_boxes length is:", len(gt_boxes))
            p

[2022-01-20 01:32] cena001plus commented on #5128
Should I modify your code? But I don't know if the problem arises?
It often leads to other problems after modification. In short, it cannot be solved. The code I modified is as follows:
/PaddleDetection/ppdet/metrics/metrics.py"

`  if len(gt_boxes)==0:  #add
            print("no")
        else:
            print("yes, gt_boxes length is:", len(gt_boxes))
            print("gt_boxes:",gt_boxes)

[2022-01-20 01:33] cena001plus commented on #5128
Should I modify your code? But I don't know if the problem arises?
It often leads to other problems after modification. In short, it cannot be solved. The code I modified is as follows:
/PaddleDetection/ppdet/metrics/metrics.py"

`  if len(gt_boxes)==0:  #add
            print("no")
        else:
            print("yes, gt_boxes length is:", len(gt_boxes))
            print("gt_boxes:",gt_boxes)

[2022-01-20 03:11] Pocfeis opened #5141 "我想请教一下，库里面的face_detection模型是否能检测摄像头（实时流），或者是视频流，目前好像只看到检测图片的接口"
## 🚀  新功能/Feature

PaddleDetection欢迎大家以清晰简洁的语言提出新功能需求。

A clear and concise description of the feature proposal.

## 需求原因&示例/Motivation & Examples

请描述这个需求的必要性。

Tell us why the feature is useful.

请描述这个需求可实现的具体功能，如果可以，辛苦您提供相关代码实现效果。

Describe what the feature would look like, if it is implemented.
Best demonstrated using **code examples** in addition to words.

## 📣 注意/Note

PaddleDetection仅添加通用性

[2022-01-20 03:13] Pocfeis opened #5142 "[Other General Issues]我想请教一下，库里面的face_detection模型是否能检测摄像头（实时流），或者是视频流，目前好像只看到检测图片的接口"

[2022-01-20 03:27] cena001plus commented on #5137
solved!

Because I modified the code, the code to read bbox from xml has error

ppdet/data/source/voc.py

[2022-01-20 03:27] #5137 closed, assigned to nobody

[2022-01-20 03:28] cena001plus commented on #5128
solved!
#5137

[2022-01-20 03:28] #5128 closed, assigned to nobody

[2022-01-20 03:38] ghostxsl commented on #5139
您好，可以支持多标签预测的，您可以修改head的分类为BCE就可以了，请问您使用的是哪个模型？

[2022-01-20 03:39] #5133 closed, assigned to nobody

[2022-01-20 05:24] #5135 closed, assigned to nobody

[2022-01-20 06:23] JiehangXie commented on #5139
PPYOLO

[2022-01-20 06:25] ghostxsl commented on #5139
可以的，你需要自己改写一下head和dataset的代码

[2022-01-20 06:35] JiehangXie commented on #5139
可以再问一下,BCE全称是什么吗?BCELoss?

[2022-01-20 06:37] ghostxsl commented on #5139
参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/functional/binary_cross_entropy_cn.html#binary-cross-entropy
我看了ppyolo，本身就是用的BCE，可以进行多标签训练的，只是要改一下输入数据的格式

[2022-01-20 09:33] XuecWu opened #5143 "AP-FPS图相关问题"
您好，我想询问下paper中的AP-FPS图是如何得出的呢？我不太清楚AP值与FPS值之间所存在的关系，谢谢。
![image](https://user-images.githubusercontent.com/75833531/150312126-894ae6c1-1fe7-461a-9956-cfc28fc6a70e.png)

[2022-01-20 10:03] JiehangXie commented on #5139
谢谢,我尝试一下

[2022-01-20 10:03] #5139 closed, assigned to nobody

[2022-01-20 10:19] #5127 closed, assigned to nobody

[2022-01-20 14:36] nemonameless commented on #5142
暂时不支持。如果你的设备本身有摄像头的话可以尝试opencv打开，比如
[code]
#5141  同一个issue，故先关闭了。

[2022-01-20 14:36] #5141 closed, assigned to nobody

[2022-01-21 02:24] wangxinxin08 commented on #5143
测量一个模型的精度和速度即可，这里的图中是分别测试了PP-YOLO在608，512，416，320下的精度和速度得到的AP和FPS所画的图

[2022-01-21 02:37] XuecWu commented on #5143
好的知道啦谢谢您

[2022-01-21 02:42] LMR2018 commented on #5056
@awl-vuong-nguyen 我训练的模型也是这样变重了，说是正常的，里面保存了一些权重参数，方便后面继续训练

[2022-01-21 02:44] LMR2018 commented on #5056
@awl-vuong-nguyen
请问，你解决了吗？
请按以下命令安装开发版本的PaddleSlim。
git clone https://github.com/PaddlePaddle/PaddleSlim
git checkout develop
pip install -r requirements.txt
python setup.py build && python setup.py install

[2022-01-21 02:56] awl-vuong-nguyen commented on #5056
@LMR2018 thank you, i solved it

[2022-01-21 04:39] #5094 closed, assigned to nobody

[2022-01-21 04:40] #5093 closed, assigned to nobody

[2022-01-21 06:15] cena001plus opened #5148 "learn_rate and checkpoint training"
The default learning rate is 0.4, picodet, 4 cards, so it is set to 0.1, but during training, it is found that the learning rate decreases very slowly, and finally stabilizes at 0.09986, the map improvement becomes slower, and it is still far from the theoretical value, so I plan to Reduce the learning rate and retrain from the checkpoint, but it takes 6 hours to load hundreds of thousands of trai

[2022-01-21 06:23] cena001plus commented on #5148
最大的epoch是300，你这里写1000，这是告诉其他人，这个1000是是其他参数吗？ 不是epoch？  这里只能写数字吗？ best_model.pdparams可以否？    best_model.pdopt可以否？

[2022-01-21 06:31] cena001plus commented on #5148
框架中的数据检查耗时，不敢随便开启训练啊，5个小时加载数据，两小时训练一个epoch，7、8小时后才知道训练的对不对，这个成本很高啊。

[2022-01-21 07:10] nemonameless commented on #5056
#5138

[2022-01-21 07:49] heavengate commented on #5148
1000是个示例，指你需要resume哪个pdparams前面的序号，可以是best_model

[2022-01-21 07:53] heavengate commented on #5148
PaddleDetection训练不需要把所有数据加载进来，是在训练过程中顺序读取的，应该不需要5个小时加载数据

[2022-01-21 07:58] awl-vuong-nguyen commented on #5056
so why do we need prune models?

[2022-01-21 11:19] curryJ opened #5149 "[BUG]ppyolov2训练时损失变为nan，并且评估一直卡死在iter0不动"
![image](https://user-images.githubusercontent.com/23001027/150517896-e55df081-64b3-44d0-81c3-3a6c8051518a.png)
我在AI studio上也遇到了这个问题，然后我在自己的2080ti上搭配好了环境之后继续进行训练，也出现了同样的问题。
我使用的config为ppyolov2_r50vd_dcn_365e_bdd100k.yml，仅仅在ppyolov2_r50vd_dcn_365e_coco.yml上进行了修改，数据集为bdd100k，读取数据也正常。但是就是无法评估，单独进行eval也是有同样的问题。
非常感谢

[2022-01-21 12:42] nemonameless commented on #5149
建议加载coco预训练模型去训，snapshot_epoch设置大一点。
如果从imagenet预训练去训，刚开始阶段eval精度极低，低质量框处理会很耗时。

[2022-01-21 12:46] curryJ commented on #5149
请问有没有类似于pytorch中model=model.cuda()这个函数呢，我打印了输出，发现是place=CPUPlace，因此我想把模型放在gpu上，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月21日(星期五) 晚上8:42
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]ppyolov2训练时损失变为nan，并且评估一直卡死在iter0不动 (Issue #5149)

建议加载coco预训练模型去训，snapshot_epoch设置大一点。
 如果从imagenet预训练去训，刚开始

[2022-01-21 13:34] XuecWu commented on #5143
老哥您好，我还有一个问题就是，对于PP-YOLO来说，团队所提供的权重在COCO2017上是训练了多少个epoch才得到的呢？谢谢您了哥

[2022-01-21 14:48] XuecWu commented on #5143
老哥还有一个问题就是，对于论文中的消融实验，是在COCO2017训练集上训练然后在COCO207-val进行评估所得出来的结果吧？

[2022-01-21 15:32] nemonameless commented on #5149
请先检查下自己安装的paddle是否GPU版本，以及运行时是否GPU运行。没有cuda()函数，但只要是GPU上运行的打印自然是GPU的。
[code]
文档在[官网](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/index_cn.html)，可自行搜索其他想要的功能api。

[2022-01-22 06:52] Mealoore commented on #4804
这个问题怀疑是 cmakeList 优化参数写错了，[-o参数这一行](https://github.com/PaddlePaddle/PaddleDetection/blame/release/2.3/deploy/cpp/CMakeLists.txt#L107) 应该是 `-O` 而不是 `-o`，改了之后就没这个错了

[2022-01-22 08:03] violetweir opened #5150 "print_flops失败[Other General Issues]"
![image](https://user-images.githubusercontent.com/78856426/150630247-4a699343-4bce-46c5-80fe-2c2204a5cb34.png)

我在训练的时候想看一下flops当我把print_flops设置为True时结果让我安装paddleslim，但是我已经安装了

[2022-01-22 08:41] #5090 closed, assigned to nobody

[2022-01-22 11:20] curryJ commented on #5149
我查看了其他的issue发现是学习率太高导致的损失值变为nan，然后我降低了学习率，训练正常进行，损失也一直在降低。但是现在我运行infer.py发现一个问题，会出现我数据中没有的标签，如下图所示：
![image](https://user-images.githubusercontent.com/23001027/150636376-6ab9bda8-a67a-484e-8d70-59ea73f90b0d.png)
我使用的是bdd100k数据集，只有10个class，如下，
![image](https://user-images.githubusercontent.com/23001027/150636397-e74580af-a84a-4787-ae4c-f860708fcb74.png)
![image](https://user-images.githubuserconten

[2022-01-22 12:52] heavengate commented on #5149
自定义数据集的话，`TestDataset.anno_path`需要配置到你自定义数据集的annotation文件，类别默认会读这个，这个路径不存在的话回去读COCO默认的类别

[2022-01-22 12:56] curryJ commented on #5149
我已经在bdd100k_detection.yml文件中改了

请问这个必须是绝对路径吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月22日(星期六) 晚上8:52
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] [BUG]ppyolov2训练时损失变为nan，并且评估一直卡死在iter0不动 (Issue #5149)

自定义数据集的话，TestDataset.anno_path需要配置到你自定义数据集的annotation文件，类别默认会读这个，这个路径不存在的话回去读COCO默认的类别

—
Reply

[2022-01-22 23:46] sdcb commented on #4666
以后会不会提供手指关键点检测？可以用来识别手势等信息？

[2022-01-23 02:54] LuoyesK opened #5151 "使用opt进行模型转换时出现文件读取报错"
执行命令：paddle_lite_opt --model_file=model.pdmodel --param_file=model.pdiparams --valid_targets=arm --optimize_out=result
报错：Loading topology data from model.pdmodel
Loading params data from model.pdiparams
[F  1/22 18:52:22.297 ...d/Paddle-Lite/lite/core/model/base/io.cc:54 Read] Check failed: (fread(dst, 1, size, file_) == size): 0!==9437184 Failed to read 9437184 bytes.

[2022-01-23 04:39] xinliyangguang opened #5152 "用ppyolov2训练自定义数据集，预测时label不一致，生成的infer_cfg.yml中是默认的coco类别[Other General Issues]"
使用PaddleDetection-release-2.0训练自定义数据集，导出模型时的infer_cfg.yml是默认的coco类别，而且运行infer.py时输出的类别也是按照自定义数据集中的id，但是映射到coco数据集上的。
coco_detection.yml配置如下：
metric: COCO
num_classes: 3 # 80

TrainDataset:
  !COCODataSet
    image_dir: 20210525train # train2017
    anno_path: 20210525annotations\train.json # annotations/instances_train2017.json
    dataset_dir: dataset\coco1 # dataset/coco
    data_fields: ['image

[2022-01-23 05:36] ustblogistics87 commented on #2824
您好，我现在依旧遇到这个问题，不知道是我哪里操作得问题
执行命令：
python tools/train.py -c configs/solov2/solov2_r50_enhance_coco.yml  -o use_gpu=false norm_type=bn
遇到error：
AttributeError: module 'paddle.fluid.core_avx.ops' has no attribute 'sync_batch_norm'

感谢回答！

paddle版本：2.2.1
paddledet版本：2.3.0

[2022-01-23 06:18] kkhuangzekai opened #5153 "请问有人用自定义的数据集训练过PPYOLOV2的模型吗，我colab跑了半个小时都没有出第一个epcho的结果，是我参数设置的问题吗？我的参数设置是10 epcho,batchsize=12 学习率是0.00125[Other General Issues]"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

请问有人用自定义的数据集训练过PPYOLOV2的模型吗，我colab跑了半个小时都没有出第一个epcho的结果，是我参数设置的问题吗？我的参数设置是10 epcho,batchsize=12 学习率是0.00125
![ca0ac3e4fcf1ed6cab9a09ce9c3592d](https://user-images.githubusercontent.com/82854498/150666894-6c6512b7-aeed-4385-aad7-efe56399f641.png)

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot

[2022-01-23 08:54] LuoyesK commented on #5151
补充：训练50轮，报错，但训练300轮后又能通过

[2022-01-23 11:46] curryJ commented on #5153
我也想问这个问题，我在bdd100k上根本就跑不出来，而且每次评估的时候都会卡死，显示Eval iter: 0然后一直不动。我看issue上面说降低学习率可以解决这个问题，所以我降低了学习率，后来确实能跑，但是mAP一直是0.
我后来为了验证是否是数据集的问题，又下载了benchmark中的coco_benchmark，然后训练没有问题，到了评估这里又是一模一样的问题。最后我选择了ppyolo的其他模型，也是这个问题。难受住了

[2022-01-23 11:58] kkhuangzekai commented on #5153
兄弟你试过哪个数据集和预训练模型跑train.py是成功的吗？

[2022-01-23 11:59] kkhuangzekai commented on #5153
兄弟你试过哪个数据集和预训练模型跑train.py是成功的吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月23日(星期天) 晚上7:46
***@***.***&gt;;
抄送:&nbsp

[2022-01-23 12:00] curryJ commented on #5153
我刚开始使用的是bdd100k，没有成功，现在使用的是benchmark中自带的coco_benchmark数据集，也没有成功。我现在想去试一试coco数据集

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月23日(星期天) 晚上7:58
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection]  请问有人用自定义的数据集训练过PPYOLOV2的模型吗，我colab跑了半个小时都没有出第一个epcho的结果，是我参数设置的问题吗？我的参数设置是10 epcho,batchsize=12 学习率是0.00125[Other G

[2022-01-23 12:02] kkhuangzekai commented on #5153
我用的是VOC格式的  PPYOLOV2的训练文档我看了看  大多数是VOC的   你也可以考虑试试VOC

[2022-01-23 12:03] curryJ commented on #5153
好的好的 谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月23日(星期天) 晚上8:02
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection]  请问有人用自定义的数据集训练过PPYOLOV2的模型吗，我colab跑了半个小时都没有出第一个epcho的结果，是我参数设置的问题吗？我的参数设置是10 epcho,batchsize=12 学习率是0.00125[Other General Issues] (Issue #5153)

我刚开始使用的是bdd10k，没有成功，现在使用的是benchmark中自带的coc

[2022-01-24 00:47] pureloveljc opened #5154 "picodet模型在3060gpu上　fps只有 average latency time(ms): 77.04, QPS: 12.980700 　只有１２帧？？？　　大家能跑到官网说的120帧率嘛"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot ge

[2022-01-24 02:18] wangxinxin08 commented on #5143
@XuecWu
1. PP-YOLO 1x是在coco上训练405个epoch得到的，PP-YOLOv2是在coco上训练365个epoch得到的
2. 论文的消融实验是在coco2017-val上评估得到的

[2022-01-24 02:34] liutinglong opened #5155 "使用paddledetection训练出来的非paddleX模型，可以转换成paddleX模型吗？"
## 🚀  新功能/Feature

PaddleDetection欢迎大家以清晰简洁的语言提出新功能需求。

A clear and concise description of the feature proposal.

## 需求原因&示例/Motivation & Examples

请描述这个需求的必要性。

Tell us why the feature is useful.

请描述这个需求可实现的具体功能，如果可以，辛苦您提供相关代码实现效果。

Describe what the feature would look like, if it is implemented.
Best demonstrated using **code examples** in addition to words.

## 📣 注意/Note

PaddleDetection仅添加通用性

[2022-01-24 03:13] XuecWu commented on #5143
好的谢谢老哥

[2022-01-24 03:19] XuecWu commented on #5143
@wangxinxin08  哥我看paper里面，咱们起初lr设定为0.01，这样做不会出现nan嘛，我在COCO2017上训练YOLOv4起初lr设定为0.001还会爆nan害

[2022-01-24 03:31] wangxinxin08 commented on #5143
这个学习率是8卡下设置的，对应的batch_size=8(卡数) * 12，如果你是单卡batch_size=12的话，你需要将学习率设置成原来的1/8

[2022-01-24 03:35] XuecWu commented on #5143
@wangxinxin08 好类好类哥，我可算明白了

[2022-01-24 03:52] xinliyangguang commented on #5152
debug发现coco_detection.yml的配置中写绝对路径最保险。

[2022-01-24 03:52] #5152 closed, assigned to nobody

[2022-01-24 08:52] wangxinxin08 commented on #5154
你好，你是怎么进行测速的呢？

[2022-01-24 08:55] wangxinxin08 commented on #5155
PaddleX复用了部分PaddleDetection的代码，同名的模型应该是可以相互转换的，具体可以到PaddleX的issue下咨询

[2022-01-24 09:00] pureloveljc commented on #5154
python deploy/python/infer.py --model_dir=./inference_model/picodet_s_320_voc --image_dir=./dataset/dqist_qdcode/JPEGImages/ --device=GPU  用的这个脚本

[2022-01-24 09:21] wangxinxin08 commented on #5154
@pureloveljc 可以只测一张图片，然后加上--run_benchmark=True这个flag，再测一下看看

[2022-01-24 09:41] pureloveljc commented on #5154
测一张图片没有意义啊　
目前来说是这个 最多20帧
2022-01-24 17:30:51,727 - benchmark_utils - INFO - [Det] model_name: picodet_s_320_voc
2022-01-24 17:30:51,727 - benchmark_utils - INFO - [Det] precision: paddle
2022-01-24 17:30:51,727 - benchmark_utils - INFO - ----------------------- Data info -----------------------
2022-01-24 17:30:51,727 - benchmark_utils - INFO - [Det] batch_size: 1
2022-01-24 17:30:51,727 - benchm

[2022-01-24 09:46] wangxinxin08 commented on #5154
因为picodet的目标硬件是arm cpu和intel cpu，所以官方给的fps并不是在gpu上测的，你可以按照官方教程在arm cpu上测试一下速度，另外inference time是模型在网络中运行的时间

[2022-01-24 10:12] yangjian1218 opened #5156 "请问人脸检测支持,多张图片为一个batch,进行一次性前向推理么?"
应用场景,针对百万级数据进行制作数据库,如果一张一张推理太慢了,人脸检测是否支持多张图片同时推理?

[2022-01-24 13:31] Protozzzer opened #5158 "PPYolov2 negatives."
Does the ppyolov2 use by default both positive and negative images during training like Yolov4 for example?

[2022-01-25 01:51] pureloveljc opened #5160 "paddleDetection 检测模型可以部署到百度的edgeboard边缘AI计算盒（FZ3）吗？最快的帧率大概是多少"
## 🚀  新功能/Feature

PaddleDetection欢迎大家以清晰简洁的语言提出新功能需求。

A clear and concise description of the feature proposal.

## 需求原因&示例/Motivation & Examples

请描述这个需求的必要性。

Tell us why the feature is useful.

请描述这个需求可实现的具体功能，如果可以，辛苦您提供相关代码实现效果。

Describe what the feature would look like, if it is implemented.
Best demonstrated using **code examples** in addition to words.

## 📣 注意/Note

PaddleDetection仅添加通用性

[2022-01-25 02:30] wangxinxin08 commented on #5158
By default, ppyolov2 only use positive images which have ground truth bounding boxes

[2022-01-25 04:05] minghaoBD commented on #5138
Hi @awl-vuong-nguyen, for the pruner part, there are several points you should pay attention to as follows

1. The checkpoint(especially the params) you are saving is supposed to be heavier since it contains some pruner variables.
2. After calling export_inference model. It should be the same size as the non-pruning version.
3. The model generated by Paddlelite opt(*.nb) should be lighter than the

[2022-01-25 04:55] Monday-Leo opened #5161 "YOLOV3解码函数"
YOLOV3输出的解码函数为yolo_box，在ppdet/modeling/ops内，请问源码在哪里可以看到？

[2022-01-25 08:32] lyuwenyu commented on #5161
代码 https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/detection/yolo_box_op.h
文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/vision/ops/yolo_box_cn.html#yolo-box

[2022-01-25 08:57] STUSER001 commented on #5113
还有问题请问下 ppyolo_tiny 官方给的 检测头部 用的还是 yolov3 的是吧 但是我在网上看说是用了 深度可分离卷积啊，这个好像对不上啊，还有头部文件里那个是 深度可分离卷积呢 由于代码读写能力有限 还请大神麻烦告诉我一下 谢谢

[2022-01-25 09:05] wangxinxin08 commented on #5113
yolov3_head确实不是使用深度可分离卷积因为head只有一个卷积层，ppyolo-tiny的neck和head确实使用的是深度可分离卷积

[2022-01-25 09:16] STUSER001 commented on #5113
我看ppyolv论文里说的yolov3 检测头部就是 3*3卷积 加1*1 卷积 这样做的 ，这里卷积是正常的卷积啊 这样好像tiny 检测头没有用 dw卷积啊

![image](https://user-images.githubusercontent.com/88072901/150947504-f618e14a-4a0c-415f-98fc-0b37011984f6.png)

![image](https://user-images.githubusercontent.com/88072901/150948705-3c0cf0de-f5ab-493c-9864-14daf1240517.png)

还有这个是一篇论文上的截图 按照这位作者的说法 检测头是yolov3 的也就是 正常卷积操作吧 这个作者也是 在原有官方提供的ppyolo_tiny 模型基础上把 FPN 做了修改
!

[2022-01-25 09:33] lyuwenyu commented on #5160
能安装paddle 或者paddle的推理库 的话 应该是没问题的

[2022-01-25 09:43] wangxinxin08 commented on #5113
是的，这篇文章的链接可以发一下吗？

[2022-01-25 09:45] STUSER001 commented on #5113
https://kns.cnki.net/kcms/detail/11.4537.x.20211221.1700.001.html
这是文章的连接 也就是说官方给的 检测头 还是用的yolov3的检测头 常规卷积是吧

[2022-01-25 09:50] wangxinxin08 commented on #5113
是的，yolov3的检测头还是常规卷积

[2022-01-25 09:54] STUSER001 commented on #5113
哦 这样的话 官方说的 head 部分 采用 dw 是那个文件啊
![image](https://user-images.githubusercontent.com/88072901/150953818-84e71649-e3d7-4db3-87ee-1ae774a4dbe6.png)

现在想按照网上说的 把检测头部更换看看
![image](https://user-images.githubusercontent.com/88072901/150953992-86e85ecb-bf16-4b48-94c4-c0c336a59b49.png)
但是我看官方这个代码 就只做了 1X1的卷积啊 我理解有误么？
![image](https://user-images.githubusercontent.com/88072901/151029730-0c9cfa4b-8dad-4309-a

[2022-01-25 10:24] STUSER001 commented on #5132
多谢 我是 按照 官方给的PPYOLOPAN 改的 就是把输入通道 根据 ppyolotinyFPN 改了一下 跑了一遍检测倒是没啥问题 这样改可以吧

[2022-01-25 10:36] yghstill commented on #5150
@violetweir 通过`import paddleslim` 确认下是否安装成功。

[2022-01-25 11:31] wangxinxin08 commented on #5156
可以组成batch去预测，但是所有图片需要resize或者到同一尺寸https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/yolov3/_base_/yolov3_reader.yml#L29, 或者resize到不同尺寸，Pad到统一尺寸:https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/faster_rcnn/_base_/faster_reader.yml#L18

[2022-01-26 02:22] wangxinxin08 commented on #5113
yolov3 head使用1x1的卷积其实没必要换成dw的

[2022-01-26 02:25] wangxinxin08 commented on #5113
好的，如果这样还是出现过拟合的话，可能需要看下训练集，验证集和测试集的切分是否合理，比如数据分布(目标的大小)是否一致

[2022-01-26 02:36] STUSER001 commented on #5113
这样啊 还有一个问题 想问 这个算法 说做了 数据曾广
![image](https://user-images.githubusercontent.com/88072901/151094597-fde2230d-b713-4754-ac23-7eb8b9fdc0ec.png)

这个曾广了多少倍怎么看啊

[2022-01-26 02:37] STUSER001 commented on #5113
那就是说 与 论文的检测头 不一样 是吧  论文说是 先做了3x3 卷积 然后 在做了1x1 卷积啊

[2022-01-26 02:42] STUSER001 commented on #5113
![image](https://user-images.githubusercontent.com/88072901/151095000-37c79483-dfe9-4951-b6fb-4d49fc7f2fb4.png)
还有 数据自定义了2万张 一次迭代1000 跑个 5天多 这正常么？

[2022-01-26 02:44] wangxinxin08 commented on #5113
增广了多少倍是没办法定义的

[2022-01-26 02:46] STUSER001 commented on #5113
问这个就是 因为 数据自定义了2万张 一次迭代1000 跑个 5天多  这正常么？是因为曾广了数据 所以 时间久吧 我听说 公用的十几万张才跑一星期多啊

还有我现在 遇到情况就是 训练的时候是 训练集和 验证集 交叉训练的 ，因此评估的时候  验证集 高可以理解 ，问题是测试集 差iou=0.5时候 50 左右 而且 训练越多 差的越多。。。

[2022-01-26 02:49] wangxinxin08 commented on #5113
ppyolo论文中detection head确实是3x3卷积+1x1卷积，其中3x3卷积在neck中，见https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/necks/yolo_fpn.py#L95 , ppyolo tiny的detection head相比于ppyolo做了一些改动，只有两个1x1的卷积，见https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/modeling/necks/yolo_fpn.py#L291 , 这一点和论文中的并不冲突

[2022-01-26 02:51] wangxinxin08 commented on #5113
1. 默认配置是使用8卡训练的，你用单卡训练的话，自然会变慢，另外数据增广不会增加运行的图片的数量，只是在数据变换的时候对图片以及标注做随机处理，所以不存在你说的增广多少倍的问题
2. 如果过拟合，可以考虑调小训练schedule试试，把schedule同比缩放为原来的2/3或者1/2，这样也可以节省训练时间

[2022-01-26 02:56] STUSER001 commented on #5113
缩小迭代次数 是么？ 我训练时候 用了8卡的训练啊
![image](https://user-images.githubusercontent.com/88072901/151096344-4aaa47b2-a734-4f17-9957-acff6affc0ae.png)

按照这个命令 执行的啊 还有 我看都说 数据集不够 就做数据增广么 位移 旋转 缩放啥的 那不就是增加数据的意思么？

[2022-01-26 02:58] wangxinxin08 commented on #5113
1. 数据增广并没有增加数据，只是对数据做了变换，增加了数据的多样性，使用不使用数据增广同样的schedule迭代的次数不变
2. 可以修改optimizer配置文件，将整个schedule减少下，比如缩小为原来的2/3或者1/2，见https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ppyolo/ppyolo_tiny_650e_coco.yml#L5

[2022-01-26 03:09] STUSER001 commented on #5113
tiny 是这两个 1x1 卷积是么？ 那neck 加 head 不就用3个 1x1 卷积么？
![image](https://user-images.githubusercontent.com/88072901/151097569-aee34688-9296-4ac0-8193-a6a0baa528f8.png)

[2022-01-26 03:28] STUSER001 commented on #5113
这个明白 就是 数据多样性 不就是 每次训练时候 进入的图片数量一定 ，只不过 每次进入的图片比上次做了一些修改 不就是这种意思么 也可以理解 变相增加了数据吧

还有 这个数据增强部分 就是每次对图片 随机做图中mixup，随机对比度，裁剪，扩张等操作 所以 就不能说 多少倍 ，只不过每次做了 这些操作 会影响 训练时间对吧
![image](https://user-images.githubusercontent.com/88072901/151099711-9082076e-be5a-4c16-89e7-1476a7b0dede.png)

[2022-01-26 03:49] Monday-Leo commented on #5161
感谢！还有一个问题，YOLOV3的FPN和head，ppdet的代码将最后head部分的3×3卷积放在了FPN部分，head部分只是一个1×1的卷积，图中已经框出。虽然执行下来没有错误，但是想问一下这个3*3的卷积到底是归属于FPN还是head?
![3](https://user-images.githubusercontent.com/53975909/151101249-96eadd19-bd55-4293-851c-1fffb0c3ece3.jpg)

[2022-01-26 03:51] wangxinxin08 commented on #5113
图中画的1x1和head无关，是fpn的upsample的一部分，所以只有两个1x1，建议认真看下代码

[2022-01-26 03:51] wangxinxin08 commented on #5113
数据增广会增加数据预处理的时间

[2022-01-26 03:54] STUSER001 commented on #5113
哦 明白了 就是 现在tiny 是 neck 一个1x1 head 一个 1x1 这样做的 2个1x1卷积 是吧 由于刚开始看 很多地方 看不太懂 哈哈

[2022-01-26 05:20] nemonameless commented on #5161
属于FPN

[2022-01-26 06:07] STUSER001 commented on #4967
我自己 根据标记的 json 和 infer的结果 写了 iou的 计算 和 标签分类是否准确的代码 这里结果是 准确率达到95.多 这是啥情况呢 正常评估 不也看 是否正确分类 然后在看 iou 么？
![image](https://user-images.githubusercontent.com/88072901/151112086-9ab92a6d-2bb2-4078-8338-8d48b0b39ded.png)

[2022-01-26 06:07] STUSER001 commented on #4967
我自己 根据标记的 json 和 infer的结果 写了 iou的 计算 和 标签分类是否准确的代码 这里结果是 准确率达到95.多 这是啥情况呢 正常评估 不也看 是否正确分类 然后在看 iou 么？我做的是2分类
![image](https://user-images.githubusercontent.com/88072901/151112246-643bbae3-40ee-4759-b067-b53c1e44a525.png)

[2022-01-26 12:04] nemonameless commented on #5153
ppyolo系列模型如果是imagenet pretrain的，刚开始阶段eval会耗时在低质量的框上，建议多训几个epoch再eval。
训其他数据集时，请先自查coco或voc格式转的对不对，为了加速收敛，可以加载coco训好的模型权重去fintune，这样第一个epoch应该也可以很快出较高精度的结果。

[2022-01-26 12:06] nemonameless commented on #5149
都可以。设置绝对路径更保险点。

[2022-01-26 12:23] nemonameless commented on #5151
使用的是静态图？
可以在 [Paddle-Lite](https://github.com/PaddlePaddle/Paddle-Lite/issues)提issue

[2022-01-27 01:18] cena001plus opened #5164 "After replacing hard swish with sigmoid, the training error"
command is:
`
os.system(f"python -m paddle.distributed.launch --gpus {gpu_device} tools/train.py -c {config_picodet_l_416} --eval")
`
batch_size has been reduced

The pretrain_weights in picodet_l_416_coco.yml have been commented out:
`pretrain_weights:https://paddledet.bj.bcebos.com/models/pretrained/ESNet_x1_25_pretrained.pdparams`
Why is there still the following prompt in the error report:

`[

[2022-01-27 02:52] Alex28132 commented on #5111
解决了，删掉了虚拟环境，创建环境并重新配置环境就行

[2022-01-27 06:51] ghostxsl commented on #5164
你是几卡训的？其他节点上的log呢？

[2022-01-27 10:11] cena001plus commented on #5164
4卡，其他卡上应该没有log输出

[2022-01-27 11:10] #5138 closed, assigned to yghstill, minghaoBD

[2022-01-27 11:11] #5100 closed, assigned to yghstill

[2022-01-28 02:24] chenjw1009 opened #5165 "[operate < elementwise_mul > error ]"
DOTA 数据集，S2A_alignconv_2x_dota.yml 评估时，把配置项batch_size 设置为8，出现这样的错误[operate < elementwise_mul > error ]

[2022-01-28 02:25] chenjw1009 commented on #5165
batch_size=1 没问题，但速度特别慢。

[2022-01-28 02:29] chenjw1009 opened #5166 "显存溢出"
用DOTA 数据集，cascade_mask-rcnn, 训练时，显存24G，batch-size=1, 显存都溢出，这是咋回事呢？

[2022-01-28 03:31] Fight-hawk opened #5167 "[BUG] loss_obj在第一个step很大 然后变小 几个step后就nan"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-01-28 06:23] nemonameless commented on #5167
训自定义数据集，推荐加载coco训好的模型权重作为预训练加速收敛。
看log是数据集太小，而且配置文件里的lr和和warmup默认是8卡训COCO设置的，需要调整比如lr减半 warmup step减少或换warmup策略。

[2022-01-28 06:28] nemonameless commented on #5166
DOTA训cascade mask rcnn是把旋转框的点当成mask去训？cascade mask是大模型，建议先检查配置文件和数据集，要训的话可以开--fp16训、换小backbone、换小尺度等

[2022-01-28 08:34] qingqing01 commented on #5166
您有更改什么吗？

[2022-01-29 11:31] ghostxsl commented on #5164
你具体修改的方式是什么？

[2022-01-29 16:53] looooooooosee opened #5171 "[Other General Issues]支持中文吗"
简单来说 支持中文吗

识别的目标 返回的内容可以是中文吗（好像只支持英文？）
比如识别目标是苹果 返回的是结果 apple  我想返回“苹果”字样可以吗

我训练了中文的，顺利训练完，但是无法结果返回“苹果”  如果是apple 就一切正常~

[2022-01-30 02:29] nemonameless commented on #5171
请问报什么错呢，中文报错一般都是编码问题，因机器平台环境而异，请自查python代码中的中文处理方案。
网络模型直接输出的是category id(非负整数)，然后做映射成种类名字的。你可以在最后可视化时才转为中文 ，可视化的代码在此，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/utils/visualizer.py#L123

[2022-01-30 02:34] jerrywgz commented on #5171
可以试下这种方法打印中文
[code]

[2022-01-30 02:36] cena001plus commented on #5164
已经尝试了pico系列中一个小模型，没有修改网络结构，自己的voc数据顺利训练得到预期结果，但是用picodet_l_416_coco.yml,这个模型的时候，修改了act:  hard_swith  为 sigmoid， 另外注释掉了pretrain_weights: https://paddledet.bj.bcebos.com/models/pretrained/ESNet_x1_25_pretrained.pdparams这行代码，网络结构修改了， 预训练模型就用不上了。
其他地方都没有修改，之前是4卡，batch_size=24 是没有问题，现在换成这个模型后，多卡训练一直出问题，修改变为单卡训练，减少到batch_size为1，发现训练启动后，经过2个小时的漫漫检查数据（每次启动训练都会检查数据），12g的GPU的内存就溢出了，我觉得问题出在这里，按道理不应该内存溢出的。

[2022-01-30 02:39] cena001plus commented on #5164
以前4卡训练的pico的shuffle模型，416,  batch_size=24,  每卡的显存才使用一半，可正常训练并得到最终模型；
现在基于picodet_l_416修改hard_sigmoid后,  4卡，batchsize=4， 内存不应该溢出的，但是开始训练，显存就报溢出了。

[2022-01-30 03:17] looooooooosee commented on #5171
预测的labe_llist.txt 可以包含中文吗  我说得不够简洁 望解答

[2022-01-30 05:43] wangxinxin08 commented on #5165
你好，感谢你的反馈，目前s2anet的训练和评估确实不支持bs>1，我们将会排期支持这一特性，另外，dota数据集评估可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/dota#5-dota%E6%95%B0%E6%8D%AE%E8%AF%84%E4%BC%B0 因为没有标注数据，所以暂时需要保存数据到DOTA官网进行评估

[2022-01-31 08:55] tomjeans opened #5173 "[BUG]跑tinypose demo 同一张图片裁剪后得到的结果不一样"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.
3. 确认bug是否在新版本里还未修复/The bug has not been fi

[2022-01-31 08:56] tomjeans commented on #5173
![keypoint_footballrect](https://user-images.githubusercontent.com/37204571/151766745-abf9aac7-aeba-4276-9d07-4010cc86c7f8.jpg)尺寸 1280*853

![keypoint_footballafterrect_origin](https://user-images.githubusercontent.com/37204571/151766947-db5cf12c-ae67-4309-8fca-e1d6c6f3e842.jpg) 尺寸 406*803

[2022-02-03 07:56] XuecWu commented on #5143
@wangxinxin08  老哥您好，请问paper中在COCO2017上训练PP-YOLO所用的总时间大概是多久呢，一个epoch的时间又是多久呢？谢谢老哥

[2022-02-06 17:14] lpkoh commented on #5120
Hi, could I check if the **79.4** model based on Bytetrack has been released?

[2022-02-07 05:19] nemonameless commented on #5120
Sorry, it may need to be delayed to the end of February due to the YOLOX detector. Thanks for your attention.

[2022-02-07 08:23] huangjianyi45903 opened #5174 "yolov3如何进行数据增强？"
小白请假个问题，就是如何通过sample_transforms下的 RandomFlip进行数据增强？数据增强的详细流程如何进行呢？

[2022-02-07 08:39] jerrywgz commented on #5174
sample_transforms是每个iter，选中的样本都会随机进行数据增广，例如随机反转，会生成一个随机数，如果随机数大于0.5，就对反转样本，反之则不反转。经过增广之后的样本再组合成batch进行训练。

[2022-02-07 09:58] huangjianyi45903 commented on #5174
那这个参数RandomFlip: {}要如何配置呢？因为我的infer推理的输出结果会将原始图片进行旋转，然后得到一些错误的预测框，我猜想是由于模型训练中缺少随机翻转，因此想加入这么一个算子，不知道怎么在配置文件进行配置...

[2022-02-07 16:55] Amrou7 opened #5175 "Solov2 inference"
I want to use instance segmentation using solov2. The Script I wrote for this task is as follows:

                      trt_max_shape=1280, trt_opt_shape=640, trt_calib_mode=False, cpu_threads=1, enable_mkldnn=True)

This works well, but it's slow ( 1.7s). Since I want to construct a real-time instance segmentation application, this isn't suitable for me.
How can I use solov2 in order to make a r

[2022-02-08 02:23] jerrywgz commented on #5174
infer阶段是不会引入RandomFlip这个算子的，如果是训练阶段希望加入，可以参考这里的配置https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/yolov3/_base_/yolov3_reader.yml#L11

[2022-02-08 02:41] lvjianjin001 commented on #5174
同问，我也是在infer的过程中出现了原始图片会产生旋转的问题，这是什么原因呢？

[2022-02-08 02:44] yghstill commented on #5175
@Amrou7
- `run_mode` can be set to `paddle/trt_fp32/trt_fp16/trt_int8`. If you want to use TensorRT, please set run_mode='trt_fp32' or 'trt_fp16'.
- The inference image size is so large, the data preprocessing time will increase, you can reduce the real image size and test it again.
- The solov2_r101_vd  parameters is large, and smaller models can be used, such as `solo2_r50_enhance`.

[2022-02-08 09:50] Amrou7 commented on #5175
Hello @yghstill. Thank you for your response.
I tried to use trt_fp32/trt_fp16/trt_int8, but the inference time is the same.
Also, I already tried to decrease the image shape to (200,200) and used smaller model before posting the issue, but the inference time didn't decrease.
I noticed that the cause of this high inference time are the following lines in the **class DetectorSOLOv2**, in the functi

[2022-02-08 09:53] tomjeans commented on #5173
![lei_black_middele](https://user-images.githubusercontent.com/37204571/152962136-419c3400-78ad-4733-ae7c-6a0a42eb5145.jpg)
padding 成4:3的比例结果才正常 是仿射变换那部分的问题吗

[2022-02-09 00:28] STUSER001 opened #5177 "channel shuffle 不是要分三组么？"
![image](https://user-images.githubusercontent.com/88072901/153098626-e8f60785-88d3-4c18-b6bf-f7a35f5f0f9a.png)

图所示 为啥group 不是 3 而是2？

下面是 channel shuffle 函数
![image](https://user-images.githubusercontent.com/88072901/153098716-42bbab9d-43e4-41af-a36e-ffe8926afc3b.png)

[2022-02-09 01:44] 2050airobert opened #5178 "tinypose 是否可以run在mali G52 gpu上，PP目前是否已经支持"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

    tinypose 是否可以run在mali c52 gpu上，PP目前是否已经支持
我只看到arm cpu上运行的tinypose文档说明，但没有看到gpu版本的
，如果有的话是否可以提供下链接， tks

[2022-02-09 02:50] yghstill commented on #5175
@Amrou7
- The first execution of predictor takes some time to initialize, and it should be run several times to average.

[2022-02-09 03:06] zoooo0820 commented on #5173
请问具体执行模型的命令是什么呢，在第二张图上未能复现问题

[2022-02-09 03:21] wangxinxin08 commented on #5177
你好，shufflenetv2的原始版本channel shuffle的groups是2

[2022-02-09 03:25] STUSER001 commented on #5177
哦 这样啊 我看那个分组的图以为是 3呢 谢谢

[2022-02-09 03:28] tomjeans commented on #5173
执行的是./main keypoint_runtime_config.json   小米11 手机上adb 运行的
![152962136-419c3400-78ad-4733-ae7c-6a0a42eb5145](https://user-images.githubusercontent.com/37204571/153116206-05eef952-0876-4405-b4b1-956605a65ab9.jpg)
这种比例的图片会出现偏移

[2022-02-09 03:48] 2050airobert opened #5179 "[BUG]src/picodet_postprocess.cc:91:53: error: 'ceil' was not declared in this scope"
PP-TinyPose   following steps below:
///////////////////////////////////////////////////////////////////////////////////////////
cd {PadddleDetection_Root}
cd deploy/lite/

inference_lite_path=/{lite prediction library path}/inference_lite_lib.android.armv8.gcc.c++_static.with_extra.with_cv/
mkdir $inference_lite_path/demo/cxx/lite

cp -r Makefile src/ include/ *runtime_config.json $inference_lite

[2022-02-09 05:22] 2050airobert commented on #5179
I fixed it by asserting "#include <cmath>"  in the src/picodet_postprocess.cc , tks also

[2022-02-09 05:28] zhiboniu commented on #5178
mali G系列的处理器没有做过尝试，可以看看paddle LIte相关资料看看是否支持。https://paddlelite.paddlepaddle.org.cn/
另外，tinypose也支持第三方部署方式mnn等，可以如果mnn支持也可以用第三方部署工具尝试一下。

[2022-02-09 06:12] STUSER001 opened #5180 "ppyolotiny head loss 是用了 iou loss 而不是 l1 loss吧"
![image](https://user-images.githubusercontent.com/88072901/153132457-a9b4cc63-b1b9-4251-af9c-682ad2e6db75.png)

[2022-02-09 08:10] 2050airobert commented on #5178
那我们现在主要支持的mali gpu型号系列主要是哪些？ 尤其是tinypose现在在哪种mali gpu上跑通过？tks

[2022-02-09 08:16] 2050airobert opened #5181 "[BUG] tinypose on android phone : no person or box detected on the demo jpg"
用arm cpu跑tinypose demo，picodet model采用320*320分辨率，tinypose model采用官网文档128 96和 256 192 两种分辨率分别尝试，手机上运行 ./main det_runtime_config.json ，demo.jpg采用官方包里面的640x404的行人jpg图片，log 信息如下：
注意 ./demo.jpg The number of detected box: 0  ， 这明显不对啊，因为图片里面是有许多行人的，而且应该是官方demo自带的图片，麻烦帮忙看下log，哪里有问题？多谢

详细log如下：
warning: the version of opt that transformed this model is not consistent with current Paddle-Lite version.

[2022-02-09 08:17] 2050airobert commented on #5181
附加个问题： warning: the version of opt that transformed this model is not consistent with current Paddle-Lite version.
这个 picodet和tinypose 模型我用的是官方的 nb文件直接下载的，这里的warning 应该不影响检测结果吧？

[2022-02-09 08:28] 2050airobert commented on #5181
just following the web ：  https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/lite

下面的hrnet没有找到，我用tinypose模型替代了，不知道是否可以？
# 如果需要关键点模型，则只需操作：
cp {PadddleDetection_Root}/output_inference/hrnet_w32_256x192/model.nb ./model_keypoint/
cp {PadddleDetection_Root}/output_inference/hrnet_w32_256x192/infer_cfg.json ./model_keypoint/

官方的结果如下:
![image](https://user-images.githubuserconten

[2022-02-09 08:31] wangxinxin08 commented on #5180
PP-YOLO tiny使用了l1 loss和iou loss

[2022-02-09 09:38] voyag8r opened #5183 "[Feature Request] 车流量统计在虚拟服务器上怎么部署"
车流量统计或者其他功能在虚拟服务器上怎么部署
比如用docker

[2022-02-09 12:13] 2050airobert commented on #5181
还有个问题，请问下num_threads 设置为1 ， 2 ，3，4 程序运行结果尤其是时间耗时基本都没什么变化，这个正常吗？
是不是目前的模型和demo并不支持多线程加速呢？

[2022-02-09 12:44] zoooo0820 commented on #5181
@2050airobert
运行关键点模型的话，应该使用keypoint_runtime_config.json。不过检测框为0的问题比较奇怪，需要再排查一下。

另外整体回复下其他问题：
1. 关于lite与opt版本warning。可能出现影响预测结果的情况，最好统一转换模型opt和Lite版本；
2. 可以用tinypose替代，只要保证模型路径与输入大小配置等正确；
3. 理论上num_threads影响还比较明显，可以参考下[关键点benchmark](https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/keypoint/KeypointBenchmark.md)。另外在测速时最好在配置文件中打开run_benchmark选项。

[2022-02-09 12:46] zoooo0820 commented on #5173
@tomjeans 问题已经复现，我们先排查一下

[2022-02-09 13:29] 2050airobert commented on #5181
hi，
     我之前的图用的是640 404 那张官方实验用的图片，人比较多，一个人也没检测出来。但是我换了一张只有一个人的图片，可以检测出1个人来，然后我又截取了640 404这张图包括三个人的区域，然后也能检测出来，但是只检测出一个人就是最左边那个。用det_runtime_xxxx 和keypoint_runtime_config.json 的检测box结果数量都是一样的。 我理解keypoint_runtime_config跑的是带关键点检测的det   detection结果，而det_runtime 跑的是不带key point检测的结果，本质上这两个json程序都要有pico net Detection的部分，是这样的吗？
     1、这只是个warning，而且opt版本只会影响性能吧？结果不一定有偏差，对吗？  如果在ubuntu PPlite环境下查看当前版本是哪

[2022-02-09 13:38] 2050airobert commented on #5178
1 我看了下mali g52 gpu支持的opencl 2.0以及以上的版本（比如 amlogic rockchip ），不知道paddlelite支持吗？
2 目前paddle lite 主要支持的是mali 400 450还是mali T系列 比如T 880 之类的呢？ 有木有示例 链接呢？
3 有tinypose在哪款gpu或者平台上跑通的case吗

[2022-02-09 15:15] zhijiejia opened #5185 "mask rcnn 预测无结果"
验证集的精度结果
![image](https://user-images.githubusercontent.com/43838913/153230267-4c65ca8f-f5b7-4af9-b846-71d2f2b3c9be.png)

预测时使用的命令
``
python tools/infer.py -c configs/cascade_rcnn/cascade_rcnn_r50_vd_fpn_ssld_2x_coco.yml \
                    --infer_img=dataset/train/images/60989d89338b1a07010142e0.jpg \
                    --output_dir=infer_img/ \
                    --draw_threshold=0.5 \

[2022-02-09 15:24] zhijiejia commented on #5185
不好意思，我弄错了，config文件加载错了。。。。

[2022-02-09 16:06] zhijiejia commented on #5185
没看懂，你们在TestDataset里加一个anno path配置是干嘛的，一般的TestDataset 不是没有标签的吗？
![image](https://user-images.githubusercontent.com/43838913/153240624-97179dba-76a7-485e-9927-3d4d33d9f8a8.png)

[2022-02-09 16:07] zhijiejia commented on #5185
为啥，我预测图像，test图像的数量为100张，就直接内存溢出了，在aistudio上有16G的内存，这也能溢出的吗、

[2022-02-09 16:25] zhijiejia commented on #5185
请问，实例分割预测时，是否能产生json格式的预测结果？

[2022-02-10 01:35] Jiangyangya opened #5186 "单卡训练报错RuntimeError: DataLoader 1 workers exit unexpectedly, pids: 5118"
## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) /I have read the [FAQ documentation](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/docs/tutorials/FAQ) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and concise description

[2022-02-10 02:22] 2050airobert opened #5188 "could not find the detailed examples of the cnn model running case on mali gpu ？"
关于mail gpu的case，有木有更详细点的文档和示例提供下？ 相比cpu 和 arm，maili gpu的相关例子很单薄，是否可以提供下，更方便复现和调试。 tks

备注： 我只看到了如下关于gpu的文档，opencl 版本
 https://paddle-lite.readthedocs.io/zh/release-v2.10_a/demo_guides/opencl.html

[2022-02-10 02:24] d2623587501 opened #5189 "yml文档详解"
## 📖  文档优化/Documentation Improvement
您好，请问yml中的预训练权重是怎么得到的呢，例如以下的pretrain_weights
`architecture: FairMOT
pretrain_weights: https://paddledet.bj.bcebos.com/models/pretrained/HRNet_W18_C_pretrained.pdparams
for_mot: True`
咱们这边是否有详细的yml文档（解读每个关键词的内容及可修改方式），谢谢

[2022-02-10 03:25] Jiangyangya commented on #5186
我尝试把数据集数量降低了，worker调为了0，训练到40左右被kill了，不会是资源上的问题吧，之前数据集图片最大是7M的

[2022-02-10 04:20] liuzimo opened #5190 "jetson nano picodet 卡住"
jetson nano
ubuntu 18.04
paddle 2.2.2
cuda10.2
trt8
下载的whl安装的

 python3 infer.py --model_dir=./inference_model/picodet_s_320_coco/ --image_dir=./demo/ --device=GPU  --run_mode=trt_fp16

trt_int8 预测耗时600ms 完成后卡住不退出

trt_fp16 和trt_int32 卡住不出结果  我是等了20多分钟杀掉了

[code]

[2022-02-10 05:17] nemonameless commented on #5189
预训练权重是PaddleClas提供的，是在imagenet上用paddle框架训练过的。
yml文档参照https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/docs/tutorials/config_annotation
FairMOT等跟踪模型的配置文件基本类似所以没有单独写。

[2022-02-10 05:20] nemonameless commented on #5183
你好，请再详细描述下需求？docker只是一个容器环境，docker里运行和直接在GPU机器上运行没有区别的。

[2022-02-10 05:20] yanglilongss commented on #4666
运行完出现了这样的报错，求解，并且哪位大神有没有微信群聊，帮忙拉一下。自己弄报错太多了
python deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/picodet_s_320_pedestrian --keypoint_model_dir=output_inference/tinypose_128x96 --image_file=2.mp4 --device=GPU
-----------  Running Arguments -----------
camera_id: -1
cpu_threads: 1
det_model_dir: output_inference/picodet_s_320_pedestrian
det_threshold: 0.5
device: GPU
ena

[2022-02-10 06:01] zoooo0820 commented on #4666
@yanglilongss
这个错看起来像配置文件的问题，请检查一下 output_inference/picodet_s_320_pedestrian/infer_cfg.yml 是否是picodet的设置

[2022-02-10 06:12] zoooo0820 commented on #5181
@2050airobert
验证了下模型和demo图片的结果，这边暂时未能复现问题。

这个是理解是对的。另外辛苦您检查一下存放检测模型picodet的路径（包括Infer_cfg.json及.nb文件)，其中json文件的内容是否与[模型](https://bj.bcebos.com/v1/paddledet/models/keypoint/picodet_s_320_pedestrian.tar)链接中的.yml对应的json内容一致？

另外关于耗时问题我们只实测过上述benmark页面中给出的设备。

[2022-02-10 06:17] yanglilongss commented on #4666
请问一下怎么检查呢？

[2022-02-10 06:23] zoooo0820 commented on #4666
@yanglilongss
可以直接将检测模型替换为这个[链接](https://bj.bcebos.com/v1/paddledet/models/keypoint/picodet_s_320_pedestrian.tar) 下载解压后的路径（对应模型介绍页面模型库中的`预测部署模型`)。

[2022-02-10 06:25] STUSER001 commented on #5180
但是看这个 head里的 YOLO loss  只有 iou loss 没看到 L1 loss 啊那个部分是呢 ？

[2022-02-10 06:37] liyuyuan6969 opened #5191 "请教一下关键点检测标注问题"
## questions:

1.请问视频里说的会出的关键点标注工具已经出了吗？

2.我现在想训练一批关键点数据，我是标了检测模型的框之后，只标17个点就可以了吗？但是我看coco的数据集中有x,y坐标之后，还有一个v值，v = 0表示未标记，v = 1表示标记但不可见，v = 2表示标记且可见，请问这个v值需要标吗？如果要标的话用labelme要怎么标才方便呢？

3.请问视频中说的除了人类别之外还可以同时标其他的类别，那模型训练的时候是先训练好人类别的关键点模型之后再在此模型的基础上训练其他类别的数据吗？还是说可以一起训练呢？需要注意些什么？

4.请问这个关键点检测的健身app demo中，c++部分的推理调用是线程安全的嘛？我看里面的推理函数调用是放在opengl的reder函数中的，据说render是多线程渲染的，那这个是不是就是多线程调用推理函数？这样写能表明c++的推理是支

[2022-02-10 06:56] yanglilongss commented on #4666
您好，刚才的问题已经解决，非常感谢，但是又出现了新的问题，您看一下，我查了对应的目录下确定存在对应的文件，但是还是报错了我用的win10系统，是系统路径方式不一样的原因吗
python deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/picodet_s_192_pedestrian --keypoint_model_dir=output_inference/tinypose_128x96 --video_file=2.mp4 --device=GPU
-----------  Running Arguments -----------
camera_id: -1
cpu_threads: 1
det_model_dir: output_inference/picodet_s_192_ped