[2022-05-11 06:30] danielzhangau commented on #5745
Halo, 请问下那为什么`infer.py`要在`class DetectorPicoDet(Detector):`里写一个重写一个`postprocess`，但没有跑他，跑的是`class Detector(object):`里的`postprocess`？

在第一个`postprocess`里是没有做`nms`的，是不需要吗？

[2022-05-11 06:30] danielzhangau commented on #5745
我跑的是2.4，这个问题还是存在

[2022-05-11 06:37] gutao0315 opened #5939 "检测出来是有个BOX的 那怎么获取到BOX的坐标呢"
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-05-11 06:43] njuptzwt opened #5940 "Paddle Detection依赖的lap编译不通过[Install]"
系统：macOS Big Sur 11.6.4
PaddlePaddle的版本：2.2.2
Python版本：3.7.3
已经按照步骤进行安装
出现的问题：PaddleDetection依赖报错，lap依赖无法加载成功

具体报错信息：
Collecting lap
  Using cached lap-0.4.0.tar.gz (1.5 MB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: lap
  Building wheel for lap (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfull

[2022-05-11 06:59] lyuwenyu commented on #5940
直接 pip install lap不行嘛，  update一下你的pip版本

[2022-05-11 06:59] #5906 closed, assigned to nobody

[2022-05-11 07:00] lyuwenyu commented on #5939
infer时候就会打印或者保存结果

[2022-05-11 07:47] Gmgge commented on #5937
[根据](https://github.com/PaddlePaddle/PaddleDetection/blob/a6acb959926e2dceae09ccb250d388558b9b90ed/docs/advanced_tutorials/READER_en.md#3data-preprocessing)此处说明 PadBatch被建议放在Permute之后，因为PadBatch默认图像为CHW

[2022-05-11 07:47] #5937 closed, assigned to nobody

[2022-05-11 08:25] fash120 commented on #5929
但是我看到其他的量化方式里边。有conv2d和dw的区分。再qat里边不用区分吗

[2022-05-11 08:33] voyag8r commented on #5940
我遇到过你这个问题
conda install -c conda-forge lap
应该可以

[2022-05-11 08:35] STUSER001 opened #5942 "ppyolo-mobilenetv3 这个就是 mobilenetv3网络是么？"
![image](https://user-images.githubusercontent.com/88072901/167806042-dc68817d-68ab-47fd-a045-bb1e15561417.png)
这个是 ppyolo的 mv3 么？ 这个 跟 ppyolo-tiny 有啥区别呢 我看结构都是 主干mv3 neck fpn

[2022-05-11 08:49] njuptzwt commented on #5940
好的，我是用pip装的，我尝试用conda试一试

[2022-05-11 08:52] wangxinxin08 commented on #5929
可以发一下链接看下哈

[2022-05-11 09:12] y-u-y commented on #5928
新手操作，请删除这个PR:
https://github.com/PaddlePaddle/PaddleDetection/pull/5943

[2022-05-11 09:14] wangxinxin08 commented on #5928
直接close掉，重新提一个PR即可。提交到develop和release/2.4的分支，需要分别从develop和release/2.4切出来

[2022-05-11 09:24] songyuc opened #5944 "[Other General Issues] 请问一下，PP-YOLOE-s的weight_decay参数是在哪里设置的呢？"
**We really appreciate PaddleDetection team for your brilliant work~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
请问一下，PP-YOLOE-s的weight_

[2022-05-11 09:41] njuptzwt commented on #5940
我换了一个Python版本用pip安装正常了，从3.7.3->3.8.9，不知道是不是我的Python环境太乱了，冲突

[2022-05-11 11:38] STUSER001 opened #5946 "yolov3 mobilenetv3 和 ppyolo-tiny有啥区别？"
![image](https://user-images.githubusercontent.com/88072901/167840816-2a75f3c8-90e6-4d12-b13f-d4abd162e6cb.png)
我看这个 结构 感觉一样 啊 也就是fpn的通道数 scale 不一样 还有head loss用的不一样没看出来太大变化 感觉结构一样就是 参数做了调整似的

[2022-05-11 14:07] hobeter opened #5948 "如何导出无nms的ppyoloe"
想导出不带nms的ppyoloe

尝试使用
-o exclude_nms=True

但infer的时候结果很奇怪，得到的result是
<img width="835" alt="截屏2022-05-11 22 05 27" src="https://user-images.githubusercontent.com/55823642/167869159-54c476f7-eaff-4cfd-98f7-7ed122384be9.png">

请问应该怎么导出无nms的ppyoloe
十分感谢🙏

[2022-05-12 01:51] yghstill commented on #5723
@Dandelion111 将不含有A目标的图片也加入到训练中试下？可以开启dateset配置中allow_empty=True，输入没有标签的数据

[2022-05-12 02:08] nemonameless commented on #5948
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/heads/ppyoloe_head.py#L380
改成
[code]
原本ppyoloe无nms时只是为了测速，所以直接返回sum。也可以返回过NMS前的结果，你需要自己接个NMS才能得到最终的检测结果。

[2022-05-12 02:20] hobeter commented on #5948
好的，十分感谢🙏

[2022-05-12 02:20] #5948 closed, assigned to nobody

[2022-05-12 02:53] #5280 closed, assigned to nobody

[2022-05-12 03:31] #5912 closed, assigned to nobody

[2022-05-12 03:32] #5909 closed, assigned to nobody

[2022-05-12 03:46] nine-city opened #5951 "多类别目标跟踪的自定义数据集标注问题"
有什么工具能够很方便的标注VisDrone数据集呀，用于MCFairMOT检测

[2022-05-12 04:22] nemonameless commented on #5951
#4985
EasyDL在线标注，标注数据不支持导出： https://ai.baidu.com/ai-doc/EASYDL/wkqj1q8cs
离线标注工具，可以参考 https://github.com/openvinotoolkit/cvat
https://openvinotoolkit.github.io/cvat/docs/manual/advanced/formats/format-mot/
VisDrone MOT数据集在他们官网有提供下载。PaddleDetection团队是改格式为fairmot训练的格式，你可以下载这个链接
https://bj.bcebos.com/v1/paddledet/data/mot/visdrone_mcmot.zip

[2022-05-12 04:23] #5940 closed, assigned to nobody

[2022-05-12 04:34] nine-city commented on #5951
就是说最终还是需要用fairmot（MIX数据集）的格式来训练多类别跟踪吗。这样是不是就相当于fairmot+多class？
用自己的视频来标注自定义数据集就的话还有什么地方要特殊调整的吗

[2022-05-12 04:44] nemonameless commented on #5951
用自己的视频标注，最好是切成图片存下来，然后参照
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/docs/tutorials/PrepareMOTDataSet_cn.md
需要和MOT16 MOT17数据集的格式一样。多类别就是类别号不只是0了。

[2022-05-12 04:49] jerrywgz commented on #5935
litehrnet的预训练模型可以直接使用这里提供的coco训练好的权重，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/keypoint#%E6%A8%A1%E5%9E%8B%E5%BA%93 litehrnet的训练本身是没有使用imagenet做预训练权重的
配置文件中加下：`pretrain_weights: https://bj.bcebos.com/v1/paddledet/models/keypoint/lite_hrnet_18_256x192_coco.pdparams`

[2022-05-12 04:52] jerrywgz commented on #5936
可以具体描述下使用的模型、部署方式、参考代码以及paddledetection和paddle的版本吗

[2022-05-12 05:20] lyuwenyu commented on #5942
数据预处理和优化策略不一样   网络结构一样的

[2022-05-12 05:21] lyuwenyu commented on #5946
是的

[2022-05-12 05:23] lyuwenyu commented on #5944
yoloe没有设置weight_decay

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/optimizer_300e.yml#L13
如果你想改的话在这里写上 weight_decay: xxx

[2022-05-12 05:24] STUSER001 commented on #5946
谢谢 其实就是一样网络架构 参数调整不一样呗

[2022-05-12 05:43] wangxinxin08 commented on #5928
@y-u-y 向PaddleDetection贡献代码的一般方式是：

1. 先fork PaddleDetection，然后clone下你的repo： git clone https://github.com/${your_name}/PaddleDetection
2. 添加PaddlePaddle的远程分支upstream： git remote add upstream https://github.com/PaddlePaddle/PaddleDetection
3. fetch最新的upstream：git fetch upstream
4. bug fix一般需要向develop和release/2.4同时提PR，先向develop提PR，切一个分支，git checkout -b ${branch_name} upstream/develop, 然后修改，提PR；向rele

[2022-05-12 05:44] Jiashuhao518 commented on #5856
请问如果不做敏感度分析 怎么在动态图做剪枝 因为不能print_params  不能确定需要剪切的权重

[2022-05-12 05:46] voyag8r opened #5952 "GPU运行代码后既没有报错产生，程序也不继续运行，ctrl+c也退出不了，只能用kill杀死进程，请问会是什么原因？"
GPU运行代码后既没有报错产生，程序也不继续运行，ctrl+c也退出不了，只能用kill杀死进程，请问会是什么原因？

centos7
cuda10.2
cudnn7.6.5
3080的显卡

用的是picodet里面的infer.py 在别的机器上都可以

卡在了这一行
results = detector.predict([frame], FLAGS.threshold)

[2022-05-12 06:33] songyuc commented on #5944
那PP-YOLOE-S用的是SGD函数中weight_decay的默认值吗？

[2022-05-12 06:55] lvjianjin001 commented on #5936
paddledetection下面自己训练的yolov3模型，windows下使用的python推理，paddle2.1
推理代码如下：python tools/export_model.py -c configs/yolov3/analysis/yolov3_mobilenet_v3_large_270e_voc.yml --output_dir=./infernce_model/analysis/ -o weight=weight/analysis/best_model.pdparams

[2022-05-12 06:56] wangxinxin08 commented on #5944
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/optimizer_300e.yml#L17 这里的scale_factor是除了AdamW外的优化器的weight_decay

[2022-05-12 06:58] lvjianjin001 commented on #5936
我在该环境下使用相同的图片推理其他的模型是可以的，就是新训练的模型不行。使用的参数配置也都一样，只是类别与数据不同。

[2022-05-12 07:01] m00nLi opened #5953 "[BUG] PicoDet-lcnet，use_align_head=False时训练报错"
Paddle版本： v2.4
改动地方：
`picodet_l_640_coco.yaml
PicoHeadV2下增加use_align_head: False
`
主要是sqrt算子部署时转换不了，报错：
`ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 11253, 2] and the shape of Y = [8500, 2]. Received [11253] in X is not equal to [8500] in Y at i:1.
  [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array

[2022-05-12 07:02] lvjianjin001 commented on #5936
还有一个问题是我根据官方文档重新安装了环境，在预训练模型上报了这个错，我记得之前是不需要去修改配置文件里面的这个参数的呀？两个都不能顺利推理。
![image](https://user-images.githubusercontent.com/88391549/168011025-84f55269-9bf5-415c-a304-e04cd24688ba.png)

[2022-05-12 07:08] songyuc commented on #5944
我有点晕了，PP-YOLOE用的不是带有weight_decay的SGD优化器吗？

[2022-05-12 07:09] nemonameless commented on #5952
paddle版本是什么？在你这个机器上其他模型也有这个问题吗？
#5934

[2022-05-12 07:37] nemonameless commented on #5953
看报错信息是维度不匹配，和sqrt没关系，sqrt也不会改变维度，是配置文件还有改动吗？报错信息再截全一点，方便定位到哪一行报错谢谢

[2022-05-12 08:16] m00nLi commented on #5953
是的，sqrt不会改变维度，我也看代码里有用到use_align_head的地方，所以很困惑。然后我发现我训练其他模型也报错，才想到我改了runtime.yaml，print_flops改为True了，改成False后没报错了，看了一下print_flops是在engine/trainer.py里有引用，后面再看吧。
我想再问一下，现在我将pico_head.py里的
`cls_score = (F.sigmoid(cls_logit) * cls_prob + eps).sqrt()`
改为
`cls_score = (F.sigmoid(cls_logit) * cls_prob )`
开根号有什么解释吗，你们有这样测试训练过吗，对精度会有大的影响吗？

[2022-05-12 08:16] Dandelion111 commented on #5723
请问如何增加没有目标的负样本图片呢？我是labelme标注的数据，没有目标的负样本需要我手动生成对用的json文件，再转为coco格式吗？

[2022-05-12 08:16] Dandelion111 commented on #5723
请问如何增加没有目标的负样本图片呢？我是labelme标注的数据，没有目标的负样本需要我手动生成对用的json文件，再转为coco格式吗？

[2022-05-12 08:24] wangxinxin08 commented on #5944
@songyuc 看下代码https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L286

[2022-05-12 08:30] Liu2022 commented on #5730
二维码过期了 麻烦更新谢谢！

[2022-05-12 08:42] nine-city commented on #5951
如果切成了图片。用paddleseg或者EISEG标注的话。导出json或者coco格式，然后自己写脚本转为mot格式。这种方案是否可行呢

[2022-05-12 09:29] Dandelion111 opened #5956 "请问coco格式数据如何加入没有目标的图片作为负样本进行训练"
labelme标注数据，没有目标的图片，需要手动生成对应的json文件，并转成coco格式的文件吗？用x2coco.py转换手动生成的没有目标的json文件会报错，求大佬帮主

[2022-05-12 09:46] nemonameless commented on #5956
如果很多，建议直接删去。如果不多，可用保留也可以不用。要保留的话，x2coco.py转 报错的地方跳过就行了。
在configs/dataset/coco.py 或者configs/dataset/voc.py中的TrainDataset下设置allow_empty: true, 此时允许数据集加载无标注框进行训练。该功能支持coco，voc数据格式，RCNN系列和YOLO系列模型验证能够正常训练。另外，如果无标注框数据过多，会影响模型收敛，在TrainDataset下可以设置empty_ratio: 0.1对无标注框数据进行随机采样，控制无标注框的数据量占总数据量的比例，默认值为1.，即使用全部无标注框。

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/FAQ/FAQ%E7%

[2022-05-12 10:03] starhou opened #5957 "[Other General Issues] 导出模型时出错 (NotFound) No Input(X) found for Concat operator."
**PaddleDetection team appreciate any suggestion or problem you delivered~**

## Checklist:

1. 查找历史相关issue寻求解答/I have searched related issues but cannot get the expected help.
2. 翻阅[FAQ](https://paddledetection.readthedocs.io/FAQ.html) /I have read the [FAQ documentation](https://paddledetection.readthedocs.io/FAQ.html) but cannot get the expected help.

## 描述问题/Describe the bug
A clear and conci

[2022-05-12 10:21] Dandelion111 commented on #5956
谢谢大佬回复，因为我在训练picodet的时候发现，模型对于无目标的图像存在误检，所以想加入一些无目标的负样本进行训练试试

[2022-05-12 13:15] marcosweng opened #5960 "ppyoloe训练coco数据集精度不断下降"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用ppyoloe训练自己的coco数据集，loss_cls不断上升，单卡训练，batch_size为14，学习率为0.0021875
<img width="853" alt="image" src="https://user-images.githubusercontent.com/5400347/168083116-fb5f25e1-6320-4ba3-bace-967bb4578c3d.png">
<img width="1891" alt="image" src="https://

[2022-05-12 13:47] nemonameless commented on #5960
数据集太小了，建议加载coco预训练权重 finetune训
[code]
另外base_lr: 0.0021875再除以8。

PP-YOLOE模型训练过程中使用8 GPUs进行混合精度训练，如果**GPU卡数**或者**batch size**发生了改变，你需要按照公式 **lr<sub>new</sub> = lr<sub>default</sub> * (batch_size<sub>new</sub> * GPU_number<sub>new</sub>) / (batch_size<sub>default</sub> * GPU_number<sub>default</sub>)** 调整学习率。

[2022-05-12 13:50] nemonameless commented on #5957
x = paddle.concat((paddle.unsqueeze(input[i], 0), atten), axis=1) 这一行报错，动转静导出时，bs维度会变为-1，这是paddle的机制。尝试不用for循环拆分bs而是整体去做，或者实在需要bs拆分，要避免bs暴露在第一维，可以提前将bs融合到h w维度一起。另外forward函数里最好不要用两层for循环以上。

[2022-05-12 16:10] ff12343 opened #5961 "自定义数据，训练KeyPoint报错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/42758082/168120012-e72b074b-fc5d-4b40-94f4-175fc9a4e284.png)
自定义数据集修改了输入数据集的关键点个数，测试评估的时候报错。
尝试keypoint_utils.py中的sigmas参数的个数；同时修改metrics.py的COCO_SIGMAS参数个数，依旧报错，请问是什么原因导致的

[2022-05-12 20:22] lihaiyu01 opened #5962 "下载pycocotools的问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我下载pdddledetection和ppdlex不知道是因为pycocotools的版本重合了吗？我之前可以运行的代码今天就提示我没有下载这个包，在终端下载了也不行。下载其他包也是出现这样的问题
![-44174fa677aaf571](https://user-images.githubusercontent.com/101405434/168161466-b3704279-78be-4542-bf97-b374b524ba1b.png)

[2022-05-13 00:43] tuodi opened #5965 "您好，我在windows10系统单机多卡的情况下，安装PaddlePaddle-gpu2.2.0时，安装成功，但是在验证时，提示以下报错信息，我应该怎样来指定固定的一张卡上安装paddlepaddle套件呢？谢谢"
### 问题描述 Please describe your issue

![paddlepaddle-error](https://user-images.githubusercontent.com/33543014/168189307-30450ad4-e3b5-4a7d-aae9-84f4060e65bc.png)
![paddlepaddle-error](https://user-images.githubusercontent.com/33543014/168189377-ebab2d48-d937-4e9e-a6ae-8cf992d8c57d.png)

[2022-05-13 01:53] starhou commented on #5957
明白了，感谢你的解答，我去试试

[2022-05-13 02:10] xywlpo opened #5966 "关键点coco oks评估结果都是0"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

您好，我使用paddledetection 2.4版本训练hrnet32的关键点检测模型，训练的目标为自定义的目标24个关键点，迭代了400epoch，模型推理可视化是正确的，但是使用eval评估oks指标时，所有的ap都是0，请问这是为何？
![image](https://user-images.githubusercontent.com/728405/168197283-377b2958-226d-402f-b3a6-2c5bac71c37c.png)

[2022-05-13 02:21] zoooo0820 commented on #5961
@ff12343
从报错上看，是groundtruth visible的维度和e的维度不匹配，先检查下这部分。还不行的话可以贴一下标注文件中keypoint部分，以及sigma参数是怎么修改的。

[2022-05-13 02:22] zoooo0820 commented on #5966
@xywlpo
标注文件中每个`annotation`的`area`是多少呢

[2022-05-13 02:54] jerrywgz commented on #5936
导出时需要制定-o weights=xxx，你这里的输入是weight

[2022-05-13 02:58] voyag8r commented on #5952
paddlepaddle_gpu-2.2.2-cp38-cp38-linux_x86_64
其他模型没有试过 新配的机器

[2022-05-13 02:58] voyag8r commented on #5952
paddlepaddle_gpu-2.2.2-cp38-cp38-linux_x86_64
其他模型没有试过 新配的机器

[2022-05-13 03:16] always-wo commented on #5902
@qingqing01 请问我这样做之后会产生
fake_quantize_dequantize_moving_average_abs_max与type
moving_average_abs_max_scale算子，如何消除掉呢。我的硬件不支持

[2022-05-13 03:23] bjtudujunlin opened #5967 "参考《PP-Tracking之手把手玩转多目标跟踪》运行多目标跟踪示例失败，报错AssertionError: MTMCT only support single class."
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

步骤一，下载预测部署模型：
[code]

步骤二，完成跨镜跟踪预测
在完成模型下载后，需要修改PaddleDetection/deploy/pptracking/python路径下的mtmct_cfg.yml，这份配置文件中包含了跨镜跟踪中轨迹融合的相关参数。首先需要

[2022-05-13 03:35] always-wo commented on #5902
我看用官方的训练配置文件来训练是不会出现这两个算子的

[2022-05-13 03:39] xywlpo commented on #5966
谢谢您，我刚刚发现了这个问题，就是erea设置了成了1，后面修改后就好用了，然后我用classwise想显示每个类的ap，但是似乎没有什么作用，请问是什么原因呢？

[2022-05-13 03:39] xywlpo commented on #5966
谢谢您，我刚刚发现了这个问题，就是erea设置了成了1，后面修改后就好用了，然后我用classwise想显示每个类的ap，但是似乎没有什么作用，请问是什么原因呢？

[2022-05-13 03:43] zoooo0820 commented on #5966
@xywlop
我理解你可能是希望分别看每一个点的AP，目前关键点任务在类别上只有person这一个类，classwise是针对检测任务多类别的，关键点暂时还没有支持分点统计AP。

[2022-05-13 03:46] ghostxsl commented on #5965
截图中的报错信息已经告诉你可能的原因了，建议先排查一下：NCCL是否安装正确

[2022-05-13 03:47] ghostxsl commented on #5962
建议排查一下机器上多python环境的问题

[2022-05-13 05:43] che2d opened #5970 "PPhuman使用stgcn导出的模型预测报window_size错误并且没有预测结果"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我使用了18个关键点训练stgcn精度到87%，使用tools.py导出模型后用于PPhuamn去推理视频，存在max_frame设置的问题，我看到代码中max_frame其实就是Window_size，是要和训练时一致的，我设置的是50，这个含义看文档说累计到该帧数后开始预测。但是我预测一个10秒的视频，会在50帧时停下来并报错：InvalidArgumentError: The 'shape' attribute in ReshapeOp is invalid. The input te

[2022-05-13 05:47] che2d commented on #5970
另外虽然我训练的模型精度还行，但是却并没有在pphuman输出预测结果，是因为我模型导出错误，还是是hrnet关键点17个和我18关键点的模型匹配不上，建议增设openpose18关键点的推理模型；
或者说是否有模型联合推理文档呢，让我们可以自行设计哪几个模型共同推理

[2022-05-13 06:21] zoooo0820 commented on #5970
@che2d
pphuman里是一个pipeline，前序模型输出传过来的shape和自训练的stgcn模型接收参数不匹配了，两者点数没有对应，这里没有结果是因为stgcn没有成功运行。
如果希望用18点模型，目前paddledetection里暂时没有openpose的点位定义与对应模型，关于新增计划我们会再考虑一下。短期内可以考虑使用[x2paddle](https://github.com/PaddlePaddle/X2Paddle)将模型转过来，并替换hrnet。

[2022-05-13 07:20] songyuc commented on #5944
老师，您好，我们看了一下代码发现：
根据代码，**PP-YOLOE-s使用的优化器是`Momentum`，对应的是API -- `paddle.optimizer.Momentum`**，我的问题是：`paddle.optimizer.Momentum`是否是指**带有momentum的SGD算法呢？**，这一点我不是很清楚，因为API文档似乎中并没有详细解释`Momentum`优化器的算法来源？
笔记：L2-regularization和weight_decay的确是等效的。
期待您的解答！

[2022-05-13 07:46] Disciple7 opened #5971 "PaddleDetection使用TensorRT，对进行yolov3_mobilenet_v1_qat推理时报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

该问题为此[Issue](https://github.com/PaddlePaddle/PaddleDetection/issues/5726)的后续，在那之后，由于环境和系统配置比较乱，我重新配置了一个新的系统环境，环境附后。
按照官方教程，在VOC数据集上训练了一

[2022-05-13 07:59] Disciple7 commented on #5971
补充：以上为使用QAT量化的yolov3_mobilenet_v1_qat，导出为infer模型和serving模型运行结果。不使用TensorRT（不添加--run_mode=trt_int8或--use_trt参数时可正常运行）
后续测试了未量化的yolov3_mobilenet_v1_270e_voc模型，以及yolov3_darkenet53_270e_voc模型，在PaddleInference下进行推理，同样报Pass preln_embedding_eltwise_layernorm_fuse_pass has not been registered.

报错信息如下：
[code]
[code]

[2022-05-13 09:01] wangxinxin08 commented on #5944
1. momentum = sgd with momentum
2. l2_factor等效于weight_decay, 除了AdamW算法

[2022-05-13 09:04] nemonameless commented on #2832
COCO数据集的area由于还有实例分割segmentation字段标注，所以是指实例分割mask的面积。area字段是为了测指标时区分大中小物体的AP AR。
自制的检测数据集一般不需要segmentation字段，area字段就是宽高乘积。segmentation字段加上也可以就当成矩形mask给4个点坐标就行，

[2022-05-13 09:04] #2832 closed, assigned to nobody

[2022-05-13 09:30] songyuc commented on #5944
感谢您的解答！

[2022-05-13 09:30] #5944 closed, assigned to nobody

[2022-05-13 09:40] songyuc opened #5974 "请问一下，PP-YOLOE-s在使用L2-Regularization时有对网络的bias参数项作特殊处理吗?"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

尊敬的PaddleDetection团队的老师，您好！
李沐老师在《动手学深度学习》时讲到，在使用L2-Regularization时，某些情况下网络的bias参数有时候不会进行正则化；
我们的问题是：PP-YOLOE-s在使用L2-Regularization时有对网络的bias参数项作特殊处理吗?
期待您的回复！

[2022-05-13 09:41] liuchangf opened #5975 "PPhuman 使用 --run_mode trt_fp16 参数，程序 运行到Model Configuration ，不再往下运行，也不报错，也不返回"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

PPhuman 使用 --run_mode trt_fp16 参数，程序 运行到Model Configuration ，不再往下运行，也不报错，也不返回

如果不使用 TensorRT，即不加--run_mode trt_fp16 参数，则可正常运行

### 复现环

[2022-05-13 09:43] nemonameless commented on #5967
代码用release/2.3试试，这是当时课程的版本。目前版本的问题我们会尽快修复。

[2022-05-13 09:44] nemonameless commented on #5951
可以的

[2022-05-13 11:00] yuxiaoz opened #5976 "模型蒸馏时，学生的配置参数被教师的配置参数覆盖掉了"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在运行蒸馏命令时，配置自己的网络结构，设计损失运行时，发现传入的slim_config（教师参数）会覆盖初始的config：具体描述如下所示：
[code]
40行这里返回了一个global_config，会更改上文32行构造函数中传入的cfg（学生参数），导致其实学生

[2022-05-13 12:08] #5956 closed, assigned to nobody

[2022-05-13 12:08] #5923 closed, assigned to nobody

[2022-05-13 14:28] starhou commented on #5957
你好，我那边修改了没有问题了，这里又报了类似的错误，请问bs是指batch维度吗，这边应该怎么处理好呢？
![image](https://user-images.githubusercontent.com/46232202/168305142-9c35ee43-4de1-49af-acbc-ba8aff9d41ca.png)

[code]
使用的命令一样

[2022-05-13 14:29] starhou commented on #5957
@nemonameless

[2022-05-14 00:11] y-u-y commented on #5928
@wangxinxin08  终于提交PR。非常感谢。

[2022-05-14 01:29] HeyDWJ commented on #4847
现在5月了，请问啥时候修一下呢

[2022-05-14 02:24] jiangxinufo opened #5979 "maskrcnn小目标检测如何调参"
### 文档链接&描述 Document Links & Description

maskrcnn小目标检测如何调参，在一幅图像中，需要被提取的目标有的非常大，有的非常小，通过什么样的方法可以把大小目标都分割出来呢，目前看大目标效果较好，小目标漏检情况比较多，如何调参呢？

### 请提出你的建议 Please give your suggestion

maskrcnn小目标检测如何调参，在一幅图像中，需要被提取的目标有的非常大，有的非常小，通过什么样的方法可以把大小目标都分割出来呢，目前看大目标效果较好，小目标漏检情况比较多，如何调参呢？

[2022-05-14 03:16] nemonameless commented on #5974
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/backbones/cspresnet.py#L55

[2022-05-14 03:31] malcolm-wang opened #5980 "静态量化"
### 问题描述 Please describe your issue

现在已经有了inference_model下的.pdmodel和.pdiparams文件(来自于ssd_mobilenet)，请问应该如何进行静态量化？

[2022-05-14 04:12] AI-Passionner opened #5981 "为什么PPYOLOE单卡（8G显卡）训练特别慢？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

选small模型，图片1024，只允许batchsize=4，正常吗？ YOLOV5可以15, YOLOX也只能6.
我看small的网络尺寸都是10M一下。 怎么训练速度差这么大？ 没有优化吗？
YOLOV5现在看来是既快又准确高

[2022-05-14 05:37] icarofua opened #5982 "Unable to download the links from pp-human"
All the links from pp-human are giving the same issue "The site can't be reached".

[2022-05-14 05:49] yanzheng636 commented on #2241
使用forkserver 方式运行

[2022-05-14 07:53] Jiashuhao518 opened #5983 "SSD_mobilenet_V1的剪枝效果差"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

之前已经根据静态图分析的敏感度调整pruned ratios，但是FLOPS 的pruned ratio很少只有0.02，相比官方给的yolo3demo 0.几的剪切率相差太多了

[2022-05-14 07:56] Jiashuhao518 commented on #5893
想咨询一下你有没有解决这个问题 我根据静态图调整的剪枝率 但是也只有0.02的pruned ratio

[2022-05-14 08:00] malcolm-wang commented on #5893
你试一下把pruned_params列表里面的conv2d后面的序号从1开始标记，从1一直到18，你试试看下。

[2022-05-14 08:05] Jiashuhao518 commented on #5893
我试一下吧 但是做敏感度分析的时候 对这前18层做剪切 不是会有较大的精度丢失吗

[2022-05-14 08:08] malcolm-wang commented on #5893
层数是可以改变的，你也可以少取一些层，然后把ratio稍微调高点也行吧

[2022-05-14 08:31] Jiashuhao518 commented on #5893
还有一个问题是DW卷积层是否可以做剪切啊 因为在做静态图分析的时候分析到DW卷积就中断了

[2022-05-14 09:32] malcolm-wang commented on #5893
这个我也不太清楚了

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月14日(周六) 下午4:31
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] SSD剪枝问题  (Issue #5893)

 为什么这个的pruned ratio 只有0.045左右啊，yolov3的这个都可以达到30%几。这个配置文件该怎么改呢？按照yolo的数据，最后的pruned ratio只有0.005，而改变参数和层数最多只有0.045，请问如何更改此配置文件使得在训练ssd时的pruned ratio达到0.1以上?

想咨询一下你有没有解决这个问题 我根据静态图调整的剪枝率 但是也只有0.02的pruned ratio

你试一

[2022-05-14 13:16] marcosweng commented on #5960
调整预训练权重后，loss相对正常了 但是mAP一直都很低，维持在0.05左右，我们的检测场景是针对四方形物体的夹角进行标注，检测目标很小，是否ppyoloe对检测目标较小的支持相对不好？ 另外一个场景检测目标较大的调整后mAP可以跑到0.6左右

[2022-05-14 13:18] marcosweng commented on #5960
训练目标为：
<img width="173" alt="image" src="https://user-images.githubusercontent.com/5400347/168427437-e1e6fa2f-a1c8-43e3-bcc2-7278ebbb77e4.png">

[2022-05-14 13:34] Tongfengyu opened #5984 "双卡训练，命令加入--use_vdl=True，会在指定文件夹下生成2个vdlrecords，可视化时候无显示数据"
### 问题描述 Please describe your issue

命令：python -m paddle.distributed.launch --gpus 1,2 tools/train.py -c configs/ppyoloe/ppyoloe_crn_x_300e_coco.yml --amp --eval --use_vdl=True --vdl_log_dir='./output_vdl_dir/output_vdlxxx'
![image](https://user-images.githubusercontent.com/82866148/168427960-c03ded17-52b6-4660-8de6-1d5241ae04cf.png)
![image](https://user-images.githubusercontent.com/82866148/1684

[2022-05-14 15:46] nemonameless commented on #5981
PPYOLOE和YOLOX是多尺度训，你可以改成单尺度训。YOLOv5是单尺度训。
速度方面训练命令需要加上--amp，精度方面需要加载coco预训练权重fintune。

[2022-05-14 20:52] AI-Passionner commented on #5981
@nemonameless 多谢。 请问怎么改成单尺度训练？ 加--amp知道， YOLOX是加--fp16， batch size 一般可以加倍。 但是还是差挺远的。
请问怎么改成单尺度训练？
Add
`- Resize: {target_size: 【1024， 1024】, keep_ratio: False, interp: 2} ， 同时
commen out
·- BatchRandomResize: {target_size: [800, 1024], random_size: True, random_interp: True, keep_ratio: False}·吗？
问题是这样一改， 训练报错， “all layers mush keep the same size” like that.
我是第一次try， 是看到最近刚发表的文章追过来的。 确实被文章里报道的数据吸

[2022-05-14 21:07] AI-Passionner commented on #5981
@nemonameless 另外有几个问题
1. 预训练的model不是已经在。yml里加载了吗？ 当然coco的预训练对我的case影响不到。 只是好奇问问。
2. 用不用--amp对精度影响大吗？ 我是指》2% 的情况。
3. yolov5-s6 转成tensoflow的model(我想应该是fp32的）， gpu是1080Ti，30FPs不到， CPU是4PFS多点。 PP-YOLOe训练是的eval 速度是9不到。 当然目前看来YOLOE有overhead的computation。 请问有没有专门的documentation。至少我找不到单尺度的训练的东西。
多谢

[2022-05-15 03:32] yu-jie-cpu commented on #5896
请问有没有办法通过修改模型导出静态图时的代码，使得卷积运算能够连续映射的放到CNN加速器上执行？（使用Paddle-Lite部署）

[2022-05-15 08:13] yangxue-1 opened #5985 "ConnectionResetError"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

快速体验的命令：
python tools/infer.py -c configs/ppyolo/ppyolo_r50vd_dcn_1x_coco.yml -o use_gpu=true weights=https://paddledet.bj.bcebos.com/m

[2022-05-15 08:46] gxqnba opened #5986 "faster rcnn r50 fpn模型转换为onnx问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

请问目前使用PaddleDetection训练出来的faster rcnn r50 fpn模型可以转换为onnx模型吗？

[2022-05-15 14:25] zoooo0820 commented on #5985
找不到对应训练和测试集的时候会自动下载数据集。这个问题应该是修复过了，可以先更新paddledetection的代码再试下

[2022-05-16 01:28] liuchangf commented on #5975
大约1个小时以后，模型加载完成。（太慢了）
但是使用TensorRT并没有加速，性能和不使用TensorRT相同

[2022-05-16 01:53] xywlpo commented on #5966
好的，明白了，谢谢

[2022-05-16 03:02] YixinKristy commented on #5730
二维码已更新

[2022-05-16 03:50] jerrywgz commented on #5986
RCNN模型导出的时候，需要在配置文件中增加`export_onnx: True`；另外paddle2onnx需要使用最新版本

可以再参考下这个issue https://github.com/PaddlePaddle/Paddle2ONNX/issues/699

[2022-05-16 03:53] jerrywgz commented on #5979
可以针对您的数据集调整下anchor 的大小，ppdet下面提供了anchor聚类的脚本可以尝试下，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/tools/anchor_cluster.py

[2022-05-16 03:56] jerrywgz commented on #5982
The link in https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/pphuman is correct and could you show the doc you used?

[2022-05-16 04:50] icarofua commented on #5982
I am trying to download the models and params in english or chinese versions. For example, for this link https://bj.bcebos.com/v1/paddledet/models/pipeline/mot_ppyoloe_l_36e_pipeline.zip it is showing "The site can't be reached".

[2022-05-16 04:57] zhiboniu commented on #5980
你好，量化方法可以参考paddleslim的介绍
https://github.com/PaddlePaddle/PaddleSlim

[2022-05-16 04:59] zhiboniu commented on #5983
你好，mobilenet网络结构本身已经非常稀疏，所以相比普通卷积的模型可裁剪性本身少很多。

[2022-05-16 05:03] zhiboniu commented on #5984
好的，您的问题已经收到。我这里分析原因应该是启动的两个任务每个都保持了一份，但是最终只有一份打印了完整数据。这个应该是visualdl需要的优化的点，建议在https://github.com/PaddlePaddle/VisualDL repo下也提一份issue

[2022-05-16 06:28] Jiashuhao518 commented on #5983
好的，还想请教一下您 mobilenetV1在模型压缩上还有什么可行的方法，因为需要部署在边缘端（目前只做了8bit量化 然后剪枝效果一般）

[2022-05-16 06:49] 939979325 commented on #2862
期待eval

[2022-05-16 06:56] zhiboniu commented on #5975
你好，非常感谢你的异常反馈，初步怀疑是对tensorrt的支持有些问题，我们先排查一下

[2022-05-16 06:59] houjingsong opened #5989 "静态图中没有fake_quant_dequant节点"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用paddle对模型进行在线量化，然后使用export_model.py将动态图转为静态图。因为量化的时候把所有的卷积算子都量化了，但是在静态图中有的卷积算子有fake_quant_dequant节点，而有的没有该节点，如下图所示
![image](https://user-images.githubusercontent.com/52658065/168536258-8311fb15-13c5-4ac8-83c3-235c816714bd.png)
请问这种情况是什么原因呢，如果想给所有

[2022-05-16 07:38] zct-cap commented on #409
你好，是在Reader.py里面直接加吗

[2022-05-16 08:03] Disciple7 commented on #5971
更新一下：用[Paddle Issue#42759](https://github.com/PaddlePaddle/Paddle/issues/42759)提到的方法安装了带TensorRT的PaddleInference whl后能够成功开启trt_int8等run_mode了。但是PaddleServing依然报No OpConverter Type [nearest_interp_v2]错误。

[2022-05-16 08:38] gxqnba commented on #5986
我将导出的model.onnx放到netron中查看，其输入有三个，其中scale_factor是啥意思啊？还有输出有两个，concat_6.tmp_0 和tmp_42是啥意思啊？
![image](https://user-images.githubusercontent.com/61399616/168553002-ac16df57-ef99-4904-ac7c-b0b7a6b43ee8.png)

[2022-05-16 08:57] jerrywgz commented on #5980
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim#%E7%A6%BB%E7%BA%BF%E9%87%8F%E5%8C%96 可以参考这部分文档

[2022-05-16 09:19] songyuc commented on #5974
@nemonameless 老师，您好，
我们看了一下代码：也就是`ConvBNLayer`中BN层的参数都不会使用L2Decay；PP-YOLOE-s的其它部分都会按照配置文件的设置使用`0.0005`的L2Decay。
是这样吗
期待您的回复！

[2022-05-16 09:35] lixiangMindSpore opened #5990 "ppyoloe对于小目标（比如visdrone数据集）和密集型目标（比如crowdhuman数据集）测试结果如何？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

1  ppyoloe对于小目标（比如visdrone数据集）和密集型目标（比如crowdhuman数据集）测试结果如何？
2  ppyoloe适合检测小目标和密集目标吗？
3  picodet对于小目标和密集目标适合吗？

[2022-05-16 11:47] qingqing01 commented on #5990
1. PP-YOLOE在visdrone 数据参考  https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/README_cn.md#%E6%B3%9B%E5%8C%96%E6%80%A7%E9%AA%8C%E8%AF%81 。在CrowdHuman数据集没有专门训练，不过在PP-Humean提供的检测/跟踪模型有使用CrowdHuman数据集。 您也可以专门训练看下。

2. PP-YOLOE对于小目标、密集: 个人觉得可以试下， 小目标和具体场景有关，一些方案也是对数据做处理较多。

3. PP-PicoDet对于小目标、密集: 觉得也可以试下，具体看效果。

通用小目标、密集方案:  如上，小目标上一些对数据做处理较多，比如切图；密集，通用的检测一版也可以试下，效果不好的话，可

[2022-05-16 11:52] qingqing01 commented on #5989
在检测模型中，一些head部分的conv没有使用量化，比如可以搜索skip_quant:  https://github.com/PaddlePaddle/PaddleDetection/search?q=skip_quant   。

[2022-05-16 11:59] houjingsong commented on #5989
好的谢谢

[2022-05-16 23:51] yuxiaoz opened #5992 "参数浅复制BUG"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在[PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection)/[ppdet](https://github.com/PaddlePaddle/PaddleDetection/tree/releas

[2022-05-17 01:05] lixiangMindSpore commented on #5990
您说的关于密集目标检测的针对性损失函数是哪些？

[2022-05-17 01:24] JAY022 commented on #5967
一样的问题啊

[2022-05-17 01:25] JAY022 commented on #5962
走链接下 直接pip不行好像

[2022-05-17 02:08] YixinKristy commented on #5984
您好，VisualDL的续写是需要指定对应log文件的，如果不指定对应log文件，visualdl无法判断需要基于哪一份文件进行续写，则会重新生成一个log文件，续写参数如下：
<img width="1027" alt="vdl" src="https://user-images.githubusercontent.com/48054808/168713678-6ac6ebb5-a566-4776-a6f9-0f6604844b43.png">

另外，在一个文件夹里有多个vdlrecords文件时，VisualDL会选择最新时间戳的进行可视化呈现，如果需要同时呈现多个vdlrecords文件，则将其分别放置一个log文件夹中，在启动时添加log路径即可。

[2022-05-17 02:37] jerrywgz commented on #5986
faster rcnn的输入输出说明可以参考https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/EXPORT_MODEL.md#1%E5%AF%BC%E5%87%BA%E6%A8%A1%E8%BE%93%E5%85%A5%E8%BE%93%E5%87%BA%E8%AF%B4%E6%98%8E 这个文档哈

[2022-05-17 02:41] YixinKristy commented on #5982
Hi, we have tried to download through the link you provided and found out it works. Maybe its the internet, so can you try it again? At the same time, if we get new clues on this issue, we'll let you know~

[2022-05-17 02:43] 939979325 opened #5993 "s2anet现在可支持eval吗，用的2.4貌似还是不支持"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

s2anet在2.4版本无法支持eval

### 复现环境 Environment

_No response_

### 是否愿意提交PR Are you willing to submit a PR?

- [X] Yes I'd like to help by

[2022-05-17 05:52] icarofua commented on #5982
Apparently, some issues in the UAE downloading the links. when I am using the VPN works.

[2022-05-17 05:52] #5982 closed, assigned to nobody

[2022-05-17 06:12] jerrywgz commented on #5990
针对密集型检测的优化点可以参考下面几种方法：
1. 针对密集检测的label assign方法：https://www.sciencedirect.com/science/article/pii/S0925231221011796
2. 针对密集检测的nms优化：https://arxiv.org/abs/2003.12729
3. 基于sparse rcnn改进的端到端检测算法：https://github.com/megvii-research/Iter-E2EDET

其他可以参考下crowdhuman或者SKU110K上榜单中的方法

[2022-05-17 07:45] houjingsong opened #5994 "fake量化节点"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

请问，在paddle里面，ssd模型的动态图导出静态图的时候，head部分的卷积前面没有fake量化节点。但是ssdlite模型动态图导出静态图的时候，head部分的卷积就会有fake量化节点。
**这是什么原因造成的呢？paddle对ssdlite有什么特殊处理吗？如果想主动加上fake节点，有什么办法吗？**

[2022-05-17 09:13] mazai-xiangji commented on #5728
你好，我在使用带TensorRT的paddle时，import paddle为什么会发生【ImportError: DLL load failed while importing core_avx: 动态链接库(DLL)初始化例程失败】这样的错误

[2022-05-17 09:35] nemonameless commented on #5728
你好，请至少说明下什么版本哪个平台谢谢？以及可以搜索[issues](https://github.com/search?q=org%3APaddlePaddle+ImportError%3A+DLL+load+failed+while+importing+core_avx&type=issues)

[2022-05-17 09:52] bjtudujunlin commented on #5967
多谢，我试试先

[2022-05-17 09:57] shuxp commented on #5574
一样的错误。
`
ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 8400, 2] and the shape of Y = [25200, 2]. Received [8400] in X is not equal to [25200] in Y at i:1.
  [Hint: Expected x_dims_array[i] == y_dims_array[i] || x_dims_array[i] <= 1 || y_dims_array[i] <= 1 == true, but received x_dims_array[i] == y_dims_array[i] || x_d

[2022-05-17 10:09] dragon5944 opened #5995 "static目录下执行infer.py预测时报错no module named 'paddle'"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

终端在static目录下执行python tools/infer.py预测一张图片，报错No module named 'paddle'
我已经安装好了paddle库，在解释器中能正常import paddle，但只要程序中有import paddle或from paddle import **时，就会报错，无法执行程序，经过在百度搜索尝试后也不行，恳请帮助。

[2022-05-17 10:12] heavengate commented on #5992
感谢反馈，目前ppdet里一般都是按单例逻辑组织的代码，这个我们统一排查优化一下~

[2022-05-17 10:15] heavengate commented on #5993
S2ANet一直是支持eval的，你是做eval报错了么，可以贴一下命令和报错信息等

[2022-05-17 10:35] yghstill commented on #5994
@houjingsong 默认是所有的conv都会加入fake量化节点的，这属于已知问题，我们解决下。

[2022-05-17 10:47] shuxp commented on #5574
我解决这个问题了，train/eval/test的时候尺度没对应上，单步调试下就好了，仔细检查下代码resize的尺寸吧。

[2022-05-17 12:10] relic-yuexi opened #5996 "PicoDet 预测视频及图片 postprocess出错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

postprocess 中出错，传进的boxes_num是三维的数据，和下面的np_boxes_num[0] <= 0 不符

[code]

![image](https://user-images.githubusercontent.com/53668275/168

[2022-05-17 12:15] zhangyingying520 commented on #5730
麻烦问一下，我用ppyolov2和ppyoloe使用相同的数据集，几乎都是使用套件里的默认配置，为什么ppyolov2能接近0.8，而ppyoloe只有0.5左右

[2022-05-17 12:16] zhangyingying520 opened #5997 "ppyoloe训练"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

麻烦问一下，我用ppyolov2和ppyoloe使用相同的数据集，几乎都是使用套件里的默认配置，为什么ppyolov2能接近0.8，而ppyoloe只有0.5左右

[2022-05-17 12:54] mingheyuemankong opened #5999 "使用ppyoloe的配置文件以及自己的数据集，在runtime.yml中设置print_flops: true，在训练的时候报错误，但是相同的条件下，使用YOLOv3就不存在这个问题！"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

D:\SoftWare2\Miniconda\envs\PaddleShop\python.exe D:/LastCode/PaddleDetection-release-2.4/tools/train.py -c configs/ppyoloe/ppyoloe_crn

[2022-05-17 13:00] relic-yuexi commented on #5996
解决了，不能导出模型后在infer，应该直接对那个检测。

[2022-05-17 13:03] relic-yuexi commented on #5996
搞错了，后面用tools/eval.py 能成功，但是 deploy 里的依然不行。

[2022-05-17 13:20] relic-yuexi commented on #5996
原来是将nms取消掉了，所以无法直接用infer，建议未来在代码中加入判断

[2022-05-17 13:20] #5996 closed, assigned to nobody

[2022-05-17 15:19] uuyymilkyl opened #6000 "使用openvino_infer.py报错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

模型是picodet_xs_416_lcnet_coco
input shape设置为 [1,3,416,416]
def __init__(self,
                 input_shape,
                 scale_x,
                 scale_y,
                 strides=[8, 16, 32, 64],
                 score_threshold=0.4,

[2022-05-17 17:07] tiancailin opened #6001 "训练py端推理都没问题，C++部署推理报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

模型：SOLOv2

数据集：自采集，经x2coco.py转换为COCO格式

训练过程：正常
模型导出：tools\export_model.py正常

模型本身：正常
tools\infer.py正常工作（CPU/GPU）、结果符合预期
deploy\python\

[2022-05-18 02:51] YixinKristy commented on #5967
请问大家在更新版本后问题是否得到解决？

[2022-05-18 03:04] jerrywgz commented on #6001
感谢反馈，目前solov2还没有支持c++部署，我们近期支持下

[2022-05-18 03:09] jerrywgz commented on #5997
已在用户群沟通，辛苦提供下ppyolov2的训练配置和日志

[2022-05-18 03:13] jerrywgz commented on #5995
检查下paddle安装的python和程序使用python路径是否一致，另外如果在static目录下，需要 export PYTHON_PATH=\`pwd\`

[2022-05-18 03:29] jerrywgz commented on #6000
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/third_engine/demo_openvino/python#%E7%9C%9F%E5%AE%9E%E5%9B%BE%E7%89%87%E6%B5%8B%E8%AF%95%E7%BD%91%E7%BB%9C%E5%8C%85%E5%90%AB%E5%90%8E%E5%A4%84%E7%90%86%E4%BD%86%E4%B8%8D%E5%8C%85%E5%90%ABnms 在导出模型的时候，需要将网络后处理部分导出，但是不包含nms

[2022-05-18 05:29] will-wiki opened #6002 "如何convert其他仓库训练的torch模型到paddledetection框架下"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

如题，使用的是一个没有FPN的Faster-Rcnn torch模型，想要实现tensorrt的部署，能否通过convert模型进而load到paddledetection框架下进行部署呢，希望能给点指导，十分感谢～

[2022-05-18 05:52] 939979325 commented on #5993
你好，我这边运行的话报错了
  File "pycocotools\_mask.pyx", line 214, in pycocotools._mask.iou
  File "pycocotools\_mask.pyx", line 193, in pycocotools._mask.iou._preproc
Exception: list input can be bounding box (Nx4) or RLEs ([RLE])

[2022-05-18 07:31] hitsz-zuoqi opened #6003 "Have MNN post-processing been finished for picodet-xs?"
### 问题确认 Search before asking

- [x] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

Have MNN post-processing been finished for picodet-xs?

[2022-05-18 07:35] JAY022 commented on #4688
请更新二维码 谢谢

[2022-05-18 08:02] sdreamforchen opened #6004 "创建自己的重参数class"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

ppyoloe的convert_to_deploy这个函数是在什么条件下调用呢？  我如果新写一个重参数的class。需要怎么修改才能得到正确的结果呢

[2022-05-18 08:50] jerrywgz commented on #6003
post-processing is not included in picodet-xs model file and the code could refer to https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/third_engine/demo_mnn/picodet_mnn.cpp#L147

[2022-05-18 09:45] YuNaruto commented on #5652
为什么要使用 deploy/python/infer.py，我使用的是 tools/infer.py, 在 trainer.py 下添加时间打印，时间要比你的这种方法慢了四倍，很夸张。
添加的时间打印：
![image](https://user-images.githubusercontent.com/32025355/169010363-3a905bbb-2d3e-4398-bfb4-6f07e3cf00ae.png)

为什么测速，要单独这样呢？
![image](https://user-images.githubusercontent.com/32025355/169010172-865be4a8-616d-4f9c-9af2-05f1126f27a5.png)

[2022-05-18 09:59] ff12343 opened #6006 "visualize.py 文件 visualize_pose函数报错"
### 问题描述 Please describe your issue

keypoint topdown_unite_predict时，可视化推理结果报错。
报错信息如下
![image](https://user-images.githubusercontent.com/42758082/169012566-ef8e0b10-79ce-4c5b-94f2-96fe7f0438b2.png)
判断是matplotlib版本问题，更新matplotlib版本到3.4.3依旧报错

[2022-05-18 12:19] mazai-xiangji commented on #5728
你好，部署在win10的pp-human的行为识别除了通过tensorrt推理加速外，是否可以通过使用更小的模型来更换其中的目标检测或者关键点提取模型来提高速度

[2022-05-18 13:29] mazai-xiangji commented on #5975
你好，想问一下tensorrt转换后的模型会存放在哪里，重新运行的时候又加载tensorrt的转换。
我的CUDA=10.2，cudnn=7.6.5，paddle是带trt的对应的版本，trt版本是7.0也是对应的

[2022-05-18 14:02] zhangyingying520 commented on #5997
谢谢，已经帮助解决

[2022-05-18 14:02] #5997 closed, assigned to nobody

[2022-05-19 00:54] tempbrucefu opened #6007 "_C_ops.gaussian_random is freezing"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

new nn.Conv2D(
            in_channels=ch_in,
            out_channels=ch_out,
            kernel_size=filter_size,
            stride=

[2022-05-19 01:25] tiancailin commented on #5747
https://github.com/PaddlePaddle/PaddleDetection/pull/5649
这个up修复了这个bug，我昨天跑过，可通过eval、tools\infer 、 deploy\python\infer
pr没通过审核呢但是有具体修改方式，照抄即可

[2022-05-19 01:26] tiancailin commented on #6001
感谢回复，期待支持

[2022-05-19 01:26] #6001 closed, assigned to nobody

[2022-05-19 03:02] yghstill commented on #6004
@sdreamforchen 在模型导出时调用，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/engine/trainer.py#L708
你可以在模型组网中新增相同命名的convert_to_deploy函数即可。

[2022-05-19 03:05] YixinKristy commented on #5728
您好，可以尝试替换更轻量的检测和关键点模型，更改模型路径方式有两种：
1. `./deploy/pphuman/config/infer_cfg.yml`下可以配置不同模型路径，关键点模型和行为识别模型分别对应KPT和ACTION字段，修改对应字段下的路径为实际期望的路径即可。
2. 命令行中增加--model_dir修改模型路径：
[code]

[2022-05-19 03:34] Edward715 commented on #5611
Has this bug been fixed? I try to fix the image shape in ppdet/metrics/widerface_ utils/detect_ face to 320x320 for picodet_s_320, and then eval run successfully. Can this solve the bug? Will it affect the results of the evaluation?

[2022-05-19 04:07] m00nLi commented on #5574
bug太多了，这里设置print_flops就报错了，说明都没有测试过。训练不仅慢，还有训练训练着显存就不够了，我设置全程用最大的单尺度跑，跑几个epoch没问题，train&eval都跑过了，显存还有几个G的空余，你以为不会溢出了，但很明显是你想的简单了，第二天你就会知道，自己错的有多离谱。国产框架有待改善啊。。。

[2022-05-19 04:58] mazai-xiangji commented on #5728
你好，在将目标检测的模型换成picodet_s_192_pedestrian时会出现错误，请问对更换的模型有要求吗
error：Traceback (most recent call last):
  File "deploy/pphuman/pipeline.py", line 755, in <module>
    main()
  File "deploy/pphuman/pipeline.py", line 744, in main
    pipeline.run()
  File "deploy/pphuman/pipeline.py", line 206, in run
    self.predictor.run(self.input)
  File "deploy/pphuman/pipeline.py", line 414, in run
    self.predi

[2022-05-19 07:29] shuxp commented on #5574
非paddle相关人士。但我现在用的挺好的，det/seg/ocr都在用。

我刚开始用caffe的时候也是一堆问题。有问题，你能发现，那说明你厉害，可以来提issue，或者来帮别人解决，都是技术人，何必这么说。

你现在这心态有点问题，建议你反省下，不然说的难听点，就是*洋*外。

[2022-05-19 08:15] m00nLi commented on #5574
确实没你这战狼心态好，要反省一下。
你用着没问题，用的挺好，就不允许别人吐槽了？
不说PaddlePaddle框架，此份repos文档、有些代码、示例中的错误显而易见，写的极其随意，可以看出根本没有看出经过必要的一些测试。
你不 **洋外**，请用gitee，**请自觉禁用舶来品**， **请支持国产**，拜托了

[2022-05-19 08:21] weiluonika commented on #1766
我也想问下 怎末读取TP、FP、FN、TN这几个的数值  我使用的是PaddleDetection2.4版本 如何开启这几个数据 呢？

[2022-05-19 08:23] shuxp commented on #5574
有问题，欢迎提出，没必要在这说：国产，不行。。。

ps:你这说法，使用github，都洋外了？你这说法真牛逼。

不占用官方资源在这和你争了，仁者见仁，智者见智，争下去永远没完没了。

over

[2022-05-19 08:26] m00nLi commented on #5574
说国产框架有待改善，就是说：国产，不行，就是， **_洋_外**
你这说法更牛逼，厉害了我的战狼

[2022-05-19 08:27] wangxinxin08 commented on #5574
@m00nLi 有问题说问题，ppyoloe在训练的过程中会变更assigner，TAL会占用更多的显存，所以即使你前面能正常运行，后面依然可能爆显存。如果你没有其他的问题的话，我把这个issue关了。另外，我们欢迎用户以一种正常的态度提出自己的意见，反馈问题。如果以一种带有偏见的态度的话，我们也支持你用脚投票！

[2022-05-19 08:56] #5574 closed, assigned to nobody

[2022-05-19 09:59] 2050airobert opened #6013 "paddledetection(paddleslim)在线训练的问题！"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

hi,
1 请问下，为什么paddledetection 库下面有两份几乎同样目录的代码，比如在static里面又出现了重复的目录，见下图
![image](https://user-images.githubusercontent.com/8407513/169266879-0eda2ffe-855a-4365-80eb-505ce1a91486.png)
这是有什么区别吗？
2 另外，在线训练的话，这个工程不需要再以来paddleslim了吗？也就是说slim的一部分代码已经在这个工程里

[2022-05-19 11:07] sdreamforchen commented on #6004
感谢

[2022-05-19 11:07] #6004 closed, assigned to nobody

[2022-05-19 11:16] yghstill commented on #6013
@2050airobert
1. static是指静态图模型，一般使用默认根目录下的动态图模型即可。
2. 动态图下如果想要slim训练，可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim
3. 在线训练使用tools/train.py脚本即可，如果你的模型是静态图模型才需要进到static下

[2022-05-19 12:23] yghstill commented on #6007
@tempbrucefu 请问是跑哪个模型，具体的报错可以贴的更加完整些吗？

[2022-05-19 12:29] yghstill commented on #6006
@ff12343 这个只是warning，具体的报错是什么呢？

[2022-05-19 14:24] 875052544 opened #6015 "知识蒸馏"

[2022-05-19 15:39] zct-cap commented on #5465
大佬现在还报错吗

[2022-05-20 03:27] zoooo0820 commented on #5728
@mazai-xiangji
你好，这个问题是由于旧版的PicoDet模型的后处理与其他检测模型有区别导致的。目前PicoDet更新后已经支持将后处理部分合进模型中执行从而兼容这种情况。由于`picodet_s_192_pedestrian `这个模型的默认导出仍然是旧版不包含后处理的。可以重新参考下列命令执行导出即可：
[code]

[2022-05-20 03:28] nemonameless commented on #5985
数据集配置路径出错了，就会自动下载数据集。Connection reset by peer是网络没连上导致下载不了。

[2022-05-20 03:28] #5985 closed, assigned to nobody

[2022-05-20 03:36] Jiashuhao518 commented on #5902
请问您解决这个问题了吗

[2022-05-20 04:40] tempbrucefu commented on #6007
just tried:

from paddle.nn import Conv2D
test = Conv2D(in_channels=3, out_channels=16,
        kernel_size=3,
        stride=0,
        padding=1,
        groups=1,
        bias_attr=False)
#this will never be ended.

[2022-05-20 07:24] bjtudujunlin commented on #5967
@nemonameless 切换成releas/2.3后，运行通过，但是出现新的错误，以下是运行日志

[code]

[2022-05-20 12:19] mazai-xiangji commented on #5728
关于tensorrt使用的问题，根据[官方案例](https://aistudio.baidu.com/aistudio/projectdetail/3842982)使用--run_mode=trt_fp16开启tensorrt之后需要较长的一段时间去转化tensorrt的模型，然后在进行inference，推理速度会比原来快一些，但是重新运行时又要再一次加载tensorrt模型，想知道如何解决这个问题，tensorrt转化的模型不会自动保存吗
环境：OS win10  CUDA 10.2 cudnn 7.6.5  tensorrt 7.0.0.11 paddle版本是在[官方](https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#windows)下的带trt的版本

[2022-05-20 13:04] zmdcs opened #6022 "有什么办法能在验证的时候不保存模型的权重文件吗？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

有什么办法能在验证的时候不保存模型的权重文件吗？我希望输出每个epoch结束后的mAP但不想要中途的.pdparams这些文件，保存一个best.pdparams和一个final的就够了

[2022-05-20 14:20] m13ammed opened #6023 "Using multiple datasets"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

Is it possible currently to mix multiple datasets and use them for training that has similar classes and in the same format?

[2022-05-21 02:44] Zhaozhenshan opened #6024 "PaddleDetection. 运行export_model.py时出现FatalError"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

lcfc@lcfc-desktop:/home/zhaozhenshan/zhaozhenshan/PaddleDetection-release-2.4$ sudo python3 tools/export_model.py -c configs/yolov3/yol

[2022-05-21 02:45] #6024 closed, assigned to nobody

[2022-05-21 02:45] Zhaozhenshan commented on #6024
1

[2022-05-21 02:48] Zhaozhenshan opened #6025 "PaddleDetection 用 tools/export_mode.py导出推理模型报错 出现段错误"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

[code]

### 复现环境 Environment

paddlepaddle 2.5
cuda 10.2
cudnn 8.0
python 3.6
jetson xavier

### 是否愿意提交PR Are you willing to submit a P

[2022-05-21 08:37] Disciple7 opened #6026 "使用PaddleDetection官方QAT配置对yolov3_mobilenet_v1_qat进行量化，量化前后无明显优化效果"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我使用yolov3_mobilenet_v1_qat这个配置进行QAT量化，并将该模型与无量化的yolov3_mobilenet_v1_270e_voc模型进行对比，发现量化后模型没有体现优化效果。

对比一：运行deploy/python/benchmark.sh和deploy/python/benchmark_quant.sh，分别用两模型在850张图片上进行推理。运行方式为：
bash deploy/benchmark/benchmark.sh ./inference_model/yo

[2022-05-21 08:43] Dandelion111 opened #6027 "用PaddleDetection训练picodet增强版出现内存泄漏"
### 问题描述 Please describe your issue

用PaddleDetection训练picodet增强版cpu内存直线上升，大概一个多小时就占满了64G内存，请问大佬这是什么原因

[2022-05-21 14:00] JAY022 opened #6028 "pp-tracking跨镜头检测中，在哪里修改可以只显示检测类别为某一类或几类（bus和car.）"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

pp-tracking跨镜头检测中，在哪里修改可以只显示检测类别为某一类或几类（bus和car.）

[2022-05-22 04:51] GMfatcat commented on #5747
@tiancailin 感謝提供，修改那兩行之後的確可以開始進入iter 0 之eval, 但隨即出現下列錯誤。
不過infer可以成功匯出帶有mask跟bbox之圖片。
![image](https://user-images.githubusercontent.com/58526756/169679271-40496f55-f2d3-4bcf-8ad5-bbc457cdbd4b.png)

[2022-05-22 06:38] nemonameless commented on #6025
paddlepaddle 2.5? 再确认下，目前最高只有2.3，建议再试试其他模型导出是否也有同样问题。导出命令无误的各平台均可，jetson平台上待我们再确认下。

[2022-05-22 07:15] Zhaozhenshan commented on #6025
paddlepaddle确实是2.3版本的，有些观点认为把cudnn的版本降低到7.6.5就行，但是我不认为是可行的方法。

[2022-05-22 09:25] weiluonika opened #6029 "我在使用maskrcnn训练五分类任务结束后 在预测的时候 发现其中有个分类效果很差 这个分类数据量还是整个五类中最高的 请问有可能是什么原因造成的？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

 我在使用maskrcnn训练五分类任务结束后 在预测的时候 发现其中有个分类效果很差 这个分类数据量还是整个五类中最高的 请问有可能是什么原因造成的？

[2022-05-22 10:39] hobeter opened #6030 "picodet使用tools/infer.py推理报错 AttributeError: 'COCODataSet' object has no attribute 'set_images'"
### 问题确认 Search before asking

- [x] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

用tools/infer.py推理，命令如下
```CUDA_VISIBLE_DEVICES=0 python tools/infer.py -c picodet_s_320_coco_lcnet.yml -o weights=model_final.pdparams --infer_dir=images ```
报错如下
<img width="747" alt="截屏2022-05-22 18 36 56" src="https://user-images.githubuserconte

[2022-05-22 12:30] w77779999 commented on #5983
你好，想问一下你是怎么分析SSD_mobilenet_V1中的可分离卷积层的敏感度的呢？因为原来的静态图分析敏感度的ppdet好像只支持普通卷积层的分析

[2022-05-22 13:21] Jiashuhao518 commented on #5983
分析普通卷积层 他会关联到附近的DW卷积层

[2022-05-22 13:25] w77779999 commented on #5983
SSD_mobilenet_V1这边除了第一层conv1_weights，后面从conv2_1_dw_weights一直到conv7_4_extra2_weights应该都是可分离卷积层，这中间的单独拿出dw或者sep层去分析敏感度都会报错，好像跟参数配置有关，想请教一下你是怎么解决的

[2022-05-22 13:28] Jiashuhao518 commented on #5983
sep层和conv7_1之后的层肯定是可以分析的 而且分析是在静态图下做的 一般不会有问题

[2022-05-22 13:28] Jiashuhao518 commented on #5983
sep层和conv7_1之后的层肯定是可以分析的 而且分析是在静态图下做的 一般不会有问题

[2022-05-22 13:48] w77779999 commented on #5983
我目前是使用paddledetection 2.4 static文件夹内的ppdet以及config里的ssd_mobilenetv1的yml文件，paddleslim目前采用2.1.0版本，如果更高版本出现过key error[0]的问题，如下
Traceback (most recent call last):
  File "slim/sensitive/sensitive.py", line 203, in <module>
    main()
  File "slim/sensitive/sensitive.py", line 160, in main
    pruned_ratios=pruned_ratios)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle

[2022-05-22 13:51] Jiashuhao518 commented on #5983
你尝试一下paddledetection2.1 因为可能有版本对应的问题

[2022-05-22 14:04] w77779999 commented on #5983
好的，问题已解决，感谢你的回答

[2022-05-22 14:22] dragon5944 opened #6031 "使用paddleLite推理部署模型报错input_names_.size()>offset"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

         在paddleDetection/static下训练正常ssd_mobilenet_roadsign，使用export_model.py正常导出inference模型，使用opt转换模型设置valid_places为arm，生成.nb文件，在paddlelite上推理时报错，错误信息**input_names.size()>offset,_the network has 1 inputs,the offset should be less than this.**

[2022-05-22 14:39] jzdhd commented on #5728
关于pphuman的摄像头问题，似乎没有在代码里看到有关于摄像头的解码部分，请问部署在WIN的pphuman对视频流进行预测是需要自己写相关的解码部分吗

[2022-05-22 15:03] Bigtuo opened #6035 "ModuleNotFoundError: No module named 'pycocotools'"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

aistudio环境有,但运行就是显示这个错误

[2022-05-23 02:07] lyuwenyu commented on #6035
`pip install pycocotools` 安装一下

[2022-05-23 02:14] lyuwenyu commented on #6002
暂时是不可以直接转的   除非你开发一下的代码

[2022-05-23 02:17] lyuwenyu commented on #6022
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/engine/callbacks.py#L207-L220

ppdet暂时不提供 不过你可以在代码处修改save的逻辑

[2022-05-23 02:19] lyuwenyu commented on #6023
目前只支持单个，1. 你可以把数据合成一个格式  2. 或者仿照已有的data source 开发一个新的 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/ppdet/data/source

example:
https://github.com/lyuwenyu/PaddleDetection/blob/large_scale_model_v1_L/ppdet/data/source/plain.py
https://github.com/lyuwenyu/PaddleDetection/blob/large_scale_model_v1_L/configs/ppyolo/lst_dataset.yml

[2022-05-23 03:14] lyuwenyu commented on #5999
1. 如果你只是想跑通的话 可以把reader里的注释掉
[code]

2. 如果你想测flops建议不要在train mode下加print_flops, 这里数据会random resize 测不准的

[2022-05-23 03:26] nemonameless commented on #6030
请贴下数据集的配置，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/datasets/coco_detection.yml#L17，
大概率是你的TestDataset: 配置成了COCODataSet ，应该是ImageFolder

[2022-05-23 03:28] nemonameless commented on #6031
PaddleDetection/static下的是以前的静态图版本代码，PaddleDetection/下的主目录是动态图。建议使用动态图。

[2022-05-23 03:29] ghostxsl commented on #6029
这个可能的原因有很多，比如：标注质量差，数据量虽然多但是分布窄，数据加载有问题等等，建议可以先排查一下

[2022-05-23 03:33] nemonameless commented on #6028
跨镜头跟踪只支持一类。pp-tracking跟踪中你可以对结果的种类进行过滤，[相关代码](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/pptracking/python/mot/tracker/jde_tracker.py#L134)

[2022-05-23 03:34] yuxiaoz opened #6036 "分布式训练重定向输出BUG"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在同时分布式训练多个程序时，使用nohup ... >> xx.log 2>&1 &命令将它们挂在后台运行，分别将日志输出重定向在各自的log文件中。但是，发现每个log文件中均有所有训练任务的重定向输出。

如果不采用分布式训练，则没发现这个问题。

### 复现环境

[2022-05-23 03:43] ghostxsl commented on #6036
分布式训练可以使用--log_dir指定log存放位置

[2022-05-23 04:53] 2050airobert opened #6037 "tinypose and lite hrne QAT 训练失败"
### bug描述 Describe the Bug

1 参考https://github.com/PaddlePaddle/Paddle/issues/42341 这个picodet的在线训练量化，完全搭建不出来一套tinypose或者litehrnet的qat在线训练版本啊，什么时候可以发布一套类似picodet的 tinypose的正式在线量化版本，多谢！
可以看到下面例子完全不能作为tinypos或者litehrnet的参考，必须paddle自己来做，这样失去了相当大的paddleslim这个框架研发的初衷
![image](https://user-images.githubusercontent.com/8407513/169747280-415dacf5-0ebf-4012-99b9-76f99527293e.png)

2 举个例子，pretrain_weights: h

[2022-05-23 05:25] hobeter commented on #6030
啊，确实，十分感谢

[2022-05-23 05:25] #6030 closed, assigned to nobody

[2022-05-23 05:30] JAY022 commented on #6028
谢谢。但是只支持一类的话，为什么当有人和车的时候，人和车都被检测出来且有都附上了id？

[2022-05-23 07:45] zmdcs opened #6038 "YOLOX训练问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

1.很久没用paddleDetection发现出来了很多新的功能，请问有新功能的介绍文档吗？比如train.py中新加的--fleet和--amp这两个的作用，在训练YOLOX的时候查看文档，写了加这俩个参数可以避免显存溢出。有没有比较完整的教程视频或者文档？

2.YOLOX-nano训练时，调整batch-size仅仅只增加显存，GPU占用率却不提高，训练速度很慢是为什么？有什么办法提高GPU占用率吗？

3.单GPU训练时配置文件中worker_num的数量是不是只能为0？是不是越高训

[2022-05-23 08:03] simon-sxx opened #6039 "ppyoloe剪裁"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

想对ppyoloe模型进行剪裁，但是PaddleDetection里面没有相应的配置文件，请问可以提供ppyoloe的剪裁配置吗？如果要自己配置的话，我应该进行哪些操作流程呢

[2022-05-23 08:07] m13ammed commented on #6023
Thank you for the feedback this was helpful

[2022-05-23 08:07] #6023 closed, assigned to nobody

[2022-05-23 08:19] will-wiki commented on #6002
@lyuwenyu 想问下为什么不可以直接转呢，faster rcnn每个模块的使用应该是都比较统一的吧，是会存在哪个部分的不同呢

[2022-05-23 08:19] w77779999 commented on #5983
你好，想问一下你有碰到过某几层的敏感度分析从0.1到0.9损失全是0的情况吗？

[2022-05-23 08:23] Jiashuhao518 commented on #5983
有的

[2022-05-23 09:39] zoooo0820 commented on #6037
关于问题2：pretrain权重在对应模型的文档有地方可以下载。如果是LiteHRNet, 可以在[关键点模型](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/keypoint)中的模型库中找到 `.pdparams`的下载链接；如果是tinypose，可以在[TinyPose](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/keypoint/tiny_pose/README.md)的模型库部分找到`.pdparams`的下载路径。
关于问题3：
请参考[Tinypose模型训练部分](https://github.com/PaddlePaddle/PaddleDetection/tree/r

[2022-05-23 09:46] 2050airobert commented on #6037
1 ![52399b0b14ee3f8ef409d8c3b643429](https://user-images.githubusercontent.com/8407513/169792178-4cc90a5a-aafe-4069-a166-8cf1675fee62.png)
量化训练后生成的文件夹里面的文件，请问下 哪个对应的pdmode 另外一个就是真正的pdiparams？
2  因为opt模型转化必须要求 这个格式输入
![image](https://user-images.githubusercontent.com/8407513/169792354-4f3e6293-f305-4733-a1dc-8a31c8dfff3a.png)
slim量化训练出来的文件 如何对应这两种格式？
3 [F  5/23  9:52:17.895 ...e-Lite/lite/model_par

[2022-05-23 10:08] fengyanWang opened #6041 "paddle 版 PFLD"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

请问有paddle版本的PFLD吗？

[2022-05-23 10:43] Jiashuhao518 commented on #5983
不知道你有没有遇到剪枝后评估的时候 通道数不匹配的问题 我现在还解决不了

[2022-05-23 11:03] w77779999 commented on #5983
我这边是分析完之后拿到正式的地方去剪，算出来的计算量减少的很少，跟预期不太符合

[2022-05-23 11:11] Jiashuhao518 commented on #5983
动态图吗  动态图我不知道如何把剪枝和量化做在一起 因为没有提供联合策略

[2022-05-23 11:14] w77779999 commented on #5983
可以参考那个蒸馏加剪枝的来写，但是试过来不太行

[2022-05-23 11:17] Jiashuhao518 commented on #5983
那么分开怎么做呢 是先做剪枝 然后在量化的yml里面把预训练权重换成剪枝后的权重吗

[2022-05-23 11:19] w77779999 commented on #5983
它的剪枝其实在build_slim_config的时候如果你设置了就直接做掉了，量化好像只是加入了fake还有moving的节点，我是先剪了然后量化

[2022-05-23 11:28] Jiashuhao518 commented on #1391
你好 想请问你一下 剪枝后量化的命令是怎么写的吗 我想参考一下 我也是刚剪枝完之后不知道如何量化 谢谢

[2022-05-23 11:29] w77779999 commented on #5983
你把静态图的权重拿过去分析，分析出来的map是对的吗？我这边好像是不行

[2022-05-23 11:30] Jiashuhao518 commented on #5983
你先去打印动态图的权重 再去对比一下静态图的命名  其实就是名字不一样

[2022-05-23 11:34] w77779999 commented on #5983
名字不一样我知道，我的意思是敏感度分析它会先分析原来权重的精准度，这里你拿静态图的权重过去分析准确率没问题吗，我这边会就0.01map

[2022-05-23 11:37] Jiashuhao518 commented on #5983
我之前动态图剪的结果是map 68% 静态图剪了却不能评估

[2022-05-23 11:39] w77779999 commented on #5983
这就不太清楚了，我这边原本提供的预训练权重如果直接拿过去分析敏感度，算出来的map也是0.01

[2022-05-23 11:44] w77779999 commented on #5983
我现在分析过来好像有些层就算写在剪枝里面它也不会去剪，不知道你有没有碰到这种情况

[2022-05-23 11:46] Jiashuhao518 commented on #5983
有这种情况的

[2022-05-23 11:50] Jiashuhao518 commented on #5983
是不是剪的太多了呢

[2022-05-23 11:52] w77779999 commented on #5983
不是，就拿32位啥也没做的权重过去分析的

[2022-05-23 12:13] w77779999 commented on #5983
敏感度分析这边我看backbone的层基本上都不太能减的样子，损失挺大的好像

[2022-05-23 12:14] zoooo0820 commented on #6037
@2050airobert
这里无论是否是量化训练，都需要通过训练得到`.pdparams`，再通过模型导出流程得到`.pdmodel`/`.pdiparams`，然后再走上述的转模型流程。步骤可参考[Tinypose文档](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/keypoint/tiny_pose/README.md#%E9%83%A8%E7%BD%B2%E6%B5%81%E7%A8%8B)的部署流程。

至于量化，训练得到`.pdparams`后，参考[全链条部署](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim#%E5%85%A8%E9%93%BE%E6%9D%A1%E9

[2022-05-23 12:14] Jiashuhao518 commented on #5983
mobilenet的特点 因为本身就很稀疏 没啥可以剪的

[2022-05-23 12:19] 2050airobert commented on #6037
请回答第三个问题，谢谢。
按照你所有的指示，结果如下图 我重复一遍
![image](https://user-images.githubusercontent.com/8407513/169817690-729ad9a2-1461-4e97-a428-f572c1dc38ea.png)

[2022-05-23 12:21] w77779999 commented on #5983
分析出来能剪的层好像有些paddledetection都不剪，导致整体剪枝率挺低的感觉，还有你动态图剪完map 68，剪枝率高吗

[2022-05-23 12:23] Jiashuhao518 commented on #5983
剪枝率0.21

[2022-05-23 12:30] w77779999 commented on #5983
你是剪哪些层啊，感觉那些backbone不剪之后剩下的层按敏感度分析过来感觉剪枝率高不到哪里去

[2022-05-23 12:31] Jiashuhao518 commented on #5983
我是剪了backbone的  我最大的疑惑是 动态图可以剪backbone后评估结果  但是静态图剪了backbone不能评估

[2022-05-23 12:33] Bigtuo commented on #6035
还是不行，都是安装显示成功，就是运行报这个错误

[2022-05-23 12:33] w77779999 commented on #5983
你的不能评估是什么意思，是map特别低吗？

[2022-05-23 12:35] Jiashuhao518 commented on #5983
不是 静态图评估直接报错 因为剪了backbone会导致通道数不匹配
InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: the input's channels is 32, the input's shape is [32, 32, 150, 150]; the filter's channels is 1, the filter's shape is [32, 1, 3, 3]; the groups is 26, the data_format is NCHW. The error may come from wrong data_format setting.
  [Hint: E

[2022-05-23 12:43] w77779999 commented on #5983
感觉paddledetection写的时候不太支持静态的剪？因为paddle剪动态的时候伴随通道调整，静态这里有点像是没调整好的样子？还有就是动静剪的方式不太一样可能用的指令不太对？

[2022-05-23 12:52] Jiashuhao518 commented on #5983
请问你能告诉我一下 从动态图剪枝后到量化的步骤吗  我还是不怎么清楚怎么做 谢谢

[2022-05-23 13:01] Jiashuhao518 commented on #5983
https://github.com/PaddlePaddle/PaddleSlim/issues/900  不知道paddle有没有在paddleslim 2.1修复这个问题

[2022-05-23 13:03] Jiashuhao518 commented on #5983
请问一下 InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: the input's channels is 256, the input's shape is [32, 256, 125, 4]; the filter's channels is 1, the filter's shape is [256, 1, 3, 3]; the groups is 205, the data_format is NCHW. The error may come from wrong data_format setting.
[Hint: Expected input_channels == filt

[2022-05-23 13:03] w77779999 commented on #5983
我自己做就是参考那个蒸馏加剪枝的，因为创建剪枝和量化都是调用ppdet里slim的init那个py，里面会检测你slim的类别，可以自己输入一个类别，检测到后做指定的操作，做的也不一定对就是了

[2022-05-23 13:05] Jiashuhao518 commented on #5983
我也是这么做的  我创建了一个 QATPrune的类 但是运行的时候说没有registered什么的

[2022-05-23 13:10] w77779999 commented on #5983
给create传的参数不能是QATPrune，这个只能用于判断slim_load_cfg['slim']是否是你这个情况，下面传的参数要换成普通的QAT，Prune这些

[2022-05-23 13:13] w77779999 commented on #5983
静态图剪枝你是在paddledetection上面做吗，还是在自己这边重新搭建模型用paddleslim做的？

[2022-05-23 13:16] Jiashuhao518 commented on #5983
静态图是static文件下做的

[2022-05-23 13:21] w77779999 commented on #5983
static下面那指令呢？因为动转静后生成的文件有4个，infer_cfg.yml，model.pdiparams，model.pdiparams.info，model.pdmodel，在config的yml里面weight你是直接指向存这四个文件的文件夹这样吗？
因为static里面ssd的yml和外面的yml其实写的不太一样，你拿动态图训练好转成静态图生成这些文件后，拿这些文件到静态图去算卷积敏感度，最开始算出来的map是和你原本动态图训练出来的map一样是吗

[2022-05-23 13:24] Jiashuhao518 commented on #5983
我也是参考的这个 并没有按照你说的做的
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/static/slim/prune/README.md

[2022-05-23 13:37] w77779999 commented on #5983
参考这个的话，不管指定没训练过的权重(预训练权重)，或者是量化完的权重，或者是导出静态图之后的文件，在敏感度分析这边最开始算出的map都是0.0几，就很奇怪

[2022-05-23 13:40] Jiashuhao518 commented on #5983
我用的是预训练权重 并且作出了敏感度分析的图的

[2022-05-23 13:40] ghostxsl commented on #6041
暂时没有，我们已将您的需求反馈至开发人员，感谢您的建议～

[2022-05-23 13:42] ghostxsl commented on #6039
可以参考slim文档：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim
参考ppyolo_r50vd的剪裁yaml：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/slim/prune/ppyolo_r50vd_prune_fpgm.yml

[2022-05-23 13:51] ghostxsl commented on #6038
1. --fleet参数是调用更高层的paddle分布式api进行分布式训练，--amp是启用混合精度训练
2. 导致训练性能瓶颈的原因可能是dataloader加载数据效率低于GPU计算效率，也可能是模型组网使用的OP欠佳等原因，我们的技术人员需要进一步的排查。提高GPU利用率的手段通常是提升dataloader加载数据的效率等
3. worker_num对应的是多子线程dataloader中的线程数，在模型训练时，读取数据和GPU计算是异步进行的，设置worker_num跟GPU数量无关系，一般而言，增大worker_num会使得数据加载变快，训练变快，但是不能无限增大，这要视具体的硬件资源和GPU计算能力来调试
4. xpu和npu均是新硬件，可以理解成这些就是一种新的“GPU”
5. 由于yolov5使用GPL协议，与PaddleDetection的开源协议有冲突，不在计划内，但是

[2022-05-23 14:00] w77779999 commented on #5983
我拿预训练权重去分析最开始的map就是0.0几就不对。。就没什么办法。我现在是在static下再训练出精度达到要求的权重，对这个权重再进行敏感度分析这样

[2022-05-23 14:01] w77779999 commented on #5983
但是按照这个分析来说，反正backbone剪0.1，精度就能掉个6，7点的样子感觉

[2022-05-23 14:03] Jiashuhao518 commented on #5983
但是剪枝后要训练恢复精度的啊

[2022-05-24 01:43] zmdcs opened #6046 "YOLOV4有动态图的配置文件吗？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

YOLOV4有动态图的配置文件吗？可不可以直接把静态图的配置文件稍微修改挪到动态图使用？还是说要重新在动态图写architecture和head什么的。

[2022-05-24 01:45] yuxiaoz opened #6047 "训练时模型保存路径BUG"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在启动模型训练时，在config文件中设定了模型的存储路径，但是模型保存的路径并没有根据设置路径来，反而是保存在以config文件为名称的文件夹下。

比如在[PaddleDetection](https://github.com/PaddlePaddle/Paddle

[2022-05-24 01:46] #6036 closed, assigned to nobody

[2022-05-24 01:46] #5992 closed, assigned to nobody

[2022-05-24 02:42] 2050airobert commented on #6037
hello anyone here？

[2022-05-24 02:50] BakingBrains opened #6048 "PP-YOLOE training"
### 问题描述 Please describe your issue

Thanks for the great repo.
I am trying to train a detection model using PP-YOLOE
I am using **ppyoloe_crn_l_300e_coco.yml** and when I start training the loss is increasing.

[code]

Any suggestions here.

Thank you

[2022-05-24 03:34] ghostxsl commented on #6048
Please remove '--amp' and try it first~

[2022-05-24 03:36] BakingBrains commented on #6048
Sure, I will try that.

@ghostxsl Thank you

[2022-05-24 03:52] sdreamforchen commented on #5999
那是否支持这些情况：
1 在train过程中的eval进行FLOPS计算，这个如何修改，目前我看训练过程中的eval是没有打印出来FLOPS的；
2 在训练完后，进行eval，infer操作的时候增加FLOPS计算。
感谢！

[2022-05-24 04:14] yghstill commented on #6037
@2050airobert 使用Paddle Lite的opt工具转换模型时，--model_dir需要指定到模型文件夹路径，包含model.pdmodel和model。pdiparams。同时量化后的模型不能再指定--quant_model=true和--quant_type这些参数了。

[2022-05-24 05:06] w77779999 commented on #5983
你训练了多少epoch呢？感觉120训完准确率也就那样

[2022-05-24 05:30] w77779999 commented on #6047
这个weights在评估的时候用于设置你评估所需权重存放的位置，本来就不是保存路径

[2022-05-24 06:03] Jiashuhao518 commented on #5983
我也是120  240还没有试过 感觉也不会有多少提升

[2022-05-24 06:11] YixinKristy commented on #5728
对于在线视频流的输入（编解码）的部分，目前PP-Human尚未支持，在7月份左右有计划支持~

[2022-05-24 06:37] yuxiaoz commented on #6047
那只能通过改变配置文件名称实现模型保存路径变化了哈。

[2022-05-24 06:39] w77779999 commented on #6047
或者你可以看一下代码里面具体哪一段读取了文件名并设置成了保存路径然后自己改，图简单的话改文件名确实ok

[2022-05-24 06:56] xiegegege commented on #6035
可能有很多python版本，安装到其他版本下面了吧，python -m pip install pycocotools这样呢？

[2022-05-24 07:00] Bigtuo commented on #6035
好像是环境的问题，我在外面还有行pip install paddlepaddle-gpu==2.1.0运行了（去掉这个再重新安装requirements就没事了），可能是不匹配吧

---Original---
From: ***@***.***&gt;
Date: Tue, May 24, 2022 14:56 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleDetection] ModuleNotFoundError: No module named 'pycocotools' (Issue #6035)

可能有很多python版本，安装到其他版本下面了吧，python -m pip install pycocotools这样呢？

—
Reply to

[2022-05-24 07:07] 2050airobert commented on #6037
您的意思是？我应该去掉 --quant_model=true和--quant_type这些参数 ？
都试过了 no way！
结果是一样的

[2022-05-24 07:11] BakingBrains commented on #6048
@ghostxsl  If I set "--amp" to false while training its throwing below mentioned error

[code]

I verified the annotations.json file, changed the number of class as well, the annotation file works with other detection models as well, but here its throwing that error.

Any suggestions?
Thank you

[2022-05-24 07:44] ghostxsl commented on #6048
What is the version of your Paddle and PaddleDetection?

[2022-05-24 07:52] BakingBrains commented on #6048
@ghostxsl

2.3.0

2.4.0

[2022-05-24 07:54] ghostxsl commented on #6048
try set "-o TrainReader.use_shared_memory=False"

[2022-05-24 08:01] zhiboniu commented on #6047
![image](https://user-images.githubusercontent.com/31800336/169980510-8dd17cdf-edf7-4baf-9f9c-e371ae2ecb25.png)
你好，通过排查代码看起来应该是通过这个save_dir设置的，你可以试试。
上面那个确实是评估的时候加载权重用的

[2022-05-24 08:21] will-wiki commented on #6002
hello,有人能够帮忙解答下么

[2022-05-24 08:31] BakingBrains commented on #6048
@ghostxsl,  Still the same issue. I don't know what's going wrong

[2022-05-24 09:17] tuya-yu opened #6049 "module 'ppdet' has no attribute 'data'"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

################已执行#################
# 克隆PaddleDetection仓库
cd <path/to/clone/PaddleDetection>
git clone https://github.com/PaddlePaddle

[2022-05-24 09:40] zhiboniu commented on #6046
你好，YOLOV4并没有再动态图中适配，如果要用的话是需要自己实现architecture和head的，同时静态图的配置文件跟动态图有些差别，不能直接挪用，需要修改。
推荐使用服务器端的ppyoloe和移动端的picodet，具有更好的性能。

[2022-05-24 09:42] zhiboniu commented on #6049
你好，看起来当前执行目录在ppdet文件夹下，有可能python混淆了当前路径和安装的ppdet路径，请换一下文件夹试试呢。

[2022-05-24 10:53] zzl221000 commented on #6007
一样的问题
按照paddleocr教程训练卡住

`python tools/train.py -c configs/rec/PP-OCRv3/ch_PP-OCRv3_rec_distillation.yml -o Global.pretrained_model=./pretrain_models/ch_PP-OCRv3_rec_train/best_accuracy`

paddle相关库
[code]

cuda
[code]

[2022-05-24 11:17] zzl221000 commented on #6007
github文档过时了，需要按照官网文档进行安装

[2022-05-24 11:30] simon-sxx commented on #6039
@ghostxsl 请问我应该怎样得出自己模型中的剪裁层和裁剪率呢？这些参数可以直接使用在ppyoloe上吗

pruned_params: ['conv2d_56.w_0', 'conv2d_57.w_0', 'conv2d_58.w_0',
                  'conv2d_59.w_0', 'conv2d_60.w_0', 'conv2d_61.w_0',
                  'conv2d_63.w_0', 'conv2d_64.w_0', 'conv2d_65.w_0',
                  'conv2d_66.w_0', 'conv2d_67.w_0', 'conv2d_68.w_0',
                  'conv2d_70.w_0', 'conv2d_71.w_0', 'conv2d_72.w_0',

[2022-05-24 11:39] BakingBrains commented on #6048
@ghostxsl I changed to ppyoloe_crn_m_300e_coco.pdparams it started the training, but still the loss value is increasing.

[code]

Should I wait for some epochs?
Any suggestions?

Thanks

[2022-05-24 12:06] ghostxsl commented on #6048
Turn down the learning rate, maybe it works.

[2022-05-24 12:21] BakingBrains commented on #6048
Yeah, I am doing that,
Thank you

[2022-05-24 12:34] 875052544 opened #6051 "paddle.static.default_main_program() return block 0"
### 问题确认 Search before asking

- [x] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

两个问题，我用的是paddlepaddle2.0
1、paddle.static.default_main_program() return block 0 按文档上说，应该当模型加载的时候就从主程序默认提取但返回是0
2、我主要是用于模型蒸馏，想通过这里得到模型特征图的矩阵，我看到蒸馏例子yolov3的输出model.yolo_head.pred_cls.distill_pairs可以得到矩阵，我的蒸馏的模型是ppyoloe的，但是我不知道如何得到pred_reg的矩阵，输出model.y

[2022-05-24 12:55] simon-sxx opened #6052 "剪裁模型导出错误"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用如下命令导出剪裁后的模型出错：

!python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml --slim_config configs/slim/prune/ppyolo_r50vd_prune_fpgm.yml -o weights=output/ppyolo_r50vd_prune_fpgm/1.pdparams

报错如下：

/opt/conda/envs/python35-paddl

[2022-05-24 13:28] Jiashuhao518 commented on #5983
能帮我看看我的问题在哪里吗 我这样写只能执行量化  想法是先剪枝后量化 但是直接跳过了剪枝
    elif slim_load_cfg['slim'] == 'QAT':
        load_config(slim_cfg)
        model = create(cfg.architecture)
        if mode == 'train':
            load_pretrain_weight(model, cfg.pretrain_weights)
        slim = create(cfg.slim)
        if slim == 'qat':
            pruner = create(cfg.pruner)
            model = pruner(model)
            slim =cr

[2022-05-24 13:51] LUOQING1994 opened #6053 "在Jetson NX中 使用PP-TinyPose推理单张图片，8G内存占用了7G"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

在Jetson NX中，我按照PP-TinyPose的文档，成功运行了示例，但我发现推理单张1080P图片，8G内存占用了7G，请问该如何降低内存空间呢？

[2022-05-24 16:31] BakingBrains commented on #6048
@ghostxsl Thanks
Learning rate 0.01 working fine so far. ( for ppyoloe_crn_s_300e_coco )

[2022-05-25 01:18] Weizhongjin commented on #6049
一样的问题，看了半天找不到解决原因

[2022-05-25 01:38] Weizhongjin commented on #6049
将 ppdet/data/source/dataset.py 中的第25行
`import ppdet.data.source as source`
改成
`from ppdet.data import source as source`
我也不知道为什么。但就是可以了

[2022-05-25 02:51] nemonameless commented on #5974
是这样的

[2022-05-25 03:13] songyuc commented on #5974
好的，谢谢老师的回复🙏🙏🙏

[2022-05-25 03:13] #5974 closed, assigned to nobody

[2022-05-25 04:02] jerrywgz commented on #6049
目前验证在python3.6下会有这个问题，其他python版本是ok的，已经提pr修复了，感谢反馈https://github.com/PaddlePaddle/PaddleDetection/pull/6056

[2022-05-25 05:41] ChiTaoGIS commented on #5325
遇到了同样的问题，希望告诉一下怎么解决

[2022-05-25 06:49] #5271 closed, assigned to nobody

[2022-05-25 06:54] gutao0315 opened #6058 "训练的时候加上--eval就会报错 什么原因啊"
### 问题描述 Please describe your issue

![image](https://user-images.githubusercontent.com/77281977/170198996-ba3bce0f-7c13-452e-a044-0cf21c2a33bb.png)

[2022-05-25 07:34] zoooo0820 commented on #6058
看起来是自定义数据集，类别上是几类？另外设置上具体做了哪些改动呢

[2022-05-25 08:22] zoooo0820 commented on #6053
你好，问题已收到，我们找机器复现一下，完成后在这里同步情况

[2022-05-25 10:56] sixyang commented on #5939
那我怎么通过程序去拿到这个结果呢？为了下游的任务

[2022-05-25 17:06] #6048 closed, assigned to nobody

[2022-05-25 22:35] AI-Passionner opened #6063 "Some warnings when choosing --amp in training"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

I0525 15:25:52.560097  7904 layout_autotune.cc:28] Layout AutoTuning is not available.
I0525 15:25:52.560097  7904 layout_autotune.cc:28] Layout AutoTuning is not available.
I0525 15:25:52.560097  7904 layout_autotune.cc:28] Layout AutoTuning is no

[2022-05-26 01:18] simon-sxx opened #6064 "ppyoloe蒸馏"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

想要对ppyoloe进行蒸馏，但是PaddleDetection里面只有YOLOV3的配置文件，直接使用会报错，而且找不到相关的 蒸馏 loss ,请问我该怎么配置呢，（蒸馏文档太过简略）？

[2022-05-26 02:43] joshuafc opened #6065 "YOLOX, deploy/cpp, InvalidArgumentError: Inputs of trt subgraphs has different batchsize."
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

configs/runtime.yml:
[code]

[code]

Error:

[code]

### 复现环境 Environment

**paddlepaddle(installed by pip) used for export model**
pad

[2022-05-26 03:12] nemonameless commented on #6065
已复现问题，会尽快修复。可试试paddlepaddle 2.2.2 应该没这个问题。

[2022-05-26 05:34] maoyutofu commented on #5877
请问现在可以自己训练人脸属性模型了吗

[2022-05-26 05:39] qingqing01 commented on #6064
不同模型结构蒸馏会有点差异，当前还没适配PP-YOLOE。

关于PP-YOLOE，如果对网络输出可以在这个文件里获取 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/heads/ppyoloe_head.py

[2022-05-26 06:02] lyuwenyu commented on #6063
请问一下paddle用的什么版本，这个训练那个模型出现的 有完整的log嘛

[2022-05-26 06:12] zhangting2020 commented on #6063
这个是amp的autotuning功能，应该是因为你的GPU不支持TensorCore，所以不能自动调优，打印出来了这个日志，不影响训练功能。

只是这条日志的级别需要调整下，我们后续会修复。

[2022-05-26 07:36] lixiangMindSpore opened #6070 "PP-YOLOE有没有试验过SIoU Loss(SCYLLA-IoU Loss)？"
### 问题描述 Please describe your issue

PP-YOLOE有没有试验过SIoU Loss(SCYLLA-IoU Loss)？该损失函数号称在COCO数据集上涨点2.4-3.6，论文：https://arxiv.org/pdf/2205.12740.pdf
![e1b2af3dab9b1e7190a7fd98d2934a0](https://user-images.githubusercontent.com/78945582/170440935-bb7e9f68-f571-4377-b0da-9f71b6f246c7.jpg)

[2022-05-26 07:39] wudi-98 opened #6071 "solov2_r50_enhance得到的精度低。"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

paddledetection中solov2_r50_enhance训练得到的精度远比原作者提供的solov2_r50的精度要低。
训练过程和识别结果好像都没有什么问题，不明白为什么最后eval.py得出的精度很低？是评估方法不一样吗？还是训练中有什么容易被忽视的问题？

[2022-05-26 07:42] imsotable opened #6072 "Jetson上编译出错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

请问改怎么解决？
[code]

[2022-05-26 07:45] tomjeans commented on #5173
void get_affine_transform(std::vector<float>& center,
                          std::vector<float>& scale,
                          float rot,
                          std::vector<int>& output_size,
                          cv::Mat& trans,
                          int inv) {
  float src_w = scale[0];
  float dst_w = static_cast<float>(output_size[0]);
  float dst_h = static_cast<float>(output_

[2022-05-26 07:56] weiluonika commented on #6029
如果我想去提升下分类的性能，我应该如何去做，能修改配置的config文件中的参数进行吗？有没有相关文档，搜索了一下资料并没有太多

[2022-05-26 08:39] xiaozhaxie777 opened #6074 "请问有没有打包好的docker镜像tar包"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我在官网上看都是要自己docker pull下来，docker hub也是pull，服务器没外网很尴尬，又没有linux能联网的电脑，没办法pull，想求一个paddle detection的tar包下载链接。谢谢。

[2022-05-26 08:43] zoooo0820 commented on #6053
@LUOQING1994
你好，这个问题经过与paddle inference相关同学沟通，因为jetson内存是共用的，不限于tinypose这一个具体模型，这个表现是正常的。

[2022-05-26 09:35] kuangxiaoye commented on #141
请问你现在解决了这个问题吗？

[2022-05-26 12:30] simon-sxx commented on #5778
为什么我裁剪之后反而模型变大了

[2022-05-27 02:01] qingqing01 commented on #6070
感谢建议！ 后续可以尝试下，您也可以尝试、贡献进来！

[2022-05-27 02:03] qingqing01 commented on #6071
您是什么数据集吗？如果是COCO数据集的话，是否使用8卡进行训练？有做什么更改吗？

[2022-05-27 02:06] qingqing01 commented on #6074
PaddleDetection包的话，您可以Github或者Gitee(国内网速快)下载zip包吧。
<img width="374" alt="图片" src="https://user-images.githubusercontent.com/7845005/170614260-ec788154-6fa8-4e8e-9f6e-2e01c16307f5.png">

[2022-05-27 02:10] jerrywgz commented on #6072
先使用 `sudo apt-get install patchelf` 安装patchelf试下呢

[2022-05-27 02:35] imsotable commented on #6072
成功了！非常感谢！

[2022-05-27 02:35] #6072 closed, assigned to jerrywgz

[2022-05-27 02:40] wudi-98 commented on #6071
我是使用的COCO数据集，使用的单卡训练，只修改了配置文件的类别数（+1），学习率（0.00125）。

[2022-05-27 02:56] zoooo0820 commented on #6071
你好，有两个地方想确认一下
- coco这里新加的一类是什么类别呢
- 是同样按上述配置都进行训练后，solov2_r50_enhance比solov2_r50低，还是只是比放出来的solov2_r50预训练模型低呢？

另外从问题描述看，预测结果是正常的但是eval指标不正常是吗？ 这里方便的话可以贴一下eval的结果方便debug。

[2022-05-27 03:14] wudi-98 commented on #6071
你好，增加的是背景这个类别，加上背景已经16个类别。自己训练的solov2_r50_enhance精度低。推理了几张图，结果都很正常，但是eval推理的精度却非常低。

[2022-05-27 03:44] zoooo0820 commented on #6071
所以类别一共是16类，这里在eval的时候加上--class选项呢，其余未训练的类别会拖低指标

[2022-05-27 04:25] wudi-98 commented on #6071
但是出来的结果还是15个类。
结果如下：
Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.231
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.356
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.240
 Average Precision  (AP) @[ IoU=0.50:0.95 | area= small | maxDets=100 ] = 0.308
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=medium | ma

[2022-05-27 07:18] zoooo0820 commented on #6071
这些类别不是coco中的类别吧，coco是80类吧，看起来有几个类完全没有学习到，另外现在动态图版本的训练中不需要增加背景类了。这里具体对数据和标签做了哪些处理呢。另外原作者提供的预训练模型精度在这个数据集上是什么样呢？

[2022-05-27 07:38] kylewangt commented on #1784
我就是这样设置的，但是还是报错
![image](https://user-images.githubusercontent.com/44918749/170652971-5dc68ee4-7087-4c54-8529-4ed8fc439ca9.png)

[2022-05-27 07:55] zhly0 opened #6077 "target_size问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

你好，试用了一下paddledetection，个人感觉比较方便，从训练到部署，对于训练参数有个疑问。在训练中有个target_size参数设定，比如我们的训练尺度是320x320，在target_size中会设定基于这个数值加减32倍数的尺度，比如352这个数值，实际处理方式，是会将320的图像放置到352尺度的图像中，再对352的图像resize到320吗，同样，对于288这个尺度的图像，是将320x320的图像，从中截取出288x288大小的图像吗

补充说明：target_size参

[2022-05-27 08:32] simple123456T commented on #5428
你好，你是怎么解决这个问题的。我也是和你一样的问题， 我是输了这个命令后就打印出和你一样的log，然后等个大约十分钟就直接结束程序了，也没有报错，也没有调用摄像头

python infer.py --model_dir=output_inference/ppyoloe_crn_l_300e_coco --camera_id=0 --run_mode=trt_fp16 --device=gpu --run_benchmark=True
![image](https://user-images.githubusercontent.com/104408880/170662643-7ff7c619-bd1a-4268-837c-28101f9290fc.png)

[2022-05-27 08:33] heavengate commented on #6077
这个是RandomShape里的吧，是随机把一个batch的图像reshape到288，320，352这些，每个batch的size是随机，目的是为了让网络能训练更多尺度的图像，是一个能提高精度的数据增强方法。
这个方法只在训练过程中使用，不影响你用320的尺度去做预测

[2022-05-27 08:52] Oswells commented on #6070
关于这篇SIoU Loss的文章我有个问题可以在这讨论一下吗？
在Distance cost这里，px和py算出来恒等于1吧？这里该怎么理解呢？属于笔误吗？

[2022-05-27 09:14] yangdhll commented on #5900
我也出现了这个问题，兄弟解决了嘛

[2022-05-27 09:28] wudi-98 commented on #6071
这是我自己的数据集，标签文件是按照coco的格式写的。在原作者提供的solov2_r50精度为47%（IoU=0.50:0.95）。

[2022-05-27 09:30] zhly0 commented on #6077
@heavengate 我的理解是，这应该是多尺度训练，但实际训练时，应该是也是同一尺度，但是不知道上面我提到的处理方式对不对

[2022-05-27 09:34] zhly0 commented on #6077
另外，再补充个问题，多于多尺度训练，在数据增强里面还有图像裁剪之类的，代码中有设定最小目标尺度吗，比如经过数据增强，原来30x30的图像，缩放成了5X5，但是我的目标场景最小尺度是20X20，数据增强中有过滤的地方吗，另外，如果在平移时，30X30变成了30X10，这种只有一半的目标，代码里面有处理的机制吗

[2022-05-27 11:51] zoooo0820 commented on #6071
你好，想请问下原作者模型的测出的AP47，是使用作者的代码自己训练得到的吗？如果是的话，可以也尝试直接训练下我们库中的SOLOv2_r50模型。
另外这里需要去除背景类（这个数据集即是15类就可以了）再迭代一版试下。

[2022-05-27 11:57] Jiashuhao518 commented on #3566
Hello, I'm confused about modifying this code in _init_.py and config file , could you show me your modification ? Thanks a lot!

[2022-05-27 14:15] WongKinYiu commented on #6070
simplify angle loss and start training on yolor

angle loss:
1 - 2 sin^2 (arcsin(sin(\alpha)) - \pi/4) 可以直接寫做 1 - 2 sin^2 (\alpha) - \pi/4)
等於 cos(2 \alpha - \pi/2) 等於 sin(2 \alpha) 等於 2 sin(\alpha) cos(\alpha)

論文中有些符號重複使用, 先依CIoU等loss知識判斷, 待交叉驗證後, 若有效再來分享結果.

[2022-05-28 02:18] thgpddl opened #6078 "关于PP-TinyPose推理耗时的问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我在阅览文档是看到PP TinyPose的推理耗时如连接中所示：
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/keypoint/tiny_pose#%E5%85%B3%E9%94%AE%E7%82%B9%E6%A3%80%E6%B5%8B%E6%A8%A1%E5%9E%8B
该单人耗时确实惊艳到我，但同时我又看到一个更详细的推理耗时信息：
https://github.com/PaddleP

[2022-05-28 03:17] isLiuHao opened #6079 "模型库是否有yolov4与yolov5的模型复现？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

请问目前是没有yolo4与yolo5的模型复现吗

[2022-05-28 03:36] Jiashuhao518 opened #6080 "剪枝量化联合策略的模型导出问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我在ppdet/slim/_init_.py下构建了一个剪枝和量化的联合策略（先剪枝后量化），可以正常train，eval，但是不能导出，我看了trainer下的导出代码，剪枝或者量化的导出api不能同时实现，我现在想实现能正常导出经过剪枝量化后的模型，该怎么修改相关代码，谢谢！

[2022-05-28 06:25] terrancraft opened #6081 "C++部署：找不到paddle2onnx.dll"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

您好，参照deploy/cpp里面部署教程，cmake和编译都通过了。
但推理时报错 找到paadle2onnx.dll的动态库

步骤如下
1. 我用的cmake指令：
cmake . -G "Visual Studio 16 2019" -A x64 -T host

[2022-05-28 06:40] Wulx2050 commented on #6048
Found inf or nan
1.add --amp   2.Turn down the learning rate， lr/10，lr/100 ，lr/1000

I also have this problem. Is there any problem with the optimization algorithm of PP-YOLOE?

[2022-05-28 06:43] BakingBrains commented on #6048
@Wulx2050 I'm not sure why, may be there is a problem with that.

[2022-05-28 07:01] Wulx2050 commented on #6048
Maybe he's right. See  issues/4049 训练不稳定，有些算子尚未支持。

话说用PaddlePaddle的应该都是中国人吧。我直接发汉字了

[2022-05-28 07:19] Dandelion111 opened #6082 "用PaddleDetection训练picodet增强版出现内存泄漏"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

用PaddleDetection训练picodet增强版cpu内存直线上升，大概一个多小时就占满了64G内存，请问大佬这是什么原因

[2022-05-28 08:12] weiluonika opened #6083 "使用maskrcnn进行实例分割 如何显示出来 网络最后提取的特征？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用maskrcnn进行实例分割 如何显示出来 网络最后提取的特征？

[2022-05-28 09:54] nemonameless commented on #6079
yolov4有静态图版本：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/static/configs/yolov4
yolov5由于开源协议无法加入主分支，目前暂时有试用版：https://github.com/nemonameless/PaddleDetection_YOLOv5/tree/main/configs/yolov5

推荐使用[YOLOX](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/yolox)、[PPYOLOE](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/ppyoloe)、[Picod

[2022-05-28 12:47] zmdcs opened #6084 "ppyolo真的没问题吗？所有PPYOLO下的配置文件都报nan错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/40875421/170825974-e61ff6d5-f522-42e2-8a99-dda6f1c811e6.png)
我缩小了学习率loss值也变成了nan，所有的ppyolo的配置文件全部都有这个问题，为什么？

我修改了batch_size=1,snapshot_epoch=1，所有的学习率减半大概是0.0025,训练自己的数据集，使用的coco数据集

[2022-05-28 13:14] liyifan2002 opened #6085 "PicoDet训练报错：(External) CUDA error(700), an illegal memory access was encountered."
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

[05/28 20:59:08] ppdet.utils.checkpoint INFO: Finish loading model weights: C:\Users\vision/.cache/paddle/weights\PPLCNet_x0_75_pretrai

[2022-05-28 14:24] 1abourer opened #6086 "导出模型时报错AttributeError: 'list' object has no attribute 'items'"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

导出hrnet_w32_384x288的模型时报错
PS D:\BS\again\final\work\PaddleDetection> python tools/export_model.py -c configs/keypoint/hrnet/hrnet_w32_384x288.yml -o weights = output/hrnet_w32_384x288/model_final.pdparams
C:\Users\***\AppData\Local\Programs\Python\

[2022-05-29 04:02] ChenjieXu opened #6087 "python wheel预测接口"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

调用时有python wheel能够快速调用。
import ppdet
predictor = ppdet.deploy.Predictor('./inference_model')
result = predictor.predict(img_file='

[2022-05-29 05:41] nemonameless commented on #6084
bs和lr修改不当。请先确保修改正确了再训练。
请按照[modelzoo](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/ppyoloe#model-zoo)下面的公式：
PP-YOLOE模型训练过程中使用8 GPUs进行混合精度训练，如果**GPU卡数**或者**batch size**发生了改变，你需要按照公式 **lr<sub>new</sub> = lr<sub>default</sub> * (batch_size<sub>new</sub> * GPU_number<sub>new</sub>) / (batch_size<sub>default</sub> * GPU_number<sub>default</sub>)** 调整学习率。

[2022-05-29 06:51] nemonameless commented on #6048
You can also try to modify the epoch or step of warmup if fintune.

[2022-05-29 09:22] simon-sxx opened #6088 "模型导出"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

 在进行模型导出时，去掉TestReader.fuse_normalize=true字段，为什么模型预测时间（不算预处理时间）没有改变甚至略有增加？

[2022-05-29 09:57] Tim4AI commented on #6063
@zhangting2020 日志等级怎么调整，我也遇到一样的问题，刷很多看不到其他日志

[2022-05-29 10:16] wenzonghui commented on #6063
我也遇到同样的问题，请问大佬们都怎么解决的？

[2022-05-29 11:29] wenzonghui commented on #4760
请问这个问题怎么解决的呢？

[2022-05-29 11:37] wenzonghui opened #6089 "paddle detection训练visdrone数据集报错 KeyError: 10"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

![截屏2022-05-29 19 33 51](https://user-images.githubusercontent.com/31688486/170865826-c7c8743f-111b-4ba6-a359-a624b371385a.png)

Traceb

[2022-05-29 12:29] wenzonghui commented on #4515
请问最后怎么解决的这个问题呢？

[2022-05-29 14:02] #6089 closed, assigned to nobody

[2022-05-29 14:03] wenzonghui commented on #6089
是数据集转换问题。
这是9类的visdrone 按coco格式处理后的 https://bj.bcebos.com/v1/paddledet/data/VisDrone2019_coco.tar

[2022-05-30 01:09] WongKinYiu commented on #6070
目前跑起來和ciou差不多, 另外有找到一些實現 https://github.com/xialuxi/yolov5-car-plate

[2022-05-30 01:17] lixiangMindSpore commented on #6070
你有SIoU的源代码？

[2022-05-30 01:18] WongKinYiu commented on #6070
沒有, 照論文實現.

[2022-05-30 01:19] lixiangMindSpore commented on #6070
代码方便发一下吗？

[2022-05-30 01:27] WongKinYiu commented on #6070
目前效果和論文寫的差很多, 得再確認正確性.

[2022-05-30 02:53] sdreamforchen commented on #5730
大佬。请教个问题。  TOOD原文是没有在loss中除以t的，loss的格式整体和yoloe是不一样的（先不关心dfl）。为什么需要除以这个t呢？这俩精度差有多少呢？

[2022-05-30 03:02] wangxinxin08 commented on #5730
t作为权重是乘到loss里面的，一般计算loss时会除以样本的数量，这里也就会额外除以t.sum，可以看TOOD的官方实现，这里是一致的

[2022-05-30 03:23] jerrywgz commented on #6080
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/slim/prune.py#L90 可以参考下这部分代码，目前develop分支已经支持了剪枝量化

[2022-05-30 03:32] jerrywgz commented on #6081
PADDLE_LIB_NAME 需要设置为libpaddle_inference

[2022-05-30 03:35] jerrywgz commented on #6082
麻烦提供下训练环境和版本信息，另外可以将reader配置文件中的worker_num设置为0观察下

[2022-05-30 03:36] jerrywgz commented on #6083
mask rcnn最后提取的特征在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/heads/mask_head.py#L193 中，需要添加下可视化代码

[2022-05-30 03:38] jerrywgz commented on #6085
将picodet-s-416 lcnet 的batch size改小试下，可能和显存不足有关

[2022-05-30 03:39] jerrywgz commented on #6087
目前由于deploy是和ppdet同级目录下，在打包时没有将deploy打到ppdet里，我们后续会支持下这部分功能

[2022-05-30 03:41] jerrywgz commented on #6086
-o weights后面的等号前后不加空格

[2022-05-30 03:43] zhiboniu commented on #6078
你好，
TinyPose是Top-Down方案的模型，因此其耗时与人数成正比，在多人场景和单人场景下并不是一样的。
其总得耗时时间是4.3ms(picodet) + 4.57ms(tinypose)*人数。因此单人时其耗时是8.87ms而不是27ms。
上述时间是在骁龙865上开启benchmark测速得到。

tinypose的优势，可以从两个角度说明：
1）其时间可以动态调整，人数多时与mediapipe相当，人数少时耗时成比例减少。
2）在人数多的场景下，其模型精度仍然可以保持较高的水平，并不会急剧下降。

关于极致降低推理延时的方法，tinypose实际就是这方面的一个典型。可以参考tinypose设计思路，主要从方案、模型、部署3个环节优化，可以参考ppt中的介绍：https://aistudio.baidu.com/aistudio/education/lessonvideo/

[2022-05-30 05:53] ChenjieXu commented on #6087
感谢支持，希望能有相deploy/infer下的python调用的接口能够同步提供。

[2022-05-30 06:13] Dandelion111 commented on #6082
你好，训练环境：paddlepaddle-gpu 2.2.2
python3.7
版本：最新的PaddleDetection2.4
我试了一下训练ppyoloe基本没有这个问题，之前都是用小数据集训练picodet没发现这个问题，现在用3000张数据集训练才发现的

[2022-05-30 06:31] w77779999 commented on #5994
你好，请问这个问题解决了吗

[2022-05-30 06:35] Dandelion111 commented on #6082
你好，我试了一下worker_num为0的时候也有这个情况

[2022-05-30 08:20] ALixuhui opened #6090 "多个目标检测模型，如何并行检测同一张图片，且将结果合并，paddledetection是否有相关预测方案？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

第一个问题：我现在有两个目标检测的模型，模型Ａ和模型B，然后这两个模型可以分别预测不同的类别，如果想要这两个模型预测同一张图片，paddledetection有什么并行预测的方案么？

第二个问题：我有两个数据集，数据集A只标注了车辆，数据集B只标注了交通标志。请问这两份数据能否同时训练出一个模型，然后用这一个模型直接预测一张图片中的车辆+交通标志信息？

谢谢~

[2022-05-30 08:36] cv-nlp opened #6091 "blazeface转onnx失败，请问你们能转成功吗"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

ppdetection/lib/python3.8/site-packages/onnx/helper.py:343: DeprecationWarning: Using or importing the ABCs from 'collections' instead

[2022-05-30 08:41] m13ammed opened #6092 "C++ inference on NX"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

The provided compiled paddle inference is available only for Jetapck 4.3, since Jetson NX is not supported on Jetpack 4.3 I am unable to use the cpp inference (paddle fluid) on the NX. Additionally using higher jetpack version would cause conflicts

[2022-05-30 08:51] weiluonika commented on #6083
请问一下 可视化代码有没有相关参考文档？

[2022-05-30 08:53] wangxinxin08 commented on #6091
感谢您的反馈，我们后期验证并排期修复下

[2022-05-30 08:59] wangxinxin08 commented on #6092
you can download paddle inference library from https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#c, which supports jetpack 4.4, 4.5 and 4.6.

[2022-05-30 09:47] m13ammed commented on #6092
That's great. Is there also a link for a compatible opencv version? Or the TX2_JetPack4.3_opencv_3.4.6_gcc7.5.0.tar.gz is still compatible for newer jetpacks and the NX ?

[2022-05-30 10:21] Zml960515 opened #6093 "PPYOLOE训练问题"
使用PPYOLOE训练总会报错：ValueError: Target XXXX is out of upper bound.
但是标签用其他模型训练都能正常收敛而且mAP都很高。用的也是官方提供的x2coco.py做的标签转换。请问这个问题有人遇到过吗，该怎么解决
![image](https://user-images.githubusercontent.com/96117546/171074186-52bab63e-67e0-4f8d-b2b9-97a7c2f269f1.png)

[2022-05-30 12:27] wangxinxin08 commented on #6093
先把报错截图贴一下

[2022-05-30 12:28] gouzi-tu commented on #5428
我也遇到了这个问题，请问您后来是怎么解决的呢

[2022-05-30 12:30] wangxinxin08 commented on #6092
Maybe you can compile compile opencv from source code on your jetson

[2022-05-30 12:37] Yuxinyi-Qiyu commented on #6070
您好！我想问下是怎么实现的呀？我看原论文是在Scylla-Net上进行实验，但是我没有找到Scylla-Net的代码，那去验证是否有效是不是只能在已有的模型上去应用他的loss fuction，粗略的看下它的提升有没有那么大，是这个思路嘛？（我是个小白，不太清楚该如何进行方法的复现T^T

[2022-05-30 12:41] wangxinxin08 commented on #5428
@simple123456T 导出模型时不要设置exclude_nms，exclude_nms参数只在测试时与竞品对齐时使用。

[2022-05-30 13:14] gouzi-tu opened #6094 "Windows下使用tensorRT加速ppyoloel出现的问题"
----

1、环境：Windows + cuda10.1， cudnn7.6.5， tensorRT6.0.15, paddlepaddle-gpu=2.3.0.post101，
2、操作步骤：
- 1、python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml -o weights=https://paddledet.bj.bcebos.com/models/ppyoloe_crn_l_300e_coco.pdparams trt=True
-  2、python deploy/python/infer.py --model_dir=output_inference/ppyoloe_crn_l_300e_coco --camera_id=0 --device=gpu

3、运行结果：可以打开摄像

[2022-05-30 13:27] wangxinxin08 commented on #6094
set GLOG_v=5再运行下看看

[2022-05-30 13:31] wangxinxin08 commented on #6090
可以参考下这个API https://www.paddlepaddle.org.cn/inference/v2.3/api_reference/python_api_doc/PredictorPool.html, 自己编写下代码试下

[2022-05-30 13:35] m13ammed commented on #6092
It worked thank you!

[2022-05-30 13:35] #6092 closed, assigned to nobody

[2022-05-31 00:30] WongKinYiu commented on #6070
是, 論文裡有個比較ciou和siou的圖.
scylla-net本身應該還好, 從內文的描述推測, 他展示的應該是batch 32的推論時間.

[2022-05-31 01:12] gouzi-tu commented on #6094
在哪里设置 “set GLOG_v=5” 呀

[2022-05-31 01:18] Zml960515 commented on #6093
已上图

[2022-05-31 01:18] 2050airobert opened #6097 "Any configuraton of picoDet model about detecting small objects ？"
hi，
     1 请问下，是否有针对小目标检测或者大目标和小目标混杂的场景，picoDet模型检测效果比较好的cfg 配置，能否发下链接呢？  另外是否有比价好的相应preweights呢？
     2 针对picoDet  针对小物体场景如何配置cfg, 才能增大对于小物体的检测能力？ 比如减少box的尺寸或者feature box 数量？

![image](https://user-images.githubusercontent.com/8407513/171074649-38fffea6-26e0-4bdc-9047-9f9d3cf6d927.png)
    3 上图中主要参数的意义，可否详细解释下，如果大物体和小物体混杂的情况下，如何调整哪些参数？多谢
  reg_max: 7
  cell_offset: 0.5
  grid_cell_scale: 5.0

[2022-05-31 02:02] wangxinxin08 commented on #6094
命令行直接输入

[2022-05-31 02:03] wangxinxin08 commented on #6093
出nan了，建议按照ppyoloe文档调整学习率

[2022-05-31 02:07] jiangxinufo opened #6098 "x2coco.py可以支持随机划分训练集与验证集吗？而不是按着默认的图像顺序？"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

x2coco.py可以支持随机划分训练集与验证集吗？而不是按着默认的图像顺序？

### 是否愿意提交PR Are you willing to submit a PR?

- [x] Yes I'd like to help by submitting a

[2022-05-31 02:09] jiangxinufo commented on #6098
x2coco.py可以支持随机划分训练集与验证集吗？而不是按着默认的图像顺序？

[2022-05-31 02:16] Zml960515 commented on #6093
![image](https://user-images.githubusercontent.com/96117546/171079218-3354a4bc-f098-476c-ae3d-3787f2ef4924.png)
我单步调试到报错的地方，没有出nan，然后用了github上pytorch版本的ppyoloe，同样的学习率是可以训练的

[2022-05-31 02:16] gouzi-tu commented on #6094
还是和原来一样，如下图
![image](https://user-images.githubusercontent.com/56339140/171079566-e8f59e03-0de7-4a87-b854-bc4bc2e4db14.png)

[2022-05-31 02:43] lyuwenyu commented on #6097
1.2.3 目前没有准对小物体的cfg, 你可以尝试reg_max调小 另外可以考虑增加浅层featmap
4. RandomFlip  prob=0.5 就是按照0.5的概率执行， 其他没写prob都是会执行的

[2022-05-31 02:47] lyuwenyu commented on #6098
可以尝试下这两个参数 '--val_proportion', '--test_proportion',

[2022-05-31 02:53] Heimdall-Nss opened #6099 "在C++部署进行预测时首张图片和之后图片的速度差异很大"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我发现模型在测试第一张图片或者单张图片测试的时候会比一批图片处理(除去第一张)的速度慢很多，这种情况是因为模型加载不可避免的吗？请问如何正确测试一张图片的预测时间呢

[2022-05-31 02:53] wangxinxin08 commented on #6093
学习率是怎么设置的？

[2022-05-31 02:53] 2050airobert commented on #6097
1 这里的reg_max调小 表示什么意思呢？增加浅层featmap 您指的是feat_in_channel吗？   use_se如果不用精度是不是明显下来了？
2 在训练的过程中，出现了preweigh 尺寸跟现有cfg不匹配的情况，这正常吗？会不会影响最终训练出来的模型精度？
![image](https://user-images.githubusercontent.com/8407513/171083456-2e4c83d5-3f6d-4711-8f23-be4117a9dc43.png)

[2022-05-31 02:56] wangxinxin08 commented on #6094
其他的模型TRT能够运行吗？如果不能运行，你安装的PaddlePaddle是不包含TensorRT的，建议安装带TensorRT的PaddlePaddle用作推理。另外需要确保TensorRT安装窃路径正确设置，具体参考文档https://www.paddlepaddle.org.cn/inference/v2.3/optimize/paddle_trt.html

[2022-05-31 02:57] wangxinxin08 commented on #6093
另外，贴一下PaddlePaddle版本以及运行的命令等信息，提issue按照issue模版来

[2022-05-31 03:02] Zml960515 commented on #6093
在configs/_base_/optimizer_300e.yml中的base_lr，分别尝试了0.0001，0.001，0.01，0.025
PaddlePaddle版本为release2.4，
运行命令行为：>python -m paddle.distributed.launch --gpus 0 tools/train.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml

[2022-05-31 03:06] wangxinxin08 commented on #6093
1. PaddlePaddle版本现在最高是2.3版本！！！如果是PaddlePaddle 2.3不要使用混合精度训练，不要加--amp
2. 学习率为什么要乱试呢？文档写的清清楚楚为什么不看https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/README_cn.md
3. 单卡训练不需要使用distributed
[code]

[2022-05-31 03:32] Zml960515 commented on #6093
1.确认了下 是2.3的版本
2.学习率按公式改成了0.025×(8×1)/(20×8)=0.00125
3.命令行改成了 python tools/train.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml
还是出现了同样的问题

[2022-05-31 05:10] nemonameless commented on #6088
fuse_normalize降的只是reader里的数据预处理NormalizeImage的耗时，模型预测时间不变的，略有增加应该是正常波动。

[2022-05-31 06:14] wangxinxin08 commented on #6093
把配置文件贴一下，数据集的类别贴一下看看

[2022-05-31 06:21] Zml960515 commented on #6093
**数据集的类别只有一种**：qrcode
**数据集的yml**:
metric: COCO
num_classes: 1

TrainDataset:
  !COCODataSet
    image_dir: train
    anno_path: annotations/instance_train.json
    dataset_dir: ../dataset/qrcodes
    data_fields: ['image', 'gt_bbox', 'gt_class', 'is_crowd']

EvalDataset:
  !COCODataSet
    image_dir: valid
    anno_path: annotations/instance_valid.json
    dataset_dir: ../dataset/qrcodes

TestDat

[2022-05-31 06:34] wangxinxin08 commented on #6093
图片有多少张，保证warmup的iter数目不少于500，另外把log贴下看看

[2022-05-31 06:45] Zml960515 commented on #6093
训练集有1841张图片，log如下：
[workerlog.txt](https://github.com/PaddlePaddle/PaddleDetection/files/8802698/workerlog.txt)

[2022-05-31 06:48] wangxinxin08 commented on #6093
数据标注有问题，主要是类别，与模型无关，检查下数据集吧，

[2022-05-31 07:09] Wulx2050 commented on #6048
这些好像都没有用，我只能跑10epoch就断点续训，而且最后的loss降到了1.6左右，验证集精度也不高，只有33%，和COCOtest2017数据集精度51.4%差距太多[PP-YOLOE的l版本]，可能是某些地方出错了。而我使用faster rcnn验证集精度达到了42%。等有空了，我换个数据集试试看。

`Translate by google:`
These seem to be useless. I can only run 10 epochs to continue the training, and the final loss drops to about 1.6. The accuracy of the validation set is not high, only 33%, which is too far from the accuracy of the COCOt

[2022-05-31 08:01] Gmgge opened #6101 "文档中存在404链接"
### 文档链接&描述 Document Links & Description

[该页面](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/GETTING_STARTED_cn.md#10-%E9%A2%84%E6%B5%8B%E9%83%A8%E7%BD%B2)中的[Python端预测部署](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python.md)链接404了

### 请提出你的建议 Please give your suggestion

根据文档上下文来看，应该是[该页面](https://github.com/PaddlePaddle/PaddleDetect

[2022-05-31 08:30] 2050airobert commented on #6097
anyone here？

[2022-05-31 08:43] XA-hyy opened #6103 "对Dataloader的疑问"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

你好，请问训练模型时，我想在训练几个epoch后再动态新增加一批数据继续训练，有好的实现方法吗？ 我尝试增加数据，但是在使用num_worker！=0，即多进程加载数据的方法时，在外部改变dataset的图像是无效的。

[2022-05-31 09:21] Zml960515 commented on #6093
检查了标注，没问题，转换成yolo格式用yolov5可以正常训练收敛。
重新转换标签，出现新的报错：
![image](https://user-images.githubusercontent.com/96117546/171133918-64687925-88e9-4c31-9213-a556c44735c5.png)
日志：[workerlog.txt](https://github.com/PaddlePaddle/PaddleDetection/files/8803756/workerlog.txt)
看报错是loss出现了nan，调整学习率依然会出现这种问题，最后相同的标签和数据集用pytorch版本的yoloe也是可以正常训练的，说明数据集应该没问题。

[2022-05-31 11:13] wangxinxin08 commented on #6093
没有进到loss计算的部分，看下来还是数据的问题，你可以先用ppdet的yolov3训练下试试

[2022-05-31 11:27] zmdcs opened #6104 "ppyoloe没问题吗？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

### 错误信息
ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [1, 2100, 2] and the shape of Y = [8400, 2]. Received [2100] in X is not equal to [8400] in Y at i:1.
  [Hint: Expec

[2022-05-31 11:48] Cuzny commented on #5728
你好，请问人体属性识别的StrongBaseline会开源吗？想要新增一个衣着颜色的属性。

[2022-05-31 12:05] lyuwenyu commented on #6097
1. reg_max就是把那个默认值 改小一点.
2.正常吧 那个是backbone里分类的head不需要加载到det里

[2022-05-31 12:31] lyuwenyu commented on #6099
测试模型时间的话你需要把 加载时间去掉 另外加上warmup 多次求平均 不然的话波动很大

[2022-05-31 12:33] lyuwenyu commented on #6101
收到 这个指的是https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/python，，，   之后会修复或者感兴趣的话你也可以提个PR修改下

[2022-05-31 12:36] lyuwenyu commented on #6103
这个目前不支持的  给个思路是修改Decode的代码  加上逻辑  比如到达epoch之后 去固定地方读取图片和gt

[2022-05-31 12:37] lyuwenyu commented on #6104
这是训练过程中出的错误？  类别啥的改了没

[2022-05-31 12:38] nemonameless commented on #6104
ppyoloe没问题。这个报错可能是你改动了训练尺度导致的，请自己再仔细检查下除了epoch还有什么改动，或者重新拉取develop或release/2.4分支代码什么都不改再训下试试。

[2022-05-31 12:49] zmdcs commented on #6104
算是训练过程吧，一启动命令就报这个错误 @lyuwenyu

[2022-05-31 12:52] zmdcs commented on #6104
@nemonameless 我今天的算力用光了，我可能明天才能回答你的问题了，不过我在算力用光前，从GitHub上看ppyoloe的base文件夹下的三个文件，一一对比，除了epoch，应该是没有改动的。不过我不确定我是不是哪天打开的时候不小心碰了键盘，所以不确定，等我明天能跑了，再来回复。

[2022-05-31 13:00] lyuwenyu commented on #6104
好的

[2022-05-31 13:17] zmdcs commented on #6104
@nemonameless 我刚刚用cpu的环境跑了一下，我将GitHub上的代码复制粘贴，修改了ppyoloe_reader.yml中的worker num为0，仍然报这个错误。
以下是整体的配置文件，我修改的是snapshot_epoch不是epoch但我觉得也不是导致这个问题的原因吧？
![image](https://user-images.githubusercontent.com/40875421/171182493-3e79270c-6916-471f-bbe9-515660b94ec0.png)

[2022-05-31 13:20] mingheyuemankong commented on #4264
你好现在那个代码库又更新了，留的三个链接地址好像都是不对的，代码又不知道添加在哪了，方便再更新一下解决办法吗？

[2022-05-31 13:28] mingheyuemankong commented on #5830
我按照下面这两个链接添加代码，均报错误，应该是代码进行了更新，方便重新更新一下问题解决办法吗？？？
在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L416 和 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/optimizer.py#L426 之后加入以下代码

[2022-05-31 14:25] todaysky1234 opened #6105 "PPYoloel 导出模型指定image_shape后报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在PaddleDetection release/2.4和PaddleDetection: develop下都进行了实验，问题一致；

在指定图像大小是 [3,640,640]时正常，指定为[3,960,960]或[3,1280,1280]时均报错

[code]

[

[2022-05-31 14:46] lyuwenyu commented on #6105
改一下reader里的eval_height 和 eval_width https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/_base_/ppyoloe_reader.yml

[2022-06-01 01:15] #6105 closed, assigned to nobody

[2022-06-01 02:32] FengYi-67 opened #6108 "训练好的S2ANet在 “PC端” 和 “paddle lite处理后部署到移动端” 的结果不一样"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

左边是PC端推理的结果；右边是部署到移动端上的推理结果
![Snipaste_2022-05-31_14-24-15](https://user-images.githubusercontent.com/76467819/171315831-7a1b824f-a7b6-

[2022-06-01 02:43] jerrywgz commented on #6083
将特征图按channel纬度叠加，然后映射到0-255区间就可以

[2022-06-01 03:58] wangyidong3 opened #6109 "推理结束如何有效释放GPU内存"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

    PaddlePaddle版本：（PaddlePaddle 2.2.0）
    操作系统信息：（如Linux/）
    Python版本号：（如Python3.6）
    CUDA/cuDNN版本：（ CUDA10.2）
    其他内容: （增加其他与问题相关的内容）

现在python程序中需要控制推理时间，timer时间到就退出模型推理，并释放内存。
而现在退出时，即使del predictor及相关变量， 并 gc.collection 后，内存仍然无法释放。

请问有什

[2022-06-01 05:37] dengmingD opened #6110 "c++预测报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

<img width="797" alt="20220601133447" src="https://user-images.githubusercontent.com/72127773/171334941-9b387eb0-a275-4000-9bf6-c67ef7a

[2022-06-01 05:50] dengmingD commented on #6081
paddle_inference\third_party\install\paddle2onnx\lib

[2022-06-01 05:51] dengmingD commented on #6081
这个目录下有，copy到Release下

[2022-06-01 06:18] jimmyflycv commented on #6070
I have got simillar conclusion on my pvt dataset, no improvement with siou.
I guess the paper should include ablation results on public models instead of a new model.
Besides, i have already tried pvt designed loss funcion simillar to siou last month and get no improvement on coco.

[2022-06-01 06:50] dengmingD commented on #6110
调试信息如下：
“main.exe”(Win32): 已加载“D:\work\projects\PaddleDetection\deploy\cpp\Release\main.exe”。模块已生成，不包含符号。
“main.exe”(Win32): 已加载“C:\Windows\System32\ntdll.dll”。
“main.exe”(Win32): 已加载“C:\Windows\System32\kernel32.dll”。
“main.exe”(Win32): 已加载“C:\Windows\System32\KernelBase.dll”。
“main.exe”(Win32): 已加载“C:\Windows\System32\shlwapi.dll”。
“main.exe”(Win32): 已加载“C:\Windows\System32\msvcrt.dll”。
“main.ex

[2022-06-01 07:51] lyuwenyu commented on #6104
不是你自己的数据嘛  说的是num_classes

[2022-06-01 08:28] heyiamarthur opened #6111 "ppyoloe图像输入尺寸864x480，使用TensorRT预测的时候报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

训练ppyoloe，数据集原始尺寸是1280x720。
如果在配置文件里，设置模型（Train、Eval、Test）输入尺寸是640x640，导出模型之后使用`--run_mode=paddle`或者`--run_mode=trt_fp32`都能够进行预测。
如果在配置

[2022-06-01 08:56] pengyuanzhang666 commented on #5391
请问解决了吗我也遇到了同样的问题

[2022-06-01 11:53] Jeling-W opened #6112 "训练测试评估正常，导出模型出错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我对Picodet的主干网络ESNet做了一些改动，改动后的整个网络训练测试评估都是正常的，但是使用export_model.py导出模型时出错了，出错原因如下：

[06/01 19:42:38] ppdet.engine INFO: Export inference config file to inference/picodet_l_640_coco/infer_cfg.yml
Traceback (most recent call last):
  File "/media/wlj/

[2022-06-01 14:43] uuyymilkyl opened #6113 "openvino部署C++ 运行pidodet_demo报错"
### 问题描述 Please describe your issue

start init model
success
terminate called after throwing an instance of 'InferenceEngine::GeneralError'
  what():  Cannot find blob with name: save_infer_model/scale_4.tmp_1
已放弃

[2022-06-01 22:16] #6109 closed, assigned to nobody

[2022-06-02 01:55] #6101 closed, assigned to nobody

[2022-06-02 02:35] terrancraft commented on #6081
谢谢 我做一下尝试

[2022-06-02 02:47] yghstill commented on #6113
@uuyymilkyl 已在 #6114 修复，https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/third_engine/demo_openvino/picodet_openvino.h#L57-L60 改为：
[code]

[2022-06-02 03:14] nemonameless commented on #6111
trt预测命令里加上```--trt_max_shape=864 --trt_min_shape=480 --trt_opt_shape=640```试试

[2022-06-02 03:22] nemonameless commented on #6112
``` ~~~~~~~~~~ <--- HERE```的地方就是报错，动转静导出报错需要看上下文很多关联代码，建议把esanet.py整个代码或forward函数内容展示下方便排错。

[2022-06-02 03:40] nemonameless commented on #5715
您好，AP正常波动范围大约是1个点。
提问请至少说明训练的什么模型，改动了什么配置文件，以便更快排查问题谢谢。

[2022-06-02 03:45] nemonameless commented on #5457
[#4912](https://github.com/PaddlePaddle/PaddleDetection/issues/4912)
https://github.com/PaddlePaddle/PaddleDetection/blob/develop/ppdet/utils/visualizer.py#L123   改动这一行就可以

[2022-06-02 03:49] nemonameless commented on #5461
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/engine/export_utils.py#L83
label_list是通过读取anno_file的配置，也就是你数据集配置里的TestDataset里的anno_path，修改anno_path即可。如果找不到anno_path默认是会加载coco80类。

[2022-06-02 04:13] 875052544 opened #6117 "PPYOLOE loss_cl非常大"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

[06/02 11:49:40] ppdet.utils.checkpoint INFO: Finish loading model weights: /root/.cache/paddle/weights/CSPResNetb_x_pretrained.pdparam

[2022-06-02 04:39] 875052544 commented on #6048
我也是同样的问题，用的是PPYOLOE的x版本 s和l版本都没这个问题

[2022-06-02 05:28] 875052544 commented on #6117
[06/02 13:10:46] ppdet.engine INFO: Epoch: [80] [  0/327] learning_rate: 0.016089 loss: 63.948833 loss_cls: 62.604023 loss_iou: 0.386131 loss_dfl: 0.758962 loss_l1: 0.285528 eta: 2 days, 10:36:25 batch_cost: 2.9328 data_cost: 1.0341 ips: 5.4555 images/s
[06/02 13:14:02] ppdet.engine INFO: Epoch: [80] [300/327] learning_rate: 0.016044 loss: 68.280579 loss_cls: 67.029465 loss_iou: 0.344272 loss_dfl:

[2022-06-02 05:44] 875052544 commented on #6117
[06/02 13:38:07] ppdet.engine INFO: Epoch: [0] [  0/104] learning_rate: 0.000000 loss: 4.043756 loss_cls: 0.261828 loss_iou: 0.946129 loss_dfl: 2.833213 loss_l1: 6.674616 eta: 4 days, 11:23:10 batch_cost: 12.3907 data_cost: 9.6204 ips: 4.0353 images/s
[06/02 13:39:18] ppdet.engine INFO: Epoch: [0] [100/104] learning_rate: 0.003846 loss: 3.900480 loss_cls: 1.379240 loss_iou: 0.651883 loss_dfl: 1.28

[2022-06-02 05:55] wangxinxin08 commented on #6108
感谢你的反馈，我们近期会验证定位下

[2022-06-02 06:05] ghostxsl commented on #6117
尝试一下不加--amp训练

[2022-06-02 06:08] 875052544 commented on #6117
我看过另一篇帖子 尝试过没加amp 但是loss的结果还是飙升

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "shangliang ***@***.***&gt;;
发送时间: 2022年6月2日(星期四) 下午2:05
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] PPYOLOE loss_cl非常大 (Issue #6117)

尝试一下不加--amp训练

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you au

[2022-06-02 06:10] ghostxsl commented on #6117
调小学习率试一下

[2022-06-02 06:23] dengmingD commented on #6110
//// Load model and create a object detector
  PaddleDetection::ObjectDetector det(FLAGS_model_dir,
                                      FLAGS_device,
                                      FLAGS_use_mkldnn,
                                      FLAGS_cpu_threads,
                                      FLAGS_run_mode,
                                      FLAGS_batch_size,

[2022-06-02 06:58] KyrieHee opened #6118 "paddleserving 执行test_client.py报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

[code]

### 复现环境 Environment

PaddleDetection版本： 2.1

- paddle-bfloat                 0.1.2
- paddle-ernie                  0.2.0.dev1

[2022-06-02 07:10] yghstill commented on #5933
@liupeng0606 是跑哪个模型呢？

[2022-06-02 07:12] ghostxsl commented on #5932
我们的开发人员正在排查问题，后续会提PR修复～

[2022-06-02 07:14] 875052544 commented on #6117
loss应该不和学习率有关吧？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleDetection"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月2日(星期四) 下午2:10
***@***.***&gt;;
***@***.******@***.***&gt

[2022-06-02 07:37] heyiamarthur commented on #6111
你好，加了`--trt_max_shape=864 --trt_min_shape=480 --trt_opt_shape=640`以后还是会报一样的错误。

[2022-06-02 08:32] ghostxsl commented on #6118
你跑的是什么模型？

[2022-06-02 11:36] haizeigh opened #6121 "关键点检测HRNet-w32在coco数据上表现比原始论文的结果还要好？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

关键点检测HRNet-w32在coco数据上AP=76.9，输入尺寸256x192，原始论文的结果是AP=74.4，比原始论文的表现还好，是修改了HRNet-w32什么结构吗？
数据来源地址
https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/keypoint

[2022-06-02 14:30] Abris-087 opened #6123 "训练报错 /paddle/paddle/fluid/operators/bce_loss_op.cu:38"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

您好，我将yolov3的backbone替换为swim transform，训练初期就出现如下报错。尝试过修改learning rate没能解决这个问题，请问我该怎么做呢？  版本是paddledet-2.3
![image](https://user-images.githubusercontent.com/61613537/171652936-d7b150bb-c2c1-4d10-a194-7f512b6de927.png)
![image](https://user-images.gi

[2022-06-02 14:44] zhouyuchong commented on #5728
@Cuzny 这篇论文来源于[here](https://arxiv.org/pdf/2107.03576v2.pdf)，本身就是开源的，代码在github上[here](https://github.com/valencebond/Rethinking_of_PAR)。颜色属性是自带的，但是在训练之前需要选择需要的属性（那个数据集里面的属性特别多）。
但是飞浆的mA比原文还高了8、9个百分点属实把我震撼了。推理速度也特别快，我自己2080ti上一张图要推理几十毫秒飞浆数据是2ms?不知道是不是进行了什么改动。

[2022-06-02 15:11] Q2539958 opened #6124 "WRN paddlepaddle version: 2.2.2. The dynamic graph version of PARL is under development, not fully tested and supported"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

请问我Paddle安装的是2.2.2版本，PaddleSlim版本为2.2.2，依然还是会出现这个警告，这个对GFLOPS的计算会有影响吗，我看我计算的GFLOPS和论文中的差距较大

[2022-06-03 02:51] 2050airobert commented on #6097
然而，发现检测小物体的能力很有限，比如排球等。。。
不知道是否有什么建议呢，尤其是picodet这块该如何支持小物体？

[2022-06-03 05:29] KyrieHee commented on #6118
deploy 中serving  readme提供的案例

[2022-06-03 06:47] fpjnice commented on #5994
您好这个问题解决了吗

[2022-06-03 07:02] fpjnice commented on #5994
您好这个问题具体怎么解决呢

[2022-06-03 07:05] fpjnice opened #6125 "@houjingsong 默认是所有的conv都会加入fake量化节点的，这属于已知问题，我们解决下。"
@houjingsong 默认是所有的conv都会加入fake量化节点的，这属于已知问题，我们解决下。

_Originally posted by @yghstill in https://github.com/PaddlePaddle/PaddleDetection/issues/5994#issuecomment-1128705037_

[2022-06-03 07:08] sdreamforchen commented on #6070
哎。我也打算下一个尝试这个SIou的，原理上貌似还可以的。  不知道这样如何，先训练一个baseline或其他。只改这个IOU相关的，把训练好的权重作为pretrain-weights输入进去，这样可以减少训练的epoch。lr估计得设计小一点才行。 不知道你打算怎么做

[2022-06-03 07:33] jiangxinufo commented on #6098
是加了这个参数的，但是仍然按着图像的顺序进行划分。
python tools/x2coco.py --dataset_type labelme --json_input_dir ./tools/labelme/grain_coco/labelme_annos/ --image_input_dir ./tools/labelme/grain_coco/labelme_imgs/ --output_dir ./tools/labelme/grain_coco/cocome/ --train_proportion 0.8 --val_proportion 0.2  --test_proportion 0.0

[2022-06-03 07:36] jiangxinufo commented on #5979
之前确实重新生成了下anchor，但是图像中有大，有小，物体大小比较随机，效果有所提升，但是不明显？还有是什么可行的优化方案吗

[2022-06-03 08:31] fpjnice commented on #3415
我也想问如何定义新模块

[2022-06-03 11:37] KyrieHee commented on #6118
deploy 中serving  readme提供的案例

[2022-06-03 11:50] yghstill commented on #6125
@fpjnice 近期会高优看下这个问题，请先使用SSDLite模型或者Head部分最后一层conv先跳过~

[2022-06-03 11:52] fpjnice commented on #6125
我已经解决了这个问题。做法是自己def 了一个convlayer 类，类内部添加了 forward函数 就可以了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Guanghua ***@***.***&gt;;
发送时间: 2022年6月3日(星期五) 晚上7:50
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] @houjingsong 默认是所有的conv都会加入fake量化节点的，这属于已知问题，我们解决下。 (Issue #6125)

@fpjnice 近期会高优看下这个问题，请先使用SSDLite模型或者Head部分最后一层conv先跳过~

—
Reply

[2022-06-04 03:17] Tongfengyu commented on #5589
请问load_meanstd的作用是什么？为什么在这里加这个？相关代码在哪里查看？

[2022-06-04 05:02] Abris-087 opened #6126 "模型部署树莓派报错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我训练了一个主干网络为swin transformer的检测网络，运行export.py导出之后，利用opt转化为.nb模型时报错。
![image](https://user-images.githubusercontent.com/61613537/171984177-30bfe8f0-7e9a-4c84-a9c6-206a815ec8aa.png)
![image](https://user-images.githubusercontent.com/61613537/171984182

[2022-06-04 06:23] simon-sxx commented on #2241
@yunkchen 请问主进程和子进程都用到了paddle怎么办呀，

[2022-06-04 07:02] simon-sxx commented on #5465
@zct-cap @klkkkkl @zoooo0820 请问解决了吗

[2022-06-05 00:25] yuwoyizhan opened #6127 "C++编程需求"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

pytorch在一年多以前,就非常完善的支持C++编程了,比如图像分类这个任务,可以从头到尾,不使用一行python代码完成数据集下载,加载,训练,预测等步骤.知乎和CSDN也有很多pytorch的C++编程代码,可以让我们学习和参考.目前我都没看到一个项目使

[2022-06-05 01:12] zhouweic36 opened #6128 "基于深度学习的目标模板跟踪（咨询学习方法和途径问题）"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

paddledetection 中提供了基于数据驱动的目标检测解决方案，但类似的传统跟踪算法应用场景，如KCF，给定一个目标模板和一张图，得到目标在这张图的位置；类似的这类应用，运用深度学习的解决方案，paddledetection中似乎文档和例程不是很多，这篇是：基于孪生网络的目标跟踪网络SiamFC；https://aistudio.baidu.com/aistudio/projectdetail/3423489?channelType=0&channel=0，我想咨询：这些应用，如果在

[2022-06-05 01:46] heyiamarthur commented on #6111
排查问题发现是在TensorRT上运行MultiClassNMS存在问题：
[code]

[2022-06-05 01:46] #6111 closed, assigned to nobody

[2022-06-05 03:04] 1171000410 opened #6129 "nms外部扩展库编译出错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在 ppdet/ext_op/目录下执行

# 编译nms
python setup.py install

<img width="1895" alt="截屏2022-06-05 上午10 58 58" src="https://user-images.githubu

[2022-06-05 06:31] pphgood opened #6130 "Linux C++部署 最后一步报错，无法生成main文件"
### 问题确认 Search before asking

- [x] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![1](https://user-images.githubusercontent.com/101175483/172038357-8a850c70-8c4a-4892-bb79-8cd454f226dc.png)
在C++部署，运行build.sh文件 最后100%时报错，build.sh文件中配置路径已经修改正确，环境要求也配置正确，这个问题不知道怎么解决

[2022-06-05 06:34] pphgood commented on #6130
PPYOLOV2模型

[2022-06-05 06:45] pphgood commented on #5285
楼主 我和你是一样的问题 请问你解决了吗

[2022-06-05 08:39] pphgood commented on #2704
我是ubuntu版本但是也遇到了和你一样的错误

[2022-06-05 08:47] nemonameless commented on #6128
SiamFC 是单目标跟踪SOT，只能跟踪一个给定的物体，不分类别。paddledetection没有支持单目标跟踪，提供的是多目标跟踪MOT(fairmot,JDE,DeepSORT,ByteTrack)，同一类的所有物体都会进行跟踪。MOT训练参考[文档](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/mot)，部署参考[文档](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/pptracking)，官方aistudio[项目](https://aistudio.baidu.com/aistudio/projectdetail/3022582)。SOT长期内会考虑支持。

[2022-06-05 09:00] pphgood commented on #6130
![FAU2VXD1PL2 7%2~CK12Y%R](https://user-images.githubusercontent.com/101175483/172043246-ca7e3f66-bca8-43b8-9b57-4cf4ac0ede8b.png)
我的环境是cuda10.2 cudnn7.6 gcc8.2

[2022-06-05 11:23] QuStarry opened #6131 "计划将苹果的MobileViT作为骨干网络进行测试吗"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

计划将苹果的MobileViT作为骨干网络进行测试吗

[2022-06-06 02:31] ghostxsl commented on #6118
你改过代码没有？我看你报错信息是找不到key：im_size，这个在我们的模型中是没有的，应该是im_shape

[2022-06-06 02:59] jerrywgz commented on #6121
我们给出的AP精度是基于coco gt框的结果，精度会高一些；论文中的结果是使用检测器的结果，可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/develop/configs/keypoint#2%E6%95%B0%E6%8D%AE%E5%87%86%E5%A4%87 网络结构上是和论文对齐的

[2022-06-06 03:01] jerrywgz commented on #6123
从日志上看是训练出现了nan的情况，可以先确认下如果不使用swin 的backbone，训练是否正常

[2022-06-06 03:05] jerrywgz commented on #6124
可以尝试下paddle.flops https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/flops_cn.html#flops

[2022-06-06 05:12] lNeveryday commented on #3119
请问如何解决呢

[2022-06-06 07:05] sdreamforchen opened #6132 "训练之初打印网络架构"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

paddle在训练之初可以打印整个网络架构不呢？有便捷的接口吗

### 是否愿意提交PR Are you willing to submit a PR?

- [X] Yes I'd like to help by submitting a PR!

[2022-06-06 09:12] pphgood commented on #6130
使用文档中是ubuntu 16.04 而我是ubuntu 18 不知道这个有影响吗

[2022-06-06 09:19] ZhiluDing commented on #5190
请问你解决这个问题了吗？我在nano上也遇到类似的问题了 @liuzimo

[2022-06-06 09:43] BainOuO opened #6134 "cannot import name 'ShapeSpec'"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

python ppdet/modeling/tests/test_architectures.py

Ran 1 test in 0.000s

FAILED (errors=1)

Error
Traceback (most recent call last):

[2022-06-06 10:14] VantastyChen commented on #6130
我用自己编译的opencv，解决了这个问题。

[2022-06-06 10:23] xdg2016 opened #6135 "solov2 c++推理和python推理不一致"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

您好，我这边用了python的推理脚本：PaddleDetection\deploy\python\infer.py可以顺利的进行推理。但是，在使用c++部署时，predictor->Run() 运行后，auto output_names = predictor->GetOutputNames() 的结果与python版完全不一样：
![image](https://user-images.githubusercontent.com/16351823/172142801-827c910f-5

[2022-06-06 10:25] ZhiluDing commented on #5428
我也遇到一样的问题了，use_static = True 之后也是不停的重新生成序列号文件，时间都耗在这上面了 @Monday-Leo ，请问你解决了吗？

[2022-06-06 10:34] ZhiluDing commented on #3314
我这边在jetson nano上也遇到这种问题了，有解决吗？

[2022-06-06 11:39] nemonameless commented on #6132
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/engine/trainer.py#L384
可以加上 print(self.model)

[2022-06-06 16:39] haizeigh commented on #6121
好的，谢谢了

[2022-06-06 16:39] #6121 closed, assigned to nobody

[2022-06-07 01:28] KyrieHee commented on #6118
已修复，依赖包升级后没问题了，谢谢

[2022-06-07 01:28] #6118 closed, assigned to nobody

[2022-06-07 02:21] zly19540609 commented on #5249
What time cpp keypoint deloy  can support HigherHRNet model(EvalAffine Bottom-Up)? Thanks

[2022-06-07 02:33] hobeter commented on #5830
@mingheyuemankong

似乎应该是这里
<img width="595" alt="截屏2022-06-07 10 24 14" src="https://user-images.githubusercontent.com/55823642/172282910-1aec4734-7859-44b8-9309-5ffbfd3d6ef1.png">
改成

[code]

然后这两处
<img width="568" alt="截屏2022-06-07 10 25 15" src="https://user-images.githubusercontent.com/55823642/172283010-df708d2f-4e16-47f4-87f9-7237e8f04cc4.png">
后面添加
[code]

[2022-06-07 02:36] heavengate commented on #6134
你好，你用的哪个版本呢

[2022-06-07 08:12] misakayuuki opened #6146 "PPtracking 运行fairmot模型报错cuda error 719"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

GPU运行pptracking的fairmot模型报错CUDA Error (719),CPU版本运行无问题
尝试过多个cuda与cudnn版本，报错内容均一致

目前paddlepaddle版本为2.3.0，paddle detection版本为2.4，python为

[2022-06-07 08:18] nemonameless commented on #6146
运行命令是？```运行paddlepaddle的检测与paddledetection的检测均无问题```是指版本检查paddlepaddle和paddledetection无误吗？

[2022-06-07 08:26] misakayuuki commented on #6146
paddle.utils.run_check()
与
python ppdet/modeling/tests/test_architectures.py

[2022-06-07 08:34] lixiangMindSpore opened #6147 "ppyoloe-s如何基于已训练好的模型再次训练？"
### 问题描述 Please describe your issue

ppyoloe-s如何基于已训练好的模型再次训练？

[2022-06-07 08:36] VantastyChen commented on #3314
https://github.com/PaddlePaddle/Paddle/issues/33276#issue-908976686 你看看

[2022-06-07 08:41] zoooo0820 commented on #6135
@xdg2016
你好，我这边验证结果是正常的，也能与python对齐，请问paddledet的版本是否是develop，如果是2.4的话可以切换到develop试一下。另外paddle inference的版本是多少呢？

[2022-06-07 08:47] YixinKristy commented on #5728
PP-Human的属性识别及行为识别的训练教程将在本月底前发布~

[2022-06-07 08:52] jerrywgz commented on #6126
麻烦提供下paddlelite的版本信息

[2022-06-07 08:55] firedent opened #6148 "python部署代码预处理进行标准化时可能会更改原有图片数据"
https://github.com/PaddlePaddle/PaddleDetection/blob/405a953917a1ba8ca0559c143c44c27f4b22fc57/deploy/python/preprocess.py#L109-L140

如果`is_scale==False`，存储图像的numpy对象（`im`）在进行自减和自除之后会对传入的图像数据进行修改。
如果`is_scale==True`，由于`im = im / 255.0 `导致`im`变成一个新对象，则不会对传入的图像数据进行修改。

无论resize的初衷是改变原数据还是不改变原数据，由于`is_scale`导致函数行为不一致，我认为这是一个bug。

[2022-06-07 09:01] jerrywgz commented on #6127
第一个问题，目前飞桨还不支持C++的编程方式，可以在Paddle repo下提个issue看看
第二个问题，目前ppdet下面是对c++预测做了封装，代码和文档可以参考https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/cpp 编译完成后用一行命令就可以完成预测
第三个问题，在https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/cpp/src/main.cc 下可以通过设置cpu_threads指定cpu线程个数

[2022-06-07 09:03] jerrywgz commented on #6129
这个nms是自定义op的形式自己开发的吧，可以参考这个文档https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/custom_op/new_cpp_op_cn.html

[2022-06-07 09:07] jerrywgz commented on #6131
目前还没有计划集成该骨干网络，现在paddleclas已经集成了这个模型，也欢迎向paddledetection贡献这部分骨干网络的代码～

[2022-06-07 09:08] jerrywgz commented on #6147
再次训练是基于已有数据继续训练还是会加入新数据和类别做迁移学习呢

[2022-06-07 09:13] lixiangMindSpore commented on #6147
以下两种情况：
1  加入新数据和类别作迁移学习，需要用到之前已训练好的模型，比如在COCO数据集上训练好的模型；
2  如果中间机器重启需要接着训练。

[2022-06-07 09:21] #6113 closed, assigned to nobody

[2022-06-07 09:50] jerrywgz commented on #6148
预处理是会对输入数据直接改动，你这里是需要对原始图像做后续处理吗

[2022-06-07 09:52] jerrywgz commented on #6147
第一种情况，配置文件中的pretrain_weights设置为coco数据集上的权重就可以，然后适当调低学习率
第二种情况，命令行中使用`-r xxx.pdparams`即可，可以参考文档https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/docs/tutorials/GETTING_STARTED_cn.md#4-%E8%AE%AD%E7%BB%83

[2022-06-07 09:56] lixiangMindSpore commented on #6147
第一种情况是指ppyoloe_crn_s_300e_coco.yml配置文件吗？把backkbone模型pretrain_weights: https://paddledet.bj.bcebos.com/models/pretrained/CSPResNetb_s_pretrained.pdparams  改成基于COCO训练好的检测模型？

[2022-06-07 10:01] ccLemonTree commented on #5728
你好，我想问一下我更改了infer_config.yml中ACTION的max_frames参数 对视频进行推理时为什么会出现这个错误
![image](https://user-images.githubusercontent.com/94359077/172352544-273fc21e-e401-4b42-9241-f1a7e5711732.png)
![image](https://user-images.githubusercontent.com/94359077/172353134-27f4f932-71d2-43b3-947f-22349010d6b1.png)

[2022-06-07 10:06] Monday-Leo commented on #5428
暂未解决。

[2022-06-07 10:06] misakayuuki commented on #6146
paddle.utils.run_check()
与
python ppdet/modeling/tests/test_architectures.py

[2022-06-07 10:49] pphgood commented on #6130
你自己编译的是哪个版本的opencv呢

[2022-06-07 10:53] jerrywgz commented on #6147
是的，改这个就行
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyoloe/ppyoloe_crn_s_300e_coco.yml#L13

[2022-06-07 10:59] firedent commented on #6148
是的，需要对原始图像做后续处理。问题倒不在于预处理是否会对输入数据进行直接改动，问题在于**根据`is_scale`值的不同，NormalizeImage的行为不一致**。如果`is_scale==True`，resize永远不会对原始图像进行改动。这种**不一致**，是一个bug。

[2022-06-07 11:40] nemonameless commented on #6146
PPtracking 运行fairmot模型报错的命令是什么？

[2022-06-07 12:28] njuptzwt commented on #6099
想问一下，我在测单张图片的时候，发现dataloader加载的这一过程远比预测的时间要长？请问dataloader这边可以做什么优化能够对单张图片快速加载预测呢？

[2022-06-08 01:09] zhouweic36 commented on #6128
恩，谢谢，我想用例如轻量级网络picodet等，用picodet提取模板的特征向量，再通过爬山法在另一张图上找到与模板图特征向量最相近的位置。但picodet不包括后处理的网络输出表示什么？有资料说明吗？

[2022-06-08 01:24] misakayuuki commented on #6146
python deploy/pptracking/python/mot_jde_infer.py --model_dir=output_inference/fairmot_hrnetv2_w18_dlafpn_30e_1088x608_visdrone_vehicle --video_file=VF1.mp4 --device GPU --draw_center_traj

[2022-06-08 02:20] jerrywgz commented on #6148
现在deploy/python/preprocess.py中的resize和is_scale是无关的吧，不是很理解这里的不一致是怎么看出来的

[2022-06-08 02:21] firedent commented on #6148
当前这个函数的使用场景下，因为传入的im.dtype总是uint8，所以resize的行为为：不改变原有im。但是resize本身依然有行为不一致的风险（传入im.dtype为float64，is_scale为false时，会修改原有im）。

[2022-06-08 02:37] firedent commented on #6148
不好意思，写错了，是NormalizeImage，不是Resize
[code]
 传入dtype为float32，is_scale为false时：NormalizeImage**会**改变im_origin
 传入dtype为float32，is_scale为true时：NormalizeImage**不会**改变im_origin
 传入dtype为uint8，is_scale为false时：NormalizeImage**不会**改变im_origin
 传入dtype为uint8，is_scale为true时：NormalizeImage**不会**改变im_origin

[2022-06-08 03:18] MintonLee commented on #4387
所以解决了吗？百度框架确实不太行。。。。官方都不解答，，，，

[2022-06-08 03:26] xdg2016 commented on #6135
@zoooo0820 paddle inference 版本是2.1，paddledet 是develop版本，看到最新的deploy已经支持了solov2，我测试了那个cpp里面的object_detector.cc，就出现了前面的那个错误，难道是paddle inference版本太低了吗，去年编译的。

[2022-06-08 03:52] Dandelion111 opened #6152 "训练结束后跳出bug"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

把worker_num设置为6，会出现如下错误
![41b70bf3dd79dd731b5b8fd2db1a93d](https://user-images.githubusercontent.com/48303408/172527320-b6c4fb82-a1e7-4

[2022-06-08 06:04] FengYi-67 commented on #5558
“量化训练后的模型”导出后预测不出来结果 这个问题解决了吗，我也遇到这样的情况了。

[2022-06-08 06:07] FengYi-67 commented on #5626
这个问题解决了吗，我也遇到这样的问题了，可以解答一下吗

[2022-06-08 06:55] Heimdall-Nss commented on #4617
我也遇到这个问题了，和题主需求一样，请问有找到合适的解决方案吗

[2022-06-08 08:33] pphgood commented on #6130
请问自己编译的opencv 在build.sh文件中需要怎么修改配置

[2022-06-08 09:13] xing5933 commented on #5262
非常感谢

[2022-06-08 09:13] #5262 closed, assigned to yghstill

[2022-06-08 10:16] yghstill commented on #6152
@Dandelion111 感谢反馈，是windows机器吗？结束时报错是每次必现的吗？

[2022-06-08 10:21] Dandelion111 commented on #6152
linux机器，worker_num只要设置为6每次都报错，我只尝试了0和6这两个值，设置为0不报错

[2022-06-08 10:23] Dandelion111 commented on #6152
我用pycharm训练的

[2022-06-08 11:01] zoooo0820 commented on #6135
辛苦先更新inference版本试下呢，可以在这里找到 https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html

[2022-06-08 11:18] DevilMay-Cry opened #6161 "训练过程中报错异常退出"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用命令 nohup /usr/local/bin/python3 tools/train.py -c configs/ppyolo/ppyolov2_r50vd_dcn_365e_coco.yml --eval >train0608.out 2>&1 &训练模型
然后模型会异常退出

Traceback (most recent call last):
  File "/usr/local/python3.7.0/lib/python3.7/site-packages/paddle/flu

[2022-06-08 11:45] yghstill commented on #6161
@DevilMay-Cry PaddlePaddle和PaddleDetection的版本分别是多少？将worker_num设成0再试下呢？https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/ppyolo/_base_/ppyolov2_reader.yml#L1

[2022-06-08 11:46] yghstill commented on #6152
@Dandelion111 看下/dev/shm空间是不是满了？
[code]

[2022-06-08 12:50] Dandelion111 commented on #6152
你好，这个没有满，才用了1%，我又试了下，训练picodet_xs模型200轮cpu大概增加了10g内存，训练picodet_s模型并且把worker_num设置为0的时候情况会好一些，之前训练ppyoloe也没有这个问题，问题是我同事和我用的一个服务器，他那边都正常，我俩的训练环境也一致，

[2022-06-08 12:59] Dandelion111 commented on #6152
具体报错：

Traceback (most recent call last):
  File "/home/zhaohaibin/paddle/PaddleDetection-release-2.4/tools/train.py", line 177, in <module>
    main()
  File "/home/zhaohaibin/paddle/PaddleDetection-release-2.4/tools/train.py", line 173, in main
    run(FLAGS, cfg)
  File "/home/zhaohaibin/paddle/PaddleDetection-release-2.4/tools/train.py", line 127, in run
    trainer.train(FLAGS.eval)
  File "/

[2022-06-08 14:06] lijianyu1985 opened #6163 "pphuman 可以压缩精简并转换成PaddleJS的格式么？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

我们打算在浏览器中运行模型推理，想问问pphuman可以压缩精简并转换成PaddleJS的格式么？或者压缩成lite格式，在树莓派这种类似的设备上运行？我们需要做视频实时推理

[2022-06-08 23:39] wawatt commented on #3439
你好，这个报错解决了吗

[2022-06-09 01:24] yghstill commented on #6163
可以的，比如lite部署的话可以使用paddlelite工具转换成nb模型进行部署

[2022-06-09 01:26] yghstill commented on #6152
@Dandelion111 看你的报错是`OSError: [Errno 24] Too many open files` 。应该是环境的问题

[2022-06-09 03:41] DevilMay-Cry commented on #6161
paddlepaddle 版本2.3  paddleDetection2.4 按你说的改完后不在报错  感谢

[2022-06-09 05:48] DevilMay-Cry commented on #6161
运行一段时间后出现了一个新的报错
Traceback (most recent call last):
  File "tools/train.py", line 177, in <module>
    main()
  File "tools/train.py", line 173, in main
    run(FLAGS, cfg)
  File "tools/train.py", line 127, in run
    trainer.train(FLAGS.eval)
  File "/paddle/PaddleDetection/ppdet/engine/trainer.py", line 452, in train
    self.optimizer.step()
  File "/usr/local/python3.7.0/lib/python3.7/site-pa

[2022-06-09 06:15] wilile26811249 commented on #6070
@WongKinYiu  可以請問一下你跑的結果如何嗎?
我剛開始跑SIOU的訓練，目前看起來幾乎跟CIOU一模一樣，雖然還沒有跑完，但感受不到論文中的提升。

[2022-06-09 07:03] pphgood opened #6165 "ubuntu下C++部署如何使用自己编译的opencv"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

ubuntu下C++部署如何使用自己编译的opencv？，需要将build,sh文件中下载编译的opencv库代码注释 然后cmake文件也需要修改吗

[2022-06-09 07:06] WongKinYiu commented on #6070
在yolor上最後跑出來SIoU比CIoU低了0.2~0.3% AP (測過三種implementation), 係數也測過{2,4,6}, 效果與CIoU比較都沒有提升.

補充: 在係數4的設定下, 前面80個epoch大概比CIoU高0.2, 後面就反超了.

[2022-06-09 07:16] wilile26811249 commented on #6070
了解 看起來落差不小
我目前係數是設定成4在跑訓練，如果有什麼結果，我再通知你。
謝謝

[2022-06-09 07:17] sdreamforchen commented on #6070
YOLOE改成CIOU会有提升不呢？感谢

---原始邮件---
发件人: "Kin-Yiu, ***@***.***&gt;
发送时间: 2022年6月9日(周四) 下午3:06
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleDetection] PP-YOLOE有没有试验过SIoU Loss(SCYLLA-IoU Loss)？ (Issue #6070)

在yolor上最後跑出來SIoU比CIoU低了0.2~0.3% AP (測過三種implementation), 係數也測過{2,4,6}, 效果與CIoU比較都沒有提升.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You

[2022-06-09 09:24] pphgood commented on #2704
你好，请问怎么修改配置文件使用自己编译的opencv

[2022-06-09 11:06] lijianyu1985 commented on #6163
@yghstill 所以可以 pphuman model -> paddlelite -> paddleJS?

[2022-06-09 12:24] 2050airobert opened #6171 "Sota - tinypose VS movenet!"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

hi，请问下
有对比过tinypose和movenet的人体关键点检测效果吗？
各种精度和识别率指标呢？
有木有相关的测试结果或者网络链接分享，多谢
BR

[2022-06-10 01:33] Student-Fuz opened #6172 "请问能将prior_box设置成int8类型的输入吗？想要借此优化模型"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

正在使用ssd_mobilenet_v1模型，想要修改prior_box的输入数据类型，使卷积全都变成8bit的卷积，实现卷积全量化

### 是否愿意提交PR Are you willing to submit a PR?

- [X] Yes I'd li

[2022-06-10 02:31] lyuwenyu commented on #6172
prior_box设置int8 但是运算的时候是需要float  可以试一下会不会强制转化

[2022-06-10 02:34] wangxinxin08 commented on #6165
无需修改cmake文件，把opencv下载编译的代码注释，设置下opencv_dir

[2022-06-10 02:35] wangxinxin08 commented on #6171
可以看下文档哈：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/keypoint/tiny_pose

[2022-06-10 02:53] 2050airobert commented on #6171
咱们有专门对比过吗？ 或者两个demo的同时展示？

[2022-06-10 02:59] wawatt opened #6173 "数据增强 RandomErasingImage参数缺失"
### 问题确认 Search before asking

- [ ] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

数据增强RandomErasingImage中apply参数与BaseOperator类中的不一致，导致调用报错：
apply() takes 2 positional arguments but 3 were given and stack:
Traceback (m

[2022-06-10 03:13] Student-Fuz opened #6174 "自定义量化节点应该如何实现？包括节点的实现、原静态图的模型加载、保存以及组网？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

as titile

[2022-06-10 03:29] xmy0916 commented on #3439
@wawatt 不知道哎不好用

[2022-06-10 06:36] zhiboniu commented on #6171
你好，上述页面对比表格的开源模型就是movenet的。tinypose的测试可以参考lite部署部分介绍。
movenet的部署对比在说明部分也有提供链接。
地址：https://github.com/zhiboniu/MoveNet-PaddleLite

[2022-06-10 07:13] 2050airobert commented on #6171
谢谢，这些写的很好，只是我想问下，咱们有木有专门对比过tinypose和movenet的精度 效果 以及部署的展示对比？

[2022-06-10 07:55] Student-Fuz commented on #6172
请问具体是改哪里呢？

[2022-06-10 07:56] Student-Fuz commented on #6172
请问具体是改哪里呢？

[2022-06-10 07:56] Student-Fuz commented on #6172
请问具体是改哪里呢？

[2022-06-10 08:30] ZB740927021 opened #6177 "c++调用PPYOLOE的ONNX模型，无法正常输出BBOXS的值"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

c++调用PPYOLO的ONNX模型，输出的结果class_id和置信度的结果输出正常，并且置信度的得分很高，但是X1,Y1,X2,Y2的值输出结果为inf

[2022-06-10 08:30] lyuwenyu commented on #6173
感谢反馈，有兴趣提个PR嘛

[2022-06-10 09:46] Student-Fuz opened #6178 "模型量化：模型fliter显示“Tensor data type 'int8' is not implemented.”"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/87405313/173038978-2a3706e0-f22f-45ea-8e09-16c3c721da74.png)
模型现在这个Tensor data type 'int8' is not implemented是啥意思，是该卷积没有量化成功的意思吗？

[2022-06-10 10:17] lyuwenyu commented on #6177
训练的自己的数据得到的模型嘛

[2022-06-10 10:30] ZB740927021 commented on #6177
对的，训练自己的模型，我使用python代码调训练好的模型没有问题，说明模型是没有问题

[2022-06-10 10:48] ZB740927021 commented on #6177
[](url
![91df16239c2c2b7ad9ff06ce1c3e61e](https://user-images.githubusercontent.com/41182906/173049449-e9082d53-1fc4-45c7-8042-3714c8525616.png)
)

[2022-06-11 07:06] #6152 closed, assigned to nobody

[2022-06-11 07:07] #6027 closed, assigned to yghstill

[2022-06-11 07:07] #6082 closed, assigned to nobody

[2022-06-11 08:17] pphgood commented on #6165
![CQQ9R}_IOB VQXSSA8 V{XM](https://user-images.githubusercontent.com/101175483/173179597-1e9cbff9-0660-4a79-aab8-2734a0c0ae7f.png)
我将opencv_dir 设置了 但是会报这个错，我尝试将cmake文件中报错行修改如下
![TPRDTU6DG$G(9_5N6NIVW E](https://user-images.githubusercontent.com/101175483/173179622-2e80b419-1e57-46db-a648-5803a90cbc13.png)

能够进行编译 但是最后100%时报错
![AS7G2N0 TIP98H1 NGN2Q O](https://user-images.githubusercontent.com/1011

[2022-06-11 08:20] pphgood commented on #6165
而且一直有这个错误
![1](https://user-images.githubusercontent.com/101175483/173179790-7ea5aeb7-1d21-46f3-b40d-58d5441c373a.png)

[2022-06-11 14:01] fpjnice opened #6181 "最后一层卷积层插入量化节点的问题"

[2022-06-11 15:45] #5836 closed, assigned to nobody

[2022-06-11 15:59] yqsoooo opened #6182 "【急】自建模型预测报错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/15975613/173195266-66069e07-0300-481c-9ca2-d6d3853894c4.png)
![image](https://user-images.githubusercontent.com/15975613/173195282-349f9b80-a38a-4570-90dc-9942af76e37f.png)

背景：
这个是我基于 paddle2.3+pa

[2022-06-11 16:00] yqsoooo commented on #6182
![image](https://user-images.githubusercontent.com/15975613/173195433-58db8c7a-720b-4772-b18e-84622fafd2aa.png)

[2022-06-11 18:24] lj976264709 commented on #6085
遇到了一摸一样的问题。
W0612 02:19:41.298940 19480 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 6.1, Driver API Version: 11.6, Runtime API Version: 11.2
W0612 02:19:41.303946 19480 gpu_context.cc:306] device: 0, cuDNN Version: 8.2.
[06/12 02:19:43] ppdet.utils.checkpoint INFO: Finish loading model weights: C:\Users\luojing/.cache/paddle/weights\LCNet_x1_5_pretrained.pdparams
[06/12 02:

[2022-06-12 01:20] heyiamarthur opened #6183 "多卡训练 module 'paddle.fluid.core_avx.ops' has no attribute 'c_broadcast'"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

使用PaddleDetection双卡训练PPYOLOE，报错信息如下：
[code]

目前使用的是Paddle2.3.0（linux-cuda11.2-cudnn8.2-trt8-gcc8.2），多卡训练报错。在上一个版本，即Paddle2.2（linux-cuda

[2022-06-12 06:16] yyyyyyfs commented on #2294
Did you solve this problem please?  Why am I getting this TypeError while training？Help me Please ！ Thank you very much！

[2022-06-12 10:47] nemonameless commented on #6183
你下载的paddle有问题，应该是没有开distributed。建议先换回原先能正常运行的版本。
也可以向paddle提issue，https://github.com/PaddlePaddle/Paddle/issues

[2022-06-12 11:11] nemonameless commented on #6182
```预测日志卡在了显示参数环节、nvidia-smi显示not macth之类的报错。```是你尝试卸载重装了显卡驱动和paddleDetection的python依赖之前还是之后的问题现象？tools/infer 预测官方样例是指哪个？建议先确保排除环境问题后，或者确保原本代码或什么都不改的时候跑样例命令都能跑通，然后再排查你新增代码的问题。NormalizeImage是常见OP，不太可能出错。

[2022-06-12 12:49] TerryMat1999 commented on #6183
![image](https://user-images.githubusercontent.com/47450804/173233995-bafc94a9-373e-41fe-bf4c-483106ac9701.png)
我又下了一遍，还是不行啊。

[2022-06-12 13:18] mingheyuemankong commented on #5830
好的感谢您的回复，问题已经解决。

[2022-06-13 02:32] DevilMay-Cry commented on #6161
您好 可以帮忙看下新的异常是什么问题吗

[2022-06-13 03:02] top18981725185 commented on #6048
我使用了EIOU损失在m模型上会出现nan，在s没有出现nan，在s上使用了mixup数据增强又出现nan了

[2022-06-13 03:36] ZhiluDing commented on #5628
不仅windows上出现了，再jetson nano上面也出现这个问题了，序列化的模型总是重新生成

[2022-06-13 03:38] ZhiluDing commented on #5606
@jo-dean 请问你用ppyolo在jetson nano上面推理速度是多少呀，为啥我的要2.5s之久

[2022-06-13 05:56] jerrywgz commented on #6171
https://baijiahao.baidu.com/s?id=1717359560384671269&wfr=spider&for=pc 可以看下这里面有一些展示对比

[2022-06-13 07:13] 2050airobert commented on #6171
这里明显没有movenet的结果啊！

[2022-06-13 10:46] bittergourd1224 opened #6188 "PPYOLOE训练自有数据集问题"
### 问题描述 Please describe your issue

1. 训练时不加选项--amp，刚开始训练打印了一行log后，就报错：
OSError: (External) CUDA error(719), unspecified launch failure.
  [Hint: 'cudaErrorLaunchFailure'. An exception occurred on the device while executing a kernel. Common causes include dereferencing an invalid device pointerand accessing out of bounds shared memory. Less common cases can be system specific - more information a

[2022-06-14 02:17] zhenjiaa opened #6190 "加入了新的数据均衡策略，前期训练没有问题，但是训练到三万多batch时报下面的错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

W0614 00:04:21.023511 39104 init.cc:239] *** Aborted at 1655136261 (unix time) try "date -d @1655136261" if you are using GNU date ***
W0614 00:04:21.038332 39104 init.cc:239] PC: @                0x0 (unknown)
W0614 00:04:21.043859 39104 init.cc:2

[2022-06-14 03:21] zoooo0820 commented on #6190
paddle和paddledetection的版本分别是多少呢，另外具体改动了什么地方呢

[2022-06-14 03:33] nemonameless commented on #6188
0.请按模板提问，至少说明paddle版本和ppdet版本
1.请截图信息更多点，至少能看到是哪一行报的错
2.加上--amp显示Found inf or nan是paddle混合精度训练的正常现象
3.训自己的数据集用fintune，不要从头训，因为默认配置下bs lr等什么的都是COCO大型数据集的设置，从头训用这套参数未必合适。但是fintune的套路基本一致，加载coco训好的模型，lr变为1/10等，可以参照[visdrone](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/visdrone/ppyoloe_crn_l_80e_visdrone.yml)数据集的fintune配置
4.--amp是混合精度训练，只是减少显存占用防止溢出，任何模型都可以加或不加amp训，精度基本不会变

[2022-06-14 05:31] QixingJiang opened #6191 "30分钟快速入门官方文档中某个单词拼写错误"
### 文档链接&描述 Document Links & Description

在发布的release/2.4 版本中
PaddleDetection/docs/tutorials/GETTING_STARTED_cn.md文件中：
6 预测
XXXXXX
·设置参数预测
XXX
--use_vdl=Ture

### 请提出你的建议 Please give your suggestion

这里的Ture应该为True

[2022-06-14 06:25] zoooo0820 commented on #6191
感谢反馈，我们已经提交pr修复，预计晚些时候可以合入。如果您愿意的话，也欢迎在后续发现类似问题后提交PR修复，帮助我们做得更好~

[2022-06-14 06:26] #6191 closed, assigned to nobody

[2022-06-14 06:52] #4120 closed, assigned to nobody

[2022-06-14 06:52] #4660 closed, assigned to yghstill

[2022-06-14 06:52] #4669 closed, assigned to nobody

[2022-06-14 06:52] #4899 closed, assigned to nobody

[2022-06-14 06:52] #4903 closed, assigned to nobody

[2022-06-14 06:52] #6112 closed, assigned to nobody

[2022-06-14 06:52] #4941 closed, assigned to yghstill

[2022-06-14 06:52] #4950 closed, assigned to yghstill

[2022-06-14 06:52] #4981 closed, assigned to nobody

[2022-06-14 06:52] #5005 closed, assigned to qingqing01

[2022-06-14 06:52] #5042 closed, assigned to yghstill

[2022-06-14 06:52] #5045 closed, assigned to nobody

[2022-06-14 06:52] #5108 closed, assigned to nobody

[2022-06-14 06:52] #5109 closed, assigned to nobody

[2022-06-14 06:52] #5149 closed, assigned to nobody

[2022-06-14 06:52] #5151 closed, assigned to nobody

[2022-06-14 06:52] #5153 closed, assigned to nobody

[2022-06-14 06:52] #5161 closed, assigned to nobody

[2022-06-14 06:52] #5165 closed, assigned to wangxinxin08

[2022-06-14 06:52] #5166 closed, assigned to nobody

[2022-06-14 06:52] #5167 closed, assigned to nobody

[2022-06-14 06:52] #5174 closed, assigned to nobody

[2022-06-14 06:52] #5175 closed, assigned to nobody

[2022-06-14 06:52] #5181 closed, assigned to zoooo0820, zhiboniu

[2022-06-14 06:52] #5183 closed, assigned to nobody

[2022-06-14 06:52] #5188 closed, assigned to nobody

[2022-06-14 06:52] #5193 closed, assigned to nobody

[2022-06-14 06:52] #5196 closed, assigned to nobody

[2022-06-14 06:52] #5198 closed, assigned to zoooo0820

[2022-06-14 06:52] #5206 closed, assigned to nobody

[2022-06-14 06:52] #5209 closed, assigned to heavengate

[2022-06-14 06:52] #5210 closed, assigned to nemonameless, jerrywgz

[2022-06-14 06:52] #5211 closed, assigned to nobody

[2022-06-14 06:52] #5213 closed, assigned to yghstill

[2022-06-14 06:52] #5226 closed, assigned to nobody

[2022-06-14 06:52] #5230 closed, assigned to zoooo0820

[2022-06-14 06:52] #5231 closed, assigned to nobody

[2022-06-14 06:52] #5232 closed, assigned to nobody

[2022-06-14 06:52] #5239 closed, assigned to zhiboniu

[2022-06-14 06:52] #5245 closed, assigned to heavengate

[2022-06-14 06:52] #5246 closed, assigned to nobody

[2022-06-14 06:52] #5248 closed, assigned to nobody

[2022-06-14 06:52] #5252 closed, assigned to yghstill

[2022-06-14 06:52] #5256 closed, assigned to nobody

[2022-06-14 06:53] #5261 closed, assigned to nobody

[2022-06-14 06:53] #5273 closed, assigned to nobody

[2022-06-14 06:53] #5275 closed, assigned to nobody

[2022-06-14 06:53] #5276 closed, assigned to nemonameless, jerrywgz

[2022-06-14 06:53] #5279 closed, assigned to nobody

[2022-06-14 06:53] #5287 closed, assigned to nobody

[2022-06-14 06:53] #5288 closed, assigned to nobody

[2022-06-14 06:53] #5290 closed, assigned to yghstill

[2022-06-14 06:53] #5294 closed, assigned to nobody

[2022-06-14 06:53] #5295 closed, assigned to nobody

[2022-06-14 06:53] #5296 closed, assigned to yghstill

[2022-06-14 06:53] #5297 closed, assigned to yghstill

[2022-06-14 06:53] #5299 closed, assigned to nobody

[2022-06-14 06:53] #5307 closed, assigned to nobody

[2022-06-14 06:53] #5311 closed, assigned to nobody

[2022-06-14 06:53] #5316 closed, assigned to yghstill

[2022-06-14 06:53] #5322 closed, assigned to heavengate

[2022-06-14 06:53] #5330 closed, assigned to nobody

[2022-06-14 06:53] #5333 closed, assigned to yghstill

[2022-06-14 06:53] #5337 closed, assigned to nobody

[2022-06-14 06:53] #5339 closed, assigned to nobody

[2022-06-14 06:53] #5345 closed, assigned to nobody

[2022-06-14 06:53] #5351 closed, assigned to nobody

[2022-06-14 06:53] #5359 closed, assigned to nobody

[2022-06-14 06:53] #5363 closed, assigned to nobody

[2022-06-14 06:53] #5364 closed, assigned to yghstill

[2022-06-14 06:53] #5367 closed, assigned to nobody

[2022-06-14 07:19] jo-dean opened #6194 "PPYOLOE模型大小问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/38728358/173517046-1d6e9765-897b-4c69-83c4-d12f5d455c2b.png)
图中PPyoloe-s模型大小显示7.9M，为什么右边下载的model有31M，训练自己的数据集导出的模型也有29M的参数？

[2022-06-14 08:29] zoooo0820 commented on #6194
params是参数数量，按`float32`类型存储的话，每个参数占4B,  所以实际模型存储大小约为参数数量的4倍左右

[2022-06-14 08:54] chen-del opened #6195 "模型不包含后处理"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

如果模型输出是不带有后处理，那么在onnxruntime中有推理实现的方式嘛，谢谢，如果麻烦告诉我一下在那个位置

[2022-06-14 10:18] bittergourd1224 commented on #6188
感谢回复：
0. paddle版本为paddlepaddle-gpu 2.3.0，paddledet版本为2.4.0
1. 不加--amp时的报错如下：
![2022-06-14 18-13-13 的屏幕截图](https://user-images.githubusercontent.com/26888350/173554903-9cd2a787-1aa1-4abb-891b-ccb0fa02894a.png)
![2022-06-14 18-11-17 的屏幕截图](https://user-images.githubusercontent.com/26888350/173554949-841e13a0-749c-48f1-9393-5416039bb9a5.png)
2. 不是只显示一行Found inf or nan，而是log只剩下反复打印Found inf or nan, cu

[2022-06-14 12:10] zoooo0820 commented on #6195
各个模型的后处理不尽相同，可以参考以下部分：
- 检测模型、实例分割模型请见[这里](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/infer.py)。主要是`Detecor`类中的`postprocess`部分。部分模型特殊会有自己的特殊逻辑（如`solov2` / 未包含后处理导出的`picodet`等)
- 关键点模型请见[这里](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/keypoint_infer.py) ，同样也是关注`postprocess`部分

[2022-06-14 14:08] mike-2020 opened #6196 "picodet: Paddle-lite on ARM (Linux) + OpenCL failure"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

从这里下载原始模型：https://paddledet.bj.bcebos.com/deploy/Inference/picodet_xs_416_coco_lcnet.tar
使用如下命令将其转换成NB：
./opt_linux --model_dir=picodet

[2022-06-15 01:31] bittergourd1224 commented on #6188
@nemonameless Found inf or nan的log也复现了，并且这次我将lr缩小了10倍且使用了coco的预训练模型
![2022-06-15 09-22-29 的屏幕截图](https://user-images.githubusercontent.com/26888350/173716562-c07b82bf-95dd-49ad-8b92-6ca6e8d3cd72.png)
![2022-06-15 09-24-39 的屏幕截图](https://user-images.githubusercontent.com/26888350/173716590-375781a1-b80f-49e3-ad35-e92e6adfeb88.png)
loss比yolov3_darknet53大一个量级。

[2022-06-15 03:24] wangxinxin08 commented on #6188
2.3.0先不要使用amp训练试下

[2022-06-15 05:09] convnets commented on #6123
same here. I changed the backbone to ViT, and got the exact error.

[2022-06-15 06:30] bittergourd1224 commented on #6188
@wangxinxin08 不加amp训练就会报错，截图如上所示。你说的2.3.0是指将paddledet切换为2.3.0版本吗？

[2022-06-15 07:04] wangxinxin08 commented on #6188
我的意思是PaddlePaddle 2.3.0不要使用amp进行训练，报错信息是说出nan了，如果你学习率设置没问题，可以检查下数据是不是有问题

[2022-06-15 07:33] DavidQiuChao opened #6199 "导出绑定NMS的模型，其NMS的参数如何调整？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

1.导出绑定NMS的模型，但是不想用默认的NMS参数，请问如何设置？在.yml里面设置好像不能完全覆盖（picoDet）
2.导出带有NMS的模型，是否推理的时候性能会出现较大波动？我这边导出到paddleLIte，端上测试性能会有较大波动

[2022-06-15 08:02] bittergourd1224 commented on #6188
数据是没问题的，用yolov3_darknet53训练正常，加上amp训练也正常，因此不应该是数据的问题。学习率我在根据我这边的batchsize和gpu数量的基础上，又降了1/10。还有可能是其他问题不？

[2022-06-15 08:37] mike-2020 opened #6200 "确认一下picodet在ARM Linux上的性能"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

RK3399， CPU，大核
Ubuntu 20.04
Paddle-Lite v2.11
测试416x416的输入，平均每个图片(原始尺寸640x480)的处理时间在400ms左右
想确认一下，这个性能是不是正常的。

如果性能偏低，请指导一下可能的调优方向。

[2022-06-15 08:46] wangxinxin08 commented on #6188
@bittergourd1224 可以先回退到PaddlePaddle 2.2训练下，另外把修改的配置文件贴一下

[2022-06-15 09:56] bittergourd1224 commented on #6188
### configs/ppyoloe/ppyoloe_crn_l_300e_vehicle+person_obscure.yml文件：
_BASE_: [
  '../datasets/vehicle+person_obscure_voc.yml',
  '../runtime.yml',
  './_base_/optimizer_300e.yml',
  './_base_/ppyoloe_crn.yml',
  './_base_/ppyoloe_reader.yml',
]

log_iter: 100
snapshot_epoch: 1
weights: output/ppyoloe_crn_l_300e_vehicle+person_obscure/model_final

#pretrain_weights: https://paddledet.bj.bcebos.com/

[2022-06-15 10:02] wangxinxin08 commented on #6188
看起来没什么问题，你可以把训练yolov3的配置也发下，另外可以先回退到PaddlePaddle 2.2.2训练下

[2022-06-15 16:25] JackDance commented on #6081
同问，也是在这遇到了同样的问题，“PADDLE_LIB_NAME 需要设置为libpaddle_inference”也不行，请问解决了吗大佬 @terrancraft

[2022-06-15 16:27] JackDance commented on #6081
同问，这个问题该如何解决呢

[2022-06-16 02:03] ZB740927021 opened #6202 "C++调用PPYOLOE的onnx模型，输出的类别ID和置信度正常，可是X1,Y1,X2,Y2的值不正常；"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

C++调用PPYOLOE的onnx模型，输出的类别ID和置信度正常，可是X1,Y1,X2,Y2的值不正常（模型在python代码验证过没有问题）

[2022-06-16 02:16] bittergourd1224 commented on #6188
回退到2.2.2后，不加amp还是一样的报错

### yolov3的配置文件configs/yolov3/yolov3_darknet53_270e_vehicle+person_obscure.yml：
_BASE_: [
  '../datasets/vehicle+person_obscure_voc.yml',
  '../runtime.yml',
  '_base_/optimizer_270e.yml',
  '_base_/yolov3_darknet53.yml',
  '_base_/yolov3_reader.yml',
]

snapshot_epoch: 5
weights: output/yolov3_darknet53_270e_vehicle+person_obscure/model_final

#set collate_batch to false b

[2022-06-16 02:21] wangxinxin08 commented on #6188
暂时没有发现什么问题，倾向于认为是数据的问题，你可以自己debug下

[2022-06-16 04:29] ybonzou opened #6204 "obuject-detect for movie"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

What are the options for real-time object detection in video using Paddle-Detection?
(For example) --video 0
etc.

### 是否愿意提交PR Ar

[2022-06-16 08:29] heng3366 opened #6205 "ppyoloe部署相关"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用ppyoloe，按照markdown文件训练了自己的数据集，训练成功效果也不错，但有2个疑问：
1、如果需要部署动态图模型的话，有无相关参数开启既可自己选择模型版本，如果无，是不是需要自己修改tools./train.pyhe  infer.py部分的代码，有无相关参考提供修改（主要使用熟悉的框架不是paddle）
2、如果不可以修改成动态图模型部署，有无其他yolo版本可使用参考

[2022-06-16 08:54] #4642 closed, assigned to nobody

[2022-06-16 08:57] Dandelion111 opened #6207 "请问picodetv1和picodetv2在arm设备哪个速度更快？"
### 问题描述 Please describe your issue

请问picodetv1的esnet骨干和picodetv2的lcnet骨干在arm设备哪个速度更快？

[2022-06-16 08:57] yuanjim opened #6208 "pp-picodet 主体检测导出模型后 执行python deploy/python/infer.py 遇到问题 ValueError: cannot reshape array of size 1 into shape (4)"
### 问题确认 Search before asking

- [x] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

aistudio中使用pp-picodet训练了自己的数据，主体检测导出模型：
[code]
导出后执行推理预测：
[code]
结果出错：
[code]

### 复现环境 Environment

_No response_

### 是否愿意提交PR Are yo

[2022-06-16 09:12] QIANXUNZDL123 opened #6209 "S2ANet ext_op运行错误"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/46549527/174035894-feae6745-5a32-4775-9df9-fcc17e23d928.png)

运行python3.7 setup.py install 出现上面的错误

环境:
paddledet                         2.2.0
paddlepaddle-gpu                  2.1.3
请问该如何解决

[2022-06-16 11:03] just1226 commented on #2846
请问你怎么解决的？

[2022-06-16 11:33] EthanChen1234 opened #6212 "solov2, use_shared_memory=True时，报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

1、代码
  self.dataloader = DataLoader(
      dataset=self.dataset,
      batch_sampler=self._batch_sampler,
      collate_fn=self._batch_

[2022-06-16 13:18] shuaijun-deng commented on #5652
我直接在视频上测试，感觉比yolov5-s速度慢很多，整个人都懵了，不知道百度测试标准是什么，怎么测试的

[2022-06-16 13:18] KaiHuangMO commented on #3776
最新版本还是有这个问题
cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2
#define CUDNN_MAJOR 7
#define CUDNN_MINOR 6
#define CUDNN_PATCHLEVEL 5
--
#define CUDNN_VERSION (CUDNN_MAJOR * 1000 + CUDNN_MINOR * 100 + CUDNN_PATCHLEVEL)
paddle确无法找到 The installed Paddle is compiled with CUDNN 7.6, but CUDNN version in your machine is 7.4, which may cause serious incompatible bug. Please recompile or reinsta

[2022-06-16 13:25] shuaijun-deng commented on #5652
python deploy/python/infer.py --model_dir=./inference_model/ppyoloe_crn_s_300e_coco/ --video_file /home/hasaki/data/video_data/CBG/t1.mp4 --device=GPU --use_gpu=True
视频大小是1920*1080的大小

[2022-06-17 02:27] lofyol opened #6216 "picoDet能不能导出动态batch的onnx文件"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

picoDet能不能导出动态batch的onnx文件

[2022-06-17 02:31] heavengate commented on #6202
你好，可以列一下你python和C++的输出结果，已经确认下是不是你C++的预处理和python没对齐呢

[2022-06-17 02:33] heavengate commented on #6204
If you are using GPU like V100/2080ti, PP-YOLOE is recommend, and if you are using CPU, you can try PP-PicoDet

[2022-06-17 02:36] heavengate commented on #6205
自己训练的模型导出部署可以参考
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/ppyoloe#exporting-models
其中`-o weight`指定训练过程中保存在权重即可

[2022-06-17 02:51] LYHTZHANGJIANG opened #6217 "PPYOLOE，训练300个epoch,20000多张图像，num_work：8 4张卡 每张卡batchsize16，要训练 30多个小时？ 有什么办法能快点吗？"
### 问题描述 Please describe your issue

PPYOLOE，训练300个epoch,20000多张图像，num_work：8   4张卡 每张卡batchsize16，要训练 30多个小时？ 有什么办法能快点吗？

[2022-06-17 02:58] yang100123 opened #6218 "PaddleDetection把pretrain_weights设置为false是不是就可以不使用预训练模型了？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

paddledet2.4.0 paddlepaddle2.3.0
训练ppyolov2_r50vd_dcn_voc的时候发现配置文件里并没有配置pretrain_weights，但开始训练后还是要下载预训练模型，是不是我添加一个pretrain_weights: false 配置，就可以不使用预训练模型，自己从头训练？

[2022-06-17 03:06] wanmeiziyoulan commented on #6123
尝试将ViT和ConNeXt分别与yolov3结合，使用adamw optimizer训练均出现nan，报错信息与上面的一致。
- 同时尝试将optimizer换成sgd训练是正常的，但是像ViT这种结构和AdamW结合是更好的，使用sgd还是治标不治本。
- 根据报错信息，目前定位到可能与iou_loss有关系，正在尝试丢弃iou_loss，使用adamw训练ViT yolov3，正在实验中

希望Paddle同学可以重视下这个问题！感谢

[2022-06-17 04:08] Aurora-vu opened #6219 "安装后测试test_architectures.py报错"
### 问题描述 Please describe your issue

安装paddledetection前面的过程很顺利，但是测试时运行python test_architectures.py出现如下报错：（求大佬解答）

home/zhou/anaconda3/lib/python3.8/site-packages/paddle/tensor/creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20;

[2022-06-17 04:14] ybonzou commented on #6204
Thanks!!  I understand.
But I am a very beginner.
I have a GPU on board.
I would like to know how to import video footage from a video or camera.

[2022-06-17 05:23] ZB740927021 commented on #6202
这个python的代码：
import onnxruntime
import logging
import logging
import numpy as np
import cv2
import time
# import onnxmltools
# from onnxmltools.utils.float16_converter import convert_float_to_float16

import numpy as np

# 加载onnx模型pip
def load_model(onnx_model):
    # sess = onnxruntime.InferenceSession(onnx_model)
    sess = onnxruntime.InferenceSession(onnx_model, providers=["CPUExecutionProvide

[2022-06-17 05:25] ZB740927021 commented on #6202
![image](https://user-images.githubusercontent.com/41182906/174232230-19ed04dc-71a6-4c2c-9e65-9bfffa7fd861.png)

[2022-06-17 05:34] ZB740927021 commented on #6202
#include <assert.h>
#include <vector>
#include <ctime>
#include <iostream>
#include <onnxruntime_cxx_api.h>
#include <opencv2/core.hpp>
#include <opencv2/imgproc.hpp>
#include <opencv2/highgui.hpp>
#include <opencv2/videoio.hpp>
#include <string>
#include<sstream>
using namespace std;
using namespace cv;

int main(int argc, char* argv[]) {
  Ort::Env env(ORT_LOGGING_LEVEL_WARNING, "test");
  Ort::

[2022-06-17 05:42] ZB740927021 commented on #6202
python和c++的输出一样，只不过在坐标输出的时候为INF

[2022-06-17 06:33] jerrywgz commented on #6219
python ppdet/modeling/tests/test_architectures.py 需要在PaddleDetection目录下运行

[2022-06-17 06:35] jerrywgz commented on #6218
配置文件中设置`pretrain_weights: ~` 即可

[2022-06-17 06:37] jerrywgz commented on #6217
1. 可以尝试将reader配置文件中的worker_num调大
2. 加载ppyoloe在coco数据集训练好的模型，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/ppyoloe#model-zoo 然后调低学习率，减小epoch数

[2022-06-17 06:45] pphgood opened #6220 "python部署推理没问题，C++部署报错"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

C++部署编译最后报错
![1](https://user-images.githubusercontent.com/101175483/174241779-9091b616-64b1-455f-bc30-4cc2c2f6676b.png)

尝试解决方法，将opencvdir换成自己编译的opencv，报错如下
![2](https://user-images.githubusercontent.com/101175483/174241832-aa059f19-44e4-4a58-b3be

[2022-06-17 06:48] jerrywgz commented on #6216
picodet支持onnx导出时batch size维度是-1，如果使用onnxsim则需要指定固定shape

[2022-06-17 07:32] heavengate commented on #6212
你好，报错信息麻烦贴出来一下，另外你可以确认一下`/dev/shm/`下的空间是否足够，如果不够的话不建议开`use_shared_memory`

[2022-06-17 07:34] heavengate commented on #6207
不同模型的速度不一样，速度精度数据可以参考 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet#基线

[2022-06-17 07:36] heavengate commented on #6209
你好，可以用最新版本paddledet release/2.4和paddlepaddle 2.3版本试一下，这个问题修复过~

[2022-06-17 07:37] heavengate commented on #6208
是否是导出模型的时候权重没有加载对，看着像图片里没有检测出来bbox，导致shape不匹配

[2022-06-17 07:38] yuanjim commented on #6208
我已收到您的邮件。谢谢！ 

[2022-06-17 08:12] lofyol commented on #6216
但是 PaddleDetection模型导出为ONNX格式教程 中写明了picodet仅支持batch为1的推理

[2022-06-17 08:44] jo-dean commented on #5606
ppyolo 是30多毫秒

Lucifer_Toledo ***@***.***> 于2022年6月13日周一 11:38写道：

[2022-06-17 11:12] lj976264709 commented on #6085
这个问题怎么解决哇

[2022-06-17 12:48] triple-mu commented on #5730
二维码过期了 麻烦更新谢谢！

[2022-06-18 05:05] lj976264709 commented on #6085
np_var = var.numpy()  也会报错
好像GPU到CPU数据转换的时候就会发生这样的错误

[2022-06-18 15:14] a1056632260 opened #6226 "关于roi_align"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

在instance as query论文复现过程中，发现mmdet和paddledet通过roi_align计算出来的结果不一致，请问二者底层实现是否有区别？

[2022-06-18 16:33] lj976264709 commented on #6085
重新配置paddlepaddle-gpu==2.2.2.post112  解决了

[2022-06-19 05:34] jerrywgz commented on #6216
最新版picodet导出已经支持了bs>1的情况，后续我们更新下文档

[2022-06-19 05:35] jerrywgz commented on #6220
可以更新下paddledetection代码，这个问题是paddle 2.3版本下预测依赖发生变化导致的，目前适配代码已经更新到paddledetection中

[2022-06-19 05:57] pphgood commented on #6220
那请问预测库使用应该对应2.3版本的预测库 还是2.2版本的
我在飞桨官方文档中发现2.3版本的预测库在1.8下 很奇怪
![9bb4331675f5901d7740b7b34cf746b](https://user-images.githubusercontent.com/101175483/174467869-89b461a7-d32f-4fad-b9ac-28a434a6dbc3.png)
正常进去是2.2.2版本的预测库，请问paddle2.3应该用哪个版本的预测库

[2022-06-19 06:04] Feng1909 opened #6227 ""Input shapes are inconsistent with the model" when implement PPYOLOE while PPYOLO and v2 can run well"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

使用CUDA10.2+CuDnn8.1+TensorRT7 进行ROS平台下的部署，在相同的代码、配置下，PPYOLO和PPYOLOv2均运行正常，但PPYOLOE_s 导出输入大小为[3,640,640]模型后运行出现以下报错：
[code]
代码为：
[code]

项目地址为: https://github.com/bitfsd/ConeDetection/blob/main/src/ppyolo/scripts/pp_infer.py

[2022-06-19 08:31] qiyuezhiguang opened #6228 "新版本的C++部署报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

1.使用paddle_inference2.3进行部署，cmake时一切正常。使用vs2019生成工程时也提示正常，但运行代码时提示缺少paddle2onnx.dll
在paddle_inference包中寻找paddle2onnx.dll并复制到release，提示程

[2022-06-19 22:08] ademengke opened #6229 "安装paddledetection之后进行检测 出现错误,在网络上找不到一样的的error"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在我运行paddledetection检测程序python ppdet/modeling/tests/test_architectures.py 和尝试进行快速图像识别的时候出现问题,以下是我的错误复现:

(paddle) C:\Users\aaa\Desktop\Q

[2022-06-20 01:28] lofyol commented on #6216
但是我下载导出好的picodet模型，然后导出onnx和sim化，测试onnx只能输入batch为1

[2022-06-20 02:16] kouhinn commented on #6135
一样的问题。paddle+paddle inference已经更新到2.3.0都不行。看起来是c++的object_detector.cc的Predict和python对应的实现都不一样。明显是c++版本的没有更新。
我这边c++版本和python版本的输出名是一样的。但是输出的数目不一致。c++这边输出是这样的： output: name: shape_40.tmp_0_slice_0  out_num:1
output: gather_18.tmp_0  out_num:42
output: gather_17.tmp_0  out_num:42
output:cast_19.tmp_0  out_num:38707200
而python的对应上述4个输出的数目是： 1，43，43，39628800（43x720x1280 ）

[2022-06-20 02:42] ANDROIDTODO opened #6230 "训练picodet报错，请问是什么原因"
### 问题描述 Please describe your issue

我用labelme标注图片后，使用脚本转化成coco数据集，训练图片160张。
训练配置如下：
_BASE_: [
  '../datasets/coco_detection_seal.yml',
  '../runtime.yml',
  '_base_/picodet_v2.yml',
  '_base_/optimizer_300e.yml',
  '_base_/picodet_416_reader.yml',
]

pretrain_weights: https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/legendary_models/PPLCNet_x0_75_pretrained.pdparams
weights: output/picod

[2022-06-20 02:44] ANDROIDTODO commented on #6230
我用labelme标注图片后，使用脚本转化成coco数据集，训练图片160张。epoch：3，lr：0.02，step：40，bs：4

[2022-06-20 02:48] EthanChen1234 commented on #6212
1、报错信息，在附件里面
2、/dev/shm/ 是足够的，11G

[2022-06-20 03:05] zoooo0820 commented on #6135
@kouhinn
能辛苦提供下具体的使用环境吗，包括paddle inference 版本 、 paddledetection版本，系统及cuda版本，我们在对应环境上复现下问题

[2022-06-20 03:28] JackDance opened #6231 "windows C++部署报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在使用Paddledeteciton进行windows平台C++部署阶段，根据提供的编译教程--[Visual Studio 2019 Community CMake 编译指南](https://github.com/PaddlePaddle/PaddleDetecti

[2022-06-20 03:30] DavidQiuChao commented on #6199
修改runtime 配置 导出的模型nms参数仍未修改过来，请问还有其他地方会覆盖nms 参数吗？ picoDet

[2022-06-20 03:49] #6183 closed, assigned to nobody

[2022-06-20 03:53] lyuwenyu commented on #6231
paddle2onnx正确安装了嘛, 可以在这里搜一下 https://github.com/PaddlePaddle/Paddle2ONNX/issues

[2022-06-20 03:54] lyuwenyu commented on #6230
这是跑飞了
0. 训练时候不要用混合精度
1. 调小一下LR试一下
2. 检查数据标注是否正确

[2022-06-20 03:56] lyuwenyu commented on #6229
是否依赖和版本有问题 可以重新安装下依赖pip install -r requirements.txt

[2022-06-20 04:46] kouhinn commented on #6135
object_detector.cc:Predict和postprocess和python版本对应不上。应该是c++代码没有更新。

paddle inference/paddle版本：Paddle_2.3.0
paddledetection版本：PaddleDetection-release-2.4
系统及cuda版本：
  ubuntu18.04
  cuda:10.2
  cudnn:cudnn-10.2-linux-x64-v7.6.5.32

[2022-06-20 05:11] QIANXUNZDL123 commented on #6209
还是不行，已经更新到最新版本了
下面是我的版本:
![image](https://user-images.githubusercontent.com/46549527/174529353-f9f628e5-50b8-4f74-ab82-67e117428a43.png)

还是报这个错误。。。
![image](https://user-images.githubusercontent.com/46549527/174529470-766501b2-36c4-4821-9c6b-521e30b01b5e.png)

[2022-06-20 05:24] hhxdestiny opened #6233 "训练PPYOLOE失败！"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

使用BML CodeLab训练PPYOLOE失败！

执行代码(notebook)
[code]

shell
[code]

### 复现环境 Environment

- Platform: BML CodeLab
- PaddlePaddle 2.3.0
- Pa

[2022-06-20 05:31] ANDROIDTODO commented on #6230
@lyuwenyu
我这边是单卡进行训练。
在哪取消混合进度？我没有加上--amp的参数
我将LR调小十倍后还是这样

我使用ppyolo2训练好的数据集，适配到picodet里面还是出现一样的类似情况
应该不是数据集的问题

[2022-06-20 05:33] qingqing01 commented on #6199
导出带有NMS的模型的话，NMS的参数不能调整了，只能调整经过NMS后输出过滤的参数。

[2022-06-20 05:37] lyuwenyu commented on #6233
python版本是是多少，另外建议重新安装一下scipy试一下

[2022-06-20 05:38] hhxdestiny commented on #5730
又过期了，麻烦更新一下

[2022-06-20 05:43] DavidQiuChao commented on #6199
怎么在导出前调整呢？我修改了configs/picoDet/_base_/picodet_v2.yml 中的nms参数 只有 keep_top_k，nms_top_k在导出的infer_cfg.yaml 文件中修改了，但是nms_threshold和score_threshold 没有被修改（看上去是中间被其他位置给重新覆盖了）

[2022-06-20 05:45] hhxdestiny commented on #6233
重装scipy后可以了，降了版本scipy 1.7.3 -> scipy 1.6.3，感谢
[code]

[2022-06-20 05:45] #6233 closed, assigned to nobody

[2022-06-20 05:53] wangxinxin08 commented on #5730
@triple-Mu @hhxdestiny 已经更新

[2022-06-20 05:59] zoooo0820 commented on #6135
@kouhinn
solov2的cpp inference是最近新增加的功能，没有包含在release2.4中。辛苦把paddledetection代码切换到develop分支试一下呢

[2022-06-20 06:07] ademengke commented on #6229
重新安装依赖后 出现 Ignoring visualdl: markers 'python_version <= "3.7"' don't match your environment

之后尝试 import ppdet 出现相同的问题 :
FileNotFoundError: Could not find module 'e:\anaconda\envs\yolox\lib\site-packages\scipy\.libs\libbanded5x.UALCZY4KXIWFSNTUQY2S5KECOR3WRBFR.gfortran-win_amd64.dll' (or one of its dependencies). Try using the full path with construct
or syntax.

[2022-06-20 06:33] sprouteer commented on #6196
您好，这个报错是因为opencl目前不支持这样的shape, 修复中
<img width="151" alt="image" src="https://user-images.githubusercontent.com/89541335/174539335-86ef6aee-31e8-4cce-99cf-03cff24784ad.png">

[2022-06-20 07:10] DavidQiuChao commented on #6199
利用opt工具导出成paddleLite 模型后 运行效果 和没有修改前结果一样

[2022-06-20 07:21] kouhinn commented on #6135
是这个问题！更新到develop分支之后就可以了。谢谢帮助！

[2022-06-20 07:29] ademengke commented on #6229
问题已解决。
通过：
pip uninstall scipy 卸载当前的scipy -> 然后重新安装scipy:    pip install scipy==1.8.1

[2022-06-20 07:29] #6229 closed, assigned to nobody

[2022-06-20 08:06] PFloyd0 commented on #5477
您好，请问您这个问题解决了吗，是怎么解决的。。。谢谢！

[2022-06-20 08:25] PFloyd0 commented on #2289
@zsffuture 所以您最后是怎么运行静态图的模型的呢，我也遇到了这个问题不知道怎么解决

[2022-06-20 09:16] morrigank12 opened #6236 "请问数据集中包含无目标的图片样本时配置要如何设置"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

记得以前看配置文件文档时看到过相关配置项，是否包括无目标的图片，还附有说明此类图片过多容易发生过拟合，但是今天想搜一下怎么也搜不到了。
现在做人形目标检测的其中一个摄像头画面中包括一片树林，训练好的模型经常将树叶摆动的瞬间检测为人形，请问想将这种完全无人形目标出现的图片作为数据集的一部分，配置文件要如何修改？

[2022-06-20 09:21] hhxdestiny commented on #6048
单卡需要降低学习率（lr/8），loss一开始确实是在增加，但在十个epoch左右后会开始下降

[2022-06-20 10:09] JackDance commented on #6228
@qiyuezhiguang 同问，当执行生成的main.exe时，输入命令后cmd中没有返回任何信息，过一会就结束了是什么问题呢

[2022-06-20 10:11] lyuwenyu commented on #6236
dataset加上allow_empty参数

[2022-06-20 10:12] JackDance commented on #6228
2.3版本的paddle_inference会发生题主所说的错误，用2.2可以生成main.exe，执行命令时不发生paddle2onnx.dll找不到的情况。但是用2.2生成之后，执行main.exe没有返回任何信息，过一会就结束了，跟没执行一样

[2022-06-20 18:16] tututu11 opened #6241 "部署picodet 导出模型时出错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

从https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/picodet获取的指导。
导出模型时出错，使用命令
python tools/export_model.py -c co

[2022-06-20 18:22] tututu11 commented on #6241
转换模型至ONNX ，使用命令paddle2onnx --model_dir output_inference/picodet_s_320_coco_lcnet/ \
            --model_filename model.pdmodel  \
            --params_filename model.pdiparams \
            --opset_version 11 \
            --save_file picodet_s_320_coco.onnx
得到picodet_s_320_coco.onnx，经过onnsim后，使用netron查看网络结构，和你们提供的onnx对比。
你们提供的onnx的Image输入后 经过conv w(16x3x3x3) b(16),而我所得到的却是conv w(24x3x3x3) b(24)，请

[2022-06-20 18:24] tututu11 commented on #6241
先多谢大佬解答

[2022-06-21 00:44] morrigank12 commented on #6236
谢谢

[2022-06-21 00:44] #6236 closed, assigned to nobody

[2022-06-21 01:11] Aurora-vu commented on #6219
按照你的办法来做还是出现上面同样的报错......

[2022-06-21 01:17] dianzi219 commented on #5967
请问修复了么？

[2022-06-21 05:21] chenfang0927 commented on #5967
我也是這個的問題

[2022-06-21 05:28] #6241 closed, assigned to yghstill

[2022-06-21 05:45] DavidQiuChao opened #6242 "picoDet 量化训练相关问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

1.picoDet 后量化是不是仍然不行，看2.3版本readme 提示精度有异常
2.picoDet 量化感知训练，是需要从头开始训练吗？不能使用训练好的模型进行训练？
3.picoDet QAT 只需要单卡就可以训练？具体的训练的轮数和模型输出路径在哪设置呢？

[2022-06-21 05:46] chenfang0927 commented on #5556
我也是这样的

[2022-06-21 06:50] #5369 closed, assigned to nobody

[2022-06-21 06:50] #5372 closed, assigned to nobody

[2022-06-21 06:50] #5379 closed, assigned to yghstill

[2022-06-21 06:50] #5388 closed, assigned to nobody

[2022-06-21 06:50] #5396 closed, assigned to nobody

[2022-06-21 06:50] #5397 closed, assigned to nobody

[2022-06-21 06:50] #5400 closed, assigned to nobody

[2022-06-21 06:50] #5405 closed, assigned to nobody

[2022-06-21 06:50] #5406 closed, assigned to nobody

[2022-06-21 06:50] #5415 closed, assigned to nobody

[2022-06-21 06:50] #5416 closed, assigned to nobody

[2022-06-21 06:50] #5422 closed, assigned to nobody

[2022-06-21 08:41] bjtudujunlin commented on #5967
原问题修复了，但有新的问题，见前面的回复内容

[2022-06-21 09:13] JackDance commented on #6231
@lyuwenyu 你好，使用paddle_inference2.3版本的预测库还是不行。使用paddle_inference2.2.1版本可以在生成main.exe且启动时不发生第一张图显示的报错。但是在执行如下预测命令的时候：
[code]
terminal中没有显示任何信息，几秒钟之后就终止了。可以帮忙看下吗

[2022-06-21 09:28] LMR2018 opened #6244 "我量化训练完成后，用python命令推断图片模型结果是正常的，然后用量化导出的paddlelite模型放在安卓上结果乱七八糟的，像不是一个模型一样，到底是怎么回事啊？"
### 问题描述 Please describe your issue

python量化推断图片命令：
python tools/infer.py -c configs/picodet/picodet_xs_320_coco_lcnet.yml --slim_config configs/slim/quant/picodet_xs_320_lcnet_quant.yml -o weights=./output/picodet_xs_320_lcnet_quant/best_model  --infer_dir=./output/3

安卓量化导出命令：
python tools/export_model.py -c configs/picodet/picodet_xs_320_coco_lcnet.yml --slim_config configs/slim/quant/picodet_

[2022-06-21 09:53] lwbmowgli commented on #4847
这个是不是还没有修啊。。。我用2.3还是报错

[2022-06-21 12:24] tututu11 opened #6245 "export_model.py导出有BUG"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

export_model.py导出有BUG，我使用coco数据类型训练，coco_detection.yml如下，我只训练了一个类。
`metric: COCO
num_classes: 1

TrainDataset:
  !COCODataSet
    image

[2022-06-21 12:25] tututu11 commented on #6244
我也是这样的问题，不过我是部署在ncnn上面的，应该是export_model.py的类别处理出现问题

[2022-06-21 12:31] nemonameless commented on #6245
导出的infer_cfg.yml中的label_list是1类吗？
注意看运行打印的信息里有没有warning说为什么使用默认COCO80类，一般是路径设置有误找不到才会使用默认COCO80类。TestDataset里anno_path如果是绝对路径，dataset_dir这一行就不用设置应该去掉。

[2022-06-21 12:59] tututu11 commented on #6245
导出的infer_cfg.yml中的label_list如下所示，配置已经正确导出类
![image](https://user-images.githubusercontent.com/91424151/174806552-ae8c5ab4-1513-4264-b162-a8735a49d277.png)

运行时没有warning提示使用默认类，dataset_dir去掉还是一样的错误。另外我使用configs\datasets\voc.yml作为训练数据，全部转换为voc类型数据，得出的结果和coo数据集时是一样的。infer.py推理正确，转换为ncnn推理却出错，出现默认的coco类别，bbox出现一大堆非常乱。
voc.yml如下，使用的是相对路径，另外map_type是什么
![image](https://user-images.githubusercontent.com/

[2022-06-21 13:02] tututu11 commented on #6245
issues #6244 应该和我是同样的问题，export_model.py导出有BUG

[2022-06-21 13:05] tututu11 commented on #6245
![0results0570688](https://user-images.githubusercontent.com/91424151/174806139-6e982de0-6f7f-4fbf-a68d-468d72d20089.jpg)
转换为ncnn推理就是这个效果，coco与voc训练出来都一样。

[2022-06-21 13:17] tututu11 commented on #6244
![0results0570688](https://user-images.githubusercontent.com/91424151/174808712-91fb1f6a-2d8b-48fa-8e18-f68dc11b61c2.jpg)
是不是这样

[2022-06-21 16:36] tututu11 commented on #6245
使用的是PP2.2.2 py3.9，  pp2.3无法使用，运行直接出错，只能使用2.2.2.

[2022-06-22 01:41] xiaoxiangch opened #6246 "配置文件中指定使用GPU的id"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

PaddleDetection的配置文件中关于GPU的使用，只有use_gpu 为true或者false。单GPU训练时默认使用的GPU的id为0，但是我想指定使用1号GPU，该如何在配置文件中显示，或者有其他的设置方法吗？

[2022-06-22 02:06] LMR2018 commented on #6244
@tututu11   你部署在什么硬件上的啊？picodet用的快不快啊？

[2022-06-22 02:07] yghstill commented on #6242
@DavidQiuChao
1. PTQ精度很差，需要量化训练才能得到较好的精度
2. 量化训练加载训好的模型进行finetune即可。
3. 单卡可以训练，lr除以4即可，模型输出路径会自动保存在output下，也可以在tools/train.py里设置。

[2022-06-22 02:08] yghstill commented on #6244
@LMR2018 int8模型在转换paddlelite模型时，无法设置enable_fp16=True.

[2022-06-22 02:25] DavidQiuChao commented on #6242
问题3中 具体量化训练的epoch数在哪设置/修改？

[2022-06-22 02:50] ghostxsl commented on #6246
可以直接设置环境变量：CUDA_VISIBLE_DEVICES=1

[2022-06-22 02:53] ghostxsl commented on #6227
参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/python/infer.py#L144
你的写法有误，模型是有两个输入的，你这样写导致第二个输入是你的第二张图像

[2022-06-22 04:48] tututu11 commented on #6244
电脑使用是很快的

[2022-06-22 06:21] ZhiluDing commented on #5606
@jo-dean 你是只是用gpu就ppyolo在nano上30多ms还是tensorrt 加速之后30多ms？

[2022-06-22 07:49] jo-dean commented on #5606
tensorrt加速

Lucifer_Toledo ***@***.***> 于2022年6月22日周三 14:21写道：

[2022-06-22 08:02] #6245 closed, assigned to nobody

[2022-06-22 08:44] LMR2018 commented on #6244
@yghstill  主要不是这个问题，是新增强版的picodet lcnet模型在转化是的时候paddlelite版本选择2.10或者2.10.rc版本才正常的

[2022-06-22 10:27] zhangting2020 commented on #6063
我们在该功能的日志等级上设置存在问题，下个版本会修复。目前可以通过环境变量，避免日志的输出

export GLOG_minloglevel=2

[2022-06-22 10:52] nemonameless commented on #6063
paddle2.3.0或develop版本暂时不推荐amp训练，如需amp训练请使用paddle2.2.2版本。

[2022-06-22 12:23] 2050airobert opened #6251 "NAS of Picodet really sota？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

Hi，
  这里有几个问题，尤其是:
1  在检测数据集上训练one-shot超网 ， 这具体是指同时训练六个或者更多个不同的检测网络结构吗？
2  使用EA（evolutionary algorithm，进化算法）算法对训练好的超网络进行架构搜索。  这个是六个网络同时进行的，还是六个网络单独训练，结果出来后，再次使用EA算法演进出最优网络。或者更简单的可以粗略认为就是选出这多个网络中训练结果最好的一个呢？
3   请问是否有这个NAS具体的步骤说明和相关的源码部分，可以发下具体链接和代码

[2022-06-22 12:56] cccrice opened #6252 "Windows11+paddlepaddle-gpu==2.3.0+cuda11.2+cudnn8.2 出现"cudaErrorLaunchFailure"报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

'''代码行执行
PS E:\项目文件\MOT\PaddleDetection-release-2.4\deploy\pptracking\python> python mot_jde_infer.py --model_dir=fairmot_dla34_30e_108

[2022-06-22 13:15] ghostxsl commented on #6252
建议使用docker试一下

[2022-06-23 01:34] DavidQiuChao opened #6253 "picoDet QAT训练突然精度大幅下降什么原因？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

picoDet 进行QAT量化训练，每10个epoch进行一次测试，前50epoch精度正常，到第60epoch 测试精度突然降低，map0.5-0.95接近0，map0.5 接近1. 请问这个是什么原因，有什么建议？然后具体修改比如轮数这些参数在哪设置？

[2022-06-23 02:15] #6204 closed, assigned to nobody

[2022-06-23 06:16] 2050airobert opened #6257 "tinypose训练出模型效果明显差！"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

Hi，
请问下， https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/keypoint/tiny_pose 这里的tinypose 官方发布的128X96的模型效果挺好的，但是

[2022-06-23 06:18] ybonzou opened #6258 "infer.py: error: the following arguments are required: --model_dir"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

How do I infer a video file in "PPYoloE"?
An error occurs.
Sorry for being so rudimentary.

![1](https://user-images.githubusercontent.com/69044596/175228526-6a35e115-4c2c-4759-89c2-fea35c8e0f61.png)
![2](https://user-images.githubusercontent.com/6

[2022-06-23 07:16] panmin opened #6259 "MacOS下CreatePaddlePredictor报错：Check failed: kernels.size() > 0 (0 vs. 0) Error: This model is not supported, because kernel for 'conv2d' is not supported by Paddle-Lite."
###
开发环境：MacOS
Paddle-Lite版本：v2.11
官方模型下载地址：https://paddledet.bj.bcebos.com/deploy/paddlelite/picodet_xs_320_coco_lcnet.tar
代码如下：
[code]

报错信息：
`F0623 15:08:26.591073 277147072 program.cc:346] Check failed: kernels.size() > 0 (0 vs. 0)
Error: This model is not supported, because kernel for 'conv2d' is not supported by Paddle-Lite.`

[2022-06-23 07:47] dengmingD opened #6260 "c++ 预测问题，图片和视频没有问题，摄像头有问题"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

main --model_dir=models --image_file=images/4.jpg --camera_id=0
Please set use_dynamic_shape.
FLAGS_camera_id==0
fps: 0, frame_count: -

[2022-06-23 07:51] mjp9527 commented on #6259
MacOS有两款芯片，x86和M1(ARM)，使用的模型和库均不一样，你检查一下使用的模型和库是否匹配你的笔记本

[2022-06-23 08:01] dengmingD commented on #6228
参考解决
1.model文件不全
2.缺少dll，把third_party\install里的dll拷到Release目录下
如果不行再找其他方案

[2022-06-23 08:03] dengmingD commented on #6228
<img width="379" alt="8F5266FA-4C57-4ab6-AA4D-ED39BA9A16FE" src="https://user-images.githubusercontent.com/72127773/175248253-8c7bf5ac-3043-4a5c-8540-e4831c1cf048.png">
model文件如上图

[2022-06-23 08:04] dengmingD commented on #6228
Release中的dll
<img width="430" alt="299B7735-5EA0-48f4-8840-2E7BF1BA2B53" src="https://user-images.githubusercontent.com/72127773/175248652-8e0f7047-ffa1-48b2-b5d3-512a92ada022.png">

[2022-06-23 08:09] panmin commented on #6259
@mjp9527 用的x86版本的MacOS，Paddle Lite 预编译库下载[https://paddle-lite.readthedocs.io/zh/latest/quick_start/release_lib.html ](url)
<img width="301" alt="image" src="https://user-images.githubusercontent.com/2524761/175249450-66e0799a-e9e3-4935-b7a7-7b60c5242ceb.png">

[2022-06-23 08:18] 2050airobert commented on #6251
anyone could help?

[2022-06-23 08:18] 2050airobert commented on #6257
anyone could help ?

[2022-06-23 08:20] dengmingD commented on #6231
<img width="430" alt="299B7735-5EA0-48f4-8840-2E7BF1BA2B53" src="https://user-images.githubusercontent.com/72127773/175251840-4eac7ba2-2b97-43f5-84fd-8c713f76d00e.png">

[2022-06-23 08:21] dengmingD commented on #6231
少dll

[2022-06-23 08:22] JackDance commented on #6231
嗯嗯，感谢 @dengmingD 解答，根据解答，已经成功运行了

[2022-06-23 08:25] JackDance commented on #6231
@dengmingD ，还有一个小bug，就是用绝对路径进行模型预测时，图片保存的路径是有问题的。示例如下：
[code]
保存的图片路径：
[code]

[2022-06-23 08:26] dengmingD commented on #6110
已经解决了

[2022-06-23 08:26] #6110 closed, assigned to nobody

[2022-06-23 08:29] ybonzou commented on #6258
Model created and resolved！

[2022-06-23 08:31] dengmingD commented on #4913
缺少--image_file参数，没用也得加上

[2022-06-23 09:20] mjp9527 commented on #6259
opt建议也使用v2.11，然后转换时--valid_targets=x86

[2022-06-23 09:23] mjp9527 commented on #6259
你这个nb模型是个arm的模型，x86用不了，需要使用opt工具转换paddle的模型

[2022-06-23 09:36] 2050airobert commented on #6251
none

[2022-06-23 11:06] 2050airobert commented on #6251
@yghstill @ZeyuChen @QingshuChen @sjtubinlong @yghstill  anyone could help ？ tks

[2022-06-23 11:08] 2050airobert commented on #6171
@wangxinxin08 @jerrywgz  anyone could reply ？ tks

[2022-06-23 11:17] hhxdestiny commented on #5730
**请问使用paddle inference推理耗时特别长，可能是什么原因？**

导出：python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml -o weights=https://paddledet.bj.bcebos.com/models/ppyoloe_crn_l_300e_coco.pdparams
测试（Windows **CPU**）：**deploy/cpp**
日志（每条/每张）:
[code]

[2022-06-23 11:26] wangxinxin08 commented on #6171
表格里面的multipose

[2022-06-23 11:32] wangxinxin08 commented on #5730
我们在Intel Xeon 6148上测过ppyoloe_l的速度为450ms左右，你可以打开mkldnn, 设置线程为4，并打开测速选项试下，--run_benchmark=True

[2022-06-23 12:04] zhiboniu commented on #6257
你好，
1）实际即使只使用coco数据训练的模型效果也差的并不多，肉眼应该不会有特别明显的区别。
2）是的，基本不需要自己调整了。学习率可以根据卡数等比例调整一下，当前参数是4卡的配置。如果是单卡学习率可以/4.
3）请问你训练自己的模型的时候还有其他地方有修改吗？包括数据方面

[2022-06-23 12:07] zhiboniu commented on #6258
congratulation!
welcome to PaddleDetection.

[2022-06-23 12:09] yghstill commented on #6253
@DavidQiuChao 学习率是怎么修改的，量化训练的话建议将学习率调小10倍，具体训练epoch等设置可以参考：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/slim/quant/picodet_s_416_lcnet_quant.yml#L19

[2022-06-23 12:21] zhiboniu commented on #6260
这个可能是cv::VideoWriter保存视频的格式不支持，可以换成其他格式试试。比如avi。

[2022-06-23 12:53] DavidQiuChao commented on #6253
我直接用的这个配置

[2022-06-23 13:52] 2050airobert commented on #6257
那就不对啊，我训练使用的是coco的数据集，person keypoint 这个我很确定，只不过我下载到本地了。
1 参数大多数都保持yaml里面的不便，唯一的区别就是epcho我设置了100，原始配置是420 ，跟这个有关吗？
2 也就是说能否打印整个过程中的 acc map presion之类的指标，方便查看呢？ 有什么设置吗？
3 这里有个preweight选项，我必须设置吗，可以从头训练，不写这个吗？ 如果要写我该从哪里下载这个preweights
![image](https://user-images.githubusercontent.com/8407513/175317125-c09da310-0ef0-471b-ace8-329f8643f5db.png)
我尝试不写preweights，cmd 命令也就是python arg参数以及 config yaml全都去掉wei

[2022-06-24 00:39] lmw0320 commented on #2241
这个问题，貌似至今都没法解决啊？？
我也遇到了类似情况，使用http服务，主动调用多进程，结果是发现导包报错
![1](https://user-images.githubusercontent.com/37755235/175437522-afbe21f2-3e5c-4ca1-b4e4-17174e90ef5b.png)

[2022-06-24 02:10] cccrice opened #6263 "CrossEntropyWithSoftmaxCUDAKernel"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

Traceback (most recent call last):
  File "G:/学习/飞桨学习课程/语义分割/case_pet_seg/Unet.py", line 163, in <module>
    batch_size=2)
  File "C:\

[2022-06-24 02:15] fengyanWang opened #6264 "picodet 如何修改配置文件，满足输入大小为192或者128？"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

![image](https://user-images.githubusercontent.com/36984088/175448672-dbb1037e-18d0-4122-9efd-7afb1ab77eaa.png)

你好，请问如何修改picodet模型配置文件中的参数实现模型输入为192或者128，因为没看到picodet模型配置文件参数说明，所以没法修改，目前直接修改数据部分是有feature尺寸问题报错的。

[2022-06-24 02:33] zoooo0820 commented on #6264
@fengyanWang
请参考这个[320尺度的reader文件](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/picodet/_base_/picodet_320_reader.yml#L2) 。新建一份picodet-192或128的reader配置。然后在[模型配置文件](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/picodet/picodet_l_320_coco_lcnet.yml#L6)中引用修改后的reader文件即可。

[2022-06-24 02:35] DavidQiuChao commented on #6264
浅薄个人见解：修改yaml配置文件中的验证尺度大小（自己需要添加）和训练randombatchsize 大小。网络本身不需要改，理论上接受遵循特定下采样倍数的输入。

[2022-06-24 02:38] DavidQiuChao commented on #6253
这个配置的学习率比我自己训练时候的学习率还要小，感觉这个可能调小的不止10倍。请问这个学习率调整还有其他经验可以分享吗？

[2022-06-24 02:38] zhiboniu commented on #6257
1. epoch数量从420减少到100变化比较大，有训练不足的可能。同时如果总epoch改变的话，学习率调整的milestones也要相应调整。
2. 训练是命令行加上--eval，开启训练中评估功能。
3. 这里的报错是weights不是preweight，两者不同。preweight是预训练模型，weights是评估性能时使用，训练中可以保留字段无需关注。

[2022-06-24 02:42] zhiboniu commented on #6257
我们对比的tinypose相比只使用coco数据集，增加AI Challenger数据后性能提升其实只有1-2个点，这个变化在肉眼看来是难以区分的。

[2022-06-24 02:44] zoooo0820 commented on #6263
你好，看起来是算子数据类型支持的问题。因为是分割任务的内容，详细情况辛苦移步PaddleSeg提一个issue呢。 https://github.com/PaddlePaddle/PaddleSeg/issues

[2022-06-24 02:44] hhxdestiny commented on #5730
谢谢，我试试！另外我在导出onnx的时候也出现了问题：
NoteBook
[code]
日志
[code]

[2022-06-24 02:49] zhiboniu commented on #6251
4. 受限于数据协议，AI Challenger数据集需要自己去官网下载。
5. 是需要下载到本地训练的

[2022-06-24 02:53] 2050airobert commented on #6251
谢谢，还漏掉了前面三个关于nas相关的具体问题，能帮忙回答下吗？

[2022-06-24 02:53] 2050airobert commented on #6257
1 除了学习率，我是双卡，需要除以2，跟batchsize 关系大吗？ 如果我改为512 X2 =1024，相应的需要调整哪个参数容易最优呢？
![image](https://user-images.githubusercontent.com/8407513/175452109-4e2739f8-0272-463f-b382-93f6a168e058.png)
2 preweights 预训练权重，当然跟weight 评估用的阶段性网络输出不同，只是preweights 我在yaml 文件里面没找到，是必须cmd --preweights形式给出来吗？  但不管怎样，您的意思已经明确了就是实际上不需要preweights只要 epcho足够大，结果就会不错，对吧？
3 map 结果还不错，但是检测 视频，采用video file接口，输出的结果关键点显示比较差，调整了显示threshho

[2022-06-24 03:10] fengyanWang commented on #6264
已经解决，谢谢大家！

[2022-06-24 03:10] #6264 closed, assigned to nobody

[2022-06-24 05:43] RachelXu7 commented on #6251
1 在检测数据集上训练one-shot超网 ， 这具体是指同时训练六个或者更多个不同的检测网络结构吗？

训练的网络结构是不同的，比如channel数不同，block数量不同，block不同，但一般共用一套网络结构(supernet)代码，只是每个iteration会随机选择一个网络结构(subnet)训练。

2. 使用EA（evolutionary algorithm，进化算法）算法对训练好的超网络进行架构搜索。 这个是六个网络同时进行的，还是六个网络单独训练，结果出来后，再次使用EA算法演进出最优网络。或者更简单的可以粗略认为就是选出这多个网络中训练结果最好的一个呢？

根据问题1的解答，supernet训练完每个subnet会有其对应的精度，EA做的事就是寻找满足条件中最优的那个subnet。如果subnet一共只有6个，可以验证完他们的精度后选出最优，但实际上一般subnet有成

[2022-06-24 05:52] 2050airobert commented on #6251
@RachelXu7 tks anyway
这里还有个问题，
1 我理解您说的subnet应该会有很多，结构或者参数都不太相同，但是会不会连主干的网络架构也可以选择不同的呢，类似autoML可以遍历几乎目前大多数的网络结构？还是只能选择一种结构，而subnet只是具体结构细节和参数的略微调整？
2 您论文里提到的6个不同的网络，是指我1种提到的意思吗？还是？ 为何选择6个呢？
3 NAS源码预期大致在哪一周能release public呢？ tks

[2022-06-24 06:08] wangxinxin08 commented on #5730
@hhxdestiny 看提示，没有安装onnx

[2022-06-24 07:26] RachelXu7 commented on #6251
1. 粒度可以不同，比如某些搜索只关注channel数，那主干网络结构是相同的；或者是block内部级别的，比如可以在内部选择使用不同的module；又或者是整个block级别的，可以选择block1也可以选择block2,3,4,...等等。这要看你怎么构建你的超网络了。
2. 论文里不是说6个网络，而是每个block中channel数的选择有6个，如果这个网络有10个block，那么这个超网络就有6的10次方个subnet。这6个比例对于channel的设计是比较合理且直观的。
3. 7月应该可以并且会有升级～

[2022-06-24 07:31] jerrywgz commented on #6226
目前mmdet中使用的roi align对应的op是https://mmcv-jm.readthedocs.io/en/latest/_modules/mmcv/ops/roi_align.html ，对应的接口和paddle中的roi align是一致的，可以确认下是不是参数接口的差异

[2022-06-24 08:58] 2050airobert commented on #6251
so cool， 感觉这部分nas应该在slim group里， 为啥detection开始自己完成啦？

[2022-06-24 11:50] 2050airobert commented on #6257
测试视频如下，可以参考 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/keypoint/tiny_pose
# 预测一个视频
python3 deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/picodet_s_320_pedestrian --keypoint_model_dir=output_inference/tinypose_128x96 --video_file={your video file} --device=GPU

https://user-images.githubusercontent.com/8407513/175528284-1f28045a-aa47-4db9-9

[2022-06-24 11:52] 2050airobert commented on #6257
此视频仅供paddle团队内部测试，请知悉哈
![image](https://user-images.githubusercontent.com/8407513/175528953-58ea32a8-f5d8-40b1-b4f3-2c44f9c3de3b.png)
方法B就是直接下载上图中的 预测部署模型
方法A就是 config和model 通过export.py 转出来的 部署模型

[2022-06-24 12:28] zhiboniu commented on #6257
你好，我这里使用方法A、B都测试了一下，没有发现明显区别。以下是我的操作命令，你可以参考对比一下
<img width="713" alt="image" src="https://user-images.githubusercontent.com/31800336/175535860-42dea232-1a95-480f-82d4-e429b1d1adaf.png">
另外，tinypose128的模型加aic数据后确实提升不少，之前说的提升不到2个点的应该是256模型。以下是我们当时的对比记录。所以训练tinypose128还是有必要加入aic数据的
<img width="426" alt="d5bbd4be0a9728f2956e99058133cff0" src="https://user-images.githubusercontent.com/31800336/1755361

[2022-06-24 15:22] Zedd66 opened #6268 "solov2运行时返回对象result为空"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

在使用paddle中solov2模型时，上传图片请求数据返回时的json对象中的result是空值导致无法继续进行，并且服务端没有报错，请问是什么原因还有如何解决
![QQ图片20220624153059](https://user-images.githubusercontent.com/86654889/175566751-b91f3d56-d882-4885-85c4-7579dce4e5b2.png)
![QQ图片20220624163923](https://user-images

[2022-06-26 01:57] XYM132 opened #6269 "ppyoloe_crn_m_300e_coco 模型训练到100 epoch的时候报错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

有排查task_aligned_assigner中的操作，暂未发现有label异常，怀疑是这个操作之前的某些cuda操作出错导致backtrack中的函数调用出错
[code]

### 复现环境 Environment

- paddledet:

[2022-06-26 04:50] imsotable opened #6270 "FatalError: Build TensorRT cuda engine failed!"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

Thanks for your excellent work!  when I try FP16 inference,I run:
`python3 deploy/python/det_keypoint_unite_infer.py --det_model_dir=output_inference/picodet_s_320_pedestrian --keypoint_model_dir=output_inference/tinypose_128x96 --video_file={/home

[2022-06-27 02:45] DevilMay-Cry opened #6273 "使用ppyolov2_r50vd_dcn_voc训练完后ap只有0.006"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

paddleDetection版本2.3
paddlepaddle版本2.3
使用docker方式部署得paddleDetection
执行命令
export NCCL_SHM_DISABLE=1;
export NCCL_P2P_LEVEL=SYS;
nohup /usr/local/bin/python3 -m paddle.distributed.launch --gpus 0,1 tools/train.py  -c configs/ppyolo/ppyolov2_r50vd_dcn

[2022-06-27 07:54] jerrywgz commented on #6270
It seems that TRT lib is not loaded correctly. You need to install the paddlepaddle with TRT first and the whl list can be found here https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#python

[2022-06-27 08:43] JoanSF opened #6275 "请问是否可以想mmdetection一样，显示visualize dataset，方便查看自己的数据增强效果"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有类似需求。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar feature requests.

### 需求描述 Feature Description

1. 任务目标（请描述你正在做的项目是什么，如模型、论文、项目是什么？）; 2. 需求场景（请描述你的项目中为什么需要用此功能）; 3. 功能描述（请简单描述或设计这个功能）

### 是否愿意提交PR Are you willing to submit a

[2022-06-27 09:07] hhxdestiny commented on #5723
@yghstill
请教一下，如果是COCO格式的数据集，想加入一部分无标签的背景图片降低误检率，除了在dateset中设置allow_empty=True，在train.json文件的“images”下添加背景图片训练就可以了吗？

[2022-06-27 09:20] hhxdestiny commented on #5723
导出onnx然后转ncnn，运行[ncnn部署demo](https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/third_engine/demo_ncnn)出现大量检测框，请问这种情况如何定位可能的原因？
导出过程：
[code]
demo:
[code]

[2022-06-27 09:57] heavengate commented on #6269
[code]
看报错信息是有个label越界了，resume一下训练然后打印一下训练过程中的label看下呢

[2022-06-27 13:19] jerrywgz commented on #6273
首先学习率是和bs、训练卡数有关 官方提供的训练配置是bs=12 8卡训练，lr=0.0033；如果是bs=2 2卡训练 学习率需要调整成0.00013875 另外训练使用的数据量有多大呢

[2022-06-27 13:21] jerrywgz commented on #6275
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/data/transform/operators.py#L1878 可以参考下这个算子~

[2022-06-27 14:29] Zhangjian55 opened #6278 "TensorRT没有NonZero插件，请问有替换PPYoLo中NonZero的方法吗?"
[06/27/2022-12:10:38] [I] [TRT] Searching for plugin: NonZero, plugin_version: 1, plugin_namespace:
[06/27/2022-12:10:38] [E] [TRT] ModelImporter.cpp:773: While parsing node number 1139 [NonZero -> "NonZero_0"]:
[06/27/2022-12:10:38] [E] [TRT] ModelImporter.cpp:774: --- Begin node ---
[06/27/2022-12:10:38] [E] [TRT] ModelImporter.cpp:775: input: "Sub_51"
output: "NonZero_0"
name: "NonZero_0"
op_ty

[2022-06-28 01:27] simple123456T commented on #4963
这个改了不对啊
改成0.95，打印出来还是0.5的mAP

[2022-06-28 01:50] dengmingD opened #6279 "third_engine--demo_openvino报错，模型是从paddle的inference导出的onnx格式，在demo_onnxruntime中测试没有问题"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

Traceback (most recent call last):
  File "D:/work/projects/PaddleDetection/deploy/third_engine/demo_openvino/python/openvino_infer.py"

[2022-06-28 02:07] simple123456T opened #6280 "> @zmdcs 可以指定--classwise，会输出PR，具体代码在： https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/ppdet/metrics/map_utils.py#L325-L326"
我想取出具体iou=0.95或者0.5的precision和recall是可以的吗？

_Originally posted by @zmdcs in https://github.com/PaddlePaddle/PaddleDetection/issues/4826#issuecomment-988644004_

[2022-06-28 02:07] simple123456T commented on #6280
voc 数据集  如何查看 mAP0.95 下的结果

[2022-06-28 02:21] dengmingD commented on #6260
不是这个问题，不过修改一下代码不影响使用，保存不了视频文件（画框的），但可以存在图片，一样能达到效果，谢谢您的回答。

[2022-06-28 02:21] #6260 closed, assigned to nobody

[2022-06-28 02:38] YixinKristy opened #6282 "💡PP-Human v2全面升级！五大行为识别、视频流功能上新！"
### Discussed in https://github.com/PaddlePaddle/PaddleDetection/discussions/6281

<div type='discussions-op-text'>

<sup>Originally posted by **YixinKristy** June 28, 2022</sup>
# 🔔[PP-Human v2](https://github.com/PaddlePaddle/PaddleDetection/tree/develop/deploy/pipeline)强势来袭！
- 五大异常行为一键识别
- 10余种预训练模型一站下载
- 10分钟快速新增识别类型
- 多路视频流部署高性能支持
- 全流程保姆级教程，从技术选型、数据准备到模型部署全覆盖

<div align="center">
<img src="

[2022-06-28 02:52] liyongchao911 opened #6283 "aistudio上使用PaddleDetection训练脚本报错 No stack trace in paddle, may be caused by external reasons."
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

在aistudio上fork了别人的项目，使用GPU(Tesla V100 32G 环境）跑训练脚本报错
1. 已安装paddlepaddle, 脚本如下：
!python -m pip install paddlepaddle-gpu==2.3.0 -i https:

[2022-06-28 02:55] lofyol commented on #6216
请问文档更新在哪里啊

[2022-06-28 03:51] bbhxwl opened #6285 "有用c#调用的么，net core"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

求指点相关说明。

[2022-06-28 04:40] baoxuhong opened #6287 "maskrcnn训练的模型 用tensorRT加速有问题"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

用paddlex训练了一个maskrcnn模型，然后用tensorRT加速，我用export_inference 转成tensorRT能用模型，但是运行的时候会有问题，报下面这个错误，
![image](https://user-images.githubusercontent.com/31894804/176094128-8e6ad4fb-2dfc-4181-9aa9-92940c35aae9.png)
然后我把输入图片尺寸改成[512，320]后,又报另一个错
![image](http

[2022-06-28 05:13] hhxdestiny commented on #6285
可以参考微软[ort](https://github.com/microsoft/onnxruntime)的例子，当然也可以cpp编出动态库给c#调

[2022-06-28 05:50] JayLee15 opened #6289 "MaskRCNN 开启mkldnn预测出错"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

MaskRCNN infer时开启mkldnn后 结果矩阵混乱
关闭mkldnn:
![image](https://user-images.githubusercontent.com/25918643/176102847-1497e23b-883e-41bd-b011

[2022-06-28 05:51] JayLee15 commented on #6289
测试了多张图片发现依然存在上述问题

不开启mkldnn结果：
{'boxes': array([[0.0000000e+00, 2.9145604e-01, 2.6589603e+02, 3.6681244e+02,
3.0432248e+02, 4.1769321e+02],
[1.1000000e+01, 1.1651322e-01, 7.1439152e+00, 3.7374794e+01,
4.2610181e+02, 5.0756027e+02],
[7.3000000e+01, 3.3812910e-01, 7.8442383e-01, 3.6608387e+01,
4.4896344e+02, 5.0576721e+02],
[7.4000000e+01, 1.3708681e-01, 4.1523376e+00, 4.0477535e+01,
4.2329196e+02,

[2022-06-28 05:52] JayLee15 commented on #6289
不开启mkldnn：
{'boxes': array([[ 74. , 0.9945931 , 228.81963 , 152.98608 ,
299.21884 , 223.9967 ],
[ 74. , 0.95573527, 174.15001 , 180.1396 ,
201.7896 , 236.1698 ]], dtype=float32), 'masks': array([[[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
...,
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0]],
[[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0

[2022-06-28 05:52] JayLee15 commented on #6289
不开启mkldnn：
{'boxes': array([[7.4000000e+01, 7.0395261e-02, 3.8677655e+02, 1.3604433e+02,
4.0381525e+02, 2.9166379e+02],
[7.4000000e+01, 5.1174235e-02, 3.6764462e+02, 1.8386264e+02,
3.8638199e+02, 2.4731769e+02]], dtype=float32), 'masks': array([[[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
...,
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0],
[0, 0, 0, ..., 0, 0, 0]]

[2022-06-28 06:32] terrancraft opened #6291 "C++部署错误：LNK2019 unresolved external symbol"
### 问题确认 Search before asking

- [X] 我已经查询[历史issue](https://github.com/PaddlePaddle/PaddleDetection/issues)，没有报过同样bug。I have searched the [issues](https://github.com/PaddlePaddle/PaddleDetection/issues) and found no similar bug report.

### bug描述 Describe the Bug

#6231
我参考前面一位兄弟的方式去编译paddledetection2.2版本的C++部署代码，结果报错，截图如下：
![WeChat Screenshot_20220628141100](https://user-images.githubusercontent.

[2022-06-28 06:48] starhou opened #6292 "c++部署编译成功，链接错误"
### 问题确认 Search before asking

- [X] 我已经搜索过问题，但是没有找到解答。I have searched the question and found no related answer.

### 请提出你的问题 Please ask your question

c++部署编译成功，链接错误

![image](https://user-images.githubusercontent.com/46232202/176108083-27933f77-432f-4d04-9031-39cd4271be44.png)

环境：
ubuntu 20.04
opencv opencv-3.4.16_gcc8.2_ffmpeg
cmake 3.2.0
gcc 9.4.0
paddleDetection 2.4